openapi: 3.0.0
info:
  title: CommunityGalleryServiceClient
  description: Community Gallery Service Client.
  version: 2023-07-03
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/communityGalleries/{publicGalleryName}:
    get:
      tags:
      - CommunityGalleries
      operationId: CommunityGalleries_Get
      description: Get a community gallery by gallery public name.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: location
        in: path
        required: true
        x-ms-parameter-location: method
        description: Resource location.
        schema:
          type: string
      - name: publicGalleryName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The public name of the community gallery.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  location:
                    readOnly: true
                    type: string
                    description: Resource location
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  identifier:
                    x-ms-client-flatten: true
                    properties:
                      uniqueId:
                        type: string
                        description: The unique id of this community gallery.
                    description: The identifier information of community gallery.
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      disclaimer:
                        type: string
                        properties:
                          disclaimer:
                            readOnly: true
                            type: string
                            description: Community gallery disclaimer
                        description: The disclaimer for a community gallery resource.
                      artifactTags:
                        type: object
                        additionalProperties:
                          type: string
                        description: The artifact tags of a community gallery resource.
                      communityMetadata:
                        type: object
                        properties:
                          publisherUri:
                            format: uri
                            type: string
                            description: The publisher URI of this community gallery.
                          publisherContact:
                            type: string
                            description: The publisher email id of this community
                              gallery.
                          eula:
                            type: string
                            description: The end-user license agreement for this community
                              gallery.
                          publicNames:
                            type: array
                            items:
                              type: string
                            description: A list of public names the gallery has.
                          privacyStatementUri:
                            format: uri
                            type: string
                            description: The link for the privacy statement of this
                              community gallery from the gallery publisher.
                        required:
                        - publisherContact
                        - publicNames
                        description: The metadata of community gallery.
                    description: Describes the properties of a community gallery.
                description: Base information about the community gallery resource
                  in azure compute gallery.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/communityGalleries/{publicGalleryName}/images/{galleryImageName}
  : get:
      tags:
      - CommunityGalleryImages
      operationId: CommunityGalleryImages_Get
      description: Get a community gallery image.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: location
        in: path
        required: true
        x-ms-parameter-location: method
        description: Resource location.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: publicGalleryName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The public name of the community gallery.
        schema:
          type: string
      - name: galleryImageName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the community gallery image definition.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  location:
                    readOnly: true
                    type: string
                    description: Resource location
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  identifier:
                    x-ms-client-flatten: true
                    properties:
                      uniqueId:
                        type: string
                        description: The unique id of this community gallery.
                    description: The identifier information of community gallery.
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      osType:
                        type: string
                        description: 'This property allows you to specify the type
                          of the OS that is included in the disk when creating a VM
                          from a managed image. Possible values are: **Windows,**
                          **Linux.**'
                        enum:
                        - Windows
                        - Linux
                        x-ms-enum:
                          name: OperatingSystemTypes
                          modelAsString: false
                      osState:
                        type: string
                        description: This property allows the user to specify whether
                          the virtual machines created under this image are 'Generalized'
                          or 'Specialized'.
                        enum:
                        - Generalized
                        - Specialized
                        x-ms-enum:
                          name: OperatingSystemStateTypes
                          modelAsString: false
                      endOfLifeDate:
                        type: string
                        format: date-time
                        description: The end of life date of the gallery image definition.
                          This property can be used for decommissioning purposes.
                          This property is updatable.
                      identifier:
                        properties:
                          publisher:
                            type: string
                            description: The name of the gallery image definition
                              publisher.
                          offer:
                            type: string
                            description: The name of the gallery image definition
                              offer.
                          sku:
                            type: string
                            description: The name of the gallery image definition
                              SKU.
                        description: This is the community gallery image definition
                          identifier.
                      recommended:
                        properties:
                          vCPUs:
                            properties:
                              min:
                                type: integer
                                format: int32
                                description: The minimum number of the resource.
                              max:
                                type: integer
                                format: int32
                                description: The maximum number of the resource.
                            description: Describes the resource range.
                          memory:
                            properties:
                              min:
                                type: integer
                                format: int32
                                description: The minimum number of the resource.
                              max:
                                type: integer
                                format: int32
                                description: The maximum number of the resource.
                            description: Describes the resource range.
                        description: The properties describe the recommended machine
                          configuration for this Image Definition. These properties
                          are updatable.
                      disallowed:
                        properties:
                          diskTypes:
                            type: array
                            items:
                              type: string
                            description: A list of disk types.
                        description: Describes the disallowed disk types.
                      hyperVGeneration:
                        type: string
                        description: The hypervisor generation of the Virtual Machine.
                          Applicable to OS disks only.
                        enum:
                        - V1
                        - V2
                        x-ms-enum:
                          name: HyperVGeneration
                          modelAsString: true
                      features:
                        type: array
                        items:
                          properties:
                            name:
                              type: string
                              description: The name of the gallery image feature.
                            value:
                              type: string
                              description: The value of the gallery image feature.
                          description: A feature for gallery image.
                        x-ms-identifiers:
                        - name
                        description: A list of gallery image features.
                      purchasePlan:
                        properties:
                          name:
                            type: string
                            description: The plan ID.
                          publisher:
                            type: string
                            description: The publisher ID.
                          product:
                            type: string
                            description: The product ID.
                        description: Describes the gallery image definition purchase
                          plan. This is used by marketplace images.
                      architecture:
                        type: string
                        description: The architecture of the image. Applicable to
                          OS disks only.
                        enum:
                        - x64
                        - Arm64
                        x-ms-enum:
                          name: Architecture
                          modelAsString: true
                      privacyStatementUri:
                        type: string
                        description: Privacy statement URI for the current community
                          gallery image.
                      eula:
                        type: string
                        description: The end-user license agreement for the current
                          community gallery image.
                      disclaimer:
                        type: string
                        properties:
                          disclaimer:
                            readOnly: true
                            type: string
                            description: Community gallery disclaimer
                        description: The disclaimer for a community gallery resource.
                      artifactTags:
                        type: object
                        additionalProperties:
                          type: string
                        description: The artifact tags of a community gallery resource.
                    required:
                    - osType
                    - osState
                    - identifier
                    description: Describes the properties of a gallery image definition.
                description: Base information about the community gallery resource
                  in azure compute gallery.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/communityGalleries/{publicGalleryName}/images/{galleryImageName}/versions/{galleryImageVersionName}
  : get:
      tags:
      - CommunityGalleryImageVersions
      operationId: CommunityGalleryImageVersions_Get
      description: Get a community gallery image version.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: location
        in: path
        required: true
        x-ms-parameter-location: method
        description: Resource location.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: publicGalleryName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The public name of the community gallery.
        schema:
          type: string
      - name: galleryImageName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the community gallery image definition.
        schema:
          type: string
      - name: galleryImageVersionName
        in: path
        required: true
        x-ms-parameter-location: method
        description: 'The name of the community gallery image version. Needs to follow
          semantic version name pattern: The allowed characters are digit and period.
          Digits must be within the range of a 32-bit integer. Format: <MajorVersion>.<MinorVersion>.<Patch>'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  location:
                    readOnly: true
                    type: string
                    description: Resource location
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  identifier:
                    x-ms-client-flatten: true
                    properties:
                      uniqueId:
                        type: string
                        description: The unique id of this community gallery.
                    description: The identifier information of community gallery.
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      publishedDate:
                        type: string
                        format: date-time
                        description: The published date of the gallery image version
                          Definition. This property can be used for decommissioning
                          purposes. This property is updatable.
                      endOfLifeDate:
                        type: string
                        format: date-time
                        description: The end of life date of the gallery image version
                          Definition. This property can be used for decommissioning
                          purposes. This property is updatable.
                      excludeFromLatest:
                        type: boolean
                        description: If set to true, Virtual Machines deployed from
                          the latest version of the Image Definition won't use this
                          Image Version.
                      storageProfile:
                        description: Describes the storage profile of the image version.
                        type: object
                        properties:
                          osDiskImage:
                            type: object
                            properties:
                              diskSizeGB:
                                readOnly: true
                                type: integer
                                format: int32
                                description: This property indicates the size of the
                                  VHD to be created.
                              hostCaching:
                                type: string
                                description: The host caching of the disk. Valid values
                                  are 'None', 'ReadOnly', and 'ReadWrite'
                                enum:
                                - None
                                - ReadOnly
                                - ReadWrite
                                x-ms-enum:
                                  name: SharedGalleryHostCaching
                                  modelAsString: true
                            description: This is the disk image base class.
                          dataDiskImages:
                            type: array
                            items:
                              type: object
                              properties:
                                diskSizeGB:
                                  readOnly: true
                                  type: integer
                                  format: int32
                                  description: This property indicates the size of
                                    the VHD to be created.
                                hostCaching:
                                  type: string
                                  description: The host caching of the disk. Valid
                                    values are 'None', 'ReadOnly', and 'ReadWrite'
                                  enum:
                                  - None
                                  - ReadOnly
                                  - ReadWrite
                                  x-ms-enum:
                                    name: SharedGalleryHostCaching
                                    modelAsString: true
                                lun:
                                  type: integer
                                  format: int32
                                  description: This property specifies the logical
                                    unit number of the data disk. This value is used
                                    to identify data disks within the Virtual Machine
                                    and therefore must be unique for each data disk
                                    attached to the Virtual Machine.
                              description: This is the disk image base class.
                              required:
                              - lun
                            x-ms-identifiers:
                            - lun
                            description: A list of data disk images.
                      disclaimer:
                        type: string
                        properties:
                          disclaimer:
                            readOnly: true
                            type: string
                            description: Community gallery disclaimer
                        description: The disclaimer for a community gallery resource.
                      artifactTags:
                        type: object
                        additionalProperties:
                          type: string
                        description: The artifact tags of a community gallery resource.
                    description: Describes the properties of a gallery image version.
                description: Base information about the community gallery resource
                  in azure compute gallery.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/communityGalleries/{publicGalleryName}/images
  : get:
      tags:
      - CommunityGalleryImages
      operationId: CommunityGalleryImages_List
      description: List community gallery images inside a gallery.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: location
        in: path
        required: true
        x-ms-parameter-location: method
        description: Resource location.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: publicGalleryName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The public name of the community gallery.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: The List Community Gallery Images operation response.
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          readOnly: true
                          type: string
                          description: Resource name
                        location:
                          readOnly: true
                          type: string
                          description: Resource location
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        identifier:
                          x-ms-client-flatten: true
                          properties:
                            uniqueId:
                              type: string
                              description: The unique id of this community gallery.
                          description: The identifier information of community gallery.
                        properties:
                          x-ms-client-flatten: true
                          properties:
                            osType:
                              type: string
                              description: 'This property allows you to specify the
                                type of the OS that is included in the disk when creating
                                a VM from a managed image. Possible values are: **Windows,**
                                **Linux.**'
                              enum:
                              - Windows
                              - Linux
                              x-ms-enum:
                                name: OperatingSystemTypes
                                modelAsString: false
                            osState:
                              type: string
                              description: This property allows the user to specify
                                whether the virtual machines created under this image
                                are 'Generalized' or 'Specialized'.
                              enum:
                              - Generalized
                              - Specialized
                              x-ms-enum:
                                name: OperatingSystemStateTypes
                                modelAsString: false
                            endOfLifeDate:
                              type: string
                              format: date-time
                              description: The end of life date of the gallery image
                                definition. This property can be used for decommissioning
                                purposes. This property is updatable.
                            identifier:
                              properties:
                                publisher:
                                  type: string
                                  description: The name of the gallery image definition
                                    publisher.
                                offer:
                                  type: string
                                  description: The name of the gallery image definition
                                    offer.
                                sku:
                                  type: string
                                  description: The name of the gallery image definition
                                    SKU.
                              description: This is the community gallery image definition
                                identifier.
                            recommended:
                              properties:
                                vCPUs:
                                  properties:
                                    min:
                                      type: integer
                                      format: int32
                                      description: The minimum number of the resource.
                                    max:
                                      type: integer
                                      format: int32
                                      description: The maximum number of the resource.
                                  description: Describes the resource range.
                                memory:
                                  properties:
                                    min:
                                      type: integer
                                      format: int32
                                      description: The minimum number of the resource.
                                    max:
                                      type: integer
                                      format: int32
                                      description: The maximum number of the resource.
                                  description: Describes the resource range.
                              description: The properties describe the recommended
                                machine configuration for this Image Definition. These
                                properties are updatable.
                            disallowed:
                              properties:
                                diskTypes:
                                  type: array
                                  items:
                                    type: string
                                  description: A list of disk types.
                              description: Describes the disallowed disk types.
                            hyperVGeneration:
                              type: string
                              description: The hypervisor generation of the Virtual
                                Machine. Applicable to OS disks only.
                              enum:
                              - V1
                              - V2
                              x-ms-enum:
                                name: HyperVGeneration
                                modelAsString: true
                            features:
                              type: array
                              items:
                                properties:
                                  name:
                                    type: string
                                    description: The name of the gallery image feature.
                                  value:
                                    type: string
                                    description: The value of the gallery image feature.
                                description: A feature for gallery image.
                              x-ms-identifiers:
                              - name
                              description: A list of gallery image features.
                            purchasePlan:
                              properties:
                                name:
                                  type: string
                                  description: The plan ID.
                                publisher:
                                  type: string
                                  description: The publisher ID.
                                product:
                                  type: string
                                  description: The product ID.
                              description: Describes the gallery image definition
                                purchase plan. This is used by marketplace images.
                            architecture:
                              type: string
                              description: The architecture of the image. Applicable
                                to OS disks only.
                              enum:
                              - x64
                              - Arm64
                              x-ms-enum:
                                name: Architecture
                                modelAsString: true
                            privacyStatementUri:
                              type: string
                              description: Privacy statement URI for the current community
                                gallery image.
                            eula:
                              type: string
                              description: The end-user license agreement for the
                                current community gallery image.
                            disclaimer:
                              type: string
                              properties:
                                disclaimer:
                                  readOnly: true
                                  type: string
                                  description: Community gallery disclaimer
                              description: The disclaimer for a community gallery
                                resource.
                            artifactTags:
                              type: object
                              additionalProperties:
                                type: string
                              description: The artifact tags of a community gallery
                                resource.
                          required:
                          - osType
                          - osState
                          - identifier
                          description: Describes the properties of a gallery image
                            definition.
                      description: Base information about the community gallery resource
                        in azure compute gallery.
                    x-ms-identifiers: []
                    description: A list of community gallery images.
                  nextLink:
                    type: string
                    description: The URI to fetch the next page of community gallery
                      images. Call ListNext() with this to fetch the next page of
                      community gallery images.
                required:
                - value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/communityGalleries/{publicGalleryName}/images/{galleryImageName}/versions
  : get:
      tags:
      - CommunityGalleryImageVersions
      operationId: CommunityGalleryImageVersions_List
      description: List community gallery image versions inside an image.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: location
        in: path
        required: true
        x-ms-parameter-location: method
        description: Resource location.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: publicGalleryName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The public name of the community gallery.
        schema:
          type: string
      - name: galleryImageName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the community gallery image definition.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: The List Community Gallery Image versions operation response.
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          readOnly: true
                          type: string
                          description: Resource name
                        location:
                          readOnly: true
                          type: string
                          description: Resource location
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        identifier:
                          x-ms-client-flatten: true
                          properties:
                            uniqueId:
                              type: string
                              description: The unique id of this community gallery.
                          description: The identifier information of community gallery.
                        properties:
                          x-ms-client-flatten: true
                          properties:
                            publishedDate:
                              type: string
                              format: date-time
                              description: The published date of the gallery image
                                version Definition. This property can be used for
                                decommissioning purposes. This property is updatable.
                            endOfLifeDate:
                              type: string
                              format: date-time
                              description: The end of life date of the gallery image
                                version Definition. This property can be used for
                                decommissioning purposes. This property is updatable.
                            excludeFromLatest:
                              type: boolean
                              description: If set to true, Virtual Machines deployed
                                from the latest version of the Image Definition won't
                                use this Image Version.
                            storageProfile:
                              description: Describes the storage profile of the image
                                version.
                              type: object
                              properties:
                                osDiskImage:
                                  type: object
                                  properties:
                                    diskSizeGB:
                                      readOnly: true
                                      type: integer
                                      format: int32
                                      description: This property indicates the size
                                        of the VHD to be created.
                                    hostCaching:
                                      type: string
                                      description: The host caching of the disk. Valid
                                        values are 'None', 'ReadOnly', and 'ReadWrite'
                                      enum:
                                      - None
                                      - ReadOnly
                                      - ReadWrite
                                      x-ms-enum:
                                        name: SharedGalleryHostCaching
                                        modelAsString: true
                                  description: This is the disk image base class.
                                dataDiskImages:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      diskSizeGB:
                                        readOnly: true
                                        type: integer
                                        format: int32
                                        description: This property indicates the size
                                          of the VHD to be created.
                                      hostCaching:
                                        type: string
                                        description: The host caching of the disk.
                                          Valid values are 'None', 'ReadOnly', and
                                          'ReadWrite'
                                        enum:
                                        - None
                                        - ReadOnly
                                        - ReadWrite
                                        x-ms-enum:
                                          name: SharedGalleryHostCaching
                                          modelAsString: true
                                      lun:
                                        type: integer
                                        format: int32
                                        description: This property specifies the logical
                                          unit number of the data disk. This value
                                          is used to identify data disks within the
                                          Virtual Machine and therefore must be unique
                                          for each data disk attached to the Virtual
                                          Machine.
                                    description: This is the disk image base class.
                                    required:
                                    - lun
                                  x-ms-identifiers:
                                  - lun
                                  description: A list of data disk images.
                            disclaimer:
                              type: string
                              properties:
                                disclaimer:
                                  readOnly: true
                                  type: string
                                  description: Community gallery disclaimer
                              description: The disclaimer for a community gallery
                                resource.
                            artifactTags:
                              type: object
                              additionalProperties:
                                type: string
                              description: The artifact tags of a community gallery
                                resource.
                          description: Describes the properties of a gallery image
                            version.
                      description: Base information about the community gallery resource
                        in azure compute gallery.
                    x-ms-identifiers: []
                    description: A list of community gallery image versions.
                  nextLink:
                    type: string
                    description: The URI to fetch the next page of community gallery
                      image versions. Call ListNext() with this to fetch the next
                      page of community gallery image versions.
                required:
                - value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    PublicGalleryNameParameter:
      name: publicGalleryName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The public name of the community gallery.
      schema:
        type: string
    GalleryImageNameParameter:
      name: galleryImageName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The name of the community gallery image definition.
      schema:
        type: string
    GalleryImageVersionNameParameter:
      name: galleryImageVersionName
      in: path
      required: true
      x-ms-parameter-location: method
      description: 'The name of the community gallery image version. Needs to follow
        semantic version name pattern: The allowed characters are digit and period.
        Digits must be within the range of a 32-bit integer. Format: <MajorVersion>.<MinorVersion>.<Patch>'
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    LocationNameParameter:
      name: location
      in: path
      required: true
      x-ms-parameter-location: method
      description: Resource location.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    PirCommunityGalleryResource:
      properties:
        name:
          readOnly: true
          type: string
          description: Resource name
        location:
          readOnly: true
          type: string
          description: Resource location
        type:
          readOnly: true
          type: string
          description: Resource type
        identifier:
          x-ms-client-flatten: true
          properties:
            uniqueId:
              type: string
              description: The unique id of this community gallery.
          description: The identifier information of community gallery.
      description: Base information about the community gallery resource in azure
        compute gallery.
    CommunityGalleryArtifactTags:
      type: object
      additionalProperties:
        type: string
      description: The artifact tags of a community gallery resource.
    CommunityGalleryDisclaimer:
      type: string
      properties:
        disclaimer:
          readOnly: true
          type: string
          description: Community gallery disclaimer
      description: The disclaimer for a community gallery resource.
    CommunityGalleryIdentifier:
      properties:
        uniqueId:
          type: string
          description: The unique id of this community gallery.
      description: The identifier information of community gallery.
    CommunityGalleryMetadata:
      type: object
      properties:
        publisherUri:
          format: uri
          type: string
          description: The publisher URI of this community gallery.
        publisherContact:
          type: string
          description: The publisher email id of this community gallery.
        eula:
          type: string
          description: The end-user license agreement for this community gallery.
        publicNames:
          type: array
          items:
            type: string
          description: A list of public names the gallery has.
        privacyStatementUri:
          format: uri
          type: string
          description: The link for the privacy statement of this community gallery
            from the gallery publisher.
      required:
      - publisherContact
      - publicNames
      description: The metadata of community gallery.
    CommunityGallery:
      type: object
      properties:
        name:
          readOnly: true
          type: string
          description: Resource name
        location:
          readOnly: true
          type: string
          description: Resource location
        type:
          readOnly: true
          type: string
          description: Resource type
        identifier:
          x-ms-client-flatten: true
          properties:
            uniqueId:
              type: string
              description: The unique id of this community gallery.
          description: The identifier information of community gallery.
        properties:
          x-ms-client-flatten: true
          type: object
          properties:
            disclaimer:
              type: string
              properties:
                disclaimer:
                  readOnly: true
                  type: string
                  description: Community gallery disclaimer
              description: The disclaimer for a community gallery resource.
            artifactTags:
              type: object
              additionalProperties:
                type: string
              description: The artifact tags of a community gallery resource.
            communityMetadata:
              type: object
              properties:
                publisherUri:
                  format: uri
                  type: string
                  description: The publisher URI of this community gallery.
                publisherContact:
                  type: string
                  description: The publisher email id of this community gallery.
                eula:
                  type: string
                  description: The end-user license agreement for this community gallery.
                publicNames:
                  type: array
                  items:
                    type: string
                  description: A list of public names the gallery has.
                privacyStatementUri:
                  format: uri
                  type: string
                  description: The link for the privacy statement of this community
                    gallery from the gallery publisher.
              required:
              - publisherContact
              - publicNames
              description: The metadata of community gallery.
          description: Describes the properties of a community gallery.
      description: Base information about the community gallery resource in azure
        compute gallery.
    CommunityGalleryProperties:
      type: object
      properties:
        disclaimer:
          type: string
          properties:
            disclaimer:
              readOnly: true
              type: string
              description: Community gallery disclaimer
          description: The disclaimer for a community gallery resource.
        artifactTags:
          type: object
          additionalProperties:
            type: string
          description: The artifact tags of a community gallery resource.
        communityMetadata:
          type: object
          properties:
            publisherUri:
              format: uri
              type: string
              description: The publisher URI of this community gallery.
            publisherContact:
              type: string
              description: The publisher email id of this community gallery.
            eula:
              type: string
              description: The end-user license agreement for this community gallery.
            publicNames:
              type: array
              items:
                type: string
              description: A list of public names the gallery has.
            privacyStatementUri:
              format: uri
              type: string
              description: The link for the privacy statement of this community gallery
                from the gallery publisher.
          required:
          - publisherContact
          - publicNames
          description: The metadata of community gallery.
      description: Describes the properties of a community gallery.
    CommunityGalleryImageList:
      type: object
      description: The List Community Gallery Images operation response.
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              name:
                readOnly: true
                type: string
                description: Resource name
              location:
                readOnly: true
                type: string
                description: Resource location
              type:
                readOnly: true
                type: string
                description: Resource type
              identifier:
                x-ms-client-flatten: true
                properties:
                  uniqueId:
                    type: string
                    description: The unique id of this community gallery.
                description: The identifier information of community gallery.
              properties:
                x-ms-client-flatten: true
                properties:
                  osType:
                    type: string
                    description: 'This property allows you to specify the type of
                      the OS that is included in the disk when creating a VM from
                      a managed image. Possible values are: **Windows,** **Linux.**'
                    enum:
                    - Windows
                    - Linux
                    x-ms-enum:
                      name: OperatingSystemTypes
                      modelAsString: false
                  osState:
                    type: string
                    description: This property allows the user to specify whether
                      the virtual machines created under this image are 'Generalized'
                      or 'Specialized'.
                    enum:
                    - Generalized
                    - Specialized
                    x-ms-enum:
                      name: OperatingSystemStateTypes
                      modelAsString: false
                  endOfLifeDate:
                    type: string
                    format: date-time
                    description: The end of life date of the gallery image definition.
                      This property can be used for decommissioning purposes. This
                      property is updatable.
                  identifier:
                    properties:
                      publisher:
                        type: string
                        description: The name of the gallery image definition publisher.
                      offer:
                        type: string
                        description: The name of the gallery image definition offer.
                      sku:
                        type: string
                        description: The name of the gallery image definition SKU.
                    description: This is the community gallery image definition identifier.
                  recommended:
                    properties:
                      vCPUs:
                        properties:
                          min:
                            type: integer
                            format: int32
                            description: The minimum number of the resource.
                          max:
                            type: integer
                            format: int32
                            description: The maximum number of the resource.
                        description: Describes the resource range.
                      memory:
                        properties:
                          min:
                            type: integer
                            format: int32
                            description: The minimum number of the resource.
                          max:
                            type: integer
                            format: int32
                            description: The maximum number of the resource.
                        description: Describes the resource range.
                    description: The properties describe the recommended machine configuration
                      for this Image Definition. These properties are updatable.
                  disallowed:
                    properties:
                      diskTypes:
                        type: array
                        items:
                          type: string
                        description: A list of disk types.
                    description: Describes the disallowed disk types.
                  hyperVGeneration:
                    type: string
                    description: The hypervisor generation of the Virtual Machine.
                      Applicable to OS disks only.
                    enum:
                    - V1
                    - V2
                    x-ms-enum:
                      name: HyperVGeneration
                      modelAsString: true
                  features:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          description: The name of the gallery image feature.
                        value:
                          type: string
                          description: The value of the gallery image feature.
                      description: A feature for gallery image.
                    x-ms-identifiers:
                    - name
                    description: A list of gallery image features.
                  purchasePlan:
                    properties:
                      name:
                        type: string
                        description: The plan ID.
                      publisher:
                        type: string
                        description: The publisher ID.
                      product:
                        type: string
                        description: The product ID.
                    description: Describes the gallery image definition purchase plan.
                      This is used by marketplace images.
                  architecture:
                    type: string
                    description: The architecture of the image. Applicable to OS disks
                      only.
                    enum:
                    - x64
                    - Arm64
                    x-ms-enum:
                      name: Architecture
                      modelAsString: true
                  privacyStatementUri:
                    type: string
                    description: Privacy statement URI for the current community gallery
                      image.
                  eula:
                    type: string
                    description: The end-user license agreement for the current community
                      gallery image.
                  disclaimer:
                    type: string
                    properties:
                      disclaimer:
                        readOnly: true
                        type: string
                        description: Community gallery disclaimer
                    description: The disclaimer for a community gallery resource.
                  artifactTags:
                    type: object
                    additionalProperties:
                      type: string
                    description: The artifact tags of a community gallery resource.
                required:
                - osType
                - osState
                - identifier
                description: Describes the properties of a gallery image definition.
            description: Base information about the community gallery resource in
              azure compute gallery.
          x-ms-identifiers: []
          description: A list of community gallery images.
        nextLink:
          type: string
          description: The URI to fetch the next page of community gallery images.
            Call ListNext() with this to fetch the next page of community gallery
            images.
      required:
      - value
    CommunityGalleryImage:
      type: object
      properties:
        name:
          readOnly: true
          type: string
          description: Resource name
        location:
          readOnly: true
          type: string
          description: Resource location
        type:
          readOnly: true
          type: string
          description: Resource type
        identifier:
          x-ms-client-flatten: true
          properties:
            uniqueId:
              type: string
              description: The unique id of this community gallery.
          description: The identifier information of community gallery.
        properties:
          x-ms-client-flatten: true
          properties:
            osType:
              type: string
              description: 'This property allows you to specify the type of the OS
                that is included in the disk when creating a VM from a managed image.
                Possible values are: **Windows,** **Linux.**'
              enum:
              - Windows
              - Linux
              x-ms-enum:
                name: OperatingSystemTypes
                modelAsString: false
            osState:
              type: string
              description: This property allows the user to specify whether the virtual
                machines created under this image are 'Generalized' or 'Specialized'.
              enum:
              - Generalized
              - Specialized
              x-ms-enum:
                name: OperatingSystemStateTypes
                modelAsString: false
            endOfLifeDate:
              type: string
              format: date-time
              description: The end of life date of the gallery image definition. This
                property can be used for decommissioning purposes. This property is
                updatable.
            identifier:
              properties:
                publisher:
                  type: string
                  description: The name of the gallery image definition publisher.
                offer:
                  type: string
                  description: The name of the gallery image definition offer.
                sku:
                  type: string
                  description: The name of the gallery image definition SKU.
              description: This is the community gallery image definition identifier.
            recommended:
              properties:
                vCPUs:
                  properties:
                    min:
                      type: integer
                      format: int32
                      description: The minimum number of the resource.
                    max:
                      type: integer
                      format: int32
                      description: The maximum number of the resource.
                  description: Describes the resource range.
                memory:
                  properties:
                    min:
                      type: integer
                      format: int32
                      description: The minimum number of the resource.
                    max:
                      type: integer
                      format: int32
                      description: The maximum number of the resource.
                  description: Describes the resource range.
              description: The properties describe the recommended machine configuration
                for this Image Definition. These properties are updatable.
            disallowed:
              properties:
                diskTypes:
                  type: array
                  items:
                    type: string
                  description: A list of disk types.
              description: Describes the disallowed disk types.
            hyperVGeneration:
              type: string
              description: The hypervisor generation of the Virtual Machine. Applicable
                to OS disks only.
              enum:
              - V1
              - V2
              x-ms-enum:
                name: HyperVGeneration
                modelAsString: true
            features:
              type: array
              items:
                properties:
                  name:
                    type: string
                    description: The name of the gallery image feature.
                  value:
                    type: string
                    description: The value of the gallery image feature.
                description: A feature for gallery image.
              x-ms-identifiers:
              - name
              description: A list of gallery image features.
            purchasePlan:
              properties:
                name:
                  type: string
                  description: The plan ID.
                publisher:
                  type: string
                  description: The publisher ID.
                product:
                  type: string
                  description: The product ID.
              description: Describes the gallery image definition purchase plan. This
                is used by marketplace images.
            architecture:
              type: string
              description: The architecture of the image. Applicable to OS disks only.
              enum:
              - x64
              - Arm64
              x-ms-enum:
                name: Architecture
                modelAsString: true
            privacyStatementUri:
              type: string
              description: Privacy statement URI for the current community gallery
                image.
            eula:
              type: string
              description: The end-user license agreement for the current community
                gallery image.
            disclaimer:
              type: string
              properties:
                disclaimer:
                  readOnly: true
                  type: string
                  description: Community gallery disclaimer
              description: The disclaimer for a community gallery resource.
            artifactTags:
              type: object
              additionalProperties:
                type: string
              description: The artifact tags of a community gallery resource.
          required:
          - osType
          - osState
          - identifier
          description: Describes the properties of a gallery image definition.
      description: Base information about the community gallery resource in azure
        compute gallery.
    CommunityGalleryImageProperties:
      properties:
        osType:
          type: string
          description: 'This property allows you to specify the type of the OS that
            is included in the disk when creating a VM from a managed image. Possible
            values are: **Windows,** **Linux.**'
          enum:
          - Windows
          - Linux
          x-ms-enum:
            name: OperatingSystemTypes
            modelAsString: false
        osState:
          type: string
          description: This property allows the user to specify whether the virtual
            machines created under this image are 'Generalized' or 'Specialized'.
          enum:
          - Generalized
          - Specialized
          x-ms-enum:
            name: OperatingSystemStateTypes
            modelAsString: false
        endOfLifeDate:
          type: string
          format: date-time
          description: The end of life date of the gallery image definition. This
            property can be used for decommissioning purposes. This property is updatable.
        identifier:
          properties:
            publisher:
              type: string
              description: The name of the gallery image definition publisher.
            offer:
              type: string
              description: The name of the gallery image definition offer.
            sku:
              type: string
              description: The name of the gallery image definition SKU.
          description: This is the community gallery image definition identifier.
        recommended:
          properties:
            vCPUs:
              properties:
                min:
                  type: integer
                  format: int32
                  description: The minimum number of the resource.
                max:
                  type: integer
                  format: int32
                  description: The maximum number of the resource.
              description: Describes the resource range.
            memory:
              properties:
                min:
                  type: integer
                  format: int32
                  description: The minimum number of the resource.
                max:
                  type: integer
                  format: int32
                  description: The maximum number of the resource.
              description: Describes the resource range.
          description: The properties describe the recommended machine configuration
            for this Image Definition. These properties are updatable.
        disallowed:
          properties:
            diskTypes:
              type: array
              items:
                type: string
              description: A list of disk types.
          description: Describes the disallowed disk types.
        hyperVGeneration:
          type: string
          description: The hypervisor generation of the Virtual Machine. Applicable
            to OS disks only.
          enum:
          - V1
          - V2
          x-ms-enum:
            name: HyperVGeneration
            modelAsString: true
        features:
          type: array
          items:
            properties:
              name:
                type: string
                description: The name of the gallery image feature.
              value:
                type: string
                description: The value of the gallery image feature.
            description: A feature for gallery image.
          x-ms-identifiers:
          - name
          description: A list of gallery image features.
        purchasePlan:
          properties:
            name:
              type: string
              description: The plan ID.
            publisher:
              type: string
              description: The publisher ID.
            product:
              type: string
              description: The product ID.
          description: Describes the gallery image definition purchase plan. This
            is used by marketplace images.
        architecture:
          type: string
          description: The architecture of the image. Applicable to OS disks only.
          enum:
          - x64
          - Arm64
          x-ms-enum:
            name: Architecture
            modelAsString: true
        privacyStatementUri:
          type: string
          description: Privacy statement URI for the current community gallery image.
        eula:
          type: string
          description: The end-user license agreement for the current community gallery
            image.
        disclaimer:
          type: string
          properties:
            disclaimer:
              readOnly: true
              type: string
              description: Community gallery disclaimer
          description: The disclaimer for a community gallery resource.
        artifactTags:
          type: object
          additionalProperties:
            type: string
          description: The artifact tags of a community gallery resource.
      required:
      - osType
      - osState
      - identifier
      description: Describes the properties of a gallery image definition.
    CommunityGalleryImageVersionList:
      type: object
      description: The List Community Gallery Image versions operation response.
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              name:
                readOnly: true
                type: string
                description: Resource name
              location:
                readOnly: true
                type: string
                description: Resource location
              type:
                readOnly: true
                type: string
                description: Resource type
              identifier:
                x-ms-client-flatten: true
                properties:
                  uniqueId:
                    type: string
                    description: The unique id of this community gallery.
                description: The identifier information of community gallery.
              properties:
                x-ms-client-flatten: true
                properties:
                  publishedDate:
                    type: string
                    format: date-time
                    description: The published date of the gallery image version Definition.
                      This property can be used for decommissioning purposes. This
                      property is updatable.
                  endOfLifeDate:
                    type: string
                    format: date-time
                    description: The end of life date of the gallery image version
                      Definition. This property can be used for decommissioning purposes.
                      This property is updatable.
                  excludeFromLatest:
                    type: boolean
                    description: If set to true, Virtual Machines deployed from the
                      latest version of the Image Definition won't use this Image
                      Version.
                  storageProfile:
                    description: Describes the storage profile of the image version.
                    type: object
                    properties:
                      osDiskImage:
                        type: object
                        properties:
                          diskSizeGB:
                            readOnly: true
                            type: integer
                            format: int32
                            description: This property indicates the size of the VHD
                              to be created.
                          hostCaching:
                            type: string
                            description: The host caching of the disk. Valid values
                              are 'None', 'ReadOnly', and 'ReadWrite'
                            enum:
                            - None
                            - ReadOnly
                            - ReadWrite
                            x-ms-enum:
                              name: SharedGalleryHostCaching
                              modelAsString: true
                        description: This is the disk image base class.
                      dataDiskImages:
                        type: array
                        items:
                          type: object
                          properties:
                            diskSizeGB:
                              readOnly: true
                              type: integer
                              format: int32
                              description: This property indicates the size of the
                                VHD to be created.
                            hostCaching:
                              type: string
                              description: The host caching of the disk. Valid values
                                are 'None', 'ReadOnly', and 'ReadWrite'
                              enum:
                              - None
                              - ReadOnly
                              - ReadWrite
                              x-ms-enum:
                                name: SharedGalleryHostCaching
                                modelAsString: true
                            lun:
                              type: integer
                              format: int32
                              description: This property specifies the logical unit
                                number of the data disk. This value is used to identify
                                data disks within the Virtual Machine and therefore
                                must be unique for each data disk attached to the
                                Virtual Machine.
                          description: This is the disk image base class.
                          required:
                          - lun
                        x-ms-identifiers:
                        - lun
                        description: A list of data disk images.
                  disclaimer:
                    type: string
                    properties:
                      disclaimer:
                        readOnly: true
                        type: string
                        description: Community gallery disclaimer
                    description: The disclaimer for a community gallery resource.
                  artifactTags:
                    type: object
                    additionalProperties:
                      type: string
                    description: The artifact tags of a community gallery resource.
                description: Describes the properties of a gallery image version.
            description: Base information about the community gallery resource in
              azure compute gallery.
          x-ms-identifiers: []
          description: A list of community gallery image versions.
        nextLink:
          type: string
          description: The URI to fetch the next page of community gallery image versions.
            Call ListNext() with this to fetch the next page of community gallery
            image versions.
      required:
      - value
    CommunityGalleryImageVersion:
      type: object
      properties:
        name:
          readOnly: true
          type: string
          description: Resource name
        location:
          readOnly: true
          type: string
          description: Resource location
        type:
          readOnly: true
          type: string
          description: Resource type
        identifier:
          x-ms-client-flatten: true
          properties:
            uniqueId:
              type: string
              description: The unique id of this community gallery.
          description: The identifier information of community gallery.
        properties:
          x-ms-client-flatten: true
          properties:
            publishedDate:
              type: string
              format: date-time
              description: The published date of the gallery image version Definition.
                This property can be used for decommissioning purposes. This property
                is updatable.
            endOfLifeDate:
              type: string
              format: date-time
              description: The end of life date of the gallery image version Definition.
                This property can be used for decommissioning purposes. This property
                is updatable.
            excludeFromLatest:
              type: boolean
              description: If set to true, Virtual Machines deployed from the latest
                version of the Image Definition won't use this Image Version.
            storageProfile:
              description: Describes the storage profile of the image version.
              type: object
              properties:
                osDiskImage:
                  type: object
                  properties:
                    diskSizeGB:
                      readOnly: true
                      type: integer
                      format: int32
                      description: This property indicates the size of the VHD to
                        be created.
                    hostCaching:
                      type: string
                      description: The host caching of the disk. Valid values are
                        'None', 'ReadOnly', and 'ReadWrite'
                      enum:
                      - None
                      - ReadOnly
                      - ReadWrite
                      x-ms-enum:
                        name: SharedGalleryHostCaching
                        modelAsString: true
                  description: This is the disk image base class.
                dataDiskImages:
                  type: array
                  items:
                    type: object
                    properties:
                      diskSizeGB:
                        readOnly: true
                        type: integer
                        format: int32
                        description: This property indicates the size of the VHD to
                          be created.
                      hostCaching:
                        type: string
                        description: The host caching of the disk. Valid values are
                          'None', 'ReadOnly', and 'ReadWrite'
                        enum:
                        - None
                        - ReadOnly
                        - ReadWrite
                        x-ms-enum:
                          name: SharedGalleryHostCaching
                          modelAsString: true
                      lun:
                        type: integer
                        format: int32
                        description: This property specifies the logical unit number
                          of the data disk. This value is used to identify data disks
                          within the Virtual Machine and therefore must be unique
                          for each data disk attached to the Virtual Machine.
                    description: This is the disk image base class.
                    required:
                    - lun
                  x-ms-identifiers:
                  - lun
                  description: A list of data disk images.
            disclaimer:
              type: string
              properties:
                disclaimer:
                  readOnly: true
                  type: string
                  description: Community gallery disclaimer
              description: The disclaimer for a community gallery resource.
            artifactTags:
              type: object
              additionalProperties:
                type: string
              description: The artifact tags of a community gallery resource.
          description: Describes the properties of a gallery image version.
      description: Base information about the community gallery resource in azure
        compute gallery.
    CommunityGalleryImageVersionProperties:
      properties:
        publishedDate:
          type: string
          format: date-time
          description: The published date of the gallery image version Definition.
            This property can be used for decommissioning purposes. This property
            is updatable.
        endOfLifeDate:
          type: string
          format: date-time
          description: The end of life date of the gallery image version Definition.
            This property can be used for decommissioning purposes. This property
            is updatable.
        excludeFromLatest:
          type: boolean
          description: If set to true, Virtual Machines deployed from the latest version
            of the Image Definition won't use this Image Version.
        storageProfile:
          description: Describes the storage profile of the image version.
          type: object
          properties:
            osDiskImage:
              type: object
              properties:
                diskSizeGB:
                  readOnly: true
                  type: integer
                  format: int32
                  description: This property indicates the size of the VHD to be created.
                hostCaching:
                  type: string
                  description: The host caching of the disk. Valid values are 'None',
                    'ReadOnly', and 'ReadWrite'
                  enum:
                  - None
                  - ReadOnly
                  - ReadWrite
                  x-ms-enum:
                    name: SharedGalleryHostCaching
                    modelAsString: true
              description: This is the disk image base class.
            dataDiskImages:
              type: array
              items:
                type: object
                properties:
                  diskSizeGB:
                    readOnly: true
                    type: integer
                    format: int32
                    description: This property indicates the size of the VHD to be
                      created.
                  hostCaching:
                    type: string
                    description: The host caching of the disk. Valid values are 'None',
                      'ReadOnly', and 'ReadWrite'
                    enum:
                    - None
                    - ReadOnly
                    - ReadWrite
                    x-ms-enum:
                      name: SharedGalleryHostCaching
                      modelAsString: true
                  lun:
                    type: integer
                    format: int32
                    description: This property specifies the logical unit number of
                      the data disk. This value is used to identify data disks within
                      the Virtual Machine and therefore must be unique for each data
                      disk attached to the Virtual Machine.
                description: This is the disk image base class.
                required:
                - lun
              x-ms-identifiers:
              - lun
              description: A list of data disk images.
        disclaimer:
          type: string
          properties:
            disclaimer:
              readOnly: true
              type: string
              description: Community gallery disclaimer
          description: The disclaimer for a community gallery resource.
        artifactTags:
          type: object
          additionalProperties:
            type: string
          description: The artifact tags of a community gallery resource.
      description: Describes the properties of a gallery image version.
    CommunityGalleryImageIdentifier:
      properties:
        publisher:
          type: string
          description: The name of the gallery image definition publisher.
        offer:
          type: string
          description: The name of the gallery image definition offer.
        sku:
          type: string
          description: The name of the gallery image definition SKU.
      description: This is the community gallery image definition identifier.
    ApiErrorBase:
      type: object
      properties:
        code:
          type: string
          description: The error code.
        target:
          type: string
          description: The target of the particular error.
        message:
          type: string
          description: The error message.
      description: Api error base.
    InnerError:
      type: object
      properties:
        exceptiontype:
          type: string
          description: The exception type.
        errordetail:
          type: string
          description: The internal error message or exception dump.
      description: Inner error details.
    ApiError:
      type: object
      properties:
        details:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                description: The error code.
              target:
                type: string
                description: The target of the particular error.
              message:
                type: string
                description: The error message.
            description: Api error base.
          x-ms-identifiers:
          - message
          - target
          description: The Api error details
        innererror:
          description: The Api inner error
          type: object
          properties:
            exceptiontype:
              type: string
              description: The exception type.
            errordetail:
              type: string
              description: The internal error message or exception dump.
        code:
          type: string
          description: The error code.
        target:
          type: string
          description: The target of the particular error.
        message:
          type: string
          description: The error message.
      description: Api error.
    CloudError:
      type: object
      x-ms-external: true
      properties:
        error:
          type: object
          properties:
            details:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: string
                    description: The error code.
                  target:
                    type: string
                    description: The target of the particular error.
[...]
