openapi: 3.0.0
info:
  title: SharedImageGalleryServiceClient
  description: Shared Image Gallery Service Client.
  version: 2023-07-03
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}:
    put:
      tags:
      - Galleries
      operationId: Galleries_CreateOrUpdate
      description: Create or update a Shared Image Gallery.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the resource group.
        schema:
          type: string
      - name: galleryName
        in: path
        required: true
        description: The name of the Shared Image Gallery. The allowed characters
          are alphabets and numbers with dots and periods allowed in the middle. The
          maximum length is 80 characters.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource Id
                name:
                  readOnly: true
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                location:
                  type: string
                  description: Resource location
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  x-ms-client-flatten: true
                  properties:
                    description:
                      type: string
                      description: The description of this Shared Image Gallery resource.
                        This property is updatable.
                    identifier:
                      properties:
                        uniqueName:
                          readOnly: true
                          type: string
                          description: The unique name of the Shared Image Gallery.
                            This name is generated automatically by Azure.
                      description: Describes the gallery unique name.
                    provisioningState:
                      readOnly: true
                      type: string
                      title: The current state of the gallery or gallery artifact.
                      description: The provisioning state, which only appears in the
                        response.
                      enum:
                      - Creating
                      - Updating
                      - Failed
                      - Succeeded
                      - Deleting
                      - Migrating
                      x-ms-enum:
                        name: GalleryProvisioningState
                        modelAsString: true
                    sharingProfile:
                      description: Profile for gallery sharing to subscription or
                        tenant
                      properties:
                        permissions:
                          type: string
                          description: 'This property allows you to specify the permission
                            of sharing gallery. Possible values are: **Private,**
                            **Groups,** **Community.**'
                          enum:
                          - Private
                          - Groups
                          - Community
                          x-ms-enum:
                            name: GallerySharingPermissionTypes
                            modelAsString: true
                        groups:
                          readOnly: true
                          type: array
                          items:
                            description: Group of the gallery sharing profile
                            properties:
                              type:
                                type: string
                                description: 'This property allows you to specify
                                  the type of sharing group. Possible values are:
                                  **Subscriptions,** **AADTenants.**'
                                enum:
                                - Subscriptions
                                - AADTenants
                                x-ms-enum:
                                  name: SharingProfileGroupTypes
                                  modelAsString: true
                              ids:
                                type: array
                                items:
                                  type: string
                                description: A list of subscription/tenant ids the
                                  gallery is aimed to be shared to.
                          x-ms-identifiers: []
                          description: A list of sharing profile groups.
                        communityGalleryInfo:
                          description: Information of community gallery if current
                            gallery is shared to community.
                          type: object
                          properties:
                            publisherUri:
                              type: string
                              description: The link to the publisher website. Visible
                                to all users.
                            publisherContact:
                              type: string
                              description: Community gallery publisher support email.
                                The email address of the publisher. Visible to all
                                users.
                            eula:
                              type: string
                              description: End-user license agreement for community
                                gallery image.
                            publicNamePrefix:
                              type: string
                              description: The prefix of the gallery name that will
                                be displayed publicly. Visible to all users.
                            communityGalleryEnabled:
                              readOnly: true
                              type: boolean
                              description: Contains info about whether community gallery
                                sharing is enabled.
                            publicNames:
                              readOnly: true
                              type: array
                              items:
                                type: string
                              description: Community gallery public name list.
                    softDeletePolicy:
                      type: object
                      properties:
                        isSoftDeleteEnabled:
                          type: boolean
                          description: Enables soft-deletion for resources in this
                            gallery, allowing them to be recovered within retention
                            time.
                      description: Contains information about the soft deletion policy
                        of the gallery.
                    sharingStatus:
                      readOnly: true
                      type: object
                      properties:
                        aggregatedState:
                          type: string
                          description: Aggregated sharing state of current gallery.
                          readOnly: true
                          title: The sharing state of the gallery.
                          enum:
                          - Succeeded
                          - InProgress
                          - Failed
                          - Unknown
                          x-ms-enum:
                            name: SharingState
                            modelAsString: true
                        summary:
                          type: array
                          items:
                            type: object
                            description: Gallery regional sharing status
                            properties:
                              region:
                                type: string
                                description: Region name
                              state:
                                type: string
                                description: Gallery sharing state in current region
                                readOnly: true
                                title: The sharing state of the gallery.
                                enum:
                                - Succeeded
                                - InProgress
                                - Failed
                                - Unknown
                                x-ms-enum:
                                  name: SharingState
                                  modelAsString: true
                              details:
                                type: string
                                description: Details of gallery regional sharing failure.
                          x-ms-identifiers:
                          - region
                          description: Summary of all regional sharing status.
                      description: Sharing status of current gallery.
                  description: Describes the properties of a Shared Image Gallery.
              required:
              - location
              description: The Resource model definition.
              x-ms-azure-resource: true
        description: Parameters supplied to the create or update Shared Image Gallery
          operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      description:
                        type: string
                        description: The description of this Shared Image Gallery
                          resource. This property is updatable.
                      identifier:
                        properties:
                          uniqueName:
                            readOnly: true
                            type: string
                            description: The unique name of the Shared Image Gallery.
                              This name is generated automatically by Azure.
                        description: Describes the gallery unique name.
                      provisioningState:
                        readOnly: true
                        type: string
                        title: The current state of the gallery or gallery artifact.
                        description: The provisioning state, which only appears in
                          the response.
                        enum:
                        - Creating
                        - Updating
                        - Failed
                        - Succeeded
                        - Deleting
                        - Migrating
                        x-ms-enum:
                          name: GalleryProvisioningState
                          modelAsString: true
                      sharingProfile:
                        description: Profile for gallery sharing to subscription or
                          tenant
                        properties:
                          permissions:
                            type: string
                            description: 'This property allows you to specify the
                              permission of sharing gallery. Possible values are:
                              **Private,** **Groups,** **Community.**'
                            enum:
                            - Private
                            - Groups
                            - Community
                            x-ms-enum:
                              name: GallerySharingPermissionTypes
                              modelAsString: true
                          groups:
                            readOnly: true
                            type: array
                            items:
                              description: Group of the gallery sharing profile
                              properties:
                                type:
                                  type: string
                                  description: 'This property allows you to specify
                                    the type of sharing group. Possible values are:
                                    **Subscriptions,** **AADTenants.**'
                                  enum:
                                  - Subscriptions
                                  - AADTenants
                                  x-ms-enum:
                                    name: SharingProfileGroupTypes
                                    modelAsString: true
                                ids:
                                  type: array
                                  items:
                                    type: string
                                  description: A list of subscription/tenant ids the
                                    gallery is aimed to be shared to.
                            x-ms-identifiers: []
                            description: A list of sharing profile groups.
                          communityGalleryInfo:
                            description: Information of community gallery if current
                              gallery is shared to community.
                            type: object
                            properties:
                              publisherUri:
                                type: string
                                description: The link to the publisher website. Visible
                                  to all users.
                              publisherContact:
                                type: string
                                description: Community gallery publisher support email.
                                  The email address of the publisher. Visible to all
                                  users.
                              eula:
                                type: string
                                description: End-user license agreement for community
                                  gallery image.
                              publicNamePrefix:
                                type: string
                                description: The prefix of the gallery name that will
                                  be displayed publicly. Visible to all users.
                              communityGalleryEnabled:
                                readOnly: true
                                type: boolean
                                description: Contains info about whether community
                                  gallery sharing is enabled.
                              publicNames:
                                readOnly: true
                                type: array
                                items:
                                  type: string
                                description: Community gallery public name list.
                      softDeletePolicy:
                        type: object
                        properties:
                          isSoftDeleteEnabled:
                            type: boolean
                            description: Enables soft-deletion for resources in this
                              gallery, allowing them to be recovered within retention
                              time.
                        description: Contains information about the soft deletion
                          policy of the gallery.
                      sharingStatus:
                        readOnly: true
                        type: object
                        properties:
                          aggregatedState:
                            type: string
                            description: Aggregated sharing state of current gallery.
                            readOnly: true
                            title: The sharing state of the gallery.
                            enum:
                            - Succeeded
                            - InProgress
                            - Failed
                            - Unknown
                            x-ms-enum:
                              name: SharingState
                              modelAsString: true
                          summary:
                            type: array
                            items:
                              type: object
                              description: Gallery regional sharing status
                              properties:
                                region:
                                  type: string
                                  description: Region name
                                state:
                                  type: string
                                  description: Gallery sharing state in current region
                                  readOnly: true
                                  title: The sharing state of the gallery.
                                  enum:
                                  - Succeeded
                                  - InProgress
                                  - Failed
                                  - Unknown
                                  x-ms-enum:
                                    name: SharingState
                                    modelAsString: true
                                details:
                                  type: string
                                  description: Details of gallery regional sharing
                                    failure.
                            x-ms-identifiers:
                            - region
                            description: Summary of all regional sharing status.
                        description: Sharing status of current gallery.
                    description: Describes the properties of a Shared Image Gallery.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      description:
                        type: string
                        description: The description of this Shared Image Gallery
                          resource. This property is updatable.
                      identifier:
                        properties:
                          uniqueName:
                            readOnly: true
                            type: string
                            description: The unique name of the Shared Image Gallery.
                              This name is generated automatically by Azure.
                        description: Describes the gallery unique name.
                      provisioningState:
                        readOnly: true
                        type: string
                        title: The current state of the gallery or gallery artifact.
                        description: The provisioning state, which only appears in
                          the response.
                        enum:
                        - Creating
                        - Updating
                        - Failed
                        - Succeeded
                        - Deleting
                        - Migrating
                        x-ms-enum:
                          name: GalleryProvisioningState
                          modelAsString: true
                      sharingProfile:
                        description: Profile for gallery sharing to subscription or
                          tenant
                        properties:
                          permissions:
                            type: string
                            description: 'This property allows you to specify the
                              permission of sharing gallery. Possible values are:
                              **Private,** **Groups,** **Community.**'
                            enum:
                            - Private
                            - Groups
                            - Community
                            x-ms-enum:
                              name: GallerySharingPermissionTypes
                              modelAsString: true
                          groups:
                            readOnly: true
                            type: array
                            items:
                              description: Group of the gallery sharing profile
                              properties:
                                type:
                                  type: string
                                  description: 'This property allows you to specify
                                    the type of sharing group. Possible values are:
                                    **Subscriptions,** **AADTenants.**'
                                  enum:
                                  - Subscriptions
                                  - AADTenants
                                  x-ms-enum:
                                    name: SharingProfileGroupTypes
                                    modelAsString: true
                                ids:
                                  type: array
                                  items:
                                    type: string
                                  description: A list of subscription/tenant ids the
                                    gallery is aimed to be shared to.
                            x-ms-identifiers: []
                            description: A list of sharing profile groups.
                          communityGalleryInfo:
                            description: Information of community gallery if current
                              gallery is shared to community.
                            type: object
                            properties:
                              publisherUri:
                                type: string
                                description: The link to the publisher website. Visible
                                  to all users.
                              publisherContact:
                                type: string
                                description: Community gallery publisher support email.
                                  The email address of the publisher. Visible to all
                                  users.
                              eula:
                                type: string
                                description: End-user license agreement for community
                                  gallery image.
                              publicNamePrefix:
                                type: string
                                description: The prefix of the gallery name that will
                                  be displayed publicly. Visible to all users.
                              communityGalleryEnabled:
                                readOnly: true
                                type: boolean
                                description: Contains info about whether community
                                  gallery sharing is enabled.
                              publicNames:
                                readOnly: true
                                type: array
                                items:
                                  type: string
                                description: Community gallery public name list.
                      softDeletePolicy:
                        type: object
                        properties:
                          isSoftDeleteEnabled:
                            type: boolean
                            description: Enables soft-deletion for resources in this
                              gallery, allowing them to be recovered within retention
                              time.
                        description: Contains information about the soft deletion
                          policy of the gallery.
                      sharingStatus:
                        readOnly: true
                        type: object
                        properties:
                          aggregatedState:
                            type: string
                            description: Aggregated sharing state of current gallery.
                            readOnly: true
                            title: The sharing state of the gallery.
                            enum:
                            - Succeeded
                            - InProgress
                            - Failed
                            - Unknown
                            x-ms-enum:
                              name: SharingState
                              modelAsString: true
                          summary:
                            type: array
                            items:
                              type: object
                              description: Gallery regional sharing status
                              properties:
                                region:
                                  type: string
                                  description: Region name
                                state:
                                  type: string
                                  description: Gallery sharing state in current region
                                  readOnly: true
                                  title: The sharing state of the gallery.
                                  enum:
                                  - Succeeded
                                  - InProgress
                                  - Failed
                                  - Unknown
                                  x-ms-enum:
                                    name: SharingState
                                    modelAsString: true
                                details:
                                  type: string
                                  description: Details of gallery regional sharing
                                    failure.
                            x-ms-identifiers:
                            - region
                            description: Summary of all regional sharing status.
                        description: Sharing status of current gallery.
                    description: Describes the properties of a Shared Image Gallery.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      description:
                        type: string
                        description: The description of this Shared Image Gallery
                          resource. This property is updatable.
                      identifier:
                        properties:
                          uniqueName:
                            readOnly: true
                            type: string
                            description: The unique name of the Shared Image Gallery.
                              This name is generated automatically by Azure.
                        description: Describes the gallery unique name.
                      provisioningState:
                        readOnly: true
                        type: string
                        title: The current state of the gallery or gallery artifact.
                        description: The provisioning state, which only appears in
                          the response.
                        enum:
                        - Creating
                        - Updating
                        - Failed
                        - Succeeded
                        - Deleting
                        - Migrating
                        x-ms-enum:
                          name: GalleryProvisioningState
                          modelAsString: true
                      sharingProfile:
                        description: Profile for gallery sharing to subscription or
                          tenant
                        properties:
                          permissions:
                            type: string
                            description: 'This property allows you to specify the
                              permission of sharing gallery. Possible values are:
                              **Private,** **Groups,** **Community.**'
                            enum:
                            - Private
                            - Groups
                            - Community
                            x-ms-enum:
                              name: GallerySharingPermissionTypes
                              modelAsString: true
                          groups:
                            readOnly: true
                            type: array
                            items:
                              description: Group of the gallery sharing profile
                              properties:
                                type:
                                  type: string
                                  description: 'This property allows you to specify
                                    the type of sharing group. Possible values are:
                                    **Subscriptions,** **AADTenants.**'
                                  enum:
                                  - Subscriptions
                                  - AADTenants
                                  x-ms-enum:
                                    name: SharingProfileGroupTypes
                                    modelAsString: true
                                ids:
                                  type: array
                                  items:
                                    type: string
                                  description: A list of subscription/tenant ids the
                                    gallery is aimed to be shared to.
                            x-ms-identifiers: []
                            description: A list of sharing profile groups.
                          communityGalleryInfo:
                            description: Information of community gallery if current
                              gallery is shared to community.
                            type: object
                            properties:
                              publisherUri:
                                type: string
                                description: The link to the publisher website. Visible
                                  to all users.
                              publisherContact:
                                type: string
                                description: Community gallery publisher support email.
                                  The email address of the publisher. Visible to all
                                  users.
                              eula:
                                type: string
                                description: End-user license agreement for community
                                  gallery image.
                              publicNamePrefix:
                                type: string
                                description: The prefix of the gallery name that will
                                  be displayed publicly. Visible to all users.
                              communityGalleryEnabled:
                                readOnly: true
                                type: boolean
                                description: Contains info about whether community
                                  gallery sharing is enabled.
                              publicNames:
                                readOnly: true
                                type: array
                                items:
                                  type: string
                                description: Community gallery public name list.
                      softDeletePolicy:
                        type: object
                        properties:
                          isSoftDeleteEnabled:
                            type: boolean
                            description: Enables soft-deletion for resources in this
                              gallery, allowing them to be recovered within retention
                              time.
                        description: Contains information about the soft deletion
                          policy of the gallery.
                      sharingStatus:
                        readOnly: true
                        type: object
                        properties:
                          aggregatedState:
                            type: string
                            description: Aggregated sharing state of current gallery.
                            readOnly: true
                            title: The sharing state of the gallery.
                            enum:
                            - Succeeded
                            - InProgress
                            - Failed
                            - Unknown
                            x-ms-enum:
                              name: SharingState
                              modelAsString: true
                          summary:
                            type: array
                            items:
                              type: object
                              description: Gallery regional sharing status
                              properties:
                                region:
                                  type: string
                                  description: Region name
                                state:
                                  type: string
                                  description: Gallery sharing state in current region
                                  readOnly: true
                                  title: The sharing state of the gallery.
                                  enum:
                                  - Succeeded
                                  - InProgress
                                  - Failed
                                  - Unknown
                                  x-ms-enum:
                                    name: SharingState
                                    modelAsString: true
                                details:
                                  type: string
                                  description: Details of gallery regional sharing
                                    failure.
                            x-ms-identifiers:
                            - region
                            description: Summary of all regional sharing status.
                        description: Sharing status of current gallery.
                    description: Describes the properties of a Shared Image Gallery.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
      x-ms-long-running-operation: true
    patch:
      tags:
      - Galleries
      operationId: Galleries_Update
      description: Update a Shared Image Gallery.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the resource group.
        schema:
          type: string
      - name: galleryName
        in: path
        required: true
        description: The name of the Shared Image Gallery. The allowed characters
          are alphabets and numbers with dots and periods allowed in the middle. The
          maximum length is 80 characters.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource Id
                name:
                  readOnly: true
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  x-ms-client-flatten: true
                  properties:
                    description:
                      type: string
                      description: The description of this Shared Image Gallery resource.
                        This property is updatable.
                    identifier:
                      properties:
                        uniqueName:
                          readOnly: true
                          type: string
                          description: The unique name of the Shared Image Gallery.
                            This name is generated automatically by Azure.
                      description: Describes the gallery unique name.
                    provisioningState:
                      readOnly: true
                      type: string
                      title: The current state of the gallery or gallery artifact.
                      description: The provisioning state, which only appears in the
                        response.
                      enum:
                      - Creating
                      - Updating
                      - Failed
                      - Succeeded
                      - Deleting
                      - Migrating
                      x-ms-enum:
                        name: GalleryProvisioningState
                        modelAsString: true
                    sharingProfile:
                      description: Profile for gallery sharing to subscription or
                        tenant
                      properties:
                        permissions:
                          type: string
                          description: 'This property allows you to specify the permission
                            of sharing gallery. Possible values are: **Private,**
                            **Groups,** **Community.**'
                          enum:
                          - Private
                          - Groups
                          - Community
                          x-ms-enum:
                            name: GallerySharingPermissionTypes
                            modelAsString: true
                        groups:
                          readOnly: true
                          type: array
                          items:
                            description: Group of the gallery sharing profile
                            properties:
                              type:
                                type: string
                                description: 'This property allows you to specify
                                  the type of sharing group. Possible values are:
                                  **Subscriptions,** **AADTenants.**'
                                enum:
                                - Subscriptions
                                - AADTenants
                                x-ms-enum:
                                  name: SharingProfileGroupTypes
                                  modelAsString: true
                              ids:
                                type: array
                                items:
                                  type: string
                                description: A list of subscription/tenant ids the
                                  gallery is aimed to be shared to.
                          x-ms-identifiers: []
                          description: A list of sharing profile groups.
                        communityGalleryInfo:
                          description: Information of community gallery if current
                            gallery is shared to community.
                          type: object
                          properties:
                            publisherUri:
                              type: string
                              description: The link to the publisher website. Visible
                                to all users.
                            publisherContact:
                              type: string
                              description: Community gallery publisher support email.
                                The email address of the publisher. Visible to all
                                users.
                            eula:
                              type: string
                              description: End-user license agreement for community
                                gallery image.
                            publicNamePrefix:
                              type: string
                              description: The prefix of the gallery name that will
                                be displayed publicly. Visible to all users.
                            communityGalleryEnabled:
                              readOnly: true
                              type: boolean
                              description: Contains info about whether community gallery
                                sharing is enabled.
                            publicNames:
                              readOnly: true
                              type: array
                              items:
                                type: string
                              description: Community gallery public name list.
                    softDeletePolicy:
                      type: object
                      properties:
                        isSoftDeleteEnabled:
                          type: boolean
                          description: Enables soft-deletion for resources in this
                            gallery, allowing them to be recovered within retention
                            time.
                      description: Contains information about the soft deletion policy
                        of the gallery.
                    sharingStatus:
                      readOnly: true
                      type: object
                      properties:
                        aggregatedState:
                          type: string
                          description: Aggregated sharing state of current gallery.
                          readOnly: true
                          title: The sharing state of the gallery.
                          enum:
                          - Succeeded
                          - InProgress
                          - Failed
                          - Unknown
                          x-ms-enum:
                            name: SharingState
                            modelAsString: true
                        summary:
                          type: array
                          items:
                            type: object
                            description: Gallery regional sharing status
                            properties:
                              region:
                                type: string
                                description: Region name
                              state:
                                type: string
                                description: Gallery sharing state in current region
                                readOnly: true
                                title: The sharing state of the gallery.
                                enum:
                                - Succeeded
                                - InProgress
                                - Failed
                                - Unknown
                                x-ms-enum:
                                  name: SharingState
                                  modelAsString: true
                              details:
                                type: string
                                description: Details of gallery regional sharing failure.
                          x-ms-identifiers:
                          - region
                          description: Summary of all regional sharing status.
                      description: Sharing status of current gallery.
                  description: Describes the properties of a Shared Image Gallery.
              description: The Update Resource model definition.
              x-ms-azure-resource: true
        description: Parameters supplied to the update Shared Image Gallery operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      description:
                        type: string
                        description: The description of this Shared Image Gallery
                          resource. This property is updatable.
                      identifier:
                        properties:
                          uniqueName:
                            readOnly: true
                            type: string
                            description: The unique name of the Shared Image Gallery.
                              This name is generated automatically by Azure.
                        description: Describes the gallery unique name.
                      provisioningState:
                        readOnly: true
                        type: string
                        title: The current state of the gallery or gallery artifact.
                        description: The provisioning state, which only appears in
                          the response.
                        enum:
                        - Creating
                        - Updating
                        - Failed
                        - Succeeded
                        - Deleting
                        - Migrating
                        x-ms-enum:
                          name: GalleryProvisioningState
                          modelAsString: true
                      sharingProfile:
                        description: Profile for gallery sharing to subscription or
                          tenant
                        properties:
                          permissions:
                            type: string
                            description: 'This property allows you to specify the
                              permission of sharing gallery. Possible values are:
                              **Private,** **Groups,** **Community.**'
                            enum:
                            - Private
                            - Groups
                            - Community
                            x-ms-enum:
                              name: GallerySharingPermissionTypes
                              modelAsString: true
                          groups:
                            readOnly: true
                            type: array
                            items:
                              description: Group of the gallery sharing profile
                              properties:
                                type:
                                  type: string
                                  description: 'This property allows you to specify
                                    the type of sharing group. Possible values are:
                                    **Subscriptions,** **AADTenants.**'
                                  enum:
                                  - Subscriptions
                                  - AADTenants
                                  x-ms-enum:
                                    name: SharingProfileGroupTypes
                                    modelAsString: true
                                ids:
                                  type: array
                                  items:
                                    type: string
                                  description: A list of subscription/tenant ids the
                                    gallery is aimed to be shared to.
                            x-ms-identifiers: []
                            description: A list of sharing profile groups.
                          communityGalleryInfo:
                            description: Information of community gallery if current
                              gallery is shared to community.
                            type: object
                            properties:
                              publisherUri:
                                type: string
                                description: The link to the publisher website. Visible
                                  to all users.
                              publisherContact:
                                type: string
                                description: Community gallery publisher support email.
                                  The email address of the publisher. Visible to all
                                  users.
                              eula:
                                type: string
                                description: End-user license agreement for community
                                  gallery image.
                              publicNamePrefix:
                                type: string
                                description: The prefix of the gallery name that will
                                  be displayed publicly. Visible to all users.
                              communityGalleryEnabled:
                                readOnly: true
                                type: boolean
                                description: Contains info about whether community
                                  gallery sharing is enabled.
                              publicNames:
                                readOnly: true
                                type: array
                                items:
                                  type: string
                                description: Community gallery public name list.
                      softDeletePolicy:
                        type: object
                        properties:
                          isSoftDeleteEnabled:
                            type: boolean
                            description: Enables soft-deletion for resources in this
                              gallery, allowing them to be recovered within retention
                              time.
                        description: Contains information about the soft deletion
                          policy of the gallery.
                      sharingStatus:
                        readOnly: true
                        type: object
                        properties:
                          aggregatedState:
                            type: string
                            description: Aggregated sharing state of current gallery.
                            readOnly: true
                            title: The sharing state of the gallery.
                            enum:
                            - Succeeded
                            - InProgress
                            - Failed
                            - Unknown
                            x-ms-enum:
                              name: SharingState
                              modelAsString: true
                          summary:
                            type: array
                            items:
                              type: object
                              description: Gallery regional sharing status
                              properties:
                                region:
                                  type: string
                                  description: Region name
                                state:
                                  type: string
                                  description: Gallery sharing state in current region
                                  readOnly: true
                                  title: The sharing state of the gallery.
                                  enum:
                                  - Succeeded
                                  - InProgress
                                  - Failed
                                  - Unknown
                                  x-ms-enum:
                                    name: SharingState
                                    modelAsString: true
                                details:
                                  type: string
                                  description: Details of gallery regional sharing
                                    failure.
                            x-ms-identifiers:
                            - region
                            description: Summary of all regional sharing status.
                        description: Sharing status of current gallery.
                    description: Describes the properties of a Shared Image Gallery.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
      x-ms-long-running-operation: true
    get:
      tags:
      - Galleries
      operationId: Galleries_Get
      description: Retrieves information about a Shared Image Gallery.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the resource group.
        schema:
          type: string
      - name: galleryName
        in: path
        required: true
        description: The name of the Shared Image Gallery.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: $select
        in: query
        required: false
        description: The select expression to apply on the operation.
        x-ms-enum:
          name: SelectPermissions
          modelAsString: true
        schema:
          type: string
          enum:
          - Permissions
      - name: $expand
        in: query
        required: false
        description: The expand query option to apply on the operation.
        x-ms-enum:
          name: GalleryExpandParams
          modelAsString: true
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - SharingProfile/Groups
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      description:
                        type: string
                        description: The description of this Shared Image Gallery
                          resource. This property is updatable.
                      identifier:
                        properties:
                          uniqueName:
                            readOnly: true
                            type: string
                            description: The unique name of the Shared Image Gallery.
                              This name is generated automatically by Azure.
                        description: Describes the gallery unique name.
                      provisioningState:
                        readOnly: true
                        type: string
                        title: The current state of the gallery or gallery artifact.
                        description: The provisioning state, which only appears in
                          the response.
                        enum:
                        - Creating
                        - Updating
                        - Failed
                        - Succeeded
                        - Deleting
                        - Migrating
                        x-ms-enum:
                          name: GalleryProvisioningState
                          modelAsString: true
                      sharingProfile:
                        description: Profile for gallery sharing to subscription or
                          tenant
                        properties:
                          permissions:
                            type: string
                            description: 'This property allows you to specify the
                              permission of sharing gallery. Possible values are:
                              **Private,** **Groups,** **Community.**'
                            enum:
                            - Private
                            - Groups
                            - Community
                            x-ms-enum:
                              name: GallerySharingPermissionTypes
                              modelAsString: true
                          groups:
                            readOnly: true
                            type: array
                            items:
                              description: Group of the gallery sharing profile
                              properties:
                                type:
                                  type: string
                                  description: 'This property allows you to specify
                                    the type of sharing group. Possible values are:
                                    **Subscriptions,** **AADTenants.**'
                                  enum:
                                  - Subscriptions
                                  - AADTenants
                                  x-ms-enum:
                                    name: SharingProfileGroupTypes
                                    modelAsString: true
                                ids:
                                  type: array
                                  items:
                                    type: string
                                  description: A list of subscription/tenant ids the
                                    gallery is aimed to be shared to.
                            x-ms-identifiers: []
                            description: A list of sharing profile groups.
                          communityGalleryInfo:
                            description: Information of community gallery if current
                              gallery is shared to community.
                            type: object
                            properties:
                              publisherUri:
                                type: string
                                description: The link to the publisher website. Visible
                                  to all users.
                              publisherContact:
                                type: string
                                description: Community gallery publisher support email.
                                  The email address of the publisher. Visible to all
                                  users.
                              eula:
                                type: string
                                description: End-user license agreement for community
                                  gallery image.
                              publicNamePrefix:
                                type: string
                                description: The prefix of the gallery name that will
                                  be displayed publicly. Visible to all users.
                              communityGalleryEnabled:
                                readOnly: true
                                type: boolean
                                description: Contains info about whether community
                                  gallery sharing is enabled.
                              publicNames:
                                readOnly: true
                                type: array
                                items:
                                  type: string
                                description: Community gallery public name list.
                      softDeletePolicy:
                        type: object
                        properties:
                          isSoftDeleteEnabled:
                            type: boolean
                            description: Enables soft-deletion for resources in this
                              gallery, allowing them to be recovered within retention
                              time.
                        description: Contains information about the soft deletion
                          policy of the gallery.
                      sharingStatus:
                        readOnly: true
                        type: object
                        properties:
                          aggregatedState:
                            type: string
                            description: Aggregated sharing state of current gallery.
                            readOnly: true
                            title: The sharing state of the gallery.
                            enum:
                            - Succeeded
                            - InProgress
                            - Failed
                            - Unknown
                            x-ms-enum:
                              name: SharingState
                              modelAsString: true
                          summary:
                            type: array
                            items:
                              type: object
                              description: Gallery regional sharing status
                              properties:
                                region:
                                  type: string
                                  description: Region name
                                state:
                                  type: string
                                  description: Gallery sharing state in current region
                                  readOnly: true
                                  title: The sharing state of the gallery.
                                  enum:
                                  - Succeeded
                                  - InProgress
                                  - Failed
                                  - Unknown
                                  x-ms-enum:
                                    name: SharingState
                                    modelAsString: true
                                details:
                                  type: string
                                  description: Details of gallery regional sharing
                                    failure.
                            x-ms-identifiers:
                            - region
                            description: Summary of all regional sharing status.
                        description: Sharing status of current gallery.
                    description: Describes the properties of a Shared Image Gallery.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
    delete:
      tags:
      - Galleries
      operationId: Galleries_Delete
      description: Delete a Shared Image Gallery.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the resource group.
        schema:
          type: string
      - name: galleryName
        in: path
        required: true
        description: The name of the Shared Image Gallery to be deleted.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images/{galleryImageName}
  : put:
      tags:
      - GalleryImages
      operationId: GalleryImages_CreateOrUpdate
      description: Create or update a gallery image definition.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the resource group.
        schema:
          type: string
      - name: galleryName
        in: path
        required: true
        description: The name of the Shared Image Gallery in which the Image Definition
          is to be created.
        schema:
          type: string
      - name: galleryImageName
        in: path
        required: true
        description: The name of the gallery image definition to be created or updated.
          The allowed characters are alphabets and numbers with dots, dashes, and
          periods allowed in the middle. The maximum length is 80 characters.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource Id
                name:
                  readOnly: true
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                location:
                  type: string
                  description: Resource location
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  x-ms-client-flatten: true
                  properties:
                    description:
                      type: string
                      description: The description of this gallery image definition
                        resource. This property is updatable.
                    eula:
                      type: string
                      description: The Eula agreement for the gallery image definition.
                    privacyStatementUri:
                      type: string
                      description: The privacy statement uri.
                    releaseNoteUri:
                      type: string
                      description: The release note uri.
                    osType:
                      type: string
                      description: 'This property allows you to specify the type of
                        the OS that is included in the disk when creating a VM from
                        a managed image. Possible values are: **Windows,** **Linux.**'
                      enum:
                      - Windows
                      - Linux
                      x-ms-enum:
                        name: OperatingSystemTypes
                        modelAsString: false
                    osState:
                      type: string
                      description: This property allows the user to specify whether
                        the virtual machines created under this image are 'Generalized'
                        or 'Specialized'.
                      enum:
                      - Generalized
                      - Specialized
                      x-ms-enum:
                        name: OperatingSystemStateTypes
                        modelAsString: false
                    hyperVGeneration:
                      type: string
                      description: The hypervisor generation of the Virtual Machine.
                        Applicable to OS disks only.
                      enum:
                      - V1
                      - V2
                      x-ms-enum:
                        name: HyperVGeneration
                        modelAsString: true
                    endOfLifeDate:
                      type: string
                      format: date-time
                      description: The end of life date of the gallery image definition.
                        This property can be used for decommissioning purposes. This
                        property is updatable.
                    identifier:
                      properties:
                        publisher:
                          type: string
                          description: The name of the gallery image definition publisher.
                        offer:
                          type: string
                          description: The name of the gallery image definition offer.
                        sku:
                          type: string
                          description: The name of the gallery image definition SKU.
                      required:
                      - publisher
                      - offer
                      - sku
                      description: This is the gallery image definition identifier.
                    recommended:
                      properties:
                        vCPUs:
                          properties:
                            min:
                              type: integer
                              format: int32
                              description: The minimum number of the resource.
                            max:
                              type: integer
                              format: int32
                              description: The maximum number of the resource.
                          description: Describes the resource range.
                        memory:
                          properties:
                            min:
                              type: integer
                              format: int32
                              description: The minimum number of the resource.
                            max:
                              type: integer
                              format: int32
                              description: The maximum number of the resource.
                          description: Describes the resource range.
                      description: The properties describe the recommended machine
                        configuration for this Image Definition. These properties
                        are updatable.
                    disallowed:
                      properties:
                        diskTypes:
                          type: array
                          items:
                            type: string
                          description: A list of disk types.
                      description: Describes the disallowed disk types.
                    purchasePlan:
                      properties:
                        name:
                          type: string
                          description: The plan ID.
                        publisher:
                          type: string
                          description: The publisher ID.
                        product:
                          type: string
                          description: The product ID.
                      description: Describes the gallery image definition purchase
                        plan. This is used by marketplace images.
                    provisioningState:
                      readOnly: true
                      type: string
                      title: The current state of the gallery or gallery artifact.
                      description: The provisioning state, which only appears in the
                        response.
                      enum:
                      - Creating
                      - Updating
                      - Failed
                      - Succeeded
                      - Deleting
                      - Migrating
                      x-ms-enum:
                        name: GalleryProvisioningState
                        modelAsString: true
                    features:
                      type: array
                      items:
                        properties:
                          name:
                            type: string
                            description: The name of the gallery image feature.
                          value:
                            type: string
                            description: The value of the gallery image feature.
                        description: A feature for gallery image.
                      x-ms-identifiers:
                      - name
                      description: A list of gallery image features.
                    architecture:
                      type: string
                      description: The architecture of the image. Applicable to OS
                        disks only.
                      enum:
                      - x64
                      - Arm64
                      x-ms-enum:
                        name: Architecture
                        modelAsString: true
                  required:
                  - osType
                  - osState
                  - identifier
                  description: Describes the properties of a gallery image definition.
              required:
              - location
              description: The Resource model definition.
              x-ms-azure-resource: true
        description: Parameters supplied to the create or update gallery image operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      description:
                        type: string
                        description: The description of this gallery image definition
                          resource. This property is updatable.
                      eula:
                        type: string
                        description: The Eula agreement for the gallery image definition.
                      privacyStatementUri:
                        type: string
                        description: The privacy statement uri.
                      releaseNoteUri:
                        type: string
                        description: The release note uri.
                      osType:
                        type: string
                        description: 'This property allows you to specify the type
                          of the OS that is included in the disk when creating a VM
                          from a managed image. Possible values are: **Windows,**
                          **Linux.**'
                        enum:
                        - Windows
                        - Linux
                        x-ms-enum:
                          name: OperatingSystemTypes
                          modelAsString: false
                      osState:
                        type: string
                        description: This property allows the user to specify whether
                          the virtual machines created under this image are 'Generalized'
                          or 'Specialized'.
                        enum:
                        - Generalized
                        - Specialized
                        x-ms-enum:
                          name: OperatingSystemStateTypes
                          modelAsString: false
                      hyperVGeneration:
                        type: string
                        description: The hypervisor generation of the Virtual Machine.
                          Applicable to OS disks only.
                        enum:
                        - V1
                        - V2
                        x-ms-enum:
                          name: HyperVGeneration
                          modelAsString: true
                      endOfLifeDate:
                        type: string
                        format: date-time
                        description: The end of life date of the gallery image definition.
                          This property can be used for decommissioning purposes.
                          This property is updatable.
                      identifier:
                        properties:
                          publisher:
                            type: string
                            description: The name of the gallery image definition
                              publisher.
                          offer:
                            type: string
                            description: The name of the gallery image definition
                              offer.
                          sku:
                            type: string
                            description: The name of the gallery image definition
                              SKU.
                        required:
                        - publisher
                        - offer
                        - sku
                        description: This is the gallery image definition identifier.
                      recommended:
                        properties:
                          vCPUs:
                            properties:
                              min:
                                type: integer
                                format: int32
                                description: The minimum number of the resource.
                              max:
                                type: integer
                                format: int32
                                description: The maximum number of the resource.
                            description: Describes the resource range.
                          memory:
                            properties:
                              min:
                                type: integer
                                format: int32
                                description: The minimum number of the resource.
                              max:
                                type: integer
                                format: int32
                                description: The maximum number of the resource.
                            description: Describes the resource range.
                        description: The properties describe the recommended machine
                          configuration for this Image Definition. These properties
                          are updatable.
                      disallowed:
                        properties:
                          diskTypes:
                            type: array
                            items:
                              type: string
                            description: A list of disk types.
                        description: Describes the disallowed disk types.
                      purchasePlan:
                        properties:
                          name:
                            type: string
                            description: The plan ID.
                          publisher:
                            type: string
                            description: The publisher ID.
                          product:
                            type: string
                            description: The product ID.
                        description: Describes the gallery image definition purchase
                          plan. This is used by marketplace images.
                      provisioningState:
                        readOnly: true
                        type: string
                        title: The current state of the gallery or gallery artifact.
                        description: The provisioning state, which only appears in
                          the response.
                        enum:
                        - Creating
                        - Updating
                        - Failed
                        - Succeeded
                        - Deleting
                        - Migrating
                        x-ms-enum:
                          name: GalleryProvisioningState
                          modelAsString: true
                      features:
                        type: array
                        items:
                          properties:
                            name:
                              type: string
                              description: The name of the gallery image feature.
                            value:
                              type: string
                              description: The value of the gallery image feature.
                          description: A feature for gallery image.
                        x-ms-identifiers:
                        - name
                        description: A list of gallery image features.
                      architecture:
                        type: string
                        description: The architecture of the image. Applicable to
                          OS disks only.
                        enum:
                        - x64
                        - Arm64
                        x-ms-enum:
                          name: Architecture
                          modelAsString: true
                    required:
                    - osType
                    - osState
                    - identifier
                    description: Describes the properties of a gallery image definition.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      description:
                        type: string
                        description: The description of this gallery image definition
                          resource. This property is updatable.
                      eula:
                        type: string
                        description: The Eula agreement for the gallery image definition.
                      privacyStatementUri:
                        type: string
[...]
