openapi: 3.0.0
info:
  title: ComputeManagementClient
  description: The Compute Management Client.
  version: 2023-07-03
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths: {}
components:
  parameters:
    LocationNameParameter:
      name: location
      in: path
      required: true
      x-ms-parameter-location: method
      description: Resource location.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    GalleryImageFeature:
      properties:
        name:
          type: string
          description: The name of the gallery image feature.
        value:
          type: string
          description: The value of the gallery image feature.
      description: A feature for gallery image.
    GalleryImageIdentifier:
      properties:
        publisher:
          type: string
          description: The name of the gallery image definition publisher.
        offer:
          type: string
          description: The name of the gallery image definition offer.
        sku:
          type: string
          description: The name of the gallery image definition SKU.
      required:
      - publisher
      - offer
      - sku
      description: This is the gallery image definition identifier.
    RecommendedMachineConfiguration:
      properties:
        vCPUs:
          properties:
            min:
              type: integer
              format: int32
              description: The minimum number of the resource.
            max:
              type: integer
              format: int32
              description: The maximum number of the resource.
          description: Describes the resource range.
        memory:
          properties:
            min:
              type: integer
              format: int32
              description: The minimum number of the resource.
            max:
              type: integer
              format: int32
              description: The maximum number of the resource.
          description: Describes the resource range.
      description: The properties describe the recommended machine configuration for
        this Image Definition. These properties are updatable.
    ResourceRange:
      properties:
        min:
          type: integer
          format: int32
          description: The minimum number of the resource.
        max:
          type: integer
          format: int32
          description: The maximum number of the resource.
      description: Describes the resource range.
    Disallowed:
      properties:
        diskTypes:
          type: array
          items:
            type: string
          description: A list of disk types.
      description: Describes the disallowed disk types.
    ImagePurchasePlan:
      properties:
        name:
          type: string
          description: The plan ID.
        publisher:
          type: string
          description: The publisher ID.
        product:
          type: string
          description: The product ID.
      description: Describes the gallery image definition purchase plan. This is used
        by marketplace images.
    SharedGalleryImageVersionStorageProfile:
      type: object
      properties:
        osDiskImage:
          type: object
          properties:
            diskSizeGB:
              readOnly: true
              type: integer
              format: int32
              description: This property indicates the size of the VHD to be created.
            hostCaching:
              type: string
              description: The host caching of the disk. Valid values are 'None',
                'ReadOnly', and 'ReadWrite'
              enum:
              - None
              - ReadOnly
              - ReadWrite
              x-ms-enum:
                name: SharedGalleryHostCaching
                modelAsString: true
          description: This is the disk image base class.
        dataDiskImages:
          type: array
          items:
            type: object
            properties:
              diskSizeGB:
                readOnly: true
                type: integer
                format: int32
                description: This property indicates the size of the VHD to be created.
              hostCaching:
                type: string
                description: The host caching of the disk. Valid values are 'None',
                  'ReadOnly', and 'ReadWrite'
                enum:
                - None
                - ReadOnly
                - ReadWrite
                x-ms-enum:
                  name: SharedGalleryHostCaching
                  modelAsString: true
              lun:
                type: integer
                format: int32
                description: This property specifies the logical unit number of the
                  data disk. This value is used to identify data disks within the
                  Virtual Machine and therefore must be unique for each data disk
                  attached to the Virtual Machine.
            description: This is the disk image base class.
            required:
            - lun
          x-ms-identifiers:
          - lun
          description: A list of data disk images.
      description: This is the storage profile of a Gallery Image Version.
    SharedGalleryOSDiskImage:
      type: object
      properties:
        diskSizeGB:
          readOnly: true
          type: integer
          format: int32
          description: This property indicates the size of the VHD to be created.
        hostCaching:
          type: string
          description: The host caching of the disk. Valid values are 'None', 'ReadOnly',
            and 'ReadWrite'
          enum:
          - None
          - ReadOnly
          - ReadWrite
          x-ms-enum:
            name: SharedGalleryHostCaching
            modelAsString: true
      description: This is the disk image base class.
    SharedGalleryDataDiskImage:
      type: object
      properties:
        diskSizeGB:
          readOnly: true
          type: integer
          format: int32
          description: This property indicates the size of the VHD to be created.
        hostCaching:
          type: string
          description: The host caching of the disk. Valid values are 'None', 'ReadOnly',
            and 'ReadWrite'
          enum:
          - None
          - ReadOnly
          - ReadWrite
          x-ms-enum:
            name: SharedGalleryHostCaching
            modelAsString: true
        lun:
          type: integer
          format: int32
          description: This property specifies the logical unit number of the data
            disk. This value is used to identify data disks within the Virtual Machine
            and therefore must be unique for each data disk attached to the Virtual
            Machine.
      description: This is the disk image base class.
      required:
      - lun
    SharedGalleryDiskImage:
      type: object
      properties:
        diskSizeGB:
          readOnly: true
          type: integer
          format: int32
          description: This property indicates the size of the VHD to be created.
        hostCaching:
          type: string
          description: The host caching of the disk. Valid values are 'None', 'ReadOnly',
            and 'ReadWrite'
          enum:
          - None
          - ReadOnly
          - ReadWrite
          x-ms-enum:
            name: SharedGalleryHostCaching
            modelAsString: true
      description: This is the disk image base class.
    Architecture:
      type: string
      description: The architecture of the image. Applicable to OS disks only.
      enum:
      - x64
      - Arm64
      x-ms-enum:
        name: Architecture
        modelAsString: true
