openapi: 3.0.0
info:
  version: 2020-03-01
  title: azureactivedirectory
  description: Azure Active Directory Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.aadiam/privateLinkForAzureAd/{policyName}/privateLinkResources
  : get:
      tags:
      - PrivateLinkResources
      description: Gets the private link resources that need to be created for a policy
        of AzureAD.
      operationId: PrivateLinkResources_ListByPrivateLinkPolicy
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - name: subscriptionId
        in: path
        description: Azure subscription ID.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: policyName
        in: path
        required: true
        description: The name of the private link policy in Azure AD.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Version of the API to be used with the client request.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved private link resources.
          content:
            application/json:
              schema:
                description: A list of private link resources
                type: object
                properties:
                  value:
                    type: array
                    description: Array of private link resources
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: The unique resource identifier of the Azure
                            AD PrivateLink Policy.
                        name:
                          readOnly: true
                          type: string
                          description: The name of the Azure AD PrivateLink Policy.
                        type:
                          readOnly: true
                          type: string
                          description: The type of Azure resource.
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            groupId:
                              description: The private link resource group id.
                              type: string
                              readOnly: true
                            requiredMembers:
                              description: The private link resource required member
                                names.
                              type: array
                              items:
                                type: string
                              readOnly: true
                      description: The resource model definition for a ARM proxy resource.
                        It will have everything other than required location and tags
                      x-ms-azure-resource: true
                  nextLink:
                    description: The link used to get the next page of operations.
                    type: string
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.aadiam/privateLinkForAzureAd/{policyName}/privateLinkResources/{groupName}
  : get:
      tags:
      - PrivateLinkResources
      description: Gets the private link resources that need to be created for a policy
        of AzureAD.
      operationId: PrivateLinkResources_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Azure subscription ID.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: policyName
        in: path
        required: true
        description: The name of the private link policy in Azure AD.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: groupName
        in: path
        description: The name of the private link resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Version of the API to be used with the client request.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved a specified private link resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The unique resource identifier of the Azure AD PrivateLink
                      Policy.
                  name:
                    readOnly: true
                    type: string
                    description: The name of the Azure AD PrivateLink Policy.
                  type:
                    readOnly: true
                    type: string
                    description: The type of Azure resource.
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      groupId:
                        description: The private link resource group id.
                        type: string
                        readOnly: true
                      requiredMembers:
                        description: The private link resource required member names.
                        type: array
                        items:
                          type: string
                        readOnly: true
                description: The resource model definition for a ARM proxy resource.
                  It will have everything other than required location and tags
                x-ms-azure-resource: true
components:
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Azure subscription ID.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      required: true
      x-ms-parameter-location: client
      description: Version of the API to be used with the client request.
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of an Azure resource group.
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._\(\)]+$
    groupNameParameter:
      name: groupName
      in: path
      description: The name of the private link resource.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    policyNameParameter:
      name: policyName
      in: path
      required: true
      description: The name of the private link policy in Azure AD.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    PrivateLinkResourceListResult:
      description: A list of private link resources
      type: object
      properties:
        value:
          type: array
          description: Array of private link resources
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: The unique resource identifier of the Azure AD PrivateLink
                  Policy.
              name:
                readOnly: true
                type: string
                description: The name of the Azure AD PrivateLink Policy.
              type:
                readOnly: true
                type: string
                description: The type of Azure resource.
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                type: object
                properties:
                  groupId:
                    description: The private link resource group id.
                    type: string
                    readOnly: true
                  requiredMembers:
                    description: The private link resource required member names.
                    type: array
                    items:
                      type: string
                    readOnly: true
            description: The resource model definition for a ARM proxy resource. It
              will have everything other than required location and tags
            x-ms-azure-resource: true
        nextLink:
          description: The link used to get the next page of operations.
          type: string
    PrivateLinkResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The unique resource identifier of the Azure AD PrivateLink
            Policy.
        name:
          readOnly: true
          type: string
          description: The name of the Azure AD PrivateLink Policy.
        type:
          readOnly: true
          type: string
          description: The type of Azure resource.
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          type: object
          properties:
            groupId:
              description: The private link resource group id.
              type: string
              readOnly: true
            requiredMembers:
              description: The private link resource required member names.
              type: array
              items:
                type: string
              readOnly: true
      description: The resource model definition for a ARM proxy resource. It will
        have everything other than required location and tags
      x-ms-azure-resource: true
    PrivateLinkResourceProperties:
      description: Properties of a private link resource.
      type: object
      properties:
        groupId:
          description: The private link resource group id.
          type: string
          readOnly: true
        requiredMembers:
          description: The private link resource required member names.
          type: array
          items:
            type: string
          readOnly: true
    ARMProxyResource:
      type: object
      description: The resource model definition for a ARM proxy resource. It will
        have everything other than required location and tags
      properties:
        id:
          readOnly: true
          type: string
          description: The unique resource identifier of the Azure AD PrivateLink
            Policy.
        name:
          readOnly: true
          type: string
          description: The name of the Azure AD PrivateLink Policy.
        type:
          readOnly: true
          type: string
          description: The type of Azure resource.
      x-ms-azure-resource: true
