openapi: 3.0.0
info:
  version: 2020-03-01
  title: azureactivedirectory
  description: Private link Policy for Azure Active Directory.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.aadiam/privateLinkForAzureAd/{policyName}
  : put:
      tags:
      - privateLinkForAzureAd
      operationId: privateLinkForAzureAd_Create
      x-ms-long-running-operation: true
      description: Creates a private link policy.
      parameters:
      - name: subscriptionId
        in: path
        description: Azure subscription ID.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: policyName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the private link policy in Azure AD.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Version of the API to be used with the client request.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: String Id used to locate any resource on Azure.
                name:
                  readOnly: false
                  type: string
                  description: Name of this resource.
                type:
                  readOnly: true
                  type: string
                  description: Type of this resource.
                ownerTenantId:
                  description: Guid of the owner tenant
                  type: string
                allTenants:
                  description: Flag indicating whether all tenants are allowed
                  type: boolean
                tenants:
                  description: The list of tenantIds.
                  type: array
                  items:
                    type: string
                resourceName:
                  description: Name of the private link policy resource
                  type: string
                subscriptionId:
                  description: Subscription Identifier
                  type: string
                resourceGroup:
                  description: Name of the resource group
                  type: string
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
              description: Common properties for all Azure resources.
              x-ms-azure-resource: true
        description: private link Policy supplied to the operation.
        required: true
      responses:
        '200':
          description: Created -- Private Link Policy created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: String Id used to locate any resource on Azure.
                  name:
                    readOnly: false
                    type: string
                    description: Name of this resource.
                  type:
                    readOnly: true
                    type: string
                    description: Type of this resource.
                  ownerTenantId:
                    description: Guid of the owner tenant
                    type: string
                  allTenants:
                    description: Flag indicating whether all tenants are allowed
                    type: boolean
                  tenants:
                    description: The list of tenantIds.
                    type: array
                    items:
                      type: string
                  resourceName:
                    description: Name of the private link policy resource
                    type: string
                  subscriptionId:
                    description: Subscription Identifier
                    type: string
                  resourceGroup:
                    description: Name of the resource group
                    type: string
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                description: Common properties for all Azure resources.
                x-ms-azure-resource: true
        '201':
          description: OK -- Private Link Policy is updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: String Id used to locate any resource on Azure.
                  name:
                    readOnly: false
                    type: string
                    description: Name of this resource.
                  type:
                    readOnly: true
                    type: string
                    description: Type of this resource.
                  ownerTenantId:
                    description: Guid of the owner tenant
                    type: string
                  allTenants:
                    description: Flag indicating whether all tenants are allowed
                    type: boolean
                  tenants:
                    description: The list of tenantIds.
                    type: array
                    items:
                      type: string
                  resourceName:
                    description: Name of the private link policy resource
                    type: string
                  subscriptionId:
                    description: Subscription Identifier
                    type: string
                  resourceGroup:
                    description: Name of the resource group
                    type: string
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                description: Common properties for all Azure resources.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
    patch:
      tags:
      - privateLinkForAzureAd
      operationId: privateLinkForAzureAd_Update
      description: Updates private link policy tags with specified values.
      parameters:
      - name: subscriptionId
        in: path
        description: Azure subscription ID.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: policyName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the private link policy in Azure AD.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Version of the API to be used with the client request.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: 'private Link policy parameters to be updated. '
              properties:
                tags:
                  type: object
                  description: Resource tags to be updated.
                  additionalProperties:
                    type: string
        description: Private Link Policy resource with the tags to be updated.
      responses:
        '200':
          description: OK -- Private Link Policy tags are updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: String Id used to locate any resource on Azure.
                  name:
                    readOnly: false
                    type: string
                    description: Name of this resource.
                  type:
                    readOnly: true
                    type: string
                    description: Type of this resource.
                  ownerTenantId:
                    description: Guid of the owner tenant
                    type: string
                  allTenants:
                    description: Flag indicating whether all tenants are allowed
                    type: boolean
                  tenants:
                    description: The list of tenantIds.
                    type: array
                    items:
                      type: string
                  resourceName:
                    description: Name of the private link policy resource
                    type: string
                  subscriptionId:
                    description: Subscription Identifier
                    type: string
                  resourceGroup:
                    description: Name of the resource group
                    type: string
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                description: Common properties for all Azure resources.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
    get:
      tags:
      - privateLinkForAzureAd
      operationId: privateLinkForAzureAd_Get
      description: Gets a private link policy with a given name.
      parameters:
      - name: subscriptionId
        in: path
        description: Azure subscription ID.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: policyName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the private link policy in Azure AD.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Version of the API to be used with the client request.
        schema:
          type: string
      responses:
        '200':
          description: OK -- Returns information about the private link policy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: String Id used to locate any resource on Azure.
                  name:
                    readOnly: false
                    type: string
                    description: Name of this resource.
                  type:
                    readOnly: true
                    type: string
                    description: Type of this resource.
                  ownerTenantId:
                    description: Guid of the owner tenant
                    type: string
                  allTenants:
                    description: Flag indicating whether all tenants are allowed
                    type: boolean
                  tenants:
                    description: The list of tenantIds.
                    type: array
                    items:
                      type: string
                  resourceName:
                    description: Name of the private link policy resource
                    type: string
                  subscriptionId:
                    description: Subscription Identifier
                    type: string
                  resourceGroup:
                    description: Name of the resource group
                    type: string
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                description: Common properties for all Azure resources.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
    delete:
      tags:
      - privateLinkForAzureAd
      operationId: privateLinkForAzureAd_Delete
      description: Deletes a private link policy. When operation completes, status
        code 200 returned without content.
      parameters:
      - name: subscriptionId
        in: path
        description: Azure subscription ID.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: policyName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the private link policy in Azure AD.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Version of the API to be used with the client request.
        schema:
          type: string
      responses:
        '200':
          description: OK -- private link policy deleted.
        '204':
          description: private link policy does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
  /subscriptions/{subscriptionId}/providers/microsoft.aadiam/privateLinkForAzureAd:
    get:
      tags:
      - privateLinkForAzureAd
      operationId: privateLinkForAzureAd_ListBySubscription
      description: Lists all  Private Link Policies For AzureAD in the given subscription.
      parameters:
      - name: subscriptionId
        in: path
        description: Azure subscription ID.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Version of the API to be used with the client request.
        schema:
          type: string
      responses:
        '200':
          description: OK -- Returns a list of private link policies.
          content:
            application/json:
              schema:
                description: A list of private link policies
                type: object
                properties:
                  value:
                    type: array
                    description: Array of private link policies
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: String Id used to locate any resource on Azure.
                        name:
                          readOnly: false
                          type: string
                          description: Name of this resource.
                        type:
                          readOnly: true
                          type: string
                          description: Type of this resource.
                        ownerTenantId:
                          description: Guid of the owner tenant
                          type: string
                        allTenants:
                          description: Flag indicating whether all tenants are allowed
                          type: boolean
                        tenants:
                          description: The list of tenantIds.
                          type: array
                          items:
                            type: string
                        resourceName:
                          description: Name of the private link policy resource
                          type: string
                        subscriptionId:
                          description: Subscription Identifier
                          type: string
                        resourceGroup:
                          description: Name of the resource group
                          type: string
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                      description: Common properties for all Azure resources.
                      x-ms-azure-resource: true
                  nextLink:
                    description: The link used to get the next page of operations.
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.aadiam/privateLinkForAzureAd:
    get:
      tags:
      - privateLinkForAzureAd
      operationId: privateLinkForAzureAd_List
      description: Operation to return the list of Private Link Policies For AzureAD
        scoped to the resourceGroup.
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - name: subscriptionId
        in: path
        description: Azure subscription ID.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Version of the API to be used with the client request.
        schema:
          type: string
      responses:
        '200':
          description: Successful request to get list of Private Links configuration
            objects For AzureAD.
          content:
            application/json:
              schema:
                description: A list of private link policies
                type: object
                properties:
                  value:
                    type: array
                    description: Array of private link policies
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: String Id used to locate any resource on Azure.
                        name:
                          readOnly: false
                          type: string
                          description: Name of this resource.
                        type:
                          readOnly: true
                          type: string
                          description: Type of this resource.
                        ownerTenantId:
                          description: Guid of the owner tenant
                          type: string
                        allTenants:
                          description: Flag indicating whether all tenants are allowed
                          type: boolean
                        tenants:
                          description: The list of tenantIds.
                          type: array
                          items:
                            type: string
                        resourceName:
                          description: Name of the private link policy resource
                          type: string
                        subscriptionId:
                          description: Subscription Identifier
                          type: string
                        resourceGroup:
                          description: Name of the resource group
                          type: string
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                      description: Common properties for all Azure resources.
                      x-ms-azure-resource: true
                  nextLink:
                    description: The link used to get the next page of operations.
                    type: string
        default:
          description: Error, failed to get list of Private Links For AzureAD.
          content:
            application/json:
              schema:
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
components:
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Azure subscription ID.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      required: true
      x-ms-parameter-location: client
      description: Version of the API to be used with the client request.
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of an Azure resource group.
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._\(\)]+$
    policyNameParameter:
      name: policyName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The name of the private link policy in Azure AD.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    privateLinkPolicyListResult:
      description: A list of private link policies
      type: object
      properties:
        value:
          type: array
          description: Array of private link policies
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: String Id used to locate any resource on Azure.
              name:
                readOnly: false
                type: string
                description: Name of this resource.
              type:
                readOnly: true
                type: string
                description: Type of this resource.
              ownerTenantId:
                description: Guid of the owner tenant
                type: string
              allTenants:
                description: Flag indicating whether all tenants are allowed
                type: boolean
              tenants:
                description: The list of tenantIds.
                type: array
                items:
                  type: string
              resourceName:
                description: Name of the private link policy resource
                type: string
              subscriptionId:
                description: Subscription Identifier
                type: string
              resourceGroup:
                description: Name of the resource group
                type: string
              tags:
                type: object
                description: Resource tags.
                additionalProperties:
                  type: string
            description: Common properties for all Azure resources.
            x-ms-azure-resource: true
        nextLink:
          description: The link used to get the next page of operations.
          type: string
    privateLinkPolicy:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: String Id used to locate any resource on Azure.
        name:
          readOnly: false
          type: string
          description: Name of this resource.
        type:
          readOnly: true
          type: string
          description: Type of this resource.
        ownerTenantId:
          description: Guid of the owner tenant
          type: string
        allTenants:
          description: Flag indicating whether all tenants are allowed
          type: boolean
        tenants:
          description: The list of tenantIds.
          type: array
          items:
            type: string
        resourceName:
          description: Name of the private link policy resource
          type: string
        subscriptionId:
          description: Subscription Identifier
          type: string
        resourceGroup:
          description: Name of the resource group
          type: string
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
      description: Common properties for all Azure resources.
      x-ms-azure-resource: true
    AzureResourceBase:
      x-ms-azure-resource: true
      type: object
      description: Common properties for all Azure resources.
      properties:
        id:
          readOnly: true
          type: string
          description: String Id used to locate any resource on Azure.
        name:
          readOnly: false
          type: string
          description: Name of this resource.
        type:
          readOnly: true
          type: string
          description: Type of this resource.
    privateLinkPolicyUpdateParameter:
      type: object
      description: 'private Link policy parameters to be updated. '
      properties:
        tags:
          type: object
          description: Resource tags to be updated.
          additionalProperties:
            type: string
    ErrorDefinition:
      description: Error definition.
      properties:
        code:
          description: Service specific error code which serves as the substatus for
            the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            description: Error definition.
            properties:
              code:
                description: Service specific error code which serves as the substatus
                  for the HTTP error code.
                type: string
                readOnly: true
              message:
                description: Description of the error.
                type: string
                readOnly: true
              details:
                description: Internal error details.
                type: array
                items:
                  description: Error definition.
                  properties:
                    code:
                      description: Service specific error code which serves as the
                        substatus for the HTTP error code.
                      type: string
                      readOnly: true
                    message:
                      description: Description of the error.
                      type: string
                      readOnly: true
                x-ms-identifiers: []
                readOnly: true
          x-ms-identifiers: []
          readOnly: true
    ErrorResponse:
      description: Error response.
      properties:
        error:
          description: The error details.
          properties:
            code:
              description: Service specific error code which serves as the substatus
                for the HTTP error code.
              type: string
              readOnly: true
            message:
              description: Description of the error.
              type: string
              readOnly: true
            details:
              description: Internal error details.
              type: array
              items:
                description: Error definition.
                properties:
                  code:
                    description: Service specific error code which serves as the substatus
                      for the HTTP error code.
                    type: string
                    readOnly: true
                  message:
                    description: Description of the error.
                    type: string
                    readOnly: true
                  details:
                    description: Internal error details.
                    type: array
                    items:
                      description: Error definition.
                      properties:
                        code:
                          description: Service specific error code which serves as
                            the substatus for the HTTP error code.
                          type: string
                          readOnly: true
                        message:
                          description: Description of the error.
                          type: string
                          readOnly: true
                    x-ms-identifiers: []
                    readOnly: true
              x-ms-identifiers: []
              readOnly: true
