openapi: 3.0.0
info:
  title: Azure Monitor Workspaces Control Plane API
  description: Provides operations for working with Azure Monitor Workspaces
  version: 2023-04-03
  x-ms-code-generation-settings:
    name: MonitorManagementClient
  contact:
    email: obsaccounts@microsoft.com
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: AzureMonitorWorkspaces
  description: A management operation for microsoft.monitor/accounts
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts:
    get:
      tags:
      - AzureMonitorWorkspaces
      description: Lists all Azure Monitor Workspaces in the specified resource group
      operationId: AzureMonitorWorkspaces_ListByResourceGroup
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Request completed successfully
          content:
            application/json:
              schema:
                description: A pageable list of resources
                required:
                - value
                type: object
                properties:
                  value:
                    description: A list of resources
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          type: object
                          properties:
                            accountId:
                              description: The immutable Id of the Azure Monitor Workspace.
                                This property is read-only.
                              type: string
                              readOnly: true
                              x-ms-mutability:
                              - read
                            metrics:
                              type: object
                              properties:
                                prometheusQueryEndpoint:
                                  description: The Prometheus query endpoint for the
                                    Azure Monitor Workspace
                                  type: string
                                  readOnly: true
                                  x-ms-mutability:
                                  - read
                                internalId:
                                  description: An internal identifier for the metrics
                                    container. Only to be used by the system
                                  type: string
                                  readOnly: true
                                  x-ms-mutability:
                                  - read
                              description: Properties related to the metrics container
                                in the Azure Monitor Workspace
                              readOnly: true
                              x-ms-mutability:
                              - read
                            provisioningState:
                              description: The provisioning state of the Azure Monitor
                                Workspace. Set to Succeeded if everything is healthy.
                              enum:
                              - Creating
                              - Succeeded
                              - Deleting
                              - Failed
                              - Canceled
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                              x-ms-mutability:
                              - read
                            defaultIngestionSettings:
                              type: object
                              properties:
                                dataCollectionRuleResourceId:
                                  description: The Azure resource Id of the default
                                    data collection rule for this Azure Monitor Workspace.
                                  type: string
                                  readOnly: true
                                  x-ms-mutability:
                                  - read
                                dataCollectionEndpointResourceId:
                                  description: The Azure resource Id of the default
                                    data collection endpoint for this Azure Monitor
                                    Workspace.
                                  type: string
                                  readOnly: true
                                  x-ms-mutability:
                                  - read
                              description: Settings for data ingestion
                              readOnly: true
                              x-ms-mutability:
                              - read
                            privateEndpointConnections:
                              description: List of private endpoint connections
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    format: arm-id
                                    description: Fully qualified resource ID for the
                                      resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                                    readOnly: true
                                  name:
                                    type: string
                                    description: The name of the resource
                                    readOnly: true
                                  type:
                                    type: string
                                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                      or "Microsoft.Storage/storageAccounts"
                                    readOnly: true
                                  systemData:
                                    type: object
                                    description: Azure Resource Manager metadata containing
                                      createdBy and modifiedBy information.
                                    readOnly: true
                                    properties:
                                      createdBy:
                                        type: string
                                        description: The identity that created the
                                          resource.
                                      createdByType:
                                        type: string
                                        description: The type of identity that created
                                          the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      createdAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource creation
                                          (UTC).
                                      lastModifiedBy:
                                        type: string
                                        description: The identity that last modified
                                          the resource.
                                      lastModifiedByType:
                                        type: string
                                        description: The type of identity that last
                                          modified the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      lastModifiedAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource last
                                          modification (UTC)
                                  properties:
                                    description: Resource properties.
                                    x-ms-client-flatten: true
                                    type: object
                                    properties:
                                      groupIds:
                                        type: array
                                        description: The group ids for the private
                                          endpoint resource.
                                        items:
                                          type: string
                                        readOnly: true
                                      privateEndpoint:
                                        description: The private endpoint resource.
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                            description: The ARM identifier for private
                                              endpoint.
                                            readOnly: true
                                      privateLinkServiceConnectionState:
                                        description: A collection of information about
                                          the state of the connection between service
                                          consumer and provider.
                                        type: object
                                        properties:
                                          status:
                                            description: Indicates whether the connection
                                              has been Approved/Rejected/Removed by
                                              the owner of the service.
                                            type: string
                                            enum:
                                            - Pending
                                            - Approved
                                            - Rejected
                                            x-ms-enum:
                                              name: PrivateEndpointServiceConnectionStatus
                                              modelAsString: true
                                          description:
                                            type: string
                                            description: The reason for approval/rejection
                                              of the connection.
                                          actionsRequired:
                                            type: string
                                            description: A message indicating if changes
                                              on the service provider require any
                                              updates on the consumer.
                                      provisioningState:
                                        description: The provisioning state of the
                                          private endpoint connection resource.
                                        type: string
                                        enum:
                                        - Succeeded
                                        - Creating
                                        - Deleting
                                        - Failed
                                        x-ms-enum:
                                          name: PrivateEndpointConnectionProvisioningState
                                          modelAsString: true
                                        readOnly: true
                                    required:
                                    - privateLinkServiceConnectionState
                                title: Resource
                                description: Common fields that are returned in the
                                  response for all Azure Resource Manager resources
                                x-ms-azure-resource: true
                              readOnly: true
                              x-ms-mutability:
                              - read
                              x-ms-identifiers:
                              - id
                            publicNetworkAccess:
                              description: Gets or sets allow or disallow public network
                                access to Azure Monitor Workspace
                              enum:
                              - Enabled
                              - Disabled
                              type: string
                              x-ms-enum:
                                name: PublicNetworkAccess
                                modelAsString: true
                              x-ms-mutability:
                              - create
                              - read
                              - update
                          description: Properties of an Azure Monitor Workspace
                          x-ms-client-flatten: true
                        etag:
                          description: Resource entity tag (ETag)
                          type: string
                          readOnly: true
                          x-ms-mutability:
                          - read
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: The URL to use for getting the next set of results
                    type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Monitor/accounts:
    get:
      tags:
      - AzureMonitorWorkspaces
      description: Lists all Azure Monitor Workspaces in the specified subscription
      operationId: AzureMonitorWorkspaces_ListBySubscription
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Request completed successfully
          content:
            application/json:
              schema:
                description: A pageable list of resources
                required:
                - value
                type: object
                properties:
                  value:
                    description: A list of resources
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          type: object
                          properties:
                            accountId:
                              description: The immutable Id of the Azure Monitor Workspace.
                                This property is read-only.
                              type: string
                              readOnly: true
                              x-ms-mutability:
                              - read
                            metrics:
                              type: object
                              properties:
                                prometheusQueryEndpoint:
                                  description: The Prometheus query endpoint for the
                                    Azure Monitor Workspace
                                  type: string
                                  readOnly: true
                                  x-ms-mutability:
                                  - read
                                internalId:
                                  description: An internal identifier for the metrics
                                    container. Only to be used by the system
                                  type: string
                                  readOnly: true
                                  x-ms-mutability:
                                  - read
                              description: Properties related to the metrics container
                                in the Azure Monitor Workspace
                              readOnly: true
                              x-ms-mutability:
                              - read
                            provisioningState:
                              description: The provisioning state of the Azure Monitor
                                Workspace. Set to Succeeded if everything is healthy.
                              enum:
                              - Creating
                              - Succeeded
                              - Deleting
                              - Failed
                              - Canceled
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                              x-ms-mutability:
                              - read
                            defaultIngestionSettings:
                              type: object
                              properties:
                                dataCollectionRuleResourceId:
                                  description: The Azure resource Id of the default
                                    data collection rule for this Azure Monitor Workspace.
                                  type: string
                                  readOnly: true
                                  x-ms-mutability:
                                  - read
                                dataCollectionEndpointResourceId:
                                  description: The Azure resource Id of the default
                                    data collection endpoint for this Azure Monitor
                                    Workspace.
                                  type: string
                                  readOnly: true
                                  x-ms-mutability:
                                  - read
                              description: Settings for data ingestion
                              readOnly: true
                              x-ms-mutability:
                              - read
                            privateEndpointConnections:
                              description: List of private endpoint connections
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    format: arm-id
                                    description: Fully qualified resource ID for the
                                      resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                                    readOnly: true
                                  name:
                                    type: string
                                    description: The name of the resource
                                    readOnly: true
                                  type:
                                    type: string
                                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                      or "Microsoft.Storage/storageAccounts"
                                    readOnly: true
                                  systemData:
                                    type: object
                                    description: Azure Resource Manager metadata containing
                                      createdBy and modifiedBy information.
                                    readOnly: true
                                    properties:
                                      createdBy:
                                        type: string
                                        description: The identity that created the
                                          resource.
                                      createdByType:
                                        type: string
                                        description: The type of identity that created
                                          the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      createdAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource creation
                                          (UTC).
                                      lastModifiedBy:
                                        type: string
                                        description: The identity that last modified
                                          the resource.
                                      lastModifiedByType:
                                        type: string
                                        description: The type of identity that last
                                          modified the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      lastModifiedAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource last
                                          modification (UTC)
                                  properties:
                                    description: Resource properties.
                                    x-ms-client-flatten: true
                                    type: object
                                    properties:
                                      groupIds:
                                        type: array
                                        description: The group ids for the private
                                          endpoint resource.
                                        items:
                                          type: string
                                        readOnly: true
                                      privateEndpoint:
                                        description: The private endpoint resource.
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                            description: The ARM identifier for private
                                              endpoint.
                                            readOnly: true
                                      privateLinkServiceConnectionState:
                                        description: A collection of information about
                                          the state of the connection between service
                                          consumer and provider.
                                        type: object
                                        properties:
                                          status:
                                            description: Indicates whether the connection
                                              has been Approved/Rejected/Removed by
                                              the owner of the service.
                                            type: string
                                            enum:
                                            - Pending
                                            - Approved
                                            - Rejected
                                            x-ms-enum:
                                              name: PrivateEndpointServiceConnectionStatus
                                              modelAsString: true
                                          description:
                                            type: string
                                            description: The reason for approval/rejection
                                              of the connection.
                                          actionsRequired:
                                            type: string
                                            description: A message indicating if changes
                                              on the service provider require any
                                              updates on the consumer.
                                      provisioningState:
                                        description: The provisioning state of the
                                          private endpoint connection resource.
                                        type: string
                                        enum:
                                        - Succeeded
                                        - Creating
                                        - Deleting
                                        - Failed
                                        x-ms-enum:
                                          name: PrivateEndpointConnectionProvisioningState
                                          modelAsString: true
                                        readOnly: true
                                    required:
                                    - privateLinkServiceConnectionState
                                title: Resource
                                description: Common fields that are returned in the
                                  response for all Azure Resource Manager resources
                                x-ms-azure-resource: true
                              readOnly: true
                              x-ms-mutability:
                              - read
                              x-ms-identifiers:
                              - id
                            publicNetworkAccess:
                              description: Gets or sets allow or disallow public network
                                access to Azure Monitor Workspace
                              enum:
                              - Enabled
                              - Disabled
                              type: string
                              x-ms-enum:
                                name: PublicNetworkAccess
                                modelAsString: true
                              x-ms-mutability:
                              - create
                              - read
                              - update
                          description: Properties of an Azure Monitor Workspace
                          x-ms-client-flatten: true
                        etag:
                          description: Resource entity tag (ETag)
                          type: string
                          readOnly: true
                          x-ms-mutability:
                          - read
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: The URL to use for getting the next set of results
                    type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}
  : get:
      tags:
      - AzureMonitorWorkspaces
      description: Returns the specified Azure Monitor Workspace
      operationId: AzureMonitorWorkspaces_Get
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - in: path
        name: azureMonitorWorkspaceName
        description: The name of the Azure Monitor Workspace. The name is case insensitive
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^(?!-)[a-zA-Z0-9-]+[^-]$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Request completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      accountId:
                        description: The immutable Id of the Azure Monitor Workspace.
                          This property is read-only.
                        type: string
                        readOnly: true
                        x-ms-mutability:
                        - read
                      metrics:
                        type: object
                        properties:
                          prometheusQueryEndpoint:
                            description: The Prometheus query endpoint for the Azure
                              Monitor Workspace
                            type: string
                            readOnly: true
                            x-ms-mutability:
                            - read
                          internalId:
                            description: An internal identifier for the metrics container.
                              Only to be used by the system
                            type: string
                            readOnly: true
                            x-ms-mutability:
                            - read
                        description: Properties related to the metrics container in
                          the Azure Monitor Workspace
                        readOnly: true
                        x-ms-mutability:
                        - read
                      provisioningState:
                        description: The provisioning state of the Azure Monitor Workspace.
                          Set to Succeeded if everything is healthy.
                        enum:
                        - Creating
                        - Succeeded
                        - Deleting
                        - Failed
                        - Canceled
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        x-ms-mutability:
                        - read
                      defaultIngestionSettings:
                        type: object
                        properties:
                          dataCollectionRuleResourceId:
                            description: The Azure resource Id of the default data
                              collection rule for this Azure Monitor Workspace.
                            type: string
                            readOnly: true
                            x-ms-mutability:
                            - read
                          dataCollectionEndpointResourceId:
                            description: The Azure resource Id of the default data
                              collection endpoint for this Azure Monitor Workspace.
                            type: string
                            readOnly: true
                            x-ms-mutability:
                            - read
                        description: Settings for data ingestion
                        readOnly: true
                        x-ms-mutability:
                        - read
                      privateEndpointConnections:
                        description: List of private endpoint connections
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: arm-id
                              description: Fully qualified resource ID for the resource.
                                E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                              readOnly: true
                            name:
                              type: string
                              description: The name of the resource
                              readOnly: true
                            type:
                              type: string
                              description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                or "Microsoft.Storage/storageAccounts"
                              readOnly: true
                            systemData:
                              type: object
                              description: Azure Resource Manager metadata containing
                                createdBy and modifiedBy information.
                              readOnly: true
                              properties:
                                createdBy:
                                  type: string
                                  description: The identity that created the resource.
                                createdByType:
                                  type: string
                                  description: The type of identity that created the
                                    resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                createdAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource creation
                                    (UTC).
                                lastModifiedBy:
                                  type: string
                                  description: The identity that last modified the
                                    resource.
                                lastModifiedByType:
                                  type: string
                                  description: The type of identity that last modified
                                    the resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                lastModifiedAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource last modification
                                    (UTC)
                            properties:
                              description: Resource properties.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                groupIds:
                                  type: array
                                  description: The group ids for the private endpoint
                                    resource.
                                  items:
                                    type: string
                                  readOnly: true
                                privateEndpoint:
                                  description: The private endpoint resource.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: The ARM identifier for private
                                        endpoint.
                                      readOnly: true
                                privateLinkServiceConnectionState:
                                  description: A collection of information about the
                                    state of the connection between service consumer
                                    and provider.
                                  type: object
                                  properties:
                                    status:
                                      description: Indicates whether the connection
                                        has been Approved/Rejected/Removed by the
                                        owner of the service.
                                      type: string
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      x-ms-enum:
                                        name: PrivateEndpointServiceConnectionStatus
                                        modelAsString: true
                                    description:
                                      type: string
                                      description: The reason for approval/rejection
                                        of the connection.
                                    actionsRequired:
                                      type: string
                                      description: A message indicating if changes
                                        on the service provider require any updates
                                        on the consumer.
                                provisioningState:
                                  description: The provisioning state of the private
                                    endpoint connection resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Creating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: PrivateEndpointConnectionProvisioningState
                                    modelAsString: true
                                  readOnly: true
                              required:
                              - privateLinkServiceConnectionState
                          title: Resource
                          description: Common fields that are returned in the response
                            for all Azure Resource Manager resources
                          x-ms-azure-resource: true
                        readOnly: true
                        x-ms-mutability:
                        - read
                        x-ms-identifiers:
                        - id
                      publicNetworkAccess:
                        description: Gets or sets allow or disallow public network
                          access to Azure Monitor Workspace
                        enum:
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: PublicNetworkAccess
                          modelAsString: true
                        x-ms-mutability:
                        - create
                        - read
                        - update
                    description: Properties of an Azure Monitor Workspace
                    x-ms-client-flatten: true
                  etag:
                    description: Resource entity tag (ETag)
                    type: string
                    readOnly: true
                    x-ms-mutability:
                    - read
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - AzureMonitorWorkspaces
      description: Creates or updates an Azure Monitor Workspace
      operationId: AzureMonitorWorkspaces_Create
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - in: path
        name: azureMonitorWorkspaceName
        description: The name of the Azure Monitor Workspace. The name is case insensitive
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^(?!-)[a-zA-Z0-9-]+[^-]$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  type: object
                  properties:
                    accountId:
                      description: The immutable Id of the Azure Monitor Workspace.
                        This property is read-only.
                      type: string
                      readOnly: true
                      x-ms-mutability:
                      - read
                    metrics:
                      type: object
                      properties:
                        prometheusQueryEndpoint:
                          description: The Prometheus query endpoint for the Azure
                            Monitor Workspace
                          type: string
                          readOnly: true
                          x-ms-mutability:
                          - read
                        internalId:
                          description: An internal identifier for the metrics container.
                            Only to be used by the system
                          type: string
                          readOnly: true
                          x-ms-mutability:
                          - read
                      description: Properties related to the metrics container in
                        the Azure Monitor Workspace
                      readOnly: true
                      x-ms-mutability:
                      - read
                    provisioningState:
                      description: The provisioning state of the Azure Monitor Workspace.
                        Set to Succeeded if everything is healthy.
                      enum:
                      - Creating
                      - Succeeded
                      - Deleting
                      - Failed
                      - Canceled
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                      x-ms-mutability:
                      - read
                    defaultIngestionSettings:
                      type: object
                      properties:
                        dataCollectionRuleResourceId:
                          description: The Azure resource Id of the default data collection
                            rule for this Azure Monitor Workspace.
                          type: string
                          readOnly: true
                          x-ms-mutability:
                          - read
                        dataCollectionEndpointResourceId:
                          description: The Azure resource Id of the default data collection
                            endpoint for this Azure Monitor Workspace.
                          type: string
                          readOnly: true
                          x-ms-mutability:
                          - read
                      description: Settings for data ingestion
                      readOnly: true
                      x-ms-mutability:
                      - read
                    privateEndpointConnections:
                      description: List of private endpoint connections
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            format: arm-id
                            description: Fully qualified resource ID for the resource.
                              E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                            readOnly: true
                          name:
                            type: string
                            description: The name of the resource
                            readOnly: true
                          type:
                            type: string
                            description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                              or "Microsoft.Storage/storageAccounts"
                            readOnly: true
                          systemData:
                            type: object
                            description: Azure Resource Manager metadata containing
                              createdBy and modifiedBy information.
                            readOnly: true
                            properties:
                              createdBy:
                                type: string
                                description: The identity that created the resource.
                              createdByType:
                                type: string
                                description: The type of identity that created the
                                  resource.
                                enum:
                                - User
                                - Application
                                - ManagedIdentity
                                - Key
                                x-ms-enum:
                                  name: createdByType
                                  modelAsString: true
                              createdAt:
                                type: string
                                format: date-time
                                description: The timestamp of resource creation (UTC).
                              lastModifiedBy:
                                type: string
                                description: The identity that last modified the resource.
                              lastModifiedByType:
                                type: string
                                description: The type of identity that last modified
                                  the resource.
                                enum:
                                - User
                                - Application
                                - ManagedIdentity
                                - Key
                                x-ms-enum:
                                  name: createdByType
                                  modelAsString: true
                              lastModifiedAt:
                                type: string
                                format: date-time
                                description: The timestamp of resource last modification
                                  (UTC)
                          properties:
                            description: Resource properties.
                            x-ms-client-flatten: true
                            type: object
                            properties:
                              groupIds:
                                type: array
                                description: The group ids for the private endpoint
                                  resource.
                                items:
                                  type: string
                                readOnly: true
                              privateEndpoint:
                                description: The private endpoint resource.
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: The ARM identifier for private endpoint.
                                    readOnly: true
                              privateLinkServiceConnectionState:
                                description: A collection of information about the
                                  state of the connection between service consumer
                                  and provider.
                                type: object
                                properties:
                                  status:
                                    description: Indicates whether the connection
                                      has been Approved/Rejected/Removed by the owner
                                      of the service.
                                    type: string
                                    enum:
                                    - Pending
                                    - Approved
                                    - Rejected
                                    x-ms-enum:
                                      name: PrivateEndpointServiceConnectionStatus
                                      modelAsString: true
                                  description:
                                    type: string
                                    description: The reason for approval/rejection
                                      of the connection.
                                  actionsRequired:
                                    type: string
                                    description: A message indicating if changes on
                                      the service provider require any updates on
                                      the consumer.
                              provisioningState:
                                description: The provisioning state of the private
                                  endpoint connection resource.
                                type: string
                                enum:
                                - Succeeded
                                - Creating
                                - Deleting
                                - Failed
                                x-ms-enum:
                                  name: PrivateEndpointConnectionProvisioningState
                                  modelAsString: true
                                readOnly: true
                            required:
                            - privateLinkServiceConnectionState
                        title: Resource
                        description: Common fields that are returned in the response
                          for all Azure Resource Manager resources
                        x-ms-azure-resource: true
                      readOnly: true
                      x-ms-mutability:
                      - read
                      x-ms-identifiers:
                      - id
                    publicNetworkAccess:
                      description: Gets or sets allow or disallow public network access
                        to Azure Monitor Workspace
                      enum:
                      - Enabled
                      - Disabled
                      type: string
                      x-ms-enum:
                        name: PublicNetworkAccess
                        modelAsString: true
                      x-ms-mutability:
                      - create
                      - read
                      - update
                  description: Properties of an Azure Monitor Workspace
                  x-ms-client-flatten: true
                etag:
                  description: Resource entity tag (ETag)
                  type: string
                  readOnly: true
                  x-ms-mutability:
                  - read
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Properties that need to be specified to create a new Azure Monitor
          Workspace
        required: true
      responses:
        '200':
          description: Azure Monitor Workspace was successfully updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      accountId:
                        description: The immutable Id of the Azure Monitor Workspace.
                          This property is read-only.
                        type: string
                        readOnly: true
                        x-ms-mutability:
                        - read
                      metrics:
                        type: object
                        properties:
                          prometheusQueryEndpoint:
                            description: The Prometheus query endpoint for the Azure
                              Monitor Workspace
                            type: string
                            readOnly: true
                            x-ms-mutability:
                            - read
                          internalId:
                            description: An internal identifier for the metrics container.
                              Only to be used by the system
                            type: string
                            readOnly: true
                            x-ms-mutability:
                            - read
                        description: Properties related to the metrics container in
                          the Azure Monitor Workspace
                        readOnly: true
                        x-ms-mutability:
                        - read
                      provisioningState:
                        description: The provisioning state of the Azure Monitor Workspace.
                          Set to Succeeded if everything is healthy.
                        enum:
                        - Creating
                        - Succeeded
                        - Deleting
                        - Failed
                        - Canceled
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        x-ms-mutability:
                        - read
                      defaultIngestionSettings:
                        type: object
                        properties:
                          dataCollectionRuleResourceId:
                            description: The Azure resource Id of the default data
                              collection rule for this Azure Monitor Workspace.
                            type: string
                            readOnly: true
                            x-ms-mutability:
                            - read
                          dataCollectionEndpointResourceId:
                            description: The Azure resource Id of the default data
                              collection endpoint for this Azure Monitor Workspace.
                            type: string
                            readOnly: true
                            x-ms-mutability:
                            - read
                        description: Settings for data ingestion
                        readOnly: true
                        x-ms-mutability:
                        - read
                      privateEndpointConnections:
                        description: List of private endpoint connections
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: arm-id
                              description: Fully qualified resource ID for the resource.
                                E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                              readOnly: true
                            name:
                              type: string
                              description: The name of the resource
                              readOnly: true
                            type:
                              type: string
                              description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                or "Microsoft.Storage/storageAccounts"
                              readOnly: true
                            systemData:
                              type: object
                              description: Azure Resource Manager metadata containing
                                createdBy and modifiedBy information.
                              readOnly: true
                              properties:
                                createdBy:
                                  type: string
                                  description: The identity that created the resource.
                                createdByType:
                                  type: string
                                  description: The type of identity that created the
                                    resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                createdAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource creation
                                    (UTC).
                                lastModifiedBy:
                                  type: string
                                  description: The identity that last modified the
                                    resource.
                                lastModifiedByType:
                                  type: string
                                  description: The type of identity that last modified
                                    the resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                lastModifiedAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource last modification
                                    (UTC)
                            properties:
                              description: Resource properties.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                groupIds:
                                  type: array
                                  description: The group ids for the private endpoint
                                    resource.
                                  items:
                                    type: string
                                  readOnly: true
                                privateEndpoint:
                                  description: The private endpoint resource.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: The ARM identifier for private
                                        endpoint.
                                      readOnly: true
                                privateLinkServiceConnectionState:
                                  description: A collection of information about the
                                    state of the connection between service consumer
                                    and provider.
                                  type: object
                                  properties:
                                    status:
                                      description: Indicates whether the connection
                                        has been Approved/Rejected/Removed by the
                                        owner of the service.
                                      type: string
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      x-ms-enum:
                                        name: PrivateEndpointServiceConnectionStatus
                                        modelAsString: true
                                    description:
                                      type: string
                                      description: The reason for approval/rejection
                                        of the connection.
                                    actionsRequired:
                                      type: string
                                      description: A message indicating if changes
                                        on the service provider require any updates
                                        on the consumer.
                                provisioningState:
                                  description: The provisioning state of the private
                                    endpoint connection resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Creating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: PrivateEndpointConnectionProvisioningState
                                    modelAsString: true
                                  readOnly: true
                              required:
                              - privateLinkServiceConnectionState
                          title: Resource
                          description: Common fields that are returned in the response
                            for all Azure Resource Manager resources
                          x-ms-azure-resource: true
                        readOnly: true
                        x-ms-mutability:
                        - read
                        x-ms-identifiers:
                        - id
                      publicNetworkAccess:
                        description: Gets or sets allow or disallow public network
                          access to Azure Monitor Workspace
                        enum:
[...]
