openapi: 3.0.0
info:
  title: Azure Log Analytics - Operations Management
  description: Azure Log Analytics API reference for Solution.
  version: 2015-11-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationsManagement/solutions/{solutionName}
  : put:
      tags:
      - Solution
      x-ms-long-running-operation: true
      operationId: Solutions_CreateOrUpdate
      summary: Create/Update Solution.
      description: Creates or updates the Solution.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the resource group to get. The name is case insensitive.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - x-ms-parameter-location: method
        name: solutionName
        in: path
        required: true
        description: User Solution Name.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                location:
                  type: string
                  description: Resource location
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                plan:
                  description: Plan for solution object supported by the OperationsManagement
                    resource provider.
                  properties:
                    name:
                      type: string
                      description: name of the solution to be created. For Microsoft
                        published solution it should be in the format of solutionType(workspaceName).
                        SolutionType part is case sensitive. For third party solution,
                        it can be anything.
                    publisher:
                      type: string
                      description: Publisher name. For gallery solution, it is Microsoft.
                    promotionCode:
                      type: string
                      description: promotionCode, Not really used now, can you left
                        as empty
                    product:
                      type: string
                      description: name of the solution to enabled/add. For Microsoft
                        published gallery solution it should be in the format of OMSGallery/<solutionType>.
                        This is case sensitive
                properties:
                  description: Properties for solution object supported by the OperationsManagement
                    resource provider.
                  properties:
                    workspaceResourceId:
                      type: string
                      description: The azure resourceId for the workspace where the
                        solution will be deployed/enabled.
                    provisioningState:
                      type: string
                      description: The provisioning state for the solution.
                      readOnly: true
                    containedResources:
                      type: array
                      items:
                        type: string
                        description: the azure resourceId of the resource.
                      description: The azure resources that will be contained within
                        the solutions. They will be locked and gets deleted automatically
                        when the solution is deleted.
                    referencedResources:
                      type: array
                      items:
                        type: string
                        description: the azure resourceId of the resource.
                      description: The resources that will be referenced from this
                        solution. Deleting any of those solution out of band will
                        break the solution.
                  required:
                  - workspaceResourceId
                  x-ms-azure-resource: true
              description: The container for solution.
              x-ms-azure-resource: true
        description: The parameters required to create OMS Solution.
        required: true
      responses:
        '201':
          description: Created response definition.
          content:
            application/json:
              schema:
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  plan:
                    description: Plan for solution object supported by the OperationsManagement
                      resource provider.
                    properties:
                      name:
                        type: string
                        description: name of the solution to be created. For Microsoft
                          published solution it should be in the format of solutionType(workspaceName).
                          SolutionType part is case sensitive. For third party solution,
                          it can be anything.
                      publisher:
                        type: string
                        description: Publisher name. For gallery solution, it is Microsoft.
                      promotionCode:
                        type: string
                        description: promotionCode, Not really used now, can you left
                          as empty
                      product:
                        type: string
                        description: name of the solution to enabled/add. For Microsoft
                          published gallery solution it should be in the format of
                          OMSGallery/<solutionType>. This is case sensitive
                  properties:
                    description: Properties for solution object supported by the OperationsManagement
                      resource provider.
                    properties:
                      workspaceResourceId:
                        type: string
                        description: The azure resourceId for the workspace where
                          the solution will be deployed/enabled.
                      provisioningState:
                        type: string
                        description: The provisioning state for the solution.
                        readOnly: true
                      containedResources:
                        type: array
                        items:
                          type: string
                          description: the azure resourceId of the resource.
                        description: The azure resources that will be contained within
                          the solutions. They will be locked and gets deleted automatically
                          when the solution is deleted.
                      referencedResources:
                        type: array
                        items:
                          type: string
                          description: the azure resourceId of the resource.
                        description: The resources that will be referenced from this
                          solution. Deleting any of those solution out of band will
                          break the solution.
                    required:
                    - workspaceResourceId
                    x-ms-azure-resource: true
                description: The container for solution.
                x-ms-azure-resource: true
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error type.
                      message:
                        type: string
                        description: The error message.
                    description: The error details for a failed request.
                description: The error body contract.
    patch:
      tags:
      - Solution
      x-ms-long-running-operation: true
      operationId: Solutions_Update
      summary: Patch a Solution.
      description: Patch a Solution. Only updating tags supported.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the resource group to get. The name is case insensitive.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - x-ms-parameter-location: method
        name: solutionName
        in: path
        required: true
        description: User Solution Name.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
              description: The properties of a Solution that can be patched.
              x-ms-azure-resource: true
        description: The parameters required to patch a Solution.
        required: true
      responses:
        '200':
          description: Patch succeeded.
          content:
            application/json:
              schema:
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  plan:
                    description: Plan for solution object supported by the OperationsManagement
                      resource provider.
                    properties:
                      name:
                        type: string
                        description: name of the solution to be created. For Microsoft
                          published solution it should be in the format of solutionType(workspaceName).
                          SolutionType part is case sensitive. For third party solution,
                          it can be anything.
                      publisher:
                        type: string
                        description: Publisher name. For gallery solution, it is Microsoft.
                      promotionCode:
                        type: string
                        description: promotionCode, Not really used now, can you left
                          as empty
                      product:
                        type: string
                        description: name of the solution to enabled/add. For Microsoft
                          published gallery solution it should be in the format of
                          OMSGallery/<solutionType>. This is case sensitive
                  properties:
                    description: Properties for solution object supported by the OperationsManagement
                      resource provider.
                    properties:
                      workspaceResourceId:
                        type: string
                        description: The azure resourceId for the workspace where
                          the solution will be deployed/enabled.
                      provisioningState:
                        type: string
                        description: The provisioning state for the solution.
                        readOnly: true
                      containedResources:
                        type: array
                        items:
                          type: string
                          description: the azure resourceId of the resource.
                        description: The azure resources that will be contained within
                          the solutions. They will be locked and gets deleted automatically
                          when the solution is deleted.
                      referencedResources:
                        type: array
                        items:
                          type: string
                          description: the azure resourceId of the resource.
                        description: The resources that will be referenced from this
                          solution. Deleting any of those solution out of band will
                          break the solution.
                    required:
                    - workspaceResourceId
                    x-ms-azure-resource: true
                description: The container for solution.
                x-ms-azure-resource: true
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error type.
                      message:
                        type: string
                        description: The error message.
                    description: The error details for a failed request.
                description: The error body contract.
    delete:
      tags:
      - Solution
      x-ms-long-running-operation: true
      operationId: Solutions_Delete
      summary: Deletes the solution
      description: Deletes the solution in the subscription.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the resource group to get. The name is case insensitive.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - x-ms-parameter-location: method
        name: solutionName
        in: path
        required: true
        description: User Solution Name.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK response definition.
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error type.
                      message:
                        type: string
                        description: The error message.
                    description: The error details for a failed request.
                description: The error body contract.
    get:
      tags:
      - Solution
      operationId: Solutions_Get
      summary: Retrieve solution.
      description: Retrieves the user solution.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the resource group to get. The name is case insensitive.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - x-ms-parameter-location: method
        name: solutionName
        in: path
        required: true
        description: User Solution Name.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  plan:
                    description: Plan for solution object supported by the OperationsManagement
                      resource provider.
                    properties:
                      name:
                        type: string
                        description: name of the solution to be created. For Microsoft
                          published solution it should be in the format of solutionType(workspaceName).
                          SolutionType part is case sensitive. For third party solution,
                          it can be anything.
                      publisher:
                        type: string
                        description: Publisher name. For gallery solution, it is Microsoft.
                      promotionCode:
                        type: string
                        description: promotionCode, Not really used now, can you left
                          as empty
                      product:
                        type: string
                        description: name of the solution to enabled/add. For Microsoft
                          published gallery solution it should be in the format of
                          OMSGallery/<solutionType>. This is case sensitive
                  properties:
                    description: Properties for solution object supported by the OperationsManagement
                      resource provider.
                    properties:
                      workspaceResourceId:
                        type: string
                        description: The azure resourceId for the workspace where
                          the solution will be deployed/enabled.
                      provisioningState:
                        type: string
                        description: The provisioning state for the solution.
                        readOnly: true
                      containedResources:
                        type: array
                        items:
                          type: string
                          description: the azure resourceId of the resource.
                        description: The azure resources that will be contained within
                          the solutions. They will be locked and gets deleted automatically
                          when the solution is deleted.
                      referencedResources:
                        type: array
                        items:
                          type: string
                          description: the azure resourceId of the resource.
                        description: The resources that will be referenced from this
                          solution. Deleting any of those solution out of band will
                          break the solution.
                    required:
                    - workspaceResourceId
                    x-ms-azure-resource: true
                description: The container for solution.
                x-ms-azure-resource: true
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error type.
                      message:
                        type: string
                        description: The error message.
                    description: The error details for a failed request.
                description: The error body contract.
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationsManagement/solutions:
    get:
      tags:
      - Solution
      operationId: Solutions_ListByResourceGroup
      summary: Retrieves the solution list for the subscription
      description: Retrieves the solution list. It will retrieve both first party
        and third party solutions
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the resource group to get. The name is case insensitive.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags
                        plan:
                          description: Plan for solution object supported by the OperationsManagement
                            resource provider.
                          properties:
                            name:
                              type: string
                              description: name of the solution to be created. For
                                Microsoft published solution it should be in the format
                                of solutionType(workspaceName). SolutionType part
                                is case sensitive. For third party solution, it can
                                be anything.
                            publisher:
                              type: string
                              description: Publisher name. For gallery solution, it
                                is Microsoft.
                            promotionCode:
                              type: string
                              description: promotionCode, Not really used now, can
                                you left as empty
                            product:
                              type: string
                              description: name of the solution to enabled/add. For
                                Microsoft published gallery solution it should be
                                in the format of OMSGallery/<solutionType>. This is
                                case sensitive
                        properties:
                          description: Properties for solution object supported by
                            the OperationsManagement resource provider.
                          properties:
                            workspaceResourceId:
                              type: string
                              description: The azure resourceId for the workspace
                                where the solution will be deployed/enabled.
                            provisioningState:
                              type: string
                              description: The provisioning state for the solution.
                              readOnly: true
                            containedResources:
                              type: array
                              items:
                                type: string
                                description: the azure resourceId of the resource.
                              description: The azure resources that will be contained
                                within the solutions. They will be locked and gets
                                deleted automatically when the solution is deleted.
                            referencedResources:
                              type: array
                              items:
                                type: string
                                description: the azure resourceId of the resource.
                              description: The resources that will be referenced from
                                this solution. Deleting any of those solution out
                                of band will break the solution.
                          required:
                          - workspaceResourceId
                          x-ms-azure-resource: true
                      description: The container for solution.
                      x-ms-azure-resource: true
                    description: List of solution properties within the subscription.
                description: the list of solution response
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error type.
                      message:
                        type: string
                        description: The error message.
                    description: The error details for a failed request.
                description: The error body contract.
  /subscriptions/{subscriptionId}/providers/Microsoft.OperationsManagement/solutions:
    get:
      tags:
      - Solution
      operationId: Solutions_ListBySubscription
      summary: Retrieves the solution list for the subscription
      description: Retrieves the solution list. It will retrieve both first party
        and third party solutions
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags
                        plan:
                          description: Plan for solution object supported by the OperationsManagement
                            resource provider.
                          properties:
                            name:
                              type: string
                              description: name of the solution to be created. For
                                Microsoft published solution it should be in the format
                                of solutionType(workspaceName). SolutionType part
                                is case sensitive. For third party solution, it can
                                be anything.
                            publisher:
                              type: string
                              description: Publisher name. For gallery solution, it
                                is Microsoft.
                            promotionCode:
                              type: string
                              description: promotionCode, Not really used now, can
                                you left as empty
                            product:
                              type: string
                              description: name of the solution to enabled/add. For
                                Microsoft published gallery solution it should be
                                in the format of OMSGallery/<solutionType>. This is
                                case sensitive
                        properties:
                          description: Properties for solution object supported by
                            the OperationsManagement resource provider.
                          properties:
                            workspaceResourceId:
                              type: string
                              description: The azure resourceId for the workspace
                                where the solution will be deployed/enabled.
                            provisioningState:
                              type: string
                              description: The provisioning state for the solution.
                              readOnly: true
                            containedResources:
                              type: array
                              items:
                                type: string
                                description: the azure resourceId of the resource.
                              description: The azure resources that will be contained
                                within the solutions. They will be locked and gets
                                deleted automatically when the solution is deleted.
                            referencedResources:
                              type: array
                              items:
                                type: string
                                description: the azure resourceId of the resource.
                              description: The resources that will be referenced from
                                this solution. Deleting any of those solution out
                                of band will break the solution.
                          required:
                          - workspaceResourceId
                          x-ms-azure-resource: true
                      description: The container for solution.
                      x-ms-azure-resource: true
                    description: List of solution properties within the subscription.
                description: the list of solution response
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error type.
                      message:
                        type: string
                        description: The error message.
                    description: The error details for a failed request.
                description: The error body contract.
  /subscriptions/{subscriptionId}/providers/Microsoft.OperationsManagement/ManagementAssociations:
    get:
      tags:
      - ManagementAssociation
      operationId: ManagementAssociations_ListBySubscription
      summary: Retrieves the ManagementAssociations list for the subscription
      description: Retrieves the ManagementAssociations list.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location
                        properties:
                          description: Properties for ManagementAssociation object
                            supported by the OperationsManagement resource provider.
                          properties:
                            applicationId:
                              type: string
                              description: The applicationId of the appliance for
                                this association.
                          required:
                          - applicationId
                          x-ms-azure-resource: true
                      description: The container for solution.
                      x-ms-azure-resource: true
                    description: List of Management Association properties within
                      the subscription.
                description: the list of ManagementAssociation response
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error type.
                      message:
                        type: string
                        description: The error message.
                    description: The error details for a failed request.
                description: The error body contract.
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.OperationsManagement/ManagementAssociations/{managementAssociationName}
  : put:
      tags:
      - ManagementAssociation
      operationId: ManagementAssociations_CreateOrUpdate
      summary: Create/Update ManagementAssociation.
      description: Creates or updates the ManagementAssociation.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the resource group to get. The name is case insensitive.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: providerName
        in: path
        required: true
        description: Provider name for the parent resource.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceType
        in: path
        required: true
        description: Resource type for the parent resource
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceName
        in: path
        required: true
        description: Parent resource name.
        x-ms-parameter-location: method
        schema:
          type: string
      - x-ms-parameter-location: method
        name: managementAssociationName
        in: path
        required: true
        description: User ManagementAssociation Name.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                location:
                  type: string
                  description: Resource location
                properties:
                  description: Properties for ManagementAssociation object supported
                    by the OperationsManagement resource provider.
                  properties:
                    applicationId:
                      type: string
                      description: The applicationId of the appliance for this association.
                  required:
                  - applicationId
                  x-ms-azure-resource: true
              description: The container for solution.
              x-ms-azure-resource: true
        description: The parameters required to create ManagementAssociation extension.
        required: true
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location
                  properties:
                    description: Properties for ManagementAssociation object supported
                      by the OperationsManagement resource provider.
                    properties:
                      applicationId:
                        type: string
                        description: The applicationId of the appliance for this association.
                    required:
                    - applicationId
                    x-ms-azure-resource: true
                description: The container for solution.
                x-ms-azure-resource: true
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error type.
                      message:
                        type: string
                        description: The error message.
                    description: The error details for a failed request.
                description: The error body contract.
    delete:
      tags:
      - ManagementAssociation
      operationId: ManagementAssociations_Delete
      summary: Deletes the ManagementAssociation
      description: Deletes the ManagementAssociation in the subscription.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the resource group to get. The name is case insensitive.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: providerName
        in: path
        required: true
        description: Provider name for the parent resource.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceType
        in: path
        required: true
        description: Resource type for the parent resource
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceName
        in: path
        required: true
        description: Parent resource name.
        x-ms-parameter-location: method
        schema:
          type: string
      - x-ms-parameter-location: method
        name: managementAssociationName
        in: path
        required: true
        description: User ManagementAssociation Name.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK response definition.
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error type.
                      message:
                        type: string
                        description: The error message.
                    description: The error details for a failed request.
                description: The error body contract.
    get:
      tags:
      - ManagementAssociation
      operationId: ManagementAssociations_Get
      summary: Retrieve ManagementAssociation.
      description: Retrieves the user ManagementAssociation.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the resource group to get. The name is case insensitive.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: providerName
        in: path
        required: true
        description: Provider name for the parent resource.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceType
        in: path
        required: true
        description: Resource type for the parent resource
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceName
        in: path
        required: true
        description: Parent resource name.
        x-ms-parameter-location: method
        schema:
          type: string
      - x-ms-parameter-location: method
        name: managementAssociationName
        in: path
        required: true
        description: User ManagementAssociation Name.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location
                  properties:
                    description: Properties for ManagementAssociation object supported
                      by the OperationsManagement resource provider.
                    properties:
                      applicationId:
                        type: string
                        description: The applicationId of the appliance for this association.
                    required:
                    - applicationId
                    x-ms-azure-resource: true
                description: The container for solution.
                x-ms-azure-resource: true
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error type.
                      message:
                        type: string
                        description: The error message.
                    description: The error details for a failed request.
                description: The error body contract.
  /subscriptions/{subscriptionId}/providers/Microsoft.OperationsManagement/ManagementConfigurations:
    get:
      tags:
      - ManagementConfiguration
      operationId: ManagementConfigurations_ListBySubscription
      summary: Retrieves the ManagementConfigurations list for the subscription
      description: Retrieves the ManagementConfigurations list.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location
                        properties:
                          description: Properties for ManagementConfiguration object
                            supported by the OperationsManagement resource provider.
                          properties:
                            applicationId:
                              type: string
                              description: The applicationId of the appliance for
                                this Management.
                            parentResourceType:
                              type: string
                              description: The type of the parent resource.
                            parameters:
                              type: array
                              items:
                                description: Parameter to pass to ARM template
                                properties:
                                  name:
                                    type: string
                                    description: name of the parameter.
                                  value:
                                    type: string
                                    description: 'value for the parameter. In Jtoken '
                              x-ms-identifiers:
                              - name
                              description: Parameters to run the ARM template
                            provisioningState:
                              readOnly: true
                              type: string
                              description: The provisioning state for the ManagementConfiguration.
                            template:
                              type: object
                              description: The Json object containing the ARM template
                                to deploy
                          required:
                          - parameters
                          - parentResourceType
                          - template
                          x-ms-azure-resource: true
                      description: The container for solution.
                      x-ms-azure-resource: true
                    description: List of Management Configuration properties within
                      the subscription.
                description: the list of ManagementConfiguration response
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error type.
                      message:
                        type: string
                        description: The error message.
                    description: The error details for a failed request.
                description: The error body contract.
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationsManagement/ManagementConfigurations/{managementConfigurationName}
  : put:
      tags:
      - ManagementConfiguration
      operationId: ManagementConfigurations_CreateOrUpdate
      summary: Create/Update ManagementConfiguration.
      description: Creates or updates the ManagementConfiguration.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the resource group to get. The name is case insensitive.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - x-ms-parameter-location: method
        name: managementConfigurationName
        in: path
        required: true
        description: User Management Configuration Name.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                location:
                  type: string
                  description: Resource location
                properties:
                  description: Properties for ManagementConfiguration object supported
                    by the OperationsManagement resource provider.
                  properties:
                    applicationId:
                      type: string
                      description: The applicationId of the appliance for this Management.
                    parentResourceType:
                      type: string
                      description: The type of the parent resource.
                    parameters:
                      type: array
                      items:
                        description: Parameter to pass to ARM template
                        properties:
                          name:
                            type: string
                            description: name of the parameter.
                          value:
                            type: string
                            description: 'value for the parameter. In Jtoken '
                      x-ms-identifiers:
                      - name
                      description: Parameters to run the ARM template
                    provisioningState:
                      readOnly: true
                      type: string
                      description: The provisioning state for the ManagementConfiguration.
                    template:
                      type: object
                      description: The Json object containing the ARM template to
                        deploy
                  required:
                  - parameters
                  - parentResourceType
                  - template
                  x-ms-azure-resource: true
              description: The container for solution.
              x-ms-azure-resource: true
        description: The parameters required to create OMS Solution.
        required: true
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location
                  properties:
                    description: Properties for ManagementConfiguration object supported
                      by the OperationsManagement resource provider.
                    properties:
                      applicationId:
                        type: string
                        description: The applicationId of the appliance for this Management.
                      parentResourceType:
                        type: string
                        description: The type of the parent resource.
                      parameters:
                        type: array
                        items:
                          description: Parameter to pass to ARM template
                          properties:
                            name:
                              type: string
                              description: name of the parameter.
                            value:
                              type: string
                              description: 'value for the parameter. In Jtoken '
                        x-ms-identifiers:
                        - name
                        description: Parameters to run the ARM template
                      provisioningState:
                        readOnly: true
                        type: string
                        description: The provisioning state for the ManagementConfiguration.
                      template:
                        type: object
                        description: The Json object containing the ARM template to
                          deploy
                    required:
                    - parameters
                    - parentResourceType
                    - template
                    x-ms-azure-resource: true
                description: The container for solution.
                x-ms-azure-resource: true
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error type.
                      message:
                        type: string
                        description: The error message.
                    description: The error details for a failed request.
                description: The error body contract.
    delete:
      tags:
      - ManagementConfiguration
      operationId: ManagementConfigurations_Delete
      summary: Deletes the ManagementConfiguration
      description: Deletes the ManagementConfiguration in the subscription.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the resource group to get. The name is case insensitive.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - x-ms-parameter-location: method
        name: managementConfigurationName
        in: path
        required: true
        description: User Management Configuration Name.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK response definition.
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error type.
                      message:
                        type: string
                        description: The error message.
                    description: The error details for a failed request.
                description: The error body contract.
    get:
      tags:
      - ManagementConfiguration
      operationId: ManagementConfigurations_Get
      summary: Retrieve ManagementConfiguration.
      description: Retrieves the user ManagementConfiguration.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the resource group to get. The name is case insensitive.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - x-ms-parameter-location: method
        name: managementConfigurationName
        in: path
        required: true
        description: User Management Configuration Name.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location
                  properties:
                    description: Properties for ManagementConfiguration object supported
                      by the OperationsManagement resource provider.
                    properties:
                      applicationId:
                        type: string
                        description: The applicationId of the appliance for this Management.
                      parentResourceType:
                        type: string
                        description: The type of the parent resource.
                      parameters:
                        type: array
                        items:
                          description: Parameter to pass to ARM template
                          properties:
                            name:
                              type: string
                              description: name of the parameter.
                            value:
                              type: string
                              description: 'value for the parameter. In Jtoken '
                        x-ms-identifiers:
                        - name
                        description: Parameters to run the ARM template
                      provisioningState:
                        readOnly: true
                        type: string
                        description: The provisioning state for the ManagementConfiguration.
                      template:
                        type: object
                        description: The Json object containing the ARM template to
                          deploy
                    required:
                    - parameters
                    - parentResourceType
                    - template
                    x-ms-azure-resource: true
                description: The container for solution.
                x-ms-azure-resource: true
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error type.
                      message:
                        type: string
                        description: The error message.
                    description: The error details for a failed request.
                description: The error body contract.
  /providers/Microsoft.OperationsManagement/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available OperationsManagement Rest API operations.
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: Result of the request to list solution operations.
                properties:
                  value:
                    type: array
                    items:
                      description: Supported operation of OperationsManagement resource
                        provider.
                      properties:
                        name:
                          description: 'Operation name: {provider}/{resource}/{operation}'
                          type: string
                        display:
                          description: Display metadata associated with the operation.
                          properties:
                            provider:
                              description: 'Service provider: Microsoft OperationsManagement.'
                              type: string
                            resource:
                              description: Resource on which the operation is performed
                                etc.
                              type: string
                            operation:
                              description: 'Type of operation: get, read, delete,
                                etc.'
                              type: string
                    x-ms-identifiers:
                    - name
                    description: List of solution operations supported by the OperationsManagement
                      resource provider.
      x-ms-pageable: {}
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The name of the resource group to get. The name is case insensitive.
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._\(\)]+$
    SolutionNameParameter:
      x-ms-parameter-location: method
      name: solutionName
      in: path
      required: true
      description: User Solution Name.
      schema:
        type: string
    ManagementAssociationNameParameter:
      x-ms-parameter-location: method
      name: managementAssociationName
      in: path
      required: true
      description: User ManagementAssociation Name.
      schema:
        type: string
    ManagementConfigurationNameParameter:
      x-ms-parameter-location: method
      name: managementConfigurationName
      in: path
      required: true
      description: User Management Configuration Name.
      schema:
        type: string
    ProviderNameParameter:
      name: providerName
      in: path
      required: true
      description: Provider name for the parent resource.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceTypeParameter:
      name: resourceType
      in: path
      required: true
      description: Resource type for the parent resource
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceNameParameter:
      name: resourceName
      in: path
      required: true
      description: Parent resource name.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    OperationListResult:
      description: Result of the request to list solution operations.
      properties:
        value:
          type: array
          items:
            description: Supported operation of OperationsManagement resource provider.
            properties:
              name:
                description: 'Operation name: {provider}/{resource}/{operation}'
                type: string
              display:
                description: Display metadata associated with the operation.
                properties:
                  provider:
                    description: 'Service provider: Microsoft OperationsManagement.'
                    type: string
                  resource:
                    description: Resource on which the operation is performed etc.
                    type: string
                  operation:
                    description: 'Type of operation: get, read, delete, etc.'
                    type: string
          x-ms-identifiers:
          - name
          description: List of solution operations supported by the OperationsManagement
            resource provider.
    Operation:
      description: Supported operation of OperationsManagement resource provider.
      properties:
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
        display:
          description: Display metadata associated with the operation.
          properties:
            provider:
              description: 'Service provider: Microsoft OperationsManagement.'
              type: string
            resource:
              description: Resource on which the operation is performed etc.
              type: string
            operation:
              description: 'Type of operation: get, read, delete, etc.'
              type: string
    SolutionProperties:
      description: Solution properties supported by the OperationsManagement resource
        provider.
      properties:
        workspaceResourceId:
          type: string
          description: The azure resourceId for the workspace where the solution will
            be deployed/enabled.
        provisioningState:
          type: string
          description: The provisioning state for the solution.
          readOnly: true
        containedResources:
          type: array
          items:
            type: string
            description: the azure resourceId of the resource.
          description: The azure resources that will be contained within the solutions.
            They will be locked and gets deleted automatically when the solution is
            deleted.
        referencedResources:
          type: array
          items:
            type: string
            description: the azure resourceId of the resource.
          description: The resources that will be referenced from this solution. Deleting
            any of those solution out of band will break the solution.
      required:
      - workspaceResourceId
      x-ms-azure-resource: true
    ManagementAssociationProperties:
      description: ManagementAssociation properties supported by the OperationsManagement
        resource provider.
      properties:
        applicationId:
          type: string
          description: The applicationId of the appliance for this association.
      required:
      - applicationId
      x-ms-azure-resource: true
    ManagementConfigurationProperties:
      description: ManagementConfiguration properties supported by the OperationsManagement
        resource provider.
      properties:
        applicationId:
          type: string
          description: The applicationId of the appliance for this Management.
        parentResourceType:
          type: string
          description: The type of the parent resource.
        parameters:
          type: array
          items:
            description: Parameter to pass to ARM template
            properties:
              name:
                type: string
                description: name of the parameter.
              value:
                type: string
                description: 'value for the parameter. In Jtoken '
          x-ms-identifiers:
          - name
          description: Parameters to run the ARM template
        provisioningState:
          readOnly: true
          type: string
          description: The provisioning state for the ManagementConfiguration.
        template:
          type: object
          description: The Json object containing the ARM template to deploy
      required:
      - parameters
      - parentResourceType
      - template
      x-ms-azure-resource: true
    SolutionPropertiesList:
      properties:
        value:
          type: array
          items:
            properties:
              id:
                readOnly: true
                type: string
                description: Resource ID.
              name:
                readOnly: true
                type: string
                description: Resource name.
              type:
                readOnly: true
                type: string
                description: Resource type.
              location:
                type: string
                description: Resource location
              tags:
                type: object
                additionalProperties:
                  type: string
                description: Resource tags
              plan:
                description: Plan for solution object supported by the OperationsManagement
                  resource provider.
                properties:
                  name:
                    type: string
                    description: name of the solution to be created. For Microsoft
                      published solution it should be in the format of solutionType(workspaceName).
                      SolutionType part is case sensitive. For third party solution,
                      it can be anything.
                  publisher:
                    type: string
                    description: Publisher name. For gallery solution, it is Microsoft.
                  promotionCode:
                    type: string
                    description: promotionCode, Not really used now, can you left
                      as empty
                  product:
                    type: string
                    description: name of the solution to enabled/add. For Microsoft
                      published gallery solution it should be in the format of OMSGallery/<solutionType>.
                      This is case sensitive
              properties:
                description: Properties for solution object supported by the OperationsManagement
                  resource provider.
                properties:
                  workspaceResourceId:
                    type: string
                    description: The azure resourceId for the workspace where the
                      solution will be deployed/enabled.
                  provisioningState:
                    type: string
                    description: The provisioning state for the solution.
                    readOnly: true
                  containedResources:
                    type: array
                    items:
                      type: string
                      description: the azure resourceId of the resource.
                    description: The azure resources that will be contained within
                      the solutions. They will be locked and gets deleted automatically
                      when the solution is deleted.
                  referencedResources:
                    type: array
                    items:
                      type: string
                      description: the azure resourceId of the resource.
                    description: The resources that will be referenced from this solution.
                      Deleting any of those solution out of band will break the solution.
                required:
                - workspaceResourceId
                x-ms-azure-resource: true
            description: The container for solution.
            x-ms-azure-resource: true
          description: List of solution properties within the subscription.
      description: the list of solution response
    ManagementAssociationPropertiesList:
      properties:
        value:
          type: array
          items:
            properties:
              id:
                readOnly: true
                type: string
                description: Resource ID.
              name:
                readOnly: true
                type: string
                description: Resource name.
              type:
                readOnly: true
                type: string
                description: Resource type.
              location:
                type: string
                description: Resource location
              properties:
                description: Properties for ManagementAssociation object supported
                  by the OperationsManagement resource provider.
                properties:
                  applicationId:
                    type: string
                    description: The applicationId of the appliance for this association.
                required:
                - applicationId
                x-ms-azure-resource: true
            description: The container for solution.
            x-ms-azure-resource: true
          description: List of Management Association properties within the subscription.
      description: the list of ManagementAssociation response
    ManagementConfigurationPropertiesList:
      properties:
        value:
          type: array
          items:
            properties:
              id:
                readOnly: true
                type: string
                description: Resource ID.
              name:
                readOnly: true
                type: string
                description: Resource name.
              type:
                readOnly: true
                type: string
                description: Resource type.
              location:
                type: string
                description: Resource location
              properties:
                description: Properties for ManagementConfiguration object supported
                  by the OperationsManagement resource provider.
                properties:
                  applicationId:
                    type: string
                    description: The applicationId of the appliance for this Management.
                  parentResourceType:
                    type: string
                    description: The type of the parent resource.
                  parameters:
                    type: array
                    items:
                      description: Parameter to pass to ARM template
                      properties:
                        name:
                          type: string
                          description: name of the parameter.
                        value:
                          type: string
                          description: 'value for the parameter. In Jtoken '
                    x-ms-identifiers:
                    - name
                    description: Parameters to run the ARM template
                  provisioningState:
                    readOnly: true
                    type: string
                    description: The provisioning state for the ManagementConfiguration.
                  template:
                    type: object
                    description: The Json object containing the ARM template to deploy
                required:
                - parameters
                - parentResourceType
                - template
                x-ms-azure-resource: true
            description: The container for solution.
            x-ms-azure-resource: true
          description: List of Management Configuration properties within the subscription.
      description: the list of ManagementConfiguration response
    SolutionPlan:
      description: Plan for solution object supported by the OperationsManagement
        resource provider.
      properties:
        name:
          type: string
          description: name of the solution to be created. For Microsoft published
            solution it should be in the format of solutionType(workspaceName). SolutionType
            part is case sensitive. For third party solution, it can be anything.
        publisher:
          type: string
          description: Publisher name. For gallery solution, it is Microsoft.
        promotionCode:
          type: string
          description: promotionCode, Not really used now, can you left as empty
        product:
          type: string
          description: name of the solution to enabled/add. For Microsoft published
            gallery solution it should be in the format of OMSGallery/<solutionType>.
            This is case sensitive
    Solution:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
        plan:
          description: Plan for solution object supported by the OperationsManagement
            resource provider.
          properties:
            name:
              type: string
              description: name of the solution to be created. For Microsoft published
                solution it should be in the format of solutionType(workspaceName).
                SolutionType part is case sensitive. For third party solution, it
                can be anything.
            publisher:
              type: string
              description: Publisher name. For gallery solution, it is Microsoft.
            promotionCode:
              type: string
              description: promotionCode, Not really used now, can you left as empty
            product:
              type: string
              description: name of the solution to enabled/add. For Microsoft published
                gallery solution it should be in the format of OMSGallery/<solutionType>.
                This is case sensitive
        properties:
          description: Properties for solution object supported by the OperationsManagement
            resource provider.
          properties:
            workspaceResourceId:
              type: string
              description: The azure resourceId for the workspace where the solution
                will be deployed/enabled.
            provisioningState:
              type: string
              description: The provisioning state for the solution.
              readOnly: true
            containedResources:
              type: array
              items:
                type: string
                description: the azure resourceId of the resource.
              description: The azure resources that will be contained within the solutions.
                They will be locked and gets deleted automatically when the solution
                is deleted.
            referencedResources:
              type: array
              items:
                type: string
                description: the azure resourceId of the resource.
              description: The resources that will be referenced from this solution.
                Deleting any of those solution out of band will break the solution.
          required:
          - workspaceResourceId
          x-ms-azure-resource: true
      description: The container for solution.
      x-ms-azure-resource: true
    SolutionPatch:
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
      description: The properties of a Solution that can be patched.
      x-ms-azure-resource: true
    ManagementAssociation:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location
        properties:
          description: Properties for ManagementAssociation object supported by the
            OperationsManagement resource provider.
          properties:
            applicationId:
              type: string
              description: The applicationId of the appliance for this association.
          required:
          - applicationId
          x-ms-azure-resource: true
      description: The container for solution.
      x-ms-azure-resource: true
    ManagementConfiguration:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location
        properties:
          description: Properties for ManagementConfiguration object supported by
            the OperationsManagement resource provider.
          properties:
            applicationId:
              type: string
              description: The applicationId of the appliance for this Management.
            parentResourceType:
              type: string
              description: The type of the parent resource.
            parameters:
              type: array
              items:
                description: Parameter to pass to ARM template
                properties:
                  name:
                    type: string
                    description: name of the parameter.
                  value:
                    type: string
                    description: 'value for the parameter. In Jtoken '
              x-ms-identifiers:
              - name
              description: Parameters to run the ARM template
            provisioningState:
              readOnly: true
              type: string
              description: The provisioning state for the ManagementConfiguration.
            template:
              type: object
              description: The Json object containing the ARM template to deploy
          required:
          - parameters
          - parentResourceType
          - template
          x-ms-azure-resource: true
      description: The container for solution.
      x-ms-azure-resource: true
    ArmTemplateParameter:
      description: Parameter to pass to ARM template
      properties:
        name:
          type: string
          description: name of the parameter.
        value:
          type: string
          description: 'value for the parameter. In Jtoken '
    CodeMessageError:
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: The error type.
            message:
              type: string
              description: The error message.
          description: The error details for a failed request.
      description: The error body contract.
