openapi: 3.0.0
info:
  title: HDInsightManagementClient
  description: The HDInsight Management Client.
  version: 2021-06-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/extensions/clustermonitoring
  : put:
      tags:
      - Extensions
      description: Enables the Operations Management Suite (OMS) on the HDInsight
        cluster.
      operationId: Extensions_EnableMonitoring
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: The cluster monitor parameters.
              properties:
                workspaceId:
                  description: The cluster monitor workspace ID.
                  type: string
                primaryKey:
                  description: The cluster monitor workspace key.
                  type: string
        description: The Operations Management Suite (OMS) workspace parameters.
        required: true
      responses:
        '200':
          description: Ok response definition.
        '202':
          description: Accepted response definition.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - Extensions
      description: Gets the status of Operations Management Suite (OMS) on the HDInsight
        cluster.
      operationId: Extensions_GetMonitoringStatus
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                description: The cluster monitoring status response.
                properties:
                  clusterMonitoringEnabled:
                    description: The status of the monitor on the HDInsight cluster.
                    type: boolean
                  workspaceId:
                    description: The workspace ID of the monitor on the HDInsight
                      cluster.
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
    delete:
      tags:
      - Extensions
      description: Disables the Operations Management Suite (OMS) on the HDInsight
        cluster.
      operationId: Extensions_DisableMonitoring
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      responses:
        '200':
          description: Ok response definition.
        '202':
          description: OK response definition.
        '204':
          description: No Content response definition.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/extensions/azureMonitor
  : put:
      tags:
      - Extensions
      description: Enables the Azure Monitor on the HDInsight cluster.
      operationId: Extensions_EnableAzureMonitor
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: The azure monitor parameters.
              properties:
                workspaceId:
                  description: The Log Analytics workspace ID.
                  type: string
                primaryKey:
                  description: The Log Analytics workspace key.
                  type: string
                selectedConfigurations:
                  description: The selected configurations.
                  type: object
                  properties:
                    configurationVersion:
                      description: The configuration version.
                      type: string
                    globalConfigurations:
                      description: The global configurations of selected configurations.
                      type: object
                      additionalProperties:
                        type: string
                    tableList:
                      description: The table list.
                      type: array
                      items:
                        type: object
                        description: The table configuration for the Log Analytics
                          integration.
                        properties:
                          name:
                            description: The name.
                            type: string
                      x-ms-identifiers:
                      - name
        description: The Log Analytics workspace parameters.
        required: true
      responses:
        '200':
          description: Ok response definition.
        '202':
          description: Accepted response definition.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - Extensions
      description: Gets the status of Azure Monitor on the HDInsight cluster.
      operationId: Extensions_GetAzureMonitorStatus
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                description: The azure monitor status response.
                properties:
                  clusterMonitoringEnabled:
                    description: The status of the monitor on the HDInsight cluster.
                    type: boolean
                  workspaceId:
                    description: The workspace ID of the monitor on the HDInsight
                      cluster.
                    type: string
                  selectedConfigurations:
                    description: The selected configurations.
                    type: object
                    properties:
                      configurationVersion:
                        description: The configuration version.
                        type: string
                      globalConfigurations:
                        description: The global configurations of selected configurations.
                        type: object
                        additionalProperties:
                          type: string
                      tableList:
                        description: The table list.
                        type: array
                        items:
                          type: object
                          description: The table configuration for the Log Analytics
                            integration.
                          properties:
                            name:
                              description: The name.
                              type: string
                        x-ms-identifiers:
                        - name
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
    delete:
      tags:
      - Extensions
      description: Disables the Azure Monitor on the HDInsight cluster.
      operationId: Extensions_DisableAzureMonitor
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      responses:
        '200':
          description: Ok response definition.
        '202':
          description: OK response definition.
        '204':
          description: No Content response definition.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/extensions/{extensionName}
  : put:
      tags:
      - Extensions
      description: Creates an HDInsight cluster extension.
      operationId: Extensions_Create
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: extensionName
        in: path
        required: true
        description: The name of the cluster extension.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Cluster monitoring extensions.
              properties:
                workspaceId:
                  description: The workspace ID for the cluster monitoring extension.
                  type: string
                primaryKey:
                  description: The certificate for the cluster monitoring extensions.
                  type: string
        description: The cluster extensions create request.
        required: true
      responses:
        '200':
          description: Ok response definition.
        '202':
          description: Accepted response definition.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - Extensions
      description: Gets the extension properties for the specified HDInsight cluster
        extension.
      operationId: Extensions_Get
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: extensionName
        in: path
        required: true
        description: The name of the cluster extension.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                description: The cluster monitoring status response.
                properties:
                  clusterMonitoringEnabled:
                    description: The status of the monitor on the HDInsight cluster.
                    type: boolean
                  workspaceId:
                    description: The workspace ID of the monitor on the HDInsight
                      cluster.
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
    delete:
      tags:
      - Extensions
      description: Deletes the specified extension for HDInsight cluster.
      operationId: Extensions_Delete
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: extensionName
        in: path
        required: true
        description: The name of the cluster extension.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      responses:
        '200':
          description: Ok response definition.
        '202':
          description: Accepted response definition.
        '204':
          description: No Content response definition.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/extensions/{extensionName}/azureAsyncOperations/{operationId}
  : get:
      tags:
      - Extensions
      description: Gets the async operation status.
      operationId: Extensions_GetAzureAsyncOperationStatus
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: extensionName
        in: path
        required: true
        description: The name of the cluster extension.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      - name: operationId
        in: path
        required: true
        description: The long running operation id.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The async operation state.
                    enum:
                    - InProgress
                    - Succeeded
                    - Failed
                    x-ms-enum:
                      name: AsyncOperationState
                      modelAsString: true
                  error:
                    description: The operation error information.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                      message:
                        type: string
                        description: The error message.
                description: The azure async operation response.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    ClusterNameParameter:
      name: clusterName
      in: path
      required: true
      description: The name of the cluster.
      x-ms-parameter-location: method
      schema:
        type: string
    ExtensionNameParameter:
      name: extensionName
      in: path
      required: true
      description: The name of the cluster extension.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The HDInsight client API Version.
      schema:
        type: string
    OperationIdParameter:
      name: operationId
      in: path
      required: true
      description: The long running operation id.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Extension:
      type: object
      description: Cluster monitoring extensions.
      properties:
        workspaceId:
          description: The workspace ID for the cluster monitoring extension.
          type: string
        primaryKey:
          description: The certificate for the cluster monitoring extensions.
          type: string
    ClusterMonitoringResponse:
      type: object
      description: The cluster monitoring status response.
      properties:
        clusterMonitoringEnabled:
          description: The status of the monitor on the HDInsight cluster.
          type: boolean
        workspaceId:
          description: The workspace ID of the monitor on the HDInsight cluster.
          type: string
    ClusterMonitoringRequest:
      type: object
      description: The cluster monitor parameters.
      properties:
        workspaceId:
          description: The cluster monitor workspace ID.
          type: string
        primaryKey:
          description: The cluster monitor workspace key.
          type: string
    AzureMonitorRequest:
      type: object
      description: The azure monitor parameters.
      properties:
        workspaceId:
          description: The Log Analytics workspace ID.
          type: string
        primaryKey:
          description: The Log Analytics workspace key.
          type: string
        selectedConfigurations:
          description: The selected configurations.
          type: object
          properties:
            configurationVersion:
              description: The configuration version.
              type: string
            globalConfigurations:
              description: The global configurations of selected configurations.
              type: object
              additionalProperties:
                type: string
            tableList:
              description: The table list.
              type: array
              items:
                type: object
                description: The table configuration for the Log Analytics integration.
                properties:
                  name:
                    description: The name.
                    type: string
              x-ms-identifiers:
              - name
    AzureMonitorResponse:
      type: object
      description: The azure monitor status response.
      properties:
        clusterMonitoringEnabled:
          description: The status of the monitor on the HDInsight cluster.
          type: boolean
        workspaceId:
          description: The workspace ID of the monitor on the HDInsight cluster.
          type: string
        selectedConfigurations:
          description: The selected configurations.
          type: object
          properties:
            configurationVersion:
              description: The configuration version.
              type: string
            globalConfigurations:
              description: The global configurations of selected configurations.
              type: object
              additionalProperties:
                type: string
            tableList:
              description: The table list.
              type: array
              items:
                type: object
                description: The table configuration for the Log Analytics integration.
                properties:
                  name:
                    description: The name.
                    type: string
              x-ms-identifiers:
              - name
    AzureMonitorSelectedConfigurations:
      type: object
      description: The selected configurations for azure monitor.
      properties:
        configurationVersion:
          description: The configuration version.
          type: string
        globalConfigurations:
          description: The global configurations of selected configurations.
          type: object
          additionalProperties:
            type: string
        tableList:
          description: The table list.
          type: array
          items:
            type: object
            description: The table configuration for the Log Analytics integration.
            properties:
              name:
                description: The name.
                type: string
          x-ms-identifiers:
          - name
    AzureMonitorTableConfiguration:
      type: object
      description: The table configuration for the Log Analytics integration.
      properties:
        name:
          description: The name.
          type: string
    ErrorResponse:
      description: Describes the format of Error response.
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
    Errors:
      type: object
      description: The error message associated with the cluster creation.
      properties:
        code:
          type: string
          description: The error code.
        message:
          type: string
          description: The error message.
    AsyncOperationResult:
      type: object
      properties:
        status:
          type: string
          description: The async operation state.
          enum:
          - InProgress
          - Succeeded
          - Failed
          x-ms-enum:
            name: AsyncOperationState
            modelAsString: true
        error:
          description: The operation error information.
          type: object
          properties:
            code:
              type: string
              description: The error code.
            message:
              type: string
              description: The error message.
      description: The azure async operation response.
