openapi: 3.0.0
info:
  title: HDInsightManagementClient
  description: The HDInsight Management Client.
  version: 2021-06-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/capabilities:
    get:
      tags:
      - Regions
      operationId: Locations_GetCapabilities
      description: Gets the capabilities for the specified location.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: location
        in: path
        required: true
        description: The Azure location (region) for which to make the request.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                type: object
                description: The Get Capabilities operation response.
                properties:
                  versions:
                    description: The version capability.
                    type: object
                    additionalProperties:
                      type: object
                      description: The version capability.
                      properties:
                        available:
                          description: The list of version capabilities.
                          type: array
                          items:
                            type: object
                            description: The version properties.
                            properties:
                              friendlyName:
                                type: string
                                description: The friendly name
                              displayName:
                                type: string
                                description: The display name
                              isDefault:
                                type: boolean
                                description: Whether or not the version is the default
                                  version.
                              componentVersions:
                                type: object
                                description: The component version property.
                                additionalProperties:
                                  type: string
                            readOnly: true
                          x-ms-identifiers:
                          - friendlyName
                      readOnly: true
                  regions:
                    description: The virtual machine size compatibility features.
                    type: object
                    additionalProperties:
                      type: object
                      description: The regions capability.
                      properties:
                        available:
                          description: The list of region capabilities.
                          type: array
                          items:
                            type: string
                      readOnly: true
                  features:
                    description: The capability features.
                    type: array
                    items:
                      type: string
                  quota:
                    description: The quota capability.
                    type: object
                    properties:
                      coresUsed:
                        description: The number of cores used in the subscription.
                        type: integer
                        format: int64
                      maxCoresAllowed:
                        description: The number of cores that the subscription allowed.
                        type: integer
                        format: int64
                      regionalQuotas:
                        description: The list of region quota capabilities.
                        type: array
                        items:
                          type: object
                          description: The regional quota capacity.
                          properties:
                            regionName:
                              description: The region name.
                              type: string
                            coresUsed:
                              description: The number of cores used in the region.
                              type: integer
                              format: int64
                            coresAvailable:
                              description: The number of cores available in the region.
                              type: integer
                              format: int64
                          readOnly: true
                        x-ms-identifiers:
                        - regionName
                    readOnly: true
                readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
  /subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/usages:
    get:
      tags:
      - Regions
      operationId: Locations_ListUsages
      description: Lists the usages for the specified location.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: location
        in: path
        required: true
        description: The Azure location (region) for which to make the request.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                type: object
                description: The response for the operation to get regional usages
                  for a subscription.
                properties:
                  value:
                    description: The list of usages.
                    type: array
                    items:
                      type: object
                      description: The details about the usage of a particular limited
                        resource.
                      properties:
                        unit:
                          description: The type of measurement for usage.
                          type: string
                        currentValue:
                          description: The current usage.
                          type: integer
                          format: int64
                        limit:
                          description: The maximum allowed usage.
                          type: integer
                          format: int64
                        name:
                          description: The details about the localizable name of the
                            used resource.
                          type: object
                          properties:
                            value:
                              description: The name of the used resource.
                              type: string
                            localizedValue:
                              description: The localized name of the used resource.
                              type: string
                          readOnly: true
                      readOnly: true
                    x-ms-identifiers: []
                readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
  /subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/billingSpecs:
    get:
      tags:
      - Regions
      operationId: Locations_ListBillingSpecs
      description: Lists the billingSpecs for the specified subscription and location.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: location
        in: path
        required: true
        description: The Azure location (region) for which to make the request.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                type: object
                description: The response for the operation to get regional billingSpecs
                  for a subscription.
                properties:
                  vmSizes:
                    description: The virtual machine sizes to include or exclude.
                    type: array
                    items:
                      type: string
                  vmSizesWithEncryptionAtHost:
                    description: The vm sizes which enable encryption at host.
                    type: array
                    items:
                      type: string
                  vmSizeFilters:
                    description: The virtual machine filtering mode. Effectively this
                      can enabling or disabling the virtual machine sizes in a particular
                      set.
                    type: array
                    items:
                      type: object
                      description: 'This class represent a single filter object that
                        defines a multidimensional set. The dimensions of this set
                        are Regions, ClusterFlavors, NodeTypes and ClusterVersions.
                        The constraint should be defined based on the following: FilterMode
                        (Exclude vs Include), VMSizes (the vm sizes in affect of exclusion/inclusion)
                        and the ordering of the Filters. Later filters override previous
                        settings if conflicted.'
                      properties:
                        filterMode:
                          description: The filtering mode. Effectively this can enabling
                            or disabling the VM sizes in a particular set.
                          type: string
                          enum:
                          - Exclude
                          - Include
                          - Recommend
                          - Default
                          x-ms-enum:
                            name: FilterMode
                            modelAsString: true
                        regions:
                          description: The list of regions under the effect of the
                            filter.
                          type: array
                          items:
                            type: string
                        clusterFlavors:
                          description: The list of cluster flavors under the effect
                            of the filter.
                          type: array
                          items:
                            type: string
                        nodeTypes:
                          description: The list of node types affected by the filter.
                          type: array
                          items:
                            type: string
                        clusterVersions:
                          description: The list of cluster versions affected in Major.Minor
                            format.
                          type: array
                          items:
                            type: string
                        osType:
                          description: The OSType affected, Windows or Linux.
                          type: array
                          items:
                            type: string
                            enum:
                            - Windows
                            - Linux
                            x-ms-enum:
                              name: OSType
                              modelAsString: true
                        vmSizes:
                          description: The list of virtual machine sizes to include
                            or exclude.
                          type: array
                          items:
                            type: string
                        espApplied:
                          description: Whether apply for ESP cluster. 'true' means
                            only for ESP, 'false' means only for non-ESP, null or
                            empty string or others mean for both.
                          type: string
                        computeIsolationSupported:
                          description: Whether support compute isolation. 'true' means
                            only for ComputeIsolationEnabled, 'false' means only for
                            regular cluster.
                          type: string
                    x-ms-identifiers: []
                  vmSizeProperties:
                    description: The vm size properties.
                    type: array
                    items:
                      type: object
                      description: The vm size property
                      properties:
                        name:
                          description: The vm size name.
                          type: string
                        cores:
                          description: The number of cores that the vm size has.
                          type: integer
                          format: int32
                        dataDiskStorageTier:
                          description: The data disk storage tier of the vm size.
                          type: string
                        label:
                          description: The label of the vm size.
                          type: string
                        maxDataDiskCount:
                          description: The max data disk count of the vm size.
                          type: integer
                          format: int64
                        memoryInMb:
                          description: The memory whose unit is MB of the vm size.
                          type: integer
                          format: int64
                        supportedByVirtualMachines:
                          description: This indicates this vm size is supported by
                            virtual machines or not
                          type: boolean
                        supportedByWebWorkerRoles:
                          description: The indicates this vm size is supported by
                            web worker roles or not
                          type: boolean
                        virtualMachineResourceDiskSizeInMb:
                          description: The virtual machine resource disk size whose
                            unit is MB of the vm size.
                          type: integer
                          format: int64
                        webWorkerResourceDiskSizeInMb:
                          description: The web worker resource disk size whose unit
                            is MB of the vm size.
                          type: integer
                          format: int64
                    x-ms-identifiers:
                    - name
                    readOnly: true
                  billingResources:
                    description: The billing and managed disk billing resources for
                      a region.
                    type: array
                    items:
                      type: object
                      description: The billing resources.
                      properties:
                        region:
                          description: The region or location.
                          type: string
                        billingMeters:
                          description: The billing meter information.
                          type: array
                          items:
                            type: object
                            description: The billing meters.
                            properties:
                              meterParameter:
                                description: The virtual machine sizes.
                                type: string
                              meter:
                                description: The HDInsight meter guid.
                                type: string
                              unit:
                                description: The unit of meter, VMHours or CoreHours.
                                type: string
                          x-ms-identifiers:
                          - meter
                        diskBillingMeters:
                          description: The managed disk billing information.
                          type: array
                          items:
                            type: object
                            description: The disk billing meters.
                            properties:
                              diskRpMeter:
                                description: The managed disk meter guid.
                                type: string
                              sku:
                                description: The managed disk billing sku, P30 or
                                  S30.
                                type: string
                              tier:
                                description: The managed disk billing tier, Standard
                                  or Premium.
                                type: string
                                enum:
                                - Standard
                                - Premium
                                x-ms-enum:
                                  name: Tier
                                  modelAsString: true
                          x-ms-identifiers:
                          - diskRpMeter
                    x-ms-identifiers: []
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
  /subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/azureasyncoperations/{operationId}:
    get:
      tags:
      - Regions
      operationId: Locations_GetAzureAsyncOperationStatus
      description: Get the async operation status.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: location
        in: path
        required: true
        description: The Azure location (region) for which to make the request.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      - name: operationId
        in: path
        required: true
        description: The long running operation id.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The async operation state.
                    enum:
                    - InProgress
                    - Succeeded
                    - Failed
                    x-ms-enum:
                      name: AsyncOperationState
                      modelAsString: true
                  error:
                    description: The operation error information.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                      message:
                        type: string
                        description: The error message.
                description: The azure async operation response.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
  /subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/checkNameAvailability:
    post:
      tags:
      - Regions
      operationId: Locations_CheckNameAvailability
      description: Check the cluster name is available or not.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: location
        in: path
        required: true
        description: The Azure location (region) for which to make the request.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: The request spec of checking name availability.
              properties:
                name:
                  description: The resource name.
                  type: string
                type:
                  description: The resource type
                  type: string
        required: true
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                type: object
                description: The response spec of checking name availability.
                properties:
                  nameAvailable:
                    description: This indicates whether the name is available.
                    type: boolean
                  reason:
                    description: The reason of the result.
                    type: string
                    readOnly: true
                  message:
                    description: The related message.
                    type: string
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
  /subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/validateCreateRequest:
    post:
      tags:
      - Regions
      operationId: Locations_ValidateClusterCreateRequest
      description: Validate the cluster create request spec is valid or not.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: location
        in: path
        required: true
        description: The Azure location (region) for which to make the request.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                location:
                  type: string
                  description: The location of the cluster.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: The resource tags.
                zones:
                  type: array
                  items:
                    type: string
                  description: The availability zones.
                properties:
                  description: The cluster create parameters.
                  type: object
                  properties:
                    clusterVersion:
                      type: string
                      description: The version of the cluster.
                    osType:
                      type: string
                      description: The type of operating system.
                      enum:
                      - Windows
                      - Linux
                      x-ms-enum:
                        name: OSType
                        modelAsString: true
                    tier:
                      type: string
                      description: The cluster tier.
                      enum:
                      - Standard
                      - Premium
                      x-ms-enum:
                        name: Tier
                        modelAsString: true
                      default: Standard
                      x-ms-mutability:
                      - create
                      - read
                    clusterDefinition:
                      description: The cluster definition.
                      type: object
                      properties:
                        blueprint:
                          type: string
                          description: The link to the blueprint.
                        kind:
                          type: string
                          description: The type of cluster.
                        componentVersion:
                          type: object
                          additionalProperties:
                            type: string
                          description: The versions of different services in the cluster.
                          x-ms-mutability:
                          - create
                          - read
                        configurations:
                          type: object
                          description: The cluster configurations.
                          x-ms-secret: true
                    kafkaRestProperties:
                      description: The cluster kafka rest proxy configuration.
                      type: object
                      properties:
                        clientGroupInfo:
                          description: The information of AAD security group.
                          type: object
                          properties:
                            groupName:
                              type: string
                              description: The AAD security group name.
                            groupId:
                              type: string
                              description: The AAD security group id.
                        configurationOverride:
                          type: object
                          additionalProperties:
                            type: string
                          description: The configurations that need to be overriden.
                    securityProfile:
                      description: The security profile.
                      type: object
                      properties:
                        directoryType:
                          type: string
                          description: The directory type.
                          enum:
                          - ActiveDirectory
                          x-ms-enum:
                            name: DirectoryType
                            modelAsString: true
                        domain:
                          type: string
                          description: The organization's active directory domain.
                        organizationalUnitDN:
                          type: string
                          description: The organizational unit within the Active Directory
                            to place the cluster and service accounts.
                          x-ms-mutability:
                          - create
                          - read
                        ldapsUrls:
                          type: array
                          items:
                            type: string
                          description: The LDAPS protocol URLs to communicate with
                            the Active Directory.
                        domainUsername:
                          type: string
                          description: The domain user account that will have admin
                            privileges on the cluster.
                        domainUserPassword:
                          type: string
                          format: password
                          description: The domain admin password.
                        clusterUsersGroupDNs:
                          type: array
                          items:
                            type: string
                          description: Optional. The Distinguished Names for cluster
                            user groups
                        aaddsResourceId:
                          type: string
                          description: The resource ID of the user's Azure Active
                            Directory Domain Service.
                        msiResourceId:
                          type: string
                          description: User assigned identity that has permissions
                            to read and create cluster-related artifacts in the user's
                            AADDS.
                    computeProfile:
                      description: The compute profile.
                      type: object
                      properties:
                        roles:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                description: The name of the role.
                              minInstanceCount:
                                type: integer
                                format: int32
                                description: The minimum instance count of the cluster.
                                x-ms-secret: true
                              targetInstanceCount:
                                type: integer
                                format: int32
                                description: The instance count of the cluster.
                              VMGroupName:
                                type: string
                                description: The name of the virtual machine group.
                                x-ms-mutability:
                                - create
                                - read
                              autoscale:
                                x-ms-client-name: autoscaleConfiguration
                                description: The autoscale configurations.
                                type: object
                                properties:
                                  capacity:
                                    description: Parameters for load-based autoscale
                                    type: object
                                    properties:
                                      minInstanceCount:
                                        type: integer
                                        format: int32
                                        description: The minimum instance count of
                                          the cluster
                                      maxInstanceCount:
                                        type: integer
                                        format: int32
                                        description: The maximum instance count of
                                          the cluster
                                  recurrence:
                                    description: Parameters for schedule-based autoscale
                                    type: object
                                    properties:
                                      timeZone:
                                        type: string
                                        description: The time zone for the autoscale
                                          schedule times
                                      schedule:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            days:
                                              type: array
                                              items:
                                                type: string
                                                enum:
                                                - Monday
                                                - Tuesday
                                                - Wednesday
                                                - Thursday
                                                - Friday
                                                - Saturday
                                                - Sunday
                                                x-ms-enum:
                                                  name: DaysOfWeek
                                                  modelAsString: true
                                              description: Days of the week for a
                                                schedule-based autoscale rule
                                            timeAndCapacity:
                                              description: Time and capacity for a
                                                schedule-based autoscale rule
                                              type: object
                                              properties:
                                                time:
                                                  type: string
                                                  description: 24-hour time in the
                                                    form xx:xx
                                                minInstanceCount:
                                                  type: integer
                                                  format: int32
                                                  description: The minimum instance
                                                    count of the cluster
                                                maxInstanceCount:
                                                  type: integer
                                                  format: int32
                                                  description: The maximum instance
                                                    count of the cluster
                                          description: Parameters for a schedule-based
                                            autoscale rule, consisting of an array
                                            of days + a time and capacity
                                        x-ms-identifiers: []
                                        description: Array of schedule-based autoscale
                                          rules
                              hardwareProfile:
                                description: The hardware profile.
                                type: object
                                properties:
                                  vmSize:
                                    type: string
                                    description: The size of the VM
                              osProfile:
                                description: The operating system profile.
                                type: object
                                properties:
                                  linuxOperatingSystemProfile:
                                    description: The Linux OS profile.
                                    type: object
                                    properties:
                                      username:
                                        type: string
                                        description: The username.
                                      password:
                                        type: string
                                        description: The password.
                                      sshProfile:
                                        description: The SSH profile.
                                        x-ms-secret: true
                                        type: object
                                        properties:
                                          publicKeys:
                                            type: array
                                            items:
                                              type: object
                                              description: The SSH public key for
                                                the cluster nodes.
                                              properties:
                                                certificateData:
                                                  type: string
                                                  description: The certificate for
                                                    SSH.
                                            x-ms-identifiers:
                                            - certificateData
                                            description: The list of SSH public keys.
                              virtualNetworkProfile:
                                description: The virtual network profile.
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: The ID of the virtual network.
                                  subnet:
                                    type: string
                                    description: The name of the subnet.
                              dataDisksGroups:
                                type: array
                                items:
                                  type: object
                                  description: The data disks groups for the role.
                                  properties:
                                    disksPerNode:
                                      type: integer
                                      format: int32
                                      description: The number of disks per node.
                                    storageAccountType:
                                      type: string
                                      description: ReadOnly. The storage account type.
                                        Do not set this value.
                                      readOnly: true
                                    diskSizeGB:
                                      type: integer
                                      format: int32
                                      description: ReadOnly. The DiskSize in GB. Do
                                        not set this value.
                                      readOnly: true
                                x-ms-identifiers: []
                                description: The data disks groups for the role.
                              scriptActions:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                      description: The name of the script action.
                                    uri:
                                      type: string
                                      description: The URI to the script.
                                    parameters:
                                      type: string
                                      description: The parameters for the script provided.
                                  required:
                                  - name
                                  - uri
                                  - parameters
                                  description: Describes a script action on role on
                                    the cluster.
                                x-ms-identifiers: []
                                description: The list of script actions on the role.
                                x-ms-secret: true
                              encryptDataDisks:
                                type: boolean
                                description: Indicates whether encrypt the data disks.
                                default: false
                            description: Describes a role on the cluster.
                          x-ms-identifiers:
                          - name
                          description: The list of roles in the cluster.
                    storageProfile:
                      description: The storage profile.
                      type: object
                      properties:
                        storageaccounts:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                description: The name of the storage account.
                              isDefault:
                                type: boolean
                                description: Whether or not the storage account is
                                  the default storage account.
                              container:
                                type: string
                                description: The container in the storage account,
                                  only to be specified for WASB storage accounts.
                              fileSystem:
                                type: string
                                description: The filesystem, only to be specified
                                  for Azure Data Lake Storage Gen 2.
                              key:
                                type: string
                                description: The storage account access key.
                              resourceId:
                                type: string
                                description: The resource ID of storage account, only
                                  to be specified for Azure Data Lake Storage Gen
                                  2.
                              msiResourceId:
                                type: string
                                description: The managed identity (MSI) that is allowed
                                  to access the storage account, only to be specified
                                  for Azure Data Lake Storage Gen 2.
                              saskey:
                                type: string
                                description: The shared access signature key.
                              fileshare:
                                type: string
                                description: The file share name.
                            description: The storage Account.
                          x-ms-identifiers:
                          - name
                          description: The list of storage accounts in the cluster.
                    diskEncryptionProperties:
                      description: The disk encryption properties.
                      type: object
                      properties:
                        vaultUri:
                          type: string
                          description: Base key vault URI where the customers key
                            is located eg. https://myvault.vault.azure.net
                        keyName:
                          type: string
                          description: Key name that is used for enabling disk encryption.
                        keyVersion:
                          type: string
                          description: Specific key version that is used for enabling
                            disk encryption.
                        encryptionAlgorithm:
                          type: string
                          description: Algorithm identifier for encryption, default
                            RSA-OAEP.
                          enum:
                          - RSA-OAEP
                          - RSA-OAEP-256
                          - RSA1_5
                          x-ms-enum:
                            name: JsonWebKeyEncryptionAlgorithm
                            modelAsString: true
                        msiResourceId:
                          type: string
                          description: Resource ID of Managed Identity that is used
                            to access the key vault.
                        encryptionAtHost:
                          type: boolean
                          default: false
                          description: Indicates whether or not resource disk encryption
                            is enabled.
                    encryptionInTransitProperties:
                      description: The encryption-in-transit properties.
                      type: object
                      properties:
                        isEncryptionInTransitEnabled:
                          type: boolean
                          default: false
                          description: Indicates whether or not inter cluster node
                            communication is encrypted in transit.
                    minSupportedTlsVersion:
                      type: string
                      description: The minimal supported tls version.
                    networkProperties:
                      description: The network properties.
                      type: object
                      properties:
                        resourceProviderConnection:
                          type: string
                          description: The direction for the resource provider connection.
                          enum:
                          - Inbound
                          - Outbound
                          x-ms-enum:
                            name: ResourceProviderConnection
                            modelAsString: true
                        privateLink:
                          type: string
                          description: Indicates whether or not private link is enabled.
                          enum:
                          - Disabled
                          - Enabled
                          x-ms-enum:
                            name: PrivateLink
                            modelAsString: true
                    computeIsolationProperties:
                      description: The compute isolation properties.
                      type: object
                      properties:
                        enableComputeIsolation:
                          type: boolean
                          description: The flag indicates whether enable compute isolation
                            or not.
                          default: false
                        hostSku:
                          type: string
                          description: The host sku.
                    privateLinkConfigurations:
                      type: array
                      description: The private link configurations.
                      items:
                        type: object
                        description: The private link configuration.
                        properties:
                          id:
                            readOnly: true
                            type: string
                            description: The private link configuration id.
                          name:
                            type: string
                            description: The name of private link configuration.
                          type:
                            readOnly: true
                            type: string
                            description: The type of the private link configuration.
                          properties:
                            description: The private link configuration properties.
                            x-ms-client-flatten: true
                            type: object
                            properties:
                              groupId:
                                type: string
                                description: The HDInsight private linkable sub-resource
                                  name to apply the private link configuration to.
                                  For example, 'headnode', 'gateway', 'edgenode'.
                              provisioningState:
                                type: string
                                description: The private link configuration provisioning
                                  state, which only appears in the response.
                                enum:
                                - InProgress
                                - Failed
                                - Succeeded
                                - Canceled
                                - Deleting
                                x-ms-enum:
                                  name: PrivateLinkConfigurationProvisioningState
                                  modelAsString: true
                                readOnly: true
                              ipConfigurations:
                                type: array
                                description: The IP configurations for the private
                                  link service.
                                items:
                                  type: object
                                  description: The ip configurations for the private
                                    link service.
                                  properties:
                                    id:
                                      readOnly: true
                                      type: string
                                      description: The private link IP configuration
                                        id.
                                    name:
                                      type: string
                                      description: The name of private link IP configuration.
                                    type:
                                      readOnly: true
                                      type: string
                                      description: The type of the private link IP
                                        configuration.
                                    properties:
                                      description: The private link ip configuration
                                        properties.
                                      x-ms-client-flatten: true
                                      type: object
                                      properties:
                                        provisioningState:
                                          type: string
                                          description: The private link configuration
                                            provisioning state, which only appears
                                            in the response.
                                          enum:
                                          - InProgress
                                          - Failed
                                          - Succeeded
                                          - Canceled
                                          - Deleting
                                          x-ms-enum:
                                            name: PrivateLinkConfigurationProvisioningState
                                            modelAsString: true
                                          readOnly: true
                                        primary:
                                          type: boolean
                                          description: Indicates whether this IP configuration
                                            is primary for the corresponding NIC.
                                        privateIPAddress:
                                          type: string
                                          description: The IP address.
                                        privateIPAllocationMethod:
                                          type: string
                                          description: The method that private IP
                                            address is allocated.
                                          enum:
                                          - dynamic
                                          - static
                                          x-ms-enum:
                                            name: PrivateIPAllocationMethod
                                            modelAsString: true
                                        subnet:
                                          description: The subnet resource id.
                                          type: object
                                          properties:
                                            id:
                                              type: string
                                              description: The azure resource id.
                                  required:
                                  - name
                            required:
                            - groupId
                            - ipConfigurations
                        required:
                        - name
                        - properties
                identity:
                  description: The identity of the cluster, if configured.
                  type: object
                  properties:
                    principalId:
                      readOnly: true
                      type: string
                      description: The principal id of cluster identity. This property
                        will only be provided for a system assigned identity.
                    tenantId:
                      readOnly: true
                      type: string
                      description: The tenant id associated with the cluster. This
                        property will only be provided for a system assigned identity.
                    type:
                      type: string
                      description: The type of identity used for the cluster. The
                        type 'SystemAssigned, UserAssigned' includes both an implicitly
                        created identity and a set of user assigned identities.
                      enum:
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned, UserAssigned
                      - None
                      x-ms-enum:
                        name: ResourceIdentityType
                        modelAsString: true
                    userAssignedIdentities:
                      type: object
                      additionalProperties:
                        type: object
                        description: The User Assigned Identity
                        properties:
                          principalId:
                            readOnly: true
                            type: string
                            description: The principal id of user assigned identity.
                          clientId:
                            readOnly: true
                            type: string
                            description: The client id of user assigned identity.
                          tenantId:
                            type: string
                            description: The tenant id of user assigned identity.
                      description: 'The list of user identities associated with the
                        cluster. The user identity dictionary key references will
                        be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                name:
                  description: The cluster name.
                  type: string
                type:
                  description: The resource type.
                  type: string
                tenantId:
                  description: The tenant id.
                  type: string
                fetchAaddsResource:
                  description: This indicates whether fetch Aadds resource or not.
                  type: boolean
              description: The CreateCluster request parameters.
        required: true
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                type: object
                description: The response of cluster create request validation.
                properties:
                  validationErrors:
                    description: The validation errors.
                    type: array
                    items:
                      type: object
                      description: The validation error information.
                      properties:
                        code:
                          description: The error code.
                          type: string
                        message:
                          description: The error message.
                          type: string
                        errorResource:
                          description: The error resource.
                          type: string
                        messageArguments:
                          description: The message arguments
                          type: array
                          items:
                            type: string
                    x-ms-identifiers:
                    - code
                  validationWarnings:
                    description: The validation warnings.
                    type: array
                    items:
                      type: object
                      description: The validation error information.
                      properties:
                        code:
                          description: The error code.
                          type: string
                        message:
                          description: The error message.
                          type: string
                        errorResource:
                          description: The error resource.
                          type: string
                        messageArguments:
                          description: The message arguments
                          type: array
                          items:
                            type: string
                    x-ms-identifiers:
                    - code
                  estimatedCreationDuration:
                    description: The estimated creation duration.
                    type: string
                    format: duration
                  aaddsResourcesDetails:
                    description: The Azure active directory domain service resource
                      details.
                    type: array
                    items:
                      type: object
                      description: The Azure active directory domain service resource
                        details.
                      properties:
                        domainName:
                          description: The Azure active directory domain service name.
                          type: string
                        initialSyncComplete:
                          description: This indicates whether initial sync complete
                            or not.
                          type: boolean
                        ldapsEnabled:
                          description: This indicates whether enable ldaps or not.
                          type: boolean
                        ldapsPublicCertificateInBase64:
                          description: The base 64 format string of public ldap certificate.
                          type: string
                        resourceId:
                          description: The resource id of azure active directory domain
                            service.
                          type: string
                        subnetId:
                          description: The subnet resource id.
                          type: string
                        tenantId:
                          description: The tenant id of azure active directory domain
                            service .
                          type: string
                    x-ms-identifiers:
                    - resourceId
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    LocationParameter:
      name: location
      in: path
      required: true
      description: The Azure location (region) for which to make the request.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The HDInsight client API Version.
      schema:
        type: string
    OperationIdParameter:
      name: operationId
      in: path
      required: true
      description: The long running operation id.
      x-ms-parameter-location: method
      schema:
        type: string
    ValidationLevelParameter:
      name: validation-level
      in: query
      required: true
      description: The validation level.
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        default: -1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    VersionSpec:
      type: object
      description: The version properties.
      properties:
        friendlyName:
          type: string
          description: The friendly name
        displayName:
          type: string
          description: The display name
        isDefault:
          type: boolean
          description: Whether or not the version is the default version.
        componentVersions:
          type: object
          description: The component version property.
          additionalProperties:
            type: string
      readOnly: true
    VersionsCapability:
      type: object
      description: The version capability.
      properties:
        available:
          description: The list of version capabilities.
          type: array
          items:
            type: object
            description: The version properties.
            properties:
              friendlyName:
                type: string
                description: The friendly name
              displayName:
                type: string
                description: The display name
              isDefault:
                type: boolean
                description: Whether or not the version is the default version.
              componentVersions:
                type: object
                description: The component version property.
                additionalProperties:
                  type: string
            readOnly: true
          x-ms-identifiers:
          - friendlyName
      readOnly: true
    RegionsCapability:
      type: object
      description: The regions capability.
      properties:
        available:
          description: The list of region capabilities.
          type: array
          items:
            type: string
      readOnly: true
    RegionalQuotaCapability:
      type: object
      description: The regional quota capacity.
      properties:
        regionName:
          description: The region name.
          type: string
        coresUsed:
          description: The number of cores used in the region.
          type: integer
          format: int64
        coresAvailable:
          description: The number of cores available in the region.
          type: integer
          format: int64
      readOnly: true
    QuotaCapability:
      type: object
      description: The regional quota capability.
      properties:
        coresUsed:
          description: The number of cores used in the subscription.
          type: integer
          format: int64
        maxCoresAllowed:
          description: The number of cores that the subscription allowed.
          type: integer
          format: int64
        regionalQuotas:
          description: The list of region quota capabilities.
          type: array
          items:
            type: object
            description: The regional quota capacity.
            properties:
              regionName:
                description: The region name.
                type: string
              coresUsed:
                description: The number of cores used in the region.
                type: integer
                format: int64
              coresAvailable:
                description: The number of cores available in the region.
                type: integer
                format: int64
            readOnly: true
          x-ms-identifiers:
          - regionName
      readOnly: true
    CapabilitiesResult:
      type: object
      description: The Get Capabilities operation response.
      properties:
        versions:
          description: The version capability.
          type: object
          additionalProperties:
            type: object
            description: The version capability.
            properties:
              available:
                description: The list of version capabilities.
                type: array
                items:
                  type: object
                  description: The version properties.
                  properties:
                    friendlyName:
                      type: string
                      description: The friendly name
                    displayName:
                      type: string
                      description: The display name
                    isDefault:
                      type: boolean
                      description: Whether or not the version is the default version.
                    componentVersions:
                      type: object
                      description: The component version property.
                      additionalProperties:
                        type: string
                  readOnly: true
                x-ms-identifiers:
                - friendlyName
            readOnly: true
        regions:
          description: The virtual machine size compatibility features.
          type: object
          additionalProperties:
            type: object
            description: The regions capability.
            properties:
              available:
                description: The list of region capabilities.
                type: array
                items:
                  type: string
            readOnly: true
        features:
          description: The capability features.
          type: array
          items:
            type: string
        quota:
          description: The quota capability.
          type: object
          properties:
            coresUsed:
              description: The number of cores used in the subscription.
              type: integer
              format: int64
            maxCoresAllowed:
              description: The number of cores that the subscription allowed.
              type: integer
              format: int64
            regionalQuotas:
              description: The list of region quota capabilities.
              type: array
              items:
                type: object
                description: The regional quota capacity.
                properties:
                  regionName:
                    description: The region name.
                    type: string
                  coresUsed:
                    description: The number of cores used in the region.
                    type: integer
                    format: int64
                  coresAvailable:
                    description: The number of cores available in the region.
                    type: integer
                    format: int64
                readOnly: true
              x-ms-identifiers:
              - regionName
          readOnly: true
      readOnly: true
    LocalizedName:
      type: object
      description: The details about the localizable name of a type of usage.
      properties:
        value:
          description: The name of the used resource.
          type: string
        localizedValue:
          description: The localized name of the used resource.
          type: string
      readOnly: true
    Usage:
      type: object
      description: The details about the usage of a particular limited resource.
      properties:
        unit:
          description: The type of measurement for usage.
          type: string
        currentValue:
          description: The current usage.
          type: integer
          format: int64
        limit:
          description: The maximum allowed usage.
          type: integer
          format: int64
        name:
          description: The details about the localizable name of the used resource.
          type: object
          properties:
            value:
              description: The name of the used resource.
              type: string
            localizedValue:
              description: The localized name of the used resource.
              type: string
          readOnly: true
      readOnly: true
    UsagesListResult:
      type: object
      description: The response for the operation to get regional usages for a subscription.
      properties:
        value:
          description: The list of usages.
          type: array
          items:
            type: object
            description: The details about the usage of a particular limited resource.
            properties:
              unit:
                description: The type of measurement for usage.
                type: string
              currentValue:
                description: The current usage.
                type: integer
                format: int64
              limit:
                description: The maximum allowed usage.
                type: integer
                format: int64
              name:
                description: The details about the localizable name of the used resource.
                type: object
                properties:
                  value:
                    description: The name of the used resource.
                    type: string
                  localizedValue:
                    description: The localized name of the used resource.
                    type: string
                readOnly: true
            readOnly: true
          x-ms-identifiers: []
      readOnly: true
    BillingResponseListResult:
      type: object
      description: The response for the operation to get regional billingSpecs for
        a subscription.
      properties:
        vmSizes:
          description: The virtual machine sizes to include or exclude.
          type: array
          items:
            type: string
        vmSizesWithEncryptionAtHost:
          description: The vm sizes which enable encryption at host.
          type: array
          items:
            type: string
        vmSizeFilters:
          description: The virtual machine filtering mode. Effectively this can enabling
            or disabling the virtual machine sizes in a particular set.
          type: array
          items:
            type: object
            description: 'This class represent a single filter object that defines
              a multidimensional set. The dimensions of this set are Regions, ClusterFlavors,
              NodeTypes and ClusterVersions. The constraint should be defined based
              on the following: FilterMode (Exclude vs Include), VMSizes (the vm sizes
              in affect of exclusion/inclusion) and the ordering of the Filters. Later
              filters override previous settings if conflicted.'
            properties:
              filterMode:
                description: The filtering mode. Effectively this can enabling or
                  disabling the VM sizes in a particular set.
                type: string
                enum:
                - Exclude
                - Include
                - Recommend
                - Default
                x-ms-enum:
                  name: FilterMode
                  modelAsString: true
              regions:
                description: The list of regions under the effect of the filter.
                type: array
                items:
                  type: string
              clusterFlavors:
                description: The list of cluster flavors under the effect of the filter.
                type: array
                items:
                  type: string
              nodeTypes:
                description: The list of node types affected by the filter.
                type: array
                items:
                  type: string
              clusterVersions:
                description: The list of cluster versions affected in Major.Minor
                  format.
                type: array
                items:
                  type: string
              osType:
                description: The OSType affected, Windows or Linux.
                type: array
                items:
                  type: string
                  enum:
                  - Windows
                  - Linux
                  x-ms-enum:
                    name: OSType
                    modelAsString: true
              vmSizes:
                description: The list of virtual machine sizes to include or exclude.
                type: array
                items:
                  type: string
              espApplied:
                description: Whether apply for ESP cluster. 'true' means only for
                  ESP, 'false' means only for non-ESP, null or empty string or others
                  mean for both.
                type: string
              computeIsolationSupported:
                description: Whether support compute isolation. 'true' means only
                  for ComputeIsolationEnabled, 'false' means only for regular cluster.
                type: string
          x-ms-identifiers: []
        vmSizeProperties:
          description: The vm size properties.
          type: array
          items:
            type: object
            description: The vm size property
            properties:
              name:
                description: The vm size name.
                type: string
              cores:
                description: The number of cores that the vm size has.
                type: integer
                format: int32
              dataDiskStorageTier:
                description: The data disk storage tier of the vm size.
                type: string
              label:
                description: The label of the vm size.
                type: string
              maxDataDiskCount:
                description: The max data disk count of the vm size.
                type: integer
                format: int64
              memoryInMb:
                description: The memory whose unit is MB of the vm size.
                type: integer
                format: int64
              supportedByVirtualMachines:
                description: This indicates this vm size is supported by virtual machines
                  or not
                type: boolean
              supportedByWebWorkerRoles:
                description: The indicates this vm size is supported by web worker
                  roles or not
                type: boolean
              virtualMachineResourceDiskSizeInMb:
                description: The virtual machine resource disk size whose unit is
                  MB of the vm size.
                type: integer
                format: int64
              webWorkerResourceDiskSizeInMb:
                description: The web worker resource disk size whose unit is MB of
                  the vm size.
                type: integer
                format: int64
          x-ms-identifiers:
          - name
          readOnly: true
        billingResources:
          description: The billing and managed disk billing resources for a region.
          type: array
          items:
            type: object
            description: The billing resources.
            properties:
              region:
                description: The region or location.
                type: string
              billingMeters:
                description: The billing meter information.
                type: array
                items:
                  type: object
                  description: The billing meters.
                  properties:
                    meterParameter:
                      description: The virtual machine sizes.
                      type: string
                    meter:
                      description: The HDInsight meter guid.
                      type: string
                    unit:
                      description: The unit of meter, VMHours or CoreHours.
                      type: string
                x-ms-identifiers:
                - meter
              diskBillingMeters:
                description: The managed disk billing information.
                type: array
                items:
                  type: object
                  description: The disk billing meters.
                  properties:
                    diskRpMeter:
                      description: The managed disk meter guid.
                      type: string
                    sku:
                      description: The managed disk billing sku, P30 or S30.
                      type: string
                    tier:
                      description: The managed disk billing tier, Standard or Premium.
                      type: string
                      enum:
                      - Standard
                      - Premium
                      x-ms-enum:
                        name: Tier
                        modelAsString: true
                x-ms-identifiers:
                - diskRpMeter
          x-ms-identifiers: []
    VmSizeProperty:
      type: object
      description: The vm size property
      properties:
        name:
          description: The vm size name.
          type: string
        cores:
          description: The number of cores that the vm size has.
          type: integer
          format: int32
        dataDiskStorageTier:
          description: The data disk storage tier of the vm size.
          type: string
        label:
          description: The label of the vm size.
          type: string
        maxDataDiskCount:
          description: The max data disk count of the vm size.
          type: integer
          format: int64
        memoryInMb:
          description: The memory whose unit is MB of the vm size.
          type: integer
          format: int64
        supportedByVirtualMachines:
          description: This indicates this vm size is supported by virtual machines
            or not
          type: boolean
        supportedByWebWorkerRoles:
          description: The indicates this vm size is supported by web worker roles
            or not
          type: boolean
        virtualMachineResourceDiskSizeInMb:
          description: The virtual machine resource disk size whose unit is MB of
            the vm size.
          type: integer
          format: int64
        webWorkerResourceDiskSizeInMb:
          description: The web worker resource disk size whose unit is MB of the vm
            size.
          type: integer
          format: int64
    VmSizeCompatibilityFilterV2:
      type: object
      description: 'This class represent a single filter object that defines a multidimensional
        set. The dimensions of this set are Regions, ClusterFlavors, NodeTypes and
        ClusterVersions. The constraint should be defined based on the following:
        FilterMode (Exclude vs Include), VMSizes (the vm sizes in affect of exclusion/inclusion)
        and the ordering of the Filters. Later filters override previous settings
        if conflicted.'
      properties:
        filterMode:
          description: The filtering mode. Effectively this can enabling or disabling
            the VM sizes in a particular set.
          type: string
          enum:
          - Exclude
          - Include
          - Recommend
          - Default
          x-ms-enum:
            name: FilterMode
            modelAsString: true
        regions:
          description: The list of regions under the effect of the filter.
          type: array
          items:
            type: string
        clusterFlavors:
          description: The list of cluster flavors under the effect of the filter.
          type: array
          items:
            type: string
        nodeTypes:
          description: The list of node types affected by the filter.
          type: array
          items:
            type: string
        clusterVersions:
          description: The list of cluster versions affected in Major.Minor format.
          type: array
          items:
            type: string
        osType:
          description: The OSType affected, Windows or Linux.
          type: array
          items:
            type: string
            enum:
            - Windows
            - Linux
            x-ms-enum:
              name: OSType
              modelAsString: true
        vmSizes:
          description: The list of virtual machine sizes to include or exclude.
          type: array
          items:
            type: string
        espApplied:
          description: Whether apply for ESP cluster. 'true' means only for ESP, 'false'
            means only for non-ESP, null or empty string or others mean for both.
          type: string
        computeIsolationSupported:
          description: Whether support compute isolation. 'true' means only for ComputeIsolationEnabled,
            'false' means only for regular cluster.
          type: string
    BillingResources:
      type: object
      description: The billing resources.
      properties:
        region:
          description: The region or location.
          type: string
        billingMeters:
          description: The billing meter information.
          type: array
          items:
            type: object
            description: The billing meters.
            properties:
              meterParameter:
                description: The virtual machine sizes.
                type: string
              meter:
                description: The HDInsight meter guid.
                type: string
              unit:
                description: The unit of meter, VMHours or CoreHours.
                type: string
          x-ms-identifiers:
          - meter
        diskBillingMeters:
          description: The managed disk billing information.
          type: array
          items:
            type: object
            description: The disk billing meters.
            properties:
              diskRpMeter:
                description: The managed disk meter guid.
                type: string
              sku:
                description: The managed disk billing sku, P30 or S30.
                type: string
              tier:
                description: The managed disk billing tier, Standard or Premium.
                type: string
                enum:
                - Standard
                - Premium
                x-ms-enum:
                  name: Tier
                  modelAsString: true
          x-ms-identifiers:
          - diskRpMeter
    BillingMeters:
      type: object
      description: The billing meters.
      properties:
        meterParameter:
          description: The virtual machine sizes.
          type: string
        meter:
          description: The HDInsight meter guid.
          type: string
        unit:
          description: The unit of meter, VMHours or CoreHours.
          type: string
    DiskBillingMeters:
      type: object
      description: The disk billing meters.
      properties:
        diskRpMeter:
          description: The managed disk meter guid.
          type: string
        sku:
          description: The managed disk billing sku, P30 or S30.
          type: string
        tier:
          description: The managed disk billing tier, Standard or Premium.
          type: string
          enum:
          - Standard
          - Premium
          x-ms-enum:
            name: Tier
            modelAsString: true
    NameAvailabilityCheckRequestParameters:
      type: object
      description: The request spec of checking name availability.
      properties:
        name:
          description: The resource name.
          type: string
        type:
          description: The resource type
          type: string
    NameAvailabilityCheckResult:
      type: object
      description: The response spec of checking name availability.
      properties:
        nameAvailable:
          description: This indicates whether the name is available.
          type: boolean
        reason:
          description: The reason of the result.
          type: string
          readOnly: true
        message:
          description: The related message.
          type: string
          readOnly: true
    ClusterCreateRequestValidationParameters:
      type: object
      properties:
        location:
          type: string
          description: The location of the cluster.
        tags:
          type: object
          additionalProperties:
            type: string
          description: The resource tags.
        zones:
          type: array
          items:
            type: string
          description: The availability zones.
        properties:
          description: The cluster create parameters.
          type: object
          properties:
            clusterVersion:
              type: string
              description: The version of the cluster.
            osType:
              type: string
              description: The type of operating system.
              enum:
              - Windows
              - Linux
              x-ms-enum:
                name: OSType
                modelAsString: true
            tier:
              type: string
              description: The cluster tier.
              enum:
              - Standard
              - Premium
              x-ms-enum:
                name: Tier
                modelAsString: true
              default: Standard
              x-ms-mutability:
              - create
              - read
            clusterDefinition:
              description: The cluster definition.
              type: object
              properties:
                blueprint:
                  type: string
                  description: The link to the blueprint.
                kind:
                  type: string
                  description: The type of cluster.
                componentVersion:
                  type: object
                  additionalProperties:
                    type: string
                  description: The versions of different services in the cluster.
                  x-ms-mutability:
                  - create
                  - read
                configurations:
                  type: object
                  description: The cluster configurations.
                  x-ms-secret: true
            kafkaRestProperties:
              description: The cluster kafka rest proxy configuration.
              type: object
              properties:
                clientGroupInfo:
                  description: The information of AAD security group.
                  type: object
                  properties:
                    groupName:
                      type: string
                      description: The AAD security group name.
                    groupId:
                      type: string
                      description: The AAD security group id.
                configurationOverride:
                  type: object
                  additionalProperties:
                    type: string
                  description: The configurations that need to be overriden.
            securityProfile:
              description: The security profile.
              type: object
              properties:
                directoryType:
                  type: string
                  description: The directory type.
                  enum:
                  - ActiveDirectory
                  x-ms-enum:
                    name: DirectoryType
                    modelAsString: true
                domain:
                  type: string
                  description: The organization's active directory domain.
                organizationalUnitDN:
                  type: string
                  description: The organizational unit within the Active Directory
                    to place the cluster and service accounts.
                  x-ms-mutability:
                  - create
                  - read
                ldapsUrls:
                  type: array
                  items:
                    type: string
                  description: The LDAPS protocol URLs to communicate with the Active
                    Directory.
                domainUsername:
                  type: string
                  description: The domain user account that will have admin privileges
                    on the cluster.
                domainUserPassword:
                  type: string
                  format: password
                  description: The domain admin password.
                clusterUsersGroupDNs:
                  type: array
                  items:
                    type: string
                  description: Optional. The Distinguished Names for cluster user
                    groups
                aaddsResourceId:
                  type: string
                  description: The resource ID of the user's Azure Active Directory
                    Domain Service.
                msiResourceId:
                  type: string
                  description: User assigned identity that has permissions to read
                    and create cluster-related artifacts in the user's AADDS.
            computeProfile:
              description: The compute profile.
              type: object
              properties:
                roles:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the role.
                      minInstanceCount:
                        type: integer
                        format: int32
                        description: The minimum instance count of the cluster.
                        x-ms-secret: true
                      targetInstanceCount:
                        type: integer
                        format: int32
                        description: The instance count of the cluster.
                      VMGroupName:
                        type: string
                        description: The name of the virtual machine group.
                        x-ms-mutability:
                        - create
                        - read
                      autoscale:
                        x-ms-client-name: autoscaleConfiguration
                        description: The autoscale configurations.
                        type: object
                        properties:
                          capacity:
                            description: Parameters for load-based autoscale
                            type: object
                            properties:
                              minInstanceCount:
                                type: integer
                                format: int32
                                description: The minimum instance count of the cluster
                              maxInstanceCount:
                                type: integer
                                format: int32
                                description: The maximum instance count of the cluster
                          recurrence:
                            description: Parameters for schedule-based autoscale
                            type: object
                            properties:
                              timeZone:
                                type: string
                                description: The time zone for the autoscale schedule
                                  times
                              schedule:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    days:
                                      type: array
                                      items:
                                        type: string
                                        enum:
                                        - Monday
                                        - Tuesday
                                        - Wednesday
                                        - Thursday
                                        - Friday
                                        - Saturday
                                        - Sunday
                                        x-ms-enum:
                                          name: DaysOfWeek
                                          modelAsString: true
                                      description: Days of the week for a schedule-based
                                        autoscale rule
                                    timeAndCapacity:
                                      description: Time and capacity for a schedule-based
                                        autoscale rule
                                      type: object
                                      properties:
                                        time:
                                          type: string
                                          description: 24-hour time in the form xx:xx
                                        minInstanceCount:
                                          type: integer
[...]
