openapi: 3.0.0
info:
  title: HDInsightManagementClient
  description: The HDInsight Management Client.
  version: 2021-06-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/privateEndpointConnections
  : get:
      tags:
      - PrivateEndpointConnections
      operationId: PrivateEndpointConnections_ListByCluster
      description: Lists the private endpoint connections for a HDInsight cluster.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                type: object
                description: The list private endpoint connections response.
                properties:
                  value:
                    type: array
                    description: The list of private endpoint connections.
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          description: The private endpoint connection properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            privateEndpoint:
                              description: The private endpoint of the private endpoint
                                connection
                              readOnly: true
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: The private endpoint id.
                            privateLinkServiceConnectionState:
                              description: The private link service connection state.
                              type: object
                              properties:
                                status:
                                  type: string
                                  description: The concrete private link service connection.
                                  enum:
                                  - Approved
                                  - Rejected
                                  - Pending
                                  - Removed
                                  x-ms-enum:
                                    name: PrivateLinkServiceConnectionStatus
                                    modelAsString: true
                                description:
                                  type: string
                                  description: The optional description of the status.
                                actionsRequired:
                                  type: string
                                  description: Whether there is further actions.
                              required:
                              - status
                            linkIdentifier:
                              type: string
                              description: The link identifier.
                              readOnly: true
                            provisioningState:
                              type: string
                              description: The provisioning state, which only appears
                                in the response.
                              enum:
                              - InProgress
                              - Updating
                              - Failed
                              - Succeeded
                              - Canceled
                              - Deleting
                              x-ms-enum:
                                name: PrivateEndpointConnectionProvisioningState
                                modelAsString: true
                              readOnly: true
                          required:
                          - privateLinkServiceConnectionState
                        systemData:
                          readOnly: true
                          description: Metadata pertaining to creation and last modification
                            of the resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - properties
                  nextLink:
                    type: string
                    readOnly: true
                    description: The link (url) to the next page of results.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/privateEndpointConnections/{privateEndpointConnectionName}
  : put:
      tags:
      - PrivateEndpointConnections
      operationId: PrivateEndpointConnections_CreateOrUpdate
      description: Approve or reject a private endpoint connection manually.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: privateEndpointConnectionName
        in: path
        required: true
        description: The name of the private endpoint connection.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                properties:
                  description: The private endpoint connection properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    privateEndpoint:
                      description: The private endpoint of the private endpoint connection
                      readOnly: true
                      type: object
                      properties:
                        id:
                          type: string
                          description: The private endpoint id.
                    privateLinkServiceConnectionState:
                      description: The private link service connection state.
                      type: object
                      properties:
                        status:
                          type: string
                          description: The concrete private link service connection.
                          enum:
                          - Approved
                          - Rejected
                          - Pending
                          - Removed
                          x-ms-enum:
                            name: PrivateLinkServiceConnectionStatus
                            modelAsString: true
                        description:
                          type: string
                          description: The optional description of the status.
                        actionsRequired:
                          type: string
                          description: Whether there is further actions.
                      required:
                      - status
                    linkIdentifier:
                      type: string
                      description: The link identifier.
                      readOnly: true
                    provisioningState:
                      type: string
                      description: The provisioning state, which only appears in the
                        response.
                      enum:
                      - InProgress
                      - Updating
                      - Failed
                      - Succeeded
                      - Canceled
                      - Deleting
                      x-ms-enum:
                        name: PrivateEndpointConnectionProvisioningState
                        modelAsString: true
                      readOnly: true
                  required:
                  - privateLinkServiceConnectionState
                systemData:
                  readOnly: true
                  description: Metadata pertaining to creation and last modification
                    of the resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
              required:
              - properties
        description: The private endpoint connection create or update request.
        required: true
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    description: The private endpoint connection properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      privateEndpoint:
                        description: The private endpoint of the private endpoint
                          connection
                        readOnly: true
                        type: object
                        properties:
                          id:
                            type: string
                            description: The private endpoint id.
                      privateLinkServiceConnectionState:
                        description: The private link service connection state.
                        type: object
                        properties:
                          status:
                            type: string
                            description: The concrete private link service connection.
                            enum:
                            - Approved
                            - Rejected
                            - Pending
                            - Removed
                            x-ms-enum:
                              name: PrivateLinkServiceConnectionStatus
                              modelAsString: true
                          description:
                            type: string
                            description: The optional description of the status.
                          actionsRequired:
                            type: string
                            description: Whether there is further actions.
                        required:
                        - status
                      linkIdentifier:
                        type: string
                        description: The link identifier.
                        readOnly: true
                      provisioningState:
                        type: string
                        description: The provisioning state, which only appears in
                          the response.
                        enum:
                        - InProgress
                        - Updating
                        - Failed
                        - Succeeded
                        - Canceled
                        - Deleting
                        x-ms-enum:
                          name: PrivateEndpointConnectionProvisioningState
                          modelAsString: true
                        readOnly: true
                    required:
                    - privateLinkServiceConnectionState
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - properties
        '201':
          description: Created response definition
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    description: The private endpoint connection properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      privateEndpoint:
                        description: The private endpoint of the private endpoint
                          connection
                        readOnly: true
                        type: object
                        properties:
                          id:
                            type: string
                            description: The private endpoint id.
                      privateLinkServiceConnectionState:
                        description: The private link service connection state.
                        type: object
                        properties:
                          status:
                            type: string
                            description: The concrete private link service connection.
                            enum:
                            - Approved
                            - Rejected
                            - Pending
                            - Removed
                            x-ms-enum:
                              name: PrivateLinkServiceConnectionStatus
                              modelAsString: true
                          description:
                            type: string
                            description: The optional description of the status.
                          actionsRequired:
                            type: string
                            description: Whether there is further actions.
                        required:
                        - status
                      linkIdentifier:
                        type: string
                        description: The link identifier.
                        readOnly: true
                      provisioningState:
                        type: string
                        description: The provisioning state, which only appears in
                          the response.
                        enum:
                        - InProgress
                        - Updating
                        - Failed
                        - Succeeded
                        - Canceled
                        - Deleting
                        x-ms-enum:
                          name: PrivateEndpointConnectionProvisioningState
                          modelAsString: true
                        readOnly: true
                    required:
                    - privateLinkServiceConnectionState
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - properties
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    get:
      tags:
      - PrivateEndpointConnections
      operationId: PrivateEndpointConnections_Get
      description: Gets the specific private endpoint connection.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: privateEndpointConnectionName
        in: path
        required: true
        description: The name of the private endpoint connection.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    description: The private endpoint connection properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      privateEndpoint:
                        description: The private endpoint of the private endpoint
                          connection
                        readOnly: true
                        type: object
                        properties:
                          id:
                            type: string
                            description: The private endpoint id.
                      privateLinkServiceConnectionState:
                        description: The private link service connection state.
                        type: object
                        properties:
                          status:
                            type: string
                            description: The concrete private link service connection.
                            enum:
                            - Approved
                            - Rejected
                            - Pending
                            - Removed
                            x-ms-enum:
                              name: PrivateLinkServiceConnectionStatus
                              modelAsString: true
                          description:
                            type: string
                            description: The optional description of the status.
                          actionsRequired:
                            type: string
                            description: Whether there is further actions.
                        required:
                        - status
                      linkIdentifier:
                        type: string
                        description: The link identifier.
                        readOnly: true
                      provisioningState:
                        type: string
                        description: The provisioning state, which only appears in
                          the response.
                        enum:
                        - InProgress
                        - Updating
                        - Failed
                        - Succeeded
                        - Canceled
                        - Deleting
                        x-ms-enum:
                          name: PrivateEndpointConnectionProvisioningState
                          modelAsString: true
                        readOnly: true
                    required:
                    - privateLinkServiceConnectionState
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - properties
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
    delete:
      tags:
      - PrivateEndpointConnections
      operationId: PrivateEndpointConnections_Delete
      description: Deletes the specific private endpoint connection.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: privateEndpointConnectionName
        in: path
        required: true
        description: The name of the private endpoint connection.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Ok response definition.
        '202':
          description: Accepted response definition.
        '204':
          description: No Content response definition.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    ClusterNameParameter:
      name: clusterName
      in: path
      required: true
      description: The name of the cluster.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The HDInsight client API Version.
      schema:
        type: string
    PrivateEndpointConnectionNameParameter:
      name: privateEndpointConnectionName
      in: path
      required: true
      description: The name of the private endpoint connection.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    PrivateEndpointConnectionListResult:
      type: object
      description: The list private endpoint connections response.
      properties:
        value:
          type: array
          description: The list of private endpoint connections.
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
              properties:
                description: The private endpoint connection properties.
                x-ms-client-flatten: true
                type: object
                properties:
                  privateEndpoint:
                    description: The private endpoint of the private endpoint connection
                    readOnly: true
                    type: object
                    properties:
                      id:
                        type: string
                        description: The private endpoint id.
                  privateLinkServiceConnectionState:
                    description: The private link service connection state.
                    type: object
                    properties:
                      status:
                        type: string
                        description: The concrete private link service connection.
                        enum:
                        - Approved
                        - Rejected
                        - Pending
                        - Removed
                        x-ms-enum:
                          name: PrivateLinkServiceConnectionStatus
                          modelAsString: true
                      description:
                        type: string
                        description: The optional description of the status.
                      actionsRequired:
                        type: string
                        description: Whether there is further actions.
                    required:
                    - status
                  linkIdentifier:
                    type: string
                    description: The link identifier.
                    readOnly: true
                  provisioningState:
                    type: string
                    description: The provisioning state, which only appears in the
                      response.
                    enum:
                    - InProgress
                    - Updating
                    - Failed
                    - Succeeded
                    - Canceled
                    - Deleting
                    x-ms-enum:
                      name: PrivateEndpointConnectionProvisioningState
                      modelAsString: true
                    readOnly: true
                required:
                - privateLinkServiceConnectionState
              systemData:
                readOnly: true
                description: Metadata pertaining to creation and last modification
                  of the resource.
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
            required:
            - properties
        nextLink:
          type: string
          readOnly: true
          description: The link (url) to the next page of results.
    PrivateEndpointConnection:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
        properties:
          description: The private endpoint connection properties.
          x-ms-client-flatten: true
          type: object
          properties:
            privateEndpoint:
              description: The private endpoint of the private endpoint connection
              readOnly: true
              type: object
              properties:
                id:
                  type: string
                  description: The private endpoint id.
            privateLinkServiceConnectionState:
              description: The private link service connection state.
              type: object
              properties:
                status:
                  type: string
                  description: The concrete private link service connection.
                  enum:
                  - Approved
                  - Rejected
                  - Pending
                  - Removed
                  x-ms-enum:
                    name: PrivateLinkServiceConnectionStatus
                    modelAsString: true
                description:
                  type: string
                  description: The optional description of the status.
                actionsRequired:
                  type: string
                  description: Whether there is further actions.
              required:
              - status
            linkIdentifier:
              type: string
              description: The link identifier.
              readOnly: true
            provisioningState:
              type: string
              description: The provisioning state, which only appears in the response.
              enum:
              - InProgress
              - Updating
              - Failed
              - Succeeded
              - Canceled
              - Deleting
              x-ms-enum:
                name: PrivateEndpointConnectionProvisioningState
                modelAsString: true
              readOnly: true
          required:
          - privateLinkServiceConnectionState
        systemData:
          readOnly: true
          description: Metadata pertaining to creation and last modification of the
            resource.
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
      required:
      - properties
    PrivateEndpointConnectionProperties:
      type: object
      description: The private endpoint connection properties.
      properties:
        privateEndpoint:
          description: The private endpoint of the private endpoint connection
          readOnly: true
          type: object
          properties:
            id:
              type: string
              description: The private endpoint id.
        privateLinkServiceConnectionState:
          description: The private link service connection state.
          type: object
          properties:
            status:
              type: string
              description: The concrete private link service connection.
              enum:
              - Approved
              - Rejected
              - Pending
              - Removed
              x-ms-enum:
                name: PrivateLinkServiceConnectionStatus
                modelAsString: true
            description:
              type: string
              description: The optional description of the status.
            actionsRequired:
              type: string
              description: Whether there is further actions.
          required:
          - status
        linkIdentifier:
          type: string
          description: The link identifier.
          readOnly: true
        provisioningState:
          type: string
          description: The provisioning state, which only appears in the response.
          enum:
          - InProgress
          - Updating
          - Failed
          - Succeeded
          - Canceled
          - Deleting
          x-ms-enum:
            name: PrivateEndpointConnectionProvisioningState
            modelAsString: true
          readOnly: true
      required:
      - privateLinkServiceConnectionState
    PrivateEndpoint:
      type: object
      description: The private endpoint.
      properties:
        id:
          type: string
          description: The private endpoint id.
    PrivateLinkServiceConnectionState:
      type: object
      description: The private link service connection state.
      properties:
        status:
          type: string
          description: The concrete private link service connection.
          enum:
          - Approved
          - Rejected
          - Pending
          - Removed
          x-ms-enum:
            name: PrivateLinkServiceConnectionStatus
            modelAsString: true
        description:
          type: string
          description: The optional description of the status.
        actionsRequired:
          type: string
          description: Whether there is further actions.
      required:
      - status
    ErrorResponse:
      description: Describes the format of Error response.
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
    Resource:
      type: object
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
      x-ms-azure-resource: true
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
