openapi: 3.0.0
info:
  title: HDInsightManagementClient
  description: The HDInsight Management Client.
  version: 2021-06-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/scriptActions/{scriptName}
  : delete:
      tags:
      - ScriptActions
      operationId: ScriptActions_Delete
      description: Deletes a specified persisted script action of the cluster.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: scriptName
        in: path
        required: true
        description: The name of the script.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      responses:
        '200':
          description: OK response definition.
        '204':
          description: No Content response definition.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/executeScriptActions
  : post:
      tags:
      - Clusters
      operationId: Clusters_ExecuteScriptActions
      description: Executes script actions on the specified HDInsight cluster.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                scriptActions:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the script action.
                      uri:
                        type: string
                        description: The URI to the script.
                      parameters:
                        type: string
                        description: The parameters for the script
                      roles:
                        type: array
                        items:
                          type: string
                        description: The list of roles where script will be executed.
                      applicationName:
                        readOnly: true
                        type: string
                        description: The application name of the script action, if
                          any.
                    required:
                    - name
                    - uri
                    - roles
                    description: Describes a script action on a running cluster.
                  x-ms-identifiers: []
                  description: The list of run time script actions.
                persistOnSuccess:
                  type: boolean
                  description: Gets or sets if the scripts needs to be persisted.
              required:
              - persistOnSuccess
              description: The parameters for the script actions to execute on a running
                cluster.
        description: The parameters for executing script actions.
        required: true
      responses:
        '200':
          description: Accepted response definition.
        '202':
          description: OK response definition.
        '404':
          description: Bad Request definition.
          x-ms-error-response: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/scriptActions
  : get:
      tags:
      - ScriptActions
      operationId: ScriptActions_ListByCluster
      description: Lists all the persisted script actions for the specified cluster.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                type: object
                description: The persisted script action for the cluster.
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the script action.
                        uri:
                          type: string
                          description: The URI to the script.
                        parameters:
                          type: string
                          description: The parameters for the script
                        roles:
                          type: array
                          items:
                            type: string
                          description: The list of roles where script will be executed.
                        applicationName:
                          readOnly: true
                          type: string
                          description: The application name of the script action,
                            if any.
                        scriptExecutionId:
                          readOnly: true
                          type: integer
                          format: int64
                          description: The execution id of the script action.
                        startTime:
                          readOnly: true
                          type: string
                          description: The start time of script action execution.
                        endTime:
                          readOnly: true
                          type: string
                          description: The end time of script action execution.
                        status:
                          readOnly: true
                          type: string
                          description: The current execution status of the script
                            action.
                        operation:
                          readOnly: true
                          type: string
                          description: The reason why the script action was executed.
                        executionSummary:
                          readOnly: true
                          type: array
                          items:
                            type: object
                            properties:
                              status:
                                readOnly: true
                                type: string
                                description: The status of script action execution.
                              instanceCount:
                                readOnly: true
                                type: integer
                                format: int32
                                description: The instance count for a given script
                                  action execution status.
                            description: The execution summary of a script action.
                          x-ms-identifiers: []
                          description: The summary of script action execution result.
                        debugInformation:
                          readOnly: true
                          type: string
                          description: The script action execution debug information.
                      required:
                      - name
                      - uri
                      - roles
                      description: Describes a script action on a running cluster.
                    x-ms-identifiers: []
                    description: The list of persisted script action details for the
                      cluster.
                  nextLink:
                    type: string
                    readOnly: true
                    description: The link (url) to the next page of results.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/scriptExecutionHistory/{scriptExecutionId}
  : get:
      tags:
      - ScriptExecutionHistory
      operationId: ScriptActions_GetExecutionDetail
      description: Gets the script execution detail for the given script execution
        ID.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: scriptExecutionId
        in: path
        required: true
        description: The script execution Id
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: The name of the script action.
                  uri:
                    type: string
                    description: The URI to the script.
                  parameters:
                    type: string
                    description: The parameters for the script
                  roles:
                    type: array
                    items:
                      type: string
                    description: The list of roles where script will be executed.
                  applicationName:
                    readOnly: true
                    type: string
                    description: The application name of the script action, if any.
                  scriptExecutionId:
                    readOnly: true
                    type: integer
                    format: int64
                    description: The execution id of the script action.
                  startTime:
                    readOnly: true
                    type: string
                    description: The start time of script action execution.
                  endTime:
                    readOnly: true
                    type: string
                    description: The end time of script action execution.
                  status:
                    readOnly: true
                    type: string
                    description: The current execution status of the script action.
                  operation:
                    readOnly: true
                    type: string
                    description: The reason why the script action was executed.
                  executionSummary:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          readOnly: true
                          type: string
                          description: The status of script action execution.
                        instanceCount:
                          readOnly: true
                          type: integer
                          format: int32
                          description: The instance count for a given script action
                            execution status.
                      description: The execution summary of a script action.
                    x-ms-identifiers: []
                    description: The summary of script action execution result.
                  debugInformation:
                    readOnly: true
                    type: string
                    description: The script action execution debug information.
                required:
                - name
                - uri
                - roles
                description: Describes a script action on a running cluster.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/scriptExecutionHistory
  : get:
      tags:
      - ScriptExecutionHistory
      operationId: ScriptExecutionHistory_ListByCluster
      description: Lists all scripts' execution history for the specified cluster.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                type: object
                description: The list script execution history response.
                properties:
                  value:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the script action.
                        uri:
                          type: string
                          description: The URI to the script.
                        parameters:
                          type: string
                          description: The parameters for the script
                        roles:
                          type: array
                          items:
                            type: string
                          description: The list of roles where script will be executed.
                        applicationName:
                          readOnly: true
                          type: string
                          description: The application name of the script action,
                            if any.
                        scriptExecutionId:
                          readOnly: true
                          type: integer
                          format: int64
                          description: The execution id of the script action.
                        startTime:
                          readOnly: true
                          type: string
                          description: The start time of script action execution.
                        endTime:
                          readOnly: true
                          type: string
                          description: The end time of script action execution.
                        status:
                          readOnly: true
                          type: string
                          description: The current execution status of the script
                            action.
                        operation:
                          readOnly: true
                          type: string
                          description: The reason why the script action was executed.
                        executionSummary:
                          readOnly: true
                          type: array
                          items:
                            type: object
                            properties:
                              status:
                                readOnly: true
                                type: string
                                description: The status of script action execution.
                              instanceCount:
                                readOnly: true
                                type: integer
                                format: int32
                                description: The instance count for a given script
                                  action execution status.
                            description: The execution summary of a script action.
                          x-ms-identifiers: []
                          description: The summary of script action execution result.
                        debugInformation:
                          readOnly: true
                          type: string
                          description: The script action execution debug information.
                      required:
                      - name
                      - uri
                      - roles
                      description: Describes a script action on a running cluster.
                    x-ms-identifiers: []
                    description: The list of persisted script action details for the
                      cluster.
                  nextLink:
                    type: string
                    readOnly: true
                    description: The link (url) to the next page of results.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/scriptExecutionHistory/{scriptExecutionId}/promote
  : post:
      tags:
      - Promote
      operationId: ScriptExecutionHistory_Promote
      description: Promotes the specified ad-hoc script execution to a persisted script.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: scriptExecutionId
        in: path
        required: true
        description: The script execution Id
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      responses:
        '200':
          description: OK response definition.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/executeScriptActions/azureasyncoperations/{operationId}
  : get:
      tags:
      - ScriptActions
      operationId: ScriptActions_GetExecutionAsyncOperationStatus
      description: Gets the async operation status of execution operation.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      - name: operationId
        in: path
        required: true
        description: The long running operation id.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The async operation state.
                    enum:
                    - InProgress
                    - Succeeded
                    - Failed
                    x-ms-enum:
                      name: AsyncOperationState
                      modelAsString: true
                  error:
                    description: The operation error information.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                      message:
                        type: string
                        description: The error message.
                description: The azure async operation response.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    ClusterNameParameter:
      name: clusterName
      in: path
      required: true
      description: The name of the cluster.
      x-ms-parameter-location: method
      schema:
        type: string
    ScriptNameParameter:
      name: scriptName
      in: path
      required: true
      description: The name of the script.
      x-ms-parameter-location: method
      schema:
        type: string
    ScriptExecutionIdParameter:
      name: scriptExecutionId
      in: path
      required: true
      description: The script execution Id
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The HDInsight client API Version.
      schema:
        type: string
    OperationIdParameter:
      name: operationId
      in: path
      required: true
      description: The long running operation id.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ScriptActionExecutionHistoryList:
      type: object
      description: The list script execution history response.
      properties:
        value:
          readOnly: true
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the script action.
              uri:
                type: string
                description: The URI to the script.
              parameters:
                type: string
                description: The parameters for the script
              roles:
                type: array
                items:
                  type: string
                description: The list of roles where script will be executed.
              applicationName:
                readOnly: true
                type: string
                description: The application name of the script action, if any.
              scriptExecutionId:
                readOnly: true
                type: integer
                format: int64
                description: The execution id of the script action.
              startTime:
                readOnly: true
                type: string
                description: The start time of script action execution.
              endTime:
                readOnly: true
                type: string
                description: The end time of script action execution.
              status:
                readOnly: true
                type: string
                description: The current execution status of the script action.
              operation:
                readOnly: true
                type: string
                description: The reason why the script action was executed.
              executionSummary:
                readOnly: true
                type: array
                items:
                  type: object
                  properties:
                    status:
                      readOnly: true
                      type: string
                      description: The status of script action execution.
                    instanceCount:
                      readOnly: true
                      type: integer
                      format: int32
                      description: The instance count for a given script action execution
                        status.
                  description: The execution summary of a script action.
                x-ms-identifiers: []
                description: The summary of script action execution result.
              debugInformation:
                readOnly: true
                type: string
                description: The script action execution debug information.
            required:
            - name
            - uri
            - roles
            description: Describes a script action on a running cluster.
          x-ms-identifiers: []
          description: The list of persisted script action details for the cluster.
        nextLink:
          type: string
          readOnly: true
          description: The link (url) to the next page of results.
    ScriptAction:
      type: object
      properties:
        name:
          type: string
          description: The name of the script action.
        uri:
          type: string
          description: The URI to the script.
        parameters:
          type: string
          description: The parameters for the script provided.
      required:
      - name
      - uri
      - parameters
      description: Describes a script action on role on the cluster.
    ScriptActionPersistedGetResponseSpec:
      type: object
      description: The persisted script action for cluster.
      properties:
        name:
          type: string
          description: The name of script action.
        uri:
          type: string
          description: The URI to the script.
        parameters:
          type: string
          description: The parameters for the script provided.
        roles:
          type: array
          items:
            type: string
          description: The list of roles where script will be executed.
        applicationName:
          type: string
          description: The application name for the script action.
    ScriptActionsList:
      type: object
      description: The persisted script action for the cluster.
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the script action.
              uri:
                type: string
                description: The URI to the script.
              parameters:
                type: string
                description: The parameters for the script
              roles:
                type: array
                items:
                  type: string
                description: The list of roles where script will be executed.
              applicationName:
                readOnly: true
                type: string
                description: The application name of the script action, if any.
              scriptExecutionId:
                readOnly: true
                type: integer
                format: int64
                description: The execution id of the script action.
              startTime:
                readOnly: true
                type: string
                description: The start time of script action execution.
              endTime:
                readOnly: true
                type: string
                description: The end time of script action execution.
              status:
                readOnly: true
                type: string
                description: The current execution status of the script action.
              operation:
                readOnly: true
                type: string
                description: The reason why the script action was executed.
              executionSummary:
                readOnly: true
                type: array
                items:
                  type: object
                  properties:
                    status:
                      readOnly: true
                      type: string
                      description: The status of script action execution.
                    instanceCount:
                      readOnly: true
                      type: integer
                      format: int32
                      description: The instance count for a given script action execution
                        status.
                  description: The execution summary of a script action.
                x-ms-identifiers: []
                description: The summary of script action execution result.
              debugInformation:
                readOnly: true
                type: string
                description: The script action execution debug information.
            required:
            - name
            - uri
            - roles
            description: Describes a script action on a running cluster.
          x-ms-identifiers: []
          description: The list of persisted script action details for the cluster.
        nextLink:
          type: string
          readOnly: true
          description: The link (url) to the next page of results.
    ErrorResponse:
      description: Describes the format of Error response.
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
    RuntimeScriptAction:
      type: object
      properties:
        name:
          type: string
          description: The name of the script action.
        uri:
          type: string
          description: The URI to the script.
        parameters:
          type: string
          description: The parameters for the script
        roles:
          type: array
          items:
            type: string
          description: The list of roles where script will be executed.
        applicationName:
          readOnly: true
          type: string
          description: The application name of the script action, if any.
      required:
      - name
      - uri
      - roles
      description: Describes a script action on a running cluster.
    ExecuteScriptActionParameters:
      type: object
      properties:
        scriptActions:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the script action.
              uri:
                type: string
                description: The URI to the script.
              parameters:
                type: string
                description: The parameters for the script
              roles:
                type: array
                items:
                  type: string
                description: The list of roles where script will be executed.
              applicationName:
                readOnly: true
                type: string
                description: The application name of the script action, if any.
            required:
            - name
            - uri
            - roles
            description: Describes a script action on a running cluster.
          x-ms-identifiers: []
          description: The list of run time script actions.
        persistOnSuccess:
          type: boolean
          description: Gets or sets if the scripts needs to be persisted.
      required:
      - persistOnSuccess
      description: The parameters for the script actions to execute on a running cluster.
    ScriptActionExecutionSummary:
      type: object
      properties:
        status:
          readOnly: true
          type: string
          description: The status of script action execution.
        instanceCount:
          readOnly: true
          type: integer
          format: int32
          description: The instance count for a given script action execution status.
      description: The execution summary of a script action.
    RuntimeScriptActionDetail:
      type: object
      properties:
        name:
          type: string
          description: The name of the script action.
        uri:
          type: string
          description: The URI to the script.
        parameters:
          type: string
          description: The parameters for the script
        roles:
          type: array
          items:
            type: string
          description: The list of roles where script will be executed.
        applicationName:
          readOnly: true
          type: string
          description: The application name of the script action, if any.
        scriptExecutionId:
          readOnly: true
          type: integer
          format: int64
          description: The execution id of the script action.
        startTime:
          readOnly: true
          type: string
          description: The start time of script action execution.
        endTime:
          readOnly: true
          type: string
          description: The end time of script action execution.
        status:
          readOnly: true
          type: string
          description: The current execution status of the script action.
        operation:
          readOnly: true
          type: string
          description: The reason why the script action was executed.
        executionSummary:
          readOnly: true
          type: array
          items:
            type: object
            properties:
              status:
                readOnly: true
                type: string
                description: The status of script action execution.
              instanceCount:
                readOnly: true
                type: integer
                format: int32
                description: The instance count for a given script action execution
                  status.
            description: The execution summary of a script action.
          x-ms-identifiers: []
          description: The summary of script action execution result.
        debugInformation:
          readOnly: true
          type: string
          description: The script action execution debug information.
      required:
      - name
      - uri
      - roles
      description: Describes a script action on a running cluster.
    Errors:
      type: object
      description: The error message associated with the cluster creation.
      properties:
        code:
          type: string
          description: The error code.
        message:
          type: string
          description: The error message.
    AsyncOperationResult:
      type: object
      properties:
        status:
          type: string
          description: The async operation state.
          enum:
          - InProgress
          - Succeeded
          - Failed
          x-ms-enum:
            name: AsyncOperationState
            modelAsString: true
        error:
          description: The operation error information.
          type: object
          properties:
            code:
              type: string
              description: The error code.
            message:
              type: string
              description: The error message.
      description: The azure async operation response.
