openapi: 3.0.0
info:
  title: HDInsightManagementClient
  description: The HDInsight Management Client.
  version: 2021-06-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/listHosts
  : post:
      tags:
      - VirtualMachines
      operationId: VirtualMachines_ListHosts
      description: Lists the HDInsight clusters hosts
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                description: Result of the request to list cluster hosts
                type: array
                items:
                  type: object
                  description: The cluster host information.
                  properties:
                    name:
                      description: The host name
                      type: string
                    fqdn:
                      description: The Fully Qualified Domain Name of host
                      type: string
                    effectiveDiskEncryptionKeyUrl:
                      description: The effective disk encryption key URL used by the
                        host
                      type: string
                  readOnly: true
                x-ms-identifiers:
                - fqdn
                readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/restartHosts
  : post:
      tags:
      - VirtualMachines
      operationId: VirtualMachines_RestartHosts
      description: Restarts the specified HDInsight cluster hosts.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
              description: The list of hosts which need to be restarted.
        description: The list of hosts to restart
        required: true
      responses:
        '200':
          description: OK response definition.
        '202':
          description: Accepted response definition.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/restartHosts/azureasyncoperations/{operationId}
  : get:
      tags:
      - VirtualMachines
      operationId: VirtualMachines_GetAsyncOperationStatus
      description: Gets the async operation status.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The HDInsight client API Version.
        schema:
          type: string
      - name: operationId
        in: path
        required: true
        description: The long running operation id.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The async operation state.
                    enum:
                    - InProgress
                    - Succeeded
                    - Failed
                    x-ms-enum:
                      name: AsyncOperationState
                      modelAsString: true
                  error:
                    description: The operation error information.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                      message:
                        type: string
                        description: The error message.
                description: The azure async operation response.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Describes the format of Error response.
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    ClusterNameParameter:
      name: clusterName
      in: path
      required: true
      description: The name of the cluster.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The HDInsight client API Version.
      schema:
        type: string
    OperationIdParameter:
      name: operationId
      in: path
      required: true
      description: The long running operation id.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    HostInfo:
      type: object
      description: The cluster host information.
      properties:
        name:
          description: The host name
          type: string
        fqdn:
          description: The Fully Qualified Domain Name of host
          type: string
        effectiveDiskEncryptionKeyUrl:
          description: The effective disk encryption key URL used by the host
          type: string
      readOnly: true
    HostInfoListResult:
      description: Result of the request to list cluster hosts
      type: array
      items:
        type: object
        description: The cluster host information.
        properties:
          name:
            description: The host name
            type: string
          fqdn:
            description: The Fully Qualified Domain Name of host
            type: string
          effectiveDiskEncryptionKeyUrl:
            description: The effective disk encryption key URL used by the host
            type: string
        readOnly: true
      x-ms-identifiers:
      - fqdn
      readOnly: true
    RestartHostsParameters:
      type: array
      items:
        type: string
      description: The list of hosts which need to be restarted.
    ErrorResponse:
      description: Describes the format of Error response.
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
    Errors:
      type: object
      description: The error message associated with the cluster creation.
      properties:
        code:
          type: string
          description: The error code.
        message:
          type: string
          description: The error message.
    AsyncOperationResult:
      type: object
      properties:
        status:
          type: string
          description: The async operation state.
          enum:
          - InProgress
          - Succeeded
          - Failed
          x-ms-enum:
            name: AsyncOperationState
            modelAsString: true
        error:
          description: The operation error information.
          type: object
          properties:
            code:
              type: string
              description: The error code.
            message:
              type: string
              description: The error message.
      description: The azure async operation response.
