openapi: 3.0.0
info:
  version: 2024-06-01
  title: AppConfigurationManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/configurationStores:
    get:
      tags:
      - ConfigurationStores
      description: Lists the configuration stores for a given subscription.
      operationId: ConfigurationStores_List
      parameters:
      - name: subscriptionId
        in: path
        description: The Microsoft Azure subscription ID.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      - name: $skipToken
        in: query
        description: A skip token is used to continue retrieving items after an operation
          returns a partial result. If a previous response contains a nextLink element,
          the value of the nextLink element will include a skipToken parameter that
          specifies a starting point to use for subsequent calls.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The request was successful; the request was well-formed and
            received properly.
          content:
            application/json:
              schema:
                description: The result of a request to list configuration stores.
                type: object
                properties:
                  value:
                    description: The collection value.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        identity:
                          description: The managed identity information, if configured.
                          type: object
                          properties:
                            type:
                              description: The type of managed identity used. The
                                type 'SystemAssigned, UserAssigned' includes both
                                an implicitly created identity and a set of user-assigned
                                identities. The type 'None' will remove any identities.
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned, UserAssigned
                              type: string
                              x-ms-enum:
                                name: IdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              description: 'The list of user-assigned identities associated
                                with the resource. The user-assigned identity dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                              type: object
                              additionalProperties:
                                type: object
                                description: A resource identity that is managed by
                                  the user of the service.
                                properties:
                                  principalId:
                                    description: The principal ID of the user-assigned
                                      identity.
                                    type: string
                                    readOnly: true
                                  clientId:
                                    description: The client ID of the user-assigned
                                      identity.
                                    type: string
                                    readOnly: true
                            principalId:
                              description: The principal id of the identity. This
                                property will only be provided for a system-assigned
                                identity.
                              type: string
                              readOnly: true
                            tenantId:
                              description: The tenant id associated with the resource's
                                identity. This property will only be provided for
                                a system-assigned identity.
                              type: string
                              readOnly: true
                        properties:
                          description: The properties of a configuration store.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            provisioningState:
                              description: The provisioning state of the configuration
                                store.
                              enum:
                              - Creating
                              - Updating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Canceled
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            creationDate:
                              format: date-time
                              description: The creation date of configuration store.
                              type: string
                              readOnly: true
                            endpoint:
                              description: The DNS endpoint where the configuration
                                store API will be available.
                              type: string
                              readOnly: true
                            encryption:
                              description: The encryption settings of the configuration
                                store.
                              type: object
                              properties:
                                keyVaultProperties:
                                  description: Key vault properties.
                                  type: object
                                  properties:
                                    keyIdentifier:
                                      description: The URI of the key vault key used
                                        to encrypt data.
                                      type: string
                                    identityClientId:
                                      description: The client id of the identity which
                                        will be used to access key vault.
                                      type: string
                            privateEndpointConnections:
                              description: The list of private endpoint connections
                                that are set up for this resource.
                              type: array
                              readOnly: true
                              items:
                                type: object
                                description: A reference to a related private endpoint
                                  connection.
                                properties:
                                  id:
                                    description: The resource ID.
                                    type: string
                                    readOnly: true
                                  name:
                                    description: The name of the resource.
                                    type: string
                                    readOnly: true
                                  type:
                                    description: The type of the resource.
                                    type: string
                                    readOnly: true
                                  properties:
                                    description: The properties of a private endpoint
                                      connection.
                                    x-ms-client-flatten: true
                                    type: object
                                    properties:
                                      provisioningState:
                                        enum:
                                        - Creating
                                        - Updating
                                        - Deleting
                                        - Succeeded
                                        - Failed
                                        - Canceled
                                        type: string
                                        readOnly: true
                                        description: The provisioning status of the
                                          private endpoint connection.
                                        x-ms-enum:
                                          name: ProvisioningState
                                          modelAsString: true
                                      privateEndpoint:
                                        description: The resource of private endpoint.
                                        type: object
                                        properties:
                                          id:
                                            description: The resource Id for private
                                              endpoint
                                            type: string
                                      privateLinkServiceConnectionState:
                                        description: A collection of information about
                                          the state of the connection between service
                                          consumer and provider.
                                        type: object
                                        properties:
                                          status:
                                            enum:
                                            - Pending
                                            - Approved
                                            - Rejected
                                            - Disconnected
                                            type: string
                                            description: The private link service
                                              connection status.
                                            x-ms-enum:
                                              name: ConnectionStatus
                                              modelAsString: true
                                          description:
                                            type: string
                                            description: The private link service
                                              connection description.
                                          actionsRequired:
                                            enum:
                                            - None
                                            - Recreate
                                            type: string
                                            readOnly: true
                                            description: Any action that is required
                                              beyond basic workflow (approve/ reject/
                                              disconnect)
                                            x-ms-enum:
                                              name: ActionsRequired
                                              modelAsString: true
                                    required:
                                    - privateLinkServiceConnectionState
                            publicNetworkAccess:
                              description: Control permission for data plane traffic
                                coming from public networks while private endpoint
                                is enabled.
                              enum:
                              - Enabled
                              - Disabled
                              type: string
                              x-ms-enum:
                                name: PublicNetworkAccess
                                modelAsString: true
                            disableLocalAuth:
                              type: boolean
                              default: false
                              description: Disables all authentication methods other
                                than AAD authentication.
                            softDeleteRetentionInDays:
                              type: integer
                              format: int32
                              default: 7
                              description: The amount of time in days that the configuration
                                store will be retained when it is soft deleted.
                            defaultKeyValueRevisionRetentionPeriodInSeconds:
                              type: integer
                              format: int64
                              description: The duration in seconds to retain new key
                                value revisions. Defaults to 604800 (7 days) for Free
                                SKU stores and 2592000 (30 days) for Standard SKU
                                stores and Premium SKU stores.
                            enablePurgeProtection:
                              type: boolean
                              default: false
                              description: Property specifying whether protection
                                against purge is enabled for this configuration store.
                            dataPlaneProxy:
                              description: Property specifying the configuration of
                                data plane proxy for Azure Resource Manager (ARM).
                              type: object
                              properties:
                                authenticationMode:
                                  description: The data plane proxy authentication
                                    mode. This property manages the authentication
                                    mode of request to the data plane resources.
                                  enum:
                                  - Local
                                  - Pass-through
                                  type: string
                                  x-ms-enum:
                                    name: AuthenticationMode
                                    modelAsString: true
                                    values:
                                    - value: Local
                                      description: The local authentication mode.
                                        Users are not required to have data plane
                                        permissions if local authentication is not
                                        disabled.
                                    - value: Pass-through
                                      description: The pass-through authentication
                                        mode. User identity will be passed through
                                        from Azure Resource Manager (ARM), requiring
                                        user to have data plane action permissions
                                        (Available via App Configuration Data Owner/
                                        App Configuration Data Reader).
                                privateLinkDelegation:
                                  description: The data plane proxy private link delegation.
                                    This property manages if a request from delegated
                                    Azure Resource Manager (ARM) private link is allowed
                                    when the data plane resource requires private
                                    link.
                                  enum:
                                  - Enabled
                                  - Disabled
                                  type: string
                                  x-ms-enum:
                                    name: PrivateLinkDelegation
                                    modelAsString: true
                                    values:
                                    - value: Enabled
                                      description: Azure Resource Manager (ARM) private
                                        endpoint is required if the resource requires
                                        private link.
                                    - value: Disabled
                                      description: Request is denied if the resource
                                        requires private link.
                            createMode:
                              type: string
                              description: Indicates whether the configuration store
                                need to be recovered.
                              enum:
                              - Recover
                              - Default
                              x-ms-enum:
                                name: CreateMode
                                modelAsString: false
                              x-ms-mutability:
                              - create
                        sku:
                          description: The sku of the configuration store.
                          type: object
                          required:
                          - name
                          properties:
                            name:
                              description: The SKU name of the configuration store.
                              type: string
                        systemData:
                          description: Resource system metadata.
                          type: object
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      required:
                      - location
                      - sku
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: The URI that can be used to request the next set
                      of paged results.
                    type: string
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores
  : get:
      tags:
      - ConfigurationStores
      description: Lists the configuration stores for a given resource group.
      operationId: ConfigurationStores_ListByResourceGroup
      parameters:
      - name: subscriptionId
        in: path
        description: The Microsoft Azure subscription ID.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the resource group to which the container registry
          belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      - name: $skipToken
        in: query
        description: A skip token is used to continue retrieving items after an operation
          returns a partial result. If a previous response contains a nextLink element,
          the value of the nextLink element will include a skipToken parameter that
          specifies a starting point to use for subsequent calls.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The request was successful; the request was well-formed and
            received properly.
          content:
            application/json:
              schema:
                description: The result of a request to list configuration stores.
                type: object
                properties:
                  value:
                    description: The collection value.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        identity:
                          description: The managed identity information, if configured.
                          type: object
                          properties:
                            type:
                              description: The type of managed identity used. The
                                type 'SystemAssigned, UserAssigned' includes both
                                an implicitly created identity and a set of user-assigned
                                identities. The type 'None' will remove any identities.
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned, UserAssigned
                              type: string
                              x-ms-enum:
                                name: IdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              description: 'The list of user-assigned identities associated
                                with the resource. The user-assigned identity dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                              type: object
                              additionalProperties:
                                type: object
                                description: A resource identity that is managed by
                                  the user of the service.
                                properties:
                                  principalId:
                                    description: The principal ID of the user-assigned
                                      identity.
                                    type: string
                                    readOnly: true
                                  clientId:
                                    description: The client ID of the user-assigned
                                      identity.
                                    type: string
                                    readOnly: true
                            principalId:
                              description: The principal id of the identity. This
                                property will only be provided for a system-assigned
                                identity.
                              type: string
                              readOnly: true
                            tenantId:
                              description: The tenant id associated with the resource's
                                identity. This property will only be provided for
                                a system-assigned identity.
                              type: string
                              readOnly: true
                        properties:
                          description: The properties of a configuration store.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            provisioningState:
                              description: The provisioning state of the configuration
                                store.
                              enum:
                              - Creating
                              - Updating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Canceled
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            creationDate:
                              format: date-time
                              description: The creation date of configuration store.
                              type: string
                              readOnly: true
                            endpoint:
                              description: The DNS endpoint where the configuration
                                store API will be available.
                              type: string
                              readOnly: true
                            encryption:
                              description: The encryption settings of the configuration
                                store.
                              type: object
                              properties:
                                keyVaultProperties:
                                  description: Key vault properties.
                                  type: object
                                  properties:
                                    keyIdentifier:
                                      description: The URI of the key vault key used
                                        to encrypt data.
                                      type: string
                                    identityClientId:
                                      description: The client id of the identity which
                                        will be used to access key vault.
                                      type: string
                            privateEndpointConnections:
                              description: The list of private endpoint connections
                                that are set up for this resource.
                              type: array
                              readOnly: true
                              items:
                                type: object
                                description: A reference to a related private endpoint
                                  connection.
                                properties:
                                  id:
                                    description: The resource ID.
                                    type: string
                                    readOnly: true
                                  name:
                                    description: The name of the resource.
                                    type: string
                                    readOnly: true
                                  type:
                                    description: The type of the resource.
                                    type: string
                                    readOnly: true
                                  properties:
                                    description: The properties of a private endpoint
                                      connection.
                                    x-ms-client-flatten: true
                                    type: object
                                    properties:
                                      provisioningState:
                                        enum:
                                        - Creating
                                        - Updating
                                        - Deleting
                                        - Succeeded
                                        - Failed
                                        - Canceled
                                        type: string
                                        readOnly: true
                                        description: The provisioning status of the
                                          private endpoint connection.
                                        x-ms-enum:
                                          name: ProvisioningState
                                          modelAsString: true
                                      privateEndpoint:
                                        description: The resource of private endpoint.
                                        type: object
                                        properties:
                                          id:
                                            description: The resource Id for private
                                              endpoint
                                            type: string
                                      privateLinkServiceConnectionState:
                                        description: A collection of information about
                                          the state of the connection between service
                                          consumer and provider.
                                        type: object
                                        properties:
                                          status:
                                            enum:
                                            - Pending
                                            - Approved
                                            - Rejected
                                            - Disconnected
                                            type: string
                                            description: The private link service
                                              connection status.
                                            x-ms-enum:
                                              name: ConnectionStatus
                                              modelAsString: true
                                          description:
                                            type: string
                                            description: The private link service
                                              connection description.
                                          actionsRequired:
                                            enum:
                                            - None
                                            - Recreate
                                            type: string
                                            readOnly: true
                                            description: Any action that is required
                                              beyond basic workflow (approve/ reject/
                                              disconnect)
                                            x-ms-enum:
                                              name: ActionsRequired
                                              modelAsString: true
                                    required:
                                    - privateLinkServiceConnectionState
                            publicNetworkAccess:
                              description: Control permission for data plane traffic
                                coming from public networks while private endpoint
                                is enabled.
                              enum:
                              - Enabled
                              - Disabled
                              type: string
                              x-ms-enum:
                                name: PublicNetworkAccess
                                modelAsString: true
                            disableLocalAuth:
                              type: boolean
                              default: false
                              description: Disables all authentication methods other
                                than AAD authentication.
                            softDeleteRetentionInDays:
                              type: integer
                              format: int32
                              default: 7
                              description: The amount of time in days that the configuration
                                store will be retained when it is soft deleted.
                            defaultKeyValueRevisionRetentionPeriodInSeconds:
                              type: integer
                              format: int64
                              description: The duration in seconds to retain new key
                                value revisions. Defaults to 604800 (7 days) for Free
                                SKU stores and 2592000 (30 days) for Standard SKU
                                stores and Premium SKU stores.
                            enablePurgeProtection:
                              type: boolean
                              default: false
                              description: Property specifying whether protection
                                against purge is enabled for this configuration store.
                            dataPlaneProxy:
                              description: Property specifying the configuration of
                                data plane proxy for Azure Resource Manager (ARM).
                              type: object
                              properties:
                                authenticationMode:
                                  description: The data plane proxy authentication
                                    mode. This property manages the authentication
                                    mode of request to the data plane resources.
                                  enum:
                                  - Local
                                  - Pass-through
                                  type: string
                                  x-ms-enum:
                                    name: AuthenticationMode
                                    modelAsString: true
                                    values:
                                    - value: Local
                                      description: The local authentication mode.
                                        Users are not required to have data plane
                                        permissions if local authentication is not
                                        disabled.
                                    - value: Pass-through
                                      description: The pass-through authentication
                                        mode. User identity will be passed through
                                        from Azure Resource Manager (ARM), requiring
                                        user to have data plane action permissions
                                        (Available via App Configuration Data Owner/
                                        App Configuration Data Reader).
                                privateLinkDelegation:
                                  description: The data plane proxy private link delegation.
                                    This property manages if a request from delegated
                                    Azure Resource Manager (ARM) private link is allowed
                                    when the data plane resource requires private
                                    link.
                                  enum:
                                  - Enabled
                                  - Disabled
                                  type: string
                                  x-ms-enum:
                                    name: PrivateLinkDelegation
                                    modelAsString: true
                                    values:
                                    - value: Enabled
                                      description: Azure Resource Manager (ARM) private
                                        endpoint is required if the resource requires
                                        private link.
                                    - value: Disabled
                                      description: Request is denied if the resource
                                        requires private link.
                            createMode:
                              type: string
                              description: Indicates whether the configuration store
                                need to be recovered.
                              enum:
                              - Recover
                              - Default
                              x-ms-enum:
                                name: CreateMode
                                modelAsString: false
                              x-ms-mutability:
                              - create
                        sku:
                          description: The sku of the configuration store.
                          type: object
                          required:
                          - name
                          properties:
                            name:
                              description: The SKU name of the configuration store.
                              type: string
                        systemData:
                          description: Resource system metadata.
                          type: object
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      required:
                      - location
                      - sku
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: The URI that can be used to request the next set
                      of paged results.
                    type: string
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}
  : get:
      tags:
      - ConfigurationStores
      description: Gets the properties of the specified configuration store.
      operationId: ConfigurationStores_Get
      parameters:
      - name: subscriptionId
        in: path
        description: The Microsoft Azure subscription ID.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the resource group to which the container registry
          belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: configStoreName
        in: path
        description: The name of the configuration store.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 5
          maxLength: 50
          pattern: ^[a-zA-Z0-9_-]*$
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request was successful; the request was well-formed and
            received properly.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  identity:
                    description: The managed identity information, if configured.
                    type: object
                    properties:
                      type:
                        description: The type of managed identity used. The type 'SystemAssigned,
                          UserAssigned' includes both an implicitly created identity
                          and a set of user-assigned identities. The type 'None' will
                          remove any identities.
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        type: string
                        x-ms-enum:
                          name: IdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        description: 'The list of user-assigned identities associated
                          with the resource. The user-assigned identity dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                        type: object
                        additionalProperties:
                          type: object
                          description: A resource identity that is managed by the
                            user of the service.
                          properties:
                            principalId:
                              description: The principal ID of the user-assigned identity.
                              type: string
                              readOnly: true
                            clientId:
                              description: The client ID of the user-assigned identity.
                              type: string
                              readOnly: true
                      principalId:
                        description: The principal id of the identity. This property
                          will only be provided for a system-assigned identity.
                        type: string
                        readOnly: true
                      tenantId:
                        description: The tenant id associated with the resource's
                          identity. This property will only be provided for a system-assigned
                          identity.
                        type: string
                        readOnly: true
                  properties:
                    description: The properties of a configuration store.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state of the configuration store.
                        enum:
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      creationDate:
                        format: date-time
                        description: The creation date of configuration store.
                        type: string
                        readOnly: true
                      endpoint:
                        description: The DNS endpoint where the configuration store
                          API will be available.
                        type: string
                        readOnly: true
                      encryption:
                        description: The encryption settings of the configuration
                          store.
                        type: object
                        properties:
                          keyVaultProperties:
                            description: Key vault properties.
                            type: object
                            properties:
                              keyIdentifier:
                                description: The URI of the key vault key used to
                                  encrypt data.
                                type: string
                              identityClientId:
                                description: The client id of the identity which will
                                  be used to access key vault.
                                type: string
                      privateEndpointConnections:
                        description: The list of private endpoint connections that
                          are set up for this resource.
                        type: array
                        readOnly: true
                        items:
                          type: object
                          description: A reference to a related private endpoint connection.
                          properties:
                            id:
                              description: The resource ID.
                              type: string
                              readOnly: true
                            name:
                              description: The name of the resource.
                              type: string
                              readOnly: true
                            type:
                              description: The type of the resource.
                              type: string
                              readOnly: true
                            properties:
                              description: The properties of a private endpoint connection.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                provisioningState:
                                  enum:
                                  - Creating
                                  - Updating
                                  - Deleting
                                  - Succeeded
                                  - Failed
                                  - Canceled
                                  type: string
                                  readOnly: true
                                  description: The provisioning status of the private
                                    endpoint connection.
                                  x-ms-enum:
                                    name: ProvisioningState
                                    modelAsString: true
                                privateEndpoint:
                                  description: The resource of private endpoint.
                                  type: object
                                  properties:
                                    id:
                                      description: The resource Id for private endpoint
                                      type: string
                                privateLinkServiceConnectionState:
                                  description: A collection of information about the
                                    state of the connection between service consumer
                                    and provider.
                                  type: object
                                  properties:
                                    status:
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      - Disconnected
                                      type: string
                                      description: The private link service connection
                                        status.
                                      x-ms-enum:
                                        name: ConnectionStatus
                                        modelAsString: true
                                    description:
                                      type: string
                                      description: The private link service connection
                                        description.
                                    actionsRequired:
                                      enum:
                                      - None
                                      - Recreate
                                      type: string
                                      readOnly: true
                                      description: Any action that is required beyond
                                        basic workflow (approve/ reject/ disconnect)
                                      x-ms-enum:
                                        name: ActionsRequired
                                        modelAsString: true
                              required:
                              - privateLinkServiceConnectionState
                      publicNetworkAccess:
                        description: Control permission for data plane traffic coming
                          from public networks while private endpoint is enabled.
                        enum:
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: PublicNetworkAccess
                          modelAsString: true
                      disableLocalAuth:
                        type: boolean
                        default: false
                        description: Disables all authentication methods other than
                          AAD authentication.
                      softDeleteRetentionInDays:
                        type: integer
                        format: int32
                        default: 7
                        description: The amount of time in days that the configuration
                          store will be retained when it is soft deleted.
                      defaultKeyValueRevisionRetentionPeriodInSeconds:
                        type: integer
                        format: int64
                        description: The duration in seconds to retain new key value
                          revisions. Defaults to 604800 (7 days) for Free SKU stores
                          and 2592000 (30 days) for Standard SKU stores and Premium
                          SKU stores.
                      enablePurgeProtection:
                        type: boolean
                        default: false
                        description: Property specifying whether protection against
                          purge is enabled for this configuration store.
                      dataPlaneProxy:
                        description: Property specifying the configuration of data
                          plane proxy for Azure Resource Manager (ARM).
                        type: object
                        properties:
                          authenticationMode:
                            description: The data plane proxy authentication mode.
                              This property manages the authentication mode of request
                              to the data plane resources.
                            enum:
                            - Local
                            - Pass-through
                            type: string
                            x-ms-enum:
                              name: AuthenticationMode
                              modelAsString: true
                              values:
                              - value: Local
                                description: The local authentication mode. Users
                                  are not required to have data plane permissions
                                  if local authentication is not disabled.
                              - value: Pass-through
                                description: The pass-through authentication mode.
                                  User identity will be passed through from Azure
                                  Resource Manager (ARM), requiring user to have data
                                  plane action permissions (Available via App Configuration
                                  Data Owner/ App Configuration Data Reader).
                          privateLinkDelegation:
                            description: The data plane proxy private link delegation.
                              This property manages if a request from delegated Azure
                              Resource Manager (ARM) private link is allowed when
                              the data plane resource requires private link.
                            enum:
                            - Enabled
                            - Disabled
                            type: string
                            x-ms-enum:
                              name: PrivateLinkDelegation
                              modelAsString: true
                              values:
                              - value: Enabled
                                description: Azure Resource Manager (ARM) private
                                  endpoint is required if the resource requires private
                                  link.
                              - value: Disabled
                                description: Request is denied if the resource requires
                                  private link.
                      createMode:
                        type: string
                        description: Indicates whether the configuration store need
                          to be recovered.
                        enum:
                        - Recover
                        - Default
                        x-ms-enum:
                          name: CreateMode
                          modelAsString: false
                        x-ms-mutability:
                        - create
                  sku:
                    description: The sku of the configuration store.
                    type: object
                    required:
                    - name
                    properties:
                      name:
                        description: The SKU name of the configuration store.
                        type: string
                  systemData:
                    description: Resource system metadata.
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                - sku
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    put:
      tags:
      - ConfigurationStores
      description: Creates a configuration store with the specified parameters.
      operationId: ConfigurationStores_Create
      parameters:
      - name: subscriptionId
        in: path
        description: The Microsoft Azure subscription ID.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the resource group to which the container registry
          belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: configStoreName
        in: path
        description: The name of the configuration store.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 5
          maxLength: 50
          pattern: ^[a-zA-Z0-9_-]*$
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                identity:
                  description: The managed identity information, if configured.
                  type: object
                  properties:
                    type:
                      description: The type of managed identity used. The type 'SystemAssigned,
                        UserAssigned' includes both an implicitly created identity
                        and a set of user-assigned identities. The type 'None' will
                        remove any identities.
                      enum:
                      - None
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned, UserAssigned
                      type: string
                      x-ms-enum:
                        name: IdentityType
                        modelAsString: true
                    userAssignedIdentities:
                      description: 'The list of user-assigned identities associated
                        with the resource. The user-assigned identity dictionary keys
                        will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                      type: object
                      additionalProperties:
                        type: object
                        description: A resource identity that is managed by the user
                          of the service.
                        properties:
                          principalId:
                            description: The principal ID of the user-assigned identity.
                            type: string
                            readOnly: true
                          clientId:
                            description: The client ID of the user-assigned identity.
                            type: string
                            readOnly: true
                    principalId:
                      description: The principal id of the identity. This property
                        will only be provided for a system-assigned identity.
                      type: string
                      readOnly: true
                    tenantId:
                      description: The tenant id associated with the resource's identity.
                        This property will only be provided for a system-assigned
                        identity.
                      type: string
                      readOnly: true
                properties:
                  description: The properties of a configuration store.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    provisioningState:
                      description: The provisioning state of the configuration store.
                      enum:
                      - Creating
                      - Updating
                      - Deleting
                      - Succeeded
                      - Failed
                      - Canceled
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    creationDate:
                      format: date-time
                      description: The creation date of configuration store.
                      type: string
                      readOnly: true
                    endpoint:
                      description: The DNS endpoint where the configuration store
                        API will be available.
                      type: string
                      readOnly: true
                    encryption:
                      description: The encryption settings of the configuration store.
                      type: object
                      properties:
                        keyVaultProperties:
                          description: Key vault properties.
                          type: object
                          properties:
                            keyIdentifier:
                              description: The URI of the key vault key used to encrypt
                                data.
                              type: string
                            identityClientId:
                              description: The client id of the identity which will
                                be used to access key vault.
                              type: string
                    privateEndpointConnections:
                      description: The list of private endpoint connections that are
                        set up for this resource.
                      type: array
                      readOnly: true
                      items:
                        type: object
                        description: A reference to a related private endpoint connection.
                        properties:
                          id:
                            description: The resource ID.
                            type: string
                            readOnly: true
                          name:
                            description: The name of the resource.
                            type: string
                            readOnly: true
                          type:
                            description: The type of the resource.
                            type: string
                            readOnly: true
                          properties:
                            description: The properties of a private endpoint connection.
                            x-ms-client-flatten: true
                            type: object
                            properties:
                              provisioningState:
                                enum:
                                - Creating
                                - Updating
                                - Deleting
                                - Succeeded
                                - Failed
                                - Canceled
                                type: string
                                readOnly: true
                                description: The provisioning status of the private
                                  endpoint connection.
                                x-ms-enum:
                                  name: ProvisioningState
                                  modelAsString: true
                              privateEndpoint:
                                description: The resource of private endpoint.
                                type: object
                                properties:
                                  id:
                                    description: The resource Id for private endpoint
                                    type: string
                              privateLinkServiceConnectionState:
                                description: A collection of information about the
                                  state of the connection between service consumer
                                  and provider.
                                type: object
                                properties:
                                  status:
                                    enum:
                                    - Pending
                                    - Approved
                                    - Rejected
                                    - Disconnected
                                    type: string
                                    description: The private link service connection
                                      status.
                                    x-ms-enum:
                                      name: ConnectionStatus
                                      modelAsString: true
                                  description:
                                    type: string
                                    description: The private link service connection
                                      description.
                                  actionsRequired:
                                    enum:
                                    - None
                                    - Recreate
                                    type: string
                                    readOnly: true
                                    description: Any action that is required beyond
                                      basic workflow (approve/ reject/ disconnect)
                                    x-ms-enum:
                                      name: ActionsRequired
                                      modelAsString: true
                            required:
                            - privateLinkServiceConnectionState
                    publicNetworkAccess:
                      description: Control permission for data plane traffic coming
                        from public networks while private endpoint is enabled.
                      enum:
                      - Enabled
                      - Disabled
                      type: string
                      x-ms-enum:
                        name: PublicNetworkAccess
                        modelAsString: true
                    disableLocalAuth:
                      type: boolean
                      default: false
                      description: Disables all authentication methods other than
                        AAD authentication.
                    softDeleteRetentionInDays:
                      type: integer
                      format: int32
                      default: 7
                      description: The amount of time in days that the configuration
                        store will be retained when it is soft deleted.
                    defaultKeyValueRevisionRetentionPeriodInSeconds:
                      type: integer
                      format: int64
                      description: The duration in seconds to retain new key value
                        revisions. Defaults to 604800 (7 days) for Free SKU stores
                        and 2592000 (30 days) for Standard SKU stores and Premium
                        SKU stores.
                    enablePurgeProtection:
                      type: boolean
                      default: false
                      description: Property specifying whether protection against
                        purge is enabled for this configuration store.
                    dataPlaneProxy:
                      description: Property specifying the configuration of data plane
                        proxy for Azure Resource Manager (ARM).
                      type: object
                      properties:
                        authenticationMode:
                          description: The data plane proxy authentication mode. This
                            property manages the authentication mode of request to
                            the data plane resources.
                          enum:
                          - Local
                          - Pass-through
                          type: string
                          x-ms-enum:
                            name: AuthenticationMode
                            modelAsString: true
                            values:
                            - value: Local
                              description: The local authentication mode. Users are
                                not required to have data plane permissions if local
                                authentication is not disabled.
                            - value: Pass-through
                              description: The pass-through authentication mode. User
                                identity will be passed through from Azure Resource
                                Manager (ARM), requiring user to have data plane action
                                permissions (Available via App Configuration Data
                                Owner/ App Configuration Data Reader).
                        privateLinkDelegation:
                          description: The data plane proxy private link delegation.
                            This property manages if a request from delegated Azure
                            Resource Manager (ARM) private link is allowed when the
                            data plane resource requires private link.
                          enum:
                          - Enabled
                          - Disabled
                          type: string
                          x-ms-enum:
                            name: PrivateLinkDelegation
                            modelAsString: true
                            values:
                            - value: Enabled
                              description: Azure Resource Manager (ARM) private endpoint
                                is required if the resource requires private link.
                            - value: Disabled
                              description: Request is denied if the resource requires
                                private link.
                    createMode:
                      type: string
                      description: Indicates whether the configuration store need
                        to be recovered.
                      enum:
                      - Recover
                      - Default
                      x-ms-enum:
                        name: CreateMode
                        modelAsString: false
                      x-ms-mutability:
                      - create
                sku:
                  description: The sku of the configuration store.
                  type: object
                  required:
                  - name
                  properties:
                    name:
                      description: The SKU name of the configuration store.
                      type: string
                systemData:
                  description: Resource system metadata.
                  type: object
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
              required:
              - location
              - sku
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: The parameters for creating a configuration store.
        required: true
      responses:
        '200':
          description: The update request was successful; the request was well-formed
            and received properly.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  identity:
                    description: The managed identity information, if configured.
                    type: object
                    properties:
                      type:
                        description: The type of managed identity used. The type 'SystemAssigned,
                          UserAssigned' includes both an implicitly created identity
                          and a set of user-assigned identities. The type 'None' will
                          remove any identities.
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        type: string
                        x-ms-enum:
                          name: IdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        description: 'The list of user-assigned identities associated
                          with the resource. The user-assigned identity dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                        type: object
                        additionalProperties:
                          type: object
                          description: A resource identity that is managed by the
                            user of the service.
                          properties:
                            principalId:
                              description: The principal ID of the user-assigned identity.
                              type: string
                              readOnly: true
                            clientId:
                              description: The client ID of the user-assigned identity.
                              type: string
                              readOnly: true
                      principalId:
                        description: The principal id of the identity. This property
                          will only be provided for a system-assigned identity.
                        type: string
                        readOnly: true
                      tenantId:
                        description: The tenant id associated with the resource's
                          identity. This property will only be provided for a system-assigned
                          identity.
                        type: string
                        readOnly: true
                  properties:
                    description: The properties of a configuration store.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state of the configuration store.
                        enum:
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      creationDate:
                        format: date-time
                        description: The creation date of configuration store.
                        type: string
                        readOnly: true
                      endpoint:
                        description: The DNS endpoint where the configuration store
                          API will be available.
                        type: string
                        readOnly: true
                      encryption:
                        description: The encryption settings of the configuration
                          store.
                        type: object
                        properties:
                          keyVaultProperties:
                            description: Key vault properties.
                            type: object
                            properties:
                              keyIdentifier:
                                description: The URI of the key vault key used to
                                  encrypt data.
                                type: string
                              identityClientId:
                                description: The client id of the identity which will
                                  be used to access key vault.
                                type: string
                      privateEndpointConnections:
                        description: The list of private endpoint connections that
                          are set up for this resource.
                        type: array
                        readOnly: true
                        items:
                          type: object
                          description: A reference to a related private endpoint connection.
                          properties:
                            id:
                              description: The resource ID.
                              type: string
                              readOnly: true
                            name:
                              description: The name of the resource.
                              type: string
                              readOnly: true
                            type:
                              description: The type of the resource.
                              type: string
                              readOnly: true
                            properties:
                              description: The properties of a private endpoint connection.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                provisioningState:
                                  enum:
                                  - Creating
                                  - Updating
                                  - Deleting
                                  - Succeeded
                                  - Failed
                                  - Canceled
                                  type: string
                                  readOnly: true
                                  description: The provisioning status of the private
                                    endpoint connection.
                                  x-ms-enum:
                                    name: ProvisioningState
                                    modelAsString: true
                                privateEndpoint:
                                  description: The resource of private endpoint.
                                  type: object
                                  properties:
                                    id:
                                      description: The resource Id for private endpoint
                                      type: string
                                privateLinkServiceConnectionState:
                                  description: A collection of information about the
                                    state of the connection between service consumer
                                    and provider.
                                  type: object
                                  properties:
                                    status:
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      - Disconnected
                                      type: string
                                      description: The private link service connection
                                        status.
                                      x-ms-enum:
                                        name: ConnectionStatus
                                        modelAsString: true
                                    description:
                                      type: string
                                      description: The private link service connection
                                        description.
                                    actionsRequired:
                                      enum:
                                      - None
                                      - Recreate
                                      type: string
                                      readOnly: true
                                      description: Any action that is required beyond
                                        basic workflow (approve/ reject/ disconnect)
                                      x-ms-enum:
                                        name: ActionsRequired
                                        modelAsString: true
                              required:
                              - privateLinkServiceConnectionState
                      publicNetworkAccess:
                        description: Control permission for data plane traffic coming
                          from public networks while private endpoint is enabled.
                        enum:
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: PublicNetworkAccess
                          modelAsString: true
                      disableLocalAuth:
                        type: boolean
                        default: false
[...]
