openapi: 3.0.0
info:
  title: MicrosoftKubernetesConfigurationClient
  x-ms-code-generation-settings:
    name: MicrosoftKubernetesConfigurationClient
  description: Azure Arc K8s Clusters API reference for Private Link's Scopes management.
  version: 2024-11-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.KubernetesConfiguration/privateLinkScopes:
    get:
      description: Gets a list of all Azure Arc PrivateLinkScopes within a subscription.
      operationId: PrivateLinkScopes_List
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: A list containing 0 or more Azure Arc PrivateLinkScope definitions.
          content:
            application/json:
              schema:
                type: object
                description: Describes the list of Azure Arc PrivateLinkScope resources.
                required:
                - value
                properties:
                  value:
                    type: array
                    description: List of Azure Arc PrivateLinkScope definitions.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: Properties that define a Azure Arc PrivateLinkScope
                            resource.
                          type: object
                          required:
                          - clusterResourceId
                          properties:
                            publicNetworkAccess:
                              description: Indicates whether machines associated with
                                the private link scope can also use public Azure Arc
                                service endpoints.
                              type: string
                              default: Disabled
                              enum:
                              - Enabled
                              - Disabled
                              x-ms-enum:
                                name: PublicNetworkAccessType
                                modelAsString: true
                                values:
                                - value: Enabled
                                  description: Allows Azure Arc agents to communicate
                                    with Azure Arc services over both public (internet)
                                    and private endpoints.
                                - value: Disabled
                                  description: Does not allow Azure Arc agents to
                                    communicate with Azure Arc services over public
                                    (internet) endpoints. The agents must use the
                                    private link.
                            provisioningState:
                              description: 'Current state of this PrivateLinkScope:
                                whether or not is has been provisioned within the
                                resource group it is defined. Users cannot change
                                this value but are able to read from it. Values will
                                include Provisioning ,Succeeded, Canceled and Failed.'
                              type: string
                              readOnly: true
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Creating
                              - Updating
                              - Deleting
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            clusterResourceId:
                              type: string
                              description: Managed Cluster ARM ID for the private
                                link scope  (Required)
                            privateLinkScopeId:
                              readOnly: true
                              description: The Guid id of the private link scope.
                              type: string
                            privateEndpointConnections:
                              readOnly: true
                              description: The collection of associated Private Endpoint
                                Connections.
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Fully qualified resource ID for the
                                      resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                                    readOnly: true
                                  name:
                                    type: string
                                    description: The name of the resource
                                    readOnly: true
                                  type:
                                    type: string
                                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                      or "Microsoft.Storage/storageAccounts"
                                    readOnly: true
                                  systemData:
                                    type: object
                                    description: Azure Resource Manager metadata containing
                                      createdBy and modifiedBy information.
                                    readOnly: true
                                    properties:
                                      createdBy:
                                        type: string
                                        description: The identity that created the
                                          resource.
                                      createdByType:
                                        type: string
                                        description: The type of identity that created
                                          the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      createdAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource creation
                                          (UTC).
                                      lastModifiedBy:
                                        type: string
                                        description: The identity that last modified
                                          the resource.
                                      lastModifiedByType:
                                        type: string
                                        description: The type of identity that last
                                          modified the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      lastModifiedAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource last
                                          modification (UTC)
                                  properties:
                                    description: Resource properties.
                                    x-ms-client-flatten: true
                                    type: object
                                    properties:
                                      privateEndpoint:
                                        description: The resource of private end point.
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                            description: The ARM identifier for Private
                                              Endpoint
                                            readOnly: true
                                      privateLinkServiceConnectionState:
                                        description: A collection of information about
                                          the state of the connection between service
                                          consumer and provider.
                                        type: object
                                        properties:
                                          status:
                                            description: Indicates whether the connection
                                              has been Approved/Rejected/Removed by
                                              the owner of the service.
                                            type: string
                                            enum:
                                            - Pending
                                            - Approved
                                            - Rejected
                                            x-ms-enum:
                                              name: PrivateEndpointServiceConnectionStatus
                                              modelAsString: true
                                          description:
                                            type: string
                                            description: The reason for approval/rejection
                                              of the connection.
                                          actionsRequired:
                                            type: string
                                            description: A message indicating if changes
                                              on the service provider require any
                                              updates on the consumer.
                                      provisioningState:
                                        description: The provisioning state of the
                                          private endpoint connection resource.
                                        type: string
                                        enum:
                                        - Succeeded
                                        - Creating
                                        - Deleting
                                        - Failed
                                        x-ms-enum:
                                          name: PrivateEndpointConnectionProvisioningState
                                          modelAsString: true
                                        readOnly: true
                                    required:
                                    - privateLinkServiceConnectionState
                                title: Resource
                                description: Common fields that are returned in the
                                  response for all Azure Resource Manager resources
                                x-ms-azure-resource: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: The URI to get the next set of Azure Arc PrivateLinkScope
                      definitions if too many PrivateLinkScopes where returned in
                      the result set.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KubernetesConfiguration/privateLinkScopes
  : get:
      description: Gets a list of Azure Arc PrivateLinkScopes within a resource group.
      operationId: PrivateLinkScopes_ListByResourceGroup
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: A list containing 0 or more Azure Arc PrivateLinkScope definitions.
          content:
            application/json:
              schema:
                type: object
                description: Describes the list of Azure Arc PrivateLinkScope resources.
                required:
                - value
                properties:
                  value:
                    type: array
                    description: List of Azure Arc PrivateLinkScope definitions.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: Properties that define a Azure Arc PrivateLinkScope
                            resource.
                          type: object
                          required:
                          - clusterResourceId
                          properties:
                            publicNetworkAccess:
                              description: Indicates whether machines associated with
                                the private link scope can also use public Azure Arc
                                service endpoints.
                              type: string
                              default: Disabled
                              enum:
                              - Enabled
                              - Disabled
                              x-ms-enum:
                                name: PublicNetworkAccessType
                                modelAsString: true
                                values:
                                - value: Enabled
                                  description: Allows Azure Arc agents to communicate
                                    with Azure Arc services over both public (internet)
                                    and private endpoints.
                                - value: Disabled
                                  description: Does not allow Azure Arc agents to
                                    communicate with Azure Arc services over public
                                    (internet) endpoints. The agents must use the
                                    private link.
                            provisioningState:
                              description: 'Current state of this PrivateLinkScope:
                                whether or not is has been provisioned within the
                                resource group it is defined. Users cannot change
                                this value but are able to read from it. Values will
                                include Provisioning ,Succeeded, Canceled and Failed.'
                              type: string
                              readOnly: true
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Creating
                              - Updating
                              - Deleting
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            clusterResourceId:
                              type: string
                              description: Managed Cluster ARM ID for the private
                                link scope  (Required)
                            privateLinkScopeId:
                              readOnly: true
                              description: The Guid id of the private link scope.
                              type: string
                            privateEndpointConnections:
                              readOnly: true
                              description: The collection of associated Private Endpoint
                                Connections.
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Fully qualified resource ID for the
                                      resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                                    readOnly: true
                                  name:
                                    type: string
                                    description: The name of the resource
                                    readOnly: true
                                  type:
                                    type: string
                                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                      or "Microsoft.Storage/storageAccounts"
                                    readOnly: true
                                  systemData:
                                    type: object
                                    description: Azure Resource Manager metadata containing
                                      createdBy and modifiedBy information.
                                    readOnly: true
                                    properties:
                                      createdBy:
                                        type: string
                                        description: The identity that created the
                                          resource.
                                      createdByType:
                                        type: string
                                        description: The type of identity that created
                                          the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      createdAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource creation
                                          (UTC).
                                      lastModifiedBy:
                                        type: string
                                        description: The identity that last modified
                                          the resource.
                                      lastModifiedByType:
                                        type: string
                                        description: The type of identity that last
                                          modified the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      lastModifiedAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource last
                                          modification (UTC)
                                  properties:
                                    description: Resource properties.
                                    x-ms-client-flatten: true
                                    type: object
                                    properties:
                                      privateEndpoint:
                                        description: The resource of private end point.
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                            description: The ARM identifier for Private
                                              Endpoint
                                            readOnly: true
                                      privateLinkServiceConnectionState:
                                        description: A collection of information about
                                          the state of the connection between service
                                          consumer and provider.
                                        type: object
                                        properties:
                                          status:
                                            description: Indicates whether the connection
                                              has been Approved/Rejected/Removed by
                                              the owner of the service.
                                            type: string
                                            enum:
                                            - Pending
                                            - Approved
                                            - Rejected
                                            x-ms-enum:
                                              name: PrivateEndpointServiceConnectionStatus
                                              modelAsString: true
                                          description:
                                            type: string
                                            description: The reason for approval/rejection
                                              of the connection.
                                          actionsRequired:
                                            type: string
                                            description: A message indicating if changes
                                              on the service provider require any
                                              updates on the consumer.
                                      provisioningState:
                                        description: The provisioning state of the
                                          private endpoint connection resource.
                                        type: string
                                        enum:
                                        - Succeeded
                                        - Creating
                                        - Deleting
                                        - Failed
                                        x-ms-enum:
                                          name: PrivateEndpointConnectionProvisioningState
                                          modelAsString: true
                                        readOnly: true
                                    required:
                                    - privateLinkServiceConnectionState
                                title: Resource
                                description: Common fields that are returned in the
                                  response for all Azure Resource Manager resources
                                x-ms-azure-resource: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: The URI to get the next set of Azure Arc PrivateLinkScope
                      definitions if too many PrivateLinkScopes where returned in
                      the result set.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KubernetesConfiguration/privateLinkScopes/{scopeName}
  : delete:
      description: Deletes a Azure Arc PrivateLinkScope.
      operationId: PrivateLinkScopes_Delete
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: scopeName
        in: path
        required: true
        description: The name of the Azure Arc PrivateLinkScope resource.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Successful request when deleting an Azure Arc PrivateLinkScope.
        '204':
          description: The specified PrivateLinkScope does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    get:
      description: Returns a Azure Arc PrivateLinkScope.
      operationId: PrivateLinkScopes_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: scopeName
        in: path
        required: true
        description: The name of the Azure Arc PrivateLinkScope resource.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Azure Arc PrivateLinkScope definition.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: Properties that define a Azure Arc PrivateLinkScope
                      resource.
                    type: object
                    required:
                    - clusterResourceId
                    properties:
                      publicNetworkAccess:
                        description: Indicates whether machines associated with the
                          private link scope can also use public Azure Arc service
                          endpoints.
                        type: string
                        default: Disabled
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: PublicNetworkAccessType
                          modelAsString: true
                          values:
                          - value: Enabled
                            description: Allows Azure Arc agents to communicate with
                              Azure Arc services over both public (internet) and private
                              endpoints.
                          - value: Disabled
                            description: Does not allow Azure Arc agents to communicate
                              with Azure Arc services over public (internet) endpoints.
                              The agents must use the private link.
                      provisioningState:
                        description: 'Current state of this PrivateLinkScope: whether
                          or not is has been provisioned within the resource group
                          it is defined. Users cannot change this value but are able
                          to read from it. Values will include Provisioning ,Succeeded,
                          Canceled and Failed.'
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Creating
                        - Updating
                        - Deleting
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      clusterResourceId:
                        type: string
                        description: Managed Cluster ARM ID for the private link scope  (Required)
                      privateLinkScopeId:
                        readOnly: true
                        description: The Guid id of the private link scope.
                        type: string
                      privateEndpointConnections:
                        readOnly: true
                        description: The collection of associated Private Endpoint
                          Connections.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Fully qualified resource ID for the resource.
                                Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                              readOnly: true
                            name:
                              type: string
                              description: The name of the resource
                              readOnly: true
                            type:
                              type: string
                              description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                or "Microsoft.Storage/storageAccounts"
                              readOnly: true
                            systemData:
                              type: object
                              description: Azure Resource Manager metadata containing
                                createdBy and modifiedBy information.
                              readOnly: true
                              properties:
                                createdBy:
                                  type: string
                                  description: The identity that created the resource.
                                createdByType:
                                  type: string
                                  description: The type of identity that created the
                                    resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                createdAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource creation
                                    (UTC).
                                lastModifiedBy:
                                  type: string
                                  description: The identity that last modified the
                                    resource.
                                lastModifiedByType:
                                  type: string
                                  description: The type of identity that last modified
                                    the resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                lastModifiedAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource last modification
                                    (UTC)
                            properties:
                              description: Resource properties.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                privateEndpoint:
                                  description: The resource of private end point.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: The ARM identifier for Private
                                        Endpoint
                                      readOnly: true
                                privateLinkServiceConnectionState:
                                  description: A collection of information about the
                                    state of the connection between service consumer
                                    and provider.
                                  type: object
                                  properties:
                                    status:
                                      description: Indicates whether the connection
                                        has been Approved/Rejected/Removed by the
                                        owner of the service.
                                      type: string
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      x-ms-enum:
                                        name: PrivateEndpointServiceConnectionStatus
                                        modelAsString: true
                                    description:
                                      type: string
                                      description: The reason for approval/rejection
                                        of the connection.
                                    actionsRequired:
                                      type: string
                                      description: A message indicating if changes
                                        on the service provider require any updates
                                        on the consumer.
                                provisioningState:
                                  description: The provisioning state of the private
                                    endpoint connection resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Creating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: PrivateEndpointConnectionProvisioningState
                                    modelAsString: true
                                  readOnly: true
                              required:
                              - privateLinkServiceConnectionState
                          title: Resource
                          description: Common fields that are returned in the response
                            for all Azure Resource Manager resources
                          x-ms-azure-resource: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    put:
      description: 'Creates (or updates) a Azure Arc PrivateLinkScope. Note: You cannot
        specify a different value for InstrumentationKey nor AppId in the Put operation.'
      operationId: PrivateLinkScopes_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: scopeName
        in: path
        required: true
        description: The name of the Azure Arc PrivateLinkScope resource.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: Properties that define a Azure Arc PrivateLinkScope
                    resource.
                  type: object
                  required:
                  - clusterResourceId
                  properties:
                    publicNetworkAccess:
                      description: Indicates whether machines associated with the
                        private link scope can also use public Azure Arc service endpoints.
                      type: string
                      default: Disabled
                      enum:
                      - Enabled
                      - Disabled
                      x-ms-enum:
                        name: PublicNetworkAccessType
                        modelAsString: true
                        values:
                        - value: Enabled
                          description: Allows Azure Arc agents to communicate with
                            Azure Arc services over both public (internet) and private
                            endpoints.
                        - value: Disabled
                          description: Does not allow Azure Arc agents to communicate
                            with Azure Arc services over public (internet) endpoints.
                            The agents must use the private link.
                    provisioningState:
                      description: 'Current state of this PrivateLinkScope: whether
                        or not is has been provisioned within the resource group it
                        is defined. Users cannot change this value but are able to
                        read from it. Values will include Provisioning ,Succeeded,
                        Canceled and Failed.'
                      type: string
                      readOnly: true
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Creating
                      - Updating
                      - Deleting
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    clusterResourceId:
                      type: string
                      description: Managed Cluster ARM ID for the private link scope  (Required)
                    privateLinkScopeId:
                      readOnly: true
                      description: The Guid id of the private link scope.
                      type: string
                    privateEndpointConnections:
                      readOnly: true
                      description: The collection of associated Private Endpoint Connections.
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Fully qualified resource ID for the resource.
                              Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                            readOnly: true
                          name:
                            type: string
                            description: The name of the resource
                            readOnly: true
                          type:
                            type: string
                            description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                              or "Microsoft.Storage/storageAccounts"
                            readOnly: true
                          systemData:
                            type: object
                            description: Azure Resource Manager metadata containing
                              createdBy and modifiedBy information.
                            readOnly: true
                            properties:
                              createdBy:
                                type: string
                                description: The identity that created the resource.
                              createdByType:
                                type: string
                                description: The type of identity that created the
                                  resource.
                                enum:
                                - User
                                - Application
                                - ManagedIdentity
                                - Key
                                x-ms-enum:
                                  name: createdByType
                                  modelAsString: true
                              createdAt:
                                type: string
                                format: date-time
                                description: The timestamp of resource creation (UTC).
                              lastModifiedBy:
                                type: string
                                description: The identity that last modified the resource.
                              lastModifiedByType:
                                type: string
                                description: The type of identity that last modified
                                  the resource.
                                enum:
                                - User
                                - Application
                                - ManagedIdentity
                                - Key
                                x-ms-enum:
                                  name: createdByType
                                  modelAsString: true
                              lastModifiedAt:
                                type: string
                                format: date-time
                                description: The timestamp of resource last modification
                                  (UTC)
                          properties:
                            description: Resource properties.
                            x-ms-client-flatten: true
                            type: object
                            properties:
                              privateEndpoint:
                                description: The resource of private end point.
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: The ARM identifier for Private Endpoint
                                    readOnly: true
                              privateLinkServiceConnectionState:
                                description: A collection of information about the
                                  state of the connection between service consumer
                                  and provider.
                                type: object
                                properties:
                                  status:
                                    description: Indicates whether the connection
                                      has been Approved/Rejected/Removed by the owner
                                      of the service.
                                    type: string
                                    enum:
                                    - Pending
                                    - Approved
                                    - Rejected
                                    x-ms-enum:
                                      name: PrivateEndpointServiceConnectionStatus
                                      modelAsString: true
                                  description:
                                    type: string
                                    description: The reason for approval/rejection
                                      of the connection.
                                  actionsRequired:
                                    type: string
                                    description: A message indicating if changes on
                                      the service provider require any updates on
                                      the consumer.
                              provisioningState:
                                description: The provisioning state of the private
                                  endpoint connection resource.
                                type: string
                                enum:
                                - Succeeded
                                - Creating
                                - Deleting
                                - Failed
                                x-ms-enum:
                                  name: PrivateEndpointConnectionProvisioningState
                                  modelAsString: true
                                readOnly: true
                            required:
                            - privateLinkServiceConnectionState
                        title: Resource
                        description: Common fields that are returned in the response
                          for all Azure Resource Manager resources
                        x-ms-azure-resource: true
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Properties that need to be specified to create or update a Azure
          Arc for Servers and Clusters PrivateLinkScope.
        required: true
      responses:
        '200':
          description: Successful request when creating or updating a Azure Arc PrivateLinkScope.
            The updated PrivateLinkScope is returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: Properties that define a Azure Arc PrivateLinkScope
                      resource.
                    type: object
                    required:
                    - clusterResourceId
                    properties:
                      publicNetworkAccess:
                        description: Indicates whether machines associated with the
                          private link scope can also use public Azure Arc service
                          endpoints.
                        type: string
                        default: Disabled
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: PublicNetworkAccessType
                          modelAsString: true
                          values:
                          - value: Enabled
                            description: Allows Azure Arc agents to communicate with
                              Azure Arc services over both public (internet) and private
                              endpoints.
                          - value: Disabled
                            description: Does not allow Azure Arc agents to communicate
                              with Azure Arc services over public (internet) endpoints.
                              The agents must use the private link.
                      provisioningState:
                        description: 'Current state of this PrivateLinkScope: whether
                          or not is has been provisioned within the resource group
                          it is defined. Users cannot change this value but are able
                          to read from it. Values will include Provisioning ,Succeeded,
                          Canceled and Failed.'
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Creating
                        - Updating
                        - Deleting
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      clusterResourceId:
                        type: string
                        description: Managed Cluster ARM ID for the private link scope  (Required)
                      privateLinkScopeId:
                        readOnly: true
                        description: The Guid id of the private link scope.
                        type: string
                      privateEndpointConnections:
                        readOnly: true
                        description: The collection of associated Private Endpoint
                          Connections.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Fully qualified resource ID for the resource.
                                Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                              readOnly: true
                            name:
                              type: string
                              description: The name of the resource
                              readOnly: true
                            type:
                              type: string
                              description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                or "Microsoft.Storage/storageAccounts"
                              readOnly: true
                            systemData:
                              type: object
                              description: Azure Resource Manager metadata containing
                                createdBy and modifiedBy information.
                              readOnly: true
                              properties:
                                createdBy:
                                  type: string
                                  description: The identity that created the resource.
                                createdByType:
                                  type: string
                                  description: The type of identity that created the
                                    resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                createdAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource creation
                                    (UTC).
                                lastModifiedBy:
                                  type: string
                                  description: The identity that last modified the
                                    resource.
                                lastModifiedByType:
                                  type: string
                                  description: The type of identity that last modified
                                    the resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                lastModifiedAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource last modification
                                    (UTC)
                            properties:
                              description: Resource properties.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                privateEndpoint:
                                  description: The resource of private end point.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: The ARM identifier for Private
                                        Endpoint
                                      readOnly: true
                                privateLinkServiceConnectionState:
                                  description: A collection of information about the
                                    state of the connection between service consumer
                                    and provider.
                                  type: object
                                  properties:
                                    status:
                                      description: Indicates whether the connection
                                        has been Approved/Rejected/Removed by the
                                        owner of the service.
                                      type: string
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      x-ms-enum:
                                        name: PrivateEndpointServiceConnectionStatus
                                        modelAsString: true
                                    description:
                                      type: string
                                      description: The reason for approval/rejection
                                        of the connection.
                                    actionsRequired:
                                      type: string
                                      description: A message indicating if changes
                                        on the service provider require any updates
                                        on the consumer.
                                provisioningState:
                                  description: The provisioning state of the private
                                    endpoint connection resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Creating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: PrivateEndpointConnectionProvisioningState
                                    modelAsString: true
                                  readOnly: true
                              required:
                              - privateLinkServiceConnectionState
                          title: Resource
                          description: Common fields that are returned in the response
                            for all Azure Resource Manager resources
                          x-ms-azure-resource: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Successful request when creating or updating a Azure Arc PrivateLinkScope.
            The updated PrivateLinkScope was created and is returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
[...]
