openapi: 3.0.0
info:
  title: Microsoft Marketplace Search API
  version: 2022-02-02
servers:
- url: https://management.azure.com
paths:
  /providers/Microsoft.Marketplace/search:
    post:
      tags:
      - Authenticated-Arm-Search
      summary: Returns a list of azure private store marketplace catalog offers and
        total count and facets
      operationId: Search_PostArm
      parameters:
      - name: x-ms-client-tenant-id
        x-originalName: privateStoreId
        in: header
        required: true
        x-nullable: false
        schema:
          type: string
      - name: x-ms-app
        x-originalName: callingApp
        in: header
        x-nullable: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - languages
              - stores
              properties:
                searchQuery:
                  type: string
                publisherName:
                  type: string
                skip:
                  type: integer
                  format: int32
                take:
                  type: integer
                  format: int32
                isAzureBenefitEligible:
                  type: boolean
                isMicrosoftProduct:
                  type: boolean
                isThirdParty:
                  type: boolean
                isCoreVm:
                  type: boolean
                isPreferredSolution:
                  type: boolean
                isAdditionalPurchaseRequired:
                  type: boolean
                isPowerBICertified:
                  type: boolean
                isIndustryCloud:
                  type: boolean
                languages:
                  type: array
                  items:
                    type: string
                stores:
                  type: array
                  items:
                    type: string
                    description: ''
                    x-enumNames:
                    - Appsource
                    - AMP
                    - Ibiza
                    - Cosell
                    - DakotaDownstream
                    enum:
                    - Appsource
                    - AMP
                    - Ibiza
                    - Cosell
                    - DakotaDownstream
                    x-ms-enum:
                      name: Store
                      modelAsString: true
                select:
                  type: array
                  items:
                    type: string
                sortBy:
                  type: array
                  items:
                    type: string
                offerTypes:
                  type: array
                  items:
                    type: string
                pricingTypes:
                  type: array
                  items:
                    type: string
                    description: ''
                    x-enumNames:
                    - Free
                    - FreeTrial
                    - Byol
                    - Payg
                    - Ri
                    enum:
                    - Free
                    - FreeTrial
                    - Byol
                    - Payg
                    - Ri
                    x-ms-enum:
                      name: PricingType
                      modelAsString: true
                privateStoreAllowances:
                  type: array
                  items:
                    type: string
                    description: ''
                    x-enumNames:
                    - AllowedByAdmin
                    - AllowedByDefault
                    - NonAllowed
                    enum:
                    - AllowedByAdmin
                    - AllowedByDefault
                    - NonAllowed
                    x-ms-enum:
                      name: PrivateStoreAllow
                      modelAsString: true
                appSourceIndustries:
                  type: array
                  items:
                    type: string
                operatingSystems:
                  type: array
                  items:
                    type: string
                appSourceCategories:
                  type: array
                  items:
                    type: string
                azureIndustries:
                  type: array
                  items:
                    type: string
                azureCategories:
                  type: array
                  items:
                    type: string
                azurePortalCategories:
                  type: array
                  items:
                    type: string
                facets:
                  type: array
                  items:
                    type: string
        required: true
        x-nullable: false
      responses:
        '200':
          x-nullable: false
          description: Returns a list of azure private store marketplace catalog offers
            and total count and facets
          content:
            text/plain:
              schema:
                type: object
                properties:
                  facets:
                    type: array
                    items:
                      type: object
                      properties:
                        facetName:
                          type: string
                        facetValues:
                          type: array
                          items:
                            type: object
                            properties:
                              value:
                                type: string
                              count:
                                type: integer
                                format: int64
                          x-ms-identifiers: []
                    x-ms-identifiers: []
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        ampAppsPopularity:
                          type: number
                          format: double
                        ampCsPopularity:
                          type: number
                          format: double
                        applicableProducts:
                          type: array
                          items:
                            type: string
                        appSourceAppsPopularity:
                          type: number
                          format: double
                        appSourceCategories:
                          type: array
                          items:
                            type: string
                        appSourceCsPopularity:
                          type: number
                          format: double
                        appSourceIndustries:
                          type: array
                          items:
                            type: string
                        azureCategories:
                          type: array
                          items:
                            type: string
                        azurePortalCategories:
                          type: array
                          items:
                            type: string
                        azureIndustries:
                          type: array
                          items:
                            type: string
                        bigId:
                          type: string
                        cspStates:
                          type: array
                          items:
                            type: string
                        determinedStorefronts:
                          type: array
                          items:
                            type: string
                        displayName:
                          type: string
                        isAzureBenefitEligible:
                          type: boolean
                        isCoreVm:
                          type: boolean
                        isPreferredSolution:
                          type: boolean
                        isAdditionalPurchaseRequired:
                          type: boolean
                        isPowerBICertified:
                          type: boolean
                        isIndustryCloud:
                          type: boolean
                        isMicrosoftProduct:
                          type: boolean
                        isPreview:
                          type: boolean
                        language:
                          type: string
                        legacyId:
                          type: string
                        offerType:
                          type: string
                        operatingSystems:
                          type: array
                          items:
                            type: string
                        plans:
                          type: array
                          items:
                            type: object
                            properties:
                              cspState:
                                type: string
                              legacyPlanId:
                                type: string
                              displayName:
                                type: string
                              architectureType:
                                type: string
                              metadata:
                                type: object
                                properties:
                                  generation:
                                    type: string
                              operatingSystem:
                                type: object
                                properties:
                                  family:
                                    type: string
                                  type:
                                    type: string
                                  name:
                                    type: string
                          x-ms-identifiers:
                          - legacyPlanId
                        pricingTypes:
                          type: array
                          items:
                            type: string
                        publisherDisplayName:
                          type: string
                        summary:
                          type: string
                        vmGenerations:
                          type: array
                          items:
                            type: string
                        vmImageTypes:
                          type: array
                          items:
                            type: string
                        vmSecurityTypes:
                          type: array
                          items:
                            type: string
                        smallIconUri:
                          type: string
                        mediumIconUri:
                          type: string
                        largeIconUri:
                          type: string
                        wideIconUri:
                          type: string
                        heroIconUri:
                          type: string
                    x-ms-identifiers:
                    - legacyId
                  totalCount:
                    type: integer
                    format: int64
            application/json:
              schema:
                type: object
                properties:
                  facets:
                    type: array
                    items:
                      type: object
                      properties:
                        facetName:
                          type: string
                        facetValues:
                          type: array
                          items:
                            type: object
                            properties:
                              value:
                                type: string
                              count:
                                type: integer
                                format: int64
                          x-ms-identifiers: []
                    x-ms-identifiers: []
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        ampAppsPopularity:
                          type: number
                          format: double
                        ampCsPopularity:
                          type: number
                          format: double
                        applicableProducts:
                          type: array
                          items:
                            type: string
                        appSourceAppsPopularity:
                          type: number
                          format: double
                        appSourceCategories:
                          type: array
                          items:
                            type: string
                        appSourceCsPopularity:
                          type: number
                          format: double
                        appSourceIndustries:
                          type: array
                          items:
                            type: string
                        azureCategories:
                          type: array
                          items:
                            type: string
                        azurePortalCategories:
                          type: array
                          items:
                            type: string
                        azureIndustries:
                          type: array
                          items:
                            type: string
                        bigId:
                          type: string
                        cspStates:
                          type: array
                          items:
                            type: string
                        determinedStorefronts:
                          type: array
                          items:
                            type: string
                        displayName:
                          type: string
                        isAzureBenefitEligible:
                          type: boolean
                        isCoreVm:
                          type: boolean
                        isPreferredSolution:
                          type: boolean
                        isAdditionalPurchaseRequired:
                          type: boolean
                        isPowerBICertified:
                          type: boolean
                        isIndustryCloud:
                          type: boolean
                        isMicrosoftProduct:
                          type: boolean
                        isPreview:
                          type: boolean
                        language:
                          type: string
                        legacyId:
                          type: string
                        offerType:
                          type: string
                        operatingSystems:
                          type: array
                          items:
                            type: string
                        plans:
                          type: array
                          items:
                            type: object
                            properties:
                              cspState:
                                type: string
                              legacyPlanId:
                                type: string
                              displayName:
                                type: string
                              architectureType:
                                type: string
                              metadata:
                                type: object
                                properties:
                                  generation:
                                    type: string
                              operatingSystem:
                                type: object
                                properties:
                                  family:
                                    type: string
                                  type:
                                    type: string
                                  name:
                                    type: string
                          x-ms-identifiers:
                          - legacyPlanId
                        pricingTypes:
                          type: array
                          items:
                            type: string
                        publisherDisplayName:
                          type: string
                        summary:
                          type: string
                        vmGenerations:
                          type: array
                          items:
                            type: string
                        vmImageTypes:
                          type: array
                          items:
                            type: string
                        vmSecurityTypes:
                          type: array
                          items:
                            type: string
                        smallIconUri:
                          type: string
                        mediumIconUri:
                          type: string
                        largeIconUri:
                          type: string
                        wideIconUri:
                          type: string
                        heroIconUri:
                          type: string
                    x-ms-identifiers:
                    - legacyId
                  totalCount:
                    type: integer
                    format: int64
            text/json:
              schema:
                type: object
                properties:
                  facets:
                    type: array
                    items:
                      type: object
                      properties:
                        facetName:
                          type: string
                        facetValues:
                          type: array
                          items:
                            type: object
                            properties:
                              value:
                                type: string
                              count:
                                type: integer
                                format: int64
                          x-ms-identifiers: []
                    x-ms-identifiers: []
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        ampAppsPopularity:
                          type: number
                          format: double
                        ampCsPopularity:
                          type: number
                          format: double
                        applicableProducts:
                          type: array
                          items:
                            type: string
                        appSourceAppsPopularity:
                          type: number
                          format: double
                        appSourceCategories:
                          type: array
                          items:
                            type: string
                        appSourceCsPopularity:
                          type: number
                          format: double
                        appSourceIndustries:
                          type: array
                          items:
                            type: string
                        azureCategories:
                          type: array
                          items:
                            type: string
                        azurePortalCategories:
                          type: array
                          items:
                            type: string
                        azureIndustries:
                          type: array
                          items:
                            type: string
                        bigId:
                          type: string
                        cspStates:
                          type: array
                          items:
                            type: string
                        determinedStorefronts:
                          type: array
                          items:
                            type: string
                        displayName:
                          type: string
                        isAzureBenefitEligible:
                          type: boolean
                        isCoreVm:
                          type: boolean
                        isPreferredSolution:
                          type: boolean
                        isAdditionalPurchaseRequired:
                          type: boolean
                        isPowerBICertified:
                          type: boolean
                        isIndustryCloud:
                          type: boolean
                        isMicrosoftProduct:
                          type: boolean
                        isPreview:
                          type: boolean
                        language:
                          type: string
                        legacyId:
                          type: string
                        offerType:
                          type: string
                        operatingSystems:
                          type: array
                          items:
                            type: string
                        plans:
                          type: array
                          items:
                            type: object
                            properties:
                              cspState:
                                type: string
                              legacyPlanId:
                                type: string
                              displayName:
                                type: string
                              architectureType:
                                type: string
                              metadata:
                                type: object
                                properties:
                                  generation:
                                    type: string
                              operatingSystem:
                                type: object
                                properties:
                                  family:
                                    type: string
                                  type:
                                    type: string
                                  name:
                                    type: string
                          x-ms-identifiers:
                          - legacyPlanId
                        pricingTypes:
                          type: array
                          items:
                            type: string
                        publisherDisplayName:
                          type: string
                        summary:
                          type: string
                        vmGenerations:
                          type: array
                          items:
                            type: string
                        vmImageTypes:
                          type: array
                          items:
                            type: string
                        vmSecurityTypes:
                          type: array
                          items:
                            type: string
                        smallIconUri:
                          type: string
                        mediumIconUri:
                          type: string
                        largeIconUri:
                          type: string
                        wideIconUri:
                          type: string
                        heroIconUri:
                          type: string
                    x-ms-identifiers:
                    - legacyId
                  totalCount:
                    type: integer
                    format: int64
        default:
          x-nullable: false
          description: "*** Error Responses: ***\n\n * 400 - In case request malformed.\n\
            \n * 500 - In case internal error."
          x-ms-error-response: true
          content:
            text/plain:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
            text/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /providers/Microsoft.Marketplace/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available Microsoft.Marketplace REST API operations.
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            text/plain:
              schema:
                type: object
                description: A list of REST API operations supported by an Azure Resource
                  Provider. It contains an URL link to get the next set of results.
                properties:
                  value:
                    type: array
                    description: List of operations supported by the resource provider
                    items:
                      type: object
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                      properties:
                        name:
                          type: string
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          readOnly: true
                        isDataAction:
                          type: boolean
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          readOnly: true
                        display:
                          type: object
                          description: Localized display information for this particular
                            operation.
                          properties:
                            provider:
                              type: string
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              readOnly: true
                            resource:
                              type: string
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              readOnly: true
                            operation:
                              type: string
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              readOnly: true
                            description:
                              type: string
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              readOnly: true
                        origin:
                          type: string
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                          readOnly: true
                        actionType:
                          type: string
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
            application/json:
              schema:
                type: object
                description: A list of REST API operations supported by an Azure Resource
                  Provider. It contains an URL link to get the next set of results.
                properties:
                  value:
                    type: array
                    description: List of operations supported by the resource provider
                    items:
                      type: object
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                      properties:
                        name:
                          type: string
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          readOnly: true
                        isDataAction:
                          type: boolean
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          readOnly: true
                        display:
                          type: object
                          description: Localized display information for this particular
                            operation.
                          properties:
                            provider:
                              type: string
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              readOnly: true
                            resource:
                              type: string
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              readOnly: true
                            operation:
                              type: string
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              readOnly: true
                            description:
                              type: string
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              readOnly: true
                        origin:
                          type: string
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                          readOnly: true
                        actionType:
                          type: string
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
            text/json:
              schema:
                type: object
                description: A list of REST API operations supported by an Azure Resource
                  Provider. It contains an URL link to get the next set of results.
                properties:
                  value:
                    type: array
                    description: List of operations supported by the resource provider
                    items:
                      type: object
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                      properties:
                        name:
                          type: string
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          readOnly: true
                        isDataAction:
                          type: boolean
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          readOnly: true
                        display:
                          type: object
                          description: Localized display information for this particular
                            operation.
                          properties:
                            provider:
                              type: string
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              readOnly: true
                            resource:
                              type: string
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              readOnly: true
                            operation:
                              type: string
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              readOnly: true
                            description:
                              type: string
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              readOnly: true
                        origin:
                          type: string
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                          readOnly: true
                        actionType:
                          type: string
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
        default:
          description: Microsoft.Marketplace error response describing why the operation
            failed.
          content:
            text/plain:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
            text/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Store:
      type: string
      description: ''
      x-enumNames:
      - Appsource
      - AMP
      - Ibiza
      - Cosell
      - DakotaDownstream
      enum:
      - Appsource
      - AMP
      - Ibiza
      - Cosell
      - DakotaDownstream
      x-ms-enum:
        name: Store
        modelAsString: true
    PricingType:
      type: string
      description: ''
      x-enumNames:
      - Free
      - FreeTrial
      - Byol
      - Payg
      - Ri
      enum:
      - Free
      - FreeTrial
      - Byol
      - Payg
      - Ri
      x-ms-enum:
        name: PricingType
        modelAsString: true
    FacetsResponseDto:
      type: object
      properties:
        facets:
          type: array
          items:
            type: object
            properties:
              facetName:
                type: string
              facetValues:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      type: string
                    count:
                      type: integer
                      format: int64
                x-ms-identifiers: []
          x-ms-identifiers: []
    FacetsItemDto:
      type: object
      properties:
        facetName:
          type: string
        facetValues:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
              count:
                type: integer
                format: int64
          x-ms-identifiers: []
    FacetValueDto:
      type: object
      properties:
        value:
          type: string
        count:
          type: integer
          format: int64
    SearchResponseDto:
      type: object
      properties:
        facets:
          type: array
          items:
            type: object
            properties:
              facetName:
                type: string
              facetValues:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      type: string
                    count:
                      type: integer
                      format: int64
                x-ms-identifiers: []
          x-ms-identifiers: []
        results:
          type: array
          items:
            type: object
            properties:
              ampAppsPopularity:
                type: number
                format: double
              ampCsPopularity:
                type: number
                format: double
              applicableProducts:
                type: array
                items:
                  type: string
              appSourceAppsPopularity:
                type: number
                format: double
              appSourceCategories:
                type: array
                items:
                  type: string
              appSourceCsPopularity:
                type: number
                format: double
              appSourceIndustries:
                type: array
                items:
                  type: string
              azureCategories:
                type: array
                items:
                  type: string
              azurePortalCategories:
                type: array
                items:
                  type: string
              azureIndustries:
                type: array
                items:
                  type: string
              bigId:
                type: string
              cspStates:
                type: array
                items:
                  type: string
              determinedStorefronts:
                type: array
                items:
                  type: string
              displayName:
                type: string
              isAzureBenefitEligible:
                type: boolean
              isCoreVm:
                type: boolean
              isPreferredSolution:
                type: boolean
              isAdditionalPurchaseRequired:
                type: boolean
              isPowerBICertified:
                type: boolean
              isIndustryCloud:
                type: boolean
              isMicrosoftProduct:
                type: boolean
              isPreview:
                type: boolean
              language:
                type: string
              legacyId:
                type: string
              offerType:
                type: string
              operatingSystems:
                type: array
                items:
                  type: string
              plans:
                type: array
                items:
                  type: object
                  properties:
                    cspState:
                      type: string
                    legacyPlanId:
                      type: string
                    displayName:
                      type: string
                    architectureType:
                      type: string
                    metadata:
                      type: object
                      properties:
                        generation:
                          type: string
                    operatingSystem:
                      type: object
                      properties:
                        family:
                          type: string
                        type:
                          type: string
                        name:
                          type: string
                x-ms-identifiers:
                - legacyPlanId
              pricingTypes:
                type: array
                items:
                  type: string
              publisherDisplayName:
                type: string
              summary:
                type: string
              vmGenerations:
                type: array
                items:
                  type: string
              vmImageTypes:
                type: array
                items:
                  type: string
              vmSecurityTypes:
                type: array
                items:
                  type: string
              smallIconUri:
                type: string
              mediumIconUri:
                type: string
              largeIconUri:
                type: string
              wideIconUri:
                type: string
              heroIconUri:
                type: string
          x-ms-identifiers:
          - legacyId
        totalCount:
          type: integer
          format: int64
    SearchItemDto:
      type: object
      properties:
        ampAppsPopularity:
          type: number
          format: double
        ampCsPopularity:
          type: number
          format: double
        applicableProducts:
          type: array
          items:
            type: string
        appSourceAppsPopularity:
          type: number
          format: double
        appSourceCategories:
          type: array
          items:
            type: string
        appSourceCsPopularity:
          type: number
          format: double
        appSourceIndustries:
          type: array
          items:
            type: string
        azureCategories:
          type: array
          items:
            type: string
        azurePortalCategories:
          type: array
          items:
            type: string
        azureIndustries:
          type: array
          items:
            type: string
        bigId:
          type: string
        cspStates:
          type: array
          items:
            type: string
        determinedStorefronts:
          type: array
          items:
            type: string
        displayName:
          type: string
        isAzureBenefitEligible:
          type: boolean
        isCoreVm:
          type: boolean
        isPreferredSolution:
          type: boolean
        isAdditionalPurchaseRequired:
          type: boolean
        isPowerBICertified:
          type: boolean
        isIndustryCloud:
          type: boolean
        isMicrosoftProduct:
          type: boolean
        isPreview:
          type: boolean
        language:
          type: string
        legacyId:
          type: string
        offerType:
          type: string
        operatingSystems:
          type: array
          items:
            type: string
        plans:
          type: array
          items:
            type: object
            properties:
              cspState:
                type: string
              legacyPlanId:
                type: string
              displayName:
                type: string
              architectureType:
                type: string
              metadata:
                type: object
                properties:
                  generation:
                    type: string
              operatingSystem:
                type: object
                properties:
                  family:
                    type: string
                  type:
                    type: string
                  name:
                    type: string
          x-ms-identifiers:
          - legacyPlanId
        pricingTypes:
          type: array
          items:
            type: string
        publisherDisplayName:
          type: string
        summary:
          type: string
        vmGenerations:
          type: array
          items:
            type: string
        vmImageTypes:
          type: array
          items:
            type: string
        vmSecurityTypes:
          type: array
          items:
            type: string
        smallIconUri:
          type: string
        mediumIconUri:
          type: string
        largeIconUri:
          type: string
        wideIconUri:
          type: string
        heroIconUri:
          type: string
    PlanDto:
      type: object
      properties:
        cspState:
          type: string
        legacyPlanId:
          type: string
        displayName:
          type: string
        architectureType:
          type: string
        metadata:
          type: object
          properties:
            generation:
              type: string
        operatingSystem:
          type: object
          properties:
            family:
              type: string
            type:
              type: string
            name:
              type: string
    PlanMetadataDto:
      type: object
      properties:
        generation:
          type: string
    OperatingSystemDto:
      type: object
      properties:
        family:
          type: string
        type:
          type: string
        name:
          type: string
    PrivateStoreAllow:
      type: string
      description: ''
      x-enumNames:
      - AllowedByAdmin
      - AllowedByDefault
      - NonAllowed
      enum:
      - AllowedByAdmin
      - AllowedByDefault
      - NonAllowed
      x-ms-enum:
        name: PrivateStoreAllow
        modelAsString: true
    SearchRequest:
      type: object
      required:
      - languages
      - stores
      properties:
        searchQuery:
          type: string
        publisherName:
          type: string
        skip:
          type: integer
          format: int32
        take:
          type: integer
          format: int32
        isAzureBenefitEligible:
          type: boolean
        isMicrosoftProduct:
          type: boolean
        isThirdParty:
          type: boolean
        isCoreVm:
          type: boolean
        isPreferredSolution:
          type: boolean
        isAdditionalPurchaseRequired:
          type: boolean
        isPowerBICertified:
          type: boolean
        isIndustryCloud:
          type: boolean
        languages:
          type: array
          items:
            type: string
        stores:
          type: array
          items:
            type: string
            description: ''
            x-enumNames:
            - Appsource
            - AMP
            - Ibiza
            - Cosell
            - DakotaDownstream
            enum:
            - Appsource
            - AMP
            - Ibiza
            - Cosell
            - DakotaDownstream
            x-ms-enum:
              name: Store
              modelAsString: true
        select:
          type: array
          items:
            type: string
        sortBy:
          type: array
          items:
            type: string
        offerTypes:
          type: array
          items:
            type: string
        pricingTypes:
          type: array
          items:
            type: string
            description: ''
            x-enumNames:
            - Free
            - FreeTrial
            - Byol
            - Payg
            - Ri
            enum:
            - Free
            - FreeTrial
            - Byol
            - Payg
            - Ri
            x-ms-enum:
              name: PricingType
              modelAsString: true
        privateStoreAllowances:
          type: array
          items:
            type: string
            description: ''
            x-enumNames:
            - AllowedByAdmin
            - AllowedByDefault
            - NonAllowed
            enum:
            - AllowedByAdmin
            - AllowedByDefault
            - NonAllowed
            x-ms-enum:
              name: PrivateStoreAllow
              modelAsString: true
        appSourceIndustries:
          type: array
          items:
            type: string
        operatingSystems:
          type: array
          items:
            type: string
        appSourceCategories:
          type: array
          items:
            type: string
        azureIndustries:
          type: array
          items:
            type: string
        azureCategories:
          type: array
          items:
            type: string
        azurePortalCategories:
          type: array
          items:
            type: string
        facets:
          type: array
          items:
            type: string
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Operation:
      type: object
      title: REST API Operation
      description: Details of a REST API operation, returned from the Resource Provider
        Operations API
      properties:
        name:
          type: string
          description: 'The name of the operation, as per Resource-Based Access Control
            (RBAC). Examples: "Microsoft.Compute/virtualMachines/write", "Microsoft.Compute/virtualMachines/capture/action"'
          readOnly: true
        isDataAction:
          type: boolean
          description: Whether the operation applies to data-plane. This is "true"
            for data-plane operations and "false" for ARM/control-plane operations.
          readOnly: true
        display:
          type: object
          description: Localized display information for this particular operation.
          properties:
            provider:
              type: string
              description: The localized friendly form of the resource provider name,
                e.g. "Microsoft Monitoring Insights" or "Microsoft Compute".
              readOnly: true
            resource:
              type: string
              description: The localized friendly name of the resource type related
                to this operation. E.g. "Virtual Machines" or "Job Schedule Collections".
              readOnly: true
            operation:
              type: string
              description: The concise, localized friendly name for the operation;
                suitable for dropdowns. E.g. "Create or Update Virtual Machine", "Restart
                Virtual Machine".
              readOnly: true
            description:
              type: string
              description: The short, localized friendly description of the operation;
                suitable for tool tips and detailed views.
              readOnly: true
        origin:
          type: string
          description: The intended executor of the operation; as in Resource Based
            Access Control (RBAC) and audit logs UX. Default value is "user,system"
          enum:
          - user
          - system
          - user,system
          x-ms-enum:
            name: Origin
            modelAsString: true
          readOnly: true
        actionType:
          type: string
          description: Enum. Indicates the action type. "Internal" refers to actions
            that are for internal only APIs.
          enum:
          - Internal
          x-ms-enum:
            name: ActionType
            modelAsString: true
          readOnly: true
    OperationListResult:
      type: object
      description: A list of REST API operations supported by an Azure Resource Provider.
        It contains an URL link to get the next set of results.
      properties:
        value:
          type: array
          description: List of operations supported by the resource provider
          items:
            type: object
            title: REST API Operation
            description: Details of a REST API operation, returned from the Resource
              Provider Operations API
            properties:
              name:
                type: string
                description: 'The name of the operation, as per Resource-Based Access
                  Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                  "Microsoft.Compute/virtualMachines/capture/action"'
                readOnly: true
              isDataAction:
                type: boolean
                description: Whether the operation applies to data-plane. This is
                  "true" for data-plane operations and "false" for ARM/control-plane
                  operations.
                readOnly: true
              display:
                type: object
                description: Localized display information for this particular operation.
                properties:
                  provider:
                    type: string
                    description: The localized friendly form of the resource provider
                      name, e.g. "Microsoft Monitoring Insights" or "Microsoft Compute".
                    readOnly: true
                  resource:
                    type: string
                    description: The localized friendly name of the resource type
                      related to this operation. E.g. "Virtual Machines" or "Job Schedule
                      Collections".
                    readOnly: true
                  operation:
                    type: string
                    description: The concise, localized friendly name for the operation;
                      suitable for dropdowns. E.g. "Create or Update Virtual Machine",
                      "Restart Virtual Machine".
                    readOnly: true
                  description:
                    type: string
                    description: The short, localized friendly description of the
                      operation; suitable for tool tips and detailed views.
                    readOnly: true
              origin:
                type: string
                description: The intended executor of the operation; as in Resource
                  Based Access Control (RBAC) and audit logs UX. Default value is
                  "user,system"
                enum:
                - user
                - system
                - user,system
                x-ms-enum:
                  name: Origin
                  modelAsString: true
                readOnly: true
              actionType:
                type: string
                description: Enum. Indicates the action type. "Internal" refers to
                  actions that are for internal only APIs.
                enum:
                - Internal
                x-ms-enum:
                  name: ActionType
                  modelAsString: true
                readOnly: true
          readOnly: true
          x-ms-identifiers:
          - name
        nextLink:
          type: string
          description: URL to get the next set of operation list results (if there
            are any).
          readOnly: true
x-generator: NSwag v13.15.10.0 (NJsonSchema v10.6.10.0 (Newtonsoft.Json v13.0.0.0))
