openapi: 3.0.0
info:
  version: 2022-12-12
  x-ms-code-generation-settings:
    host: management.azure.com
  title: iotDpsClient
  description: API for using the Azure IoT Hub Device Provisioning Service features.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Devices/operations:
    get:
      tags:
      - Operations
      operationId: Operations_List
      description: Lists all of the available Microsoft.Devices REST API operations.
      parameters:
      - name: api-version
        in: query
        description: The version of the API.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: Result of the request to list provisioning service operations.
                  It contains a list of operations and a URL link to get the next
                  set of results.
                properties:
                  value:
                    description: Provisioning service operations supported by the
                      Microsoft.Devices resource provider.
                    type: array
                    readOnly: true
                    items:
                      description: Provisioning Service REST API operation.
                      type: object
                      properties:
                        name:
                          readOnly: true
                          type: string
                          description: 'Operation name: {provider}/{resource}/{read
                            | write | action | delete}'
                        display:
                          description: The object that represents the operation.
                          properties:
                            provider:
                              readOnly: true
                              type: string
                              description: 'Service provider: Microsoft Devices.'
                            resource:
                              readOnly: true
                              type: string
                              description: 'Resource Type: ProvisioningServices.'
                            operation:
                              readOnly: true
                              type: string
                              description: Name of the operation.
                  nextLink:
                    readOnly: true
                    type: string
                    description: URL to get the next set of operation list results
                      if there are any.
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                description: Error details.
                type: object
                properties:
                  code:
                    description: The error code.
                    format: int32
                    type: integer
                    readOnly: true
                  httpStatusCode:
                    description: The HTTP status code.
                    type: string
                    readOnly: true
                  message:
                    description: The error message.
                    type: string
                    readOnly: true
                  details:
                    description: The error details.
                    type: string
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}/certificates/{certificateName}
  : get:
      tags:
      - DpsCertificate
      operationId: DpsCertificate_Get
      description: Get the certificate from the provisioning service.
      parameters:
      - name: certificateName
        in: path
        required: true
        description: Name of the certificate to retrieve.
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription identifier.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: Resource group identifier.
        schema:
          type: string
      - name: provisioningServiceName
        in: path
        required: true
        description: Name of the provisioning service the certificate is associated
          with.
        schema:
          type: string
      - name: If-Match
        in: header
        required: false
        description: ETag of the certificate.
        schema:
          type: string
      - name: api-version
        in: query
        description: The version of the API.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Metadata for the specified certificate.
          content:
            application/json:
              schema:
                description: The X509 Certificate.
                type: object
                properties:
                  properties:
                    description: properties of a certificate
                    type: object
                    properties:
                      subject:
                        description: The certificate's subject name.
                        type: string
                        readOnly: true
                      expiry:
                        description: The certificate's expiration date and time.
                        type: string
                        format: date-time-rfc1123
                        readOnly: true
                      thumbprint:
                        description: The certificate's thumbprint.
                        type: string
                        readOnly: true
                      isVerified:
                        description: Determines whether certificate has been verified.
                        type: boolean
                      certificate:
                        description: base-64 representation of X509 certificate .cer
                          file or just .pem file content.
                        type: string
                        format: byte
                      created:
                        description: The certificate's creation date and time.
                        type: string
                        format: date-time-rfc1123
                        readOnly: true
                      updated:
                        description: The certificate's last update date and time.
                        type: string
                        format: date-time-rfc1123
                        readOnly: true
                  id:
                    readOnly: true
                    type: string
                    description: The resource identifier.
                  name:
                    description: The name of the certificate.
                    type: string
                    readOnly: true
                  etag:
                    description: The entity tag.
                    type: string
                    readOnly: true
                  type:
                    readOnly: true
                    type: string
                    description: The resource type.
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                x-ms-azure-resource: true
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                description: Error details.
                type: object
                properties:
                  code:
                    description: The error code.
                    format: int32
                    type: integer
                    readOnly: true
                  httpStatusCode:
                    description: The HTTP status code.
                    type: string
                    readOnly: true
                  message:
                    description: The error message.
                    type: string
                    readOnly: true
                  details:
                    description: The error details.
                    type: string
                    readOnly: true
    put:
      tags:
      - DpsCertificate
      summary: Upload the certificate to the provisioning service.
      description: Add new certificate or update an existing certificate.
      operationId: DpsCertificate_CreateOrUpdate
      parameters:
      - name: api-version
        in: query
        description: The version of the API.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription identifier.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: Resource group identifier.
        required: true
        schema:
          type: string
      - name: provisioningServiceName
        in: path
        description: The name of the provisioning service.
        required: true
        schema:
          type: string
      - name: certificateName
        in: path
        description: The name of the certificate create or update.
        required: true
        schema:
          type: string
          maxLength: 256
      - name: If-Match
        in: header
        required: false
        description: ETag of the certificate. This is required to update an existing
          certificate, and ignored while creating a brand new certificate.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: The X509 Certificate.
              type: object
              properties:
                properties:
                  description: properties of a certificate
                  type: object
                  properties:
                    subject:
                      description: The certificate's subject name.
                      type: string
                      readOnly: true
                    expiry:
                      description: The certificate's expiration date and time.
                      type: string
                      format: date-time-rfc1123
                      readOnly: true
                    thumbprint:
                      description: The certificate's thumbprint.
                      type: string
                      readOnly: true
                    isVerified:
                      description: Determines whether certificate has been verified.
                      type: boolean
                    certificate:
                      description: base-64 representation of X509 certificate .cer
                        file or just .pem file content.
                      type: string
                      format: byte
                    created:
                      description: The certificate's creation date and time.
                      type: string
                      format: date-time-rfc1123
                      readOnly: true
                    updated:
                      description: The certificate's last update date and time.
                      type: string
                      format: date-time-rfc1123
                      readOnly: true
                id:
                  readOnly: true
                  type: string
                  description: The resource identifier.
                name:
                  description: The name of the certificate.
                  type: string
                  readOnly: true
                etag:
                  description: The entity tag.
                  type: string
                  readOnly: true
                type:
                  readOnly: true
                  type: string
                  description: The resource type.
                systemData:
                  readOnly: true
                  description: Metadata pertaining to creation and last modification
                    of the resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
              x-ms-azure-resource: true
        description: The certificate body.
        required: true
      responses:
        '200':
          description: If certificate already exist and update was successful, the
            operation returns HTTP status code of 201 (OK).
          content:
            application/json:
              schema:
                description: The X509 Certificate.
                type: object
                properties:
                  properties:
                    description: properties of a certificate
                    type: object
                    properties:
                      subject:
                        description: The certificate's subject name.
                        type: string
                        readOnly: true
                      expiry:
                        description: The certificate's expiration date and time.
                        type: string
                        format: date-time-rfc1123
                        readOnly: true
                      thumbprint:
                        description: The certificate's thumbprint.
                        type: string
                        readOnly: true
                      isVerified:
                        description: Determines whether certificate has been verified.
                        type: boolean
                      certificate:
                        description: base-64 representation of X509 certificate .cer
                          file or just .pem file content.
                        type: string
                        format: byte
                      created:
                        description: The certificate's creation date and time.
                        type: string
                        format: date-time-rfc1123
                        readOnly: true
                      updated:
                        description: The certificate's last update date and time.
                        type: string
                        format: date-time-rfc1123
                        readOnly: true
                  id:
                    readOnly: true
                    type: string
                    description: The resource identifier.
                  name:
                    description: The name of the certificate.
                    type: string
                    readOnly: true
                  etag:
                    description: The entity tag.
                    type: string
                    readOnly: true
                  type:
                    readOnly: true
                    type: string
                    description: The resource type.
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                x-ms-azure-resource: true
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                description: Error details.
                type: object
                properties:
                  code:
                    description: The error code.
                    format: int32
                    type: integer
                    readOnly: true
                  httpStatusCode:
                    description: The HTTP status code.
                    type: string
                    readOnly: true
                  message:
                    description: The error message.
                    type: string
                    readOnly: true
                  details:
                    description: The error details.
                    type: string
                    readOnly: true
      deprecated: false
    delete:
      tags:
      - DpsCertificate
      operationId: DpsCertificate_Delete
      summary: Delete the Provisioning Service Certificate.
      description: Deletes the specified certificate associated with the Provisioning
        Service
      parameters:
      - name: subscriptionId
        in: path
        description: The subscription identifier.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: Resource group identifier.
        schema:
          type: string
      - name: If-Match
        in: header
        required: true
        description: ETag of the certificate
        schema:
          type: string
      - name: provisioningServiceName
        in: path
        required: true
        description: The name of the provisioning service.
        schema:
          type: string
      - name: certificateName
        in: path
        required: true
        description: This is a mandatory field, and is the logical name of the certificate
          that the provisioning service will access by.
        schema:
          type: string
      - name: certificate.name
        in: query
        required: false
        description: This is optional, and it is the Common Name of the certificate.
        schema:
          type: string
      - name: certificate.rawBytes
        in: query
        required: false
        description: Raw data within the certificate.
        schema:
          type: string
          format: byte
      - name: certificate.isVerified
        in: query
        required: false
        description: Indicates if certificate has been verified by owner of the private
          key.
        schema:
          type: boolean
      - name: certificate.purpose
        in: query
        required: false
        description: A description that mentions the purpose of the certificate.
        x-ms-enum:
          name: CertificatePurpose
          modelAsString: true
        schema:
          type: string
          enum:
          - clientAuthentication
          - serverAuthentication
      - name: certificate.created
        in: query
        description: Time the certificate is created.
        required: false
        schema:
          type: string
          format: date-time
      - name: certificate.lastUpdated
        in: query
        required: false
        description: Time the certificate is last updated.
        schema:
          type: string
          format: date-time
      - name: certificate.hasPrivateKey
        in: query
        required: false
        description: Indicates if the certificate contains a private key.
        schema:
          type: boolean
      - name: certificate.nonce
        in: query
        required: false
        description: Random number generated to indicate Proof of Possession.
        schema:
          type: string
      - name: api-version
        in: query
        description: The version of the API.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK.
        '204':
          description: No content.
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                description: Error details.
                type: object
                properties:
                  code:
                    description: The error code.
                    format: int32
                    type: integer
                    readOnly: true
                  httpStatusCode:
                    description: The HTTP status code.
                    type: string
                    readOnly: true
                  message:
                    description: The error message.
                    type: string
                    readOnly: true
                  details:
                    description: The error details.
                    type: string
                    readOnly: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}
  : get:
      tags:
      - IotDpsResource
      summary: Get the non-security related metadata of the provisioning service.
      description: Get the metadata of the provisioning service without SAS keys.
      operationId: IotDpsResource_Get
      parameters:
      - name: provisioningServiceName
        in: path
        required: true
        description: Name of the provisioning service to retrieve.
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription identifier.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: Resource group name.
        schema:
          type: string
      - name: api-version
        in: query
        description: The version of the API.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Provisioning service description with no keys is included in
            the response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The resource identifier.
                  name:
                    readOnly: true
                    type: string
                    description: The resource name.
                    pattern: ^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$
                  type:
                    readOnly: true
                    type: string
                    description: The resource type.
                  location:
                    type: string
                    description: The resource location.
                  resourcegroup:
                    type: string
                    description: The resource group of the resource.
                  subscriptionid:
                    type: string
                    description: The subscription id of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: The resource tags.
                  etag:
                    description: The Etag field is *not* required. If it is provided
                      in the response body, it must also be provided as a header per
                      the normal ETag convention.
                    type: string
                  properties:
                    description: Service specific properties for a provisioning service
                    type: object
                    properties:
                      state:
                        description: Current state of the provisioning service.
                        enum:
                        - Activating
                        - Active
                        - Deleting
                        - Deleted
                        - ActivationFailed
                        - DeletionFailed
                        - Transitioning
                        - Suspending
                        - Suspended
                        - Resuming
                        - FailingOver
                        - FailoverFailed
                        type: string
                        x-ms-enum:
                          name: state
                          modelAsString: true
                      publicNetworkAccess:
                        type: string
                        description: Whether requests from Public Network are allowed
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          modelAsString: true
                          name: PublicNetworkAccess
                      ipFilterRules:
                        description: The IP filter rules.
                        type: array
                        items:
                          description: The IP filter rules for a provisioning Service.
                          type: object
                          properties:
                            filterName:
                              description: The name of the IP filter rule.
                              type: string
                            action:
                              description: The desired action for requests captured
                                by this rule.
                              enum:
                              - Accept
                              - Reject
                              type: string
                              x-ms-enum:
                                name: IpFilterActionType
                                modelAsString: false
                            ipMask:
                              description: A string that contains the IP address range
                                in CIDR notation for the rule.
                              type: string
                            target:
                              description: Target for requests captured by this rule.
                              enum:
                              - all
                              - serviceApi
                              - deviceApi
                              type: string
                              x-ms-enum:
                                name: IpFilterTargetType
                                modelAsString: false
                          required:
                          - filterName
                          - action
                          - ipMask
                      privateEndpointConnections:
                        description: Private endpoint connections created on this
                          IotHub
                        type: array
                        items:
                          description: The private endpoint connection of a provisioning
                            service
                          x-ms-azure-resource: true
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: The resource identifier.
                            name:
                              readOnly: true
                              type: string
                              description: The resource name.
                              pattern: ^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$
                            type:
                              readOnly: true
                              type: string
                              description: The resource type.
                            properties:
                              description: The properties of a private endpoint connection
                              type: object
                              properties:
                                privateEndpoint:
                                  description: The private endpoint property of a
                                    private endpoint connection
                                  type: object
                                  properties:
                                    id:
                                      readOnly: true
                                      type: string
                                      description: The resource identifier.
                                privateLinkServiceConnectionState:
                                  description: The current state of a private endpoint
                                    connection
                                  type: object
                                  properties:
                                    status:
                                      description: The status of a private endpoint
                                        connection
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      - Disconnected
                                      type: string
                                      x-ms-enum:
                                        name: PrivateLinkServiceConnectionStatus
                                        modelAsString: true
                                    description:
                                      type: string
                                      description: The description for the current
                                        state of a private endpoint connection
                                    actionsRequired:
                                      type: string
                                      description: Actions required for a private
                                        endpoint connection
                                  required:
                                  - status
                                  - description
                              required:
                              - privateLinkServiceConnectionState
                            systemData:
                              readOnly: true
                              description: Metadata pertaining to creation and last
                                modification of the resource.
                              type: object
                              properties:
                                createdBy:
                                  type: string
                                  description: The identity that created the resource.
                                createdByType:
                                  type: string
                                  description: The type of identity that created the
                                    resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                createdAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource creation
                                    (UTC).
                                lastModifiedBy:
                                  type: string
                                  description: The identity that last modified the
                                    resource.
                                lastModifiedByType:
                                  type: string
                                  description: The type of identity that last modified
                                    the resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                lastModifiedAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource last modification
                                    (UTC)
                          required:
                          - properties
                      provisioningState:
                        description: The ARM provisioning state of the provisioning
                          service.
                        type: string
                      iotHubs:
                        type: array
                        description: List of IoT hubs associated with this provisioning
                          service.
                        items:
                          type: object
                          description: Description of the IoT hub.
                          properties:
                            applyAllocationPolicy:
                              description: flag for applying allocationPolicy or not
                                for a given iot hub.
                              type: boolean
                            allocationWeight:
                              description: weight to apply for a given iot h.
                              format: int32
                              type: integer
                            name:
                              type: string
                              readOnly: true
                              description: Host name of the IoT hub.
                            connectionString:
                              type: string
                              description: Connection string of the IoT hub.
                            location:
                              type: string
                              description: ARM region of the IoT hub.
                          required:
                          - connectionString
                          - location
                      allocationPolicy:
                        enum:
                        - Hashed
                        - GeoLatency
                        - Static
                        type: string
                        description: Allocation policy to be used by this provisioning
                          service.
                        x-ms-enum:
                          name: AllocationPolicy
                          modelAsString: true
                      serviceOperationsHostName:
                        description: Service endpoint for provisioning service.
                        type: string
                        readOnly: true
                      deviceProvisioningHostName:
                        type: string
                        description: Device endpoint for this provisioning service.
                        readOnly: true
                      idScope:
                        type: string
                        description: Unique identifier of this provisioning service.
                        readOnly: true
                      authorizationPolicies:
                        description: List of authorization keys for a provisioning
                          service.
                        type: array
                        items:
                          type: object
                          description: Description of the shared access key.
                          properties:
                            keyName:
                              type: string
                              description: Name of the key.
                            primaryKey:
                              type: string
                              description: Primary SAS key value.
                            secondaryKey:
                              type: string
                              description: Secondary SAS key value.
                            rights:
                              description: Rights that this key has.
                              enum:
                              - ServiceConfig
                              - EnrollmentRead
                              - EnrollmentWrite
                              - DeviceConnect
                              - RegistrationStatusRead
                              - RegistrationStatusWrite
                              type: string
                              x-ms-enum:
                                name: AccessRightsDescription
                                modelAsString: true
                          required:
                          - keyName
                          - rights
                      enableDataResidency:
                        type: boolean
                        description: 'Optional.

                          Indicates if the DPS instance has Data Residency enabled,
                          removing the cross geo-pair disaster recovery.'
                      portalOperationsHostName:
                        type: string
                        description: Portal endpoint to enable CORS for this provisioning
                          service.
                  sku:
                    description: Sku info for a provisioning Service.
                    type: object
                    properties:
                      name:
                        description: Sku name.
                        enum:
                        - S1
                        type: string
                        x-ms-enum:
                          name: IotDpsSku
                          modelAsString: true
                      tier:
                        type: string
                        readOnly: true
                        description: Pricing tier name of the provisioning service.
                      capacity:
                        format: int64
                        type: integer
                        description: The number of units to provision
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                - sku
                - properties
                description: The common properties of an Azure resource.
                x-ms-azure-resource: true
        default:
          description: Default error response
          content:
            application/json:
              schema:
                description: Error details.
                type: object
                properties:
                  code:
                    description: The error code.
                    format: int32
                    type: integer
                    readOnly: true
                  httpStatusCode:
                    description: The HTTP status code.
                    type: string
                    readOnly: true
                  message:
                    description: The error message.
                    type: string
                    readOnly: true
                  details:
                    description: The error details.
                    type: string
                    readOnly: true
    put:
      tags:
      - IotDpsResource
      summary: Create or update the metadata of the provisioning service.
      description: Create or update the metadata of the provisioning service. The
        usual pattern to modify a property is to retrieve the provisioning service
        metadata and security metadata, and then combine them with the modified values
        in a new body to update the provisioning service.
      x-ms-long-running-operation: true
      operationId: IotDpsResource_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        description: The subscription identifier.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: Resource group identifier.
        schema:
          type: string
      - name: provisioningServiceName
        in: path
        required: true
        description: Name of provisioning service to create or update.
        schema:
          type: string
      - name: api-version
        in: query
        description: The version of the API.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: The resource identifier.
                name:
                  readOnly: true
                  type: string
                  description: The resource name.
                  pattern: ^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$
                type:
                  readOnly: true
                  type: string
                  description: The resource type.
                location:
                  type: string
                  description: The resource location.
                resourcegroup:
                  type: string
                  description: The resource group of the resource.
                subscriptionid:
                  type: string
                  description: The subscription id of the resource.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: The resource tags.
                etag:
                  description: The Etag field is *not* required. If it is provided
                    in the response body, it must also be provided as a header per
                    the normal ETag convention.
                  type: string
                properties:
                  description: Service specific properties for a provisioning service
                  type: object
                  properties:
                    state:
                      description: Current state of the provisioning service.
                      enum:
                      - Activating
                      - Active
                      - Deleting
                      - Deleted
                      - ActivationFailed
                      - DeletionFailed
                      - Transitioning
                      - Suspending
                      - Suspended
                      - Resuming
                      - FailingOver
                      - FailoverFailed
                      type: string
                      x-ms-enum:
                        name: state
                        modelAsString: true
                    publicNetworkAccess:
                      type: string
                      description: Whether requests from Public Network are allowed
                      enum:
                      - Enabled
                      - Disabled
                      x-ms-enum:
                        modelAsString: true
                        name: PublicNetworkAccess
                    ipFilterRules:
                      description: The IP filter rules.
                      type: array
                      items:
                        description: The IP filter rules for a provisioning Service.
                        type: object
                        properties:
                          filterName:
                            description: The name of the IP filter rule.
                            type: string
                          action:
                            description: The desired action for requests captured
                              by this rule.
                            enum:
                            - Accept
                            - Reject
                            type: string
                            x-ms-enum:
                              name: IpFilterActionType
                              modelAsString: false
                          ipMask:
                            description: A string that contains the IP address range
                              in CIDR notation for the rule.
                            type: string
                          target:
                            description: Target for requests captured by this rule.
                            enum:
                            - all
                            - serviceApi
                            - deviceApi
                            type: string
                            x-ms-enum:
                              name: IpFilterTargetType
                              modelAsString: false
                        required:
                        - filterName
                        - action
                        - ipMask
                    privateEndpointConnections:
                      description: Private endpoint connections created on this IotHub
                      type: array
                      items:
                        description: The private endpoint connection of a provisioning
                          service
                        x-ms-azure-resource: true
                        type: object
                        properties:
                          id:
                            readOnly: true
                            type: string
                            description: The resource identifier.
                          name:
                            readOnly: true
                            type: string
                            description: The resource name.
                            pattern: ^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$
                          type:
                            readOnly: true
                            type: string
                            description: The resource type.
                          properties:
                            description: The properties of a private endpoint connection
                            type: object
                            properties:
                              privateEndpoint:
                                description: The private endpoint property of a private
                                  endpoint connection
                                type: object
                                properties:
                                  id:
                                    readOnly: true
                                    type: string
                                    description: The resource identifier.
                              privateLinkServiceConnectionState:
                                description: The current state of a private endpoint
                                  connection
                                type: object
                                properties:
                                  status:
                                    description: The status of a private endpoint
                                      connection
                                    enum:
                                    - Pending
                                    - Approved
                                    - Rejected
                                    - Disconnected
                                    type: string
                                    x-ms-enum:
                                      name: PrivateLinkServiceConnectionStatus
                                      modelAsString: true
                                  description:
                                    type: string
                                    description: The description for the current state
                                      of a private endpoint connection
                                  actionsRequired:
                                    type: string
                                    description: Actions required for a private endpoint
                                      connection
                                required:
                                - status
                                - description
                            required:
                            - privateLinkServiceConnectionState
                          systemData:
                            readOnly: true
                            description: Metadata pertaining to creation and last
                              modification of the resource.
                            type: object
                            properties:
                              createdBy:
                                type: string
                                description: The identity that created the resource.
                              createdByType:
                                type: string
                                description: The type of identity that created the
                                  resource.
                                enum:
                                - User
                                - Application
                                - ManagedIdentity
                                - Key
                                x-ms-enum:
                                  name: createdByType
                                  modelAsString: true
                              createdAt:
                                type: string
                                format: date-time
                                description: The timestamp of resource creation (UTC).
                              lastModifiedBy:
                                type: string
                                description: The identity that last modified the resource.
                              lastModifiedByType:
                                type: string
                                description: The type of identity that last modified
                                  the resource.
                                enum:
                                - User
                                - Application
                                - ManagedIdentity
                                - Key
                                x-ms-enum:
                                  name: createdByType
                                  modelAsString: true
                              lastModifiedAt:
                                type: string
                                format: date-time
                                description: The timestamp of resource last modification
                                  (UTC)
                        required:
                        - properties
                    provisioningState:
                      description: The ARM provisioning state of the provisioning
                        service.
                      type: string
                    iotHubs:
                      type: array
                      description: List of IoT hubs associated with this provisioning
                        service.
                      items:
                        type: object
                        description: Description of the IoT hub.
                        properties:
                          applyAllocationPolicy:
                            description: flag for applying allocationPolicy or not
                              for a given iot hub.
                            type: boolean
                          allocationWeight:
                            description: weight to apply for a given iot h.
                            format: int32
                            type: integer
                          name:
                            type: string
                            readOnly: true
                            description: Host name of the IoT hub.
                          connectionString:
                            type: string
                            description: Connection string of the IoT hub.
                          location:
                            type: string
                            description: ARM region of the IoT hub.
                        required:
                        - connectionString
                        - location
                    allocationPolicy:
                      enum:
                      - Hashed
                      - GeoLatency
                      - Static
                      type: string
                      description: Allocation policy to be used by this provisioning
                        service.
                      x-ms-enum:
                        name: AllocationPolicy
                        modelAsString: true
                    serviceOperationsHostName:
                      description: Service endpoint for provisioning service.
                      type: string
                      readOnly: true
                    deviceProvisioningHostName:
                      type: string
                      description: Device endpoint for this provisioning service.
                      readOnly: true
                    idScope:
                      type: string
                      description: Unique identifier of this provisioning service.
                      readOnly: true
                    authorizationPolicies:
                      description: List of authorization keys for a provisioning service.
                      type: array
                      items:
                        type: object
                        description: Description of the shared access key.
                        properties:
                          keyName:
                            type: string
                            description: Name of the key.
                          primaryKey:
                            type: string
                            description: Primary SAS key value.
                          secondaryKey:
                            type: string
                            description: Secondary SAS key value.
                          rights:
                            description: Rights that this key has.
                            enum:
                            - ServiceConfig
                            - EnrollmentRead
                            - EnrollmentWrite
                            - DeviceConnect
                            - RegistrationStatusRead
                            - RegistrationStatusWrite
                            type: string
                            x-ms-enum:
                              name: AccessRightsDescription
                              modelAsString: true
                        required:
                        - keyName
                        - rights
                    enableDataResidency:
                      type: boolean
                      description: 'Optional.

                        Indicates if the DPS instance has Data Residency enabled,
                        removing the cross geo-pair disaster recovery.'
                    portalOperationsHostName:
                      type: string
                      description: Portal endpoint to enable CORS for this provisioning
                        service.
                sku:
                  description: Sku info for a provisioning Service.
                  type: object
                  properties:
                    name:
                      description: Sku name.
                      enum:
                      - S1
                      type: string
                      x-ms-enum:
                        name: IotDpsSku
                        modelAsString: true
                    tier:
                      type: string
                      readOnly: true
                      description: Pricing tier name of the provisioning service.
                    capacity:
                      format: int64
                      type: integer
                      description: The number of units to provision
                systemData:
                  readOnly: true
                  description: Metadata pertaining to creation and last modification
                    of the resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
              required:
              - location
              - sku
              - properties
              description: The common properties of an Azure resource.
              x-ms-azure-resource: true
        description: Description of the provisioning service to create or update.
        required: true
      responses:
        '200':
          description: The body contains all the non-security properties of the provisioning
            service. Security-related properties are set to null.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The resource identifier.
                  name:
                    readOnly: true
                    type: string
                    description: The resource name.
                    pattern: ^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$
                  type:
                    readOnly: true
                    type: string
                    description: The resource type.
                  location:
                    type: string
                    description: The resource location.
                  resourcegroup:
                    type: string
                    description: The resource group of the resource.
                  subscriptionid:
                    type: string
                    description: The subscription id of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: The resource tags.
                  etag:
                    description: The Etag field is *not* required. If it is provided
                      in the response body, it must also be provided as a header per
                      the normal ETag convention.
                    type: string
                  properties:
                    description: Service specific properties for a provisioning service
                    type: object
                    properties:
                      state:
                        description: Current state of the provisioning service.
                        enum:
                        - Activating
                        - Active
                        - Deleting
                        - Deleted
                        - ActivationFailed
                        - DeletionFailed
                        - Transitioning
                        - Suspending
                        - Suspended
                        - Resuming
                        - FailingOver
                        - FailoverFailed
                        type: string
                        x-ms-enum:
                          name: state
                          modelAsString: true
                      publicNetworkAccess:
                        type: string
                        description: Whether requests from Public Network are allowed
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          modelAsString: true
                          name: PublicNetworkAccess
                      ipFilterRules:
                        description: The IP filter rules.
                        type: array
                        items:
                          description: The IP filter rules for a provisioning Service.
                          type: object
                          properties:
                            filterName:
                              description: The name of the IP filter rule.
                              type: string
                            action:
                              description: The desired action for requests captured
                                by this rule.
                              enum:
                              - Accept
                              - Reject
                              type: string
                              x-ms-enum:
                                name: IpFilterActionType
                                modelAsString: false
                            ipMask:
                              description: A string that contains the IP address range
                                in CIDR notation for the rule.
                              type: string
                            target:
                              description: Target for requests captured by this rule.
                              enum:
                              - all
                              - serviceApi
                              - deviceApi
                              type: string
                              x-ms-enum:
                                name: IpFilterTargetType
                                modelAsString: false
                          required:
                          - filterName
                          - action
                          - ipMask
                      privateEndpointConnections:
                        description: Private endpoint connections created on this
                          IotHub
                        type: array
                        items:
                          description: The private endpoint connection of a provisioning
                            service
                          x-ms-azure-resource: true
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: The resource identifier.
                            name:
                              readOnly: true
                              type: string
                              description: The resource name.
                              pattern: ^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$
                            type:
                              readOnly: true
                              type: string
                              description: The resource type.
                            properties:
                              description: The properties of a private endpoint connection
                              type: object
                              properties:
                                privateEndpoint:
                                  description: The private endpoint property of a
                                    private endpoint connection
                                  type: object
                                  properties:
                                    id:
                                      readOnly: true
                                      type: string
                                      description: The resource identifier.
                                privateLinkServiceConnectionState:
                                  description: The current state of a private endpoint
                                    connection
                                  type: object
                                  properties:
                                    status:
                                      description: The status of a private endpoint
                                        connection
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      - Disconnected
                                      type: string
                                      x-ms-enum:
                                        name: PrivateLinkServiceConnectionStatus
                                        modelAsString: true
                                    description:
                                      type: string
                                      description: The description for the current
                                        state of a private endpoint connection
                                    actionsRequired:
                                      type: string
                                      description: Actions required for a private
                                        endpoint connection
                                  required:
                                  - status
                                  - description
                              required:
                              - privateLinkServiceConnectionState
                            systemData:
                              readOnly: true
                              description: Metadata pertaining to creation and last
                                modification of the resource.
                              type: object
                              properties:
                                createdBy:
                                  type: string
                                  description: The identity that created the resource.
                                createdByType:
                                  type: string
                                  description: The type of identity that created the
                                    resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                createdAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource creation
                                    (UTC).
                                lastModifiedBy:
                                  type: string
                                  description: The identity that last modified the
                                    resource.
                                lastModifiedByType:
                                  type: string
                                  description: The type of identity that last modified
                                    the resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                lastModifiedAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource last modification
                                    (UTC)
                          required:
                          - properties
                      provisioningState:
                        description: The ARM provisioning state of the provisioning
                          service.
                        type: string
                      iotHubs:
                        type: array
                        description: List of IoT hubs associated with this provisioning
                          service.
                        items:
                          type: object
                          description: Description of the IoT hub.
                          properties:
                            applyAllocationPolicy:
                              description: flag for applying allocationPolicy or not
                                for a given iot hub.
                              type: boolean
                            allocationWeight:
                              description: weight to apply for a given iot h.
                              format: int32
                              type: integer
                            name:
                              type: string
                              readOnly: true
                              description: Host name of the IoT hub.
                            connectionString:
                              type: string
                              description: Connection string of the IoT hub.
                            location:
                              type: string
                              description: ARM region of the IoT hub.
                          required:
                          - connectionString
                          - location
                      allocationPolicy:
                        enum:
                        - Hashed
                        - GeoLatency
                        - Static
                        type: string
                        description: Allocation policy to be used by this provisioning
                          service.
                        x-ms-enum:
                          name: AllocationPolicy
                          modelAsString: true
                      serviceOperationsHostName:
                        description: Service endpoint for provisioning service.
                        type: string
                        readOnly: true
                      deviceProvisioningHostName:
                        type: string
                        description: Device endpoint for this provisioning service.
                        readOnly: true
                      idScope:
                        type: string
                        description: Unique identifier of this provisioning service.
                        readOnly: true
                      authorizationPolicies:
                        description: List of authorization keys for a provisioning
                          service.
                        type: array
                        items:
                          type: object
                          description: Description of the shared access key.
                          properties:
                            keyName:
                              type: string
                              description: Name of the key.
                            primaryKey:
                              type: string
                              description: Primary SAS key value.
                            secondaryKey:
                              type: string
                              description: Secondary SAS key value.
                            rights:
                              description: Rights that this key has.
                              enum:
                              - ServiceConfig
                              - EnrollmentRead
                              - EnrollmentWrite
                              - DeviceConnect
                              - RegistrationStatusRead
                              - RegistrationStatusWrite
                              type: string
                              x-ms-enum:
                                name: AccessRightsDescription
                                modelAsString: true
                          required:
                          - keyName
                          - rights
                      enableDataResidency:
                        type: boolean
                        description: 'Optional.

                          Indicates if the DPS instance has Data Residency enabled,
                          removing the cross geo-pair disaster recovery.'
                      portalOperationsHostName:
                        type: string
                        description: Portal endpoint to enable CORS for this provisioning
                          service.
                  sku:
                    description: Sku info for a provisioning Service.
                    type: object
                    properties:
                      name:
                        description: Sku name.
                        enum:
                        - S1
                        type: string
                        x-ms-enum:
                          name: IotDpsSku
                          modelAsString: true
                      tier:
                        type: string
                        readOnly: true
                        description: Pricing tier name of the provisioning service.
                      capacity:
                        format: int64
                        type: integer
                        description: The number of units to provision
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                - sku
                - properties
                description: The common properties of an Azure resource.
                x-ms-azure-resource: true
        '201':
          description: This is a long running operation. The operation returns a 201
            if the validation is complete. The response includes an Azure-AsyncOperation
            header that contains a status URL. Clients are expected to poll the status
            URL for the status of the operation. If successful, the operation returns
            HTTP status code of 201 (OK).
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The resource identifier.
                  name:
                    readOnly: true
                    type: string
                    description: The resource name.
                    pattern: ^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$
                  type:
                    readOnly: true
                    type: string
                    description: The resource type.
                  location:
                    type: string
                    description: The resource location.
                  resourcegroup:
                    type: string
                    description: The resource group of the resource.
                  subscriptionid:
                    type: string
                    description: The subscription id of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: The resource tags.
                  etag:
                    description: The Etag field is *not* required. If it is provided
                      in the response body, it must also be provided as a header per
                      the normal ETag convention.
                    type: string
                  properties:
                    description: Service specific properties for a provisioning service
                    type: object
                    properties:
                      state:
                        description: Current state of the provisioning service.
                        enum:
                        - Activating
                        - Active
                        - Deleting
                        - Deleted
                        - ActivationFailed
                        - DeletionFailed
                        - Transitioning
                        - Suspending
                        - Suspended
                        - Resuming
                        - FailingOver
                        - FailoverFailed
                        type: string
                        x-ms-enum:
                          name: state
                          modelAsString: true
                      publicNetworkAccess:
                        type: string
                        description: Whether requests from Public Network are allowed
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          modelAsString: true
                          name: PublicNetworkAccess
                      ipFilterRules:
                        description: The IP filter rules.
                        type: array
                        items:
                          description: The IP filter rules for a provisioning Service.
                          type: object
                          properties:
                            filterName:
                              description: The name of the IP filter rule.
                              type: string
                            action:
                              description: The desired action for requests captured
                                by this rule.
                              enum:
                              - Accept
                              - Reject
                              type: string
                              x-ms-enum:
                                name: IpFilterActionType
                                modelAsString: false
                            ipMask:
                              description: A string that contains the IP address range
                                in CIDR notation for the rule.
                              type: string
                            target:
                              description: Target for requests captured by this rule.
                              enum:
                              - all
                              - serviceApi
                              - deviceApi
                              type: string
                              x-ms-enum:
                                name: IpFilterTargetType
                                modelAsString: false
                          required:
                          - filterName
                          - action
                          - ipMask
                      privateEndpointConnections:
                        description: Private endpoint connections created on this
                          IotHub
                        type: array
                        items:
                          description: The private endpoint connection of a provisioning
                            service
                          x-ms-azure-resource: true
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: The resource identifier.
                            name:
                              readOnly: true
                              type: string
                              description: The resource name.
                              pattern: ^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$
                            type:
                              readOnly: true
                              type: string
                              description: The resource type.
                            properties:
                              description: The properties of a private endpoint connection
                              type: object
                              properties:
                                privateEndpoint:
                                  description: The private endpoint property of a
                                    private endpoint connection
                                  type: object
                                  properties:
                                    id:
                                      readOnly: true
                                      type: string
                                      description: The resource identifier.
                                privateLinkServiceConnectionState:
                                  description: The current state of a private endpoint
                                    connection
                                  type: object
                                  properties:
                                    status:
                                      description: The status of a private endpoint
                                        connection
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      - Disconnected
                                      type: string
                                      x-ms-enum:
                                        name: PrivateLinkServiceConnectionStatus
                                        modelAsString: true
                                    description:
                                      type: string
                                      description: The description for the current
                                        state of a private endpoint connection
                                    actionsRequired:
                                      type: string
                                      description: Actions required for a private
                                        endpoint connection
                                  required:
                                  - status
                                  - description
                              required:
                              - privateLinkServiceConnectionState
                            systemData:
                              readOnly: true
                              description: Metadata pertaining to creation and last
                                modification of the resource.
                              type: object
                              properties:
                                createdBy:
                                  type: string
                                  description: The identity that created the resource.
                                createdByType:
                                  type: string
                                  description: The type of identity that created the
                                    resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                createdAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource creation
                                    (UTC).
                                lastModifiedBy:
                                  type: string
                                  description: The identity that last modified the
                                    resource.
                                lastModifiedByType:
                                  type: string
                                  description: The type of identity that last modified
                                    the resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                lastModifiedAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource last modification
                                    (UTC)
                          required:
                          - properties
                      provisioningState:
                        description: The ARM provisioning state of the provisioning
                          service.
                        type: string
                      iotHubs:
                        type: array
                        description: List of IoT hubs associated with this provisioning
                          service.
                        items:
                          type: object
                          description: Description of the IoT hub.
                          properties:
                            applyAllocationPolicy:
                              description: flag for applying allocationPolicy or not
                                for a given iot hub.
                              type: boolean
                            allocationWeight:
                              description: weight to apply for a given iot h.
                              format: int32
                              type: integer
                            name:
                              type: string
                              readOnly: true
                              description: Host name of the IoT hub.
                            connectionString:
                              type: string
                              description: Connection string of the IoT hub.
                            location:
                              type: string
                              description: ARM region of the IoT hub.
                          required:
                          - connectionString
                          - location
                      allocationPolicy:
                        enum:
                        - Hashed
                        - GeoLatency
                        - Static
                        type: string
                        description: Allocation policy to be used by this provisioning
                          service.
                        x-ms-enum:
                          name: AllocationPolicy
                          modelAsString: true
                      serviceOperationsHostName:
                        description: Service endpoint for provisioning service.
                        type: string
                        readOnly: true
                      deviceProvisioningHostName:
                        type: string
                        description: Device endpoint for this provisioning service.
                        readOnly: true
                      idScope:
                        type: string
                        description: Unique identifier of this provisioning service.
                        readOnly: true
                      authorizationPolicies:
                        description: List of authorization keys for a provisioning
                          service.
                        type: array
                        items:
                          type: object
                          description: Description of the shared access key.
                          properties:
                            keyName:
                              type: string
                              description: Name of the key.
                            primaryKey:
                              type: string
                              description: Primary SAS key value.
                            secondaryKey:
                              type: string
                              description: Secondary SAS key value.
                            rights:
                              description: Rights that this key has.
                              enum:
                              - ServiceConfig
                              - EnrollmentRead
                              - EnrollmentWrite
                              - DeviceConnect
                              - RegistrationStatusRead
                              - RegistrationStatusWrite
                              type: string
                              x-ms-enum:
                                name: AccessRightsDescription
                                modelAsString: true
                          required:
                          - keyName
                          - rights
                      enableDataResidency:
                        type: boolean
                        description: 'Optional.

                          Indicates if the DPS instance has Data Residency enabled,
                          removing the cross geo-pair disaster recovery.'
                      portalOperationsHostName:
                        type: string
                        description: Portal endpoint to enable CORS for this provisioning
                          service.
                  sku:
                    description: Sku info for a provisioning Service.
                    type: object
                    properties:
                      name:
                        description: Sku name.
                        enum:
                        - S1
                        type: string
                        x-ms-enum:
                          name: IotDpsSku
                          modelAsString: true
                      tier:
                        type: string
                        readOnly: true
                        description: Pricing tier name of the provisioning service.
                      capacity:
                        format: int64
                        type: integer
                        description: The number of units to provision
                  systemData:
[...]
