openapi: 3.0.0
info:
  title: TemplateSpecsClient
  description: The APIs listed in this specification can be used to manage Template
    Spec resources through the Azure Resource Manager.
  version: 2022-02-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Resources/templateSpecs/{templateSpecName}
  : put:
      tags:
      - TemplateSpecs
      operationId: TemplateSpecs_CreateOrUpdate
      description: Creates or updates a Template Spec.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: client
        description: Subscription Id which forms part of the URI for every service
          call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: templateSpecName
        in: path
        required: true
        description: Name of the Template Spec.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Client Api version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: String Id used to locate any resource on Azure.
                name:
                  readOnly: true
                  type: string
                  description: Name of this resource.
                type:
                  readOnly: true
                  type: string
                  description: Type of this resource.
                systemData:
                  readOnly: true
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The location of the Template Spec. It cannot be changed
                    after Template Spec creation. It must be one of the supported
                    Azure locations.
                properties:
                  description: Template Spec properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    description:
                      type: string
                      maxLength: 4096
                      description: Template Spec description.
                    displayName:
                      type: string
                      maxLength: 64
                      description: Template Spec display name.
                    metadata:
                      type: object
                      description: The Template Spec metadata. Metadata is an open-ended
                        object and is typically a collection of key-value pairs.
                    versions:
                      type: object
                      readOnly: true
                      description: High-level information about the versions within
                        this Template Spec. The keys are the version names. Only populated
                        if the $expand query parameter is set to 'versions'.
                      additionalProperties:
                        type: object
                        description: High-level information about a Template Spec
                          version.
                        properties:
                          description:
                            type: string
                            readOnly: true
                            description: Template Spec version description.
                          timeCreated:
                            type: string
                            readOnly: true
                            format: date-time
                            description: The timestamp of when the version was created.
                          timeModified:
                            type: string
                            readOnly: true
                            format: date-time
                            description: The timestamp of when the version was last
                              modified.
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
              description: Common properties for all Azure resources.
              x-ms-azure-resource: true
              required:
              - location
        description: Template Spec supplied to the operation.
        required: true
      responses:
        '200':
          description: OK - The Template Spec update request has succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: String Id used to locate any resource on Azure.
                  name:
                    readOnly: true
                    type: string
                    description: Name of this resource.
                  type:
                    readOnly: true
                    type: string
                    description: Type of this resource.
                  systemData:
                    readOnly: true
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The location of the Template Spec. It cannot be changed
                      after Template Spec creation. It must be one of the supported
                      Azure locations.
                  properties:
                    description: Template Spec properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      description:
                        type: string
                        maxLength: 4096
                        description: Template Spec description.
                      displayName:
                        type: string
                        maxLength: 64
                        description: Template Spec display name.
                      metadata:
                        type: object
                        description: The Template Spec metadata. Metadata is an open-ended
                          object and is typically a collection of key-value pairs.
                      versions:
                        type: object
                        readOnly: true
                        description: High-level information about the versions within
                          this Template Spec. The keys are the version names. Only
                          populated if the $expand query parameter is set to 'versions'.
                        additionalProperties:
                          type: object
                          description: High-level information about a Template Spec
                            version.
                          properties:
                            description:
                              type: string
                              readOnly: true
                              description: Template Spec version description.
                            timeCreated:
                              type: string
                              readOnly: true
                              format: date-time
                              description: The timestamp of when the version was created.
                            timeModified:
                              type: string
                              readOnly: true
                              format: date-time
                              description: The timestamp of when the version was last
                                modified.
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                description: Common properties for all Azure resources.
                x-ms-azure-resource: true
                required:
                - location
        '201':
          description: Template Spec created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: String Id used to locate any resource on Azure.
                  name:
                    readOnly: true
                    type: string
                    description: Name of this resource.
                  type:
                    readOnly: true
                    type: string
                    description: Type of this resource.
                  systemData:
                    readOnly: true
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The location of the Template Spec. It cannot be changed
                      after Template Spec creation. It must be one of the supported
                      Azure locations.
                  properties:
                    description: Template Spec properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      description:
                        type: string
                        maxLength: 4096
                        description: Template Spec description.
                      displayName:
                        type: string
                        maxLength: 64
                        description: Template Spec display name.
                      metadata:
                        type: object
                        description: The Template Spec metadata. Metadata is an open-ended
                          object and is typically a collection of key-value pairs.
                      versions:
                        type: object
                        readOnly: true
                        description: High-level information about the versions within
                          this Template Spec. The keys are the version names. Only
                          populated if the $expand query parameter is set to 'versions'.
                        additionalProperties:
                          type: object
                          description: High-level information about a Template Spec
                            version.
                          properties:
                            description:
                              type: string
                              readOnly: true
                              description: Template Spec version description.
                            timeCreated:
                              type: string
                              readOnly: true
                              format: date-time
                              description: The timestamp of when the version was created.
                            timeModified:
                              type: string
                              readOnly: true
                              format: date-time
                              description: The timestamp of when the version was last
                                modified.
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                description: Common properties for all Azure resources.
                x-ms-azure-resource: true
                required:
                - location
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: Template Specs error response.
    patch:
      tags:
      - TemplateSpecs
      operationId: TemplateSpecs_Update
      description: Updates Template Spec tags with specified values.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: client
        description: Subscription Id which forms part of the URI for every service
          call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: templateSpecName
        in: path
        required: true
        description: Name of the Template Spec.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Client Api version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: String Id used to locate any resource on Azure.
                name:
                  readOnly: true
                  type: string
                  description: Name of this resource.
                type:
                  readOnly: true
                  type: string
                  description: Type of this resource.
                systemData:
                  readOnly: true
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
              description: Common properties for all Azure resources.
              x-ms-azure-resource: true
        description: Template Spec resource with the tags to be updated.
      responses:
        '200':
          description: OK -- Template Spec tags are updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: String Id used to locate any resource on Azure.
                  name:
                    readOnly: true
                    type: string
                    description: Name of this resource.
                  type:
                    readOnly: true
                    type: string
                    description: Type of this resource.
                  systemData:
                    readOnly: true
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The location of the Template Spec. It cannot be changed
                      after Template Spec creation. It must be one of the supported
                      Azure locations.
                  properties:
                    description: Template Spec properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      description:
                        type: string
                        maxLength: 4096
                        description: Template Spec description.
                      displayName:
                        type: string
                        maxLength: 64
                        description: Template Spec display name.
                      metadata:
                        type: object
                        description: The Template Spec metadata. Metadata is an open-ended
                          object and is typically a collection of key-value pairs.
                      versions:
                        type: object
                        readOnly: true
                        description: High-level information about the versions within
                          this Template Spec. The keys are the version names. Only
                          populated if the $expand query parameter is set to 'versions'.
                        additionalProperties:
                          type: object
                          description: High-level information about a Template Spec
                            version.
                          properties:
                            description:
                              type: string
                              readOnly: true
                              description: Template Spec version description.
                            timeCreated:
                              type: string
                              readOnly: true
                              format: date-time
                              description: The timestamp of when the version was created.
                            timeModified:
                              type: string
                              readOnly: true
                              format: date-time
                              description: The timestamp of when the version was last
                                modified.
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                description: Common properties for all Azure resources.
                x-ms-azure-resource: true
                required:
                - location
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: Template Specs error response.
    get:
      tags:
      - TemplateSpecs
      operationId: TemplateSpecs_Get
      description: Gets a Template Spec with a given name.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: client
        description: Subscription Id which forms part of the URI for every service
          call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: templateSpecName
        in: path
        required: true
        description: Name of the Template Spec.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: $expand
        in: query
        required: false
        description: Allows for expansion of additional Template Spec details in the
          response. Optional.
        x-ms-parameter-location: method
        x-ms-enum:
          name: TemplateSpecExpandKind
          modelAsString: true
          values:
          - value: versions
            description: Includes version information with the Template Spec.
        schema:
          type: string
          enum:
          - versions
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Client Api version.
        schema:
          type: string
      responses:
        '200':
          description: OK - Returns information about the Template Spec.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: String Id used to locate any resource on Azure.
                  name:
                    readOnly: true
                    type: string
                    description: Name of this resource.
                  type:
                    readOnly: true
                    type: string
                    description: Type of this resource.
                  systemData:
                    readOnly: true
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The location of the Template Spec. It cannot be changed
                      after Template Spec creation. It must be one of the supported
                      Azure locations.
                  properties:
                    description: Template Spec properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      description:
                        type: string
                        maxLength: 4096
                        description: Template Spec description.
                      displayName:
                        type: string
                        maxLength: 64
                        description: Template Spec display name.
                      metadata:
                        type: object
                        description: The Template Spec metadata. Metadata is an open-ended
                          object and is typically a collection of key-value pairs.
                      versions:
                        type: object
                        readOnly: true
                        description: High-level information about the versions within
                          this Template Spec. The keys are the version names. Only
                          populated if the $expand query parameter is set to 'versions'.
                        additionalProperties:
                          type: object
                          description: High-level information about a Template Spec
                            version.
                          properties:
                            description:
                              type: string
                              readOnly: true
                              description: Template Spec version description.
                            timeCreated:
                              type: string
                              readOnly: true
                              format: date-time
                              description: The timestamp of when the version was created.
                            timeModified:
                              type: string
                              readOnly: true
                              format: date-time
                              description: The timestamp of when the version was last
                                modified.
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                description: Common properties for all Azure resources.
                x-ms-azure-resource: true
                required:
                - location
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: Template Specs error response.
    delete:
      tags:
      - TemplateSpecs
      operationId: TemplateSpecs_Delete
      description: Deletes a Template Spec by name. When operation completes, status
        code 200 returned without content.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: client
        description: Subscription Id which forms part of the URI for every service
          call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: templateSpecName
        in: path
        required: true
        description: Name of the Template Spec.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Client Api version.
        schema:
          type: string
      responses:
        '200':
          description: OK - Template Spec deleted.
        '204':
          description: Template Spec does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: Template Specs error response.
  /subscriptions/{subscriptionId}/providers/Microsoft.Resources/templateSpecs/:
    get:
      tags:
      - TemplateSpecs
      operationId: TemplateSpecs_ListBySubscription
      description: Lists all the Template Specs within the specified subscriptions.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: client
        description: Subscription Id which forms part of the URI for every service
          call.
        schema:
          type: string
      - name: $expand
        in: query
        required: false
        description: Allows for expansion of additional Template Spec details in the
          response. Optional.
        x-ms-parameter-location: method
        x-ms-enum:
          name: TemplateSpecExpandKind
          modelAsString: true
          values:
          - value: versions
            description: Includes version information with the Template Spec.
        schema:
          type: string
          enum:
          - versions
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Client Api version.
        schema:
          type: string
      responses:
        '200':
          description: OK - Returns an array of Template Specs.
          content:
            application/json:
              schema:
                type: object
                description: List of Template Specs.
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: String Id used to locate any resource on Azure.
                        name:
                          readOnly: true
                          type: string
                          description: Name of this resource.
                        type:
                          readOnly: true
                          type: string
                          description: Type of this resource.
                        systemData:
                          readOnly: true
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The location of the Template Spec. It cannot
                            be changed after Template Spec creation. It must be one
                            of the supported Azure locations.
                        properties:
                          description: Template Spec properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            description:
                              type: string
                              maxLength: 4096
                              description: Template Spec description.
                            displayName:
                              type: string
                              maxLength: 64
                              description: Template Spec display name.
                            metadata:
                              type: object
                              description: The Template Spec metadata. Metadata is
                                an open-ended object and is typically a collection
                                of key-value pairs.
                            versions:
                              type: object
                              readOnly: true
                              description: High-level information about the versions
                                within this Template Spec. The keys are the version
                                names. Only populated if the $expand query parameter
                                is set to 'versions'.
                              additionalProperties:
                                type: object
                                description: High-level information about a Template
                                  Spec version.
                                properties:
                                  description:
                                    type: string
                                    readOnly: true
                                    description: Template Spec version description.
                                  timeCreated:
                                    type: string
                                    readOnly: true
                                    format: date-time
                                    description: The timestamp of when the version
                                      was created.
                                  timeModified:
                                    type: string
                                    readOnly: true
                                    format: date-time
                                    description: The timestamp of when the version
                                      was last modified.
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                      description: Common properties for all Azure resources.
                      x-ms-azure-resource: true
                      required:
                      - location
                    description: An array of Template Specs.
                  nextLink:
                    readOnly: true
                    type: string
                    description: The URL to use for getting the next set of results.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: Template Specs error response.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Resources/templateSpecs/:
    get:
      tags:
      - TemplateSpecs
      operationId: TemplateSpecs_ListByResourceGroup
      description: Lists all the Template Specs within the specified resource group.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: client
        description: Subscription Id which forms part of the URI for every service
          call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: $expand
        in: query
        required: false
        description: Allows for expansion of additional Template Spec details in the
          response. Optional.
        x-ms-parameter-location: method
        x-ms-enum:
          name: TemplateSpecExpandKind
          modelAsString: true
          values:
          - value: versions
            description: Includes version information with the Template Spec.
        schema:
          type: string
          enum:
          - versions
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Client Api version.
        schema:
          type: string
      responses:
        '200':
          description: OK - Returns an array of Template Specs.
          content:
            application/json:
              schema:
                type: object
                description: List of Template Specs.
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: String Id used to locate any resource on Azure.
                        name:
                          readOnly: true
                          type: string
                          description: Name of this resource.
                        type:
                          readOnly: true
                          type: string
                          description: Type of this resource.
                        systemData:
                          readOnly: true
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The location of the Template Spec. It cannot
                            be changed after Template Spec creation. It must be one
                            of the supported Azure locations.
                        properties:
                          description: Template Spec properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            description:
                              type: string
                              maxLength: 4096
                              description: Template Spec description.
                            displayName:
                              type: string
                              maxLength: 64
                              description: Template Spec display name.
                            metadata:
                              type: object
                              description: The Template Spec metadata. Metadata is
                                an open-ended object and is typically a collection
                                of key-value pairs.
                            versions:
                              type: object
                              readOnly: true
                              description: High-level information about the versions
                                within this Template Spec. The keys are the version
                                names. Only populated if the $expand query parameter
                                is set to 'versions'.
                              additionalProperties:
                                type: object
                                description: High-level information about a Template
                                  Spec version.
                                properties:
                                  description:
                                    type: string
                                    readOnly: true
                                    description: Template Spec version description.
                                  timeCreated:
                                    type: string
                                    readOnly: true
                                    format: date-time
                                    description: The timestamp of when the version
                                      was created.
                                  timeModified:
                                    type: string
                                    readOnly: true
                                    format: date-time
                                    description: The timestamp of when the version
                                      was last modified.
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                      description: Common properties for all Azure resources.
                      x-ms-azure-resource: true
                      required:
                      - location
                    description: An array of Template Specs.
                  nextLink:
                    readOnly: true
                    type: string
                    description: The URL to use for getting the next set of results.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: Template Specs error response.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Resources/templateSpecs/{templateSpecName}/versions/{templateSpecVersion}
  : put:
      tags:
      - TemplateSpecVersions
      operationId: TemplateSpecVersions_CreateOrUpdate
      description: Creates or updates a Template Spec version.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: client
        description: Subscription Id which forms part of the URI for every service
          call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: templateSpecName
        in: path
        required: true
        description: Name of the Template Spec.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: templateSpecVersion
        in: path
        required: true
        description: The version of the Template Spec.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Client Api version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: String Id used to locate any resource on Azure.
                name:
                  readOnly: true
                  type: string
                  description: Name of this resource.
                type:
                  readOnly: true
                  type: string
                  description: Type of this resource.
                systemData:
                  readOnly: true
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The location of the Template Spec Version. It must
                    match the location of the parent Template Spec.
                properties:
                  description: Template Spec Version properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    description:
                      type: string
                      maxLength: 4096
                      description: Template Spec version description.
                    linkedTemplates:
                      type: array
                      items:
                        type: object
                        description: Represents a Template Spec artifact containing
                          an embedded Azure Resource Manager template for use as a
                          linked template.
                        properties:
                          path:
                            type: string
                            description: A filesystem safe relative path of the artifact.
                          template:
                            type: object
                            description: The Azure Resource Manager template.
                        required:
                        - template
                        - path
                      description: An array of linked template artifacts.
                      x-ms-identifiers:
                      - path
                    metadata:
                      type: object
                      description: The version metadata. Metadata is an open-ended
                        object and is typically a collection of key-value pairs.
                    mainTemplate:
                      type: object
                      description: The main Azure Resource Manager template content.
                    uiFormDefinition:
                      type: object
                      description: The Azure Resource Manager template UI definition
                        content.
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
              description: Common properties for all Azure resources.
              x-ms-azure-resource: true
              required:
              - properties
              - location
        description: Template Spec Version supplied to the operation.
        required: true
      responses:
        '200':
          description: OK - The Template Spec Version has been successfully updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: String Id used to locate any resource on Azure.
                  name:
                    readOnly: true
                    type: string
                    description: Name of this resource.
                  type:
                    readOnly: true
                    type: string
                    description: Type of this resource.
                  systemData:
                    readOnly: true
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The location of the Template Spec Version. It must
                      match the location of the parent Template Spec.
                  properties:
                    description: Template Spec Version properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      description:
                        type: string
                        maxLength: 4096
                        description: Template Spec version description.
                      linkedTemplates:
                        type: array
                        items:
                          type: object
                          description: Represents a Template Spec artifact containing
                            an embedded Azure Resource Manager template for use as
                            a linked template.
                          properties:
                            path:
                              type: string
                              description: A filesystem safe relative path of the
                                artifact.
                            template:
                              type: object
                              description: The Azure Resource Manager template.
                          required:
                          - template
                          - path
                        description: An array of linked template artifacts.
                        x-ms-identifiers:
                        - path
                      metadata:
                        type: object
                        description: The version metadata. Metadata is an open-ended
                          object and is typically a collection of key-value pairs.
                      mainTemplate:
                        type: object
                        description: The main Azure Resource Manager template content.
                      uiFormDefinition:
                        type: object
                        description: The Azure Resource Manager template UI definition
                          content.
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                description: Common properties for all Azure resources.
                x-ms-azure-resource: true
                required:
                - properties
                - location
        '201':
          description: Template Spec Version created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: String Id used to locate any resource on Azure.
                  name:
                    readOnly: true
                    type: string
                    description: Name of this resource.
                  type:
                    readOnly: true
                    type: string
                    description: Type of this resource.
                  systemData:
                    readOnly: true
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  location:
                    type: string
                    x-ms-mutability:
[...]
