openapi: 3.0.0
info:
  title: Microsoft.Dashboard
  description: The Microsoft.Dashboard Rest API spec.
  version: 2024-10-01
servers:
- url: https://management.azure.com
paths:
  /providers/Microsoft.Dashboard/operations:
    get:
      tags:
      - GrafanaResource
      summary: List all available API operations provided by Microsoft.Dashboard.
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK. Return all available API operations provided by Microsoft.Dashboard.
          content:
            application/json:
              schema:
                type: object
                description: A list of REST API operations supported by an Azure Resource
                  Provider. It contains an URL link to get the next set of results.
                properties:
                  value:
                    type: array
                    description: List of operations supported by the resource provider
                    items:
                      type: object
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                      properties:
                        name:
                          type: string
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          readOnly: true
                        isDataAction:
                          type: boolean
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          readOnly: true
                        display:
                          type: object
                          description: Localized display information for this particular
                            operation.
                          properties:
                            provider:
                              type: string
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              readOnly: true
                            resource:
                              type: string
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              readOnly: true
                            operation:
                              type: string
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              readOnly: true
                            description:
                              type: string
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              readOnly: true
                        origin:
                          type: string
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                          readOnly: true
                        actionType:
                          type: string
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
        default:
          description: Common error response for all Azure Resource Manager APIs to
            return error details for failed operations.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Dashboard/grafana:
    get:
      tags:
      - GrafanaResource
      summary: List all resources of workspaces for Grafana under the specified subscription.
      operationId: Grafana_List
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK. Return all resources of workspaces for Grafana under the
            specified subscription.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      description: The grafana resource type.
                      x-ms-azure-resource: true
                      properties:
                        id:
                          description: ARM id of the grafana resource
                          type: string
                          readOnly: true
                        name:
                          description: Name of the grafana resource.
                          type: string
                          readOnly: true
                        type:
                          description: The type of the grafana resource.
                          type: string
                          readOnly: true
                        sku:
                          description: The Sku of the grafana resource.
                          required:
                          - name
                          type: object
                          properties:
                            name:
                              type: string
                        properties:
                          description: Properties specific to the grafana resource.
                          type: object
                          properties:
                            provisioningState:
                              description: Provisioning state of the resource.
                              enum:
                              - Accepted
                              - Creating
                              - Updating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Canceled
                              - Deleted
                              - NotSpecified
                              type: string
                              readOnly: true
                              x-ms-enum:
                                modelAsString: true
                                name: ProvisioningState
                            grafanaVersion:
                              description: The Grafana software version.
                              type: string
                              readOnly: true
                            endpoint:
                              description: The endpoint of the Grafana instance.
                              type: string
                              readOnly: true
                            publicNetworkAccess:
                              description: Indicate the state for enable or disable
                                traffic over the public interface.
                              enum:
                              - Enabled
                              - Disabled
                              default: Enabled
                              type: string
                              x-ms-enum:
                                name: PublicNetworkAccess
                                modelAsString: true
                            zoneRedundancy:
                              description: The zone redundancy setting of the Grafana
                                instance.
                              enum:
                              - Disabled
                              - Enabled
                              default: Disabled
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: ZoneRedundancy
                            apiKey:
                              description: The api key setting of the Grafana instance.
                              enum:
                              - Disabled
                              - Enabled
                              default: Disabled
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: ApiKey
                            deterministicOutboundIP:
                              description: Whether a Grafana instance uses deterministic
                                outbound IPs.
                              enum:
                              - Disabled
                              - Enabled
                              default: Disabled
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: DeterministicOutboundIP
                            outboundIPs:
                              description: List of outbound IPs if deterministicOutboundIP
                                is enabled.
                              type: array
                              items:
                                type: string
                              readOnly: true
                            privateEndpointConnections:
                              description: The private endpoint connections of the
                                Grafana instance.
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Fully qualified resource ID for the
                                      resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                                    readOnly: true
                                  name:
                                    type: string
                                    description: The name of the resource
                                    readOnly: true
                                  type:
                                    type: string
                                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                      or "Microsoft.Storage/storageAccounts"
                                    readOnly: true
                                  systemData:
                                    type: object
                                    description: Azure Resource Manager metadata containing
                                      createdBy and modifiedBy information.
                                    readOnly: true
                                    properties:
                                      createdBy:
                                        type: string
                                        description: The identity that created the
                                          resource.
                                      createdByType:
                                        type: string
                                        description: The type of identity that created
                                          the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      createdAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource creation
                                          (UTC).
                                      lastModifiedBy:
                                        type: string
                                        description: The identity that last modified
                                          the resource.
                                      lastModifiedByType:
                                        type: string
                                        description: The type of identity that last
                                          modified the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      lastModifiedAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource last
                                          modification (UTC)
                                  properties:
                                    x-ms-client-flatten: true
                                    description: Resource properties.
                                    type: object
                                    properties:
                                      privateEndpoint:
                                        description: The resource of private end point.
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                            description: The ARM identifier for Private
                                              Endpoint
                                            readOnly: true
                                      privateLinkServiceConnectionState:
                                        description: A collection of information about
                                          the state of the connection between service
                                          consumer and provider.
                                        type: object
                                        properties:
                                          status:
                                            description: Indicates whether the connection
                                              has been Approved/Rejected/Removed by
                                              the owner of the service.
                                            type: string
                                            enum:
                                            - Pending
                                            - Approved
                                            - Rejected
                                            x-ms-enum:
                                              name: PrivateEndpointServiceConnectionStatus
                                              modelAsString: true
                                          description:
                                            type: string
                                            description: The reason for approval/rejection
                                              of the connection.
                                          actionsRequired:
                                            type: string
                                            description: A message indicating if changes
                                              on the service provider require any
                                              updates on the consumer.
                                      groupIds:
                                        type: array
                                        items:
                                          type: string
                                        description: The private endpoint connection
                                          group ids.
                                      provisioningState:
                                        description: The provisioning state of the
                                          private endpoint connection resource.
                                        type: string
                                        enum:
                                        - Succeeded
                                        - Creating
                                        - Deleting
                                        - Failed
                                        x-ms-enum:
                                          name: PrivateEndpointConnectionProvisioningState
                                          modelAsString: true
                                        readOnly: true
                                    required:
                                    - privateLinkServiceConnectionState
                                title: Resource
                                description: Common fields that are returned in the
                                  response for all Azure Resource Manager resources
                                x-ms-azure-resource: true
                              readOnly: true
                            autoGeneratedDomainNameLabelScope:
                              description: Scope for dns deterministic name hash calculation.
                              enum:
                              - TenantReuse
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: AutoGeneratedDomainNameLabelScope
                              x-ms-mutability:
                              - read
                              - create
                            grafanaIntegrations:
                              description: GrafanaIntegrations is a bundled observability
                                experience (e.g. pre-configured data source, tailored
                                Grafana dashboards, alerting defaults) for common
                                monitoring scenarios.
                              type: object
                              properties:
                                azureMonitorWorkspaceIntegrations:
                                  type: array
                                  x-ms-identifiers: []
                                  items:
                                    description: Integrations for Azure Monitor Workspace.
                                    type: object
                                    properties:
                                      azureMonitorWorkspaceResourceId:
                                        description: The resource Id of the connected
                                          Azure Monitor Workspace.
                                        type: string
                            enterpriseConfigurations:
                              description: Enterprise settings of a Grafana instance
                              type: object
                              properties:
                                marketplacePlanId:
                                  description: The Plan Id of the Azure Marketplace
                                    subscription for the Enterprise plugins
                                  type: string
                                marketplaceAutoRenew:
                                  description: The AutoRenew setting of the Enterprise
                                    subscription
                                  enum:
                                  - Disabled
                                  - Enabled
                                  type: string
                                  x-ms-enum:
                                    modelAsString: true
                                    name: MarketplaceAutoRenew
                            grafanaConfigurations:
                              description: Server configurations of a Grafana instance
                              type: object
                              properties:
                                smtp:
                                  description: "Email server settings.\r\nhttps://grafana.com/docs/grafana/v9.0/setup-grafana/configure-grafana/#smtp"
                                  type: object
                                  properties:
                                    enabled:
                                      description: Enable this to allow Grafana to
                                        send email. Default is false
                                      type: boolean
                                      default: false
                                    host:
                                      description: SMTP server hostname with port,
                                        e.g. test.email.net:587
                                      type: string
                                    user:
                                      description: User of SMTP auth
                                      type: string
                                    password:
                                      description: 'Password of SMTP auth. If the
                                        password contains # or ;, then you have to
                                        wrap it with triple quotes'
                                      type: string
                                      x-ms-secret: true
                                    fromAddress:
                                      description: "Address used when sending out\
                                        \ emails\r\nhttps://pkg.go.dev/net/mail#Address"
                                      type: string
                                    fromName:
                                      description: "Name to be used when sending out\
                                        \ emails. Default is \"Azure Managed Grafana\
                                        \ Notification\"\r\nhttps://pkg.go.dev/net/mail#Address"
                                      type: string
                                    startTLSPolicy:
                                      description: "The StartTLSPolicy setting of\
                                        \ the SMTP configuration\r\nhttps://pkg.go.dev/github.com/go-mail/mail#StartTLSPolicy"
                                      enum:
                                      - OpportunisticStartTLS
                                      - MandatoryStartTLS
                                      - NoStartTLS
                                      type: string
                                      x-ms-enum:
                                        modelAsString: true
                                        name: StartTLSPolicy
                                    skipVerify:
                                      description: "Verify SSL for SMTP server. Default\
                                        \ is false\r\nhttps://pkg.go.dev/crypto/tls#Config"
                                      type: boolean
                                snapshots:
                                  description: Grafana Snapshots settings
                                  type: object
                                  properties:
                                    externalEnabled:
                                      description: Set to false to disable external
                                        snapshot publish endpoint
                                      type: boolean
                                users:
                                  description: Grafana users settings
                                  type: object
                                  properties:
                                    viewersCanEdit:
                                      description: Set to true so viewers can access
                                        and use explore and perform temporary edits
                                        on panels in dashboards they have access to.
                                        They cannot save their changes.
                                      type: boolean
                                security:
                                  description: Grafana security settings
                                  type: object
                                  properties:
                                    csrfAlwaysCheck:
                                      description: Set to true to execute the CSRF
                                        check even if the login cookie is not in a
                                        request (default false).
                                      type: boolean
                            grafanaPlugins:
                              description: Installed plugin list of the Grafana instance.
                                Key is plugin id, value is plugin definition.
                              type: object
                              additionalProperties:
                                description: Plugin of Grafana
                                type: object
                                properties:
                                  pluginId:
                                    description: Grafana plugin id
                                    type: string
                                    readOnly: true
                            grafanaMajorVersion:
                              description: The major Grafana software version to target.
                              type: string
                        identity:
                          description: The managed identity of the grafana resource.
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                          required:
                          - type
                        systemData:
                          description: The system meta data relating to this grafana
                            resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                          readOnly: true
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: The tags for grafana resource.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the grafana resource
                            lives
                  nextLink:
                    type: string
        default:
          description: Common error response for all Azure Resource Manager APIs to
            return error details for failed operations.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana:
    get:
      tags:
      - GrafanaResource
      summary: List all resources of workspaces for Grafana under the specified resource
        group.
      operationId: Grafana_ListByResourceGroup
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK. Return all resources of workspaces for Grafana under the
            given resource group.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      description: The grafana resource type.
                      x-ms-azure-resource: true
                      properties:
                        id:
                          description: ARM id of the grafana resource
                          type: string
                          readOnly: true
                        name:
                          description: Name of the grafana resource.
                          type: string
                          readOnly: true
                        type:
                          description: The type of the grafana resource.
                          type: string
                          readOnly: true
                        sku:
                          description: The Sku of the grafana resource.
                          required:
                          - name
                          type: object
                          properties:
                            name:
                              type: string
                        properties:
                          description: Properties specific to the grafana resource.
                          type: object
                          properties:
                            provisioningState:
                              description: Provisioning state of the resource.
                              enum:
                              - Accepted
                              - Creating
                              - Updating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Canceled
                              - Deleted
                              - NotSpecified
                              type: string
                              readOnly: true
                              x-ms-enum:
                                modelAsString: true
                                name: ProvisioningState
                            grafanaVersion:
                              description: The Grafana software version.
                              type: string
                              readOnly: true
                            endpoint:
                              description: The endpoint of the Grafana instance.
                              type: string
                              readOnly: true
                            publicNetworkAccess:
                              description: Indicate the state for enable or disable
                                traffic over the public interface.
                              enum:
                              - Enabled
                              - Disabled
                              default: Enabled
                              type: string
                              x-ms-enum:
                                name: PublicNetworkAccess
                                modelAsString: true
                            zoneRedundancy:
                              description: The zone redundancy setting of the Grafana
                                instance.
                              enum:
                              - Disabled
                              - Enabled
                              default: Disabled
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: ZoneRedundancy
                            apiKey:
                              description: The api key setting of the Grafana instance.
                              enum:
                              - Disabled
                              - Enabled
                              default: Disabled
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: ApiKey
                            deterministicOutboundIP:
                              description: Whether a Grafana instance uses deterministic
                                outbound IPs.
                              enum:
                              - Disabled
                              - Enabled
                              default: Disabled
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: DeterministicOutboundIP
                            outboundIPs:
                              description: List of outbound IPs if deterministicOutboundIP
                                is enabled.
                              type: array
                              items:
                                type: string
                              readOnly: true
                            privateEndpointConnections:
                              description: The private endpoint connections of the
                                Grafana instance.
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Fully qualified resource ID for the
                                      resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                                    readOnly: true
                                  name:
                                    type: string
                                    description: The name of the resource
                                    readOnly: true
                                  type:
                                    type: string
                                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                      or "Microsoft.Storage/storageAccounts"
                                    readOnly: true
                                  systemData:
                                    type: object
                                    description: Azure Resource Manager metadata containing
                                      createdBy and modifiedBy information.
                                    readOnly: true
                                    properties:
                                      createdBy:
                                        type: string
                                        description: The identity that created the
                                          resource.
                                      createdByType:
                                        type: string
                                        description: The type of identity that created
                                          the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      createdAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource creation
                                          (UTC).
                                      lastModifiedBy:
                                        type: string
                                        description: The identity that last modified
                                          the resource.
                                      lastModifiedByType:
                                        type: string
                                        description: The type of identity that last
                                          modified the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      lastModifiedAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource last
                                          modification (UTC)
                                  properties:
                                    x-ms-client-flatten: true
                                    description: Resource properties.
                                    type: object
                                    properties:
                                      privateEndpoint:
                                        description: The resource of private end point.
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                            description: The ARM identifier for Private
                                              Endpoint
                                            readOnly: true
                                      privateLinkServiceConnectionState:
                                        description: A collection of information about
                                          the state of the connection between service
                                          consumer and provider.
                                        type: object
                                        properties:
                                          status:
                                            description: Indicates whether the connection
                                              has been Approved/Rejected/Removed by
                                              the owner of the service.
                                            type: string
                                            enum:
                                            - Pending
                                            - Approved
                                            - Rejected
                                            x-ms-enum:
                                              name: PrivateEndpointServiceConnectionStatus
                                              modelAsString: true
                                          description:
                                            type: string
                                            description: The reason for approval/rejection
                                              of the connection.
                                          actionsRequired:
                                            type: string
                                            description: A message indicating if changes
                                              on the service provider require any
                                              updates on the consumer.
                                      groupIds:
                                        type: array
                                        items:
                                          type: string
                                        description: The private endpoint connection
                                          group ids.
                                      provisioningState:
                                        description: The provisioning state of the
                                          private endpoint connection resource.
                                        type: string
                                        enum:
                                        - Succeeded
                                        - Creating
                                        - Deleting
                                        - Failed
                                        x-ms-enum:
                                          name: PrivateEndpointConnectionProvisioningState
                                          modelAsString: true
                                        readOnly: true
                                    required:
                                    - privateLinkServiceConnectionState
                                title: Resource
                                description: Common fields that are returned in the
                                  response for all Azure Resource Manager resources
                                x-ms-azure-resource: true
                              readOnly: true
                            autoGeneratedDomainNameLabelScope:
                              description: Scope for dns deterministic name hash calculation.
                              enum:
                              - TenantReuse
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: AutoGeneratedDomainNameLabelScope
                              x-ms-mutability:
                              - read
                              - create
                            grafanaIntegrations:
                              description: GrafanaIntegrations is a bundled observability
                                experience (e.g. pre-configured data source, tailored
                                Grafana dashboards, alerting defaults) for common
                                monitoring scenarios.
                              type: object
                              properties:
                                azureMonitorWorkspaceIntegrations:
                                  type: array
                                  x-ms-identifiers: []
                                  items:
                                    description: Integrations for Azure Monitor Workspace.
                                    type: object
                                    properties:
                                      azureMonitorWorkspaceResourceId:
                                        description: The resource Id of the connected
                                          Azure Monitor Workspace.
                                        type: string
                            enterpriseConfigurations:
                              description: Enterprise settings of a Grafana instance
                              type: object
                              properties:
                                marketplacePlanId:
                                  description: The Plan Id of the Azure Marketplace
                                    subscription for the Enterprise plugins
                                  type: string
                                marketplaceAutoRenew:
                                  description: The AutoRenew setting of the Enterprise
                                    subscription
                                  enum:
                                  - Disabled
                                  - Enabled
                                  type: string
                                  x-ms-enum:
                                    modelAsString: true
                                    name: MarketplaceAutoRenew
                            grafanaConfigurations:
                              description: Server configurations of a Grafana instance
                              type: object
                              properties:
                                smtp:
                                  description: "Email server settings.\r\nhttps://grafana.com/docs/grafana/v9.0/setup-grafana/configure-grafana/#smtp"
                                  type: object
                                  properties:
                                    enabled:
                                      description: Enable this to allow Grafana to
                                        send email. Default is false
                                      type: boolean
                                      default: false
                                    host:
                                      description: SMTP server hostname with port,
                                        e.g. test.email.net:587
                                      type: string
                                    user:
                                      description: User of SMTP auth
                                      type: string
                                    password:
                                      description: 'Password of SMTP auth. If the
                                        password contains # or ;, then you have to
                                        wrap it with triple quotes'
                                      type: string
                                      x-ms-secret: true
                                    fromAddress:
                                      description: "Address used when sending out\
                                        \ emails\r\nhttps://pkg.go.dev/net/mail#Address"
                                      type: string
                                    fromName:
                                      description: "Name to be used when sending out\
                                        \ emails. Default is \"Azure Managed Grafana\
                                        \ Notification\"\r\nhttps://pkg.go.dev/net/mail#Address"
                                      type: string
                                    startTLSPolicy:
                                      description: "The StartTLSPolicy setting of\
                                        \ the SMTP configuration\r\nhttps://pkg.go.dev/github.com/go-mail/mail#StartTLSPolicy"
                                      enum:
                                      - OpportunisticStartTLS
                                      - MandatoryStartTLS
                                      - NoStartTLS
                                      type: string
                                      x-ms-enum:
                                        modelAsString: true
                                        name: StartTLSPolicy
                                    skipVerify:
                                      description: "Verify SSL for SMTP server. Default\
                                        \ is false\r\nhttps://pkg.go.dev/crypto/tls#Config"
                                      type: boolean
                                snapshots:
                                  description: Grafana Snapshots settings
                                  type: object
                                  properties:
                                    externalEnabled:
                                      description: Set to false to disable external
                                        snapshot publish endpoint
                                      type: boolean
                                users:
                                  description: Grafana users settings
                                  type: object
                                  properties:
                                    viewersCanEdit:
                                      description: Set to true so viewers can access
                                        and use explore and perform temporary edits
                                        on panels in dashboards they have access to.
                                        They cannot save their changes.
                                      type: boolean
                                security:
                                  description: Grafana security settings
                                  type: object
                                  properties:
                                    csrfAlwaysCheck:
                                      description: Set to true to execute the CSRF
                                        check even if the login cookie is not in a
                                        request (default false).
                                      type: boolean
                            grafanaPlugins:
                              description: Installed plugin list of the Grafana instance.
                                Key is plugin id, value is plugin definition.
                              type: object
                              additionalProperties:
                                description: Plugin of Grafana
                                type: object
                                properties:
                                  pluginId:
                                    description: Grafana plugin id
                                    type: string
                                    readOnly: true
                            grafanaMajorVersion:
                              description: The major Grafana software version to target.
                              type: string
                        identity:
                          description: The managed identity of the grafana resource.
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                          required:
                          - type
                        systemData:
                          description: The system meta data relating to this grafana
                            resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                          readOnly: true
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: The tags for grafana resource.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the grafana resource
                            lives
                  nextLink:
                    type: string
        default:
          description: Common error response for all Azure Resource Manager APIs to
            return error details for failed operations.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}:
    get:
      tags:
      - GrafanaResource
      summary: Get the properties of a specific workspace for Grafana resource.
      operationId: Grafana_Get
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - in: path
        name: workspaceName
        description: The workspace name of Azure Managed Grafana.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK. Return the properties of the required workspace for Grafana
            resource.
          content:
            application/json:
              schema:
                type: object
                description: The grafana resource type.
                x-ms-azure-resource: true
                properties:
                  id:
                    description: ARM id of the grafana resource
                    type: string
                    readOnly: true
                  name:
                    description: Name of the grafana resource.
                    type: string
                    readOnly: true
                  type:
                    description: The type of the grafana resource.
                    type: string
                    readOnly: true
                  sku:
                    description: The Sku of the grafana resource.
                    required:
                    - name
                    type: object
                    properties:
                      name:
                        type: string
                  properties:
                    description: Properties specific to the grafana resource.
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the resource.
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleted
                        - NotSpecified
                        type: string
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: ProvisioningState
                      grafanaVersion:
                        description: The Grafana software version.
                        type: string
                        readOnly: true
                      endpoint:
                        description: The endpoint of the Grafana instance.
                        type: string
                        readOnly: true
                      publicNetworkAccess:
                        description: Indicate the state for enable or disable traffic
                          over the public interface.
                        enum:
                        - Enabled
                        - Disabled
                        default: Enabled
                        type: string
                        x-ms-enum:
                          name: PublicNetworkAccess
                          modelAsString: true
                      zoneRedundancy:
                        description: The zone redundancy setting of the Grafana instance.
                        enum:
                        - Disabled
                        - Enabled
                        default: Disabled
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: ZoneRedundancy
                      apiKey:
                        description: The api key setting of the Grafana instance.
                        enum:
                        - Disabled
                        - Enabled
                        default: Disabled
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: ApiKey
                      deterministicOutboundIP:
                        description: Whether a Grafana instance uses deterministic
                          outbound IPs.
                        enum:
                        - Disabled
                        - Enabled
                        default: Disabled
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: DeterministicOutboundIP
                      outboundIPs:
                        description: List of outbound IPs if deterministicOutboundIP
                          is enabled.
                        type: array
                        items:
                          type: string
                        readOnly: true
                      privateEndpointConnections:
                        description: The private endpoint connections of the Grafana
                          instance.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Fully qualified resource ID for the resource.
                                Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                              readOnly: true
                            name:
                              type: string
                              description: The name of the resource
                              readOnly: true
                            type:
                              type: string
                              description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                or "Microsoft.Storage/storageAccounts"
                              readOnly: true
                            systemData:
                              type: object
                              description: Azure Resource Manager metadata containing
                                createdBy and modifiedBy information.
                              readOnly: true
                              properties:
                                createdBy:
                                  type: string
                                  description: The identity that created the resource.
                                createdByType:
                                  type: string
                                  description: The type of identity that created the
                                    resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                createdAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource creation
                                    (UTC).
                                lastModifiedBy:
                                  type: string
                                  description: The identity that last modified the
                                    resource.
                                lastModifiedByType:
                                  type: string
                                  description: The type of identity that last modified
                                    the resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                lastModifiedAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource last modification
                                    (UTC)
                            properties:
                              x-ms-client-flatten: true
                              description: Resource properties.
                              type: object
                              properties:
                                privateEndpoint:
                                  description: The resource of private end point.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: The ARM identifier for Private
                                        Endpoint
                                      readOnly: true
                                privateLinkServiceConnectionState:
                                  description: A collection of information about the
                                    state of the connection between service consumer
                                    and provider.
                                  type: object
                                  properties:
                                    status:
                                      description: Indicates whether the connection
                                        has been Approved/Rejected/Removed by the
                                        owner of the service.
                                      type: string
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      x-ms-enum:
                                        name: PrivateEndpointServiceConnectionStatus
                                        modelAsString: true
                                    description:
                                      type: string
                                      description: The reason for approval/rejection
                                        of the connection.
                                    actionsRequired:
                                      type: string
                                      description: A message indicating if changes
                                        on the service provider require any updates
                                        on the consumer.
                                groupIds:
                                  type: array
                                  items:
                                    type: string
                                  description: The private endpoint connection group
                                    ids.
                                provisioningState:
                                  description: The provisioning state of the private
                                    endpoint connection resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Creating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: PrivateEndpointConnectionProvisioningState
                                    modelAsString: true
                                  readOnly: true
                              required:
                              - privateLinkServiceConnectionState
                          title: Resource
                          description: Common fields that are returned in the response
                            for all Azure Resource Manager resources
                          x-ms-azure-resource: true
                        readOnly: true
                      autoGeneratedDomainNameLabelScope:
                        description: Scope for dns deterministic name hash calculation.
                        enum:
                        - TenantReuse
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: AutoGeneratedDomainNameLabelScope
                        x-ms-mutability:
                        - read
                        - create
                      grafanaIntegrations:
                        description: GrafanaIntegrations is a bundled observability
                          experience (e.g. pre-configured data source, tailored Grafana
                          dashboards, alerting defaults) for common monitoring scenarios.
                        type: object
                        properties:
                          azureMonitorWorkspaceIntegrations:
                            type: array
                            x-ms-identifiers: []
                            items:
                              description: Integrations for Azure Monitor Workspace.
                              type: object
                              properties:
                                azureMonitorWorkspaceResourceId:
                                  description: The resource Id of the connected Azure
                                    Monitor Workspace.
                                  type: string
                      enterpriseConfigurations:
                        description: Enterprise settings of a Grafana instance
                        type: object
                        properties:
                          marketplacePlanId:
                            description: The Plan Id of the Azure Marketplace subscription
                              for the Enterprise plugins
                            type: string
                          marketplaceAutoRenew:
                            description: The AutoRenew setting of the Enterprise subscription
                            enum:
                            - Disabled
                            - Enabled
                            type: string
                            x-ms-enum:
                              modelAsString: true
                              name: MarketplaceAutoRenew
                      grafanaConfigurations:
                        description: Server configurations of a Grafana instance
                        type: object
                        properties:
                          smtp:
                            description: "Email server settings.\r\nhttps://grafana.com/docs/grafana/v9.0/setup-grafana/configure-grafana/#smtp"
                            type: object
                            properties:
                              enabled:
                                description: Enable this to allow Grafana to send
                                  email. Default is false
                                type: boolean
                                default: false
                              host:
                                description: SMTP server hostname with port, e.g.
                                  test.email.net:587
                                type: string
                              user:
                                description: User of SMTP auth
                                type: string
                              password:
                                description: 'Password of SMTP auth. If the password
                                  contains # or ;, then you have to wrap it with triple
                                  quotes'
                                type: string
                                x-ms-secret: true
                              fromAddress:
                                description: "Address used when sending out emails\r\
                                  \nhttps://pkg.go.dev/net/mail#Address"
                                type: string
                              fromName:
                                description: "Name to be used when sending out emails.\
                                  \ Default is \"Azure Managed Grafana Notification\"\
                                  \r\nhttps://pkg.go.dev/net/mail#Address"
                                type: string
                              startTLSPolicy:
                                description: "The StartTLSPolicy setting of the SMTP\
                                  \ configuration\r\nhttps://pkg.go.dev/github.com/go-mail/mail#StartTLSPolicy"
                                enum:
                                - OpportunisticStartTLS
                                - MandatoryStartTLS
                                - NoStartTLS
                                type: string
                                x-ms-enum:
                                  modelAsString: true
                                  name: StartTLSPolicy
                              skipVerify:
                                description: "Verify SSL for SMTP server. Default\
                                  \ is false\r\nhttps://pkg.go.dev/crypto/tls#Config"
                                type: boolean
                          snapshots:
                            description: Grafana Snapshots settings
                            type: object
                            properties:
                              externalEnabled:
                                description: Set to false to disable external snapshot
                                  publish endpoint
                                type: boolean
                          users:
                            description: Grafana users settings
                            type: object
                            properties:
                              viewersCanEdit:
                                description: Set to true so viewers can access and
                                  use explore and perform temporary edits on panels
                                  in dashboards they have access to. They cannot save
                                  their changes.
                                type: boolean
                          security:
                            description: Grafana security settings
                            type: object
                            properties:
                              csrfAlwaysCheck:
                                description: Set to true to execute the CSRF check
                                  even if the login cookie is not in a request (default
                                  false).
                                type: boolean
                      grafanaPlugins:
                        description: Installed plugin list of the Grafana instance.
                          Key is plugin id, value is plugin definition.
                        type: object
                        additionalProperties:
                          description: Plugin of Grafana
                          type: object
                          properties:
                            pluginId:
                              description: Grafana plugin id
                              type: string
                              readOnly: true
                      grafanaMajorVersion:
                        description: The major Grafana software version to target.
                        type: string
                  identity:
                    description: The managed identity of the grafana resource.
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
[...]
