openapi: 3.0.0
info:
  title: Dell.Storage
  version: 2025-03-21-preview
  description: Dell Storage service
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Operations
- name: FileSystems
paths:
  /providers/Dell.Storage/operations:
    get:
      operationId: Operations_List
      tags:
      - Operations
      description: List the operations for the provider
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: A list of REST API operations supported by an Azure Resource
                  Provider. It contains an URL link to get the next set of results.
                properties:
                  value:
                    type: array
                    description: List of operations supported by the resource provider
                    items:
                      type: object
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                      properties:
                        name:
                          type: string
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          readOnly: true
                        isDataAction:
                          type: boolean
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          readOnly: true
                        display:
                          type: object
                          description: Localized display information for this particular
                            operation.
                          properties:
                            provider:
                              type: string
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              readOnly: true
                            resource:
                              type: string
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              readOnly: true
                            operation:
                              type: string
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              readOnly: true
                            description:
                              type: string
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              readOnly: true
                        origin:
                          type: string
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                          readOnly: true
                        actionType:
                          type: string
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    format: uri
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Dell.Storage/filesystems:
    get:
      operationId: FileSystems_ListBySubscription
      tags:
      - FileSystems
      description: List FileSystemResource resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a FileSystemResource list operation.
                properties:
                  value:
                    type: array
                    description: The FileSystemResource items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            capacity:
                              description: Capacity for Dell Filesystem, Will be received
                                as part of Job Status
                              type: object
                              properties:
                                min:
                                  type: string
                                  description: Minimum Capacity
                                max:
                                  type: string
                                  description: Maximum Capacity
                                incremental:
                                  type: string
                                  description: Units to be increased
                                current:
                                  type: string
                                  description: Current Capacity of the resource
                            marketplace:
                              description: Marketplace details
                              type: object
                              properties:
                                marketplaceSubscriptionId:
                                  type: string
                                  description: Marketplace Subscription Id
                                planId:
                                  type: string
                                  description: Plan Id
                                offerId:
                                  type: string
                                  description: Offer Id
                                publisherId:
                                  type: string
                                  description: Publisher Id
                                privateOfferId:
                                  type: string
                                  description: Private Offer Id
                                planName:
                                  type: string
                                  description: Plan Name
                                marketplaceSubscriptionStatus:
                                  description: Marketplace subscription status
                                  readOnly: true
                                  type: string
                                  enum:
                                  - PendingFulfillmentStart
                                  - Subscribed
                                  - Suspended
                                  - Unsubscribed
                                  x-ms-enum:
                                    name: MarketplaceSubscriptionStatus
                                    modelAsString: true
                                    values:
                                    - name: PendingFulfillmentStart
                                      value: PendingFulfillmentStart
                                      description: Fulfillment has not started
                                    - name: Subscribed
                                      value: Subscribed
                                      description: Marketplace offer is subscribed
                                    - name: Suspended
                                      value: Suspended
                                      description: Marketplace offer is suspended
                                        because of non payment
                                    - name: Unsubscribed
                                      value: Unsubscribed
                                      description: Marketplace offer is unsubscribed
                                endDate:
                                  type: string
                                  description: End Date of the subscription
                                termUnit:
                                  type: string
                                  description: Term Unit
                              required:
                              - planId
                              - offerId
                              - planName
                            provisioningState:
                              description: Provisioning State of the resource
                              readOnly: true
                              type: string
                              enum:
                              - Accepted
                              - Creating
                              - Updating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Canceled
                              - Deleted
                              - NotSpecified
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Accepted
                                  value: Accepted
                                  description: File system resource creation request
                                    accepted
                                - name: Creating
                                  value: Creating
                                  description: File system resource creation started
                                - name: Updating
                                  value: Updating
                                  description: File system resource is being updated
                                - name: Deleting
                                  value: Deleting
                                  description: File system resource deletion started
                                - name: Succeeded
                                  value: Succeeded
                                  description: File system resource creation successful
                                - name: Failed
                                  value: Failed
                                  description: File system resource creation failed
                                - name: Canceled
                                  value: Canceled
                                  description: File system resource creation canceled
                                - name: Deleted
                                  value: Deleted
                                  description: File system resource is deleted
                                - name: NotSpecified
                                  value: NotSpecified
                                  description: File system resource state is unknown
                            delegatedSubnetId:
                              type: string
                              description: Delegated subnet id for Vnet injection
                            delegatedSubnetCidr:
                              type: string
                              description: Domain range for the delegated subnet
                              pattern: ^([0-9]{1,3}\.){3}[0-9]{1,3}/(16|24)$
                            user:
                              description: User Details
                              type: object
                              properties:
                                email:
                                  type: string
                                  description: User Email
                                  x-ms-secret: true
                              required:
                              - email
                            fileSystemId:
                              type: string
                              description: File system Id of the resource
                            smartConnectFqdn:
                              type: string
                              description: Smart Connect FQDN of the resource
                            oneFsUrl:
                              type: string
                              description: OneFS url
                            dellReferenceNumber:
                              type: string
                              description: DellReferenceNumber of the resource
                            encryption:
                              description: EncryptionProperties of the resource
                              type: object
                              properties:
                                encryptionType:
                                  description: Encryption Type - MMK/CMK
                                  type: string
                                  enum:
                                  - Microsoft-managed keys (MMK)
                                  - Customer-managed keys (CMK)
                                  x-ms-enum:
                                    name: ResourceEncryptionType
                                    modelAsString: true
                                    values:
                                    - name: Microsoft-managed keys (MMK)
                                      value: Microsoft-managed keys (MMK)
                                      description: Microsoft managed keys (Default)
                                    - name: Customer-managed keys (CMK)
                                      value: Customer-managed keys (CMK)
                                      description: 'Customer managed keys

                                        (CMK) - Only UserAssigned identity is supported'
                                keyUrl:
                                  type: string
                                  description: Versioned Encryption Key Url - Only
                                    when user opts for CMK and hence optional
                                encryptionIdentityProperties:
                                  description: Identity configuration for Customer-managed
                                    key settings defining which identity should be
                                    used to auth to Key Vault - Only when user opts
                                    for CMK and hence optional
                                  type: object
                                  properties:
                                    identityType:
                                      description: Identity type - SystemAssigned/UserAssigned
                                        - Only UserAssigned is supported now
                                      type: string
                                      enum:
                                      - SystemAssigned
                                      - UserAssigned
                                      x-ms-enum:
                                        name: EncryptionIdentityType
                                        modelAsString: true
                                        values:
                                        - name: SystemAssigned
                                          value: SystemAssigned
                                          description: System Assigned Managed identity
                                        - name: UserAssigned
                                          value: UserAssigned
                                          description: User Assigned managed identity
                                    identityResourceId:
                                      type: string
                                      description: User-assigned identity resource
                                        id - Only when user opts for UserAssigned
                                        identity and hence optional
                              required:
                              - encryptionType
                          required:
                          - marketplace
                          - delegatedSubnetId
                          - delegatedSubnetCidr
                          - user
                          - dellReferenceNumber
                          - encryption
                        identity:
                          description: The managed service identities assigned to
                            this resource.
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                                nullable: true
                          required:
                          - type
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Dell.Storage/filesystems:
    get:
      operationId: FileSystems_ListByResourceGroup
      tags:
      - FileSystems
      description: List FileSystemResource resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a FileSystemResource list operation.
                properties:
                  value:
                    type: array
                    description: The FileSystemResource items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            capacity:
                              description: Capacity for Dell Filesystem, Will be received
                                as part of Job Status
                              type: object
                              properties:
                                min:
                                  type: string
                                  description: Minimum Capacity
                                max:
                                  type: string
                                  description: Maximum Capacity
                                incremental:
                                  type: string
                                  description: Units to be increased
                                current:
                                  type: string
                                  description: Current Capacity of the resource
                            marketplace:
                              description: Marketplace details
                              type: object
                              properties:
                                marketplaceSubscriptionId:
                                  type: string
                                  description: Marketplace Subscription Id
                                planId:
                                  type: string
                                  description: Plan Id
                                offerId:
                                  type: string
                                  description: Offer Id
                                publisherId:
                                  type: string
                                  description: Publisher Id
                                privateOfferId:
                                  type: string
                                  description: Private Offer Id
                                planName:
                                  type: string
                                  description: Plan Name
                                marketplaceSubscriptionStatus:
                                  description: Marketplace subscription status
                                  readOnly: true
                                  type: string
                                  enum:
                                  - PendingFulfillmentStart
                                  - Subscribed
                                  - Suspended
                                  - Unsubscribed
                                  x-ms-enum:
                                    name: MarketplaceSubscriptionStatus
                                    modelAsString: true
                                    values:
                                    - name: PendingFulfillmentStart
                                      value: PendingFulfillmentStart
                                      description: Fulfillment has not started
                                    - name: Subscribed
                                      value: Subscribed
                                      description: Marketplace offer is subscribed
                                    - name: Suspended
                                      value: Suspended
                                      description: Marketplace offer is suspended
                                        because of non payment
                                    - name: Unsubscribed
                                      value: Unsubscribed
                                      description: Marketplace offer is unsubscribed
                                endDate:
                                  type: string
                                  description: End Date of the subscription
                                termUnit:
                                  type: string
                                  description: Term Unit
                              required:
                              - planId
                              - offerId
                              - planName
                            provisioningState:
                              description: Provisioning State of the resource
                              readOnly: true
                              type: string
                              enum:
                              - Accepted
                              - Creating
                              - Updating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Canceled
                              - Deleted
                              - NotSpecified
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Accepted
                                  value: Accepted
                                  description: File system resource creation request
                                    accepted
                                - name: Creating
                                  value: Creating
                                  description: File system resource creation started
                                - name: Updating
                                  value: Updating
                                  description: File system resource is being updated
                                - name: Deleting
                                  value: Deleting
                                  description: File system resource deletion started
                                - name: Succeeded
                                  value: Succeeded
                                  description: File system resource creation successful
                                - name: Failed
                                  value: Failed
                                  description: File system resource creation failed
                                - name: Canceled
                                  value: Canceled
                                  description: File system resource creation canceled
                                - name: Deleted
                                  value: Deleted
                                  description: File system resource is deleted
                                - name: NotSpecified
                                  value: NotSpecified
                                  description: File system resource state is unknown
                            delegatedSubnetId:
                              type: string
                              description: Delegated subnet id for Vnet injection
                            delegatedSubnetCidr:
                              type: string
                              description: Domain range for the delegated subnet
                              pattern: ^([0-9]{1,3}\.){3}[0-9]{1,3}/(16|24)$
                            user:
                              description: User Details
                              type: object
                              properties:
                                email:
                                  type: string
                                  description: User Email
                                  x-ms-secret: true
                              required:
                              - email
                            fileSystemId:
                              type: string
                              description: File system Id of the resource
                            smartConnectFqdn:
                              type: string
                              description: Smart Connect FQDN of the resource
                            oneFsUrl:
                              type: string
                              description: OneFS url
                            dellReferenceNumber:
                              type: string
                              description: DellReferenceNumber of the resource
                            encryption:
                              description: EncryptionProperties of the resource
                              type: object
                              properties:
                                encryptionType:
                                  description: Encryption Type - MMK/CMK
                                  type: string
                                  enum:
                                  - Microsoft-managed keys (MMK)
                                  - Customer-managed keys (CMK)
                                  x-ms-enum:
                                    name: ResourceEncryptionType
                                    modelAsString: true
                                    values:
                                    - name: Microsoft-managed keys (MMK)
                                      value: Microsoft-managed keys (MMK)
                                      description: Microsoft managed keys (Default)
                                    - name: Customer-managed keys (CMK)
                                      value: Customer-managed keys (CMK)
                                      description: 'Customer managed keys

                                        (CMK) - Only UserAssigned identity is supported'
                                keyUrl:
                                  type: string
                                  description: Versioned Encryption Key Url - Only
                                    when user opts for CMK and hence optional
                                encryptionIdentityProperties:
                                  description: Identity configuration for Customer-managed
                                    key settings defining which identity should be
                                    used to auth to Key Vault - Only when user opts
                                    for CMK and hence optional
                                  type: object
                                  properties:
                                    identityType:
                                      description: Identity type - SystemAssigned/UserAssigned
                                        - Only UserAssigned is supported now
                                      type: string
                                      enum:
                                      - SystemAssigned
                                      - UserAssigned
                                      x-ms-enum:
                                        name: EncryptionIdentityType
                                        modelAsString: true
                                        values:
                                        - name: SystemAssigned
                                          value: SystemAssigned
                                          description: System Assigned Managed identity
                                        - name: UserAssigned
                                          value: UserAssigned
                                          description: User Assigned managed identity
                                    identityResourceId:
                                      type: string
                                      description: User-assigned identity resource
                                        id - Only when user opts for UserAssigned
                                        identity and hence optional
                              required:
                              - encryptionType
                          required:
                          - marketplace
                          - delegatedSubnetId
                          - delegatedSubnetCidr
                          - user
                          - dellReferenceNumber
                          - encryption
                        identity:
                          description: The managed service identities assigned to
                            this resource.
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                                nullable: true
                          required:
                          - type
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Dell.Storage/filesystems/{filesystemName}:
    get:
      operationId: FileSystems_Get
      tags:
      - FileSystems
      description: Get a FileSystemResource
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: filesystemName
        in: path
        description: Name of the filesystem resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_-]*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      capacity:
                        description: Capacity for Dell Filesystem, Will be received
                          as part of Job Status
                        type: object
                        properties:
                          min:
                            type: string
                            description: Minimum Capacity
                          max:
                            type: string
                            description: Maximum Capacity
                          incremental:
                            type: string
                            description: Units to be increased
                          current:
                            type: string
                            description: Current Capacity of the resource
                      marketplace:
                        description: Marketplace details
                        type: object
                        properties:
                          marketplaceSubscriptionId:
                            type: string
                            description: Marketplace Subscription Id
                          planId:
                            type: string
                            description: Plan Id
                          offerId:
                            type: string
                            description: Offer Id
                          publisherId:
                            type: string
                            description: Publisher Id
                          privateOfferId:
                            type: string
                            description: Private Offer Id
                          planName:
                            type: string
                            description: Plan Name
                          marketplaceSubscriptionStatus:
                            description: Marketplace subscription status
                            readOnly: true
                            type: string
                            enum:
                            - PendingFulfillmentStart
                            - Subscribed
                            - Suspended
                            - Unsubscribed
                            x-ms-enum:
                              name: MarketplaceSubscriptionStatus
                              modelAsString: true
                              values:
                              - name: PendingFulfillmentStart
                                value: PendingFulfillmentStart
                                description: Fulfillment has not started
                              - name: Subscribed
                                value: Subscribed
                                description: Marketplace offer is subscribed
                              - name: Suspended
                                value: Suspended
                                description: Marketplace offer is suspended because
                                  of non payment
                              - name: Unsubscribed
                                value: Unsubscribed
                                description: Marketplace offer is unsubscribed
                          endDate:
                            type: string
                            description: End Date of the subscription
                          termUnit:
                            type: string
                            description: Term Unit
                        required:
                        - planId
                        - offerId
                        - planName
                      provisioningState:
                        description: Provisioning State of the resource
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleted
                        - NotSpecified
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Accepted
                            value: Accepted
                            description: File system resource creation request accepted
                          - name: Creating
                            value: Creating
                            description: File system resource creation started
                          - name: Updating
                            value: Updating
                            description: File system resource is being updated
                          - name: Deleting
                            value: Deleting
                            description: File system resource deletion started
                          - name: Succeeded
                            value: Succeeded
                            description: File system resource creation successful
                          - name: Failed
                            value: Failed
                            description: File system resource creation failed
                          - name: Canceled
                            value: Canceled
                            description: File system resource creation canceled
                          - name: Deleted
                            value: Deleted
                            description: File system resource is deleted
                          - name: NotSpecified
                            value: NotSpecified
                            description: File system resource state is unknown
                      delegatedSubnetId:
                        type: string
                        description: Delegated subnet id for Vnet injection
                      delegatedSubnetCidr:
                        type: string
                        description: Domain range for the delegated subnet
                        pattern: ^([0-9]{1,3}\.){3}[0-9]{1,3}/(16|24)$
                      user:
                        description: User Details
                        type: object
                        properties:
                          email:
                            type: string
                            description: User Email
                            x-ms-secret: true
                        required:
                        - email
                      fileSystemId:
                        type: string
                        description: File system Id of the resource
                      smartConnectFqdn:
                        type: string
                        description: Smart Connect FQDN of the resource
                      oneFsUrl:
                        type: string
                        description: OneFS url
                      dellReferenceNumber:
                        type: string
                        description: DellReferenceNumber of the resource
                      encryption:
                        description: EncryptionProperties of the resource
                        type: object
                        properties:
                          encryptionType:
                            description: Encryption Type - MMK/CMK
                            type: string
                            enum:
                            - Microsoft-managed keys (MMK)
                            - Customer-managed keys (CMK)
                            x-ms-enum:
                              name: ResourceEncryptionType
                              modelAsString: true
                              values:
                              - name: Microsoft-managed keys (MMK)
                                value: Microsoft-managed keys (MMK)
                                description: Microsoft managed keys (Default)
                              - name: Customer-managed keys (CMK)
                                value: Customer-managed keys (CMK)
                                description: 'Customer managed keys

                                  (CMK) - Only UserAssigned identity is supported'
                          keyUrl:
                            type: string
                            description: Versioned Encryption Key Url - Only when
                              user opts for CMK and hence optional
                          encryptionIdentityProperties:
                            description: Identity configuration for Customer-managed
                              key settings defining which identity should be used
                              to auth to Key Vault - Only when user opts for CMK and
                              hence optional
                            type: object
                            properties:
                              identityType:
                                description: Identity type - SystemAssigned/UserAssigned
                                  - Only UserAssigned is supported now
                                type: string
                                enum:
                                - SystemAssigned
                                - UserAssigned
                                x-ms-enum:
                                  name: EncryptionIdentityType
                                  modelAsString: true
                                  values:
                                  - name: SystemAssigned
                                    value: SystemAssigned
                                    description: System Assigned Managed identity
                                  - name: UserAssigned
                                    value: UserAssigned
                                    description: User Assigned managed identity
                              identityResourceId:
                                type: string
                                description: User-assigned identity resource id -
                                  Only when user opts for UserAssigned identity and
                                  hence optional
                        required:
                        - encryptionType
                    required:
                    - marketplace
                    - delegatedSubnetId
                    - delegatedSubnetCidr
                    - user
                    - dellReferenceNumber
                    - encryption
                  identity:
                    description: The managed service identities assigned to this resource.
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                          nullable: true
                    required:
                    - type
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: FileSystems_CreateOrUpdate
      tags:
      - FileSystems
      description: Create a FileSystemResource
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: filesystemName
        in: path
        description: Name of the filesystem resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_-]*$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    capacity:
                      description: Capacity for Dell Filesystem, Will be received
                        as part of Job Status
                      type: object
                      properties:
                        min:
                          type: string
                          description: Minimum Capacity
                        max:
                          type: string
                          description: Maximum Capacity
                        incremental:
                          type: string
                          description: Units to be increased
                        current:
                          type: string
                          description: Current Capacity of the resource
                    marketplace:
                      description: Marketplace details
                      type: object
                      properties:
                        marketplaceSubscriptionId:
                          type: string
                          description: Marketplace Subscription Id
                        planId:
                          type: string
                          description: Plan Id
                        offerId:
                          type: string
                          description: Offer Id
                        publisherId:
                          type: string
                          description: Publisher Id
                        privateOfferId:
                          type: string
                          description: Private Offer Id
                        planName:
                          type: string
                          description: Plan Name
                        marketplaceSubscriptionStatus:
                          description: Marketplace subscription status
                          readOnly: true
                          type: string
                          enum:
                          - PendingFulfillmentStart
                          - Subscribed
                          - Suspended
                          - Unsubscribed
                          x-ms-enum:
                            name: MarketplaceSubscriptionStatus
                            modelAsString: true
                            values:
                            - name: PendingFulfillmentStart
                              value: PendingFulfillmentStart
                              description: Fulfillment has not started
                            - name: Subscribed
                              value: Subscribed
                              description: Marketplace offer is subscribed
                            - name: Suspended
                              value: Suspended
                              description: Marketplace offer is suspended because
                                of non payment
                            - name: Unsubscribed
                              value: Unsubscribed
                              description: Marketplace offer is unsubscribed
                        endDate:
                          type: string
                          description: End Date of the subscription
                        termUnit:
                          type: string
                          description: Term Unit
                      required:
                      - planId
                      - offerId
                      - planName
                    provisioningState:
                      description: Provisioning State of the resource
                      readOnly: true
                      type: string
                      enum:
                      - Accepted
                      - Creating
                      - Updating
                      - Deleting
                      - Succeeded
                      - Failed
                      - Canceled
                      - Deleted
                      - NotSpecified
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Accepted
                          value: Accepted
                          description: File system resource creation request accepted
                        - name: Creating
                          value: Creating
                          description: File system resource creation started
                        - name: Updating
                          value: Updating
                          description: File system resource is being updated
                        - name: Deleting
                          value: Deleting
                          description: File system resource deletion started
                        - name: Succeeded
                          value: Succeeded
                          description: File system resource creation successful
                        - name: Failed
                          value: Failed
                          description: File system resource creation failed
                        - name: Canceled
                          value: Canceled
                          description: File system resource creation canceled
                        - name: Deleted
                          value: Deleted
                          description: File system resource is deleted
                        - name: NotSpecified
                          value: NotSpecified
                          description: File system resource state is unknown
                    delegatedSubnetId:
                      type: string
                      description: Delegated subnet id for Vnet injection
                    delegatedSubnetCidr:
                      type: string
                      description: Domain range for the delegated subnet
                      pattern: ^([0-9]{1,3}\.){3}[0-9]{1,3}/(16|24)$
                    user:
                      description: User Details
                      type: object
                      properties:
                        email:
                          type: string
                          description: User Email
                          x-ms-secret: true
                      required:
                      - email
                    fileSystemId:
                      type: string
                      description: File system Id of the resource
                    smartConnectFqdn:
                      type: string
                      description: Smart Connect FQDN of the resource
                    oneFsUrl:
                      type: string
                      description: OneFS url
                    dellReferenceNumber:
                      type: string
                      description: DellReferenceNumber of the resource
                    encryption:
                      description: EncryptionProperties of the resource
                      type: object
                      properties:
                        encryptionType:
                          description: Encryption Type - MMK/CMK
                          type: string
                          enum:
                          - Microsoft-managed keys (MMK)
                          - Customer-managed keys (CMK)
                          x-ms-enum:
                            name: ResourceEncryptionType
                            modelAsString: true
                            values:
                            - name: Microsoft-managed keys (MMK)
                              value: Microsoft-managed keys (MMK)
                              description: Microsoft managed keys (Default)
                            - name: Customer-managed keys (CMK)
                              value: Customer-managed keys (CMK)
                              description: 'Customer managed keys

                                (CMK) - Only UserAssigned identity is supported'
                        keyUrl:
                          type: string
                          description: Versioned Encryption Key Url - Only when user
                            opts for CMK and hence optional
                        encryptionIdentityProperties:
                          description: Identity configuration for Customer-managed
                            key settings defining which identity should be used to
                            auth to Key Vault - Only when user opts for CMK and hence
                            optional
                          type: object
                          properties:
                            identityType:
                              description: Identity type - SystemAssigned/UserAssigned
                                - Only UserAssigned is supported now
                              type: string
                              enum:
                              - SystemAssigned
                              - UserAssigned
                              x-ms-enum:
                                name: EncryptionIdentityType
                                modelAsString: true
                                values:
                                - name: SystemAssigned
                                  value: SystemAssigned
                                  description: System Assigned Managed identity
                                - name: UserAssigned
                                  value: UserAssigned
                                  description: User Assigned managed identity
                            identityResourceId:
                              type: string
                              description: User-assigned identity resource id - Only
                                when user opts for UserAssigned identity and hence
                                optional
                      required:
                      - encryptionType
                  required:
                  - marketplace
                  - delegatedSubnetId
                  - delegatedSubnetCidr
                  - user
                  - dellReferenceNumber
                  - encryption
                identity:
[...]
