openapi: 3.0.0
info:
  title: Microsoft.PortalServices
  version: 2024-04-01-preview
  description: Allows creation and deletion of Azure portal extensions.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Operations
- name: PortalTenant
paths:
  /providers/Microsoft.PortalServices/compilefile:
    post:
      operationId: PortalTenant_Compilefile
      tags:
      - PortalTenant
      description: compiles a file using inline content.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: The contents of the file to compile.
              properties:
                contents:
                  type: object
                  description: The contents of the file.
                  additionalProperties: {}
                stringSource:
                  type: object
                  description: The contents of the string source.
                  additionalProperties: {}
                files:
                  type: object
                  description: The contents of referenced files. The property name
                    is the relative file path and the value is its contents.
                  additionalProperties: {}
                provisioningState:
                  description: The current registration or provisioning state which
                    only appears in the response.
                  readOnly: true
                  type: string
                  enum:
                  - NotSpecified
                  - Accepted
                  - Running
                  - Ready
                  - Creating
                  - Created
                  - Deleting
                  - Deleted
                  - Canceled
                  - Failed
                  - Succeeded
                  - Updating
                  x-ms-enum:
                    name: ProvisioningState
                    modelAsString: true
                    values:
                    - name: NotSpecified
                      value: NotSpecified
                      description: The operation is not specified.
                    - name: Accepted
                      value: Accepted
                      description: The operation is accepted.
                    - name: Running
                      value: Running
                      description: The operation is running.
                    - name: Ready
                      value: Ready
                      description: The operation is ready.
                    - name: Creating
                      value: Creating
                      description: The operation is creating.
                    - name: Created
                      value: Created
                      description: The operation is created.
                    - name: Deleting
                      value: Deleting
                      description: The operation is deleting.
                    - name: Deleted
                      value: Deleted
                      description: The operation is deleted.
                    - name: Canceled
                      value: Canceled
                      description: The operation is canceled.
                    - name: Failed
                      value: Failed
                      description: The operation is failed.
                    - name: Succeeded
                      value: Succeeded
                      description: The operation is succeeded.
                    - name: Updating
                      value: Updating
                      description: The operation is updating.
              required:
              - contents
        description: The parameters required to compile a file.
        required: true
        x-ms-client-name: body
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The contents of the file to compile.
                additionalProperties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /providers/Microsoft.PortalServices/operations:
    get:
      operationId: Operations_List
      tags:
      - Operations
      description: List the operations for the provider
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: A list of REST API operations supported by an Azure Resource
                  Provider. It contains an URL link to get the next set of results.
                properties:
                  value:
                    type: array
                    description: List of operations supported by the resource provider
                    items:
                      type: object
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                      properties:
                        name:
                          type: string
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          readOnly: true
                        isDataAction:
                          type: boolean
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          readOnly: true
                        display:
                          type: object
                          description: Localized display information for this particular
                            operation.
                          properties:
                            provider:
                              type: string
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              readOnly: true
                            resource:
                              type: string
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              readOnly: true
                            operation:
                              type: string
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              readOnly: true
                            description:
                              type: string
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              readOnly: true
                        origin:
                          type: string
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                          readOnly: true
                        actionType:
                          type: string
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    format: uri
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    PortalTenantCompileFileProperties:
      type: object
      description: The contents of the file to compile.
      properties:
        contents:
          type: object
          description: The contents of the file.
          additionalProperties: {}
        stringSource:
          type: object
          description: The contents of the string source.
          additionalProperties: {}
        files:
          type: object
          description: The contents of referenced files. The property name is the
            relative file path and the value is its contents.
          additionalProperties: {}
        provisioningState:
          description: The current registration or provisioning state which only appears
            in the response.
          readOnly: true
          type: string
          enum:
          - NotSpecified
          - Accepted
          - Running
          - Ready
          - Creating
          - Created
          - Deleting
          - Deleted
          - Canceled
          - Failed
          - Succeeded
          - Updating
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
            values:
            - name: NotSpecified
              value: NotSpecified
              description: The operation is not specified.
            - name: Accepted
              value: Accepted
              description: The operation is accepted.
            - name: Running
              value: Running
              description: The operation is running.
            - name: Ready
              value: Ready
              description: The operation is ready.
            - name: Creating
              value: Creating
              description: The operation is creating.
            - name: Created
              value: Created
              description: The operation is created.
            - name: Deleting
              value: Deleting
              description: The operation is deleting.
            - name: Deleted
              value: Deleted
              description: The operation is deleted.
            - name: Canceled
              value: Canceled
              description: The operation is canceled.
            - name: Failed
              value: Failed
              description: The operation is failed.
            - name: Succeeded
              value: Succeeded
              description: The operation is succeeded.
            - name: Updating
              value: Updating
              description: The operation is updating.
      required:
      - contents
    PortalTenantCompileFileResult:
      type: object
      description: The contents of the file to compile.
      additionalProperties: {}
    ProvisioningState:
      type: string
      description: The provisioning state.
      enum:
      - NotSpecified
      - Accepted
      - Running
      - Ready
      - Creating
      - Created
      - Deleting
      - Deleted
      - Canceled
      - Failed
      - Succeeded
      - Updating
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: NotSpecified
          value: NotSpecified
          description: The operation is not specified.
        - name: Accepted
          value: Accepted
          description: The operation is accepted.
        - name: Running
          value: Running
          description: The operation is running.
        - name: Ready
          value: Ready
          description: The operation is ready.
        - name: Creating
          value: Creating
          description: The operation is creating.
        - name: Created
          value: Created
          description: The operation is created.
        - name: Deleting
          value: Deleting
          description: The operation is deleting.
        - name: Deleted
          value: Deleted
          description: The operation is deleted.
        - name: Canceled
          value: Canceled
          description: The operation is canceled.
        - name: Failed
          value: Failed
          description: The operation is failed.
        - name: Succeeded
          value: Succeeded
          description: The operation is succeeded.
        - name: Updating
          value: Updating
          description: The operation is updating.
      readOnly: true
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Operation:
      type: object
      title: REST API Operation
      description: Details of a REST API operation, returned from the Resource Provider
        Operations API
      properties:
        name:
          type: string
          description: 'The name of the operation, as per Resource-Based Access Control
            (RBAC). Examples: "Microsoft.Compute/virtualMachines/write", "Microsoft.Compute/virtualMachines/capture/action"'
          readOnly: true
        isDataAction:
          type: boolean
          description: Whether the operation applies to data-plane. This is "true"
            for data-plane operations and "false" for ARM/control-plane operations.
          readOnly: true
        display:
          type: object
          description: Localized display information for this particular operation.
          properties:
            provider:
              type: string
              description: The localized friendly form of the resource provider name,
                e.g. "Microsoft Monitoring Insights" or "Microsoft Compute".
              readOnly: true
            resource:
              type: string
              description: The localized friendly name of the resource type related
                to this operation. E.g. "Virtual Machines" or "Job Schedule Collections".
              readOnly: true
            operation:
              type: string
              description: The concise, localized friendly name for the operation;
                suitable for dropdowns. E.g. "Create or Update Virtual Machine", "Restart
                Virtual Machine".
              readOnly: true
            description:
              type: string
              description: The short, localized friendly description of the operation;
                suitable for tool tips and detailed views.
              readOnly: true
        origin:
          type: string
          description: The intended executor of the operation; as in Resource Based
            Access Control (RBAC) and audit logs UX. Default value is "user,system"
          enum:
          - user
          - system
          - user,system
          x-ms-enum:
            name: Origin
            modelAsString: true
          readOnly: true
        actionType:
          type: string
          description: Enum. Indicates the action type. "Internal" refers to actions
            that are for internal only APIs.
          enum:
          - Internal
          x-ms-enum:
            name: ActionType
            modelAsString: true
          readOnly: true
    OperationListResult:
      type: object
      description: A list of REST API operations supported by an Azure Resource Provider.
        It contains an URL link to get the next set of results.
      properties:
        value:
          type: array
          description: List of operations supported by the resource provider
          items:
            type: object
            title: REST API Operation
            description: Details of a REST API operation, returned from the Resource
              Provider Operations API
            properties:
              name:
                type: string
                description: 'The name of the operation, as per Resource-Based Access
                  Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                  "Microsoft.Compute/virtualMachines/capture/action"'
                readOnly: true
              isDataAction:
                type: boolean
                description: Whether the operation applies to data-plane. This is
                  "true" for data-plane operations and "false" for ARM/control-plane
                  operations.
                readOnly: true
              display:
                type: object
                description: Localized display information for this particular operation.
                properties:
                  provider:
                    type: string
                    description: The localized friendly form of the resource provider
                      name, e.g. "Microsoft Monitoring Insights" or "Microsoft Compute".
                    readOnly: true
                  resource:
                    type: string
                    description: The localized friendly name of the resource type
                      related to this operation. E.g. "Virtual Machines" or "Job Schedule
                      Collections".
                    readOnly: true
                  operation:
                    type: string
                    description: The concise, localized friendly name for the operation;
                      suitable for dropdowns. E.g. "Create or Update Virtual Machine",
                      "Restart Virtual Machine".
                    readOnly: true
                  description:
                    type: string
                    description: The short, localized friendly description of the
                      operation; suitable for tool tips and detailed views.
                    readOnly: true
              origin:
                type: string
                description: The intended executor of the operation; as in Resource
                  Based Access Control (RBAC) and audit logs UX. Default value is
                  "user,system"
                enum:
                - user
                - system
                - user,system
                x-ms-enum:
                  name: Origin
                  modelAsString: true
                readOnly: true
              actionType:
                type: string
                description: Enum. Indicates the action type. "Internal" refers to
                  actions that are for internal only APIs.
                enum:
                - Internal
                x-ms-enum:
                  name: ActionType
                  modelAsString: true
                readOnly: true
          readOnly: true
          x-ms-identifiers:
          - name
        nextLink:
          type: string
          format: uri
          description: URL to get the next set of operation list results (if there
            are any).
          readOnly: true
