openapi: 3.0.0
info:
  title: Relay API
  description: Use these API to manage Azure Relay resources through Azure Resource
    Manager.
  version: 2024-01-01
  x-ms-code-generation-settings:
    name: RelayManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/authorizationRules
  : get:
      tags:
      - Namespaces
      operationId: Namespaces_ListAuthorizationRules
      description: Authorization rules for a namespace.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the Resource group within the Azure subscription.
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Namespace authorization rule returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                            or "Microsoft.EventHub/Namespaces/EventHubs"
                        location:
                          type: string
                          readOnly: true
                          description: The geo-location where the resource lives
                        properties:
                          x-ms-client-flatten: true
                          properties:
                            rights:
                              type: array
                              items:
                                type: string
                                enum:
                                - Manage
                                - Send
                                - Listen
                                x-ms-enum:
                                  name: AccessRights
                                  modelAsString: true
                              description: The rights associated with the rule.
                          required:
                          - rights
                          description: Properties supplied to create or update AuthorizationRule
                        systemData:
                          readOnly: true
                          description: The system meta data relating to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: Result of the list authorization rules operation.
                  nextLink:
                    type: string
                    description: Link to the next set of results. Not empty if value
                      contains incomplete list of authorization rules.
                description: The response from the list namespace operation.
        default:
          description: Relay error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/authorizationRules/{authorizationRuleName}
  : put:
      tags:
      - Namespaces
      operationId: Namespaces_CreateOrUpdateAuthorizationRule
      description: Creates or updates an authorization rule for a namespace.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the Resource group within the Azure subscription.
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: authorizationRuleName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The authorization rule name.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                    or "Microsoft.EventHub/Namespaces/EventHubs"
                location:
                  type: string
                  readOnly: true
                  description: The geo-location where the resource lives
                properties:
                  x-ms-client-flatten: true
                  properties:
                    rights:
                      type: array
                      items:
                        type: string
                        enum:
                        - Manage
                        - Send
                        - Listen
                        x-ms-enum:
                          name: AccessRights
                          modelAsString: true
                      description: The rights associated with the rule.
                  required:
                  - rights
                  description: Properties supplied to create or update AuthorizationRule
                systemData:
                  readOnly: true
                  description: The system meta data relating to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: The authorization rule parameters.
        required: true
      responses:
        '200':
          description: Request to create namespace authorization rule succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                      or "Microsoft.EventHub/Namespaces/EventHubs"
                  location:
                    type: string
                    readOnly: true
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      rights:
                        type: array
                        items:
                          type: string
                          enum:
                          - Manage
                          - Send
                          - Listen
                          x-ms-enum:
                            name: AccessRights
                            modelAsString: true
                        description: The rights associated with the rule.
                    required:
                    - rights
                    description: Properties supplied to create or update AuthorizationRule
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Relay error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - Namespaces
      operationId: Namespaces_DeleteAuthorizationRule
      description: Deletes a namespace authorization rule.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the Resource group within the Azure subscription.
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: authorizationRuleName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The authorization rule name.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Request to delete namespace authorization rule succeeded.
        '204':
          description: No content. The request has been accepted but the namespace
            authorization rule was not found.
        default:
          description: Relay error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    get:
      tags:
      - Namespaces
      operationId: Namespaces_GetAuthorizationRule
      description: Authorization rule for a namespace by name.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the Resource group within the Azure subscription.
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: authorizationRuleName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The authorization rule name.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Namespace Authorization rule returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                      or "Microsoft.EventHub/Namespaces/EventHubs"
                  location:
                    type: string
                    readOnly: true
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      rights:
                        type: array
                        items:
                          type: string
                          enum:
                          - Manage
                          - Send
                          - Listen
                          x-ms-enum:
                            name: AccessRights
                            modelAsString: true
                        description: The rights associated with the rule.
                    required:
                    - rights
                    description: Properties supplied to create or update AuthorizationRule
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Relay error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/authorizationRules/{authorizationRuleName}/listKeys
  : post:
      tags:
      - Namespaces
      operationId: Namespaces_ListKeys
      description: Primary and secondary connection strings to the namespace.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the Resource group within the Azure subscription.
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: authorizationRuleName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The authorization rule name.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  primaryConnectionString:
                    type: string
                    description: Primary connection string of the created namespace
                      authorization rule.
                  secondaryConnectionString:
                    type: string
                    description: Secondary connection string of the created namespace
                      authorization rule.
                  primaryKey:
                    type: string
                    description: A base64-encoded 256-bit primary key for signing
                      and validating the SAS token.
                  secondaryKey:
                    type: string
                    description: A base64-encoded 256-bit secondary key for signing
                      and validating the SAS token.
                  keyName:
                    type: string
                    description: A string that describes the authorization rule.
                description: Namespace/Relay Connection String
        default:
          description: Relay error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/authorizationRules/{authorizationRuleName}/regenerateKeys
  : post:
      tags:
      - Namespaces
      operationId: Namespaces_RegenerateKeys
      description: Regenerates the primary or secondary connection strings to the
        namespace.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the Resource group within the Azure subscription.
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: authorizationRuleName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The authorization rule name.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                keyType:
                  type: string
                  description: The access key to regenerate.
                  enum:
                  - PrimaryKey
                  - SecondaryKey
                  x-ms-enum:
                    name: KeyType
                    modelAsString: true
                key:
                  type: string
                  description: Optional. If the key value is provided, this is set
                    to key type, or autogenerated key value set for key type.
              required:
              - keyType
              description: Parameters supplied to the regenerate authorization rule
                operation, specifies which key needs to be reset.
        description: Parameters supplied to regenerate authorization rule.
        required: true
      responses:
        '200':
          description: Successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  primaryConnectionString:
                    type: string
                    description: Primary connection string of the created namespace
                      authorization rule.
                  secondaryConnectionString:
                    type: string
                    description: Secondary connection string of the created namespace
                      authorization rule.
                  primaryKey:
                    type: string
                    description: A base64-encoded 256-bit primary key for signing
                      and validating the SAS token.
                  secondaryKey:
                    type: string
                    description: A base64-encoded 256-bit secondary key for signing
                      and validating the SAS token.
                  keyName:
                    type: string
                    description: A string that describes the authorization rule.
                description: Namespace/Relay Connection String
        default:
          description: Relay error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/hybridConnections/{hybridConnectionName}/authorizationRules
  : get:
      tags:
      - HybridConnections
      operationId: HybridConnections_ListAuthorizationRules
      description: Authorization rules for a hybrid connection.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the Resource group within the Azure subscription.
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: hybridConnectionName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The hybrid connection name.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Authorization rules successfully returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                            or "Microsoft.EventHub/Namespaces/EventHubs"
                        location:
                          type: string
                          readOnly: true
                          description: The geo-location where the resource lives
                        properties:
                          x-ms-client-flatten: true
                          properties:
                            rights:
                              type: array
                              items:
                                type: string
                                enum:
                                - Manage
                                - Send
                                - Listen
                                x-ms-enum:
                                  name: AccessRights
                                  modelAsString: true
                              description: The rights associated with the rule.
                          required:
                          - rights
                          description: Properties supplied to create or update AuthorizationRule
                        systemData:
                          readOnly: true
                          description: The system meta data relating to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: Result of the list authorization rules operation.
                  nextLink:
                    type: string
                    description: Link to the next set of results. Not empty if value
                      contains incomplete list of authorization rules.
                description: The response from the list namespace operation.
        default:
          description: Relay error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/hybridConnections/{hybridConnectionName}/authorizationRules/{authorizationRuleName}
  : put:
      tags:
      - HybridConnections
      operationId: HybridConnections_CreateOrUpdateAuthorizationRule
      description: Creates or updates an authorization rule for a hybrid connection.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the Resource group within the Azure subscription.
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: hybridConnectionName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The hybrid connection name.
        schema:
          type: string
          minLength: 1
      - name: authorizationRuleName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The authorization rule name.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                    or "Microsoft.EventHub/Namespaces/EventHubs"
                location:
                  type: string
                  readOnly: true
                  description: The geo-location where the resource lives
                properties:
                  x-ms-client-flatten: true
                  properties:
                    rights:
                      type: array
                      items:
                        type: string
                        enum:
                        - Manage
                        - Send
                        - Listen
                        x-ms-enum:
                          name: AccessRights
                          modelAsString: true
                      description: The rights associated with the rule.
                  required:
                  - rights
                  description: Properties supplied to create or update AuthorizationRule
                systemData:
                  readOnly: true
                  description: The system meta data relating to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: The authorization rule parameters.
        required: true
      responses:
        '200':
          description: Hybrid connection authorization rule created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                      or "Microsoft.EventHub/Namespaces/EventHubs"
                  location:
                    type: string
                    readOnly: true
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      rights:
                        type: array
                        items:
                          type: string
                          enum:
                          - Manage
                          - Send
                          - Listen
                          x-ms-enum:
                            name: AccessRights
                            modelAsString: true
                        description: The rights associated with the rule.
                    required:
                    - rights
                    description: Properties supplied to create or update AuthorizationRule
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Relay error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - HybridConnections
      operationId: HybridConnections_DeleteAuthorizationRule
      description: Deletes a hybrid connection authorization rule.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the Resource group within the Azure subscription.
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: hybridConnectionName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The hybrid connection name.
        schema:
          type: string
          minLength: 1
      - name: authorizationRuleName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The authorization rule name.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Hybrid connection authorization rule deleted.
        '204':
          description: Authorization rule does not exist.
        default:
          description: Relay error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    get:
      tags:
      - HybridConnections
      operationId: HybridConnections_GetAuthorizationRule
      description: Hybrid connection authorization rule for a hybrid connection by
        name.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the Resource group within the Azure subscription.
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: hybridConnectionName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The hybrid connection name.
        schema:
          type: string
          minLength: 1
      - name: authorizationRuleName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The authorization rule name.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Hybrid connection authorization rule returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                      or "Microsoft.EventHub/Namespaces/EventHubs"
                  location:
                    type: string
                    readOnly: true
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      rights:
                        type: array
                        items:
                          type: string
                          enum:
                          - Manage
                          - Send
                          - Listen
                          x-ms-enum:
                            name: AccessRights
                            modelAsString: true
                        description: The rights associated with the rule.
                    required:
                    - rights
                    description: Properties supplied to create or update AuthorizationRule
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Relay error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
[...]
