openapi: 3.0.0
info:
  title: Relay API
  description: Use these API to manage Azure Relay resources through Azure Resource
    Manager.
  version: 2024-01-01
  x-ms-code-generation-settings:
    name: RelayManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Relay/checkNameAvailability:
    post:
      tags:
      - Namespaces
      operationId: Namespaces_CheckNameAvailability
      description: Check the specified namespace name availability.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The namespace name to check for availability. The namespace
                    name can contain only letters, numbers, and hyphens. The namespace
                    must start with a letter, and it must end with a letter or number.
              required:
              - name
              description: Description of the check name availability request properties.
        description: Parameters to check availability of the specified namespace name.
        required: true
      responses:
        '200':
          description: Check availability returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    readOnly: true
                    description: The detailed info regarding the reason associated
                      with the namespace.
                  nameAvailable:
                    type: boolean
                    description: Value indicating namespace is available. Returns
                      true if the namespace is available; otherwise, false.
                  reason:
                    description: The reason for unavailability of a namespace.
                    type: string
                    enum:
                    - None
                    - InvalidName
                    - SubscriptionIsDisabled
                    - NameInUse
                    - NameInLockdown
                    - TooManyNamespaceInCurrentSubscription
                    x-ms-enum:
                      name: UnavailableReason
                      modelAsString: true
                description: Description of the check name availability request properties.
        default:
          description: Relay error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/providers/Microsoft.Relay/namespaces:
    get:
      tags:
      - Namespaces
      operationId: Namespaces_List
      description: Lists all the available namespaces within the subscription regardless
        of the resourceGroups.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Namespaces returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        sku:
                          description: SKU of the namespace.
                          type: object
                          properties:
                            name:
                              type: string
                              description: Name of this SKU.
                              enum:
                              - Standard
                              x-ms-enum:
                                name: SkuName
                                modelAsString: true
                            tier:
                              type: string
                              description: The tier of this SKU.
                              enum:
                              - Standard
                              x-ms-enum:
                                name: SkuTier
                                modelAsString: true
                          required:
                          - name
                        systemData:
                          readOnly: true
                          description: The system meta data relating to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          x-ms-client-flatten: true
                          description: Description of Relay namespace
                          type: object
                          properties:
                            provisioningState:
                              readOnly: true
                              type: string
                              description: Provisioning state of the Namespace.
                            status:
                              readOnly: true
                              type: string
                              description: Status of the Namespace.
                            createdAt:
                              type: string
                              format: date-time
                              readOnly: true
                              description: The time the namespace was created.
                            updatedAt:
                              type: string
                              format: date-time
                              readOnly: true
                              description: The time the namespace was updated.
                            serviceBusEndpoint:
                              type: string
                              readOnly: true
                              description: Endpoint you can use to perform Service
                                Bus operations.
                            metricId:
                              type: string
                              readOnly: true
                              description: Identifier for Azure Insights metrics.
                            privateEndpointConnections:
                              description: List of private endpoint connections.
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    readOnly: true
                                    type: string
                                    description: Fully qualified resource ID for the
                                      resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                                  name:
                                    readOnly: true
                                    type: string
                                    description: The name of the resource
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                                      or "Microsoft.EventHub/Namespaces/EventHubs"
                                  location:
                                    type: string
                                    readOnly: true
                                    description: The geo-location where the resource
                                      lives
                                  properties:
                                    description: Properties of the PrivateEndpointConnection.
                                    x-ms-client-flatten: true
                                    type: object
                                    properties:
                                      privateEndpoint:
                                        description: The Private Endpoint resource
                                          for this Connection.
                                        type: object
                                        properties:
                                          id:
                                            description: The ARM identifier for Private
                                              Endpoint.
                                            type: string
                                      privateLinkServiceConnectionState:
                                        description: Details about the state of the
                                          connection.
                                        type: object
                                        properties:
                                          status:
                                            description: Status of the connection.
                                            enum:
                                            - Pending
                                            - Approved
                                            - Rejected
                                            - Disconnected
                                            type: string
                                            x-ms-enum:
                                              name: PrivateLinkConnectionStatus
                                              modelAsString: true
                                          description:
                                            description: Description of the connection
                                              state.
                                            type: string
                                      provisioningState:
                                        description: Provisioning state of the Private
                                          Endpoint Connection.
                                        enum:
                                        - Creating
                                        - Updating
                                        - Deleting
                                        - Succeeded
                                        - Canceled
                                        - Failed
                                        type: string
                                        x-ms-enum:
                                          name: EndPointProvisioningState
                                          modelAsString: true
                                  systemData:
                                    readOnly: true
                                    description: The system meta data relating to
                                      this resource.
                                    type: object
                                    properties:
                                      createdBy:
                                        type: string
                                        description: The identity that created the
                                          resource.
                                      createdByType:
                                        type: string
                                        description: The type of identity that created
                                          the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      createdAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource creation
                                          (UTC).
                                      lastModifiedBy:
                                        type: string
                                        description: The identity that last modified
                                          the resource.
                                      lastModifiedByType:
                                        type: string
                                        description: The type of identity that last
                                          modified the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      lastModifiedAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource last
                                          modification (UTC)
                                title: Resource
                                description: Common fields that are returned in the
                                  response for all Azure Resource Manager resources
                                x-ms-azure-resource: true
                            publicNetworkAccess:
                              description: This determines if traffic is allowed over
                                public network. By default it is enabled.
                              enum:
                              - Enabled
                              - Disabled
                              - SecuredByPerimeter
                              type: string
                              x-ms-enum:
                                name: PublicNetworkAccess
                                modelAsString: true
                              default: Enabled
                      required:
                      - location
                      description: The resource definition.
                      x-ms-azure-resource: true
                    description: Result of the list namespace operation.
                  nextLink:
                    type: string
                    description: Link to the next set of results. Not empty if value
                      contains incomplete list of namespaces.
                description: The response from the list namespace operation.
        default:
          description: Relay error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces:
    get:
      tags:
      - Namespaces
      operationId: Namespaces_ListByResourceGroup
      description: Lists all the available namespaces within the ResourceGroup.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the Resource group within the Azure subscription.
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Namespaces by resource group returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        sku:
                          description: SKU of the namespace.
                          type: object
                          properties:
                            name:
                              type: string
                              description: Name of this SKU.
                              enum:
                              - Standard
                              x-ms-enum:
                                name: SkuName
                                modelAsString: true
                            tier:
                              type: string
                              description: The tier of this SKU.
                              enum:
                              - Standard
                              x-ms-enum:
                                name: SkuTier
                                modelAsString: true
                          required:
                          - name
                        systemData:
                          readOnly: true
                          description: The system meta data relating to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          x-ms-client-flatten: true
                          description: Description of Relay namespace
                          type: object
                          properties:
                            provisioningState:
                              readOnly: true
                              type: string
                              description: Provisioning state of the Namespace.
                            status:
                              readOnly: true
                              type: string
                              description: Status of the Namespace.
                            createdAt:
                              type: string
                              format: date-time
                              readOnly: true
                              description: The time the namespace was created.
                            updatedAt:
                              type: string
                              format: date-time
                              readOnly: true
                              description: The time the namespace was updated.
                            serviceBusEndpoint:
                              type: string
                              readOnly: true
                              description: Endpoint you can use to perform Service
                                Bus operations.
                            metricId:
                              type: string
                              readOnly: true
                              description: Identifier for Azure Insights metrics.
                            privateEndpointConnections:
                              description: List of private endpoint connections.
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    readOnly: true
                                    type: string
                                    description: Fully qualified resource ID for the
                                      resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                                  name:
                                    readOnly: true
                                    type: string
                                    description: The name of the resource
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                                      or "Microsoft.EventHub/Namespaces/EventHubs"
                                  location:
                                    type: string
                                    readOnly: true
                                    description: The geo-location where the resource
                                      lives
                                  properties:
                                    description: Properties of the PrivateEndpointConnection.
                                    x-ms-client-flatten: true
                                    type: object
                                    properties:
                                      privateEndpoint:
                                        description: The Private Endpoint resource
                                          for this Connection.
                                        type: object
                                        properties:
                                          id:
                                            description: The ARM identifier for Private
                                              Endpoint.
                                            type: string
                                      privateLinkServiceConnectionState:
                                        description: Details about the state of the
                                          connection.
                                        type: object
                                        properties:
                                          status:
                                            description: Status of the connection.
                                            enum:
                                            - Pending
                                            - Approved
                                            - Rejected
                                            - Disconnected
                                            type: string
                                            x-ms-enum:
                                              name: PrivateLinkConnectionStatus
                                              modelAsString: true
                                          description:
                                            description: Description of the connection
                                              state.
                                            type: string
                                      provisioningState:
                                        description: Provisioning state of the Private
                                          Endpoint Connection.
                                        enum:
                                        - Creating
                                        - Updating
                                        - Deleting
                                        - Succeeded
                                        - Canceled
                                        - Failed
                                        type: string
                                        x-ms-enum:
                                          name: EndPointProvisioningState
                                          modelAsString: true
                                  systemData:
                                    readOnly: true
                                    description: The system meta data relating to
                                      this resource.
                                    type: object
                                    properties:
                                      createdBy:
                                        type: string
                                        description: The identity that created the
                                          resource.
                                      createdByType:
                                        type: string
                                        description: The type of identity that created
                                          the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      createdAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource creation
                                          (UTC).
                                      lastModifiedBy:
                                        type: string
                                        description: The identity that last modified
                                          the resource.
                                      lastModifiedByType:
                                        type: string
                                        description: The type of identity that last
                                          modified the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      lastModifiedAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource last
                                          modification (UTC)
                                title: Resource
                                description: Common fields that are returned in the
                                  response for all Azure Resource Manager resources
                                x-ms-azure-resource: true
                            publicNetworkAccess:
                              description: This determines if traffic is allowed over
                                public network. By default it is enabled.
                              enum:
                              - Enabled
                              - Disabled
                              - SecuredByPerimeter
                              type: string
                              x-ms-enum:
                                name: PublicNetworkAccess
                                modelAsString: true
                              default: Enabled
                      required:
                      - location
                      description: The resource definition.
                      x-ms-azure-resource: true
                    description: Result of the list namespace operation.
                  nextLink:
                    type: string
                    description: Link to the next set of results. Not empty if value
                      contains incomplete list of namespaces.
                description: The response from the list namespace operation.
        default:
          description: Relay error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}:
    put:
      tags:
      - Namespaces
      operationId: Namespaces_CreateOrUpdate
      description: Create Azure Relay namespace.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the Resource group within the Azure subscription.
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: Resource location.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
                sku:
                  description: SKU of the namespace.
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of this SKU.
                      enum:
                      - Standard
                      x-ms-enum:
                        name: SkuName
                        modelAsString: true
                    tier:
                      type: string
                      description: The tier of this SKU.
                      enum:
                      - Standard
                      x-ms-enum:
                        name: SkuTier
                        modelAsString: true
                  required:
                  - name
                systemData:
                  readOnly: true
                  description: The system meta data relating to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  x-ms-client-flatten: true
                  description: Description of Relay namespace
                  type: object
                  properties:
                    provisioningState:
                      readOnly: true
                      type: string
                      description: Provisioning state of the Namespace.
                    status:
                      readOnly: true
                      type: string
                      description: Status of the Namespace.
                    createdAt:
                      type: string
                      format: date-time
                      readOnly: true
                      description: The time the namespace was created.
                    updatedAt:
                      type: string
                      format: date-time
                      readOnly: true
                      description: The time the namespace was updated.
                    serviceBusEndpoint:
                      type: string
                      readOnly: true
                      description: Endpoint you can use to perform Service Bus operations.
                    metricId:
                      type: string
                      readOnly: true
                      description: Identifier for Azure Insights metrics.
                    privateEndpointConnections:
                      description: List of private endpoint connections.
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            readOnly: true
                            type: string
                            description: Fully qualified resource ID for the resource.
                              Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          name:
                            readOnly: true
                            type: string
                            description: The name of the resource
                          type:
                            readOnly: true
                            type: string
                            description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                              or "Microsoft.EventHub/Namespaces/EventHubs"
                          location:
                            type: string
                            readOnly: true
                            description: The geo-location where the resource lives
                          properties:
                            description: Properties of the PrivateEndpointConnection.
                            x-ms-client-flatten: true
                            type: object
                            properties:
                              privateEndpoint:
                                description: The Private Endpoint resource for this
                                  Connection.
                                type: object
                                properties:
                                  id:
                                    description: The ARM identifier for Private Endpoint.
                                    type: string
                              privateLinkServiceConnectionState:
                                description: Details about the state of the connection.
                                type: object
                                properties:
                                  status:
                                    description: Status of the connection.
                                    enum:
                                    - Pending
                                    - Approved
                                    - Rejected
                                    - Disconnected
                                    type: string
                                    x-ms-enum:
                                      name: PrivateLinkConnectionStatus
                                      modelAsString: true
                                  description:
                                    description: Description of the connection state.
                                    type: string
                              provisioningState:
                                description: Provisioning state of the Private Endpoint
                                  Connection.
                                enum:
                                - Creating
                                - Updating
                                - Deleting
                                - Succeeded
                                - Canceled
                                - Failed
                                type: string
                                x-ms-enum:
                                  name: EndPointProvisioningState
                                  modelAsString: true
                          systemData:
                            readOnly: true
                            description: The system meta data relating to this resource.
                            type: object
                            properties:
                              createdBy:
                                type: string
                                description: The identity that created the resource.
                              createdByType:
                                type: string
                                description: The type of identity that created the
                                  resource.
                                enum:
                                - User
                                - Application
                                - ManagedIdentity
                                - Key
                                x-ms-enum:
                                  name: createdByType
                                  modelAsString: true
                              createdAt:
                                type: string
                                format: date-time
                                description: The timestamp of resource creation (UTC).
                              lastModifiedBy:
                                type: string
                                description: The identity that last modified the resource.
                              lastModifiedByType:
                                type: string
                                description: The type of identity that last modified
                                  the resource.
                                enum:
                                - User
                                - Application
                                - ManagedIdentity
                                - Key
                                x-ms-enum:
                                  name: createdByType
                                  modelAsString: true
                              lastModifiedAt:
                                type: string
                                format: date-time
                                description: The timestamp of resource last modification
                                  (UTC)
                        title: Resource
                        description: Common fields that are returned in the response
                          for all Azure Resource Manager resources
                        x-ms-azure-resource: true
                    publicNetworkAccess:
                      description: This determines if traffic is allowed over public
                        network. By default it is enabled.
                      enum:
                      - Enabled
                      - Disabled
                      - SecuredByPerimeter
                      type: string
                      x-ms-enum:
                        name: PublicNetworkAccess
                        modelAsString: true
                      default: Enabled
              required:
              - location
              description: The resource definition.
              x-ms-azure-resource: true
        description: Parameters supplied to create a namespace resource.
        required: true
      responses:
        '200':
          description: Namespace create request succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  sku:
                    description: SKU of the namespace.
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of this SKU.
                        enum:
                        - Standard
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                      tier:
                        type: string
                        description: The tier of this SKU.
                        enum:
                        - Standard
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: true
                    required:
                    - name
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    description: Description of Relay namespace
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        type: string
                        description: Provisioning state of the Namespace.
                      status:
                        readOnly: true
                        type: string
                        description: Status of the Namespace.
                      createdAt:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The time the namespace was created.
                      updatedAt:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The time the namespace was updated.
                      serviceBusEndpoint:
                        type: string
                        readOnly: true
                        description: Endpoint you can use to perform Service Bus operations.
                      metricId:
                        type: string
                        readOnly: true
                        description: Identifier for Azure Insights metrics.
                      privateEndpointConnections:
                        description: List of private endpoint connections.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Fully qualified resource ID for the resource.
                                Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                            name:
                              readOnly: true
                              type: string
                              description: The name of the resource
                            type:
                              readOnly: true
                              type: string
                              description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                                or "Microsoft.EventHub/Namespaces/EventHubs"
                            location:
                              type: string
                              readOnly: true
                              description: The geo-location where the resource lives
                            properties:
                              description: Properties of the PrivateEndpointConnection.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                privateEndpoint:
                                  description: The Private Endpoint resource for this
                                    Connection.
                                  type: object
                                  properties:
                                    id:
                                      description: The ARM identifier for Private
                                        Endpoint.
                                      type: string
                                privateLinkServiceConnectionState:
                                  description: Details about the state of the connection.
                                  type: object
                                  properties:
                                    status:
                                      description: Status of the connection.
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      - Disconnected
                                      type: string
                                      x-ms-enum:
                                        name: PrivateLinkConnectionStatus
                                        modelAsString: true
                                    description:
                                      description: Description of the connection state.
                                      type: string
                                provisioningState:
                                  description: Provisioning state of the Private Endpoint
                                    Connection.
                                  enum:
                                  - Creating
                                  - Updating
                                  - Deleting
                                  - Succeeded
                                  - Canceled
                                  - Failed
                                  type: string
                                  x-ms-enum:
                                    name: EndPointProvisioningState
                                    modelAsString: true
                            systemData:
                              readOnly: true
                              description: The system meta data relating to this resource.
                              type: object
                              properties:
                                createdBy:
                                  type: string
                                  description: The identity that created the resource.
                                createdByType:
                                  type: string
                                  description: The type of identity that created the
                                    resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                createdAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource creation
                                    (UTC).
                                lastModifiedBy:
                                  type: string
                                  description: The identity that last modified the
                                    resource.
                                lastModifiedByType:
                                  type: string
                                  description: The type of identity that last modified
                                    the resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                lastModifiedAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource last modification
                                    (UTC)
                          title: Resource
                          description: Common fields that are returned in the response
                            for all Azure Resource Manager resources
                          x-ms-azure-resource: true
                      publicNetworkAccess:
                        description: This determines if traffic is allowed over public
                          network. By default it is enabled.
                        enum:
                        - Enabled
                        - Disabled
                        - SecuredByPerimeter
                        type: string
                        x-ms-enum:
                          name: PublicNetworkAccess
                          modelAsString: true
                        default: Enabled
                required:
                - location
                description: The resource definition.
                x-ms-azure-resource: true
        '201':
          description: Namespace create request accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  sku:
                    description: SKU of the namespace.
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of this SKU.
                        enum:
                        - Standard
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                      tier:
                        type: string
                        description: The tier of this SKU.
                        enum:
                        - Standard
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: true
                    required:
                    - name
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    description: Description of Relay namespace
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        type: string
                        description: Provisioning state of the Namespace.
                      status:
                        readOnly: true
                        type: string
                        description: Status of the Namespace.
                      createdAt:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The time the namespace was created.
                      updatedAt:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The time the namespace was updated.
                      serviceBusEndpoint:
                        type: string
                        readOnly: true
                        description: Endpoint you can use to perform Service Bus operations.
                      metricId:
                        type: string
                        readOnly: true
                        description: Identifier for Azure Insights metrics.
                      privateEndpointConnections:
                        description: List of private endpoint connections.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Fully qualified resource ID for the resource.
                                Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                            name:
                              readOnly: true
                              type: string
                              description: The name of the resource
                            type:
                              readOnly: true
                              type: string
                              description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                                or "Microsoft.EventHub/Namespaces/EventHubs"
                            location:
                              type: string
                              readOnly: true
                              description: The geo-location where the resource lives
                            properties:
                              description: Properties of the PrivateEndpointConnection.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                privateEndpoint:
                                  description: The Private Endpoint resource for this
                                    Connection.
                                  type: object
                                  properties:
                                    id:
                                      description: The ARM identifier for Private
                                        Endpoint.
                                      type: string
                                privateLinkServiceConnectionState:
                                  description: Details about the state of the connection.
                                  type: object
                                  properties:
                                    status:
                                      description: Status of the connection.
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      - Disconnected
                                      type: string
                                      x-ms-enum:
                                        name: PrivateLinkConnectionStatus
                                        modelAsString: true
                                    description:
                                      description: Description of the connection state.
                                      type: string
                                provisioningState:
                                  description: Provisioning state of the Private Endpoint
                                    Connection.
                                  enum:
                                  - Creating
                                  - Updating
                                  - Deleting
                                  - Succeeded
                                  - Canceled
                                  - Failed
                                  type: string
                                  x-ms-enum:
                                    name: EndPointProvisioningState
                                    modelAsString: true
                            systemData:
                              readOnly: true
                              description: The system meta data relating to this resource.
                              type: object
                              properties:
                                createdBy:
                                  type: string
                                  description: The identity that created the resource.
                                createdByType:
                                  type: string
                                  description: The type of identity that created the
                                    resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                createdAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource creation
                                    (UTC).
                                lastModifiedBy:
                                  type: string
                                  description: The identity that last modified the
                                    resource.
                                lastModifiedByType:
                                  type: string
                                  description: The type of identity that last modified
                                    the resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                lastModifiedAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource last modification
                                    (UTC)
                          title: Resource
                          description: Common fields that are returned in the response
                            for all Azure Resource Manager resources
                          x-ms-azure-resource: true
                      publicNetworkAccess:
                        description: This determines if traffic is allowed over public
                          network. By default it is enabled.
                        enum:
                        - Enabled
                        - Disabled
                        - SecuredByPerimeter
                        type: string
                        x-ms-enum:
                          name: PublicNetworkAccess
                          modelAsString: true
                        default: Enabled
                required:
                - location
                description: The resource definition.
                x-ms-azure-resource: true
        default:
          description: Relay error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    delete:
      tags:
      - Namespaces
      operationId: Namespaces_Delete
      description: Deletes an existing namespace. This operation also removes all
        associated resources under the namespace.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the Resource group within the Azure subscription.
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Namespace delete request succeeded.
        '202':
          description: Namespace delete request has been accepted for processing and
            the operation will complete asynchronously.
        '204':
          description: Namespace delete request has been accepted, but the namespace
            was not found.
        default:
          description: Relay error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    get:
      tags:
      - Namespaces
      operationId: Namespaces_Get
      description: Returns the description for the specified namespace.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the Resource group within the Azure subscription.
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Namespace description returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
[...]
