openapi: 3.0.0
info:
  title: Relay API
  description: Use these API to manage Azure Relay resources through Azure Resource
    Manager.
  version: 2024-01-01
  x-ms-code-generation-settings:
    name: RelayManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Relay/operations:
    get:
      tags:
      - Operations
      operationId: Operations_List
      description: Lists all available Relay REST API operations.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: Result of the request to list Relay operations. It contains
                  a list of operations and a URL link to get the next set of results.
                properties:
                  value:
                    description: List of Relay operations supported by the Microsoft.Relay
                      resource provider.
                    type: array
                    readOnly: true
                    items:
                      description: A Relay REST API operation
                      type: object
                      properties:
                        name:
                          readOnly: true
                          type: string
                          description: 'Operation name: {provider}/{resource}/{operation}'
                        isDataAction:
                          description: Indicates whether the operation is a data action
                          readOnly: true
                          type: boolean
                        display:
                          readOnly: true
                          description: Display of the operation
                          type: object
                          properties:
                            provider:
                              description: Resource provider of the operation
                              type: string
                              readOnly: true
                            resource:
                              description: Resource of the operation
                              type: string
                              readOnly: true
                            operation:
                              description: Localized friendly name for the operation
                              type: string
                              readOnly: true
                            description:
                              description: Localized friendly description for the
                                operation
                              type: string
                              readOnly: true
                        origin:
                          description: Origin of the operation
                          readOnly: true
                          type: string
                        properties:
                          description: Properties of the operation
                          type: object
                          x-ms-client-flatten: true
                    x-ms-identifiers: []
                  nextLink:
                    readOnly: true
                    type: string
                    description: URL to get the next set of operation list results
                      if there are any.
        default:
          description: Relay error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    OperationListResult:
      description: Result of the request to list Relay operations. It contains a list
        of operations and a URL link to get the next set of results.
      properties:
        value:
          description: List of Relay operations supported by the Microsoft.Relay resource
            provider.
          type: array
          readOnly: true
          items:
            description: A Relay REST API operation
            type: object
            properties:
              name:
                readOnly: true
                type: string
                description: 'Operation name: {provider}/{resource}/{operation}'
              isDataAction:
                description: Indicates whether the operation is a data action
                readOnly: true
                type: boolean
              display:
                readOnly: true
                description: Display of the operation
                type: object
                properties:
                  provider:
                    description: Resource provider of the operation
                    type: string
                    readOnly: true
                  resource:
                    description: Resource of the operation
                    type: string
                    readOnly: true
                  operation:
                    description: Localized friendly name for the operation
                    type: string
                    readOnly: true
                  description:
                    description: Localized friendly description for the operation
                    type: string
                    readOnly: true
              origin:
                description: Origin of the operation
                readOnly: true
                type: string
              properties:
                description: Properties of the operation
                type: object
                x-ms-client-flatten: true
          x-ms-identifiers: []
        nextLink:
          readOnly: true
          type: string
          description: URL to get the next set of operation list results if there
            are any.
    Operation:
      description: A Relay REST API operation
      type: object
      properties:
        name:
          readOnly: true
          type: string
          description: 'Operation name: {provider}/{resource}/{operation}'
        isDataAction:
          description: Indicates whether the operation is a data action
          readOnly: true
          type: boolean
        display:
          readOnly: true
          description: Display of the operation
          type: object
          properties:
            provider:
              description: Resource provider of the operation
              type: string
              readOnly: true
            resource:
              description: Resource of the operation
              type: string
              readOnly: true
            operation:
              description: Localized friendly name for the operation
              type: string
              readOnly: true
            description:
              description: Localized friendly description for the operation
              type: string
              readOnly: true
        origin:
          description: Origin of the operation
          readOnly: true
          type: string
        properties:
          description: Properties of the operation
          type: object
          x-ms-client-flatten: true
    OperationDisplay:
      description: Operation display payload
      type: object
      properties:
        provider:
          description: Resource provider of the operation
          type: string
          readOnly: true
        resource:
          description: Resource of the operation
          type: string
          readOnly: true
        operation:
          description: Localized friendly name for the operation
          type: string
          readOnly: true
        description:
          description: Localized friendly description for the operation
          type: string
          readOnly: true
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
