openapi: 3.0.0
info:
  version: 2023-07-01-preview
  title: ProfessionalService
  description: REST APIs for Marketplace Professional Service Offers
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.ProfessionalService/resources:
    get:
      tags:
      - SubscriptionLevelProfessionalServiceResources
      operationId: ProfessionalServiceSubscriptionLevel_ListByAzureSubscription
      description: Gets information about all the Subscription Level ProfessionalService
        in a certain Azure subscription.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: The API version to be used with the HTTP request.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The request returns the resulting ProfessionalService
            resources.
          content:
            application/json:
              schema:
                description: professionalService resources response with continuation.
                type: object
                properties:
                  nextLink:
                    description: the next link to query to get the remaining results.
                    type: string
                  value:
                    description: the value of response.
                    type: array
                    items:
                      description: ProfessionalService REST API resource definition.
                      type: object
                      x-ms-azure-resource: true
                      properties:
                        properties:
                          type: object
                          properties:
                            status:
                              type: string
                              description: The ProfessionalService Subscription Status.
                              enum:
                              - NotStarted
                              - PendingFulfillmentStart
                              - Subscribed
                              - Unsubscribed
                              - Suspended
                              x-ms-enum:
                                name: ProfessionalServiceResourceStatus
                                modelAsString: true
                            term:
                              type: object
                              description: The current Term object.
                              properties:
                                termUnit:
                                  type: string
                                  description: The unit term eg P1M,P1Y,P2Y,P3Y meaning
                                    month,1year,2year,3year respectively
                                startDate:
                                  type: string
                                  description: The start date of the current term
                                endDate:
                                  type: string
                                  description: The end date of the current term
                            billingPeriod:
                              type: string
                              description: The billing period eg P1M,P1Y for monthly,yearly
                                respectively
                            isFreeTrial:
                              type: boolean
                              description: Whether the current term is a Free Trial
                                term
                            paymentChannelType:
                              type: string
                              description: The Payment channel for the ProfessionalServiceSubscription.
                              enum:
                              - SubscriptionDelegated
                              - CustomerDelegated
                              x-ms-enum:
                                name: paymentChannelType
                                modelAsString: true
                            paymentChannelMetadata:
                              type: object
                              description: The metadata about the ProfessionalService
                                subscription such as the AzureSubscriptionId and ResourceUri.
                              additionalProperties:
                                type: string
                            created:
                              type: string
                              description: The created date of this resource.
                              readOnly: true
                            lastModified:
                              type: string
                              description: The last modifier date if this resource.
                            offerId:
                              type: string
                              description: The offer id.
                            publisherId:
                              type: string
                              description: The publisher id.
                            skuId:
                              type: string
                              description: The plan id.
                            autoRenew:
                              type: boolean
                              description: Whether the ProfessionalService subscription
                                will auto renew upon term end.
                            quoteId:
                              type: string
                              description: The quote id which the ProfessionalService
                                will be purchase with.
                            storeFront:
                              type: string
                              description: The store front which initiates the purchase.
                            termUnit:
                              type: string
                              description: The unit term eg P1M,P1Y,P2Y,P3Y meaning
                                month,1year,2year,3year respectively
                          description: professionalService resource properties
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        id:
                          description: The resource uri
                          type: string
                          readOnly: true
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        tags:
                          description: the resource tags.
                          type: object
                          additionalProperties:
                            type: string
        default:
          description: A response indicating an error.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProfessionalService/resources:
    get:
      tags:
      - SubscriptionLevelProfessionalServiceResources
      operationId: ProfessionalServiceSubscriptionLevel_ListByResourceGroup
      description: Gets information about all the Subscription Level ProfessionalService
        in a certain resource group.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: The API version to be used with the HTTP request.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The request returns the resulting ProfessionalService
            resources.
          content:
            application/json:
              schema:
                description: professionalService resources response with continuation.
                type: object
                properties:
                  nextLink:
                    description: the next link to query to get the remaining results.
                    type: string
                  value:
                    description: the value of response.
                    type: array
                    items:
                      description: ProfessionalService REST API resource definition.
                      type: object
                      x-ms-azure-resource: true
                      properties:
                        properties:
                          type: object
                          properties:
                            status:
                              type: string
                              description: The ProfessionalService Subscription Status.
                              enum:
                              - NotStarted
                              - PendingFulfillmentStart
                              - Subscribed
                              - Unsubscribed
                              - Suspended
                              x-ms-enum:
                                name: ProfessionalServiceResourceStatus
                                modelAsString: true
                            term:
                              type: object
                              description: The current Term object.
                              properties:
                                termUnit:
                                  type: string
                                  description: The unit term eg P1M,P1Y,P2Y,P3Y meaning
                                    month,1year,2year,3year respectively
                                startDate:
                                  type: string
                                  description: The start date of the current term
                                endDate:
                                  type: string
                                  description: The end date of the current term
                            billingPeriod:
                              type: string
                              description: The billing period eg P1M,P1Y for monthly,yearly
                                respectively
                            isFreeTrial:
                              type: boolean
                              description: Whether the current term is a Free Trial
                                term
                            paymentChannelType:
                              type: string
                              description: The Payment channel for the ProfessionalServiceSubscription.
                              enum:
                              - SubscriptionDelegated
                              - CustomerDelegated
                              x-ms-enum:
                                name: paymentChannelType
                                modelAsString: true
                            paymentChannelMetadata:
                              type: object
                              description: The metadata about the ProfessionalService
                                subscription such as the AzureSubscriptionId and ResourceUri.
                              additionalProperties:
                                type: string
                            created:
                              type: string
                              description: The created date of this resource.
                              readOnly: true
                            lastModified:
                              type: string
                              description: The last modifier date if this resource.
                            offerId:
                              type: string
                              description: The offer id.
                            publisherId:
                              type: string
                              description: The publisher id.
                            skuId:
                              type: string
                              description: The plan id.
                            autoRenew:
                              type: boolean
                              description: Whether the ProfessionalService subscription
                                will auto renew upon term end.
                            quoteId:
                              type: string
                              description: The quote id which the ProfessionalService
                                will be purchase with.
                            storeFront:
                              type: string
                              description: The store front which initiates the purchase.
                            termUnit:
                              type: string
                              description: The unit term eg P1M,P1Y,P2Y,P3Y meaning
                                month,1year,2year,3year respectively
                          description: professionalService resource properties
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        id:
                          description: The resource uri
                          type: string
                          readOnly: true
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        tags:
                          description: the resource tags.
                          type: object
                          additionalProperties:
                            type: string
        default:
          description: A response indicating an error.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProfessionalService/resources/{resourceName}
  : get:
      tags:
      - SubscriptionLevelProfessionalServiceResources
      operationId: ProfessionalServiceSubscriptionLevel_Get
      description: Gets information about the specified Subscription Level ProfessionalService.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceName
        in: path
        required: true
        description: The name of the resource.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-_.()]{0,63}[a-zA-Z0-9-_()]$
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: The API version to be used with the HTTP request.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The request returns the resulting ProfessionalService
            resource.
          content:
            application/json:
              schema:
                description: ProfessionalService REST API resource definition.
                type: object
                x-ms-azure-resource: true
                properties:
                  properties:
                    type: object
                    properties:
                      status:
                        type: string
                        description: The ProfessionalService Subscription Status.
                        enum:
                        - NotStarted
                        - PendingFulfillmentStart
                        - Subscribed
                        - Unsubscribed
                        - Suspended
                        x-ms-enum:
                          name: ProfessionalServiceResourceStatus
                          modelAsString: true
                      term:
                        type: object
                        description: The current Term object.
                        properties:
                          termUnit:
                            type: string
                            description: The unit term eg P1M,P1Y,P2Y,P3Y meaning
                              month,1year,2year,3year respectively
                          startDate:
                            type: string
                            description: The start date of the current term
                          endDate:
                            type: string
                            description: The end date of the current term
                      billingPeriod:
                        type: string
                        description: The billing period eg P1M,P1Y for monthly,yearly
                          respectively
                      isFreeTrial:
                        type: boolean
                        description: Whether the current term is a Free Trial term
                      paymentChannelType:
                        type: string
                        description: The Payment channel for the ProfessionalServiceSubscription.
                        enum:
                        - SubscriptionDelegated
                        - CustomerDelegated
                        x-ms-enum:
                          name: paymentChannelType
                          modelAsString: true
                      paymentChannelMetadata:
                        type: object
                        description: The metadata about the ProfessionalService subscription
                          such as the AzureSubscriptionId and ResourceUri.
                        additionalProperties:
                          type: string
                      created:
                        type: string
                        description: The created date of this resource.
                        readOnly: true
                      lastModified:
                        type: string
                        description: The last modifier date if this resource.
                      offerId:
                        type: string
                        description: The offer id.
                      publisherId:
                        type: string
                        description: The publisher id.
                      skuId:
                        type: string
                        description: The plan id.
                      autoRenew:
                        type: boolean
                        description: Whether the ProfessionalService subscription
                          will auto renew upon term end.
                      quoteId:
                        type: string
                        description: The quote id which the ProfessionalService will
                          be purchase with.
                      storeFront:
                        type: string
                        description: The store front which initiates the purchase.
                      termUnit:
                        type: string
                        description: The unit term eg P1M,P1Y,P2Y,P3Y meaning month,1year,2year,3year
                          respectively
                    description: professionalService resource properties
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  id:
                    description: The resource uri
                    type: string
                    readOnly: true
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  tags:
                    description: the resource tags.
                    type: object
                    additionalProperties:
                      type: string
        default:
          description: A response indicating an error.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    put:
      tags:
      - SubscriptionLevelProfessionalServiceResources
      operationId: ProfessionalServiceSubscriptionLevel_CreateOrUpdate
      description: Creates or updates a ProfessionalService resource.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceName
        in: path
        required: true
        description: The name of the resource.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-_.()]{0,63}[a-zA-Z0-9-_()]$
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: The API version to be used with the HTTP request.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: ProfessionalService REST API resource definition for creation.
              type: object
              properties:
                id:
                  description: The resource uri
                  type: string
                  readOnly: true
                name:
                  description: The resource name
                  type: string
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                tags:
                  description: the resource tags.
                  type: object
                  additionalProperties:
                    type: string
                location:
                  type: string
                  description: Resource location. Only value allowed for ProfessionalService
                    is 'global'
                properties:
                  description: Properties of the ProfessionalService resource that
                    are relevant for creation.
                  type: object
                  properties:
                    offerId:
                      type: string
                      description: The offer id.
                    publisherId:
                      type: string
                      description: The publisher id.
                    skuId:
                      type: string
                      description: The plan id.
                    autoRenew:
                      type: boolean
                      description: Whether the ProfessionalService subscription will
                        auto renew upon term end.
                    quoteId:
                      type: string
                      description: The quote id which the ProfessionalService will
                        be purchase with.
                    storeFront:
                      type: string
                      description: The store front which initiates the purchase.
                    termUnit:
                      type: string
                      description: The unit term eg P1M,P1Y,P2Y,P3Y meaning month,1year,2year,3year
                        respectively
                    billingPeriod:
                      type: string
                      description: The billing period eg P1M,P1Y for monthly,yearly
                        respectively
        description: Parameters supplied to the create or update subscription level
          ProfessionalService operation.
        required: true
      responses:
        '200':
          description: Resource creation has completed.
          content:
            application/json:
              schema:
                description: ProfessionalService REST API resource definition.
                type: object
                x-ms-azure-resource: true
                properties:
                  properties:
                    type: object
                    properties:
                      status:
                        type: string
                        description: The ProfessionalService Subscription Status.
                        enum:
                        - NotStarted
                        - PendingFulfillmentStart
                        - Subscribed
                        - Unsubscribed
                        - Suspended
                        x-ms-enum:
                          name: ProfessionalServiceResourceStatus
                          modelAsString: true
                      term:
                        type: object
                        description: The current Term object.
                        properties:
                          termUnit:
                            type: string
                            description: The unit term eg P1M,P1Y,P2Y,P3Y meaning
                              month,1year,2year,3year respectively
                          startDate:
                            type: string
                            description: The start date of the current term
                          endDate:
                            type: string
                            description: The end date of the current term
                      billingPeriod:
                        type: string
                        description: The billing period eg P1M,P1Y for monthly,yearly
                          respectively
                      isFreeTrial:
                        type: boolean
                        description: Whether the current term is a Free Trial term
                      paymentChannelType:
                        type: string
                        description: The Payment channel for the ProfessionalServiceSubscription.
                        enum:
                        - SubscriptionDelegated
                        - CustomerDelegated
                        x-ms-enum:
                          name: paymentChannelType
                          modelAsString: true
                      paymentChannelMetadata:
                        type: object
                        description: The metadata about the ProfessionalService subscription
                          such as the AzureSubscriptionId and ResourceUri.
                        additionalProperties:
                          type: string
                      created:
                        type: string
                        description: The created date of this resource.
                        readOnly: true
                      lastModified:
                        type: string
                        description: The last modifier date if this resource.
                      offerId:
                        type: string
                        description: The offer id.
                      publisherId:
                        type: string
                        description: The publisher id.
                      skuId:
                        type: string
                        description: The plan id.
                      autoRenew:
                        type: boolean
                        description: Whether the ProfessionalService subscription
                          will auto renew upon term end.
                      quoteId:
                        type: string
                        description: The quote id which the ProfessionalService will
                          be purchase with.
                      storeFront:
                        type: string
                        description: The store front which initiates the purchase.
                      termUnit:
                        type: string
                        description: The unit term eg P1M,P1Y,P2Y,P3Y meaning month,1year,2year,3year
                          respectively
                    description: professionalService resource properties
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  id:
                    description: The resource uri
                    type: string
                    readOnly: true
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  tags:
                    description: the resource tags.
                    type: object
                    additionalProperties:
                      type: string
        '202':
          description: Accepted and the operation will complete asynchronously.
          headers:
            Location:
              description: The URL to check the status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: The amount of delay to use while the status of the operation
                is checked. The value is expressed in seconds.
              schema:
                type: integer
                format: int32
        default:
          description: A response indicating an error.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    delete:
      tags:
      - SubscriptionLevelProfessionalServiceResources
      operationId: ProfessionalServiceSubscriptionLevel_Delete
      description: Deletes the specified ProfessionalService.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceName
        in: path
        required: true
        description: The name of the resource.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-_.()]{0,63}[a-zA-Z0-9-_()]$
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: The API version to be used with the HTTP request.
        schema:
          type: string
      responses:
        '200':
          description: Delete Operation completed successfully.
        '202':
          description: Accepted and the operation will complete asynchronously.
          headers:
            Location:
              description: The URL to check the status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: The amount of delay to use while the status of the operation
                is checked. The value is expressed in seconds.
              schema:
                type: integer
                format: int32
        '204':
          description: Delete operation completed successfully.
        default:
          description: A response indicating an error.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProfessionalService/resources/{resourceName}/unsubscribe
  : post:
      tags:
      - SubscriptionLevelProfessionalServiceResources
      operationId: ProfessionalServiceSubscriptionLevel_UpdateToUnsubscribed
      description: Unsubscribe from a specified Subscription Level ProfessionalService.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceName
        in: path
        required: true
        description: The name of the resource.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-_.()]{0,63}[a-zA-Z0-9-_()]$
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: The API version to be used with the HTTP request.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: delete Options
              type: object
              properties:
                unsubscribeOnly:
                  type: boolean
                  description: whether it is unsubscribeOnly
                reasonCode:
                  type: number
                  description: The reasonCode
                feedback:
                  type: string
                  description: the feedback
        description: Parameters supplied to unsubscribe ProfessionalService operation.
        required: true
      responses:
        '200':
          description: Unsubscribe operation completed successfully.
        '202':
          description: Accepted and the operation will complete asynchronously.
          headers:
            Location:
              description: The URL to check the status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: The amount of delay to use while the status of the operation
                is checked. The value is expressed in seconds.
              schema:
                type: integer
                format: int32
        '204':
          description: Unsubscribe operation completed successfully.
        default:
          description: A response indicating an error.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  /providers/Microsoft.ProfessionalService/operationResults/{operationId}:
    get:
      tags:
      - ProfessionalServiceOperations
      operationId: ProfessionalServiceOperation_Get
      description: Gets information about the specified operation progress.
      parameters:
      - name: operationId
        in: path
        required: true
        description: the operation Id parameter.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: The API version to be used with the HTTP request.
        schema:
          type: string
      responses:
        '200':
          description: Operation ended successfully. The request returns the updated
            ProfessionalService resource.
          content:
            application/json:
              schema:
                description: ProfessionalService REST API resource definition.
                type: object
                x-ms-azure-resource: true
                properties:
                  properties:
                    type: object
                    properties:
                      status:
                        type: string
                        description: The ProfessionalService Subscription Status.
                        enum:
                        - NotStarted
                        - PendingFulfillmentStart
                        - Subscribed
                        - Unsubscribed
                        - Suspended
                        x-ms-enum:
                          name: ProfessionalServiceResourceStatus
                          modelAsString: true
                      term:
                        type: object
                        description: The current Term object.
                        properties:
                          termUnit:
                            type: string
                            description: The unit term eg P1M,P1Y,P2Y,P3Y meaning
                              month,1year,2year,3year respectively
                          startDate:
                            type: string
                            description: The start date of the current term
                          endDate:
                            type: string
                            description: The end date of the current term
                      billingPeriod:
                        type: string
                        description: The billing period eg P1M,P1Y for monthly,yearly
                          respectively
                      isFreeTrial:
                        type: boolean
                        description: Whether the current term is a Free Trial term
                      paymentChannelType:
                        type: string
                        description: The Payment channel for the ProfessionalServiceSubscription.
                        enum:
                        - SubscriptionDelegated
                        - CustomerDelegated
                        x-ms-enum:
                          name: paymentChannelType
                          modelAsString: true
                      paymentChannelMetadata:
                        type: object
                        description: The metadata about the ProfessionalService subscription
                          such as the AzureSubscriptionId and ResourceUri.
                        additionalProperties:
                          type: string
                      created:
                        type: string
                        description: The created date of this resource.
                        readOnly: true
                      lastModified:
                        type: string
                        description: The last modifier date if this resource.
                      offerId:
                        type: string
                        description: The offer id.
                      publisherId:
                        type: string
                        description: The publisher id.
                      skuId:
                        type: string
                        description: The plan id.
                      autoRenew:
                        type: boolean
                        description: Whether the ProfessionalService subscription
                          will auto renew upon term end.
                      quoteId:
                        type: string
                        description: The quote id which the ProfessionalService will
                          be purchase with.
                      storeFront:
                        type: string
                        description: The store front which initiates the purchase.
                      termUnit:
                        type: string
                        description: The unit term eg P1M,P1Y,P2Y,P3Y meaning month,1year,2year,3year
                          respectively
                    description: professionalService resource properties
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  id:
                    description: The resource uri
                    type: string
                    readOnly: true
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  tags:
                    description: the resource tags.
                    type: object
                    additionalProperties:
                      type: string
        '202':
          description: Accepted and the operation will complete asynchronously.
          headers:
            Location:
              description: The URL to check the status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: The amount of delay to use while the status of the operation
                is checked. The value is expressed in seconds.
              schema:
                type: integer
                format: int32
        default:
          description: A response indicating an error.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  /providers/Microsoft.ProfessionalService/operations:
    get:
      tags:
      - ProfessionalServiceResources
      operationId: operations_List
      description: Gets all ProfessionalService app operations.
      parameters:
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: The API version to be used with the HTTP request.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: professionalService app operation response with continuation.
                type: object
                properties:
                  nextLink:
                    description: the next link to query to get the remaining results.
                    type: string
                  value:
                    description: the value of response.
                    type: array
                    x-ms-identifiers: []
                    items:
                      description: professionalService app operations
                      type: object
                      properties:
                        name:
                          description: the operation name
                          type: string
                        display:
                          description: the operation display
                          type: object
                          properties:
                            provider:
                              description: Name of the provider for display purposes
                              type: string
                            resource:
                              description: Name of the resource type for display purposes
                              type: string
                            operation:
                              description: Name of the operation for display purposes
                              type: string
                            description:
                              description: Description of the operation for display
                                purposes
                              type: string
                        origin:
                          description: the operation origin
                          type: string
                        isDataAction:
                          description: whether the operation is a data action or not.
                          type: boolean
        default:
          description: A response indicating an error.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000)
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      x-ms-parameter-location: client
      description: The API version to be used with the HTTP request.
      schema:
        type: string
    OperationIdParameter:
      name: operationId
      in: path
      required: true
      description: the operation Id parameter.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceNameParameter:
      name: resourceName
      in: path
      required: true
      description: The name of the resource.
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9-_.()]{0,63}[a-zA-Z0-9-_()]$
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ProfessionalServiceAppOperationsResponseWithContinuation:
      description: professionalService app operation response with continuation.
      type: object
      properties:
        nextLink:
          description: the next link to query to get the remaining results.
          type: string
        value:
          description: the value of response.
          type: array
          x-ms-identifiers: []
          items:
            description: professionalService app operations
            type: object
            properties:
              name:
                description: the operation name
                type: string
              display:
                description: the operation display
                type: object
                properties:
                  provider:
                    description: Name of the provider for display purposes
                    type: string
                  resource:
                    description: Name of the resource type for display purposes
                    type: string
                  operation:
                    description: Name of the operation for display purposes
                    type: string
                  description:
                    description: Description of the operation for display purposes
                    type: string
              origin:
                description: the operation origin
                type: string
              isDataAction:
                description: whether the operation is a data action or not.
                type: boolean
    ProfessionalServiceAppOperation:
      description: professionalService app operations
      type: object
      properties:
        name:
          description: the operation name
          type: string
        display:
          description: the operation display
          type: object
          properties:
            provider:
              description: Name of the provider for display purposes
              type: string
            resource:
              description: Name of the resource type for display purposes
              type: string
            operation:
              description: Name of the operation for display purposes
              type: string
            description:
              description: Description of the operation for display purposes
              type: string
        origin:
          description: the operation origin
          type: string
        isDataAction:
          description: whether the operation is a data action or not.
          type: boolean
    ProfessionalServiceAppOperationDisplay:
      description: ProfessionalService app operation display
      type: object
      properties:
        provider:
          description: Name of the provider for display purposes
          type: string
        resource:
          description: Name of the resource type for display purposes
          type: string
        operation:
          description: Name of the operation for display purposes
          type: string
        description:
          description: Description of the operation for display purposes
          type: string
    ProfessionalServiceResource:
      description: ProfessionalService REST API resource definition.
      type: object
      x-ms-azure-resource: true
      properties:
        properties:
          type: object
          properties:
            status:
              type: string
              description: The ProfessionalService Subscription Status.
              enum:
              - NotStarted
              - PendingFulfillmentStart
              - Subscribed
              - Unsubscribed
              - Suspended
              x-ms-enum:
                name: ProfessionalServiceResourceStatus
                modelAsString: true
            term:
              type: object
              description: The current Term object.
              properties:
                termUnit:
                  type: string
                  description: The unit term eg P1M,P1Y,P2Y,P3Y meaning month,1year,2year,3year
                    respectively
                startDate:
                  type: string
                  description: The start date of the current term
                endDate:
                  type: string
                  description: The end date of the current term
            billingPeriod:
              type: string
              description: The billing period eg P1M,P1Y for monthly,yearly respectively
            isFreeTrial:
              type: boolean
              description: Whether the current term is a Free Trial term
            paymentChannelType:
              type: string
              description: The Payment channel for the ProfessionalServiceSubscription.
              enum:
              - SubscriptionDelegated
              - CustomerDelegated
              x-ms-enum:
                name: paymentChannelType
                modelAsString: true
            paymentChannelMetadata:
              type: object
              description: The metadata about the ProfessionalService subscription
                such as the AzureSubscriptionId and ResourceUri.
              additionalProperties:
                type: string
            created:
              type: string
              description: The created date of this resource.
              readOnly: true
            lastModified:
              type: string
              description: The last modifier date if this resource.
            offerId:
              type: string
              description: The offer id.
            publisherId:
              type: string
              description: The publisher id.
            skuId:
              type: string
              description: The plan id.
            autoRenew:
              type: boolean
              description: Whether the ProfessionalService subscription will auto
                renew upon term end.
            quoteId:
              type: string
              description: The quote id which the ProfessionalService will be purchase
                with.
            storeFront:
              type: string
              description: The store front which initiates the purchase.
            termUnit:
              type: string
              description: The unit term eg P1M,P1Y,P2Y,P3Y meaning month,1year,2year,3year
                respectively
          description: professionalService resource properties
        name:
          type: string
          description: The name of the resource
          readOnly: true
        id:
          description: The resource uri
          type: string
          readOnly: true
        type:
          readOnly: true
          type: string
          description: Resource type.
        tags:
          description: the resource tags.
          type: object
          additionalProperties:
            type: string
    ProfessionalServiceResourceCreation:
      description: ProfessionalService REST API resource definition for creation.
      type: object
      properties:
        id:
          description: The resource uri
          type: string
          readOnly: true
        name:
          description: The resource name
          type: string
        type:
          readOnly: true
          type: string
          description: Resource type.
        tags:
          description: the resource tags.
          type: object
          additionalProperties:
            type: string
        location:
          type: string
          description: Resource location. Only value allowed for ProfessionalService
            is 'global'
        properties:
          description: Properties of the ProfessionalService resource that are relevant
            for creation.
          type: object
          properties:
            offerId:
              type: string
              description: The offer id.
            publisherId:
              type: string
              description: The publisher id.
            skuId:
              type: string
              description: The plan id.
            autoRenew:
              type: boolean
              description: Whether the ProfessionalService subscription will auto
                renew upon term end.
            quoteId:
              type: string
              description: The quote id which the ProfessionalService will be purchase
                with.
            storeFront:
              type: string
              description: The store front which initiates the purchase.
            termUnit:
              type: string
              description: The unit term eg P1M,P1Y,P2Y,P3Y meaning month,1year,2year,3year
                respectively
            billingPeriod:
              type: string
              description: The billing period eg P1M,P1Y for monthly,yearly respectively
    ProfessionalServiceProperties:
      type: object
      description: professionalService resource properties
      properties:
        status:
          type: string
          description: The ProfessionalService Subscription Status.
          enum:
          - NotStarted
          - PendingFulfillmentStart
          - Subscribed
          - Unsubscribed
          - Suspended
          x-ms-enum:
            name: ProfessionalServiceResourceStatus
            modelAsString: true
        term:
          type: object
          description: The current Term object.
          properties:
            termUnit:
              type: string
              description: The unit term eg P1M,P1Y,P2Y,P3Y meaning month,1year,2year,3year
                respectively
            startDate:
              type: string
              description: The start date of the current term
            endDate:
              type: string
              description: The end date of the current term
        billingPeriod:
          type: string
          description: The billing period eg P1M,P1Y for monthly,yearly respectively
        isFreeTrial:
          type: boolean
          description: Whether the current term is a Free Trial term
        paymentChannelType:
          type: string
          description: The Payment channel for the ProfessionalServiceSubscription.
          enum:
          - SubscriptionDelegated
          - CustomerDelegated
          x-ms-enum:
            name: paymentChannelType
            modelAsString: true
        paymentChannelMetadata:
          type: object
          description: The metadata about the ProfessionalService subscription such
            as the AzureSubscriptionId and ResourceUri.
          additionalProperties:
            type: string
        created:
          type: string
          description: The created date of this resource.
          readOnly: true
        lastModified:
          type: string
          description: The last modifier date if this resource.
    ProfessionalServiceCreationProperties:
      type: object
      description: properties for creation professionalService
      properties:
        offerId:
          type: string
          description: The offer id.
        publisherId:
          type: string
          description: The publisher id.
        skuId:
          type: string
          description: The plan id.
        autoRenew:
          type: boolean
          description: Whether the ProfessionalService subscription will auto renew
            upon term end.
        quoteId:
          type: string
          description: The quote id which the ProfessionalService will be purchase
            with.
        storeFront:
          type: string
          description: The store front which initiates the purchase.
        termUnit:
          type: string
          description: The unit term eg P1M,P1Y,P2Y,P3Y meaning month,1year,2year,3year
            respectively
        billingPeriod:
          type: string
          description: The billing period eg P1M,P1Y for monthly,yearly respectively
    AccessTokenResult:
      description: the ISV access token result response.
      type: object
      properties:
        publisherOfferBaseUri:
          description: The Publisher Offer Base Uri
          type: string
        token:
          description: The generated token
          type: string
    ProfessionalServiceAppResponseWithContinuation:
      description: professionalService app response with continuation.
      type: object
      properties:
        nextLink:
          description: the next link to query to get the remaining results.
          type: string
        value:
          description: the value of response.
          type: array
          items:
            description: the professionalServiceApp resource.
            type: object
            properties:
              id:
                description: the resource Id.
                type: string
                readOnly: true
              location:
                description: the resource location.
                type: string
              name:
                description: the resource name.
                type: string
              type:
                description: the resource type.
                type: string
              properties:
                description: the resource properties.
                type: object
                properties:
                  status:
                    type: string
                    description: the ProfessionalService resource status.
                    enum:
                    - Pending
                    - Subscribed
                    - Unsubscribed
                    - Suspended
                    - Deactivated
                    x-ms-enum:
                      name: ProfessionalServiceAppStatus
                      modelAsString: true
                  professionalServiceAppPlan:
                    description: the resource plan details.
                    type: object
                    properties:
                      publisher:
                        description: the publisher id.
                        type: string
                      product:
                        description: the offer id.
                        type: string
                      name:
                        description: the plan id.
                        type: string
              tags:
                description: the resource tags.
                type: object
                additionalProperties:
                  type: string
    ProfessionalServiceResourceResponseWithContinuation:
      description: professionalService resources response with continuation.
      type: object
      properties:
        nextLink:
          description: the next link to query to get the remaining results.
          type: string
        value:
          description: the value of response.
          type: array
          items:
            description: ProfessionalService REST API resource definition.
            type: object
            x-ms-azure-resource: true
            properties:
              properties:
                type: object
                properties:
                  status:
                    type: string
[...]
