openapi: 3.0.0
info:
  title: Dynatrace.Observability
  version: 2024-04-24
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Monitors
- name: Operations
- name: TagRules
- name: SingleSignOn
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Dynatrace.Observability/monitors/{monitorName}/listMonitoredResources
  : post:
      operationId: Monitors_ListMonitoredResources
      summary: List the resources currently being monitored by the Dynatrace monitor
        resource.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - x-ms-parameter-location: method
        name: monitorName
        in: path
        required: true
        description: Monitor resource name
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_-]*$
      requestBody:
        content:
          application/json:
            schema:
              description: Request for getting log status for given monitored resource
                Ids
              type: object
              properties:
                monitoredResourceIds:
                  type: array
                  items:
                    type: string
                  description: List of azure resource Id of monitored resources for
                    which we get the log status
        description: The details of the log status request.
        x-ms-parameter-location: method
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The ARM id of the resource.
                        sendingMetrics:
                          description: Flag indicating if resource is sending metrics
                            to Dynatrace.
                          type: string
                          enum:
                          - Enabled
                          - Disabled
                          x-ms-enum:
                            name: SendingMetricsStatus
                            modelAsString: true
                        reasonForMetricsStatus:
                          type: string
                          description: Reason for why the resource is sending metrics
                            (or why it is not sending).
                        sendingLogs:
                          description: Flag indicating if resource is sending logs
                            to Dynatrace.
                          type: string
                          enum:
                          - Enabled
                          - Disabled
                          x-ms-enum:
                            name: SendingLogsStatus
                            modelAsString: true
                        reasonForLogsStatus:
                          type: string
                          description: Reason for why the resource is sending logs
                            (or why it is not sending).
                      description: Details of resource being monitored by Dynatrace
                        monitor resource
                    x-cadl-name: MonitoredResource[]
                    description: The items on this page
                  nextLink:
                    type: string
                    description: The link to the next page of items
                description: List of all the resources being monitored by Dynatrace
                  monitor resource
        default:
          description: Common error response for all Azure Resource Manager APIs to
            return error details for failed operations.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      tags:
      - Monitors
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Dynatrace.Observability/monitors/{monitorName}/monitoredSubscriptions
  : get:
      tags:
      - monitoredSubscriptions
      summary: List the subscriptions currently being monitored by the Dynatrace monitor
        resource.
      operationId: MonitoredSubscriptions_List
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - x-ms-parameter-location: method
        name: monitorName
        in: path
        required: true
        description: Monitor resource name
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_-]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      description: The request to update subscriptions needed to be
                        monitored by the Dynatrace monitor resource.
                      type: object
                      x-ms-azure-resource: true
                      properties:
                        name:
                          description: Name of the monitored subscription resource.
                          type: string
                          readOnly: true
                        id:
                          description: The id of the monitored subscription resource.
                          type: string
                          readOnly: true
                        type:
                          description: The type of the monitored subscription resource.
                          type: string
                          readOnly: true
                        properties:
                          description: The request to update subscriptions needed
                            to be monitored by the Dynatrace monitor resource.
                          type: object
                          properties:
                            operation:
                              description: The operation for the patch on the resource.
                              enum:
                              - AddBegin
                              - AddComplete
                              - DeleteBegin
                              - DeleteComplete
                              - Active
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: SubscriptionListOperation
                              x-ms-mutability:
                              - create
                              - update
                            monitoredSubscriptionList:
                              description: List of subscriptions and the state of
                                the monitoring.
                              type: array
                              items:
                                description: The list of subscriptions and it's monitoring
                                  status by current Dynatrace monitor.
                                type: object
                                properties:
                                  subscriptionId:
                                    description: The subscriptionId to be monitored.
                                    type: string
                                  status:
                                    description: The state of monitoring.
                                    enum:
                                    - InProgress
                                    - Active
                                    - Failed
                                    - Deleting
                                    x-ms-enum:
                                      modelAsString: true
                                      name: Status
                                    type: string
                                  error:
                                    description: The reason of not monitoring the
                                      subscription.
                                    type: string
                                  tagRules:
                                    type: object
                                    properties:
                                      logRules:
                                        description: Set of rules for sending logs
                                          for the Monitor resource.
                                        type: object
                                        properties:
                                          sendAadLogs:
                                            description: Flag specifying if AAD logs
                                              should be sent for the Monitor resource.
                                            type: string
                                            enum:
                                            - Enabled
                                            - Disabled
                                            x-ms-enum:
                                              name: SendAadLogsStatus
                                              modelAsString: true
                                          sendSubscriptionLogs:
                                            description: Flag specifying if subscription
                                              logs should be sent for the Monitor
                                              resource.
                                            type: string
                                            enum:
                                            - Enabled
                                            - Disabled
                                            x-ms-enum:
                                              name: SendSubscriptionLogsStatus
                                              modelAsString: true
                                          sendActivityLogs:
                                            description: Flag specifying if activity
                                              logs from Azure resources should be
                                              sent for the Monitor resource.
                                            type: string
                                            enum:
                                            - Enabled
                                            - Disabled
                                            x-ms-enum:
                                              name: SendActivityLogsStatus
                                              modelAsString: true
                                          filteringTags:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                name:
                                                  type: string
                                                  description: The name (also known
                                                    as the key) of the tag.
                                                value:
                                                  type: string
                                                  description: The value of the tag.
                                                action:
                                                  description: Valid actions for a
                                                    filtering tag. Exclusion takes
                                                    priority over inclusion.
                                                  type: string
                                                  enum:
                                                  - Include
                                                  - Exclude
                                                  x-ms-enum:
                                                    name: TagAction
                                                    modelAsString: true
                                              description: The definition of a filtering
                                                tag. Filtering tags are used for capturing
                                                resources and include/exclude them
                                                from being monitored.
                                            x-cadl-name: FilteringTag[]
                                            x-ms-identifiers: []
                                            description: 'List of filtering tags to
                                              be used for capturing logs. This only
                                              takes effect if SendActivityLogs flag
                                              is enabled. If empty, all resources
                                              will be captured.

                                              If only Exclude action is specified,
                                              the rules will apply to the list of
                                              all available resources. If Include
                                              actions are specified, the rules will
                                              only include resources with the associated
                                              tags.'
                                      metricRules:
                                        description: Set of rules for sending metrics
                                          for the Monitor resource.
                                        type: object
                                        properties:
                                          sendingMetrics:
                                            description: Flag specifying if metrics
                                              from Azure resources should be sent
                                              for the Monitor resource.
                                            type: string
                                            enum:
                                            - Enabled
                                            - Disabled
                                            x-ms-enum:
                                              name: SendingMetricsStatus
                                              modelAsString: true
                                          filteringTags:
                                            description: List of filtering tags to
                                              be used for capturing metrics. If empty,
                                              all resources will be captured. If only
                                              Exclude action is specified, the rules
                                              will apply to the list of all available
                                              resources. If Include actions are specified,
                                              the rules will only include resources
                                              with the associated tags.
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                name:
                                                  type: string
                                                  description: The name (also known
                                                    as the key) of the tag.
                                                value:
                                                  type: string
                                                  description: The value of the tag.
                                                action:
                                                  description: Valid actions for a
                                                    filtering tag. Exclusion takes
                                                    priority over inclusion.
                                                  type: string
                                                  enum:
                                                  - Include
                                                  - Exclude
                                                  x-ms-enum:
                                                    name: TagAction
                                                    modelAsString: true
                                              description: The definition of a filtering
                                                tag. Filtering tags are used for capturing
                                                resources and include/exclude them
                                                from being monitored.
                                            x-ms-identifiers: []
                                      provisioningState:
                                        description: Provisioning state of the resource.
                                        readOnly: true
                                        type: string
                                        enum:
                                        - Accepted
                                        - Creating
                                        - Updating
                                        - Deleting
                                        - Succeeded
                                        - Failed
                                        - Canceled
                                        - Deleted
                                        - NotSpecified
                                        x-ms-enum:
                                          name: ProvisioningState
                                          modelAsString: true
                                    description: Properties for the Tag rules resource
                                      of a Monitor account.
                                required:
                                - subscriptionId
                              x-ms-identifiers: []
                            provisioningState:
                              description: Provisioning State of the resource
                              readOnly: true
                              type: string
                              enum:
                              - Accepted
                              - Creating
                              - Updating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Canceled
                              - Deleted
                              - NotSpecified
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                  nextLink:
                    type: string
                    description: The link to the next page of items
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Dynatrace.Observability/monitors/{monitorName}/monitoredSubscriptions/default
  : get:
      tags:
      - monitoredSubscriptions
      summary: List the subscriptions currently being monitored by the Dynatrace monitor
        resource.
      operationId: MonitoredSubscriptions_Get
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - x-ms-parameter-location: method
        name: monitorName
        in: path
        required: true
        description: Monitor resource name
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_-]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: The request to update subscriptions needed to be monitored
                  by the Dynatrace monitor resource.
                type: object
                x-ms-azure-resource: true
                properties:
                  name:
                    description: Name of the monitored subscription resource.
                    type: string
                    readOnly: true
                  id:
                    description: The id of the monitored subscription resource.
                    type: string
                    readOnly: true
                  type:
                    description: The type of the monitored subscription resource.
                    type: string
                    readOnly: true
                  properties:
                    description: The request to update subscriptions needed to be
                      monitored by the Dynatrace monitor resource.
                    type: object
                    properties:
                      operation:
                        description: The operation for the patch on the resource.
                        enum:
                        - AddBegin
                        - AddComplete
                        - DeleteBegin
                        - DeleteComplete
                        - Active
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: SubscriptionListOperation
                        x-ms-mutability:
                        - create
                        - update
                      monitoredSubscriptionList:
                        description: List of subscriptions and the state of the monitoring.
                        type: array
                        items:
                          description: The list of subscriptions and it's monitoring
                            status by current Dynatrace monitor.
                          type: object
                          properties:
                            subscriptionId:
                              description: The subscriptionId to be monitored.
                              type: string
                            status:
                              description: The state of monitoring.
                              enum:
                              - InProgress
                              - Active
                              - Failed
                              - Deleting
                              x-ms-enum:
                                modelAsString: true
                                name: Status
                              type: string
                            error:
                              description: The reason of not monitoring the subscription.
                              type: string
                            tagRules:
                              type: object
                              properties:
                                logRules:
                                  description: Set of rules for sending logs for the
                                    Monitor resource.
                                  type: object
                                  properties:
                                    sendAadLogs:
                                      description: Flag specifying if AAD logs should
                                        be sent for the Monitor resource.
                                      type: string
                                      enum:
                                      - Enabled
                                      - Disabled
                                      x-ms-enum:
                                        name: SendAadLogsStatus
                                        modelAsString: true
                                    sendSubscriptionLogs:
                                      description: Flag specifying if subscription
                                        logs should be sent for the Monitor resource.
                                      type: string
                                      enum:
                                      - Enabled
                                      - Disabled
                                      x-ms-enum:
                                        name: SendSubscriptionLogsStatus
                                        modelAsString: true
                                    sendActivityLogs:
                                      description: Flag specifying if activity logs
                                        from Azure resources should be sent for the
                                        Monitor resource.
                                      type: string
                                      enum:
                                      - Enabled
                                      - Disabled
                                      x-ms-enum:
                                        name: SendActivityLogsStatus
                                        modelAsString: true
                                    filteringTags:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                            description: The name (also known as the
                                              key) of the tag.
                                          value:
                                            type: string
                                            description: The value of the tag.
                                          action:
                                            description: Valid actions for a filtering
                                              tag. Exclusion takes priority over inclusion.
                                            type: string
                                            enum:
                                            - Include
                                            - Exclude
                                            x-ms-enum:
                                              name: TagAction
                                              modelAsString: true
                                        description: The definition of a filtering
                                          tag. Filtering tags are used for capturing
                                          resources and include/exclude them from
                                          being monitored.
                                      x-cadl-name: FilteringTag[]
                                      x-ms-identifiers: []
                                      description: 'List of filtering tags to be used
                                        for capturing logs. This only takes effect
                                        if SendActivityLogs flag is enabled. If empty,
                                        all resources will be captured.

                                        If only Exclude action is specified, the rules
                                        will apply to the list of all available resources.
                                        If Include actions are specified, the rules
                                        will only include resources with the associated
                                        tags.'
                                metricRules:
                                  description: Set of rules for sending metrics for
                                    the Monitor resource.
                                  type: object
                                  properties:
                                    sendingMetrics:
                                      description: Flag specifying if metrics from
                                        Azure resources should be sent for the Monitor
                                        resource.
                                      type: string
                                      enum:
                                      - Enabled
                                      - Disabled
                                      x-ms-enum:
                                        name: SendingMetricsStatus
                                        modelAsString: true
                                    filteringTags:
                                      description: List of filtering tags to be used
                                        for capturing metrics. If empty, all resources
                                        will be captured. If only Exclude action is
                                        specified, the rules will apply to the list
                                        of all available resources. If Include actions
                                        are specified, the rules will only include
                                        resources with the associated tags.
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                            description: The name (also known as the
                                              key) of the tag.
                                          value:
                                            type: string
                                            description: The value of the tag.
                                          action:
                                            description: Valid actions for a filtering
                                              tag. Exclusion takes priority over inclusion.
                                            type: string
                                            enum:
                                            - Include
                                            - Exclude
                                            x-ms-enum:
                                              name: TagAction
                                              modelAsString: true
                                        description: The definition of a filtering
                                          tag. Filtering tags are used for capturing
                                          resources and include/exclude them from
                                          being monitored.
                                      x-ms-identifiers: []
                                provisioningState:
                                  description: Provisioning state of the resource.
                                  readOnly: true
                                  type: string
                                  enum:
                                  - Accepted
                                  - Creating
                                  - Updating
                                  - Deleting
                                  - Succeeded
                                  - Failed
                                  - Canceled
                                  - Deleted
                                  - NotSpecified
                                  x-ms-enum:
                                    name: ProvisioningState
                                    modelAsString: true
                              description: Properties for the Tag rules resource of
                                a Monitor account.
                          required:
                          - subscriptionId
                        x-ms-identifiers: []
                      provisioningState:
                        description: Provisioning State of the resource
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleted
                        - NotSpecified
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - monitoredSubscriptions
      summary: Add the subscriptions that should be monitored by the Dynatrace monitor
        resource.
      operationId: MonitoredSubscriptions_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - x-ms-parameter-location: method
        name: monitorName
        in: path
        required: true
        description: Monitor resource name
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_-]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              description: The request to update subscriptions needed to be monitored
                by the Dynatrace monitor resource.
              type: object
              x-ms-azure-resource: true
              properties:
                name:
                  description: Name of the monitored subscription resource.
                  type: string
                  readOnly: true
                id:
                  description: The id of the monitored subscription resource.
                  type: string
                  readOnly: true
                type:
                  description: The type of the monitored subscription resource.
                  type: string
                  readOnly: true
                properties:
                  description: The request to update subscriptions needed to be monitored
                    by the Dynatrace monitor resource.
                  type: object
                  properties:
                    operation:
                      description: The operation for the patch on the resource.
                      enum:
                      - AddBegin
                      - AddComplete
                      - DeleteBegin
                      - DeleteComplete
                      - Active
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: SubscriptionListOperation
                      x-ms-mutability:
                      - create
                      - update
                    monitoredSubscriptionList:
                      description: List of subscriptions and the state of the monitoring.
                      type: array
                      items:
                        description: The list of subscriptions and it's monitoring
                          status by current Dynatrace monitor.
                        type: object
                        properties:
                          subscriptionId:
                            description: The subscriptionId to be monitored.
                            type: string
                          status:
                            description: The state of monitoring.
                            enum:
                            - InProgress
                            - Active
                            - Failed
                            - Deleting
                            x-ms-enum:
                              modelAsString: true
                              name: Status
                            type: string
                          error:
                            description: The reason of not monitoring the subscription.
                            type: string
                          tagRules:
                            type: object
                            properties:
                              logRules:
                                description: Set of rules for sending logs for the
                                  Monitor resource.
                                type: object
                                properties:
                                  sendAadLogs:
                                    description: Flag specifying if AAD logs should
                                      be sent for the Monitor resource.
                                    type: string
                                    enum:
                                    - Enabled
                                    - Disabled
                                    x-ms-enum:
                                      name: SendAadLogsStatus
                                      modelAsString: true
                                  sendSubscriptionLogs:
                                    description: Flag specifying if subscription logs
                                      should be sent for the Monitor resource.
                                    type: string
                                    enum:
                                    - Enabled
                                    - Disabled
                                    x-ms-enum:
                                      name: SendSubscriptionLogsStatus
                                      modelAsString: true
                                  sendActivityLogs:
                                    description: Flag specifying if activity logs
                                      from Azure resources should be sent for the
                                      Monitor resource.
                                    type: string
                                    enum:
                                    - Enabled
                                    - Disabled
                                    x-ms-enum:
                                      name: SendActivityLogsStatus
                                      modelAsString: true
                                  filteringTags:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                          description: The name (also known as the
                                            key) of the tag.
                                        value:
                                          type: string
                                          description: The value of the tag.
                                        action:
                                          description: Valid actions for a filtering
                                            tag. Exclusion takes priority over inclusion.
                                          type: string
                                          enum:
                                          - Include
                                          - Exclude
                                          x-ms-enum:
                                            name: TagAction
                                            modelAsString: true
                                      description: The definition of a filtering tag.
                                        Filtering tags are used for capturing resources
                                        and include/exclude them from being monitored.
                                    x-cadl-name: FilteringTag[]
                                    x-ms-identifiers: []
                                    description: 'List of filtering tags to be used
                                      for capturing logs. This only takes effect if
                                      SendActivityLogs flag is enabled. If empty,
                                      all resources will be captured.

                                      If only Exclude action is specified, the rules
                                      will apply to the list of all available resources.
                                      If Include actions are specified, the rules
                                      will only include resources with the associated
                                      tags.'
                              metricRules:
                                description: Set of rules for sending metrics for
                                  the Monitor resource.
                                type: object
                                properties:
                                  sendingMetrics:
                                    description: Flag specifying if metrics from Azure
                                      resources should be sent for the Monitor resource.
                                    type: string
                                    enum:
                                    - Enabled
                                    - Disabled
                                    x-ms-enum:
                                      name: SendingMetricsStatus
                                      modelAsString: true
                                  filteringTags:
                                    description: List of filtering tags to be used
                                      for capturing metrics. If empty, all resources
                                      will be captured. If only Exclude action is
                                      specified, the rules will apply to the list
                                      of all available resources. If Include actions
                                      are specified, the rules will only include resources
                                      with the associated tags.
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                          description: The name (also known as the
                                            key) of the tag.
                                        value:
                                          type: string
                                          description: The value of the tag.
                                        action:
                                          description: Valid actions for a filtering
                                            tag. Exclusion takes priority over inclusion.
                                          type: string
                                          enum:
                                          - Include
                                          - Exclude
                                          x-ms-enum:
                                            name: TagAction
                                            modelAsString: true
                                      description: The definition of a filtering tag.
                                        Filtering tags are used for capturing resources
                                        and include/exclude them from being monitored.
                                    x-ms-identifiers: []
                              provisioningState:
                                description: Provisioning state of the resource.
                                readOnly: true
                                type: string
                                enum:
                                - Accepted
                                - Creating
                                - Updating
                                - Deleting
                                - Succeeded
                                - Failed
                                - Canceled
                                - Deleted
                                - NotSpecified
                                x-ms-enum:
                                  name: ProvisioningState
                                  modelAsString: true
                            description: Properties for the Tag rules resource of
                              a Monitor account.
                        required:
                        - subscriptionId
                      x-ms-identifiers: []
                    provisioningState:
                      description: Provisioning State of the resource
                      readOnly: true
                      type: string
                      enum:
                      - Accepted
                      - Creating
                      - Updating
                      - Deleting
                      - Succeeded
                      - Failed
                      - Canceled
                      - Deleted
                      - NotSpecified
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: The request to update subscriptions needed to be monitored
                  by the Dynatrace monitor resource.
                type: object
                x-ms-azure-resource: true
                properties:
                  name:
                    description: Name of the monitored subscription resource.
                    type: string
                    readOnly: true
                  id:
                    description: The id of the monitored subscription resource.
                    type: string
                    readOnly: true
                  type:
                    description: The type of the monitored subscription resource.
                    type: string
                    readOnly: true
                  properties:
                    description: The request to update subscriptions needed to be
                      monitored by the Dynatrace monitor resource.
                    type: object
                    properties:
                      operation:
                        description: The operation for the patch on the resource.
                        enum:
                        - AddBegin
                        - AddComplete
                        - DeleteBegin
                        - DeleteComplete
                        - Active
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: SubscriptionListOperation
                        x-ms-mutability:
                        - create
                        - update
                      monitoredSubscriptionList:
                        description: List of subscriptions and the state of the monitoring.
                        type: array
                        items:
                          description: The list of subscriptions and it's monitoring
                            status by current Dynatrace monitor.
                          type: object
                          properties:
                            subscriptionId:
                              description: The subscriptionId to be monitored.
                              type: string
                            status:
                              description: The state of monitoring.
                              enum:
                              - InProgress
                              - Active
                              - Failed
                              - Deleting
                              x-ms-enum:
                                modelAsString: true
                                name: Status
                              type: string
                            error:
                              description: The reason of not monitoring the subscription.
                              type: string
                            tagRules:
                              type: object
                              properties:
                                logRules:
                                  description: Set of rules for sending logs for the
                                    Monitor resource.
                                  type: object
                                  properties:
                                    sendAadLogs:
                                      description: Flag specifying if AAD logs should
                                        be sent for the Monitor resource.
                                      type: string
                                      enum:
                                      - Enabled
                                      - Disabled
                                      x-ms-enum:
                                        name: SendAadLogsStatus
                                        modelAsString: true
                                    sendSubscriptionLogs:
                                      description: Flag specifying if subscription
                                        logs should be sent for the Monitor resource.
                                      type: string
                                      enum:
                                      - Enabled
                                      - Disabled
                                      x-ms-enum:
                                        name: SendSubscriptionLogsStatus
                                        modelAsString: true
                                    sendActivityLogs:
                                      description: Flag specifying if activity logs
                                        from Azure resources should be sent for the
                                        Monitor resource.
                                      type: string
                                      enum:
                                      - Enabled
                                      - Disabled
                                      x-ms-enum:
                                        name: SendActivityLogsStatus
                                        modelAsString: true
                                    filteringTags:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                            description: The name (also known as the
                                              key) of the tag.
                                          value:
                                            type: string
                                            description: The value of the tag.
                                          action:
                                            description: Valid actions for a filtering
                                              tag. Exclusion takes priority over inclusion.
                                            type: string
                                            enum:
                                            - Include
                                            - Exclude
                                            x-ms-enum:
                                              name: TagAction
                                              modelAsString: true
                                        description: The definition of a filtering
                                          tag. Filtering tags are used for capturing
                                          resources and include/exclude them from
                                          being monitored.
                                      x-cadl-name: FilteringTag[]
                                      x-ms-identifiers: []
                                      description: 'List of filtering tags to be used
                                        for capturing logs. This only takes effect
                                        if SendActivityLogs flag is enabled. If empty,
                                        all resources will be captured.

                                        If only Exclude action is specified, the rules
                                        will apply to the list of all available resources.
                                        If Include actions are specified, the rules
                                        will only include resources with the associated
                                        tags.'
                                metricRules:
                                  description: Set of rules for sending metrics for
                                    the Monitor resource.
                                  type: object
                                  properties:
                                    sendingMetrics:
                                      description: Flag specifying if metrics from
                                        Azure resources should be sent for the Monitor
                                        resource.
                                      type: string
                                      enum:
                                      - Enabled
                                      - Disabled
                                      x-ms-enum:
                                        name: SendingMetricsStatus
                                        modelAsString: true
                                    filteringTags:
                                      description: List of filtering tags to be used
                                        for capturing metrics. If empty, all resources
                                        will be captured. If only Exclude action is
                                        specified, the rules will apply to the list
                                        of all available resources. If Include actions
                                        are specified, the rules will only include
                                        resources with the associated tags.
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                            description: The name (also known as the
                                              key) of the tag.
                                          value:
                                            type: string
                                            description: The value of the tag.
                                          action:
                                            description: Valid actions for a filtering
                                              tag. Exclusion takes priority over inclusion.
                                            type: string
                                            enum:
                                            - Include
                                            - Exclude
                                            x-ms-enum:
                                              name: TagAction
                                              modelAsString: true
                                        description: The definition of a filtering
                                          tag. Filtering tags are used for capturing
                                          resources and include/exclude them from
                                          being monitored.
                                      x-ms-identifiers: []
                                provisioningState:
                                  description: Provisioning state of the resource.
                                  readOnly: true
                                  type: string
                                  enum:
                                  - Accepted
                                  - Creating
                                  - Updating
                                  - Deleting
                                  - Succeeded
                                  - Failed
                                  - Canceled
                                  - Deleted
                                  - NotSpecified
                                  x-ms-enum:
                                    name: ProvisioningState
                                    modelAsString: true
                              description: Properties for the Tag rules resource of
                                a Monitor account.
                          required:
                          - subscriptionId
                        x-ms-identifiers: []
                      provisioningState:
                        description: Provisioning State of the resource
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleted
                        - NotSpecified
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
        '201':
          description: Success
          content:
            application/json:
              schema:
                description: The request to update subscriptions needed to be monitored
                  by the Dynatrace monitor resource.
                type: object
                x-ms-azure-resource: true
                properties:
                  name:
                    description: Name of the monitored subscription resource.
                    type: string
                    readOnly: true
                  id:
                    description: The id of the monitored subscription resource.
                    type: string
                    readOnly: true
                  type:
                    description: The type of the monitored subscription resource.
                    type: string
                    readOnly: true
                  properties:
                    description: The request to update subscriptions needed to be
                      monitored by the Dynatrace monitor resource.
                    type: object
                    properties:
                      operation:
                        description: The operation for the patch on the resource.
                        enum:
                        - AddBegin
                        - AddComplete
                        - DeleteBegin
                        - DeleteComplete
                        - Active
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: SubscriptionListOperation
                        x-ms-mutability:
                        - create
                        - update
                      monitoredSubscriptionList:
                        description: List of subscriptions and the state of the monitoring.
                        type: array
                        items:
                          description: The list of subscriptions and it's monitoring
                            status by current Dynatrace monitor.
                          type: object
                          properties:
                            subscriptionId:
                              description: The subscriptionId to be monitored.
                              type: string
                            status:
                              description: The state of monitoring.
                              enum:
                              - InProgress
                              - Active
                              - Failed
                              - Deleting
                              x-ms-enum:
                                modelAsString: true
                                name: Status
                              type: string
                            error:
                              description: The reason of not monitoring the subscription.
                              type: string
                            tagRules:
                              type: object
                              properties:
                                logRules:
                                  description: Set of rules for sending logs for the
                                    Monitor resource.
                                  type: object
                                  properties:
                                    sendAadLogs:
                                      description: Flag specifying if AAD logs should
                                        be sent for the Monitor resource.
                                      type: string
                                      enum:
                                      - Enabled
                                      - Disabled
                                      x-ms-enum:
                                        name: SendAadLogsStatus
                                        modelAsString: true
                                    sendSubscriptionLogs:
                                      description: Flag specifying if subscription
                                        logs should be sent for the Monitor resource.
                                      type: string
                                      enum:
                                      - Enabled
                                      - Disabled
                                      x-ms-enum:
                                        name: SendSubscriptionLogsStatus
                                        modelAsString: true
                                    sendActivityLogs:
                                      description: Flag specifying if activity logs
                                        from Azure resources should be sent for the
                                        Monitor resource.
                                      type: string
                                      enum:
                                      - Enabled
                                      - Disabled
                                      x-ms-enum:
                                        name: SendActivityLogsStatus
                                        modelAsString: true
                                    filteringTags:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                            description: The name (also known as the
                                              key) of the tag.
                                          value:
                                            type: string
                                            description: The value of the tag.
                                          action:
                                            description: Valid actions for a filtering
                                              tag. Exclusion takes priority over inclusion.
                                            type: string
                                            enum:
                                            - Include
                                            - Exclude
                                            x-ms-enum:
                                              name: TagAction
                                              modelAsString: true
                                        description: The definition of a filtering
                                          tag. Filtering tags are used for capturing
                                          resources and include/exclude them from
                                          being monitored.
                                      x-cadl-name: FilteringTag[]
                                      x-ms-identifiers: []
                                      description: 'List of filtering tags to be used
                                        for capturing logs. This only takes effect
                                        if SendActivityLogs flag is enabled. If empty,
                                        all resources will be captured.

                                        If only Exclude action is specified, the rules
                                        will apply to the list of all available resources.
                                        If Include actions are specified, the rules
                                        will only include resources with the associated
                                        tags.'
                                metricRules:
                                  description: Set of rules for sending metrics for
                                    the Monitor resource.
                                  type: object
                                  properties:
                                    sendingMetrics:
                                      description: Flag specifying if metrics from
                                        Azure resources should be sent for the Monitor
                                        resource.
                                      type: string
                                      enum:
                                      - Enabled
                                      - Disabled
                                      x-ms-enum:
                                        name: SendingMetricsStatus
                                        modelAsString: true
                                    filteringTags:
                                      description: List of filtering tags to be used
                                        for capturing metrics. If empty, all resources
                                        will be captured. If only Exclude action is
                                        specified, the rules will apply to the list
                                        of all available resources. If Include actions
                                        are specified, the rules will only include
                                        resources with the associated tags.
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                            description: The name (also known as the
                                              key) of the tag.
                                          value:
                                            type: string
                                            description: The value of the tag.
                                          action:
                                            description: Valid actions for a filtering
                                              tag. Exclusion takes priority over inclusion.
                                            type: string
                                            enum:
                                            - Include
                                            - Exclude
                                            x-ms-enum:
                                              name: TagAction
                                              modelAsString: true
                                        description: The definition of a filtering
                                          tag. Filtering tags are used for capturing
                                          resources and include/exclude them from
                                          being monitored.
                                      x-ms-identifiers: []
                                provisioningState:
                                  description: Provisioning state of the resource.
                                  readOnly: true
                                  type: string
                                  enum:
                                  - Accepted
                                  - Creating
                                  - Updating
                                  - Deleting
                                  - Succeeded
                                  - Failed
                                  - Canceled
                                  - Deleted
                                  - NotSpecified
                                  x-ms-enum:
                                    name: ProvisioningState
                                    modelAsString: true
                              description: Properties for the Tag rules resource of
                                a Monitor account.
                          required:
                          - subscriptionId
                        x-ms-identifiers: []
                      provisioningState:
                        description: Provisioning State of the resource
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleted
                        - NotSpecified
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    patch:
      tags:
      - monitoredSubscriptions
      summary: Updates the subscriptions that are being monitored by the Dynatrace
        monitor resource
      operationId: MonitoredSubscriptions_Update
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - x-ms-parameter-location: method
        name: monitorName
        in: path
        required: true
        description: Monitor resource name
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_-]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              description: The request to update subscriptions needed to be monitored
                by the Dynatrace monitor resource.
              type: object
              x-ms-azure-resource: true
              properties:
                name:
                  description: Name of the monitored subscription resource.
                  type: string
                  readOnly: true
                id:
                  description: The id of the monitored subscription resource.
                  type: string
                  readOnly: true
                type:
                  description: The type of the monitored subscription resource.
                  type: string
                  readOnly: true
                properties:
                  description: The request to update subscriptions needed to be monitored
                    by the Dynatrace monitor resource.
                  type: object
                  properties:
                    operation:
                      description: The operation for the patch on the resource.
                      enum:
                      - AddBegin
                      - AddComplete
                      - DeleteBegin
                      - DeleteComplete
                      - Active
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: SubscriptionListOperation
                      x-ms-mutability:
                      - create
                      - update
                    monitoredSubscriptionList:
                      description: List of subscriptions and the state of the monitoring.
                      type: array
                      items:
                        description: The list of subscriptions and it's monitoring
                          status by current Dynatrace monitor.
                        type: object
                        properties:
                          subscriptionId:
                            description: The subscriptionId to be monitored.
                            type: string
                          status:
                            description: The state of monitoring.
                            enum:
                            - InProgress
                            - Active
                            - Failed
                            - Deleting
                            x-ms-enum:
                              modelAsString: true
                              name: Status
                            type: string
                          error:
                            description: The reason of not monitoring the subscription.
                            type: string
                          tagRules:
                            type: object
                            properties:
                              logRules:
                                description: Set of rules for sending logs for the
                                  Monitor resource.
                                type: object
                                properties:
                                  sendAadLogs:
                                    description: Flag specifying if AAD logs should
                                      be sent for the Monitor resource.
                                    type: string
                                    enum:
                                    - Enabled
                                    - Disabled
                                    x-ms-enum:
                                      name: SendAadLogsStatus
                                      modelAsString: true
                                  sendSubscriptionLogs:
                                    description: Flag specifying if subscription logs
                                      should be sent for the Monitor resource.
                                    type: string
                                    enum:
                                    - Enabled
                                    - Disabled
                                    x-ms-enum:
                                      name: SendSubscriptionLogsStatus
                                      modelAsString: true
                                  sendActivityLogs:
                                    description: Flag specifying if activity logs
                                      from Azure resources should be sent for the
                                      Monitor resource.
                                    type: string
                                    enum:
                                    - Enabled
                                    - Disabled
                                    x-ms-enum:
                                      name: SendActivityLogsStatus
                                      modelAsString: true
                                  filteringTags:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                          description: The name (also known as the
                                            key) of the tag.
                                        value:
                                          type: string
                                          description: The value of the tag.
                                        action:
                                          description: Valid actions for a filtering
                                            tag. Exclusion takes priority over inclusion.
                                          type: string
                                          enum:
                                          - Include
                                          - Exclude
                                          x-ms-enum:
                                            name: TagAction
[...]
