openapi: 3.0.0
info:
  title: Azure Dedicated HSM Resource Provider
  description: The Azure management API provides a RESTful set of web services that
    interact with Azure Dedicated HSM RP.
  version: 2021-11-30
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.HardwareSecurityModules/operations:
    get:
      tags:
      - DedicatedHsmOperations
      operationId: Operations_List
      description: Get a list of Dedicated HSM operations.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Result of the request to list Dedicated HSM Provider
                  operations. It contains a list of operations.
                properties:
                  value:
                    type: array
                    items:
                      description: REST API operation
                      type: object
                      properties:
                        name:
                          description: The name of the Dedicated HSM Resource Provider
                            Operation.
                          type: string
                        isDataAction:
                          description: Gets or sets a value indicating whether it
                            is a data plane action
                          type: boolean
                          readOnly: true
                        origin:
                          description: The origin of the operation
                          type: string
                        display:
                          properties:
                            provider:
                              description: The Resource Provider of the operation
                              type: string
                            resource:
                              description: Resource on which the operation is performed.
                              type: string
                            operation:
                              description: 'Operation type: Read, write, delete, etc.'
                              type: string
                            description:
                              description: The object that represents the operation.
                              type: string
                          description: The display string.
                          type: object
                    x-ms-identifiers:
                    - name
                    description: List of Dedicated HSM Resource Provider operations.
        default:
          description: The error response describing why the operation failed.
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The error detail of the operation if any.
                    readOnly: true
                    properties:
                      code:
                        type: string
                        readOnly: true
                        description: The error code.
                      message:
                        type: string
                        readOnly: true
                        description: The error message.
                      innererror:
                        description: Contains more specific error that narrows down
                          the cause. May be null.
                        x-ms-client-name: innerError
                        readOnly: true
                        properties:
                          code:
                            type: string
                            readOnly: true
                            description: The error code.
                          message:
                            type: string
                            readOnly: true
                            description: The error message.
                          innererror:
                            description: Contains more specific error that narrows
                              down the cause. May be null.
                            x-ms-client-name: innerError
                            readOnly: true
                            properties:
                              code:
                                type: string
                                readOnly: true
                                description: The error code.
                              message:
                                type: string
                                readOnly: true
                                description: The error message.
                            type: object
                        type: object
                    type: object
                description: The error exception.
                type: object
      x-ms-pageable: {}
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/{name}
  : put:
      tags:
      - DedicatedHsms
      operationId: DedicatedHsm_CreateOrUpdate
      x-ms-long-running-operation: true
      description: Create or Update a dedicated HSM in the specified subscription.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the Resource Group to which the resource belongs.
        schema:
          type: string
      - name: name
        in: path
        required: true
        description: Name of the dedicated Hsm
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: The Azure Resource Manager resource ID for the dedicated
                    HSM.
                name:
                  readOnly: true
                  type: string
                  description: The name of the dedicated HSM.
                type:
                  readOnly: true
                  type: string
                  description: The resource type of the dedicated HSM.
                location:
                  type: string
                  description: The supported Azure location where the dedicated HSM
                    should be created.
                  x-ms-mutability:
                  - create
                  - read
                sku:
                  description: SKU details
                  type: object
                  properties:
                    name:
                      type: string
                      description: SKU of the dedicated HSM
                      enum:
                      - SafeNet Luna Network HSM A790
                      - payShield10K_LMK1_CPS60
                      - payShield10K_LMK1_CPS250
                      - payShield10K_LMK1_CPS2500
                      - payShield10K_LMK2_CPS60
                      - payShield10K_LMK2_CPS250
                      - payShield10K_LMK2_CPS2500
                      x-ms-enum:
                        name: SkuName
                        modelAsString: true
                        values:
                        - value: SafeNet Luna Network HSM A790
                          description: The dedicated HSM is a Safenet Luna Network
                            HSM A790 device.
                        - value: payShield10K_LMK1_CPS60
                          description: The dedicated HSM is a payShield 10K, model
                            PS10-D, 10Gb Ethernet Hardware Platform device with 1
                            local master key which supports up to 60 calls per second.
                        - value: payShield10K_LMK1_CPS250
                          description: The dedicated HSM is a payShield 10K, model
                            PS10-D, 10Gb Ethernet Hardware Platform device with 1
                            local master key which supports up to 250 calls per second.
                        - value: payShield10K_LMK1_CPS2500
                          description: The dedicated HSM is a payShield 10K, model
                            PS10-D, 10Gb Ethernet Hardware Platform device with 1
                            local master key which supports up to 2500 calls per second.
                        - value: payShield10K_LMK2_CPS60
                          description: The dedicated HSM is a payShield 10K, model
                            PS10-D, 10Gb Ethernet Hardware Platform device with 2
                            local master keys which supports up to 60 calls per second.
                        - value: payShield10K_LMK2_CPS250
                          description: The dedicated HSM is a payShield 10K, model
                            PS10-D, 10Gb Ethernet Hardware Platform device with 2
                            local master keys which supports up to 250 calls per second.
                        - value: payShield10K_LMK2_CPS2500
                          description: The dedicated HSM is a payShield 10K, model
                            PS10-D, 10Gb Ethernet Hardware Platform device with 2
                            local master keys which supports up to 2500 calls per
                            second.
                zones:
                  type: array
                  items:
                    type: string
                  description: The Dedicated Hsm zones.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                systemData:
                  description: Metadata pertaining to creation and last modification
                    of the resource
                  type: object
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created dedicated hsm resource.
                    createdByType:
                      description: The type of identity that created dedicated hsm
                        resource.
                      type: string
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: identityType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of dedicated hsm resource creation
                        (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified dedicated hsm resource.
                    lastModifiedByType:
                      description: The type of identity that last modified dedicated
                        hsm resource.
                      type: string
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: identityType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of dedicated hsm resource last modification
                        (UTC).
                properties:
                  x-ms-client-flatten: true
                  description: Properties of the dedicated HSM
                  properties:
                    networkProfile:
                      description: Specifies the network interfaces of the dedicated
                        hsm.
                      properties:
                        subnet:
                          description: Specifies the identifier of the subnet.
                          properties:
                            id:
                              type: string
                              description: The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...
                          type: object
                        networkInterfaces:
                          type: array
                          items:
                            properties:
                              id:
                                readOnly: true
                                type: string
                                description: The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...
                              privateIpAddress:
                                type: string
                                description: Private Ip address of the interface
                            description: The network interface definition.
                            type: object
                          description: Specifies the list of resource Ids for the
                            network interfaces associated with the dedicated HSM.
                      type: object
                    managementNetworkProfile:
                      description: Specifies the management network interfaces of
                        the dedicated hsm.
                      properties:
                        subnet:
                          description: Specifies the identifier of the subnet.
                          properties:
                            id:
                              type: string
                              description: The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...
                          type: object
                        networkInterfaces:
                          type: array
                          items:
                            properties:
                              id:
                                readOnly: true
                                type: string
                                description: The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...
                              privateIpAddress:
                                type: string
                                description: Private Ip address of the interface
                            description: The network interface definition.
                            type: object
                          description: Specifies the list of resource Ids for the
                            network interfaces associated with the dedicated HSM.
                      type: object
                    stampId:
                      type: string
                      description: This field will be used when RP does not support
                        Availability zones.
                    statusMessage:
                      readOnly: true
                      type: string
                      description: Resource Status Message.
                    provisioningState:
                      readOnly: true
                      type: string
                      description: Provisioning state.
                      enum:
                      - Succeeded
                      - Provisioning
                      - Allocating
                      - Connecting
                      - Failed
                      - CheckingQuota
                      - Deleting
                      x-ms-enum:
                        name: JsonWebKeyType
                        modelAsString: true
                        values:
                        - value: Succeeded
                          description: The dedicated HSM has been full provisioned.
                        - value: Provisioning
                          description: The dedicated HSM is currently being provisioned.
                        - value: Allocating
                          description: A device is currently being allocated for the
                            dedicated HSM resource.
                        - value: Connecting
                          description: The dedicated HSM is being connected to the
                            virtual network.
                        - value: Failed
                          description: Provisioning of the dedicated HSM has failed.
                        - value: CheckingQuota
                          description: Validating the subscription has sufficient
                            quota to allocate a dedicated HSM device.
                        - value: Deleting
                          description: The dedicated HSM is currently being deleted.
                  type: object
              required:
              - location
              - sku
              - properties
              description: Dedicated HSM resource
              x-ms-azure-resource: true
        description: Parameters to create or update the dedicated hsm
        required: true
      responses:
        '200':
          description: Created dedicated HSM
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The Azure Resource Manager resource ID for the dedicated
                      HSM.
                  name:
                    readOnly: true
                    type: string
                    description: The name of the dedicated HSM.
                  type:
                    readOnly: true
                    type: string
                    description: The resource type of the dedicated HSM.
                  location:
                    type: string
                    description: The supported Azure location where the dedicated
                      HSM should be created.
                    x-ms-mutability:
                    - create
                    - read
                  sku:
                    description: SKU details
                    type: object
                    properties:
                      name:
                        type: string
                        description: SKU of the dedicated HSM
                        enum:
                        - SafeNet Luna Network HSM A790
                        - payShield10K_LMK1_CPS60
                        - payShield10K_LMK1_CPS250
                        - payShield10K_LMK1_CPS2500
                        - payShield10K_LMK2_CPS60
                        - payShield10K_LMK2_CPS250
                        - payShield10K_LMK2_CPS2500
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                          values:
                          - value: SafeNet Luna Network HSM A790
                            description: The dedicated HSM is a Safenet Luna Network
                              HSM A790 device.
                          - value: payShield10K_LMK1_CPS60
                            description: The dedicated HSM is a payShield 10K, model
                              PS10-D, 10Gb Ethernet Hardware Platform device with
                              1 local master key which supports up to 60 calls per
                              second.
                          - value: payShield10K_LMK1_CPS250
                            description: The dedicated HSM is a payShield 10K, model
                              PS10-D, 10Gb Ethernet Hardware Platform device with
                              1 local master key which supports up to 250 calls per
                              second.
                          - value: payShield10K_LMK1_CPS2500
                            description: The dedicated HSM is a payShield 10K, model
                              PS10-D, 10Gb Ethernet Hardware Platform device with
                              1 local master key which supports up to 2500 calls per
                              second.
                          - value: payShield10K_LMK2_CPS60
                            description: The dedicated HSM is a payShield 10K, model
                              PS10-D, 10Gb Ethernet Hardware Platform device with
                              2 local master keys which supports up to 60 calls per
                              second.
                          - value: payShield10K_LMK2_CPS250
                            description: The dedicated HSM is a payShield 10K, model
                              PS10-D, 10Gb Ethernet Hardware Platform device with
                              2 local master keys which supports up to 250 calls per
                              second.
                          - value: payShield10K_LMK2_CPS2500
                            description: The dedicated HSM is a payShield 10K, model
                              PS10-D, 10Gb Ethernet Hardware Platform device with
                              2 local master keys which supports up to 2500 calls
                              per second.
                  zones:
                    type: array
                    items:
                      type: string
                    description: The Dedicated Hsm zones.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created dedicated hsm resource.
                      createdByType:
                        description: The type of identity that created dedicated hsm
                          resource.
                        type: string
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: identityType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of dedicated hsm resource creation
                          (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified dedicated hsm
                          resource.
                      lastModifiedByType:
                        description: The type of identity that last modified dedicated
                          hsm resource.
                        type: string
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: identityType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of dedicated hsm resource last
                          modification (UTC).
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the dedicated HSM
                    properties:
                      networkProfile:
                        description: Specifies the network interfaces of the dedicated
                          hsm.
                        properties:
                          subnet:
                            description: Specifies the identifier of the subnet.
                            properties:
                              id:
                                type: string
                                description: The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...
                            type: object
                          networkInterfaces:
                            type: array
                            items:
                              properties:
                                id:
                                  readOnly: true
                                  type: string
                                  description: The ARM resource id in the form of
                                    /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...
                                privateIpAddress:
                                  type: string
                                  description: Private Ip address of the interface
                              description: The network interface definition.
                              type: object
                            description: Specifies the list of resource Ids for the
                              network interfaces associated with the dedicated HSM.
                        type: object
                      managementNetworkProfile:
                        description: Specifies the management network interfaces of
                          the dedicated hsm.
                        properties:
                          subnet:
                            description: Specifies the identifier of the subnet.
                            properties:
                              id:
                                type: string
                                description: The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...
                            type: object
                          networkInterfaces:
                            type: array
                            items:
                              properties:
                                id:
                                  readOnly: true
                                  type: string
                                  description: The ARM resource id in the form of
                                    /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...
                                privateIpAddress:
                                  type: string
                                  description: Private Ip address of the interface
                              description: The network interface definition.
                              type: object
                            description: Specifies the list of resource Ids for the
                              network interfaces associated with the dedicated HSM.
                        type: object
                      stampId:
                        type: string
                        description: This field will be used when RP does not support
                          Availability zones.
                      statusMessage:
                        readOnly: true
                        type: string
                        description: Resource Status Message.
                      provisioningState:
                        readOnly: true
                        type: string
                        description: Provisioning state.
                        enum:
                        - Succeeded
                        - Provisioning
                        - Allocating
                        - Connecting
                        - Failed
                        - CheckingQuota
                        - Deleting
                        x-ms-enum:
                          name: JsonWebKeyType
                          modelAsString: true
                          values:
                          - value: Succeeded
                            description: The dedicated HSM has been full provisioned.
                          - value: Provisioning
                            description: The dedicated HSM is currently being provisioned.
                          - value: Allocating
                            description: A device is currently being allocated for
                              the dedicated HSM resource.
                          - value: Connecting
                            description: The dedicated HSM is being connected to the
                              virtual network.
                          - value: Failed
                            description: Provisioning of the dedicated HSM has failed.
                          - value: CheckingQuota
                            description: Validating the subscription has sufficient
                              quota to allocate a dedicated HSM device.
                          - value: Deleting
                            description: The dedicated HSM is currently being deleted.
                    type: object
                required:
                - location
                - sku
                - properties
                description: Dedicated HSM resource
                x-ms-azure-resource: true
        '201':
          description: Created dedicated HSM
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The Azure Resource Manager resource ID for the dedicated
                      HSM.
                  name:
                    readOnly: true
                    type: string
                    description: The name of the dedicated HSM.
                  type:
                    readOnly: true
                    type: string
                    description: The resource type of the dedicated HSM.
                  location:
                    type: string
                    description: The supported Azure location where the dedicated
                      HSM should be created.
                    x-ms-mutability:
                    - create
                    - read
                  sku:
                    description: SKU details
                    type: object
                    properties:
                      name:
                        type: string
                        description: SKU of the dedicated HSM
                        enum:
                        - SafeNet Luna Network HSM A790
                        - payShield10K_LMK1_CPS60
                        - payShield10K_LMK1_CPS250
                        - payShield10K_LMK1_CPS2500
                        - payShield10K_LMK2_CPS60
                        - payShield10K_LMK2_CPS250
                        - payShield10K_LMK2_CPS2500
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                          values:
                          - value: SafeNet Luna Network HSM A790
                            description: The dedicated HSM is a Safenet Luna Network
                              HSM A790 device.
                          - value: payShield10K_LMK1_CPS60
                            description: The dedicated HSM is a payShield 10K, model
                              PS10-D, 10Gb Ethernet Hardware Platform device with
                              1 local master key which supports up to 60 calls per
                              second.
                          - value: payShield10K_LMK1_CPS250
                            description: The dedicated HSM is a payShield 10K, model
                              PS10-D, 10Gb Ethernet Hardware Platform device with
                              1 local master key which supports up to 250 calls per
                              second.
                          - value: payShield10K_LMK1_CPS2500
                            description: The dedicated HSM is a payShield 10K, model
                              PS10-D, 10Gb Ethernet Hardware Platform device with
                              1 local master key which supports up to 2500 calls per
                              second.
                          - value: payShield10K_LMK2_CPS60
                            description: The dedicated HSM is a payShield 10K, model
                              PS10-D, 10Gb Ethernet Hardware Platform device with
                              2 local master keys which supports up to 60 calls per
                              second.
                          - value: payShield10K_LMK2_CPS250
                            description: The dedicated HSM is a payShield 10K, model
                              PS10-D, 10Gb Ethernet Hardware Platform device with
                              2 local master keys which supports up to 250 calls per
                              second.
                          - value: payShield10K_LMK2_CPS2500
                            description: The dedicated HSM is a payShield 10K, model
                              PS10-D, 10Gb Ethernet Hardware Platform device with
                              2 local master keys which supports up to 2500 calls
                              per second.
                  zones:
                    type: array
                    items:
                      type: string
                    description: The Dedicated Hsm zones.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created dedicated hsm resource.
                      createdByType:
                        description: The type of identity that created dedicated hsm
                          resource.
                        type: string
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: identityType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of dedicated hsm resource creation
                          (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified dedicated hsm
                          resource.
                      lastModifiedByType:
                        description: The type of identity that last modified dedicated
                          hsm resource.
                        type: string
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: identityType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of dedicated hsm resource last
                          modification (UTC).
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the dedicated HSM
                    properties:
                      networkProfile:
                        description: Specifies the network interfaces of the dedicated
                          hsm.
                        properties:
                          subnet:
                            description: Specifies the identifier of the subnet.
                            properties:
                              id:
                                type: string
                                description: The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...
                            type: object
                          networkInterfaces:
                            type: array
                            items:
                              properties:
                                id:
                                  readOnly: true
                                  type: string
                                  description: The ARM resource id in the form of
                                    /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...
                                privateIpAddress:
                                  type: string
                                  description: Private Ip address of the interface
                              description: The network interface definition.
                              type: object
                            description: Specifies the list of resource Ids for the
                              network interfaces associated with the dedicated HSM.
                        type: object
                      managementNetworkProfile:
                        description: Specifies the management network interfaces of
                          the dedicated hsm.
                        properties:
                          subnet:
                            description: Specifies the identifier of the subnet.
                            properties:
                              id:
                                type: string
                                description: The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...
                            type: object
                          networkInterfaces:
                            type: array
                            items:
                              properties:
                                id:
                                  readOnly: true
                                  type: string
                                  description: The ARM resource id in the form of
                                    /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...
                                privateIpAddress:
                                  type: string
                                  description: Private Ip address of the interface
                              description: The network interface definition.
                              type: object
                            description: Specifies the list of resource Ids for the
                              network interfaces associated with the dedicated HSM.
                        type: object
                      stampId:
                        type: string
                        description: This field will be used when RP does not support
                          Availability zones.
                      statusMessage:
                        readOnly: true
                        type: string
                        description: Resource Status Message.
                      provisioningState:
                        readOnly: true
                        type: string
                        description: Provisioning state.
                        enum:
                        - Succeeded
                        - Provisioning
                        - Allocating
                        - Connecting
                        - Failed
                        - CheckingQuota
                        - Deleting
                        x-ms-enum:
                          name: JsonWebKeyType
                          modelAsString: true
                          values:
                          - value: Succeeded
                            description: The dedicated HSM has been full provisioned.
                          - value: Provisioning
                            description: The dedicated HSM is currently being provisioned.
                          - value: Allocating
                            description: A device is currently being allocated for
                              the dedicated HSM resource.
                          - value: Connecting
                            description: The dedicated HSM is being connected to the
                              virtual network.
                          - value: Failed
                            description: Provisioning of the dedicated HSM has failed.
                          - value: CheckingQuota
                            description: Validating the subscription has sufficient
                              quota to allocate a dedicated HSM device.
                          - value: Deleting
                            description: The dedicated HSM is currently being deleted.
                    type: object
                required:
                - location
                - sku
                - properties
                description: Dedicated HSM resource
                x-ms-azure-resource: true
        default:
          description: The error response describing why the operation failed.
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The error detail of the operation if any.
                    readOnly: true
                    properties:
                      code:
                        type: string
                        readOnly: true
                        description: The error code.
                      message:
                        type: string
                        readOnly: true
                        description: The error message.
                      innererror:
                        description: Contains more specific error that narrows down
                          the cause. May be null.
                        x-ms-client-name: innerError
                        readOnly: true
                        properties:
                          code:
                            type: string
                            readOnly: true
                            description: The error code.
                          message:
                            type: string
                            readOnly: true
                            description: The error message.
                          innererror:
                            description: Contains more specific error that narrows
                              down the cause. May be null.
                            x-ms-client-name: innerError
                            readOnly: true
                            properties:
                              code:
                                type: string
                                readOnly: true
                                description: The error code.
                              message:
                                type: string
                                readOnly: true
                                description: The error message.
                            type: object
                        type: object
                    type: object
                description: The error exception.
                type: object
    patch:
      tags:
      - DedicatedHsms
      operationId: DedicatedHsm_Update
      x-ms-long-running-operation: true
      description: Update a dedicated HSM in the specified subscription.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the Resource Group to which the server belongs.
        schema:
          type: string
      - name: name
        in: path
        required: true
        description: Name of the dedicated HSM
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
              description: Patchable properties of the dedicated HSM
              type: object
        description: Parameters to patch the dedicated HSM
        required: true
        x-ms-client-flatten: true
      responses:
        '200':
          description: Patched dedicated HSM
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The Azure Resource Manager resource ID for the dedicated
                      HSM.
                  name:
                    readOnly: true
                    type: string
                    description: The name of the dedicated HSM.
                  type:
                    readOnly: true
                    type: string
                    description: The resource type of the dedicated HSM.
                  location:
                    type: string
                    description: The supported Azure location where the dedicated
                      HSM should be created.
                    x-ms-mutability:
                    - create
                    - read
                  sku:
                    description: SKU details
                    type: object
                    properties:
                      name:
                        type: string
                        description: SKU of the dedicated HSM
                        enum:
                        - SafeNet Luna Network HSM A790
                        - payShield10K_LMK1_CPS60
                        - payShield10K_LMK1_CPS250
                        - payShield10K_LMK1_CPS2500
                        - payShield10K_LMK2_CPS60
                        - payShield10K_LMK2_CPS250
                        - payShield10K_LMK2_CPS2500
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                          values:
                          - value: SafeNet Luna Network HSM A790
                            description: The dedicated HSM is a Safenet Luna Network
                              HSM A790 device.
                          - value: payShield10K_LMK1_CPS60
                            description: The dedicated HSM is a payShield 10K, model
                              PS10-D, 10Gb Ethernet Hardware Platform device with
                              1 local master key which supports up to 60 calls per
                              second.
                          - value: payShield10K_LMK1_CPS250
                            description: The dedicated HSM is a payShield 10K, model
                              PS10-D, 10Gb Ethernet Hardware Platform device with
                              1 local master key which supports up to 250 calls per
                              second.
                          - value: payShield10K_LMK1_CPS2500
                            description: The dedicated HSM is a payShield 10K, model
                              PS10-D, 10Gb Ethernet Hardware Platform device with
                              1 local master key which supports up to 2500 calls per
                              second.
                          - value: payShield10K_LMK2_CPS60
                            description: The dedicated HSM is a payShield 10K, model
                              PS10-D, 10Gb Ethernet Hardware Platform device with
                              2 local master keys which supports up to 60 calls per
                              second.
                          - value: payShield10K_LMK2_CPS250
                            description: The dedicated HSM is a payShield 10K, model
                              PS10-D, 10Gb Ethernet Hardware Platform device with
                              2 local master keys which supports up to 250 calls per
                              second.
                          - value: payShield10K_LMK2_CPS2500
                            description: The dedicated HSM is a payShield 10K, model
                              PS10-D, 10Gb Ethernet Hardware Platform device with
                              2 local master keys which supports up to 2500 calls
                              per second.
                  zones:
                    type: array
                    items:
                      type: string
                    description: The Dedicated Hsm zones.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created dedicated hsm resource.
                      createdByType:
                        description: The type of identity that created dedicated hsm
                          resource.
                        type: string
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: identityType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of dedicated hsm resource creation
                          (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified dedicated hsm
                          resource.
                      lastModifiedByType:
                        description: The type of identity that last modified dedicated
                          hsm resource.
                        type: string
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: identityType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of dedicated hsm resource last
                          modification (UTC).
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the dedicated HSM
                    properties:
                      networkProfile:
                        description: Specifies the network interfaces of the dedicated
                          hsm.
                        properties:
                          subnet:
                            description: Specifies the identifier of the subnet.
                            properties:
                              id:
                                type: string
                                description: The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...
                            type: object
                          networkInterfaces:
                            type: array
                            items:
                              properties:
                                id:
                                  readOnly: true
                                  type: string
                                  description: The ARM resource id in the form of
                                    /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...
                                privateIpAddress:
                                  type: string
                                  description: Private Ip address of the interface
                              description: The network interface definition.
                              type: object
                            description: Specifies the list of resource Ids for the
                              network interfaces associated with the dedicated HSM.
                        type: object
                      managementNetworkProfile:
                        description: Specifies the management network interfaces of
                          the dedicated hsm.
                        properties:
                          subnet:
                            description: Specifies the identifier of the subnet.
                            properties:
                              id:
                                type: string
                                description: The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...
                            type: object
                          networkInterfaces:
                            type: array
                            items:
                              properties:
                                id:
                                  readOnly: true
                                  type: string
                                  description: The ARM resource id in the form of
                                    /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...
                                privateIpAddress:
                                  type: string
                                  description: Private Ip address of the interface
                              description: The network interface definition.
                              type: object
                            description: Specifies the list of resource Ids for the
                              network interfaces associated with the dedicated HSM.
                        type: object
                      stampId:
                        type: string
                        description: This field will be used when RP does not support
                          Availability zones.
                      statusMessage:
                        readOnly: true
                        type: string
                        description: Resource Status Message.
                      provisioningState:
                        readOnly: true
                        type: string
                        description: Provisioning state.
                        enum:
                        - Succeeded
                        - Provisioning
                        - Allocating
                        - Connecting
                        - Failed
                        - CheckingQuota
                        - Deleting
                        x-ms-enum:
                          name: JsonWebKeyType
                          modelAsString: true
                          values:
                          - value: Succeeded
                            description: The dedicated HSM has been full provisioned.
                          - value: Provisioning
                            description: The dedicated HSM is currently being provisioned.
                          - value: Allocating
                            description: A device is currently being allocated for
                              the dedicated HSM resource.
                          - value: Connecting
                            description: The dedicated HSM is being connected to the
                              virtual network.
                          - value: Failed
                            description: Provisioning of the dedicated HSM has failed.
                          - value: CheckingQuota
                            description: Validating the subscription has sufficient
                              quota to allocate a dedicated HSM device.
                          - value: Deleting
                            description: The dedicated HSM is currently being deleted.
                    type: object
                required:
                - location
                - sku
                - properties
                description: Dedicated HSM resource
                x-ms-azure-resource: true
        default:
          description: The error response describing why the operation failed.
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The error detail of the operation if any.
                    readOnly: true
                    properties:
                      code:
                        type: string
                        readOnly: true
                        description: The error code.
                      message:
                        type: string
                        readOnly: true
                        description: The error message.
                      innererror:
                        description: Contains more specific error that narrows down
                          the cause. May be null.
                        x-ms-client-name: innerError
                        readOnly: true
                        properties:
                          code:
                            type: string
                            readOnly: true
                            description: The error code.
                          message:
                            type: string
                            readOnly: true
                            description: The error message.
                          innererror:
                            description: Contains more specific error that narrows
                              down the cause. May be null.
                            x-ms-client-name: innerError
                            readOnly: true
                            properties:
                              code:
                                type: string
                                readOnly: true
                                description: The error code.
                              message:
                                type: string
                                readOnly: true
                                description: The error message.
                            type: object
                        type: object
                    type: object
                description: The error exception.
                type: object
    delete:
      tags:
      - DedicatedHsms
      operationId: DedicatedHsm_Delete
      x-ms-long-running-operation: true
      description: Deletes the specified Azure Dedicated HSM.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the Resource Group to which the dedicated HSM belongs.
        schema:
          type: string
      - name: name
        in: path
        required: true
        description: The name of the dedicated HSM to delete
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK Response.
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: The error response describing why the operation failed.
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The error detail of the operation if any.
                    readOnly: true
                    properties:
                      code:
                        type: string
                        readOnly: true
                        description: The error code.
                      message:
                        type: string
                        readOnly: true
                        description: The error message.
                      innererror:
                        description: Contains more specific error that narrows down
                          the cause. May be null.
                        x-ms-client-name: innerError
                        readOnly: true
                        properties:
                          code:
                            type: string
                            readOnly: true
                            description: The error code.
                          message:
                            type: string
                            readOnly: true
                            description: The error message.
                          innererror:
                            description: Contains more specific error that narrows
                              down the cause. May be null.
                            x-ms-client-name: innerError
                            readOnly: true
                            properties:
                              code:
                                type: string
                                readOnly: true
                                description: The error code.
                              message:
                                type: string
                                readOnly: true
                                description: The error message.
                            type: object
                        type: object
                    type: object
                description: The error exception.
                type: object
    get:
      tags:
      - DedicatedHsms
      operationId: DedicatedHsm_Get
      description: Gets the specified Azure dedicated HSM.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the Resource Group to which the dedicated hsm belongs.
        schema:
          type: string
      - name: name
        in: path
        required: true
        description: The name of the dedicated HSM.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Retrieved dedicated HSM
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The Azure Resource Manager resource ID for the dedicated
                      HSM.
                  name:
                    readOnly: true
                    type: string
                    description: The name of the dedicated HSM.
                  type:
                    readOnly: true
                    type: string
                    description: The resource type of the dedicated HSM.
                  location:
                    type: string
                    description: The supported Azure location where the dedicated
                      HSM should be created.
                    x-ms-mutability:
                    - create
                    - read
                  sku:
                    description: SKU details
                    type: object
                    properties:
                      name:
                        type: string
                        description: SKU of the dedicated HSM
                        enum:
                        - SafeNet Luna Network HSM A790
                        - payShield10K_LMK1_CPS60
                        - payShield10K_LMK1_CPS250
                        - payShield10K_LMK1_CPS2500
                        - payShield10K_LMK2_CPS60
                        - payShield10K_LMK2_CPS250
                        - payShield10K_LMK2_CPS2500
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                          values:
                          - value: SafeNet Luna Network HSM A790
                            description: The dedicated HSM is a Safenet Luna Network
                              HSM A790 device.
                          - value: payShield10K_LMK1_CPS60
                            description: The dedicated HSM is a payShield 10K, model
                              PS10-D, 10Gb Ethernet Hardware Platform device with
                              1 local master key which supports up to 60 calls per
                              second.
                          - value: payShield10K_LMK1_CPS250
                            description: The dedicated HSM is a payShield 10K, model
                              PS10-D, 10Gb Ethernet Hardware Platform device with
                              1 local master key which supports up to 250 calls per
                              second.
                          - value: payShield10K_LMK1_CPS2500
                            description: The dedicated HSM is a payShield 10K, model
                              PS10-D, 10Gb Ethernet Hardware Platform device with
                              1 local master key which supports up to 2500 calls per
                              second.
                          - value: payShield10K_LMK2_CPS60
                            description: The dedicated HSM is a payShield 10K, model
                              PS10-D, 10Gb Ethernet Hardware Platform device with
                              2 local master keys which supports up to 60 calls per
                              second.
                          - value: payShield10K_LMK2_CPS250
                            description: The dedicated HSM is a payShield 10K, model
                              PS10-D, 10Gb Ethernet Hardware Platform device with
                              2 local master keys which supports up to 250 calls per
                              second.
                          - value: payShield10K_LMK2_CPS2500
                            description: The dedicated HSM is a payShield 10K, model
                              PS10-D, 10Gb Ethernet Hardware Platform device with
                              2 local master keys which supports up to 2500 calls
                              per second.
                  zones:
                    type: array
                    items:
                      type: string
                    description: The Dedicated Hsm zones.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created dedicated hsm resource.
                      createdByType:
                        description: The type of identity that created dedicated hsm
                          resource.
                        type: string
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: identityType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of dedicated hsm resource creation
                          (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified dedicated hsm
                          resource.
                      lastModifiedByType:
                        description: The type of identity that last modified dedicated
                          hsm resource.
                        type: string
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: identityType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of dedicated hsm resource last
                          modification (UTC).
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the dedicated HSM
                    properties:
                      networkProfile:
                        description: Specifies the network interfaces of the dedicated
                          hsm.
                        properties:
                          subnet:
                            description: Specifies the identifier of the subnet.
                            properties:
                              id:
                                type: string
                                description: The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...
                            type: object
                          networkInterfaces:
                            type: array
                            items:
                              properties:
                                id:
                                  readOnly: true
                                  type: string
                                  description: The ARM resource id in the form of
                                    /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...
                                privateIpAddress:
                                  type: string
                                  description: Private Ip address of the interface
                              description: The network interface definition.
                              type: object
                            description: Specifies the list of resource Ids for the
                              network interfaces associated with the dedicated HSM.
                        type: object
                      managementNetworkProfile:
                        description: Specifies the management network interfaces of
                          the dedicated hsm.
                        properties:
                          subnet:
                            description: Specifies the identifier of the subnet.
                            properties:
                              id:
                                type: string
                                description: The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...
                            type: object
                          networkInterfaces:
                            type: array
                            items:
                              properties:
                                id:
                                  readOnly: true
                                  type: string
                                  description: The ARM resource id in the form of
                                    /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...
                                privateIpAddress:
                                  type: string
                                  description: Private Ip address of the interface
                              description: The network interface definition.
                              type: object
                            description: Specifies the list of resource Ids for the
                              network interfaces associated with the dedicated HSM.
                        type: object
                      stampId:
                        type: string
                        description: This field will be used when RP does not support
                          Availability zones.
                      statusMessage:
                        readOnly: true
                        type: string
                        description: Resource Status Message.
                      provisioningState:
                        readOnly: true
                        type: string
                        description: Provisioning state.
                        enum:
                        - Succeeded
                        - Provisioning
                        - Allocating
                        - Connecting
                        - Failed
                        - CheckingQuota
                        - Deleting
                        x-ms-enum:
                          name: JsonWebKeyType
                          modelAsString: true
                          values:
                          - value: Succeeded
                            description: The dedicated HSM has been full provisioned.
                          - value: Provisioning
                            description: The dedicated HSM is currently being provisioned.
                          - value: Allocating
                            description: A device is currently being allocated for
                              the dedicated HSM resource.
                          - value: Connecting
                            description: The dedicated HSM is being connected to the
                              virtual network.
                          - value: Failed
                            description: Provisioning of the dedicated HSM has failed.
                          - value: CheckingQuota
                            description: Validating the subscription has sufficient
                              quota to allocate a dedicated HSM device.
                          - value: Deleting
                            description: The dedicated HSM is currently being deleted.
                    type: object
                required:
                - location
                - sku
                - properties
                description: Dedicated HSM resource
                x-ms-azure-resource: true
        default:
          description: The error response describing why the operation failed.
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The error detail of the operation if any.
                    readOnly: true
                    properties:
                      code:
                        type: string
                        readOnly: true
                        description: The error code.
                      message:
                        type: string
                        readOnly: true
                        description: The error message.
                      innererror:
                        description: Contains more specific error that narrows down
                          the cause. May be null.
                        x-ms-client-name: innerError
                        readOnly: true
                        properties:
                          code:
                            type: string
                            readOnly: true
                            description: The error code.
                          message:
                            type: string
                            readOnly: true
                            description: The error message.
                          innererror:
                            description: Contains more specific error that narrows
                              down the cause. May be null.
                            x-ms-client-name: innerError
                            readOnly: true
                            properties:
                              code:
                                type: string
                                readOnly: true
                                description: The error code.
                              message:
                                type: string
                                readOnly: true
                                description: The error message.
                            type: object
                        type: object
                    type: object
                description: The error exception.
                type: object
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs
  : get:
      tags:
      - DedicatedHsms
      operationId: DedicatedHsm_ListByResourceGroup
      description: The List operation gets information about the dedicated hsms associated
        with the subscription and within the specified resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the Resource Group to which the dedicated HSM belongs.
        schema:
          type: string
      - name: $top
        in: query
        description: Maximum number of results to return.
        schema:
          type: integer
          format: int32
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Get information about all dedicated HSMs in the specified resource
            group.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: The Azure Resource Manager resource ID for
                            the dedicated HSM.
                        name:
                          readOnly: true
                          type: string
                          description: The name of the dedicated HSM.
                        type:
                          readOnly: true
                          type: string
                          description: The resource type of the dedicated HSM.
                        location:
                          type: string
                          description: The supported Azure location where the dedicated
                            HSM should be created.
                          x-ms-mutability:
                          - create
                          - read
                        sku:
                          description: SKU details
                          type: object
                          properties:
                            name:
                              type: string
                              description: SKU of the dedicated HSM
                              enum:
                              - SafeNet Luna Network HSM A790
                              - payShield10K_LMK1_CPS60
                              - payShield10K_LMK1_CPS250
                              - payShield10K_LMK1_CPS2500
                              - payShield10K_LMK2_CPS60
                              - payShield10K_LMK2_CPS250
                              - payShield10K_LMK2_CPS2500
                              x-ms-enum:
                                name: SkuName
                                modelAsString: true
                                values:
                                - value: SafeNet Luna Network HSM A790
                                  description: The dedicated HSM is a Safenet Luna
                                    Network HSM A790 device.
                                - value: payShield10K_LMK1_CPS60
                                  description: The dedicated HSM is a payShield 10K,
                                    model PS10-D, 10Gb Ethernet Hardware Platform
                                    device with 1 local master key which supports
                                    up to 60 calls per second.
                                - value: payShield10K_LMK1_CPS250
                                  description: The dedicated HSM is a payShield 10K,
                                    model PS10-D, 10Gb Ethernet Hardware Platform
                                    device with 1 local master key which supports
                                    up to 250 calls per second.
                                - value: payShield10K_LMK1_CPS2500
                                  description: The dedicated HSM is a payShield 10K,
                                    model PS10-D, 10Gb Ethernet Hardware Platform
                                    device with 1 local master key which supports
                                    up to 2500 calls per second.
                                - value: payShield10K_LMK2_CPS60
                                  description: The dedicated HSM is a payShield 10K,
                                    model PS10-D, 10Gb Ethernet Hardware Platform
                                    device with 2 local master keys which supports
                                    up to 60 calls per second.
                                - value: payShield10K_LMK2_CPS250
                                  description: The dedicated HSM is a payShield 10K,
                                    model PS10-D, 10Gb Ethernet Hardware Platform
                                    device with 2 local master keys which supports
                                    up to 250 calls per second.
                                - value: payShield10K_LMK2_CPS2500
                                  description: The dedicated HSM is a payShield 10K,
                                    model PS10-D, 10Gb Ethernet Hardware Platform
                                    device with 2 local master keys which supports
                                    up to 2500 calls per second.
                        zones:
                          type: array
                          items:
                            type: string
                          description: The Dedicated Hsm zones.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags
                        systemData:
                          description: Metadata pertaining to creation and last modification
                            of the resource
                          type: object
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created dedicated hsm
                                resource.
                            createdByType:
                              description: The type of identity that created dedicated
                                hsm resource.
                              type: string
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: identityType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of dedicated hsm resource
                                creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified dedicated
                                hsm resource.
                            lastModifiedByType:
                              description: The type of identity that last modified
                                dedicated hsm resource.
                              type: string
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: identityType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of dedicated hsm resource
                                last modification (UTC).
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the dedicated HSM
                          properties:
                            networkProfile:
                              description: Specifies the network interfaces of the
                                dedicated hsm.
                              properties:
                                subnet:
                                  description: Specifies the identifier of the subnet.
                                  properties:
                                    id:
                                      type: string
                                      description: The ARM resource id in the form
                                        of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...
                                  type: object
                                networkInterfaces:
                                  type: array
                                  items:
                                    properties:
                                      id:
                                        readOnly: true
                                        type: string
                                        description: The ARM resource id in the form
                                          of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...
                                      privateIpAddress:
                                        type: string
                                        description: Private Ip address of the interface
                                    description: The network interface definition.
                                    type: object
                                  description: Specifies the list of resource Ids
                                    for the network interfaces associated with the
                                    dedicated HSM.
                              type: object
                            managementNetworkProfile:
                              description: Specifies the management network interfaces
                                of the dedicated hsm.
                              properties:
                                subnet:
                                  description: Specifies the identifier of the subnet.
                                  properties:
                                    id:
                                      type: string
                                      description: The ARM resource id in the form
                                        of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...
                                  type: object
                                networkInterfaces:
                                  type: array
                                  items:
                                    properties:
                                      id:
                                        readOnly: true
                                        type: string
                                        description: The ARM resource id in the form
                                          of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...
                                      privateIpAddress:
                                        type: string
                                        description: Private Ip address of the interface
                                    description: The network interface definition.
                                    type: object
                                  description: Specifies the list of resource Ids
                                    for the network interfaces associated with the
                                    dedicated HSM.
                              type: object
                            stampId:
                              type: string
                              description: This field will be used when RP does not
                                support Availability zones.
                            statusMessage:
                              readOnly: true
                              type: string
                              description: Resource Status Message.
                            provisioningState:
                              readOnly: true
                              type: string
                              description: Provisioning state.
                              enum:
                              - Succeeded
                              - Provisioning
                              - Allocating
                              - Connecting
                              - Failed
                              - CheckingQuota
                              - Deleting
                              x-ms-enum:
                                name: JsonWebKeyType
                                modelAsString: true
                                values:
                                - value: Succeeded
                                  description: The dedicated HSM has been full provisioned.
                                - value: Provisioning
                                  description: The dedicated HSM is currently being
                                    provisioned.
                                - value: Allocating
                                  description: A device is currently being allocated
                                    for the dedicated HSM resource.
                                - value: Connecting
                                  description: The dedicated HSM is being connected
                                    to the virtual network.
                                - value: Failed
                                  description: Provisioning of the dedicated HSM has
                                    failed.
                                - value: CheckingQuota
                                  description: Validating the subscription has sufficient
                                    quota to allocate a dedicated HSM device.
                                - value: Deleting
                                  description: The dedicated HSM is currently being
                                    deleted.
                          type: object
                      required:
                      - location
                      - sku
                      - properties
                      description: Dedicated HSM resource
                      x-ms-azure-resource: true
                    description: The list of dedicated HSMs.
                  nextLink:
                    type: string
                    description: The URL to get the next set of dedicated hsms.
                description: List of dedicated HSMs
                type: object
        default:
          description: The error response describing why the operation failed.
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The error detail of the operation if any.
                    readOnly: true
                    properties:
                      code:
                        type: string
                        readOnly: true
                        description: The error code.
                      message:
                        type: string
                        readOnly: true
                        description: The error message.
                      innererror:
                        description: Contains more specific error that narrows down
                          the cause. May be null.
                        x-ms-client-name: innerError
                        readOnly: true
                        properties:
                          code:
                            type: string
                            readOnly: true
                            description: The error code.
                          message:
                            type: string
                            readOnly: true
                            description: The error message.
                          innererror:
                            description: Contains more specific error that narrows
                              down the cause. May be null.
                            x-ms-client-name: innerError
                            readOnly: true
                            properties:
                              code:
                                type: string
                                readOnly: true
                                description: The error code.
                              message:
                                type: string
                                readOnly: true
                                description: The error message.
                            type: object
                        type: object
                    type: object
                description: The error exception.
                type: object
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs:
    get:
      tags:
      - DedicatedHsms
      operationId: DedicatedHsm_ListBySubscription
      description: The List operation gets information about the dedicated HSMs associated
        with the subscription.
      parameters:
      - name: $top
        in: query
        description: Maximum number of results to return.
        schema:
          type: integer
          format: int32
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Get information about all dedicated HSMs in the specified subscription.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: The Azure Resource Manager resource ID for
                            the dedicated HSM.
                        name:
                          readOnly: true
                          type: string
                          description: The name of the dedicated HSM.
                        type:
                          readOnly: true
                          type: string
                          description: The resource type of the dedicated HSM.
                        location:
                          type: string
                          description: The supported Azure location where the dedicated
                            HSM should be created.
                          x-ms-mutability:
                          - create
                          - read
                        sku:
                          description: SKU details
                          type: object
                          properties:
                            name:
                              type: string
                              description: SKU of the dedicated HSM
                              enum:
                              - SafeNet Luna Network HSM A790
                              - payShield10K_LMK1_CPS60
                              - payShield10K_LMK1_CPS250
                              - payShield10K_LMK1_CPS2500
                              - payShield10K_LMK2_CPS60
                              - payShield10K_LMK2_CPS250
                              - payShield10K_LMK2_CPS2500
                              x-ms-enum:
                                name: SkuName
                                modelAsString: true
                                values:
[...]
