openapi: 3.0.0
info:
  version: 2021-03-15
  title: DNC
  description: DNC web api provides way to create, get and delete dnc controller
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DelegatedNetwork/controller/{resourceName}
  : get:
      description: Gets details about the specified dnc controller.
      tags:
      - Controller
      operationId: Controller_GetDetails
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: resourceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the resource. It must be a minimum of 3 characters,
          and a maximum of 63.
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[a-z][a-z0-9]*$
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK. The operation was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: An identifier that represents the resource.
                  name:
                    type: string
                    readOnly: true
                    description: The name of the resource.
                  type:
                    type: string
                    readOnly: true
                    description: The type of resource.
                  location:
                    type: string
                    description: Location of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: The resource tags.
                  properties:
                    readOnly: true
                    description: Properties of the provision operation request.
                    type: object
                    properties:
                      resourceGuid:
                        type: string
                        readOnly: true
                        description: Resource guid.
                      provisioningState:
                        type: string
                        enum:
                        - Deleting
                        - Succeeded
                        - Failed
                        - Provisioning
                        x-ms-enum:
                          name: ControllerState
                          modelAsString: true
                        readOnly: true
                        description: The current state of dnc controller resource.
                      dncAppId:
                        type: string
                        readOnly: true
                        description: dnc application id should be used by customer
                          to authenticate with dnc gateway.
                      dncTenantId:
                        type: string
                        readOnly: true
                        description: tenant id of dnc application id
                      dncEndpoint:
                        type: string
                        readOnly: true
                        description: dnc endpoint url that customers can use to connect
                          to
                description: Represents an instance of a resource.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    put:
      description: Create a dnc controller
      tags:
      - Controller
      operationId: Controller_Create
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: resourceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the resource. It must be a minimum of 3 characters,
          and a maximum of 63.
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[a-z][a-z0-9]*$
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  readOnly: true
                  description: An identifier that represents the resource.
                name:
                  type: string
                  readOnly: true
                  description: The name of the resource.
                type:
                  type: string
                  readOnly: true
                  description: The type of resource.
                location:
                  type: string
                  description: Location of the resource.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: The resource tags.
                properties:
                  readOnly: true
                  description: Properties of the provision operation request.
                  type: object
                  properties:
                    resourceGuid:
                      type: string
                      readOnly: true
                      description: Resource guid.
                    provisioningState:
                      type: string
                      enum:
                      - Deleting
                      - Succeeded
                      - Failed
                      - Provisioning
                      x-ms-enum:
                        name: ControllerState
                        modelAsString: true
                      readOnly: true
                      description: The current state of dnc controller resource.
                    dncAppId:
                      type: string
                      readOnly: true
                      description: dnc application id should be used by customer to
                        authenticate with dnc gateway.
                    dncTenantId:
                      type: string
                      readOnly: true
                      description: tenant id of dnc application id
                    dncEndpoint:
                      type: string
                      readOnly: true
                      description: dnc endpoint url that customers can use to connect
                        to
              description: Represents an instance of a resource.
              x-ms-azure-resource: true
        description: controller type parameters
        required: true
      responses:
        '200':
          description: OK. The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: An identifier that represents the resource.
                  name:
                    type: string
                    readOnly: true
                    description: The name of the resource.
                  type:
                    type: string
                    readOnly: true
                    description: The type of resource.
                  location:
                    type: string
                    description: Location of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: The resource tags.
                  properties:
                    readOnly: true
                    description: Properties of the provision operation request.
                    type: object
                    properties:
                      resourceGuid:
                        type: string
                        readOnly: true
                        description: Resource guid.
                      provisioningState:
                        type: string
                        enum:
                        - Deleting
                        - Succeeded
                        - Failed
                        - Provisioning
                        x-ms-enum:
                          name: ControllerState
                          modelAsString: true
                        readOnly: true
                        description: The current state of dnc controller resource.
                      dncAppId:
                        type: string
                        readOnly: true
                        description: dnc application id should be used by customer
                          to authenticate with dnc gateway.
                      dncTenantId:
                        type: string
                        readOnly: true
                        description: tenant id of dnc application id
                      dncEndpoint:
                        type: string
                        readOnly: true
                        description: dnc endpoint url that customers can use to connect
                          to
                description: Represents an instance of a resource.
                x-ms-azure-resource: true
        '201':
          description: InProgress. The operation is still in progress.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: An identifier that represents the resource.
                  name:
                    type: string
                    readOnly: true
                    description: The name of the resource.
                  type:
                    type: string
                    readOnly: true
                    description: The type of resource.
                  location:
                    type: string
                    description: Location of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: The resource tags.
                  properties:
                    readOnly: true
                    description: Properties of the provision operation request.
                    type: object
                    properties:
                      resourceGuid:
                        type: string
                        readOnly: true
                        description: Resource guid.
                      provisioningState:
                        type: string
                        enum:
                        - Deleting
                        - Succeeded
                        - Failed
                        - Provisioning
                        x-ms-enum:
                          name: ControllerState
                          modelAsString: true
                        readOnly: true
                        description: The current state of dnc controller resource.
                      dncAppId:
                        type: string
                        readOnly: true
                        description: dnc application id should be used by customer
                          to authenticate with dnc gateway.
                      dncTenantId:
                        type: string
                        readOnly: true
                        description: tenant id of dnc application id
                      dncEndpoint:
                        type: string
                        readOnly: true
                        description: dnc endpoint url that customers can use to connect
                          to
                description: Represents an instance of a resource.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-long-running-operation: true
    delete:
      description: Deletes the DNC controller
      tags:
      - Controller
      operationId: Controller_Delete
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: resourceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the resource. It must be a minimum of 3 characters,
          and a maximum of 63.
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[a-z][a-z0-9]*$
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK.
        '202':
          description: Accepted.
        '204':
          description: No Content.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-long-running-operation: true
    patch:
      description: Update dnc controller
      tags:
      - Controller
      operationId: Controller_Patch
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: resourceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the resource. It must be a minimum of 3 characters,
          and a maximum of 63.
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[a-z][a-z0-9]*$
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              description: Parameters for updating a resource.
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: The resource tags.
        description: controller type parameters
        required: true
      responses:
        '200':
          description: OK. The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: An identifier that represents the resource.
                  name:
                    type: string
                    readOnly: true
                    description: The name of the resource.
                  type:
                    type: string
                    readOnly: true
                    description: The type of resource.
                  location:
                    type: string
                    description: Location of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: The resource tags.
                  properties:
                    readOnly: true
                    description: Properties of the provision operation request.
                    type: object
                    properties:
                      resourceGuid:
                        type: string
                        readOnly: true
                        description: Resource guid.
                      provisioningState:
                        type: string
                        enum:
                        - Deleting
                        - Succeeded
                        - Failed
                        - Provisioning
                        x-ms-enum:
                          name: ControllerState
                          modelAsString: true
                        readOnly: true
                        description: The current state of dnc controller resource.
                      dncAppId:
                        type: string
                        readOnly: true
                        description: dnc application id should be used by customer
                          to authenticate with dnc gateway.
                      dncTenantId:
                        type: string
                        readOnly: true
                        description: tenant id of dnc application id
                      dncEndpoint:
                        type: string
                        readOnly: true
                        description: dnc endpoint url that customers can use to connect
                          to
                description: Represents an instance of a resource.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  /subscriptions/{subscriptionId}/providers/Microsoft.DelegatedNetwork/controllers:
    get:
      tags:
      - DelegatedControllers
      description: Get all the delegatedController resources in a subscription.
      operationId: DelegatedNetwork_ListBySubscription
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: This is a synchronous operation. The body contains a JSON-serialized
            array of the metadata from all the DelegatedControllers in the subscription.
          content:
            application/json:
              schema:
                description: An array of Delegated controller resources.
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          readOnly: true
                          description: An identifier that represents the resource.
                        name:
                          type: string
                          readOnly: true
                          description: The name of the resource.
                        type:
                          type: string
                          readOnly: true
                          description: The type of resource.
                        location:
                          type: string
                          description: Location of the resource.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: The resource tags.
                        properties:
                          readOnly: true
                          description: Properties of the provision operation request.
                          type: object
                          properties:
                            resourceGuid:
                              type: string
                              readOnly: true
                              description: Resource guid.
                            provisioningState:
                              type: string
                              enum:
                              - Deleting
                              - Succeeded
                              - Failed
                              - Provisioning
                              x-ms-enum:
                                name: ControllerState
                                modelAsString: true
                              readOnly: true
                              description: The current state of dnc controller resource.
                            dncAppId:
                              type: string
                              readOnly: true
                              description: dnc application id should be used by customer
                                to authenticate with dnc gateway.
                            dncTenantId:
                              type: string
                              readOnly: true
                              description: tenant id of dnc application id
                            dncEndpoint:
                              type: string
                              readOnly: true
                              description: dnc endpoint url that customers can use
                                to connect to
                      description: Represents an instance of a resource.
                      x-ms-azure-resource: true
                    description: An array of Delegated controller resources.
                  nextLink:
                    type: string
                    description: The URL to get the next set of controllers.
                    readOnly: true
                required:
                - value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DelegatedNetwork/controllers:
    get:
      tags:
      - DelegatedControllers
      description: Get all the delegatedController resources in a resource group.
      operationId: DelegatedNetwork_ListByResourceGroup
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: This is a synchronous operation. The body contains a JSON-serialized
            array of the metadata from all the delegatedControllers in the resource
            group.
          content:
            application/json:
              schema:
                description: An array of Delegated controller resources.
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          readOnly: true
                          description: An identifier that represents the resource.
                        name:
                          type: string
                          readOnly: true
                          description: The name of the resource.
                        type:
                          type: string
                          readOnly: true
                          description: The type of resource.
                        location:
                          type: string
                          description: Location of the resource.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: The resource tags.
                        properties:
                          readOnly: true
                          description: Properties of the provision operation request.
                          type: object
                          properties:
                            resourceGuid:
                              type: string
                              readOnly: true
                              description: Resource guid.
                            provisioningState:
                              type: string
                              enum:
                              - Deleting
                              - Succeeded
                              - Failed
                              - Provisioning
                              x-ms-enum:
                                name: ControllerState
                                modelAsString: true
                              readOnly: true
                              description: The current state of dnc controller resource.
                            dncAppId:
                              type: string
                              readOnly: true
                              description: dnc application id should be used by customer
                                to authenticate with dnc gateway.
                            dncTenantId:
                              type: string
                              readOnly: true
                              description: tenant id of dnc application id
                            dncEndpoint:
                              type: string
                              readOnly: true
                              description: dnc endpoint url that customers can use
                                to connect to
                      description: Represents an instance of a resource.
                      x-ms-azure-resource: true
                    description: An array of Delegated controller resources.
                  nextLink:
                    type: string
                    description: The URL to get the next set of controllers.
                    readOnly: true
                required:
                - value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
components:
  parameters:
    resourceNameParameter:
      name: resourceName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The name of the resource. It must be a minimum of 3 characters,
        and a maximum of 63.
      schema:
        type: string
        minLength: 3
        maxLength: 63
        pattern: ^[a-z][a-z0-9]*$
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ControllerResource:
      description: Represents an instance of a resource.
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: An identifier that represents the resource.
        name:
          type: string
          readOnly: true
          description: The name of the resource.
        type:
          type: string
          readOnly: true
          description: The type of resource.
        location:
          type: string
          description: Location of the resource.
        tags:
          type: object
          additionalProperties:
            type: string
          description: The resource tags.
      x-ms-azure-resource: true
    ControllerResourceUpdateParameters:
      description: Parameters for updating a resource.
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: The resource tags.
    DelegatedControllers:
      description: An array of Delegated controller resources.
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                readOnly: true
                description: An identifier that represents the resource.
              name:
                type: string
                readOnly: true
                description: The name of the resource.
              type:
                type: string
                readOnly: true
                description: The type of resource.
              location:
                type: string
                description: Location of the resource.
              tags:
                type: object
                additionalProperties:
                  type: string
                description: The resource tags.
              properties:
                readOnly: true
                description: Properties of the provision operation request.
                type: object
                properties:
                  resourceGuid:
                    type: string
                    readOnly: true
                    description: Resource guid.
                  provisioningState:
                    type: string
                    enum:
                    - Deleting
                    - Succeeded
                    - Failed
                    - Provisioning
                    x-ms-enum:
                      name: ControllerState
                      modelAsString: true
                    readOnly: true
                    description: The current state of dnc controller resource.
                  dncAppId:
                    type: string
                    readOnly: true
                    description: dnc application id should be used by customer to
                      authenticate with dnc gateway.
                  dncTenantId:
                    type: string
                    readOnly: true
                    description: tenant id of dnc application id
                  dncEndpoint:
                    type: string
                    readOnly: true
                    description: dnc endpoint url that customers can use to connect
                      to
            description: Represents an instance of a resource.
            x-ms-azure-resource: true
          description: An array of Delegated controller resources.
        nextLink:
          type: string
          description: The URL to get the next set of controllers.
          readOnly: true
      required:
      - value
    DelegatedController:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: An identifier that represents the resource.
        name:
          type: string
          readOnly: true
          description: The name of the resource.
        type:
          type: string
          readOnly: true
          description: The type of resource.
        location:
          type: string
          description: Location of the resource.
        tags:
          type: object
          additionalProperties:
            type: string
          description: The resource tags.
        properties:
          readOnly: true
          description: Properties of the provision operation request.
          type: object
          properties:
            resourceGuid:
              type: string
              readOnly: true
              description: Resource guid.
            provisioningState:
              type: string
              enum:
              - Deleting
              - Succeeded
              - Failed
              - Provisioning
              x-ms-enum:
                name: ControllerState
                modelAsString: true
              readOnly: true
              description: The current state of dnc controller resource.
            dncAppId:
              type: string
              readOnly: true
              description: dnc application id should be used by customer to authenticate
                with dnc gateway.
            dncTenantId:
              type: string
              readOnly: true
              description: tenant id of dnc application id
            dncEndpoint:
              type: string
              readOnly: true
              description: dnc endpoint url that customers can use to connect to
      description: Represents an instance of a resource.
      x-ms-azure-resource: true
    DelegatedControllerProperties:
      description: Properties of Delegated controller resource.
      type: object
      properties:
        resourceGuid:
          type: string
          readOnly: true
          description: Resource guid.
        provisioningState:
          type: string
          enum:
          - Deleting
          - Succeeded
          - Failed
          - Provisioning
          x-ms-enum:
            name: ControllerState
            modelAsString: true
          readOnly: true
          description: The current state of dnc controller resource.
        dncAppId:
          type: string
          readOnly: true
          description: dnc application id should be used by customer to authenticate
            with dnc gateway.
        dncTenantId:
          type: string
          readOnly: true
          description: tenant id of dnc application id
        dncEndpoint:
          type: string
          readOnly: true
          description: dnc endpoint url that customers can use to connect to
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            description: The error detail.
            type: object
            properties:
              code:
                readOnly: true
                type: string
                description: The error code.
              message:
                readOnly: true
                type: string
                description: The error message.
              target:
                readOnly: true
                type: string
                description: The error target.
              details:
                readOnly: true
                type: array
                items:
                  description: The error detail.
                  type: object
                  properties:
                    code:
                      readOnly: true
                      type: string
                      description: The error code.
                    message:
                      readOnly: true
                      type: string
                      description: The error message.
                    target:
                      readOnly: true
                      type: string
                      description: The error target.
                x-ms-identifiers:
                - message
                - target
                description: The error details.
              additionalInfo:
                readOnly: true
                type: array
                items:
                  type: object
                  properties:
                    type:
                      readOnly: true
                      type: string
                      description: The additional info type.
                    info:
                      readOnly: true
                      type: object
                      description: The additional info.
                  description: The resource management error additional info.
                x-ms-identifiers: []
                description: The error additional info.
          x-ms-identifiers:
          - message
          - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            type: object
            properties:
              type:
                readOnly: true
                type: string
                description: The additional info type.
              info:
                readOnly: true
                type: object
                description: The additional info.
            description: The resource management error additional info.
          x-ms-identifiers: []
          description: The error additional info.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ErrorResponse:
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      type: object
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                description: The error detail.
                type: object
                properties:
                  code:
                    readOnly: true
                    type: string
                    description: The error code.
                  message:
                    readOnly: true
                    type: string
                    description: The error message.
                  target:
                    readOnly: true
                    type: string
                    description: The error target.
                  details:
                    readOnly: true
                    type: array
                    items:
                      description: The error detail.
                      type: object
                      properties:
                        code:
                          readOnly: true
                          type: string
                          description: The error code.
                        message:
                          readOnly: true
                          type: string
                          description: The error message.
                        target:
                          readOnly: true
                          type: string
                          description: The error target.
                    x-ms-identifiers:
                    - message
                    - target
                    description: The error details.
                  additionalInfo:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          readOnly: true
                          type: string
                          description: The additional info type.
                        info:
                          readOnly: true
                          type: object
                          description: The additional info.
                      description: The resource management error additional info.
                    x-ms-identifiers: []
                    description: The error additional info.
              x-ms-identifiers:
              - message
              - target
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              x-ms-identifiers: []
              description: The error additional info.
