openapi: 3.0.0
info:
  version: 2025-01-01
  title: ContainerApps API Client
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/providers/Microsoft.App/locations/{location}/availableManagedEnvironmentsWorkloadProfileTypes
  : get:
      tags:
      - AvailableWorkloadProfiles
      summary: Get available workload profiles by location.
      description: Get all available workload profiles for a location.
      operationId: AvailableWorkloadProfiles_Get
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: location
        in: path
        description: The name of Azure region.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of available workload profiles in the location.
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of workload profiles.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        location:
                          type: string
                          description: Region of the workload profile.
                        properties:
                          description: Revision resource specific properties
                          type: object
                          properties:
                            category:
                              description: Used to categorize workload profiles.
                              type: string
                            applicability:
                              type: string
                              description: indicates whether the profile is default
                                for the location.
                              enum:
                              - LocationDefault
                              - Custom
                              x-ms-enum:
                                name: Applicability
                                modelAsString: true
                            cores:
                              type: integer
                              format: int32
                              description: Number of cores in CPU.
                            memoryGiB:
                              type: integer
                              format: int32
                              description: Memory in GiB.
                            gpus:
                              type: integer
                              format: int32
                              description: Number of GPUs.
                            displayName:
                              type: string
                              description: The everyday name of the workload profile.
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription.
      required: true
      schema:
        type: string
        minLength: 1
    LocationParameter:
      name: location
      in: path
      description: The name of Azure region.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    AvailableWorkloadProfile:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        location:
          type: string
          description: Region of the workload profile.
        properties:
          description: Revision resource specific properties
          type: object
          properties:
            category:
              description: Used to categorize workload profiles.
              type: string
            applicability:
              type: string
              description: indicates whether the profile is default for the location.
              enum:
              - LocationDefault
              - Custom
              x-ms-enum:
                name: Applicability
                modelAsString: true
            cores:
              type: integer
              format: int32
              description: Number of cores in CPU.
            memoryGiB:
              type: integer
              format: int32
              description: Memory in GiB.
            gpus:
              type: integer
              format: int32
              description: Number of GPUs.
            displayName:
              type: string
              description: The everyday name of the workload profile.
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    AvailableWorkloadProfilesCollection:
      description: Collection of available workload profiles in the location.
      required:
      - value
      type: object
      properties:
        value:
          description: Collection of workload profiles.
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: arm-id
                description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                readOnly: true
              name:
                type: string
                description: The name of the resource
                readOnly: true
              type:
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
                readOnly: true
              systemData:
                description: Azure Resource Manager metadata containing createdBy
                  and modifiedBy information.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              location:
                type: string
                description: Region of the workload profile.
              properties:
                description: Revision resource specific properties
                type: object
                properties:
                  category:
                    description: Used to categorize workload profiles.
                    type: string
                  applicability:
                    type: string
                    description: indicates whether the profile is default for the
                      location.
                    enum:
                    - LocationDefault
                    - Custom
                    x-ms-enum:
                      name: Applicability
                      modelAsString: true
                  cores:
                    type: integer
                    format: int32
                    description: Number of cores in CPU.
                  memoryGiB:
                    type: integer
                    format: int32
                    description: Memory in GiB.
                  gpus:
                    type: integer
                    format: int32
                    description: Number of GPUs.
                  displayName:
                    type: string
                    description: The everyday name of the workload profile.
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
        nextLink:
          description: Link to next page of resources.
          type: string
          readOnly: true
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    systemData:
      type: object
      description: Metadata pertaining to creation and last modification of the resource.
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
      readOnly: true
    Resource:
      type: object
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
