openapi: 3.0.0
info:
  version: 2025-01-01
  title: ContainerApps API Client
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths: {}
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    EnvironmentVar:
      description: Container App container environment variable.
      type: object
      properties:
        name:
          description: Environment variable name.
          type: string
        value:
          description: Non-secret environment variable value.
          type: string
        secretRef:
          description: Name of the Container App secret from which to pull the environment
            variable value.
          type: string
    WorkloadProfileName:
      description: Workload profile name for container apps to execute on.
      type: string
    WorkloadProfileType:
      description: Workload profile type for container apps to execute on.
      type: string
    BaseContainer:
      description: Container App base container definition.
      type: object
      properties:
        image:
          description: Container image tag.
          type: string
        name:
          description: Custom container name.
          type: string
        command:
          description: Container start command.
          type: array
          items:
            type: string
        args:
          description: Container start command arguments.
          type: array
          items:
            type: string
        env:
          description: Container environment variables.
          type: array
          items:
            description: Container App container environment variable.
            type: object
            properties:
              name:
                description: Environment variable name.
                type: string
              value:
                description: Non-secret environment variable value.
                type: string
              secretRef:
                description: Name of the Container App secret from which to pull the
                  environment variable value.
                type: string
          x-ms-identifiers:
          - name
        resources:
          description: Container resource requirements.
          type: object
          properties:
            cpu:
              format: double
              description: Required CPU in cores, e.g. 0.5
              type: number
            memory:
              description: Required memory, e.g. "250Mb"
              type: string
            ephemeralStorage:
              description: Ephemeral Storage, e.g. "1Gi"
              type: string
              readOnly: true
        volumeMounts:
          description: Container volume mounts.
          type: array
          items:
            description: Volume mount for the Container App.
            type: object
            properties:
              volumeName:
                description: This must match the Name of a Volume.
                type: string
              mountPath:
                description: Path within the container at which the volume should
                  be mounted.Must not contain ':'.
                type: string
              subPath:
                description: Path within the volume from which the container's volume
                  should be mounted. Defaults to "" (volume's root).
                type: string
          x-ms-identifiers:
          - volumeName
    InitContainer:
      type: object
      properties:
        image:
          description: Container image tag.
          type: string
        name:
          description: Custom container name.
          type: string
        command:
          description: Container start command.
          type: array
          items:
            type: string
        args:
          description: Container start command arguments.
          type: array
          items:
            type: string
        env:
          description: Container environment variables.
          type: array
          items:
            description: Container App container environment variable.
            type: object
            properties:
              name:
                description: Environment variable name.
                type: string
              value:
                description: Non-secret environment variable value.
                type: string
              secretRef:
                description: Name of the Container App secret from which to pull the
                  environment variable value.
                type: string
          x-ms-identifiers:
          - name
        resources:
          description: Container resource requirements.
          type: object
          properties:
            cpu:
              format: double
              description: Required CPU in cores, e.g. 0.5
              type: number
            memory:
              description: Required memory, e.g. "250Mb"
              type: string
            ephemeralStorage:
              description: Ephemeral Storage, e.g. "1Gi"
              type: string
              readOnly: true
        volumeMounts:
          description: Container volume mounts.
          type: array
          items:
            description: Volume mount for the Container App.
            type: object
            properties:
              volumeName:
                description: This must match the Name of a Volume.
                type: string
              mountPath:
                description: Path within the container at which the volume should
                  be mounted.Must not contain ':'.
                type: string
              subPath:
                description: Path within the volume from which the container's volume
                  should be mounted. Defaults to "" (volume's root).
                type: string
          x-ms-identifiers:
          - volumeName
      description: Container App base container definition.
    Container:
      type: object
      properties:
        image:
          description: Container image tag.
          type: string
        name:
          description: Custom container name.
          type: string
        command:
          description: Container start command.
          type: array
          items:
            type: string
        args:
          description: Container start command arguments.
          type: array
          items:
            type: string
        env:
          description: Container environment variables.
          type: array
          items:
            description: Container App container environment variable.
            type: object
            properties:
              name:
                description: Environment variable name.
                type: string
              value:
                description: Non-secret environment variable value.
                type: string
              secretRef:
                description: Name of the Container App secret from which to pull the
                  environment variable value.
                type: string
          x-ms-identifiers:
          - name
        resources:
          description: Container resource requirements.
          type: object
          properties:
            cpu:
              format: double
              description: Required CPU in cores, e.g. 0.5
              type: number
            memory:
              description: Required memory, e.g. "250Mb"
              type: string
            ephemeralStorage:
              description: Ephemeral Storage, e.g. "1Gi"
              type: string
              readOnly: true
        volumeMounts:
          description: Container volume mounts.
          type: array
          items:
            description: Volume mount for the Container App.
            type: object
            properties:
              volumeName:
                description: This must match the Name of a Volume.
                type: string
              mountPath:
                description: Path within the container at which the volume should
                  be mounted.Must not contain ':'.
                type: string
              subPath:
                description: Path within the volume from which the container's volume
                  should be mounted. Defaults to "" (volume's root).
                type: string
          x-ms-identifiers:
          - volumeName
        probes:
          description: List of probes for the container.
          type: array
          items:
            description: Probe describes a health check to be performed against a
              container to determine whether it is alive or ready to receive traffic.
            type: object
            properties:
              failureThreshold:
                description: Minimum consecutive failures for the probe to be considered
                  failed after having succeeded. Defaults to 3. Minimum value is 1.
                  Maximum value is 10.
                type: integer
                format: int32
              httpGet:
                description: HTTPGet specifies the http request to perform.
                type: object
                required:
                - port
                properties:
                  host:
                    description: Host name to connect to, defaults to the pod IP.
                      You probably want to set "Host" in httpHeaders instead.
                    type: string
                  httpHeaders:
                    description: Custom headers to set in the request. HTTP allows
                      repeated headers.
                    type: array
                    items:
                      description: HTTPHeader describes a custom header to be used
                        in HTTP probes
                      type: object
                      required:
                      - name
                      - value
                      properties:
                        name:
                          description: The header field name
                          type: string
                        value:
                          description: The header field value
                          type: string
                    x-ms-identifiers:
                    - name
                  path:
                    description: Path to access on the HTTP server.
                    type: string
                  port:
                    description: Name or number of the port to access on the container.
                      Number must be in the range 1 to 65535. Name must be an IANA_SVC_NAME.
                    type: integer
                    format: int32
                  scheme:
                    description: Scheme to use for connecting to the host. Defaults
                      to HTTP.
                    enum:
                    - HTTP
                    - HTTPS
                    type: string
                    x-ms-enum:
                      name: Scheme
                      modelAsString: true
              initialDelaySeconds:
                description: Number of seconds after the container has started before
                  liveness probes are initiated. Minimum value is 1. Maximum value
                  is 60.
                type: integer
                format: int32
              periodSeconds:
                description: How often (in seconds) to perform the probe. Default
                  to 10 seconds. Minimum value is 1. Maximum value is 240.
                type: integer
                format: int32
              successThreshold:
                description: Minimum consecutive successes for the probe to be considered
                  successful after having failed. Defaults to 1. Must be 1 for liveness
                  and startup. Minimum value is 1. Maximum value is 10.
                type: integer
                format: int32
              tcpSocket:
                description: TCPSocket specifies an action involving a TCP port. TCP
                  hooks not yet supported.
                type: object
                required:
                - port
                properties:
                  host:
                    description: 'Optional: Host name to connect to, defaults to the
                      pod IP.'
                    type: string
                  port:
                    description: Number or name of the port to access on the container.
                      Number must be in the range 1 to 65535. Name must be an IANA_SVC_NAME.
                    type: integer
                    format: int32
              terminationGracePeriodSeconds:
                description: Optional duration in seconds the pod needs to terminate
                  gracefully upon probe failure. The grace period is the duration
                  in seconds after the processes running in the pod are sent a termination
                  signal and the time when the processes are forcibly halted with
                  a kill signal. Set this value longer than the expected cleanup time
                  for your process. If this value is nil, the pod's terminationGracePeriodSeconds
                  will be used. Otherwise, this value overrides the value provided
                  by the pod spec. Value must be non-negative integer. The value zero
                  indicates stop immediately via the kill signal (no opportunity to
                  shut down). This is an alpha field and requires enabling ProbeTerminationGracePeriod
                  feature gate. Maximum value is 3600 seconds (1 hour)
                type: integer
                format: int64
              timeoutSeconds:
                description: Number of seconds after which the probe times out. Defaults
                  to 1 second. Minimum value is 1. Maximum value is 240.
                type: integer
                format: int32
              type:
                description: The type of probe.
                enum:
                - Liveness
                - Readiness
                - Startup
                type: string
                x-ms-enum:
                  name: Type
                  modelAsString: true
          x-ms-identifiers:
          - type
      description: Container App base container definition.
    ContainerResources:
      description: Container App container resource requirements.
      type: object
      properties:
        cpu:
          format: double
          description: Required CPU in cores, e.g. 0.5
          type: number
        memory:
          description: Required memory, e.g. "250Mb"
          type: string
        ephemeralStorage:
          description: Ephemeral Storage, e.g. "1Gi"
          type: string
          readOnly: true
    ContainerAppProbe:
      description: Probe describes a health check to be performed against a container
        to determine whether it is alive or ready to receive traffic.
      type: object
      properties:
        failureThreshold:
          description: Minimum consecutive failures for the probe to be considered
            failed after having succeeded. Defaults to 3. Minimum value is 1. Maximum
            value is 10.
          type: integer
          format: int32
        httpGet:
          description: HTTPGet specifies the http request to perform.
          type: object
          required:
          - port
          properties:
            host:
              description: Host name to connect to, defaults to the pod IP. You probably
                want to set "Host" in httpHeaders instead.
              type: string
            httpHeaders:
              description: Custom headers to set in the request. HTTP allows repeated
                headers.
              type: array
              items:
                description: HTTPHeader describes a custom header to be used in HTTP
                  probes
                type: object
                required:
                - name
                - value
                properties:
                  name:
                    description: The header field name
                    type: string
                  value:
                    description: The header field value
                    type: string
              x-ms-identifiers:
              - name
            path:
              description: Path to access on the HTTP server.
              type: string
            port:
              description: Name or number of the port to access on the container.
                Number must be in the range 1 to 65535. Name must be an IANA_SVC_NAME.
              type: integer
              format: int32
            scheme:
              description: Scheme to use for connecting to the host. Defaults to HTTP.
              enum:
              - HTTP
              - HTTPS
              type: string
              x-ms-enum:
                name: Scheme
                modelAsString: true
        initialDelaySeconds:
          description: Number of seconds after the container has started before liveness
            probes are initiated. Minimum value is 1. Maximum value is 60.
          type: integer
          format: int32
        periodSeconds:
          description: How often (in seconds) to perform the probe. Default to 10
            seconds. Minimum value is 1. Maximum value is 240.
          type: integer
          format: int32
        successThreshold:
          description: Minimum consecutive successes for the probe to be considered
            successful after having failed. Defaults to 1. Must be 1 for liveness
            and startup. Minimum value is 1. Maximum value is 10.
          type: integer
          format: int32
        tcpSocket:
          description: TCPSocket specifies an action involving a TCP port. TCP hooks
            not yet supported.
          type: object
          required:
          - port
          properties:
            host:
              description: 'Optional: Host name to connect to, defaults to the pod
                IP.'
              type: string
            port:
              description: Number or name of the port to access on the container.
                Number must be in the range 1 to 65535. Name must be an IANA_SVC_NAME.
              type: integer
              format: int32
        terminationGracePeriodSeconds:
          description: Optional duration in seconds the pod needs to terminate gracefully
            upon probe failure. The grace period is the duration in seconds after
            the processes running in the pod are sent a termination signal and the
            time when the processes are forcibly halted with a kill signal. Set this
            value longer than the expected cleanup time for your process. If this
            value is nil, the pod's terminationGracePeriodSeconds will be used. Otherwise,
            this value overrides the value provided by the pod spec. Value must be
            non-negative integer. The value zero indicates stop immediately via the
            kill signal (no opportunity to shut down). This is an alpha field and
            requires enabling ProbeTerminationGracePeriod feature gate. Maximum value
            is 3600 seconds (1 hour)
          type: integer
          format: int64
        timeoutSeconds:
          description: Number of seconds after which the probe times out. Defaults
            to 1 second. Minimum value is 1. Maximum value is 240.
          type: integer
          format: int32
        type:
          description: The type of probe.
          enum:
          - Liveness
          - Readiness
          - Startup
          type: string
          x-ms-enum:
            name: Type
            modelAsString: true
    CustomScaleRule:
      description: Container App container Custom scaling rule.
      type: object
      properties:
        type:
          description: 'Type of the custom scale rule

            eg: azure-servicebus, redis etc.'
          type: string
        metadata:
          description: Metadata properties to describe custom scale rule.
          type: object
          additionalProperties:
            type: string
        auth:
          description: Authentication secrets for the custom scale rule.
          type: array
          items:
            description: Auth Secrets for Scale Rule
            type: object
            properties:
              secretRef:
                description: Name of the secret from which to pull the auth params.
                type: string
              triggerParameter:
                description: Trigger Parameter that uses the secret
                type: string
          x-ms-identifiers:
          - triggerParameter
        identity:
          description: The resource ID of a user-assigned managed identity that is
            assigned to the Container App, or 'system' for system-assigned identity.
          type: string
    CustomDomainConfiguration:
      type: object
      description: Configuration properties for apps environment custom domain
      properties:
        customDomainVerificationId:
          description: Id used to verify domain name ownership
          type: string
          readOnly: true
        dnsSuffix:
          type: string
          description: Dns suffix for the environment domain
          x-ms-mutability:
          - create
          - read
        certificateKeyVaultProperties:
          description: Certificate stored in Azure Key Vault.
          type: object
          properties:
            identity:
              description: Resource ID of a managed identity to authenticate with
                Azure Key Vault, or System to use a system-assigned identity.
              type: string
            keyVaultUrl:
              description: URL pointing to the Azure Key Vault secret that holds the
                certificate.
              type: string
              format: uri
        certificateValue:
          format: byte
          description: PFX or PEM blob
          type: string
          x-ms-secret: true
        certificatePassword:
          description: Certificate password
          type: string
          x-ms-secret: true
        expirationDate:
          format: date-time
          description: Certificate expiration date.
          type: string
          readOnly: true
        thumbprint:
          description: Certificate thumbprint.
          type: string
          readOnly: true
        subjectName:
          description: Subject name of the certificate.
          type: string
          readOnly: true
    DefaultErrorResponse:
      description: App Service error response.
      type: object
      properties:
        error:
          description: Error model.
          type: object
          properties:
            code:
              description: Standardized string to programmatically identify the error.
              type: string
              readOnly: true
            message:
              description: Detailed error description and debugging information.
              type: string
              readOnly: true
            target:
              description: Detailed error description and debugging information.
              type: string
              readOnly: true
            details:
              type: array
              description: Details or the error
              items:
                description: Detailed errors.
                type: object
                properties:
                  code:
                    description: Standardized string to programmatically identify
                      the error.
                    type: string
                    readOnly: true
                  message:
                    description: Detailed error description and debugging information.
                    type: string
                    readOnly: true
                  target:
                    description: Detailed error description and debugging information.
                    type: string
                    readOnly: true
                readOnly: true
              x-ms-identifiers:
              - code
            innererror:
              description: More information to debug error.
              type: string
              readOnly: true
          readOnly: true
    HttpScaleRule:
      description: Container App container Http scaling rule.
      type: object
      properties:
        metadata:
          description: Metadata properties to describe http scale rule.
          type: object
          additionalProperties:
            type: string
        auth:
          description: Authentication secrets for the custom scale rule.
          type: array
          items:
            description: Auth Secrets for Scale Rule
            type: object
            properties:
              secretRef:
                description: Name of the secret from which to pull the auth params.
                type: string
              triggerParameter:
                description: Trigger Parameter that uses the secret
                type: string
          x-ms-identifiers:
          - triggerParameter
        identity:
          description: The resource ID of a user-assigned managed identity that is
            assigned to the Container App, or 'system' for system-assigned identity.
          type: string
    TcpScaleRule:
      description: Container App container Tcp scaling rule.
      type: object
      properties:
        metadata:
          description: Metadata properties to describe tcp scale rule.
          type: object
          additionalProperties:
            type: string
        auth:
          description: Authentication secrets for the tcp scale rule.
          type: array
          items:
            description: Auth Secrets for Scale Rule
            type: object
            properties:
              secretRef:
                description: Name of the secret from which to pull the auth params.
                type: string
              triggerParameter:
                description: Trigger Parameter that uses the secret
                type: string
          x-ms-identifiers:
          - triggerParameter
        identity:
          description: The resource ID of a user-assigned managed identity that is
            assigned to the Container App, or 'system' for system-assigned identity.
          type: string
    QueueScaleRule:
      description: Container App container Azure Queue based scaling rule.
      type: object
      properties:
        accountName:
          description: Storage account name. required if using managed identity to
            authenticate
          type: string
        queueName:
          description: Queue name.
          type: string
        queueLength:
          format: int32
          description: Queue length.
          type: integer
        auth:
          description: Authentication secrets for the queue scale rule.
          type: array
          items:
            description: Auth Secrets for Scale Rule
            type: object
            properties:
              secretRef:
                description: Name of the secret from which to pull the auth params.
                type: string
              triggerParameter:
                description: Trigger Parameter that uses the secret
                type: string
          x-ms-identifiers:
          - triggerParameter
        identity:
          description: The resource ID of a user-assigned managed identity that is
            assigned to the Container App, or 'system' for system-assigned identity.
          type: string
    Scale:
      description: Container App scaling configurations.
      type: object
      properties:
        minReplicas:
          format: int32
          description: Optional. Minimum number of container replicas.
          type: integer
        maxReplicas:
          format: int32
          description: Optional. Maximum number of container replicas. Defaults to
            10 if not set.
          type: integer
          default: 10
        cooldownPeriod:
          format: int32
          description: Optional. KEDA Cooldown Period in seconds. Defaults to 300
            seconds if not set.
          type: integer
        pollingInterval:
          format: int32
          description: Optional. KEDA Polling Interval in seconds. Defaults to 30
            seconds if not set.
          type: integer
        rules:
          description: Scaling rules.
          type: array
          items:
            description: Container App container scaling rule.
            type: object
            properties:
              name:
                description: Scale Rule Name
                type: string
              azureQueue:
                description: Azure Queue based scaling.
                type: object
                properties:
                  accountName:
                    description: Storage account name. required if using managed identity
                      to authenticate
                    type: string
                  queueName:
                    description: Queue name.
                    type: string
                  queueLength:
                    format: int32
                    description: Queue length.
                    type: integer
                  auth:
                    description: Authentication secrets for the queue scale rule.
                    type: array
                    items:
                      description: Auth Secrets for Scale Rule
                      type: object
                      properties:
                        secretRef:
                          description: Name of the secret from which to pull the auth
                            params.
                          type: string
                        triggerParameter:
                          description: Trigger Parameter that uses the secret
                          type: string
                    x-ms-identifiers:
                    - triggerParameter
                  identity:
                    description: The resource ID of a user-assigned managed identity
                      that is assigned to the Container App, or 'system' for system-assigned
                      identity.
                    type: string
              custom:
                description: Custom scale rule.
                type: object
                properties:
                  type:
                    description: 'Type of the custom scale rule

                      eg: azure-servicebus, redis etc.'
                    type: string
                  metadata:
                    description: Metadata properties to describe custom scale rule.
                    type: object
                    additionalProperties:
                      type: string
                  auth:
                    description: Authentication secrets for the custom scale rule.
                    type: array
                    items:
                      description: Auth Secrets for Scale Rule
                      type: object
                      properties:
                        secretRef:
                          description: Name of the secret from which to pull the auth
                            params.
                          type: string
                        triggerParameter:
                          description: Trigger Parameter that uses the secret
                          type: string
                    x-ms-identifiers:
                    - triggerParameter
                  identity:
                    description: The resource ID of a user-assigned managed identity
                      that is assigned to the Container App, or 'system' for system-assigned
                      identity.
                    type: string
              http:
                description: HTTP requests based scaling.
                type: object
                properties:
                  metadata:
                    description: Metadata properties to describe http scale rule.
                    type: object
                    additionalProperties:
                      type: string
                  auth:
                    description: Authentication secrets for the custom scale rule.
                    type: array
                    items:
                      description: Auth Secrets for Scale Rule
                      type: object
                      properties:
                        secretRef:
                          description: Name of the secret from which to pull the auth
                            params.
                          type: string
                        triggerParameter:
                          description: Trigger Parameter that uses the secret
                          type: string
                    x-ms-identifiers:
                    - triggerParameter
                  identity:
                    description: The resource ID of a user-assigned managed identity
                      that is assigned to the Container App, or 'system' for system-assigned
                      identity.
                    type: string
              tcp:
                description: Tcp requests based scaling.
                type: object
                properties:
                  metadata:
                    description: Metadata properties to describe tcp scale rule.
                    type: object
                    additionalProperties:
                      type: string
                  auth:
                    description: Authentication secrets for the tcp scale rule.
                    type: array
                    items:
                      description: Auth Secrets for Scale Rule
                      type: object
                      properties:
                        secretRef:
                          description: Name of the secret from which to pull the auth
                            params.
                          type: string
                        triggerParameter:
                          description: Trigger Parameter that uses the secret
                          type: string
                    x-ms-identifiers:
                    - triggerParameter
                  identity:
                    description: The resource ID of a user-assigned managed identity
                      that is assigned to the Container App, or 'system' for system-assigned
                      identity.
                    type: string
          x-ms-identifiers:
          - name
    ScaleRule:
      description: Container App container scaling rule.
      type: object
      properties:
        name:
          description: Scale Rule Name
          type: string
        azureQueue:
          description: Azure Queue based scaling.
          type: object
          properties:
            accountName:
              description: Storage account name. required if using managed identity
                to authenticate
              type: string
            queueName:
              description: Queue name.
              type: string
            queueLength:
              format: int32
              description: Queue length.
              type: integer
            auth:
              description: Authentication secrets for the queue scale rule.
              type: array
              items:
                description: Auth Secrets for Scale Rule
                type: object
                properties:
                  secretRef:
                    description: Name of the secret from which to pull the auth params.
                    type: string
                  triggerParameter:
                    description: Trigger Parameter that uses the secret
                    type: string
              x-ms-identifiers:
              - triggerParameter
            identity:
              description: The resource ID of a user-assigned managed identity that
                is assigned to the Container App, or 'system' for system-assigned
                identity.
              type: string
        custom:
          description: Custom scale rule.
          type: object
          properties:
            type:
              description: 'Type of the custom scale rule

                eg: azure-servicebus, redis etc.'
              type: string
            metadata:
              description: Metadata properties to describe custom scale rule.
              type: object
              additionalProperties:
                type: string
            auth:
              description: Authentication secrets for the custom scale rule.
              type: array
              items:
                description: Auth Secrets for Scale Rule
                type: object
                properties:
                  secretRef:
                    description: Name of the secret from which to pull the auth params.
                    type: string
                  triggerParameter:
                    description: Trigger Parameter that uses the secret
                    type: string
              x-ms-identifiers:
              - triggerParameter
            identity:
              description: The resource ID of a user-assigned managed identity that
                is assigned to the Container App, or 'system' for system-assigned
                identity.
              type: string
        http:
          description: HTTP requests based scaling.
          type: object
          properties:
            metadata:
              description: Metadata properties to describe http scale rule.
              type: object
              additionalProperties:
                type: string
            auth:
              description: Authentication secrets for the custom scale rule.
              type: array
              items:
                description: Auth Secrets for Scale Rule
                type: object
                properties:
                  secretRef:
                    description: Name of the secret from which to pull the auth params.
                    type: string
                  triggerParameter:
                    description: Trigger Parameter that uses the secret
                    type: string
              x-ms-identifiers:
              - triggerParameter
            identity:
              description: The resource ID of a user-assigned managed identity that
                is assigned to the Container App, or 'system' for system-assigned
                identity.
              type: string
        tcp:
          description: Tcp requests based scaling.
          type: object
          properties:
            metadata:
              description: Metadata properties to describe tcp scale rule.
              type: object
              additionalProperties:
                type: string
            auth:
              description: Authentication secrets for the tcp scale rule.
              type: array
              items:
                description: Auth Secrets for Scale Rule
                type: object
                properties:
                  secretRef:
                    description: Name of the secret from which to pull the auth params.
                    type: string
                  triggerParameter:
                    description: Trigger Parameter that uses the secret
                    type: string
              x-ms-identifiers:
              - triggerParameter
            identity:
              description: The resource ID of a user-assigned managed identity that
                is assigned to the Container App, or 'system' for system-assigned
                identity.
              type: string
    ScaleRuleAuth:
      description: Auth Secrets for Scale Rule
      type: object
      properties:
        secretRef:
          description: Name of the secret from which to pull the auth params.
          type: string
        triggerParameter:
          description: Trigger Parameter that uses the secret
          type: string
    Secret:
      description: Secret definition.
      type: object
      properties:
        name:
          description: Secret Name.
          type: string
        value:
          description: Secret Value.
          type: string
          x-ms-mutability:
          - create
          - update
          x-ms-secret: true
        identity:
          description: Resource ID of a managed identity to authenticate with Azure
            Key Vault, or System to use a system-assigned identity.
          type: string
        keyVaultUrl:
          description: Azure Key Vault URL pointing to the secret referenced by the
            container app.
          type: string
    Template:
      description: 'Container App versioned application definition.

        Defines the desired state of an immutable revision.

        Any changes to this section Will result in a new revision being created'
      type: object
      properties:
        revisionSuffix:
          description: User friendly suffix that is appended to the revision name
          type: string
        terminationGracePeriodSeconds:
          description: Optional duration in seconds the Container App Instance needs
            to terminate gracefully. Value must be non-negative integer. The value
            zero indicates stop immediately via the kill signal (no opportunity to
            shut down). If this value is nil, the default grace period will be used
            instead. Set this value longer than the expected cleanup time for your
            process. Defaults to 30 seconds.
          format: int64
          type: integer
        initContainers:
          description: List of specialized containers that run before app containers.
          type: array
          items:
            type: object
            properties:
              image:
                description: Container image tag.
                type: string
              name:
                description: Custom container name.
                type: string
              command:
                description: Container start command.
                type: array
                items:
                  type: string
              args:
                description: Container start command arguments.
                type: array
                items:
                  type: string
              env:
                description: Container environment variables.
                type: array
                items:
                  description: Container App container environment variable.
                  type: object
                  properties:
                    name:
                      description: Environment variable name.
                      type: string
                    value:
                      description: Non-secret environment variable value.
                      type: string
                    secretRef:
                      description: Name of the Container App secret from which to
                        pull the environment variable value.
                      type: string
                x-ms-identifiers:
                - name
              resources:
                description: Container resource requirements.
                type: object
                properties:
                  cpu:
                    format: double
                    description: Required CPU in cores, e.g. 0.5
                    type: number
                  memory:
                    description: Required memory, e.g. "250Mb"
                    type: string
                  ephemeralStorage:
                    description: Ephemeral Storage, e.g. "1Gi"
                    type: string
                    readOnly: true
              volumeMounts:
                description: Container volume mounts.
                type: array
                items:
                  description: Volume mount for the Container App.
                  type: object
                  properties:
                    volumeName:
                      description: This must match the Name of a Volume.
                      type: string
                    mountPath:
                      description: Path within the container at which the volume should
                        be mounted.Must not contain ':'.
                      type: string
                    subPath:
                      description: Path within the volume from which the container's
                        volume should be mounted. Defaults to "" (volume's root).
                      type: string
                x-ms-identifiers:
                - volumeName
            description: Container App base container definition.
          x-ms-identifiers:
          - name
        containers:
          description: List of container definitions for the Container App.
          type: array
          items:
            type: object
            properties:
              image:
                description: Container image tag.
                type: string
              name:
                description: Custom container name.
                type: string
              command:
                description: Container start command.
                type: array
                items:
                  type: string
              args:
                description: Container start command arguments.
                type: array
                items:
                  type: string
              env:
                description: Container environment variables.
                type: array
                items:
                  description: Container App container environment variable.
                  type: object
                  properties:
                    name:
                      description: Environment variable name.
                      type: string
                    value:
                      description: Non-secret environment variable value.
                      type: string
                    secretRef:
                      description: Name of the Container App secret from which to
                        pull the environment variable value.
                      type: string
                x-ms-identifiers:
                - name
              resources:
                description: Container resource requirements.
                type: object
                properties:
                  cpu:
                    format: double
                    description: Required CPU in cores, e.g. 0.5
                    type: number
                  memory:
                    description: Required memory, e.g. "250Mb"
                    type: string
                  ephemeralStorage:
                    description: Ephemeral Storage, e.g. "1Gi"
                    type: string
                    readOnly: true
              volumeMounts:
                description: Container volume mounts.
                type: array
                items:
                  description: Volume mount for the Container App.
                  type: object
                  properties:
                    volumeName:
                      description: This must match the Name of a Volume.
                      type: string
                    mountPath:
                      description: Path within the container at which the volume should
                        be mounted.Must not contain ':'.
                      type: string
                    subPath:
                      description: Path within the volume from which the container's
                        volume should be mounted. Defaults to "" (volume's root).
                      type: string
                x-ms-identifiers:
                - volumeName
              probes:
                description: List of probes for the container.
                type: array
                items:
                  description: Probe describes a health check to be performed against
                    a container to determine whether it is alive or ready to receive
                    traffic.
                  type: object
                  properties:
                    failureThreshold:
                      description: Minimum consecutive failures for the probe to be
                        considered failed after having succeeded. Defaults to 3. Minimum
                        value is 1. Maximum value is 10.
                      type: integer
                      format: int32
                    httpGet:
                      description: HTTPGet specifies the http request to perform.
                      type: object
                      required:
                      - port
                      properties:
                        host:
                          description: Host name to connect to, defaults to the pod
                            IP. You probably want to set "Host" in httpHeaders instead.
                          type: string
                        httpHeaders:
                          description: Custom headers to set in the request. HTTP
                            allows repeated headers.
                          type: array
                          items:
                            description: HTTPHeader describes a custom header to be
                              used in HTTP probes
                            type: object
                            required:
                            - name
                            - value
                            properties:
                              name:
                                description: The header field name
                                type: string
                              value:
                                description: The header field value
                                type: string
                          x-ms-identifiers:
                          - name
                        path:
                          description: Path to access on the HTTP server.
                          type: string
                        port:
                          description: Name or number of the port to access on the
                            container. Number must be in the range 1 to 65535. Name
                            must be an IANA_SVC_NAME.
                          type: integer
                          format: int32
                        scheme:
                          description: Scheme to use for connecting to the host. Defaults
                            to HTTP.
                          enum:
                          - HTTP
                          - HTTPS
                          type: string
                          x-ms-enum:
                            name: Scheme
                            modelAsString: true
                    initialDelaySeconds:
                      description: Number of seconds after the container has started
                        before liveness probes are initiated. Minimum value is 1.
                        Maximum value is 60.
                      type: integer
                      format: int32
                    periodSeconds:
                      description: How often (in seconds) to perform the probe. Default
                        to 10 seconds. Minimum value is 1. Maximum value is 240.
                      type: integer
                      format: int32
                    successThreshold:
                      description: Minimum consecutive successes for the probe to
                        be considered successful after having failed. Defaults to
                        1. Must be 1 for liveness and startup. Minimum value is 1.
                        Maximum value is 10.
                      type: integer
                      format: int32
                    tcpSocket:
                      description: TCPSocket specifies an action involving a TCP port.
                        TCP hooks not yet supported.
                      type: object
                      required:
                      - port
                      properties:
                        host:
                          description: 'Optional: Host name to connect to, defaults
                            to the pod IP.'
                          type: string
                        port:
                          description: Number or name of the port to access on the
                            container. Number must be in the range 1 to 65535. Name
                            must be an IANA_SVC_NAME.
                          type: integer
                          format: int32
                    terminationGracePeriodSeconds:
                      description: Optional duration in seconds the pod needs to terminate
                        gracefully upon probe failure. The grace period is the duration
                        in seconds after the processes running in the pod are sent
                        a termination signal and the time when the processes are forcibly
                        halted with a kill signal. Set this value longer than the
                        expected cleanup time for your process. If this value is nil,
                        the pod's terminationGracePeriodSeconds will be used. Otherwise,
                        this value overrides the value provided by the pod spec. Value
                        must be non-negative integer. The value zero indicates stop
                        immediately via the kill signal (no opportunity to shut down).
                        This is an alpha field and requires enabling ProbeTerminationGracePeriod
                        feature gate. Maximum value is 3600 seconds (1 hour)
                      type: integer
                      format: int64
                    timeoutSeconds:
                      description: Number of seconds after which the probe times out.
                        Defaults to 1 second. Minimum value is 1. Maximum value is
                        240.
                      type: integer
                      format: int32
                    type:
                      description: The type of probe.
                      enum:
                      - Liveness
                      - Readiness
                      - Startup
                      type: string
                      x-ms-enum:
                        name: Type
                        modelAsString: true
                x-ms-identifiers:
                - type
            description: Container App base container definition.
          x-ms-identifiers:
          - name
        scale:
          description: Scaling properties for the Container App.
          type: object
          properties:
            minReplicas:
              format: int32
              description: Optional. Minimum number of container replicas.
              type: integer
            maxReplicas:
              format: int32
              description: Optional. Maximum number of container replicas. Defaults
                to 10 if not set.
              type: integer
              default: 10
            cooldownPeriod:
              format: int32
              description: Optional. KEDA Cooldown Period in seconds. Defaults to
                300 seconds if not set.
              type: integer
            pollingInterval:
              format: int32
              description: Optional. KEDA Polling Interval in seconds. Defaults to
                30 seconds if not set.
              type: integer
            rules:
              description: Scaling rules.
              type: array
              items:
                description: Container App container scaling rule.
                type: object
                properties:
                  name:
                    description: Scale Rule Name
                    type: string
                  azureQueue:
                    description: Azure Queue based scaling.
                    type: object
                    properties:
                      accountName:
                        description: Storage account name. required if using managed
                          identity to authenticate
                        type: string
                      queueName:
                        description: Queue name.
                        type: string
                      queueLength:
                        format: int32
                        description: Queue length.
                        type: integer
                      auth:
                        description: Authentication secrets for the queue scale rule.
                        type: array
                        items:
                          description: Auth Secrets for Scale Rule
                          type: object
                          properties:
                            secretRef:
                              description: Name of the secret from which to pull the
                                auth params.
                              type: string
                            triggerParameter:
                              description: Trigger Parameter that uses the secret
                              type: string
                        x-ms-identifiers:
                        - triggerParameter
                      identity:
                        description: The resource ID of a user-assigned managed identity
                          that is assigned to the Container App, or 'system' for system-assigned
                          identity.
                        type: string
                  custom:
                    description: Custom scale rule.
                    type: object
                    properties:
                      type:
                        description: 'Type of the custom scale rule

                          eg: azure-servicebus, redis etc.'
                        type: string
                      metadata:
                        description: Metadata properties to describe custom scale
                          rule.
                        type: object
                        additionalProperties:
                          type: string
                      auth:
                        description: Authentication secrets for the custom scale rule.
                        type: array
                        items:
                          description: Auth Secrets for Scale Rule
                          type: object
                          properties:
                            secretRef:
                              description: Name of the secret from which to pull the
                                auth params.
                              type: string
                            triggerParameter:
                              description: Trigger Parameter that uses the secret
                              type: string
                        x-ms-identifiers:
                        - triggerParameter
                      identity:
                        description: The resource ID of a user-assigned managed identity
                          that is assigned to the Container App, or 'system' for system-assigned
                          identity.
                        type: string
                  http:
                    description: HTTP requests based scaling.
                    type: object
                    properties:
                      metadata:
                        description: Metadata properties to describe http scale rule.
                        type: object
                        additionalProperties:
                          type: string
                      auth:
                        description: Authentication secrets for the custom scale rule.
                        type: array
                        items:
                          description: Auth Secrets for Scale Rule
                          type: object
                          properties:
                            secretRef:
                              description: Name of the secret from which to pull the
                                auth params.
                              type: string
                            triggerParameter:
                              description: Trigger Parameter that uses the secret
                              type: string
                        x-ms-identifiers:
                        - triggerParameter
                      identity:
                        description: The resource ID of a user-assigned managed identity
                          that is assigned to the Container App, or 'system' for system-assigned
                          identity.
                        type: string
                  tcp:
                    description: Tcp requests based scaling.
                    type: object
                    properties:
                      metadata:
                        description: Metadata properties to describe tcp scale rule.
                        type: object
                        additionalProperties:
                          type: string
                      auth:
                        description: Authentication secrets for the tcp scale rule.
                        type: array
                        items:
                          description: Auth Secrets for Scale Rule
                          type: object
                          properties:
                            secretRef:
                              description: Name of the secret from which to pull the
                                auth params.
                              type: string
                            triggerParameter:
                              description: Trigger Parameter that uses the secret
                              type: string
                        x-ms-identifiers:
                        - triggerParameter
                      identity:
                        description: The resource ID of a user-assigned managed identity
                          that is assigned to the Container App, or 'system' for system-assigned
                          identity.
                        type: string
              x-ms-identifiers:
              - name
        volumes:
          description: List of volume definitions for the Container App.
          type: array
          items:
            description: Volume definitions for the Container App.
            type: object
            properties:
              name:
                description: Volume name.
                type: string
              storageType:
                description: Storage type for the volume. If not provided, use EmptyDir.
                enum:
                - AzureFile
                - EmptyDir
                - Secret
                - NfsAzureFile
                type: string
                x-ms-enum:
                  name: StorageType
                  modelAsString: true
              storageName:
                description: Name of storage resource. No need to provide for EmptyDir
                  and Secret.
                type: string
              secrets:
                description: List of secrets to be added in volume. If no secrets
                  are provided, all secrets in collection will be added to volume.
                type: array
                items:
                  description: Secret to be added to volume.
                  type: object
                  properties:
                    secretRef:
                      description: Name of the Container App secret from which to
                        pull the secret value.
                      type: string
                    path:
                      description: Path to project secret to. If no path is provided,
                        path defaults to name of secret listed in secretRef.
                      type: string
                x-ms-identifiers:
                - secretRef
              mountOptions:
                description: Mount options used while mounting the Azure file share
                  or NFS Azure file share. Must be a comma-separated string.
                type: string
          x-ms-identifiers:
          - name
        serviceBinds:
          description: List of container app services bound to the app
          type: array
          items:
            description: Configuration to bind a ContainerApp to a dev ContainerApp
              Service
            type: object
            properties:
              serviceId:
                description: Resource id of the target service
                type: string
              name:
                description: Name of the service bind
                type: string
          x-ms-identifier:
          - name
    Volume:
      description: Volume definitions for the Container App.
      type: object
      properties:
        name:
          description: Volume name.
          type: string
        storageType:
          description: Storage type for the volume. If not provided, use EmptyDir.
          enum:
          - AzureFile
          - EmptyDir
          - Secret
          - NfsAzureFile
          type: string
          x-ms-enum:
            name: StorageType
            modelAsString: true
        storageName:
          description: Name of storage resource. No need to provide for EmptyDir and
            Secret.
          type: string
        secrets:
          description: List of secrets to be added in volume. If no secrets are provided,
            all secrets in collection will be added to volume.
          type: array
          items:
            description: Secret to be added to volume.
            type: object
            properties:
              secretRef:
                description: Name of the Container App secret from which to pull the
                  secret value.
                type: string
              path:
                description: Path to project secret to. If no path is provided, path
                  defaults to name of secret listed in secretRef.
                type: string
          x-ms-identifiers:
          - secretRef
        mountOptions:
          description: Mount options used while mounting the Azure file share or NFS
            Azure file share. Must be a comma-separated string.
          type: string
    SecretVolumeItem:
      description: Secret to be added to volume.
      type: object
      properties:
        secretRef:
          description: Name of the Container App secret from which to pull the secret
            value.
          type: string
        path:
          description: Path to project secret to. If no path is provided, path defaults
            to name of secret listed in secretRef.
          type: string
    VolumeMount:
      description: Volume mount for the Container App.
      type: object
      properties:
        volumeName:
          description: This must match the Name of a Volume.
          type: string
        mountPath:
          description: Path within the container at which the volume should be mounted.Must
            not contain ':'.
          type: string
        subPath:
          description: Path within the volume from which the container's volume should
            be mounted. Defaults to "" (volume's root).
          type: string
    DaprComponentsCollection:
      description: Dapr Components ARM resource.
      required:
      - value
      type: object
      properties:
        value:
          description: Collection of resources.
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: arm-id
                description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                readOnly: true
              name:
                type: string
                description: The name of the resource
                readOnly: true
              type:
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
                readOnly: true
              systemData:
                description: Azure Resource Manager metadata containing createdBy
                  and modifiedBy information.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              properties:
                description: Dapr Component resource specific properties
                type: object
                properties:
                  componentType:
                    description: Component type
                    type: string
                  version:
                    description: Component version
                    type: string
                  ignoreErrors:
                    description: Boolean describing if the component errors are ignores
                    type: boolean
                    default: false
                  initTimeout:
                    description: Initialization timeout
                    type: string
                  secrets:
                    description: Collection of secrets used by a Dapr component
                    type: array
                    items:
                      description: Secret definition.
                      type: object
                      properties:
                        name:
                          description: Secret Name.
                          type: string
                        value:
                          description: Secret Value.
                          type: string
                          x-ms-mutability:
                          - create
                          - update
                          x-ms-secret: true
                        identity:
                          description: Resource ID of a managed identity to authenticate
                            with Azure Key Vault, or System to use a system-assigned
                            identity.
                          type: string
                        keyVaultUrl:
                          description: Azure Key Vault URL pointing to the secret
                            referenced by the container app.
                          type: string
                    x-ms-identifiers:
                    - name
                  secretStoreComponent:
                    description: Name of a Dapr component to retrieve component secrets
                      from
                    type: string
                  metadata:
                    description: Component metadata
                    type: array
                    items:
                      description: Dapr component metadata.
                      type: object
                      properties:
                        name:
                          description: Metadata property name.
                          type: string
                        value:
                          description: Metadata property value.
                          type: string
                        secretRef:
                          description: Name of the Dapr Component secret from which
                            to pull the metadata property value.
                          type: string
                    x-ms-identifiers:
                    - name
                  scopes:
                    description: Names of container apps that can use this Dapr component
                    type: array
                    items:
                      type: string
                x-ms-client-flatten: true
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
        nextLink:
          description: Link to next page of resources.
          type: string
          readOnly: true
    DaprComponent:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        properties:
          description: Dapr Component resource specific properties
          type: object
          properties:
            componentType:
              description: Component type
              type: string
            version:
              description: Component version
              type: string
            ignoreErrors:
              description: Boolean describing if the component errors are ignores
              type: boolean
              default: false
            initTimeout:
              description: Initialization timeout
              type: string
            secrets:
              description: Collection of secrets used by a Dapr component
              type: array
              items:
                description: Secret definition.
                type: object
                properties:
                  name:
                    description: Secret Name.
                    type: string
                  value:
                    description: Secret Value.
                    type: string
                    x-ms-mutability:
                    - create
                    - update
                    x-ms-secret: true
                  identity:
                    description: Resource ID of a managed identity to authenticate
                      with Azure Key Vault, or System to use a system-assigned identity.
                    type: string
                  keyVaultUrl:
                    description: Azure Key Vault URL pointing to the secret referenced
                      by the container app.
                    type: string
              x-ms-identifiers:
              - name
            secretStoreComponent:
              description: Name of a Dapr component to retrieve component secrets
                from
              type: string
            metadata:
              description: Component metadata
              type: array
              items:
                description: Dapr component metadata.
                type: object
                properties:
                  name:
                    description: Metadata property name.
                    type: string
                  value:
                    description: Metadata property value.
                    type: string
                  secretRef:
                    description: Name of the Dapr Component secret from which to pull
                      the metadata property value.
                    type: string
              x-ms-identifiers:
              - name
            scopes:
              description: Names of container apps that can use this Dapr component
              type: array
              items:
                type: string
          x-ms-client-flatten: true
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    DaprMetadata:
      description: Dapr component metadata.
      type: object
      properties:
        name:
          description: Metadata property name.
          type: string
        value:
          description: Metadata property value.
          type: string
        secretRef:
          description: Name of the Dapr Component secret from which to pull the metadata
            property value.
          type: string
    DaprSecretsCollection:
      description: Dapr component Secrets Collection for ListSecrets Action.
      required:
      - value
      type: object
      properties:
        value:
          description: Collection of secrets used by a Dapr component
          type: array
          items:
            description: Dapr component Secret for ListSecrets Action
            type: object
            properties:
              name:
                description: Secret Name.
                type: string
                readOnly: true
              value:
                description: Secret Value.
                type: string
                x-ms-secret: true
                readOnly: true
          x-ms-identifiers:
          - name
    DaprSecret:
      description: Dapr component Secret for ListSecrets Action
      type: object
      properties:
        name:
          description: Secret Name.
          type: string
          readOnly: true
        value:
          description: Secret Value.
          type: string
          x-ms-secret: true
          readOnly: true
    ExtendedLocation:
      type: object
      description: The complex type of the extended location.
      properties:
        name:
          type: string
          description: The name of the extended location.
        type:
          description: The type of the extended location.
          type: string
          enum:
          - CustomLocation
          x-ms-enum:
            name: ExtendedLocationTypes
            modelAsString: true
    ExtendedLocationType:
      type: string
      description: The type of extendedLocation.
      enum:
      - CustomLocation
      x-ms-enum:
        name: ExtendedLocationTypes
        modelAsString: true
    AzureFileProperties:
      description: Azure File Properties.
      type: object
      properties:
        accountName:
          description: Storage account name for azure file.
          type: string
        accountKey:
          description: Storage account key for azure file.
          type: string
          x-ms-secret: true
        accessMode:
          description: Access mode for storage
          enum:
          - ReadOnly
          - ReadWrite
          type: string
          x-ms-enum:
            name: AccessMode
            modelAsString: true
        shareName:
          description: Azure file share name.
          type: string
    NfsAzureFileProperties:
      description: NFS Azure File Properties.
      type: object
      properties:
        server:
          description: Server for NFS azure file. Specify the Azure storage account
            server address.
          type: string
        accessMode:
          description: Access mode for storage
          enum:
          - ReadOnly
          - ReadWrite
          type: string
          x-ms-enum:
            name: AccessMode
            modelAsString: true
        shareName:
          description: NFS Azure file share name.
          type: string
    CertificateKeyVaultProperties:
      description: Properties for a certificate stored in a Key Vault.
      type: object
      properties:
        identity:
          description: Resource ID of a managed identity to authenticate with Azure
            Key Vault, or System to use a system-assigned identity.
          type: string
        keyVaultUrl:
          description: URL pointing to the Azure Key Vault secret that holds the certificate.
          type: string
          format: uri
    Certificate:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
        location:
          type: string
          description: The geo-location where the resource lives
          x-ms-mutability:
          - read
          - create
        properties:
          description: Certificate resource specific properties
          type: object
          properties:
            provisioningState:
              description: Provisioning state of the certificate.
              enum:
              - Succeeded
              - Failed
              - Canceled
              - DeleteFailed
              - Pending
              type: string
              readOnly: true
              x-ms-enum:
                name: CertificateProvisioningState
                modelAsString: true
            certificateKeyVaultProperties:
              description: Properties for a certificate stored in a Key Vault.
              type: object
              properties:
                identity:
                  description: Resource ID of a managed identity to authenticate with
                    Azure Key Vault, or System to use a system-assigned identity.
                  type: string
                keyVaultUrl:
                  description: URL pointing to the Azure Key Vault secret that holds
                    the certificate.
                  type: string
                  format: uri
            password:
              description: Certificate password.
              type: string
              x-ms-mutability:
              - create
              x-ms-secret: true
            subjectName:
              description: Subject name of the certificate.
              type: string
              readOnly: true
            subjectAlternativeNames:
              description: Subject alternative names the certificate applies to.
              type: array
              items:
                type: string
              readOnly: true
            value:
              format: byte
              description: PFX or PEM blob
              type: string
              x-ms-mutability:
              - create
              x-ms-secret: true
            issuer:
              description: Certificate issuer.
              type: string
              readOnly: true
            issueDate:
              format: date-time
              description: Certificate issue Date.
              type: string
              readOnly: true
            expirationDate:
              format: date-time
              description: Certificate expiration date.
              type: string
              readOnly: true
            thumbprint:
              description: Certificate thumbprint.
              type: string
              readOnly: true
            valid:
              description: Is the certificate valid?.
              type: boolean
              readOnly: true
            publicKeyHash:
              description: Public key hash.
              type: string
              readOnly: true
      required:
      - location
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
      x-ms-client-flatten: true
    CertificateCollection:
      description: Collection of Certificates.
      required:
      - value
      type: object
      properties:
        value:
          description: Collection of resources.
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: arm-id
                description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                readOnly: true
              name:
                type: string
                description: The name of the resource
                readOnly: true
              type:
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
                readOnly: true
              systemData:
                description: Azure Resource Manager metadata containing createdBy
                  and modifiedBy information.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              tags:
                type: object
                description: Resource tags.
                additionalProperties:
                  type: string
                x-ms-mutability:
                - read
                - create
                - update
              location:
                type: string
                description: The geo-location where the resource lives
                x-ms-mutability:
                - read
                - create
              properties:
                description: Certificate resource specific properties
                type: object
                properties:
                  provisioningState:
                    description: Provisioning state of the certificate.
                    enum:
                    - Succeeded
                    - Failed
                    - Canceled
                    - DeleteFailed
                    - Pending
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: CertificateProvisioningState
                      modelAsString: true
                  certificateKeyVaultProperties:
                    description: Properties for a certificate stored in a Key Vault.
                    type: object
                    properties:
                      identity:
                        description: Resource ID of a managed identity to authenticate
                          with Azure Key Vault, or System to use a system-assigned
                          identity.
                        type: string
                      keyVaultUrl:
                        description: URL pointing to the Azure Key Vault secret that
                          holds the certificate.
                        type: string
                        format: uri
                  password:
                    description: Certificate password.
                    type: string
                    x-ms-mutability:
                    - create
                    x-ms-secret: true
                  subjectName:
                    description: Subject name of the certificate.
                    type: string
                    readOnly: true
                  subjectAlternativeNames:
                    description: Subject alternative names the certificate applies
                      to.
                    type: array
                    items:
                      type: string
                    readOnly: true
                  value:
                    format: byte
                    description: PFX or PEM blob
                    type: string
                    x-ms-mutability:
                    - create
                    x-ms-secret: true
                  issuer:
                    description: Certificate issuer.
                    type: string
                    readOnly: true
                  issueDate:
                    format: date-time
                    description: Certificate issue Date.
                    type: string
                    readOnly: true
                  expirationDate:
                    format: date-time
                    description: Certificate expiration date.
                    type: string
                    readOnly: true
                  thumbprint:
                    description: Certificate thumbprint.
                    type: string
                    readOnly: true
                  valid:
                    description: Is the certificate valid?.
                    type: boolean
                    readOnly: true
                  publicKeyHash:
                    description: Public key hash.
                    type: string
                    readOnly: true
            required:
            - location
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
            x-ms-client-flatten: true
        nextLink:
          description: Link to next page of resources.
          type: string
          readOnly: true
    CertificatePatch:
      description: A certificate to update
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Application-specific metadata in the form of key-value pairs.
    ManagedCertificate:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
        location:
          type: string
          description: The geo-location where the resource lives
          x-ms-mutability:
          - read
          - create
        properties:
          description: Certificate resource specific properties
          type: object
          properties:
            provisioningState:
              description: Provisioning state of the certificate.
              enum:
              - Succeeded
              - Failed
              - Canceled
              - DeleteFailed
              - Pending
              type: string
              readOnly: true
              x-ms-enum:
                name: CertificateProvisioningState
                modelAsString: true
            subjectName:
              description: Subject name of the certificate.
              type: string
            error:
              description: Any error occurred during the certificate provision.
              type: string
              readOnly: true
            domainControlValidation:
              description: Selected type of domain control validation for managed
                certificates.
              enum:
              - CNAME
              - HTTP
              - TXT
              type: string
              x-ms-enum:
                name: ManagedCertificateDomainControlValidation
                modelAsString: true
            validationToken:
              description: A TXT token used for DNS TXT domain control validation
                when issuing this type of managed certificates.
              type: string
              readOnly: true
      required:
      - location
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
      x-ms-client-flatten: true
    ManagedCertificatePatch:
      description: A managed certificate to update
      type: object
      properties:
        tags:
          type: object
[...]
