openapi: 3.0.0
info:
  version: 2025-01-01
  title: ContainerApps API Client
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.App/connectedEnvironments:
    get:
      tags:
      - ConnectedEnvironments
      summary: Get all connectedEnvironments for a subscription.
      description: Get all connectedEnvironments for a subscription.
      operationId: ConnectedEnvironments_ListBySubscription
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of connectedEnvironments
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        extendedLocation:
                          type: object
                          description: The complex type of the extended location.
                          properties:
                            name:
                              type: string
                              description: The name of the extended location.
                            type:
                              description: The type of the extended location.
                              type: string
                              enum:
                              - CustomLocation
                              x-ms-enum:
                                name: ExtendedLocationTypes
                                modelAsString: true
                        properties:
                          description: ConnectedEnvironment resource specific properties
                          type: object
                          properties:
                            provisioningState:
                              description: Provisioning state of the Kubernetes Environment.
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Waiting
                              - InitializationInProgress
                              - InfrastructureSetupInProgress
                              - InfrastructureSetupComplete
                              - ScheduledForDelete
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ConnectedEnvironmentProvisioningState
                                modelAsString: true
                            deploymentErrors:
                              description: Any errors that occurred during deployment
                                or deployment validation
                              type: string
                              readOnly: true
                            defaultDomain:
                              description: Default Domain Name for the cluster
                              type: string
                              readOnly: true
                            staticIp:
                              description: Static IP of the connectedEnvironment
                              type: string
                            daprAIConnectionString:
                              type: string
                              description: Application Insights connection string
                                used by Dapr to export Service to Service communication
                                telemetry
                              x-ms-secret: true
                            customDomainConfiguration:
                              description: Custom domain configuration for the environment
                              type: object
                              properties:
                                customDomainVerificationId:
                                  description: Id used to verify domain name ownership
                                  type: string
                                  readOnly: true
                                dnsSuffix:
                                  type: string
                                  description: Dns suffix for the environment domain
                                  x-ms-mutability:
                                  - create
                                  - read
                                certificateKeyVaultProperties:
                                  description: Certificate stored in Azure Key Vault.
                                  type: object
                                  properties:
                                    identity:
                                      description: Resource ID of a managed identity
                                        to authenticate with Azure Key Vault, or System
                                        to use a system-assigned identity.
                                      type: string
                                    keyVaultUrl:
                                      description: URL pointing to the Azure Key Vault
                                        secret that holds the certificate.
                                      type: string
                                      format: uri
                                certificateValue:
                                  format: byte
                                  description: PFX or PEM blob
                                  type: string
                                  x-ms-secret: true
                                certificatePassword:
                                  description: Certificate password
                                  type: string
                                  x-ms-secret: true
                                expirationDate:
                                  format: date-time
                                  description: Certificate expiration date.
                                  type: string
                                  readOnly: true
                                thumbprint:
                                  description: Certificate thumbprint.
                                  type: string
                                  readOnly: true
                                subjectName:
                                  description: Subject name of the certificate.
                                  type: string
                                  readOnly: true
                          x-ms-client-flatten: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: Common error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        description: Details or the error
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers:
                        - code
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/connectedEnvironments:
    get:
      tags:
      - ConnectedEnvironments
      operationId: ConnectedEnvironments_ListByResourceGroup
      description: Get all connectedEnvironments in a resource group.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of connectedEnvironments
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        extendedLocation:
                          type: object
                          description: The complex type of the extended location.
                          properties:
                            name:
                              type: string
                              description: The name of the extended location.
                            type:
                              description: The type of the extended location.
                              type: string
                              enum:
                              - CustomLocation
                              x-ms-enum:
                                name: ExtendedLocationTypes
                                modelAsString: true
                        properties:
                          description: ConnectedEnvironment resource specific properties
                          type: object
                          properties:
                            provisioningState:
                              description: Provisioning state of the Kubernetes Environment.
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Waiting
                              - InitializationInProgress
                              - InfrastructureSetupInProgress
                              - InfrastructureSetupComplete
                              - ScheduledForDelete
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ConnectedEnvironmentProvisioningState
                                modelAsString: true
                            deploymentErrors:
                              description: Any errors that occurred during deployment
                                or deployment validation
                              type: string
                              readOnly: true
                            defaultDomain:
                              description: Default Domain Name for the cluster
                              type: string
                              readOnly: true
                            staticIp:
                              description: Static IP of the connectedEnvironment
                              type: string
                            daprAIConnectionString:
                              type: string
                              description: Application Insights connection string
                                used by Dapr to export Service to Service communication
                                telemetry
                              x-ms-secret: true
                            customDomainConfiguration:
                              description: Custom domain configuration for the environment
                              type: object
                              properties:
                                customDomainVerificationId:
                                  description: Id used to verify domain name ownership
                                  type: string
                                  readOnly: true
                                dnsSuffix:
                                  type: string
                                  description: Dns suffix for the environment domain
                                  x-ms-mutability:
                                  - create
                                  - read
                                certificateKeyVaultProperties:
                                  description: Certificate stored in Azure Key Vault.
                                  type: object
                                  properties:
                                    identity:
                                      description: Resource ID of a managed identity
                                        to authenticate with Azure Key Vault, or System
                                        to use a system-assigned identity.
                                      type: string
                                    keyVaultUrl:
                                      description: URL pointing to the Azure Key Vault
                                        secret that holds the certificate.
                                      type: string
                                      format: uri
                                certificateValue:
                                  format: byte
                                  description: PFX or PEM blob
                                  type: string
                                  x-ms-secret: true
                                certificatePassword:
                                  description: Certificate password
                                  type: string
                                  x-ms-secret: true
                                expirationDate:
                                  format: date-time
                                  description: Certificate expiration date.
                                  type: string
                                  readOnly: true
                                thumbprint:
                                  description: Certificate thumbprint.
                                  type: string
                                  readOnly: true
                                subjectName:
                                  description: Subject name of the certificate.
                                  type: string
                                  readOnly: true
                          x-ms-client-flatten: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        description: Details or the error
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers:
                        - code
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/connectedEnvironments/{connectedEnvironmentName}
  : get:
      tags:
      - ConnectedEnvironments
      operationId: ConnectedEnvironments_Get
      description: Get the properties of an connectedEnvironment.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: connectedEnvironmentName
        in: path
        description: Name of the connectedEnvironment.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  extendedLocation:
                    type: object
                    description: The complex type of the extended location.
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - CustomLocation
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                  properties:
                    description: ConnectedEnvironment resource specific properties
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the Kubernetes Environment.
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Waiting
                        - InitializationInProgress
                        - InfrastructureSetupInProgress
                        - InfrastructureSetupComplete
                        - ScheduledForDelete
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ConnectedEnvironmentProvisioningState
                          modelAsString: true
                      deploymentErrors:
                        description: Any errors that occurred during deployment or
                          deployment validation
                        type: string
                        readOnly: true
                      defaultDomain:
                        description: Default Domain Name for the cluster
                        type: string
                        readOnly: true
                      staticIp:
                        description: Static IP of the connectedEnvironment
                        type: string
                      daprAIConnectionString:
                        type: string
                        description: Application Insights connection string used by
                          Dapr to export Service to Service communication telemetry
                        x-ms-secret: true
                      customDomainConfiguration:
                        description: Custom domain configuration for the environment
                        type: object
                        properties:
                          customDomainVerificationId:
                            description: Id used to verify domain name ownership
                            type: string
                            readOnly: true
                          dnsSuffix:
                            type: string
                            description: Dns suffix for the environment domain
                            x-ms-mutability:
                            - create
                            - read
                          certificateKeyVaultProperties:
                            description: Certificate stored in Azure Key Vault.
                            type: object
                            properties:
                              identity:
                                description: Resource ID of a managed identity to
                                  authenticate with Azure Key Vault, or System to
                                  use a system-assigned identity.
                                type: string
                              keyVaultUrl:
                                description: URL pointing to the Azure Key Vault secret
                                  that holds the certificate.
                                type: string
                                format: uri
                          certificateValue:
                            format: byte
                            description: PFX or PEM blob
                            type: string
                            x-ms-secret: true
                          certificatePassword:
                            description: Certificate password
                            type: string
                            x-ms-secret: true
                          expirationDate:
                            format: date-time
                            description: Certificate expiration date.
                            type: string
                            readOnly: true
                          thumbprint:
                            description: Certificate thumbprint.
                            type: string
                            readOnly: true
                          subjectName:
                            description: Subject name of the certificate.
                            type: string
                            readOnly: true
                    x-ms-client-flatten: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        description: Details or the error
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers:
                        - code
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
    put:
      tags:
      - ConnectedEnvironments
      description: Creates or updates an connectedEnvironment.
      operationId: ConnectedEnvironments_CreateOrUpdate
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: connectedEnvironmentName
        in: path
        description: Name of the connectedEnvironment.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                extendedLocation:
                  type: object
                  description: The complex type of the extended location.
                  properties:
                    name:
                      type: string
                      description: The name of the extended location.
                    type:
                      description: The type of the extended location.
                      type: string
                      enum:
                      - CustomLocation
                      x-ms-enum:
                        name: ExtendedLocationTypes
                        modelAsString: true
                properties:
                  description: ConnectedEnvironment resource specific properties
                  type: object
                  properties:
                    provisioningState:
                      description: Provisioning state of the Kubernetes Environment.
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Waiting
                      - InitializationInProgress
                      - InfrastructureSetupInProgress
                      - InfrastructureSetupComplete
                      - ScheduledForDelete
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: ConnectedEnvironmentProvisioningState
                        modelAsString: true
                    deploymentErrors:
                      description: Any errors that occurred during deployment or deployment
                        validation
                      type: string
                      readOnly: true
                    defaultDomain:
                      description: Default Domain Name for the cluster
                      type: string
                      readOnly: true
                    staticIp:
                      description: Static IP of the connectedEnvironment
                      type: string
                    daprAIConnectionString:
                      type: string
                      description: Application Insights connection string used by
                        Dapr to export Service to Service communication telemetry
                      x-ms-secret: true
                    customDomainConfiguration:
                      description: Custom domain configuration for the environment
                      type: object
                      properties:
                        customDomainVerificationId:
                          description: Id used to verify domain name ownership
                          type: string
                          readOnly: true
                        dnsSuffix:
                          type: string
                          description: Dns suffix for the environment domain
                          x-ms-mutability:
                          - create
                          - read
                        certificateKeyVaultProperties:
                          description: Certificate stored in Azure Key Vault.
                          type: object
                          properties:
                            identity:
                              description: Resource ID of a managed identity to authenticate
                                with Azure Key Vault, or System to use a system-assigned
                                identity.
                              type: string
                            keyVaultUrl:
                              description: URL pointing to the Azure Key Vault secret
                                that holds the certificate.
                              type: string
                              format: uri
                        certificateValue:
                          format: byte
                          description: PFX or PEM blob
                          type: string
                          x-ms-secret: true
                        certificatePassword:
                          description: Certificate password
                          type: string
                          x-ms-secret: true
                        expirationDate:
                          format: date-time
                          description: Certificate expiration date.
                          type: string
                          readOnly: true
                        thumbprint:
                          description: Certificate thumbprint.
                          type: string
                          readOnly: true
                        subjectName:
                          description: Subject name of the certificate.
                          type: string
                          readOnly: true
                  x-ms-client-flatten: true
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Configuration details of the connectedEnvironment.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  extendedLocation:
                    type: object
                    description: The complex type of the extended location.
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - CustomLocation
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                  properties:
                    description: ConnectedEnvironment resource specific properties
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the Kubernetes Environment.
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Waiting
                        - InitializationInProgress
                        - InfrastructureSetupInProgress
                        - InfrastructureSetupComplete
                        - ScheduledForDelete
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ConnectedEnvironmentProvisioningState
                          modelAsString: true
                      deploymentErrors:
                        description: Any errors that occurred during deployment or
                          deployment validation
                        type: string
                        readOnly: true
                      defaultDomain:
                        description: Default Domain Name for the cluster
                        type: string
                        readOnly: true
                      staticIp:
                        description: Static IP of the connectedEnvironment
                        type: string
                      daprAIConnectionString:
                        type: string
                        description: Application Insights connection string used by
                          Dapr to export Service to Service communication telemetry
                        x-ms-secret: true
                      customDomainConfiguration:
                        description: Custom domain configuration for the environment
                        type: object
                        properties:
                          customDomainVerificationId:
                            description: Id used to verify domain name ownership
                            type: string
                            readOnly: true
                          dnsSuffix:
                            type: string
                            description: Dns suffix for the environment domain
                            x-ms-mutability:
                            - create
                            - read
                          certificateKeyVaultProperties:
                            description: Certificate stored in Azure Key Vault.
                            type: object
                            properties:
                              identity:
                                description: Resource ID of a managed identity to
                                  authenticate with Azure Key Vault, or System to
                                  use a system-assigned identity.
                                type: string
                              keyVaultUrl:
                                description: URL pointing to the Azure Key Vault secret
                                  that holds the certificate.
                                type: string
                                format: uri
                          certificateValue:
                            format: byte
                            description: PFX or PEM blob
                            type: string
                            x-ms-secret: true
                          certificatePassword:
                            description: Certificate password
                            type: string
                            x-ms-secret: true
                          expirationDate:
                            format: date-time
                            description: Certificate expiration date.
                            type: string
                            readOnly: true
                          thumbprint:
                            description: Certificate thumbprint.
                            type: string
                            readOnly: true
                          subjectName:
                            description: Subject name of the certificate.
                            type: string
                            readOnly: true
                    x-ms-client-flatten: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  extendedLocation:
                    type: object
                    description: The complex type of the extended location.
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - CustomLocation
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                  properties:
                    description: ConnectedEnvironment resource specific properties
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the Kubernetes Environment.
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Waiting
                        - InitializationInProgress
                        - InfrastructureSetupInProgress
                        - InfrastructureSetupComplete
                        - ScheduledForDelete
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ConnectedEnvironmentProvisioningState
                          modelAsString: true
                      deploymentErrors:
                        description: Any errors that occurred during deployment or
                          deployment validation
                        type: string
                        readOnly: true
                      defaultDomain:
                        description: Default Domain Name for the cluster
                        type: string
                        readOnly: true
                      staticIp:
                        description: Static IP of the connectedEnvironment
                        type: string
                      daprAIConnectionString:
                        type: string
                        description: Application Insights connection string used by
                          Dapr to export Service to Service communication telemetry
                        x-ms-secret: true
                      customDomainConfiguration:
                        description: Custom domain configuration for the environment
                        type: object
                        properties:
                          customDomainVerificationId:
                            description: Id used to verify domain name ownership
                            type: string
                            readOnly: true
                          dnsSuffix:
                            type: string
                            description: Dns suffix for the environment domain
                            x-ms-mutability:
                            - create
                            - read
                          certificateKeyVaultProperties:
                            description: Certificate stored in Azure Key Vault.
                            type: object
                            properties:
                              identity:
                                description: Resource ID of a managed identity to
                                  authenticate with Azure Key Vault, or System to
                                  use a system-assigned identity.
                                type: string
                              keyVaultUrl:
                                description: URL pointing to the Azure Key Vault secret
                                  that holds the certificate.
                                type: string
                                format: uri
                          certificateValue:
                            format: byte
                            description: PFX or PEM blob
                            type: string
                            x-ms-secret: true
                          certificatePassword:
                            description: Certificate password
                            type: string
                            x-ms-secret: true
                          expirationDate:
                            format: date-time
                            description: Certificate expiration date.
                            type: string
                            readOnly: true
                          thumbprint:
                            description: Certificate thumbprint.
                            type: string
                            readOnly: true
                          subjectName:
                            description: Subject name of the certificate.
                            type: string
                            readOnly: true
                    x-ms-client-flatten: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Common error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        description: Details or the error
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers:
                        - code
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
    delete:
      tags:
      - ConnectedEnvironments
      summary: Delete an connectedEnvironment.
      description: Delete an connectedEnvironment.
      operationId: ConnectedEnvironments_Delete
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: connectedEnvironmentName
        in: path
        description: Name of the connectedEnvironment.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Delete operation completed
        '202':
          description: Delete operation is accepted
          headers:
            Location:
              schema:
                type: string
        '204':
          description: ConnectedEnvironment does not exist
        default:
          description: Common error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        description: Details or the error
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers:
                        - code
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
    patch:
      tags:
      - ConnectedEnvironments
      summary: Update connected Environment's properties.
      description: Patches a Managed Environment. Only patching of tags is supported
        currently
      operationId: ConnectedEnvironments_Update
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: connectedEnvironmentName
        in: path
        description: Name of the connectedEnvironment.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  extendedLocation:
                    type: object
                    description: The complex type of the extended location.
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - CustomLocation
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                  properties:
                    description: ConnectedEnvironment resource specific properties
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the Kubernetes Environment.
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Waiting
                        - InitializationInProgress
                        - InfrastructureSetupInProgress
                        - InfrastructureSetupComplete
                        - ScheduledForDelete
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ConnectedEnvironmentProvisioningState
                          modelAsString: true
                      deploymentErrors:
                        description: Any errors that occurred during deployment or
                          deployment validation
                        type: string
                        readOnly: true
                      defaultDomain:
                        description: Default Domain Name for the cluster
                        type: string
                        readOnly: true
                      staticIp:
                        description: Static IP of the connectedEnvironment
                        type: string
                      daprAIConnectionString:
                        type: string
                        description: Application Insights connection string used by
                          Dapr to export Service to Service communication telemetry
                        x-ms-secret: true
                      customDomainConfiguration:
                        description: Custom domain configuration for the environment
                        type: object
                        properties:
                          customDomainVerificationId:
                            description: Id used to verify domain name ownership
                            type: string
                            readOnly: true
                          dnsSuffix:
                            type: string
                            description: Dns suffix for the environment domain
                            x-ms-mutability:
                            - create
                            - read
                          certificateKeyVaultProperties:
                            description: Certificate stored in Azure Key Vault.
                            type: object
                            properties:
                              identity:
                                description: Resource ID of a managed identity to
                                  authenticate with Azure Key Vault, or System to
                                  use a system-assigned identity.
                                type: string
                              keyVaultUrl:
                                description: URL pointing to the Azure Key Vault secret
                                  that holds the certificate.
                                type: string
                                format: uri
                          certificateValue:
                            format: byte
                            description: PFX or PEM blob
                            type: string
                            x-ms-secret: true
                          certificatePassword:
                            description: Certificate password
                            type: string
                            x-ms-secret: true
                          expirationDate:
                            format: date-time
                            description: Certificate expiration date.
                            type: string
                            readOnly: true
                          thumbprint:
                            description: Certificate thumbprint.
                            type: string
                            readOnly: true
                          subjectName:
                            description: Subject name of the certificate.
                            type: string
                            readOnly: true
                    x-ms-client-flatten: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Common error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        description: Details or the error
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers:
                        - code
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/connectedEnvironments/{connectedEnvironmentName}/checkNameAvailability
  : post:
      tags:
      - ConnectedEnvironments
      summary: Checks the resource connectedEnvironmentName availability.
      description: Checks if resource connectedEnvironmentName is available.
      operationId: ConnectedEnvironments_CheckNameAvailability
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: connectedEnvironmentName
        in: path
        description: Name of the Managed Environment.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: The check availability request body.
              properties:
                name:
                  type: string
                  description: The name of the resource for which availability needs
                    to be checked.
                type:
                  type: string
                  description: The resource type.
        description: The check connectedEnvironmentName availability request.
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: The check availability result.
                properties:
                  nameAvailable:
                    type: boolean
                    description: Indicates if the resource name is available.
                  reason:
                    type: string
                    description: The reason why the given name is not available.
                    enum:
                    - Invalid
                    - AlreadyExists
                    x-ms-enum:
                      name: CheckNameAvailabilityReason
                      modelAsString: true
                  message:
                    type: string
                    description: Detailed reason why the given name is available.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        description: Details or the error
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers:
                        - code
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription.
      required: true
      schema:
        type: string
        minLength: 1
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ConnectedEnvironment:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
        location:
          type: string
          description: The geo-location where the resource lives
          x-ms-mutability:
          - read
          - create
        extendedLocation:
          type: object
          description: The complex type of the extended location.
          properties:
            name:
              type: string
              description: The name of the extended location.
            type:
              description: The type of the extended location.
              type: string
              enum:
              - CustomLocation
              x-ms-enum:
                name: ExtendedLocationTypes
                modelAsString: true
        properties:
          description: ConnectedEnvironment resource specific properties
          type: object
          properties:
            provisioningState:
              description: Provisioning state of the Kubernetes Environment.
              enum:
              - Succeeded
              - Failed
              - Canceled
              - Waiting
              - InitializationInProgress
              - InfrastructureSetupInProgress
              - InfrastructureSetupComplete
              - ScheduledForDelete
              type: string
              readOnly: true
              x-ms-enum:
                name: ConnectedEnvironmentProvisioningState
                modelAsString: true
            deploymentErrors:
              description: Any errors that occurred during deployment or deployment
                validation
              type: string
              readOnly: true
            defaultDomain:
              description: Default Domain Name for the cluster
              type: string
              readOnly: true
            staticIp:
              description: Static IP of the connectedEnvironment
              type: string
            daprAIConnectionString:
              type: string
              description: Application Insights connection string used by Dapr to
                export Service to Service communication telemetry
              x-ms-secret: true
            customDomainConfiguration:
              description: Custom domain configuration for the environment
              type: object
              properties:
                customDomainVerificationId:
                  description: Id used to verify domain name ownership
                  type: string
                  readOnly: true
                dnsSuffix:
                  type: string
                  description: Dns suffix for the environment domain
                  x-ms-mutability:
                  - create
                  - read
                certificateKeyVaultProperties:
                  description: Certificate stored in Azure Key Vault.
                  type: object
                  properties:
                    identity:
                      description: Resource ID of a managed identity to authenticate
                        with Azure Key Vault, or System to use a system-assigned identity.
                      type: string
                    keyVaultUrl:
                      description: URL pointing to the Azure Key Vault secret that
                        holds the certificate.
                      type: string
                      format: uri
                certificateValue:
                  format: byte
                  description: PFX or PEM blob
                  type: string
                  x-ms-secret: true
                certificatePassword:
                  description: Certificate password
                  type: string
                  x-ms-secret: true
                expirationDate:
                  format: date-time
                  description: Certificate expiration date.
                  type: string
                  readOnly: true
                thumbprint:
                  description: Certificate thumbprint.
                  type: string
                  readOnly: true
                subjectName:
                  description: Subject name of the certificate.
                  type: string
                  readOnly: true
          x-ms-client-flatten: true
      required:
      - location
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    ConnectedEnvironmentCollection:
      description: Collection of connectedEnvironments
      type: object
      properties:
        value:
          description: Collection of resources.
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: arm-id
                description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                readOnly: true
              name:
                type: string
                description: The name of the resource
                readOnly: true
              type:
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
                readOnly: true
              systemData:
                description: Azure Resource Manager metadata containing createdBy
                  and modifiedBy information.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
[...]
