openapi: 3.0.0
info:
  version: 2025-01-01
  title: ContainerApps API Client
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/connectedEnvironments/{connectedEnvironmentName}/certificates
  : get:
      tags:
      - ConnectedEnvironments
      - Certificates
      summary: Get the Certificates in a given connected environment.
      operationId: ConnectedEnvironmentsCertificates_List
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: connectedEnvironmentName
        in: path
        description: Name of the Connected Environment.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of Certificates.
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: Certificate resource specific properties
                          type: object
                          properties:
                            provisioningState:
                              description: Provisioning state of the certificate.
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - DeleteFailed
                              - Pending
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: CertificateProvisioningState
                                modelAsString: true
                            certificateKeyVaultProperties:
                              description: Properties for a certificate stored in
                                a Key Vault.
                              type: object
                              properties:
                                identity:
                                  description: Resource ID of a managed identity to
                                    authenticate with Azure Key Vault, or System to
                                    use a system-assigned identity.
                                  type: string
                                keyVaultUrl:
                                  description: URL pointing to the Azure Key Vault
                                    secret that holds the certificate.
                                  type: string
                                  format: uri
                            password:
                              description: Certificate password.
                              type: string
                              x-ms-mutability:
                              - create
                              x-ms-secret: true
                            subjectName:
                              description: Subject name of the certificate.
                              type: string
                              readOnly: true
                            subjectAlternativeNames:
                              description: Subject alternative names the certificate
                                applies to.
                              type: array
                              items:
                                type: string
                              readOnly: true
                            value:
                              format: byte
                              description: PFX or PEM blob
                              type: string
                              x-ms-mutability:
                              - create
                              x-ms-secret: true
                            issuer:
                              description: Certificate issuer.
                              type: string
                              readOnly: true
                            issueDate:
                              format: date-time
                              description: Certificate issue Date.
                              type: string
                              readOnly: true
                            expirationDate:
                              format: date-time
                              description: Certificate expiration date.
                              type: string
                              readOnly: true
                            thumbprint:
                              description: Certificate thumbprint.
                              type: string
                              readOnly: true
                            valid:
                              description: Is the certificate valid?.
                              type: boolean
                              readOnly: true
                            publicKeyHash:
                              description: Public key hash.
                              type: string
                              readOnly: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      x-ms-client-flatten: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: Error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        description: Details or the error
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers:
                        - code
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/connectedEnvironments/{connectedEnvironmentName}/certificates/{certificateName}
  : get:
      tags:
      - ConnectedEnvironments
      - Certificates
      summary: Get the specified Certificate.
      operationId: ConnectedEnvironmentsCertificates_Get
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: connectedEnvironmentName
        in: path
        description: Name of the Connected Environment.
        required: true
        schema:
          type: string
      - name: certificateName
        in: path
        description: Name of the Certificate.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: Certificate resource specific properties
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the certificate.
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - DeleteFailed
                        - Pending
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: CertificateProvisioningState
                          modelAsString: true
                      certificateKeyVaultProperties:
                        description: Properties for a certificate stored in a Key
                          Vault.
                        type: object
                        properties:
                          identity:
                            description: Resource ID of a managed identity to authenticate
                              with Azure Key Vault, or System to use a system-assigned
                              identity.
                            type: string
                          keyVaultUrl:
                            description: URL pointing to the Azure Key Vault secret
                              that holds the certificate.
                            type: string
                            format: uri
                      password:
                        description: Certificate password.
                        type: string
                        x-ms-mutability:
                        - create
                        x-ms-secret: true
                      subjectName:
                        description: Subject name of the certificate.
                        type: string
                        readOnly: true
                      subjectAlternativeNames:
                        description: Subject alternative names the certificate applies
                          to.
                        type: array
                        items:
                          type: string
                        readOnly: true
                      value:
                        format: byte
                        description: PFX or PEM blob
                        type: string
                        x-ms-mutability:
                        - create
                        x-ms-secret: true
                      issuer:
                        description: Certificate issuer.
                        type: string
                        readOnly: true
                      issueDate:
                        format: date-time
                        description: Certificate issue Date.
                        type: string
                        readOnly: true
                      expirationDate:
                        format: date-time
                        description: Certificate expiration date.
                        type: string
                        readOnly: true
                      thumbprint:
                        description: Certificate thumbprint.
                        type: string
                        readOnly: true
                      valid:
                        description: Is the certificate valid?.
                        type: boolean
                        readOnly: true
                      publicKeyHash:
                        description: Public key hash.
                        type: string
                        readOnly: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                x-ms-client-flatten: true
        default:
          description: Error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        description: Details or the error
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers:
                        - code
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
    put:
      tags:
      - ConnectedEnvironments
      - Certificates
      summary: Create or Update a Certificate.
      operationId: ConnectedEnvironmentsCertificates_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: connectedEnvironmentName
        in: path
        description: Name of the Connected Environment.
        required: true
        schema:
          type: string
      - name: certificateName
        in: path
        description: Name of the Certificate.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: Certificate resource specific properties
                  type: object
                  properties:
                    provisioningState:
                      description: Provisioning state of the certificate.
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - DeleteFailed
                      - Pending
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: CertificateProvisioningState
                        modelAsString: true
                    certificateKeyVaultProperties:
                      description: Properties for a certificate stored in a Key Vault.
                      type: object
                      properties:
                        identity:
                          description: Resource ID of a managed identity to authenticate
                            with Azure Key Vault, or System to use a system-assigned
                            identity.
                          type: string
                        keyVaultUrl:
                          description: URL pointing to the Azure Key Vault secret
                            that holds the certificate.
                          type: string
                          format: uri
                    password:
                      description: Certificate password.
                      type: string
                      x-ms-mutability:
                      - create
                      x-ms-secret: true
                    subjectName:
                      description: Subject name of the certificate.
                      type: string
                      readOnly: true
                    subjectAlternativeNames:
                      description: Subject alternative names the certificate applies
                        to.
                      type: array
                      items:
                        type: string
                      readOnly: true
                    value:
                      format: byte
                      description: PFX or PEM blob
                      type: string
                      x-ms-mutability:
                      - create
                      x-ms-secret: true
                    issuer:
                      description: Certificate issuer.
                      type: string
                      readOnly: true
                    issueDate:
                      format: date-time
                      description: Certificate issue Date.
                      type: string
                      readOnly: true
                    expirationDate:
                      format: date-time
                      description: Certificate expiration date.
                      type: string
                      readOnly: true
                    thumbprint:
                      description: Certificate thumbprint.
                      type: string
                      readOnly: true
                    valid:
                      description: Is the certificate valid?.
                      type: boolean
                      readOnly: true
                    publicKeyHash:
                      description: Public key hash.
                      type: string
                      readOnly: true
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
              x-ms-client-flatten: true
        description: Certificate to be created or updated
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: Certificate resource specific properties
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the certificate.
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - DeleteFailed
                        - Pending
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: CertificateProvisioningState
                          modelAsString: true
                      certificateKeyVaultProperties:
                        description: Properties for a certificate stored in a Key
                          Vault.
                        type: object
                        properties:
                          identity:
                            description: Resource ID of a managed identity to authenticate
                              with Azure Key Vault, or System to use a system-assigned
                              identity.
                            type: string
                          keyVaultUrl:
                            description: URL pointing to the Azure Key Vault secret
                              that holds the certificate.
                            type: string
                            format: uri
                      password:
                        description: Certificate password.
                        type: string
                        x-ms-mutability:
                        - create
                        x-ms-secret: true
                      subjectName:
                        description: Subject name of the certificate.
                        type: string
                        readOnly: true
                      subjectAlternativeNames:
                        description: Subject alternative names the certificate applies
                          to.
                        type: array
                        items:
                          type: string
                        readOnly: true
                      value:
                        format: byte
                        description: PFX or PEM blob
                        type: string
                        x-ms-mutability:
                        - create
                        x-ms-secret: true
                      issuer:
                        description: Certificate issuer.
                        type: string
                        readOnly: true
                      issueDate:
                        format: date-time
                        description: Certificate issue Date.
                        type: string
                        readOnly: true
                      expirationDate:
                        format: date-time
                        description: Certificate expiration date.
                        type: string
                        readOnly: true
                      thumbprint:
                        description: Certificate thumbprint.
                        type: string
                        readOnly: true
                      valid:
                        description: Is the certificate valid?.
                        type: boolean
                        readOnly: true
                      publicKeyHash:
                        description: Public key hash.
                        type: string
                        readOnly: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                x-ms-client-flatten: true
        default:
          description: Error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        description: Details or the error
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers:
                        - code
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
    delete:
      tags:
      - ConnectedEnvironments
      - Certificates
      summary: Deletes the specified Certificate.
      operationId: ConnectedEnvironmentsCertificates_Delete
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: connectedEnvironmentName
        in: path
        description: Name of the Connected Environment.
        required: true
        schema:
          type: string
      - name: certificateName
        in: path
        description: Name of the Certificate.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Delete operation completed
        '204':
          description: Certificate does not exist
        default:
          description: Error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        description: Details or the error
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers:
                        - code
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
    patch:
      tags:
      - ConnectedEnvironments
      - Certificates
      summary: Update properties of a certificate
      description: Patches a certificate. Currently only patching of tags is supported
      operationId: ConnectedEnvironmentsCertificates_Update
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: connectedEnvironmentName
        in: path
        description: Name of the Connected Environment.
        required: true
        schema:
          type: string
      - name: certificateName
        in: path
        description: Name of the Certificate.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              description: A certificate to update
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Application-specific metadata in the form of key-value
                    pairs.
        description: Properties of a certificate that need to be updated
        required: true
      responses:
        '200':
          description: Certificate updated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: Certificate resource specific properties
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the certificate.
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - DeleteFailed
                        - Pending
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: CertificateProvisioningState
                          modelAsString: true
                      certificateKeyVaultProperties:
                        description: Properties for a certificate stored in a Key
                          Vault.
                        type: object
                        properties:
                          identity:
                            description: Resource ID of a managed identity to authenticate
                              with Azure Key Vault, or System to use a system-assigned
                              identity.
                            type: string
                          keyVaultUrl:
                            description: URL pointing to the Azure Key Vault secret
                              that holds the certificate.
                            type: string
                            format: uri
                      password:
                        description: Certificate password.
                        type: string
                        x-ms-mutability:
                        - create
                        x-ms-secret: true
                      subjectName:
                        description: Subject name of the certificate.
                        type: string
                        readOnly: true
                      subjectAlternativeNames:
                        description: Subject alternative names the certificate applies
                          to.
                        type: array
                        items:
                          type: string
                        readOnly: true
                      value:
                        format: byte
                        description: PFX or PEM blob
                        type: string
                        x-ms-mutability:
                        - create
                        x-ms-secret: true
                      issuer:
                        description: Certificate issuer.
                        type: string
                        readOnly: true
                      issueDate:
                        format: date-time
                        description: Certificate issue Date.
                        type: string
                        readOnly: true
                      expirationDate:
                        format: date-time
                        description: Certificate expiration date.
                        type: string
                        readOnly: true
                      thumbprint:
                        description: Certificate thumbprint.
                        type: string
                        readOnly: true
                      valid:
                        description: Is the certificate valid?.
                        type: boolean
                        readOnly: true
                      publicKeyHash:
                        description: Public key hash.
                        type: string
                        readOnly: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                x-ms-client-flatten: true
        default:
          description: Common error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        description: Details or the error
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers:
                        - code
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription.
      required: true
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    DefaultErrorResponse:
      description: App Service error response.
      type: object
      properties:
        error:
          description: Error model.
          type: object
          properties:
            code:
              description: Standardized string to programmatically identify the error.
              type: string
              readOnly: true
            message:
              description: Detailed error description and debugging information.
              type: string
              readOnly: true
            target:
              description: Detailed error description and debugging information.
              type: string
              readOnly: true
            details:
              type: array
              description: Details or the error
              items:
                description: Detailed errors.
                type: object
                properties:
                  code:
                    description: Standardized string to programmatically identify
                      the error.
                    type: string
                    readOnly: true
                  message:
                    description: Detailed error description and debugging information.
                    type: string
                    readOnly: true
                  target:
                    description: Detailed error description and debugging information.
                    type: string
                    readOnly: true
                readOnly: true
              x-ms-identifiers:
              - code
            innererror:
              description: More information to debug error.
              type: string
              readOnly: true
          readOnly: true
    systemData:
      type: object
      description: Metadata pertaining to creation and last modification of the resource.
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
      readOnly: true
    Resource:
      type: object
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      x-ms-azure-resource: true
    TrackedResource:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
        location:
          type: string
          description: The geo-location where the resource lives
          x-ms-mutability:
          - read
          - create
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
      required:
      - location
    CertificateKeyVaultProperties:
      description: Properties for a certificate stored in a Key Vault.
      type: object
      properties:
        identity:
          description: Resource ID of a managed identity to authenticate with Azure
            Key Vault, or System to use a system-assigned identity.
          type: string
        keyVaultUrl:
          description: URL pointing to the Azure Key Vault secret that holds the certificate.
          type: string
          format: uri
    Certificate:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
        location:
          type: string
          description: The geo-location where the resource lives
          x-ms-mutability:
          - read
          - create
        properties:
          description: Certificate resource specific properties
          type: object
          properties:
            provisioningState:
              description: Provisioning state of the certificate.
              enum:
              - Succeeded
              - Failed
              - Canceled
              - DeleteFailed
              - Pending
              type: string
              readOnly: true
              x-ms-enum:
                name: CertificateProvisioningState
                modelAsString: true
            certificateKeyVaultProperties:
              description: Properties for a certificate stored in a Key Vault.
              type: object
              properties:
                identity:
                  description: Resource ID of a managed identity to authenticate with
                    Azure Key Vault, or System to use a system-assigned identity.
                  type: string
                keyVaultUrl:
                  description: URL pointing to the Azure Key Vault secret that holds
                    the certificate.
                  type: string
                  format: uri
            password:
              description: Certificate password.
              type: string
              x-ms-mutability:
              - create
              x-ms-secret: true
            subjectName:
              description: Subject name of the certificate.
              type: string
              readOnly: true
            subjectAlternativeNames:
              description: Subject alternative names the certificate applies to.
              type: array
              items:
                type: string
              readOnly: true
            value:
              format: byte
              description: PFX or PEM blob
              type: string
              x-ms-mutability:
              - create
              x-ms-secret: true
            issuer:
              description: Certificate issuer.
              type: string
              readOnly: true
            issueDate:
              format: date-time
              description: Certificate issue Date.
              type: string
              readOnly: true
            expirationDate:
              format: date-time
              description: Certificate expiration date.
              type: string
              readOnly: true
            thumbprint:
              description: Certificate thumbprint.
              type: string
              readOnly: true
            valid:
              description: Is the certificate valid?.
              type: boolean
              readOnly: true
            publicKeyHash:
              description: Public key hash.
              type: string
              readOnly: true
      required:
      - location
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
      x-ms-client-flatten: true
    CertificateCollection:
      description: Collection of Certificates.
      required:
      - value
      type: object
      properties:
        value:
          description: Collection of resources.
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: arm-id
                description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                readOnly: true
              name:
                type: string
                description: The name of the resource
                readOnly: true
              type:
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
                readOnly: true
              systemData:
                description: Azure Resource Manager metadata containing createdBy
                  and modifiedBy information.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              tags:
                type: object
                description: Resource tags.
                additionalProperties:
                  type: string
                x-ms-mutability:
                - read
                - create
                - update
              location:
                type: string
                description: The geo-location where the resource lives
                x-ms-mutability:
                - read
                - create
              properties:
                description: Certificate resource specific properties
                type: object
                properties:
                  provisioningState:
                    description: Provisioning state of the certificate.
                    enum:
                    - Succeeded
                    - Failed
                    - Canceled
                    - DeleteFailed
                    - Pending
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: CertificateProvisioningState
                      modelAsString: true
                  certificateKeyVaultProperties:
                    description: Properties for a certificate stored in a Key Vault.
                    type: object
                    properties:
                      identity:
                        description: Resource ID of a managed identity to authenticate
                          with Azure Key Vault, or System to use a system-assigned
                          identity.
                        type: string
                      keyVaultUrl:
                        description: URL pointing to the Azure Key Vault secret that
                          holds the certificate.
                        type: string
                        format: uri
                  password:
                    description: Certificate password.
                    type: string
                    x-ms-mutability:
                    - create
                    x-ms-secret: true
                  subjectName:
                    description: Subject name of the certificate.
                    type: string
                    readOnly: true
                  subjectAlternativeNames:
                    description: Subject alternative names the certificate applies
                      to.
                    type: array
                    items:
                      type: string
                    readOnly: true
                  value:
                    format: byte
                    description: PFX or PEM blob
                    type: string
                    x-ms-mutability:
                    - create
                    x-ms-secret: true
                  issuer:
                    description: Certificate issuer.
                    type: string
                    readOnly: true
                  issueDate:
                    format: date-time
                    description: Certificate issue Date.
                    type: string
                    readOnly: true
                  expirationDate:
                    format: date-time
                    description: Certificate expiration date.
                    type: string
                    readOnly: true
                  thumbprint:
                    description: Certificate thumbprint.
                    type: string
                    readOnly: true
                  valid:
                    description: Is the certificate valid?.
                    type: boolean
                    readOnly: true
                  publicKeyHash:
                    description: Public key hash.
                    type: string
                    readOnly: true
            required:
            - location
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
            x-ms-client-flatten: true
        nextLink:
          description: Link to next page of resources.
          type: string
          readOnly: true
    CertificatePatch:
      description: A certificate to update
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Application-specific metadata in the form of key-value pairs.
