openapi: 3.0.0
info:
  version: 2025-01-01
  title: ContainerApps API Client
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/revisions
  : get:
      tags:
      - ContainerAppsRevisions
      summary: Get the Revisions for a given Container App.
      operationId: ContainerAppsRevisions_ListRevisions
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: containerAppName
        in: path
        description: Name of the Container App for which Revisions are needed.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: $filter
        in: query
        description: The filter to apply on the operation.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Container App Revisions collection ARM resource.
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: Revision resource specific properties
                          type: object
                          properties:
                            createdTime:
                              format: date-time
                              description: 'Timestamp describing when the revision
                                was created

                                by controller'
                              type: string
                              readOnly: true
                            lastActiveTime:
                              format: date-time
                              description: Timestamp describing when the revision
                                was last active. Only meaningful when revision is
                                inactive
                              type: string
                              readOnly: true
                            fqdn:
                              description: Fully qualified domain name of the revision
                              type: string
                              readOnly: true
                            template:
                              description: 'Container App Revision Template with all
                                possible settings and the

                                defaults if user did not provide them. The defaults
                                are populated

                                as they were at the creation time'
                              readOnly: true
                              type: object
                              properties:
                                revisionSuffix:
                                  description: User friendly suffix that is appended
                                    to the revision name
                                  type: string
                                terminationGracePeriodSeconds:
                                  description: Optional duration in seconds the Container
                                    App Instance needs to terminate gracefully. Value
                                    must be non-negative integer. The value zero indicates
                                    stop immediately via the kill signal (no opportunity
                                    to shut down). If this value is nil, the default
                                    grace period will be used instead. Set this value
                                    longer than the expected cleanup time for your
                                    process. Defaults to 30 seconds.
                                  format: int64
                                  type: integer
                                initContainers:
                                  description: List of specialized containers that
                                    run before app containers.
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      image:
                                        description: Container image tag.
                                        type: string
                                      name:
                                        description: Custom container name.
                                        type: string
                                      command:
                                        description: Container start command.
                                        type: array
                                        items:
                                          type: string
                                      args:
                                        description: Container start command arguments.
                                        type: array
                                        items:
                                          type: string
                                      env:
                                        description: Container environment variables.
                                        type: array
                                        items:
                                          description: Container App container environment
                                            variable.
                                          type: object
                                          properties:
                                            name:
                                              description: Environment variable name.
                                              type: string
                                            value:
                                              description: Non-secret environment
                                                variable value.
                                              type: string
                                            secretRef:
                                              description: Name of the Container App
                                                secret from which to pull the environment
                                                variable value.
                                              type: string
                                        x-ms-identifiers:
                                        - name
                                      resources:
                                        description: Container resource requirements.
                                        type: object
                                        properties:
                                          cpu:
                                            format: double
                                            description: Required CPU in cores, e.g.
                                              0.5
                                            type: number
                                          memory:
                                            description: Required memory, e.g. "250Mb"
                                            type: string
                                          ephemeralStorage:
                                            description: Ephemeral Storage, e.g. "1Gi"
                                            type: string
                                            readOnly: true
                                      volumeMounts:
                                        description: Container volume mounts.
                                        type: array
                                        items:
                                          description: Volume mount for the Container
                                            App.
                                          type: object
                                          properties:
                                            volumeName:
                                              description: This must match the Name
                                                of a Volume.
                                              type: string
                                            mountPath:
                                              description: Path within the container
                                                at which the volume should be mounted.Must
                                                not contain ':'.
                                              type: string
                                            subPath:
                                              description: Path within the volume
                                                from which the container's volume
                                                should be mounted. Defaults to ""
                                                (volume's root).
                                              type: string
                                        x-ms-identifiers:
                                        - volumeName
                                    description: Container App base container definition.
                                  x-ms-identifiers:
                                  - name
                                containers:
                                  description: List of container definitions for the
                                    Container App.
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      image:
                                        description: Container image tag.
                                        type: string
                                      name:
                                        description: Custom container name.
                                        type: string
                                      command:
                                        description: Container start command.
                                        type: array
                                        items:
                                          type: string
                                      args:
                                        description: Container start command arguments.
                                        type: array
                                        items:
                                          type: string
                                      env:
                                        description: Container environment variables.
                                        type: array
                                        items:
                                          description: Container App container environment
                                            variable.
                                          type: object
                                          properties:
                                            name:
                                              description: Environment variable name.
                                              type: string
                                            value:
                                              description: Non-secret environment
                                                variable value.
                                              type: string
                                            secretRef:
                                              description: Name of the Container App
                                                secret from which to pull the environment
                                                variable value.
                                              type: string
                                        x-ms-identifiers:
                                        - name
                                      resources:
                                        description: Container resource requirements.
                                        type: object
                                        properties:
                                          cpu:
                                            format: double
                                            description: Required CPU in cores, e.g.
                                              0.5
                                            type: number
                                          memory:
                                            description: Required memory, e.g. "250Mb"
                                            type: string
                                          ephemeralStorage:
                                            description: Ephemeral Storage, e.g. "1Gi"
                                            type: string
                                            readOnly: true
                                      volumeMounts:
                                        description: Container volume mounts.
                                        type: array
                                        items:
                                          description: Volume mount for the Container
                                            App.
                                          type: object
                                          properties:
                                            volumeName:
                                              description: This must match the Name
                                                of a Volume.
                                              type: string
                                            mountPath:
                                              description: Path within the container
                                                at which the volume should be mounted.Must
                                                not contain ':'.
                                              type: string
                                            subPath:
                                              description: Path within the volume
                                                from which the container's volume
                                                should be mounted. Defaults to ""
                                                (volume's root).
                                              type: string
                                        x-ms-identifiers:
                                        - volumeName
                                      probes:
                                        description: List of probes for the container.
                                        type: array
                                        items:
                                          description: Probe describes a health check
                                            to be performed against a container to
                                            determine whether it is alive or ready
                                            to receive traffic.
                                          type: object
                                          properties:
                                            failureThreshold:
                                              description: Minimum consecutive failures
                                                for the probe to be considered failed
                                                after having succeeded. Defaults to
                                                3. Minimum value is 1. Maximum value
                                                is 10.
                                              type: integer
                                              format: int32
                                            httpGet:
                                              description: HTTPGet specifies the http
                                                request to perform.
                                              type: object
                                              required:
                                              - port
                                              properties:
                                                host:
                                                  description: Host name to connect
                                                    to, defaults to the pod IP. You
                                                    probably want to set "Host" in
                                                    httpHeaders instead.
                                                  type: string
                                                httpHeaders:
                                                  description: Custom headers to set
                                                    in the request. HTTP allows repeated
                                                    headers.
                                                  type: array
                                                  items:
                                                    description: HTTPHeader describes
                                                      a custom header to be used in
                                                      HTTP probes
                                                    type: object
                                                    required:
                                                    - name
                                                    - value
                                                    properties:
                                                      name:
                                                        description: The header field
                                                          name
                                                        type: string
                                                      value:
                                                        description: The header field
                                                          value
                                                        type: string
                                                  x-ms-identifiers:
                                                  - name
                                                path:
                                                  description: Path to access on the
                                                    HTTP server.
                                                  type: string
                                                port:
                                                  description: Name or number of the
                                                    port to access on the container.
                                                    Number must be in the range 1
                                                    to 65535. Name must be an IANA_SVC_NAME.
                                                  type: integer
                                                  format: int32
                                                scheme:
                                                  description: Scheme to use for connecting
                                                    to the host. Defaults to HTTP.
                                                  enum:
                                                  - HTTP
                                                  - HTTPS
                                                  type: string
                                                  x-ms-enum:
                                                    name: Scheme
                                                    modelAsString: true
                                            initialDelaySeconds:
                                              description: Number of seconds after
                                                the container has started before liveness
                                                probes are initiated. Minimum value
                                                is 1. Maximum value is 60.
                                              type: integer
                                              format: int32
                                            periodSeconds:
                                              description: How often (in seconds)
                                                to perform the probe. Default to 10
                                                seconds. Minimum value is 1. Maximum
                                                value is 240.
                                              type: integer
                                              format: int32
                                            successThreshold:
                                              description: Minimum consecutive successes
                                                for the probe to be considered successful
                                                after having failed. Defaults to 1.
                                                Must be 1 for liveness and startup.
                                                Minimum value is 1. Maximum value
                                                is 10.
                                              type: integer
                                              format: int32
                                            tcpSocket:
                                              description: TCPSocket specifies an
                                                action involving a TCP port. TCP hooks
                                                not yet supported.
                                              type: object
                                              required:
                                              - port
                                              properties:
                                                host:
                                                  description: 'Optional: Host name
                                                    to connect to, defaults to the
                                                    pod IP.'
                                                  type: string
                                                port:
                                                  description: Number or name of the
                                                    port to access on the container.
                                                    Number must be in the range 1
                                                    to 65535. Name must be an IANA_SVC_NAME.
                                                  type: integer
                                                  format: int32
                                            terminationGracePeriodSeconds:
                                              description: Optional duration in seconds
                                                the pod needs to terminate gracefully
                                                upon probe failure. The grace period
                                                is the duration in seconds after the
                                                processes running in the pod are sent
                                                a termination signal and the time
                                                when the processes are forcibly halted
                                                with a kill signal. Set this value
                                                longer than the expected cleanup time
                                                for your process. If this value is
                                                nil, the pod's terminationGracePeriodSeconds
                                                will be used. Otherwise, this value
                                                overrides the value provided by the
                                                pod spec. Value must be non-negative
                                                integer. The value zero indicates
                                                stop immediately via the kill signal
                                                (no opportunity to shut down). This
                                                is an alpha field and requires enabling
                                                ProbeTerminationGracePeriod feature
                                                gate. Maximum value is 3600 seconds
                                                (1 hour)
                                              type: integer
                                              format: int64
                                            timeoutSeconds:
                                              description: Number of seconds after
                                                which the probe times out. Defaults
                                                to 1 second. Minimum value is 1. Maximum
                                                value is 240.
                                              type: integer
                                              format: int32
                                            type:
                                              description: The type of probe.
                                              enum:
                                              - Liveness
                                              - Readiness
                                              - Startup
                                              type: string
                                              x-ms-enum:
                                                name: Type
                                                modelAsString: true
                                        x-ms-identifiers:
                                        - type
                                    description: Container App base container definition.
                                  x-ms-identifiers:
                                  - name
                                scale:
                                  description: Scaling properties for the Container
                                    App.
                                  type: object
                                  properties:
                                    minReplicas:
                                      format: int32
                                      description: Optional. Minimum number of container
                                        replicas.
                                      type: integer
                                    maxReplicas:
                                      format: int32
                                      description: Optional. Maximum number of container
                                        replicas. Defaults to 10 if not set.
                                      type: integer
                                      default: 10
                                    cooldownPeriod:
                                      format: int32
                                      description: Optional. KEDA Cooldown Period
                                        in seconds. Defaults to 300 seconds if not
                                        set.
                                      type: integer
                                    pollingInterval:
                                      format: int32
                                      description: Optional. KEDA Polling Interval
                                        in seconds. Defaults to 30 seconds if not
                                        set.
                                      type: integer
                                    rules:
                                      description: Scaling rules.
                                      type: array
                                      items:
                                        description: Container App container scaling
                                          rule.
                                        type: object
                                        properties:
                                          name:
                                            description: Scale Rule Name
                                            type: string
                                          azureQueue:
                                            description: Azure Queue based scaling.
                                            type: object
                                            properties:
                                              accountName:
                                                description: Storage account name.
                                                  required if using managed identity
                                                  to authenticate
                                                type: string
                                              queueName:
                                                description: Queue name.
                                                type: string
                                              queueLength:
                                                format: int32
                                                description: Queue length.
                                                type: integer
                                              auth:
                                                description: Authentication secrets
                                                  for the queue scale rule.
                                                type: array
                                                items:
                                                  description: Auth Secrets for Scale
                                                    Rule
                                                  type: object
                                                  properties:
                                                    secretRef:
                                                      description: Name of the secret
                                                        from which to pull the auth
                                                        params.
                                                      type: string
                                                    triggerParameter:
                                                      description: Trigger Parameter
                                                        that uses the secret
                                                      type: string
                                                x-ms-identifiers:
                                                - triggerParameter
                                              identity:
                                                description: The resource ID of a
                                                  user-assigned managed identity that
                                                  is assigned to the Container App,
                                                  or 'system' for system-assigned
                                                  identity.
                                                type: string
                                          custom:
                                            description: Custom scale rule.
                                            type: object
                                            properties:
                                              type:
                                                description: 'Type of the custom scale
                                                  rule

                                                  eg: azure-servicebus, redis etc.'
                                                type: string
                                              metadata:
                                                description: Metadata properties to
                                                  describe custom scale rule.
                                                type: object
                                                additionalProperties:
                                                  type: string
                                              auth:
                                                description: Authentication secrets
                                                  for the custom scale rule.
                                                type: array
                                                items:
                                                  description: Auth Secrets for Scale
                                                    Rule
                                                  type: object
                                                  properties:
                                                    secretRef:
                                                      description: Name of the secret
                                                        from which to pull the auth
                                                        params.
                                                      type: string
                                                    triggerParameter:
                                                      description: Trigger Parameter
                                                        that uses the secret
                                                      type: string
                                                x-ms-identifiers:
                                                - triggerParameter
                                              identity:
                                                description: The resource ID of a
                                                  user-assigned managed identity that
                                                  is assigned to the Container App,
                                                  or 'system' for system-assigned
                                                  identity.
                                                type: string
                                          http:
                                            description: HTTP requests based scaling.
                                            type: object
                                            properties:
                                              metadata:
                                                description: Metadata properties to
                                                  describe http scale rule.
                                                type: object
                                                additionalProperties:
                                                  type: string
                                              auth:
                                                description: Authentication secrets
                                                  for the custom scale rule.
                                                type: array
                                                items:
                                                  description: Auth Secrets for Scale
                                                    Rule
                                                  type: object
                                                  properties:
                                                    secretRef:
                                                      description: Name of the secret
                                                        from which to pull the auth
                                                        params.
                                                      type: string
                                                    triggerParameter:
                                                      description: Trigger Parameter
                                                        that uses the secret
                                                      type: string
                                                x-ms-identifiers:
                                                - triggerParameter
                                              identity:
                                                description: The resource ID of a
                                                  user-assigned managed identity that
                                                  is assigned to the Container App,
                                                  or 'system' for system-assigned
                                                  identity.
                                                type: string
                                          tcp:
                                            description: Tcp requests based scaling.
                                            type: object
                                            properties:
                                              metadata:
                                                description: Metadata properties to
                                                  describe tcp scale rule.
                                                type: object
                                                additionalProperties:
                                                  type: string
                                              auth:
                                                description: Authentication secrets
                                                  for the tcp scale rule.
                                                type: array
                                                items:
                                                  description: Auth Secrets for Scale
                                                    Rule
                                                  type: object
                                                  properties:
                                                    secretRef:
                                                      description: Name of the secret
                                                        from which to pull the auth
                                                        params.
                                                      type: string
                                                    triggerParameter:
                                                      description: Trigger Parameter
                                                        that uses the secret
                                                      type: string
                                                x-ms-identifiers:
                                                - triggerParameter
                                              identity:
                                                description: The resource ID of a
                                                  user-assigned managed identity that
                                                  is assigned to the Container App,
                                                  or 'system' for system-assigned
                                                  identity.
                                                type: string
                                      x-ms-identifiers:
                                      - name
                                volumes:
                                  description: List of volume definitions for the
                                    Container App.
                                  type: array
                                  items:
                                    description: Volume definitions for the Container
                                      App.
                                    type: object
                                    properties:
                                      name:
                                        description: Volume name.
                                        type: string
                                      storageType:
                                        description: Storage type for the volume.
                                          If not provided, use EmptyDir.
                                        enum:
                                        - AzureFile
                                        - EmptyDir
                                        - Secret
                                        - NfsAzureFile
                                        type: string
                                        x-ms-enum:
                                          name: StorageType
                                          modelAsString: true
                                      storageName:
                                        description: Name of storage resource. No
                                          need to provide for EmptyDir and Secret.
                                        type: string
                                      secrets:
                                        description: List of secrets to be added in
                                          volume. If no secrets are provided, all
                                          secrets in collection will be added to volume.
                                        type: array
                                        items:
                                          description: Secret to be added to volume.
                                          type: object
                                          properties:
                                            secretRef:
                                              description: Name of the Container App
                                                secret from which to pull the secret
                                                value.
                                              type: string
                                            path:
                                              description: Path to project secret
                                                to. If no path is provided, path defaults
                                                to name of secret listed in secretRef.
                                              type: string
                                        x-ms-identifiers:
                                        - secretRef
                                      mountOptions:
                                        description: Mount options used while mounting
                                          the Azure file share or NFS Azure file share.
                                          Must be a comma-separated string.
                                        type: string
                                  x-ms-identifiers:
                                  - name
                                serviceBinds:
                                  description: List of container app services bound
                                    to the app
                                  type: array
                                  items:
                                    description: Configuration to bind a ContainerApp
                                      to a dev ContainerApp Service
                                    type: object
                                    properties:
                                      serviceId:
                                        description: Resource id of the target service
                                        type: string
                                      name:
                                        description: Name of the service bind
                                        type: string
                                  x-ms-identifier:
                                  - name
                            active:
                              description: Boolean describing if the Revision is Active
                              type: boolean
                              readOnly: true
                            replicas:
                              format: int32
                              description: Number of pods currently running for this
                                revision
                              type: integer
                              readOnly: true
                            trafficWeight:
                              format: int32
                              description: Traffic weight assigned to this revision
                              type: integer
                              readOnly: true
                            provisioningError:
                              description: Optional Field - Platform Error Message
                              type: string
                              readOnly: true
                            healthState:
                              description: Current health State of the revision
                              enum:
                              - Healthy
                              - Unhealthy
                              - None
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: RevisionHealthState
                                modelAsString: true
                            provisioningState:
                              description: Current provisioning State of the revision
                              enum:
                              - Provisioning
                              - Provisioned
                              - Failed
                              - Deprovisioning
                              - Deprovisioned
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: RevisionProvisioningState
                                modelAsString: true
                            runningState:
                              description: Current running state of the revision
                              enum:
                              - Running
                              - Processing
                              - Stopped
                              - Degraded
                              - Failed
                              - Unknown
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: RevisionRunningState
                                modelAsString: true
                          x-ms-client-flatten: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: Common error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        description: Details or the error
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers:
                        - code
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/components/schemas/Revision'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/revisions/{revisionName}
  : get:
      tags:
      - ContainerAppsRevisions
      summary: Get a revision of a Container App.
      operationId: ContainerAppsRevisions_GetRevision
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: containerAppName
        in: path
        description: Name of the Container App.
        required: true
        schema:
          type: string
      - name: revisionName
        in: path
        description: Name of the Container App Revision.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: Revision resource specific properties
                    type: object
                    properties:
                      createdTime:
                        format: date-time
                        description: 'Timestamp describing when the revision was created

                          by controller'
                        type: string
                        readOnly: true
                      lastActiveTime:
                        format: date-time
                        description: Timestamp describing when the revision was last
                          active. Only meaningful when revision is inactive
                        type: string
                        readOnly: true
                      fqdn:
                        description: Fully qualified domain name of the revision
                        type: string
                        readOnly: true
                      template:
                        description: 'Container App Revision Template with all possible
                          settings and the

                          defaults if user did not provide them. The defaults are
                          populated

                          as they were at the creation time'
                        readOnly: true
                        type: object
                        properties:
                          revisionSuffix:
                            description: User friendly suffix that is appended to
                              the revision name
                            type: string
                          terminationGracePeriodSeconds:
                            description: Optional duration in seconds the Container
                              App Instance needs to terminate gracefully. Value must
                              be non-negative integer. The value zero indicates stop
                              immediately via the kill signal (no opportunity to shut
                              down). If this value is nil, the default grace period
                              will be used instead. Set this value longer than the
                              expected cleanup time for your process. Defaults to
                              30 seconds.
                            format: int64
                            type: integer
                          initContainers:
                            description: List of specialized containers that run before
                              app containers.
                            type: array
                            items:
                              type: object
                              properties:
                                image:
                                  description: Container image tag.
                                  type: string
                                name:
                                  description: Custom container name.
                                  type: string
                                command:
                                  description: Container start command.
                                  type: array
                                  items:
                                    type: string
                                args:
                                  description: Container start command arguments.
                                  type: array
                                  items:
                                    type: string
                                env:
                                  description: Container environment variables.
                                  type: array
                                  items:
                                    description: Container App container environment
                                      variable.
                                    type: object
                                    properties:
                                      name:
                                        description: Environment variable name.
                                        type: string
                                      value:
                                        description: Non-secret environment variable
                                          value.
                                        type: string
                                      secretRef:
                                        description: Name of the Container App secret
                                          from which to pull the environment variable
                                          value.
                                        type: string
                                  x-ms-identifiers:
                                  - name
                                resources:
                                  description: Container resource requirements.
                                  type: object
                                  properties:
                                    cpu:
                                      format: double
                                      description: Required CPU in cores, e.g. 0.5
                                      type: number
                                    memory:
                                      description: Required memory, e.g. "250Mb"
                                      type: string
                                    ephemeralStorage:
                                      description: Ephemeral Storage, e.g. "1Gi"
                                      type: string
                                      readOnly: true
                                volumeMounts:
                                  description: Container volume mounts.
                                  type: array
                                  items:
                                    description: Volume mount for the Container App.
                                    type: object
                                    properties:
                                      volumeName:
                                        description: This must match the Name of a
                                          Volume.
                                        type: string
                                      mountPath:
                                        description: Path within the container at
                                          which the volume should be mounted.Must
                                          not contain ':'.
                                        type: string
                                      subPath:
                                        description: Path within the volume from which
                                          the container's volume should be mounted.
                                          Defaults to "" (volume's root).
                                        type: string
                                  x-ms-identifiers:
                                  - volumeName
                              description: Container App base container definition.
                            x-ms-identifiers:
                            - name
                          containers:
                            description: List of container definitions for the Container
                              App.
                            type: array
                            items:
                              type: object
                              properties:
                                image:
                                  description: Container image tag.
                                  type: string
                                name:
                                  description: Custom container name.
                                  type: string
                                command:
                                  description: Container start command.
                                  type: array
                                  items:
                                    type: string
                                args:
                                  description: Container start command arguments.
                                  type: array
                                  items:
                                    type: string
                                env:
                                  description: Container environment variables.
                                  type: array
                                  items:
                                    description: Container App container environment
                                      variable.
                                    type: object
                                    properties:
                                      name:
                                        description: Environment variable name.
                                        type: string
                                      value:
                                        description: Non-secret environment variable
                                          value.
                                        type: string
                                      secretRef:
                                        description: Name of the Container App secret
                                          from which to pull the environment variable
                                          value.
                                        type: string
                                  x-ms-identifiers:
                                  - name
                                resources:
                                  description: Container resource requirements.
                                  type: object
                                  properties:
                                    cpu:
                                      format: double
                                      description: Required CPU in cores, e.g. 0.5
                                      type: number
                                    memory:
                                      description: Required memory, e.g. "250Mb"
                                      type: string
                                    ephemeralStorage:
                                      description: Ephemeral Storage, e.g. "1Gi"
                                      type: string
                                      readOnly: true
                                volumeMounts:
                                  description: Container volume mounts.
                                  type: array
                                  items:
                                    description: Volume mount for the Container App.
                                    type: object
                                    properties:
                                      volumeName:
                                        description: This must match the Name of a
                                          Volume.
                                        type: string
                                      mountPath:
                                        description: Path within the container at
                                          which the volume should be mounted.Must
                                          not contain ':'.
                                        type: string
                                      subPath:
                                        description: Path within the volume from which
                                          the container's volume should be mounted.
                                          Defaults to "" (volume's root).
                                        type: string
                                  x-ms-identifiers:
                                  - volumeName
                                probes:
                                  description: List of probes for the container.
                                  type: array
                                  items:
                                    description: Probe describes a health check to
                                      be performed against a container to determine
                                      whether it is alive or ready to receive traffic.
                                    type: object
                                    properties:
                                      failureThreshold:
                                        description: Minimum consecutive failures
                                          for the probe to be considered failed after
                                          having succeeded. Defaults to 3. Minimum
                                          value is 1. Maximum value is 10.
                                        type: integer
                                        format: int32
                                      httpGet:
                                        description: HTTPGet specifies the http request
                                          to perform.
                                        type: object
                                        required:
                                        - port
                                        properties:
                                          host:
                                            description: Host name to connect to,
                                              defaults to the pod IP. You probably
                                              want to set "Host" in httpHeaders instead.
                                            type: string
                                          httpHeaders:
                                            description: Custom headers to set in
                                              the request. HTTP allows repeated headers.
                                            type: array
                                            items:
                                              description: HTTPHeader describes a
                                                custom header to be used in HTTP probes
                                              type: object
                                              required:
                                              - name
                                              - value
                                              properties:
                                                name:
                                                  description: The header field name
                                                  type: string
                                                value:
                                                  description: The header field value
                                                  type: string
                                            x-ms-identifiers:
                                            - name
                                          path:
                                            description: Path to access on the HTTP
                                              server.
                                            type: string
                                          port:
                                            description: Name or number of the port
                                              to access on the container. Number must
                                              be in the range 1 to 65535. Name must
                                              be an IANA_SVC_NAME.
                                            type: integer
                                            format: int32
                                          scheme:
                                            description: Scheme to use for connecting
                                              to the host. Defaults to HTTP.
                                            enum:
                                            - HTTP
                                            - HTTPS
                                            type: string
                                            x-ms-enum:
                                              name: Scheme
                                              modelAsString: true
                                      initialDelaySeconds:
                                        description: Number of seconds after the container
                                          has started before liveness probes are initiated.
                                          Minimum value is 1. Maximum value is 60.
                                        type: integer
                                        format: int32
                                      periodSeconds:
                                        description: How often (in seconds) to perform
                                          the probe. Default to 10 seconds. Minimum
                                          value is 1. Maximum value is 240.
                                        type: integer
                                        format: int32
                                      successThreshold:
                                        description: Minimum consecutive successes
                                          for the probe to be considered successful
                                          after having failed. Defaults to 1. Must
                                          be 1 for liveness and startup. Minimum value
                                          is 1. Maximum value is 10.
                                        type: integer
                                        format: int32
                                      tcpSocket:
                                        description: TCPSocket specifies an action
                                          involving a TCP port. TCP hooks not yet
                                          supported.
                                        type: object
                                        required:
                                        - port
                                        properties:
                                          host:
                                            description: 'Optional: Host name to connect
                                              to, defaults to the pod IP.'
                                            type: string
                                          port:
                                            description: Number or name of the port
                                              to access on the container. Number must
                                              be in the range 1 to 65535. Name must
                                              be an IANA_SVC_NAME.
                                            type: integer
                                            format: int32
                                      terminationGracePeriodSeconds:
                                        description: Optional duration in seconds
                                          the pod needs to terminate gracefully upon
                                          probe failure. The grace period is the duration
                                          in seconds after the processes running in
                                          the pod are sent a termination signal and
                                          the time when the processes are forcibly
                                          halted with a kill signal. Set this value
                                          longer than the expected cleanup time for
                                          your process. If this value is nil, the
                                          pod's terminationGracePeriodSeconds will
                                          be used. Otherwise, this value overrides
                                          the value provided by the pod spec. Value
                                          must be non-negative integer. The value
                                          zero indicates stop immediately via the
                                          kill signal (no opportunity to shut down).
                                          This is an alpha field and requires enabling
                                          ProbeTerminationGracePeriod feature gate.
                                          Maximum value is 3600 seconds (1 hour)
                                        type: integer
                                        format: int64
                                      timeoutSeconds:
                                        description: Number of seconds after which
                                          the probe times out. Defaults to 1 second.
                                          Minimum value is 1. Maximum value is 240.
                                        type: integer
                                        format: int32
                                      type:
                                        description: The type of probe.
                                        enum:
                                        - Liveness
                                        - Readiness
                                        - Startup
                                        type: string
                                        x-ms-enum:
                                          name: Type
                                          modelAsString: true
                                  x-ms-identifiers:
                                  - type
                              description: Container App base container definition.
                            x-ms-identifiers:
                            - name
                          scale:
                            description: Scaling properties for the Container App.
                            type: object
                            properties:
                              minReplicas:
                                format: int32
                                description: Optional. Minimum number of container
                                  replicas.
                                type: integer
                              maxReplicas:
                                format: int32
                                description: Optional. Maximum number of container
                                  replicas. Defaults to 10 if not set.
                                type: integer
                                default: 10
                              cooldownPeriod:
                                format: int32
                                description: Optional. KEDA Cooldown Period in seconds.
                                  Defaults to 300 seconds if not set.
                                type: integer
                              pollingInterval:
                                format: int32
                                description: Optional. KEDA Polling Interval in seconds.
                                  Defaults to 30 seconds if not set.
                                type: integer
                              rules:
                                description: Scaling rules.
                                type: array
                                items:
                                  description: Container App container scaling rule.
                                  type: object
                                  properties:
                                    name:
                                      description: Scale Rule Name
                                      type: string
                                    azureQueue:
                                      description: Azure Queue based scaling.
                                      type: object
                                      properties:
                                        accountName:
                                          description: Storage account name. required
                                            if using managed identity to authenticate
                                          type: string
                                        queueName:
                                          description: Queue name.
                                          type: string
                                        queueLength:
                                          format: int32
                                          description: Queue length.
                                          type: integer
                                        auth:
                                          description: Authentication secrets for
                                            the queue scale rule.
                                          type: array
                                          items:
                                            description: Auth Secrets for Scale Rule
                                            type: object
                                            properties:
                                              secretRef:
                                                description: Name of the secret from
                                                  which to pull the auth params.
                                                type: string
                                              triggerParameter:
                                                description: Trigger Parameter that
                                                  uses the secret
                                                type: string
                                          x-ms-identifiers:
                                          - triggerParameter
                                        identity:
                                          description: The resource ID of a user-assigned
                                            managed identity that is assigned to the
                                            Container App, or 'system' for system-assigned
                                            identity.
                                          type: string
                                    custom:
                                      description: Custom scale rule.
                                      type: object
                                      properties:
                                        type:
                                          description: 'Type of the custom scale rule

                                            eg: azure-servicebus, redis etc.'
                                          type: string
                                        metadata:
                                          description: Metadata properties to describe
                                            custom scale rule.
                                          type: object
                                          additionalProperties:
                                            type: string
                                        auth:
                                          description: Authentication secrets for
                                            the custom scale rule.
                                          type: array
                                          items:
                                            description: Auth Secrets for Scale Rule
                                            type: object
                                            properties:
                                              secretRef:
                                                description: Name of the secret from
                                                  which to pull the auth params.
                                                type: string
                                              triggerParameter:
                                                description: Trigger Parameter that
                                                  uses the secret
                                                type: string
                                          x-ms-identifiers:
                                          - triggerParameter
                                        identity:
                                          description: The resource ID of a user-assigned
                                            managed identity that is assigned to the
                                            Container App, or 'system' for system-assigned
                                            identity.
                                          type: string
                                    http:
                                      description: HTTP requests based scaling.
                                      type: object
                                      properties:
                                        metadata:
                                          description: Metadata properties to describe
                                            http scale rule.
                                          type: object
                                          additionalProperties:
                                            type: string
                                        auth:
                                          description: Authentication secrets for
                                            the custom scale rule.
                                          type: array
                                          items:
                                            description: Auth Secrets for Scale Rule
                                            type: object
                                            properties:
                                              secretRef:
                                                description: Name of the secret from
                                                  which to pull the auth params.
                                                type: string
                                              triggerParameter:
                                                description: Trigger Parameter that
                                                  uses the secret
                                                type: string
                                          x-ms-identifiers:
                                          - triggerParameter
                                        identity:
                                          description: The resource ID of a user-assigned
                                            managed identity that is assigned to the
                                            Container App, or 'system' for system-assigned
                                            identity.
                                          type: string
                                    tcp:
                                      description: Tcp requests based scaling.
                                      type: object
                                      properties:
                                        metadata:
                                          description: Metadata properties to describe
                                            tcp scale rule.
                                          type: object
                                          additionalProperties:
                                            type: string
                                        auth:
                                          description: Authentication secrets for
                                            the tcp scale rule.
                                          type: array
                                          items:
                                            description: Auth Secrets for Scale Rule
                                            type: object
                                            properties:
                                              secretRef:
                                                description: Name of the secret from
                                                  which to pull the auth params.
                                                type: string
                                              triggerParameter:
                                                description: Trigger Parameter that
                                                  uses the secret
                                                type: string
                                          x-ms-identifiers:
                                          - triggerParameter
                                        identity:
                                          description: The resource ID of a user-assigned
                                            managed identity that is assigned to the
                                            Container App, or 'system' for system-assigned
                                            identity.
                                          type: string
                                x-ms-identifiers:
                                - name
                          volumes:
                            description: List of volume definitions for the Container
                              App.
                            type: array
                            items:
                              description: Volume definitions for the Container App.
                              type: object
                              properties:
                                name:
                                  description: Volume name.
                                  type: string
                                storageType:
                                  description: Storage type for the volume. If not
                                    provided, use EmptyDir.
                                  enum:
                                  - AzureFile
                                  - EmptyDir
                                  - Secret
                                  - NfsAzureFile
                                  type: string
                                  x-ms-enum:
                                    name: StorageType
                                    modelAsString: true
                                storageName:
                                  description: Name of storage resource. No need to
                                    provide for EmptyDir and Secret.
                                  type: string
                                secrets:
                                  description: List of secrets to be added in volume.
                                    If no secrets are provided, all secrets in collection
                                    will be added to volume.
                                  type: array
                                  items:
                                    description: Secret to be added to volume.
                                    type: object
                                    properties:
                                      secretRef:
                                        description: Name of the Container App secret
                                          from which to pull the secret value.
                                        type: string
                                      path:
                                        description: Path to project secret to. If
                                          no path is provided, path defaults to name
                                          of secret listed in secretRef.
                                        type: string
                                  x-ms-identifiers:
                                  - secretRef
                                mountOptions:
                                  description: Mount options used while mounting the
                                    Azure file share or NFS Azure file share. Must
                                    be a comma-separated string.
                                  type: string
                            x-ms-identifiers:
                            - name
                          serviceBinds:
                            description: List of container app services bound to the
                              app
                            type: array
                            items:
                              description: Configuration to bind a ContainerApp to
                                a dev ContainerApp Service
                              type: object
                              properties:
                                serviceId:
                                  description: Resource id of the target service
                                  type: string
                                name:
                                  description: Name of the service bind
                                  type: string
                            x-ms-identifier:
                            - name
                      active:
                        description: Boolean describing if the Revision is Active
                        type: boolean
                        readOnly: true
                      replicas:
                        format: int32
                        description: Number of pods currently running for this revision
                        type: integer
                        readOnly: true
                      trafficWeight:
                        format: int32
                        description: Traffic weight assigned to this revision
                        type: integer
                        readOnly: true
                      provisioningError:
                        description: Optional Field - Platform Error Message
                        type: string
                        readOnly: true
                      healthState:
                        description: Current health State of the revision
                        enum:
                        - Healthy
                        - Unhealthy
                        - None
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: RevisionHealthState
                          modelAsString: true
                      provisioningState:
                        description: Current provisioning State of the revision
                        enum:
                        - Provisioning
                        - Provisioned
                        - Failed
                        - Deprovisioning
                        - Deprovisioned
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: RevisionProvisioningState
                          modelAsString: true
                      runningState:
                        description: Current running state of the revision
                        enum:
                        - Running
                        - Processing
                        - Stopped
                        - Degraded
                        - Failed
                        - Unknown
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: RevisionRunningState
                          modelAsString: true
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Common error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        description: Details or the error
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers:
                        - code
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
[...]
