openapi: 3.0.0
info:
  version: 2025-01-01
  title: ContainerApps API Client
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.App/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available RP operations.
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: Available operations of the service
                type: object
                properties:
                  value:
                    description: Collection of available operation details
                    uniqueItems: false
                    type: array
                    items:
                      description: Operation detail payload
                      type: object
                      properties:
                        name:
                          description: Name of the operation
                          type: string
                        isDataAction:
                          description: Indicates whether the operation is a data action
                          type: boolean
                        display:
                          description: Display of the operation
                          type: object
                          properties:
                            provider:
                              description: Resource provider of the operation
                              type: string
                            resource:
                              description: Resource of the operation
                              type: string
                            operation:
                              description: Localized friendly name for the operation
                              type: string
                            description:
                              description: Localized friendly description for the
                                operation
                              type: string
                        origin:
                          description: Origin of the operation
                          type: string
                    x-ms-identifiers:
                    - name
                  nextLink:
                    description: "URL client should use to fetch the next page (per\
                      \ server side paging).\r\nIt's null for now, added for future\
                      \ use."
                    type: string
        default:
          description: Resource Provider error response describing why the operation
            failed.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        description: Details or the error
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers:
                        - code
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    AvailableOperations:
      description: Available operations of the service
      type: object
      properties:
        value:
          description: Collection of available operation details
          uniqueItems: false
          type: array
          items:
            description: Operation detail payload
            type: object
            properties:
              name:
                description: Name of the operation
                type: string
              isDataAction:
                description: Indicates whether the operation is a data action
                type: boolean
              display:
                description: Display of the operation
                type: object
                properties:
                  provider:
                    description: Resource provider of the operation
                    type: string
                  resource:
                    description: Resource of the operation
                    type: string
                  operation:
                    description: Localized friendly name for the operation
                    type: string
                  description:
                    description: Localized friendly description for the operation
                    type: string
              origin:
                description: Origin of the operation
                type: string
          x-ms-identifiers:
          - name
        nextLink:
          description: "URL client should use to fetch the next page (per server side\
            \ paging).\r\nIt's null for now, added for future use."
          type: string
    OperationDetail:
      description: Operation detail payload
      type: object
      properties:
        name:
          description: Name of the operation
          type: string
        isDataAction:
          description: Indicates whether the operation is a data action
          type: boolean
        display:
          description: Display of the operation
          type: object
          properties:
            provider:
              description: Resource provider of the operation
              type: string
            resource:
              description: Resource of the operation
              type: string
            operation:
              description: Localized friendly name for the operation
              type: string
            description:
              description: Localized friendly description for the operation
              type: string
        origin:
          description: Origin of the operation
          type: string
    OperationDisplay:
      description: Operation display payload
      type: object
      properties:
        provider:
          description: Resource provider of the operation
          type: string
        resource:
          description: Resource of the operation
          type: string
        operation:
          description: Localized friendly name for the operation
          type: string
        description:
          description: Localized friendly description for the operation
          type: string
    DefaultErrorResponse:
      description: App Service error response.
      type: object
      properties:
        error:
          description: Error model.
          type: object
          properties:
            code:
              description: Standardized string to programmatically identify the error.
              type: string
              readOnly: true
            message:
              description: Detailed error description and debugging information.
              type: string
              readOnly: true
            target:
              description: Detailed error description and debugging information.
              type: string
              readOnly: true
            details:
              type: array
              description: Details or the error
              items:
                description: Detailed errors.
                type: object
                properties:
                  code:
                    description: Standardized string to programmatically identify
                      the error.
                    type: string
                    readOnly: true
                  message:
                    description: Detailed error description and debugging information.
                    type: string
                    readOnly: true
                  target:
                    description: Detailed error description and debugging information.
                    type: string
                    readOnly: true
                readOnly: true
              x-ms-identifiers:
              - code
            innererror:
              description: More information to debug error.
              type: string
              readOnly: true
          readOnly: true
