openapi: 3.0.0
info:
  title: ContainerApps API Client
  version: 2025-01-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/javaComponents
  : get:
      tags:
      - JavaComponents
      summary: Get the Java Components for a managed environment.
      operationId: JavaComponents_List
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: environmentName
        in: path
        description: Name of the Managed Environment.
        required: true
        schema:
          type: string
          pattern: ^[-\w\._\(\)]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                description: Java Components ARM resource.
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: Java Component resource specific properties
                          type: object
                          required:
                          - componentType
                          properties:
                            componentType:
                              description: Type of the Java Component.
                              enum:
                              - SpringBootAdmin
                              - SpringCloudEureka
                              - SpringCloudConfig
                              type: string
                              x-ms-enum:
                                name: JavaComponentType
                                modelAsString: true
                            provisioningState:
                              description: Provisioning state of the Java Component.
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Deleting
                              - InProgress
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: JavaComponentProvisioningState
                                modelAsString: true
                            configurations:
                              description: List of Java Components configuration properties
                              type: array
                              items:
                                description: Configuration properties for a Java Component
                                type: object
                                properties:
                                  propertyName:
                                    description: The name of the property
                                    type: string
                                  value:
                                    description: The value of the property
                                    type: string
                              x-ms-identifiers:
                              - propertyName
                            scale:
                              description: Java component scaling configurations
                              type: object
                              properties:
                                minReplicas:
                                  format: int32
                                  description: Optional. Minimum number of Java component
                                    replicas. Defaults to 1 if not set
                                  type: integer
                                maxReplicas:
                                  format: int32
                                  description: Optional. Maximum number of Java component
                                    replicas
                                  type: integer
                            serviceBinds:
                              description: List of Java Components that are bound
                                to the Java component
                              type: array
                              items:
                                description: Configuration to bind a Java Component
                                  to another Java Component
                                type: object
                                properties:
                                  name:
                                    description: Name of the service bind
                                    type: string
                                  serviceId:
                                    description: Resource id of the target service
                                    format: arm-id
                                    type: string
                              x-ms-identifiers:
                              - name
                          x-ms-client-flatten: true
                          discriminator:
                            propertyName: componentType
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: Common error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/javaComponents/{name}
  : get:
      tags:
      - JavaComponents
      summary: Get a Java Component.
      operationId: JavaComponents_Get
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: environmentName
        in: path
        description: Name of the Managed Environment.
        required: true
        schema:
          type: string
          pattern: ^[-\w\._\(\)]+$
      - name: name
        in: path
        description: Name of the Java Component.
        required: true
        schema:
          type: string
          pattern: ^[-\w\._\(\)]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: Java Component resource specific properties
                    type: object
                    required:
                    - componentType
                    properties:
                      componentType:
                        description: Type of the Java Component.
                        enum:
                        - SpringBootAdmin
                        - SpringCloudEureka
                        - SpringCloudConfig
                        type: string
                        x-ms-enum:
                          name: JavaComponentType
                          modelAsString: true
                      provisioningState:
                        description: Provisioning state of the Java Component.
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleting
                        - InProgress
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: JavaComponentProvisioningState
                          modelAsString: true
                      configurations:
                        description: List of Java Components configuration properties
                        type: array
                        items:
                          description: Configuration properties for a Java Component
                          type: object
                          properties:
                            propertyName:
                              description: The name of the property
                              type: string
                            value:
                              description: The value of the property
                              type: string
                        x-ms-identifiers:
                        - propertyName
                      scale:
                        description: Java component scaling configurations
                        type: object
                        properties:
                          minReplicas:
                            format: int32
                            description: Optional. Minimum number of Java component
                              replicas. Defaults to 1 if not set
                            type: integer
                          maxReplicas:
                            format: int32
                            description: Optional. Maximum number of Java component
                              replicas
                            type: integer
                      serviceBinds:
                        description: List of Java Components that are bound to the
                          Java component
                        type: array
                        items:
                          description: Configuration to bind a Java Component to another
                            Java Component
                          type: object
                          properties:
                            name:
                              description: Name of the service bind
                              type: string
                            serviceId:
                              description: Resource id of the target service
                              format: arm-id
                              type: string
                        x-ms-identifiers:
                        - name
                    x-ms-client-flatten: true
                    discriminator:
                      propertyName: componentType
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Common error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - JavaComponents
      summary: Creates or updates a Java Component.
      description: Creates or updates a Java Component in a Managed Environment.
      operationId: JavaComponents_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: environmentName
        in: path
        description: Name of the Managed Environment.
        required: true
        schema:
          type: string
          pattern: ^[-\w\._\(\)]+$
      - name: name
        in: path
        description: Name of the Java Component.
        required: true
        schema:
          type: string
          pattern: ^[-\w\._\(\)]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  description: Java Component resource specific properties
                  type: object
                  required:
                  - componentType
                  properties:
                    componentType:
                      description: Type of the Java Component.
                      enum:
                      - SpringBootAdmin
                      - SpringCloudEureka
                      - SpringCloudConfig
                      type: string
                      x-ms-enum:
                        name: JavaComponentType
                        modelAsString: true
                    provisioningState:
                      description: Provisioning state of the Java Component.
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Deleting
                      - InProgress
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: JavaComponentProvisioningState
                        modelAsString: true
                    configurations:
                      description: List of Java Components configuration properties
                      type: array
                      items:
                        description: Configuration properties for a Java Component
                        type: object
                        properties:
                          propertyName:
                            description: The name of the property
                            type: string
                          value:
                            description: The value of the property
                            type: string
                      x-ms-identifiers:
                      - propertyName
                    scale:
                      description: Java component scaling configurations
                      type: object
                      properties:
                        minReplicas:
                          format: int32
                          description: Optional. Minimum number of Java component
                            replicas. Defaults to 1 if not set
                          type: integer
                        maxReplicas:
                          format: int32
                          description: Optional. Maximum number of Java component
                            replicas
                          type: integer
                    serviceBinds:
                      description: List of Java Components that are bound to the Java
                        component
                      type: array
                      items:
                        description: Configuration to bind a Java Component to another
                          Java Component
                        type: object
                        properties:
                          name:
                            description: Name of the service bind
                            type: string
                          serviceId:
                            description: Resource id of the target service
                            format: arm-id
                            type: string
                      x-ms-identifiers:
                      - name
                  x-ms-client-flatten: true
                  discriminator:
                    propertyName: componentType
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Configuration details of the Java Component.
        required: true
      responses:
        '200':
          description: No change performed on the Java Component.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: Java Component resource specific properties
                    type: object
                    required:
                    - componentType
                    properties:
                      componentType:
                        description: Type of the Java Component.
                        enum:
                        - SpringBootAdmin
                        - SpringCloudEureka
                        - SpringCloudConfig
                        type: string
                        x-ms-enum:
                          name: JavaComponentType
                          modelAsString: true
                      provisioningState:
                        description: Provisioning state of the Java Component.
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleting
                        - InProgress
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: JavaComponentProvisioningState
                          modelAsString: true
                      configurations:
                        description: List of Java Components configuration properties
                        type: array
                        items:
                          description: Configuration properties for a Java Component
                          type: object
                          properties:
                            propertyName:
                              description: The name of the property
                              type: string
                            value:
                              description: The value of the property
                              type: string
                        x-ms-identifiers:
                        - propertyName
                      scale:
                        description: Java component scaling configurations
                        type: object
                        properties:
                          minReplicas:
                            format: int32
                            description: Optional. Minimum number of Java component
                              replicas. Defaults to 1 if not set
                            type: integer
                          maxReplicas:
                            format: int32
                            description: Optional. Maximum number of Java component
                              replicas
                            type: integer
                      serviceBinds:
                        description: List of Java Components that are bound to the
                          Java component
                        type: array
                        items:
                          description: Configuration to bind a Java Component to another
                            Java Component
                          type: object
                          properties:
                            name:
                              description: Name of the service bind
                              type: string
                            serviceId:
                              description: Resource id of the target service
                              format: arm-id
                              type: string
                        x-ms-identifiers:
                        - name
                    x-ms-client-flatten: true
                    discriminator:
                      propertyName: componentType
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Java Component create or update has been started.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: Java Component resource specific properties
                    type: object
                    required:
                    - componentType
                    properties:
                      componentType:
                        description: Type of the Java Component.
                        enum:
                        - SpringBootAdmin
                        - SpringCloudEureka
                        - SpringCloudConfig
                        type: string
                        x-ms-enum:
                          name: JavaComponentType
                          modelAsString: true
                      provisioningState:
                        description: Provisioning state of the Java Component.
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleting
                        - InProgress
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: JavaComponentProvisioningState
                          modelAsString: true
                      configurations:
                        description: List of Java Components configuration properties
                        type: array
                        items:
                          description: Configuration properties for a Java Component
                          type: object
                          properties:
                            propertyName:
                              description: The name of the property
                              type: string
                            value:
                              description: The value of the property
                              type: string
                        x-ms-identifiers:
                        - propertyName
                      scale:
                        description: Java component scaling configurations
                        type: object
                        properties:
                          minReplicas:
                            format: int32
                            description: Optional. Minimum number of Java component
                              replicas. Defaults to 1 if not set
                            type: integer
                          maxReplicas:
                            format: int32
                            description: Optional. Maximum number of Java component
                              replicas
                            type: integer
                      serviceBinds:
                        description: List of Java Components that are bound to the
                          Java component
                        type: array
                        items:
                          description: Configuration to bind a Java Component to another
                            Java Component
                          type: object
                          properties:
                            name:
                              description: Name of the service bind
                              type: string
                            serviceId:
                              description: Resource id of the target service
                              format: arm-id
                              type: string
                        x-ms-identifiers:
                        - name
                    x-ms-client-flatten: true
                    discriminator:
                      propertyName: componentType
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Common error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    patch:
      tags:
      - JavaComponents
      summary: Update properties of a Java Component
      description: Patches a Java Component using JSON Merge Patch
      operationId: JavaComponents_Update
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: environmentName
        in: path
        description: Name of the Managed Environment.
        required: true
        schema:
          type: string
          pattern: ^[-\w\._\(\)]+$
      - name: name
        in: path
        description: Name of the Java Component.
        required: true
        schema:
          type: string
          pattern: ^[-\w\._\(\)]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  description: Java Component resource specific properties
                  type: object
                  required:
                  - componentType
                  properties:
                    componentType:
                      description: Type of the Java Component.
                      enum:
                      - SpringBootAdmin
                      - SpringCloudEureka
                      - SpringCloudConfig
                      type: string
                      x-ms-enum:
                        name: JavaComponentType
                        modelAsString: true
                    provisioningState:
                      description: Provisioning state of the Java Component.
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Deleting
                      - InProgress
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: JavaComponentProvisioningState
                        modelAsString: true
                    configurations:
                      description: List of Java Components configuration properties
                      type: array
                      items:
                        description: Configuration properties for a Java Component
                        type: object
                        properties:
                          propertyName:
                            description: The name of the property
                            type: string
                          value:
                            description: The value of the property
                            type: string
                      x-ms-identifiers:
                      - propertyName
                    scale:
                      description: Java component scaling configurations
                      type: object
                      properties:
                        minReplicas:
                          format: int32
                          description: Optional. Minimum number of Java component
                            replicas. Defaults to 1 if not set
                          type: integer
                        maxReplicas:
                          format: int32
                          description: Optional. Maximum number of Java component
                            replicas
                          type: integer
                    serviceBinds:
                      description: List of Java Components that are bound to the Java
                        component
                      type: array
                      items:
                        description: Configuration to bind a Java Component to another
                          Java Component
                        type: object
                        properties:
                          name:
                            description: Name of the service bind
                            type: string
                          serviceId:
                            description: Resource id of the target service
                            format: arm-id
                            type: string
                      x-ms-identifiers:
                      - name
                  x-ms-client-flatten: true
                  discriminator:
                    propertyName: componentType
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Configuration details of the Java Component.
        required: true
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: Java Component resource specific properties
                    type: object
                    required:
                    - componentType
                    properties:
                      componentType:
                        description: Type of the Java Component.
                        enum:
                        - SpringBootAdmin
                        - SpringCloudEureka
                        - SpringCloudConfig
                        type: string
                        x-ms-enum:
                          name: JavaComponentType
                          modelAsString: true
                      provisioningState:
                        description: Provisioning state of the Java Component.
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleting
                        - InProgress
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: JavaComponentProvisioningState
                          modelAsString: true
                      configurations:
                        description: List of Java Components configuration properties
                        type: array
                        items:
                          description: Configuration properties for a Java Component
                          type: object
                          properties:
                            propertyName:
                              description: The name of the property
                              type: string
                            value:
                              description: The value of the property
                              type: string
                        x-ms-identifiers:
                        - propertyName
                      scale:
                        description: Java component scaling configurations
                        type: object
                        properties:
                          minReplicas:
                            format: int32
                            description: Optional. Minimum number of Java component
                              replicas. Defaults to 1 if not set
                            type: integer
                          maxReplicas:
                            format: int32
                            description: Optional. Maximum number of Java component
                              replicas
                            type: integer
                      serviceBinds:
                        description: List of Java Components that are bound to the
                          Java component
                        type: array
                        items:
                          description: Configuration to bind a Java Component to another
                            Java Component
                          type: object
                          properties:
                            name:
                              description: Name of the service bind
                              type: string
                            serviceId:
                              description: Resource id of the target service
                              format: arm-id
                              type: string
                        x-ms-identifiers:
                        - name
                    x-ms-client-flatten: true
                    discriminator:
                      propertyName: componentType
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Patch operation is in progress.
          headers:
            Location:
              schema:
                type: string
        default:
          description: Common error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    delete:
      tags:
      - JavaComponents
      summary: Delete.
      description: Delete a Java Component.
      operationId: JavaComponents_Delete
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: environmentName
        in: path
        description: Name of the Managed Environment.
        required: true
        schema:
          type: string
          pattern: ^[-\w\._\(\)]+$
      - name: name
        in: path
        description: Name of the Java Component.
        required: true
        schema:
          type: string
          pattern: ^[-\w\._\(\)]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '202':
          description: Delete operation is in progress.
          headers:
            Location:
              schema:
                type: string
        '204':
          description: Java Component does not exist.
        default:
          description: Common error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
  requestBodies:
    JavaComponents_CreateOrUpdateJavacomponentenvelope:
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                format: arm-id
                description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                readOnly: true
              name:
                type: string
                description: The name of the resource
                readOnly: true
              type:
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
                readOnly: true
              systemData:
                description: Azure Resource Manager metadata containing createdBy
                  and modifiedBy information.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              properties:
                description: Java Component resource specific properties
                type: object
                required:
                - componentType
                properties:
                  componentType:
                    description: Type of the Java Component.
                    enum:
                    - SpringBootAdmin
                    - SpringCloudEureka
                    - SpringCloudConfig
                    type: string
                    x-ms-enum:
                      name: JavaComponentType
                      modelAsString: true
                  provisioningState:
                    description: Provisioning state of the Java Component.
                    enum:
                    - Succeeded
                    - Failed
                    - Canceled
                    - Deleting
                    - InProgress
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: JavaComponentProvisioningState
                      modelAsString: true
                  configurations:
                    description: List of Java Components configuration properties
                    type: array
                    items:
                      description: Configuration properties for a Java Component
                      type: object
                      properties:
                        propertyName:
                          description: The name of the property
                          type: string
                        value:
                          description: The value of the property
                          type: string
                    x-ms-identifiers:
                    - propertyName
                  scale:
                    description: Java component scaling configurations
                    type: object
                    properties:
                      minReplicas:
                        format: int32
                        description: Optional. Minimum number of Java component replicas.
                          Defaults to 1 if not set
                        type: integer
                      maxReplicas:
                        format: int32
                        description: Optional. Maximum number of Java component replicas
                        type: integer
                  serviceBinds:
                    description: List of Java Components that are bound to the Java
                      component
                    type: array
                    items:
                      description: Configuration to bind a Java Component to another
                        Java Component
                      type: object
                      properties:
                        name:
                          description: Name of the service bind
                          type: string
                        serviceId:
                          description: Resource id of the target service
                          format: arm-id
                          type: string
                    x-ms-identifiers:
                    - name
                x-ms-client-flatten: true
                discriminator:
                  propertyName: componentType
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
      description: Configuration details of the Java Component.
      required: true
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    JavaComponentConfigurationProperty:
      description: Configuration properties for a Java Component
      type: object
      properties:
        propertyName:
          description: The name of the property
          type: string
        value:
          description: The value of the property
          type: string
    JavaComponentServiceBind:
      description: Configuration to bind a Java Component to another Java Component
      type: object
      properties:
        name:
          description: Name of the service bind
          type: string
        serviceId:
          description: Resource id of the target service
          format: arm-id
          type: string
    JavaComponent:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        properties:
          description: Java Component resource specific properties
          type: object
          required:
          - componentType
          properties:
            componentType:
              description: Type of the Java Component.
              enum:
              - SpringBootAdmin
              - SpringCloudEureka
              - SpringCloudConfig
              type: string
              x-ms-enum:
                name: JavaComponentType
                modelAsString: true
            provisioningState:
              description: Provisioning state of the Java Component.
              enum:
              - Succeeded
              - Failed
              - Canceled
              - Deleting
              - InProgress
              type: string
              readOnly: true
              x-ms-enum:
                name: JavaComponentProvisioningState
                modelAsString: true
            configurations:
              description: List of Java Components configuration properties
              type: array
              items:
                description: Configuration properties for a Java Component
                type: object
                properties:
                  propertyName:
                    description: The name of the property
                    type: string
                  value:
                    description: The value of the property
                    type: string
              x-ms-identifiers:
              - propertyName
            scale:
              description: Java component scaling configurations
              type: object
              properties:
                minReplicas:
                  format: int32
                  description: Optional. Minimum number of Java component replicas.
                    Defaults to 1 if not set
                  type: integer
                maxReplicas:
                  format: int32
                  description: Optional. Maximum number of Java component replicas
                  type: integer
            serviceBinds:
              description: List of Java Components that are bound to the Java component
              type: array
              items:
                description: Configuration to bind a Java Component to another Java
                  Component
                type: object
                properties:
                  name:
                    description: Name of the service bind
                    type: string
                  serviceId:
                    description: Resource id of the target service
                    format: arm-id
                    type: string
              x-ms-identifiers:
              - name
          x-ms-client-flatten: true
          discriminator:
            propertyName: componentType
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    JavaComponentProperties:
      description: Java Component common properties.
      type: object
      required:
      - componentType
      properties:
        componentType:
          description: Type of the Java Component.
          enum:
          - SpringBootAdmin
          - SpringCloudEureka
          - SpringCloudConfig
          type: string
          x-ms-enum:
            name: JavaComponentType
            modelAsString: true
        provisioningState:
          description: Provisioning state of the Java Component.
          enum:
          - Succeeded
          - Failed
          - Canceled
          - Deleting
          - InProgress
          type: string
          readOnly: true
          x-ms-enum:
            name: JavaComponentProvisioningState
            modelAsString: true
        configurations:
          description: List of Java Components configuration properties
          type: array
          items:
            description: Configuration properties for a Java Component
            type: object
            properties:
              propertyName:
                description: The name of the property
                type: string
              value:
                description: The value of the property
                type: string
          x-ms-identifiers:
          - propertyName
        scale:
          description: Java component scaling configurations
          type: object
          properties:
            minReplicas:
              format: int32
              description: Optional. Minimum number of Java component replicas. Defaults
                to 1 if not set
              type: integer
            maxReplicas:
              format: int32
              description: Optional. Maximum number of Java component replicas
              type: integer
        serviceBinds:
          description: List of Java Components that are bound to the Java component
          type: array
          items:
            description: Configuration to bind a Java Component to another Java Component
            type: object
            properties:
              name:
                description: Name of the service bind
                type: string
              serviceId:
                description: Resource id of the target service
                format: arm-id
                type: string
          x-ms-identifiers:
          - name
      x-ms-client-flatten: true
      discriminator:
        propertyName: componentType
    JavaComponentIngress:
      description: Container App Ingress configuration.
      type: object
      properties:
        fqdn:
          description: Hostname of the Java Component endpoint
          type: string
          readOnly: true
    SpringBootAdminComponent:
      type: object
      properties:
        componentType:
          description: Type of the Java Component.
          enum:
          - SpringBootAdmin
          - SpringCloudEureka
          - SpringCloudConfig
          type: string
          x-ms-enum:
            name: JavaComponentType
            modelAsString: true
        provisioningState:
          description: Provisioning state of the Java Component.
          enum:
          - Succeeded
          - Failed
          - Canceled
          - Deleting
          - InProgress
          type: string
          readOnly: true
          x-ms-enum:
            name: JavaComponentProvisioningState
            modelAsString: true
        configurations:
          description: List of Java Components configuration properties
          type: array
          items:
            description: Configuration properties for a Java Component
            type: object
            properties:
              propertyName:
                description: The name of the property
                type: string
              value:
                description: The value of the property
                type: string
          x-ms-identifiers:
          - propertyName
        scale:
          description: Java component scaling configurations
          type: object
          properties:
            minReplicas:
              format: int32
              description: Optional. Minimum number of Java component replicas. Defaults
                to 1 if not set
              type: integer
            maxReplicas:
              format: int32
              description: Optional. Maximum number of Java component replicas
              type: integer
        serviceBinds:
          description: List of Java Components that are bound to the Java component
          type: array
          items:
            description: Configuration to bind a Java Component to another Java Component
            type: object
            properties:
              name:
                description: Name of the service bind
                type: string
              serviceId:
                description: Resource id of the target service
                format: arm-id
                type: string
          x-ms-identifiers:
          - name
        ingress:
          description: Java Component Ingress configurations.
          type: object
          properties:
            fqdn:
              description: Hostname of the Java Component endpoint
              type: string
              readOnly: true
      required:
      - componentType
      description: Java Component common properties.
      discriminator:
        propertyName: componentType
      x-ms-client-flatten: true
      x-ms-discriminator-value: SpringBootAdmin
    SpringCloudEurekaComponent:
      type: object
      properties:
        componentType:
          description: Type of the Java Component.
          enum:
          - SpringBootAdmin
          - SpringCloudEureka
          - SpringCloudConfig
          type: string
          x-ms-enum:
            name: JavaComponentType
            modelAsString: true
        provisioningState:
          description: Provisioning state of the Java Component.
          enum:
          - Succeeded
          - Failed
          - Canceled
          - Deleting
          - InProgress
          type: string
          readOnly: true
          x-ms-enum:
            name: JavaComponentProvisioningState
            modelAsString: true
        configurations:
          description: List of Java Components configuration properties
          type: array
          items:
            description: Configuration properties for a Java Component
            type: object
            properties:
              propertyName:
                description: The name of the property
                type: string
              value:
                description: The value of the property
                type: string
          x-ms-identifiers:
          - propertyName
        scale:
          description: Java component scaling configurations
          type: object
          properties:
            minReplicas:
              format: int32
              description: Optional. Minimum number of Java component replicas. Defaults
                to 1 if not set
              type: integer
            maxReplicas:
              format: int32
              description: Optional. Maximum number of Java component replicas
              type: integer
[...]
