openapi: 3.0.0
info:
  version: 2025-01-01
  title: ContainerApps API Client
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.App/jobs:
    get:
      tags:
      - Jobs
      summary: Get the Container Apps Jobs in a given subscription.
      operationId: Jobs_ListBySubscription
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Container Apps Jobs collection ARM resource.
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        identity:
                          description: Managed identities needed by a container app
                            job to interact with other Azure services to not maintain
                            any secrets or credentials in code.
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                          required:
                          - type
                        properties:
                          description: Container Apps Job resource specific properties.
                          type: object
                          properties:
                            provisioningState:
                              description: Provisioning state of the Container Apps
                                Job.
                              enum:
                              - InProgress
                              - Succeeded
                              - Failed
                              - Canceled
                              - Deleting
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: JobProvisioningState
                                modelAsString: true
                            environmentId:
                              description: Resource ID of environment.
                              type: string
                              x-ms-mutability:
                              - create
                              - read
                            workloadProfileName:
                              description: Workload profile name to pin for container
                                apps job execution.
                              type: string
                            configuration:
                              description: Container Apps Job configuration properties.
                              type: object
                              required:
                              - replicaTimeout
                              - triggerType
                              properties:
                                secrets:
                                  description: Collection of secrets used by a Container
                                    Apps Job
                                  type: array
                                  items:
                                    description: Secret definition.
                                    type: object
                                    properties:
                                      name:
                                        description: Secret Name.
                                        type: string
                                      value:
                                        description: Secret Value.
                                        type: string
                                        x-ms-mutability:
                                        - create
                                        - update
                                        x-ms-secret: true
                                      identity:
                                        description: Resource ID of a managed identity
                                          to authenticate with Azure Key Vault, or
                                          System to use a system-assigned identity.
                                        type: string
                                      keyVaultUrl:
                                        description: Azure Key Vault URL pointing
                                          to the secret referenced by the container
                                          app.
                                        type: string
                                  x-ms-identifiers:
                                  - name
                                triggerType:
                                  description: Trigger type of the job
                                  enum:
                                  - Schedule
                                  - Event
                                  - Manual
                                  type: string
                                  default: Manual
                                  x-ms-enum:
                                    name: TriggerType
                                    modelAsString: true
                                replicaTimeout:
                                  description: Maximum number of seconds a replica
                                    is allowed to run.
                                  format: int32
                                  type: integer
                                replicaRetryLimit:
                                  format: int32
                                  description: Maximum number of retries before failing
                                    the job.
                                  type: integer
                                manualTriggerConfig:
                                  type: object
                                  description: Manual trigger configuration for a
                                    single execution job. Properties replicaCompletionCount
                                    and parallelism would be set to 1 by default
                                  properties:
                                    replicaCompletionCount:
                                      description: Minimum number of successful replica
                                        completions before overall job completion.
                                      format: int32
                                      type: integer
                                    parallelism:
                                      description: Number of parallel replicas of
                                        a job that can run at a given time.
                                      format: int32
                                      type: integer
                                scheduleTriggerConfig:
                                  description: Cron formatted repeating trigger schedule
                                    ("* * * * *") for cronjobs. Properties completions
                                    and parallelism would be set to 1 by default
                                  required:
                                  - cronExpression
                                  type: object
                                  properties:
                                    replicaCompletionCount:
                                      description: Minimum number of successful replica
                                        completions before overall job completion.
                                      format: int32
                                      type: integer
                                    cronExpression:
                                      description: Cron formatted repeating schedule
                                        ("* * * * *") of a Cron Job.
                                      type: string
                                    parallelism:
                                      description: Number of parallel replicas of
                                        a job that can run at a given time.
                                      format: int32
                                      type: integer
                                eventTriggerConfig:
                                  type: object
                                  description: Trigger configuration of an event driven
                                    job.
                                  properties:
                                    replicaCompletionCount:
                                      description: Minimum number of successful replica
                                        completions before overall job completion.
                                      format: int32
                                      type: integer
                                    parallelism:
                                      description: Number of parallel replicas of
                                        a job that can run at a given time.
                                      format: int32
                                      type: integer
                                    scale:
                                      description: Scaling configurations for event
                                        driven jobs.
                                      type: object
                                      properties:
                                        pollingInterval:
                                          description: Interval to check each event
                                            source in seconds. Defaults to 30s
                                          format: int32
                                          type: integer
                                        minExecutions:
                                          format: int32
                                          description: Minimum number of job executions
                                            that are created for a trigger, default
                                            0
                                          type: integer
                                          default: 0
                                        maxExecutions:
                                          format: int32
                                          description: Maximum number of job executions
                                            that are created for a trigger, default
                                            100.
                                          type: integer
                                          default: 100
                                        rules:
                                          description: Scaling rules.
                                          type: array
                                          items:
                                            description: Scaling rule.
                                            type: object
                                            properties:
                                              name:
                                                description: Scale Rule Name
                                                type: string
                                              type:
                                                description: 'Type of the scale rule

                                                  eg: azure-servicebus, redis etc.'
                                                type: string
                                              metadata:
                                                description: Metadata properties to
                                                  describe the scale rule.
                                                type: object
                                              auth:
                                                description: Authentication secrets
                                                  for the scale rule.
                                                type: array
                                                items:
                                                  description: Auth Secrets for Scale
                                                    Rule
                                                  type: object
                                                  properties:
                                                    secretRef:
                                                      description: Name of the secret
                                                        from which to pull the auth
                                                        params.
                                                      type: string
                                                    triggerParameter:
                                                      description: Trigger Parameter
                                                        that uses the secret
                                                      type: string
                                              identity:
                                                description: The resource ID of a
                                                  user-assigned managed identity that
                                                  is assigned to the Container App,
                                                  or 'system' for system-assigned
                                                  identity.
                                                type: string
                                registries:
                                  description: Collection of private container registry
                                    credentials used by a Container apps job
                                  type: array
                                  items:
                                    description: Container App Private Registry
                                    type: object
                                    properties:
                                      server:
                                        description: Container Registry Server
                                        type: string
                                      username:
                                        description: Container Registry Username
                                        type: string
                                      passwordSecretRef:
                                        description: The name of the Secret that contains
                                          the registry login password
                                        type: string
                                      identity:
                                        description: A Managed Identity to use to
                                          authenticate with Azure Container Registry.
                                          For user-assigned identities, use the full
                                          user-assigned identity Resource ID. For
                                          system-assigned identities, use 'system'
                                        type: string
                                  x-ms-identifiers:
                                  - server
                                identitySettings:
                                  description: Optional settings for Managed Identities
                                    that are assigned to the Container App Job. If
                                    a Managed Identity is not specified here, default
                                    settings will be used.
                                  type: array
                                  items:
                                    description: Optional settings for a Managed Identity
                                      that is assigned to the Container App.
                                    type: object
                                    required:
                                    - identity
                                    properties:
                                      identity:
                                        description: The resource ID of a user-assigned
                                          managed identity that is assigned to the
                                          Container App, or 'system' for system-assigned
                                          identity.
                                        type: string
                                      lifecycle:
                                        description: Use to select the lifecycle stages
                                          of a Container App during which the Managed
                                          Identity should be available.
                                        enum:
                                        - Init
                                        - Main
                                        - None
                                        - All
                                        type: string
                                        default: All
                                        x-ms-enum:
                                          name: IdentitySettingsLifeCycle
                                          modelAsString: true
                                  x-ms-identifiers:
                                  - identity
                            template:
                              description: Container Apps job definition.
                              type: object
                              properties:
                                initContainers:
                                  description: List of specialized containers that
                                    run before app containers.
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      image:
                                        description: Container image tag.
                                        type: string
                                      name:
                                        description: Custom container name.
                                        type: string
                                      command:
                                        description: Container start command.
                                        type: array
                                        items:
                                          type: string
                                      args:
                                        description: Container start command arguments.
                                        type: array
                                        items:
                                          type: string
                                      env:
                                        description: Container environment variables.
                                        type: array
                                        items:
                                          description: Container App container environment
                                            variable.
                                          type: object
                                          properties:
                                            name:
                                              description: Environment variable name.
                                              type: string
                                            value:
                                              description: Non-secret environment
                                                variable value.
                                              type: string
                                            secretRef:
                                              description: Name of the Container App
                                                secret from which to pull the environment
                                                variable value.
                                              type: string
                                        x-ms-identifiers:
                                        - name
                                      resources:
                                        description: Container resource requirements.
                                        type: object
                                        properties:
                                          cpu:
                                            format: double
                                            description: Required CPU in cores, e.g.
                                              0.5
                                            type: number
                                          memory:
                                            description: Required memory, e.g. "250Mb"
                                            type: string
                                          ephemeralStorage:
                                            description: Ephemeral Storage, e.g. "1Gi"
                                            type: string
                                            readOnly: true
                                      volumeMounts:
                                        description: Container volume mounts.
                                        type: array
                                        items:
                                          description: Volume mount for the Container
                                            App.
                                          type: object
                                          properties:
                                            volumeName:
                                              description: This must match the Name
                                                of a Volume.
                                              type: string
                                            mountPath:
                                              description: Path within the container
                                                at which the volume should be mounted.Must
                                                not contain ':'.
                                              type: string
                                            subPath:
                                              description: Path within the volume
                                                from which the container's volume
                                                should be mounted. Defaults to ""
                                                (volume's root).
                                              type: string
                                        x-ms-identifiers:
                                        - volumeName
                                    description: Container App base container definition.
                                  x-ms-identifiers:
                                  - name
                                containers:
                                  description: List of container definitions for the
                                    Container App.
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      image:
                                        description: Container image tag.
                                        type: string
                                      name:
                                        description: Custom container name.
                                        type: string
                                      command:
                                        description: Container start command.
                                        type: array
                                        items:
                                          type: string
                                      args:
                                        description: Container start command arguments.
                                        type: array
                                        items:
                                          type: string
                                      env:
                                        description: Container environment variables.
                                        type: array
                                        items:
                                          description: Container App container environment
                                            variable.
                                          type: object
                                          properties:
                                            name:
                                              description: Environment variable name.
                                              type: string
                                            value:
                                              description: Non-secret environment
                                                variable value.
                                              type: string
                                            secretRef:
                                              description: Name of the Container App
                                                secret from which to pull the environment
                                                variable value.
                                              type: string
                                        x-ms-identifiers:
                                        - name
                                      resources:
                                        description: Container resource requirements.
                                        type: object
                                        properties:
                                          cpu:
                                            format: double
                                            description: Required CPU in cores, e.g.
                                              0.5
                                            type: number
                                          memory:
                                            description: Required memory, e.g. "250Mb"
                                            type: string
                                          ephemeralStorage:
                                            description: Ephemeral Storage, e.g. "1Gi"
                                            type: string
                                            readOnly: true
                                      volumeMounts:
                                        description: Container volume mounts.
                                        type: array
                                        items:
                                          description: Volume mount for the Container
                                            App.
                                          type: object
                                          properties:
                                            volumeName:
                                              description: This must match the Name
                                                of a Volume.
                                              type: string
                                            mountPath:
                                              description: Path within the container
                                                at which the volume should be mounted.Must
                                                not contain ':'.
                                              type: string
                                            subPath:
                                              description: Path within the volume
                                                from which the container's volume
                                                should be mounted. Defaults to ""
                                                (volume's root).
                                              type: string
                                        x-ms-identifiers:
                                        - volumeName
                                      probes:
                                        description: List of probes for the container.
                                        type: array
                                        items:
                                          description: Probe describes a health check
                                            to be performed against a container to
                                            determine whether it is alive or ready
                                            to receive traffic.
                                          type: object
                                          properties:
                                            failureThreshold:
                                              description: Minimum consecutive failures
                                                for the probe to be considered failed
                                                after having succeeded. Defaults to
                                                3. Minimum value is 1. Maximum value
                                                is 10.
                                              type: integer
                                              format: int32
                                            httpGet:
                                              description: HTTPGet specifies the http
                                                request to perform.
                                              type: object
                                              required:
                                              - port
                                              properties:
                                                host:
                                                  description: Host name to connect
                                                    to, defaults to the pod IP. You
                                                    probably want to set "Host" in
                                                    httpHeaders instead.
                                                  type: string
                                                httpHeaders:
                                                  description: Custom headers to set
                                                    in the request. HTTP allows repeated
                                                    headers.
                                                  type: array
                                                  items:
                                                    description: HTTPHeader describes
                                                      a custom header to be used in
                                                      HTTP probes
                                                    type: object
                                                    required:
                                                    - name
                                                    - value
                                                    properties:
                                                      name:
                                                        description: The header field
                                                          name
                                                        type: string
                                                      value:
                                                        description: The header field
                                                          value
                                                        type: string
                                                  x-ms-identifiers:
                                                  - name
                                                path:
                                                  description: Path to access on the
                                                    HTTP server.
                                                  type: string
                                                port:
                                                  description: Name or number of the
                                                    port to access on the container.
                                                    Number must be in the range 1
                                                    to 65535. Name must be an IANA_SVC_NAME.
                                                  type: integer
                                                  format: int32
                                                scheme:
                                                  description: Scheme to use for connecting
                                                    to the host. Defaults to HTTP.
                                                  enum:
                                                  - HTTP
                                                  - HTTPS
                                                  type: string
                                                  x-ms-enum:
                                                    name: Scheme
                                                    modelAsString: true
                                            initialDelaySeconds:
                                              description: Number of seconds after
                                                the container has started before liveness
                                                probes are initiated. Minimum value
                                                is 1. Maximum value is 60.
                                              type: integer
                                              format: int32
                                            periodSeconds:
                                              description: How often (in seconds)
                                                to perform the probe. Default to 10
                                                seconds. Minimum value is 1. Maximum
                                                value is 240.
                                              type: integer
                                              format: int32
                                            successThreshold:
                                              description: Minimum consecutive successes
                                                for the probe to be considered successful
                                                after having failed. Defaults to 1.
                                                Must be 1 for liveness and startup.
                                                Minimum value is 1. Maximum value
                                                is 10.
                                              type: integer
                                              format: int32
                                            tcpSocket:
                                              description: TCPSocket specifies an
                                                action involving a TCP port. TCP hooks
                                                not yet supported.
                                              type: object
                                              required:
                                              - port
                                              properties:
                                                host:
                                                  description: 'Optional: Host name
                                                    to connect to, defaults to the
                                                    pod IP.'
                                                  type: string
                                                port:
                                                  description: Number or name of the
                                                    port to access on the container.
                                                    Number must be in the range 1
                                                    to 65535. Name must be an IANA_SVC_NAME.
                                                  type: integer
                                                  format: int32
                                            terminationGracePeriodSeconds:
                                              description: Optional duration in seconds
                                                the pod needs to terminate gracefully
                                                upon probe failure. The grace period
                                                is the duration in seconds after the
                                                processes running in the pod are sent
                                                a termination signal and the time
                                                when the processes are forcibly halted
                                                with a kill signal. Set this value
                                                longer than the expected cleanup time
                                                for your process. If this value is
                                                nil, the pod's terminationGracePeriodSeconds
                                                will be used. Otherwise, this value
                                                overrides the value provided by the
                                                pod spec. Value must be non-negative
                                                integer. The value zero indicates
                                                stop immediately via the kill signal
                                                (no opportunity to shut down). This
                                                is an alpha field and requires enabling
                                                ProbeTerminationGracePeriod feature
                                                gate. Maximum value is 3600 seconds
                                                (1 hour)
                                              type: integer
                                              format: int64
                                            timeoutSeconds:
                                              description: Number of seconds after
                                                which the probe times out. Defaults
                                                to 1 second. Minimum value is 1. Maximum
                                                value is 240.
                                              type: integer
                                              format: int32
                                            type:
                                              description: The type of probe.
                                              enum:
                                              - Liveness
                                              - Readiness
                                              - Startup
                                              type: string
                                              x-ms-enum:
                                                name: Type
                                                modelAsString: true
                                        x-ms-identifiers:
                                        - type
                                    description: Container App base container definition.
                                  x-ms-identifiers:
                                  - name
                                volumes:
                                  description: List of volume definitions for the
                                    Container App.
                                  type: array
                                  items:
                                    description: Volume definitions for the Container
                                      App.
                                    type: object
                                    properties:
                                      name:
                                        description: Volume name.
                                        type: string
                                      storageType:
                                        description: Storage type for the volume.
                                          If not provided, use EmptyDir.
                                        enum:
                                        - AzureFile
                                        - EmptyDir
                                        - Secret
                                        - NfsAzureFile
                                        type: string
                                        x-ms-enum:
                                          name: StorageType
                                          modelAsString: true
                                      storageName:
                                        description: Name of storage resource. No
                                          need to provide for EmptyDir and Secret.
                                        type: string
                                      secrets:
                                        description: List of secrets to be added in
                                          volume. If no secrets are provided, all
                                          secrets in collection will be added to volume.
                                        type: array
                                        items:
                                          description: Secret to be added to volume.
                                          type: object
                                          properties:
                                            secretRef:
                                              description: Name of the Container App
                                                secret from which to pull the secret
                                                value.
                                              type: string
                                            path:
                                              description: Path to project secret
                                                to. If no path is provided, path defaults
                                                to name of secret listed in secretRef.
                                              type: string
                                        x-ms-identifiers:
                                        - secretRef
                                      mountOptions:
                                        description: Mount options used while mounting
                                          the Azure file share or NFS Azure file share.
                                          Must be a comma-separated string.
                                        type: string
                                  x-ms-identifiers:
                                  - name
                            outboundIpAddresses:
                              description: Outbound IP Addresses of a container apps
                                job.
                              type: array
                              items:
                                type: string
                              readOnly: true
                            eventStreamEndpoint:
                              description: The endpoint of the eventstream of the
                                container apps job.
                              type: string
                              readOnly: true
                          x-ms-client-flatten: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: Error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        description: Details or the error
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers:
                        - code
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/jobs:
    get:
      tags:
      - Jobs
      summary: Get the Container Apps Jobs in a given resource group.
      operationId: Jobs_ListByResourceGroup
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Container Apps Jobs collection ARM resource.
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        identity:
                          description: Managed identities needed by a container app
                            job to interact with other Azure services to not maintain
                            any secrets or credentials in code.
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                          required:
                          - type
                        properties:
                          description: Container Apps Job resource specific properties.
                          type: object
                          properties:
                            provisioningState:
                              description: Provisioning state of the Container Apps
                                Job.
                              enum:
                              - InProgress
                              - Succeeded
                              - Failed
                              - Canceled
                              - Deleting
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: JobProvisioningState
                                modelAsString: true
                            environmentId:
                              description: Resource ID of environment.
                              type: string
                              x-ms-mutability:
                              - create
                              - read
                            workloadProfileName:
                              description: Workload profile name to pin for container
                                apps job execution.
                              type: string
                            configuration:
                              description: Container Apps Job configuration properties.
                              type: object
                              required:
                              - replicaTimeout
                              - triggerType
                              properties:
                                secrets:
                                  description: Collection of secrets used by a Container
                                    Apps Job
                                  type: array
                                  items:
                                    description: Secret definition.
                                    type: object
                                    properties:
                                      name:
                                        description: Secret Name.
                                        type: string
                                      value:
                                        description: Secret Value.
                                        type: string
                                        x-ms-mutability:
                                        - create
                                        - update
                                        x-ms-secret: true
                                      identity:
                                        description: Resource ID of a managed identity
                                          to authenticate with Azure Key Vault, or
                                          System to use a system-assigned identity.
                                        type: string
                                      keyVaultUrl:
                                        description: Azure Key Vault URL pointing
                                          to the secret referenced by the container
                                          app.
                                        type: string
                                  x-ms-identifiers:
                                  - name
                                triggerType:
                                  description: Trigger type of the job
                                  enum:
                                  - Schedule
                                  - Event
                                  - Manual
                                  type: string
                                  default: Manual
                                  x-ms-enum:
                                    name: TriggerType
                                    modelAsString: true
                                replicaTimeout:
                                  description: Maximum number of seconds a replica
                                    is allowed to run.
                                  format: int32
                                  type: integer
                                replicaRetryLimit:
                                  format: int32
                                  description: Maximum number of retries before failing
                                    the job.
                                  type: integer
                                manualTriggerConfig:
                                  type: object
                                  description: Manual trigger configuration for a
                                    single execution job. Properties replicaCompletionCount
                                    and parallelism would be set to 1 by default
                                  properties:
                                    replicaCompletionCount:
                                      description: Minimum number of successful replica
                                        completions before overall job completion.
                                      format: int32
                                      type: integer
                                    parallelism:
                                      description: Number of parallel replicas of
                                        a job that can run at a given time.
                                      format: int32
                                      type: integer
                                scheduleTriggerConfig:
                                  description: Cron formatted repeating trigger schedule
                                    ("* * * * *") for cronjobs. Properties completions
                                    and parallelism would be set to 1 by default
                                  required:
                                  - cronExpression
                                  type: object
                                  properties:
                                    replicaCompletionCount:
                                      description: Minimum number of successful replica
                                        completions before overall job completion.
                                      format: int32
                                      type: integer
                                    cronExpression:
                                      description: Cron formatted repeating schedule
                                        ("* * * * *") of a Cron Job.
                                      type: string
                                    parallelism:
                                      description: Number of parallel replicas of
                                        a job that can run at a given time.
                                      format: int32
                                      type: integer
                                eventTriggerConfig:
                                  type: object
                                  description: Trigger configuration of an event driven
                                    job.
                                  properties:
                                    replicaCompletionCount:
                                      description: Minimum number of successful replica
                                        completions before overall job completion.
                                      format: int32
                                      type: integer
                                    parallelism:
                                      description: Number of parallel replicas of
                                        a job that can run at a given time.
                                      format: int32
                                      type: integer
                                    scale:
                                      description: Scaling configurations for event
                                        driven jobs.
                                      type: object
                                      properties:
                                        pollingInterval:
                                          description: Interval to check each event
                                            source in seconds. Defaults to 30s
                                          format: int32
                                          type: integer
                                        minExecutions:
                                          format: int32
                                          description: Minimum number of job executions
                                            that are created for a trigger, default
                                            0
                                          type: integer
                                          default: 0
                                        maxExecutions:
                                          format: int32
                                          description: Maximum number of job executions
                                            that are created for a trigger, default
                                            100.
                                          type: integer
                                          default: 100
                                        rules:
                                          description: Scaling rules.
                                          type: array
                                          items:
                                            description: Scaling rule.
                                            type: object
                                            properties:
                                              name:
                                                description: Scale Rule Name
                                                type: string
                                              type:
                                                description: 'Type of the scale rule

                                                  eg: azure-servicebus, redis etc.'
                                                type: string
                                              metadata:
                                                description: Metadata properties to
                                                  describe the scale rule.
                                                type: object
                                              auth:
                                                description: Authentication secrets
                                                  for the scale rule.
                                                type: array
                                                items:
                                                  description: Auth Secrets for Scale
                                                    Rule
                                                  type: object
                                                  properties:
                                                    secretRef:
                                                      description: Name of the secret
                                                        from which to pull the auth
                                                        params.
                                                      type: string
                                                    triggerParameter:
                                                      description: Trigger Parameter
                                                        that uses the secret
                                                      type: string
                                              identity:
                                                description: The resource ID of a
                                                  user-assigned managed identity that
                                                  is assigned to the Container App,
                                                  or 'system' for system-assigned
                                                  identity.
                                                type: string
                                registries:
                                  description: Collection of private container registry
                                    credentials used by a Container apps job
                                  type: array
                                  items:
                                    description: Container App Private Registry
                                    type: object
                                    properties:
                                      server:
                                        description: Container Registry Server
                                        type: string
                                      username:
                                        description: Container Registry Username
                                        type: string
                                      passwordSecretRef:
                                        description: The name of the Secret that contains
                                          the registry login password
                                        type: string
                                      identity:
                                        description: A Managed Identity to use to
                                          authenticate with Azure Container Registry.
                                          For user-assigned identities, use the full
                                          user-assigned identity Resource ID. For
                                          system-assigned identities, use 'system'
                                        type: string
                                  x-ms-identifiers:
                                  - server
                                identitySettings:
                                  description: Optional settings for Managed Identities
                                    that are assigned to the Container App Job. If
                                    a Managed Identity is not specified here, default
                                    settings will be used.
                                  type: array
                                  items:
                                    description: Optional settings for a Managed Identity
                                      that is assigned to the Container App.
                                    type: object
                                    required:
                                    - identity
                                    properties:
                                      identity:
                                        description: The resource ID of a user-assigned
                                          managed identity that is assigned to the
                                          Container App, or 'system' for system-assigned
                                          identity.
                                        type: string
                                      lifecycle:
                                        description: Use to select the lifecycle stages
                                          of a Container App during which the Managed
                                          Identity should be available.
                                        enum:
                                        - Init
                                        - Main
                                        - None
                                        - All
                                        type: string
                                        default: All
                                        x-ms-enum:
                                          name: IdentitySettingsLifeCycle
                                          modelAsString: true
                                  x-ms-identifiers:
                                  - identity
                            template:
                              description: Container Apps job definition.
                              type: object
                              properties:
                                initContainers:
                                  description: List of specialized containers that
                                    run before app containers.
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      image:
                                        description: Container image tag.
                                        type: string
                                      name:
                                        description: Custom container name.
                                        type: string
                                      command:
                                        description: Container start command.
                                        type: array
                                        items:
                                          type: string
                                      args:
                                        description: Container start command arguments.
                                        type: array
                                        items:
                                          type: string
                                      env:
                                        description: Container environment variables.
                                        type: array
                                        items:
                                          description: Container App container environment
                                            variable.
                                          type: object
                                          properties:
                                            name:
                                              description: Environment variable name.
                                              type: string
                                            value:
                                              description: Non-secret environment
                                                variable value.
                                              type: string
                                            secretRef:
                                              description: Name of the Container App
                                                secret from which to pull the environment
                                                variable value.
                                              type: string
                                        x-ms-identifiers:
                                        - name
                                      resources:
                                        description: Container resource requirements.
                                        type: object
                                        properties:
                                          cpu:
                                            format: double
                                            description: Required CPU in cores, e.g.
                                              0.5
                                            type: number
                                          memory:
                                            description: Required memory, e.g. "250Mb"
                                            type: string
                                          ephemeralStorage:
                                            description: Ephemeral Storage, e.g. "1Gi"
                                            type: string
                                            readOnly: true
                                      volumeMounts:
                                        description: Container volume mounts.
                                        type: array
                                        items:
                                          description: Volume mount for the Container
                                            App.
                                          type: object
                                          properties:
                                            volumeName:
                                              description: This must match the Name
                                                of a Volume.
                                              type: string
                                            mountPath:
                                              description: Path within the container
                                                at which the volume should be mounted.Must
                                                not contain ':'.
                                              type: string
                                            subPath:
                                              description: Path within the volume
                                                from which the container's volume
                                                should be mounted. Defaults to ""
                                                (volume's root).
                                              type: string
                                        x-ms-identifiers:
                                        - volumeName
                                    description: Container App base container definition.
                                  x-ms-identifiers:
                                  - name
                                containers:
                                  description: List of container definitions for the
                                    Container App.
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      image:
                                        description: Container image tag.
                                        type: string
                                      name:
                                        description: Custom container name.
                                        type: string
                                      command:
                                        description: Container start command.
                                        type: array
                                        items:
                                          type: string
                                      args:
                                        description: Container start command arguments.
                                        type: array
                                        items:
                                          type: string
                                      env:
                                        description: Container environment variables.
                                        type: array
                                        items:
                                          description: Container App container environment
                                            variable.
                                          type: object
                                          properties:
                                            name:
                                              description: Environment variable name.
                                              type: string
                                            value:
                                              description: Non-secret environment
                                                variable value.
                                              type: string
                                            secretRef:
                                              description: Name of the Container App
                                                secret from which to pull the environment
                                                variable value.
                                              type: string
                                        x-ms-identifiers:
                                        - name
                                      resources:
                                        description: Container resource requirements.
                                        type: object
                                        properties:
                                          cpu:
                                            format: double
                                            description: Required CPU in cores, e.g.
                                              0.5
                                            type: number
                                          memory:
                                            description: Required memory, e.g. "250Mb"
                                            type: string
                                          ephemeralStorage:
                                            description: Ephemeral Storage, e.g. "1Gi"
                                            type: string
                                            readOnly: true
                                      volumeMounts:
                                        description: Container volume mounts.
                                        type: array
                                        items:
                                          description: Volume mount for the Container
                                            App.
                                          type: object
                                          properties:
                                            volumeName:
                                              description: This must match the Name
                                                of a Volume.
                                              type: string
                                            mountPath:
                                              description: Path within the container
                                                at which the volume should be mounted.Must
                                                not contain ':'.
                                              type: string
                                            subPath:
                                              description: Path within the volume
                                                from which the container's volume
                                                should be mounted. Defaults to ""
                                                (volume's root).
                                              type: string
                                        x-ms-identifiers:
                                        - volumeName
                                      probes:
                                        description: List of probes for the container.
                                        type: array
                                        items:
                                          description: Probe describes a health check
                                            to be performed against a container to
                                            determine whether it is alive or ready
                                            to receive traffic.
                                          type: object
                                          properties:
                                            failureThreshold:
                                              description: Minimum consecutive failures
                                                for the probe to be considered failed
                                                after having succeeded. Defaults to
                                                3. Minimum value is 1. Maximum value
                                                is 10.
                                              type: integer
                                              format: int32
                                            httpGet:
                                              description: HTTPGet specifies the http
                                                request to perform.
                                              type: object
                                              required:
                                              - port
                                              properties:
                                                host:
                                                  description: Host name to connect
                                                    to, defaults to the pod IP. You
                                                    probably want to set "Host" in
                                                    httpHeaders instead.
                                                  type: string
                                                httpHeaders:
                                                  description: Custom headers to set
                                                    in the request. HTTP allows repeated
                                                    headers.
                                                  type: array
                                                  items:
                                                    description: HTTPHeader describes
                                                      a custom header to be used in
                                                      HTTP probes
                                                    type: object
                                                    required:
                                                    - name
                                                    - value
                                                    properties:
                                                      name:
                                                        description: The header field
                                                          name
                                                        type: string
                                                      value:
                                                        description: The header field
                                                          value
                                                        type: string
                                                  x-ms-identifiers:
                                                  - name
                                                path:
                                                  description: Path to access on the
                                                    HTTP server.
                                                  type: string
                                                port:
                                                  description: Name or number of the
                                                    port to access on the container.
                                                    Number must be in the range 1
                                                    to 65535. Name must be an IANA_SVC_NAME.
                                                  type: integer
                                                  format: int32
                                                scheme:
                                                  description: Scheme to use for connecting
                                                    to the host. Defaults to HTTP.
                                                  enum:
                                                  - HTTP
                                                  - HTTPS
                                                  type: string
                                                  x-ms-enum:
                                                    name: Scheme
                                                    modelAsString: true
                                            initialDelaySeconds:
                                              description: Number of seconds after
                                                the container has started before liveness
                                                probes are initiated. Minimum value
                                                is 1. Maximum value is 60.
                                              type: integer
                                              format: int32
                                            periodSeconds:
                                              description: How often (in seconds)
                                                to perform the probe. Default to 10
                                                seconds. Minimum value is 1. Maximum
                                                value is 240.
                                              type: integer
                                              format: int32
                                            successThreshold:
                                              description: Minimum consecutive successes
                                                for the probe to be considered successful
                                                after having failed. Defaults to 1.
                                                Must be 1 for liveness and startup.
                                                Minimum value is 1. Maximum value
                                                is 10.
                                              type: integer
                                              format: int32
                                            tcpSocket:
                                              description: TCPSocket specifies an
                                                action involving a TCP port. TCP hooks
                                                not yet supported.
                                              type: object
                                              required:
                                              - port
                                              properties:
                                                host:
                                                  description: 'Optional: Host name
                                                    to connect to, defaults to the
                                                    pod IP.'
                                                  type: string
                                                port:
                                                  description: Number or name of the
                                                    port to access on the container.
                                                    Number must be in the range 1
                                                    to 65535. Name must be an IANA_SVC_NAME.
                                                  type: integer
                                                  format: int32
                                            terminationGracePeriodSeconds:
                                              description: Optional duration in seconds
                                                the pod needs to terminate gracefully
                                                upon probe failure. The grace period
                                                is the duration in seconds after the
                                                processes running in the pod are sent
                                                a termination signal and the time
                                                when the processes are forcibly halted
                                                with a kill signal. Set this value
                                                longer than the expected cleanup time
                                                for your process. If this value is
                                                nil, the pod's terminationGracePeriodSeconds
                                                will be used. Otherwise, this value
                                                overrides the value provided by the
                                                pod spec. Value must be non-negative
                                                integer. The value zero indicates
                                                stop immediately via the kill signal
                                                (no opportunity to shut down). This
                                                is an alpha field and requires enabling
                                                ProbeTerminationGracePeriod feature
                                                gate. Maximum value is 3600 seconds
                                                (1 hour)
                                              type: integer
                                              format: int64
[...]
