openapi: 3.0.0
info:
  version: 2025-01-01
  title: ContainerApps API Client
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.App/managedEnvironments:
    get:
      tags:
      - ManagedEnvironments
      summary: Get all Environments for a subscription.
      description: Get all Managed Environments for a subscription.
      operationId: ManagedEnvironments_ListBySubscription
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of Environments
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        kind:
                          type: string
                          description: Kind of the Environment.
                        identity:
                          description: Managed identities for the Managed Environment
                            to interact with other Azure services without maintaining
                            any secrets or credentials in code.
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                          required:
                          - type
                        properties:
                          description: Managed environment resource specific properties
                          type: object
                          properties:
                            provisioningState:
                              description: Provisioning state of the Environment.
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Waiting
                              - InitializationInProgress
                              - InfrastructureSetupInProgress
                              - InfrastructureSetupComplete
                              - ScheduledForDelete
                              - UpgradeRequested
                              - UpgradeFailed
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: EnvironmentProvisioningState
                                modelAsString: true
                            daprAIInstrumentationKey:
                              type: string
                              description: Azure Monitor instrumentation key used
                                by Dapr to export Service to Service communication
                                telemetry
                              x-ms-secret: true
                            daprAIConnectionString:
                              type: string
                              description: Application Insights connection string
                                used by Dapr to export Service to Service communication
                                telemetry
                              x-ms-secret: true
                            vnetConfiguration:
                              description: Vnet configuration for the environment
                              type: object
                              properties:
                                internal:
                                  type: boolean
                                  description: Boolean indicating the environment
                                    only has an internal load balancer. These environments
                                    do not have a public static IP resource. They
                                    must provide infrastructureSubnetId if enabling
                                    this property
                                  x-ms-mutability:
                                  - create
                                  - read
                                infrastructureSubnetId:
                                  type: string
                                  description: Resource ID of a subnet for infrastructure
                                    components. Must not overlap with any other provided
                                    IP ranges.
                                  x-ms-mutability:
                                  - create
                                  - read
                                dockerBridgeCidr:
                                  type: string
                                  description: CIDR notation IP range assigned to
                                    the Docker bridge, network. Must not overlap with
                                    any other provided IP ranges.
                                  x-ms-mutability:
                                  - create
                                  - read
                                platformReservedCidr:
                                  type: string
                                  description: IP range in CIDR notation that can
                                    be reserved for environment infrastructure IP
                                    addresses. Must not overlap with any other provided
                                    IP ranges.
                                  x-ms-mutability:
                                  - create
                                  - read
                                platformReservedDnsIP:
                                  type: string
                                  description: ' An IP address from the IP range defined
                                    by platformReservedCidr that will be reserved
                                    for the internal DNS server.'
                                  x-ms-mutability:
                                  - create
                                  - read
                            deploymentErrors:
                              description: Any errors that occurred during deployment
                                or deployment validation
                              type: string
                              readOnly: true
                            defaultDomain:
                              description: Default Domain Name for the cluster
                              type: string
                              readOnly: true
                            staticIp:
                              description: Static IP of the Environment
                              type: string
                              readOnly: true
                            appLogsConfiguration:
                              description: Cluster configuration which enables the
                                log daemon to export app logs to configured destination.
                              type: object
                              properties:
                                destination:
                                  description: Logs destination, can be 'log-analytics',
                                    'azure-monitor' or 'none'
                                  type: string
                                logAnalyticsConfiguration:
                                  description: Log Analytics configuration, must only
                                    be provided when destination is configured as
                                    'log-analytics'
                                  type: object
                                  properties:
                                    customerId:
                                      description: Log analytics customer id
                                      type: string
                                    sharedKey:
                                      description: Log analytics customer key
                                      type: string
                                      x-ms-mutability:
                                      - create
                                      - update
                                      x-ms-secret: true
                            zoneRedundant:
                              description: Whether or not this Managed Environment
                                is zone-redundant.
                              type: boolean
                              x-ms-mutability:
                              - create
                              - read
                            customDomainConfiguration:
                              description: Custom domain configuration for the environment
                              type: object
                              properties:
                                customDomainVerificationId:
                                  description: Id used to verify domain name ownership
                                  type: string
                                  readOnly: true
                                dnsSuffix:
                                  type: string
                                  description: Dns suffix for the environment domain
                                  x-ms-mutability:
                                  - create
                                  - read
                                certificateKeyVaultProperties:
                                  description: Certificate stored in Azure Key Vault.
                                  type: object
                                  properties:
                                    identity:
                                      description: Resource ID of a managed identity
                                        to authenticate with Azure Key Vault, or System
                                        to use a system-assigned identity.
                                      type: string
                                    keyVaultUrl:
                                      description: URL pointing to the Azure Key Vault
                                        secret that holds the certificate.
                                      type: string
                                      format: uri
                                certificateValue:
                                  format: byte
                                  description: PFX or PEM blob
                                  type: string
                                  x-ms-secret: true
                                certificatePassword:
                                  description: Certificate password
                                  type: string
                                  x-ms-secret: true
                                expirationDate:
                                  format: date-time
                                  description: Certificate expiration date.
                                  type: string
                                  readOnly: true
                                thumbprint:
                                  description: Certificate thumbprint.
                                  type: string
                                  readOnly: true
                                subjectName:
                                  description: Subject name of the certificate.
                                  type: string
                                  readOnly: true
                            eventStreamEndpoint:
                              description: The endpoint of the eventstream of the
                                Environment.
                              type: string
                              readOnly: true
                            workloadProfiles:
                              description: Workload profiles configured for the Managed
                                Environment.
                              type: array
                              items:
                                description: Workload profile to scope container app
                                  execution.
                                type: object
                                properties:
                                  name:
                                    description: Workload profile type for the workloads
                                      to run on.
                                    type: string
                                  workloadProfileType:
                                    description: Workload profile type for the workloads
                                      to run on.
                                    type: string
                                  minimumCount:
                                    type: integer
                                    format: int32
                                    description: The minimum capacity.
                                  maximumCount:
                                    type: integer
                                    format: int32
                                    description: The maximum capacity.
                                required:
                                - name
                                - workloadProfileType
                              x-ms-identifiers:
                              - name
                            kedaConfiguration:
                              description: The configuration of Keda component.
                              type: object
                              properties:
                                version:
                                  type: string
                                  readOnly: true
                                  description: The version of Keda
                            daprConfiguration:
                              description: The configuration of Dapr component.
                              type: object
                              properties:
                                version:
                                  type: string
                                  readOnly: true
                                  description: The version of Dapr
                            infrastructureResourceGroup:
                              description: Name of the platform-managed resource group
                                created for the Managed Environment to host infrastructure
                                resources. If a subnet ID is provided, this resource
                                group will be created in the same subscription as
                                the subnet.
                              type: string
                              x-ms-mutability:
                              - create
                              - read
                            peerAuthentication:
                              description: Peer authentication settings for the Managed
                                Environment
                              type: object
                              properties:
                                mtls:
                                  description: Mutual TLS authentication settings
                                    for the Managed Environment
                                  type: object
                                  properties:
                                    enabled:
                                      type: boolean
                                      description: Boolean indicating whether the
                                        mutual TLS authentication is enabled
                            peerTrafficConfiguration:
                              description: Peer traffic settings for the Managed Environment
                              type: object
                              properties:
                                encryption:
                                  description: Peer traffic encryption settings for
                                    the Managed Environment
                                  type: object
                                  properties:
                                    enabled:
                                      type: boolean
                                      description: Boolean indicating whether the
                                        peer traffic encryption is enabled
                          x-ms-client-flatten: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: Common error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        description: Details or the error
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers:
                        - code
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments:
    get:
      tags:
      - ManagedEnvironments
      summary: Get all the Environments in a resource group.
      description: Get all the Managed Environments in a resource group.
      operationId: ManagedEnvironments_ListByResourceGroup
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of Environments
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        kind:
                          type: string
                          description: Kind of the Environment.
                        identity:
                          description: Managed identities for the Managed Environment
                            to interact with other Azure services without maintaining
                            any secrets or credentials in code.
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                          required:
                          - type
                        properties:
                          description: Managed environment resource specific properties
                          type: object
                          properties:
                            provisioningState:
                              description: Provisioning state of the Environment.
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Waiting
                              - InitializationInProgress
                              - InfrastructureSetupInProgress
                              - InfrastructureSetupComplete
                              - ScheduledForDelete
                              - UpgradeRequested
                              - UpgradeFailed
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: EnvironmentProvisioningState
                                modelAsString: true
                            daprAIInstrumentationKey:
                              type: string
                              description: Azure Monitor instrumentation key used
                                by Dapr to export Service to Service communication
                                telemetry
                              x-ms-secret: true
                            daprAIConnectionString:
                              type: string
                              description: Application Insights connection string
                                used by Dapr to export Service to Service communication
                                telemetry
                              x-ms-secret: true
                            vnetConfiguration:
                              description: Vnet configuration for the environment
                              type: object
                              properties:
                                internal:
                                  type: boolean
                                  description: Boolean indicating the environment
                                    only has an internal load balancer. These environments
                                    do not have a public static IP resource. They
                                    must provide infrastructureSubnetId if enabling
                                    this property
                                  x-ms-mutability:
                                  - create
                                  - read
                                infrastructureSubnetId:
                                  type: string
                                  description: Resource ID of a subnet for infrastructure
                                    components. Must not overlap with any other provided
                                    IP ranges.
                                  x-ms-mutability:
                                  - create
                                  - read
                                dockerBridgeCidr:
                                  type: string
                                  description: CIDR notation IP range assigned to
                                    the Docker bridge, network. Must not overlap with
                                    any other provided IP ranges.
                                  x-ms-mutability:
                                  - create
                                  - read
                                platformReservedCidr:
                                  type: string
                                  description: IP range in CIDR notation that can
                                    be reserved for environment infrastructure IP
                                    addresses. Must not overlap with any other provided
                                    IP ranges.
                                  x-ms-mutability:
                                  - create
                                  - read
                                platformReservedDnsIP:
                                  type: string
                                  description: ' An IP address from the IP range defined
                                    by platformReservedCidr that will be reserved
                                    for the internal DNS server.'
                                  x-ms-mutability:
                                  - create
                                  - read
                            deploymentErrors:
                              description: Any errors that occurred during deployment
                                or deployment validation
                              type: string
                              readOnly: true
                            defaultDomain:
                              description: Default Domain Name for the cluster
                              type: string
                              readOnly: true
                            staticIp:
                              description: Static IP of the Environment
                              type: string
                              readOnly: true
                            appLogsConfiguration:
                              description: Cluster configuration which enables the
                                log daemon to export app logs to configured destination.
                              type: object
                              properties:
                                destination:
                                  description: Logs destination, can be 'log-analytics',
                                    'azure-monitor' or 'none'
                                  type: string
                                logAnalyticsConfiguration:
                                  description: Log Analytics configuration, must only
                                    be provided when destination is configured as
                                    'log-analytics'
                                  type: object
                                  properties:
                                    customerId:
                                      description: Log analytics customer id
                                      type: string
                                    sharedKey:
                                      description: Log analytics customer key
                                      type: string
                                      x-ms-mutability:
                                      - create
                                      - update
                                      x-ms-secret: true
                            zoneRedundant:
                              description: Whether or not this Managed Environment
                                is zone-redundant.
                              type: boolean
                              x-ms-mutability:
                              - create
                              - read
                            customDomainConfiguration:
                              description: Custom domain configuration for the environment
                              type: object
                              properties:
                                customDomainVerificationId:
                                  description: Id used to verify domain name ownership
                                  type: string
                                  readOnly: true
                                dnsSuffix:
                                  type: string
                                  description: Dns suffix for the environment domain
                                  x-ms-mutability:
                                  - create
                                  - read
                                certificateKeyVaultProperties:
                                  description: Certificate stored in Azure Key Vault.
                                  type: object
                                  properties:
                                    identity:
                                      description: Resource ID of a managed identity
                                        to authenticate with Azure Key Vault, or System
                                        to use a system-assigned identity.
                                      type: string
                                    keyVaultUrl:
                                      description: URL pointing to the Azure Key Vault
                                        secret that holds the certificate.
                                      type: string
                                      format: uri
                                certificateValue:
                                  format: byte
                                  description: PFX or PEM blob
                                  type: string
                                  x-ms-secret: true
                                certificatePassword:
                                  description: Certificate password
                                  type: string
                                  x-ms-secret: true
                                expirationDate:
                                  format: date-time
                                  description: Certificate expiration date.
                                  type: string
                                  readOnly: true
                                thumbprint:
                                  description: Certificate thumbprint.
                                  type: string
                                  readOnly: true
                                subjectName:
                                  description: Subject name of the certificate.
                                  type: string
                                  readOnly: true
                            eventStreamEndpoint:
                              description: The endpoint of the eventstream of the
                                Environment.
                              type: string
                              readOnly: true
                            workloadProfiles:
                              description: Workload profiles configured for the Managed
                                Environment.
                              type: array
                              items:
                                description: Workload profile to scope container app
                                  execution.
                                type: object
                                properties:
                                  name:
                                    description: Workload profile type for the workloads
                                      to run on.
                                    type: string
                                  workloadProfileType:
                                    description: Workload profile type for the workloads
                                      to run on.
                                    type: string
                                  minimumCount:
                                    type: integer
                                    format: int32
                                    description: The minimum capacity.
                                  maximumCount:
                                    type: integer
                                    format: int32
                                    description: The maximum capacity.
                                required:
                                - name
                                - workloadProfileType
                              x-ms-identifiers:
                              - name
                            kedaConfiguration:
                              description: The configuration of Keda component.
                              type: object
                              properties:
                                version:
                                  type: string
                                  readOnly: true
                                  description: The version of Keda
                            daprConfiguration:
                              description: The configuration of Dapr component.
                              type: object
                              properties:
                                version:
                                  type: string
                                  readOnly: true
                                  description: The version of Dapr
                            infrastructureResourceGroup:
                              description: Name of the platform-managed resource group
                                created for the Managed Environment to host infrastructure
                                resources. If a subnet ID is provided, this resource
                                group will be created in the same subscription as
                                the subnet.
                              type: string
                              x-ms-mutability:
                              - create
                              - read
                            peerAuthentication:
                              description: Peer authentication settings for the Managed
                                Environment
                              type: object
                              properties:
                                mtls:
                                  description: Mutual TLS authentication settings
                                    for the Managed Environment
                                  type: object
                                  properties:
                                    enabled:
                                      type: boolean
                                      description: Boolean indicating whether the
                                        mutual TLS authentication is enabled
                            peerTrafficConfiguration:
                              description: Peer traffic settings for the Managed Environment
                              type: object
                              properties:
                                encryption:
                                  description: Peer traffic encryption settings for
                                    the Managed Environment
                                  type: object
                                  properties:
                                    enabled:
                                      type: boolean
                                      description: Boolean indicating whether the
                                        peer traffic encryption is enabled
                          x-ms-client-flatten: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: Common error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        description: Details or the error
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers:
                        - code
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}
  : get:
      tags:
      - ManagedEnvironments
      summary: Get the properties of a Managed Environment.
      description: Get the properties of a Managed Environment used to host container
        apps.
      operationId: ManagedEnvironments_Get
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: environmentName
        in: path
        description: Name of the Environment.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  kind:
                    type: string
                    description: Kind of the Environment.
                  identity:
                    description: Managed identities for the Managed Environment to
                      interact with other Azure services without maintaining any secrets
                      or credentials in code.
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                  properties:
                    description: Managed environment resource specific properties
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the Environment.
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Waiting
                        - InitializationInProgress
                        - InfrastructureSetupInProgress
                        - InfrastructureSetupComplete
                        - ScheduledForDelete
                        - UpgradeRequested
                        - UpgradeFailed
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: EnvironmentProvisioningState
                          modelAsString: true
                      daprAIInstrumentationKey:
                        type: string
                        description: Azure Monitor instrumentation key used by Dapr
                          to export Service to Service communication telemetry
                        x-ms-secret: true
                      daprAIConnectionString:
                        type: string
                        description: Application Insights connection string used by
                          Dapr to export Service to Service communication telemetry
                        x-ms-secret: true
                      vnetConfiguration:
                        description: Vnet configuration for the environment
                        type: object
                        properties:
                          internal:
                            type: boolean
                            description: Boolean indicating the environment only has
                              an internal load balancer. These environments do not
                              have a public static IP resource. They must provide
                              infrastructureSubnetId if enabling this property
                            x-ms-mutability:
                            - create
                            - read
                          infrastructureSubnetId:
                            type: string
                            description: Resource ID of a subnet for infrastructure
                              components. Must not overlap with any other provided
                              IP ranges.
                            x-ms-mutability:
                            - create
                            - read
                          dockerBridgeCidr:
                            type: string
                            description: CIDR notation IP range assigned to the Docker
                              bridge, network. Must not overlap with any other provided
                              IP ranges.
                            x-ms-mutability:
                            - create
                            - read
                          platformReservedCidr:
                            type: string
                            description: IP range in CIDR notation that can be reserved
                              for environment infrastructure IP addresses. Must not
                              overlap with any other provided IP ranges.
                            x-ms-mutability:
                            - create
                            - read
                          platformReservedDnsIP:
                            type: string
                            description: ' An IP address from the IP range defined
                              by platformReservedCidr that will be reserved for the
                              internal DNS server.'
                            x-ms-mutability:
                            - create
                            - read
                      deploymentErrors:
                        description: Any errors that occurred during deployment or
                          deployment validation
                        type: string
                        readOnly: true
                      defaultDomain:
                        description: Default Domain Name for the cluster
                        type: string
                        readOnly: true
                      staticIp:
                        description: Static IP of the Environment
                        type: string
                        readOnly: true
                      appLogsConfiguration:
                        description: Cluster configuration which enables the log daemon
                          to export app logs to configured destination.
                        type: object
                        properties:
                          destination:
                            description: Logs destination, can be 'log-analytics',
                              'azure-monitor' or 'none'
                            type: string
                          logAnalyticsConfiguration:
                            description: Log Analytics configuration, must only be
                              provided when destination is configured as 'log-analytics'
                            type: object
                            properties:
                              customerId:
                                description: Log analytics customer id
                                type: string
                              sharedKey:
                                description: Log analytics customer key
                                type: string
                                x-ms-mutability:
                                - create
                                - update
                                x-ms-secret: true
                      zoneRedundant:
                        description: Whether or not this Managed Environment is zone-redundant.
                        type: boolean
                        x-ms-mutability:
                        - create
                        - read
                      customDomainConfiguration:
                        description: Custom domain configuration for the environment
                        type: object
                        properties:
                          customDomainVerificationId:
                            description: Id used to verify domain name ownership
                            type: string
                            readOnly: true
                          dnsSuffix:
                            type: string
                            description: Dns suffix for the environment domain
                            x-ms-mutability:
                            - create
                            - read
                          certificateKeyVaultProperties:
                            description: Certificate stored in Azure Key Vault.
                            type: object
                            properties:
                              identity:
                                description: Resource ID of a managed identity to
                                  authenticate with Azure Key Vault, or System to
                                  use a system-assigned identity.
                                type: string
                              keyVaultUrl:
                                description: URL pointing to the Azure Key Vault secret
                                  that holds the certificate.
                                type: string
                                format: uri
                          certificateValue:
                            format: byte
                            description: PFX or PEM blob
                            type: string
                            x-ms-secret: true
                          certificatePassword:
                            description: Certificate password
                            type: string
                            x-ms-secret: true
                          expirationDate:
                            format: date-time
                            description: Certificate expiration date.
                            type: string
                            readOnly: true
                          thumbprint:
                            description: Certificate thumbprint.
                            type: string
                            readOnly: true
                          subjectName:
                            description: Subject name of the certificate.
                            type: string
                            readOnly: true
                      eventStreamEndpoint:
                        description: The endpoint of the eventstream of the Environment.
                        type: string
                        readOnly: true
                      workloadProfiles:
                        description: Workload profiles configured for the Managed
                          Environment.
                        type: array
                        items:
                          description: Workload profile to scope container app execution.
                          type: object
                          properties:
                            name:
                              description: Workload profile type for the workloads
                                to run on.
                              type: string
                            workloadProfileType:
                              description: Workload profile type for the workloads
                                to run on.
                              type: string
                            minimumCount:
                              type: integer
                              format: int32
                              description: The minimum capacity.
                            maximumCount:
                              type: integer
                              format: int32
                              description: The maximum capacity.
                          required:
                          - name
                          - workloadProfileType
                        x-ms-identifiers:
                        - name
                      kedaConfiguration:
                        description: The configuration of Keda component.
                        type: object
                        properties:
                          version:
                            type: string
                            readOnly: true
                            description: The version of Keda
                      daprConfiguration:
                        description: The configuration of Dapr component.
                        type: object
                        properties:
                          version:
                            type: string
                            readOnly: true
                            description: The version of Dapr
                      infrastructureResourceGroup:
                        description: Name of the platform-managed resource group created
                          for the Managed Environment to host infrastructure resources.
                          If a subnet ID is provided, this resource group will be
                          created in the same subscription as the subnet.
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                      peerAuthentication:
                        description: Peer authentication settings for the Managed
                          Environment
                        type: object
                        properties:
                          mtls:
                            description: Mutual TLS authentication settings for the
                              Managed Environment
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Boolean indicating whether the mutual
                                  TLS authentication is enabled
                      peerTrafficConfiguration:
                        description: Peer traffic settings for the Managed Environment
                        type: object
                        properties:
                          encryption:
                            description: Peer traffic encryption settings for the
                              Managed Environment
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Boolean indicating whether the peer traffic
                                  encryption is enabled
                    x-ms-client-flatten: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Common error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        description: Details or the error
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers:
                        - code
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
    put:
      tags:
      - ManagedEnvironments
      summary: Creates or updates a Managed Environment.
      description: Creates or updates a Managed Environment used to host container
        apps.
      operationId: ManagedEnvironments_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: environmentName
        in: path
        description: Name of the Environment.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                kind:
                  type: string
                  description: Kind of the Environment.
                identity:
                  description: Managed identities for the Managed Environment to interact
                    with other Azure services without maintaining any secrets or credentials
                    in code.
                  type: object
                  properties:
                    principalId:
                      type: string
                      format: uuid
                      description: The service principal ID of the system assigned
                        identity. This property will only be provided for a system
                        assigned identity.
                      readOnly: true
                    tenantId:
                      type: string
                      format: uuid
                      description: The tenant ID of the system assigned identity.
                        This property will only be provided for a system assigned
                        identity.
                      readOnly: true
                    type:
                      type: string
                      description: Type of managed service identity (where both SystemAssigned
                        and UserAssigned types are allowed).
                      enum:
                      - None
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned,UserAssigned
                      x-ms-enum:
                        name: ManagedServiceIdentityType
                        modelAsString: true
                    userAssignedIdentities:
                      type: object
                      title: User-Assigned Identities
                      description: 'The set of user assigned identities associated
                        with the resource. The userAssignedIdentities dictionary keys
                        will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                        The dictionary values can be empty objects ({}) in requests.'
                      additionalProperties:
                        type: object
                        description: User assigned identity properties
                        properties:
                          principalId:
                            type: string
                            format: uuid
                            description: The principal ID of the assigned identity.
                            readOnly: true
                          clientId:
                            type: string
                            format: uuid
                            description: The client ID of the assigned identity.
                            readOnly: true
                  required:
                  - type
                properties:
                  description: Managed environment resource specific properties
                  type: object
                  properties:
                    provisioningState:
                      description: Provisioning state of the Environment.
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Waiting
                      - InitializationInProgress
                      - InfrastructureSetupInProgress
                      - InfrastructureSetupComplete
                      - ScheduledForDelete
                      - UpgradeRequested
                      - UpgradeFailed
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: EnvironmentProvisioningState
                        modelAsString: true
                    daprAIInstrumentationKey:
                      type: string
                      description: Azure Monitor instrumentation key used by Dapr
                        to export Service to Service communication telemetry
                      x-ms-secret: true
                    daprAIConnectionString:
                      type: string
                      description: Application Insights connection string used by
                        Dapr to export Service to Service communication telemetry
                      x-ms-secret: true
                    vnetConfiguration:
                      description: Vnet configuration for the environment
                      type: object
                      properties:
                        internal:
                          type: boolean
                          description: Boolean indicating the environment only has
                            an internal load balancer. These environments do not have
                            a public static IP resource. They must provide infrastructureSubnetId
                            if enabling this property
                          x-ms-mutability:
                          - create
                          - read
                        infrastructureSubnetId:
                          type: string
                          description: Resource ID of a subnet for infrastructure
                            components. Must not overlap with any other provided IP
                            ranges.
                          x-ms-mutability:
                          - create
                          - read
                        dockerBridgeCidr:
                          type: string
                          description: CIDR notation IP range assigned to the Docker
                            bridge, network. Must not overlap with any other provided
                            IP ranges.
                          x-ms-mutability:
                          - create
                          - read
                        platformReservedCidr:
                          type: string
                          description: IP range in CIDR notation that can be reserved
                            for environment infrastructure IP addresses. Must not
                            overlap with any other provided IP ranges.
                          x-ms-mutability:
                          - create
                          - read
                        platformReservedDnsIP:
                          type: string
                          description: ' An IP address from the IP range defined by
                            platformReservedCidr that will be reserved for the internal
                            DNS server.'
                          x-ms-mutability:
                          - create
                          - read
                    deploymentErrors:
                      description: Any errors that occurred during deployment or deployment
                        validation
                      type: string
                      readOnly: true
                    defaultDomain:
                      description: Default Domain Name for the cluster
                      type: string
                      readOnly: true
                    staticIp:
                      description: Static IP of the Environment
                      type: string
                      readOnly: true
                    appLogsConfiguration:
                      description: Cluster configuration which enables the log daemon
                        to export app logs to configured destination.
                      type: object
                      properties:
                        destination:
                          description: Logs destination, can be 'log-analytics', 'azure-monitor'
                            or 'none'
                          type: string
                        logAnalyticsConfiguration:
                          description: Log Analytics configuration, must only be provided
                            when destination is configured as 'log-analytics'
                          type: object
                          properties:
                            customerId:
                              description: Log analytics customer id
                              type: string
                            sharedKey:
                              description: Log analytics customer key
                              type: string
                              x-ms-mutability:
                              - create
                              - update
                              x-ms-secret: true
                    zoneRedundant:
                      description: Whether or not this Managed Environment is zone-redundant.
                      type: boolean
                      x-ms-mutability:
                      - create
                      - read
                    customDomainConfiguration:
                      description: Custom domain configuration for the environment
                      type: object
                      properties:
                        customDomainVerificationId:
                          description: Id used to verify domain name ownership
                          type: string
                          readOnly: true
                        dnsSuffix:
                          type: string
                          description: Dns suffix for the environment domain
                          x-ms-mutability:
                          - create
                          - read
                        certificateKeyVaultProperties:
                          description: Certificate stored in Azure Key Vault.
                          type: object
                          properties:
                            identity:
                              description: Resource ID of a managed identity to authenticate
                                with Azure Key Vault, or System to use a system-assigned
                                identity.
                              type: string
                            keyVaultUrl:
                              description: URL pointing to the Azure Key Vault secret
                                that holds the certificate.
                              type: string
                              format: uri
                        certificateValue:
                          format: byte
                          description: PFX or PEM blob
                          type: string
                          x-ms-secret: true
                        certificatePassword:
                          description: Certificate password
                          type: string
                          x-ms-secret: true
                        expirationDate:
                          format: date-time
                          description: Certificate expiration date.
                          type: string
                          readOnly: true
                        thumbprint:
                          description: Certificate thumbprint.
                          type: string
                          readOnly: true
                        subjectName:
                          description: Subject name of the certificate.
                          type: string
                          readOnly: true
                    eventStreamEndpoint:
                      description: The endpoint of the eventstream of the Environment.
                      type: string
                      readOnly: true
                    workloadProfiles:
                      description: Workload profiles configured for the Managed Environment.
                      type: array
                      items:
                        description: Workload profile to scope container app execution.
                        type: object
                        properties:
                          name:
                            description: Workload profile type for the workloads to
                              run on.
                            type: string
                          workloadProfileType:
                            description: Workload profile type for the workloads to
                              run on.
                            type: string
                          minimumCount:
                            type: integer
                            format: int32
                            description: The minimum capacity.
                          maximumCount:
                            type: integer
                            format: int32
                            description: The maximum capacity.
                        required:
                        - name
                        - workloadProfileType
                      x-ms-identifiers:
                      - name
                    kedaConfiguration:
                      description: The configuration of Keda component.
                      type: object
                      properties:
                        version:
                          type: string
                          readOnly: true
                          description: The version of Keda
                    daprConfiguration:
                      description: The configuration of Dapr component.
                      type: object
                      properties:
                        version:
                          type: string
                          readOnly: true
                          description: The version of Dapr
                    infrastructureResourceGroup:
                      description: Name of the platform-managed resource group created
                        for the Managed Environment to host infrastructure resources.
                        If a subnet ID is provided, this resource group will be created
                        in the same subscription as the subnet.
                      type: string
                      x-ms-mutability:
                      - create
                      - read
                    peerAuthentication:
                      description: Peer authentication settings for the Managed Environment
                      type: object
                      properties:
                        mtls:
                          description: Mutual TLS authentication settings for the
                            Managed Environment
                          type: object
                          properties:
                            enabled:
                              type: boolean
                              description: Boolean indicating whether the mutual TLS
                                authentication is enabled
                    peerTrafficConfiguration:
                      description: Peer traffic settings for the Managed Environment
                      type: object
                      properties:
                        encryption:
                          description: Peer traffic encryption settings for the Managed
                            Environment
                          type: object
                          properties:
                            enabled:
                              type: boolean
                              description: Boolean indicating whether the peer traffic
                                encryption is enabled
                  x-ms-client-flatten: true
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Configuration details of the Environment.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  kind:
                    type: string
                    description: Kind of the Environment.
                  identity:
                    description: Managed identities for the Managed Environment to
                      interact with other Azure services without maintaining any secrets
                      or credentials in code.
[...]
