openapi: 3.0.0
info:
  title: ContainerApps API Client
  version: 2025-01-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.App/sessionPools:
    get:
      tags:
      - ContainerAppsSessionPools
      summary: Get the session pools in a given subscription.
      operationId: ContainerAppsSessionPools_ListBySubscription
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Session pool collection Azure resource.
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        identity:
                          description: Managed identities needed by a session pool
                            to interact with other Azure services to not maintain
                            any secrets or credentials in code.
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                          required:
                          - type
                        properties:
                          description: Container App session pool resource specific
                            properties
                          type: object
                          properties:
                            environmentId:
                              description: Resource ID of the session pool's environment.
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.App/managedEnvironments
                              x-ms-mutability:
                              - create
                              - read
                            containerType:
                              description: The container type of the sessions.
                              enum:
                              - CustomContainer
                              - PythonLTS
                              type: string
                              x-ms-enum:
                                name: ContainerType
                                modelAsString: true
                            poolManagementType:
                              description: The pool management type of the session
                                pool.
                              enum:
                              - Manual
                              - Dynamic
                              type: string
                              x-ms-enum:
                                name: PoolManagementType
                                modelAsString: true
                            nodeCount:
                              description: The number of nodes the session pool is
                                using.
                              type: integer
                              format: int32
                              readOnly: true
                            scaleConfiguration:
                              description: The scale configuration of the session
                                pool.
                              type: object
                              properties:
                                maxConcurrentSessions:
                                  description: The maximum count of sessions at the
                                    same time.
                                  type: integer
                                  format: int32
                                readySessionInstances:
                                  description: The minimum count of ready session
                                    instances.
                                  type: integer
                                  format: int32
                            secrets:
                              description: The secrets of the session pool.
                              type: array
                              items:
                                description: Secret definition.
                                type: object
                                properties:
                                  name:
                                    description: Secret Name.
                                    type: string
                                  value:
                                    description: Secret Value.
                                    type: string
                                    x-ms-mutability:
                                    - create
                                    - update
                                    x-ms-secret: true
                              x-ms-identifiers:
                              - name
                            dynamicPoolConfiguration:
                              description: The pool configuration if the poolManagementType
                                is dynamic.
                              type: object
                              properties:
                                lifecycleConfiguration:
                                  description: The lifecycle configuration of a session
                                    in the dynamic session pool
                                  type: object
                                  properties:
                                    lifecycleType:
                                      description: The lifecycle type of the session
                                        pool.
                                      enum:
                                      - Timed
                                      - OnContainerExit
                                      type: string
                                      x-ms-enum:
                                        name: LifecycleType
                                        modelAsString: true
                                    cooldownPeriodInSeconds:
                                      description: The cooldown period of a session
                                        in seconds when the lifecycle type is 'Timed'.
                                      type: integer
                                      format: int32
                                    maxAlivePeriodInSeconds:
                                      description: The maximum alive period of a session
                                        in seconds when the lifecycle type is 'OnContainerExit'.
                                      type: integer
                                      format: int32
                            customContainerTemplate:
                              description: The custom container configuration if the
                                containerType is CustomContainer.
                              type: object
                              properties:
                                registryCredentials:
                                  description: Private container registry credentials
                                    for containers used by the sessions of the session
                                    pool.
                                  type: object
                                  properties:
                                    server:
                                      description: Container registry server.
                                      type: string
                                    username:
                                      description: Container registry username.
                                      type: string
                                    passwordSecretRef:
                                      description: The name of the secret that contains
                                        the registry login password
                                      type: string
                                    identity:
                                      description: A Managed Identity to use to authenticate
                                        with Azure Container Registry. For user-assigned
                                        identities, use the full user-assigned identity
                                        Resource ID. For system-assigned identities,
                                        use 'system'
                                      type: string
                                containers:
                                  description: List of container definitions for the
                                    sessions of the session pool.
                                  type: array
                                  items:
                                    description: Container definitions for the sessions
                                      of the session pool.
                                    type: object
                                    properties:
                                      image:
                                        description: Container image tag.
                                        type: string
                                      name:
                                        description: Custom container name.
                                        type: string
                                      command:
                                        description: Container start command.
                                        type: array
                                        items:
                                          type: string
                                      args:
                                        description: Container start command arguments.
                                        type: array
                                        items:
                                          type: string
                                      env:
                                        description: Container environment variables.
                                        type: array
                                        items:
                                          description: Container App container environment
                                            variable.
                                          type: object
                                          properties:
                                            name:
                                              description: Environment variable name.
                                              type: string
                                            value:
                                              description: Non-secret environment
                                                variable value.
                                              type: string
                                            secretRef:
                                              description: Name of the Container App
                                                secret from which to pull the environment
                                                variable value.
                                              type: string
                                        x-ms-identifiers:
                                        - name
                                      resources:
                                        description: Container resource requirements.
                                        type: object
                                        properties:
                                          cpu:
                                            format: double
                                            description: Required CPU in cores, e.g.
                                              0.5
                                            type: number
                                          memory:
                                            description: Required memory, e.g. "250Mb"
                                            type: string
                                  x-ms-identifiers:
                                  - name
                                ingress:
                                  description: Session pool ingress configuration.
                                  type: object
                                  properties:
                                    targetPort:
                                      format: int32
                                      description: Target port in containers for traffic
                                        from ingress
                                      type: integer
                            sessionNetworkConfiguration:
                              description: The network configuration of the sessions
                                in the session pool.
                              type: object
                              properties:
                                status:
                                  description: Network status for the sessions.
                                  type: string
                                  enum:
                                  - EgressEnabled
                                  - EgressDisabled
                                  x-ms-enum:
                                    name: SessionNetworkStatus
                                    modelAsString: true
                            poolManagementEndpoint:
                              description: The endpoint to manage the pool.
                              type: string
                              format: uri
                              readOnly: true
                            provisioningState:
                              description: Provisioning state of the session pool.
                              enum:
                              - InProgress
                              - Succeeded
                              - Failed
                              - Canceled
                              - Deleting
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: SessionPoolProvisioningState
                                modelAsString: true
                            managedIdentitySettings:
                              description: Optional settings for a Managed Identity
                                that is assigned to the Session pool.
                              type: array
                              items:
                                description: Optional settings for a Managed Identity
                                  that is assigned to the Session pool.
                                type: object
                                required:
                                - identity
                                properties:
                                  identity:
                                    description: The resource ID of a user-assigned
                                      managed identity that is assigned to the Session
                                      Pool, or 'system' for system-assigned identity.
                                    type: string
                                  lifecycle:
                                    description: Use to select the lifecycle stages
                                      of a Session Pool during which the Managed Identity
                                      should be available.
                                    enum:
                                    - None
                                    - Main
                                    type: string
                                    default: None
                                    x-ms-enum:
                                      name: IdentitySettingsLifeCycle
                                      modelAsString: true
                              x-ms-identifiers:
                              - identity
                          x-ms-client-flatten: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/sessionPools:
    get:
      tags:
      - ContainerAppsSessionPools
      summary: Get the session pools in a given resource group of a subscription.
      operationId: ContainerAppsSessionPools_ListByResourceGroup
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Session pool collection Azure resource.
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        identity:
                          description: Managed identities needed by a session pool
                            to interact with other Azure services to not maintain
                            any secrets or credentials in code.
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                          required:
                          - type
                        properties:
                          description: Container App session pool resource specific
                            properties
                          type: object
                          properties:
                            environmentId:
                              description: Resource ID of the session pool's environment.
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.App/managedEnvironments
                              x-ms-mutability:
                              - create
                              - read
                            containerType:
                              description: The container type of the sessions.
                              enum:
                              - CustomContainer
                              - PythonLTS
                              type: string
                              x-ms-enum:
                                name: ContainerType
                                modelAsString: true
                            poolManagementType:
                              description: The pool management type of the session
                                pool.
                              enum:
                              - Manual
                              - Dynamic
                              type: string
                              x-ms-enum:
                                name: PoolManagementType
                                modelAsString: true
                            nodeCount:
                              description: The number of nodes the session pool is
                                using.
                              type: integer
                              format: int32
                              readOnly: true
                            scaleConfiguration:
                              description: The scale configuration of the session
                                pool.
                              type: object
                              properties:
                                maxConcurrentSessions:
                                  description: The maximum count of sessions at the
                                    same time.
                                  type: integer
                                  format: int32
                                readySessionInstances:
                                  description: The minimum count of ready session
                                    instances.
                                  type: integer
                                  format: int32
                            secrets:
                              description: The secrets of the session pool.
                              type: array
                              items:
                                description: Secret definition.
                                type: object
                                properties:
                                  name:
                                    description: Secret Name.
                                    type: string
                                  value:
                                    description: Secret Value.
                                    type: string
                                    x-ms-mutability:
                                    - create
                                    - update
                                    x-ms-secret: true
                              x-ms-identifiers:
                              - name
                            dynamicPoolConfiguration:
                              description: The pool configuration if the poolManagementType
                                is dynamic.
                              type: object
                              properties:
                                lifecycleConfiguration:
                                  description: The lifecycle configuration of a session
                                    in the dynamic session pool
                                  type: object
                                  properties:
                                    lifecycleType:
                                      description: The lifecycle type of the session
                                        pool.
                                      enum:
                                      - Timed
                                      - OnContainerExit
                                      type: string
                                      x-ms-enum:
                                        name: LifecycleType
                                        modelAsString: true
                                    cooldownPeriodInSeconds:
                                      description: The cooldown period of a session
                                        in seconds when the lifecycle type is 'Timed'.
                                      type: integer
                                      format: int32
                                    maxAlivePeriodInSeconds:
                                      description: The maximum alive period of a session
                                        in seconds when the lifecycle type is 'OnContainerExit'.
                                      type: integer
                                      format: int32
                            customContainerTemplate:
                              description: The custom container configuration if the
                                containerType is CustomContainer.
                              type: object
                              properties:
                                registryCredentials:
                                  description: Private container registry credentials
                                    for containers used by the sessions of the session
                                    pool.
                                  type: object
                                  properties:
                                    server:
                                      description: Container registry server.
                                      type: string
                                    username:
                                      description: Container registry username.
                                      type: string
                                    passwordSecretRef:
                                      description: The name of the secret that contains
                                        the registry login password
                                      type: string
                                    identity:
                                      description: A Managed Identity to use to authenticate
                                        with Azure Container Registry. For user-assigned
                                        identities, use the full user-assigned identity
                                        Resource ID. For system-assigned identities,
                                        use 'system'
                                      type: string
                                containers:
                                  description: List of container definitions for the
                                    sessions of the session pool.
                                  type: array
                                  items:
                                    description: Container definitions for the sessions
                                      of the session pool.
                                    type: object
                                    properties:
                                      image:
                                        description: Container image tag.
                                        type: string
                                      name:
                                        description: Custom container name.
                                        type: string
                                      command:
                                        description: Container start command.
                                        type: array
                                        items:
                                          type: string
                                      args:
                                        description: Container start command arguments.
                                        type: array
                                        items:
                                          type: string
                                      env:
                                        description: Container environment variables.
                                        type: array
                                        items:
                                          description: Container App container environment
                                            variable.
                                          type: object
                                          properties:
                                            name:
                                              description: Environment variable name.
                                              type: string
                                            value:
                                              description: Non-secret environment
                                                variable value.
                                              type: string
                                            secretRef:
                                              description: Name of the Container App
                                                secret from which to pull the environment
                                                variable value.
                                              type: string
                                        x-ms-identifiers:
                                        - name
                                      resources:
                                        description: Container resource requirements.
                                        type: object
                                        properties:
                                          cpu:
                                            format: double
                                            description: Required CPU in cores, e.g.
                                              0.5
                                            type: number
                                          memory:
                                            description: Required memory, e.g. "250Mb"
                                            type: string
                                  x-ms-identifiers:
                                  - name
                                ingress:
                                  description: Session pool ingress configuration.
                                  type: object
                                  properties:
                                    targetPort:
                                      format: int32
                                      description: Target port in containers for traffic
                                        from ingress
                                      type: integer
                            sessionNetworkConfiguration:
                              description: The network configuration of the sessions
                                in the session pool.
                              type: object
                              properties:
                                status:
                                  description: Network status for the sessions.
                                  type: string
                                  enum:
                                  - EgressEnabled
                                  - EgressDisabled
                                  x-ms-enum:
                                    name: SessionNetworkStatus
                                    modelAsString: true
                            poolManagementEndpoint:
                              description: The endpoint to manage the pool.
                              type: string
                              format: uri
                              readOnly: true
                            provisioningState:
                              description: Provisioning state of the session pool.
                              enum:
                              - InProgress
                              - Succeeded
                              - Failed
                              - Canceled
                              - Deleting
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: SessionPoolProvisioningState
                                modelAsString: true
                            managedIdentitySettings:
                              description: Optional settings for a Managed Identity
                                that is assigned to the Session pool.
                              type: array
                              items:
                                description: Optional settings for a Managed Identity
                                  that is assigned to the Session pool.
                                type: object
                                required:
                                - identity
                                properties:
                                  identity:
                                    description: The resource ID of a user-assigned
                                      managed identity that is assigned to the Session
                                      Pool, or 'system' for system-assigned identity.
                                    type: string
                                  lifecycle:
                                    description: Use to select the lifecycle stages
                                      of a Session Pool during which the Managed Identity
                                      should be available.
                                    enum:
                                    - None
                                    - Main
                                    type: string
                                    default: None
                                    x-ms-enum:
                                      name: IdentitySettingsLifeCycle
                                      modelAsString: true
                              x-ms-identifiers:
                              - identity
                          x-ms-client-flatten: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/sessionPools/{sessionPoolName}:
    get:
      tags:
      - ContainerAppsSessionPools
      summary: Get the properties of a session pool.
      operationId: ContainerAppsSessionPools_Get
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: sessionPoolName
        in: path
        description: Name of the session pool.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[a-z][a-z0-9]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  identity:
                    description: Managed identities needed by a session pool to interact
                      with other Azure services to not maintain any secrets or credentials
                      in code.
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                  properties:
                    description: Container App session pool resource specific properties
                    type: object
                    properties:
                      environmentId:
                        description: Resource ID of the session pool's environment.
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.App/managedEnvironments
                        x-ms-mutability:
                        - create
                        - read
                      containerType:
                        description: The container type of the sessions.
                        enum:
                        - CustomContainer
                        - PythonLTS
                        type: string
                        x-ms-enum:
                          name: ContainerType
                          modelAsString: true
                      poolManagementType:
                        description: The pool management type of the session pool.
                        enum:
                        - Manual
                        - Dynamic
                        type: string
                        x-ms-enum:
                          name: PoolManagementType
                          modelAsString: true
                      nodeCount:
                        description: The number of nodes the session pool is using.
                        type: integer
                        format: int32
                        readOnly: true
                      scaleConfiguration:
                        description: The scale configuration of the session pool.
                        type: object
                        properties:
                          maxConcurrentSessions:
                            description: The maximum count of sessions at the same
                              time.
                            type: integer
                            format: int32
                          readySessionInstances:
                            description: The minimum count of ready session instances.
                            type: integer
                            format: int32
                      secrets:
                        description: The secrets of the session pool.
                        type: array
                        items:
                          description: Secret definition.
                          type: object
                          properties:
                            name:
                              description: Secret Name.
                              type: string
                            value:
                              description: Secret Value.
                              type: string
                              x-ms-mutability:
                              - create
                              - update
                              x-ms-secret: true
                        x-ms-identifiers:
                        - name
                      dynamicPoolConfiguration:
                        description: The pool configuration if the poolManagementType
                          is dynamic.
                        type: object
                        properties:
                          lifecycleConfiguration:
                            description: The lifecycle configuration of a session
                              in the dynamic session pool
                            type: object
                            properties:
                              lifecycleType:
                                description: The lifecycle type of the session pool.
                                enum:
                                - Timed
                                - OnContainerExit
                                type: string
                                x-ms-enum:
                                  name: LifecycleType
                                  modelAsString: true
                              cooldownPeriodInSeconds:
                                description: The cooldown period of a session in seconds
                                  when the lifecycle type is 'Timed'.
                                type: integer
                                format: int32
                              maxAlivePeriodInSeconds:
                                description: The maximum alive period of a session
                                  in seconds when the lifecycle type is 'OnContainerExit'.
                                type: integer
                                format: int32
                      customContainerTemplate:
                        description: The custom container configuration if the containerType
                          is CustomContainer.
                        type: object
                        properties:
                          registryCredentials:
                            description: Private container registry credentials for
                              containers used by the sessions of the session pool.
                            type: object
                            properties:
                              server:
                                description: Container registry server.
                                type: string
                              username:
                                description: Container registry username.
                                type: string
                              passwordSecretRef:
                                description: The name of the secret that contains
                                  the registry login password
                                type: string
                              identity:
                                description: A Managed Identity to use to authenticate
                                  with Azure Container Registry. For user-assigned
                                  identities, use the full user-assigned identity
                                  Resource ID. For system-assigned identities, use
                                  'system'
                                type: string
                          containers:
                            description: List of container definitions for the sessions
                              of the session pool.
                            type: array
                            items:
                              description: Container definitions for the sessions
                                of the session pool.
                              type: object
                              properties:
                                image:
                                  description: Container image tag.
                                  type: string
                                name:
                                  description: Custom container name.
                                  type: string
                                command:
                                  description: Container start command.
                                  type: array
                                  items:
                                    type: string
                                args:
                                  description: Container start command arguments.
                                  type: array
                                  items:
                                    type: string
                                env:
                                  description: Container environment variables.
                                  type: array
                                  items:
                                    description: Container App container environment
                                      variable.
                                    type: object
                                    properties:
                                      name:
                                        description: Environment variable name.
                                        type: string
                                      value:
                                        description: Non-secret environment variable
                                          value.
                                        type: string
                                      secretRef:
                                        description: Name of the Container App secret
                                          from which to pull the environment variable
                                          value.
                                        type: string
                                  x-ms-identifiers:
                                  - name
                                resources:
                                  description: Container resource requirements.
                                  type: object
                                  properties:
                                    cpu:
                                      format: double
                                      description: Required CPU in cores, e.g. 0.5
                                      type: number
                                    memory:
                                      description: Required memory, e.g. "250Mb"
                                      type: string
                            x-ms-identifiers:
                            - name
                          ingress:
                            description: Session pool ingress configuration.
                            type: object
                            properties:
                              targetPort:
                                format: int32
                                description: Target port in containers for traffic
                                  from ingress
                                type: integer
                      sessionNetworkConfiguration:
                        description: The network configuration of the sessions in
                          the session pool.
                        type: object
                        properties:
                          status:
                            description: Network status for the sessions.
                            type: string
                            enum:
                            - EgressEnabled
                            - EgressDisabled
                            x-ms-enum:
                              name: SessionNetworkStatus
                              modelAsString: true
                      poolManagementEndpoint:
                        description: The endpoint to manage the pool.
                        type: string
                        format: uri
                        readOnly: true
                      provisioningState:
                        description: Provisioning state of the session pool.
                        enum:
                        - InProgress
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleting
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SessionPoolProvisioningState
                          modelAsString: true
                      managedIdentitySettings:
                        description: Optional settings for a Managed Identity that
                          is assigned to the Session pool.
                        type: array
                        items:
                          description: Optional settings for a Managed Identity that
                            is assigned to the Session pool.
                          type: object
                          required:
                          - identity
                          properties:
                            identity:
                              description: The resource ID of a user-assigned managed
                                identity that is assigned to the Session Pool, or
                                'system' for system-assigned identity.
                              type: string
                            lifecycle:
                              description: Use to select the lifecycle stages of a
                                Session Pool during which the Managed Identity should
                                be available.
                              enum:
                              - None
                              - Main
                              type: string
                              default: None
                              x-ms-enum:
                                name: IdentitySettingsLifeCycle
                                modelAsString: true
                        x-ms-identifiers:
                        - identity
                    x-ms-client-flatten: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Common error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - ContainerAppsSessionPools
      summary: Create or update a session pool.
      description: Create or update a session pool with the given properties.
      operationId: ContainerAppsSessionPools_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: sessionPoolName
        in: path
        description: Name of the session pool.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[a-z][a-z0-9]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                identity:
                  description: Managed identities needed by a session pool to interact
                    with other Azure services to not maintain any secrets or credentials
                    in code.
                  type: object
                  properties:
                    principalId:
                      type: string
                      format: uuid
                      description: The service principal ID of the system assigned
                        identity. This property will only be provided for a system
                        assigned identity.
                      readOnly: true
                    tenantId:
                      type: string
                      format: uuid
                      description: The tenant ID of the system assigned identity.
                        This property will only be provided for a system assigned
                        identity.
                      readOnly: true
                    type:
                      type: string
                      description: Type of managed service identity (where both SystemAssigned
                        and UserAssigned types are allowed).
                      enum:
                      - None
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned,UserAssigned
                      x-ms-enum:
                        name: ManagedServiceIdentityType
                        modelAsString: true
                    userAssignedIdentities:
                      type: object
                      title: User-Assigned Identities
                      description: 'The set of user assigned identities associated
                        with the resource. The userAssignedIdentities dictionary keys
                        will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                        The dictionary values can be empty objects ({}) in requests.'
                      additionalProperties:
                        type: object
                        description: User assigned identity properties
                        properties:
                          principalId:
                            type: string
                            format: uuid
                            description: The principal ID of the assigned identity.
                            readOnly: true
                          clientId:
                            type: string
                            format: uuid
                            description: The client ID of the assigned identity.
                            readOnly: true
                  required:
                  - type
                properties:
                  description: Container App session pool resource specific properties
                  type: object
                  properties:
                    environmentId:
                      description: Resource ID of the session pool's environment.
                      type: string
                      format: arm-id
                      x-ms-arm-id-details:
                        allowedResources:
                        - type: Microsoft.App/managedEnvironments
                      x-ms-mutability:
                      - create
                      - read
                    containerType:
                      description: The container type of the sessions.
                      enum:
                      - CustomContainer
                      - PythonLTS
                      type: string
                      x-ms-enum:
                        name: ContainerType
                        modelAsString: true
                    poolManagementType:
                      description: The pool management type of the session pool.
                      enum:
                      - Manual
                      - Dynamic
                      type: string
                      x-ms-enum:
                        name: PoolManagementType
                        modelAsString: true
                    nodeCount:
                      description: The number of nodes the session pool is using.
                      type: integer
                      format: int32
                      readOnly: true
                    scaleConfiguration:
                      description: The scale configuration of the session pool.
                      type: object
                      properties:
                        maxConcurrentSessions:
                          description: The maximum count of sessions at the same time.
                          type: integer
                          format: int32
                        readySessionInstances:
                          description: The minimum count of ready session instances.
                          type: integer
                          format: int32
                    secrets:
                      description: The secrets of the session pool.
                      type: array
                      items:
                        description: Secret definition.
                        type: object
                        properties:
                          name:
                            description: Secret Name.
                            type: string
                          value:
                            description: Secret Value.
                            type: string
                            x-ms-mutability:
                            - create
                            - update
                            x-ms-secret: true
                      x-ms-identifiers:
                      - name
                    dynamicPoolConfiguration:
                      description: The pool configuration if the poolManagementType
                        is dynamic.
                      type: object
                      properties:
                        lifecycleConfiguration:
                          description: The lifecycle configuration of a session in
                            the dynamic session pool
                          type: object
                          properties:
                            lifecycleType:
                              description: The lifecycle type of the session pool.
                              enum:
                              - Timed
                              - OnContainerExit
                              type: string
                              x-ms-enum:
                                name: LifecycleType
                                modelAsString: true
                            cooldownPeriodInSeconds:
                              description: The cooldown period of a session in seconds
                                when the lifecycle type is 'Timed'.
                              type: integer
                              format: int32
                            maxAlivePeriodInSeconds:
                              description: The maximum alive period of a session in
                                seconds when the lifecycle type is 'OnContainerExit'.
                              type: integer
                              format: int32
                    customContainerTemplate:
                      description: The custom container configuration if the containerType
                        is CustomContainer.
                      type: object
                      properties:
                        registryCredentials:
                          description: Private container registry credentials for
                            containers used by the sessions of the session pool.
                          type: object
                          properties:
                            server:
                              description: Container registry server.
                              type: string
                            username:
                              description: Container registry username.
                              type: string
                            passwordSecretRef:
                              description: The name of the secret that contains the
                                registry login password
                              type: string
                            identity:
                              description: A Managed Identity to use to authenticate
                                with Azure Container Registry. For user-assigned identities,
                                use the full user-assigned identity Resource ID. For
                                system-assigned identities, use 'system'
                              type: string
                        containers:
                          description: List of container definitions for the sessions
                            of the session pool.
                          type: array
                          items:
                            description: Container definitions for the sessions of
                              the session pool.
                            type: object
                            properties:
                              image:
                                description: Container image tag.
                                type: string
                              name:
                                description: Custom container name.
                                type: string
                              command:
                                description: Container start command.
                                type: array
                                items:
                                  type: string
                              args:
                                description: Container start command arguments.
                                type: array
                                items:
                                  type: string
                              env:
                                description: Container environment variables.
                                type: array
                                items:
                                  description: Container App container environment
                                    variable.
                                  type: object
                                  properties:
                                    name:
                                      description: Environment variable name.
                                      type: string
                                    value:
                                      description: Non-secret environment variable
                                        value.
                                      type: string
                                    secretRef:
                                      description: Name of the Container App secret
                                        from which to pull the environment variable
                                        value.
                                      type: string
                                x-ms-identifiers:
                                - name
                              resources:
                                description: Container resource requirements.
                                type: object
                                properties:
                                  cpu:
                                    format: double
                                    description: Required CPU in cores, e.g. 0.5
                                    type: number
                                  memory:
                                    description: Required memory, e.g. "250Mb"
                                    type: string
                          x-ms-identifiers:
                          - name
                        ingress:
                          description: Session pool ingress configuration.
                          type: object
                          properties:
                            targetPort:
[...]
