openapi: 3.0.0
info:
  version: 2025-01-01
  title: ContainerApps API Client
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/sourcecontrols
  : get:
      tags:
      - ContainerAppsSourceControls
      summary: Get the Container App SourceControls in a given resource group.
      operationId: ContainerAppsSourceControls_ListByContainerApp
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: containerAppName
        in: path
        description: Name of the Container App.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: SourceControl collection ARM resource.
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: SourceControl resource specific properties
                          type: object
                          properties:
                            operationState:
                              description: Current provisioning State of the operation
                              enum:
                              - InProgress
                              - Succeeded
                              - Failed
                              - Canceled
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: SourceControlOperationState
                                modelAsString: true
                            repoUrl:
                              description: The repo url which will be integrated to
                                ContainerApp.
                              type: string
                            branch:
                              description: The branch which will trigger the auto
                                deployment
                              type: string
                            githubActionConfiguration:
                              description: 'Container App Revision Template with all
                                possible settings and the

                                defaults if user did not provide them. The defaults
                                are populated

                                as they were at the creation time'
                              type: object
                              properties:
                                registryInfo:
                                  description: Registry configurations.
                                  type: object
                                  properties:
                                    registryUrl:
                                      description: registry server Url.
                                      type: string
                                    registryUserName:
                                      description: registry username.
                                      type: string
                                    registryPassword:
                                      description: registry secret.
                                      type: string
                                      x-ms-mutability:
                                      - create
                                      - update
                                      x-ms-secret: true
                                azureCredentials:
                                  description: AzureCredentials configurations.
                                  type: object
                                  properties:
                                    clientId:
                                      description: Client Id.
                                      type: string
                                      x-ms-mutability:
                                      - create
                                      - update
                                      x-ms-secret: true
                                    clientSecret:
                                      description: Client Secret.
                                      type: string
                                      x-ms-mutability:
                                      - create
                                      - update
                                      x-ms-secret: true
                                    tenantId:
                                      description: Tenant Id.
                                      type: string
                                      x-ms-mutability:
                                      - create
                                      - update
                                      x-ms-secret: true
                                    kind:
                                      description: Kind of auth github does for deploying
                                        the template
                                      type: string
                                      x-ms-mutability:
                                      - create
                                      - update
                                    subscriptionId:
                                      description: Subscription Id.
                                      type: string
                                contextPath:
                                  description: Context path
                                  type: string
                                githubPersonalAccessToken:
                                  description: One time Github PAT to configure github
                                    environment
                                  type: string
                                  x-ms-mutability:
                                  - create
                                  - update
                                  x-ms-secret: true
                                image:
                                  description: Image name
                                  type: string
                                publishType:
                                  description: Code or Image
                                  type: string
                                os:
                                  description: Operation system
                                  type: string
                                runtimeStack:
                                  description: Runtime stack
                                  type: string
                                runtimeVersion:
                                  description: Runtime version
                                  type: string
                          x-ms-client-flatten: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: Common error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        description: Details or the error
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers:
                        - code
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/sourcecontrols/{sourceControlName}
  : get:
      tags:
      - ContainerAppsSourceControls
      summary: Get a SourceControl of a Container App.
      operationId: ContainerAppsSourceControls_Get
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: containerAppName
        in: path
        description: Name of the Container App.
        required: true
        schema:
          type: string
      - name: sourceControlName
        in: path
        description: Name of the Container App SourceControl.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: SourceControl resource specific properties
                    type: object
                    properties:
                      operationState:
                        description: Current provisioning State of the operation
                        enum:
                        - InProgress
                        - Succeeded
                        - Failed
                        - Canceled
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SourceControlOperationState
                          modelAsString: true
                      repoUrl:
                        description: The repo url which will be integrated to ContainerApp.
                        type: string
                      branch:
                        description: The branch which will trigger the auto deployment
                        type: string
                      githubActionConfiguration:
                        description: 'Container App Revision Template with all possible
                          settings and the

                          defaults if user did not provide them. The defaults are
                          populated

                          as they were at the creation time'
                        type: object
                        properties:
                          registryInfo:
                            description: Registry configurations.
                            type: object
                            properties:
                              registryUrl:
                                description: registry server Url.
                                type: string
                              registryUserName:
                                description: registry username.
                                type: string
                              registryPassword:
                                description: registry secret.
                                type: string
                                x-ms-mutability:
                                - create
                                - update
                                x-ms-secret: true
                          azureCredentials:
                            description: AzureCredentials configurations.
                            type: object
                            properties:
                              clientId:
                                description: Client Id.
                                type: string
                                x-ms-mutability:
                                - create
                                - update
                                x-ms-secret: true
                              clientSecret:
                                description: Client Secret.
                                type: string
                                x-ms-mutability:
                                - create
                                - update
                                x-ms-secret: true
                              tenantId:
                                description: Tenant Id.
                                type: string
                                x-ms-mutability:
                                - create
                                - update
                                x-ms-secret: true
                              kind:
                                description: Kind of auth github does for deploying
                                  the template
                                type: string
                                x-ms-mutability:
                                - create
                                - update
                              subscriptionId:
                                description: Subscription Id.
                                type: string
                          contextPath:
                            description: Context path
                            type: string
                          githubPersonalAccessToken:
                            description: One time Github PAT to configure github environment
                            type: string
                            x-ms-mutability:
                            - create
                            - update
                            x-ms-secret: true
                          image:
                            description: Image name
                            type: string
                          publishType:
                            description: Code or Image
                            type: string
                          os:
                            description: Operation system
                            type: string
                          runtimeStack:
                            description: Runtime stack
                            type: string
                          runtimeVersion:
                            description: Runtime version
                            type: string
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Common error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        description: Details or the error
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers:
                        - code
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
    put:
      tags:
      - ContainerAppsSourceControls
      summary: Create or update the SourceControl for a Container App.
      description: Create or update the SourceControl for a Container App.
      operationId: ContainerAppsSourceControls_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: containerAppName
        in: path
        description: Name of the Container App.
        required: true
        schema:
          type: string
      - name: sourceControlName
        in: path
        description: Name of the Container App SourceControl.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  description: SourceControl resource specific properties
                  type: object
                  properties:
                    operationState:
                      description: Current provisioning State of the operation
                      enum:
                      - InProgress
                      - Succeeded
                      - Failed
                      - Canceled
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: SourceControlOperationState
                        modelAsString: true
                    repoUrl:
                      description: The repo url which will be integrated to ContainerApp.
                      type: string
                    branch:
                      description: The branch which will trigger the auto deployment
                      type: string
                    githubActionConfiguration:
                      description: 'Container App Revision Template with all possible
                        settings and the

                        defaults if user did not provide them. The defaults are populated

                        as they were at the creation time'
                      type: object
                      properties:
                        registryInfo:
                          description: Registry configurations.
                          type: object
                          properties:
                            registryUrl:
                              description: registry server Url.
                              type: string
                            registryUserName:
                              description: registry username.
                              type: string
                            registryPassword:
                              description: registry secret.
                              type: string
                              x-ms-mutability:
                              - create
                              - update
                              x-ms-secret: true
                        azureCredentials:
                          description: AzureCredentials configurations.
                          type: object
                          properties:
                            clientId:
                              description: Client Id.
                              type: string
                              x-ms-mutability:
                              - create
                              - update
                              x-ms-secret: true
                            clientSecret:
                              description: Client Secret.
                              type: string
                              x-ms-mutability:
                              - create
                              - update
                              x-ms-secret: true
                            tenantId:
                              description: Tenant Id.
                              type: string
                              x-ms-mutability:
                              - create
                              - update
                              x-ms-secret: true
                            kind:
                              description: Kind of auth github does for deploying
                                the template
                              type: string
                              x-ms-mutability:
                              - create
                              - update
                            subscriptionId:
                              description: Subscription Id.
                              type: string
                        contextPath:
                          description: Context path
                          type: string
                        githubPersonalAccessToken:
                          description: One time Github PAT to configure github environment
                          type: string
                          x-ms-mutability:
                          - create
                          - update
                          x-ms-secret: true
                        image:
                          description: Image name
                          type: string
                        publishType:
                          description: Code or Image
                          type: string
                        os:
                          description: Operation system
                          type: string
                        runtimeStack:
                          description: Runtime stack
                          type: string
                        runtimeVersion:
                          description: Runtime version
                          type: string
                  x-ms-client-flatten: true
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Properties used to create a Container App SourceControl
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: SourceControl resource specific properties
                    type: object
                    properties:
                      operationState:
                        description: Current provisioning State of the operation
                        enum:
                        - InProgress
                        - Succeeded
                        - Failed
                        - Canceled
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SourceControlOperationState
                          modelAsString: true
                      repoUrl:
                        description: The repo url which will be integrated to ContainerApp.
                        type: string
                      branch:
                        description: The branch which will trigger the auto deployment
                        type: string
                      githubActionConfiguration:
                        description: 'Container App Revision Template with all possible
                          settings and the

                          defaults if user did not provide them. The defaults are
                          populated

                          as they were at the creation time'
                        type: object
                        properties:
                          registryInfo:
                            description: Registry configurations.
                            type: object
                            properties:
                              registryUrl:
                                description: registry server Url.
                                type: string
                              registryUserName:
                                description: registry username.
                                type: string
                              registryPassword:
                                description: registry secret.
                                type: string
                                x-ms-mutability:
                                - create
                                - update
                                x-ms-secret: true
                          azureCredentials:
                            description: AzureCredentials configurations.
                            type: object
                            properties:
                              clientId:
                                description: Client Id.
                                type: string
                                x-ms-mutability:
                                - create
                                - update
                                x-ms-secret: true
                              clientSecret:
                                description: Client Secret.
                                type: string
                                x-ms-mutability:
                                - create
                                - update
                                x-ms-secret: true
                              tenantId:
                                description: Tenant Id.
                                type: string
                                x-ms-mutability:
                                - create
                                - update
                                x-ms-secret: true
                              kind:
                                description: Kind of auth github does for deploying
                                  the template
                                type: string
                                x-ms-mutability:
                                - create
                                - update
                              subscriptionId:
                                description: Subscription Id.
                                type: string
                          contextPath:
                            description: Context path
                            type: string
                          githubPersonalAccessToken:
                            description: One time Github PAT to configure github environment
                            type: string
                            x-ms-mutability:
                            - create
                            - update
                            x-ms-secret: true
                          image:
                            description: Image name
                            type: string
                          publishType:
                            description: Code or Image
                            type: string
                          os:
                            description: Operation system
                            type: string
                          runtimeStack:
                            description: Runtime stack
                            type: string
                          runtimeVersion:
                            description: Runtime version
                            type: string
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: SourceControl resource specific properties
                    type: object
                    properties:
                      operationState:
                        description: Current provisioning State of the operation
                        enum:
                        - InProgress
                        - Succeeded
                        - Failed
                        - Canceled
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SourceControlOperationState
                          modelAsString: true
                      repoUrl:
                        description: The repo url which will be integrated to ContainerApp.
                        type: string
                      branch:
                        description: The branch which will trigger the auto deployment
                        type: string
                      githubActionConfiguration:
                        description: 'Container App Revision Template with all possible
                          settings and the

                          defaults if user did not provide them. The defaults are
                          populated

                          as they were at the creation time'
                        type: object
                        properties:
                          registryInfo:
                            description: Registry configurations.
                            type: object
                            properties:
                              registryUrl:
                                description: registry server Url.
                                type: string
                              registryUserName:
                                description: registry username.
                                type: string
                              registryPassword:
                                description: registry secret.
                                type: string
                                x-ms-mutability:
                                - create
                                - update
                                x-ms-secret: true
                          azureCredentials:
                            description: AzureCredentials configurations.
                            type: object
                            properties:
                              clientId:
                                description: Client Id.
                                type: string
                                x-ms-mutability:
                                - create
                                - update
                                x-ms-secret: true
                              clientSecret:
                                description: Client Secret.
                                type: string
                                x-ms-mutability:
                                - create
                                - update
                                x-ms-secret: true
                              tenantId:
                                description: Tenant Id.
                                type: string
                                x-ms-mutability:
                                - create
                                - update
                                x-ms-secret: true
                              kind:
                                description: Kind of auth github does for deploying
                                  the template
                                type: string
                                x-ms-mutability:
                                - create
                                - update
                              subscriptionId:
                                description: Subscription Id.
                                type: string
                          contextPath:
                            description: Context path
                            type: string
                          githubPersonalAccessToken:
                            description: One time Github PAT to configure github environment
                            type: string
                            x-ms-mutability:
                            - create
                            - update
                            x-ms-secret: true
                          image:
                            description: Image name
                            type: string
                          publishType:
                            description: Code or Image
                            type: string
                          os:
                            description: Operation system
                            type: string
                          runtimeStack:
                            description: Runtime stack
                            type: string
                          runtimeVersion:
                            description: Runtime version
                            type: string
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Common error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        description: Details or the error
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers:
                        - code
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-long-running-operation: true
    delete:
      tags:
      - ContainerAppsSourceControls
      summary: Delete a Container App SourceControl.
      description: Delete a Container App SourceControl.
      operationId: ContainerAppsSourceControls_Delete
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: containerAppName
        in: path
        description: Name of the Container App.
        required: true
        schema:
          type: string
      - name: sourceControlName
        in: path
        description: Name of the Container App SourceControl.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Container App SourceControl deleted successfully.
        '202':
          description: Delete operation is in progress.
        '204':
          description: Container App SourceControl does not exist.
        default:
          description: Common error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        description: Details or the error
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers:
                        - code
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-long-running-operation: true
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription.
      required: true
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    SourceControl:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        properties:
          description: SourceControl resource specific properties
          type: object
          properties:
            operationState:
              description: Current provisioning State of the operation
              enum:
              - InProgress
              - Succeeded
              - Failed
              - Canceled
              type: string
              readOnly: true
              x-ms-enum:
                name: SourceControlOperationState
                modelAsString: true
            repoUrl:
              description: The repo url which will be integrated to ContainerApp.
              type: string
            branch:
              description: The branch which will trigger the auto deployment
              type: string
            githubActionConfiguration:
              description: 'Container App Revision Template with all possible settings
                and the

                defaults if user did not provide them. The defaults are populated

                as they were at the creation time'
              type: object
              properties:
                registryInfo:
                  description: Registry configurations.
                  type: object
                  properties:
                    registryUrl:
                      description: registry server Url.
                      type: string
                    registryUserName:
                      description: registry username.
                      type: string
                    registryPassword:
                      description: registry secret.
                      type: string
                      x-ms-mutability:
                      - create
                      - update
                      x-ms-secret: true
                azureCredentials:
                  description: AzureCredentials configurations.
                  type: object
                  properties:
                    clientId:
                      description: Client Id.
                      type: string
                      x-ms-mutability:
                      - create
                      - update
                      x-ms-secret: true
                    clientSecret:
                      description: Client Secret.
                      type: string
                      x-ms-mutability:
                      - create
                      - update
                      x-ms-secret: true
                    tenantId:
                      description: Tenant Id.
                      type: string
                      x-ms-mutability:
                      - create
                      - update
                      x-ms-secret: true
                    kind:
                      description: Kind of auth github does for deploying the template
                      type: string
                      x-ms-mutability:
                      - create
                      - update
                    subscriptionId:
                      description: Subscription Id.
                      type: string
                contextPath:
                  description: Context path
                  type: string
                githubPersonalAccessToken:
                  description: One time Github PAT to configure github environment
                  type: string
                  x-ms-mutability:
                  - create
                  - update
                  x-ms-secret: true
                image:
                  description: Image name
                  type: string
                publishType:
                  description: Code or Image
                  type: string
                os:
                  description: Operation system
                  type: string
                runtimeStack:
                  description: Runtime stack
                  type: string
                runtimeVersion:
                  description: Runtime version
                  type: string
          x-ms-client-flatten: true
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    GithubActionConfiguration:
      description: Configuration properties that define the mutable settings of a
        Container App SourceControl
      type: object
      properties:
        registryInfo:
          description: Registry configurations.
          type: object
          properties:
            registryUrl:
              description: registry server Url.
              type: string
            registryUserName:
              description: registry username.
              type: string
            registryPassword:
              description: registry secret.
              type: string
              x-ms-mutability:
              - create
              - update
              x-ms-secret: true
        azureCredentials:
          description: AzureCredentials configurations.
          type: object
          properties:
            clientId:
              description: Client Id.
              type: string
              x-ms-mutability:
              - create
              - update
              x-ms-secret: true
            clientSecret:
              description: Client Secret.
              type: string
              x-ms-mutability:
              - create
              - update
              x-ms-secret: true
            tenantId:
              description: Tenant Id.
              type: string
              x-ms-mutability:
              - create
              - update
              x-ms-secret: true
            kind:
              description: Kind of auth github does for deploying the template
              type: string
              x-ms-mutability:
              - create
              - update
            subscriptionId:
              description: Subscription Id.
              type: string
        contextPath:
          description: Context path
          type: string
        githubPersonalAccessToken:
          description: One time Github PAT to configure github environment
          type: string
          x-ms-mutability:
          - create
          - update
          x-ms-secret: true
        image:
          description: Image name
          type: string
        publishType:
          description: Code or Image
          type: string
        os:
          description: Operation system
          type: string
        runtimeStack:
          description: Runtime stack
          type: string
        runtimeVersion:
          description: Runtime version
          type: string
    RegistryInfo:
      description: Container App registry information.
      type: object
      properties:
        registryUrl:
          description: registry server Url.
          type: string
        registryUserName:
          description: registry username.
          type: string
        registryPassword:
          description: registry secret.
          type: string
          x-ms-mutability:
          - create
          - update
          x-ms-secret: true
    AzureCredentials:
      description: Container App credentials.
      type: object
      properties:
        clientId:
          description: Client Id.
          type: string
          x-ms-mutability:
          - create
          - update
          x-ms-secret: true
        clientSecret:
          description: Client Secret.
          type: string
          x-ms-mutability:
          - create
          - update
          x-ms-secret: true
        tenantId:
          description: Tenant Id.
          type: string
          x-ms-mutability:
          - create
          - update
          x-ms-secret: true
        kind:
          description: Kind of auth github does for deploying the template
          type: string
          x-ms-mutability:
          - create
          - update
        subscriptionId:
          description: Subscription Id.
          type: string
    SourceControlCollection:
      description: SourceControl collection ARM resource.
      required:
      - value
      type: object
      properties:
        value:
          description: Collection of resources.
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: arm-id
                description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                readOnly: true
              name:
                type: string
                description: The name of the resource
                readOnly: true
              type:
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
                readOnly: true
              systemData:
                description: Azure Resource Manager metadata containing createdBy
                  and modifiedBy information.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              properties:
                description: SourceControl resource specific properties
                type: object
                properties:
                  operationState:
                    description: Current provisioning State of the operation
                    enum:
                    - InProgress
                    - Succeeded
                    - Failed
                    - Canceled
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: SourceControlOperationState
                      modelAsString: true
                  repoUrl:
                    description: The repo url which will be integrated to ContainerApp.
                    type: string
                  branch:
                    description: The branch which will trigger the auto deployment
                    type: string
                  githubActionConfiguration:
                    description: 'Container App Revision Template with all possible
                      settings and the

                      defaults if user did not provide them. The defaults are populated

                      as they were at the creation time'
                    type: object
                    properties:
                      registryInfo:
                        description: Registry configurations.
                        type: object
                        properties:
                          registryUrl:
                            description: registry server Url.
                            type: string
                          registryUserName:
                            description: registry username.
                            type: string
                          registryPassword:
                            description: registry secret.
                            type: string
                            x-ms-mutability:
                            - create
                            - update
                            x-ms-secret: true
                      azureCredentials:
                        description: AzureCredentials configurations.
                        type: object
                        properties:
                          clientId:
                            description: Client Id.
                            type: string
                            x-ms-mutability:
                            - create
                            - update
                            x-ms-secret: true
                          clientSecret:
                            description: Client Secret.
                            type: string
                            x-ms-mutability:
                            - create
                            - update
                            x-ms-secret: true
                          tenantId:
                            description: Tenant Id.
                            type: string
                            x-ms-mutability:
                            - create
                            - update
                            x-ms-secret: true
                          kind:
                            description: Kind of auth github does for deploying the
                              template
                            type: string
                            x-ms-mutability:
                            - create
                            - update
                          subscriptionId:
                            description: Subscription Id.
                            type: string
                      contextPath:
                        description: Context path
                        type: string
                      githubPersonalAccessToken:
                        description: One time Github PAT to configure github environment
                        type: string
                        x-ms-mutability:
                        - create
                        - update
                        x-ms-secret: true
                      image:
                        description: Image name
                        type: string
                      publishType:
                        description: Code or Image
                        type: string
                      os:
                        description: Operation system
                        type: string
                      runtimeStack:
                        description: Runtime stack
                        type: string
                      runtimeVersion:
                        description: Runtime version
                        type: string
                x-ms-client-flatten: true
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
        nextLink:
          description: Link to next page of resources.
          type: string
          readOnly: true
    DefaultErrorResponse:
      description: App Service error response.
      type: object
      properties:
        error:
          description: Error model.
          type: object
          properties:
            code:
              description: Standardized string to programmatically identify the error.
              type: string
              readOnly: true
            message:
              description: Detailed error description and debugging information.
              type: string
              readOnly: true
            target:
              description: Detailed error description and debugging information.
              type: string
              readOnly: true
            details:
              type: array
              description: Details or the error
              items:
                description: Detailed errors.
                type: object
                properties:
                  code:
                    description: Standardized string to programmatically identify
                      the error.
                    type: string
                    readOnly: true
                  message:
                    description: Detailed error description and debugging information.
                    type: string
                    readOnly: true
                  target:
                    description: Detailed error description and debugging information.
                    type: string
                    readOnly: true
                readOnly: true
              x-ms-identifiers:
              - code
            innererror:
              description: More information to debug error.
              type: string
              readOnly: true
          readOnly: true
    systemData:
      type: object
      description: Metadata pertaining to creation and last modification of the resource.
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
      readOnly: true
    Resource:
      type: object
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
