openapi: 3.0.0
info:
  version: 2025-01-01
  title: ContainerApps API Client
servers:
- url: https://management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.App/locations/{location}/usages:
    get:
      tags:
      - Usages
      operationId: Usages_List
      description: Gets, for the specified location, the current resource usage information
        as well as the limits under the subscription.
      parameters:
      - name: location
        in: path
        required: true
        description: The location for which resource usage is queried.
        schema:
          type: string
          pattern: ^[-\w\._]+$
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        unit:
                          type: string
                          description: An enum describing the unit of usage measurement.
                          enum:
                          - Count
                          x-ms-enum:
                            name: UsageUnit
                            modelAsString: false
                        currentValue:
                          type: number
                          format: float
                          description: The current usage of the resource.
                        limit:
                          type: number
                          format: float
                          description: The maximum permitted usage of the resource.
                        name:
                          description: The name of the type of usage.
                          type: object
                          properties:
                            value:
                              type: string
                              description: The name of the resource.
                            localizedValue:
                              type: string
                              description: The localized name of the resource.
                      required:
                      - unit
                      - currentValue
                      - limit
                      - name
                      description: Describes Compute Resource Usage.
                    x-ms-identifiers:
                    - name
                    description: The list of compute resource usages.
                  nextLink:
                    type: string
                    description: The URI to fetch the next page of compute resource
                      usage information. Call ListNext() with this to fetch the next
                      page of compute resource usage information.
        default:
          description: Common error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        description: Details or the error
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers:
                        - code
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/usages
  : get:
      tags:
      - Usages
      operationId: ManagedEnvironmentUsages_List
      description: Gets the current usage information as well as the limits for environment.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: environmentName
        in: path
        description: Name of the Environment.
        required: true
        schema:
          type: string
          pattern: ^[-\w\._]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        unit:
                          type: string
                          description: An enum describing the unit of usage measurement.
                          enum:
                          - Count
                          x-ms-enum:
                            name: UsageUnit
                            modelAsString: false
                        currentValue:
                          type: number
                          format: float
                          description: The current usage of the resource.
                        limit:
                          type: number
                          format: float
                          description: The maximum permitted usage of the resource.
                        name:
                          description: The name of the type of usage.
                          type: object
                          properties:
                            value:
                              type: string
                              description: The name of the resource.
                            localizedValue:
                              type: string
                              description: The localized name of the resource.
                      required:
                      - unit
                      - currentValue
                      - limit
                      - name
                      description: Describes Compute Resource Usage.
                    x-ms-identifiers:
                    - name
                    description: The list of compute resource usages.
                  nextLink:
                    type: string
                    description: The URI to fetch the next page of compute resource
                      usage information. Call ListNext() with this to fetch the next
                      page of compute resource usage information.
        default:
          description: Common error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        description: Details or the error
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers:
                        - code
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription.
      required: true
      schema:
        type: string
        minLength: 1
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
  schemas:
    UsageName:
      type: object
      properties:
        value:
          type: string
          description: The name of the resource.
        localizedValue:
          type: string
          description: The localized name of the resource.
      description: The Usage Names.
    Usage:
      type: object
      properties:
        unit:
          type: string
          description: An enum describing the unit of usage measurement.
          enum:
          - Count
          x-ms-enum:
            name: UsageUnit
            modelAsString: false
        currentValue:
          type: number
          format: float
          description: The current usage of the resource.
        limit:
          type: number
          format: float
          description: The maximum permitted usage of the resource.
        name:
          description: The name of the type of usage.
          type: object
          properties:
            value:
              type: string
              description: The name of the resource.
            localizedValue:
              type: string
              description: The localized name of the resource.
      required:
      - unit
      - currentValue
      - limit
      - name
      description: Describes Compute Resource Usage.
    ListUsagesResult:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              unit:
                type: string
                description: An enum describing the unit of usage measurement.
                enum:
                - Count
                x-ms-enum:
                  name: UsageUnit
                  modelAsString: false
              currentValue:
                type: number
                format: float
                description: The current usage of the resource.
              limit:
                type: number
                format: float
                description: The maximum permitted usage of the resource.
              name:
                description: The name of the type of usage.
                type: object
                properties:
                  value:
                    type: string
                    description: The name of the resource.
                  localizedValue:
                    type: string
                    description: The localized name of the resource.
            required:
            - unit
            - currentValue
            - limit
            - name
            description: Describes Compute Resource Usage.
          x-ms-identifiers:
          - name
          description: The list of compute resource usages.
        nextLink:
          type: string
          description: The URI to fetch the next page of compute resource usage information.
            Call ListNext() with this to fetch the next page of compute resource usage
            information.
    DefaultErrorResponse:
      description: App Service error response.
      type: object
      properties:
        error:
          description: Error model.
          type: object
          properties:
            code:
              description: Standardized string to programmatically identify the error.
              type: string
              readOnly: true
            message:
              description: Detailed error description and debugging information.
              type: string
              readOnly: true
            target:
              description: Detailed error description and debugging information.
              type: string
              readOnly: true
            details:
              type: array
              description: Details or the error
              items:
                description: Detailed errors.
                type: object
                properties:
                  code:
                    description: Standardized string to programmatically identify
                      the error.
                    type: string
                    readOnly: true
                  message:
                    description: Detailed error description and debugging information.
                    type: string
                    readOnly: true
                  target:
                    description: Detailed error description and debugging information.
                    type: string
                    readOnly: true
                readOnly: true
              x-ms-identifiers:
              - code
            innererror:
              description: More information to debug error.
              type: string
              readOnly: true
          readOnly: true
