openapi: 3.0.0
info:
  title: Azure Maps Weather Service
  version: '1.1'
servers:
- url: https://atlas.microsoft.com
security:
- AADToken:
  - https://atlas.microsoft.com/.default
- SharedKey: []
- SasToken: []
paths:
  /weather/forecast/hourly/{format}:
    get:
      summary: Use to get a detailed hourly weather forecast for up to 24 hours or
        a daily forecast for up to 10 days.
      description: '


        The `Get Hourly Forecast` API is an HTTP `GET` that Request detailed weather
        forecast by the hour for the next 1, 12, 24 (1 day), 72 (3 days), 120 (5 days),
        and 240 hours (10 days) for the given the given coordinate location.  The
        API returns details such as temperature, humidity, wind, precipitation, and
        ultraviolet (UV) index. For more information, see [Request hourly weather
        forecast data](/azure/azure-maps/how-to-request-weather-data#request-hourly-weather-forecast-data).


        If you are using the Gen1 S0 pricing tier, you can request hourly forecast
        for the next 1, 12, 24 hours (1 day), and 72 hours (3 days). If you are using
        Gen1 S1 or Gen2 pricing tier, you can also request hourly forecast for the
        next 120 (5 days) and 240 hours (10 days).'
      operationId: Weather_GetHourlyForecast
      parameters:
      - name: x-ms-client-id
        x-ms-client-name: clientId
        description: Indicates the account intended for use with the Microsoft Entra
          ID security model. This unique ID for the Azure Maps account can be obtained
          from the [Azure Maps management plane Account API](/rest/api/maps-management/accounts).
          For more information on using Microsoft Entra ID security in Azure Maps,
          see [Manage authentication in Azure Maps](/azure/azure-maps/how-to-manage-authentication).
        in: header
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        description: Version number of Azure Maps API.
        in: query
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: format
        description: Desired format of the response. Only `json` format is supported.
        in: path
        required: true
        x-ms-enum:
          name: JsonFormat
          modelAsString: true
          values:
          - value: json
            description: '[The JavaScript Object Notation Data Interchange Format](https://tools.ietf.org/html/rfc8259)'
        x-ms-client-default: json
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - json
      - name: query
        in: query
        x-ms-client-name: coordinates
        description: 'The applicable query specified as a comma separated string composed
          by latitude followed by longitude e.g. "47.641268,-122.125679".


          Weather information is generally available for locations on land, bodies
          of water surrounded by land, and areas of the ocean that are within approximately
          50 nautical miles of a coastline.'
        required: true
        x-ms-parameter-location: method
        style: form
        explode: false
        schema:
          type: array
          items:
            type: number
            format: double
          minItems: 2
          maxItems: 2
      - name: unit
        description: Specifies to return the data in either metric units or imperial
          units. Default value is metric.
        in: query
        x-ms-enum:
          name: WeatherDataUnit
          modelAsString: true
          values:
          - value: imperial
            description: Return data using imperial units such as Fahrenheit (F) for
              temperature and mile (mi) for distance.
          - value: metric
            description: Return data using metric units such as Celsius (C) for temperature
              and kilometer (km) for distance.
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - imperial
          - metric
      - name: duration
        description: "Time frame of the returned weather forecast. By default, the\
          \ forecast data for next hour will be returned. Available values are\n \
          \ * `1` - Return forecast data for the next hour. Default value.\n  * `12`\
          \ - Return hourly forecast for next 12 hours.\n  * `24` - Return hourly\
          \ forecast for next 24 hours.\n  * `72` - Return hourly forecast for next\
          \ 72 hours (3 days).\n  * `120` - Return hourly forecast for next 120 hours\
          \ (5 days). Only available in S1 SKU. \n  * `240` - Return hourly forecast\
          \ for next 240 hours (10 days). Only available in S1 SKU."
        in: query
        schema:
          type: integer
      - name: language
        in: query
        description: 'Language in which search results should be returned. Should
          be one of supported IETF language tags, case insensitive. When data in specified
          language is not available for a specific field, default language is used.


          Please refer to [Supported Languages](https://docs.microsoft.com/azure/azure-maps/supported-languages)
          for details.'
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  forecasts:
                    type: array
                    description: Forecast data for each returned hour.
                    readOnly: true
                    items:
                      type: object
                      properties:
                        date:
                          x-ms-client-name: timestamp
                          type: string
                          description: Date and time of the forecast in ISO 8601 format,
                            for example, 2019-10-27T19:39:57-08:00.
                          format: date-time
                        iconCode:
                          type: integer
                          format: int32
                          description: Numeric value representing an image that corresponds
                            to the current weather condition described by the `Phrase`
                            property. For more information, see [Weather services
                            in Azure Maps](/azure/azure-maps/weather-services-concepts#weather-icons).
                            May be NULL.
                          enum:
                          - 1
                          - 2
                          - 3
                          - 4
                          - 5
                          - 6
                          - 7
                          - 8
                          - 9
                          - 10
                          - 11
                          - 12
                          - 13
                          - 14
                          - 15
                          - 16
                          - 17
                          - 18
                          - 19
                          - 20
                          - 21
                          - 22
                          - 23
                          - 24
                          - 25
                          - 26
                          - 27
                          - 28
                          - 29
                          - 30
                          - 31
                          - 32
                          - 33
                          - 34
                          - 35
                          - 36
                          - 37
                          - 38
                          - 39
                          - 40
                          - 41
                          - 42
                          - 43
                          - 44
                          x-ms-enum:
                            name: IconCode
                            modelAsString: true
                            values:
                            - value: 1
                              name: Sunny
                              description: Sunny
                            - value: 2
                              name: MostlySunny
                              description: Mostly Sunny
                            - value: 3
                              name: PartlySunny
                              description: Partly Sunny
                            - value: 4
                              name: IntermittentClouds
                              description: Intermittent Clouds
                            - value: 5
                              name: HazySunshine
                              description: Hazy Sunshine
                            - value: 6
                              name: MostlyCloudy
                              description: Mostly Cloudy
                            - value: 7
                              name: Cloudy
                              description: Cloudy
                            - value: 8
                              name: Dreary
                              description: Dreary (Overcast)
                            - value: 11
                              name: Fog
                              description: Fog
                            - value: 12
                              name: Showers
                              description: Showers
                            - value: 13
                              name: MostlyCloudyWithShowers
                              description: Mostly Cloudy with Showers
                            - value: 14
                              name: PartlySunnyWithShowers
                              description: Partly Sunny with Showers
                            - value: 15
                              name: Thunderstorms
                              description: Thunderstorms
                            - value: 16
                              name: MostlyCloudyWithThunderstorms
                              description: Mostly Cloudy with Thunderstorms
                            - value: 17
                              name: PartlySunnyWithThunderstorms
                              description: Partly Sunny with Thunderstorms
                            - value: 18
                              name: Rain
                              description: Rain
                            - value: 19
                              name: Flurries
                              description: Flurries
                            - value: 20
                              name: MostlyCloudyWithFlurries
                              description: Mostly Cloudy with Flurries
                            - value: 21
                              name: PartlySunnyWithFlurries
                              description: Partly Sunny with Flurries
                            - value: 22
                              name: Snow
                              description: Snow
                            - value: 23
                              name: MostlyCloudyWithSnow
                              description: Mostly Cloudy with Snow
                            - value: 24
                              name: Ice
                              description: Ice
                            - value: 25
                              name: Sleet
                              description: Sleet
                            - value: 26
                              name: FreezingRain
                              description: Freezing Rain
                            - value: 29
                              name: RainAndSnow
                              description: Rain and Snow
                            - value: 30
                              name: Hot
                              description: Hot
                            - value: 31
                              name: Cold
                              description: Cold
                            - value: 32
                              name: Windy
                              description: Windy
                            - value: 33
                              name: Clear
                              description: Clear
                            - value: 34
                              name: Mostly Clear
                              description: Mostly Clear
                            - value: 35
                              name: Partly Cloudy
                              description: Partly Cloudy
                            - value: 36
                              name: IntermittentCloudsNight
                              description: Intermittent Clouds (Night)
                            - value: 37
                              name: HazyMoonlight
                              description: Hazy Moonlight
                            - value: 38
                              name: MostlyCloudyNight
                              description: Mostly Cloudy (Night)
                            - value: 39
                              name: PartlyCloudyWithShowers
                              description: Partly Cloudy with Showers
                            - value: 40
                              name: MostlyCloudyWithShowersNight
                              description: Mostly Cloudy with Showers (Night)
                            - value: 41
                              name: Partly Cloudy with Thunderstorms
                              description: Partly Cloudy with Thunderstorms
                            - value: 42
                              name: MostlyCloudyWithThunderstormsNight
                              description: Mostly Cloudy with Thunderstorms (Night)
                            - value: 43
                              name: MostlyCloudyWithFlurriesNight
                              description: Mostly Cloudy with Flurries (Night)
                            - value: 44
                              name: MostlyCloudyWithSnowNight
                              description: Mostly Cloudy with Snow (Night)
                        iconPhrase:
                          type: string
                          description: Phrase description of the weather icon.
                        hasPrecipitation:
                          type: boolean
                          description: Indicates the presence or absence of precipitation.
                            True indicates the presence of precipitation, false indicates
                            the absence of precipitation.
                        isDaylight:
                          type: boolean
                          description: Specifies whether or not it is daylight. True
                            indicates day light.
                        temperature:
                          description: Temperature being returned.
                          x-ms-client-name: WeatherValue
                          type: object
                          properties:
                            value:
                              type: number
                              format: float
                              description: Rounded value.
                            unit:
                              x-ms-client-name: unitLabel
                              type: string
                              description: Type of unit for the returned value.
                            unitType:
                              type: integer
                              format: int32
                              description: An integer representing the unit type.  For
                                example, 17 for Celsius, 18 for Fahrenheit. Can be
                                used for unit translation. For a complete list, see
                                [Weather services in Azure Maps](/azure/azure-maps/weather-services-concepts#unit-types).
                              enum:
                              - 0
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              - 7
                              - 8
                              - 9
                              - 10
                              - 11
                              - 12
                              - 13
                              - 14
                              - 15
                              - 16
                              - 17
                              - 18
                              - 19
                              - 20
                              - 21
                              - 22
                              - 31
                              x-ms-enum:
                                name: UnitType
                                modelAsString: true
                                values:
                                - value: 0
                                  name: Feet
                                  description: feet
                                - value: 1
                                  name: Inches
                                  description: inches
                                - value: 2
                                  name: Miles
                                  description: miles
                                - value: 3
                                  name: Millimeter
                                  description: millimeter
                                - value: 4
                                  name: Centimeter
                                  description: centimeter
                                - value: 5
                                  name: Meter
                                  description: meter
                                - value: 6
                                  name: Kilometer
                                  description: kilometer
                                - value: 7
                                  name: KilometersPerHour
                                  description: kilometersPerHour
                                - value: 8
                                  name: Knots
                                  description: knots
                                - value: 9
                                  name: MilesPerHour
                                  description: milesPerHour
                                - value: 10
                                  name: MetersPerSecond
                                  description: metersPerSecond
                                - value: 11
                                  name: HectoPascals
                                  description: hectoPascals
                                - value: 12
                                  name: InchesOfMercury
                                  description: inchesOfMercury
                                - value: 13
                                  name: KiloPascals
                                  description: kiloPascals
                                - value: 14
                                  name: Millibars
                                  description: millibars
                                - value: 15
                                  name: MillimetersOfMercury
                                  description: millimetersOfMercury
                                - value: 16
                                  name: PoundsPerSquareInch
                                  description: poundsPerSquareInch
                                - value: 17
                                  name: Celsius
                                  description: Celsius
                                - value: 18
                                  name: Fahrenheit
                                  description: Fahrenheit
                                - value: 19
                                  name: Kelvin
                                  description: kelvin
                                - value: 20
                                  name: Percent
                                  description: percent
                                - value: 21
                                  name: Float
                                  description: float
                                - value: 22
                                  name: Integer
                                  description: integer
                                - value: 31
                                  name: MicrogramsPerCubicMeterOfAir
                                  description: MicrogramsPerCubicMeterOfAir
                        realFeelTemperature:
                          description: "RealFeel\u2122 Temperature being returned.\
                            \ Describes what the temperature really feels like in\
                            \ the shade."
                          x-ms-client-name: WeatherValue
                          type: object
                          properties:
                            value:
                              type: number
                              format: float
                              description: Rounded value.
                            unit:
                              x-ms-client-name: unitLabel
                              type: string
                              description: Type of unit for the returned value.
                            unitType:
                              type: integer
                              format: int32
                              description: An integer representing the unit type.  For
                                example, 17 for Celsius, 18 for Fahrenheit. Can be
                                used for unit translation. For a complete list, see
                                [Weather services in Azure Maps](/azure/azure-maps/weather-services-concepts#unit-types).
                              enum:
                              - 0
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              - 7
                              - 8
                              - 9
                              - 10
                              - 11
                              - 12
                              - 13
                              - 14
                              - 15
                              - 16
                              - 17
                              - 18
                              - 19
                              - 20
                              - 21
                              - 22
                              - 31
                              x-ms-enum:
                                name: UnitType
                                modelAsString: true
                                values:
                                - value: 0
                                  name: Feet
                                  description: feet
                                - value: 1
                                  name: Inches
                                  description: inches
                                - value: 2
                                  name: Miles
                                  description: miles
                                - value: 3
                                  name: Millimeter
                                  description: millimeter
                                - value: 4
                                  name: Centimeter
                                  description: centimeter
                                - value: 5
                                  name: Meter
                                  description: meter
                                - value: 6
                                  name: Kilometer
                                  description: kilometer
                                - value: 7
                                  name: KilometersPerHour
                                  description: kilometersPerHour
                                - value: 8
                                  name: Knots
                                  description: knots
                                - value: 9
                                  name: MilesPerHour
                                  description: milesPerHour
                                - value: 10
                                  name: MetersPerSecond
                                  description: metersPerSecond
                                - value: 11
                                  name: HectoPascals
                                  description: hectoPascals
                                - value: 12
                                  name: InchesOfMercury
                                  description: inchesOfMercury
                                - value: 13
                                  name: KiloPascals
                                  description: kiloPascals
                                - value: 14
                                  name: Millibars
                                  description: millibars
                                - value: 15
                                  name: MillimetersOfMercury
                                  description: millimetersOfMercury
                                - value: 16
                                  name: PoundsPerSquareInch
                                  description: poundsPerSquareInch
                                - value: 17
                                  name: Celsius
                                  description: Celsius
                                - value: 18
                                  name: Fahrenheit
                                  description: Fahrenheit
                                - value: 19
                                  name: Kelvin
                                  description: kelvin
                                - value: 20
                                  name: Percent
                                  description: percent
                                - value: 21
                                  name: Float
                                  description: float
                                - value: 22
                                  name: Integer
                                  description: integer
                                - value: 31
                                  name: MicrogramsPerCubicMeterOfAir
                                  description: MicrogramsPerCubicMeterOfAir
                        wetBulbTemperature:
                          description: The temperature to which air may be cooled
                            by evaporating water into it at constant pressure until
                            it reaches saturation.
                          x-ms-client-name: WeatherValue
                          type: object
                          properties:
                            value:
                              type: number
                              format: float
                              description: Rounded value.
                            unit:
                              x-ms-client-name: unitLabel
                              type: string
                              description: Type of unit for the returned value.
                            unitType:
                              type: integer
                              format: int32
                              description: An integer representing the unit type.  For
                                example, 17 for Celsius, 18 for Fahrenheit. Can be
                                used for unit translation. For a complete list, see
                                [Weather services in Azure Maps](/azure/azure-maps/weather-services-concepts#unit-types).
                              enum:
                              - 0
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              - 7
                              - 8
                              - 9
                              - 10
                              - 11
                              - 12
                              - 13
                              - 14
                              - 15
                              - 16
                              - 17
                              - 18
                              - 19
                              - 20
                              - 21
                              - 22
                              - 31
                              x-ms-enum:
                                name: UnitType
                                modelAsString: true
                                values:
                                - value: 0
                                  name: Feet
                                  description: feet
                                - value: 1
                                  name: Inches
                                  description: inches
                                - value: 2
                                  name: Miles
                                  description: miles
                                - value: 3
                                  name: Millimeter
                                  description: millimeter
                                - value: 4
                                  name: Centimeter
                                  description: centimeter
                                - value: 5
                                  name: Meter
                                  description: meter
                                - value: 6
                                  name: Kilometer
                                  description: kilometer
                                - value: 7
                                  name: KilometersPerHour
                                  description: kilometersPerHour
                                - value: 8
                                  name: Knots
                                  description: knots
                                - value: 9
                                  name: MilesPerHour
                                  description: milesPerHour
                                - value: 10
                                  name: MetersPerSecond
                                  description: metersPerSecond
                                - value: 11
                                  name: HectoPascals
                                  description: hectoPascals
                                - value: 12
                                  name: InchesOfMercury
                                  description: inchesOfMercury
                                - value: 13
                                  name: KiloPascals
                                  description: kiloPascals
                                - value: 14
                                  name: Millibars
                                  description: millibars
                                - value: 15
                                  name: MillimetersOfMercury
                                  description: millimetersOfMercury
                                - value: 16
                                  name: PoundsPerSquareInch
                                  description: poundsPerSquareInch
                                - value: 17
                                  name: Celsius
                                  description: Celsius
                                - value: 18
                                  name: Fahrenheit
                                  description: Fahrenheit
                                - value: 19
                                  name: Kelvin
                                  description: kelvin
                                - value: 20
                                  name: Percent
                                  description: percent
                                - value: 21
                                  name: Float
                                  description: float
                                - value: 22
                                  name: Integer
                                  description: integer
                                - value: 31
                                  name: MicrogramsPerCubicMeterOfAir
                                  description: MicrogramsPerCubicMeterOfAir
                        dewPoint:
                          description: The dewpoint temperature in specified unit.
                            The dewpoint temperature is the temperature that the air
                            must be cooled to in order to reach saturation.
                          x-ms-client-name: WeatherValue
                          type: object
                          properties:
                            value:
                              type: number
                              format: float
                              description: Rounded value.
                            unit:
                              x-ms-client-name: unitLabel
                              type: string
                              description: Type of unit for the returned value.
                            unitType:
                              type: integer
                              format: int32
                              description: An integer representing the unit type.  For
                                example, 17 for Celsius, 18 for Fahrenheit. Can be
                                used for unit translation. For a complete list, see
                                [Weather services in Azure Maps](/azure/azure-maps/weather-services-concepts#unit-types).
                              enum:
                              - 0
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              - 7
                              - 8
                              - 9
                              - 10
                              - 11
                              - 12
                              - 13
                              - 14
                              - 15
                              - 16
                              - 17
                              - 18
                              - 19
                              - 20
                              - 21
                              - 22
                              - 31
                              x-ms-enum:
                                name: UnitType
                                modelAsString: true
                                values:
                                - value: 0
                                  name: Feet
                                  description: feet
                                - value: 1
                                  name: Inches
                                  description: inches
                                - value: 2
                                  name: Miles
                                  description: miles
                                - value: 3
                                  name: Millimeter
                                  description: millimeter
                                - value: 4
                                  name: Centimeter
                                  description: centimeter
                                - value: 5
                                  name: Meter
                                  description: meter
                                - value: 6
                                  name: Kilometer
                                  description: kilometer
                                - value: 7
                                  name: KilometersPerHour
                                  description: kilometersPerHour
                                - value: 8
                                  name: Knots
                                  description: knots
                                - value: 9
                                  name: MilesPerHour
                                  description: milesPerHour
                                - value: 10
                                  name: MetersPerSecond
                                  description: metersPerSecond
                                - value: 11
                                  name: HectoPascals
                                  description: hectoPascals
                                - value: 12
                                  name: InchesOfMercury
                                  description: inchesOfMercury
                                - value: 13
                                  name: KiloPascals
                                  description: kiloPascals
                                - value: 14
                                  name: Millibars
                                  description: millibars
                                - value: 15
                                  name: MillimetersOfMercury
                                  description: millimetersOfMercury
                                - value: 16
                                  name: PoundsPerSquareInch
                                  description: poundsPerSquareInch
                                - value: 17
                                  name: Celsius
                                  description: Celsius
                                - value: 18
                                  name: Fahrenheit
                                  description: Fahrenheit
                                - value: 19
                                  name: Kelvin
                                  description: kelvin
                                - value: 20
                                  name: Percent
                                  description: percent
                                - value: 21
                                  name: Float
                                  description: float
                                - value: 22
                                  name: Integer
                                  description: integer
                                - value: 31
                                  name: MicrogramsPerCubicMeterOfAir
                                  description: MicrogramsPerCubicMeterOfAir
                        wind:
                          description: Wind details being returned including speed
                            and direction.
                          type: object
                          properties:
                            direction:
                              description: Wind direction
                              type: object
                              properties:
                                degrees:
                                  type: integer
                                  format: int32
                                  description: Wind direction in Azimuth degrees,  starting
                                    at true North and continuing in clockwise direction.
                                    North is 0 degrees, east is 90 degrees, south
                                    is 180 degrees, west is 270 degrees. Possible
                                    values 0-359.
                                localizedDescription:
                                  x-ms-client-name: description
                                  type: string
                                  description: Direction abbreviation in the specified
                                    language.
                            speed:
                              description: Speed of the wind in specified unit.
                              x-ms-client-name: WeatherValue
                              type: object
                              properties:
                                value:
                                  type: number
                                  format: float
                                  description: Rounded value.
                                unit:
                                  x-ms-client-name: unitLabel
                                  type: string
                                  description: Type of unit for the returned value.
                                unitType:
                                  type: integer
                                  format: int32
                                  description: An integer representing the unit type.  For
                                    example, 17 for Celsius, 18 for Fahrenheit. Can
                                    be used for unit translation. For a complete list,
                                    see [Weather services in Azure Maps](/azure/azure-maps/weather-services-concepts#unit-types).
                                  enum:
                                  - 0
                                  - 1
                                  - 2
                                  - 3
                                  - 4
                                  - 5
                                  - 6
                                  - 7
                                  - 8
                                  - 9
                                  - 10
                                  - 11
                                  - 12
                                  - 13
                                  - 14
                                  - 15
                                  - 16
                                  - 17
                                  - 18
                                  - 19
                                  - 20
                                  - 21
                                  - 22
                                  - 31
                                  x-ms-enum:
                                    name: UnitType
                                    modelAsString: true
                                    values:
                                    - value: 0
                                      name: Feet
                                      description: feet
                                    - value: 1
                                      name: Inches
                                      description: inches
                                    - value: 2
                                      name: Miles
                                      description: miles
                                    - value: 3
                                      name: Millimeter
                                      description: millimeter
                                    - value: 4
                                      name: Centimeter
                                      description: centimeter
                                    - value: 5
                                      name: Meter
                                      description: meter
                                    - value: 6
                                      name: Kilometer
                                      description: kilometer
                                    - value: 7
                                      name: KilometersPerHour
                                      description: kilometersPerHour
                                    - value: 8
                                      name: Knots
                                      description: knots
                                    - value: 9
                                      name: MilesPerHour
                                      description: milesPerHour
                                    - value: 10
                                      name: MetersPerSecond
                                      description: metersPerSecond
                                    - value: 11
                                      name: HectoPascals
                                      description: hectoPascals
                                    - value: 12
                                      name: InchesOfMercury
                                      description: inchesOfMercury
                                    - value: 13
                                      name: KiloPascals
                                      description: kiloPascals
                                    - value: 14
                                      name: Millibars
                                      description: millibars
                                    - value: 15
                                      name: MillimetersOfMercury
                                      description: millimetersOfMercury
                                    - value: 16
                                      name: PoundsPerSquareInch
                                      description: poundsPerSquareInch
                                    - value: 17
                                      name: Celsius
                                      description: Celsius
                                    - value: 18
                                      name: Fahrenheit
                                      description: Fahrenheit
                                    - value: 19
                                      name: Kelvin
                                      description: kelvin
                                    - value: 20
                                      name: Percent
                                      description: percent
                                    - value: 21
                                      name: Float
                                      description: float
                                    - value: 22
                                      name: Integer
                                      description: integer
                                    - value: 31
                                      name: MicrogramsPerCubicMeterOfAir
                                      description: MicrogramsPerCubicMeterOfAir
                        windGust:
                          description: Wind gust. Wind gust is a sudden, brief increase
                            in speed of the wind.
                          type: object
                          properties:
                            direction:
                              description: Wind direction
                              type: object
                              properties:
                                degrees:
                                  type: integer
                                  format: int32
                                  description: Wind direction in Azimuth degrees,  starting
                                    at true North and continuing in clockwise direction.
                                    North is 0 degrees, east is 90 degrees, south
                                    is 180 degrees, west is 270 degrees. Possible
                                    values 0-359.
                                localizedDescription:
                                  x-ms-client-name: description
                                  type: string
                                  description: Direction abbreviation in the specified
                                    language.
                            speed:
                              description: Speed of the wind in specified unit.
                              x-ms-client-name: WeatherValue
                              type: object
                              properties:
                                value:
                                  type: number
                                  format: float
                                  description: Rounded value.
                                unit:
                                  x-ms-client-name: unitLabel
                                  type: string
                                  description: Type of unit for the returned value.
                                unitType:
                                  type: integer
                                  format: int32
                                  description: An integer representing the unit type.  For
                                    example, 17 for Celsius, 18 for Fahrenheit. Can
                                    be used for unit translation. For a complete list,
                                    see [Weather services in Azure Maps](/azure/azure-maps/weather-services-concepts#unit-types).
                                  enum:
                                  - 0
                                  - 1
                                  - 2
                                  - 3
                                  - 4
                                  - 5
                                  - 6
                                  - 7
                                  - 8
                                  - 9
                                  - 10
                                  - 11
                                  - 12
                                  - 13
                                  - 14
                                  - 15
                                  - 16
                                  - 17
                                  - 18
                                  - 19
                                  - 20
                                  - 21
                                  - 22
                                  - 31
                                  x-ms-enum:
                                    name: UnitType
                                    modelAsString: true
                                    values:
                                    - value: 0
                                      name: Feet
                                      description: feet
                                    - value: 1
                                      name: Inches
                                      description: inches
                                    - value: 2
                                      name: Miles
                                      description: miles
                                    - value: 3
                                      name: Millimeter
                                      description: millimeter
                                    - value: 4
                                      name: Centimeter
                                      description: centimeter
                                    - value: 5
                                      name: Meter
                                      description: meter
                                    - value: 6
                                      name: Kilometer
                                      description: kilometer
                                    - value: 7
                                      name: KilometersPerHour
                                      description: kilometersPerHour
                                    - value: 8
                                      name: Knots
                                      description: knots
                                    - value: 9
                                      name: MilesPerHour
                                      description: milesPerHour
                                    - value: 10
                                      name: MetersPerSecond
                                      description: metersPerSecond
                                    - value: 11
                                      name: HectoPascals
                                      description: hectoPascals
                                    - value: 12
                                      name: InchesOfMercury
                                      description: inchesOfMercury
                                    - value: 13
                                      name: KiloPascals
                                      description: kiloPascals
                                    - value: 14
                                      name: Millibars
                                      description: millibars
                                    - value: 15
                                      name: MillimetersOfMercury
                                      description: millimetersOfMercury
                                    - value: 16
                                      name: PoundsPerSquareInch
                                      description: poundsPerSquareInch
                                    - value: 17
                                      name: Celsius
                                      description: Celsius
                                    - value: 18
                                      name: Fahrenheit
                                      description: Fahrenheit
                                    - value: 19
                                      name: Kelvin
                                      description: kelvin
                                    - value: 20
                                      name: Percent
                                      description: percent
                                    - value: 21
                                      name: Float
                                      description: float
                                    - value: 22
                                      name: Integer
                                      description: integer
                                    - value: 31
                                      name: MicrogramsPerCubicMeterOfAir
                                      description: MicrogramsPerCubicMeterOfAir
                        relativeHumidity:
                          type: integer
                          format: int32
                          description: Relative humidity is the amount of water vapor
                            present in air expressed as a percentage of the amount
                            needed for saturation at the same temperature.
                        visibility:
                          description: Visibility in specified unit. A measure of
                            the distance at which an object or light can be clearly
                            discerned.
                          x-ms-client-name: WeatherValue
                          type: object
                          properties:
                            value:
                              type: number
                              format: float
                              description: Rounded value.
                            unit:
                              x-ms-client-name: unitLabel
                              type: string
                              description: Type of unit for the returned value.
                            unitType:
                              type: integer
                              format: int32
                              description: An integer representing the unit type.  For
                                example, 17 for Celsius, 18 for Fahrenheit. Can be
                                used for unit translation. For a complete list, see
                                [Weather services in Azure Maps](/azure/azure-maps/weather-services-concepts#unit-types).
                              enum:
                              - 0
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              - 7
                              - 8
                              - 9
                              - 10
                              - 11
                              - 12
                              - 13
                              - 14
                              - 15
                              - 16
                              - 17
                              - 18
                              - 19
                              - 20
                              - 21
                              - 22
                              - 31
                              x-ms-enum:
                                name: UnitType
                                modelAsString: true
                                values:
                                - value: 0
                                  name: Feet
                                  description: feet
                                - value: 1
                                  name: Inches
                                  description: inches
                                - value: 2
                                  name: Miles
                                  description: miles
                                - value: 3
                                  name: Millimeter
                                  description: millimeter
                                - value: 4
                                  name: Centimeter
                                  description: centimeter
                                - value: 5
                                  name: Meter
                                  description: meter
                                - value: 6
                                  name: Kilometer
                                  description: kilometer
                                - value: 7
                                  name: KilometersPerHour
                                  description: kilometersPerHour
                                - value: 8
                                  name: Knots
                                  description: knots
                                - value: 9
                                  name: MilesPerHour
                                  description: milesPerHour
                                - value: 10
                                  name: MetersPerSecond
                                  description: metersPerSecond
                                - value: 11
                                  name: HectoPascals
                                  description: hectoPascals
                                - value: 12
                                  name: InchesOfMercury
                                  description: inchesOfMercury
                                - value: 13
                                  name: KiloPascals
                                  description: kiloPascals
                                - value: 14
                                  name: Millibars
                                  description: millibars
                                - value: 15
                                  name: MillimetersOfMercury
                                  description: millimetersOfMercury
                                - value: 16
                                  name: PoundsPerSquareInch
                                  description: poundsPerSquareInch
                                - value: 17
                                  name: Celsius
                                  description: Celsius
                                - value: 18
                                  name: Fahrenheit
                                  description: Fahrenheit
                                - value: 19
                                  name: Kelvin
                                  description: kelvin
                                - value: 20
                                  name: Percent
                                  description: percent
                                - value: 21
                                  name: Float
                                  description: float
                                - value: 22
                                  name: Integer
                                  description: integer
                                - value: 31
                                  name: MicrogramsPerCubicMeterOfAir
                                  description: MicrogramsPerCubicMeterOfAir
                        ceiling:
                          x-ms-client-name: cloudCeiling
                          description: Cloud ceiling in specified unit. The ceiling
                            is a measurement of the height of the base of the lowest
                            clouds.
                          type: object
                          properties:
                            value:
                              type: number
                              format: float
                              description: Rounded value.
                            unit:
                              x-ms-client-name: unitLabel
                              type: string
                              description: Type of unit for the returned value.
                            unitType:
                              type: integer
                              format: int32
                              description: An integer representing the unit type.  For
                                example, 17 for Celsius, 18 for Fahrenheit. Can be
                                used for unit translation. For a complete list, see
                                [Weather services in Azure Maps](/azure/azure-maps/weather-services-concepts#unit-types).
                              enum:
                              - 0
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              - 7
                              - 8
                              - 9
                              - 10
                              - 11
                              - 12
                              - 13
                              - 14
                              - 15
                              - 16
                              - 17
                              - 18
                              - 19
                              - 20
                              - 21
                              - 22
                              - 31
                              x-ms-enum:
                                name: UnitType
                                modelAsString: true
                                values:
                                - value: 0
                                  name: Feet
                                  description: feet
                                - value: 1
                                  name: Inches
                                  description: inches
                                - value: 2
                                  name: Miles
                                  description: miles
                                - value: 3
                                  name: Millimeter
                                  description: millimeter
                                - value: 4
                                  name: Centimeter
                                  description: centimeter
                                - value: 5
                                  name: Meter
                                  description: meter
                                - value: 6
                                  name: Kilometer
                                  description: kilometer
                                - value: 7
                                  name: KilometersPerHour
                                  description: kilometersPerHour
                                - value: 8
                                  name: Knots
                                  description: knots
                                - value: 9
                                  name: MilesPerHour
                                  description: milesPerHour
                                - value: 10
                                  name: MetersPerSecond
                                  description: metersPerSecond
                                - value: 11
                                  name: HectoPascals
                                  description: hectoPascals
                                - value: 12
                                  name: InchesOfMercury
                                  description: inchesOfMercury
                                - value: 13
                                  name: KiloPascals
                                  description: kiloPascals
                                - value: 14
                                  name: Millibars
                                  description: millibars
                                - value: 15
                                  name: MillimetersOfMercury
                                  description: millimetersOfMercury
                                - value: 16
                                  name: PoundsPerSquareInch
                                  description: poundsPerSquareInch
                                - value: 17
                                  name: Celsius
                                  description: Celsius
                                - value: 18
                                  name: Fahrenheit
                                  description: Fahrenheit
                                - value: 19
                                  name: Kelvin
                                  description: kelvin
                                - value: 20
                                  name: Percent
                                  description: percent
                                - value: 21
                                  name: Float
                                  description: float
                                - value: 22
                                  name: Integer
                                  description: integer
                                - value: 31
                                  name: MicrogramsPerCubicMeterOfAir
                                  description: MicrogramsPerCubicMeterOfAir
                        uvIndex:
                          type: integer
                          format: int32
                          description: "Measure of the strength of the ultraviolet\
                            \ radiation from the sun. Supported values are:\n  * `0-2`\
                            \ - Low danger from the sun's UV rays or the average person.\n\
                            \  * `3-5` - Moderate risk of harm from unprotected sun\
                            \ exposure.\n  * `6-7` - High risk of harm from unprotected\
                            \ sun exposure.\n  * `8-10` - Very high risk of harm from\
                            \ unprotected sun exposure.\n  * `11+` - Extreme risk\
                            \ of harm from unprotected sun exposure."
                        uvIndexPhrase:
                          x-ms-client-name: uvIndexDescription
                          type: string
                          description: Phrase associated with the `uvIndex`.
                        precipitationProbability:
                          type: integer
                          format: int32
                          description: Percent representing the probability of precipitation.
                            For example, '20'.
                        rainProbability:
                          type: integer
                          format: int32
                          description: Percent representing the probability of rain.
                            For example, '50'.
                        snowProbability:
                          type: integer
                          format: int32
                          description: Percent representing the probability of snow.
                            For example, '50'.
                        iceProbability:
                          type: integer
                          format: int32
                          description: Percent representing the probability of snow.
                            For example, '5'.
                        totalLiquid:
                          description: Total liquid equivalent of precipitation during
                            the forecast period.
                          x-ms-client-name: WeatherValue
                          type: object
                          properties:
                            value:
                              type: number
                              format: float
                              description: Rounded value.
                            unit:
                              x-ms-client-name: unitLabel
                              type: string
                              description: Type of unit for the returned value.
                            unitType:
                              type: integer
                              format: int32
                              description: An integer representing the unit type.  For
                                example, 17 for Celsius, 18 for Fahrenheit. Can be
                                used for unit translation. For a complete list, see
                                [Weather services in Azure Maps](/azure/azure-maps/weather-services-concepts#unit-types).
                              enum:
                              - 0
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              - 7
                              - 8
                              - 9
                              - 10
                              - 11
                              - 12
                              - 13
                              - 14
                              - 15
                              - 16
                              - 17
                              - 18
                              - 19
                              - 20
                              - 21
                              - 22
                              - 31
                              x-ms-enum:
                                name: UnitType
                                modelAsString: true
                                values:
                                - value: 0
                                  name: Feet
                                  description: feet
                                - value: 1
                                  name: Inches
                                  description: inches
                                - value: 2
                                  name: Miles
                                  description: miles
                                - value: 3
                                  name: Millimeter
                                  description: millimeter
                                - value: 4
                                  name: Centimeter
                                  description: centimeter
                                - value: 5
                                  name: Meter
                                  description: meter
                                - value: 6
                                  name: Kilometer
                                  description: kilometer
                                - value: 7
                                  name: KilometersPerHour
                                  description: kilometersPerHour
                                - value: 8
                                  name: Knots
                                  description: knots
                                - value: 9
                                  name: MilesPerHour
                                  description: milesPerHour
                                - value: 10
                                  name: MetersPerSecond
                                  description: metersPerSecond
                                - value: 11
                                  name: HectoPascals
                                  description: hectoPascals
                                - value: 12
                                  name: InchesOfMercury
                                  description: inchesOfMercury
                                - value: 13
                                  name: KiloPascals
                                  description: kiloPascals
                                - value: 14
                                  name: Millibars
                                  description: millibars
                                - value: 15
                                  name: MillimetersOfMercury
                                  description: millimetersOfMercury
                                - value: 16
                                  name: PoundsPerSquareInch
                                  description: poundsPerSquareInch
                                - value: 17
                                  name: Celsius
                                  description: Celsius
                                - value: 18
                                  name: Fahrenheit
                                  description: Fahrenheit
                                - value: 19
                                  name: Kelvin
                                  description: kelvin
                                - value: 20
                                  name: Percent
                                  description: percent
                                - value: 21
                                  name: Float
                                  description: float
                                - value: 22
                                  name: Integer
                                  description: integer
                                - value: 31
                                  name: MicrogramsPerCubicMeterOfAir
                                  description: MicrogramsPerCubicMeterOfAir
                        rain:
                          description: Rain
                          x-ms-client-name: WeatherValue
                          type: object
                          properties:
                            value:
                              type: number
                              format: float
                              description: Rounded value.
                            unit:
                              x-ms-client-name: unitLabel
                              type: string
                              description: Type of unit for the returned value.
                            unitType:
                              type: integer
                              format: int32
                              description: An integer representing the unit type.  For
                                example, 17 for Celsius, 18 for Fahrenheit. Can be
                                used for unit translation. For a complete list, see
                                [Weather services in Azure Maps](/azure/azure-maps/weather-services-concepts#unit-types).
                              enum:
                              - 0
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              - 7
                              - 8
                              - 9
                              - 10
                              - 11
                              - 12
                              - 13
                              - 14
                              - 15
                              - 16
                              - 17
                              - 18
                              - 19
                              - 20
                              - 21
                              - 22
                              - 31
                              x-ms-enum:
                                name: UnitType
                                modelAsString: true
                                values:
                                - value: 0
                                  name: Feet
                                  description: feet
                                - value: 1
                                  name: Inches
                                  description: inches
                                - value: 2
                                  name: Miles
                                  description: miles
                                - value: 3
                                  name: Millimeter
                                  description: millimeter
                                - value: 4
                                  name: Centimeter
                                  description: centimeter
                                - value: 5
                                  name: Meter
                                  description: meter
                                - value: 6
                                  name: Kilometer
                                  description: kilometer
                                - value: 7
                                  name: KilometersPerHour
                                  description: kilometersPerHour
                                - value: 8
                                  name: Knots
                                  description: knots
                                - value: 9
                                  name: MilesPerHour
                                  description: milesPerHour
                                - value: 10
                                  name: MetersPerSecond
                                  description: metersPerSecond
                                - value: 11
                                  name: HectoPascals
                                  description: hectoPascals
                                - value: 12
                                  name: InchesOfMercury
                                  description: inchesOfMercury
                                - value: 13
                                  name: KiloPascals
                                  description: kiloPascals
                                - value: 14
                                  name: Millibars
                                  description: millibars
                                - value: 15
                                  name: MillimetersOfMercury
                                  description: millimetersOfMercury
                                - value: 16
                                  name: PoundsPerSquareInch
                                  description: poundsPerSquareInch
                                - value: 17
                                  name: Celsius
                                  description: Celsius
                                - value: 18
                                  name: Fahrenheit
                                  description: Fahrenheit
                                - value: 19
                                  name: Kelvin
                                  description: kelvin
                                - value: 20
                                  name: Percent
                                  description: percent
                                - value: 21
                                  name: Float
                                  description: float
                                - value: 22
                                  name: Integer
                                  description: integer
                                - value: 31
                                  name: MicrogramsPerCubicMeterOfAir
                                  description: MicrogramsPerCubicMeterOfAir
                        snow:
                          description: Snow
                          x-ms-client-name: WeatherValue
                          type: object
                          properties:
                            value:
                              type: number
                              format: float
                              description: Rounded value.
                            unit:
                              x-ms-client-name: unitLabel
                              type: string
                              description: Type of unit for the returned value.
                            unitType:
                              type: integer
                              format: int32
                              description: An integer representing the unit type.  For
                                example, 17 for Celsius, 18 for Fahrenheit. Can be
                                used for unit translation. For a complete list, see
                                [Weather services in Azure Maps](/azure/azure-maps/weather-services-concepts#unit-types).
                              enum:
                              - 0
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              - 7
                              - 8
                              - 9
                              - 10
                              - 11
                              - 12
                              - 13
                              - 14
                              - 15
                              - 16
                              - 17
                              - 18
                              - 19
                              - 20
                              - 21
                              - 22
                              - 31
                              x-ms-enum:
                                name: UnitType
                                modelAsString: true
                                values:
                                - value: 0
                                  name: Feet
                                  description: feet
                                - value: 1
                                  name: Inches
                                  description: inches
                                - value: 2
                                  name: Miles
                                  description: miles
                                - value: 3
                                  name: Millimeter
                                  description: millimeter
                                - value: 4
                                  name: Centimeter
                                  description: centimeter
                                - value: 5
                                  name: Meter
                                  description: meter
                                - value: 6
                                  name: Kilometer
                                  description: kilometer
                                - value: 7
                                  name: KilometersPerHour
                                  description: kilometersPerHour
                                - value: 8
                                  name: Knots
                                  description: knots
                                - value: 9
                                  name: MilesPerHour
                                  description: milesPerHour
                                - value: 10
                                  name: MetersPerSecond
                                  description: metersPerSecond
                                - value: 11
                                  name: HectoPascals
                                  description: hectoPascals
                                - value: 12
                                  name: InchesOfMercury
                                  description: inchesOfMercury
                                - value: 13
                                  name: KiloPascals
                                  description: kiloPascals
                                - value: 14
                                  name: Millibars
                                  description: millibars
                                - value: 15
                                  name: MillimetersOfMercury
                                  description: millimetersOfMercury
                                - value: 16
                                  name: PoundsPerSquareInch
                                  description: poundsPerSquareInch
                                - value: 17
                                  name: Celsius
                                  description: Celsius
                                - value: 18
                                  name: Fahrenheit
                                  description: Fahrenheit
                                - value: 19
                                  name: Kelvin
                                  description: kelvin
                                - value: 20
                                  name: Percent
                                  description: percent
                                - value: 21
                                  name: Float
                                  description: float
                                - value: 22
                                  name: Integer
                                  description: integer
                                - value: 31
                                  name: MicrogramsPerCubicMeterOfAir
                                  description: MicrogramsPerCubicMeterOfAir
                        ice:
                          description: Ice
                          x-ms-client-name: WeatherValue
                          type: object
                          properties:
                            value:
                              type: number
                              format: float
                              description: Rounded value.
                            unit:
                              x-ms-client-name: unitLabel
                              type: string
                              description: Type of unit for the returned value.
                            unitType:
                              type: integer
                              format: int32
                              description: An integer representing the unit type.  For
                                example, 17 for Celsius, 18 for Fahrenheit. Can be
                                used for unit translation. For a complete list, see
                                [Weather services in Azure Maps](/azure/azure-maps/weather-services-concepts#unit-types).
                              enum:
                              - 0
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              - 7
                              - 8
                              - 9
                              - 10
                              - 11
                              - 12
                              - 13
                              - 14
                              - 15
                              - 16
                              - 17
                              - 18
                              - 19
                              - 20
                              - 21
                              - 22
                              - 31
                              x-ms-enum:
                                name: UnitType
                                modelAsString: true
                                values:
                                - value: 0
                                  name: Feet
                                  description: feet
                                - value: 1
                                  name: Inches
                                  description: inches
                                - value: 2
                                  name: Miles
                                  description: miles
                                - value: 3
                                  name: Millimeter
                                  description: millimeter
                                - value: 4
                                  name: Centimeter
                                  description: centimeter
                                - value: 5
                                  name: Meter
                                  description: meter
                                - value: 6
                                  name: Kilometer
                                  description: kilometer
                                - value: 7
                                  name: KilometersPerHour
                                  description: kilometersPerHour
                                - value: 8
                                  name: Knots
                                  description: knots
                                - value: 9
                                  name: MilesPerHour
                                  description: milesPerHour
                                - value: 10
                                  name: MetersPerSecond
                                  description: metersPerSecond
                                - value: 11
                                  name: HectoPascals
                                  description: hectoPascals
                                - value: 12
                                  name: InchesOfMercury
                                  description: inchesOfMercury
                                - value: 13
                                  name: KiloPascals
                                  description: kiloPascals
                                - value: 14
                                  name: Millibars
                                  description: millibars
                                - value: 15
                                  name: MillimetersOfMercury
                                  description: millimetersOfMercury
                                - value: 16
                                  name: PoundsPerSquareInch
                                  description: poundsPerSquareInch
                                - value: 17
                                  name: Celsius
                                  description: Celsius
                                - value: 18
                                  name: Fahrenheit
                                  description: Fahrenheit
                                - value: 19
                                  name: Kelvin
                                  description: kelvin
                                - value: 20
                                  name: Percent
                                  description: percent
                                - value: 21
                                  name: Float
                                  description: float
                                - value: 22
                                  name: Integer
                                  description: integer
                                - value: 31
                                  name: MicrogramsPerCubicMeterOfAir
                                  description: MicrogramsPerCubicMeterOfAir
                        cloudCover:
                          type: integer
                          format: int32
                          description: Percent representing cloud cover.
        default:
          description: An unexpected error occurred.
          x-ms-error-response: true
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers: []
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers: []
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  /weather/forecast/minute/{format}:
    get:
      summary: Use to get a minute-by-minute forecast for the next 120 minutes in
        intervals of 1, 5 and 15 minutes.
      description: '


        The `Get Minute Forecast` API is an HTTP `GET` request that returns minute-by-minute
        forecasts for a given location for the next 120 minutes.  Users can request
        weather forecasts in intervals of 1, 5 and 15 minutes.  The response will
        include details such as the type of precipitation (including rain, snow, or
        a mixture of both), start time, and precipitation intensity value (dBZ). For
        more information, see [Request minute-by-minute weather forecast data](/azure/azure-maps/how-to-request-weather-data#request-minute-by-minute-weather-forecast-data).'
      operationId: Weather_GetMinuteForecast
      parameters:
      - name: x-ms-client-id
        x-ms-client-name: clientId
        description: Indicates the account intended for use with the Microsoft Entra
          ID security model. This unique ID for the Azure Maps account can be obtained
          from the [Azure Maps management plane Account API](/rest/api/maps-management/accounts).
          For more information on using Microsoft Entra ID security in Azure Maps,
          see [Manage authentication in Azure Maps](/azure/azure-maps/how-to-manage-authentication).
        in: header
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        description: Version number of Azure Maps API.
        in: query
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: format
        description: Desired format of the response. Only `json` format is supported.
        in: path
        required: true
        x-ms-enum:
          name: JsonFormat
          modelAsString: true
          values:
          - value: json
            description: '[The JavaScript Object Notation Data Interchange Format](https://tools.ietf.org/html/rfc8259)'
        x-ms-client-default: json
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - json
      - name: query
        in: query
        x-ms-client-name: coordinates
        description: 'The applicable query specified as a comma separated string composed
          by latitude followed by longitude e.g. "47.641268,-122.125679".


          Weather information is generally available for locations on land, bodies
          of water surrounded by land, and areas of the ocean that are within approximately
          50 nautical miles of a coastline.'
        required: true
        x-ms-parameter-location: method
        style: form
        explode: false
        schema:
          type: array
          items:
            type: number
            format: double
          minItems: 2
          maxItems: 2
      - name: interval
[...]
