openapi: 3.0.0
info:
  version: 2021-03-08
  title: SecurityAndComplianceAPIs
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.SecurityAndCompliance/operations:
    get:
      tags:
      - Proxy
      description: Lists all of the available SecurityAndCompliance REST API operations.
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK. The request was successful; the request was well-formed
            and received properly.
          content:
            application/json:
              schema:
                description: A list of service operations. It contains a list of operations
                  and a URL link to get the next set of results.
                type: object
                properties:
                  nextLink:
                    description: The link used to get the next page of service description
                      objects.
                    type: string
                    readOnly: true
                  value:
                    description: A list of service operations supported by the Microsoft.SecurityAndCompliance
                      resource provider.
                    type: array
                    readOnly: true
                    items:
                      description: Service REST API operation.
                      type: object
                      properties:
                        name:
                          readOnly: true
                          type: string
                          description: 'Operation name: {provider}/{resource}/{read
                            | write | action | delete}'
                        isDataAction:
                          readOnly: true
                          description: Indicates whether the operation is a data action
                          type: boolean
                        origin:
                          readOnly: true
                          type: string
                          description: Default value is 'user,system'.
                        display:
                          readOnly: true
                          description: The information displayed about the operation.
                          type: object
                          properties:
                            provider:
                              readOnly: true
                              type: string
                              description: 'Service provider: Microsoft.SecurityAndCompliance'
                            resource:
                              readOnly: true
                              type: string
                              description: 'Resource Type: Services'
                            operation:
                              readOnly: true
                              type: string
                              description: Name of the operation
                            description:
                              readOnly: true
                              type: string
                              description: Friendly description for the operation,
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                description: Error details.
                type: object
                properties:
                  error:
                    description: Object containing error details.
                    type: object
                    properties:
                      code:
                        description: The error code.
                        type: string
                        readOnly: true
                      message:
                        description: The error message.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
      deprecated: false
  ? /subscriptions/{subscriptionId}/providers/Microsoft.SecurityAndCompliance/locations/{locationName}/operationresults/{operationResultId}
  : get:
      tags:
      - Resource
      description: Get the operation result for a long running operation.
      operationId: OperationResults_Get
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription identifier.
        required: true
        schema:
          type: string
      - name: locationName
        in: path
        description: The location of the operation.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: operationResultId
        in: path
        description: The ID of the operation result to get.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The body contains all of the properties of the operation result.
          content:
            application/json:
              schema:
                description: The properties indicating the operation result of an
                  operation on a service.
                type: object
                properties:
                  id:
                    description: The ID of the operation returned.
                    readOnly: true
                    type: string
                  name:
                    description: The name of the operation result.
                    readOnly: true
                    type: string
                  status:
                    description: The status of the operation being performed.
                    enum:
                    - Canceled
                    - Succeeded
                    - Failed
                    - Requested
                    - Running
                    readOnly: true
                    type: string
                    x-ms-enum:
                      name: OperationResultStatus
                      modelAsString: true
                  startTime:
                    description: The time that the operation was started.
                    readOnly: true
                    type: string
                  properties:
                    x-ms-client-flatten: false
                    description: Additional properties of the operation result.
        default:
          description: Default error response
          content:
            application/json:
              schema:
                description: Error details.
                type: object
                properties:
                  error:
                    description: Object containing error details.
                    type: object
                    properties:
                      code:
                        description: The error code.
                        type: string
                        readOnly: true
                      message:
                        description: The error message.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
      deprecated: false
components:
  parameters:
    PrivateEndpointConnectionName:
      name: privateEndpointConnectionName
      in: path
      required: true
      description: The name of the private endpoint connection associated with the
        Azure resource
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      in: path
      description: The subscription identifier.
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    resourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the service instance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._\(\)]+$
    resourceName:
      name: resourceName
      in: path
      description: The name of the service instance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 3
        maxLength: 24
    locationName:
      name: locationName
      in: path
      description: The location of the operation.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    operationResultId:
      name: operationResultId
      in: path
      description: The ID of the operation result to get.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ServicesProperties:
      description: The properties of a service instance.
      type: object
      properties:
        provisioningState:
          description: The provisioning state.
          enum:
          - Deleting
          - Succeeded
          - Creating
          - Accepted
          - Verifying
          - Updating
          - Failed
          - Canceled
          - Deprovisioned
          type: string
          readOnly: true
          x-ms-enum:
            name: provisioningState
            modelAsString: true
        accessPolicies:
          description: The access policies of the service instance.
          type: array
          items:
            description: An access policy entry.
            properties:
              objectId:
                description: An Azure AD object ID (User or Apps) that is allowed
                  access to the FHIR service.
                type: string
                pattern: ^(([0-9A-Fa-f]{8}[-]?(?:[0-9A-Fa-f]{4}[-]?){3}[0-9A-Fa-f]{12}){1})+$
            required:
            - objectId
        cosmosDbConfiguration:
          description: The settings for the Cosmos DB database backing the service.
          type: object
          properties:
            offerThroughput:
              type: integer
              format: int64
              description: The provisioned throughput for the backing database.
              readOnly: false
              minimum: 400
              maximum: 10000
            keyVaultKeyUri:
              type: string
              description: The URI of the customer-managed key for the backing database.
              readOnly: false
        authenticationConfiguration:
          description: The authentication configuration for the service instance.
          type: object
          properties:
            authority:
              type: string
              description: The authority url for the service
              readOnly: false
            audience:
              type: string
              description: The audience url for the service
              readOnly: false
            smartProxyEnabled:
              type: boolean
              description: If the SMART on FHIR proxy is enabled
              readOnly: false
        corsConfiguration:
          description: The settings for the CORS configuration of the service instance.
          type: object
          properties:
            origins:
              type: array
              description: The origins to be allowed via CORS.
              readOnly: false
              items:
                description: An origin for CORS.
                type: string
                pattern: ^(?:(?:(?:[hH][tT][tT][pP](?:[sS]|))\:\/\/(?:[a-zA-Z0-9-]+[.]?)+(?:\:[0-9]{1,5})?|[*]))$
            headers:
              type: array
              description: The headers to be allowed via CORS.
              readOnly: false
              items:
                description: A header for CORS.
                type: string
            methods:
              type: array
              description: The methods to be allowed via CORS.
              readOnly: false
              items:
                description: A method for CORS.
                type: string
            maxAge:
              type: integer
              format: int64
              description: The max age to be allowed via CORS.
              readOnly: false
              minimum: 0
              maximum: 99999
            allowCredentials:
              type: boolean
              description: If credentials are allowed via CORS.
              readOnly: false
        exportConfiguration:
          description: The settings for the export operation of the service instance.
          type: object
          properties:
            storageAccountName:
              type: string
              description: The name of the default export storage account.
              readOnly: false
        privateEndpointConnections:
          description: The list of private endpoint connections that are set up for
            this resource.
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
              systemData:
                description: Required property for system data
                type: object
                readOnly: true
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              properties:
                x-ms-client-flatten: true
                description: Resource properties.
                properties:
                  privateEndpoint:
                    description: The resource of private end point.
                    properties:
                      id:
                        readOnly: true
                        type: string
                        description: The ARM identifier for Private Endpoint
                  privateLinkServiceConnectionState:
                    description: A collection of information about the state of the
                      connection between service consumer and provider.
                    properties:
                      status:
                        description: Indicates whether the connection has been Approved/Rejected/Removed
                          by the owner of the service.
                        type: string
                        enum:
                        - Pending
                        - Approved
                        - Rejected
                        x-ms-enum:
                          name: PrivateEndpointServiceConnectionStatus
                          modelAsString: true
                      description:
                        type: string
                        description: The reason for approval/rejection of the connection.
                      actionsRequired:
                        type: string
                        description: A message indicating if changes on the service
                          provider require any updates on the consumer.
                  provisioningState:
                    description: The provisioning state of the private endpoint connection
                      resource.
                    type: string
                    readOnly: true
                    enum:
                    - Succeeded
                    - Creating
                    - Deleting
                    - Failed
                    x-ms-enum:
                      name: PrivateEndpointConnectionProvisioningState
                      modelAsString: true
                required:
                - privateLinkServiceConnectionState
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
        publicNetworkAccess:
          description: Control permission for data plane traffic coming from public
            networks while private endpoint is enabled.
          enum:
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: PublicNetworkAccess
            modelAsString: true
    ServiceAccessPoliciesInfo:
      description: The access policies of the service instance.
      type: array
      items:
        description: An access policy entry.
        properties:
          objectId:
            description: An Azure AD object ID (User or Apps) that is allowed access
              to the FHIR service.
            type: string
            pattern: ^(([0-9A-Fa-f]{8}[-]?(?:[0-9A-Fa-f]{4}[-]?){3}[0-9A-Fa-f]{12}){1})+$
        required:
        - objectId
    ServiceAccessPolicyEntry:
      description: An access policy entry.
      properties:
        objectId:
          description: An Azure AD object ID (User or Apps) that is allowed access
            to the FHIR service.
          type: string
          pattern: ^(([0-9A-Fa-f]{8}[-]?(?:[0-9A-Fa-f]{4}[-]?){3}[0-9A-Fa-f]{12}){1})+$
      required:
      - objectId
    ServiceCosmosDbConfigurationInfo:
      description: The settings for the Cosmos DB database backing the service.
      type: object
      properties:
        offerThroughput:
          type: integer
          format: int64
          description: The provisioned throughput for the backing database.
          readOnly: false
          minimum: 400
          maximum: 10000
        keyVaultKeyUri:
          type: string
          description: The URI of the customer-managed key for the backing database.
          readOnly: false
    ServiceAuthenticationConfigurationInfo:
      description: Authentication configuration information
      type: object
      properties:
        authority:
          type: string
          description: The authority url for the service
          readOnly: false
        audience:
          type: string
          description: The audience url for the service
          readOnly: false
        smartProxyEnabled:
          type: boolean
          description: If the SMART on FHIR proxy is enabled
          readOnly: false
    ServiceCorsConfigurationInfo:
      description: The settings for the CORS configuration of the service instance.
      type: object
      properties:
        origins:
          type: array
          description: The origins to be allowed via CORS.
          readOnly: false
          items:
            description: An origin for CORS.
            type: string
            pattern: ^(?:(?:(?:[hH][tT][tT][pP](?:[sS]|))\:\/\/(?:[a-zA-Z0-9-]+[.]?)+(?:\:[0-9]{1,5})?|[*]))$
        headers:
          type: array
          description: The headers to be allowed via CORS.
          readOnly: false
          items:
            description: A header for CORS.
            type: string
        methods:
          type: array
          description: The methods to be allowed via CORS.
          readOnly: false
          items:
            description: A method for CORS.
            type: string
        maxAge:
          type: integer
          format: int64
          description: The max age to be allowed via CORS.
          readOnly: false
          minimum: 0
          maximum: 99999
        allowCredentials:
          type: boolean
          description: If credentials are allowed via CORS.
          readOnly: false
    ServiceExportConfigurationInfo:
      description: Export operation configuration information
      type: object
      properties:
        storageAccountName:
          type: string
          description: The name of the default export storage account.
          readOnly: false
    ServiceCorsConfigurationOriginEntry:
      description: An origin for CORS.
      type: string
      pattern: ^(?:(?:(?:[hH][tT][tT][pP](?:[sS]|))\:\/\/(?:[a-zA-Z0-9-]+[.]?)+(?:\:[0-9]{1,5})?|[*]))$
    ServiceCorsConfigurationHeaderEntry:
      description: A header for CORS.
      type: string
    ServiceCorsConfigurationMethodEntry:
      description: A method for CORS.
      type: string
    ServicesPatchDescription:
      description: The description of the service.
      type: object
      properties:
        tags:
          description: Instance tags
          type: object
          additionalProperties:
            type: string
        properties:
          description: The properties for updating a service instance.
          x-ms-client-flatten: true
          type: object
          properties:
            publicNetworkAccess:
              description: Control permission for data plane traffic coming from public
                networks while private endpoint is enabled.
              enum:
              - Enabled
              - Disabled
              type: string
              x-ms-enum:
                name: PublicNetworkAccess
                modelAsString: true
    ServicesResource:
      description: The common properties of a service.
      properties:
        id:
          type: string
          description: The resource identifier.
          readOnly: true
        name:
          type: string
          description: The resource name.
          pattern: ^[a-z0-9][a-z0-9-]{1,21}[a-z0-9]$
          readOnly: true
        type:
          type: string
          description: The resource type.
          readOnly: true
        systemData:
          description: Required property for system data
          type: object
          readOnly: true
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        kind:
          readOnly: false
          type: string
          description: The kind of the service.
          enum:
          - fhir
          - fhir-Stu3
          - fhir-R4
          x-ms-enum:
            name: kind
            modelAsString: false
        location:
          type: string
          description: The resource location.
          x-ms-mutability:
          - create
          - read
        tags:
          type: object
          additionalProperties:
            type: string
          description: The resource tags.
        etag:
          description: An etag associated with the resource, used for optimistic concurrency
            when editing it.
          type: string
        identity:
          type: object
          description: Setting indicating whether the service has a managed identity
            associated with it.
          properties:
            principalId:
              readOnly: true
              type: string
              description: The principal ID of the resource identity.
            tenantId:
              readOnly: true
              type: string
              description: The tenant ID of the resource.
            type:
              description: Type of identity being specified, currently SystemAssigned
                and None are allowed.
              type: string
              enum:
              - SystemAssigned
              - None
              x-ms-enum:
                name: ManagedServiceIdentityType
                modelAsString: true
      x-ms-azure-resource: true
      required:
      - location
      - kind
    ServicesPropertiesUpdateParameters:
      description: The properties for updating a service instance.
      type: object
      properties:
        publicNetworkAccess:
          description: Control permission for data plane traffic coming from public
            networks while private endpoint is enabled.
          enum:
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: PublicNetworkAccess
            modelAsString: true
    PrivateEndpoint:
      properties:
        id:
          readOnly: true
          type: string
          description: The ARM identifier for Private Endpoint
      description: The Private Endpoint resource.
    PrivateEndpointConnection:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
        systemData:
          description: Required property for system data
          type: object
          readOnly: true
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        properties:
          x-ms-client-flatten: true
          description: Resource properties.
          properties:
            privateEndpoint:
              description: The resource of private end point.
              properties:
                id:
                  readOnly: true
                  type: string
                  description: The ARM identifier for Private Endpoint
            privateLinkServiceConnectionState:
              description: A collection of information about the state of the connection
                between service consumer and provider.
              properties:
                status:
                  description: Indicates whether the connection has been Approved/Rejected/Removed
                    by the owner of the service.
                  type: string
                  enum:
                  - Pending
                  - Approved
                  - Rejected
                  x-ms-enum:
                    name: PrivateEndpointServiceConnectionStatus
                    modelAsString: true
                description:
                  type: string
                  description: The reason for approval/rejection of the connection.
                actionsRequired:
                  type: string
                  description: A message indicating if changes on the service provider
                    require any updates on the consumer.
            provisioningState:
              description: The provisioning state of the private endpoint connection
                resource.
              type: string
              readOnly: true
              enum:
              - Succeeded
              - Creating
              - Deleting
              - Failed
              x-ms-enum:
                name: PrivateEndpointConnectionProvisioningState
                modelAsString: true
          required:
          - privateLinkServiceConnectionState
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    PrivateEndpointConnectionProperties:
      properties:
        privateEndpoint:
          description: The resource of private end point.
          properties:
            id:
              readOnly: true
              type: string
              description: The ARM identifier for Private Endpoint
        privateLinkServiceConnectionState:
          description: A collection of information about the state of the connection
            between service consumer and provider.
          properties:
            status:
              description: Indicates whether the connection has been Approved/Rejected/Removed
                by the owner of the service.
              type: string
              enum:
              - Pending
              - Approved
              - Rejected
              x-ms-enum:
                name: PrivateEndpointServiceConnectionStatus
                modelAsString: true
            description:
              type: string
              description: The reason for approval/rejection of the connection.
            actionsRequired:
              type: string
              description: A message indicating if changes on the service provider
                require any updates on the consumer.
        provisioningState:
          description: The provisioning state of the private endpoint connection resource.
          type: string
          readOnly: true
          enum:
          - Succeeded
          - Creating
          - Deleting
          - Failed
          x-ms-enum:
            name: PrivateEndpointConnectionProvisioningState
            modelAsString: true
      required:
      - privateLinkServiceConnectionState
      description: Properties of the PrivateEndpointConnectProperties.
    PrivateLinkServiceConnectionState:
      properties:
        status:
          description: Indicates whether the connection has been Approved/Rejected/Removed
            by the owner of the service.
          type: string
          enum:
          - Pending
          - Approved
          - Rejected
          x-ms-enum:
            name: PrivateEndpointServiceConnectionStatus
            modelAsString: true
        description:
          type: string
          description: The reason for approval/rejection of the connection.
        actionsRequired:
          type: string
          description: A message indicating if changes on the service provider require
            any updates on the consumer.
      description: A collection of information about the state of the connection between
        service consumer and provider.
    PrivateEndpointServiceConnectionStatus:
      type: string
      description: The private endpoint connection status.
      enum:
      - Pending
      - Approved
      - Rejected
      x-ms-enum:
        name: PrivateEndpointServiceConnectionStatus
        modelAsString: true
    PrivateEndpointConnectionProvisioningState:
      type: string
      readOnly: true
      description: The current provisioning state.
      enum:
      - Succeeded
      - Creating
      - Deleting
      - Failed
      x-ms-enum:
        name: PrivateEndpointConnectionProvisioningState
        modelAsString: true
    PrivateLinkResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
        systemData:
          description: Required property for system data
          type: object
          readOnly: true
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          properties:
            groupId:
              description: The private link resource group id.
              type: string
              readOnly: true
            requiredMembers:
              description: The private link resource required member names.
              type: array
              items:
                type: string
              readOnly: true
            requiredZoneNames:
              type: array
              items:
                type: string
              description: The private link resource Private link DNS zone name.
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    PrivateLinkResourceProperties:
      properties:
        groupId:
          description: The private link resource group id.
          type: string
          readOnly: true
        requiredMembers:
          description: The private link resource required member names.
          type: array
          items:
            type: string
          readOnly: true
        requiredZoneNames:
          type: array
          items:
            type: string
          description: The private link resource Private link DNS zone name.
      description: Properties of a private link resource.
    PrivateEndpointConnectionListResult:
      properties:
        value:
          type: array
          description: Array of private endpoint connections
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
              systemData:
                description: Required property for system data
                type: object
                readOnly: true
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              properties:
                x-ms-client-flatten: true
                description: Resource properties.
                properties:
                  privateEndpoint:
                    description: The resource of private end point.
                    properties:
                      id:
                        readOnly: true
                        type: string
                        description: The ARM identifier for Private Endpoint
                  privateLinkServiceConnectionState:
                    description: A collection of information about the state of the
                      connection between service consumer and provider.
                    properties:
                      status:
                        description: Indicates whether the connection has been Approved/Rejected/Removed
                          by the owner of the service.
                        type: string
                        enum:
                        - Pending
                        - Approved
                        - Rejected
                        x-ms-enum:
                          name: PrivateEndpointServiceConnectionStatus
                          modelAsString: true
                      description:
                        type: string
                        description: The reason for approval/rejection of the connection.
                      actionsRequired:
                        type: string
                        description: A message indicating if changes on the service
                          provider require any updates on the consumer.
                  provisioningState:
                    description: The provisioning state of the private endpoint connection
                      resource.
                    type: string
                    readOnly: true
                    enum:
                    - Succeeded
                    - Creating
                    - Deleting
                    - Failed
                    x-ms-enum:
                      name: PrivateEndpointConnectionProvisioningState
                      modelAsString: true
                required:
                - privateLinkServiceConnectionState
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
        nextLink:
          type: string
          description: The URL to get the next set of results.
          readOnly: true
      description: List of private endpoint connection associated with the specified
        storage account
    PrivateLinkResourceListResult:
      properties:
        value:
          type: array
          description: Array of private link resources
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
              systemData:
                description: Required property for system data
                type: object
                readOnly: true
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                properties:
                  groupId:
                    description: The private link resource group id.
                    type: string
                    readOnly: true
                  requiredMembers:
                    description: The private link resource required member names.
                    type: array
                    items:
                      type: string
                    readOnly: true
                  requiredZoneNames:
                    type: array
                    items:
                      type: string
                    description: The private link resource Private link DNS zone name.
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
        nextLink:
          type: string
          description: The URL to get the next set of results.
          readOnly: true
      description: A list of private link resources
    OperationResultsDescription:
      description: The properties indicating the operation result of an operation
        on a service.
      type: object
      properties:
        id:
          description: The ID of the operation returned.
          readOnly: true
          type: string
        name:
          description: The name of the operation result.
          readOnly: true
          type: string
        status:
          description: The status of the operation being performed.
          enum:
          - Canceled
          - Succeeded
          - Failed
          - Requested
          - Running
          readOnly: true
          type: string
          x-ms-enum:
            name: OperationResultStatus
            modelAsString: true
        startTime:
          description: The time that the operation was started.
          readOnly: true
          type: string
        properties:
          x-ms-client-flatten: false
          description: Additional properties of the operation result.
    OperationListResult:
      description: A list of service operations. It contains a list of operations
        and a URL link to get the next set of results.
      type: object
      properties:
        nextLink:
          description: The link used to get the next page of service description objects.
          type: string
          readOnly: true
        value:
          description: A list of service operations supported by the Microsoft.SecurityAndCompliance
            resource provider.
          type: array
          readOnly: true
          items:
            description: Service REST API operation.
            type: object
            properties:
              name:
                readOnly: true
                type: string
                description: 'Operation name: {provider}/{resource}/{read | write
                  | action | delete}'
              isDataAction:
                readOnly: true
                description: Indicates whether the operation is a data action
                type: boolean
              origin:
                readOnly: true
                type: string
                description: Default value is 'user,system'.
              display:
                readOnly: true
                description: The information displayed about the operation.
                type: object
                properties:
                  provider:
                    readOnly: true
                    type: string
                    description: 'Service provider: Microsoft.SecurityAndCompliance'
                  resource:
                    readOnly: true
                    type: string
                    description: 'Resource Type: Services'
                  operation:
                    readOnly: true
                    type: string
                    description: Name of the operation
                  description:
                    readOnly: true
                    type: string
                    description: Friendly description for the operation,
    Operation:
      description: Service REST API operation.
      type: object
      properties:
        name:
          readOnly: true
          type: string
          description: 'Operation name: {provider}/{resource}/{read | write | action
            | delete}'
        isDataAction:
          readOnly: true
          description: Indicates whether the operation is a data action
          type: boolean
        origin:
          readOnly: true
          type: string
          description: Default value is 'user,system'.
        display:
          readOnly: true
          description: The information displayed about the operation.
          type: object
          properties:
            provider:
              readOnly: true
              type: string
              description: 'Service provider: Microsoft.SecurityAndCompliance'
            resource:
              readOnly: true
              type: string
              description: 'Resource Type: Services'
            operation:
              readOnly: true
              type: string
              description: Name of the operation
            description:
              readOnly: true
              type: string
              description: Friendly description for the operation,
    OperationDisplay:
      description: The object that represents the operation.
      type: object
      properties:
        provider:
          readOnly: true
          type: string
          description: 'Service provider: Microsoft.SecurityAndCompliance'
        resource:
          readOnly: true
          type: string
          description: 'Resource Type: Services'
        operation:
          readOnly: true
          type: string
          description: Name of the operation
        description:
          readOnly: true
          type: string
          description: Friendly description for the operation,
    ErrorDetails:
      description: Error details.
      type: object
      properties:
        error:
          description: Object containing error details.
          type: object
          properties:
            code:
              description: The error code.
              type: string
              readOnly: true
            message:
              description: The error message.
              type: string
              readOnly: true
            target:
              description: The target of the particular error.
              type: string
              readOnly: true
    ErrorDetailsInternal:
      description: Error details.
      type: object
      properties:
        code:
          description: The error code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
        target:
          description: The target of the particular error.
          type: string
          readOnly: true
    Resource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
      x-ms-azure-resource: true
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
