openapi: 3.0.0
info:
  title: Azure Communication Services Management API
  version: 2023-04-01
  description: REST API for Email Services/Domains
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}
  : get:
      description: Get the Domains resource and its properties.
      operationId: Domains_Get
      summary: Get
      tags:
      - Domains
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: emailServiceName
        in: path
        description: The name of the EmailService resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 63
          pattern: ^[a-zA-Z0-9-]+$
      - name: domainName
        in: path
        description: The name of the Domains resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 253
      responses:
        '200':
          description: Success. The response describe the corresponding Domains resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The properties of a Domains resource.
                    x-ms-client-flatten: true
                    type: object
                    required:
                    - domainManagement
                    properties:
                      provisioningState:
                        description: Provisioning state of the resource.
                        enum:
                        - Unknown
                        - Succeeded
                        - Failed
                        - Canceled
                        - Running
                        - Creating
                        - Updating
                        - Deleting
                        - Moving
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: Domains_ProvisioningState
                          modelAsString: true
                      dataLocation:
                        description: The location where the Domains resource data
                          is stored at rest.
                        type: string
                        readOnly: true
                      fromSenderDomain:
                        description: P2 sender domain that is displayed to the email
                          recipients [RFC 5322].
                        type: string
                        readOnly: true
                      mailFromSenderDomain:
                        description: P1 sender domain that is present on the email
                          envelope [RFC 5321].
                        type: string
                        readOnly: true
                      domainManagement:
                        description: Describes how a Domains resource is being managed.
                        enum:
                        - AzureManaged
                        - CustomerManaged
                        - CustomerManagedInExchangeOnline
                        type: string
                        x-ms-enum:
                          name: DomainManagement
                          modelAsString: true
                      verificationStates:
                        description: List of VerificationStatusRecord
                        type: object
                        properties:
                          Domain:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              status:
                                description: Status of the verification operation.
                                enum:
                                - NotStarted
                                - VerificationRequested
                                - VerificationInProgress
                                - VerificationFailed
                                - Verified
                                - CancellationRequested
                                type: string
                                readOnly: true
                                x-ms-enum:
                                  name: VerificationStatus
                                  modelAsString: true
                              errorCode:
                                description: Error code. This property will only be
                                  present if the status is UnableToVerify.
                                type: string
                                readOnly: true
                          SPF:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              status:
                                description: Status of the verification operation.
                                enum:
                                - NotStarted
                                - VerificationRequested
                                - VerificationInProgress
                                - VerificationFailed
                                - Verified
                                - CancellationRequested
                                type: string
                                readOnly: true
                                x-ms-enum:
                                  name: VerificationStatus
                                  modelAsString: true
                              errorCode:
                                description: Error code. This property will only be
                                  present if the status is UnableToVerify.
                                type: string
                                readOnly: true
                          DKIM:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              status:
                                description: Status of the verification operation.
                                enum:
                                - NotStarted
                                - VerificationRequested
                                - VerificationInProgress
                                - VerificationFailed
                                - Verified
                                - CancellationRequested
                                type: string
                                readOnly: true
                                x-ms-enum:
                                  name: VerificationStatus
                                  modelAsString: true
                              errorCode:
                                description: Error code. This property will only be
                                  present if the status is UnableToVerify.
                                type: string
                                readOnly: true
                          DKIM2:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              status:
                                description: Status of the verification operation.
                                enum:
                                - NotStarted
                                - VerificationRequested
                                - VerificationInProgress
                                - VerificationFailed
                                - Verified
                                - CancellationRequested
                                type: string
                                readOnly: true
                                x-ms-enum:
                                  name: VerificationStatus
                                  modelAsString: true
                              errorCode:
                                description: Error code. This property will only be
                                  present if the status is UnableToVerify.
                                type: string
                                readOnly: true
                          DMARC:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              status:
                                description: Status of the verification operation.
                                enum:
                                - NotStarted
                                - VerificationRequested
                                - VerificationInProgress
                                - VerificationFailed
                                - Verified
                                - CancellationRequested
                                type: string
                                readOnly: true
                                x-ms-enum:
                                  name: VerificationStatus
                                  modelAsString: true
                              errorCode:
                                description: Error code. This property will only be
                                  present if the status is UnableToVerify.
                                type: string
                                readOnly: true
                        readOnly: true
                      verificationRecords:
                        description: List of DnsRecord
                        type: object
                        properties:
                          Domain:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              type:
                                description: 'Type of the DNS record. Example: TXT'
                                type: string
                                readOnly: true
                              name:
                                description: Name of the DNS record.
                                type: string
                                readOnly: true
                              value:
                                description: Value of the DNS record.
                                type: string
                                readOnly: true
                              ttl:
                                description: Represents an expiry time in seconds
                                  to represent how long this entry can be cached by
                                  the resolver, default = 3600sec.
                                type: integer
                                format: int32
                                readOnly: true
                          SPF:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              type:
                                description: 'Type of the DNS record. Example: TXT'
                                type: string
                                readOnly: true
                              name:
                                description: Name of the DNS record.
                                type: string
                                readOnly: true
                              value:
                                description: Value of the DNS record.
                                type: string
                                readOnly: true
                              ttl:
                                description: Represents an expiry time in seconds
                                  to represent how long this entry can be cached by
                                  the resolver, default = 3600sec.
                                type: integer
                                format: int32
                                readOnly: true
                          DKIM:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              type:
                                description: 'Type of the DNS record. Example: TXT'
                                type: string
                                readOnly: true
                              name:
                                description: Name of the DNS record.
                                type: string
                                readOnly: true
                              value:
                                description: Value of the DNS record.
                                type: string
                                readOnly: true
                              ttl:
                                description: Represents an expiry time in seconds
                                  to represent how long this entry can be cached by
                                  the resolver, default = 3600sec.
                                type: integer
                                format: int32
                                readOnly: true
                          DKIM2:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              type:
                                description: 'Type of the DNS record. Example: TXT'
                                type: string
                                readOnly: true
                              name:
                                description: Name of the DNS record.
                                type: string
                                readOnly: true
                              value:
                                description: Value of the DNS record.
                                type: string
                                readOnly: true
                              ttl:
                                description: Represents an expiry time in seconds
                                  to represent how long this entry can be cached by
                                  the resolver, default = 3600sec.
                                type: integer
                                format: int32
                                readOnly: true
                          DMARC:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              type:
                                description: 'Type of the DNS record. Example: TXT'
                                type: string
                                readOnly: true
                              name:
                                description: Name of the DNS record.
                                type: string
                                readOnly: true
                              value:
                                description: Value of the DNS record.
                                type: string
                                readOnly: true
                              ttl:
                                description: Represents an expiry time in seconds
                                  to represent how long this entry can be cached by
                                  the resolver, default = 3600sec.
                                type: integer
                                format: int32
                                readOnly: true
                        readOnly: true
                      userEngagementTracking:
                        description: Describes whether user engagement tracking is
                          enabled or disabled.
                        enum:
                        - Disabled
                        - Enabled
                        type: string
                        x-ms-enum:
                          name: UserEngagementTracking
                          modelAsString: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      description: Add a new Domains resource under the parent EmailService resource
        or update an existing Domains resource.
      operationId: Domains_CreateOrUpdate
      summary: Create Or Update
      tags:
      - Domains
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: emailServiceName
        in: path
        description: The name of the EmailService resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 63
          pattern: ^[a-zA-Z0-9-]+$
      - name: domainName
        in: path
        description: The name of the Domains resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 253
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The properties of a Domains resource.
                  x-ms-client-flatten: true
                  type: object
                  required:
                  - domainManagement
                  properties:
                    provisioningState:
                      description: Provisioning state of the resource.
                      enum:
                      - Unknown
                      - Succeeded
                      - Failed
                      - Canceled
                      - Running
                      - Creating
                      - Updating
                      - Deleting
                      - Moving
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: Domains_ProvisioningState
                        modelAsString: true
                    dataLocation:
                      description: The location where the Domains resource data is
                        stored at rest.
                      type: string
                      readOnly: true
                    fromSenderDomain:
                      description: P2 sender domain that is displayed to the email
                        recipients [RFC 5322].
                      type: string
                      readOnly: true
                    mailFromSenderDomain:
                      description: P1 sender domain that is present on the email envelope
                        [RFC 5321].
                      type: string
                      readOnly: true
                    domainManagement:
                      description: Describes how a Domains resource is being managed.
                      enum:
                      - AzureManaged
                      - CustomerManaged
                      - CustomerManagedInExchangeOnline
                      type: string
                      x-ms-enum:
                        name: DomainManagement
                        modelAsString: true
                    verificationStates:
                      description: List of VerificationStatusRecord
                      type: object
                      properties:
                        Domain:
                          description: A class that represents a VerificationStatus
                            record.
                          type: object
                          properties:
                            status:
                              description: Status of the verification operation.
                              enum:
                              - NotStarted
                              - VerificationRequested
                              - VerificationInProgress
                              - VerificationFailed
                              - Verified
                              - CancellationRequested
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: VerificationStatus
                                modelAsString: true
                            errorCode:
                              description: Error code. This property will only be
                                present if the status is UnableToVerify.
                              type: string
                              readOnly: true
                        SPF:
                          description: A class that represents a VerificationStatus
                            record.
                          type: object
                          properties:
                            status:
                              description: Status of the verification operation.
                              enum:
                              - NotStarted
                              - VerificationRequested
                              - VerificationInProgress
                              - VerificationFailed
                              - Verified
                              - CancellationRequested
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: VerificationStatus
                                modelAsString: true
                            errorCode:
                              description: Error code. This property will only be
                                present if the status is UnableToVerify.
                              type: string
                              readOnly: true
                        DKIM:
                          description: A class that represents a VerificationStatus
                            record.
                          type: object
                          properties:
                            status:
                              description: Status of the verification operation.
                              enum:
                              - NotStarted
                              - VerificationRequested
                              - VerificationInProgress
                              - VerificationFailed
                              - Verified
                              - CancellationRequested
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: VerificationStatus
                                modelAsString: true
                            errorCode:
                              description: Error code. This property will only be
                                present if the status is UnableToVerify.
                              type: string
                              readOnly: true
                        DKIM2:
                          description: A class that represents a VerificationStatus
                            record.
                          type: object
                          properties:
                            status:
                              description: Status of the verification operation.
                              enum:
                              - NotStarted
                              - VerificationRequested
                              - VerificationInProgress
                              - VerificationFailed
                              - Verified
                              - CancellationRequested
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: VerificationStatus
                                modelAsString: true
                            errorCode:
                              description: Error code. This property will only be
                                present if the status is UnableToVerify.
                              type: string
                              readOnly: true
                        DMARC:
                          description: A class that represents a VerificationStatus
                            record.
                          type: object
                          properties:
                            status:
                              description: Status of the verification operation.
                              enum:
                              - NotStarted
                              - VerificationRequested
                              - VerificationInProgress
                              - VerificationFailed
                              - Verified
                              - CancellationRequested
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: VerificationStatus
                                modelAsString: true
                            errorCode:
                              description: Error code. This property will only be
                                present if the status is UnableToVerify.
                              type: string
                              readOnly: true
                      readOnly: true
                    verificationRecords:
                      description: List of DnsRecord
                      type: object
                      properties:
                        Domain:
                          description: A class that represents a VerificationStatus
                            record.
                          type: object
                          properties:
                            type:
                              description: 'Type of the DNS record. Example: TXT'
                              type: string
                              readOnly: true
                            name:
                              description: Name of the DNS record.
                              type: string
                              readOnly: true
                            value:
                              description: Value of the DNS record.
                              type: string
                              readOnly: true
                            ttl:
                              description: Represents an expiry time in seconds to
                                represent how long this entry can be cached by the
                                resolver, default = 3600sec.
                              type: integer
                              format: int32
                              readOnly: true
                        SPF:
                          description: A class that represents a VerificationStatus
                            record.
                          type: object
                          properties:
                            type:
                              description: 'Type of the DNS record. Example: TXT'
                              type: string
                              readOnly: true
                            name:
                              description: Name of the DNS record.
                              type: string
                              readOnly: true
                            value:
                              description: Value of the DNS record.
                              type: string
                              readOnly: true
                            ttl:
                              description: Represents an expiry time in seconds to
                                represent how long this entry can be cached by the
                                resolver, default = 3600sec.
                              type: integer
                              format: int32
                              readOnly: true
                        DKIM:
                          description: A class that represents a VerificationStatus
                            record.
                          type: object
                          properties:
                            type:
                              description: 'Type of the DNS record. Example: TXT'
                              type: string
                              readOnly: true
                            name:
                              description: Name of the DNS record.
                              type: string
                              readOnly: true
                            value:
                              description: Value of the DNS record.
                              type: string
                              readOnly: true
                            ttl:
                              description: Represents an expiry time in seconds to
                                represent how long this entry can be cached by the
                                resolver, default = 3600sec.
                              type: integer
                              format: int32
                              readOnly: true
                        DKIM2:
                          description: A class that represents a VerificationStatus
                            record.
                          type: object
                          properties:
                            type:
                              description: 'Type of the DNS record. Example: TXT'
                              type: string
                              readOnly: true
                            name:
                              description: Name of the DNS record.
                              type: string
                              readOnly: true
                            value:
                              description: Value of the DNS record.
                              type: string
                              readOnly: true
                            ttl:
                              description: Represents an expiry time in seconds to
                                represent how long this entry can be cached by the
                                resolver, default = 3600sec.
                              type: integer
                              format: int32
                              readOnly: true
                        DMARC:
                          description: A class that represents a VerificationStatus
                            record.
                          type: object
                          properties:
                            type:
                              description: 'Type of the DNS record. Example: TXT'
                              type: string
                              readOnly: true
                            name:
                              description: Name of the DNS record.
                              type: string
                              readOnly: true
                            value:
                              description: Value of the DNS record.
                              type: string
                              readOnly: true
                            ttl:
                              description: Represents an expiry time in seconds to
                                represent how long this entry can be cached by the
                                resolver, default = 3600sec.
                              type: integer
                              format: int32
                              readOnly: true
                      readOnly: true
                    userEngagementTracking:
                      description: Describes whether user engagement tracking is enabled
                        or disabled.
                      enum:
                      - Disabled
                      - Enabled
                      type: string
                      x-ms-enum:
                        name: UserEngagementTracking
                        modelAsString: true
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters for the create or update operation
        required: true
      responses:
        '200':
          description: The create or update request was completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The properties of a Domains resource.
                    x-ms-client-flatten: true
                    type: object
                    required:
                    - domainManagement
                    properties:
                      provisioningState:
                        description: Provisioning state of the resource.
                        enum:
                        - Unknown
                        - Succeeded
                        - Failed
                        - Canceled
                        - Running
                        - Creating
                        - Updating
                        - Deleting
                        - Moving
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: Domains_ProvisioningState
                          modelAsString: true
                      dataLocation:
                        description: The location where the Domains resource data
                          is stored at rest.
                        type: string
                        readOnly: true
                      fromSenderDomain:
                        description: P2 sender domain that is displayed to the email
                          recipients [RFC 5322].
                        type: string
                        readOnly: true
                      mailFromSenderDomain:
                        description: P1 sender domain that is present on the email
                          envelope [RFC 5321].
                        type: string
                        readOnly: true
                      domainManagement:
                        description: Describes how a Domains resource is being managed.
                        enum:
                        - AzureManaged
                        - CustomerManaged
                        - CustomerManagedInExchangeOnline
                        type: string
                        x-ms-enum:
                          name: DomainManagement
                          modelAsString: true
                      verificationStates:
                        description: List of VerificationStatusRecord
                        type: object
                        properties:
                          Domain:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              status:
                                description: Status of the verification operation.
                                enum:
                                - NotStarted
                                - VerificationRequested
                                - VerificationInProgress
                                - VerificationFailed
                                - Verified
                                - CancellationRequested
                                type: string
                                readOnly: true
                                x-ms-enum:
                                  name: VerificationStatus
                                  modelAsString: true
                              errorCode:
                                description: Error code. This property will only be
                                  present if the status is UnableToVerify.
                                type: string
                                readOnly: true
                          SPF:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              status:
                                description: Status of the verification operation.
                                enum:
                                - NotStarted
                                - VerificationRequested
                                - VerificationInProgress
                                - VerificationFailed
                                - Verified
                                - CancellationRequested
                                type: string
                                readOnly: true
                                x-ms-enum:
                                  name: VerificationStatus
                                  modelAsString: true
                              errorCode:
                                description: Error code. This property will only be
                                  present if the status is UnableToVerify.
                                type: string
                                readOnly: true
                          DKIM:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              status:
                                description: Status of the verification operation.
                                enum:
                                - NotStarted
                                - VerificationRequested
                                - VerificationInProgress
                                - VerificationFailed
                                - Verified
                                - CancellationRequested
                                type: string
                                readOnly: true
                                x-ms-enum:
                                  name: VerificationStatus
                                  modelAsString: true
                              errorCode:
                                description: Error code. This property will only be
                                  present if the status is UnableToVerify.
                                type: string
                                readOnly: true
                          DKIM2:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              status:
                                description: Status of the verification operation.
                                enum:
                                - NotStarted
                                - VerificationRequested
                                - VerificationInProgress
                                - VerificationFailed
                                - Verified
                                - CancellationRequested
                                type: string
                                readOnly: true
                                x-ms-enum:
                                  name: VerificationStatus
                                  modelAsString: true
                              errorCode:
                                description: Error code. This property will only be
                                  present if the status is UnableToVerify.
                                type: string
                                readOnly: true
                          DMARC:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              status:
                                description: Status of the verification operation.
                                enum:
                                - NotStarted
                                - VerificationRequested
                                - VerificationInProgress
                                - VerificationFailed
                                - Verified
                                - CancellationRequested
                                type: string
                                readOnly: true
                                x-ms-enum:
                                  name: VerificationStatus
                                  modelAsString: true
                              errorCode:
                                description: Error code. This property will only be
                                  present if the status is UnableToVerify.
                                type: string
                                readOnly: true
                        readOnly: true
                      verificationRecords:
                        description: List of DnsRecord
                        type: object
                        properties:
                          Domain:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              type:
                                description: 'Type of the DNS record. Example: TXT'
                                type: string
                                readOnly: true
                              name:
                                description: Name of the DNS record.
                                type: string
                                readOnly: true
                              value:
                                description: Value of the DNS record.
                                type: string
                                readOnly: true
                              ttl:
                                description: Represents an expiry time in seconds
                                  to represent how long this entry can be cached by
                                  the resolver, default = 3600sec.
                                type: integer
                                format: int32
                                readOnly: true
                          SPF:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              type:
                                description: 'Type of the DNS record. Example: TXT'
                                type: string
                                readOnly: true
                              name:
                                description: Name of the DNS record.
                                type: string
                                readOnly: true
                              value:
                                description: Value of the DNS record.
                                type: string
                                readOnly: true
                              ttl:
                                description: Represents an expiry time in seconds
                                  to represent how long this entry can be cached by
                                  the resolver, default = 3600sec.
                                type: integer
                                format: int32
                                readOnly: true
                          DKIM:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              type:
                                description: 'Type of the DNS record. Example: TXT'
                                type: string
                                readOnly: true
                              name:
                                description: Name of the DNS record.
                                type: string
                                readOnly: true
                              value:
                                description: Value of the DNS record.
                                type: string
                                readOnly: true
                              ttl:
                                description: Represents an expiry time in seconds
                                  to represent how long this entry can be cached by
                                  the resolver, default = 3600sec.
                                type: integer
                                format: int32
                                readOnly: true
                          DKIM2:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              type:
                                description: 'Type of the DNS record. Example: TXT'
                                type: string
                                readOnly: true
                              name:
                                description: Name of the DNS record.
                                type: string
                                readOnly: true
                              value:
                                description: Value of the DNS record.
                                type: string
                                readOnly: true
                              ttl:
                                description: Represents an expiry time in seconds
                                  to represent how long this entry can be cached by
                                  the resolver, default = 3600sec.
                                type: integer
                                format: int32
                                readOnly: true
                          DMARC:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              type:
                                description: 'Type of the DNS record. Example: TXT'
                                type: string
                                readOnly: true
                              name:
                                description: Name of the DNS record.
                                type: string
                                readOnly: true
                              value:
                                description: Value of the DNS record.
                                type: string
                                readOnly: true
                              ttl:
                                description: Represents an expiry time in seconds
                                  to represent how long this entry can be cached by
                                  the resolver, default = 3600sec.
                                type: integer
                                format: int32
                                readOnly: true
                        readOnly: true
                      userEngagementTracking:
                        description: Describes whether user engagement tracking is
                          enabled or disabled.
                        enum:
                        - Disabled
                        - Enabled
                        type: string
                        x-ms-enum:
                          name: UserEngagementTracking
                          modelAsString: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: The create or update request was accepted
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the operation.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The properties of a Domains resource.
                    x-ms-client-flatten: true
                    type: object
                    required:
                    - domainManagement
                    properties:
                      provisioningState:
                        description: Provisioning state of the resource.
                        enum:
                        - Unknown
                        - Succeeded
                        - Failed
                        - Canceled
                        - Running
                        - Creating
                        - Updating
                        - Deleting
                        - Moving
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: Domains_ProvisioningState
                          modelAsString: true
                      dataLocation:
                        description: The location where the Domains resource data
                          is stored at rest.
                        type: string
                        readOnly: true
                      fromSenderDomain:
                        description: P2 sender domain that is displayed to the email
                          recipients [RFC 5322].
                        type: string
                        readOnly: true
                      mailFromSenderDomain:
                        description: P1 sender domain that is present on the email
                          envelope [RFC 5321].
                        type: string
                        readOnly: true
                      domainManagement:
                        description: Describes how a Domains resource is being managed.
                        enum:
                        - AzureManaged
                        - CustomerManaged
                        - CustomerManagedInExchangeOnline
                        type: string
                        x-ms-enum:
                          name: DomainManagement
                          modelAsString: true
                      verificationStates:
                        description: List of VerificationStatusRecord
                        type: object
                        properties:
                          Domain:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              status:
                                description: Status of the verification operation.
                                enum:
                                - NotStarted
                                - VerificationRequested
                                - VerificationInProgress
                                - VerificationFailed
                                - Verified
                                - CancellationRequested
                                type: string
                                readOnly: true
                                x-ms-enum:
                                  name: VerificationStatus
                                  modelAsString: true
                              errorCode:
                                description: Error code. This property will only be
                                  present if the status is UnableToVerify.
                                type: string
                                readOnly: true
                          SPF:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              status:
                                description: Status of the verification operation.
                                enum:
                                - NotStarted
                                - VerificationRequested
                                - VerificationInProgress
                                - VerificationFailed
                                - Verified
                                - CancellationRequested
                                type: string
                                readOnly: true
                                x-ms-enum:
                                  name: VerificationStatus
                                  modelAsString: true
                              errorCode:
                                description: Error code. This property will only be
                                  present if the status is UnableToVerify.
                                type: string
                                readOnly: true
                          DKIM:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              status:
                                description: Status of the verification operation.
                                enum:
                                - NotStarted
                                - VerificationRequested
                                - VerificationInProgress
                                - VerificationFailed
                                - Verified
                                - CancellationRequested
                                type: string
                                readOnly: true
                                x-ms-enum:
                                  name: VerificationStatus
                                  modelAsString: true
                              errorCode:
                                description: Error code. This property will only be
                                  present if the status is UnableToVerify.
                                type: string
                                readOnly: true
                          DKIM2:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              status:
                                description: Status of the verification operation.
                                enum:
                                - NotStarted
                                - VerificationRequested
                                - VerificationInProgress
                                - VerificationFailed
                                - Verified
                                - CancellationRequested
                                type: string
                                readOnly: true
                                x-ms-enum:
                                  name: VerificationStatus
                                  modelAsString: true
                              errorCode:
                                description: Error code. This property will only be
                                  present if the status is UnableToVerify.
                                type: string
                                readOnly: true
                          DMARC:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              status:
                                description: Status of the verification operation.
                                enum:
                                - NotStarted
                                - VerificationRequested
                                - VerificationInProgress
                                - VerificationFailed
                                - Verified
                                - CancellationRequested
                                type: string
                                readOnly: true
                                x-ms-enum:
                                  name: VerificationStatus
                                  modelAsString: true
                              errorCode:
                                description: Error code. This property will only be
                                  present if the status is UnableToVerify.
                                type: string
                                readOnly: true
                        readOnly: true
                      verificationRecords:
                        description: List of DnsRecord
                        type: object
                        properties:
                          Domain:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              type:
                                description: 'Type of the DNS record. Example: TXT'
                                type: string
                                readOnly: true
                              name:
                                description: Name of the DNS record.
                                type: string
                                readOnly: true
                              value:
                                description: Value of the DNS record.
                                type: string
                                readOnly: true
                              ttl:
                                description: Represents an expiry time in seconds
                                  to represent how long this entry can be cached by
                                  the resolver, default = 3600sec.
                                type: integer
                                format: int32
                                readOnly: true
                          SPF:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              type:
                                description: 'Type of the DNS record. Example: TXT'
                                type: string
                                readOnly: true
                              name:
                                description: Name of the DNS record.
                                type: string
                                readOnly: true
                              value:
                                description: Value of the DNS record.
                                type: string
                                readOnly: true
                              ttl:
                                description: Represents an expiry time in seconds
                                  to represent how long this entry can be cached by
                                  the resolver, default = 3600sec.
                                type: integer
                                format: int32
                                readOnly: true
                          DKIM:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              type:
                                description: 'Type of the DNS record. Example: TXT'
                                type: string
                                readOnly: true
                              name:
                                description: Name of the DNS record.
                                type: string
                                readOnly: true
                              value:
                                description: Value of the DNS record.
                                type: string
                                readOnly: true
                              ttl:
                                description: Represents an expiry time in seconds
                                  to represent how long this entry can be cached by
                                  the resolver, default = 3600sec.
                                type: integer
                                format: int32
                                readOnly: true
                          DKIM2:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              type:
                                description: 'Type of the DNS record. Example: TXT'
                                type: string
                                readOnly: true
                              name:
                                description: Name of the DNS record.
                                type: string
                                readOnly: true
                              value:
                                description: Value of the DNS record.
                                type: string
                                readOnly: true
                              ttl:
                                description: Represents an expiry time in seconds
                                  to represent how long this entry can be cached by
                                  the resolver, default = 3600sec.
                                type: integer
                                format: int32
                                readOnly: true
                          DMARC:
                            description: A class that represents a VerificationStatus
                              record.
                            type: object
                            properties:
                              type:
                                description: 'Type of the DNS record. Example: TXT'
                                type: string
                                readOnly: true
                              name:
                                description: Name of the DNS record.
                                type: string
                                readOnly: true
                              value:
                                description: Value of the DNS record.
                                type: string
                                readOnly: true
                              ttl:
                                description: Represents an expiry time in seconds
                                  to represent how long this entry can be cached by
                                  the resolver, default = 3600sec.
                                type: integer
                                format: int32
                                readOnly: true
                        readOnly: true
                      userEngagementTracking:
                        description: Describes whether user engagement tracking is
                          enabled or disabled.
                        enum:
                        - Disabled
                        - Enabled
                        type: string
                        x-ms-enum:
                          name: UserEngagementTracking
                          modelAsString: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    delete:
      description: Operation to delete a Domains resource.
      operationId: Domains_Delete
      summary: Delete
      tags:
      - Domains
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: emailServiceName
        in: path
        description: The name of the EmailService resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 63
          pattern: ^[a-zA-Z0-9-]+$
      - name: domainName
        in: path
        description: The name of the Domains resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 253
      responses:
        '200':
          description: The delete operation was successful.
        '202':
          description: The delete operation is being performed in the background.
          headers:
            location:
              description: URL to query for status of the operation.
              schema:
                type: string
        '204':
          description: The resource did not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    patch:
      description: Operation to update an existing Domains resource.
      operationId: Domains_Update
      summary: Update
      tags:
      - Domains
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: emailServiceName
        in: path
        description: The name of the EmailService resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 63
          pattern: ^[a-zA-Z0-9-]+$
      - name: domainName
        in: path
        description: The name of the Domains resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 253
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  description: Tags of the service which is a list of key value pairs
                    that describe the resource.
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                properties:
                  x-ms-client-flatten: true
                  description: A class that describes the updatable properties of
                    a Domains resource.
                  type: object
                  properties:
                    userEngagementTracking:
                      description: Describes whether user engagement tracking is enabled
                        or disabled.
                      enum:
                      - Disabled
                      - Enabled
                      type: string
                      x-ms-enum:
                        name: UserEngagementTracking
                        modelAsString: true
              description: An ARM resource with that can accept tags
        description: Parameters for the update operation
        required: true
      responses:
        '200':
          description: The update request was successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
[...]
