openapi: 3.0.0
info:
  title: SearchManagementClient
  description: Client that can be used to manage search services and API keys.
  version: 2023-11-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Search/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available REST API operations of the Microsoft.Search
        provider.
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for each request.
        schema:
          type: string
      responses:
        '200':
          description: Success. The response describes the list of operations.
          content:
            application/json:
              schema:
                description: The result of the request to list REST API operations.
                  It contains a list of operations and a URL to get the next set of
                  results.
                properties:
                  value:
                    type: array
                    items:
                      description: Describes a REST API operation.
                      type: object
                      properties:
                        name:
                          description: The name of the operation. This name is of
                            the form {provider}/{resource}/{operation}.
                          readOnly: true
                          type: string
                        display:
                          description: The object that describes the operation.
                          readOnly: true
                          properties:
                            provider:
                              description: The friendly name of the resource provider.
                              readOnly: true
                              type: string
                            operation:
                              description: 'The operation type: read, write, delete,
                                listKeys/action, etc.'
                              readOnly: true
                              type: string
                            resource:
                              description: The resource type on which the operation
                                is performed.
                              readOnly: true
                              type: string
                            description:
                              description: The friendly name of the operation.
                              readOnly: true
                              type: string
                    readOnly: true
                    description: The list of operations supported by the resource
                      provider.
                  nextLink:
                    type: string
                    readOnly: true
                    description: The URL to get the next set of operation list results,
                      if any.
        default:
          description: Operations API failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: Describes a particular API error with an error code
                      and a message.
                    type: object
                    properties:
                      code:
                        type: string
                        description: An error code that describes the error condition
                          more precisely than an HTTP status code. Can be used to
                          programmatically handle specific error cases.
                      message:
                        type: string
                        description: A message that describes the error in detail
                          and provides debugging information.
                      target:
                        type: string
                        description: The target of the particular error (for example,
                          the name of the property in error).
                      details:
                        type: array
                        items:
                          type: object
                          description: Describes a particular API error with an error
                            code and a message.
                          properties:
                            code:
                              type: string
                              description: An error code that describes the error
                                condition more precisely than an HTTP status code.
                                Can be used to programmatically handle specific error
                                cases.
                            message:
                              type: string
                              description: A message that describes the error in detail
                                and provides debugging information.
                            target:
                              type: string
                              description: The target of the particular error (for
                                example, the name of the property in error).
                            details:
                              type: array
                              items:
                                type: object
                                description: Describes a particular API error with
                                  an error code and a message.
                                properties:
                                  code:
                                    type: string
                                    description: An error code that describes the
                                      error condition more precisely than an HTTP
                                      status code. Can be used to programmatically
                                      handle specific error cases.
                                  message:
                                    type: string
                                    description: A message that describes the error
                                      in detail and provides debugging information.
                                  target:
                                    type: string
                                    description: The target of the particular error
                                      (for example, the name of the property in error).
                                x-ms-external: true
                              description: Contains nested errors that are related
                                to this error.
                          x-ms-external: true
                        description: Contains nested errors that are related to this
                          error.
                    x-ms-external: true
                description: Contains information about an API error.
                x-ms-external: true
      x-ms-pageable: {}
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/listAdminKeys
  : post:
      tags:
      - AdminKeys
      operationId: AdminKeys_Get
      description: Gets the primary and secondary admin API keys for the specified
        search service.
      externalDocs:
        url: https://aka.ms/search-manage
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the current subscription.
          You can obtain this value from the Azure Resource Manager API or the portal.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: searchServiceName
        in: path
        required: true
        description: The name of the search service associated with the specified
          resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: x-ms-client-request-id
        x-ms-client-name: clientRequestId
        in: header
        required: false
        description: A client-generated GUID value that identifies this request. If
          specified, this will be included in response information as a way to track
          the request.
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          name: search-management-request-options
        x-ms-parameter-location: method
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        required: true
        description: The API version to use for each request.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The unique identifier for a Microsoft Azure subscription. You
          can obtain this value from the Azure Resource Manager API, command line
          tools, or the portal.
        schema:
          type: string
      responses:
        '200':
          description: The admin keys were successfully retrieved and are in the response.
            You can use either the primary or secondary key as the value of the 'api-key'
            parameter in the data plane REST API or an Azure SDK to perform any operations
            on your search service, including privileged operations. Privileged operations
            include managing resources like indexes and data sources as well as uploading,
            modifying, or deleting data in your indexes.
          content:
            application/json:
              schema:
                properties:
                  primaryKey:
                    readOnly: true
                    type: string
                    description: The primary admin API key of the search service.
                  secondaryKey:
                    readOnly: true
                    type: string
                    description: The secondary admin API key of the search service.
                description: Response containing the primary and secondary admin API
                  keys for a given search service.
        default:
          description: 'HTTP 404 (Not Found): The subscription, resource group, or
            search service could not be found. HTTP 409 (Conflict): The specified
            subscription is disabled.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: Describes a particular API error with an error code
                      and a message.
                    type: object
                    properties:
                      code:
                        type: string
                        description: An error code that describes the error condition
                          more precisely than an HTTP status code. Can be used to
                          programmatically handle specific error cases.
                      message:
                        type: string
                        description: A message that describes the error in detail
                          and provides debugging information.
                      target:
                        type: string
                        description: The target of the particular error (for example,
                          the name of the property in error).
                      details:
                        type: array
                        items:
                          type: object
                          description: Describes a particular API error with an error
                            code and a message.
                          properties:
                            code:
                              type: string
                              description: An error code that describes the error
                                condition more precisely than an HTTP status code.
                                Can be used to programmatically handle specific error
                                cases.
                            message:
                              type: string
                              description: A message that describes the error in detail
                                and provides debugging information.
                            target:
                              type: string
                              description: The target of the particular error (for
                                example, the name of the property in error).
                            details:
                              type: array
                              items:
                                type: object
                                description: Describes a particular API error with
                                  an error code and a message.
                                properties:
                                  code:
                                    type: string
                                    description: An error code that describes the
                                      error condition more precisely than an HTTP
                                      status code. Can be used to programmatically
                                      handle specific error cases.
                                  message:
                                    type: string
                                    description: A message that describes the error
                                      in detail and provides debugging information.
                                  target:
                                    type: string
                                    description: The target of the particular error
                                      (for example, the name of the property in error).
                                x-ms-external: true
                              description: Contains nested errors that are related
                                to this error.
                          x-ms-external: true
                        description: Contains nested errors that are related to this
                          error.
                    x-ms-external: true
                description: Contains information about an API error.
                x-ms-external: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/regenerateAdminKey/{keyKind}
  : post:
      tags:
      - AdminKeys
      operationId: AdminKeys_Regenerate
      description: Regenerates either the primary or secondary admin API key. You
        can only regenerate one key at a time.
      externalDocs:
        url: https://aka.ms/search-manage
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the current subscription.
          You can obtain this value from the Azure Resource Manager API or the portal.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: searchServiceName
        in: path
        required: true
        description: The name of the search service associated with the specified
          resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: keyKind
        in: path
        required: true
        x-ms-enum:
          name: AdminKeyKind
          modelAsString: false
          values:
          - value: primary
            name: Primary
            description: The primary API key for the search service.
          - value: secondary
            name: Secondary
            description: The secondary API key for the search service.
        description: Specifies which key to regenerate. Valid values include 'primary'
          and 'secondary'.
        schema:
          type: string
          enum:
          - primary
          - secondary
      - name: x-ms-client-request-id
        x-ms-client-name: clientRequestId
        in: header
        required: false
        description: A client-generated GUID value that identifies this request. If
          specified, this will be included in response information as a way to track
          the request.
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          name: search-management-request-options
        x-ms-parameter-location: method
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        required: true
        description: The API version to use for each request.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The unique identifier for a Microsoft Azure subscription. You
          can obtain this value from the Azure Resource Manager API, command line
          tools, or the portal.
        schema:
          type: string
      responses:
        '200':
          description: The specified admin key was successfully regenerated. Both
            admin keys are included in the response, including the newly-regenerated
            key.
          content:
            application/json:
              schema:
                properties:
                  primaryKey:
                    readOnly: true
                    type: string
                    description: The primary admin API key of the search service.
                  secondaryKey:
                    readOnly: true
                    type: string
                    description: The secondary admin API key of the search service.
                description: Response containing the primary and secondary admin API
                  keys for a given search service.
        default:
          description: 'HTTP 404 (Not Found): The subscription, resource group, or
            search service could not be found. HTTP 409 (Conflict): The specified
            subscription is disabled.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: Describes a particular API error with an error code
                      and a message.
                    type: object
                    properties:
                      code:
                        type: string
                        description: An error code that describes the error condition
                          more precisely than an HTTP status code. Can be used to
                          programmatically handle specific error cases.
                      message:
                        type: string
                        description: A message that describes the error in detail
                          and provides debugging information.
                      target:
                        type: string
                        description: The target of the particular error (for example,
                          the name of the property in error).
                      details:
                        type: array
                        items:
                          type: object
                          description: Describes a particular API error with an error
                            code and a message.
                          properties:
                            code:
                              type: string
                              description: An error code that describes the error
                                condition more precisely than an HTTP status code.
                                Can be used to programmatically handle specific error
                                cases.
                            message:
                              type: string
                              description: A message that describes the error in detail
                                and provides debugging information.
                            target:
                              type: string
                              description: The target of the particular error (for
                                example, the name of the property in error).
                            details:
                              type: array
                              items:
                                type: object
                                description: Describes a particular API error with
                                  an error code and a message.
                                properties:
                                  code:
                                    type: string
                                    description: An error code that describes the
                                      error condition more precisely than an HTTP
                                      status code. Can be used to programmatically
                                      handle specific error cases.
                                  message:
                                    type: string
                                    description: A message that describes the error
                                      in detail and provides debugging information.
                                  target:
                                    type: string
                                    description: The target of the particular error
                                      (for example, the name of the property in error).
                                x-ms-external: true
                              description: Contains nested errors that are related
                                to this error.
                          x-ms-external: true
                        description: Contains nested errors that are related to this
                          error.
                    x-ms-external: true
                description: Contains information about an API error.
                x-ms-external: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/createQueryKey/{name}
  : post:
      tags:
      - QueryKeys
      operationId: QueryKeys_Create
      description: Generates a new query key for the specified search service. You
        can create up to 50 query keys per service.
      externalDocs:
        url: https://aka.ms/search-manage
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the current subscription.
          You can obtain this value from the Azure Resource Manager API or the portal.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: searchServiceName
        in: path
        required: true
        description: The name of the search service associated with the specified
          resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: name
        in: path
        required: true
        description: The name of the new query API key.
        schema:
          type: string
      - name: x-ms-client-request-id
        x-ms-client-name: clientRequestId
        in: header
        required: false
        description: A client-generated GUID value that identifies this request. If
          specified, this will be included in response information as a way to track
          the request.
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          name: search-management-request-options
        x-ms-parameter-location: method
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        required: true
        description: The API version to use for each request.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The unique identifier for a Microsoft Azure subscription. You
          can obtain this value from the Azure Resource Manager API, command line
          tools, or the portal.
        schema:
          type: string
      responses:
        '200':
          description: The query key was successfully created and is in the response.
            You can use the query key as the value of the 'api-key' parameter in the
            data plane REST API or an Azure SDK to perform read-only operations on
            your Search indexes such as querying and looking up documents by ID.
          content:
            application/json:
              schema:
                properties:
                  name:
                    readOnly: true
                    type: string
                    description: The name of the query API key; may be empty.
                  key:
                    readOnly: true
                    type: string
                    description: The value of the query API key.
                description: Describes an API key for a given search service that
                  has permissions for query operations only.
        default:
          description: 'HTTP 404 (Not Found): The subscription, resource group, or
            search service could not be found. HTTP 409 (Conflict): The specified
            subscription is disabled.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: Describes a particular API error with an error code
                      and a message.
                    type: object
                    properties:
                      code:
                        type: string
                        description: An error code that describes the error condition
                          more precisely than an HTTP status code. Can be used to
                          programmatically handle specific error cases.
                      message:
                        type: string
                        description: A message that describes the error in detail
                          and provides debugging information.
                      target:
                        type: string
                        description: The target of the particular error (for example,
                          the name of the property in error).
                      details:
                        type: array
                        items:
                          type: object
                          description: Describes a particular API error with an error
                            code and a message.
                          properties:
                            code:
                              type: string
                              description: An error code that describes the error
                                condition more precisely than an HTTP status code.
                                Can be used to programmatically handle specific error
                                cases.
                            message:
                              type: string
                              description: A message that describes the error in detail
                                and provides debugging information.
                            target:
                              type: string
                              description: The target of the particular error (for
                                example, the name of the property in error).
                            details:
                              type: array
                              items:
                                type: object
                                description: Describes a particular API error with
                                  an error code and a message.
                                properties:
                                  code:
                                    type: string
                                    description: An error code that describes the
                                      error condition more precisely than an HTTP
                                      status code. Can be used to programmatically
                                      handle specific error cases.
                                  message:
                                    type: string
                                    description: A message that describes the error
                                      in detail and provides debugging information.
                                  target:
                                    type: string
                                    description: The target of the particular error
                                      (for example, the name of the property in error).
                                x-ms-external: true
                              description: Contains nested errors that are related
                                to this error.
                          x-ms-external: true
                        description: Contains nested errors that are related to this
                          error.
                    x-ms-external: true
                description: Contains information about an API error.
                x-ms-external: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/listQueryKeys
  : post:
      tags:
      - QueryKeys
      x-ms-pageable:
        nextLinkName: nextLink
      operationId: QueryKeys_ListBySearchService
      description: Returns the list of query API keys for the given search service.
      externalDocs:
        url: https://aka.ms/search-manage
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the current subscription.
          You can obtain this value from the Azure Resource Manager API or the portal.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: searchServiceName
        in: path
        required: true
        description: The name of the search service associated with the specified
          resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: x-ms-client-request-id
        x-ms-client-name: clientRequestId
        in: header
        required: false
        description: A client-generated GUID value that identifies this request. If
          specified, this will be included in response information as a way to track
          the request.
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          name: search-management-request-options
        x-ms-parameter-location: method
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        required: true
        description: The API version to use for each request.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The unique identifier for a Microsoft Azure subscription. You
          can obtain this value from the Azure Resource Manager API, command line
          tools, or the portal.
        schema:
          type: string
      responses:
        '200':
          description: All query keys for the given search service were successfully
            retrieved and are in the response. You can use any of the query keys as
            the value of the 'api-key' parameter in the data plane REST API or an
            Azure SDK to perform read-only operations on the documents collection
            of your search indexes such as querying and looking up documents by ID.
          content:
            application/json:
              schema:
                properties:
                  value:
                    readOnly: true
                    type: array
                    items:
                      properties:
                        name:
                          readOnly: true
                          type: string
                          description: The name of the query API key; may be empty.
                        key:
                          readOnly: true
                          type: string
                          description: The value of the query API key.
                      description: Describes an API key for a given search service
                        that has permissions for query operations only.
                    description: The query keys for the search service.
                  nextLink:
                    readOnly: true
                    type: string
                    description: Request URL that can be used to query next page of
                      query keys. Returned when the total number of requested query
                      keys exceed maximum page size.
                description: Response containing the query API keys for a given search
                  service.
                x-ms-external: true
        default:
          description: 'HTTP 404 (Not Found): The subscription, resource group, or
            search service could not be found. HTTP 409 (Conflict): The specified
            subscription is disabled.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: Describes a particular API error with an error code
                      and a message.
                    type: object
                    properties:
                      code:
                        type: string
                        description: An error code that describes the error condition
                          more precisely than an HTTP status code. Can be used to
                          programmatically handle specific error cases.
                      message:
                        type: string
                        description: A message that describes the error in detail
                          and provides debugging information.
                      target:
                        type: string
                        description: The target of the particular error (for example,
                          the name of the property in error).
                      details:
                        type: array
                        items:
                          type: object
                          description: Describes a particular API error with an error
                            code and a message.
                          properties:
                            code:
                              type: string
                              description: An error code that describes the error
                                condition more precisely than an HTTP status code.
                                Can be used to programmatically handle specific error
                                cases.
                            message:
                              type: string
                              description: A message that describes the error in detail
                                and provides debugging information.
                            target:
                              type: string
                              description: The target of the particular error (for
                                example, the name of the property in error).
                            details:
                              type: array
                              items:
                                type: object
                                description: Describes a particular API error with
                                  an error code and a message.
                                properties:
                                  code:
                                    type: string
                                    description: An error code that describes the
                                      error condition more precisely than an HTTP
                                      status code. Can be used to programmatically
                                      handle specific error cases.
                                  message:
                                    type: string
                                    description: A message that describes the error
                                      in detail and provides debugging information.
                                  target:
                                    type: string
                                    description: The target of the particular error
                                      (for example, the name of the property in error).
                                x-ms-external: true
                              description: Contains nested errors that are related
                                to this error.
                          x-ms-external: true
                        description: Contains nested errors that are related to this
                          error.
                    x-ms-external: true
                description: Contains information about an API error.
                x-ms-external: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/deleteQueryKey/{key}
  : delete:
      tags:
      - QueryKeys
      operationId: QueryKeys_Delete
      description: Deletes the specified query key. Unlike admin keys, query keys
        are not regenerated. The process for regenerating a query key is to delete
        and then recreate it.
      externalDocs:
        url: https://aka.ms/search-manage
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the current subscription.
          You can obtain this value from the Azure Resource Manager API or the portal.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: searchServiceName
        in: path
        required: true
        description: The name of the search service associated with the specified
          resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: key
        in: path
        required: true
        description: The query key to be deleted. Query keys are identified by value,
          not by name.
        schema:
          type: string
      - name: x-ms-client-request-id
        x-ms-client-name: clientRequestId
        in: header
        required: false
        description: A client-generated GUID value that identifies this request. If
          specified, this will be included in response information as a way to track
          the request.
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          name: search-management-request-options
        x-ms-parameter-location: method
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        required: true
        description: The API version to use for each request.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The unique identifier for a Microsoft Azure subscription. You
          can obtain this value from the Azure Resource Manager API, command line
          tools, or the portal.
        schema:
          type: string
      responses:
        '200':
          description: The query key was successfully deleted.
        '204':
          description: The query key was successfully deleted.
        '404':
          description: The subscription, resource group, search service, or query
            key could not be found.
        default:
          description: 'HTTP 409 (Conflict): The specified subscription is disabled.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: Describes a particular API error with an error code
                      and a message.
                    type: object
                    properties:
                      code:
                        type: string
                        description: An error code that describes the error condition
                          more precisely than an HTTP status code. Can be used to
                          programmatically handle specific error cases.
                      message:
                        type: string
                        description: A message that describes the error in detail
                          and provides debugging information.
                      target:
                        type: string
                        description: The target of the particular error (for example,
                          the name of the property in error).
                      details:
                        type: array
                        items:
                          type: object
                          description: Describes a particular API error with an error
                            code and a message.
                          properties:
                            code:
                              type: string
                              description: An error code that describes the error
                                condition more precisely than an HTTP status code.
                                Can be used to programmatically handle specific error
                                cases.
                            message:
                              type: string
                              description: A message that describes the error in detail
                                and provides debugging information.
                            target:
                              type: string
                              description: The target of the particular error (for
                                example, the name of the property in error).
                            details:
                              type: array
                              items:
                                type: object
                                description: Describes a particular API error with
                                  an error code and a message.
                                properties:
                                  code:
                                    type: string
                                    description: An error code that describes the
                                      error condition more precisely than an HTTP
                                      status code. Can be used to programmatically
                                      handle specific error cases.
                                  message:
                                    type: string
                                    description: A message that describes the error
                                      in detail and provides debugging information.
                                  target:
                                    type: string
                                    description: The target of the particular error
                                      (for example, the name of the property in error).
                                x-ms-external: true
                              description: Contains nested errors that are related
                                to this error.
                          x-ms-external: true
                        description: Contains nested errors that are related to this
                          error.
                    x-ms-external: true
                description: Contains information about an API error.
                x-ms-external: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}
  : put:
      tags:
      - Services
      operationId: Services_CreateOrUpdate
      description: Creates or updates a search service in the given resource group.
        If the search service already exists, all properties will be updated with
        the given values.
      externalDocs:
        url: https://aka.ms/search-manage
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the current subscription.
          You can obtain this value from the Azure Resource Manager API or the portal.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: searchServiceName
        in: path
        required: true
        description: The name of the search service to create or update. Search service
          names must only contain lowercase letters, digits or dashes, cannot use
          dash as the first two or last one characters, cannot contain consecutive
          dashes, and must be between 2 and 60 characters in length. Search service
          names must be globally unique since they are part of the service URI (https://<name>.search.windows.net).
          You cannot change the service name after the service is created.
        schema:
          type: string
      - name: x-ms-client-request-id
        x-ms-client-name: clientRequestId
        in: header
        required: false
        description: A client-generated GUID value that identifies this request. If
          specified, this will be included in response information as a way to track
          the request.
        x-ms-client-request-id: true
        x-ms-parameter-grouping:
          name: search-management-request-options
        x-ms-parameter-location: method
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        required: true
        description: The API version to use for each request.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The unique identifier for a Microsoft Azure subscription. You
          can obtain this value from the Azure Resource Manager API, command line
          tools, or the portal.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                properties:
                  x-ms-client-flatten: true
                  description: Properties of the search service.
                  properties:
                    replicaCount:
                      type: integer
                      format: int32
                      minimum: 1
                      maximum: 12
                      default: 1
                      description: The number of replicas in the search service. If
                        specified, it must be a value between 1 and 12 inclusive for
                        standard SKUs or between 1 and 3 inclusive for basic SKU.
                    partitionCount:
                      type: integer
                      format: int32
                      minimum: 1
                      maximum: 12
                      default: 1
                      description: The number of partitions in the search service;
                        if specified, it can be 1, 2, 3, 4, 6, or 12. Values greater
                        than 1 are only valid for standard SKUs. For 'standard3' services
                        with hostingMode set to 'highDensity', the allowed values
                        are between 1 and 3.
                    hostingMode:
                      type: string
                      default: default
                      description: Applicable only for the standard3 SKU. You can
                        set this property to enable up to 3 high density partitions
                        that allow up to 1000 indexes, which is much higher than the
                        maximum indexes allowed for any other SKU. For the standard3
                        SKU, the value is either 'default' or 'highDensity'. For all
                        other SKUs, this value must be 'default'.
                      enum:
                      - default
                      - highDensity
                      x-ms-enum:
                        name: HostingMode
                        modelAsString: false
                        values:
                        - value: default
                          name: Default
                          description: The limit on number of indexes is determined
                            by the default limits for the SKU.
                        - value: highDensity
                          name: HighDensity
                          description: Only application for standard3 SKU, where the
                            search service can have up to 1000 indexes.
                    publicNetworkAccess:
                      type: string
                      default: enabled
                      description: This value can be set to 'enabled' to avoid breaking
                        changes on existing customer resources and templates. If set
                        to 'disabled', traffic over public interface is not allowed,
                        and private endpoint connections would be the exclusive access
                        method.
                      enum:
                      - enabled
                      - disabled
                      x-ms-enum:
                        name: PublicNetworkAccess
                        modelAsString: false
                    status:
                      readOnly: true
                      type: string
                      description: 'The status of the search service. Possible values
                        include: ''running'': The search service is running and no
                        provisioning operations are underway. ''provisioning'': The
                        search service is being provisioned or scaled up or down.
                        ''deleting'': The search service is being deleted. ''degraded'':
                        The search service is degraded. This can occur when the underlying
                        search units are not healthy. The search service is most likely
                        operational, but performance might be slow and some requests
                        might be dropped. ''disabled'': The search service is disabled.
                        In this state, the service will reject all API requests. ''error'':
                        The search service is in an error state. If your service is
                        in the degraded, disabled, or error states, Microsoft is actively
                        investigating the underlying issue. Dedicated services in
                        these states are still chargeable based on the number of search
                        units provisioned.'
                      enum:
                      - running
                      - provisioning
                      - deleting
                      - degraded
                      - disabled
                      - error
                      x-ms-enum:
                        name: SearchServiceStatus
                        modelAsString: false
                        values:
                        - value: running
                          name: Running
                          description: The search service is running and no provisioning
                            operations are underway.
                        - value: provisioning
                          name: Provisioning
                          description: The search service is being provisioned or
                            scaled up or down.
                        - value: deleting
                          name: Deleting
                          description: The search service is being deleted.
                        - value: degraded
                          name: Degraded
                          description: The search service is degraded because underlying
                            search units are not healthy.
                        - value: disabled
                          name: Disabled
                          description: The search service is disabled and all API
                            requests will be rejected.
                        - value: error
                          name: Error
                          description: The search service is in error state, indicating
                            either a failure to provision or to be deleted.
                    statusDetails:
                      readOnly: true
                      type: string
                      description: The details of the search service status.
                    provisioningState:
                      readOnly: true
                      type: string
                      description: The state of the last provisioning operation performed
                        on the search service. Provisioning is an intermediate state
                        that occurs while service capacity is being established. After
                        capacity is set up, provisioningState changes to either 'succeeded'
                        or 'failed'. Client applications can poll provisioning status
                        (the recommended polling interval is from 30 seconds to one
                        minute) by using the Get Search Service operation to see when
                        an operation is completed. If you are using the free service,
                        this value tends to come back as 'succeeded' directly in the
                        call to Create search service. This is because the free service
                        uses capacity that is already set up.
                      enum:
                      - succeeded
                      - provisioning
                      - failed
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: false
                        values:
                        - value: succeeded
                          name: Succeeded
                          description: The last provisioning operation has completed
                            successfully.
                        - value: provisioning
                          name: Provisioning
                          description: The search service is being provisioned or
                            scaled up or down.
                        - value: failed
                          name: Failed
                          description: The last provisioning operation has failed.
                    networkRuleSet:
                      description: Network-specific rules that determine how the search
                        service may be reached.
                      properties:
                        ipRules:
                          type: array
                          description: A list of IP restriction rules used for an
                            IP firewall. Any IPs that do not match the rules are blocked
                            by the firewall. These rules are only applied when the
                            'publicNetworkAccess' of the search service is 'enabled'.
                          items:
                            properties:
                              value:
                                type: string
                                description: Value corresponding to a single IPv4
                                  address (for example, 123.1.2.3) or an IP range
                                  in CIDR format (for example, 123.1.2.3/24) to be
                                  allowed.
                            description: The IP restriction rule of the search service.
                    encryptionWithCmk:
                      description: Specifies any policy regarding encryption of resources
                        (such as indexes) using customer manager keys within a search
                        service.
                      type: object
                      properties:
                        enforcement:
                          description: Describes how a search service should enforce
                            having one or more non-customer-encrypted resources.
                          type: string
                          enum:
                          - Disabled
                          - Enabled
                          - Unspecified
                          x-ms-enum:
                            name: SearchEncryptionWithCmk
                            modelAsString: false
                            values:
                            - value: Disabled
                              name: Disabled
                              description: No enforcement will be made and the search
                                service can have non-customer-encrypted resources.
                            - value: Enabled
                              name: Enabled
                              description: Search service will be marked as non-compliant
                                if there are one or more non-customer-encrypted resources.
                            - value: Unspecified
                              name: Unspecified
                              description: Enforcement policy is not explicitly specified,
                                with the behavior being the same as if it were set
                                to 'Disabled'.
                        encryptionComplianceStatus:
                          readOnly: true
                          description: Describes whether the search service is compliant
                            or not with respect to having non-customer-encrypted resources.
                            If a service has more than one non-customer-encrypted
                            resource and 'Enforcement' is 'enabled' then the service
                            will be marked as 'nonCompliant'.
                          type: string
                          enum:
                          - Compliant
                          - NonCompliant
                          x-ms-enum:
                            name: SearchEncryptionComplianceStatus
                            modelAsString: false
                            values:
                            - value: Compliant
                              name: Compliant
                              description: Indicates that the search service is compliant,
                                either because number of non-customer-encrypted resources
                                is zero or enforcement is disabled.
                            - value: NonCompliant
                              name: NonCompliant
                              description: Indicates that the search service has more
                                than one non-customer-encrypted resources.
                    disableLocalAuth:
                      type: boolean
                      description: When set to true, calls to the search service will
                        not be permitted to utilize API keys for authentication. This
                        cannot be set to true if 'dataPlaneAuthOptions' are defined.
                      nullable: true
                    authOptions:
                      description: Defines the options for how the data plane API
                        of a search service authenticates requests. This cannot be
                        set if 'disableLocalAuth' is set to true.
                      type: object
                      properties:
                        apiKeyOnly:
                          type: object
                          properties: {}
                          description: Indicates that only the API key can be used
                            for authentication.
                        aadOrApiKey:
                          description: Indicates that either the API key or an access
                            token from a Microsoft Entra ID tenant can be used for
                            authentication.
                          type: object
                          properties:
                            aadAuthFailureMode:
                              type: string
                              description: Describes what response the data plane
                                API of a search service would send for requests that
                                failed authentication.
                              enum:
                              - http403
                              - http401WithBearerChallenge
                              x-ms-enum:
                                name: AadAuthFailureMode
                                modelAsString: false
                                values:
                                - value: http403
                                  name: Http403
                                  description: Indicates that requests that failed
                                    authentication should be presented with an HTTP
                                    status code of 403 (Forbidden).
                                - value: http401WithBearerChallenge
                                  name: Http401WithBearerChallenge
                                  description: Indicates that requests that failed
                                    authentication should be presented with an HTTP
                                    status code of 401 (Unauthorized) and present
                                    a Bearer Challenge.
                    privateEndpointConnections:
                      readOnly: true
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            readOnly: true
                            type: string
                            description: Fully qualified resource ID for the resource.
                              Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          name:
                            readOnly: true
                            type: string
                            description: The name of the resource
                          type:
                            readOnly: true
                            type: string
                            description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                              or "Microsoft.Storage/storageAccounts"
                          properties:
                            description: Describes the properties of an existing private
                              endpoint connection to the search service.
                            properties:
                              privateEndpoint:
                                properties:
                                  id:
                                    type: string
                                    description: The resource id of the private endpoint
                                      resource from Microsoft.Network provider.
                                description: The private endpoint resource from Microsoft.Network
                                  provider.
                              privateLinkServiceConnectionState:
                                type: object
                                properties:
                                  status:
                                    type: string
                                    description: Status of the the private link service
                                      connection. Valid values are Pending, Approved,
                                      Rejected, or Disconnected.
                                    enum:
                                    - Pending
                                    - Approved
                                    - Rejected
                                    - Disconnected
                                    x-ms-enum:
                                      name: PrivateLinkServiceConnectionStatus
                                      modelAsString: false
                                      values:
                                      - value: Pending
                                        name: Pending
                                        description: The private endpoint connection
                                          has been created and is pending approval.
                                      - value: Approved
                                        name: Approved
                                        description: The private endpoint connection
                                          is approved and is ready for use.
                                      - value: Rejected
                                        name: Rejected
                                        description: The private endpoint connection
                                          has been rejected and cannot be used.
                                      - value: Disconnected
                                        name: Disconnected
                                        description: The private endpoint connection
                                          has been removed from the service.
                                  description:
                                    type: string
                                    description: The description for the private link
                                      service connection state.
                                  actionsRequired:
                                    type: string
                                    description: A description of any extra actions
                                      that may be required.
                                    default: None
                                description: Describes the current state of an existing
                                  Private Link Service connection to the Azure Private
                                  Endpoint.
                              groupId:
                                type: string
                                description: The group id from the provider of resource
                                  the private link service connection is for.
                              provisioningState:
                                type: string
                                description: The provisioning state of the private
                                  link service connection. Valid values are Updating,
                                  Deleting, Failed, Succeeded, or Incomplete
                                enum:
                                - Updating
                                - Deleting
                                - Failed
                                - Succeeded
                                - Incomplete
                                - Canceled
                                x-ms-enum:
                                  name: PrivateLinkServiceConnectionProvisioningState
                                  modelAsString: true
                                  values:
                                  - value: Updating
                                    name: Updating
                                    description: The private link service connection
                                      is in the process of being created along with
                                      other resources for it to be fully functional.
                                  - value: Deleting
                                    name: Deleting
                                    description: The private link service connection
                                      is in the process of being deleted.
                                  - value: Failed
                                    name: Failed
                                    description: The private link service connection
                                      has failed to be provisioned or deleted.
                                  - value: Succeeded
                                    name: Succeeded
                                    description: The private link service connection
                                      has finished provisioning and is ready for approval.
                                  - value: Incomplete
                                    name: Incomplete
                                    description: Provisioning request for the private
                                      link service connection resource has been accepted
                                      but the process of creation has not commenced
                                      yet.
                                  - value: Canceled
                                    name: Canceled
                                    description: Provisioning request for the private
                                      link service connection resource has been canceled
                        title: Resource
                        description: Common fields that are returned in the response
                          for all Azure Resource Manager resources
                        x-ms-azure-resource: true
                      description: The list of private endpoint connections to the
                        search service.
                    semanticSearch:
                      description: Sets options that control the availability of semantic
                        search. This configuration is only possible for certain search
                        SKUs in certain locations.
                      type: string
                      enum:
                      - disabled
                      - free
                      - standard
                      x-ms-enum:
                        name: SearchSemanticSearch
                        modelAsString: true
                        values:
                        - value: disabled
                          name: disabled
                          description: Indicates that semantic ranking is disabled
                            for the search service.
                        - value: free
                          name: free
                          description: Enables semantic ranking on a search service
                            and indicates that it is to be used within the limits
                            of the free tier. This would cap the volume of semantic
                            ranking requests and is offered at no extra charge. This
                            is the default for newly provisioned search services.
                        - value: standard
                          name: standard
                          description: Enables semantic ranking on a search service
                            as a billable feature, with higher throughput and volume
                            of semantic ranking requests.
                      nullable: true
                    sharedPrivateLinkResources:
                      readOnly: true
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            readOnly: true
                            type: string
                            description: Fully qualified resource ID for the resource.
                              Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          name:
                            readOnly: true
                            type: string
                            description: The name of the resource
                          type:
                            readOnly: true
                            type: string
                            description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                              or "Microsoft.Storage/storageAccounts"
                          properties:
                            description: Describes the properties of a Shared Private
                              Link Resource managed by the search service.
                            properties:
                              privateLinkResourceId:
                                type: string
                                description: The resource id of the resource the shared
                                  private link resource is for.
                              groupId:
                                type: string
                                description: The group id from the provider of resource
                                  the shared private link resource is for.
                              requestMessage:
                                type: string
                                description: The request message for requesting approval
                                  of the shared private link resource.
                              resourceRegion:
                                type: string
                                description: Optional. Can be used to specify the
                                  Azure Resource Manager location of the resource
                                  to which a shared private link is to be created.
                                  This is only required for those resources whose
                                  DNS configuration are regional (such as Azure Kubernetes
                                  Service).
                                externalDocs:
                                  description: List of all Azure resources which have
                                    a regional DNS configuration requirement can be
                                    found here.
                                  url: https://docs.microsoft.com/azure/private-link/private-endpoint-dns
                              status:
                                type: string
                                description: Status of the shared private link resource.
                                  Valid values are Pending, Approved, Rejected or
                                  Disconnected.
                                enum:
                                - Pending
                                - Approved
                                - Rejected
                                - Disconnected
                                x-ms-enum:
                                  name: SharedPrivateLinkResourceStatus
                                  modelAsString: false
                              provisioningState:
                                type: string
                                description: The provisioning state of the shared
                                  private link resource. Valid values are Updating,
                                  Deleting, Failed, Succeeded or Incomplete.
                                enum:
                                - Updating
                                - Deleting
                                - Failed
                                - Succeeded
                                - Incomplete
                                x-ms-enum:
                                  name: SharedPrivateLinkResourceProvisioningState
                                  modelAsString: false
                        title: Resource
                        description: Common fields that are returned in the response
                          for all Azure Resource Manager resources
                        x-ms-azure-resource: true
                      description: The list of shared private link resources managed
                        by the search service.
                sku:
                  description: The SKU of the search service, which determines billing
                    rate and capacity limits. This property is required when creating
                    a new search service.
                  externalDocs:
                    url: https://azure.microsoft.com/documentation/articles/search-sku-tier/
                  properties:
                    name:
                      type: string
                      description: 'The SKU of the search service. Valid values include:
                        ''free'': Shared service. ''basic'': Dedicated service with
                        up to 3 replicas. ''standard'': Dedicated service with up
                        to 12 partitions and 12 replicas. ''standard2'': Similar to
                        standard, but with more capacity per search unit. ''standard3'':
                        The largest Standard offering with up to 12 partitions and
                        12 replicas (or up to 3 partitions with more indexes if you
                        also set the hostingMode property to ''highDensity''). ''storage_optimized_l1'':
                        Supports 1TB per partition, up to 12 partitions. ''storage_optimized_l2'':
                        Supports 2TB per partition, up to 12 partitions.'''
                      enum:
                      - free
                      - basic
                      - standard
                      - standard2
                      - standard3
                      - storage_optimized_l1
                      - storage_optimized_l2
                      x-ms-enum:
                        name: SkuName
                        modelAsString: false
                        values:
                        - value: free
                          name: Free
                          description: Free tier, with no SLA guarantees and a subset
                            of the features offered on billable tiers.
                        - value: basic
                          name: Basic
                          description: Billable tier for a dedicated service having
                            up to 3 replicas.
                        - value: standard
                          name: Standard
                          description: Billable tier for a dedicated service having
                            up to 12 partitions and 12 replicas.
                        - value: standard2
                          name: Standard2
                          description: Similar to 'standard', but with more capacity
                            per search unit.
                        - value: standard3
                          name: Standard3
                          description: ' The largest Standard offering with up to
                            12 partitions and 12 replicas (or up to 3 partitions with
                            more indexes if you also set the hostingMode property
                            to ''highDensity'').'
                        - value: storage_optimized_l1
                          name: StorageOptimizedL1
                          description: Billable tier for a dedicated service that
                            supports 1TB per partition, up to 12 partitions.
                        - value: storage_optimized_l2
                          name: StorageOptimizedL2
                          description: Billable tier for a dedicated service that
                            supports 2TB per partition, up to 12 partitions.
                identity:
                  description: The identity of the resource.
                  properties:
                    principalId:
                      readOnly: true
                      type: string
                      description: The principal ID of the system-assigned identity
                        of the search service.
                    tenantId:
                      readOnly: true
                      type: string
                      description: The tenant ID of the system-assigned identity of
                        the search service.
                    type:
                      type: string
                      description: The identity type.
                      enum:
                      - None
                      - SystemAssigned
                      x-ms-enum:
                        name: IdentityType
                        modelAsString: false
                  required:
                  - type
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: The definition of the search service to create or update.
        required: true
      responses:
        '200':
          description: The existing service definition was successfully updated. If
            you changed the number of replicas or partitions, the scale operation
            will happen asynchronously. You can periodically get your service definition
            and monitor progress via the provisioningState property.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the search service.
                    properties:
                      replicaCount:
                        type: integer
                        format: int32
                        minimum: 1
                        maximum: 12
                        default: 1
                        description: The number of replicas in the search service.
                          If specified, it must be a value between 1 and 12 inclusive
                          for standard SKUs or between 1 and 3 inclusive for basic
                          SKU.
                      partitionCount:
                        type: integer
                        format: int32
                        minimum: 1
                        maximum: 12
                        default: 1
                        description: The number of partitions in the search service;
                          if specified, it can be 1, 2, 3, 4, 6, or 12. Values greater
                          than 1 are only valid for standard SKUs. For 'standard3'
                          services with hostingMode set to 'highDensity', the allowed
                          values are between 1 and 3.
                      hostingMode:
                        type: string
                        default: default
                        description: Applicable only for the standard3 SKU. You can
                          set this property to enable up to 3 high density partitions
                          that allow up to 1000 indexes, which is much higher than
                          the maximum indexes allowed for any other SKU. For the standard3
                          SKU, the value is either 'default' or 'highDensity'. For
                          all other SKUs, this value must be 'default'.
                        enum:
                        - default
                        - highDensity
                        x-ms-enum:
                          name: HostingMode
                          modelAsString: false
                          values:
                          - value: default
                            name: Default
                            description: The limit on number of indexes is determined
                              by the default limits for the SKU.
                          - value: highDensity
                            name: HighDensity
                            description: Only application for standard3 SKU, where
                              the search service can have up to 1000 indexes.
                      publicNetworkAccess:
                        type: string
                        default: enabled
                        description: This value can be set to 'enabled' to avoid breaking
                          changes on existing customer resources and templates. If
                          set to 'disabled', traffic over public interface is not
                          allowed, and private endpoint connections would be the exclusive
                          access method.
                        enum:
                        - enabled
                        - disabled
                        x-ms-enum:
                          name: PublicNetworkAccess
                          modelAsString: false
                      status:
                        readOnly: true
                        type: string
                        description: 'The status of the search service. Possible values
                          include: ''running'': The search service is running and
                          no provisioning operations are underway. ''provisioning'':
                          The search service is being provisioned or scaled up or
                          down. ''deleting'': The search service is being deleted.
                          ''degraded'': The search service is degraded. This can occur
                          when the underlying search units are not healthy. The search
                          service is most likely operational, but performance might
                          be slow and some requests might be dropped. ''disabled'':
                          The search service is disabled. In this state, the service
                          will reject all API requests. ''error'': The search service
                          is in an error state. If your service is in the degraded,
                          disabled, or error states, Microsoft is actively investigating
                          the underlying issue. Dedicated services in these states
                          are still chargeable based on the number of search units
                          provisioned.'
                        enum:
                        - running
                        - provisioning
                        - deleting
                        - degraded
                        - disabled
                        - error
                        x-ms-enum:
                          name: SearchServiceStatus
                          modelAsString: false
                          values:
                          - value: running
                            name: Running
                            description: The search service is running and no provisioning
                              operations are underway.
                          - value: provisioning
                            name: Provisioning
                            description: The search service is being provisioned or
                              scaled up or down.
                          - value: deleting
                            name: Deleting
                            description: The search service is being deleted.
                          - value: degraded
                            name: Degraded
                            description: The search service is degraded because underlying
                              search units are not healthy.
                          - value: disabled
                            name: Disabled
                            description: The search service is disabled and all API
                              requests will be rejected.
                          - value: error
                            name: Error
                            description: The search service is in error state, indicating
                              either a failure to provision or to be deleted.
                      statusDetails:
                        readOnly: true
                        type: string
                        description: The details of the search service status.
                      provisioningState:
                        readOnly: true
                        type: string
                        description: The state of the last provisioning operation
                          performed on the search service. Provisioning is an intermediate
                          state that occurs while service capacity is being established.
                          After capacity is set up, provisioningState changes to either
                          'succeeded' or 'failed'. Client applications can poll provisioning
                          status (the recommended polling interval is from 30 seconds
                          to one minute) by using the Get Search Service operation
                          to see when an operation is completed. If you are using
                          the free service, this value tends to come back as 'succeeded'
                          directly in the call to Create search service. This is because
                          the free service uses capacity that is already set up.
                        enum:
                        - succeeded
                        - provisioning
                        - failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: false
                          values:
                          - value: succeeded
                            name: Succeeded
                            description: The last provisioning operation has completed
                              successfully.
                          - value: provisioning
                            name: Provisioning
                            description: The search service is being provisioned or
                              scaled up or down.
                          - value: failed
                            name: Failed
                            description: The last provisioning operation has failed.
                      networkRuleSet:
                        description: Network-specific rules that determine how the
                          search service may be reached.
                        properties:
                          ipRules:
                            type: array
                            description: A list of IP restriction rules used for an
                              IP firewall. Any IPs that do not match the rules are
                              blocked by the firewall. These rules are only applied
                              when the 'publicNetworkAccess' of the search service
                              is 'enabled'.
                            items:
                              properties:
                                value:
                                  type: string
                                  description: Value corresponding to a single IPv4
                                    address (for example, 123.1.2.3) or an IP range
                                    in CIDR format (for example, 123.1.2.3/24) to
                                    be allowed.
                              description: The IP restriction rule of the search service.
                      encryptionWithCmk:
                        description: Specifies any policy regarding encryption of
                          resources (such as indexes) using customer manager keys
                          within a search service.
                        type: object
                        properties:
                          enforcement:
                            description: Describes how a search service should enforce
                              having one or more non-customer-encrypted resources.
                            type: string
                            enum:
                            - Disabled
                            - Enabled
                            - Unspecified
                            x-ms-enum:
                              name: SearchEncryptionWithCmk
                              modelAsString: false
                              values:
                              - value: Disabled
                                name: Disabled
                                description: No enforcement will be made and the search
                                  service can have non-customer-encrypted resources.
                              - value: Enabled
                                name: Enabled
                                description: Search service will be marked as non-compliant
                                  if there are one or more non-customer-encrypted
                                  resources.
                              - value: Unspecified
                                name: Unspecified
                                description: Enforcement policy is not explicitly
                                  specified, with the behavior being the same as if
                                  it were set to 'Disabled'.
                          encryptionComplianceStatus:
                            readOnly: true
                            description: Describes whether the search service is compliant
                              or not with respect to having non-customer-encrypted
                              resources. If a service has more than one non-customer-encrypted
                              resource and 'Enforcement' is 'enabled' then the service
                              will be marked as 'nonCompliant'.
                            type: string
                            enum:
                            - Compliant
                            - NonCompliant
                            x-ms-enum:
                              name: SearchEncryptionComplianceStatus
                              modelAsString: false
                              values:
                              - value: Compliant
                                name: Compliant
                                description: Indicates that the search service is
                                  compliant, either because number of non-customer-encrypted
                                  resources is zero or enforcement is disabled.
                              - value: NonCompliant
                                name: NonCompliant
                                description: Indicates that the search service has
                                  more than one non-customer-encrypted resources.
                      disableLocalAuth:
                        type: boolean
                        description: When set to true, calls to the search service
                          will not be permitted to utilize API keys for authentication.
                          This cannot be set to true if 'dataPlaneAuthOptions' are
                          defined.
                        nullable: true
                      authOptions:
                        description: Defines the options for how the data plane API
                          of a search service authenticates requests. This cannot
                          be set if 'disableLocalAuth' is set to true.
                        type: object
                        properties:
                          apiKeyOnly:
                            type: object
                            properties: {}
                            description: Indicates that only the API key can be used
                              for authentication.
                          aadOrApiKey:
                            description: Indicates that either the API key or an access
                              token from a Microsoft Entra ID tenant can be used for
                              authentication.
                            type: object
                            properties:
                              aadAuthFailureMode:
                                type: string
                                description: Describes what response the data plane
                                  API of a search service would send for requests
                                  that failed authentication.
                                enum:
                                - http403
                                - http401WithBearerChallenge
                                x-ms-enum:
                                  name: AadAuthFailureMode
                                  modelAsString: false
                                  values:
                                  - value: http403
                                    name: Http403
                                    description: Indicates that requests that failed
[...]
