openapi: 3.0.0
info:
  title: Security Center
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  version: 2025-01-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /{resourceId}/providers/Microsoft.Security/defenderForStorageSettings/{settingName}:
    get:
      tags:
      - DefenderForStorage
      description: Gets the Defender for Storage settings for the specified storage
        account.
      operationId: DefenderForStorage_Get
      parameters:
      - name: api-version
        in: query
        required: true
        description: API version for the operation
        schema:
          type: string
      - name: resourceId
        in: path
        required: true
        description: The identifier of the resource.
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: settingName
        in: path
        required: true
        x-ms-enum:
          name: settingName
          modelAsString: true
          values:
          - value: current
            description: Name of the Defender for Storage Settings name.
        description: Defender for Storage setting name.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-z][a-z0-9]*$
          enum:
          - current
      responses:
        '200':
          description: Successful request to get Defender for Storage settings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  properties:
                    type: object
                    properties:
                      isEnabled:
                        type: boolean
                        description: Indicates whether Defender for Storage is enabled
                          on this storage account.
                      malwareScanning:
                        type: object
                        properties:
                          onUpload:
                            type: object
                            properties:
                              isEnabled:
                                type: boolean
                                description: Indicates whether On Upload malware scanning
                                  should be enabled.
                              capGBPerMonth:
                                type: integer
                                format: int32
                                description: Defines the max GB to be scanned per
                                  Month. Set to -1 if no capping is needed. If not
                                  specified, the default value is -1.
                            description: Properties of On Upload malware scanning.
                          scanResultsEventGridTopicResourceId:
                            type: string
                            description: Optional. Resource id of an Event Grid Topic
                              to send scan results to.
                          operationStatus:
                            type: object
                            readOnly: true
                            description: Upon failure or partial success. Additional
                              data describing Malware Scanning enable/disable operation.
                            properties:
                              code:
                                type: string
                                description: The operation status code.
                              message:
                                type: string
                                description: Additional information regarding the
                                  success/failure of the operation.
                        description: Properties of Malware Scanning.
                      sensitiveDataDiscovery:
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            description: Indicates whether Sensitive Data Discovery
                              should be enabled.
                          operationStatus:
                            type: object
                            readOnly: true
                            description: Upon failure or partial success. Additional
                              data describing Sensitive Data Discovery enable/disable
                              operation.
                            properties:
                              code:
                                type: string
                                description: The operation status code.
                              message:
                                type: string
                                description: Additional information regarding the
                                  success/failure of the operation.
                        description: Properties of Sensitive Data Discovery.
                      overrideSubscriptionLevelSettings:
                        type: boolean
                        description: Indicates whether the settings defined for this
                          storage account should override the settings defined for
                          the subscription.
                    description: Defender for Storage resource properties.
                description: Describes an Azure resource.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                type: object
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    x-ms-client-flatten: true
                    description: The error object.
                    x-ms-external: true
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          x-ms-external: true
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                x-ms-external: true
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              description: The error additional info.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
    put:
      tags:
      - DefenderForStorage
      description: Creates or updates the Defender for Storage settings on a specified
        storage account.
      operationId: DefenderForStorage_Create
      parameters:
      - name: api-version
        in: query
        required: true
        description: API version for the operation
        schema:
          type: string
      - name: resourceId
        in: path
        required: true
        description: The identifier of the resource.
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: settingName
        in: path
        required: true
        x-ms-enum:
          name: settingName
          modelAsString: true
          values:
          - value: current
            description: Name of the Defender for Storage Settings name.
        description: Defender for Storage setting name.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-z][a-z0-9]*$
          enum:
          - current
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource Id
                name:
                  readOnly: true
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                properties:
                  type: object
                  properties:
                    isEnabled:
                      type: boolean
                      description: Indicates whether Defender for Storage is enabled
                        on this storage account.
                    malwareScanning:
                      type: object
                      properties:
                        onUpload:
                          type: object
                          properties:
                            isEnabled:
                              type: boolean
                              description: Indicates whether On Upload malware scanning
                                should be enabled.
                            capGBPerMonth:
                              type: integer
                              format: int32
                              description: Defines the max GB to be scanned per Month.
                                Set to -1 if no capping is needed. If not specified,
                                the default value is -1.
                          description: Properties of On Upload malware scanning.
                        scanResultsEventGridTopicResourceId:
                          type: string
                          description: Optional. Resource id of an Event Grid Topic
                            to send scan results to.
                        operationStatus:
                          type: object
                          readOnly: true
                          description: Upon failure or partial success. Additional
                            data describing Malware Scanning enable/disable operation.
                          properties:
                            code:
                              type: string
                              description: The operation status code.
                            message:
                              type: string
                              description: Additional information regarding the success/failure
                                of the operation.
                      description: Properties of Malware Scanning.
                    sensitiveDataDiscovery:
                      type: object
                      properties:
                        isEnabled:
                          type: boolean
                          description: Indicates whether Sensitive Data Discovery
                            should be enabled.
                        operationStatus:
                          type: object
                          readOnly: true
                          description: Upon failure or partial success. Additional
                            data describing Sensitive Data Discovery enable/disable
                            operation.
                          properties:
                            code:
                              type: string
                              description: The operation status code.
                            message:
                              type: string
                              description: Additional information regarding the success/failure
                                of the operation.
                      description: Properties of Sensitive Data Discovery.
                    overrideSubscriptionLevelSettings:
                      type: boolean
                      description: Indicates whether the settings defined for this
                        storage account should override the settings defined for the
                        subscription.
                  description: Defender for Storage resource properties.
              description: Describes an Azure resource.
              x-ms-azure-resource: true
        description: Defender for Storage Settings
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: Successful request to create or update Defender for Storage
            settings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  properties:
                    type: object
                    properties:
                      isEnabled:
                        type: boolean
                        description: Indicates whether Defender for Storage is enabled
                          on this storage account.
                      malwareScanning:
                        type: object
                        properties:
                          onUpload:
                            type: object
                            properties:
                              isEnabled:
                                type: boolean
                                description: Indicates whether On Upload malware scanning
                                  should be enabled.
                              capGBPerMonth:
                                type: integer
                                format: int32
                                description: Defines the max GB to be scanned per
                                  Month. Set to -1 if no capping is needed. If not
                                  specified, the default value is -1.
                            description: Properties of On Upload malware scanning.
                          scanResultsEventGridTopicResourceId:
                            type: string
                            description: Optional. Resource id of an Event Grid Topic
                              to send scan results to.
                          operationStatus:
                            type: object
                            readOnly: true
                            description: Upon failure or partial success. Additional
                              data describing Malware Scanning enable/disable operation.
                            properties:
                              code:
                                type: string
                                description: The operation status code.
                              message:
                                type: string
                                description: Additional information regarding the
                                  success/failure of the operation.
                        description: Properties of Malware Scanning.
                      sensitiveDataDiscovery:
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            description: Indicates whether Sensitive Data Discovery
                              should be enabled.
                          operationStatus:
                            type: object
                            readOnly: true
                            description: Upon failure or partial success. Additional
                              data describing Sensitive Data Discovery enable/disable
                              operation.
                            properties:
                              code:
                                type: string
                                description: The operation status code.
                              message:
                                type: string
                                description: Additional information regarding the
                                  success/failure of the operation.
                        description: Properties of Sensitive Data Discovery.
                      overrideSubscriptionLevelSettings:
                        type: boolean
                        description: Indicates whether the settings defined for this
                          storage account should override the settings defined for
                          the subscription.
                    description: Defender for Storage resource properties.
                description: Describes an Azure resource.
                x-ms-azure-resource: true
        '201':
          description: Request to  create or update Defender for Storage settings
            partially succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  properties:
                    type: object
                    properties:
                      isEnabled:
                        type: boolean
                        description: Indicates whether Defender for Storage is enabled
                          on this storage account.
                      malwareScanning:
                        type: object
                        properties:
                          onUpload:
                            type: object
                            properties:
                              isEnabled:
                                type: boolean
                                description: Indicates whether On Upload malware scanning
                                  should be enabled.
                              capGBPerMonth:
                                type: integer
                                format: int32
                                description: Defines the max GB to be scanned per
                                  Month. Set to -1 if no capping is needed. If not
                                  specified, the default value is -1.
                            description: Properties of On Upload malware scanning.
                          scanResultsEventGridTopicResourceId:
                            type: string
                            description: Optional. Resource id of an Event Grid Topic
                              to send scan results to.
                          operationStatus:
                            type: object
                            readOnly: true
                            description: Upon failure or partial success. Additional
                              data describing Malware Scanning enable/disable operation.
                            properties:
                              code:
                                type: string
                                description: The operation status code.
                              message:
                                type: string
                                description: Additional information regarding the
                                  success/failure of the operation.
                        description: Properties of Malware Scanning.
                      sensitiveDataDiscovery:
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            description: Indicates whether Sensitive Data Discovery
                              should be enabled.
                          operationStatus:
                            type: object
                            readOnly: true
                            description: Upon failure or partial success. Additional
                              data describing Sensitive Data Discovery enable/disable
                              operation.
                            properties:
                              code:
                                type: string
                                description: The operation status code.
                              message:
                                type: string
                                description: Additional information regarding the
                                  success/failure of the operation.
                        description: Properties of Sensitive Data Discovery.
                      overrideSubscriptionLevelSettings:
                        type: boolean
                        description: Indicates whether the settings defined for this
                          storage account should override the settings defined for
                          the subscription.
                    description: Defender for Storage resource properties.
                description: Describes an Azure resource.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                type: object
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    x-ms-client-flatten: true
                    description: The error object.
                    x-ms-external: true
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          x-ms-external: true
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                x-ms-external: true
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              description: The error additional info.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
  /{resourceId}/providers/Microsoft.Security/defenderForStorageSettings/{settingName}/startMalwareScan:
    post:
      tags:
      - DefenderForStorage
      - Antimalware
      - Scan
      description: Initiate a Defender for Storage malware scan for the specified
        storage account.
      operationId: DefenderForStorage_StartMalwareScan
      parameters:
      - name: api-version
        in: query
        required: true
        description: API version for the operation
        schema:
          type: string
      - name: resourceId
        in: path
        required: true
        description: The identifier of the resource.
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: settingName
        in: path
        required: true
        x-ms-enum:
          name: settingName
          modelAsString: true
          values:
          - value: current
            description: Name of the Defender for Storage Settings name.
        description: Defender for Storage setting name.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-z][a-z0-9]*$
          enum:
          - current
      responses:
        '200':
          description: The status of the malware scan operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  properties:
                    type: object
                    properties:
                      scanId:
                        type: string
                        description: The identifier of the scan.
                      scanStatus:
                        type: string
                        description: A status code of the scan operation.
                      scanStatusMessage:
                        type: string
                        description: A description of the status of the scan.
                      scanStartTime:
                        type: string
                        description: The time at which the scan had been initiated.
                      scanEndTime:
                        type: string
                        description: The time at which the scan has ended. Only available
                          for a scan which has terminated.
                      scanSummary:
                        type: object
                        description: A summary of the scan results.
                        properties:
                          blobs:
                            type: object
                            description: A summary of the scan results of the blobs
                              that were scanned.
                            properties:
                              totalBlobsScanned:
                                type: integer
                                format: int64
                                description: The total number of blobs that were scanned.
                              maliciousBlobsCount:
                                type: integer
                                format: int64
                                description: The number of malicious blobs that were
                                  detected during the scan.
                              skippedBlobsCount:
                                type: integer
                                format: int64
                                description: The number of blobs that were skipped.
                              failedBlobsCount:
                                type: integer
                                format: int64
                                description: The number of failed blob scans.
                              scannedBlobsInGB:
                                type: number
                                format: double
                                description: The number of gigabytes of data that
                                  were scanned.
                          estimatedScanCostUSD:
                            type: number
                            format: double
                            description: The estimated cost of the scan. Only available
                              for a scan which has terminated.
                description: Describes the state of a malware scan operation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                type: object
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    x-ms-client-flatten: true
                    description: The error object.
                    x-ms-external: true
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          x-ms-external: true
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                x-ms-external: true
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              description: The error additional info.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
  ? /{resourceId}/providers/Microsoft.Security/defenderForStorageSettings/{settingName}/malwareScans/{scanId}/cancelMalwareScan
  : post:
      tags:
      - DefenderForStorage
      - Antimalware
      - Scan
      description: Cancels a Defender for Storage malware scan for the specified storage
        account.
      operationId: DefenderForStorage_CancelMalwareScan
      parameters:
      - name: api-version
        in: query
        required: true
        description: API version for the operation
        schema:
          type: string
      - name: resourceId
        in: path
        required: true
        description: The identifier of the resource.
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: settingName
        in: path
        required: true
        x-ms-enum:
          name: settingName
          modelAsString: true
          values:
          - value: current
            description: Name of the Defender for Storage Settings name.
        description: Defender for Storage setting name.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-z][a-z0-9]*$
          enum:
          - current
      - name: scanId
        in: path
        required: true
        description: The identifier of the scan. Can be either 'latest' or a GUID.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^(latest|[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12})$
      responses:
        '200':
          description: The status of the malware scan operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  properties:
                    type: object
                    properties:
                      scanId:
                        type: string
                        description: The identifier of the scan.
                      scanStatus:
                        type: string
                        description: A status code of the scan operation.
                      scanStatusMessage:
                        type: string
                        description: A description of the status of the scan.
                      scanStartTime:
                        type: string
                        description: The time at which the scan had been initiated.
                      scanEndTime:
                        type: string
                        description: The time at which the scan has ended. Only available
                          for a scan which has terminated.
                      scanSummary:
                        type: object
                        description: A summary of the scan results.
                        properties:
                          blobs:
                            type: object
                            description: A summary of the scan results of the blobs
                              that were scanned.
                            properties:
                              totalBlobsScanned:
                                type: integer
                                format: int64
                                description: The total number of blobs that were scanned.
                              maliciousBlobsCount:
                                type: integer
                                format: int64
                                description: The number of malicious blobs that were
                                  detected during the scan.
                              skippedBlobsCount:
                                type: integer
                                format: int64
                                description: The number of blobs that were skipped.
                              failedBlobsCount:
                                type: integer
                                format: int64
                                description: The number of failed blob scans.
                              scannedBlobsInGB:
                                type: number
                                format: double
                                description: The number of gigabytes of data that
                                  were scanned.
                          estimatedScanCostUSD:
                            type: number
                            format: double
                            description: The estimated cost of the scan. Only available
                              for a scan which has terminated.
                description: Describes the state of a malware scan operation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                type: object
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    x-ms-client-flatten: true
                    description: The error object.
                    x-ms-external: true
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          x-ms-external: true
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                x-ms-external: true
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              description: The error additional info.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
  /{resourceId}/providers/Microsoft.Security/defenderForStorageSettings/{settingName}/malwareScans/{scanId}:
    get:
      tags:
      - DefenderForStorage
      - Antimalware
      - Scan
      description: Gets the Defender for Storage malware scan for the specified storage
        resource.
      operationId: DefenderForStorage_GetMalwareScan
      parameters:
      - name: api-version
        in: query
        required: true
        description: API version for the operation
        schema:
          type: string
      - name: resourceId
        in: path
        required: true
        description: The identifier of the resource.
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: settingName
        in: path
        required: true
        x-ms-enum:
          name: settingName
          modelAsString: true
          values:
          - value: current
            description: Name of the Defender for Storage Settings name.
        description: Defender for Storage setting name.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-z][a-z0-9]*$
          enum:
          - current
      - name: scanId
        in: path
        required: true
        description: The identifier of the scan. Can be either 'latest' or a GUID.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^(latest|[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12})$
      responses:
        '200':
          description: The state of the malware scan operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  properties:
                    type: object
                    properties:
                      scanId:
                        type: string
                        description: The identifier of the scan.
                      scanStatus:
                        type: string
                        description: A status code of the scan operation.
                      scanStatusMessage:
                        type: string
                        description: A description of the status of the scan.
                      scanStartTime:
                        type: string
                        description: The time at which the scan had been initiated.
                      scanEndTime:
                        type: string
                        description: The time at which the scan has ended. Only available
                          for a scan which has terminated.
                      scanSummary:
                        type: object
                        description: A summary of the scan results.
                        properties:
                          blobs:
                            type: object
                            description: A summary of the scan results of the blobs
                              that were scanned.
                            properties:
                              totalBlobsScanned:
                                type: integer
                                format: int64
                                description: The total number of blobs that were scanned.
                              maliciousBlobsCount:
                                type: integer
                                format: int64
                                description: The number of malicious blobs that were
                                  detected during the scan.
                              skippedBlobsCount:
                                type: integer
                                format: int64
                                description: The number of blobs that were skipped.
                              failedBlobsCount:
                                type: integer
                                format: int64
                                description: The number of failed blob scans.
                              scannedBlobsInGB:
                                type: number
                                format: double
                                description: The number of gigabytes of data that
                                  were scanned.
                          estimatedScanCostUSD:
                            type: number
                            format: double
                            description: The estimated cost of the scan. Only available
                              for a scan which has terminated.
                description: Describes the state of a malware scan operation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                type: object
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    x-ms-client-flatten: true
                    description: The error object.
                    x-ms-external: true
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          x-ms-external: true
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                x-ms-external: true
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              description: The error additional info.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
components:
  parameters:
    DefenderForStorageSettingName:
      name: settingName
      in: path
      required: true
      x-ms-enum:
        name: settingName
        modelAsString: true
        values:
        - value: current
          description: Name of the Defender for Storage Settings name.
      description: Defender for Storage setting name.
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-z][a-z0-9]*$
        enum:
        - current
    ScanId:
      name: scanId
      in: path
      required: true
      description: The identifier of the scan. Can be either 'latest' or a GUID.
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^(latest|[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12})$
    ApiVersion:
      name: api-version
      in: query
      required: true
      description: API version for the operation
      schema:
        type: string
    ResourceId:
      name: resourceId
      in: path
      required: true
      description: The identifier of the resource.
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    DefenderForStorageSetting:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        properties:
          type: object
          properties:
            isEnabled:
              type: boolean
              description: Indicates whether Defender for Storage is enabled on this
                storage account.
            malwareScanning:
              type: object
              properties:
                onUpload:
                  type: object
                  properties:
                    isEnabled:
                      type: boolean
                      description: Indicates whether On Upload malware scanning should
                        be enabled.
                    capGBPerMonth:
                      type: integer
                      format: int32
                      description: Defines the max GB to be scanned per Month. Set
                        to -1 if no capping is needed. If not specified, the default
                        value is -1.
                  description: Properties of On Upload malware scanning.
                scanResultsEventGridTopicResourceId:
                  type: string
                  description: Optional. Resource id of an Event Grid Topic to send
                    scan results to.
                operationStatus:
                  type: object
                  readOnly: true
                  description: Upon failure or partial success. Additional data describing
                    Malware Scanning enable/disable operation.
                  properties:
                    code:
                      type: string
                      description: The operation status code.
                    message:
                      type: string
                      description: Additional information regarding the success/failure
                        of the operation.
              description: Properties of Malware Scanning.
            sensitiveDataDiscovery:
              type: object
              properties:
                isEnabled:
                  type: boolean
                  description: Indicates whether Sensitive Data Discovery should be
                    enabled.
                operationStatus:
                  type: object
                  readOnly: true
                  description: Upon failure or partial success. Additional data describing
                    Sensitive Data Discovery enable/disable operation.
                  properties:
                    code:
                      type: string
                      description: The operation status code.
                    message:
                      type: string
                      description: Additional information regarding the success/failure
                        of the operation.
              description: Properties of Sensitive Data Discovery.
            overrideSubscriptionLevelSettings:
              type: boolean
              description: Indicates whether the settings defined for this storage
                account should override the settings defined for the subscription.
          description: Defender for Storage resource properties.
      description: Describes an Azure resource.
      x-ms-azure-resource: true
    DefenderForStorageSettingProperties:
      type: object
      properties:
        isEnabled:
          type: boolean
          description: Indicates whether Defender for Storage is enabled on this storage
            account.
        malwareScanning:
          type: object
          properties:
            onUpload:
              type: object
              properties:
                isEnabled:
                  type: boolean
                  description: Indicates whether On Upload malware scanning should
                    be enabled.
                capGBPerMonth:
                  type: integer
                  format: int32
                  description: Defines the max GB to be scanned per Month. Set to
                    -1 if no capping is needed. If not specified, the default value
                    is -1.
              description: Properties of On Upload malware scanning.
            scanResultsEventGridTopicResourceId:
              type: string
              description: Optional. Resource id of an Event Grid Topic to send scan
                results to.
            operationStatus:
              type: object
              readOnly: true
              description: Upon failure or partial success. Additional data describing
                Malware Scanning enable/disable operation.
              properties:
                code:
                  type: string
                  description: The operation status code.
                message:
                  type: string
                  description: Additional information regarding the success/failure
                    of the operation.
          description: Properties of Malware Scanning.
        sensitiveDataDiscovery:
          type: object
          properties:
            isEnabled:
              type: boolean
              description: Indicates whether Sensitive Data Discovery should be enabled.
            operationStatus:
              type: object
              readOnly: true
              description: Upon failure or partial success. Additional data describing
                Sensitive Data Discovery enable/disable operation.
              properties:
                code:
                  type: string
                  description: The operation status code.
                message:
                  type: string
                  description: Additional information regarding the success/failure
                    of the operation.
          description: Properties of Sensitive Data Discovery.
        overrideSubscriptionLevelSettings:
          type: boolean
          description: Indicates whether the settings defined for this storage account
            should override the settings defined for the subscription.
      description: Defender for Storage resource properties.
    MalwareScanningProperties:
      type: object
      properties:
        onUpload:
          type: object
          properties:
            isEnabled:
              type: boolean
              description: Indicates whether On Upload malware scanning should be
                enabled.
            capGBPerMonth:
              type: integer
              format: int32
              description: Defines the max GB to be scanned per Month. Set to -1 if
                no capping is needed. If not specified, the default value is -1.
          description: Properties of On Upload malware scanning.
        scanResultsEventGridTopicResourceId:
          type: string
          description: Optional. Resource id of an Event Grid Topic to send scan results
            to.
        operationStatus:
          type: object
          readOnly: true
          description: Upon failure or partial success. Additional data describing
            Malware Scanning enable/disable operation.
          properties:
            code:
              type: string
              description: The operation status code.
            message:
              type: string
              description: Additional information regarding the success/failure of
                the operation.
      description: Properties of Malware Scanning.
    OnUploadProperties:
      type: object
      properties:
        isEnabled:
          type: boolean
          description: Indicates whether On Upload malware scanning should be enabled.
        capGBPerMonth:
          type: integer
          format: int32
          description: Defines the max GB to be scanned per Month. Set to -1 if no
            capping is needed. If not specified, the default value is -1.
      description: Properties of On Upload malware scanning.
    SensitiveDataDiscoveryProperties:
      type: object
      properties:
        isEnabled:
          type: boolean
          description: Indicates whether Sensitive Data Discovery should be enabled.
        operationStatus:
          type: object
          readOnly: true
          description: Upon failure or partial success. Additional data describing
            Sensitive Data Discovery enable/disable operation.
          properties:
            code:
              type: string
              description: The operation status code.
            message:
              type: string
              description: Additional information regarding the success/failure of
                the operation.
      description: Properties of Sensitive Data Discovery.
    OperationStatus:
      type: object
      description: A status describing the success/failure of the enablement/disablement
        operation.
      properties:
        code:
          type: string
          description: The operation status code.
        message:
          type: string
          description: Additional information regarding the success/failure of the
            operation.
    MalwareScan:
      type: object
      properties:
        properties:
          type: object
          properties:
            scanId:
              type: string
              description: The identifier of the scan.
            scanStatus:
              type: string
              description: A status code of the scan operation.
            scanStatusMessage:
              type: string
              description: A description of the status of the scan.
            scanStartTime:
              type: string
              description: The time at which the scan had been initiated.
            scanEndTime:
              type: string
              description: The time at which the scan has ended. Only available for
                a scan which has terminated.
            scanSummary:
              type: object
              description: A summary of the scan results.
              properties:
                blobs:
                  type: object
                  description: A summary of the scan results of the blobs that were
                    scanned.
                  properties:
                    totalBlobsScanned:
                      type: integer
                      format: int64
                      description: The total number of blobs that were scanned.
                    maliciousBlobsCount:
                      type: integer
                      format: int64
                      description: The number of malicious blobs that were detected
                        during the scan.
                    skippedBlobsCount:
                      type: integer
                      format: int64
                      description: The number of blobs that were skipped.
                    failedBlobsCount:
                      type: integer
                      format: int64
                      description: The number of failed blob scans.
                    scannedBlobsInGB:
                      type: number
                      format: double
                      description: The number of gigabytes of data that were scanned.
                estimatedScanCostUSD:
                  type: number
                  format: double
                  description: The estimated cost of the scan. Only available for
                    a scan which has terminated.
      description: Describes the state of a malware scan operation.
    MalwareScanProperties:
      type: object
      properties:
        scanId:
          type: string
          description: The identifier of the scan.
        scanStatus:
          type: string
          description: A status code of the scan operation.
        scanStatusMessage:
          type: string
          description: A description of the status of the scan.
        scanStartTime:
          type: string
          description: The time at which the scan had been initiated.
        scanEndTime:
          type: string
          description: The time at which the scan has ended. Only available for a
            scan which has terminated.
        scanSummary:
          type: object
          description: A summary of the scan results.
          properties:
            blobs:
              type: object
              description: A summary of the scan results of the blobs that were scanned.
              properties:
                totalBlobsScanned:
                  type: integer
                  format: int64
                  description: The total number of blobs that were scanned.
                maliciousBlobsCount:
                  type: integer
                  format: int64
                  description: The number of malicious blobs that were detected during
                    the scan.
                skippedBlobsCount:
                  type: integer
                  format: int64
                  description: The number of blobs that were skipped.
                failedBlobsCount:
                  type: integer
                  format: int64
                  description: The number of failed blob scans.
                scannedBlobsInGB:
                  type: number
                  format: double
                  description: The number of gigabytes of data that were scanned.
            estimatedScanCostUSD:
              type: number
              format: double
              description: The estimated cost of the scan. Only available for a scan
                which has terminated.
    ScanSummary:
      type: object
      description: A summary of the scan results.
      properties:
        blobs:
          type: object
          description: A summary of the scan results of the blobs that were scanned.
          properties:
            totalBlobsScanned:
              type: integer
              format: int64
              description: The total number of blobs that were scanned.
            maliciousBlobsCount:
              type: integer
              format: int64
              description: The number of malicious blobs that were detected during
                the scan.
            skippedBlobsCount:
              type: integer
              format: int64
              description: The number of blobs that were skipped.
            failedBlobsCount:
              type: integer
              format: int64
              description: The number of failed blob scans.
            scannedBlobsInGB:
              type: number
              format: double
              description: The number of gigabytes of data that were scanned.
        estimatedScanCostUSD:
          type: number
          format: double
          description: The estimated cost of the scan. Only available for a scan which
            has terminated.
    BlobsScanSummary:
      type: object
      description: A summary of the scan results of the blobs that were scanned.
      properties:
        totalBlobsScanned:
          type: integer
          format: int64
          description: The total number of blobs that were scanned.
        maliciousBlobsCount:
          type: integer
          format: int64
          description: The number of malicious blobs that were detected during the
            scan.
        skippedBlobsCount:
          type: integer
          format: int64
          description: The number of blobs that were skipped.
        failedBlobsCount:
          type: integer
          format: int64
          description: The number of failed blob scans.
        scannedBlobsInGB:
          type: number
          format: double
          description: The number of gigabytes of data that were scanned.
    CloudErrorBody:
      x-ms-external: true
      type: object
      description: The error detail.
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            x-ms-external: true
            type: object
            description: The error detail.
            properties:
              code:
                readOnly: true
                type: string
                description: The error code.
              message:
                readOnly: true
                type: string
                description: The error message.
              target:
                readOnly: true
                type: string
                description: The error target.
              details:
                readOnly: true
                type: array
                items:
                  x-ms-external: true
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      readOnly: true
                      type: string
                      description: The error code.
                    message:
                      readOnly: true
                      type: string
                      description: The error message.
                    target:
                      readOnly: true
                      type: string
                      description: The error target.
                description: The error details.
              additionalInfo:
                readOnly: true
                type: array
                items:
                  properties:
                    type:
                      readOnly: true
                      type: string
                      description: The additional info type.
                    info:
                      readOnly: true
                      type: object
                      description: The additional info.
                  description: The resource management error additional info.
                description: The error additional info.
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            properties:
              type:
                readOnly: true
                type: string
                description: The additional info type.
              info:
                readOnly: true
                type: object
                description: The additional info.
            description: The resource management error additional info.
          description: The error additional info.
    ErrorAdditionalInfo:
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    CloudError:
      x-ms-external: true
      type: object
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          x-ms-client-flatten: true
          description: The error object.
          x-ms-external: true
          type: object
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                x-ms-external: true
                type: object
                description: The error detail.
                properties:
                  code:
                    readOnly: true
                    type: string
                    description: The error code.
                  message:
                    readOnly: true
                    type: string
                    description: The error message.
                  target:
                    readOnly: true
                    type: string
                    description: The error target.
                  details:
                    readOnly: true
                    type: array
                    items:
                      x-ms-external: true
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          readOnly: true
                          type: string
                          description: The error code.
                        message:
                          readOnly: true
                          type: string
                          description: The error message.
                        target:
                          readOnly: true
                          type: string
                          description: The error target.
                    description: The error details.
                  additionalInfo:
                    readOnly: true
                    type: array
                    items:
                      properties:
                        type:
                          readOnly: true
                          type: string
                          description: The additional info type.
                        info:
                          readOnly: true
                          type: object
                          description: The additional info.
                      description: The resource management error additional info.
                    description: The error additional info.
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              description: The error additional info.
    Resource:
      type: object
      description: Describes an Azure resource.
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
      x-ms-azure-resource: true
