openapi: 3.0.0
info:
  description: Alert operation endpoints and objects.
  title: InfrastructureInsightsManagementClient
  version: 2016-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/alerts
  : get:
      tags:
      - Alerts
      description: Returns the list of all alerts in a given region.
      operationId: Alerts_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the region
        name: location
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2016-05-01
      - description: OData filter parameter.
        name: $filter
        in: query
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: A pageable list of alerts
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource Id for the resource
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The Azure Region where the resource lives
                        properties:
                          description: Contains information related to alerts.
                          x-ms-client-flatten: true
                          properties:
                            closedTimestamp:
                              description: Timestamp when the alert was closed.
                              type: string
                            createdTimestamp:
                              description: Timestamp when the alert was created.
                              type: string
                            description:
                              description: Description of the alert.
                              type: array
                              items:
                                description: Dictionary of string key-value pairs.
                                type: object
                                additionalProperties:
                                  type: string
                              x-ms-identifiers: []
                            faultId:
                              description: Gets or sets the fault ID of the alert.
                              type: string
                            alertId:
                              description: Gets or sets the ID of the alert.
                              type: string
                            faultTypeId:
                              description: Gets or sets the fault type ID of the alert.
                              type: string
                            lastUpdatedTimestamp:
                              description: Timestamp when the alert was last updated.
                              type: string
                            alertProperties:
                              description: Properties of the alert.
                              type: object
                              additionalProperties:
                                type: string
                            remediation:
                              description: Gets or sets the admin friendly remediation
                                instructions for the alert.
                              type: array
                              items:
                                description: Dictionary of string key-value pairs.
                                type: object
                                additionalProperties:
                                  type: string
                              x-ms-identifiers: []
                            resourceRegistrationId:
                              description: Gets or sets the registration ID of the
                                resource associated with the alert. If the alert is
                                not associated with a resource, the resource registration
                                ID is null.
                              type: string
                            resourceProviderRegistrationId:
                              description: Gets or sets the registration ID of the
                                service the alert belongs to.
                              type: string
                            severity:
                              description: Severity of the alert.
                              type: string
                            state:
                              description: State of the alert.
                              type: string
                            title:
                              description: Gets or sets the Resource ID for the impacted
                                item.
                              type: string
                            impactedResourceId:
                              description: Gets or sets the Resource ID for the impacted
                                item.
                              type: string
                            impactedResourceDisplayName:
                              description: Display name for the impacted item.
                              type: string
                            closedByUserAlias:
                              description: User alias who closed the alert.
                              type: string
                            hasValidRemediationAction:
                              description: Indicates if the alert can be remediated.
                              type: boolean
                      description: The core properties of ARM resources
                      x-ms-azure-resource: true
                    description: List of alerts.
                  nextLink:
                    type: string
                    description: URI to the next page.
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/components/schemas/Alert'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/alerts/{alertName}
  : get:
      tags:
      - Alerts
      description: Returns the requested an alert.
      operationId: Alerts_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the region
        name: location
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: alertName
        description: Name of the alert.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2016-05-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The Azure Region where the resource lives
                  properties:
                    description: Contains information related to alerts.
                    x-ms-client-flatten: true
                    properties:
                      closedTimestamp:
                        description: Timestamp when the alert was closed.
                        type: string
                      createdTimestamp:
                        description: Timestamp when the alert was created.
                        type: string
                      description:
                        description: Description of the alert.
                        type: array
                        items:
                          description: Dictionary of string key-value pairs.
                          type: object
                          additionalProperties:
                            type: string
                        x-ms-identifiers: []
                      faultId:
                        description: Gets or sets the fault ID of the alert.
                        type: string
                      alertId:
                        description: Gets or sets the ID of the alert.
                        type: string
                      faultTypeId:
                        description: Gets or sets the fault type ID of the alert.
                        type: string
                      lastUpdatedTimestamp:
                        description: Timestamp when the alert was last updated.
                        type: string
                      alertProperties:
                        description: Properties of the alert.
                        type: object
                        additionalProperties:
                          type: string
                      remediation:
                        description: Gets or sets the admin friendly remediation instructions
                          for the alert.
                        type: array
                        items:
                          description: Dictionary of string key-value pairs.
                          type: object
                          additionalProperties:
                            type: string
                        x-ms-identifiers: []
                      resourceRegistrationId:
                        description: Gets or sets the registration ID of the resource
                          associated with the alert. If the alert is not associated
                          with a resource, the resource registration ID is null.
                        type: string
                      resourceProviderRegistrationId:
                        description: Gets or sets the registration ID of the service
                          the alert belongs to.
                        type: string
                      severity:
                        description: Severity of the alert.
                        type: string
                      state:
                        description: State of the alert.
                        type: string
                      title:
                        description: Gets or sets the Resource ID for the impacted
                          item.
                        type: string
                      impactedResourceId:
                        description: Gets or sets the Resource ID for the impacted
                          item.
                        type: string
                      impactedResourceDisplayName:
                        description: Display name for the impacted item.
                        type: string
                      closedByUserAlias:
                        description: User alias who closed the alert.
                        type: string
                      hasValidRemediationAction:
                        description: Indicates if the alert can be remediated.
                        type: boolean
                description: The core properties of ARM resources
                x-ms-azure-resource: true
    put:
      tags:
      - Alerts
      description: Closes the given alert.
      operationId: Alerts_Close
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the region
        name: location
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: alertName
        description: Name of the alert.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2016-05-01
      - description: The username used to perform the operation.
        name: user
        required: true
        in: query
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource Id for the resource
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The Azure Region where the resource lives
                properties:
                  description: Contains information related to alerts.
                  x-ms-client-flatten: true
                  properties:
                    closedTimestamp:
                      description: Timestamp when the alert was closed.
                      type: string
                    createdTimestamp:
                      description: Timestamp when the alert was created.
                      type: string
                    description:
                      description: Description of the alert.
                      type: array
                      items:
                        description: Dictionary of string key-value pairs.
                        type: object
                        additionalProperties:
                          type: string
                      x-ms-identifiers: []
                    faultId:
                      description: Gets or sets the fault ID of the alert.
                      type: string
                    alertId:
                      description: Gets or sets the ID of the alert.
                      type: string
                    faultTypeId:
                      description: Gets or sets the fault type ID of the alert.
                      type: string
                    lastUpdatedTimestamp:
                      description: Timestamp when the alert was last updated.
                      type: string
                    alertProperties:
                      description: Properties of the alert.
                      type: object
                      additionalProperties:
                        type: string
                    remediation:
                      description: Gets or sets the admin friendly remediation instructions
                        for the alert.
                      type: array
                      items:
                        description: Dictionary of string key-value pairs.
                        type: object
                        additionalProperties:
                          type: string
                      x-ms-identifiers: []
                    resourceRegistrationId:
                      description: Gets or sets the registration ID of the resource
                        associated with the alert. If the alert is not associated
                        with a resource, the resource registration ID is null.
                      type: string
                    resourceProviderRegistrationId:
                      description: Gets or sets the registration ID of the service
                        the alert belongs to.
                      type: string
                    severity:
                      description: Severity of the alert.
                      type: string
                    state:
                      description: State of the alert.
                      type: string
                    title:
                      description: Gets or sets the Resource ID for the impacted item.
                      type: string
                    impactedResourceId:
                      description: Gets or sets the Resource ID for the impacted item.
                      type: string
                    impactedResourceDisplayName:
                      description: Display name for the impacted item.
                      type: string
                    closedByUserAlias:
                      description: User alias who closed the alert.
                      type: string
                    hasValidRemediationAction:
                      description: Indicates if the alert can be remediated.
                      type: boolean
              description: The core properties of ARM resources
              x-ms-azure-resource: true
        description: Updated alert parameter.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The Azure Region where the resource lives
                  properties:
                    description: Contains information related to alerts.
                    x-ms-client-flatten: true
                    properties:
                      closedTimestamp:
                        description: Timestamp when the alert was closed.
                        type: string
                      createdTimestamp:
                        description: Timestamp when the alert was created.
                        type: string
                      description:
                        description: Description of the alert.
                        type: array
                        items:
                          description: Dictionary of string key-value pairs.
                          type: object
                          additionalProperties:
                            type: string
                        x-ms-identifiers: []
                      faultId:
                        description: Gets or sets the fault ID of the alert.
                        type: string
                      alertId:
                        description: Gets or sets the ID of the alert.
                        type: string
                      faultTypeId:
                        description: Gets or sets the fault type ID of the alert.
                        type: string
                      lastUpdatedTimestamp:
                        description: Timestamp when the alert was last updated.
                        type: string
                      alertProperties:
                        description: Properties of the alert.
                        type: object
                        additionalProperties:
                          type: string
                      remediation:
                        description: Gets or sets the admin friendly remediation instructions
                          for the alert.
                        type: array
                        items:
                          description: Dictionary of string key-value pairs.
                          type: object
                          additionalProperties:
                            type: string
                        x-ms-identifiers: []
                      resourceRegistrationId:
                        description: Gets or sets the registration ID of the resource
                          associated with the alert. If the alert is not associated
                          with a resource, the resource registration ID is null.
                        type: string
                      resourceProviderRegistrationId:
                        description: Gets or sets the registration ID of the service
                          the alert belongs to.
                        type: string
                      severity:
                        description: Severity of the alert.
                        type: string
                      state:
                        description: State of the alert.
                        type: string
                      title:
                        description: Gets or sets the Resource ID for the impacted
                          item.
                        type: string
                      impactedResourceId:
                        description: Gets or sets the Resource ID for the impacted
                          item.
                        type: string
                      impactedResourceDisplayName:
                        description: Display name for the impacted item.
                        type: string
                      closedByUserAlias:
                        description: User alias who closed the alert.
                        type: string
                      hasValidRemediationAction:
                        description: Indicates if the alert can be remediated.
                        type: boolean
                description: The core properties of ARM resources
                x-ms-azure-resource: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/alerts/{alertName}/repair
  : post:
      tags:
      - Alerts
      x-ms-long-running-operation: true
      description: Repairs an alert.
      operationId: Alerts_Repair
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the region
        name: location
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: alertName
        description: Name of the alert.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2016-05-01
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
components:
  parameters:
    AlertNameParameter:
      name: alertName
      description: Name of the alert.
      required: true
      in: path
      x-ms-parameter-location: method
      schema:
        type: string
    UserParameter:
      description: The username used to perform the operation.
      name: user
      required: true
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      required: true
      schema:
        type: string
    ResourceGroupParameter:
      description: The name of the resource group.
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    LocationParameter:
      description: Name of the region
      name: location
      required: true
      in: path
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API Version.
      required: true
      schema:
        type: string
        default: 2016-05-01
    FilterParameter:
      description: OData filter parameter.
      name: $filter
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Alert:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The Azure Region where the resource lives
        properties:
          description: Contains information related to alerts.
          x-ms-client-flatten: true
          properties:
            closedTimestamp:
              description: Timestamp when the alert was closed.
              type: string
            createdTimestamp:
              description: Timestamp when the alert was created.
              type: string
            description:
              description: Description of the alert.
              type: array
              items:
                description: Dictionary of string key-value pairs.
                type: object
                additionalProperties:
                  type: string
              x-ms-identifiers: []
            faultId:
              description: Gets or sets the fault ID of the alert.
              type: string
            alertId:
              description: Gets or sets the ID of the alert.
              type: string
            faultTypeId:
              description: Gets or sets the fault type ID of the alert.
              type: string
            lastUpdatedTimestamp:
              description: Timestamp when the alert was last updated.
              type: string
            alertProperties:
              description: Properties of the alert.
              type: object
              additionalProperties:
                type: string
            remediation:
              description: Gets or sets the admin friendly remediation instructions
                for the alert.
              type: array
              items:
                description: Dictionary of string key-value pairs.
                type: object
                additionalProperties:
                  type: string
              x-ms-identifiers: []
            resourceRegistrationId:
              description: Gets or sets the registration ID of the resource associated
                with the alert. If the alert is not associated with a resource, the
                resource registration ID is null.
              type: string
            resourceProviderRegistrationId:
              description: Gets or sets the registration ID of the service the alert
                belongs to.
              type: string
            severity:
              description: Severity of the alert.
              type: string
            state:
              description: State of the alert.
              type: string
            title:
              description: Gets or sets the Resource ID for the impacted item.
              type: string
            impactedResourceId:
              description: Gets or sets the Resource ID for the impacted item.
              type: string
            impactedResourceDisplayName:
              description: Display name for the impacted item.
              type: string
            closedByUserAlias:
              description: User alias who closed the alert.
              type: string
            hasValidRemediationAction:
              description: Indicates if the alert can be remediated.
              type: boolean
      description: The core properties of ARM resources
      x-ms-azure-resource: true
    AlertModel:
      description: Contains alert data.
      properties:
        closedTimestamp:
          description: Timestamp when the alert was closed.
          type: string
        createdTimestamp:
          description: Timestamp when the alert was created.
          type: string
        description:
          description: Description of the alert.
          type: array
          items:
            description: Dictionary of string key-value pairs.
            type: object
            additionalProperties:
              type: string
          x-ms-identifiers: []
        faultId:
          description: Gets or sets the fault ID of the alert.
          type: string
        alertId:
          description: Gets or sets the ID of the alert.
          type: string
        faultTypeId:
          description: Gets or sets the fault type ID of the alert.
          type: string
        lastUpdatedTimestamp:
          description: Timestamp when the alert was last updated.
          type: string
        alertProperties:
          description: Properties of the alert.
          type: object
          additionalProperties:
            type: string
        remediation:
          description: Gets or sets the admin friendly remediation instructions for
            the alert.
          type: array
          items:
            description: Dictionary of string key-value pairs.
            type: object
            additionalProperties:
              type: string
          x-ms-identifiers: []
        resourceRegistrationId:
          description: Gets or sets the registration ID of the resource associated
            with the alert. If the alert is not associated with a resource, the resource
            registration ID is null.
          type: string
        resourceProviderRegistrationId:
          description: Gets or sets the registration ID of the service the alert belongs
            to.
          type: string
        severity:
          description: Severity of the alert.
          type: string
        state:
          description: State of the alert.
          type: string
        title:
          description: Gets or sets the Resource ID for the impacted item.
          type: string
        impactedResourceId:
          description: Gets or sets the Resource ID for the impacted item.
          type: string
        impactedResourceDisplayName:
          description: Display name for the impacted item.
          type: string
        closedByUserAlias:
          description: User alias who closed the alert.
          type: string
        hasValidRemediationAction:
          description: Indicates if the alert can be remediated.
          type: boolean
    AlertList:
      description: A pageable list of alerts
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource Id for the resource
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource.
              tags:
                type: object
                additionalProperties:
                  type: string
                x-ms-mutability:
                - read
                - create
                - update
                description: Resource tags.
              location:
                type: string
                x-ms-mutability:
                - read
                - create
                description: The Azure Region where the resource lives
              properties:
                description: Contains information related to alerts.
                x-ms-client-flatten: true
                properties:
                  closedTimestamp:
                    description: Timestamp when the alert was closed.
                    type: string
                  createdTimestamp:
                    description: Timestamp when the alert was created.
                    type: string
                  description:
                    description: Description of the alert.
                    type: array
                    items:
                      description: Dictionary of string key-value pairs.
                      type: object
                      additionalProperties:
                        type: string
                    x-ms-identifiers: []
                  faultId:
                    description: Gets or sets the fault ID of the alert.
                    type: string
                  alertId:
                    description: Gets or sets the ID of the alert.
                    type: string
                  faultTypeId:
                    description: Gets or sets the fault type ID of the alert.
                    type: string
                  lastUpdatedTimestamp:
                    description: Timestamp when the alert was last updated.
                    type: string
                  alertProperties:
                    description: Properties of the alert.
                    type: object
                    additionalProperties:
                      type: string
                  remediation:
                    description: Gets or sets the admin friendly remediation instructions
                      for the alert.
                    type: array
                    items:
                      description: Dictionary of string key-value pairs.
                      type: object
                      additionalProperties:
                        type: string
                    x-ms-identifiers: []
                  resourceRegistrationId:
                    description: Gets or sets the registration ID of the resource
                      associated with the alert. If the alert is not associated with
                      a resource, the resource registration ID is null.
                    type: string
                  resourceProviderRegistrationId:
                    description: Gets or sets the registration ID of the service the
                      alert belongs to.
                    type: string
                  severity:
                    description: Severity of the alert.
                    type: string
                  state:
                    description: State of the alert.
                    type: string
                  title:
                    description: Gets or sets the Resource ID for the impacted item.
                    type: string
                  impactedResourceId:
                    description: Gets or sets the Resource ID for the impacted item.
                    type: string
                  impactedResourceDisplayName:
                    description: Display name for the impacted item.
                    type: string
                  closedByUserAlias:
                    description: User alias who closed the alert.
                    type: string
                  hasValidRemediationAction:
                    description: Indicates if the alert can be remediated.
                    type: boolean
            description: The core properties of ARM resources
            x-ms-azure-resource: true
          description: List of alerts.
        nextLink:
          type: string
          description: URI to the next page.
    Resource:
      description: The core properties of ARM resources
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
      x-ms-azure-resource: true
    TrackedResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The Azure Region where the resource lives
      description: The core properties of ARM resources
      x-ms-azure-resource: true
    Dictionary:
      description: Dictionary of string key-value pairs.
      type: object
      additionalProperties:
        type: string
