openapi: 3.0.0
info:
  description: Resource health operation endpoints and objects.
  title: InfrastructureInsightsManagementClient
  version: 2016-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/serviceHealths/{serviceRegistrationId}/resourceHealths
  : get:
      tags:
      - Resources
      description: Returns a list of each resource's health under a service.
      operationId: ResourceHealths_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the region
        name: location
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Service registration ID.
        name: serviceRegistrationId
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2016-05-01
      - description: OData filter parameter.
        name: $filter
        in: query
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Pageable list of resource health objects.
                properties:
                  value:
                    description: List of resource health objects.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource Id for the resource
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The Azure Region where the resource lives
                        properties:
                          type: object
                          properties:
                            alertSummary:
                              description: Alert summary.
                              properties:
                                criticalAlertCount:
                                  description: The number of critical alerts for the
                                    service.
                                  type: integer
                                warningAlertCount:
                                  description: The number of warning alerts for the
                                    service.
                                  type: integer
                            healthState:
                              description: Health state.
                              type: string
                            namespace:
                              description: Namespace of the health resource.
                              type: string
                            registrationId:
                              description: Registration ID.
                              type: string
                            routePrefix:
                              description: Route prefix.
                              type: string
                            resourceLocation:
                              description: Resource location.
                              type: string
                            resourceName:
                              description: Resource name.
                              type: string
                            resourceDisplayName:
                              description: Resource display name.
                              type: string
                            resourceType:
                              description: Resource type.
                              type: string
                            resourceURI:
                              description: Gets or sets the resource URI.
                              type: string
                            rpRegistrationId:
                              description: Gets or sets the resource provider registration
                                ID.
                              type: string
                            usageMetrics:
                              description: Usage metrics.
                              type: array
                              items:
                                description: Metrics of resource usage.
                                properties:
                                  name:
                                    description: Name of the usage metric.
                                    type: string
                                  metricsValue:
                                    description: List of usage metrics.
                                    type: array
                                    items:
                                      description: Metrics for a source.
                                      properties:
                                        name:
                                          description: Name of the usage metric.
                                          type: string
                                        maCounterName:
                                          description: Name of the counter.
                                          type: string
                                        observedTimestamp:
                                          description: Time counter was observed.
                                          type: string
                                          format: date-time
                                        sourceType:
                                          description: Type of the source.
                                          type: string
                                        sourceName:
                                          description: Name of the source.
                                          type: string
                                          enum:
                                          - PhysicalNode
                                          - VirtualMachine
                                          - ResourceProvider
                                          x-ms-enum:
                                            name: MetricsSourceType
                                            modelAsString: true
                                        unit:
                                          description: Unit for the metric.
                                          type: string
                                          enum:
                                          - One
                                          - Percentage
                                          - B
                                          - KB
                                          - MB
                                          - GB
                                          - TB
                                          x-ms-enum:
                                            name: MetricsUnit
                                            modelAsString: true
                                        value:
                                          description: Name of the usage metric.
                                          type: number
                                          format: double
                                    x-ms-identifiers:
                                    - name
                              x-ms-identifiers:
                              - name
                          description: Models the base properties for health resource.
                          x-ms-client-flatten: true
                      description: The core properties of ARM resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: URI to next page.
                    type: string
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/components/schemas/ResourceHealth'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/serviceHealths/{serviceRegistrationId}/resourceHealths/{resourceRegistrationId}
  : get:
      tags:
      - Resources
      description: Returns the requested health information about a resource.
      operationId: ResourceHealths_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the region
        name: location
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Service registration ID.
        name: serviceRegistrationId
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Resource registration ID.
        name: resourceRegistrationId
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2016-05-01
      - description: OData filter parameter.
        name: $filter
        in: query
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The Azure Region where the resource lives
                  properties:
                    type: object
                    properties:
                      alertSummary:
                        description: Alert summary.
                        properties:
                          criticalAlertCount:
                            description: The number of critical alerts for the service.
                            type: integer
                          warningAlertCount:
                            description: The number of warning alerts for the service.
                            type: integer
                      healthState:
                        description: Health state.
                        type: string
                      namespace:
                        description: Namespace of the health resource.
                        type: string
                      registrationId:
                        description: Registration ID.
                        type: string
                      routePrefix:
                        description: Route prefix.
                        type: string
                      resourceLocation:
                        description: Resource location.
                        type: string
                      resourceName:
                        description: Resource name.
                        type: string
                      resourceDisplayName:
                        description: Resource display name.
                        type: string
                      resourceType:
                        description: Resource type.
                        type: string
                      resourceURI:
                        description: Gets or sets the resource URI.
                        type: string
                      rpRegistrationId:
                        description: Gets or sets the resource provider registration
                          ID.
                        type: string
                      usageMetrics:
                        description: Usage metrics.
                        type: array
                        items:
                          description: Metrics of resource usage.
                          properties:
                            name:
                              description: Name of the usage metric.
                              type: string
                            metricsValue:
                              description: List of usage metrics.
                              type: array
                              items:
                                description: Metrics for a source.
                                properties:
                                  name:
                                    description: Name of the usage metric.
                                    type: string
                                  maCounterName:
                                    description: Name of the counter.
                                    type: string
                                  observedTimestamp:
                                    description: Time counter was observed.
                                    type: string
                                    format: date-time
                                  sourceType:
                                    description: Type of the source.
                                    type: string
                                  sourceName:
                                    description: Name of the source.
                                    type: string
                                    enum:
                                    - PhysicalNode
                                    - VirtualMachine
                                    - ResourceProvider
                                    x-ms-enum:
                                      name: MetricsSourceType
                                      modelAsString: true
                                  unit:
                                    description: Unit for the metric.
                                    type: string
                                    enum:
                                    - One
                                    - Percentage
                                    - B
                                    - KB
                                    - MB
                                    - GB
                                    - TB
                                    x-ms-enum:
                                      name: MetricsUnit
                                      modelAsString: true
                                  value:
                                    description: Name of the usage metric.
                                    type: number
                                    format: double
                              x-ms-identifiers:
                              - name
                        x-ms-identifiers:
                        - name
                    description: Models the base properties for health resource.
                    x-ms-client-flatten: true
                description: The core properties of ARM resources
                x-ms-azure-resource: true
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      required: true
      schema:
        type: string
    ResourceGroupParameter:
      description: The name of the resource group.
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    LocationParameter:
      description: Name of the region
      name: location
      required: true
      in: path
      x-ms-parameter-location: method
      schema:
        type: string
    ServiceRegistrationIdParameter:
      description: Service registration ID.
      name: serviceRegistrationId
      required: true
      in: path
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API Version.
      required: true
      schema:
        type: string
        default: 2016-05-01
    FilterParameter:
      description: OData filter parameter.
      name: $filter
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceRegistrationIdParameter:
      description: Resource registration ID.
      name: resourceRegistrationId
      required: true
      in: path
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ResourceHealth:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The Azure Region where the resource lives
        properties:
          type: object
          properties:
            alertSummary:
              description: Alert summary.
              properties:
                criticalAlertCount:
                  description: The number of critical alerts for the service.
                  type: integer
                warningAlertCount:
                  description: The number of warning alerts for the service.
                  type: integer
            healthState:
              description: Health state.
              type: string
            namespace:
              description: Namespace of the health resource.
              type: string
            registrationId:
              description: Registration ID.
              type: string
            routePrefix:
              description: Route prefix.
              type: string
            resourceLocation:
              description: Resource location.
              type: string
            resourceName:
              description: Resource name.
              type: string
            resourceDisplayName:
              description: Resource display name.
              type: string
            resourceType:
              description: Resource type.
              type: string
            resourceURI:
              description: Gets or sets the resource URI.
              type: string
            rpRegistrationId:
              description: Gets or sets the resource provider registration ID.
              type: string
            usageMetrics:
              description: Usage metrics.
              type: array
              items:
                description: Metrics of resource usage.
                properties:
                  name:
                    description: Name of the usage metric.
                    type: string
                  metricsValue:
                    description: List of usage metrics.
                    type: array
                    items:
                      description: Metrics for a source.
                      properties:
                        name:
                          description: Name of the usage metric.
                          type: string
                        maCounterName:
                          description: Name of the counter.
                          type: string
                        observedTimestamp:
                          description: Time counter was observed.
                          type: string
                          format: date-time
                        sourceType:
                          description: Type of the source.
                          type: string
                        sourceName:
                          description: Name of the source.
                          type: string
                          enum:
                          - PhysicalNode
                          - VirtualMachine
                          - ResourceProvider
                          x-ms-enum:
                            name: MetricsSourceType
                            modelAsString: true
                        unit:
                          description: Unit for the metric.
                          type: string
                          enum:
                          - One
                          - Percentage
                          - B
                          - KB
                          - MB
                          - GB
                          - TB
                          x-ms-enum:
                            name: MetricsUnit
                            modelAsString: true
                        value:
                          description: Name of the usage metric.
                          type: number
                          format: double
                    x-ms-identifiers:
                    - name
              x-ms-identifiers:
              - name
          description: Models the base properties for health resource.
          x-ms-client-flatten: true
      description: The core properties of ARM resources
      x-ms-azure-resource: true
    ResourceHealthModel:
      type: object
      properties:
        alertSummary:
          description: Alert summary.
          properties:
            criticalAlertCount:
              description: The number of critical alerts for the service.
              type: integer
            warningAlertCount:
              description: The number of warning alerts for the service.
              type: integer
        healthState:
          description: Health state.
          type: string
        namespace:
          description: Namespace of the health resource.
          type: string
        registrationId:
          description: Registration ID.
          type: string
        routePrefix:
          description: Route prefix.
          type: string
        resourceLocation:
          description: Resource location.
          type: string
        resourceName:
          description: Resource name.
          type: string
        resourceDisplayName:
          description: Resource display name.
          type: string
        resourceType:
          description: Resource type.
          type: string
        resourceURI:
          description: Gets or sets the resource URI.
          type: string
        rpRegistrationId:
          description: Gets or sets the resource provider registration ID.
          type: string
        usageMetrics:
          description: Usage metrics.
          type: array
          items:
            description: Metrics of resource usage.
            properties:
              name:
                description: Name of the usage metric.
                type: string
              metricsValue:
                description: List of usage metrics.
                type: array
                items:
                  description: Metrics for a source.
                  properties:
                    name:
                      description: Name of the usage metric.
                      type: string
                    maCounterName:
                      description: Name of the counter.
                      type: string
                    observedTimestamp:
                      description: Time counter was observed.
                      type: string
                      format: date-time
                    sourceType:
                      description: Type of the source.
                      type: string
                    sourceName:
                      description: Name of the source.
                      type: string
                      enum:
                      - PhysicalNode
                      - VirtualMachine
                      - ResourceProvider
                      x-ms-enum:
                        name: MetricsSourceType
                        modelAsString: true
                    unit:
                      description: Unit for the metric.
                      type: string
                      enum:
                      - One
                      - Percentage
                      - B
                      - KB
                      - MB
                      - GB
                      - TB
                      x-ms-enum:
                        name: MetricsUnit
                        modelAsString: true
                    value:
                      description: Name of the usage metric.
                      type: number
                      format: double
                x-ms-identifiers:
                - name
          x-ms-identifiers:
          - name
      description: Models the base properties for health resource.
    ResourceHealthList:
      description: Pageable list of resource health objects.
      properties:
        value:
          description: List of resource health objects.
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource Id for the resource
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource.
              tags:
                type: object
                additionalProperties:
                  type: string
                x-ms-mutability:
                - read
                - create
                - update
                description: Resource tags.
              location:
                type: string
                x-ms-mutability:
                - read
                - create
                description: The Azure Region where the resource lives
              properties:
                type: object
                properties:
                  alertSummary:
                    description: Alert summary.
                    properties:
                      criticalAlertCount:
                        description: The number of critical alerts for the service.
                        type: integer
                      warningAlertCount:
                        description: The number of warning alerts for the service.
                        type: integer
                  healthState:
                    description: Health state.
                    type: string
                  namespace:
                    description: Namespace of the health resource.
                    type: string
                  registrationId:
                    description: Registration ID.
                    type: string
                  routePrefix:
                    description: Route prefix.
                    type: string
                  resourceLocation:
                    description: Resource location.
                    type: string
                  resourceName:
                    description: Resource name.
                    type: string
                  resourceDisplayName:
                    description: Resource display name.
                    type: string
                  resourceType:
                    description: Resource type.
                    type: string
                  resourceURI:
                    description: Gets or sets the resource URI.
                    type: string
                  rpRegistrationId:
                    description: Gets or sets the resource provider registration ID.
                    type: string
                  usageMetrics:
                    description: Usage metrics.
                    type: array
                    items:
                      description: Metrics of resource usage.
                      properties:
                        name:
                          description: Name of the usage metric.
                          type: string
                        metricsValue:
                          description: List of usage metrics.
                          type: array
                          items:
                            description: Metrics for a source.
                            properties:
                              name:
                                description: Name of the usage metric.
                                type: string
                              maCounterName:
                                description: Name of the counter.
                                type: string
                              observedTimestamp:
                                description: Time counter was observed.
                                type: string
                                format: date-time
                              sourceType:
                                description: Type of the source.
                                type: string
                              sourceName:
                                description: Name of the source.
                                type: string
                                enum:
                                - PhysicalNode
                                - VirtualMachine
                                - ResourceProvider
                                x-ms-enum:
                                  name: MetricsSourceType
                                  modelAsString: true
                              unit:
                                description: Unit for the metric.
                                type: string
                                enum:
                                - One
                                - Percentage
                                - B
                                - KB
                                - MB
                                - GB
                                - TB
                                x-ms-enum:
                                  name: MetricsUnit
                                  modelAsString: true
                              value:
                                description: Name of the usage metric.
                                type: number
                                format: double
                          x-ms-identifiers:
                          - name
                    x-ms-identifiers:
                    - name
                description: Models the base properties for health resource.
                x-ms-client-flatten: true
            description: The core properties of ARM resources
            x-ms-azure-resource: true
        nextLink:
          description: URI to next page.
          type: string
    Resource:
      description: The core properties of ARM resources
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
      x-ms-azure-resource: true
    TrackedResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The Azure Region where the resource lives
      description: The core properties of ARM resources
      x-ms-azure-resource: true
    AlertSummary:
      description: Summary of the alerts.
      properties:
        criticalAlertCount:
          description: The number of critical alerts for the service.
          type: integer
        warningAlertCount:
          description: The number of warning alerts for the service.
          type: integer
    BaseHealth:
      description: Models the base properties for health resource.
      properties:
        alertSummary:
          description: Alert summary.
          properties:
            criticalAlertCount:
              description: The number of critical alerts for the service.
              type: integer
            warningAlertCount:
              description: The number of warning alerts for the service.
              type: integer
        healthState:
          description: Health state.
          type: string
        namespace:
          description: Namespace of the health resource.
          type: string
        registrationId:
          description: Registration ID.
          type: string
        routePrefix:
          description: Route prefix.
          type: string
    MetricsSourceType:
      type: string
      description: The origin of the metric.
      enum:
      - PhysicalNode
      - VirtualMachine
      - ResourceProvider
      x-ms-enum:
        name: MetricsSourceType
        modelAsString: true
    MetricsUnit:
      type: string
      description: The unit of the metric.
      enum:
      - One
      - Percentage
      - B
      - KB
      - MB
      - GB
      - TB
      x-ms-enum:
        name: MetricsUnit
        modelAsString: true
    Metrics:
      description: Metrics for a source.
      properties:
        name:
          description: Name of the usage metric.
          type: string
        maCounterName:
          description: Name of the counter.
          type: string
        observedTimestamp:
          description: Time counter was observed.
          type: string
          format: date-time
        sourceType:
          description: Type of the source.
          type: string
        sourceName:
          description: Name of the source.
          type: string
          enum:
          - PhysicalNode
          - VirtualMachine
          - ResourceProvider
          x-ms-enum:
            name: MetricsSourceType
            modelAsString: true
        unit:
          description: Unit for the metric.
          type: string
          enum:
          - One
          - Percentage
          - B
          - KB
          - MB
          - GB
          - TB
          x-ms-enum:
            name: MetricsUnit
            modelAsString: true
        value:
          description: Name of the usage metric.
          type: number
          format: double
    UsageMetrics:
      description: Metrics of resource usage.
      properties:
        name:
          description: Name of the usage metric.
          type: string
        metricsValue:
          description: List of usage metrics.
          type: array
          items:
            description: Metrics for a source.
            properties:
              name:
                description: Name of the usage metric.
                type: string
              maCounterName:
                description: Name of the counter.
                type: string
              observedTimestamp:
                description: Time counter was observed.
                type: string
                format: date-time
              sourceType:
                description: Type of the source.
                type: string
              sourceName:
                description: Name of the source.
                type: string
                enum:
                - PhysicalNode
                - VirtualMachine
                - ResourceProvider
                x-ms-enum:
                  name: MetricsSourceType
                  modelAsString: true
              unit:
                description: Unit for the metric.
                type: string
                enum:
                - One
                - Percentage
                - B
                - KB
                - MB
                - GB
                - TB
                x-ms-enum:
                  name: MetricsUnit
                  modelAsString: true
              value:
                description: Name of the usage metric.
                type: number
                format: double
          x-ms-identifiers:
          - name
