openapi: 3.0.0
info:
  description: Resource provider health operation endpoints and objects.
  title: InfrastructureInsightsManagementClient
  version: 2016-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/serviceHealths
  : get:
      tags:
      - ServiceHealths
      description: Returns the list of all resource provider health states.
      operationId: ServiceHealths_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the region
        name: location
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2016-05-01
      - description: OData filter parameter.
        name: $filter
        in: query
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Pageable list of service health objects.
                properties:
                  value:
                    description: List of service health objects.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource Id for the resource
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The Azure Region where the resource lives
                        properties:
                          type: object
                          properties:
                            alertSummary:
                              description: Alert summary.
                              properties:
                                criticalAlertCount:
                                  description: The number of critical alerts for the
                                    service.
                                  type: integer
                                warningAlertCount:
                                  description: The number of warning alerts for the
                                    service.
                                  type: integer
                            healthState:
                              description: Health state.
                              type: string
                            namespace:
                              description: Namespace of the health resource.
                              type: string
                            registrationId:
                              description: Registration ID.
                              type: string
                            routePrefix:
                              description: Route prefix.
                              type: string
                            displayName:
                              description: Name of the service.
                              type: string
                            serviceLocation:
                              description: Location of the service.
                              type: string
                            infraURI:
                              description: The route prefix to the service.
                              type: string
                          description: Models the base properties for health resource.
                          x-ms-client-flatten: true
                      description: The core properties of ARM resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: URI of the next page.
                    type: string
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/components/schemas/ServiceHealth'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/serviceHealths/{serviceHealth}
  : get:
      tags:
      - ServiceHealths
      description: Returns the requested service health object.
      operationId: ServiceHealths_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the region
        name: location
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Service Health name.
        name: serviceHealth
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2016-05-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The Azure Region where the resource lives
                  properties:
                    type: object
                    properties:
                      alertSummary:
                        description: Alert summary.
                        properties:
                          criticalAlertCount:
                            description: The number of critical alerts for the service.
                            type: integer
                          warningAlertCount:
                            description: The number of warning alerts for the service.
                            type: integer
                      healthState:
                        description: Health state.
                        type: string
                      namespace:
                        description: Namespace of the health resource.
                        type: string
                      registrationId:
                        description: Registration ID.
                        type: string
                      routePrefix:
                        description: Route prefix.
                        type: string
                      displayName:
                        description: Name of the service.
                        type: string
                      serviceLocation:
                        description: Location of the service.
                        type: string
                      infraURI:
                        description: The route prefix to the service.
                        type: string
                    description: Models the base properties for health resource.
                    x-ms-client-flatten: true
                description: The core properties of ARM resources
                x-ms-azure-resource: true
components:
  parameters:
    ServiceHealthParameter:
      description: Service Health name.
      name: serviceHealth
      required: true
      in: path
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      required: true
      schema:
        type: string
    ResourceGroupParameter:
      description: The name of the resource group.
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    LocationParameter:
      description: Name of the region
      name: location
      required: true
      in: path
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API Version.
      required: true
      schema:
        type: string
        default: 2016-05-01
    FilterParameter:
      description: OData filter parameter.
      name: $filter
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ServiceHealth:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The Azure Region where the resource lives
        properties:
          type: object
          properties:
            alertSummary:
              description: Alert summary.
              properties:
                criticalAlertCount:
                  description: The number of critical alerts for the service.
                  type: integer
                warningAlertCount:
                  description: The number of warning alerts for the service.
                  type: integer
            healthState:
              description: Health state.
              type: string
            namespace:
              description: Namespace of the health resource.
              type: string
            registrationId:
              description: Registration ID.
              type: string
            routePrefix:
              description: Route prefix.
              type: string
            displayName:
              description: Name of the service.
              type: string
            serviceLocation:
              description: Location of the service.
              type: string
            infraURI:
              description: The route prefix to the service.
              type: string
          description: Models the base properties for health resource.
          x-ms-client-flatten: true
      description: The core properties of ARM resources
      x-ms-azure-resource: true
    ServiceHealthModel:
      type: object
      properties:
        alertSummary:
          description: Alert summary.
          properties:
            criticalAlertCount:
              description: The number of critical alerts for the service.
              type: integer
            warningAlertCount:
              description: The number of warning alerts for the service.
              type: integer
        healthState:
          description: Health state.
          type: string
        namespace:
          description: Namespace of the health resource.
          type: string
        registrationId:
          description: Registration ID.
          type: string
        routePrefix:
          description: Route prefix.
          type: string
        displayName:
          description: Name of the service.
          type: string
        serviceLocation:
          description: Location of the service.
          type: string
        infraURI:
          description: The route prefix to the service.
          type: string
      description: Models the base properties for health resource.
    ServiceHealthList:
      description: Pageable list of service health objects.
      properties:
        value:
          description: List of service health objects.
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource Id for the resource
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource.
              tags:
                type: object
                additionalProperties:
                  type: string
                x-ms-mutability:
                - read
                - create
                - update
                description: Resource tags.
              location:
                type: string
                x-ms-mutability:
                - read
                - create
                description: The Azure Region where the resource lives
              properties:
                type: object
                properties:
                  alertSummary:
                    description: Alert summary.
                    properties:
                      criticalAlertCount:
                        description: The number of critical alerts for the service.
                        type: integer
                      warningAlertCount:
                        description: The number of warning alerts for the service.
                        type: integer
                  healthState:
                    description: Health state.
                    type: string
                  namespace:
                    description: Namespace of the health resource.
                    type: string
                  registrationId:
                    description: Registration ID.
                    type: string
                  routePrefix:
                    description: Route prefix.
                    type: string
                  displayName:
                    description: Name of the service.
                    type: string
                  serviceLocation:
                    description: Location of the service.
                    type: string
                  infraURI:
                    description: The route prefix to the service.
                    type: string
                description: Models the base properties for health resource.
                x-ms-client-flatten: true
            description: The core properties of ARM resources
            x-ms-azure-resource: true
        nextLink:
          description: URI of the next page.
          type: string
    Resource:
      description: The core properties of ARM resources
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
      x-ms-azure-resource: true
    TrackedResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The Azure Region where the resource lives
      description: The core properties of ARM resources
      x-ms-azure-resource: true
    AlertSummary:
      description: Summary of the alerts.
      properties:
        criticalAlertCount:
          description: The number of critical alerts for the service.
          type: integer
        warningAlertCount:
          description: The number of warning alerts for the service.
          type: integer
    BaseHealth:
      description: Models the base properties for health resource.
      properties:
        alertSummary:
          description: Alert summary.
          properties:
            criticalAlertCount:
              description: The number of critical alerts for the service.
              type: integer
            warningAlertCount:
              description: The number of warning alerts for the service.
              type: integer
        healthState:
          description: Health state.
          type: string
        namespace:
          description: Namespace of the health resource.
          type: string
        registrationId:
          description: Registration ID.
          type: string
        routePrefix:
          description: Route prefix.
          type: string
