openapi: 3.0.0
info:
  title: Edge Devices
  version: 2024-04-01
  description: Azure Arc-enabled Edge Device.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: EdgeDevices
paths:
  /{resourceUri}/providers/Microsoft.AzureStackHCI/edgeDevices:
    get:
      operationId: EdgeDevices_List
      tags:
      - EdgeDevices
      description: List EdgeDevice resources by parent
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceUri
        in: path
        description: The fully qualified Azure Resource manager identifier of the
          resource.
        required: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a EdgeDevice list operation.
                properties:
                  value:
                    type: array
                    description: The EdgeDevice items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        kind:
                          description: Device kind to support polymorphic resource.
                          x-ms-mutability:
                          - create
                          - read
                          type: string
                          enum:
                          - HCI
                          default: HCI
                          x-ms-enum:
                            name: DeviceKind
                            modelAsString: true
                            values:
                            - name: HCI
                              value: HCI
                              description: Arc-enabled edge device with HCI OS.
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - kind
                      discriminator:
                        propertyName: kind
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /{resourceUri}/providers/Microsoft.AzureStackHCI/edgeDevices/{edgeDeviceName}:
    get:
      operationId: EdgeDevices_Get
      tags:
      - EdgeDevices
      description: Get a EdgeDevice
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceUri
        in: path
        description: The fully qualified Azure Resource manager identifier of the
          resource.
        required: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: edgeDeviceName
        in: path
        description: Name of Device
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
          default: default
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  kind:
                    description: Device kind to support polymorphic resource.
                    x-ms-mutability:
                    - create
                    - read
                    type: string
                    enum:
                    - HCI
                    default: HCI
                    x-ms-enum:
                      name: DeviceKind
                      modelAsString: true
                      values:
                      - name: HCI
                        value: HCI
                        description: Arc-enabled edge device with HCI OS.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - kind
                discriminator:
                  propertyName: kind
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: EdgeDevices_CreateOrUpdate
      tags:
      - EdgeDevices
      description: Create a EdgeDevice
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceUri
        in: path
        description: The fully qualified Azure Resource manager identifier of the
          resource.
        required: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: edgeDeviceName
        in: path
        description: Name of Device
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
          default: default
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                kind:
                  description: Device kind to support polymorphic resource.
                  x-ms-mutability:
                  - create
                  - read
                  type: string
                  enum:
                  - HCI
                  default: HCI
                  x-ms-enum:
                    name: DeviceKind
                    modelAsString: true
                    values:
                    - name: HCI
                      value: HCI
                      description: Arc-enabled edge device with HCI OS.
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
              required:
              - kind
              discriminator:
                propertyName: kind
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  kind:
                    description: Device kind to support polymorphic resource.
                    x-ms-mutability:
                    - create
                    - read
                    type: string
                    enum:
                    - HCI
                    default: HCI
                    x-ms-enum:
                      name: DeviceKind
                      modelAsString: true
                      values:
                      - name: HCI
                        value: HCI
                        description: Arc-enabled edge device with HCI OS.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - kind
                discriminator:
                  propertyName: kind
        '201':
          description: Resource successfully created.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client
                should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  kind:
                    description: Device kind to support polymorphic resource.
                    x-ms-mutability:
                    - create
                    - read
                    type: string
                    enum:
                    - HCI
                    default: HCI
                    x-ms-enum:
                      name: DeviceKind
                      modelAsString: true
                      values:
                      - name: HCI
                        value: HCI
                        description: Arc-enabled edge device with HCI OS.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - kind
                discriminator:
                  propertyName: kind
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
    delete:
      operationId: EdgeDevices_Delete
      tags:
      - EdgeDevices
      description: Delete a EdgeDevice
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceUri
        in: path
        description: The fully qualified Azure Resource manager identifier of the
          resource.
        required: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: edgeDeviceName
        in: path
        description: Name of Device
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
          default: default
      responses:
        '202':
          description: Resource deletion accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client
                should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            Location:
              description: The Location header contains the URL where the status of
                the long running operation can be checked.
              schema:
                type: string
        '204':
          description: Resource deleted successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
  /{resourceUri}/providers/Microsoft.AzureStackHCI/edgeDevices/{edgeDeviceName}/validate:
    post:
      operationId: EdgeDevices_Validate
      tags:
      - EdgeDevices
      description: A long-running resource action.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceUri
        in: path
        description: The fully qualified Azure Resource manager identifier of the
          resource.
        required: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: edgeDeviceName
        in: path
        description: Name of Device
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
          default: default
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: The validate request for Edge Device.
              properties:
                edgeDeviceIds:
                  type: array
                  description: Node Ids against which, current node has to be validated.
                  items:
                    type: string
                additionalInfo:
                  type: string
                  description: Additional info required for validation.
              required:
              - edgeDeviceIds
        description: The content of the action request
        required: true
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: An Accepted response with an Operation-Location header.
                properties:
                  status:
                    type: string
                    description: edge device validation status
                    readOnly: true
        '202':
          description: Resource operation accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client
                should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            Location:
              description: The Location header contains the URL where the status of
                the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
components:
  parameters:
    Azure.ResourceManager.ResourceUriParameter:
      name: resourceUri
      in: path
      description: The fully qualified Azure Resource manager identifier of the resource.
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    AdapterPropertyOverrides:
      type: object
      description: The AdapterPropertyOverrides of a cluster.
      properties:
        jumboPacket:
          type: string
          description: This parameter should only be modified based on your OEM guidance.
            Do not modify this parameter without OEM validation.
          readOnly: true
        networkDirect:
          type: string
          description: This parameter should only be modified based on your OEM guidance.
            Do not modify this parameter without OEM validation.
          readOnly: true
        networkDirectTechnology:
          type: string
          description: This parameter should only be modified based on your OEM guidance.
            Do not modify this parameter without OEM validation. Expected values are
            'iWARP', 'RoCEv2', 'RoCE'
          readOnly: true
    ArcExtensionState:
      type: string
      description: Arc extension installation state.
      enum:
      - NotSpecified
      - Succeeded
      - Failed
      - Canceled
      - Accepted
      - Creating
      - Updating
      - Moving
      - Deleting
      - Deleted
      x-ms-enum:
        name: ArcExtensionState
        modelAsString: true
        values:
        - name: NotSpecified
          value: NotSpecified
          description: Arc extension state is not specified.
        - name: Succeeded
          value: Succeeded
          description: Arc extension state is Succeeded.
        - name: Failed
          value: Failed
          description: Arc extension state is Failed.
        - name: Canceled
          value: Canceled
          description: Arc extension state is Canceled.
        - name: Accepted
          value: Accepted
          description: Arc extension state is Accepted when extension installation
            triggered.
        - name: Creating
          value: Creating
          description: Arc extension is in Creating State.
        - name: Updating
          value: Updating
          description: Arc extension is in Updating State.
        - name: Moving
          value: Moving
          description: Arc extension is in Moving State.
        - name: Deleting
          value: Deleting
          description: Arc extension is in Deleting State.
        - name: Deleted
          value: Deleted
          description: Arc extension is in Deleted State.
    DeviceConfiguration:
      type: object
      description: The device Configuration for edge device.
      properties:
        nicDetails:
          type: array
          description: NIC Details of device
          items:
            type: object
            description: The NIC Detail of a device.
            properties:
              adapterName:
                type: string
                description: Adapter Name of NIC
              interfaceDescription:
                type: string
                description: Interface Description of NIC
              componentId:
                type: string
                description: Component Id of NIC
              driverVersion:
                type: string
                description: Driver Version of NIC
              ip4Address:
                type: string
                description: Subnet Mask of NIC
              subnetMask:
                type: string
                description: Subnet Mask of NIC
              defaultGateway:
                type: string
                description: Default Gateway of NIC
              dnsServers:
                type: array
                description: DNS Servers for NIC
                items:
                  type: string
                x-ms-identifiers: []
              defaultIsolationId:
                type: string
                description: Default Isolation of Management NIC
          x-ms-identifiers:
          - adapterName
        deviceMetadata:
          type: string
          description: Device metadata details.
    DeviceKind:
      type: string
      description: Edge device kind.
      enum:
      - HCI
      default: HCI
      x-ms-enum:
        name: DeviceKind
        modelAsString: true
        values:
        - name: HCI
          value: HCI
          description: Arc-enabled edge device with HCI OS.
    DeviceState:
      type: string
      description: The edge device state.
      enum:
      - NotSpecified
      - Connected
      - Disconnected
      - Repairing
      - Draining
      - InMaintenance
      - Resuming
      - Processing
      x-ms-enum:
        name: DeviceState
        modelAsString: true
        values:
        - name: NotSpecified
          value: NotSpecified
          description: The edge device state is not specified.
        - name: Connected
          value: Connected
          description: The edge device state is in connected state.
        - name: Disconnected
          value: Disconnected
          description: The edge device state is in disconnected state.
        - name: Repairing
          value: Repairing
          description: The edge device state is in repairing state.
        - name: Draining
          value: Draining
          description: The edge device state is in draining state.
        - name: InMaintenance
          value: InMaintenance
          description: The edge device state is in maintenance state.
        - name: Resuming
          value: Resuming
          description: The edge device state is in resuming state.
        - name: Processing
          value: Processing
          description: The edge device state is in processing state.
    EdgeDevice:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        kind:
          description: Device kind to support polymorphic resource.
          x-ms-mutability:
          - create
          - read
          type: string
          enum:
          - HCI
          default: HCI
          x-ms-enum:
            name: DeviceKind
            modelAsString: true
            values:
            - name: HCI
              value: HCI
              description: Arc-enabled edge device with HCI OS.
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
      required:
      - kind
      discriminator:
        propertyName: kind
    EdgeDeviceListResult:
      type: object
      description: The response of a EdgeDevice list operation.
      properties:
        value:
          type: array
          description: The EdgeDevice items on this page
          items:
            type: object
            properties:
              id:
                type: string
                format: arm-id
                description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                readOnly: true
              name:
                type: string
                description: The name of the resource
                readOnly: true
              type:
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
                readOnly: true
              systemData:
                description: Azure Resource Manager metadata containing createdBy
                  and modifiedBy information.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              kind:
                description: Device kind to support polymorphic resource.
                x-ms-mutability:
                - create
                - read
                type: string
                enum:
                - HCI
                default: HCI
                x-ms-enum:
                  name: DeviceKind
                  modelAsString: true
                  values:
                  - name: HCI
                    value: HCI
                    description: Arc-enabled edge device with HCI OS.
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
            required:
            - kind
            discriminator:
              propertyName: kind
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    EdgeDeviceProperties:
      type: object
      description: Edge Device properties
      properties:
        deviceConfiguration:
          description: Device Configuration
          type: object
          properties:
            nicDetails:
              type: array
              description: NIC Details of device
              items:
                type: object
                description: The NIC Detail of a device.
                properties:
                  adapterName:
                    type: string
                    description: Adapter Name of NIC
                  interfaceDescription:
                    type: string
                    description: Interface Description of NIC
                  componentId:
                    type: string
                    description: Component Id of NIC
                  driverVersion:
                    type: string
                    description: Driver Version of NIC
                  ip4Address:
                    type: string
                    description: Subnet Mask of NIC
                  subnetMask:
                    type: string
                    description: Subnet Mask of NIC
                  defaultGateway:
                    type: string
                    description: Default Gateway of NIC
                  dnsServers:
                    type: array
                    description: DNS Servers for NIC
                    items:
                      type: string
                    x-ms-identifiers: []
                  defaultIsolationId:
                    type: string
                    description: Default Isolation of Management NIC
              x-ms-identifiers:
              - adapterName
            deviceMetadata:
              type: string
              description: Device metadata details.
        provisioningState:
          description: Provisioning state of edgeDevice resource
          readOnly: true
          type: string
          enum:
          - Succeeded
          - Failed
          - Canceled
          - NotSpecified
          - Provisioning
          - Updating
          - Deleting
          - Accepted
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
            values:
            - name: Succeeded
              value: Succeeded
              description: Resource has been created.
            - name: Failed
              value: Failed
              description: Resource creation failed.
            - name: Canceled
              value: Canceled
              description: Resource creation was canceled.
            - name: NotSpecified
              value: NotSpecified
              description: The resource provision state is not specified
            - name: Provisioning
              value: Provisioning
              description: The resource is being provisioned
            - name: Updating
              value: Updating
              description: The resource is updating
            - name: Deleting
              value: Deleting
              description: The resource is being deleted
            - name: Accepted
              value: Accepted
              description: The resource create request has been accepted
    ErrorDetail:
      type: object
      description: details of validation failure
      properties:
        exception:
          type: string
          description: Exception details while installing extension.
          readOnly: true
    Extension:
      type: object
      description: Arc extension installed on edge device.
      properties:
        extensionName:
          type: string
          description: Arc extension name installed on edge device.
          readOnly: true
        state:
          description: Arc extension state from arc machine extension.
          readOnly: true
          type: string
          enum:
          - NotSpecified
          - Succeeded
          - Failed
          - Canceled
          - Accepted
          - Creating
          - Updating
          - Moving
          - Deleting
          - Deleted
          x-ms-enum:
            name: ArcExtensionState
            modelAsString: true
            values:
            - name: NotSpecified
              value: NotSpecified
              description: Arc extension state is not specified.
            - name: Succeeded
              value: Succeeded
              description: Arc extension state is Succeeded.
            - name: Failed
              value: Failed
              description: Arc extension state is Failed.
            - name: Canceled
              value: Canceled
              description: Arc extension state is Canceled.
            - name: Accepted
              value: Accepted
              description: Arc extension state is Accepted when extension installation
                triggered.
            - name: Creating
              value: Creating
              description: Arc extension is in Creating State.
            - name: Updating
              value: Updating
              description: Arc extension is in Updating State.
            - name: Moving
              value: Moving
              description: Arc extension is in Moving State.
            - name: Deleting
              value: Deleting
              description: Arc extension is in Deleting State.
            - name: Deleted
              value: Deleted
              description: Arc extension is in Deleted State.
        errorDetails:
          type: array
          description: Error details while installing Arc extension.
          items:
            type: object
            description: details of validation failure
            properties:
              exception:
                type: string
                description: Exception details while installing extension.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
        extensionResourceId:
          type: string
          format: arm-id
          description: Arc Extension Azure resource id.
          readOnly: true
        typeHandlerVersion:
          type: string
          description: Extension version installed.
          readOnly: true
        managedBy:
          type: string
          description: Extension managed by user or Azure.
          default: Azure
          enum:
          - User
          - Azure
          x-ms-enum:
            name: ExtensionManagedBy
            modelAsString: true
          readOnly: true
    ExtensionManagedBy:
      type: string
      description: Arc extension managed by Azure or User.
      enum:
      - User
      - Azure
      x-ms-enum:
        name: ExtensionManagedBy
        modelAsString: true
    ExtensionProfile:
      type: object
      description: Extensions details for edge device.
      properties:
        extensions:
          type: array
          description: List of Arc extensions installed on edge device.
          items:
            type: object
            description: Arc extension installed on edge device.
            properties:
              extensionName:
                type: string
                description: Arc extension name installed on edge device.
                readOnly: true
              state:
                description: Arc extension state from arc machine extension.
                readOnly: true
                type: string
                enum:
                - NotSpecified
                - Succeeded
                - Failed
                - Canceled
                - Accepted
                - Creating
                - Updating
                - Moving
                - Deleting
                - Deleted
                x-ms-enum:
                  name: ArcExtensionState
                  modelAsString: true
                  values:
                  - name: NotSpecified
                    value: NotSpecified
                    description: Arc extension state is not specified.
                  - name: Succeeded
                    value: Succeeded
                    description: Arc extension state is Succeeded.
                  - name: Failed
                    value: Failed
                    description: Arc extension state is Failed.
                  - name: Canceled
                    value: Canceled
                    description: Arc extension state is Canceled.
                  - name: Accepted
                    value: Accepted
                    description: Arc extension state is Accepted when extension installation
                      triggered.
                  - name: Creating
                    value: Creating
                    description: Arc extension is in Creating State.
                  - name: Updating
                    value: Updating
                    description: Arc extension is in Updating State.
                  - name: Moving
                    value: Moving
                    description: Arc extension is in Moving State.
                  - name: Deleting
                    value: Deleting
                    description: Arc extension is in Deleting State.
                  - name: Deleted
                    value: Deleted
                    description: Arc extension is in Deleted State.
              errorDetails:
                type: array
                description: Error details while installing Arc extension.
                items:
                  type: object
                  description: details of validation failure
                  properties:
                    exception:
                      type: string
                      description: Exception details while installing extension.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
              extensionResourceId:
                type: string
                format: arm-id
                description: Arc Extension Azure resource id.
                readOnly: true
              typeHandlerVersion:
                type: string
                description: Extension version installed.
                readOnly: true
              managedBy:
                type: string
                description: Extension managed by user or Azure.
                default: Azure
                enum:
                - User
                - Azure
                x-ms-enum:
                  name: ExtensionManagedBy
                  modelAsString: true
                readOnly: true
          readOnly: true
          x-ms-identifiers:
          - extensionName
    HciEdgeDevice:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        kind:
          description: Device kind to support polymorphic resource.
          x-ms-mutability:
          - create
          - read
          type: string
          enum:
          - HCI
          default: HCI
          x-ms-enum:
            name: DeviceKind
            modelAsString: true
            values:
            - name: HCI
              value: HCI
              description: Arc-enabled edge device with HCI OS.
        properties:
          type: object
          properties:
            deviceConfiguration:
              description: Device Configuration
              type: object
              properties:
                nicDetails:
                  type: array
                  description: NIC Details of device
                  items:
                    type: object
                    description: The NIC Detail of a device.
                    properties:
                      adapterName:
                        type: string
                        description: Adapter Name of NIC
                      interfaceDescription:
                        type: string
                        description: Interface Description of NIC
                      componentId:
                        type: string
                        description: Component Id of NIC
                      driverVersion:
                        type: string
                        description: Driver Version of NIC
                      ip4Address:
                        type: string
                        description: Subnet Mask of NIC
                      subnetMask:
                        type: string
                        description: Subnet Mask of NIC
                      defaultGateway:
                        type: string
                        description: Default Gateway of NIC
                      dnsServers:
                        type: array
                        description: DNS Servers for NIC
                        items:
                          type: string
                        x-ms-identifiers: []
                      defaultIsolationId:
                        type: string
                        description: Default Isolation of Management NIC
                  x-ms-identifiers:
                  - adapterName
                deviceMetadata:
                  type: string
                  description: Device metadata details.
            provisioningState:
              description: Provisioning state of edgeDevice resource
              readOnly: true
              type: string
              enum:
              - Succeeded
              - Failed
              - Canceled
              - NotSpecified
              - Provisioning
              - Updating
              - Deleting
              - Accepted
              x-ms-enum:
                name: ProvisioningState
                modelAsString: true
                values:
                - name: Succeeded
                  value: Succeeded
                  description: Resource has been created.
                - name: Failed
                  value: Failed
                  description: Resource creation failed.
                - name: Canceled
                  value: Canceled
                  description: Resource creation was canceled.
                - name: NotSpecified
                  value: NotSpecified
                  description: The resource provision state is not specified
                - name: Provisioning
                  value: Provisioning
                  description: The resource is being provisioned
                - name: Updating
                  value: Updating
                  description: The resource is updating
                - name: Deleting
                  value: Deleting
                  description: The resource is being deleted
                - name: Accepted
                  value: Accepted
                  description: The resource create request has been accepted
            reportedProperties:
              type: object
              properties:
                deviceState:
                  description: edge device state.
                  readOnly: true
                  type: string
                  enum:
                  - NotSpecified
                  - Connected
                  - Disconnected
                  - Repairing
                  - Draining
                  - InMaintenance
                  - Resuming
                  - Processing
                  x-ms-enum:
                    name: DeviceState
                    modelAsString: true
                    values:
                    - name: NotSpecified
                      value: NotSpecified
                      description: The edge device state is not specified.
                    - name: Connected
                      value: Connected
                      description: The edge device state is in connected state.
                    - name: Disconnected
                      value: Disconnected
                      description: The edge device state is in disconnected state.
                    - name: Repairing
                      value: Repairing
                      description: The edge device state is in repairing state.
                    - name: Draining
                      value: Draining
                      description: The edge device state is in draining state.
                    - name: InMaintenance
                      value: InMaintenance
                      description: The edge device state is in maintenance state.
                    - name: Resuming
                      value: Resuming
                      description: The edge device state is in resuming state.
                    - name: Processing
                      value: Processing
                      description: The edge device state is in processing state.
                extensionProfile:
                  description: Extensions details for edge device.
                  readOnly: true
                  type: object
                  properties:
                    extensions:
                      type: array
                      description: List of Arc extensions installed on edge device.
                      items:
                        type: object
                        description: Arc extension installed on edge device.
                        properties:
                          extensionName:
                            type: string
                            description: Arc extension name installed on edge device.
                            readOnly: true
                          state:
                            description: Arc extension state from arc machine extension.
                            readOnly: true
                            type: string
                            enum:
                            - NotSpecified
                            - Succeeded
                            - Failed
                            - Canceled
                            - Accepted
                            - Creating
                            - Updating
                            - Moving
                            - Deleting
                            - Deleted
                            x-ms-enum:
                              name: ArcExtensionState
                              modelAsString: true
                              values:
                              - name: NotSpecified
                                value: NotSpecified
                                description: Arc extension state is not specified.
                              - name: Succeeded
                                value: Succeeded
                                description: Arc extension state is Succeeded.
                              - name: Failed
                                value: Failed
                                description: Arc extension state is Failed.
                              - name: Canceled
                                value: Canceled
                                description: Arc extension state is Canceled.
                              - name: Accepted
                                value: Accepted
                                description: Arc extension state is Accepted when
                                  extension installation triggered.
                              - name: Creating
                                value: Creating
                                description: Arc extension is in Creating State.
                              - name: Updating
                                value: Updating
                                description: Arc extension is in Updating State.
                              - name: Moving
                                value: Moving
                                description: Arc extension is in Moving State.
                              - name: Deleting
                                value: Deleting
                                description: Arc extension is in Deleting State.
                              - name: Deleted
                                value: Deleted
                                description: Arc extension is in Deleted State.
                          errorDetails:
                            type: array
                            description: Error details while installing Arc extension.
                            items:
                              type: object
                              description: details of validation failure
                              properties:
                                exception:
                                  type: string
                                  description: Exception details while installing
                                    extension.
                                  readOnly: true
                            readOnly: true
                            x-ms-identifiers: []
                          extensionResourceId:
                            type: string
                            format: arm-id
                            description: Arc Extension Azure resource id.
                            readOnly: true
                          typeHandlerVersion:
                            type: string
                            description: Extension version installed.
                            readOnly: true
                          managedBy:
                            type: string
                            description: Extension managed by user or Azure.
                            default: Azure
                            enum:
                            - User
                            - Azure
                            x-ms-enum:
                              name: ExtensionManagedBy
                              modelAsString: true
                            readOnly: true
                      readOnly: true
                      x-ms-identifiers:
                      - extensionName
                networkProfile:
                  description: HCI device network information.
                  readOnly: true
                  type: object
                  properties:
                    nicDetails:
                      type: array
                      description: List of NIC Details of device.
                      items:
                        type: object
                        description: The NIC Detail of a device.
                        properties:
                          adapterName:
                            type: string
                            description: Adapter Name of NIC
                            readOnly: true
                          interfaceDescription:
                            type: string
                            description: Interface Description of NIC
                            readOnly: true
                          componentId:
                            type: string
                            description: Component Id of NIC
                            readOnly: true
                          driverVersion:
                            type: string
                            description: Driver Version of NIC
                            readOnly: true
                          ip4Address:
                            type: string
                            description: Subnet Mask of NIC
                            readOnly: true
                          subnetMask:
                            type: string
                            description: Subnet Mask of NIC
                            readOnly: true
                          defaultGateway:
                            type: string
                            description: Default Gateway of NIC
                            readOnly: true
                          dnsServers:
                            type: array
                            description: DNS Servers for NIC
                            items:
                              type: string
                            readOnly: true
                            x-ms-identifiers: []
                          defaultIsolationId:
                            type: string
                            description: Default Isolation of Management NIC
                            readOnly: true
                          macAddress:
                            type: string
                            description: MAC address information of NIC.
                            readOnly: true
                          slot:
                            type: string
                            description: The slot attached to the NIC.
                            readOnly: true
                          switchName:
                            type: string
                            description: The switch attached to the NIC, if any.
                            readOnly: true
                          nicType:
                            type: string
                            description: The type of NIC, physical, virtual, management.
                            readOnly: true
                          vlanId:
                            type: string
                            description: The VLAN ID of the physical NIC.
                            readOnly: true
                          nicStatus:
                            type: string
                            description: The status of NIC, up, disconnected.
                            readOnly: true
                      readOnly: true
                      x-ms-identifiers:
                      - adapterName
                    switchDetails:
                      type: array
                      description: List of switch details for edge device.
                      items:
                        type: object
                        description: List of switch details for edge device.
                        properties:
                          switchName:
                            type: string
                            description: The name of the switch.
                            readOnly: true
                          switchType:
                            type: string
                            description: The type of the switch. e.g. external, internal.
                            readOnly: true
                          extensions:
                            type: array
                            description: This represents extensions installed on virtualSwitch.
                            items:
                              type: object
                              description: This represents extensions installed on
                                virtualSwitch.
                              properties:
                                switchId:
                                  type: string
                                  description: Unique identifier for virtualSwitch.
                                  readOnly: true
                                extensionName:
                                  type: string
                                  description: This will show extension name for virtualSwitch.
                                  readOnly: true
                                extensionEnabled:
                                  type: boolean
                                  description: This represents whether extension is
                                    enabled on virtualSwitch.
                                  readOnly: true
                            readOnly: true
                            x-ms-identifiers:
                            - extensionName
                      readOnly: true
                      x-ms-identifiers:
                      - switchName
                    hostNetwork:
                      description: HostNetwork config to deploy AzureStackHCI Cluster.
                      readOnly: true
                      type: object
                      properties:
                        intents:
                          type: array
                          description: The network intents assigned to the network
                            reference pattern used for the deployment. Each intent
                            will define its own name, traffic type, adapter names,
                            and overrides as recommended by your OEM.
                          items:
                            type: object
                            description: The Intents of a cluster.
                            properties:
                              scope:
                                type: integer
                                format: int64
                                description: Scope for host network intent.
                                readOnly: true
                              intentType:
                                type: integer
                                format: int64
                                description: IntentType for host network intent.
                                readOnly: true
                              isComputeIntentSet:
                                type: boolean
                                description: IsComputeIntentSet for host network intent.
                                readOnly: true
                              isStorageIntentSet:
                                type: boolean
                                description: IsStorageIntentSet for host network intent.
                                readOnly: true
                              isOnlyStorage:
                                type: boolean
                                description: IntentType for host network intent.
                                readOnly: true
                              isManagementIntentSet:
                                type: boolean
                                description: IsManagementIntentSet for host network
                                  intent.
                                readOnly: true
                              isStretchIntentSet:
                                type: boolean
                                description: IsStretchIntentSet for host network intent.
                                readOnly: true
                              isOnlyStretch:
                                type: boolean
                                description: IsOnlyStretch for host network intent.
                                readOnly: true
                              isNetworkIntentType:
                                type: boolean
                                description: IsNetworkIntentType for host network
                                  intent.
                                readOnly: true
                              intentName:
                                type: string
                                description: Name of the network intent you wish to
                                  create.
                                readOnly: true
                              intentAdapters:
                                type: array
                                description: Array of adapters used for the network
                                  intent.
                                items:
                                  type: string
                                readOnly: true
                              overrideVirtualSwitchConfiguration:
                                type: boolean
                                description: This parameter should only be modified
                                  based on your OEM guidance. Do not modify this parameter
                                  without OEM validation.
                                readOnly: true
                              virtualSwitchConfigurationOverrides:
                                description: Set virtualSwitch ConfigurationOverrides
                                  for cluster.
                                readOnly: true
                                type: object
                                properties:
                                  enableIov:
                                    type: string
                                    description: Enable IoV for Virtual Switch
                                    readOnly: true
                                  loadBalancingAlgorithm:
                                    type: string
                                    description: Load Balancing Algorithm for Virtual
                                      Switch
                                    readOnly: true
                              overrideQosPolicy:
                                type: boolean
                                description: This parameter should only be modified
                                  based on your OEM guidance. Do not modify this parameter
                                  without OEM validation.
                                readOnly: true
                              qosPolicyOverrides:
                                description: Set QoS PolicyOverrides for cluster.
                                readOnly: true
                                type: object
                                properties:
                                  priorityValue8021Action_Cluster:
                                    type: string
[...]
