openapi: 3.0.0
info:
  version: 2024-04-01
  title: AzureStackHCI
  description: Azure Stack HCI management service
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/arcSettings/{arcSettingName}/extensions
  : get:
      operationId: Extensions_ListByArcSetting
      description: List all Extensions under ArcSetting resource.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: arcSettingName
        in: path
        required: true
        description: The name of the proxy resource holding details of HCI ArcSetting
          information.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of Extensions in HCI cluster.
                type: object
                properties:
                  value:
                    description: List of Extensions in HCI cluster.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: Describes Machine Extension Properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            provisioningState:
                              description: Provisioning state of the Extension proxy
                                resource.
                              type: string
                              enum:
                              - NotSpecified
                              - Error
                              - Succeeded
                              - Failed
                              - Canceled
                              - Connected
                              - Disconnected
                              - Deleted
                              - Creating
                              - Updating
                              - Deleting
                              - Moving
                              - PartiallySucceeded
                              - PartiallyConnected
                              - InProgress
                              - Accepted
                              - Provisioning
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                              readOnly: true
                            extensionParameters:
                              description: Parameters specific to this extension type.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                forceUpdateTag:
                                  type: string
                                  description: How the extension handler should be
                                    forced to update even if the extension configuration
                                    has not changed.
                                publisher:
                                  type: string
                                  description: The name of the extension handler publisher.
                                type:
                                  type: string
                                  description: Specifies the type of the extension;
                                    an example is "CustomScriptExtension".
                                typeHandlerVersion:
                                  type: string
                                  description: Specifies the version of the script
                                    handler. Latest version would be used if not specified.
                                autoUpgradeMinorVersion:
                                  type: boolean
                                  description: Indicates whether the extension should
                                    use a newer minor version if one is available
                                    at deployment time. Once deployed, however, the
                                    extension will not upgrade minor versions unless
                                    redeployed, even with this property set to true.
                                settings:
                                  type: object
                                  description: Json formatted public settings for
                                    the extension.
                                protectedSettings:
                                  type: object
                                  description: Protected settings (may contain secrets).
                                  x-ms-secret: true
                                enableAutomaticUpgrade:
                                  type: boolean
                                  description: Indicates whether the extension should
                                    be automatically upgraded by the platform if there
                                    is a newer version available.
                            aggregateState:
                              description: Aggregate state of Arc Extensions across
                                the nodes in this HCI cluster.
                              type: string
                              enum:
                              - NotSpecified
                              - Error
                              - Succeeded
                              - Canceled
                              - Failed
                              - Connected
                              - Disconnected
                              - Deleted
                              - Creating
                              - Updating
                              - Deleting
                              - Moving
                              - PartiallySucceeded
                              - PartiallyConnected
                              - InProgress
                              - Accepted
                              - Provisioning
                              - UpgradeFailedRollbackSucceeded
                              x-ms-enum:
                                name: ExtensionAggregateState
                                modelAsString: true
                              readOnly: true
                            perNodeExtensionDetails:
                              description: State of Arc Extension in each of the nodes.
                              type: array
                              items:
                                description: Status of Arc Extension for a particular
                                  node in HCI Cluster.
                                type: object
                                properties:
                                  name:
                                    description: Name of the node in HCI Cluster.
                                    type: string
                                    readOnly: true
                                  extension:
                                    description: Fully qualified resource ID for the
                                      particular Arc Extension on this node.
                                    type: string
                                    readOnly: true
                                  typeHandlerVersion:
                                    type: string
                                    description: Specifies the version of the script
                                      handler.
                                    readOnly: true
                                  state:
                                    description: State of Arc Extension in this node.
                                    type: string
                                    enum:
                                    - NotSpecified
                                    - Error
                                    - Succeeded
                                    - Canceled
                                    - Failed
                                    - Connected
                                    - Disconnected
                                    - Deleted
                                    - Creating
                                    - Updating
                                    - Deleting
                                    - Moving
                                    - PartiallySucceeded
                                    - PartiallyConnected
                                    - InProgress
                                    - Accepted
                                    - Provisioning
                                    x-ms-enum:
                                      name: NodeExtensionState
                                      modelAsString: true
                                    readOnly: true
                                  instanceView:
                                    description: The extension instance view.
                                    readOnly: true
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        description: The extension name.
                                      type:
                                        type: string
                                        description: Specifies the type of the extension;
                                          an example is "MicrosoftMonitoringAgent".
                                      typeHandlerVersion:
                                        type: string
                                        description: Specifies the version of the
                                          script handler.
                                      status:
                                        type: object
                                        description: Instance view status.
                                        properties:
                                          code:
                                            type: string
                                            description: The status code.
                                          level:
                                            type: string
                                            description: The level code.
                                            enum:
                                            - Info
                                            - Warning
                                            - Error
                                            x-ms-enum:
                                              name: StatusLevelTypes
                                              modelAsString: true
                                          displayStatus:
                                            type: string
                                            description: The short localizable label
                                              for the status.
                                          message:
                                            type: string
                                            description: The detailed status message,
                                              including for alerts and error messages.
                                          time:
                                            type: string
                                            format: date-time
                                            description: The time of the status.
                              readOnly: true
                            managedBy:
                              description: Indicates if the extension is managed by
                                azure or the user.
                              type: string
                              enum:
                              - Azure
                              - User
                              x-ms-enum:
                                name: ExtensionManagedBy
                                modelAsString: true
                              readOnly: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to the next set of results.
                    type: string
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/arcSettings/{arcSettingName}/extensions/{extensionName}
  : get:
      operationId: Extensions_Get
      description: Get particular Arc Extension of HCI Cluster.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: arcSettingName
        in: path
        required: true
        description: The name of the proxy resource holding details of HCI ArcSetting
          information.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: extensionName
        in: path
        required: true
        description: The name of the machine extension.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: Describes Machine Extension Properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the Extension proxy resource.
                        type: string
                        enum:
                        - NotSpecified
                        - Error
                        - Succeeded
                        - Failed
                        - Canceled
                        - Connected
                        - Disconnected
                        - Deleted
                        - Creating
                        - Updating
                        - Deleting
                        - Moving
                        - PartiallySucceeded
                        - PartiallyConnected
                        - InProgress
                        - Accepted
                        - Provisioning
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        readOnly: true
                      extensionParameters:
                        description: Parameters specific to this extension type.
                        x-ms-client-flatten: true
                        type: object
                        properties:
                          forceUpdateTag:
                            type: string
                            description: How the extension handler should be forced
                              to update even if the extension configuration has not
                              changed.
                          publisher:
                            type: string
                            description: The name of the extension handler publisher.
                          type:
                            type: string
                            description: Specifies the type of the extension; an example
                              is "CustomScriptExtension".
                          typeHandlerVersion:
                            type: string
                            description: Specifies the version of the script handler.
                              Latest version would be used if not specified.
                          autoUpgradeMinorVersion:
                            type: boolean
                            description: Indicates whether the extension should use
                              a newer minor version if one is available at deployment
                              time. Once deployed, however, the extension will not
                              upgrade minor versions unless redeployed, even with
                              this property set to true.
                          settings:
                            type: object
                            description: Json formatted public settings for the extension.
                          protectedSettings:
                            type: object
                            description: Protected settings (may contain secrets).
                            x-ms-secret: true
                          enableAutomaticUpgrade:
                            type: boolean
                            description: Indicates whether the extension should be
                              automatically upgraded by the platform if there is a
                              newer version available.
                      aggregateState:
                        description: Aggregate state of Arc Extensions across the
                          nodes in this HCI cluster.
                        type: string
                        enum:
                        - NotSpecified
                        - Error
                        - Succeeded
                        - Canceled
                        - Failed
                        - Connected
                        - Disconnected
                        - Deleted
                        - Creating
                        - Updating
                        - Deleting
                        - Moving
                        - PartiallySucceeded
                        - PartiallyConnected
                        - InProgress
                        - Accepted
                        - Provisioning
                        - UpgradeFailedRollbackSucceeded
                        x-ms-enum:
                          name: ExtensionAggregateState
                          modelAsString: true
                        readOnly: true
                      perNodeExtensionDetails:
                        description: State of Arc Extension in each of the nodes.
                        type: array
                        items:
                          description: Status of Arc Extension for a particular node
                            in HCI Cluster.
                          type: object
                          properties:
                            name:
                              description: Name of the node in HCI Cluster.
                              type: string
                              readOnly: true
                            extension:
                              description: Fully qualified resource ID for the particular
                                Arc Extension on this node.
                              type: string
                              readOnly: true
                            typeHandlerVersion:
                              type: string
                              description: Specifies the version of the script handler.
                              readOnly: true
                            state:
                              description: State of Arc Extension in this node.
                              type: string
                              enum:
                              - NotSpecified
                              - Error
                              - Succeeded
                              - Canceled
                              - Failed
                              - Connected
                              - Disconnected
                              - Deleted
                              - Creating
                              - Updating
                              - Deleting
                              - Moving
                              - PartiallySucceeded
                              - PartiallyConnected
                              - InProgress
                              - Accepted
                              - Provisioning
                              x-ms-enum:
                                name: NodeExtensionState
                                modelAsString: true
                              readOnly: true
                            instanceView:
                              description: The extension instance view.
                              readOnly: true
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: The extension name.
                                type:
                                  type: string
                                  description: Specifies the type of the extension;
                                    an example is "MicrosoftMonitoringAgent".
                                typeHandlerVersion:
                                  type: string
                                  description: Specifies the version of the script
                                    handler.
                                status:
                                  type: object
                                  description: Instance view status.
                                  properties:
                                    code:
                                      type: string
                                      description: The status code.
                                    level:
                                      type: string
                                      description: The level code.
                                      enum:
                                      - Info
                                      - Warning
                                      - Error
                                      x-ms-enum:
                                        name: StatusLevelTypes
                                        modelAsString: true
                                    displayStatus:
                                      type: string
                                      description: The short localizable label for
                                        the status.
                                    message:
                                      type: string
                                      description: The detailed status message, including
                                        for alerts and error messages.
                                    time:
                                      type: string
                                      format: date-time
                                      description: The time of the status.
                        readOnly: true
                      managedBy:
                        description: Indicates if the extension is managed by azure
                          or the user.
                        type: string
                        enum:
                        - Azure
                        - User
                        x-ms-enum:
                          name: ExtensionManagedBy
                          modelAsString: true
                        readOnly: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: Extensions_Create
      description: Create Extension for HCI cluster.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: arcSettingName
        in: path
        required: true
        description: The name of the proxy resource holding details of HCI ArcSetting
          information.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: extensionName
        in: path
        required: true
        description: The name of the machine extension.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  description: Describes Machine Extension Properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    provisioningState:
                      description: Provisioning state of the Extension proxy resource.
                      type: string
                      enum:
                      - NotSpecified
                      - Error
                      - Succeeded
                      - Failed
                      - Canceled
                      - Connected
                      - Disconnected
                      - Deleted
                      - Creating
                      - Updating
                      - Deleting
                      - Moving
                      - PartiallySucceeded
                      - PartiallyConnected
                      - InProgress
                      - Accepted
                      - Provisioning
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                      readOnly: true
                    extensionParameters:
                      description: Parameters specific to this extension type.
                      x-ms-client-flatten: true
                      type: object
                      properties:
                        forceUpdateTag:
                          type: string
                          description: How the extension handler should be forced
                            to update even if the extension configuration has not
                            changed.
                        publisher:
                          type: string
                          description: The name of the extension handler publisher.
                        type:
                          type: string
                          description: Specifies the type of the extension; an example
                            is "CustomScriptExtension".
                        typeHandlerVersion:
                          type: string
                          description: Specifies the version of the script handler.
                            Latest version would be used if not specified.
                        autoUpgradeMinorVersion:
                          type: boolean
                          description: Indicates whether the extension should use
                            a newer minor version if one is available at deployment
                            time. Once deployed, however, the extension will not upgrade
                            minor versions unless redeployed, even with this property
                            set to true.
                        settings:
                          type: object
                          description: Json formatted public settings for the extension.
                        protectedSettings:
                          type: object
                          description: Protected settings (may contain secrets).
                          x-ms-secret: true
                        enableAutomaticUpgrade:
                          type: boolean
                          description: Indicates whether the extension should be automatically
                            upgraded by the platform if there is a newer version available.
                    aggregateState:
                      description: Aggregate state of Arc Extensions across the nodes
                        in this HCI cluster.
                      type: string
                      enum:
                      - NotSpecified
                      - Error
                      - Succeeded
                      - Canceled
                      - Failed
                      - Connected
                      - Disconnected
                      - Deleted
                      - Creating
                      - Updating
                      - Deleting
                      - Moving
                      - PartiallySucceeded
                      - PartiallyConnected
                      - InProgress
                      - Accepted
                      - Provisioning
                      - UpgradeFailedRollbackSucceeded
                      x-ms-enum:
                        name: ExtensionAggregateState
                        modelAsString: true
                      readOnly: true
                    perNodeExtensionDetails:
                      description: State of Arc Extension in each of the nodes.
                      type: array
                      items:
                        description: Status of Arc Extension for a particular node
                          in HCI Cluster.
                        type: object
                        properties:
                          name:
                            description: Name of the node in HCI Cluster.
                            type: string
                            readOnly: true
                          extension:
                            description: Fully qualified resource ID for the particular
                              Arc Extension on this node.
                            type: string
                            readOnly: true
                          typeHandlerVersion:
                            type: string
                            description: Specifies the version of the script handler.
                            readOnly: true
                          state:
                            description: State of Arc Extension in this node.
                            type: string
                            enum:
                            - NotSpecified
                            - Error
                            - Succeeded
                            - Canceled
                            - Failed
                            - Connected
                            - Disconnected
                            - Deleted
                            - Creating
                            - Updating
                            - Deleting
                            - Moving
                            - PartiallySucceeded
                            - PartiallyConnected
                            - InProgress
                            - Accepted
                            - Provisioning
                            x-ms-enum:
                              name: NodeExtensionState
                              modelAsString: true
                            readOnly: true
                          instanceView:
                            description: The extension instance view.
                            readOnly: true
                            type: object
                            properties:
                              name:
                                type: string
                                description: The extension name.
                              type:
                                type: string
                                description: Specifies the type of the extension;
                                  an example is "MicrosoftMonitoringAgent".
                              typeHandlerVersion:
                                type: string
                                description: Specifies the version of the script handler.
                              status:
                                type: object
                                description: Instance view status.
                                properties:
                                  code:
                                    type: string
                                    description: The status code.
                                  level:
                                    type: string
                                    description: The level code.
                                    enum:
                                    - Info
                                    - Warning
                                    - Error
                                    x-ms-enum:
                                      name: StatusLevelTypes
                                      modelAsString: true
                                  displayStatus:
                                    type: string
                                    description: The short localizable label for the
                                      status.
                                  message:
                                    type: string
                                    description: The detailed status message, including
                                      for alerts and error messages.
                                  time:
                                    type: string
                                    format: date-time
                                    description: The time of the status.
                      readOnly: true
                    managedBy:
                      description: Indicates if the extension is managed by azure
                        or the user.
                      type: string
                      enum:
                      - Azure
                      - User
                      x-ms-enum:
                        name: ExtensionManagedBy
                        modelAsString: true
                      readOnly: true
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Details of the Machine Extension to be created.
        required: true
      responses:
        '200':
          description: Succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: Describes Machine Extension Properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the Extension proxy resource.
                        type: string
                        enum:
                        - NotSpecified
                        - Error
                        - Succeeded
                        - Failed
                        - Canceled
                        - Connected
                        - Disconnected
                        - Deleted
                        - Creating
                        - Updating
                        - Deleting
                        - Moving
                        - PartiallySucceeded
                        - PartiallyConnected
                        - InProgress
                        - Accepted
                        - Provisioning
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        readOnly: true
                      extensionParameters:
                        description: Parameters specific to this extension type.
                        x-ms-client-flatten: true
                        type: object
                        properties:
                          forceUpdateTag:
                            type: string
                            description: How the extension handler should be forced
                              to update even if the extension configuration has not
                              changed.
                          publisher:
                            type: string
                            description: The name of the extension handler publisher.
                          type:
                            type: string
                            description: Specifies the type of the extension; an example
                              is "CustomScriptExtension".
                          typeHandlerVersion:
                            type: string
                            description: Specifies the version of the script handler.
                              Latest version would be used if not specified.
                          autoUpgradeMinorVersion:
                            type: boolean
                            description: Indicates whether the extension should use
                              a newer minor version if one is available at deployment
                              time. Once deployed, however, the extension will not
                              upgrade minor versions unless redeployed, even with
                              this property set to true.
                          settings:
                            type: object
                            description: Json formatted public settings for the extension.
                          protectedSettings:
                            type: object
                            description: Protected settings (may contain secrets).
                            x-ms-secret: true
                          enableAutomaticUpgrade:
                            type: boolean
                            description: Indicates whether the extension should be
                              automatically upgraded by the platform if there is a
                              newer version available.
                      aggregateState:
                        description: Aggregate state of Arc Extensions across the
                          nodes in this HCI cluster.
                        type: string
                        enum:
                        - NotSpecified
                        - Error
                        - Succeeded
                        - Canceled
                        - Failed
                        - Connected
                        - Disconnected
                        - Deleted
                        - Creating
                        - Updating
                        - Deleting
                        - Moving
                        - PartiallySucceeded
                        - PartiallyConnected
                        - InProgress
                        - Accepted
                        - Provisioning
                        - UpgradeFailedRollbackSucceeded
                        x-ms-enum:
                          name: ExtensionAggregateState
                          modelAsString: true
                        readOnly: true
                      perNodeExtensionDetails:
                        description: State of Arc Extension in each of the nodes.
                        type: array
                        items:
                          description: Status of Arc Extension for a particular node
                            in HCI Cluster.
                          type: object
                          properties:
                            name:
                              description: Name of the node in HCI Cluster.
                              type: string
                              readOnly: true
                            extension:
                              description: Fully qualified resource ID for the particular
                                Arc Extension on this node.
                              type: string
                              readOnly: true
                            typeHandlerVersion:
                              type: string
                              description: Specifies the version of the script handler.
                              readOnly: true
                            state:
                              description: State of Arc Extension in this node.
                              type: string
                              enum:
                              - NotSpecified
                              - Error
                              - Succeeded
                              - Canceled
                              - Failed
                              - Connected
                              - Disconnected
                              - Deleted
                              - Creating
                              - Updating
                              - Deleting
                              - Moving
                              - PartiallySucceeded
                              - PartiallyConnected
                              - InProgress
                              - Accepted
                              - Provisioning
                              x-ms-enum:
                                name: NodeExtensionState
                                modelAsString: true
                              readOnly: true
                            instanceView:
                              description: The extension instance view.
                              readOnly: true
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: The extension name.
                                type:
                                  type: string
                                  description: Specifies the type of the extension;
                                    an example is "MicrosoftMonitoringAgent".
                                typeHandlerVersion:
                                  type: string
                                  description: Specifies the version of the script
                                    handler.
                                status:
                                  type: object
                                  description: Instance view status.
                                  properties:
                                    code:
                                      type: string
                                      description: The status code.
                                    level:
                                      type: string
                                      description: The level code.
                                      enum:
                                      - Info
                                      - Warning
                                      - Error
                                      x-ms-enum:
                                        name: StatusLevelTypes
                                        modelAsString: true
                                    displayStatus:
                                      type: string
                                      description: The short localizable label for
                                        the status.
                                    message:
                                      type: string
                                      description: The detailed status message, including
                                        for alerts and error messages.
                                    time:
                                      type: string
                                      format: date-time
                                      description: The time of the status.
                        readOnly: true
                      managedBy:
                        description: Indicates if the extension is managed by azure
                          or the user.
                        type: string
                        enum:
                        - Azure
                        - User
                        x-ms-enum:
                          name: ExtensionManagedBy
                          modelAsString: true
                        readOnly: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: Describes Machine Extension Properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the Extension proxy resource.
                        type: string
                        enum:
                        - NotSpecified
                        - Error
                        - Succeeded
                        - Failed
                        - Canceled
                        - Connected
                        - Disconnected
                        - Deleted
                        - Creating
                        - Updating
                        - Deleting
                        - Moving
                        - PartiallySucceeded
                        - PartiallyConnected
                        - InProgress
                        - Accepted
                        - Provisioning
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        readOnly: true
                      extensionParameters:
                        description: Parameters specific to this extension type.
                        x-ms-client-flatten: true
                        type: object
                        properties:
                          forceUpdateTag:
                            type: string
                            description: How the extension handler should be forced
                              to update even if the extension configuration has not
                              changed.
                          publisher:
                            type: string
                            description: The name of the extension handler publisher.
                          type:
                            type: string
                            description: Specifies the type of the extension; an example
                              is "CustomScriptExtension".
                          typeHandlerVersion:
                            type: string
                            description: Specifies the version of the script handler.
                              Latest version would be used if not specified.
                          autoUpgradeMinorVersion:
                            type: boolean
                            description: Indicates whether the extension should use
                              a newer minor version if one is available at deployment
                              time. Once deployed, however, the extension will not
                              upgrade minor versions unless redeployed, even with
                              this property set to true.
                          settings:
                            type: object
                            description: Json formatted public settings for the extension.
                          protectedSettings:
                            type: object
                            description: Protected settings (may contain secrets).
                            x-ms-secret: true
                          enableAutomaticUpgrade:
                            type: boolean
                            description: Indicates whether the extension should be
                              automatically upgraded by the platform if there is a
                              newer version available.
                      aggregateState:
                        description: Aggregate state of Arc Extensions across the
                          nodes in this HCI cluster.
                        type: string
                        enum:
                        - NotSpecified
                        - Error
                        - Succeeded
                        - Canceled
                        - Failed
                        - Connected
                        - Disconnected
                        - Deleted
                        - Creating
                        - Updating
                        - Deleting
                        - Moving
                        - PartiallySucceeded
                        - PartiallyConnected
                        - InProgress
                        - Accepted
                        - Provisioning
                        - UpgradeFailedRollbackSucceeded
                        x-ms-enum:
                          name: ExtensionAggregateState
                          modelAsString: true
                        readOnly: true
                      perNodeExtensionDetails:
                        description: State of Arc Extension in each of the nodes.
                        type: array
                        items:
                          description: Status of Arc Extension for a particular node
                            in HCI Cluster.
                          type: object
                          properties:
                            name:
                              description: Name of the node in HCI Cluster.
                              type: string
                              readOnly: true
                            extension:
                              description: Fully qualified resource ID for the particular
                                Arc Extension on this node.
                              type: string
                              readOnly: true
                            typeHandlerVersion:
                              type: string
                              description: Specifies the version of the script handler.
                              readOnly: true
                            state:
                              description: State of Arc Extension in this node.
                              type: string
                              enum:
                              - NotSpecified
                              - Error
                              - Succeeded
                              - Canceled
                              - Failed
                              - Connected
                              - Disconnected
                              - Deleted
                              - Creating
                              - Updating
                              - Deleting
                              - Moving
                              - PartiallySucceeded
                              - PartiallyConnected
                              - InProgress
                              - Accepted
                              - Provisioning
                              x-ms-enum:
                                name: NodeExtensionState
                                modelAsString: true
                              readOnly: true
                            instanceView:
                              description: The extension instance view.
                              readOnly: true
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: The extension name.
                                type:
                                  type: string
                                  description: Specifies the type of the extension;
                                    an example is "MicrosoftMonitoringAgent".
                                typeHandlerVersion:
                                  type: string
                                  description: Specifies the version of the script
                                    handler.
                                status:
                                  type: object
                                  description: Instance view status.
                                  properties:
                                    code:
                                      type: string
                                      description: The status code.
                                    level:
                                      type: string
                                      description: The level code.
                                      enum:
                                      - Info
                                      - Warning
                                      - Error
                                      x-ms-enum:
                                        name: StatusLevelTypes
                                        modelAsString: true
                                    displayStatus:
                                      type: string
                                      description: The short localizable label for
                                        the status.
                                    message:
                                      type: string
                                      description: The detailed status message, including
                                        for alerts and error messages.
                                    time:
                                      type: string
                                      format: date-time
                                      description: The time of the status.
                        readOnly: true
                      managedBy:
                        description: Indicates if the extension is managed by azure
                          or the user.
                        type: string
                        enum:
                        - Azure
                        - User
                        x-ms-enum:
                          name: ExtensionManagedBy
                          modelAsString: true
                        readOnly: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    patch:
      operationId: Extensions_Update
      description: Update Extension for HCI cluster.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: arcSettingName
        in: path
        required: true
        description: The name of the proxy resource holding details of HCI ArcSetting
          information.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: extensionName
        in: path
        required: true
        description: The name of the machine extension.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              description: Extension Details to update
              type: object
              properties:
                properties:
                  description: Describes Machine Extension Properties that can be
                    updated.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    extensionParameters:
                      description: Describes the properties of a Machine Extension
                        that can be updated.
                      type: object
                      properties:
                        typeHandlerVersion:
                          type: string
                          description: Specifies the version of the script handler.
                            Latest version would be used if not specified.
                        enableAutomaticUpgrade:
                          type: boolean
                          description: Indicates whether the extension should be automatically
                            upgraded by the platform if there is a newer version available.
                        settings:
                          type: object
                          description: Json formatted public settings for the extension.
                        protectedSettings:
                          type: object
                          description: Protected settings (may contain secrets).
                          x-ms-secret: true
        description: Details of the Machine Extension to be created.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: Describes Machine Extension Properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the Extension proxy resource.
                        type: string
                        enum:
                        - NotSpecified
                        - Error
                        - Succeeded
                        - Failed
                        - Canceled
                        - Connected
                        - Disconnected
                        - Deleted
                        - Creating
                        - Updating
                        - Deleting
                        - Moving
                        - PartiallySucceeded
                        - PartiallyConnected
                        - InProgress
                        - Accepted
                        - Provisioning
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        readOnly: true
                      extensionParameters:
                        description: Parameters specific to this extension type.
                        x-ms-client-flatten: true
                        type: object
                        properties:
                          forceUpdateTag:
                            type: string
                            description: How the extension handler should be forced
                              to update even if the extension configuration has not
                              changed.
                          publisher:
                            type: string
                            description: The name of the extension handler publisher.
                          type:
                            type: string
                            description: Specifies the type of the extension; an example
                              is "CustomScriptExtension".
                          typeHandlerVersion:
                            type: string
                            description: Specifies the version of the script handler.
                              Latest version would be used if not specified.
                          autoUpgradeMinorVersion:
                            type: boolean
                            description: Indicates whether the extension should use
                              a newer minor version if one is available at deployment
                              time. Once deployed, however, the extension will not
                              upgrade minor versions unless redeployed, even with
                              this property set to true.
                          settings:
                            type: object
                            description: Json formatted public settings for the extension.
                          protectedSettings:
                            type: object
                            description: Protected settings (may contain secrets).
                            x-ms-secret: true
                          enableAutomaticUpgrade:
                            type: boolean
                            description: Indicates whether the extension should be
                              automatically upgraded by the platform if there is a
                              newer version available.
                      aggregateState:
                        description: Aggregate state of Arc Extensions across the
                          nodes in this HCI cluster.
                        type: string
                        enum:
                        - NotSpecified
                        - Error
                        - Succeeded
                        - Canceled
                        - Failed
                        - Connected
                        - Disconnected
                        - Deleted
                        - Creating
                        - Updating
                        - Deleting
                        - Moving
                        - PartiallySucceeded
                        - PartiallyConnected
                        - InProgress
                        - Accepted
                        - Provisioning
                        - UpgradeFailedRollbackSucceeded
                        x-ms-enum:
                          name: ExtensionAggregateState
                          modelAsString: true
                        readOnly: true
                      perNodeExtensionDetails:
                        description: State of Arc Extension in each of the nodes.
                        type: array
                        items:
                          description: Status of Arc Extension for a particular node
                            in HCI Cluster.
                          type: object
                          properties:
                            name:
                              description: Name of the node in HCI Cluster.
                              type: string
                              readOnly: true
                            extension:
                              description: Fully qualified resource ID for the particular
                                Arc Extension on this node.
                              type: string
                              readOnly: true
                            typeHandlerVersion:
                              type: string
                              description: Specifies the version of the script handler.
                              readOnly: true
                            state:
                              description: State of Arc Extension in this node.
                              type: string
                              enum:
                              - NotSpecified
                              - Error
                              - Succeeded
                              - Canceled
                              - Failed
                              - Connected
                              - Disconnected
                              - Deleted
                              - Creating
                              - Updating
                              - Deleting
                              - Moving
                              - PartiallySucceeded
                              - PartiallyConnected
                              - InProgress
                              - Accepted
                              - Provisioning
                              x-ms-enum:
                                name: NodeExtensionState
                                modelAsString: true
                              readOnly: true
                            instanceView:
                              description: The extension instance view.
                              readOnly: true
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: The extension name.
                                type:
                                  type: string
                                  description: Specifies the type of the extension;
                                    an example is "MicrosoftMonitoringAgent".
                                typeHandlerVersion:
                                  type: string
                                  description: Specifies the version of the script
                                    handler.
                                status:
                                  type: object
                                  description: Instance view status.
                                  properties:
                                    code:
                                      type: string
                                      description: The status code.
                                    level:
                                      type: string
                                      description: The level code.
                                      enum:
                                      - Info
                                      - Warning
                                      - Error
                                      x-ms-enum:
[...]
