openapi: 3.0.0
info:
  title: AzureStackHCI
  version: 2024-04-01
  description: Azure Stack HCI cluster security settings.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: SecuritySettings
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/securitySettings
  : get:
      operationId: SecuritySettings_ListByClusters
      tags:
      - SecuritySettings
      description: List SecuritySetting resources by Clusters
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a SecuritySetting list operation.
                properties:
                  value:
                    type: array
                    description: The SecuritySetting items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: The resource-specific properties for this resource.
                          x-ms-client-flatten: true
                          x-ms-mutability:
                          - read
                          - create
                          type: object
                          properties:
                            securedCoreComplianceAssignment:
                              description: Secured Core Compliance Assignment
                              default: Audit
                              type: string
                              enum:
                              - Audit
                              - ApplyAndAutoCorrect
                              x-ms-enum:
                                name: ComplianceAssignmentType
                                modelAsString: true
                                values:
                                - name: Audit
                                  value: Audit
                                  description: Report on the state of the machine,
                                    but don't make changes.
                                - name: ApplyAndAutoCorrect
                                  value: ApplyAndAutoCorrect
                                  description: Applied to the machine. If it drifts,
                                    the local service inside the machine makes a correction
                                    at the next evaluation.
                            wdacComplianceAssignment:
                              description: WDAC Compliance Assignment
                              default: Audit
                              type: string
                              enum:
                              - Audit
                              - ApplyAndAutoCorrect
                              x-ms-enum:
                                name: ComplianceAssignmentType
                                modelAsString: true
                                values:
                                - name: Audit
                                  value: Audit
                                  description: Report on the state of the machine,
                                    but don't make changes.
                                - name: ApplyAndAutoCorrect
                                  value: ApplyAndAutoCorrect
                                  description: Applied to the machine. If it drifts,
                                    the local service inside the machine makes a correction
                                    at the next evaluation.
                            smbEncryptionForIntraClusterTrafficComplianceAssignment:
                              description: SMB encryption for intra-cluster traffic
                                Compliance Assignment
                              default: Audit
                              type: string
                              enum:
                              - Audit
                              - ApplyAndAutoCorrect
                              x-ms-enum:
                                name: ComplianceAssignmentType
                                modelAsString: true
                                values:
                                - name: Audit
                                  value: Audit
                                  description: Report on the state of the machine,
                                    but don't make changes.
                                - name: ApplyAndAutoCorrect
                                  value: ApplyAndAutoCorrect
                                  description: Applied to the machine. If it drifts,
                                    the local service inside the machine makes a correction
                                    at the next evaluation.
                            securityComplianceStatus:
                              description: Security Compliance Status
                              readOnly: true
                              type: object
                              properties:
                                securedCoreCompliance:
                                  description: Indicates whether HCI hosts meets secured-core
                                    server requirements.
                                  readOnly: true
                                  type: string
                                  enum:
                                  - Compliant
                                  - NonCompliant
                                  - Pending
                                  x-ms-enum:
                                    name: ComplianceStatus
                                    modelAsString: true
                                    values:
                                    - name: Compliant
                                      value: Compliant
                                      description: The resource is compliant
                                    - name: NonCompliant
                                      value: NonCompliant
                                      description: The resource is non-compliant
                                    - name: Pending
                                      value: Pending
                                      description: The resource compliance status
                                        is pending
                                wdacCompliance:
                                  description: Indicates whether HCI hosts have enforced
                                    consistent Windows Defender Application Control.
                                  readOnly: true
                                  type: string
                                  enum:
                                  - Compliant
                                  - NonCompliant
                                  - Pending
                                  x-ms-enum:
                                    name: ComplianceStatus
                                    modelAsString: true
                                    values:
                                    - name: Compliant
                                      value: Compliant
                                      description: The resource is compliant
                                    - name: NonCompliant
                                      value: NonCompliant
                                      description: The resource is non-compliant
                                    - name: Pending
                                      value: Pending
                                      description: The resource compliance status
                                        is pending
                                dataAtRestEncrypted:
                                  description: Indicates whether data at-rest encryption
                                    is enabled on Azure Stack HCI clustered volumes.
                                  readOnly: true
                                  type: string
                                  enum:
                                  - Compliant
                                  - NonCompliant
                                  - Pending
                                  x-ms-enum:
                                    name: ComplianceStatus
                                    modelAsString: true
                                    values:
                                    - name: Compliant
                                      value: Compliant
                                      description: The resource is compliant
                                    - name: NonCompliant
                                      value: NonCompliant
                                      description: The resource is non-compliant
                                    - name: Pending
                                      value: Pending
                                      description: The resource compliance status
                                        is pending
                                dataInTransitProtected:
                                  description: Indicates whether HCI cluster has data
                                    in-transit protection.
                                  readOnly: true
                                  type: string
                                  enum:
                                  - Compliant
                                  - NonCompliant
                                  - Pending
                                  x-ms-enum:
                                    name: ComplianceStatus
                                    modelAsString: true
                                    values:
                                    - name: Compliant
                                      value: Compliant
                                      description: The resource is compliant
                                    - name: NonCompliant
                                      value: NonCompliant
                                      description: The resource is non-compliant
                                    - name: Pending
                                      value: Pending
                                      description: The resource compliance status
                                        is pending
                                lastUpdated:
                                  type: string
                                  format: date-time
                                  description: Time in UTC when compliance status
                                    was last updated.
                                  readOnly: true
                            provisioningState:
                              description: The status of the last operation.
                              type: string
                              readOnly: true
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/securitySettings/{securitySettingsName}
  : get:
      operationId: SecuritySettings_Get
      tags:
      - SecuritySettings
      description: Get a SecuritySetting
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: securitySettingsName
        in: path
        description: Name of security setting
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
          default: default
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The resource-specific properties for this resource.
                    x-ms-client-flatten: true
                    x-ms-mutability:
                    - read
                    - create
                    type: object
                    properties:
                      securedCoreComplianceAssignment:
                        description: Secured Core Compliance Assignment
                        default: Audit
                        type: string
                        enum:
                        - Audit
                        - ApplyAndAutoCorrect
                        x-ms-enum:
                          name: ComplianceAssignmentType
                          modelAsString: true
                          values:
                          - name: Audit
                            value: Audit
                            description: Report on the state of the machine, but don't
                              make changes.
                          - name: ApplyAndAutoCorrect
                            value: ApplyAndAutoCorrect
                            description: Applied to the machine. If it drifts, the
                              local service inside the machine makes a correction
                              at the next evaluation.
                      wdacComplianceAssignment:
                        description: WDAC Compliance Assignment
                        default: Audit
                        type: string
                        enum:
                        - Audit
                        - ApplyAndAutoCorrect
                        x-ms-enum:
                          name: ComplianceAssignmentType
                          modelAsString: true
                          values:
                          - name: Audit
                            value: Audit
                            description: Report on the state of the machine, but don't
                              make changes.
                          - name: ApplyAndAutoCorrect
                            value: ApplyAndAutoCorrect
                            description: Applied to the machine. If it drifts, the
                              local service inside the machine makes a correction
                              at the next evaluation.
                      smbEncryptionForIntraClusterTrafficComplianceAssignment:
                        description: SMB encryption for intra-cluster traffic Compliance
                          Assignment
                        default: Audit
                        type: string
                        enum:
                        - Audit
                        - ApplyAndAutoCorrect
                        x-ms-enum:
                          name: ComplianceAssignmentType
                          modelAsString: true
                          values:
                          - name: Audit
                            value: Audit
                            description: Report on the state of the machine, but don't
                              make changes.
                          - name: ApplyAndAutoCorrect
                            value: ApplyAndAutoCorrect
                            description: Applied to the machine. If it drifts, the
                              local service inside the machine makes a correction
                              at the next evaluation.
                      securityComplianceStatus:
                        description: Security Compliance Status
                        readOnly: true
                        type: object
                        properties:
                          securedCoreCompliance:
                            description: Indicates whether HCI hosts meets secured-core
                              server requirements.
                            readOnly: true
                            type: string
                            enum:
                            - Compliant
                            - NonCompliant
                            - Pending
                            x-ms-enum:
                              name: ComplianceStatus
                              modelAsString: true
                              values:
                              - name: Compliant
                                value: Compliant
                                description: The resource is compliant
                              - name: NonCompliant
                                value: NonCompliant
                                description: The resource is non-compliant
                              - name: Pending
                                value: Pending
                                description: The resource compliance status is pending
                          wdacCompliance:
                            description: Indicates whether HCI hosts have enforced
                              consistent Windows Defender Application Control.
                            readOnly: true
                            type: string
                            enum:
                            - Compliant
                            - NonCompliant
                            - Pending
                            x-ms-enum:
                              name: ComplianceStatus
                              modelAsString: true
                              values:
                              - name: Compliant
                                value: Compliant
                                description: The resource is compliant
                              - name: NonCompliant
                                value: NonCompliant
                                description: The resource is non-compliant
                              - name: Pending
                                value: Pending
                                description: The resource compliance status is pending
                          dataAtRestEncrypted:
                            description: Indicates whether data at-rest encryption
                              is enabled on Azure Stack HCI clustered volumes.
                            readOnly: true
                            type: string
                            enum:
                            - Compliant
                            - NonCompliant
                            - Pending
                            x-ms-enum:
                              name: ComplianceStatus
                              modelAsString: true
                              values:
                              - name: Compliant
                                value: Compliant
                                description: The resource is compliant
                              - name: NonCompliant
                                value: NonCompliant
                                description: The resource is non-compliant
                              - name: Pending
                                value: Pending
                                description: The resource compliance status is pending
                          dataInTransitProtected:
                            description: Indicates whether HCI cluster has data in-transit
                              protection.
                            readOnly: true
                            type: string
                            enum:
                            - Compliant
                            - NonCompliant
                            - Pending
                            x-ms-enum:
                              name: ComplianceStatus
                              modelAsString: true
                              values:
                              - name: Compliant
                                value: Compliant
                                description: The resource is compliant
                              - name: NonCompliant
                                value: NonCompliant
                                description: The resource is non-compliant
                              - name: Pending
                                value: Pending
                                description: The resource compliance status is pending
                          lastUpdated:
                            type: string
                            format: date-time
                            description: Time in UTC when compliance status was last
                              updated.
                            readOnly: true
                      provisioningState:
                        description: The status of the last operation.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: SecuritySettings_CreateOrUpdate
      tags:
      - SecuritySettings
      description: Create a security setting
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: securitySettingsName
        in: path
        description: Name of security setting
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
          default: default
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  description: The resource-specific properties for this resource.
                  x-ms-client-flatten: true
                  x-ms-mutability:
                  - read
                  - create
                  type: object
                  properties:
                    securedCoreComplianceAssignment:
                      description: Secured Core Compliance Assignment
                      default: Audit
                      type: string
                      enum:
                      - Audit
                      - ApplyAndAutoCorrect
                      x-ms-enum:
                        name: ComplianceAssignmentType
                        modelAsString: true
                        values:
                        - name: Audit
                          value: Audit
                          description: Report on the state of the machine, but don't
                            make changes.
                        - name: ApplyAndAutoCorrect
                          value: ApplyAndAutoCorrect
                          description: Applied to the machine. If it drifts, the local
                            service inside the machine makes a correction at the next
                            evaluation.
                    wdacComplianceAssignment:
                      description: WDAC Compliance Assignment
                      default: Audit
                      type: string
                      enum:
                      - Audit
                      - ApplyAndAutoCorrect
                      x-ms-enum:
                        name: ComplianceAssignmentType
                        modelAsString: true
                        values:
                        - name: Audit
                          value: Audit
                          description: Report on the state of the machine, but don't
                            make changes.
                        - name: ApplyAndAutoCorrect
                          value: ApplyAndAutoCorrect
                          description: Applied to the machine. If it drifts, the local
                            service inside the machine makes a correction at the next
                            evaluation.
                    smbEncryptionForIntraClusterTrafficComplianceAssignment:
                      description: SMB encryption for intra-cluster traffic Compliance
                        Assignment
                      default: Audit
                      type: string
                      enum:
                      - Audit
                      - ApplyAndAutoCorrect
                      x-ms-enum:
                        name: ComplianceAssignmentType
                        modelAsString: true
                        values:
                        - name: Audit
                          value: Audit
                          description: Report on the state of the machine, but don't
                            make changes.
                        - name: ApplyAndAutoCorrect
                          value: ApplyAndAutoCorrect
                          description: Applied to the machine. If it drifts, the local
                            service inside the machine makes a correction at the next
                            evaluation.
                    securityComplianceStatus:
                      description: Security Compliance Status
                      readOnly: true
                      type: object
                      properties:
                        securedCoreCompliance:
                          description: Indicates whether HCI hosts meets secured-core
                            server requirements.
                          readOnly: true
                          type: string
                          enum:
                          - Compliant
                          - NonCompliant
                          - Pending
                          x-ms-enum:
                            name: ComplianceStatus
                            modelAsString: true
                            values:
                            - name: Compliant
                              value: Compliant
                              description: The resource is compliant
                            - name: NonCompliant
                              value: NonCompliant
                              description: The resource is non-compliant
                            - name: Pending
                              value: Pending
                              description: The resource compliance status is pending
                        wdacCompliance:
                          description: Indicates whether HCI hosts have enforced consistent
                            Windows Defender Application Control.
                          readOnly: true
                          type: string
                          enum:
                          - Compliant
                          - NonCompliant
                          - Pending
                          x-ms-enum:
                            name: ComplianceStatus
                            modelAsString: true
                            values:
                            - name: Compliant
                              value: Compliant
                              description: The resource is compliant
                            - name: NonCompliant
                              value: NonCompliant
                              description: The resource is non-compliant
                            - name: Pending
                              value: Pending
                              description: The resource compliance status is pending
                        dataAtRestEncrypted:
                          description: Indicates whether data at-rest encryption is
                            enabled on Azure Stack HCI clustered volumes.
                          readOnly: true
                          type: string
                          enum:
                          - Compliant
                          - NonCompliant
                          - Pending
                          x-ms-enum:
                            name: ComplianceStatus
                            modelAsString: true
                            values:
                            - name: Compliant
                              value: Compliant
                              description: The resource is compliant
                            - name: NonCompliant
                              value: NonCompliant
                              description: The resource is non-compliant
                            - name: Pending
                              value: Pending
                              description: The resource compliance status is pending
                        dataInTransitProtected:
                          description: Indicates whether HCI cluster has data in-transit
                            protection.
                          readOnly: true
                          type: string
                          enum:
                          - Compliant
                          - NonCompliant
                          - Pending
                          x-ms-enum:
                            name: ComplianceStatus
                            modelAsString: true
                            values:
                            - name: Compliant
                              value: Compliant
                              description: The resource is compliant
                            - name: NonCompliant
                              value: NonCompliant
                              description: The resource is non-compliant
                            - name: Pending
                              value: Pending
                              description: The resource compliance status is pending
                        lastUpdated:
                          type: string
                          format: date-time
                          description: Time in UTC when compliance status was last
                            updated.
                          readOnly: true
                    provisioningState:
                      description: The status of the last operation.
                      type: string
                      readOnly: true
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Provisioning
                      - Updating
                      - Deleting
                      - Accepted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
                        - name: Provisioning
                          value: Provisioning
                          description: The resource is being provisioned
                        - name: Updating
                          value: Updating
                          description: The resource is updating
                        - name: Deleting
                          value: Deleting
                          description: The resource is being deleted
                        - name: Accepted
                          value: Accepted
                          description: The resource create request has been accepted
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Resource 'SecuritySetting' update operation succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The resource-specific properties for this resource.
                    x-ms-client-flatten: true
                    x-ms-mutability:
                    - read
                    - create
                    type: object
                    properties:
                      securedCoreComplianceAssignment:
                        description: Secured Core Compliance Assignment
                        default: Audit
                        type: string
                        enum:
                        - Audit
                        - ApplyAndAutoCorrect
                        x-ms-enum:
                          name: ComplianceAssignmentType
                          modelAsString: true
                          values:
                          - name: Audit
                            value: Audit
                            description: Report on the state of the machine, but don't
                              make changes.
                          - name: ApplyAndAutoCorrect
                            value: ApplyAndAutoCorrect
                            description: Applied to the machine. If it drifts, the
                              local service inside the machine makes a correction
                              at the next evaluation.
                      wdacComplianceAssignment:
                        description: WDAC Compliance Assignment
                        default: Audit
                        type: string
                        enum:
                        - Audit
                        - ApplyAndAutoCorrect
                        x-ms-enum:
                          name: ComplianceAssignmentType
                          modelAsString: true
                          values:
                          - name: Audit
                            value: Audit
                            description: Report on the state of the machine, but don't
                              make changes.
                          - name: ApplyAndAutoCorrect
                            value: ApplyAndAutoCorrect
                            description: Applied to the machine. If it drifts, the
                              local service inside the machine makes a correction
                              at the next evaluation.
                      smbEncryptionForIntraClusterTrafficComplianceAssignment:
                        description: SMB encryption for intra-cluster traffic Compliance
                          Assignment
                        default: Audit
                        type: string
                        enum:
                        - Audit
                        - ApplyAndAutoCorrect
                        x-ms-enum:
                          name: ComplianceAssignmentType
                          modelAsString: true
                          values:
                          - name: Audit
                            value: Audit
                            description: Report on the state of the machine, but don't
                              make changes.
                          - name: ApplyAndAutoCorrect
                            value: ApplyAndAutoCorrect
                            description: Applied to the machine. If it drifts, the
                              local service inside the machine makes a correction
                              at the next evaluation.
                      securityComplianceStatus:
                        description: Security Compliance Status
                        readOnly: true
                        type: object
                        properties:
                          securedCoreCompliance:
                            description: Indicates whether HCI hosts meets secured-core
                              server requirements.
                            readOnly: true
                            type: string
                            enum:
                            - Compliant
                            - NonCompliant
                            - Pending
                            x-ms-enum:
                              name: ComplianceStatus
                              modelAsString: true
                              values:
                              - name: Compliant
                                value: Compliant
                                description: The resource is compliant
                              - name: NonCompliant
                                value: NonCompliant
                                description: The resource is non-compliant
                              - name: Pending
                                value: Pending
                                description: The resource compliance status is pending
                          wdacCompliance:
                            description: Indicates whether HCI hosts have enforced
                              consistent Windows Defender Application Control.
                            readOnly: true
                            type: string
                            enum:
                            - Compliant
                            - NonCompliant
                            - Pending
                            x-ms-enum:
                              name: ComplianceStatus
                              modelAsString: true
                              values:
                              - name: Compliant
                                value: Compliant
                                description: The resource is compliant
                              - name: NonCompliant
                                value: NonCompliant
                                description: The resource is non-compliant
                              - name: Pending
                                value: Pending
                                description: The resource compliance status is pending
                          dataAtRestEncrypted:
                            description: Indicates whether data at-rest encryption
                              is enabled on Azure Stack HCI clustered volumes.
                            readOnly: true
                            type: string
                            enum:
                            - Compliant
                            - NonCompliant
                            - Pending
                            x-ms-enum:
                              name: ComplianceStatus
                              modelAsString: true
                              values:
                              - name: Compliant
                                value: Compliant
                                description: The resource is compliant
                              - name: NonCompliant
                                value: NonCompliant
                                description: The resource is non-compliant
                              - name: Pending
                                value: Pending
                                description: The resource compliance status is pending
                          dataInTransitProtected:
                            description: Indicates whether HCI cluster has data in-transit
                              protection.
                            readOnly: true
                            type: string
                            enum:
                            - Compliant
                            - NonCompliant
                            - Pending
                            x-ms-enum:
                              name: ComplianceStatus
                              modelAsString: true
                              values:
                              - name: Compliant
                                value: Compliant
                                description: The resource is compliant
                              - name: NonCompliant
                                value: NonCompliant
                                description: The resource is non-compliant
                              - name: Pending
                                value: Pending
                                description: The resource compliance status is pending
                          lastUpdated:
                            type: string
                            format: date-time
                            description: Time in UTC when compliance status was last
                              updated.
                            readOnly: true
                      provisioningState:
                        description: The status of the last operation.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Resource 'SecuritySetting' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client
                should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The resource-specific properties for this resource.
                    x-ms-client-flatten: true
                    x-ms-mutability:
                    - read
                    - create
                    type: object
                    properties:
                      securedCoreComplianceAssignment:
                        description: Secured Core Compliance Assignment
                        default: Audit
                        type: string
                        enum:
                        - Audit
                        - ApplyAndAutoCorrect
                        x-ms-enum:
                          name: ComplianceAssignmentType
                          modelAsString: true
                          values:
                          - name: Audit
                            value: Audit
                            description: Report on the state of the machine, but don't
                              make changes.
                          - name: ApplyAndAutoCorrect
                            value: ApplyAndAutoCorrect
                            description: Applied to the machine. If it drifts, the
                              local service inside the machine makes a correction
                              at the next evaluation.
                      wdacComplianceAssignment:
                        description: WDAC Compliance Assignment
                        default: Audit
                        type: string
                        enum:
                        - Audit
                        - ApplyAndAutoCorrect
                        x-ms-enum:
                          name: ComplianceAssignmentType
                          modelAsString: true
                          values:
                          - name: Audit
                            value: Audit
                            description: Report on the state of the machine, but don't
                              make changes.
                          - name: ApplyAndAutoCorrect
                            value: ApplyAndAutoCorrect
                            description: Applied to the machine. If it drifts, the
                              local service inside the machine makes a correction
                              at the next evaluation.
                      smbEncryptionForIntraClusterTrafficComplianceAssignment:
                        description: SMB encryption for intra-cluster traffic Compliance
                          Assignment
                        default: Audit
                        type: string
                        enum:
                        - Audit
                        - ApplyAndAutoCorrect
                        x-ms-enum:
                          name: ComplianceAssignmentType
                          modelAsString: true
                          values:
                          - name: Audit
                            value: Audit
                            description: Report on the state of the machine, but don't
                              make changes.
                          - name: ApplyAndAutoCorrect
                            value: ApplyAndAutoCorrect
                            description: Applied to the machine. If it drifts, the
                              local service inside the machine makes a correction
                              at the next evaluation.
                      securityComplianceStatus:
                        description: Security Compliance Status
                        readOnly: true
                        type: object
                        properties:
                          securedCoreCompliance:
                            description: Indicates whether HCI hosts meets secured-core
                              server requirements.
                            readOnly: true
                            type: string
                            enum:
                            - Compliant
                            - NonCompliant
                            - Pending
                            x-ms-enum:
                              name: ComplianceStatus
                              modelAsString: true
                              values:
                              - name: Compliant
                                value: Compliant
                                description: The resource is compliant
                              - name: NonCompliant
                                value: NonCompliant
                                description: The resource is non-compliant
                              - name: Pending
                                value: Pending
                                description: The resource compliance status is pending
                          wdacCompliance:
                            description: Indicates whether HCI hosts have enforced
                              consistent Windows Defender Application Control.
                            readOnly: true
                            type: string
                            enum:
                            - Compliant
                            - NonCompliant
                            - Pending
                            x-ms-enum:
                              name: ComplianceStatus
                              modelAsString: true
                              values:
                              - name: Compliant
                                value: Compliant
                                description: The resource is compliant
                              - name: NonCompliant
                                value: NonCompliant
                                description: The resource is non-compliant
                              - name: Pending
                                value: Pending
                                description: The resource compliance status is pending
                          dataAtRestEncrypted:
                            description: Indicates whether data at-rest encryption
                              is enabled on Azure Stack HCI clustered volumes.
                            readOnly: true
                            type: string
                            enum:
                            - Compliant
                            - NonCompliant
                            - Pending
                            x-ms-enum:
                              name: ComplianceStatus
                              modelAsString: true
                              values:
                              - name: Compliant
                                value: Compliant
                                description: The resource is compliant
                              - name: NonCompliant
                                value: NonCompliant
                                description: The resource is non-compliant
                              - name: Pending
                                value: Pending
                                description: The resource compliance status is pending
                          dataInTransitProtected:
                            description: Indicates whether HCI cluster has data in-transit
                              protection.
                            readOnly: true
                            type: string
                            enum:
                            - Compliant
                            - NonCompliant
                            - Pending
                            x-ms-enum:
                              name: ComplianceStatus
                              modelAsString: true
                              values:
                              - name: Compliant
                                value: Compliant
                                description: The resource is compliant
                              - name: NonCompliant
                                value: NonCompliant
                                description: The resource is non-compliant
                              - name: Pending
                                value: Pending
                                description: The resource compliance status is pending
                          lastUpdated:
                            type: string
                            format: date-time
                            description: Time in UTC when compliance status was last
                              updated.
                            readOnly: true
                      provisioningState:
                        description: The status of the last operation.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
    delete:
      operationId: SecuritySettings_Delete
      tags:
      - SecuritySettings
      description: Delete a SecuritySetting
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: securitySettingsName
        in: path
        description: Name of security setting
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
          default: default
      responses:
        '202':
          description: Resource deletion accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client
                should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            Location:
              description: The Location header contains the URL where the status of
                the long running operation can be checked.
              schema:
                type: string
        '204':
          description: Resource deleted successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
components:
  parameters:
    ClusterNameParameter:
      name: clusterName
      in: path
      required: true
      description: The name of the cluster.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ComplianceAssignmentType:
      type: string
      description: Represents the compliance assignment type of a resource.
      enum:
      - Audit
      - ApplyAndAutoCorrect
      x-ms-enum:
        name: ComplianceAssignmentType
        modelAsString: true
        values:
        - name: Audit
          value: Audit
          description: Report on the state of the machine, but don't make changes.
        - name: ApplyAndAutoCorrect
          value: ApplyAndAutoCorrect
          description: Applied to the machine. If it drifts, the local service inside
            the machine makes a correction at the next evaluation.
    ComplianceStatus:
      type: string
      description: Represents the compliance status of a resource.
      enum:
      - Compliant
      - NonCompliant
      - Pending
      x-ms-enum:
        name: ComplianceStatus
        modelAsString: true
        values:
        - name: Compliant
          value: Compliant
          description: The resource is compliant
        - name: NonCompliant
          value: NonCompliant
          description: The resource is non-compliant
        - name: Pending
          value: Pending
          description: The resource compliance status is pending
    ProvisioningState:
      type: string
      description: The provisioning state of a resource.
      readOnly: true
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: Provisioning
          value: Provisioning
          description: The resource is being provisioned
        - name: Updating
          value: Updating
          description: The resource is updating
        - name: Deleting
          value: Deleting
          description: The resource is being deleted
        - name: Accepted
          value: Accepted
          description: The resource create request has been accepted
    SecurityComplianceStatus:
      type: object
      description: Security compliance properties of the resource
      properties:
        securedCoreCompliance:
          description: Indicates whether HCI hosts meets secured-core server requirements.
          readOnly: true
          type: string
          enum:
          - Compliant
          - NonCompliant
          - Pending
          x-ms-enum:
            name: ComplianceStatus
            modelAsString: true
            values:
            - name: Compliant
              value: Compliant
              description: The resource is compliant
            - name: NonCompliant
              value: NonCompliant
              description: The resource is non-compliant
            - name: Pending
              value: Pending
              description: The resource compliance status is pending
        wdacCompliance:
          description: Indicates whether HCI hosts have enforced consistent Windows
            Defender Application Control.
          readOnly: true
          type: string
          enum:
          - Compliant
          - NonCompliant
          - Pending
          x-ms-enum:
            name: ComplianceStatus
            modelAsString: true
            values:
            - name: Compliant
              value: Compliant
              description: The resource is compliant
[...]
