openapi: 3.0.0
info:
  version: 2024-04-01
  title: AzureStackHCI
  description: Azure Stack HCI management service
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates/{updateName}/updateRuns
  : get:
      operationId: UpdateRuns_List
      description: List all Update runs for a specified update
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: updateName
        in: path
        required: true
        description: The name of the Update
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of Update runs
                type: object
                properties:
                  value:
                    description: List of Update runs
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        properties:
                          description: Describes Update Run Properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            provisioningState:
                              description: Provisioning state of the UpdateRuns proxy
                                resource.
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Accepted
                              - Provisioning
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                              readOnly: true
                            timeStarted:
                              description: Timestamp of the update run was started.
                              type: string
                              format: date-time
                            lastUpdatedTime:
                              description: Timestamp of the most recently completed
                                step in the update run.
                              type: string
                              format: date-time
                            duration:
                              description: Duration of the update run.
                              type: string
                            state:
                              description: State of the update run.
                              type: string
                              enum:
                              - Unknown
                              - Succeeded
                              - InProgress
                              - Failed
                              x-ms-enum:
                                name: updateRunPropertiesState
                                modelAsString: true
                            progress:
                              description: Progress representation of the update run
                                steps.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                name:
                                  description: Name of the step.
                                  type: string
                                description:
                                  description: More detailed description of the step.
                                  type: string
                                errorMessage:
                                  description: Error message, specified if the step
                                    is in a failed state.
                                  type: string
                                status:
                                  description: 'Status of the step, bubbled up from
                                    the ECE action plan for installation attempts.
                                    Values are: ''Success'', ''Error'', ''InProgress'',
                                    and ''Unknown status''.'
                                  type: string
                                startTimeUtc:
                                  description: When the step started, or empty if
                                    it has not started executing.
                                  type: string
                                  format: date-time
                                endTimeUtc:
                                  description: When the step reached a terminal state.
                                  type: string
                                  format: date-time
                                lastUpdatedTimeUtc:
                                  description: Completion time of this step or the
                                    last completed sub-step.
                                  type: string
                                  format: date-time
                                expectedExecutionTime:
                                  description: Expected execution time of a given
                                    step. This is optionally authored in the update
                                    action plan and can be empty.
                                  type: string
                                steps:
                                  description: Recursive model for child steps of
                                    this step.
                                  type: array
                                  items:
                                    description: Progress representation of the update
                                      run steps.
                                    type: object
                                    properties:
                                      name:
                                        description: Name of the step.
                                        type: string
                                      description:
                                        description: More detailed description of
                                          the step.
                                        type: string
                                      errorMessage:
                                        description: Error message, specified if the
                                          step is in a failed state.
                                        type: string
                                      status:
                                        description: 'Status of the step, bubbled
                                          up from the ECE action plan for installation
                                          attempts. Values are: ''Success'', ''Error'',
                                          ''InProgress'', and ''Unknown status''.'
                                        type: string
                                      startTimeUtc:
                                        description: When the step started, or empty
                                          if it has not started executing.
                                        type: string
                                        format: date-time
                                      endTimeUtc:
                                        description: When the step reached a terminal
                                          state.
                                        type: string
                                        format: date-time
                                      lastUpdatedTimeUtc:
                                        description: Completion time of this step
                                          or the last completed sub-step.
                                        type: string
                                        format: date-time
                                      expectedExecutionTime:
                                        description: Expected execution time of a
                                          given step. This is optionally authored
                                          in the update action plan and can be empty.
                                        type: string
                                      steps:
                                        description: Recursive model for child steps
                                          of this step.
                                        type: array
                                        items:
                                          description: Progress representation of
                                            the update run steps.
                                          type: object
                                          properties:
                                            name:
                                              description: Name of the step.
                                              type: string
                                            description:
                                              description: More detailed description
                                                of the step.
                                              type: string
                                            errorMessage:
                                              description: Error message, specified
                                                if the step is in a failed state.
                                              type: string
                                            status:
                                              description: 'Status of the step, bubbled
                                                up from the ECE action plan for installation
                                                attempts. Values are: ''Success'',
                                                ''Error'', ''InProgress'', and ''Unknown
                                                status''.'
                                              type: string
                                            startTimeUtc:
                                              description: When the step started,
                                                or empty if it has not started executing.
                                              type: string
                                              format: date-time
                                            endTimeUtc:
                                              description: When the step reached a
                                                terminal state.
                                              type: string
                                              format: date-time
                                            lastUpdatedTimeUtc:
                                              description: Completion time of this
                                                step or the last completed sub-step.
                                              type: string
                                              format: date-time
                                            expectedExecutionTime:
                                              description: Expected execution time
                                                of a given step. This is optionally
                                                authored in the update action plan
                                                and can be empty.
                                              type: string
                                        x-ms-identifiers:
                                        - name
                                  x-ms-identifiers:
                                  - name
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to the next set of results.
                    type: string
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates/{updateName}/updateRuns/{updateRunName}
  : delete:
      operationId: UpdateRuns_Delete
      description: Delete specified Update Run
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: updateName
        in: path
        required: true
        description: The name of the Update
        x-ms-parameter-location: method
        schema:
          type: string
      - name: updateRunName
        in: path
        required: true
        description: The name of the Update Run
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the operation.
              schema:
                type: string
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    put:
      operationId: UpdateRuns_Put
      description: Put Update runs for a specified update
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: updateName
        in: path
        required: true
        description: The name of the Update
        x-ms-parameter-location: method
        schema:
          type: string
      - name: updateRunName
        in: path
        required: true
        description: The name of the Update Run
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                properties:
                  description: Describes Update Run Properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    provisioningState:
                      description: Provisioning state of the UpdateRuns proxy resource.
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Accepted
                      - Provisioning
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                      readOnly: true
                    timeStarted:
                      description: Timestamp of the update run was started.
                      type: string
                      format: date-time
                    lastUpdatedTime:
                      description: Timestamp of the most recently completed step in
                        the update run.
                      type: string
                      format: date-time
                    duration:
                      description: Duration of the update run.
                      type: string
                    state:
                      description: State of the update run.
                      type: string
                      enum:
                      - Unknown
                      - Succeeded
                      - InProgress
                      - Failed
                      x-ms-enum:
                        name: updateRunPropertiesState
                        modelAsString: true
                    progress:
                      description: Progress representation of the update run steps.
                      x-ms-client-flatten: true
                      type: object
                      properties:
                        name:
                          description: Name of the step.
                          type: string
                        description:
                          description: More detailed description of the step.
                          type: string
                        errorMessage:
                          description: Error message, specified if the step is in
                            a failed state.
                          type: string
                        status:
                          description: 'Status of the step, bubbled up from the ECE
                            action plan for installation attempts. Values are: ''Success'',
                            ''Error'', ''InProgress'', and ''Unknown status''.'
                          type: string
                        startTimeUtc:
                          description: When the step started, or empty if it has not
                            started executing.
                          type: string
                          format: date-time
                        endTimeUtc:
                          description: When the step reached a terminal state.
                          type: string
                          format: date-time
                        lastUpdatedTimeUtc:
                          description: Completion time of this step or the last completed
                            sub-step.
                          type: string
                          format: date-time
                        expectedExecutionTime:
                          description: Expected execution time of a given step. This
                            is optionally authored in the update action plan and can
                            be empty.
                          type: string
                        steps:
                          description: Recursive model for child steps of this step.
                          type: array
                          items:
                            description: Progress representation of the update run
                              steps.
                            type: object
                            properties:
                              name:
                                description: Name of the step.
                                type: string
                              description:
                                description: More detailed description of the step.
                                type: string
                              errorMessage:
                                description: Error message, specified if the step
                                  is in a failed state.
                                type: string
                              status:
                                description: 'Status of the step, bubbled up from
                                  the ECE action plan for installation attempts. Values
                                  are: ''Success'', ''Error'', ''InProgress'', and
                                  ''Unknown status''.'
                                type: string
                              startTimeUtc:
                                description: When the step started, or empty if it
                                  has not started executing.
                                type: string
                                format: date-time
                              endTimeUtc:
                                description: When the step reached a terminal state.
                                type: string
                                format: date-time
                              lastUpdatedTimeUtc:
                                description: Completion time of this step or the last
                                  completed sub-step.
                                type: string
                                format: date-time
                              expectedExecutionTime:
                                description: Expected execution time of a given step.
                                  This is optionally authored in the update action
                                  plan and can be empty.
                                type: string
                              steps:
                                description: Recursive model for child steps of this
                                  step.
                                type: array
                                items:
                                  description: Progress representation of the update
                                    run steps.
                                  type: object
                                  properties:
                                    name:
                                      description: Name of the step.
                                      type: string
                                    description:
                                      description: More detailed description of the
                                        step.
                                      type: string
                                    errorMessage:
                                      description: Error message, specified if the
                                        step is in a failed state.
                                      type: string
                                    status:
                                      description: 'Status of the step, bubbled up
                                        from the ECE action plan for installation
                                        attempts. Values are: ''Success'', ''Error'',
                                        ''InProgress'', and ''Unknown status''.'
                                      type: string
                                    startTimeUtc:
                                      description: When the step started, or empty
                                        if it has not started executing.
                                      type: string
                                      format: date-time
                                    endTimeUtc:
                                      description: When the step reached a terminal
                                        state.
                                      type: string
                                      format: date-time
                                    lastUpdatedTimeUtc:
                                      description: Completion time of this step or
                                        the last completed sub-step.
                                      type: string
                                      format: date-time
                                    expectedExecutionTime:
                                      description: Expected execution time of a given
                                        step. This is optionally authored in the update
                                        action plan and can be empty.
                                      type: string
                                x-ms-identifiers:
                                - name
                          x-ms-identifiers:
                          - name
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Properties of the updateRuns object
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: Describes Update Run Properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the UpdateRuns proxy resource.
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Accepted
                        - Provisioning
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        readOnly: true
                      timeStarted:
                        description: Timestamp of the update run was started.
                        type: string
                        format: date-time
                      lastUpdatedTime:
                        description: Timestamp of the most recently completed step
                          in the update run.
                        type: string
                        format: date-time
                      duration:
                        description: Duration of the update run.
                        type: string
                      state:
                        description: State of the update run.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - InProgress
                        - Failed
                        x-ms-enum:
                          name: updateRunPropertiesState
                          modelAsString: true
                      progress:
                        description: Progress representation of the update run steps.
                        x-ms-client-flatten: true
                        type: object
                        properties:
                          name:
                            description: Name of the step.
                            type: string
                          description:
                            description: More detailed description of the step.
                            type: string
                          errorMessage:
                            description: Error message, specified if the step is in
                              a failed state.
                            type: string
                          status:
                            description: 'Status of the step, bubbled up from the
                              ECE action plan for installation attempts. Values are:
                              ''Success'', ''Error'', ''InProgress'', and ''Unknown
                              status''.'
                            type: string
                          startTimeUtc:
                            description: When the step started, or empty if it has
                              not started executing.
                            type: string
                            format: date-time
                          endTimeUtc:
                            description: When the step reached a terminal state.
                            type: string
                            format: date-time
                          lastUpdatedTimeUtc:
                            description: Completion time of this step or the last
                              completed sub-step.
                            type: string
                            format: date-time
                          expectedExecutionTime:
                            description: Expected execution time of a given step.
                              This is optionally authored in the update action plan
                              and can be empty.
                            type: string
                          steps:
                            description: Recursive model for child steps of this step.
                            type: array
                            items:
                              description: Progress representation of the update run
                                steps.
                              type: object
                              properties:
                                name:
                                  description: Name of the step.
                                  type: string
                                description:
                                  description: More detailed description of the step.
                                  type: string
                                errorMessage:
                                  description: Error message, specified if the step
                                    is in a failed state.
                                  type: string
                                status:
                                  description: 'Status of the step, bubbled up from
                                    the ECE action plan for installation attempts.
                                    Values are: ''Success'', ''Error'', ''InProgress'',
                                    and ''Unknown status''.'
                                  type: string
                                startTimeUtc:
                                  description: When the step started, or empty if
                                    it has not started executing.
                                  type: string
                                  format: date-time
                                endTimeUtc:
                                  description: When the step reached a terminal state.
                                  type: string
                                  format: date-time
                                lastUpdatedTimeUtc:
                                  description: Completion time of this step or the
                                    last completed sub-step.
                                  type: string
                                  format: date-time
                                expectedExecutionTime:
                                  description: Expected execution time of a given
                                    step. This is optionally authored in the update
                                    action plan and can be empty.
                                  type: string
                                steps:
                                  description: Recursive model for child steps of
                                    this step.
                                  type: array
                                  items:
                                    description: Progress representation of the update
                                      run steps.
                                    type: object
                                    properties:
                                      name:
                                        description: Name of the step.
                                        type: string
                                      description:
                                        description: More detailed description of
                                          the step.
                                        type: string
                                      errorMessage:
                                        description: Error message, specified if the
                                          step is in a failed state.
                                        type: string
                                      status:
                                        description: 'Status of the step, bubbled
                                          up from the ECE action plan for installation
                                          attempts. Values are: ''Success'', ''Error'',
                                          ''InProgress'', and ''Unknown status''.'
                                        type: string
                                      startTimeUtc:
                                        description: When the step started, or empty
                                          if it has not started executing.
                                        type: string
                                        format: date-time
                                      endTimeUtc:
                                        description: When the step reached a terminal
                                          state.
                                        type: string
                                        format: date-time
                                      lastUpdatedTimeUtc:
                                        description: Completion time of this step
                                          or the last completed sub-step.
                                        type: string
                                        format: date-time
                                      expectedExecutionTime:
                                        description: Expected execution time of a
                                          given step. This is optionally authored
                                          in the update action plan and can be empty.
                                        type: string
                                  x-ms-identifiers:
                                  - name
                            x-ms-identifiers:
                            - name
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    get:
      operationId: UpdateRuns_Get
      description: Get the Update run for a specified update
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: updateName
        in: path
        required: true
        description: The name of the Update
        x-ms-parameter-location: method
        schema:
          type: string
      - name: updateRunName
        in: path
        required: true
        description: The name of the Update Run
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: Describes Update Run Properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the UpdateRuns proxy resource.
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Accepted
                        - Provisioning
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        readOnly: true
                      timeStarted:
                        description: Timestamp of the update run was started.
                        type: string
                        format: date-time
                      lastUpdatedTime:
                        description: Timestamp of the most recently completed step
                          in the update run.
                        type: string
                        format: date-time
                      duration:
                        description: Duration of the update run.
                        type: string
                      state:
                        description: State of the update run.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - InProgress
                        - Failed
                        x-ms-enum:
                          name: updateRunPropertiesState
                          modelAsString: true
                      progress:
                        description: Progress representation of the update run steps.
                        x-ms-client-flatten: true
                        type: object
                        properties:
                          name:
                            description: Name of the step.
                            type: string
                          description:
                            description: More detailed description of the step.
                            type: string
                          errorMessage:
                            description: Error message, specified if the step is in
                              a failed state.
                            type: string
                          status:
                            description: 'Status of the step, bubbled up from the
                              ECE action plan for installation attempts. Values are:
                              ''Success'', ''Error'', ''InProgress'', and ''Unknown
                              status''.'
                            type: string
                          startTimeUtc:
                            description: When the step started, or empty if it has
                              not started executing.
                            type: string
                            format: date-time
                          endTimeUtc:
                            description: When the step reached a terminal state.
                            type: string
                            format: date-time
                          lastUpdatedTimeUtc:
                            description: Completion time of this step or the last
                              completed sub-step.
                            type: string
                            format: date-time
                          expectedExecutionTime:
                            description: Expected execution time of a given step.
                              This is optionally authored in the update action plan
                              and can be empty.
                            type: string
                          steps:
                            description: Recursive model for child steps of this step.
                            type: array
                            items:
                              description: Progress representation of the update run
                                steps.
                              type: object
                              properties:
                                name:
                                  description: Name of the step.
                                  type: string
                                description:
                                  description: More detailed description of the step.
                                  type: string
                                errorMessage:
                                  description: Error message, specified if the step
                                    is in a failed state.
                                  type: string
                                status:
                                  description: 'Status of the step, bubbled up from
                                    the ECE action plan for installation attempts.
                                    Values are: ''Success'', ''Error'', ''InProgress'',
                                    and ''Unknown status''.'
                                  type: string
                                startTimeUtc:
                                  description: When the step started, or empty if
                                    it has not started executing.
                                  type: string
                                  format: date-time
                                endTimeUtc:
                                  description: When the step reached a terminal state.
                                  type: string
                                  format: date-time
                                lastUpdatedTimeUtc:
                                  description: Completion time of this step or the
                                    last completed sub-step.
                                  type: string
                                  format: date-time
                                expectedExecutionTime:
                                  description: Expected execution time of a given
                                    step. This is optionally authored in the update
                                    action plan and can be empty.
                                  type: string
                                steps:
                                  description: Recursive model for child steps of
                                    this step.
                                  type: array
                                  items:
                                    description: Progress representation of the update
                                      run steps.
                                    type: object
                                    properties:
                                      name:
                                        description: Name of the step.
                                        type: string
                                      description:
                                        description: More detailed description of
                                          the step.
                                        type: string
                                      errorMessage:
                                        description: Error message, specified if the
                                          step is in a failed state.
                                        type: string
                                      status:
                                        description: 'Status of the step, bubbled
                                          up from the ECE action plan for installation
                                          attempts. Values are: ''Success'', ''Error'',
                                          ''InProgress'', and ''Unknown status''.'
                                        type: string
                                      startTimeUtc:
                                        description: When the step started, or empty
                                          if it has not started executing.
                                        type: string
                                        format: date-time
                                      endTimeUtc:
                                        description: When the step reached a terminal
                                          state.
                                        type: string
                                        format: date-time
                                      lastUpdatedTimeUtc:
                                        description: Completion time of this step
                                          or the last completed sub-step.
                                        type: string
                                        format: date-time
                                      expectedExecutionTime:
                                        description: Expected execution time of a
                                          given step. This is optionally authored
                                          in the update action plan and can be empty.
                                        type: string
                                  x-ms-identifiers:
                                  - name
                            x-ms-identifiers:
                            - name
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
components:
  parameters:
    ClusterNameParameter:
      name: clusterName
      in: path
      required: true
      description: The name of the cluster.
      x-ms-parameter-location: method
      schema:
        type: string
    UpdateNameParameter:
      name: updateName
      in: path
      required: true
      description: The name of the Update
      x-ms-parameter-location: method
      schema:
        type: string
    UpdateRunNameParameter:
      name: updateRunName
      in: path
      required: true
      description: The name of the Update Run
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription.
      required: true
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    UpdateRunList:
      description: List of Update runs
      type: object
      properties:
        value:
          description: List of Update runs
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                readOnly: true
              name:
                type: string
                description: The name of the resource
                readOnly: true
              type:
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
                readOnly: true
              systemData:
                type: object
                description: Azure Resource Manager metadata containing createdBy
                  and modifiedBy information.
                readOnly: true
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              location:
                type: string
                x-ms-mutability:
                - read
                - create
                description: The geo-location where the resource lives
              properties:
                description: Describes Update Run Properties.
                x-ms-client-flatten: true
                type: object
                properties:
                  provisioningState:
                    description: Provisioning state of the UpdateRuns proxy resource.
                    type: string
                    enum:
                    - Succeeded
                    - Failed
                    - Canceled
                    - Accepted
                    - Provisioning
                    x-ms-enum:
                      name: ProvisioningState
                      modelAsString: true
                    readOnly: true
                  timeStarted:
                    description: Timestamp of the update run was started.
                    type: string
                    format: date-time
                  lastUpdatedTime:
                    description: Timestamp of the most recently completed step in
                      the update run.
                    type: string
                    format: date-time
                  duration:
                    description: Duration of the update run.
                    type: string
                  state:
                    description: State of the update run.
                    type: string
                    enum:
                    - Unknown
                    - Succeeded
                    - InProgress
                    - Failed
                    x-ms-enum:
                      name: updateRunPropertiesState
                      modelAsString: true
                  progress:
                    description: Progress representation of the update run steps.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      name:
                        description: Name of the step.
                        type: string
                      description:
                        description: More detailed description of the step.
                        type: string
                      errorMessage:
                        description: Error message, specified if the step is in a
                          failed state.
                        type: string
                      status:
                        description: 'Status of the step, bubbled up from the ECE
                          action plan for installation attempts. Values are: ''Success'',
                          ''Error'', ''InProgress'', and ''Unknown status''.'
                        type: string
                      startTimeUtc:
                        description: When the step started, or empty if it has not
                          started executing.
                        type: string
                        format: date-time
                      endTimeUtc:
                        description: When the step reached a terminal state.
                        type: string
                        format: date-time
                      lastUpdatedTimeUtc:
                        description: Completion time of this step or the last completed
                          sub-step.
                        type: string
                        format: date-time
                      expectedExecutionTime:
                        description: Expected execution time of a given step. This
                          is optionally authored in the update action plan and can
                          be empty.
                        type: string
                      steps:
                        description: Recursive model for child steps of this step.
                        type: array
                        items:
                          description: Progress representation of the update run steps.
                          type: object
                          properties:
                            name:
                              description: Name of the step.
                              type: string
                            description:
                              description: More detailed description of the step.
                              type: string
                            errorMessage:
                              description: Error message, specified if the step is
                                in a failed state.
                              type: string
                            status:
                              description: 'Status of the step, bubbled up from the
                                ECE action plan for installation attempts. Values
                                are: ''Success'', ''Error'', ''InProgress'', and ''Unknown
                                status''.'
                              type: string
                            startTimeUtc:
                              description: When the step started, or empty if it has
                                not started executing.
                              type: string
                              format: date-time
                            endTimeUtc:
                              description: When the step reached a terminal state.
                              type: string
                              format: date-time
                            lastUpdatedTimeUtc:
                              description: Completion time of this step or the last
                                completed sub-step.
                              type: string
                              format: date-time
                            expectedExecutionTime:
                              description: Expected execution time of a given step.
                                This is optionally authored in the update action plan
                                and can be empty.
                              type: string
                            steps:
                              description: Recursive model for child steps of this
                                step.
                              type: array
                              items:
                                description: Progress representation of the update
                                  run steps.
                                type: object
                                properties:
                                  name:
                                    description: Name of the step.
                                    type: string
                                  description:
                                    description: More detailed description of the
                                      step.
                                    type: string
                                  errorMessage:
                                    description: Error message, specified if the step
                                      is in a failed state.
                                    type: string
                                  status:
                                    description: 'Status of the step, bubbled up from
                                      the ECE action plan for installation attempts.
                                      Values are: ''Success'', ''Error'', ''InProgress'',
                                      and ''Unknown status''.'
                                    type: string
                                  startTimeUtc:
                                    description: When the step started, or empty if
                                      it has not started executing.
                                    type: string
                                    format: date-time
                                  endTimeUtc:
                                    description: When the step reached a terminal
                                      state.
                                    type: string
                                    format: date-time
                                  lastUpdatedTimeUtc:
                                    description: Completion time of this step or the
                                      last completed sub-step.
                                    type: string
                                    format: date-time
                                  expectedExecutionTime:
                                    description: Expected execution time of a given
                                      step. This is optionally authored in the update
                                      action plan and can be empty.
                                    type: string
                              x-ms-identifiers:
                              - name
                        x-ms-identifiers:
                        - name
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
        nextLink:
          description: Link to the next set of results.
          type: string
          readOnly: true
    UpdateRun:
      type: object
      properties:
        id:
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          type: object
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The geo-location where the resource lives
        properties:
          description: Describes Update Run Properties.
          x-ms-client-flatten: true
          type: object
          properties:
            provisioningState:
              description: Provisioning state of the UpdateRuns proxy resource.
              type: string
              enum:
              - Succeeded
              - Failed
              - Canceled
              - Accepted
              - Provisioning
              x-ms-enum:
                name: ProvisioningState
                modelAsString: true
              readOnly: true
            timeStarted:
              description: Timestamp of the update run was started.
              type: string
              format: date-time
            lastUpdatedTime:
              description: Timestamp of the most recently completed step in the update
                run.
              type: string
              format: date-time
            duration:
              description: Duration of the update run.
              type: string
            state:
              description: State of the update run.
              type: string
              enum:
              - Unknown
              - Succeeded
              - InProgress
              - Failed
              x-ms-enum:
                name: updateRunPropertiesState
                modelAsString: true
            progress:
              description: Progress representation of the update run steps.
              x-ms-client-flatten: true
              type: object
              properties:
                name:
                  description: Name of the step.
                  type: string
                description:
                  description: More detailed description of the step.
                  type: string
                errorMessage:
                  description: Error message, specified if the step is in a failed
                    state.
                  type: string
                status:
                  description: 'Status of the step, bubbled up from the ECE action
                    plan for installation attempts. Values are: ''Success'', ''Error'',
                    ''InProgress'', and ''Unknown status''.'
                  type: string
                startTimeUtc:
                  description: When the step started, or empty if it has not started
                    executing.
                  type: string
                  format: date-time
                endTimeUtc:
                  description: When the step reached a terminal state.
                  type: string
                  format: date-time
                lastUpdatedTimeUtc:
                  description: Completion time of this step or the last completed
                    sub-step.
                  type: string
                  format: date-time
                expectedExecutionTime:
                  description: Expected execution time of a given step. This is optionally
                    authored in the update action plan and can be empty.
                  type: string
                steps:
                  description: Recursive model for child steps of this step.
                  type: array
                  items:
                    description: Progress representation of the update run steps.
                    type: object
                    properties:
                      name:
                        description: Name of the step.
                        type: string
                      description:
                        description: More detailed description of the step.
                        type: string
                      errorMessage:
                        description: Error message, specified if the step is in a
                          failed state.
                        type: string
                      status:
                        description: 'Status of the step, bubbled up from the ECE
                          action plan for installation attempts. Values are: ''Success'',
                          ''Error'', ''InProgress'', and ''Unknown status''.'
                        type: string
                      startTimeUtc:
                        description: When the step started, or empty if it has not
                          started executing.
                        type: string
                        format: date-time
                      endTimeUtc:
                        description: When the step reached a terminal state.
                        type: string
                        format: date-time
                      lastUpdatedTimeUtc:
                        description: Completion time of this step or the last completed
                          sub-step.
                        type: string
                        format: date-time
                      expectedExecutionTime:
                        description: Expected execution time of a given step. This
                          is optionally authored in the update action plan and can
                          be empty.
                        type: string
                      steps:
                        description: Recursive model for child steps of this step.
                        type: array
                        items:
[...]
