openapi: 3.0.0
info:
  version: 2024-04-01
  title: AzureStackHCI
  description: Azure Stack HCI management service
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates/{updateName}/apply
  : post:
      operationId: Updates_Post
      description: Apply Update
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: updateName
        in: path
        required: true
        description: The name of the Update
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the operation.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates
  : get:
      operationId: Updates_List
      description: List all Updates
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of Updates
                type: object
                properties:
                  value:
                    description: List of Updates
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        properties:
                          description: Update properties
                          type: object
                          x-ms-client-flatten: true
                          properties:
                            provisioningState:
                              description: Provisioning state of the Updates proxy
                                resource.
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Accepted
                              - Provisioning
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                              readOnly: true
                            installedDate:
                              description: Date that the update was installed.
                              type: string
                              format: date-time
                            description:
                              description: Description of the update.
                              type: string
                            minSbeVersionRequired:
                              description: Minimum Sbe Version of the update.
                              type: string
                            state:
                              description: State of the update as it relates to this
                                stamp.
                              type: string
                              enum:
                              - HasPrerequisite
                              - Obsolete
                              - Ready
                              - NotApplicableBecauseAnotherUpdateIsInProgress
                              - Preparing
                              - Installing
                              - Installed
                              - PreparationFailed
                              - InstallationFailed
                              - Invalid
                              - Recalled
                              - Downloading
                              - DownloadFailed
                              - HealthChecking
                              - HealthCheckFailed
                              - ReadyToInstall
                              - ScanInProgress
                              - ScanFailed
                              - AdditionalContentRequired
                              x-ms-enum:
                                name: state
                                modelAsString: true
                            prerequisites:
                              description: If update State is HasPrerequisite, this
                                property contains an array of objects describing prerequisite
                                updates before installing this update. Otherwise,
                                it is empty.
                              type: array
                              items:
                                description: If update State is HasPrerequisite, this
                                  property contains an array of objects describing
                                  prerequisite updates before installing this update.
                                  Otherwise, it is empty.
                                type: object
                                properties:
                                  updateType:
                                    description: Updatable component type.
                                    type: string
                                  version:
                                    description: Version of the prerequisite.
                                    type: string
                                  packageName:
                                    description: Friendly name of the prerequisite.
                                    type: string
                              x-ms-identifiers:
                              - packageName
                            componentVersions:
                              description: 'An array of component versions for a Solution
                                Bundle update, and an empty array otherwise.  '
                              type: array
                              items:
                                description: Current version of each updatable component.
                                type: object
                                properties:
                                  packageType:
                                    description: Package type
                                    type: string
                                  version:
                                    description: Package version
                                    type: string
                                  lastUpdated:
                                    description: Last time this component was updated.
                                    type: string
                                    format: date-time
                              x-ms-client-flatten: true
                              x-ms-identifiers:
                              - version
                            rebootRequired:
                              type: object
                              x-ms-client-flatten: true
                              enum:
                              - Unknown
                              - 'True'
                              - 'False'
                              x-ms-enum:
                                name: RebootRequirement
                                modelAsString: true
                            healthState:
                              description: Overall health state for update-specific
                                health checks.
                              type: object
                              x-ms-client-flatten: true
                              enum:
                              - Unknown
                              - Success
                              - Failure
                              - Warning
                              - Error
                              - InProgress
                              x-ms-enum:
                                name: HealthState
                                modelAsString: true
                            healthCheckResult:
                              description: An array of PrecheckResult objects.
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    description: Name of the individual test/rule/alert
                                      that was executed. Unique, not exposed to the
                                      customer.
                                    type: string
                                  displayName:
                                    description: The health check DisplayName localized
                                      of the individual test executed.
                                    type: string
                                  tags:
                                    description: Key-value pairs that allow grouping/filtering
                                      individual tests.
                                    type: object
                                    properties:
                                      key:
                                        description: Key that allow grouping/filtering
                                          individual tests.
                                        type: string
                                      value:
                                        description: Value of the key that allow grouping/filtering
                                          individual tests.
                                        type: string
                                  healthCheckTags:
                                    description: Key-value pairs that allow grouping/filtering
                                      individual tests.
                                    type: object
                                  title:
                                    description: User-facing name; one or more sentences
                                      indicating the direct issue.
                                    type: string
                                  status:
                                    description: The status of the check running (i.e.
                                      Failed, Succeeded, In Progress). This answers
                                      whether the check ran, and passed or failed.
                                    type: string
                                    enum:
                                    - Succeeded
                                    - Failed
                                    - InProgress
                                    x-ms-enum:
                                      name: status
                                      modelAsString: true
                                  severity:
                                    description: Severity of the result (Critical,
                                      Warning, Informational, Hidden). This answers
                                      how important the result is. Critical is the
                                      only update-blocking severity.
                                    type: string
                                    enum:
                                    - Critical
                                    - Warning
                                    - Informational
                                    - Hidden
                                    x-ms-enum:
                                      name: severity
                                      modelAsString: true
                                  description:
                                    description: Detailed overview of the issue and
                                      what impact the issue has on the stamp.
                                    type: string
                                  remediation:
                                    description: Set of steps that can be taken to
                                      resolve the issue found.
                                    type: string
                                  targetResourceID:
                                    description: The unique identifier for the affected
                                      resource (such as a node or drive).
                                    type: string
                                  targetResourceName:
                                    description: The name of the affected resource.
                                    type: string
                                  targetResourceType:
                                    description: The type of resource being referred
                                      to (well-known set of nouns in infrastructure,
                                      aligning with Monitoring).
                                    type: string
                                  timestamp:
                                    description: The time in which the HealthCheck
                                      was called.
                                    type: string
                                    format: date-time
                                  additionalData:
                                    description: Property bag of key value pairs for
                                      additional information.
                                    type: string
                                  healthCheckSource:
                                    description: The name of the services called for
                                      the HealthCheck (I.E. Test-AzureStack, Test-Cluster).
                                    type: string
                              x-ms-client-flatten: true
                            healthCheckDate:
                              description: Last time the package-specific checks were
                                run.
                              type: string
                              format: date-time
                            packagePath:
                              description: Path where the update package is available.
                              type: string
                            packageSizeInMb:
                              description: Size of the package. This value is a combination
                                of the size from update metadata and size of the payload
                                that results from the live scan operation for OS update
                                content.
                              type: number
                            displayName:
                              description: Display name of the Update
                              type: string
                            version:
                              description: Version of the update.
                              type: string
                            publisher:
                              description: Publisher of the update package.
                              type: string
                            releaseLink:
                              description: Link to release notes for the update.
                              type: string
                            availabilityType:
                              description: Indicates the way the update content can
                                be downloaded.
                              type: string
                              enum:
                              - Local
                              - Online
                              - Notify
                              x-ms-enum:
                                name: availabilityType
                                modelAsString: true
                            packageType:
                              description: Customer-visible type of the update.
                              type: string
                            additionalProperties:
                              description: Extensible KV pairs serialized as a string.
                                This is currently used to report the stamp OEM family
                                and hardware model information when an update is flagged
                                as Invalid for the stamp based on OEM type.
                              type: string
                            updateStateProperties:
                              description: Additional information regarding the state
                                of the update. See definition of UpdateStateProperties
                                type below for more details on this property.
                              type: object
                              x-ms-client-flatten: true
                              properties:
                                progressPercentage:
                                  description: Progress percentage of ongoing operation.
                                    Currently this property is only valid when the
                                    update is in the Downloading state, where it maps
                                    to how much of the update content has been downloaded.
                                  type: number
                                notifyMessage:
                                  description: Brief message with instructions for
                                    updates of AvailabilityType Notify.
                                  type: string
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to the next set of results.
                    type: string
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates/{updateName}
  : delete:
      operationId: Updates_Delete
      description: Delete specified Update
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: updateName
        in: path
        required: true
        description: The name of the Update
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the operation.
              schema:
                type: string
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    put:
      operationId: Updates_Put
      description: Put specified Update
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: updateName
        in: path
        required: true
        description: The name of the Update
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                properties:
                  description: Update properties
                  type: object
                  x-ms-client-flatten: true
                  properties:
                    provisioningState:
                      description: Provisioning state of the Updates proxy resource.
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Accepted
                      - Provisioning
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                      readOnly: true
                    installedDate:
                      description: Date that the update was installed.
                      type: string
                      format: date-time
                    description:
                      description: Description of the update.
                      type: string
                    minSbeVersionRequired:
                      description: Minimum Sbe Version of the update.
                      type: string
                    state:
                      description: State of the update as it relates to this stamp.
                      type: string
                      enum:
                      - HasPrerequisite
                      - Obsolete
                      - Ready
                      - NotApplicableBecauseAnotherUpdateIsInProgress
                      - Preparing
                      - Installing
                      - Installed
                      - PreparationFailed
                      - InstallationFailed
                      - Invalid
                      - Recalled
                      - Downloading
                      - DownloadFailed
                      - HealthChecking
                      - HealthCheckFailed
                      - ReadyToInstall
                      - ScanInProgress
                      - ScanFailed
                      - AdditionalContentRequired
                      x-ms-enum:
                        name: state
                        modelAsString: true
                    prerequisites:
                      description: If update State is HasPrerequisite, this property
                        contains an array of objects describing prerequisite updates
                        before installing this update. Otherwise, it is empty.
                      type: array
                      items:
                        description: If update State is HasPrerequisite, this property
                          contains an array of objects describing prerequisite updates
                          before installing this update. Otherwise, it is empty.
                        type: object
                        properties:
                          updateType:
                            description: Updatable component type.
                            type: string
                          version:
                            description: Version of the prerequisite.
                            type: string
                          packageName:
                            description: Friendly name of the prerequisite.
                            type: string
                      x-ms-identifiers:
                      - packageName
                    componentVersions:
                      description: 'An array of component versions for a Solution
                        Bundle update, and an empty array otherwise.  '
                      type: array
                      items:
                        description: Current version of each updatable component.
                        type: object
                        properties:
                          packageType:
                            description: Package type
                            type: string
                          version:
                            description: Package version
                            type: string
                          lastUpdated:
                            description: Last time this component was updated.
                            type: string
                            format: date-time
                      x-ms-client-flatten: true
                      x-ms-identifiers:
                      - version
                    rebootRequired:
                      type: object
                      x-ms-client-flatten: true
                      enum:
                      - Unknown
                      - 'True'
                      - 'False'
                      x-ms-enum:
                        name: RebootRequirement
                        modelAsString: true
                    healthState:
                      description: Overall health state for update-specific health
                        checks.
                      type: object
                      x-ms-client-flatten: true
                      enum:
                      - Unknown
                      - Success
                      - Failure
                      - Warning
                      - Error
                      - InProgress
                      x-ms-enum:
                        name: HealthState
                        modelAsString: true
                    healthCheckResult:
                      description: An array of PrecheckResult objects.
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            description: Name of the individual test/rule/alert that
                              was executed. Unique, not exposed to the customer.
                            type: string
                          displayName:
                            description: The health check DisplayName localized of
                              the individual test executed.
                            type: string
                          tags:
                            description: Key-value pairs that allow grouping/filtering
                              individual tests.
                            type: object
                            properties:
                              key:
                                description: Key that allow grouping/filtering individual
                                  tests.
                                type: string
                              value:
                                description: Value of the key that allow grouping/filtering
                                  individual tests.
                                type: string
                          healthCheckTags:
                            description: Key-value pairs that allow grouping/filtering
                              individual tests.
                            type: object
                          title:
                            description: User-facing name; one or more sentences indicating
                              the direct issue.
                            type: string
                          status:
                            description: The status of the check running (i.e. Failed,
                              Succeeded, In Progress). This answers whether the check
                              ran, and passed or failed.
                            type: string
                            enum:
                            - Succeeded
                            - Failed
                            - InProgress
                            x-ms-enum:
                              name: status
                              modelAsString: true
                          severity:
                            description: Severity of the result (Critical, Warning,
                              Informational, Hidden). This answers how important the
                              result is. Critical is the only update-blocking severity.
                            type: string
                            enum:
                            - Critical
                            - Warning
                            - Informational
                            - Hidden
                            x-ms-enum:
                              name: severity
                              modelAsString: true
                          description:
                            description: Detailed overview of the issue and what impact
                              the issue has on the stamp.
                            type: string
                          remediation:
                            description: Set of steps that can be taken to resolve
                              the issue found.
                            type: string
                          targetResourceID:
                            description: The unique identifier for the affected resource
                              (such as a node or drive).
                            type: string
                          targetResourceName:
                            description: The name of the affected resource.
                            type: string
                          targetResourceType:
                            description: The type of resource being referred to (well-known
                              set of nouns in infrastructure, aligning with Monitoring).
                            type: string
                          timestamp:
                            description: The time in which the HealthCheck was called.
                            type: string
                            format: date-time
                          additionalData:
                            description: Property bag of key value pairs for additional
                              information.
                            type: string
                          healthCheckSource:
                            description: The name of the services called for the HealthCheck
                              (I.E. Test-AzureStack, Test-Cluster).
                            type: string
                      x-ms-client-flatten: true
                    healthCheckDate:
                      description: Last time the package-specific checks were run.
                      type: string
                      format: date-time
                    packagePath:
                      description: Path where the update package is available.
                      type: string
                    packageSizeInMb:
                      description: Size of the package. This value is a combination
                        of the size from update metadata and size of the payload that
                        results from the live scan operation for OS update content.
                      type: number
                    displayName:
                      description: Display name of the Update
                      type: string
                    version:
                      description: Version of the update.
                      type: string
                    publisher:
                      description: Publisher of the update package.
                      type: string
                    releaseLink:
                      description: Link to release notes for the update.
                      type: string
                    availabilityType:
                      description: Indicates the way the update content can be downloaded.
                      type: string
                      enum:
                      - Local
                      - Online
                      - Notify
                      x-ms-enum:
                        name: availabilityType
                        modelAsString: true
                    packageType:
                      description: Customer-visible type of the update.
                      type: string
                    additionalProperties:
                      description: Extensible KV pairs serialized as a string. This
                        is currently used to report the stamp OEM family and hardware
                        model information when an update is flagged as Invalid for
                        the stamp based on OEM type.
                      type: string
                    updateStateProperties:
                      description: Additional information regarding the state of the
                        update. See definition of UpdateStateProperties type below
                        for more details on this property.
                      type: object
                      x-ms-client-flatten: true
                      properties:
                        progressPercentage:
                          description: Progress percentage of ongoing operation. Currently
                            this property is only valid when the update is in the
                            Downloading state, where it maps to how much of the update
                            content has been downloaded.
                          type: number
                        notifyMessage:
                          description: Brief message with instructions for updates
                            of AvailabilityType Notify.
                          type: string
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Properties of the Updates object
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: Update properties
                    type: object
                    x-ms-client-flatten: true
                    properties:
                      provisioningState:
                        description: Provisioning state of the Updates proxy resource.
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Accepted
                        - Provisioning
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        readOnly: true
                      installedDate:
                        description: Date that the update was installed.
                        type: string
                        format: date-time
                      description:
                        description: Description of the update.
                        type: string
                      minSbeVersionRequired:
                        description: Minimum Sbe Version of the update.
                        type: string
                      state:
                        description: State of the update as it relates to this stamp.
                        type: string
                        enum:
                        - HasPrerequisite
                        - Obsolete
                        - Ready
                        - NotApplicableBecauseAnotherUpdateIsInProgress
                        - Preparing
                        - Installing
                        - Installed
                        - PreparationFailed
                        - InstallationFailed
                        - Invalid
                        - Recalled
                        - Downloading
                        - DownloadFailed
                        - HealthChecking
                        - HealthCheckFailed
                        - ReadyToInstall
                        - ScanInProgress
                        - ScanFailed
                        - AdditionalContentRequired
                        x-ms-enum:
                          name: state
                          modelAsString: true
                      prerequisites:
                        description: If update State is HasPrerequisite, this property
                          contains an array of objects describing prerequisite updates
                          before installing this update. Otherwise, it is empty.
                        type: array
                        items:
                          description: If update State is HasPrerequisite, this property
                            contains an array of objects describing prerequisite updates
                            before installing this update. Otherwise, it is empty.
                          type: object
                          properties:
                            updateType:
                              description: Updatable component type.
                              type: string
                            version:
                              description: Version of the prerequisite.
                              type: string
                            packageName:
                              description: Friendly name of the prerequisite.
                              type: string
                        x-ms-identifiers:
                        - packageName
                      componentVersions:
                        description: 'An array of component versions for a Solution
                          Bundle update, and an empty array otherwise.  '
                        type: array
                        items:
                          description: Current version of each updatable component.
                          type: object
                          properties:
                            packageType:
                              description: Package type
                              type: string
                            version:
                              description: Package version
                              type: string
                            lastUpdated:
                              description: Last time this component was updated.
                              type: string
                              format: date-time
                        x-ms-client-flatten: true
                        x-ms-identifiers:
                        - version
                      rebootRequired:
                        type: object
                        x-ms-client-flatten: true
                        enum:
                        - Unknown
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          name: RebootRequirement
                          modelAsString: true
                      healthState:
                        description: Overall health state for update-specific health
                          checks.
                        type: object
                        x-ms-client-flatten: true
                        enum:
                        - Unknown
                        - Success
                        - Failure
                        - Warning
                        - Error
                        - InProgress
                        x-ms-enum:
                          name: HealthState
                          modelAsString: true
                      healthCheckResult:
                        description: An array of PrecheckResult objects.
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              description: Name of the individual test/rule/alert
                                that was executed. Unique, not exposed to the customer.
                              type: string
                            displayName:
                              description: The health check DisplayName localized
                                of the individual test executed.
                              type: string
                            tags:
                              description: Key-value pairs that allow grouping/filtering
                                individual tests.
                              type: object
                              properties:
                                key:
                                  description: Key that allow grouping/filtering individual
                                    tests.
                                  type: string
                                value:
                                  description: Value of the key that allow grouping/filtering
                                    individual tests.
                                  type: string
                            healthCheckTags:
                              description: Key-value pairs that allow grouping/filtering
                                individual tests.
                              type: object
                            title:
                              description: User-facing name; one or more sentences
                                indicating the direct issue.
                              type: string
                            status:
                              description: The status of the check running (i.e. Failed,
                                Succeeded, In Progress). This answers whether the
                                check ran, and passed or failed.
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - InProgress
                              x-ms-enum:
                                name: status
                                modelAsString: true
                            severity:
                              description: Severity of the result (Critical, Warning,
                                Informational, Hidden). This answers how important
                                the result is. Critical is the only update-blocking
                                severity.
                              type: string
                              enum:
                              - Critical
                              - Warning
                              - Informational
                              - Hidden
                              x-ms-enum:
                                name: severity
                                modelAsString: true
                            description:
                              description: Detailed overview of the issue and what
                                impact the issue has on the stamp.
                              type: string
                            remediation:
                              description: Set of steps that can be taken to resolve
                                the issue found.
                              type: string
                            targetResourceID:
                              description: The unique identifier for the affected
                                resource (such as a node or drive).
                              type: string
                            targetResourceName:
                              description: The name of the affected resource.
                              type: string
                            targetResourceType:
                              description: The type of resource being referred to
                                (well-known set of nouns in infrastructure, aligning
                                with Monitoring).
                              type: string
                            timestamp:
                              description: The time in which the HealthCheck was called.
                              type: string
                              format: date-time
                            additionalData:
                              description: Property bag of key value pairs for additional
                                information.
                              type: string
                            healthCheckSource:
                              description: The name of the services called for the
                                HealthCheck (I.E. Test-AzureStack, Test-Cluster).
                              type: string
                        x-ms-client-flatten: true
                      healthCheckDate:
                        description: Last time the package-specific checks were run.
                        type: string
                        format: date-time
                      packagePath:
                        description: Path where the update package is available.
                        type: string
                      packageSizeInMb:
                        description: Size of the package. This value is a combination
                          of the size from update metadata and size of the payload
                          that results from the live scan operation for OS update
                          content.
                        type: number
                      displayName:
                        description: Display name of the Update
                        type: string
                      version:
                        description: Version of the update.
                        type: string
                      publisher:
                        description: Publisher of the update package.
                        type: string
                      releaseLink:
                        description: Link to release notes for the update.
                        type: string
                      availabilityType:
                        description: Indicates the way the update content can be downloaded.
                        type: string
                        enum:
                        - Local
                        - Online
                        - Notify
                        x-ms-enum:
                          name: availabilityType
                          modelAsString: true
                      packageType:
                        description: Customer-visible type of the update.
                        type: string
                      additionalProperties:
                        description: Extensible KV pairs serialized as a string. This
                          is currently used to report the stamp OEM family and hardware
                          model information when an update is flagged as Invalid for
                          the stamp based on OEM type.
                        type: string
                      updateStateProperties:
                        description: Additional information regarding the state of
                          the update. See definition of UpdateStateProperties type
                          below for more details on this property.
                        type: object
                        x-ms-client-flatten: true
                        properties:
                          progressPercentage:
                            description: Progress percentage of ongoing operation.
                              Currently this property is only valid when the update
                              is in the Downloading state, where it maps to how much
                              of the update content has been downloaded.
                            type: number
                          notifyMessage:
                            description: Brief message with instructions for updates
                              of AvailabilityType Notify.
                            type: string
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    get:
      operationId: Updates_Get
      description: Get specified Update
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: updateName
        in: path
        required: true
        description: The name of the Update
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: Update properties
                    type: object
                    x-ms-client-flatten: true
                    properties:
                      provisioningState:
                        description: Provisioning state of the Updates proxy resource.
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Accepted
                        - Provisioning
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        readOnly: true
                      installedDate:
                        description: Date that the update was installed.
                        type: string
                        format: date-time
                      description:
                        description: Description of the update.
                        type: string
                      minSbeVersionRequired:
                        description: Minimum Sbe Version of the update.
                        type: string
                      state:
                        description: State of the update as it relates to this stamp.
                        type: string
                        enum:
                        - HasPrerequisite
                        - Obsolete
                        - Ready
                        - NotApplicableBecauseAnotherUpdateIsInProgress
                        - Preparing
                        - Installing
                        - Installed
                        - PreparationFailed
                        - InstallationFailed
                        - Invalid
                        - Recalled
                        - Downloading
                        - DownloadFailed
                        - HealthChecking
                        - HealthCheckFailed
                        - ReadyToInstall
                        - ScanInProgress
                        - ScanFailed
                        - AdditionalContentRequired
                        x-ms-enum:
                          name: state
                          modelAsString: true
                      prerequisites:
                        description: If update State is HasPrerequisite, this property
                          contains an array of objects describing prerequisite updates
                          before installing this update. Otherwise, it is empty.
                        type: array
                        items:
                          description: If update State is HasPrerequisite, this property
                            contains an array of objects describing prerequisite updates
                            before installing this update. Otherwise, it is empty.
                          type: object
                          properties:
                            updateType:
                              description: Updatable component type.
                              type: string
                            version:
                              description: Version of the prerequisite.
                              type: string
                            packageName:
                              description: Friendly name of the prerequisite.
                              type: string
                        x-ms-identifiers:
                        - packageName
                      componentVersions:
                        description: 'An array of component versions for a Solution
                          Bundle update, and an empty array otherwise.  '
                        type: array
                        items:
                          description: Current version of each updatable component.
                          type: object
                          properties:
                            packageType:
                              description: Package type
                              type: string
                            version:
                              description: Package version
                              type: string
                            lastUpdated:
                              description: Last time this component was updated.
                              type: string
                              format: date-time
                        x-ms-client-flatten: true
                        x-ms-identifiers:
                        - version
                      rebootRequired:
                        type: object
                        x-ms-client-flatten: true
                        enum:
                        - Unknown
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          name: RebootRequirement
                          modelAsString: true
                      healthState:
                        description: Overall health state for update-specific health
                          checks.
                        type: object
                        x-ms-client-flatten: true
                        enum:
                        - Unknown
                        - Success
                        - Failure
                        - Warning
                        - Error
                        - InProgress
                        x-ms-enum:
                          name: HealthState
                          modelAsString: true
                      healthCheckResult:
                        description: An array of PrecheckResult objects.
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              description: Name of the individual test/rule/alert
                                that was executed. Unique, not exposed to the customer.
                              type: string
                            displayName:
                              description: The health check DisplayName localized
                                of the individual test executed.
                              type: string
                            tags:
                              description: Key-value pairs that allow grouping/filtering
                                individual tests.
                              type: object
                              properties:
                                key:
                                  description: Key that allow grouping/filtering individual
                                    tests.
                                  type: string
                                value:
                                  description: Value of the key that allow grouping/filtering
                                    individual tests.
                                  type: string
                            healthCheckTags:
                              description: Key-value pairs that allow grouping/filtering
                                individual tests.
                              type: object
                            title:
                              description: User-facing name; one or more sentences
                                indicating the direct issue.
                              type: string
                            status:
                              description: The status of the check running (i.e. Failed,
                                Succeeded, In Progress). This answers whether the
                                check ran, and passed or failed.
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - InProgress
                              x-ms-enum:
                                name: status
                                modelAsString: true
                            severity:
                              description: Severity of the result (Critical, Warning,
                                Informational, Hidden). This answers how important
                                the result is. Critical is the only update-blocking
                                severity.
                              type: string
                              enum:
                              - Critical
                              - Warning
                              - Informational
                              - Hidden
                              x-ms-enum:
                                name: severity
                                modelAsString: true
                            description:
                              description: Detailed overview of the issue and what
                                impact the issue has on the stamp.
                              type: string
                            remediation:
                              description: Set of steps that can be taken to resolve
                                the issue found.
                              type: string
                            targetResourceID:
                              description: The unique identifier for the affected
                                resource (such as a node or drive).
                              type: string
                            targetResourceName:
                              description: The name of the affected resource.
                              type: string
                            targetResourceType:
                              description: The type of resource being referred to
                                (well-known set of nouns in infrastructure, aligning
                                with Monitoring).
                              type: string
                            timestamp:
                              description: The time in which the HealthCheck was called.
                              type: string
                              format: date-time
                            additionalData:
                              description: Property bag of key value pairs for additional
                                information.
                              type: string
                            healthCheckSource:
                              description: The name of the services called for the
                                HealthCheck (I.E. Test-AzureStack, Test-Cluster).
                              type: string
                        x-ms-client-flatten: true
                      healthCheckDate:
                        description: Last time the package-specific checks were run.
                        type: string
                        format: date-time
                      packagePath:
                        description: Path where the update package is available.
                        type: string
                      packageSizeInMb:
                        description: Size of the package. This value is a combination
                          of the size from update metadata and size of the payload
                          that results from the live scan operation for OS update
                          content.
                        type: number
                      displayName:
                        description: Display name of the Update
                        type: string
                      version:
                        description: Version of the update.
                        type: string
                      publisher:
                        description: Publisher of the update package.
                        type: string
                      releaseLink:
                        description: Link to release notes for the update.
                        type: string
                      availabilityType:
                        description: Indicates the way the update content can be downloaded.
                        type: string
                        enum:
                        - Local
                        - Online
                        - Notify
                        x-ms-enum:
                          name: availabilityType
                          modelAsString: true
                      packageType:
                        description: Customer-visible type of the update.
                        type: string
                      additionalProperties:
                        description: Extensible KV pairs serialized as a string. This
                          is currently used to report the stamp OEM family and hardware
                          model information when an update is flagged as Invalid for
                          the stamp based on OEM type.
                        type: string
                      updateStateProperties:
                        description: Additional information regarding the state of
                          the update. See definition of UpdateStateProperties type
                          below for more details on this property.
                        type: object
                        x-ms-client-flatten: true
                        properties:
                          progressPercentage:
                            description: Progress percentage of ongoing operation.
                              Currently this property is only valid when the update
                              is in the Downloading state, where it maps to how much
                              of the update content has been downloaded.
                            type: number
                          notifyMessage:
                            description: Brief message with instructions for updates
                              of AvailabilityType Notify.
                            type: string
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
[...]
