openapi: 3.0.0
info:
  title: ApiManagementClient
  description: Use these REST APIs to manage Azure API Management gateway deployments.
  version: 2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/gateways/{gatewayName}
  : put:
      tags:
      - ApiGateway
      operationId: ApiGateway_CreateOrUpdate
      description: Creates or updates an API Management gateway. This is long running
        operation and could take several minutes to complete.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: gatewayName
        in: path
        required: true
        description: The name of the API Management gateway.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 45
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource ID.
                name:
                  type: string
                  description: Resource name.
                  readOnly: true
                type:
                  readOnly: true
                  type: string
                  description: Resource type for API Management resource is set to
                    Microsoft.ApiManagement.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
                properties:
                  type: object
                  properties:
                    provisioningState:
                      type: string
                      description: 'The current provisioning state of the API Management
                        gateway which can be one of the following: Created/Activating/Succeeded/Updating/Failed/Stopped/Terminating/TerminationFailed/Deleted.'
                      readOnly: true
                    targetProvisioningState:
                      type: string
                      description: The provisioning state of the API Management gateway,
                        which is targeted by the long running operation started on
                        the gateway.
                      readOnly: true
                    createdAtUtc:
                      type: string
                      format: date-time
                      description: 'Creation UTC date of the API Management gateway.The
                        date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
                        as specified by the ISO 8601 standard.'
                      readOnly: true
                    frontend:
                      description: Information regarding how the gateway should be
                        exposed.
                      type: object
                      properties:
                        defaultHostname:
                          readOnly: true
                          type: string
                          description: The default hostname of the data-plane gateway
                            to which requests can be sent. This is only applicable
                            for API gateway with Standard SKU.
                    backend:
                      description: Information regarding how the gateway should integrate
                        with backend systems.
                      type: object
                      properties:
                        subnet:
                          description: The default hostname of the data-plane gateway
                            to which requests can be sent.
                          type: object
                          properties:
                            id:
                              type: string
                              description: The ARM ID of the subnet in which the backend
                                systems are hosted.
                    configurationApi:
                      description: Information regarding the Configuration API of
                        the API Management gateway. This is only applicable for API
                        gateway with Standard SKU.
                      type: object
                      properties:
                        hostname:
                          readOnly: true
                          type: string
                          description: Hostname to which the agent connects to propagate
                            configuration to the cloud.
                    virtualNetworkType:
                      type: string
                      description: 'The type of VPN in which API Management gateway
                        needs to be configured in. '
                      enum:
                      - None
                      - External
                      - Internal
                      x-ms-enum:
                        name: VirtualNetworkType
                        modelAsString: true
                        values:
                        - value: None
                          description: The API Management gateway is not part of any
                            Virtual Network.
                        - value: External
                          description: The API Management gateway is part of Virtual
                            Network and it is accessible from Internet.
                        - value: Internal
                          description: The API Management gateway is part of Virtual
                            Network and it is only accessible from within the virtual
                            network.
                  description: Base Properties of an API Management gateway resource
                    description.
                  x-ms-client-flatten: true
                sku:
                  description: SKU properties of the API Management gateway.
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of the Sku.
                      externalDocs:
                        url: https://azure.microsoft.com/en-us/pricing/details/api-management/
                      enum:
                      - Standard
                      - WorkspaceGatewayStandard
                      - WorkspaceGatewayPremium
                      x-ms-enum:
                        name: ApiGatewaySkuType
                        modelAsString: true
                        values:
                        - value: Standard
                          description: Standard SKU of the API gateway.
                        - value: WorkspaceGatewayStandard
                          description: Standard SKU of the API gateway to be used
                            in Workspaces.
                        - value: WorkspaceGatewayPremium
                          description: Premium SKU of the API gateway to be used in
                            Workspaces.
                    capacity:
                      type: integer
                      format: int32
                      description: Capacity of the SKU (number of deployed units of
                        the SKU)
                  required:
                  - name
                systemData:
                  description: Metadata pertaining to creation and last modification
                    of the resource.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                location:
                  type: string
                  description: Resource location.
                  x-ms-mutability:
                  - read
                  - create
                etag:
                  type: string
                  description: ETag of the resource.
                  readOnly: true
              description: The Resource definition.
              x-ms-azure-resource: true
              required:
              - location
              - sku
              - properties
        description: Parameters supplied to the CreateOrUpdate API Management gateway
          operation.
        required: true
      responses:
        '200':
          description: The gateway was successfully set up.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    type: string
                    description: Resource name.
                    readOnly: true
                  type:
                    readOnly: true
                    type: string
                    description: Resource type for API Management resource is set
                      to Microsoft.ApiManagement.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    type: object
                    properties:
                      provisioningState:
                        type: string
                        description: 'The current provisioning state of the API Management
                          gateway which can be one of the following: Created/Activating/Succeeded/Updating/Failed/Stopped/Terminating/TerminationFailed/Deleted.'
                        readOnly: true
                      targetProvisioningState:
                        type: string
                        description: The provisioning state of the API Management
                          gateway, which is targeted by the long running operation
                          started on the gateway.
                        readOnly: true
                      createdAtUtc:
                        type: string
                        format: date-time
                        description: 'Creation UTC date of the API Management gateway.The
                          date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
                          as specified by the ISO 8601 standard.'
                        readOnly: true
                      frontend:
                        description: Information regarding how the gateway should
                          be exposed.
                        type: object
                        properties:
                          defaultHostname:
                            readOnly: true
                            type: string
                            description: The default hostname of the data-plane gateway
                              to which requests can be sent. This is only applicable
                              for API gateway with Standard SKU.
                      backend:
                        description: Information regarding how the gateway should
                          integrate with backend systems.
                        type: object
                        properties:
                          subnet:
                            description: The default hostname of the data-plane gateway
                              to which requests can be sent.
                            type: object
                            properties:
                              id:
                                type: string
                                description: The ARM ID of the subnet in which the
                                  backend systems are hosted.
                      configurationApi:
                        description: Information regarding the Configuration API of
                          the API Management gateway. This is only applicable for
                          API gateway with Standard SKU.
                        type: object
                        properties:
                          hostname:
                            readOnly: true
                            type: string
                            description: Hostname to which the agent connects to propagate
                              configuration to the cloud.
                      virtualNetworkType:
                        type: string
                        description: 'The type of VPN in which API Management gateway
                          needs to be configured in. '
                        enum:
                        - None
                        - External
                        - Internal
                        x-ms-enum:
                          name: VirtualNetworkType
                          modelAsString: true
                          values:
                          - value: None
                            description: The API Management gateway is not part of
                              any Virtual Network.
                          - value: External
                            description: The API Management gateway is part of Virtual
                              Network and it is accessible from Internet.
                          - value: Internal
                            description: The API Management gateway is part of Virtual
                              Network and it is only accessible from within the virtual
                              network.
                    description: Base Properties of an API Management gateway resource
                      description.
                    x-ms-client-flatten: true
                  sku:
                    description: SKU properties of the API Management gateway.
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the Sku.
                        externalDocs:
                          url: https://azure.microsoft.com/en-us/pricing/details/api-management/
                        enum:
                        - Standard
                        - WorkspaceGatewayStandard
                        - WorkspaceGatewayPremium
                        x-ms-enum:
                          name: ApiGatewaySkuType
                          modelAsString: true
                          values:
                          - value: Standard
                            description: Standard SKU of the API gateway.
                          - value: WorkspaceGatewayStandard
                            description: Standard SKU of the API gateway to be used
                              in Workspaces.
                          - value: WorkspaceGatewayPremium
                            description: Premium SKU of the API gateway to be used
                              in Workspaces.
                      capacity:
                        type: integer
                        format: int32
                        description: Capacity of the SKU (number of deployed units
                          of the SKU)
                    required:
                    - name
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  location:
                    type: string
                    description: Resource location.
                    x-ms-mutability:
                    - read
                    - create
                  etag:
                    type: string
                    description: ETag of the resource.
                    readOnly: true
                description: The Resource definition.
                x-ms-azure-resource: true
                required:
                - location
                - sku
                - properties
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    type: string
                    description: Resource name.
                    readOnly: true
                  type:
                    readOnly: true
                    type: string
                    description: Resource type for API Management resource is set
                      to Microsoft.ApiManagement.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    type: object
                    properties:
                      provisioningState:
                        type: string
                        description: 'The current provisioning state of the API Management
                          gateway which can be one of the following: Created/Activating/Succeeded/Updating/Failed/Stopped/Terminating/TerminationFailed/Deleted.'
                        readOnly: true
                      targetProvisioningState:
                        type: string
                        description: The provisioning state of the API Management
                          gateway, which is targeted by the long running operation
                          started on the gateway.
                        readOnly: true
                      createdAtUtc:
                        type: string
                        format: date-time
                        description: 'Creation UTC date of the API Management gateway.The
                          date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
                          as specified by the ISO 8601 standard.'
                        readOnly: true
                      frontend:
                        description: Information regarding how the gateway should
                          be exposed.
                        type: object
                        properties:
                          defaultHostname:
                            readOnly: true
                            type: string
                            description: The default hostname of the data-plane gateway
                              to which requests can be sent. This is only applicable
                              for API gateway with Standard SKU.
                      backend:
                        description: Information regarding how the gateway should
                          integrate with backend systems.
                        type: object
                        properties:
                          subnet:
                            description: The default hostname of the data-plane gateway
                              to which requests can be sent.
                            type: object
                            properties:
                              id:
                                type: string
                                description: The ARM ID of the subnet in which the
                                  backend systems are hosted.
                      configurationApi:
                        description: Information regarding the Configuration API of
                          the API Management gateway. This is only applicable for
                          API gateway with Standard SKU.
                        type: object
                        properties:
                          hostname:
                            readOnly: true
                            type: string
                            description: Hostname to which the agent connects to propagate
                              configuration to the cloud.
                      virtualNetworkType:
                        type: string
                        description: 'The type of VPN in which API Management gateway
                          needs to be configured in. '
                        enum:
                        - None
                        - External
                        - Internal
                        x-ms-enum:
                          name: VirtualNetworkType
                          modelAsString: true
                          values:
                          - value: None
                            description: The API Management gateway is not part of
                              any Virtual Network.
                          - value: External
                            description: The API Management gateway is part of Virtual
                              Network and it is accessible from Internet.
                          - value: Internal
                            description: The API Management gateway is part of Virtual
                              Network and it is only accessible from within the virtual
                              network.
                    description: Base Properties of an API Management gateway resource
                      description.
                    x-ms-client-flatten: true
                  sku:
                    description: SKU properties of the API Management gateway.
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the Sku.
                        externalDocs:
                          url: https://azure.microsoft.com/en-us/pricing/details/api-management/
                        enum:
                        - Standard
                        - WorkspaceGatewayStandard
                        - WorkspaceGatewayPremium
                        x-ms-enum:
                          name: ApiGatewaySkuType
                          modelAsString: true
                          values:
                          - value: Standard
                            description: Standard SKU of the API gateway.
                          - value: WorkspaceGatewayStandard
                            description: Standard SKU of the API gateway to be used
                              in Workspaces.
                          - value: WorkspaceGatewayPremium
                            description: Premium SKU of the API gateway to be used
                              in Workspaces.
                      capacity:
                        type: integer
                        format: int32
                        description: Capacity of the SKU (number of deployed units
                          of the SKU)
                    required:
                    - name
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  location:
                    type: string
                    description: Resource location.
                    x-ms-mutability:
                    - read
                    - create
                  etag:
                    type: string
                    description: ETag of the resource.
                    readOnly: true
                description: The Resource definition.
                x-ms-azure-resource: true
                required:
                - location
                - sku
                - properties
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    patch:
      tags:
      - ApiGateway
      operationId: ApiGateway_Update
      description: Updates an existing API Management gateway.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: gatewayName
        in: path
        required: true
        description: The name of the API Management gateway.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 45
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource ID.
                name:
                  type: string
                  description: Resource name.
                  readOnly: true
                type:
                  readOnly: true
                  type: string
                  description: Resource type for API Management resource is set to
                    Microsoft.ApiManagement.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
                properties:
                  type: object
                  properties:
                    provisioningState:
                      type: string
                      description: 'The current provisioning state of the API Management
                        gateway which can be one of the following: Created/Activating/Succeeded/Updating/Failed/Stopped/Terminating/TerminationFailed/Deleted.'
                      readOnly: true
                    targetProvisioningState:
                      type: string
                      description: The provisioning state of the API Management gateway,
                        which is targeted by the long running operation started on
                        the gateway.
                      readOnly: true
                    createdAtUtc:
                      type: string
                      format: date-time
                      description: 'Creation UTC date of the API Management gateway.The
                        date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
                        as specified by the ISO 8601 standard.'
                      readOnly: true
                    frontend:
                      description: Information regarding how the gateway should be
                        exposed.
                      type: object
                      properties:
                        defaultHostname:
                          readOnly: true
                          type: string
                          description: The default hostname of the data-plane gateway
                            to which requests can be sent. This is only applicable
                            for API gateway with Standard SKU.
                    backend:
                      description: Information regarding how the gateway should integrate
                        with backend systems.
                      type: object
                      properties:
                        subnet:
                          description: The default hostname of the data-plane gateway
                            to which requests can be sent.
                          type: object
                          properties:
                            id:
                              type: string
                              description: The ARM ID of the subnet in which the backend
                                systems are hosted.
                    configurationApi:
                      description: Information regarding the Configuration API of
                        the API Management gateway. This is only applicable for API
                        gateway with Standard SKU.
                      type: object
                      properties:
                        hostname:
                          readOnly: true
                          type: string
                          description: Hostname to which the agent connects to propagate
                            configuration to the cloud.
                    virtualNetworkType:
                      type: string
                      description: 'The type of VPN in which API Management gateway
                        needs to be configured in. '
                      enum:
                      - None
                      - External
                      - Internal
                      x-ms-enum:
                        name: VirtualNetworkType
                        modelAsString: true
                        values:
                        - value: None
                          description: The API Management gateway is not part of any
                            Virtual Network.
                        - value: External
                          description: The API Management gateway is part of Virtual
                            Network and it is accessible from Internet.
                        - value: Internal
                          description: The API Management gateway is part of Virtual
                            Network and it is only accessible from within the virtual
                            network.
                  description: Base Properties of an API Management gateway resource
                    description.
                  x-ms-client-flatten: true
                sku:
                  description: SKU properties of the API Management gateway.
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of the Sku.
                      externalDocs:
                        url: https://azure.microsoft.com/en-us/pricing/details/api-management/
                      enum:
                      - Standard
                      - WorkspaceGatewayStandard
                      - WorkspaceGatewayPremium
                      x-ms-enum:
                        name: ApiGatewaySkuType
                        modelAsString: true
                        values:
                        - value: Standard
                          description: Standard SKU of the API gateway.
                        - value: WorkspaceGatewayStandard
                          description: Standard SKU of the API gateway to be used
                            in Workspaces.
                        - value: WorkspaceGatewayPremium
                          description: Premium SKU of the API gateway to be used in
                            Workspaces.
                    capacity:
                      type: integer
                      format: int32
                      description: Capacity of the SKU (number of deployed units of
                        the SKU)
                etag:
                  type: string
                  description: ETag of the resource.
                  readOnly: true
              description: The Resource definition.
              x-ms-azure-resource: true
        description: Parameters supplied to the CreateOrUpdate API Management gateway
          operation.
        required: true
      responses:
        '200':
          description: The gateway was successfully updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    type: string
                    description: Resource name.
                    readOnly: true
                  type:
                    readOnly: true
                    type: string
                    description: Resource type for API Management resource is set
                      to Microsoft.ApiManagement.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    type: object
                    properties:
                      provisioningState:
                        type: string
                        description: 'The current provisioning state of the API Management
                          gateway which can be one of the following: Created/Activating/Succeeded/Updating/Failed/Stopped/Terminating/TerminationFailed/Deleted.'
                        readOnly: true
                      targetProvisioningState:
                        type: string
                        description: The provisioning state of the API Management
                          gateway, which is targeted by the long running operation
                          started on the gateway.
                        readOnly: true
                      createdAtUtc:
                        type: string
                        format: date-time
                        description: 'Creation UTC date of the API Management gateway.The
                          date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
                          as specified by the ISO 8601 standard.'
                        readOnly: true
                      frontend:
                        description: Information regarding how the gateway should
                          be exposed.
                        type: object
                        properties:
                          defaultHostname:
                            readOnly: true
                            type: string
                            description: The default hostname of the data-plane gateway
                              to which requests can be sent. This is only applicable
                              for API gateway with Standard SKU.
                      backend:
                        description: Information regarding how the gateway should
                          integrate with backend systems.
                        type: object
                        properties:
                          subnet:
                            description: The default hostname of the data-plane gateway
                              to which requests can be sent.
                            type: object
                            properties:
                              id:
                                type: string
                                description: The ARM ID of the subnet in which the
                                  backend systems are hosted.
                      configurationApi:
                        description: Information regarding the Configuration API of
                          the API Management gateway. This is only applicable for
                          API gateway with Standard SKU.
                        type: object
                        properties:
                          hostname:
                            readOnly: true
                            type: string
                            description: Hostname to which the agent connects to propagate
                              configuration to the cloud.
                      virtualNetworkType:
                        type: string
                        description: 'The type of VPN in which API Management gateway
                          needs to be configured in. '
                        enum:
                        - None
                        - External
                        - Internal
                        x-ms-enum:
                          name: VirtualNetworkType
                          modelAsString: true
                          values:
                          - value: None
                            description: The API Management gateway is not part of
                              any Virtual Network.
                          - value: External
                            description: The API Management gateway is part of Virtual
                              Network and it is accessible from Internet.
                          - value: Internal
                            description: The API Management gateway is part of Virtual
                              Network and it is only accessible from within the virtual
                              network.
                    description: Base Properties of an API Management gateway resource
                      description.
                    x-ms-client-flatten: true
                  sku:
                    description: SKU properties of the API Management gateway.
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the Sku.
                        externalDocs:
                          url: https://azure.microsoft.com/en-us/pricing/details/api-management/
                        enum:
                        - Standard
                        - WorkspaceGatewayStandard
                        - WorkspaceGatewayPremium
                        x-ms-enum:
                          name: ApiGatewaySkuType
                          modelAsString: true
                          values:
                          - value: Standard
                            description: Standard SKU of the API gateway.
                          - value: WorkspaceGatewayStandard
                            description: Standard SKU of the API gateway to be used
                              in Workspaces.
                          - value: WorkspaceGatewayPremium
                            description: Premium SKU of the API gateway to be used
                              in Workspaces.
                      capacity:
                        type: integer
                        format: int32
                        description: Capacity of the SKU (number of deployed units
                          of the SKU)
                    required:
                    - name
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  location:
                    type: string
                    description: Resource location.
                    x-ms-mutability:
                    - read
                    - create
                  etag:
                    type: string
                    description: ETag of the resource.
                    readOnly: true
                description: The Resource definition.
                x-ms-azure-resource: true
                required:
                - location
                - sku
                - properties
        '202':
          description: The gateway update request was Accepted.
          headers:
            location:
              description: Location header
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    get:
      tags:
      - ApiGateway
      operationId: ApiGateway_Get
      description: Gets an API Management gateway resource description.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: gatewayName
        in: path
        required: true
        description: The name of the API Management gateway.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 45
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successfully got the API Management gateway Resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    type: string
                    description: Resource name.
                    readOnly: true
                  type:
                    readOnly: true
                    type: string
                    description: Resource type for API Management resource is set
                      to Microsoft.ApiManagement.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    type: object
                    properties:
                      provisioningState:
                        type: string
                        description: 'The current provisioning state of the API Management
                          gateway which can be one of the following: Created/Activating/Succeeded/Updating/Failed/Stopped/Terminating/TerminationFailed/Deleted.'
                        readOnly: true
                      targetProvisioningState:
                        type: string
                        description: The provisioning state of the API Management
                          gateway, which is targeted by the long running operation
                          started on the gateway.
                        readOnly: true
                      createdAtUtc:
                        type: string
                        format: date-time
                        description: 'Creation UTC date of the API Management gateway.The
                          date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
                          as specified by the ISO 8601 standard.'
                        readOnly: true
                      frontend:
                        description: Information regarding how the gateway should
                          be exposed.
                        type: object
                        properties:
                          defaultHostname:
                            readOnly: true
                            type: string
                            description: The default hostname of the data-plane gateway
                              to which requests can be sent. This is only applicable
                              for API gateway with Standard SKU.
                      backend:
                        description: Information regarding how the gateway should
                          integrate with backend systems.
                        type: object
                        properties:
                          subnet:
                            description: The default hostname of the data-plane gateway
                              to which requests can be sent.
                            type: object
                            properties:
                              id:
                                type: string
                                description: The ARM ID of the subnet in which the
                                  backend systems are hosted.
                      configurationApi:
                        description: Information regarding the Configuration API of
                          the API Management gateway. This is only applicable for
                          API gateway with Standard SKU.
                        type: object
                        properties:
                          hostname:
                            readOnly: true
                            type: string
                            description: Hostname to which the agent connects to propagate
                              configuration to the cloud.
                      virtualNetworkType:
                        type: string
                        description: 'The type of VPN in which API Management gateway
                          needs to be configured in. '
                        enum:
                        - None
                        - External
                        - Internal
                        x-ms-enum:
                          name: VirtualNetworkType
                          modelAsString: true
                          values:
                          - value: None
                            description: The API Management gateway is not part of
                              any Virtual Network.
                          - value: External
                            description: The API Management gateway is part of Virtual
                              Network and it is accessible from Internet.
                          - value: Internal
                            description: The API Management gateway is part of Virtual
                              Network and it is only accessible from within the virtual
                              network.
                    description: Base Properties of an API Management gateway resource
                      description.
                    x-ms-client-flatten: true
                  sku:
                    description: SKU properties of the API Management gateway.
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the Sku.
                        externalDocs:
                          url: https://azure.microsoft.com/en-us/pricing/details/api-management/
                        enum:
                        - Standard
                        - WorkspaceGatewayStandard
                        - WorkspaceGatewayPremium
                        x-ms-enum:
                          name: ApiGatewaySkuType
                          modelAsString: true
                          values:
                          - value: Standard
                            description: Standard SKU of the API gateway.
                          - value: WorkspaceGatewayStandard
                            description: Standard SKU of the API gateway to be used
                              in Workspaces.
                          - value: WorkspaceGatewayPremium
                            description: Premium SKU of the API gateway to be used
                              in Workspaces.
                      capacity:
                        type: integer
                        format: int32
                        description: Capacity of the SKU (number of deployed units
                          of the SKU)
                    required:
                    - name
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  location:
                    type: string
                    description: Resource location.
                    x-ms-mutability:
                    - read
                    - create
                  etag:
                    type: string
                    description: ETag of the resource.
                    readOnly: true
                description: The Resource definition.
                x-ms-azure-resource: true
                required:
                - location
                - sku
                - properties
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - ApiGateway
      operationId: ApiGateway_Delete
      description: Deletes an existing API Management gateway.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: gatewayName
        in: path
        required: true
        description: The name of the API Management gateway.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 45
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '202':
          description: The gateway delete request was accepted.
          headers:
            location:
              description: Location header
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    type: string
                    description: Resource name.
                    readOnly: true
                  type:
                    readOnly: true
                    type: string
                    description: Resource type for API Management resource is set
                      to Microsoft.ApiManagement.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    type: object
                    properties:
                      provisioningState:
                        type: string
                        description: 'The current provisioning state of the API Management
                          gateway which can be one of the following: Created/Activating/Succeeded/Updating/Failed/Stopped/Terminating/TerminationFailed/Deleted.'
                        readOnly: true
                      targetProvisioningState:
                        type: string
                        description: The provisioning state of the API Management
                          gateway, which is targeted by the long running operation
                          started on the gateway.
                        readOnly: true
                      createdAtUtc:
                        type: string
                        format: date-time
                        description: 'Creation UTC date of the API Management gateway.The
                          date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
                          as specified by the ISO 8601 standard.'
                        readOnly: true
                      frontend:
                        description: Information regarding how the gateway should
                          be exposed.
                        type: object
                        properties:
                          defaultHostname:
                            readOnly: true
                            type: string
                            description: The default hostname of the data-plane gateway
                              to which requests can be sent. This is only applicable
                              for API gateway with Standard SKU.
                      backend:
                        description: Information regarding how the gateway should
                          integrate with backend systems.
                        type: object
                        properties:
                          subnet:
                            description: The default hostname of the data-plane gateway
                              to which requests can be sent.
                            type: object
                            properties:
                              id:
                                type: string
                                description: The ARM ID of the subnet in which the
                                  backend systems are hosted.
                      configurationApi:
                        description: Information regarding the Configuration API of
                          the API Management gateway. This is only applicable for
                          API gateway with Standard SKU.
                        type: object
                        properties:
                          hostname:
                            readOnly: true
                            type: string
                            description: Hostname to which the agent connects to propagate
                              configuration to the cloud.
                      virtualNetworkType:
                        type: string
                        description: 'The type of VPN in which API Management gateway
                          needs to be configured in. '
                        enum:
                        - None
                        - External
                        - Internal
                        x-ms-enum:
                          name: VirtualNetworkType
                          modelAsString: true
                          values:
                          - value: None
                            description: The API Management gateway is not part of
                              any Virtual Network.
                          - value: External
                            description: The API Management gateway is part of Virtual
                              Network and it is accessible from Internet.
                          - value: Internal
                            description: The API Management gateway is part of Virtual
                              Network and it is only accessible from within the virtual
                              network.
                    description: Base Properties of an API Management gateway resource
                      description.
                    x-ms-client-flatten: true
                  sku:
                    description: SKU properties of the API Management gateway.
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the Sku.
                        externalDocs:
                          url: https://azure.microsoft.com/en-us/pricing/details/api-management/
                        enum:
                        - Standard
                        - WorkspaceGatewayStandard
                        - WorkspaceGatewayPremium
                        x-ms-enum:
                          name: ApiGatewaySkuType
                          modelAsString: true
                          values:
                          - value: Standard
                            description: Standard SKU of the API gateway.
                          - value: WorkspaceGatewayStandard
                            description: Standard SKU of the API gateway to be used
                              in Workspaces.
                          - value: WorkspaceGatewayPremium
                            description: Premium SKU of the API gateway to be used
                              in Workspaces.
                      capacity:
                        type: integer
                        format: int32
                        description: Capacity of the SKU (number of deployed units
                          of the SKU)
                    required:
                    - name
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  location:
                    type: string
                    description: Resource location.
                    x-ms-mutability:
                    - read
                    - create
                  etag:
                    type: string
                    description: ETag of the resource.
                    readOnly: true
                description: The Resource definition.
                x-ms-azure-resource: true
                required:
                - location
                - sku
                - properties
        '204':
          description: The gateway does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/gateways:
    get:
      tags:
      - ApiGateway
      operationId: ApiGateway_ListByResourceGroup
      description: List all API Management gateways within a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The API Management gateways list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource ID.
                        name:
                          type: string
                          description: Resource name.
                          readOnly: true
                        type:
                          readOnly: true
                          type: string
                          description: Resource type for API Management resource is
                            set to Microsoft.ApiManagement.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        properties:
                          type: object
                          properties:
                            provisioningState:
                              type: string
                              description: 'The current provisioning state of the
                                API Management gateway which can be one of the following:
                                Created/Activating/Succeeded/Updating/Failed/Stopped/Terminating/TerminationFailed/Deleted.'
                              readOnly: true
                            targetProvisioningState:
                              type: string
                              description: The provisioning state of the API Management
                                gateway, which is targeted by the long running operation
                                started on the gateway.
                              readOnly: true
                            createdAtUtc:
                              type: string
                              format: date-time
                              description: 'Creation UTC date of the API Management
                                gateway.The date conforms to the following format:
                                `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601
                                standard.'
                              readOnly: true
                            frontend:
                              description: Information regarding how the gateway should
                                be exposed.
                              type: object
                              properties:
                                defaultHostname:
                                  readOnly: true
                                  type: string
                                  description: The default hostname of the data-plane
                                    gateway to which requests can be sent. This is
                                    only applicable for API gateway with Standard
                                    SKU.
                            backend:
                              description: Information regarding how the gateway should
                                integrate with backend systems.
                              type: object
                              properties:
                                subnet:
                                  description: The default hostname of the data-plane
                                    gateway to which requests can be sent.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: The ARM ID of the subnet in which
                                        the backend systems are hosted.
                            configurationApi:
                              description: Information regarding the Configuration
                                API of the API Management gateway. This is only applicable
                                for API gateway with Standard SKU.
                              type: object
                              properties:
                                hostname:
                                  readOnly: true
                                  type: string
                                  description: Hostname to which the agent connects
                                    to propagate configuration to the cloud.
                            virtualNetworkType:
                              type: string
                              description: 'The type of VPN in which API Management
                                gateway needs to be configured in. '
                              enum:
                              - None
                              - External
                              - Internal
                              x-ms-enum:
                                name: VirtualNetworkType
                                modelAsString: true
                                values:
                                - value: None
                                  description: The API Management gateway is not part
                                    of any Virtual Network.
                                - value: External
                                  description: The API Management gateway is part
                                    of Virtual Network and it is accessible from Internet.
                                - value: Internal
                                  description: The API Management gateway is part
                                    of Virtual Network and it is only accessible from
                                    within the virtual network.
                          description: Base Properties of an API Management gateway
                            resource description.
                          x-ms-client-flatten: true
                        sku:
                          description: SKU properties of the API Management gateway.
                          type: object
                          properties:
                            name:
                              type: string
                              description: Name of the Sku.
                              externalDocs:
                                url: https://azure.microsoft.com/en-us/pricing/details/api-management/
                              enum:
                              - Standard
                              - WorkspaceGatewayStandard
                              - WorkspaceGatewayPremium
                              x-ms-enum:
                                name: ApiGatewaySkuType
                                modelAsString: true
                                values:
                                - value: Standard
                                  description: Standard SKU of the API gateway.
                                - value: WorkspaceGatewayStandard
                                  description: Standard SKU of the API gateway to
                                    be used in Workspaces.
                                - value: WorkspaceGatewayPremium
                                  description: Premium SKU of the API gateway to be
                                    used in Workspaces.
                            capacity:
                              type: integer
                              format: int32
                              description: Capacity of the SKU (number of deployed
                                units of the SKU)
                          required:
                          - name
                        systemData:
                          description: Metadata pertaining to creation and last modification
                            of the resource.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        location:
                          type: string
                          description: Resource location.
                          x-ms-mutability:
                          - read
                          - create
                        etag:
                          type: string
                          description: ETag of the resource.
                          readOnly: true
                      description: The Resource definition.
                      x-ms-azure-resource: true
                      required:
                      - location
                      - sku
                      - properties
                    description: Result of the List API Management gateway operation.
                  nextLink:
                    type: string
                    description: Link to the next set of results. Not empty if Value
                      contains incomplete list of API Management services.
                required:
                - value
[...]
