openapi: 3.0.0
info:
  title: ApiManagementClient
  description: "Use these REST APIs for performing operations on Product entity associated\
    \ with your Azure API Management deployment. The Product entity represents a product\
    \ in API Management. Products include one or more APIs and their associated terms\
    \ of use. Once a product is published, developers can subscribe to the product\
    \ and begin to use the product\u2019s APIs."
  version: 2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products
  : get:
      tags:
      - Product
      operationId: Product_ListByService
      description: Lists a collection of products in the specified service instance.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: $filter
        in: query
        required: false
        description: '|     Field     |     Usage     |     Supported operators     |     Supported
          functions     |</br>|-------------|-------------|-------------|-------------|</br>|
          name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,
          endswith |</br>| displayName | filter | ge, le, eq, ne, gt, lt | substringof,
          contains, startswith, endswith |</br>| description | filter | ge, le, eq,
          ne, gt, lt | substringof, contains, startswith, endswith |</br>| terms |
          filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith
          |</br>| state | filter | eq |     |</br>| groups | expand |     |     |</br>'
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: Number of records to return.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $skip
        in: query
        required: false
        description: Number of records to skip.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: expandGroups
        in: query
        required: false
        description: When set to true, the response contains an array of groups that
          have visibility to the product. The default is false.
        schema:
          type: boolean
      - name: tags
        in: query
        required: false
        description: Products which are part of a specific tag.
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: A Collection of the Product entities for the specified API
            Management service instance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          type: object
                          properties:
                            description:
                              type: string
                              description: Product description. May include HTML formatting
                                tags.
                              minLength: 0
                              maxLength: 1000
                            terms:
                              type: string
                              description: Product terms of use. Developers trying
                                to subscribe to the product will be presented and
                                required to accept these terms before they can complete
                                the subscription process.
                            subscriptionRequired:
                              description: Whether a product subscription is required
                                for accessing APIs included in this product. If true,
                                the product is referred to as "protected" and a valid
                                subscription key is required for a request to an API
                                included in the product to succeed. If false, the
                                product is referred to as "open" and requests to an
                                API included in the product can be made without a
                                subscription key. If property is omitted when creating
                                a new product it's value is assumed to be true.
                              type: boolean
                            approvalRequired:
                              description: "whether subscription approval is required.\
                                \ If false, new subscriptions will be approved automatically\
                                \ enabling developers to call the product\u2019s APIs\
                                \ immediately after subscribing. If true, administrators\
                                \ must manually approve the subscription before the\
                                \ developer can any of the product\u2019s APIs. Can\
                                \ be present only if subscriptionRequired property\
                                \ is present and has a value of false."
                              type: boolean
                            subscriptionsLimit:
                              type: integer
                              format: int32
                              description: Whether the number of subscriptions a user
                                can have to this product at the same time. Set to
                                null or omit to allow unlimited per user subscriptions.
                                Can be present only if subscriptionRequired property
                                is present and has a value of false.
                            state:
                              type: string
                              description: whether product is published or not. Published
                                products are discoverable by users of developer portal.
                                Non published products are visible only to administrators.
                                Default state of Product is notPublished.
                              enum:
                              - notPublished
                              - published
                              x-ms-enum:
                                name: ProductState
                                modelAsString: false
                            displayName:
                              type: string
                              description: Product name.
                              minLength: 1
                              maxLength: 300
                          description: Product Entity Base Parameters
                          required:
                          - displayName
                          x-ms-client-flatten: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: Page values.
                  count:
                    type: integer
                    format: int64
                    description: Total record count number across all pages.
                  nextLink:
                    type: string
                    description: Next page link if any.
                description: Paged Products list representation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./definitions.json#/definitions/ProductContract
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}
  : head:
      tags:
      - Product
      operationId: Product_GetEntityTag
      description: Gets the entity state (Etag) version of the product specified by
        its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: productId
        in: path
        required: true
        description: Product identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 256
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Specified Product entity exists and current entity state version
            is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    get:
      tags:
      - Product
      operationId: Product_Get
      description: Gets the details of the product specified by its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: productId
        in: path
        required: true
        description: Product identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 256
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The response body contains the specified Product entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      description:
                        type: string
                        description: Product description. May include HTML formatting
                          tags.
                        minLength: 0
                        maxLength: 1000
                      terms:
                        type: string
                        description: Product terms of use. Developers trying to subscribe
                          to the product will be presented and required to accept
                          these terms before they can complete the subscription process.
                      subscriptionRequired:
                        description: Whether a product subscription is required for
                          accessing APIs included in this product. If true, the product
                          is referred to as "protected" and a valid subscription key
                          is required for a request to an API included in the product
                          to succeed. If false, the product is referred to as "open"
                          and requests to an API included in the product can be made
                          without a subscription key. If property is omitted when
                          creating a new product it's value is assumed to be true.
                        type: boolean
                      approvalRequired:
                        description: "whether subscription approval is required. If\
                          \ false, new subscriptions will be approved automatically\
                          \ enabling developers to call the product\u2019s APIs immediately\
                          \ after subscribing. If true, administrators must manually\
                          \ approve the subscription before the developer can any\
                          \ of the product\u2019s APIs. Can be present only if subscriptionRequired\
                          \ property is present and has a value of false."
                        type: boolean
                      subscriptionsLimit:
                        type: integer
                        format: int32
                        description: Whether the number of subscriptions a user can
                          have to this product at the same time. Set to null or omit
                          to allow unlimited per user subscriptions. Can be present
                          only if subscriptionRequired property is present and has
                          a value of false.
                      state:
                        type: string
                        description: whether product is published or not. Published
                          products are discoverable by users of developer portal.
                          Non published products are visible only to administrators.
                          Default state of Product is notPublished.
                        enum:
                        - notPublished
                        - published
                        x-ms-enum:
                          name: ProductState
                          modelAsString: false
                      displayName:
                        type: string
                        description: Product name.
                        minLength: 1
                        maxLength: 300
                    description: Product Entity Base Parameters
                    required:
                    - displayName
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - Product
      operationId: Product_CreateOrUpdate
      description: Creates or Updates a product.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: productId
        in: path
        required: true
        description: Product identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 256
      - name: If-Match
        in: header
        required: false
        description: ETag of the Entity. Not required when creating an entity, but
          required when updating an entity.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                properties:
                  type: object
                  properties:
                    description:
                      type: string
                      description: Product description. May include HTML formatting
                        tags.
                      minLength: 0
                      maxLength: 1000
                    terms:
                      type: string
                      description: Product terms of use. Developers trying to subscribe
                        to the product will be presented and required to accept these
                        terms before they can complete the subscription process.
                    subscriptionRequired:
                      description: Whether a product subscription is required for
                        accessing APIs included in this product. If true, the product
                        is referred to as "protected" and a valid subscription key
                        is required for a request to an API included in the product
                        to succeed. If false, the product is referred to as "open"
                        and requests to an API included in the product can be made
                        without a subscription key. If property is omitted when creating
                        a new product it's value is assumed to be true.
                      type: boolean
                    approvalRequired:
                      description: "whether subscription approval is required. If\
                        \ false, new subscriptions will be approved automatically\
                        \ enabling developers to call the product\u2019s APIs immediately\
                        \ after subscribing. If true, administrators must manually\
                        \ approve the subscription before the developer can any of\
                        \ the product\u2019s APIs. Can be present only if subscriptionRequired\
                        \ property is present and has a value of false."
                      type: boolean
                    subscriptionsLimit:
                      type: integer
                      format: int32
                      description: Whether the number of subscriptions a user can
                        have to this product at the same time. Set to null or omit
                        to allow unlimited per user subscriptions. Can be present
                        only if subscriptionRequired property is present and has a
                        value of false.
                    state:
                      type: string
                      description: whether product is published or not. Published
                        products are discoverable by users of developer portal. Non
                        published products are visible only to administrators. Default
                        state of Product is notPublished.
                      enum:
                      - notPublished
                      - published
                      x-ms-enum:
                        name: ProductState
                        modelAsString: false
                    displayName:
                      type: string
                      description: Product name.
                      minLength: 1
                      maxLength: 300
                  description: Product Entity Base Parameters
                  required:
                  - displayName
                  x-ms-client-flatten: true
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Create or update parameters.
        required: true
      responses:
        '200':
          description: Product was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      description:
                        type: string
                        description: Product description. May include HTML formatting
                          tags.
                        minLength: 0
                        maxLength: 1000
                      terms:
                        type: string
                        description: Product terms of use. Developers trying to subscribe
                          to the product will be presented and required to accept
                          these terms before they can complete the subscription process.
                      subscriptionRequired:
                        description: Whether a product subscription is required for
                          accessing APIs included in this product. If true, the product
                          is referred to as "protected" and a valid subscription key
                          is required for a request to an API included in the product
                          to succeed. If false, the product is referred to as "open"
                          and requests to an API included in the product can be made
                          without a subscription key. If property is omitted when
                          creating a new product it's value is assumed to be true.
                        type: boolean
                      approvalRequired:
                        description: "whether subscription approval is required. If\
                          \ false, new subscriptions will be approved automatically\
                          \ enabling developers to call the product\u2019s APIs immediately\
                          \ after subscribing. If true, administrators must manually\
                          \ approve the subscription before the developer can any\
                          \ of the product\u2019s APIs. Can be present only if subscriptionRequired\
                          \ property is present and has a value of false."
                        type: boolean
                      subscriptionsLimit:
                        type: integer
                        format: int32
                        description: Whether the number of subscriptions a user can
                          have to this product at the same time. Set to null or omit
                          to allow unlimited per user subscriptions. Can be present
                          only if subscriptionRequired property is present and has
                          a value of false.
                      state:
                        type: string
                        description: whether product is published or not. Published
                          products are discoverable by users of developer portal.
                          Non published products are visible only to administrators.
                          Default state of Product is notPublished.
                        enum:
                        - notPublished
                        - published
                        x-ms-enum:
                          name: ProductState
                          modelAsString: false
                      displayName:
                        type: string
                        description: Product name.
                        minLength: 1
                        maxLength: 300
                    description: Product Entity Base Parameters
                    required:
                    - displayName
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Product was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      description:
                        type: string
                        description: Product description. May include HTML formatting
                          tags.
                        minLength: 0
                        maxLength: 1000
                      terms:
                        type: string
                        description: Product terms of use. Developers trying to subscribe
                          to the product will be presented and required to accept
                          these terms before they can complete the subscription process.
                      subscriptionRequired:
                        description: Whether a product subscription is required for
                          accessing APIs included in this product. If true, the product
                          is referred to as "protected" and a valid subscription key
                          is required for a request to an API included in the product
                          to succeed. If false, the product is referred to as "open"
                          and requests to an API included in the product can be made
                          without a subscription key. If property is omitted when
                          creating a new product it's value is assumed to be true.
                        type: boolean
                      approvalRequired:
                        description: "whether subscription approval is required. If\
                          \ false, new subscriptions will be approved automatically\
                          \ enabling developers to call the product\u2019s APIs immediately\
                          \ after subscribing. If true, administrators must manually\
                          \ approve the subscription before the developer can any\
                          \ of the product\u2019s APIs. Can be present only if subscriptionRequired\
                          \ property is present and has a value of false."
                        type: boolean
                      subscriptionsLimit:
                        type: integer
                        format: int32
                        description: Whether the number of subscriptions a user can
                          have to this product at the same time. Set to null or omit
                          to allow unlimited per user subscriptions. Can be present
                          only if subscriptionRequired property is present and has
                          a value of false.
                      state:
                        type: string
                        description: whether product is published or not. Published
                          products are discoverable by users of developer portal.
                          Non published products are visible only to administrators.
                          Default state of Product is notPublished.
                        enum:
                        - notPublished
                        - published
                        x-ms-enum:
                          name: ProductState
                          modelAsString: false
                      displayName:
                        type: string
                        description: Product name.
                        minLength: 1
                        maxLength: 300
                    description: Product Entity Base Parameters
                    required:
                    - displayName
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      tags:
      - Product
      operationId: Product_Update
      description: Update existing product details.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: productId
        in: path
        required: true
        description: Product identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 256
      - name: If-Match
        in: header
        required: true
        description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  type: object
                  properties:
                    description:
                      type: string
                      description: Product description. May include HTML formatting
                        tags.
                      minLength: 0
                      maxLength: 1000
                    terms:
                      type: string
                      description: Product terms of use. Developers trying to subscribe
                        to the product will be presented and required to accept these
                        terms before they can complete the subscription process.
                    subscriptionRequired:
                      description: Whether a product subscription is required for
                        accessing APIs included in this product. If true, the product
                        is referred to as "protected" and a valid subscription key
                        is required for a request to an API included in the product
                        to succeed. If false, the product is referred to as "open"
                        and requests to an API included in the product can be made
                        without a subscription key. If property is omitted when creating
                        a new product it's value is assumed to be true.
                      type: boolean
                    approvalRequired:
                      description: "whether subscription approval is required. If\
                        \ false, new subscriptions will be approved automatically\
                        \ enabling developers to call the product\u2019s APIs immediately\
                        \ after subscribing. If true, administrators must manually\
                        \ approve the subscription before the developer can any of\
                        \ the product\u2019s APIs. Can be present only if subscriptionRequired\
                        \ property is present and has a value of false."
                      type: boolean
                    subscriptionsLimit:
                      type: integer
                      format: int32
                      description: Whether the number of subscriptions a user can
                        have to this product at the same time. Set to null or omit
                        to allow unlimited per user subscriptions. Can be present
                        only if subscriptionRequired property is present and has a
                        value of false.
                    state:
                      type: string
                      description: whether product is published or not. Published
                        products are discoverable by users of developer portal. Non
                        published products are visible only to administrators. Default
                        state of Product is notPublished.
                      enum:
                      - notPublished
                      - published
                      x-ms-enum:
                        name: ProductState
                        modelAsString: false
                    displayName:
                      type: string
                      description: Product name.
                      maxLength: 300
                      minLength: 1
                  description: Product Entity Base Parameters
                  x-ms-client-flatten: true
              description: Product Update parameters.
        description: Update parameters.
        required: true
      responses:
        '200':
          description: Product was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      description:
                        type: string
                        description: Product description. May include HTML formatting
                          tags.
                        minLength: 0
                        maxLength: 1000
                      terms:
                        type: string
                        description: Product terms of use. Developers trying to subscribe
                          to the product will be presented and required to accept
                          these terms before they can complete the subscription process.
                      subscriptionRequired:
                        description: Whether a product subscription is required for
                          accessing APIs included in this product. If true, the product
                          is referred to as "protected" and a valid subscription key
                          is required for a request to an API included in the product
                          to succeed. If false, the product is referred to as "open"
                          and requests to an API included in the product can be made
                          without a subscription key. If property is omitted when
                          creating a new product it's value is assumed to be true.
                        type: boolean
                      approvalRequired:
                        description: "whether subscription approval is required. If\
                          \ false, new subscriptions will be approved automatically\
                          \ enabling developers to call the product\u2019s APIs immediately\
                          \ after subscribing. If true, administrators must manually\
                          \ approve the subscription before the developer can any\
                          \ of the product\u2019s APIs. Can be present only if subscriptionRequired\
                          \ property is present and has a value of false."
                        type: boolean
                      subscriptionsLimit:
                        type: integer
                        format: int32
                        description: Whether the number of subscriptions a user can
                          have to this product at the same time. Set to null or omit
                          to allow unlimited per user subscriptions. Can be present
                          only if subscriptionRequired property is present and has
                          a value of false.
                      state:
                        type: string
                        description: whether product is published or not. Published
                          products are discoverable by users of developer portal.
                          Non published products are visible only to administrators.
                          Default state of Product is notPublished.
                        enum:
                        - notPublished
                        - published
                        x-ms-enum:
                          name: ProductState
                          modelAsString: false
                      displayName:
                        type: string
                        description: Product name.
                        minLength: 1
                        maxLength: 300
                    description: Product Entity Base Parameters
                    required:
                    - displayName
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - Product
      operationId: Product_Delete
      description: Delete product.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: productId
        in: path
        required: true
        description: Product identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 256
      - name: If-Match
        in: header
        required: true
        description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: deleteSubscriptions
        in: query
        required: false
        description: Delete existing subscriptions associated with the product or
          not.
        schema:
          type: boolean
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Product was successfully removed.
        '204':
          description: Product was successfully removed by previous request or does
            not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/apis
  : get:
      tags:
      - ProductApi
      operationId: ProductApi_ListByProduct
      description: Lists a collection of the APIs associated with a product.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: productId
        in: path
        required: true
        description: Product identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 256
      - name: $filter
        in: query
        required: false
        description: '|     Field     |     Usage     |     Supported operators     |     Supported
          functions     |</br>|-------------|-------------|-------------|-------------|</br>|
          name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,
          endswith |</br>| displayName | filter | ge, le, eq, ne, gt, lt | substringof,
          contains, startswith, endswith |</br>| description | filter | ge, le, eq,
          ne, gt, lt | substringof, contains, startswith, endswith |</br>| serviceUrl
          | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith
          |</br>| path | filter | ge, le, eq, ne, gt, lt | substringof, contains,
          startswith, endswith |</br>'
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: Number of records to return.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $skip
        in: query
        required: false
        description: Number of records to skip.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The response body contains a collection of Api entities in
            the product.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          type: object
                          properties:
                            description:
                              type: string
                              description: Description of the API. May include HTML
                                formatting tags.
                            authenticationSettings:
                              description: Collection of authentication settings included
                                into this API.
                              type: object
                              properties:
                                oAuth2:
                                  description: OAuth2 Authentication settings
                                  type: object
                                  properties:
                                    authorizationServerId:
                                      type: string
                                      description: OAuth authorization server identifier.
                                    scope:
                                      type: string
                                      description: operations scope.
                                openid:
                                  description: OpenID Connect Authentication Settings
                                  type: object
                                  properties:
                                    openidProviderId:
                                      type: string
                                      description: OAuth authorization server identifier.
                                    bearerTokenSendingMethods:
                                      description: How to send token to the server.
                                      type: array
                                      items:
                                        type: string
                                        description: Form of an authorization grant,
                                          which the client uses to request the access
                                          token.
                                        enum:
                                        - authorizationHeader
                                        - query
                                        x-ms-enum:
                                          modelAsString: true
                                          name: bearerTokenSendingMethods
                                          values:
                                          - value: authorizationHeader
                                            description: Access token will be transmitted
                                              in the Authorization header using Bearer
                                              schema
                                          - value: query
                                            description: Access token will be transmitted
                                              as query parameters.
                                oAuth2AuthenticationSettings:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      authorizationServerId:
                                        type: string
                                        description: OAuth authorization server identifier.
                                      scope:
                                        type: string
                                        description: operations scope.
                                    description: API OAuth2 Authentication settings
                                      details.
                                  x-ms-identifiers:
                                  - authorizationServerId
                                  description: Collection of OAuth2 authentication
                                    settings included into this API.
                                openidAuthenticationSettings:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      openidProviderId:
                                        type: string
                                        description: OAuth authorization server identifier.
                                      bearerTokenSendingMethods:
                                        description: How to send token to the server.
                                        type: array
                                        items:
                                          type: string
                                          description: Form of an authorization grant,
                                            which the client uses to request the access
                                            token.
                                          enum:
                                          - authorizationHeader
                                          - query
                                          x-ms-enum:
                                            modelAsString: true
                                            name: bearerTokenSendingMethods
                                            values:
                                            - value: authorizationHeader
                                              description: Access token will be transmitted
                                                in the Authorization header using
                                                Bearer schema
                                            - value: query
                                              description: Access token will be transmitted
                                                as query parameters.
                                    description: API OAuth2 Authentication settings
                                      details.
                                  x-ms-identifiers:
                                  - openidProviderId
                                  description: Collection of Open ID Connect authentication
                                    settings included into this API.
                            subscriptionKeyParameterNames:
                              description: Protocols over which API is made available.
                              type: object
                              properties:
                                header:
                                  type: string
                                  description: Subscription key header name.
                                query:
                                  type: string
                                  description: Subscription key query string parameter
                                    name.
                            type:
                              type: string
                              description: Type of API.
                              enum:
                              - http
                              - soap
                              - websocket
                              - graphql
                              - odata
                              - grpc
                              x-ms-client-name: ApiType
                              x-ms-enum:
                                name: ApiType
                                modelAsString: true
                            apiRevision:
                              type: string
                              description: Describes the revision of the API. If no
                                value is provided, default revision 1 is created
                              minLength: 1
                              maxLength: 100
                            apiVersion:
                              type: string
                              description: Indicates the version identifier of the
                                API if the API is versioned
                              maxLength: 100
                            isCurrent:
                              type: boolean
                              description: Indicates if API revision is current api
                                revision.
                            isOnline:
                              type: boolean
                              description: Indicates if API revision is accessible
                                via the gateway.
                              readOnly: true
                            apiRevisionDescription:
                              type: string
                              description: Description of the API Revision.
                              maxLength: 256
                            apiVersionDescription:
                              type: string
                              description: Description of the API Version.
                              maxLength: 256
                            apiVersionSetId:
                              type: string
                              description: A resource identifier for the related ApiVersionSet.
                            subscriptionRequired:
                              type: boolean
                              description: Specifies whether an API or Product subscription
                                is required for accessing the API.
                            termsOfServiceUrl:
                              type: string
                              description: ' A URL to the Terms of Service for the
                                API. MUST be in the format of a URL.'
                            contact:
                              description: Contact information for the API.
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: The identifying name of the contact
                                    person/organization
                                url:
                                  type: string
                                  description: The URL pointing to the contact information.
                                    MUST be in the format of a URL
                                email:
                                  type: string
                                  description: The email address of the contact person/organization.
                                    MUST be in the format of an email address
                            license:
                              description: License information for the API.
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: The license name used for the API
                                url:
                                  type: string
                                  description: A URL to the license used for the API.
                                    MUST be in the format of a URL
                            sourceApiId:
                              type: string
                              description: API identifier of the source API.
                            displayName:
                              type: string
                              description: API name. Must be 1 to 300 characters long.
                              minLength: 1
                              maxLength: 300
                            serviceUrl:
                              type: string
                              description: Absolute URL of the backend service implementing
                                this API. Cannot be more than 2000 characters long.
                              minLength: 0
                              maxLength: 2000
                            path:
                              type: string
                              description: Relative URL uniquely identifying this
                                API and all of its resource paths within the API Management
                                service instance. It is appended to the API endpoint
                                base URL specified during the service instance creation
                                to form a public URL for this API.
                              minLength: 0
                              maxLength: 400
                            protocols:
                              type: array
                              items:
                                type: string
                                enum:
                                - http
                                - https
                                - ws
                                - wss
                                x-ms-enum:
                                  name: Protocol
                                  modelAsString: true
                              description: Describes on which protocols the operations
                                in this API can be invoked.
                            apiVersionSet:
                              description: Version set details
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Identifier for existing API Version
                                    Set. Omit this value to create a new Version Set.
                                name:
                                  type: string
                                  description: The display Name of the API Version
                                    Set.
                                description:
                                  type: string
                                  description: Description of API Version Set.
                                versioningScheme:
                                  type: string
                                  description: An value that determines where the
                                    API Version identifier will be located in a HTTP
                                    request.
                                  enum:
                                  - Segment
                                  - Query
                                  - Header
                                  x-ms-enum:
                                    name: versioningScheme
                                    modelAsString: true
                                    values:
                                    - value: Segment
                                      description: The API Version is passed in a
                                        path segment.
                                    - value: Query
                                      description: The API Version is passed in a
                                        query parameter.
                                    - value: Header
                                      description: The API Version is passed in a
                                        HTTP header.
                                versionQueryName:
                                  type: string
                                  description: Name of query parameter that indicates
                                    the API Version if versioningScheme is set to
                                    `query`.
                                versionHeaderName:
                                  type: string
                                  description: Name of HTTP header parameter that
                                    indicates the API Version if versioningScheme
                                    is set to `header`.
                            provisioningState:
                              type: string
                              readOnly: true
                              description: The provisioning state
                          description: API base contract details.
                          required:
                          - path
                          x-ms-client-flatten: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: Page values.
                    readOnly: true
                  count:
                    type: integer
                    format: int64
                    description: Total record count number across all pages.
                  nextLink:
                    type: string
                    description: Next page link if any.
                    readOnly: true
                description: Paged API list representation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
[...]
