openapi: 3.0.0
info:
  title: ApiManagementClient
  description: Use these REST APIs for performing operations in Azure API Management
    deployment.
  version: 2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/portalRevisions
  : get:
      tags:
      - PortalRevision
      operationId: PortalRevision_ListByService
      description: Lists developer portal's revisions.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: $filter
        in: query
        required: false
        description: "| Field       | Supported operators    | Supported functions\
          \               |\n|-------------|------------------------|-----------------------------------|\n\
          \r\n|name | ge, le, eq, ne, gt, lt | substringof, contains, startswith,\
          \ endswith|\n|description | ge, le, eq, ne, gt, lt | substringof, contains,\
          \ startswith, endswith|\n|isCurrent | eq, ne |    |\n"
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: Number of records to return.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $skip
        in: query
        required: false
        description: Number of records to skip.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Lists portal's revisions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the portal revisions.
                          type: object
                          properties:
                            description:
                              type: string
                              description: Portal revision description.
                              maxLength: 2000
                            statusDetails:
                              type: string
                              description: Portal revision publishing status details.
                              maxLength: 2000
                              readOnly: true
                            status:
                              type: string
                              description: Status of the portal's revision.
                              enum:
                              - pending
                              - publishing
                              - completed
                              - failed
                              x-ms-enum:
                                modelAsString: true
                                name: portalRevisionStatus
                                values:
                                - value: pending
                                  description: Portal's revision has been queued.
                                - value: publishing
                                  description: Portal's revision is being published.
                                - value: completed
                                  description: Portal's revision publishing completed.
                                - value: failed
                                  description: Portal's revision publishing failed.
                              readOnly: true
                            isCurrent:
                              type: boolean
                              description: Indicates if the portal's revision is public.
                            createdDateTime:
                              type: string
                              readOnly: true
                              format: date-time
                              description: Portal's revision creation date and time.
                            updatedDateTime:
                              type: string
                              readOnly: true
                              format: date-time
                              description: Last updated date and time.
                            provisioningState:
                              type: string
                              readOnly: true
                              description: The provisioning state
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: Collection of portal revisions.
                    readOnly: true
                  nextLink:
                    type: string
                    description: Next page link, if any.
                    readOnly: true
                description: Paged list of portal revisions.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/portalRevisions/{portalRevisionId}
  : head:
      tags:
      - PortalRevision
      operationId: PortalRevision_GetEntityTag
      description: Gets the developer portal revision specified by its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: portalRevisionId
        in: path
        required: true
        description: Portal revision identifier. Must be unique in the current API
          Management service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 256
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The specified portal revision entity exists and current entity
            state version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    get:
      tags:
      - PortalRevision
      operationId: PortalRevision_Get
      description: Gets the developer portal's revision specified by its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: portalRevisionId
        in: path
        required: true
        description: Portal revision identifier. Must be unique in the current API
          Management service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 256
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Gets the specified portal's revision.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the portal revisions.
                    type: object
                    properties:
                      description:
                        type: string
                        description: Portal revision description.
                        maxLength: 2000
                      statusDetails:
                        type: string
                        description: Portal revision publishing status details.
                        maxLength: 2000
                        readOnly: true
                      status:
                        type: string
                        description: Status of the portal's revision.
                        enum:
                        - pending
                        - publishing
                        - completed
                        - failed
                        x-ms-enum:
                          modelAsString: true
                          name: portalRevisionStatus
                          values:
                          - value: pending
                            description: Portal's revision has been queued.
                          - value: publishing
                            description: Portal's revision is being published.
                          - value: completed
                            description: Portal's revision publishing completed.
                          - value: failed
                            description: Portal's revision publishing failed.
                        readOnly: true
                      isCurrent:
                        type: boolean
                        description: Indicates if the portal's revision is public.
                      createdDateTime:
                        type: string
                        readOnly: true
                        format: date-time
                        description: Portal's revision creation date and time.
                      updatedDateTime:
                        type: string
                        readOnly: true
                        format: date-time
                        description: Last updated date and time.
                      provisioningState:
                        type: string
                        readOnly: true
                        description: The provisioning state
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - PortalRevision
      operationId: PortalRevision_CreateOrUpdate
      description: Creates a new developer portal's revision by running the portal's
        publishing. The `isCurrent` property indicates if the revision is publicly
        accessible.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: portalRevisionId
        in: path
        required: true
        description: Portal revision identifier. Must be unique in the current API
          Management service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 256
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                properties:
                  x-ms-client-flatten: true
                  description: Properties of the portal revisions.
                  type: object
                  properties:
                    description:
                      type: string
                      description: Portal revision description.
                      maxLength: 2000
                    statusDetails:
                      type: string
                      description: Portal revision publishing status details.
                      maxLength: 2000
                      readOnly: true
                    status:
                      type: string
                      description: Status of the portal's revision.
                      enum:
                      - pending
                      - publishing
                      - completed
                      - failed
                      x-ms-enum:
                        modelAsString: true
                        name: portalRevisionStatus
                        values:
                        - value: pending
                          description: Portal's revision has been queued.
                        - value: publishing
                          description: Portal's revision is being published.
                        - value: completed
                          description: Portal's revision publishing completed.
                        - value: failed
                          description: Portal's revision publishing failed.
                      readOnly: true
                    isCurrent:
                      type: boolean
                      description: Indicates if the portal's revision is public.
                    createdDateTime:
                      type: string
                      readOnly: true
                      format: date-time
                      description: Portal's revision creation date and time.
                    updatedDateTime:
                      type: string
                      readOnly: true
                      format: date-time
                      description: Last updated date and time.
                    provisioningState:
                      type: string
                      readOnly: true
                      description: The provisioning state
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        required: true
      responses:
        '201':
          description: The developer portal revision was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
            location:
              description: Location header contains the URL where the status of the
                long running operation can be checked
              schema:
                type: string
            Azure-AsyncOperation:
              description: Azure-AsyncOperation header contains the URL where the
                status of the long running operation can be checked
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the portal revisions.
                    type: object
                    properties:
                      description:
                        type: string
                        description: Portal revision description.
                        maxLength: 2000
                      statusDetails:
                        type: string
                        description: Portal revision publishing status details.
                        maxLength: 2000
                        readOnly: true
                      status:
                        type: string
                        description: Status of the portal's revision.
                        enum:
                        - pending
                        - publishing
                        - completed
                        - failed
                        x-ms-enum:
                          modelAsString: true
                          name: portalRevisionStatus
                          values:
                          - value: pending
                            description: Portal's revision has been queued.
                          - value: publishing
                            description: Portal's revision is being published.
                          - value: completed
                            description: Portal's revision publishing completed.
                          - value: failed
                            description: Portal's revision publishing failed.
                        readOnly: true
                      isCurrent:
                        type: boolean
                        description: Indicates if the portal's revision is public.
                      createdDateTime:
                        type: string
                        readOnly: true
                        format: date-time
                        description: Portal's revision creation date and time.
                      updatedDateTime:
                        type: string
                        readOnly: true
                        format: date-time
                        description: Last updated date and time.
                      provisioningState:
                        type: string
                        readOnly: true
                        description: The provisioning state
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    patch:
      tags:
      - PortalRevision
      operationId: PortalRevision_Update
      description: Updates the description of specified portal revision or makes it
        current.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: portalRevisionId
        in: path
        required: true
        description: Portal revision identifier. Must be unique in the current API
          Management service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 256
      - name: If-Match
        in: header
        required: true
        description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                properties:
                  x-ms-client-flatten: true
                  description: Properties of the portal revisions.
                  type: object
                  properties:
                    description:
                      type: string
                      description: Portal revision description.
                      maxLength: 2000
                    statusDetails:
                      type: string
                      description: Portal revision publishing status details.
                      maxLength: 2000
                      readOnly: true
                    status:
                      type: string
                      description: Status of the portal's revision.
                      enum:
                      - pending
                      - publishing
                      - completed
                      - failed
                      x-ms-enum:
                        modelAsString: true
                        name: portalRevisionStatus
                        values:
                        - value: pending
                          description: Portal's revision has been queued.
                        - value: publishing
                          description: Portal's revision is being published.
                        - value: completed
                          description: Portal's revision publishing completed.
                        - value: failed
                          description: Portal's revision publishing failed.
                      readOnly: true
                    isCurrent:
                      type: boolean
                      description: Indicates if the portal's revision is public.
                    createdDateTime:
                      type: string
                      readOnly: true
                      format: date-time
                      description: Portal's revision creation date and time.
                    updatedDateTime:
                      type: string
                      readOnly: true
                      format: date-time
                      description: Last updated date and time.
                    provisioningState:
                      type: string
                      readOnly: true
                      description: The provisioning state
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        required: true
      responses:
        '200':
          description: Developer portal revision was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the portal revisions.
                    type: object
                    properties:
                      description:
                        type: string
                        description: Portal revision description.
                        maxLength: 2000
                      statusDetails:
                        type: string
                        description: Portal revision publishing status details.
                        maxLength: 2000
                        readOnly: true
                      status:
                        type: string
                        description: Status of the portal's revision.
                        enum:
                        - pending
                        - publishing
                        - completed
                        - failed
                        x-ms-enum:
                          modelAsString: true
                          name: portalRevisionStatus
                          values:
                          - value: pending
                            description: Portal's revision has been queued.
                          - value: publishing
                            description: Portal's revision is being published.
                          - value: completed
                            description: Portal's revision publishing completed.
                          - value: failed
                            description: Portal's revision publishing failed.
                        readOnly: true
                      isCurrent:
                        type: boolean
                        description: Indicates if the portal's revision is public.
                      createdDateTime:
                        type: string
                        readOnly: true
                        format: date-time
                        description: Portal's revision creation date and time.
                      updatedDateTime:
                        type: string
                        readOnly: true
                        format: date-time
                        description: Last updated date and time.
                      provisioningState:
                        type: string
                        readOnly: true
                        description: The provisioning state
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Request to update developer portal revision was accepted.
          headers:
            location:
              description: Location header contains the URL where the status of the
                long running operation can be checked
              schema:
                type: string
            Azure-AsyncOperation:
              description: Azure-AsyncOperation header contains the URL where the
                status of the long running operation can be checked
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ServiceNameParameter:
      name: serviceName
      in: path
      required: true
      description: The name of the API Management service.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 50
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
    TopQueryParameter:
      name: $top
      in: query
      required: false
      description: Number of records to return.
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        minimum: 1
    SkipQueryParameter:
      name: $skip
      in: query
      required: false
      description: Number of records to skip.
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        minimum: 0
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    PortalRevisionIdParameter:
      name: portalRevisionId
      in: path
      required: true
      description: Portal revision identifier. Must be unique in the current API Management
        service instance.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 256
    IfMatchRequiredParameter:
      name: If-Match
      in: header
      required: true
      description: ETag of the Entity. ETag should match the current entity state
        from the header response of the GET request or it should be * for unconditional
        update.
      x-ms-parameter-location: method
      schema:
        type: string
  requestBodies:
    PortalRevision_CreateOrUpdateParameters:
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
              properties:
                x-ms-client-flatten: true
                description: Properties of the portal revisions.
                type: object
                properties:
                  description:
                    type: string
                    description: Portal revision description.
                    maxLength: 2000
                  statusDetails:
                    type: string
                    description: Portal revision publishing status details.
                    maxLength: 2000
                    readOnly: true
                  status:
                    type: string
                    description: Status of the portal's revision.
                    enum:
                    - pending
                    - publishing
                    - completed
                    - failed
                    x-ms-enum:
                      modelAsString: true
                      name: portalRevisionStatus
                      values:
                      - value: pending
                        description: Portal's revision has been queued.
                      - value: publishing
                        description: Portal's revision is being published.
                      - value: completed
                        description: Portal's revision publishing completed.
                      - value: failed
                        description: Portal's revision publishing failed.
                    readOnly: true
                  isCurrent:
                    type: boolean
                    description: Indicates if the portal's revision is public.
                  createdDateTime:
                    type: string
                    readOnly: true
                    format: date-time
                    description: Portal's revision creation date and time.
                  updatedDateTime:
                    type: string
                    readOnly: true
                    format: date-time
                    description: Last updated date and time.
                  provisioningState:
                    type: string
                    readOnly: true
                    description: The provisioning state
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
      required: true
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    PortalRevisionContractProperties:
      type: object
      properties:
        description:
          type: string
          description: Portal revision description.
          maxLength: 2000
        statusDetails:
          type: string
          description: Portal revision publishing status details.
          maxLength: 2000
          readOnly: true
        status:
          type: string
          description: Status of the portal's revision.
          enum:
          - pending
          - publishing
          - completed
          - failed
          x-ms-enum:
            modelAsString: true
            name: portalRevisionStatus
            values:
            - value: pending
              description: Portal's revision has been queued.
            - value: publishing
              description: Portal's revision is being published.
            - value: completed
              description: Portal's revision publishing completed.
            - value: failed
              description: Portal's revision publishing failed.
          readOnly: true
        isCurrent:
          type: boolean
          description: Indicates if the portal's revision is public.
        createdDateTime:
          type: string
          readOnly: true
          format: date-time
          description: Portal's revision creation date and time.
        updatedDateTime:
          type: string
          readOnly: true
          format: date-time
          description: Last updated date and time.
        provisioningState:
          type: string
          readOnly: true
          description: The provisioning state
    PortalRevisionContract:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
        properties:
          x-ms-client-flatten: true
          description: Properties of the portal revisions.
          type: object
          properties:
            description:
              type: string
              description: Portal revision description.
              maxLength: 2000
            statusDetails:
              type: string
              description: Portal revision publishing status details.
              maxLength: 2000
              readOnly: true
            status:
              type: string
              description: Status of the portal's revision.
              enum:
              - pending
              - publishing
              - completed
              - failed
              x-ms-enum:
                modelAsString: true
                name: portalRevisionStatus
                values:
                - value: pending
                  description: Portal's revision has been queued.
                - value: publishing
                  description: Portal's revision is being published.
                - value: completed
                  description: Portal's revision publishing completed.
                - value: failed
                  description: Portal's revision publishing failed.
              readOnly: true
            isCurrent:
              type: boolean
              description: Indicates if the portal's revision is public.
            createdDateTime:
              type: string
              readOnly: true
              format: date-time
              description: Portal's revision creation date and time.
            updatedDateTime:
              type: string
              readOnly: true
              format: date-time
              description: Last updated date and time.
            provisioningState:
              type: string
              readOnly: true
              description: The provisioning state
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    PortalRevisionCollection:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
              properties:
                x-ms-client-flatten: true
                description: Properties of the portal revisions.
                type: object
                properties:
                  description:
                    type: string
                    description: Portal revision description.
                    maxLength: 2000
                  statusDetails:
                    type: string
                    description: Portal revision publishing status details.
                    maxLength: 2000
                    readOnly: true
                  status:
                    type: string
                    description: Status of the portal's revision.
                    enum:
                    - pending
                    - publishing
                    - completed
                    - failed
                    x-ms-enum:
                      modelAsString: true
                      name: portalRevisionStatus
                      values:
                      - value: pending
                        description: Portal's revision has been queued.
                      - value: publishing
                        description: Portal's revision is being published.
                      - value: completed
                        description: Portal's revision publishing completed.
                      - value: failed
                        description: Portal's revision publishing failed.
                    readOnly: true
                  isCurrent:
                    type: boolean
                    description: Indicates if the portal's revision is public.
                  createdDateTime:
                    type: string
                    readOnly: true
                    format: date-time
                    description: Portal's revision creation date and time.
                  updatedDateTime:
                    type: string
                    readOnly: true
                    format: date-time
                    description: Last updated date and time.
                  provisioningState:
                    type: string
                    readOnly: true
                    description: The provisioning state
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
          description: Collection of portal revisions.
          readOnly: true
        nextLink:
          type: string
          description: Next page link, if any.
          readOnly: true
      description: Paged list of portal revisions.
