openapi: 3.0.0
info:
  title: ApiManagementClient
  description: Use these REST APIs for performing operations on NamedValue entity
    associated with your Azure API Management deployment. API Management policies
    are a powerful capability of the system that allow the publisher to change the
    behavior of the API through configuration. Policies are a collection of statements
    that are executed sequentially on the request or response of an API. Policy statements
    can be constructed using literal text values, policy expressions, and NamedValues.
    Each API Management service instance has a NamedValues collection of key/value
    pairs that are global to the service instance. These NamedValues can be used to
    manage constant string values across all API configuration and policies.
  version: 2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/namedValues
  : get:
      tags:
      - NamedValue
      operationId: NamedValue_ListByService
      description: Lists a collection of named values defined within a service instance.
      externalDocs:
        url: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-properties
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: $filter
        in: query
        required: false
        description: '|     Field     |     Usage     |     Supported operators     |     Supported
          functions     |</br>|-------------|-------------|-------------|-------------|</br>|
          tags | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,
          endswith, any, all |</br>| displayName | filter | ge, le, eq, ne, gt, lt
          | substringof, contains, startswith, endswith |</br>'
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: Number of records to return.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $skip
        in: query
        required: false
        description: Number of records to skip.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: isKeyVaultRefreshFailed
        in: query
        required: false
        description: When set to true, the response contains only named value entities
          which failed refresh.
        schema:
          type: boolean
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: A Collection of the named value entities for the specified
            API Management service instance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          type: object
                          properties:
                            tags:
                              type: array
                              items:
                                type: string
                              maxItems: 32
                              description: Optional tags that when provided can be
                                used to filter the NamedValue list.
                            secret:
                              description: Determines whether the value is a secret
                                and should be encrypted or not. Default value is false.
                              type: boolean
                            displayName:
                              type: string
                              description: Unique name of NamedValue. It may contain
                                only letters, digits, period, dash, and underscore
                                characters.
                              minLength: 1
                              maxLength: 256
                              pattern: ^[A-Za-z0-9-._]+$
                            value:
                              type: string
                              description: Value of the NamedValue. Can contain policy
                                expressions. It may not be empty or consist only of
                                whitespace. This property will not be filled on 'GET'
                                operations! Use '/listSecrets' POST request to get
                                the value.
                              maxLength: 4096
                            keyVault:
                              type: object
                              properties:
                                secretIdentifier:
                                  type: string
                                  description: Key vault secret identifier for fetching
                                    secret. Providing a versioned secret will prevent
                                    auto-refresh. This requires API Management service
                                    to be configured with aka.ms/apimmsi
                                identityClientId:
                                  type: string
                                  description: Null for SystemAssignedIdentity or
                                    Client Id for UserAssignedIdentity , which will
                                    be used to access key vault secret.
                                lastStatus:
                                  description: Last time sync and refresh status of
                                    secret from key vault.
                                  type: object
                                  properties:
                                    code:
                                      type: string
                                      description: Last status code for sync and refresh
                                        of secret from key vault.
                                    message:
                                      type: string
                                      description: Details of the error else empty.
                                    timeStampUtc:
                                      type: string
                                      format: date-time
                                      description: 'Last time secret was accessed.
                                        The date conforms to the following format:
                                        `yyyy-MM-ddTHH:mm:ssZ` as specified by the
                                        ISO 8601 standard.

                                        '
                              description: Create keyVault contract details.
                            provisioningState:
                              type: string
                              readOnly: true
                              description: The provisioning state
                          description: NamedValue Entity Base Parameters set.
                          required:
                          - displayName
                          x-ms-client-flatten: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: Page values.
                  count:
                    type: integer
                    format: int64
                    description: Total record count number across all pages.
                  nextLink:
                    type: string
                    description: Next page link if any.
                description: Paged NamedValue list representation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./definitions.json#/definitions/NamedValueContract
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/namedValues/{namedValueId}
  : head:
      tags:
      - NamedValue
      operationId: NamedValue_GetEntityTag
      description: Gets the entity state (Etag) version of the named value specified
        by its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: namedValueId
        in: path
        required: true
        description: Identifier of the NamedValue.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 256
          pattern: ^[^*#&+:<>?]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Specified named value entity exists and current entity state
            version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    get:
      tags:
      - NamedValue
      operationId: NamedValue_Get
      description: Gets the details of the named value specified by its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: namedValueId
        in: path
        required: true
        description: Identifier of the NamedValue.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 256
          pattern: ^[^*#&+:<>?]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The response body contains the specified named value entity.
            No secrets included
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      tags:
                        type: array
                        items:
                          type: string
                        maxItems: 32
                        description: Optional tags that when provided can be used
                          to filter the NamedValue list.
                      secret:
                        description: Determines whether the value is a secret and
                          should be encrypted or not. Default value is false.
                        type: boolean
                      displayName:
                        type: string
                        description: Unique name of NamedValue. It may contain only
                          letters, digits, period, dash, and underscore characters.
                        minLength: 1
                        maxLength: 256
                        pattern: ^[A-Za-z0-9-._]+$
                      value:
                        type: string
                        description: Value of the NamedValue. Can contain policy expressions.
                          It may not be empty or consist only of whitespace. This
                          property will not be filled on 'GET' operations! Use '/listSecrets'
                          POST request to get the value.
                        maxLength: 4096
                      keyVault:
                        type: object
                        properties:
                          secretIdentifier:
                            type: string
                            description: Key vault secret identifier for fetching
                              secret. Providing a versioned secret will prevent auto-refresh.
                              This requires API Management service to be configured
                              with aka.ms/apimmsi
                          identityClientId:
                            type: string
                            description: Null for SystemAssignedIdentity or Client
                              Id for UserAssignedIdentity , which will be used to
                              access key vault secret.
                          lastStatus:
                            description: Last time sync and refresh status of secret
                              from key vault.
                            type: object
                            properties:
                              code:
                                type: string
                                description: Last status code for sync and refresh
                                  of secret from key vault.
                              message:
                                type: string
                                description: Details of the error else empty.
                              timeStampUtc:
                                type: string
                                format: date-time
                                description: 'Last time secret was accessed. The date
                                  conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
                                  as specified by the ISO 8601 standard.

                                  '
                        description: Create keyVault contract details.
                      provisioningState:
                        type: string
                        readOnly: true
                        description: The provisioning state
                    description: NamedValue Entity Base Parameters set.
                    required:
                    - displayName
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - NamedValue
      operationId: NamedValue_CreateOrUpdate
      description: Creates or updates named value.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: namedValueId
        in: path
        required: true
        description: Identifier of the NamedValue.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 256
          pattern: ^[^*#&+:<>?]+$
      - name: If-Match
        in: header
        required: false
        description: ETag of the Entity. Not required when creating an entity, but
          required when updating an entity.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                properties:
                  type: object
                  properties:
                    tags:
                      type: array
                      items:
                        type: string
                      maxItems: 32
                      description: Optional tags that when provided can be used to
                        filter the NamedValue list.
                    secret:
                      description: Determines whether the value is a secret and should
                        be encrypted or not. Default value is false.
                      type: boolean
                    displayName:
                      type: string
                      description: Unique name of NamedValue. It may contain only
                        letters, digits, period, dash, and underscore characters.
                      minLength: 1
                      maxLength: 256
                      pattern: ^[A-Za-z0-9-._]+$
                    value:
                      type: string
                      description: Value of the NamedValue. Can contain policy expressions.
                        It may not be empty or consist only of whitespace. This property
                        will not be filled on 'GET' operations! Use '/listSecrets'
                        POST request to get the value.
                      maxLength: 4096
                    keyVault:
                      description: KeyVault location details of the namedValue.
                      type: object
                      properties:
                        secretIdentifier:
                          type: string
                          description: Key vault secret identifier for fetching secret.
                            Providing a versioned secret will prevent auto-refresh.
                            This requires API Management service to be configured
                            with aka.ms/apimmsi
                        identityClientId:
                          type: string
                          description: Null for SystemAssignedIdentity or Client Id
                            for UserAssignedIdentity , which will be used to access
                            key vault secret.
                  description: NamedValue Entity Base Parameters set.
                  required:
                  - displayName
                  x-ms-client-flatten: true
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Create parameters.
        required: true
      responses:
        '200':
          description: Named value was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
            location:
              description: Location header contains the URL where the status of the
                long running operation can be checked
              schema:
                type: string
            Azure-AsyncOperation:
              description: Azure-AsyncOperation header contains the URL where the
                status of the long running operation can be checked
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      tags:
                        type: array
                        items:
                          type: string
                        maxItems: 32
                        description: Optional tags that when provided can be used
                          to filter the NamedValue list.
                      secret:
                        description: Determines whether the value is a secret and
                          should be encrypted or not. Default value is false.
                        type: boolean
                      displayName:
                        type: string
                        description: Unique name of NamedValue. It may contain only
                          letters, digits, period, dash, and underscore characters.
                        minLength: 1
                        maxLength: 256
                        pattern: ^[A-Za-z0-9-._]+$
                      value:
                        type: string
                        description: Value of the NamedValue. Can contain policy expressions.
                          It may not be empty or consist only of whitespace. This
                          property will not be filled on 'GET' operations! Use '/listSecrets'
                          POST request to get the value.
                        maxLength: 4096
                      keyVault:
                        type: object
                        properties:
                          secretIdentifier:
                            type: string
                            description: Key vault secret identifier for fetching
                              secret. Providing a versioned secret will prevent auto-refresh.
                              This requires API Management service to be configured
                              with aka.ms/apimmsi
                          identityClientId:
                            type: string
                            description: Null for SystemAssignedIdentity or Client
                              Id for UserAssignedIdentity , which will be used to
                              access key vault secret.
                          lastStatus:
                            description: Last time sync and refresh status of secret
                              from key vault.
                            type: object
                            properties:
                              code:
                                type: string
                                description: Last status code for sync and refresh
                                  of secret from key vault.
                              message:
                                type: string
                                description: Details of the error else empty.
                              timeStampUtc:
                                type: string
                                format: date-time
                                description: 'Last time secret was accessed. The date
                                  conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
                                  as specified by the ISO 8601 standard.

                                  '
                        description: Create keyVault contract details.
                      provisioningState:
                        type: string
                        readOnly: true
                        description: The provisioning state
                    description: NamedValue Entity Base Parameters set.
                    required:
                    - displayName
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Named value was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
            location:
              description: Location header contains the URL where the status of the
                long running operation can be checked
              schema:
                type: string
            Azure-AsyncOperation:
              description: Azure-AsyncOperation header contains the URL where the
                status of the long running operation can be checked
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      tags:
                        type: array
                        items:
                          type: string
                        maxItems: 32
                        description: Optional tags that when provided can be used
                          to filter the NamedValue list.
                      secret:
                        description: Determines whether the value is a secret and
                          should be encrypted or not. Default value is false.
                        type: boolean
                      displayName:
                        type: string
                        description: Unique name of NamedValue. It may contain only
                          letters, digits, period, dash, and underscore characters.
                        minLength: 1
                        maxLength: 256
                        pattern: ^[A-Za-z0-9-._]+$
                      value:
                        type: string
                        description: Value of the NamedValue. Can contain policy expressions.
                          It may not be empty or consist only of whitespace. This
                          property will not be filled on 'GET' operations! Use '/listSecrets'
                          POST request to get the value.
                        maxLength: 4096
                      keyVault:
                        type: object
                        properties:
                          secretIdentifier:
                            type: string
                            description: Key vault secret identifier for fetching
                              secret. Providing a versioned secret will prevent auto-refresh.
                              This requires API Management service to be configured
                              with aka.ms/apimmsi
                          identityClientId:
                            type: string
                            description: Null for SystemAssignedIdentity or Client
                              Id for UserAssignedIdentity , which will be used to
                              access key vault secret.
                          lastStatus:
                            description: Last time sync and refresh status of secret
                              from key vault.
                            type: object
                            properties:
                              code:
                                type: string
                                description: Last status code for sync and refresh
                                  of secret from key vault.
                              message:
                                type: string
                                description: Details of the error else empty.
                              timeStampUtc:
                                type: string
                                format: date-time
                                description: 'Last time secret was accessed. The date
                                  conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
                                  as specified by the ISO 8601 standard.

                                  '
                        description: Create keyVault contract details.
                      provisioningState:
                        type: string
                        readOnly: true
                        description: The provisioning state
                    description: NamedValue Entity Base Parameters set.
                    required:
                    - displayName
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    patch:
      tags:
      - NamedValue
      operationId: NamedValue_Update
      description: Updates the specific named value.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: namedValueId
        in: path
        required: true
        description: Identifier of the NamedValue.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 256
          pattern: ^[^*#&+:<>?]+$
      - name: If-Match
        in: header
        required: true
        description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  type: object
                  properties:
                    tags:
                      type: array
                      items:
                        type: string
                      maxItems: 32
                      description: Optional tags that when provided can be used to
                        filter the NamedValue list.
                    secret:
                      description: Determines whether the value is a secret and should
                        be encrypted or not. Default value is false.
                      type: boolean
                    displayName:
                      type: string
                      description: Unique name of NamedValue. It may contain only
                        letters, digits, period, dash, and underscore characters.
                      minLength: 1
                      maxLength: 256
                      pattern: ^[A-Za-z0-9-._]+$
                    value:
                      type: string
                      description: Value of the NamedValue. Can contain policy expressions.
                        It may not be empty or consist only of whitespace.
                      minLength: 1
                      maxLength: 4096
                    keyVault:
                      description: KeyVault location details of the namedValue.
                      type: object
                      properties:
                        secretIdentifier:
                          type: string
                          description: Key vault secret identifier for fetching secret.
                            Providing a versioned secret will prevent auto-refresh.
                            This requires API Management service to be configured
                            with aka.ms/apimmsi
                        identityClientId:
                          type: string
                          description: Null for SystemAssignedIdentity or Client Id
                            for UserAssignedIdentity , which will be used to access
                            key vault secret.
                  description: NamedValue Entity Base Parameters set.
                  x-ms-client-flatten: true
              description: NamedValue update Parameters.
        description: Update parameters.
        required: true
      responses:
        '200':
          description: Named value was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      tags:
                        type: array
                        items:
                          type: string
                        maxItems: 32
                        description: Optional tags that when provided can be used
                          to filter the NamedValue list.
                      secret:
                        description: Determines whether the value is a secret and
                          should be encrypted or not. Default value is false.
                        type: boolean
                      displayName:
                        type: string
                        description: Unique name of NamedValue. It may contain only
                          letters, digits, period, dash, and underscore characters.
                        minLength: 1
                        maxLength: 256
                        pattern: ^[A-Za-z0-9-._]+$
                      value:
                        type: string
                        description: Value of the NamedValue. Can contain policy expressions.
                          It may not be empty or consist only of whitespace. This
                          property will not be filled on 'GET' operations! Use '/listSecrets'
                          POST request to get the value.
                        maxLength: 4096
                      keyVault:
                        type: object
                        properties:
                          secretIdentifier:
                            type: string
                            description: Key vault secret identifier for fetching
                              secret. Providing a versioned secret will prevent auto-refresh.
                              This requires API Management service to be configured
                              with aka.ms/apimmsi
                          identityClientId:
                            type: string
                            description: Null for SystemAssignedIdentity or Client
                              Id for UserAssignedIdentity , which will be used to
                              access key vault secret.
                          lastStatus:
                            description: Last time sync and refresh status of secret
                              from key vault.
                            type: object
                            properties:
                              code:
                                type: string
                                description: Last status code for sync and refresh
                                  of secret from key vault.
                              message:
                                type: string
                                description: Details of the error else empty.
                              timeStampUtc:
                                type: string
                                format: date-time
                                description: 'Last time secret was accessed. The date
                                  conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
                                  as specified by the ISO 8601 standard.

                                  '
                        description: Create keyVault contract details.
                      provisioningState:
                        type: string
                        readOnly: true
                        description: The provisioning state
                    description: NamedValue Entity Base Parameters set.
                    required:
                    - displayName
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Request to create or update named value was accepted.
          headers:
            location:
              description: Location header contains the URL where the status of the
                long running operation can be checked
              schema:
                type: string
            Azure-AsyncOperation:
              description: Azure-AsyncOperation header contains the URL where the
                status of the long running operation can be checked
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    delete:
      tags:
      - NamedValue
      operationId: NamedValue_Delete
      description: Deletes specific named value from the API Management service instance.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: namedValueId
        in: path
        required: true
        description: Identifier of the NamedValue.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 256
          pattern: ^[^*#&+:<>?]+$
      - name: If-Match
        in: header
        required: true
        description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Named value was successfully deleted.
        '204':
          description: Named value was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/namedValues/{namedValueId}/listValue
  : post:
      tags:
      - NamedValue
      operationId: NamedValue_ListValue
      description: Gets the secret of the named value specified by its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: namedValueId
        in: path
        required: true
        description: Identifier of the NamedValue.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 256
          pattern: ^[^*#&+:<>?]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The response body contains the specified named value secret.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    description: This is secret value of the NamedValue entity.
                description: Client or app secret used in IdentityProviders, Aad,
                  OpenID or OAuth.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/namedValues/{namedValueId}/refreshSecret
  : post:
      tags:
      - NamedValue
      operationId: NamedValue_RefreshSecret
      description: Refresh the secret of the named value specified by its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: namedValueId
        in: path
        required: true
        description: Identifier of the NamedValue.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 256
          pattern: ^[^*#&+:<>?]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Named value was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      tags:
                        type: array
                        items:
                          type: string
                        maxItems: 32
                        description: Optional tags that when provided can be used
                          to filter the NamedValue list.
                      secret:
                        description: Determines whether the value is a secret and
                          should be encrypted or not. Default value is false.
                        type: boolean
                      displayName:
                        type: string
                        description: Unique name of NamedValue. It may contain only
                          letters, digits, period, dash, and underscore characters.
                        minLength: 1
                        maxLength: 256
                        pattern: ^[A-Za-z0-9-._]+$
                      value:
                        type: string
                        description: Value of the NamedValue. Can contain policy expressions.
                          It may not be empty or consist only of whitespace. This
                          property will not be filled on 'GET' operations! Use '/listSecrets'
                          POST request to get the value.
                        maxLength: 4096
                      keyVault:
                        type: object
                        properties:
                          secretIdentifier:
                            type: string
                            description: Key vault secret identifier for fetching
                              secret. Providing a versioned secret will prevent auto-refresh.
                              This requires API Management service to be configured
                              with aka.ms/apimmsi
                          identityClientId:
                            type: string
                            description: Null for SystemAssignedIdentity or Client
                              Id for UserAssignedIdentity , which will be used to
                              access key vault secret.
                          lastStatus:
                            description: Last time sync and refresh status of secret
                              from key vault.
                            type: object
                            properties:
                              code:
                                type: string
                                description: Last status code for sync and refresh
                                  of secret from key vault.
                              message:
                                type: string
                                description: Details of the error else empty.
                              timeStampUtc:
                                type: string
                                format: date-time
                                description: 'Last time secret was accessed. The date
                                  conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
                                  as specified by the ISO 8601 standard.

                                  '
                        description: Create keyVault contract details.
                      provisioningState:
                        type: string
                        readOnly: true
                        description: The provisioning state
                    description: NamedValue Entity Base Parameters set.
                    required:
                    - displayName
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Request to refresh secret was accepted.
          headers:
            location:
              description: Location header contains the URL where the status of the
                long running operation can be checked
              schema:
                type: string
            Azure-AsyncOperation:
              description: Azure-AsyncOperation header contains the URL where the
                status of the long running operation can be checked
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ServiceNameParameter:
      name: serviceName
      in: path
      required: true
      description: The name of the API Management service.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 50
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
    TopQueryParameter:
      name: $top
      in: query
      required: false
      description: Number of records to return.
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        minimum: 1
    SkipQueryParameter:
      name: $skip
      in: query
      required: false
      description: Number of records to skip.
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        minimum: 0
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    NamedValueIdParameter:
      name: namedValueId
      in: path
      required: true
      description: Identifier of the NamedValue.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 256
        pattern: ^[^*#&+:<>?]+$
    IfMatchOptionalParameter:
      name: If-Match
      in: header
      required: false
      description: ETag of the Entity. Not required when creating an entity, but required
        when updating an entity.
      x-ms-parameter-location: method
      schema:
        type: string
    IfMatchRequiredParameter:
      name: If-Match
      in: header
      required: true
      description: ETag of the Entity. ETag should match the current entity state
        from the header response of the GET request or it should be * for unconditional
        update.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
[...]
