openapi: 3.0.0
info:
  title: ApiManagementClient
  description: Use these REST APIs for performing operations on entities like API,
    Product, and Subscription associated with your Azure API Management deployment.
  version: 2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths: {}
components:
  parameters:
    AccessParameter:
      name: accessName
      in: path
      required: true
      x-ms-enum:
        modelAsString: true
        name: AccessIdName
      description: The identifier of the Access configuration.
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - access
        - gitAccess
    SettingsParameter:
      name: settingsType
      in: path
      required: true
      x-ms-enum:
        modelAsString: true
        name: settingsTypeName
      description: The identifier of the settings.
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - public
    ApiIdParameter:
      name: apiId
      in: path
      required: true
      description: API identifier. Must be unique in the current API Management service
        instance.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
    ApiIdRevParameter:
      name: apiId
      in: path
      required: true
      description: API revision identifier. Must be unique in the current API Management
        service instance. Non-current revision has ;rev=n as a suffix where n is the
        revision number.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 256
        pattern: ^[^*#&+:<>?]+$
    ApiVersionSetIdParameter:
      name: versionSetId
      in: path
      required: true
      description: Api Version Set identifier. Must be unique in the current API Management
        service instance.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
    AppTypeParameter:
      name: appType
      in: query
      required: false
      description: Determines the type of application which send the create user request.
        Default is legacy publisher portal.
      x-ms-enum:
        name: AppType
        modelAsString: true
        values:
        - value: portal
          description: User create request was sent by legacy developer portal.
        - value: developerPortal
          description: User create request was sent by new developer portal.
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - portal
        - developerPortal
        default: portal
    AttachmentIdParameter:
      name: attachmentId
      in: path
      required: true
      description: Attachment identifier within an Issue. Must be unique in the current
        Issue.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 256
        pattern: ^[^*#&+:<>?]+$
    AuthorizationProviderIdParameter:
      name: authorizationProviderId
      in: path
      required: true
      description: Identifier of the authorization provider.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 256
        pattern: ^[^*#&+:<>?]+$
    AuthorizationIdParameter:
      name: authorizationId
      in: path
      required: true
      description: Identifier of the authorization.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 256
        pattern: ^[^*#&+:<>?]+$
    AuthorizationAccessPolicyIdParameter:
      name: authorizationAccessPolicyId
      in: path
      required: true
      description: Identifier of the authorization access policy.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 256
        pattern: ^[^*#&+:<>?]+$
    AuthenticationServerIdParameter:
      name: authsid
      in: path
      required: true
      description: Identifier of the authorization server.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
    BackendIdParameter:
      name: backendId
      in: path
      required: true
      description: Identifier of the Backend entity. Must be unique in the current
        API Management service instance.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
    CacheIdParameter:
      name: cacheId
      in: path
      required: true
      description: Identifier of the Cache entity. Cache identifier (should be either
        'default' or valid Azure region identifier).
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
    CertificateIdParameter:
      name: certificateId
      in: path
      required: true
      description: Identifier of the certificate entity. Must be unique in the current
        API Management service instance.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
    CommentIdParameter:
      name: commentId
      in: path
      required: true
      description: Comment identifier within an Issue. Must be unique in the current
        Issue.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 256
        pattern: ^[^*#&+:<>?]+$
    ConfigurationParameter:
      name: configurationName
      in: path
      required: true
      x-ms-enum:
        modelAsString: true
        name: configurationIdName
      description: The identifier of the Git Configuration Operation.
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - configuration
    DiagnosticIdParameter:
      name: diagnosticId
      in: path
      required: true
      description: Diagnostic identifier. Must be unique in the current API Management
        service instance.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
    EmailParameter:
      name: email
      in: path
      required: true
      description: Email identifier.
      x-ms-parameter-location: method
      schema:
        type: string
    GatewayNameParameter:
      name: gatewayName
      in: path
      required: true
      description: The name of the API Management gateway.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 45
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
    ConfigConnectionNameParameter:
      name: configConnectionName
      in: path
      required: true
      description: The name of the API Management gateway config connection.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 30
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
    GroupIdParameter:
      name: groupId
      in: path
      required: true
      description: Group identifier. Must be unique in the current API Management
        service instance.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 256
    IdentityProviderNameParameter:
      name: identityProviderName
      in: path
      required: true
      x-ms-enum:
        name: IdentityProviderType
        modelAsString: true
        values:
        - value: facebook
          description: Facebook as Identity provider.
        - value: google
          description: Google as Identity provider.
        - value: microsoft
          description: Microsoft Live as Identity provider.
        - value: twitter
          description: Twitter as Identity provider.
        - value: aad
          description: Azure Active Directory as Identity provider.
        - value: aadB2C
          description: Azure Active Directory B2C as Identity provider.
      description: Identity Provider Type identifier.
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - facebook
        - google
        - microsoft
        - twitter
        - aad
        - aadB2C
    IfMatchOptionalParameter:
      name: If-Match
      in: header
      required: false
      description: ETag of the Entity. Not required when creating an entity, but required
        when updating an entity.
      x-ms-parameter-location: method
      schema:
        type: string
    IfMatchRequiredParameter:
      name: If-Match
      in: header
      required: true
      description: ETag of the Entity. ETag should match the current entity state
        from the header response of the GET request or it should be * for unconditional
        update.
      x-ms-parameter-location: method
      schema:
        type: string
    IssueIdParameter:
      name: issueId
      in: path
      required: true
      description: Issue identifier. Must be unique in the current API Management
        service instance.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 256
        pattern: ^[^*#&+:<>?]+$
    LocationNameParameter:
      name: locationName
      in: path
      required: true
      description: Location in which the API Management service is deployed. This
        is one of the Azure Regions like West US, East US, South Central US.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
    LoggerIdParameter:
      name: loggerId
      in: path
      required: true
      description: Logger identifier. Must be unique in the API Management service
        instance.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 256
        pattern: ^[^*#&+:<>?]+$
    NotificationNameParameter:
      name: notificationName
      in: path
      required: true
      x-ms-enum:
        name: NotificationName
        modelAsString: true
        values:
        - value: RequestPublisherNotificationMessage
          description: The following email recipients and users will receive email
            notifications about subscription requests for API products requiring approval.
        - value: PurchasePublisherNotificationMessage
          description: The following email recipients and users will receive email
            notifications about new API product subscriptions.
        - value: NewApplicationNotificationMessage
          description: The following email recipients and users will receive email
            notifications when new applications are submitted to the application gallery.
        - value: BCC
          description: The following recipients will receive blind carbon copies of
            all emails sent to developers.
        - value: NewIssuePublisherNotificationMessage
          description: The following email recipients and users will receive email
            notifications when a new issue or comment is submitted on the developer
            portal.
        - value: AccountClosedPublisher
          description: The following email recipients and users will receive email
            notifications when developer closes his account.
        - value: QuotaLimitApproachingPublisherNotificationMessage
          description: The following email recipients and users will receive email
            notifications when subscription usage gets close to usage quota.
      description: Notification Name Identifier.
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - RequestPublisherNotificationMessage
        - PurchasePublisherNotificationMessage
        - NewApplicationNotificationMessage
        - BCC
        - NewIssuePublisherNotificationMessage
        - AccountClosedPublisher
        - QuotaLimitApproachingPublisherNotificationMessage
    NotifySubscriptionStateChangeParameter:
      name: notify
      in: query
      required: false
      description: "Notify change in Subscription State. \n - If false, do not send\
        \ any email notification for change of state of subscription \n - If true,\
        \ send email notification of change of state of subscription "
      x-ms-parameter-location: method
      schema:
        type: boolean
    OpenIdConnectIdParameter:
      name: opid
      in: path
      required: true
      description: Identifier of the OpenID Connect Provider.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 256
        pattern: ^[^*#&+:<>?]+$
    OperationIdParameter:
      name: operationId
      in: path
      required: true
      description: Operation identifier within an API. Must be unique in the current
        API Management service instance.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
    ResolverIdParameter:
      name: resolverId
      in: path
      required: true
      description: Resolver identifier within a GraphQL API. Must be unique in the
        current API Management service instance.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
    PolicyExportFormat:
      name: format
      in: query
      required: false
      description: Policy Export Format.
      x-ms-enum:
        name: PolicyExportFormat
        modelAsString: true
        values:
        - value: xml
          description: The contents are inline and Content type is an XML document.
        - value: rawxml
          description: The contents are inline and Content type is a non XML encoded
            policy document.
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - xml
        - rawxml
        default: xml
    PolicyIdParameter:
      name: policyId
      in: path
      required: true
      description: The identifier of the Policy.
      x-ms-enum:
        modelAsString: true
        name: PolicyIdName
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - policy
    IdParameter:
      name: id
      in: path
      required: true
      description: A resource identifier.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: (^[\w]+$)|(^[\w][\w\-]+[\w]$)
    PolicyFragmentContentFormat:
      name: format
      in: query
      required: false
      description: Policy fragment content format.
      x-ms-enum:
        name: PolicyFragmentContentFormat
        modelAsString: true
        values:
        - value: xml
          description: The contents are inline and Content type is an XML document.
        - value: rawxml
          description: The contents are inline and Content type is a non XML encoded
            policy document.
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - xml
        - rawxml
        default: xml
    PolicyRestrictionIdParameter:
      name: policyRestrictionId
      in: path
      required: true
      description: Policy restrictions after an entity level
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
    PortalRevisionIdParameter:
      name: portalRevisionId
      in: path
      required: true
      description: Portal revision identifier. Must be unique in the current API Management
        service instance.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 256
    ProductIdParameter:
      name: productId
      in: path
      required: true
      description: Product identifier. Must be unique in the current API Management
        service instance.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 256
    NamedValueIdParameter:
      name: namedValueId
      in: path
      required: true
      description: Identifier of the NamedValue.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 256
        pattern: ^[^*#&+:<>?]+$
    QuotaCounterKeyParameter:
      name: quotaCounterKey
      in: path
      required: true
      description: "Quota counter key identifier.This is the result of expression\
        \ defined in counter-key attribute of the quota-by-key policy.For Example,\
        \ if you specify counter-key=\"boo\" in the policy, then it\u2019s accessible\
        \ by \"boo\" counter key. But if it\u2019s defined as counter-key=\"@(\"b\"\
        +\"a\")\" then it will be accessible by \"ba\" key"
      x-ms-parameter-location: method
      schema:
        type: string
    QuotaPeriodKeyParameter:
      name: quotaPeriodKey
      in: path
      required: true
      description: Quota period key identifier.
      x-ms-parameter-location: method
      schema:
        type: string
    ReleaseIdParameter:
      name: releaseId
      in: path
      required: true
      description: Release identifier within an API. Must be unique in the current
        API Management service instance.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
    ServiceNameParameter:
      name: serviceName
      in: path
      required: true
      description: The name of the API Management service.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 50
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
    SkipQueryParameter:
      name: $skip
      in: query
      required: false
      description: Number of records to skip.
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        minimum: 0
    SubscriptionEntityIdParameter:
      name: sid
      in: path
      required: true
      description: Subscription entity Identifier. The entity represents the association
        between a user and a product in API Management.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 256
        pattern: ^[^*#&+:<>?]+$
    TagIdParameter:
      name: tagId
      in: path
      required: true
      description: Tag identifier. Must be unique in the current API Management service
        instance.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
    TagDescriptionIdParameter:
      name: tagDescriptionId
      in: path
      required: true
      description: Tag description identifier. Used when creating tagDescription for
        API/Tag association. Based on API and Tag names.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
    TemplateNameParameter:
      name: templateName
      in: path
      required: true
      x-ms-enum:
        name: TemplateName
        modelAsString: true
      description: Email Template Name Identifier.
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - applicationApprovedNotificationMessage
        - accountClosedDeveloper
        - quotaLimitApproachingDeveloperNotificationMessage
        - newDeveloperNotificationMessage
        - emailChangeIdentityDefault
        - inviteUserNotificationMessage
        - newCommentNotificationMessage
        - confirmSignUpIdentityDefault
        - newIssueNotificationMessage
        - purchaseDeveloperNotificationMessage
        - passwordResetIdentityDefault
        - passwordResetByAdminNotificationMessage
        - rejectDeveloperNotificationMessage
        - requestDeveloperNotificationMessage
    TopQueryParameter:
      name: $top
      in: query
      required: false
      description: Number of records to return.
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        minimum: 1
    UserIdParameter:
      name: userId
      in: path
      required: true
      description: User identifier. Must be unique in the current API Management service
        instance.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
    GatewayIdParameter:
      name: gatewayId
      in: path
      required: true
      description: Gateway entity identifier. Must be unique in the current API Management
        service instance. Must not have value 'managed'
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
    GatewayHostnameConfigurationIdParameter:
      name: hcId
      in: path
      required: true
      description: Gateway hostname configuration identifier. Must be unique in the
        scope of parent Gateway entity.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
    ContentTypeIdParameter:
      name: contentTypeId
      in: path
      required: true
      description: Content type identifier.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
    ContentItemIdParameter:
      name: contentItemId
      in: path
      required: true
      description: Content item identifier.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
    SchemaIdParameter:
      name: schemaId
      in: path
      required: true
      description: Schema id identifier. Must be unique in the current API Management
        service instance.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
    PortalConfigIdParameter:
      name: portalConfigId
      in: path
      required: true
      description: Portal configuration identifier.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
    DocumentationIdParameter:
      name: documentationId
      in: path
      required: true
      description: Documentation identifier. Must be unique in the current API Management
        service instance.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 256
        pattern: ^[^*#&+:<>?]+$
    WorkspaceIdParameter:
      name: workspaceId
      in: path
      required: true
      description: Workspace identifier. Must be unique in the current API Management
        service instance.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
    ProductApiLinkIdParameter:
      name: apiLinkId
      in: path
      required: true
      description: Product-API link identifier. Must be unique in the current API
        Management service instance.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
    ProductGroupLinkIdParameter:
      name: groupLinkId
      in: path
      required: true
      description: Product-Group link identifier. Must be unique in the current API
        Management service instance.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
    TagApiLinkIdParameter:
      name: apiLinkId
      in: path
      required: true
      description: Tag-API link identifier. Must be unique in the current API Management
        service instance.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
    TagOperationLinkIdParameter:
      name: operationLinkId
      in: path
      required: true
      description: Tag-operation link identifier. Must be unique in the current API
        Management service instance.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
    TagProductLinkIdParameter:
      name: productLinkId
      in: path
      required: true
      description: Tag-product link identifier. Must be unique in the current API
        Management service instance.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ErrorFieldContract:
      type: object
      properties:
        code:
          type: string
          description: Property level error code.
        message:
          type: string
          description: Human-readable representation of property-level error.
        target:
          type: string
          description: Property name.
      description: Error Field contract.
    ErrorResponseBody:
      type: object
      properties:
        code:
          type: string
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
        message:
          type: string
          description: Human-readable representation of the error.
        details:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                description: Property level error code.
              message:
                type: string
                description: Human-readable representation of property-level error.
              target:
                type: string
                description: Property name.
            description: Error Field contract.
          x-ms-identifiers:
          - message
          - target
          description: The list of invalid fields send in request, in case of validation
            error.
      description: Error Body contract.
    RegionContract:
      type: object
      properties:
        name:
          type: string
          description: Region name.
          readOnly: true
        isMasterRegion:
          description: whether Region is the master region.
          type: boolean
        isDeleted:
          description: whether Region is deleted.
          type: boolean
      description: Region profile.
    RegionListResult:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: Region name.
                readOnly: true
              isMasterRegion:
                description: whether Region is the master region.
                type: boolean
              isDeleted:
                description: whether Region is deleted.
                type: boolean
            description: Region profile.
          x-ms-identifiers:
          - name
          description: Lists of Regions.
        count:
          type: integer
          format: int64
          description: Total record count number across all pages.
        nextLink:
          type: string
          description: Next page link if any.
      description: Lists Regions operation response details.
