openapi: 3.0.0
info:
  title: ApiManagementClient
  description: Use these REST APIs for performing operations on Workspace entity and
    its associated entities within your Azure API Management deployment.
  version: 2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces
  : get:
      tags:
      - Workspace
      operationId: Workspace_ListByService
      description: Lists all workspaces of the API Management service instance.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: $filter
        in: query
        required: false
        description: '|     Field     |     Usage     |     Supported operators     |     Supported
          functions     |</br>|-------------|-------------|-------------|-------------|</br>|
          displayName | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,
          endswith |</br></br>| description | filter | ge, le, eq, ne, gt, lt | substringof,
          contains, startswith, endswith |</br>'
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: Number of records to return.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $skip
        in: query
        required: false
        description: Number of records to skip.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Paged Result response of workspaces.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          x-ms-client-flatten: true
                          description: Workspace entity contract properties.
                          type: object
                          properties:
                            displayName:
                              type: string
                              description: Name of the workspace.
                            description:
                              type: string
                              description: Description of the workspace.
                          required:
                          - displayName
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: Page values.
                  count:
                    type: integer
                    format: int64
                    description: Total record count number across all pages.
                  nextLink:
                    type: string
                    description: Next page link if any.
                description: Paged workspace list representation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./definitions.json#/definitions/WorkspaceContract
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}
  : head:
      tags:
      - Workspace
      operationId: Workspace_GetEntityTag
      description: Gets the entity state (Etag) version of the workspace specified
        by its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: workspaceId
        in: path
        required: true
        description: Workspace identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[^*#&+:<>?]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Gets the entity tag of the workspace
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    get:
      tags:
      - Workspace
      operationId: Workspace_Get
      description: Gets the details of the workspace specified by its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: workspaceId
        in: path
        required: true
        description: Workspace identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[^*#&+:<>?]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The response body contains the specified workspace entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: Workspace entity contract properties.
                    type: object
                    properties:
                      displayName:
                        type: string
                        description: Name of the workspace.
                      description:
                        type: string
                        description: Description of the workspace.
                    required:
                    - displayName
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - Workspace
      operationId: Workspace_CreateOrUpdate
      description: Creates a new workspace or updates an existing one.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: workspaceId
        in: path
        required: true
        description: Workspace identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[^*#&+:<>?]+$
      - name: If-Match
        in: header
        required: false
        description: ETag of the Entity. Not required when creating an entity, but
          required when updating an entity.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                properties:
                  x-ms-client-flatten: true
                  description: Workspace entity contract properties.
                  type: object
                  properties:
                    displayName:
                      type: string
                      description: Name of the workspace.
                    description:
                      type: string
                      description: Description of the workspace.
                  required:
                  - displayName
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Create parameters.
        required: true
      responses:
        '200':
          description: Workspace successfully updated
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: Workspace entity contract properties.
                    type: object
                    properties:
                      displayName:
                        type: string
                        description: Name of the workspace.
                      description:
                        type: string
                        description: Description of the workspace.
                    required:
                    - displayName
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Workspace was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: Workspace entity contract properties.
                    type: object
                    properties:
                      displayName:
                        type: string
                        description: Name of the workspace.
                      description:
                        type: string
                        description: Description of the workspace.
                    required:
                    - displayName
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      tags:
      - Workspace
      operationId: Workspace_Update
      description: Updates the details of the workspace specified by its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: workspaceId
        in: path
        required: true
        description: Workspace identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[^*#&+:<>?]+$
      - name: If-Match
        in: header
        required: true
        description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                properties:
                  x-ms-client-flatten: true
                  description: Workspace entity contract properties.
                  type: object
                  properties:
                    displayName:
                      type: string
                      description: Name of the workspace.
                    description:
                      type: string
                      description: Description of the workspace.
                  required:
                  - displayName
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Workspace Update parameters.
        required: true
      responses:
        '200':
          description: Workspace successfully updated
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: Workspace entity contract properties.
                    type: object
                    properties:
                      displayName:
                        type: string
                        description: Name of the workspace.
                      description:
                        type: string
                        description: Description of the workspace.
                    required:
                    - displayName
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - Workspace
      operationId: Workspace_Delete
      description: Deletes the specified workspace.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: workspaceId
        in: path
        required: true
        description: Workspace identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[^*#&+:<>?]+$
      - name: If-Match
        in: header
        required: true
        description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The workspace was successfully deleted.
        '204':
          description: The workspace was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/policies
  : get:
      tags:
      - WorkspacePolicy
      operationId: WorkspacePolicy_ListByApi
      description: Get the policy configuration at the workspace level.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: workspaceId
        in: path
        required: true
        description: Workspace identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[^*#&+:<>?]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Workspace Policy Collection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the Policy.
                          type: object
                          properties:
                            value:
                              type: string
                              description: Contents of the Policy as defined by the
                                format.
                            format:
                              type: string
                              description: Format of the policyContent.
                              enum:
                              - xml
                              - xml-link
                              - rawxml
                              - rawxml-link
                              x-ms-enum:
                                name: PolicyContentFormat
                                modelAsString: true
                                values:
                                - value: xml
                                  description: The contents are inline and Content
                                    type is an XML document.
                                - value: xml-link
                                  description: The policy XML document is hosted on
                                    a HTTP endpoint accessible from the API Management
                                    service.
                                - value: rawxml
                                  description: The contents are inline and Content
                                    type is a non XML encoded policy document.
                                - value: rawxml-link
                                  description: The policy document is not XML encoded
                                    and is hosted on a HTTP endpoint accessible from
                                    the API Management service.
                              default: xml
                          required:
                          - value
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: Policy Contract value.
                  count:
                    type: integer
                    format: int64
                    description: Total record count number.
                  nextLink:
                    type: string
                    description: Next page link if any.
                description: The response of the list policy operation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/policies/{policyId}
  : head:
      tags:
      - WorkspacePolicy
      operationId: WorkspacePolicy_GetEntityTag
      description: Gets the entity state (Etag) version of the workspace policy specified
        by its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: workspaceId
        in: path
        required: true
        description: Workspace identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[^*#&+:<>?]+$
      - name: policyId
        in: path
        required: true
        description: The identifier of the Policy.
        x-ms-enum:
          modelAsString: true
          name: PolicyIdName
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - policy
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Specified workspace Policy entity exists and current entity
            state version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    get:
      tags:
      - WorkspacePolicy
      operationId: WorkspacePolicy_Get
      description: Get the policy configuration at the API level.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: workspaceId
        in: path
        required: true
        description: Workspace identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[^*#&+:<>?]+$
      - name: policyId
        in: path
        required: true
        description: The identifier of the Policy.
        x-ms-enum:
          modelAsString: true
          name: PolicyIdName
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - policy
      - name: format
        in: query
        required: false
        description: Policy Export Format.
        x-ms-enum:
          name: PolicyExportFormat
          modelAsString: true
          values:
          - value: xml
            description: The contents are inline and Content type is an XML document.
          - value: rawxml
            description: The contents are inline and Content type is a non XML encoded
              policy document.
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - xml
          - rawxml
          default: xml
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Workspace Policy information.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the Policy.
                    type: object
                    properties:
                      value:
                        type: string
                        description: Contents of the Policy as defined by the format.
                      format:
                        type: string
                        description: Format of the policyContent.
                        enum:
                        - xml
                        - xml-link
                        - rawxml
                        - rawxml-link
                        x-ms-enum:
                          name: PolicyContentFormat
                          modelAsString: true
                          values:
                          - value: xml
                            description: The contents are inline and Content type
                              is an XML document.
                          - value: xml-link
                            description: The policy XML document is hosted on a HTTP
                              endpoint accessible from the API Management service.
                          - value: rawxml
                            description: The contents are inline and Content type
                              is a non XML encoded policy document.
                          - value: rawxml-link
                            description: The policy document is not XML encoded and
                              is hosted on a HTTP endpoint accessible from the API
                              Management service.
                        default: xml
                    required:
                    - value
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - WorkspacePolicy
      operationId: WorkspacePolicy_CreateOrUpdate
      description: Creates or updates policy configuration for the workspace.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: workspaceId
        in: path
        required: true
        description: Workspace identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[^*#&+:<>?]+$
      - name: policyId
        in: path
        required: true
        description: The identifier of the Policy.
        x-ms-enum:
          modelAsString: true
          name: PolicyIdName
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - policy
      - name: If-Match
        in: header
        required: false
        description: ETag of the Entity. Not required when creating an entity, but
          required when updating an entity.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                properties:
                  x-ms-client-flatten: true
                  description: Properties of the Policy.
                  type: object
                  properties:
                    value:
                      type: string
                      description: Contents of the Policy as defined by the format.
                    format:
                      type: string
                      description: Format of the policyContent.
                      enum:
                      - xml
                      - xml-link
                      - rawxml
                      - rawxml-link
                      x-ms-enum:
                        name: PolicyContentFormat
                        modelAsString: true
                        values:
                        - value: xml
                          description: The contents are inline and Content type is
                            an XML document.
                        - value: xml-link
                          description: The policy XML document is hosted on a HTTP
                            endpoint accessible from the API Management service.
                        - value: rawxml
                          description: The contents are inline and Content type is
                            a non XML encoded policy document.
                        - value: rawxml-link
                          description: The policy document is not XML encoded and
                            is hosted on a HTTP endpoint accessible from the API Management
                            service.
                      default: xml
                  required:
                  - value
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: The policy contents to apply.
        required: true
      responses:
        '200':
          description: Workspace policy configuration of the tenant was successfully
            updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the Policy.
                    type: object
                    properties:
                      value:
                        type: string
                        description: Contents of the Policy as defined by the format.
                      format:
                        type: string
                        description: Format of the policyContent.
                        enum:
                        - xml
                        - xml-link
                        - rawxml
                        - rawxml-link
                        x-ms-enum:
                          name: PolicyContentFormat
                          modelAsString: true
                          values:
                          - value: xml
                            description: The contents are inline and Content type
                              is an XML document.
                          - value: xml-link
                            description: The policy XML document is hosted on a HTTP
                              endpoint accessible from the API Management service.
                          - value: rawxml
                            description: The contents are inline and Content type
                              is a non XML encoded policy document.
                          - value: rawxml-link
                            description: The policy document is not XML encoded and
                              is hosted on a HTTP endpoint accessible from the API
                              Management service.
                        default: xml
                    required:
                    - value
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Workspace policy configuration was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the Policy.
                    type: object
                    properties:
                      value:
                        type: string
                        description: Contents of the Policy as defined by the format.
                      format:
                        type: string
                        description: Format of the policyContent.
                        enum:
                        - xml
                        - xml-link
                        - rawxml
                        - rawxml-link
                        x-ms-enum:
                          name: PolicyContentFormat
                          modelAsString: true
                          values:
                          - value: xml
                            description: The contents are inline and Content type
                              is an XML document.
                          - value: xml-link
                            description: The policy XML document is hosted on a HTTP
                              endpoint accessible from the API Management service.
                          - value: rawxml
                            description: The contents are inline and Content type
                              is a non XML encoded policy document.
                          - value: rawxml-link
                            description: The policy document is not XML encoded and
                              is hosted on a HTTP endpoint accessible from the API
                              Management service.
                        default: xml
                    required:
                    - value
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - WorkspacePolicy
      operationId: WorkspacePolicy_Delete
      description: Deletes the policy configuration at the workspace.
      parameters:
      - name: resourceGroupName
        in: path
[...]
