openapi: 3.0.0
info:
  title: ApiManagementClient
  description: Use these REST APIs for getting the outbound network dependency of
    your Azure API Management deployment. When the API Management service is deployed
    inside a Virtual Network, it needs to have access to other Azure resources it
    depends on. This also gives details about the DNS Servers visible to Azure API
    Management deployment.
  version: 2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/outboundNetworkDependenciesEndpoints
  : get:
      tags:
      - OutboundNetworkDependenciesEndpoints
      operationId: OutboundNetworkDependenciesEndpoints_ListByService
      description: Gets the network endpoints of all outbound dependencies of a ApiManagement
        service.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of Outbound Environment Endpoints
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      description: Endpoints accessed for a common purpose that the
                        Api Management Service requires outbound network access to.
                      type: object
                      properties:
                        category:
                          description: The type of service accessed by the Api Management
                            Service, e.g., Azure Storage, Azure SQL Database, and
                            Azure Active Directory.
                          type: string
                        endpoints:
                          description: The endpoints that the Api Management Service
                            reaches the service at.
                          type: array
                          items:
                            description: A domain name that a service is reached at.
                            type: object
                            properties:
                              domainName:
                                description: The domain name of the dependency.
                                type: string
                              endpointDetails:
                                description: The Ports used when connecting to DomainName.
                                type: array
                                items:
                                  description: Current TCP connectivity information
                                    from the Api Management Service to a single endpoint.
                                  type: object
                                  properties:
                                    port:
                                      format: int32
                                      description: The port an endpoint is connected
                                        to.
                                      type: integer
                                    region:
                                      description: The region of the dependency.
                                      type: string
                                x-ms-identifiers:
                                - region
                                - port
                          x-ms-identifiers:
                          - domainName
                    x-ms-identifiers: []
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ServiceNameParameter:
      name: serviceName
      in: path
      required: true
      description: The name of the API Management service.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 50
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    OutboundEnvironmentEndpointList:
      description: Collection of Outbound Environment Endpoints
      required:
      - value
      type: object
      properties:
        value:
          description: Collection of resources.
          type: array
          items:
            description: Endpoints accessed for a common purpose that the Api Management
              Service requires outbound network access to.
            type: object
            properties:
              category:
                description: The type of service accessed by the Api Management Service,
                  e.g., Azure Storage, Azure SQL Database, and Azure Active Directory.
                type: string
              endpoints:
                description: The endpoints that the Api Management Service reaches
                  the service at.
                type: array
                items:
                  description: A domain name that a service is reached at.
                  type: object
                  properties:
                    domainName:
                      description: The domain name of the dependency.
                      type: string
                    endpointDetails:
                      description: The Ports used when connecting to DomainName.
                      type: array
                      items:
                        description: Current TCP connectivity information from the
                          Api Management Service to a single endpoint.
                        type: object
                        properties:
                          port:
                            format: int32
                            description: The port an endpoint is connected to.
                            type: integer
                          region:
                            description: The region of the dependency.
                            type: string
                      x-ms-identifiers:
                      - region
                      - port
                x-ms-identifiers:
                - domainName
          x-ms-identifiers: []
        nextLink:
          description: Link to next page of resources.
          type: string
          readOnly: true
    OutboundEnvironmentEndpoint:
      description: Endpoints accessed for a common purpose that the Api Management
        Service requires outbound network access to.
      type: object
      properties:
        category:
          description: The type of service accessed by the Api Management Service,
            e.g., Azure Storage, Azure SQL Database, and Azure Active Directory.
          type: string
        endpoints:
          description: The endpoints that the Api Management Service reaches the service
            at.
          type: array
          items:
            description: A domain name that a service is reached at.
            type: object
            properties:
              domainName:
                description: The domain name of the dependency.
                type: string
              endpointDetails:
                description: The Ports used when connecting to DomainName.
                type: array
                items:
                  description: Current TCP connectivity information from the Api Management
                    Service to a single endpoint.
                  type: object
                  properties:
                    port:
                      format: int32
                      description: The port an endpoint is connected to.
                      type: integer
                    region:
                      description: The region of the dependency.
                      type: string
                x-ms-identifiers:
                - region
                - port
          x-ms-identifiers:
          - domainName
    EndpointDependency:
      description: A domain name that a service is reached at.
      type: object
      properties:
        domainName:
          description: The domain name of the dependency.
          type: string
        endpointDetails:
          description: The Ports used when connecting to DomainName.
          type: array
          items:
            description: Current TCP connectivity information from the Api Management
              Service to a single endpoint.
            type: object
            properties:
              port:
                format: int32
                description: The port an endpoint is connected to.
                type: integer
              region:
                description: The region of the dependency.
                type: string
          x-ms-identifiers:
          - region
          - port
    EndpointDetail:
      description: Current TCP connectivity information from the Api Management Service
        to a single endpoint.
      type: object
      properties:
        port:
          format: int32
          description: The port an endpoint is connected to.
          type: integer
        region:
          description: The region of the dependency.
          type: string
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
