openapi: 3.0.0
info:
  title: ApiManagementClient
  description: Use these REST APIs for performing operations on API entity and their
    Operations associated with your Azure API Management deployment.
  version: 2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis
  : get:
      tags:
      - Api
      operationId: Api_ListByService
      description: Lists all APIs of the API Management service instance.
      externalDocs:
        url: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-create-apis
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: $filter
        in: query
        required: false
        description: '|     Field     |     Usage     |     Supported operators     |     Supported
          functions     |</br>|-------------|-------------|-------------|-------------|</br>|
          name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,
          endswith |</br>| displayName | filter | ge, le, eq, ne, gt, lt | substringof,
          contains, startswith, endswith |</br>| description | filter | ge, le, eq,
          ne, gt, lt | substringof, contains, startswith, endswith |</br>| serviceUrl
          | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith
          |</br>| path | filter | ge, le, eq, ne, gt, lt | substringof, contains,
          startswith, endswith |</br>| isCurrent | filter | eq, ne |  |</br>'
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: Number of records to return.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $skip
        in: query
        required: false
        description: Number of records to skip.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: tags
        in: query
        required: false
        description: Include tags in the response.
        schema:
          type: string
      - name: expandApiVersionSet
        in: query
        required: false
        description: Include full ApiVersionSet resource in response
        schema:
          type: boolean
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Paged Result response of Apis.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          type: object
                          properties:
                            description:
                              type: string
                              description: Description of the API. May include HTML
                                formatting tags.
                            authenticationSettings:
                              description: Collection of authentication settings included
                                into this API.
                              type: object
                              properties:
                                oAuth2:
                                  description: OAuth2 Authentication settings
                                  type: object
                                  properties:
                                    authorizationServerId:
                                      type: string
                                      description: OAuth authorization server identifier.
                                    scope:
                                      type: string
                                      description: operations scope.
                                openid:
                                  description: OpenID Connect Authentication Settings
                                  type: object
                                  properties:
                                    openidProviderId:
                                      type: string
                                      description: OAuth authorization server identifier.
                                    bearerTokenSendingMethods:
                                      description: How to send token to the server.
                                      type: array
                                      items:
                                        type: string
                                        description: Form of an authorization grant,
                                          which the client uses to request the access
                                          token.
                                        enum:
                                        - authorizationHeader
                                        - query
                                        x-ms-enum:
                                          modelAsString: true
                                          name: bearerTokenSendingMethods
                                          values:
                                          - value: authorizationHeader
                                            description: Access token will be transmitted
                                              in the Authorization header using Bearer
                                              schema
                                          - value: query
                                            description: Access token will be transmitted
                                              as query parameters.
                                oAuth2AuthenticationSettings:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      authorizationServerId:
                                        type: string
                                        description: OAuth authorization server identifier.
                                      scope:
                                        type: string
                                        description: operations scope.
                                    description: API OAuth2 Authentication settings
                                      details.
                                  x-ms-identifiers:
                                  - authorizationServerId
                                  description: Collection of OAuth2 authentication
                                    settings included into this API.
                                openidAuthenticationSettings:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      openidProviderId:
                                        type: string
                                        description: OAuth authorization server identifier.
                                      bearerTokenSendingMethods:
                                        description: How to send token to the server.
                                        type: array
                                        items:
                                          type: string
                                          description: Form of an authorization grant,
                                            which the client uses to request the access
                                            token.
                                          enum:
                                          - authorizationHeader
                                          - query
                                          x-ms-enum:
                                            modelAsString: true
                                            name: bearerTokenSendingMethods
                                            values:
                                            - value: authorizationHeader
                                              description: Access token will be transmitted
                                                in the Authorization header using
                                                Bearer schema
                                            - value: query
                                              description: Access token will be transmitted
                                                as query parameters.
                                    description: API OAuth2 Authentication settings
                                      details.
                                  x-ms-identifiers:
                                  - openidProviderId
                                  description: Collection of Open ID Connect authentication
                                    settings included into this API.
                            subscriptionKeyParameterNames:
                              description: Protocols over which API is made available.
                              type: object
                              properties:
                                header:
                                  type: string
                                  description: Subscription key header name.
                                query:
                                  type: string
                                  description: Subscription key query string parameter
                                    name.
                            type:
                              type: string
                              description: Type of API.
                              enum:
                              - http
                              - soap
                              - websocket
                              - graphql
                              - odata
                              - grpc
                              x-ms-client-name: ApiType
                              x-ms-enum:
                                name: ApiType
                                modelAsString: true
                            apiRevision:
                              type: string
                              description: Describes the revision of the API. If no
                                value is provided, default revision 1 is created
                              minLength: 1
                              maxLength: 100
                            apiVersion:
                              type: string
                              description: Indicates the version identifier of the
                                API if the API is versioned
                              maxLength: 100
                            isCurrent:
                              type: boolean
                              description: Indicates if API revision is current api
                                revision.
                            isOnline:
                              type: boolean
                              description: Indicates if API revision is accessible
                                via the gateway.
                              readOnly: true
                            apiRevisionDescription:
                              type: string
                              description: Description of the API Revision.
                              maxLength: 256
                            apiVersionDescription:
                              type: string
                              description: Description of the API Version.
                              maxLength: 256
                            apiVersionSetId:
                              type: string
                              description: A resource identifier for the related ApiVersionSet.
                            subscriptionRequired:
                              type: boolean
                              description: Specifies whether an API or Product subscription
                                is required for accessing the API.
                            termsOfServiceUrl:
                              type: string
                              description: ' A URL to the Terms of Service for the
                                API. MUST be in the format of a URL.'
                            contact:
                              description: Contact information for the API.
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: The identifying name of the contact
                                    person/organization
                                url:
                                  type: string
                                  description: The URL pointing to the contact information.
                                    MUST be in the format of a URL
                                email:
                                  type: string
                                  description: The email address of the contact person/organization.
                                    MUST be in the format of an email address
                            license:
                              description: License information for the API.
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: The license name used for the API
                                url:
                                  type: string
                                  description: A URL to the license used for the API.
                                    MUST be in the format of a URL
                            sourceApiId:
                              type: string
                              description: API identifier of the source API.
                            displayName:
                              type: string
                              description: API name. Must be 1 to 300 characters long.
                              minLength: 1
                              maxLength: 300
                            serviceUrl:
                              type: string
                              description: Absolute URL of the backend service implementing
                                this API. Cannot be more than 2000 characters long.
                              minLength: 0
                              maxLength: 2000
                            path:
                              type: string
                              description: Relative URL uniquely identifying this
                                API and all of its resource paths within the API Management
                                service instance. It is appended to the API endpoint
                                base URL specified during the service instance creation
                                to form a public URL for this API.
                              minLength: 0
                              maxLength: 400
                            protocols:
                              type: array
                              items:
                                type: string
                                enum:
                                - http
                                - https
                                - ws
                                - wss
                                x-ms-enum:
                                  name: Protocol
                                  modelAsString: true
                              description: Describes on which protocols the operations
                                in this API can be invoked.
                            apiVersionSet:
                              description: Version set details
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Identifier for existing API Version
                                    Set. Omit this value to create a new Version Set.
                                name:
                                  type: string
                                  description: The display Name of the API Version
                                    Set.
                                description:
                                  type: string
                                  description: Description of API Version Set.
                                versioningScheme:
                                  type: string
                                  description: An value that determines where the
                                    API Version identifier will be located in a HTTP
                                    request.
                                  enum:
                                  - Segment
                                  - Query
                                  - Header
                                  x-ms-enum:
                                    name: versioningScheme
                                    modelAsString: true
                                    values:
                                    - value: Segment
                                      description: The API Version is passed in a
                                        path segment.
                                    - value: Query
                                      description: The API Version is passed in a
                                        query parameter.
                                    - value: Header
                                      description: The API Version is passed in a
                                        HTTP header.
                                versionQueryName:
                                  type: string
                                  description: Name of query parameter that indicates
                                    the API Version if versioningScheme is set to
                                    `query`.
                                versionHeaderName:
                                  type: string
                                  description: Name of HTTP header parameter that
                                    indicates the API Version if versioningScheme
                                    is set to `header`.
                            provisioningState:
                              type: string
                              readOnly: true
                              description: The provisioning state
                          description: API base contract details.
                          required:
                          - path
                          x-ms-client-flatten: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: Page values.
                    readOnly: true
                  count:
                    type: integer
                    format: int64
                    description: Total record count number across all pages.
                  nextLink:
                    type: string
                    description: Next page link if any.
                    readOnly: true
                description: Paged API list representation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./definitions.json#/definitions/ApiContract
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}
  : head:
      tags:
      - Api
      operationId: Api_GetEntityTag
      description: Gets the entity state (Etag) version of the API specified by its
        identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: apiId
        in: path
        required: true
        description: API revision identifier. Must be unique in the current API Management
          service instance. Non-current revision has ;rev=n as a suffix where n is
          the revision number.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 256
          pattern: ^[^*#&+:<>?]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Specified API entity exists and current entity state version
            is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    get:
      tags:
      - Api
      operationId: Api_Get
      description: Gets the details of the API specified by its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: apiId
        in: path
        required: true
        description: API revision identifier. Must be unique in the current API Management
          service instance. Non-current revision has ;rev=n as a suffix where n is
          the revision number.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 256
          pattern: ^[^*#&+:<>?]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The response body contains the specified API entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      description:
                        type: string
                        description: Description of the API. May include HTML formatting
                          tags.
                      authenticationSettings:
                        description: Collection of authentication settings included
                          into this API.
                        type: object
                        properties:
                          oAuth2:
                            description: OAuth2 Authentication settings
                            type: object
                            properties:
                              authorizationServerId:
                                type: string
                                description: OAuth authorization server identifier.
                              scope:
                                type: string
                                description: operations scope.
                          openid:
                            description: OpenID Connect Authentication Settings
                            type: object
                            properties:
                              openidProviderId:
                                type: string
                                description: OAuth authorization server identifier.
                              bearerTokenSendingMethods:
                                description: How to send token to the server.
                                type: array
                                items:
                                  type: string
                                  description: Form of an authorization grant, which
                                    the client uses to request the access token.
                                  enum:
                                  - authorizationHeader
                                  - query
                                  x-ms-enum:
                                    modelAsString: true
                                    name: bearerTokenSendingMethods
                                    values:
                                    - value: authorizationHeader
                                      description: Access token will be transmitted
                                        in the Authorization header using Bearer schema
                                    - value: query
                                      description: Access token will be transmitted
                                        as query parameters.
                          oAuth2AuthenticationSettings:
                            type: array
                            items:
                              type: object
                              properties:
                                authorizationServerId:
                                  type: string
                                  description: OAuth authorization server identifier.
                                scope:
                                  type: string
                                  description: operations scope.
                              description: API OAuth2 Authentication settings details.
                            x-ms-identifiers:
                            - authorizationServerId
                            description: Collection of OAuth2 authentication settings
                              included into this API.
                          openidAuthenticationSettings:
                            type: array
                            items:
                              type: object
                              properties:
                                openidProviderId:
                                  type: string
                                  description: OAuth authorization server identifier.
                                bearerTokenSendingMethods:
                                  description: How to send token to the server.
                                  type: array
                                  items:
                                    type: string
                                    description: Form of an authorization grant, which
                                      the client uses to request the access token.
                                    enum:
                                    - authorizationHeader
                                    - query
                                    x-ms-enum:
                                      modelAsString: true
                                      name: bearerTokenSendingMethods
                                      values:
                                      - value: authorizationHeader
                                        description: Access token will be transmitted
                                          in the Authorization header using Bearer
                                          schema
                                      - value: query
                                        description: Access token will be transmitted
                                          as query parameters.
                              description: API OAuth2 Authentication settings details.
                            x-ms-identifiers:
                            - openidProviderId
                            description: Collection of Open ID Connect authentication
                              settings included into this API.
                      subscriptionKeyParameterNames:
                        description: Protocols over which API is made available.
                        type: object
                        properties:
                          header:
                            type: string
                            description: Subscription key header name.
                          query:
                            type: string
                            description: Subscription key query string parameter name.
                      type:
                        type: string
                        description: Type of API.
                        enum:
                        - http
                        - soap
                        - websocket
                        - graphql
                        - odata
                        - grpc
                        x-ms-client-name: ApiType
                        x-ms-enum:
                          name: ApiType
                          modelAsString: true
                      apiRevision:
                        type: string
                        description: Describes the revision of the API. If no value
                          is provided, default revision 1 is created
                        minLength: 1
                        maxLength: 100
                      apiVersion:
                        type: string
                        description: Indicates the version identifier of the API if
                          the API is versioned
                        maxLength: 100
                      isCurrent:
                        type: boolean
                        description: Indicates if API revision is current api revision.
                      isOnline:
                        type: boolean
                        description: Indicates if API revision is accessible via the
                          gateway.
                        readOnly: true
                      apiRevisionDescription:
                        type: string
                        description: Description of the API Revision.
                        maxLength: 256
                      apiVersionDescription:
                        type: string
                        description: Description of the API Version.
                        maxLength: 256
                      apiVersionSetId:
                        type: string
                        description: A resource identifier for the related ApiVersionSet.
                      subscriptionRequired:
                        type: boolean
                        description: Specifies whether an API or Product subscription
                          is required for accessing the API.
                      termsOfServiceUrl:
                        type: string
                        description: ' A URL to the Terms of Service for the API.
                          MUST be in the format of a URL.'
                      contact:
                        description: Contact information for the API.
                        type: object
                        properties:
                          name:
                            type: string
                            description: The identifying name of the contact person/organization
                          url:
                            type: string
                            description: The URL pointing to the contact information.
                              MUST be in the format of a URL
                          email:
                            type: string
                            description: The email address of the contact person/organization.
                              MUST be in the format of an email address
                      license:
                        description: License information for the API.
                        type: object
                        properties:
                          name:
                            type: string
                            description: The license name used for the API
                          url:
                            type: string
                            description: A URL to the license used for the API. MUST
                              be in the format of a URL
                      sourceApiId:
                        type: string
                        description: API identifier of the source API.
                      displayName:
                        type: string
                        description: API name. Must be 1 to 300 characters long.
                        minLength: 1
                        maxLength: 300
                      serviceUrl:
                        type: string
                        description: Absolute URL of the backend service implementing
                          this API. Cannot be more than 2000 characters long.
                        minLength: 0
                        maxLength: 2000
                      path:
                        type: string
                        description: Relative URL uniquely identifying this API and
                          all of its resource paths within the API Management service
                          instance. It is appended to the API endpoint base URL specified
                          during the service instance creation to form a public URL
                          for this API.
                        minLength: 0
                        maxLength: 400
                      protocols:
                        type: array
                        items:
                          type: string
                          enum:
                          - http
                          - https
                          - ws
                          - wss
                          x-ms-enum:
                            name: Protocol
                            modelAsString: true
                        description: Describes on which protocols the operations in
                          this API can be invoked.
                      apiVersionSet:
                        description: Version set details
                        type: object
                        properties:
                          id:
                            type: string
                            description: Identifier for existing API Version Set.
                              Omit this value to create a new Version Set.
                          name:
                            type: string
                            description: The display Name of the API Version Set.
                          description:
                            type: string
                            description: Description of API Version Set.
                          versioningScheme:
                            type: string
                            description: An value that determines where the API Version
                              identifier will be located in a HTTP request.
                            enum:
                            - Segment
                            - Query
                            - Header
                            x-ms-enum:
                              name: versioningScheme
                              modelAsString: true
                              values:
                              - value: Segment
                                description: The API Version is passed in a path segment.
                              - value: Query
                                description: The API Version is passed in a query
                                  parameter.
                              - value: Header
                                description: The API Version is passed in a HTTP header.
                          versionQueryName:
                            type: string
                            description: Name of query parameter that indicates the
                              API Version if versioningScheme is set to `query`.
                          versionHeaderName:
                            type: string
                            description: Name of HTTP header parameter that indicates
                              the API Version if versioningScheme is set to `header`.
                      provisioningState:
                        type: string
                        readOnly: true
                        description: The provisioning state
                    description: API base contract details.
                    required:
                    - path
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - Api
      operationId: Api_CreateOrUpdate
      description: Creates new or updates existing specified API of the API Management
        service instance.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: apiId
        in: path
        required: true
        description: API revision identifier. Must be unique in the current API Management
          service instance. Non-current revision has ;rev=n as a suffix where n is
          the revision number.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 256
          pattern: ^[^*#&+:<>?]+$
      - name: If-Match
        in: header
        required: false
        description: ETag of the Entity. Not required when creating an entity, but
          required when updating an entity.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  type: object
                  properties:
                    description:
                      type: string
                      description: Description of the API. May include HTML formatting
                        tags.
                    authenticationSettings:
                      description: Collection of authentication settings included
                        into this API.
                      type: object
                      properties:
                        oAuth2:
                          description: OAuth2 Authentication settings
                          type: object
                          properties:
                            authorizationServerId:
                              type: string
                              description: OAuth authorization server identifier.
                            scope:
                              type: string
                              description: operations scope.
                        openid:
                          description: OpenID Connect Authentication Settings
                          type: object
                          properties:
                            openidProviderId:
                              type: string
                              description: OAuth authorization server identifier.
                            bearerTokenSendingMethods:
                              description: How to send token to the server.
                              type: array
                              items:
                                type: string
                                description: Form of an authorization grant, which
                                  the client uses to request the access token.
                                enum:
                                - authorizationHeader
                                - query
                                x-ms-enum:
                                  modelAsString: true
                                  name: bearerTokenSendingMethods
                                  values:
                                  - value: authorizationHeader
                                    description: Access token will be transmitted
                                      in the Authorization header using Bearer schema
                                  - value: query
                                    description: Access token will be transmitted
                                      as query parameters.
                        oAuth2AuthenticationSettings:
                          type: array
                          items:
                            type: object
                            properties:
                              authorizationServerId:
                                type: string
                                description: OAuth authorization server identifier.
                              scope:
                                type: string
                                description: operations scope.
                            description: API OAuth2 Authentication settings details.
                          x-ms-identifiers:
                          - authorizationServerId
                          description: Collection of OAuth2 authentication settings
                            included into this API.
                        openidAuthenticationSettings:
                          type: array
                          items:
                            type: object
                            properties:
                              openidProviderId:
                                type: string
                                description: OAuth authorization server identifier.
                              bearerTokenSendingMethods:
                                description: How to send token to the server.
                                type: array
                                items:
                                  type: string
                                  description: Form of an authorization grant, which
                                    the client uses to request the access token.
                                  enum:
                                  - authorizationHeader
                                  - query
                                  x-ms-enum:
                                    modelAsString: true
                                    name: bearerTokenSendingMethods
                                    values:
                                    - value: authorizationHeader
                                      description: Access token will be transmitted
                                        in the Authorization header using Bearer schema
                                    - value: query
                                      description: Access token will be transmitted
                                        as query parameters.
                            description: API OAuth2 Authentication settings details.
                          x-ms-identifiers:
                          - openidProviderId
                          description: Collection of Open ID Connect authentication
                            settings included into this API.
                    subscriptionKeyParameterNames:
                      description: Protocols over which API is made available.
                      type: object
                      properties:
                        header:
                          type: string
                          description: Subscription key header name.
                        query:
                          type: string
                          description: Subscription key query string parameter name.
                    type:
                      type: string
                      description: Type of API.
                      enum:
                      - http
                      - soap
                      - websocket
                      - graphql
                      - odata
                      - grpc
                      x-ms-client-name: ApiType
                      x-ms-enum:
                        name: ApiType
                        modelAsString: true
                    apiRevision:
                      type: string
                      description: Describes the revision of the API. If no value
                        is provided, default revision 1 is created
                      minLength: 1
                      maxLength: 100
                    apiVersion:
                      type: string
                      description: Indicates the version identifier of the API if
                        the API is versioned
                      maxLength: 100
                    isCurrent:
                      type: boolean
                      description: Indicates if API revision is current api revision.
                    isOnline:
                      type: boolean
                      description: Indicates if API revision is accessible via the
                        gateway.
                      readOnly: true
                    apiRevisionDescription:
                      type: string
                      description: Description of the API Revision.
                      maxLength: 256
                    apiVersionDescription:
                      type: string
                      description: Description of the API Version.
                      maxLength: 256
                    apiVersionSetId:
                      type: string
                      description: A resource identifier for the related ApiVersionSet.
                    subscriptionRequired:
                      type: boolean
                      description: Specifies whether an API or Product subscription
                        is required for accessing the API.
                    termsOfServiceUrl:
                      type: string
                      description: ' A URL to the Terms of Service for the API. MUST
                        be in the format of a URL.'
                    contact:
                      description: Contact information for the API.
                      type: object
                      properties:
                        name:
                          type: string
                          description: The identifying name of the contact person/organization
                        url:
                          type: string
                          description: The URL pointing to the contact information.
                            MUST be in the format of a URL
                        email:
                          type: string
                          description: The email address of the contact person/organization.
                            MUST be in the format of an email address
                    license:
                      description: License information for the API.
                      type: object
                      properties:
                        name:
                          type: string
                          description: The license name used for the API
                        url:
                          type: string
                          description: A URL to the license used for the API. MUST
                            be in the format of a URL
                    sourceApiId:
                      type: string
                      description: API identifier of the source API.
                    displayName:
                      type: string
                      description: API name. Must be 1 to 300 characters long.
                      minLength: 1
                      maxLength: 300
                    serviceUrl:
                      type: string
                      description: Absolute URL of the backend service implementing
                        this API. Cannot be more than 2000 characters long.
                      minLength: 0
                      maxLength: 2000
                    path:
                      type: string
                      description: Relative URL uniquely identifying this API and
                        all of its resource paths within the API Management service
                        instance. It is appended to the API endpoint base URL specified
                        during the service instance creation to form a public URL
                        for this API.
                      minLength: 0
                      maxLength: 400
                    protocols:
                      type: array
                      items:
                        type: string
                        enum:
                        - http
                        - https
                        - ws
                        - wss
                        x-ms-enum:
                          name: Protocol
                          modelAsString: true
                      description: Describes on which protocols the operations in
                        this API can be invoked.
                    apiVersionSet:
                      description: Version set details
                      type: object
                      properties:
                        id:
                          type: string
                          description: Identifier for existing API Version Set. Omit
                            this value to create a new Version Set.
                        name:
                          type: string
                          description: The display Name of the API Version Set.
                        description:
                          type: string
                          description: Description of API Version Set.
                        versioningScheme:
                          type: string
                          description: An value that determines where the API Version
                            identifier will be located in a HTTP request.
                          enum:
                          - Segment
                          - Query
                          - Header
                          x-ms-enum:
                            name: versioningScheme
                            modelAsString: true
                            values:
                            - value: Segment
                              description: The API Version is passed in a path segment.
                            - value: Query
                              description: The API Version is passed in a query parameter.
                            - value: Header
                              description: The API Version is passed in a HTTP header.
                        versionQueryName:
                          type: string
                          description: Name of query parameter that indicates the
                            API Version if versioningScheme is set to `query`.
                        versionHeaderName:
                          type: string
                          description: Name of HTTP header parameter that indicates
                            the API Version if versioningScheme is set to `header`.
                    provisioningState:
                      type: string
                      readOnly: true
                      description: The provisioning state
                    value:
                      type: string
                      description: Content value when Importing an API.
                    format:
                      type: string
                      description: Format of the Content in which the API is getting
                        imported. New formats can be added in the future
                      enum:
                      - wadl-xml
                      - wadl-link-json
                      - swagger-json
                      - swagger-link-json
                      - wsdl
                      - wsdl-link
                      - openapi
                      - openapi+json
                      - openapi-link
                      - openapi+json-link
                      - graphql-link
                      - odata
                      - odata-link
                      - grpc
                      - grpc-link
                      x-ms-enum:
                        name: ContentFormat
                        modelAsString: true
                        values:
                        - value: wadl-xml
                          description: The contents are inline and Content type is
                            a WADL document.
                        - value: wadl-link-json
                          description: The WADL document is hosted on a publicly accessible
                            internet address.
                        - value: swagger-json
                          description: The contents are inline and Content Type is
                            a OpenAPI 2.0 JSON Document.
                        - value: swagger-link-json
                          description: The OpenAPI 2.0 JSON document is hosted on
                            a publicly accessible internet address.
                        - value: wsdl
                          description: The contents are inline and the document is
                            a WSDL/Soap document.
                        - value: wsdl-link
                          description: The WSDL document is hosted on a publicly accessible
                            internet address.
                        - value: openapi
                          description: The contents are inline and Content Type is
                            a OpenAPI 3.0 YAML Document.
                        - value: openapi+json
                          description: The contents are inline and Content Type is
                            a OpenAPI 3.0 JSON Document.
                        - value: openapi-link
                          description: The OpenAPI 3.0 YAML document is hosted on
                            a publicly accessible internet address.
                        - value: openapi+json-link
                          description: The OpenAPI 3.0 JSON document is hosted on
                            a publicly accessible internet address.
                        - value: graphql-link
                          description: The GraphQL API endpoint hosted on a publicly
                            accessible internet address.
                        - value: odata
                          description: The contents are inline and Content Type is
                            a OData XML Document.
                        - value: odata-link
                          description: The OData metadata document hosted on a publicly
                            accessible internet address.
                        - value: grpc
                          description: The contents are inline and Content Type is
                            a gRPC protobuf file.
                        - value: grpc-link
                          description: The gRPC protobuf file is hosted on a publicly
                            accessible internet address.
                    wsdlSelector:
                      type: object
                      description: Criteria to limit import of WSDL to a subset of
                        the document.
                      properties:
                        wsdlServiceName:
                          type: string
                          description: Name of service to import from WSDL
                        wsdlEndpointName:
                          type: string
                          description: Name of endpoint(port) to import from WSDL
                    apiType:
                      type: string
                      description: "Type of API to create. \n * `http` creates a REST\
                        \ API \n * `soap` creates a SOAP pass-through API  \n * `websocket`\
                        \ creates websocket API \n * `graphql` creates GraphQL API.\
                        \ \n New types can be added in the future."
                      enum:
                      - http
                      - soap
                      - websocket
                      - graphql
                      - odata
                      - grpc
                      x-ms-client-name: SoapApiType
                      x-ms-enum:
                        name: SoapApiType
                        modelAsString: true
                        values:
                        - value: http
                          description: Imports a SOAP API having a RESTful front end.
                          name: SoapToRest
                        - value: soap
                          description: Imports the SOAP API having a SOAP front end.
                          name: SoapPassThrough
                        - value: websocket
                          description: Imports the API having a Websocket front end.
                          name: WebSocket
                        - value: graphql
                          description: Imports the API having a GraphQL front end.
                          name: GraphQL
                        - value: odata
                          description: Imports the API having a OData front end.
                          name: OData
                        - value: grpc
                          description: Imports the API having a gRPC front end.
                          name: gRPC
                    translateRequiredQueryParameters:
                      type: string
                      description: 'Strategy of translating required query parameters
                        to template ones. By default has value ''template''. Possible
                        values: ''template'', ''query'''
                      enum:
                      - template
                      - query
                      x-ms-client-name: TranslateRequiredQueryParametersConduct
                      x-ms-enum:
                        name: TranslateRequiredQueryParametersConduct
                        modelAsString: true
                        values:
                        - value: template
                          description: Translates required query parameters to template
                            ones. Is a default value
                          name: Template
                        - value: query
                          description: Leaves required query parameters as they are
                            (no translation done).
                          name: Query
                  required:
                  - path
                  description: API base contract details.
                  x-ms-client-flatten: true
              description: API Create or Update Parameters.
        description: Create or update parameters.
        required: true
      responses:
        '200':
          description: API was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
            location:
              description: Location header contains the URL where the status of the
                long running operation can be checked
              schema:
                type: string
            Azure-AsyncOperation:
              description: Azure-AsyncOperation header contains the URL where the
                status of the long running operation can be checked
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      description:
                        type: string
                        description: Description of the API. May include HTML formatting
                          tags.
                      authenticationSettings:
                        description: Collection of authentication settings included
                          into this API.
                        type: object
                        properties:
                          oAuth2:
                            description: OAuth2 Authentication settings
                            type: object
                            properties:
                              authorizationServerId:
                                type: string
                                description: OAuth authorization server identifier.
                              scope:
                                type: string
                                description: operations scope.
                          openid:
                            description: OpenID Connect Authentication Settings
                            type: object
                            properties:
                              openidProviderId:
                                type: string
                                description: OAuth authorization server identifier.
                              bearerTokenSendingMethods:
                                description: How to send token to the server.
                                type: array
                                items:
                                  type: string
                                  description: Form of an authorization grant, which
                                    the client uses to request the access token.
                                  enum:
                                  - authorizationHeader
                                  - query
                                  x-ms-enum:
                                    modelAsString: true
                                    name: bearerTokenSendingMethods
                                    values:
                                    - value: authorizationHeader
                                      description: Access token will be transmitted
                                        in the Authorization header using Bearer schema
                                    - value: query
                                      description: Access token will be transmitted
                                        as query parameters.
                          oAuth2AuthenticationSettings:
                            type: array
                            items:
                              type: object
                              properties:
                                authorizationServerId:
                                  type: string
                                  description: OAuth authorization server identifier.
                                scope:
                                  type: string
                                  description: operations scope.
                              description: API OAuth2 Authentication settings details.
                            x-ms-identifiers:
                            - authorizationServerId
                            description: Collection of OAuth2 authentication settings
                              included into this API.
                          openidAuthenticationSettings:
                            type: array
                            items:
                              type: object
                              properties:
                                openidProviderId:
                                  type: string
                                  description: OAuth authorization server identifier.
                                bearerTokenSendingMethods:
                                  description: How to send token to the server.
                                  type: array
                                  items:
                                    type: string
                                    description: Form of an authorization grant, which
                                      the client uses to request the access token.
                                    enum:
                                    - authorizationHeader
                                    - query
                                    x-ms-enum:
                                      modelAsString: true
                                      name: bearerTokenSendingMethods
                                      values:
                                      - value: authorizationHeader
                                        description: Access token will be transmitted
                                          in the Authorization header using Bearer
                                          schema
                                      - value: query
                                        description: Access token will be transmitted
                                          as query parameters.
                              description: API OAuth2 Authentication settings details.
                            x-ms-identifiers:
                            - openidProviderId
                            description: Collection of Open ID Connect authentication
                              settings included into this API.
                      subscriptionKeyParameterNames:
                        description: Protocols over which API is made available.
                        type: object
                        properties:
                          header:
                            type: string
                            description: Subscription key header name.
                          query:
                            type: string
                            description: Subscription key query string parameter name.
                      type:
                        type: string
                        description: Type of API.
                        enum:
                        - http
                        - soap
                        - websocket
                        - graphql
                        - odata
                        - grpc
                        x-ms-client-name: ApiType
                        x-ms-enum:
                          name: ApiType
                          modelAsString: true
                      apiRevision:
                        type: string
                        description: Describes the revision of the API. If no value
                          is provided, default revision 1 is created
                        minLength: 1
                        maxLength: 100
                      apiVersion:
                        type: string
                        description: Indicates the version identifier of the API if
                          the API is versioned
                        maxLength: 100
                      isCurrent:
                        type: boolean
                        description: Indicates if API revision is current api revision.
                      isOnline:
                        type: boolean
                        description: Indicates if API revision is accessible via the
                          gateway.
                        readOnly: true
                      apiRevisionDescription:
                        type: string
                        description: Description of the API Revision.
                        maxLength: 256
                      apiVersionDescription:
                        type: string
                        description: Description of the API Version.
                        maxLength: 256
                      apiVersionSetId:
                        type: string
                        description: A resource identifier for the related ApiVersionSet.
                      subscriptionRequired:
                        type: boolean
                        description: Specifies whether an API or Product subscription
                          is required for accessing the API.
                      termsOfServiceUrl:
                        type: string
                        description: ' A URL to the Terms of Service for the API.
                          MUST be in the format of a URL.'
                      contact:
                        description: Contact information for the API.
                        type: object
                        properties:
                          name:
                            type: string
                            description: The identifying name of the contact person/organization
                          url:
                            type: string
                            description: The URL pointing to the contact information.
                              MUST be in the format of a URL
                          email:
                            type: string
                            description: The email address of the contact person/organization.
                              MUST be in the format of an email address
                      license:
                        description: License information for the API.
                        type: object
                        properties:
                          name:
                            type: string
                            description: The license name used for the API
                          url:
                            type: string
                            description: A URL to the license used for the API. MUST
                              be in the format of a URL
                      sourceApiId:
                        type: string
                        description: API identifier of the source API.
                      displayName:
                        type: string
                        description: API name. Must be 1 to 300 characters long.
                        minLength: 1
                        maxLength: 300
                      serviceUrl:
                        type: string
                        description: Absolute URL of the backend service implementing
                          this API. Cannot be more than 2000 characters long.
                        minLength: 0
                        maxLength: 2000
                      path:
                        type: string
                        description: Relative URL uniquely identifying this API and
                          all of its resource paths within the API Management service
                          instance. It is appended to the API endpoint base URL specified
                          during the service instance creation to form a public URL
                          for this API.
                        minLength: 0
                        maxLength: 400
                      protocols:
                        type: array
                        items:
                          type: string
                          enum:
                          - http
                          - https
                          - ws
                          - wss
                          x-ms-enum:
                            name: Protocol
                            modelAsString: true
                        description: Describes on which protocols the operations in
                          this API can be invoked.
                      apiVersionSet:
                        description: Version set details
                        type: object
                        properties:
                          id:
                            type: string
                            description: Identifier for existing API Version Set.
                              Omit this value to create a new Version Set.
                          name:
                            type: string
                            description: The display Name of the API Version Set.
                          description:
                            type: string
                            description: Description of API Version Set.
                          versioningScheme:
                            type: string
                            description: An value that determines where the API Version
                              identifier will be located in a HTTP request.
                            enum:
                            - Segment
                            - Query
                            - Header
                            x-ms-enum:
                              name: versioningScheme
                              modelAsString: true
                              values:
                              - value: Segment
                                description: The API Version is passed in a path segment.
                              - value: Query
                                description: The API Version is passed in a query
                                  parameter.
                              - value: Header
                                description: The API Version is passed in a HTTP header.
                          versionQueryName:
                            type: string
                            description: Name of query parameter that indicates the
                              API Version if versioningScheme is set to `query`.
                          versionHeaderName:
                            type: string
                            description: Name of HTTP header parameter that indicates
                              the API Version if versioningScheme is set to `header`.
                      provisioningState:
                        type: string
                        readOnly: true
                        description: The provisioning state
                    description: API base contract details.
                    required:
                    - path
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: API was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
            location:
              description: Location header contains the URL where the status of the
                long running operation can be checked
              schema:
                type: string
            Azure-AsyncOperation:
              description: Azure-AsyncOperation header contains the URL where the
                status of the long running operation can be checked
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      description:
                        type: string
                        description: Description of the API. May include HTML formatting
                          tags.
                      authenticationSettings:
                        description: Collection of authentication settings included
                          into this API.
                        type: object
                        properties:
                          oAuth2:
                            description: OAuth2 Authentication settings
                            type: object
                            properties:
                              authorizationServerId:
                                type: string
                                description: OAuth authorization server identifier.
                              scope:
                                type: string
                                description: operations scope.
                          openid:
                            description: OpenID Connect Authentication Settings
                            type: object
                            properties:
                              openidProviderId:
                                type: string
                                description: OAuth authorization server identifier.
                              bearerTokenSendingMethods:
                                description: How to send token to the server.
                                type: array
                                items:
                                  type: string
                                  description: Form of an authorization grant, which
                                    the client uses to request the access token.
                                  enum:
                                  - authorizationHeader
                                  - query
                                  x-ms-enum:
                                    modelAsString: true
                                    name: bearerTokenSendingMethods
                                    values:
                                    - value: authorizationHeader
                                      description: Access token will be transmitted
                                        in the Authorization header using Bearer schema
                                    - value: query
                                      description: Access token will be transmitted
                                        as query parameters.
                          oAuth2AuthenticationSettings:
                            type: array
                            items:
                              type: object
                              properties:
                                authorizationServerId:
                                  type: string
                                  description: OAuth authorization server identifier.
                                scope:
                                  type: string
                                  description: operations scope.
                              description: API OAuth2 Authentication settings details.
                            x-ms-identifiers:
                            - authorizationServerId
                            description: Collection of OAuth2 authentication settings
[...]
