openapi: 3.0.0
info:
  title: ApiManagementClient
  description: Use these REST APIs for performing operations on the ApiVersionSet
    entity associated with your Azure API Management deployment. Using this entity
    you create and manage API Version Sets that are used to group APIs for consistent
    versioning.
  version: 2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apiVersionSets
  : get:
      tags:
      - ApiVersionSet
      operationId: ApiVersionSet_ListByService
      description: Lists a collection of API Version Sets in the specified service
        instance.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: $filter
        in: query
        required: false
        description: '|     Field     |     Usage     |     Supported operators     |     Supported
          functions     |</br>|-------------|-------------|-------------|-------------|</br>'
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: Number of records to return.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $skip
        in: query
        required: false
        description: Number of records to skip.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Lists a collection of Api Version Set entities.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          type: object
                          properties:
                            description:
                              type: string
                              description: Description of API Version Set.
                            versionQueryName:
                              type: string
                              description: Name of query parameter that indicates
                                the API Version if versioningScheme is set to `query`.
                              minLength: 1
                              maxLength: 100
                            versionHeaderName:
                              type: string
                              description: Name of HTTP header parameter that indicates
                                the API Version if versioningScheme is set to `header`.
                              minLength: 1
                              maxLength: 100
                            displayName:
                              type: string
                              description: Name of API Version Set
                              minLength: 1
                              maxLength: 100
                            versioningScheme:
                              type: string
                              description: An value that determines where the API
                                Version identifier will be located in a HTTP request.
                              enum:
                              - Segment
                              - Query
                              - Header
                              x-ms-enum:
                                name: versioningScheme
                                modelAsString: true
                                values:
                                - value: Segment
                                  description: The API Version is passed in a path
                                    segment.
                                - value: Query
                                  description: The API Version is passed in a query
                                    parameter.
                                - value: Header
                                  description: The API Version is passed in a HTTP
                                    header.
                          description: API Version set base parameters
                          required:
                          - displayName
                          - versioningScheme
                          x-ms-client-flatten: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: Page values.
                  count:
                    type: integer
                    format: int64
                    description: Total record count number across all pages.
                  nextLink:
                    type: string
                    description: Next page link if any.
                description: Paged API Version Set list representation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./definitions.json#/definitions/ApiVersionSetContract
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apiVersionSets/{versionSetId}
  : head:
      tags:
      - ApiVersionSet
      operationId: ApiVersionSet_GetEntityTag
      description: Gets the entity state (Etag) version of the Api Version Set specified
        by its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: versionSetId
        in: path
        required: true
        description: Api Version Set identifier. Must be unique in the current API
          Management service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[^*#&+:<>?]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Specified Api Version Set entity exists and current entity
            state version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    get:
      tags:
      - ApiVersionSet
      operationId: ApiVersionSet_Get
      description: Gets the details of the Api Version Set specified by its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: versionSetId
        in: path
        required: true
        description: Api Version Set identifier. Must be unique in the current API
          Management service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[^*#&+:<>?]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Gets the specified Api Version Set entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      description:
                        type: string
                        description: Description of API Version Set.
                      versionQueryName:
                        type: string
                        description: Name of query parameter that indicates the API
                          Version if versioningScheme is set to `query`.
                        minLength: 1
                        maxLength: 100
                      versionHeaderName:
                        type: string
                        description: Name of HTTP header parameter that indicates
                          the API Version if versioningScheme is set to `header`.
                        minLength: 1
                        maxLength: 100
                      displayName:
                        type: string
                        description: Name of API Version Set
                        minLength: 1
                        maxLength: 100
                      versioningScheme:
                        type: string
                        description: An value that determines where the API Version
                          identifier will be located in a HTTP request.
                        enum:
                        - Segment
                        - Query
                        - Header
                        x-ms-enum:
                          name: versioningScheme
                          modelAsString: true
                          values:
                          - value: Segment
                            description: The API Version is passed in a path segment.
                          - value: Query
                            description: The API Version is passed in a query parameter.
                          - value: Header
                            description: The API Version is passed in a HTTP header.
                    description: API Version set base parameters
                    required:
                    - displayName
                    - versioningScheme
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - ApiVersionSet
      operationId: ApiVersionSet_CreateOrUpdate
      description: Creates or Updates a Api Version Set.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: versionSetId
        in: path
        required: true
        description: Api Version Set identifier. Must be unique in the current API
          Management service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[^*#&+:<>?]+$
      - name: If-Match
        in: header
        required: false
        description: ETag of the Entity. Not required when creating an entity, but
          required when updating an entity.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                properties:
                  type: object
                  properties:
                    description:
                      type: string
                      description: Description of API Version Set.
                    versionQueryName:
                      type: string
                      description: Name of query parameter that indicates the API
                        Version if versioningScheme is set to `query`.
                      minLength: 1
                      maxLength: 100
                    versionHeaderName:
                      type: string
                      description: Name of HTTP header parameter that indicates the
                        API Version if versioningScheme is set to `header`.
                      minLength: 1
                      maxLength: 100
                    displayName:
                      type: string
                      description: Name of API Version Set
                      minLength: 1
                      maxLength: 100
                    versioningScheme:
                      type: string
                      description: An value that determines where the API Version
                        identifier will be located in a HTTP request.
                      enum:
                      - Segment
                      - Query
                      - Header
                      x-ms-enum:
                        name: versioningScheme
                        modelAsString: true
                        values:
                        - value: Segment
                          description: The API Version is passed in a path segment.
                        - value: Query
                          description: The API Version is passed in a query parameter.
                        - value: Header
                          description: The API Version is passed in a HTTP header.
                  description: API Version set base parameters
                  required:
                  - displayName
                  - versioningScheme
                  x-ms-client-flatten: true
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Create or update parameters.
        required: true
      responses:
        '200':
          description: Api Version Set was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      description:
                        type: string
                        description: Description of API Version Set.
                      versionQueryName:
                        type: string
                        description: Name of query parameter that indicates the API
                          Version if versioningScheme is set to `query`.
                        minLength: 1
                        maxLength: 100
                      versionHeaderName:
                        type: string
                        description: Name of HTTP header parameter that indicates
                          the API Version if versioningScheme is set to `header`.
                        minLength: 1
                        maxLength: 100
                      displayName:
                        type: string
                        description: Name of API Version Set
                        minLength: 1
                        maxLength: 100
                      versioningScheme:
                        type: string
                        description: An value that determines where the API Version
                          identifier will be located in a HTTP request.
                        enum:
                        - Segment
                        - Query
                        - Header
                        x-ms-enum:
                          name: versioningScheme
                          modelAsString: true
                          values:
                          - value: Segment
                            description: The API Version is passed in a path segment.
                          - value: Query
                            description: The API Version is passed in a query parameter.
                          - value: Header
                            description: The API Version is passed in a HTTP header.
                    description: API Version set base parameters
                    required:
                    - displayName
                    - versioningScheme
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Api Version Set was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      description:
                        type: string
                        description: Description of API Version Set.
                      versionQueryName:
                        type: string
                        description: Name of query parameter that indicates the API
                          Version if versioningScheme is set to `query`.
                        minLength: 1
                        maxLength: 100
                      versionHeaderName:
                        type: string
                        description: Name of HTTP header parameter that indicates
                          the API Version if versioningScheme is set to `header`.
                        minLength: 1
                        maxLength: 100
                      displayName:
                        type: string
                        description: Name of API Version Set
                        minLength: 1
                        maxLength: 100
                      versioningScheme:
                        type: string
                        description: An value that determines where the API Version
                          identifier will be located in a HTTP request.
                        enum:
                        - Segment
                        - Query
                        - Header
                        x-ms-enum:
                          name: versioningScheme
                          modelAsString: true
                          values:
                          - value: Segment
                            description: The API Version is passed in a path segment.
                          - value: Query
                            description: The API Version is passed in a query parameter.
                          - value: Header
                            description: The API Version is passed in a HTTP header.
                    description: API Version set base parameters
                    required:
                    - displayName
                    - versioningScheme
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      tags:
      - ApiVersionSet
      operationId: ApiVersionSet_Update
      description: Updates the details of the Api VersionSet specified by its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: versionSetId
        in: path
        required: true
        description: Api Version Set identifier. Must be unique in the current API
          Management service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[^*#&+:<>?]+$
      - name: If-Match
        in: header
        required: true
        description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  type: object
                  properties:
                    description:
                      type: string
                      description: Description of API Version Set.
                    versionQueryName:
                      type: string
                      description: Name of query parameter that indicates the API
                        Version if versioningScheme is set to `query`.
                      minLength: 1
                      maxLength: 100
                    versionHeaderName:
                      type: string
                      description: Name of HTTP header parameter that indicates the
                        API Version if versioningScheme is set to `header`.
                      minLength: 1
                      maxLength: 100
                    displayName:
                      type: string
                      description: Name of API Version Set
                      minLength: 1
                      maxLength: 100
                    versioningScheme:
                      type: string
                      description: An value that determines where the API Version
                        identifier will be located in a HTTP request.
                      enum:
                      - Segment
                      - Query
                      - Header
                      x-ms-enum:
                        name: versioningScheme
                        modelAsString: true
                        values:
                        - value: Segment
                          description: The API Version is passed in a path segment.
                        - value: Query
                          description: The API Version is passed in a query parameter.
                        - value: Header
                          description: The API Version is passed in a HTTP header.
                  description: API Version set base parameters
                  x-ms-client-flatten: true
              description: Parameters to update or create an API Version Set Contract.
        description: Update parameters.
        required: true
      responses:
        '200':
          description: Api Version Set was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      description:
                        type: string
                        description: Description of API Version Set.
                      versionQueryName:
                        type: string
                        description: Name of query parameter that indicates the API
                          Version if versioningScheme is set to `query`.
                        minLength: 1
                        maxLength: 100
                      versionHeaderName:
                        type: string
                        description: Name of HTTP header parameter that indicates
                          the API Version if versioningScheme is set to `header`.
                        minLength: 1
                        maxLength: 100
                      displayName:
                        type: string
                        description: Name of API Version Set
                        minLength: 1
                        maxLength: 100
                      versioningScheme:
                        type: string
                        description: An value that determines where the API Version
                          identifier will be located in a HTTP request.
                        enum:
                        - Segment
                        - Query
                        - Header
                        x-ms-enum:
                          name: versioningScheme
                          modelAsString: true
                          values:
                          - value: Segment
                            description: The API Version is passed in a path segment.
                          - value: Query
                            description: The API Version is passed in a query parameter.
                          - value: Header
                            description: The API Version is passed in a HTTP header.
                    description: API Version set base parameters
                    required:
                    - displayName
                    - versioningScheme
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - ApiVersionSets
      operationId: ApiVersionSet_Delete
      description: Deletes specific Api Version Set.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: versionSetId
        in: path
        required: true
        description: Api Version Set identifier. Must be unique in the current API
          Management service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[^*#&+:<>?]+$
      - name: If-Match
        in: header
        required: true
        description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The ApiVersion Set details were successfully deleted.
        '204':
          description: The ApiVersion Set details were successfully deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ServiceNameParameter:
      name: serviceName
      in: path
      required: true
      description: The name of the API Management service.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 50
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
    TopQueryParameter:
      name: $top
      in: query
      required: false
      description: Number of records to return.
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        minimum: 1
    SkipQueryParameter:
      name: $skip
      in: query
      required: false
      description: Number of records to skip.
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        minimum: 0
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    ApiVersionSetIdParameter:
      name: versionSetId
      in: path
      required: true
      description: Api Version Set identifier. Must be unique in the current API Management
        service instance.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: ^[^*#&+:<>?]+$
    IfMatchOptionalParameter:
      name: If-Match
      in: header
      required: false
      description: ETag of the Entity. Not required when creating an entity, but required
        when updating an entity.
      x-ms-parameter-location: method
      schema:
        type: string
    IfMatchRequiredParameter:
      name: If-Match
      in: header
      required: true
      description: ETag of the Entity. ETag should match the current entity state
        from the header response of the GET request or it should be * for unconditional
        update.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    ApiVersionSetEntityBase:
      type: object
      properties:
        description:
          type: string
          description: Description of API Version Set.
        versionQueryName:
          type: string
          description: Name of query parameter that indicates the API Version if versioningScheme
            is set to `query`.
          minLength: 1
          maxLength: 100
        versionHeaderName:
          type: string
          description: Name of HTTP header parameter that indicates the API Version
            if versioningScheme is set to `header`.
          minLength: 1
          maxLength: 100
      description: API Version set base parameters
    ApiVersionSetContractProperties:
      type: object
      properties:
        description:
          type: string
          description: Description of API Version Set.
        versionQueryName:
          type: string
          description: Name of query parameter that indicates the API Version if versioningScheme
            is set to `query`.
          minLength: 1
          maxLength: 100
        versionHeaderName:
          type: string
          description: Name of HTTP header parameter that indicates the API Version
            if versioningScheme is set to `header`.
          minLength: 1
          maxLength: 100
        displayName:
          type: string
          description: Name of API Version Set
          minLength: 1
          maxLength: 100
        versioningScheme:
          type: string
          description: An value that determines where the API Version identifier will
            be located in a HTTP request.
          enum:
          - Segment
          - Query
          - Header
          x-ms-enum:
            name: versioningScheme
            modelAsString: true
            values:
            - value: Segment
              description: The API Version is passed in a path segment.
            - value: Query
              description: The API Version is passed in a query parameter.
            - value: Header
              description: The API Version is passed in a HTTP header.
      description: API Version set base parameters
      required:
      - displayName
      - versioningScheme
    ApiVersionSetContract:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
        properties:
          type: object
          properties:
            description:
              type: string
              description: Description of API Version Set.
            versionQueryName:
              type: string
              description: Name of query parameter that indicates the API Version
                if versioningScheme is set to `query`.
              minLength: 1
              maxLength: 100
            versionHeaderName:
              type: string
              description: Name of HTTP header parameter that indicates the API Version
                if versioningScheme is set to `header`.
              minLength: 1
              maxLength: 100
            displayName:
              type: string
              description: Name of API Version Set
              minLength: 1
              maxLength: 100
            versioningScheme:
              type: string
              description: An value that determines where the API Version identifier
                will be located in a HTTP request.
              enum:
              - Segment
              - Query
              - Header
              x-ms-enum:
                name: versioningScheme
                modelAsString: true
                values:
                - value: Segment
                  description: The API Version is passed in a path segment.
                - value: Query
                  description: The API Version is passed in a query parameter.
                - value: Header
                  description: The API Version is passed in a HTTP header.
          description: API Version set base parameters
          required:
          - displayName
          - versioningScheme
          x-ms-client-flatten: true
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    ApiVersionSetCollection:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
              properties:
                type: object
                properties:
                  description:
                    type: string
                    description: Description of API Version Set.
                  versionQueryName:
                    type: string
                    description: Name of query parameter that indicates the API Version
                      if versioningScheme is set to `query`.
                    minLength: 1
                    maxLength: 100
                  versionHeaderName:
                    type: string
                    description: Name of HTTP header parameter that indicates the
                      API Version if versioningScheme is set to `header`.
                    minLength: 1
                    maxLength: 100
                  displayName:
                    type: string
                    description: Name of API Version Set
                    minLength: 1
                    maxLength: 100
                  versioningScheme:
                    type: string
                    description: An value that determines where the API Version identifier
                      will be located in a HTTP request.
                    enum:
                    - Segment
                    - Query
                    - Header
                    x-ms-enum:
                      name: versioningScheme
                      modelAsString: true
                      values:
                      - value: Segment
                        description: The API Version is passed in a path segment.
                      - value: Query
                        description: The API Version is passed in a query parameter.
                      - value: Header
                        description: The API Version is passed in a HTTP header.
                description: API Version set base parameters
                required:
                - displayName
                - versioningScheme
                x-ms-client-flatten: true
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
          description: Page values.
        count:
          type: integer
          format: int64
          description: Total record count number across all pages.
        nextLink:
          type: string
          description: Next page link if any.
      description: Paged API Version Set list representation.
    ApiVersionSetUpdateParametersProperties:
      type: object
      properties:
        description:
          type: string
          description: Description of API Version Set.
        versionQueryName:
          type: string
          description: Name of query parameter that indicates the API Version if versioningScheme
            is set to `query`.
          minLength: 1
          maxLength: 100
        versionHeaderName:
          type: string
          description: Name of HTTP header parameter that indicates the API Version
            if versioningScheme is set to `header`.
          minLength: 1
          maxLength: 100
        displayName:
          type: string
          description: Name of API Version Set
          minLength: 1
          maxLength: 100
        versioningScheme:
          type: string
          description: An value that determines where the API Version identifier will
            be located in a HTTP request.
          enum:
          - Segment
          - Query
          - Header
          x-ms-enum:
            name: versioningScheme
            modelAsString: true
            values:
            - value: Segment
              description: The API Version is passed in a path segment.
            - value: Query
              description: The API Version is passed in a query parameter.
            - value: Header
              description: The API Version is passed in a HTTP header.
      description: API Version set base parameters
    ApiVersionSetUpdateParameters:
      type: object
      properties:
        properties:
          type: object
          properties:
            description:
              type: string
              description: Description of API Version Set.
            versionQueryName:
              type: string
              description: Name of query parameter that indicates the API Version
                if versioningScheme is set to `query`.
              minLength: 1
              maxLength: 100
            versionHeaderName:
              type: string
              description: Name of HTTP header parameter that indicates the API Version
                if versioningScheme is set to `header`.
              minLength: 1
              maxLength: 100
            displayName:
              type: string
              description: Name of API Version Set
              minLength: 1
              maxLength: 100
            versioningScheme:
              type: string
              description: An value that determines where the API Version identifier
                will be located in a HTTP request.
              enum:
              - Segment
              - Query
              - Header
              x-ms-enum:
                name: versioningScheme
                modelAsString: true
                values:
                - value: Segment
                  description: The API Version is passed in a path segment.
                - value: Query
                  description: The API Version is passed in a query parameter.
                - value: Header
                  description: The API Version is passed in a HTTP header.
          description: API Version set base parameters
          x-ms-client-flatten: true
      description: Parameters to update or create an API Version Set Contract.
