openapi: 3.0.0
info:
  title: ApiManagementClient
  description: Use these REST APIs for performing operations on Backend entity in
    Azure API Management deployment. The Backend entity in API Management represents
    a backend service that is configured to skip certification chain validation when
    using a self-signed certificate to test mutual certificate authentication.
  version: 2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/backends
  : get:
      tags:
      - Backend
      operationId: WorkspaceBackend_ListByWorkspace
      description: Lists a collection of backends in the specified workspace.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: workspaceId
        in: path
        required: true
        description: Workspace identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[^*#&+:<>?]+$
      - name: $filter
        in: query
        required: false
        description: '|     Field     |     Usage     |     Supported operators     |     Supported
          functions     |</br>|-------------|-------------|-------------|-------------|</br>|
          name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,
          endswith |</br>| title | filter | ge, le, eq, ne, gt, lt | substringof,
          contains, startswith, endswith |</br>| url | filter | ge, le, eq, ne, gt,
          lt | substringof, contains, startswith, endswith |</br>'
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: Number of records to return.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $skip
        in: query
        required: false
        description: Number of records to skip.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Lists a collection of Backend entities.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          type: object
                          properties:
                            title:
                              type: string
                              description: Backend Title.
                              minLength: 1
                              maxLength: 300
                            description:
                              type: string
                              description: Backend Description.
                              minLength: 1
                              maxLength: 2000
                            resourceId:
                              type: string
                              description: Management Uri of the Resource in External
                                System. This URL can be the Arm Resource Id of Logic
                                Apps, Function Apps or API Apps.
                              minLength: 1
                              maxLength: 2000
                            properties:
                              description: Backend Properties contract
                              type: object
                              properties:
                                serviceFabricCluster:
                                  description: Backend Service Fabric Cluster Properties
                                  type: object
                                  properties:
                                    clientCertificateId:
                                      description: The client certificate id for the
                                        management endpoint.
                                      type: string
                                    clientCertificatethumbprint:
                                      description: The client certificate thumbprint
                                        for the management endpoint. Will be ignored
                                        if certificatesIds are provided
                                      type: string
                                    maxPartitionResolutionRetries:
                                      description: Maximum number of retries while
                                        attempting resolve the partition.
                                      format: int32
                                      type: integer
                                    managementEndpoints:
                                      type: array
                                      items:
                                        type: string
                                      description: The cluster management endpoint.
                                    serverCertificateThumbprints:
                                      type: array
                                      items:
                                        type: string
                                      description: Thumbprints of certificates cluster
                                        management service uses for tls communication
                                    serverX509Names:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          name:
                                            description: Common Name of the Certificate.
                                            type: string
                                          issuerCertificateThumbprint:
                                            description: Thumbprint for the Issuer
                                              of the Certificate.
                                            type: string
                                        externalDocs:
                                          url: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-windows-cluster-x509-security
                                        description: Properties of server X509Names.
                                      x-ms-identifiers:
                                      - name
                                      description: Server X509 Certificate Names Collection
                                  required:
                                  - managementEndpoints
                            credentials:
                              description: Backend Credentials Contract Properties
                              type: object
                              properties:
                                certificateIds:
                                  type: array
                                  items:
                                    type: string
                                  maxItems: 32
                                  description: List of Client Certificate Ids.
                                certificate:
                                  type: array
                                  items:
                                    type: string
                                  maxItems: 32
                                  description: List of Client Certificate Thumbprints.
                                    Will be ignored if certificatesIds are provided.
                                query:
                                  type: object
                                  additionalProperties:
                                    type: array
                                    items:
                                      type: string
                                  description: Query Parameter description.
                                header:
                                  type: object
                                  additionalProperties:
                                    type: array
                                    items:
                                      type: string
                                  description: Header Parameter description.
                                authorization:
                                  description: Authorization header authentication
                                  type: object
                                  properties:
                                    scheme:
                                      type: string
                                      description: Authentication Scheme name.
                                      minLength: 1
                                      maxLength: 100
                                    parameter:
                                      type: string
                                      description: Authentication Parameter value.
                                      minLength: 1
                                      maxLength: 300
                                  required:
                                  - scheme
                                  - parameter
                            proxy:
                              description: Backend gateway Contract Properties
                              type: object
                              externalDocs:
                                url: https://msdn.microsoft.com/en-us/library/system.net.webproxy(v=vs.110).aspx
                                description: Backend entity uses these details to
                                  connect to a WebProxy.
                              properties:
                                url:
                                  type: string
                                  description: WebProxy Server AbsoluteUri property
                                    which includes the entire URI stored in the Uri
                                    instance, including all fragments and query strings.
                                  minLength: 1
                                  maxLength: 2000
                                username:
                                  type: string
                                  description: Username to connect to the WebProxy
                                    server
                                password:
                                  type: string
                                  description: Password to connect to the WebProxy
                                    Server
                              required:
                              - url
                            tls:
                              description: Backend TLS Properties
                              type: object
                              properties:
                                validateCertificateChain:
                                  description: Flag indicating whether SSL certificate
                                    chain validation should be done when using self-signed
                                    certificates for this backend host.
                                  type: boolean
                                  default: true
                                validateCertificateName:
                                  description: Flag indicating whether SSL certificate
                                    name validation should be done when using self-signed
                                    certificates for this backend host.
                                  type: boolean
                                  default: true
                            circuitBreaker:
                              description: Backend Circuit Breaker Configuration
                              type: object
                              properties:
                                rules:
                                  type: array
                                  items:
                                    type: object
                                    description: Rule configuration to trip the backend.
                                    properties:
                                      name:
                                        type: string
                                        description: The rule name.
                                      failureCondition:
                                        description: The conditions for tripping the
                                          circuit breaker.
                                        type: object
                                        properties:
                                          count:
                                            type: integer
                                            format: int64
                                            description: The threshold for opening
                                              the circuit.
                                          percentage:
                                            type: integer
                                            format: int64
                                            description: The threshold for opening
                                              the circuit.
                                          interval:
                                            type: string
                                            format: duration
                                            description: The interval during which
                                              the failures are counted.
                                          statusCodeRanges:
                                            type: array
                                            items:
                                              type: object
                                              description: The failure http status
                                                code range
                                              properties:
                                                min:
                                                  type: integer
                                                  format: int32
                                                  description: The minimum http status
                                                    code.
                                                  minimum: 200
                                                  maximum: 599
                                                max:
                                                  type: integer
                                                  format: int32
                                                  description: The maximum http status
                                                    code.
                                                  minimum: 200
                                                  maximum: 599
                                            maxItems: 10
                                            description: The status code ranges which
                                              are considered as failure.
                                            x-ms-identifiers: []
                                          errorReasons:
                                            type: array
                                            items:
                                              type: string
                                              maxLength: 200
                                            maxItems: 10
                                            description: The error reasons which are
                                              considered as failure.
                                            x-ms-identifiers: []
                                      tripDuration:
                                        type: string
                                        format: duration
                                        description: The duration for which the circuit
                                          will be tripped.
                                      acceptRetryAfter:
                                        type: boolean
                                        description: flag to accept Retry-After header
                                          from the backend.
                                  maxItems: 15
                                  description: The rules for tripping the backend.
                                  x-ms-identifiers: []
                            pool:
                              type: object
                              properties:
                                services:
                                  type: array
                                  description: The list of backend entities belonging
                                    to a pool.
                                  items:
                                    type: object
                                    description: Backend pool service information
                                    properties:
                                      id:
                                        type: string
                                        format: arm-id
                                        description: The unique ARM id of the backend
                                          entity. The ARM id should refer to an already
                                          existing backend entity.
                                      weight:
                                        type: integer
                                        format: int32
                                        description: The weight of the backend entity
                                          in the backend pool. Must be between 0 and
                                          100. It can be also null if the value not
                                          specified.
                                        minimum: 0
                                        maximum: 100
                                      priority:
                                        type: integer
                                        format: int32
                                        description: The priority of the backend entity
                                          in the backend pool. Must be between 0 and
                                          100. It can be also null if the value not
                                          specified.
                                        minimum: 0
                                        maximum: 100
                                    required:
                                    - id
                                  minItems: 1
                                  x-ms-identifiers: []
                              description: Backend pool information
                            type:
                              type: string
                              enum:
                              - Single
                              - Pool
                              x-ms-enum:
                                name: BackendType
                                modelAsString: true
                                values:
                                - value: Single
                                  description: supports single backend
                                - value: Pool
                                  description: supports pool backend
                              description: Type of the backend. A backend can be either
                                Single or Pool.
                            url:
                              type: string
                              description: Runtime Url of the Backend.
                              minLength: 1
                              maxLength: 2000
                            protocol:
                              type: string
                              enum:
                              - http
                              - soap
                              x-ms-enum:
                                name: BackendProtocol
                                modelAsString: true
                                values:
                                - value: http
                                  description: The Backend is a RESTful service.
                                - value: soap
                                  description: The Backend is a SOAP service.
                              description: Backend communication protocol.
                          description: Backend entity base Parameter set.
                          required:
                          - url
                          - protocol
                          x-ms-client-flatten: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: Backend values.
                  count:
                    type: integer
                    format: int64
                    description: Total record count number across all pages.
                  nextLink:
                    type: string
                    description: Next page link if any.
                description: Paged Backend list representation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./definitions.json#/definitions/BackendContract
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/backends/{backendId}
  : head:
      tags:
      - Backend
      operationId: WorkspaceBackend_GetEntityTag
      description: Gets the entity state (Etag) version of the backend specified by
        its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: workspaceId
        in: path
        required: true
        description: Workspace identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[^*#&+:<>?]+$
      - name: backendId
        in: path
        required: true
        description: Identifier of the Backend entity. Must be unique in the current
          API Management service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Specified backend entity exists and current entity state version
            is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    get:
      tags:
      - Backend
      operationId: WorkspaceBackend_Get
      description: Gets the details of the backend specified by its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: workspaceId
        in: path
        required: true
        description: Workspace identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[^*#&+:<>?]+$
      - name: backendId
        in: path
        required: true
        description: Identifier of the Backend entity. Must be unique in the current
          API Management service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The response body contains the specified Backend entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      title:
                        type: string
                        description: Backend Title.
                        minLength: 1
                        maxLength: 300
                      description:
                        type: string
                        description: Backend Description.
                        minLength: 1
                        maxLength: 2000
                      resourceId:
                        type: string
                        description: Management Uri of the Resource in External System.
                          This URL can be the Arm Resource Id of Logic Apps, Function
                          Apps or API Apps.
                        minLength: 1
                        maxLength: 2000
                      properties:
                        description: Backend Properties contract
                        type: object
                        properties:
                          serviceFabricCluster:
                            description: Backend Service Fabric Cluster Properties
                            type: object
                            properties:
                              clientCertificateId:
                                description: The client certificate id for the management
                                  endpoint.
                                type: string
                              clientCertificatethumbprint:
                                description: The client certificate thumbprint for
                                  the management endpoint. Will be ignored if certificatesIds
                                  are provided
                                type: string
                              maxPartitionResolutionRetries:
                                description: Maximum number of retries while attempting
                                  resolve the partition.
                                format: int32
                                type: integer
                              managementEndpoints:
                                type: array
                                items:
                                  type: string
                                description: The cluster management endpoint.
                              serverCertificateThumbprints:
                                type: array
                                items:
                                  type: string
                                description: Thumbprints of certificates cluster management
                                  service uses for tls communication
                              serverX509Names:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      description: Common Name of the Certificate.
                                      type: string
                                    issuerCertificateThumbprint:
                                      description: Thumbprint for the Issuer of the
                                        Certificate.
                                      type: string
                                  externalDocs:
                                    url: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-windows-cluster-x509-security
                                  description: Properties of server X509Names.
                                x-ms-identifiers:
                                - name
                                description: Server X509 Certificate Names Collection
                            required:
                            - managementEndpoints
                      credentials:
                        description: Backend Credentials Contract Properties
                        type: object
                        properties:
                          certificateIds:
                            type: array
                            items:
                              type: string
                            maxItems: 32
                            description: List of Client Certificate Ids.
                          certificate:
                            type: array
                            items:
                              type: string
                            maxItems: 32
                            description: List of Client Certificate Thumbprints. Will
                              be ignored if certificatesIds are provided.
                          query:
                            type: object
                            additionalProperties:
                              type: array
                              items:
                                type: string
                            description: Query Parameter description.
                          header:
                            type: object
                            additionalProperties:
                              type: array
                              items:
                                type: string
                            description: Header Parameter description.
                          authorization:
                            description: Authorization header authentication
                            type: object
                            properties:
                              scheme:
                                type: string
                                description: Authentication Scheme name.
                                minLength: 1
                                maxLength: 100
                              parameter:
                                type: string
                                description: Authentication Parameter value.
                                minLength: 1
                                maxLength: 300
                            required:
                            - scheme
                            - parameter
                      proxy:
                        description: Backend gateway Contract Properties
                        type: object
                        externalDocs:
                          url: https://msdn.microsoft.com/en-us/library/system.net.webproxy(v=vs.110).aspx
                          description: Backend entity uses these details to connect
                            to a WebProxy.
                        properties:
                          url:
                            type: string
                            description: WebProxy Server AbsoluteUri property which
                              includes the entire URI stored in the Uri instance,
                              including all fragments and query strings.
                            minLength: 1
                            maxLength: 2000
                          username:
                            type: string
                            description: Username to connect to the WebProxy server
                          password:
                            type: string
                            description: Password to connect to the WebProxy Server
                        required:
                        - url
                      tls:
                        description: Backend TLS Properties
                        type: object
                        properties:
                          validateCertificateChain:
                            description: Flag indicating whether SSL certificate chain
                              validation should be done when using self-signed certificates
                              for this backend host.
                            type: boolean
                            default: true
                          validateCertificateName:
                            description: Flag indicating whether SSL certificate name
                              validation should be done when using self-signed certificates
                              for this backend host.
                            type: boolean
                            default: true
                      circuitBreaker:
                        description: Backend Circuit Breaker Configuration
                        type: object
                        properties:
                          rules:
                            type: array
                            items:
                              type: object
                              description: Rule configuration to trip the backend.
                              properties:
                                name:
                                  type: string
                                  description: The rule name.
                                failureCondition:
                                  description: The conditions for tripping the circuit
                                    breaker.
                                  type: object
                                  properties:
                                    count:
                                      type: integer
                                      format: int64
                                      description: The threshold for opening the circuit.
                                    percentage:
                                      type: integer
                                      format: int64
                                      description: The threshold for opening the circuit.
                                    interval:
                                      type: string
                                      format: duration
                                      description: The interval during which the failures
                                        are counted.
                                    statusCodeRanges:
                                      type: array
                                      items:
                                        type: object
                                        description: The failure http status code
                                          range
                                        properties:
                                          min:
                                            type: integer
                                            format: int32
                                            description: The minimum http status code.
                                            minimum: 200
                                            maximum: 599
                                          max:
                                            type: integer
                                            format: int32
                                            description: The maximum http status code.
                                            minimum: 200
                                            maximum: 599
                                      maxItems: 10
                                      description: The status code ranges which are
                                        considered as failure.
                                      x-ms-identifiers: []
                                    errorReasons:
                                      type: array
                                      items:
                                        type: string
                                        maxLength: 200
                                      maxItems: 10
                                      description: The error reasons which are considered
                                        as failure.
                                      x-ms-identifiers: []
                                tripDuration:
                                  type: string
                                  format: duration
                                  description: The duration for which the circuit
                                    will be tripped.
                                acceptRetryAfter:
                                  type: boolean
                                  description: flag to accept Retry-After header from
                                    the backend.
                            maxItems: 15
                            description: The rules for tripping the backend.
                            x-ms-identifiers: []
                      pool:
                        type: object
                        properties:
                          services:
                            type: array
                            description: The list of backend entities belonging to
                              a pool.
                            items:
                              type: object
                              description: Backend pool service information
                              properties:
                                id:
                                  type: string
                                  format: arm-id
                                  description: The unique ARM id of the backend entity.
                                    The ARM id should refer to an already existing
                                    backend entity.
                                weight:
                                  type: integer
                                  format: int32
                                  description: The weight of the backend entity in
                                    the backend pool. Must be between 0 and 100. It
                                    can be also null if the value not specified.
                                  minimum: 0
                                  maximum: 100
                                priority:
                                  type: integer
                                  format: int32
                                  description: The priority of the backend entity
                                    in the backend pool. Must be between 0 and 100.
                                    It can be also null if the value not specified.
                                  minimum: 0
                                  maximum: 100
                              required:
                              - id
                            minItems: 1
                            x-ms-identifiers: []
                        description: Backend pool information
                      type:
                        type: string
                        enum:
                        - Single
                        - Pool
                        x-ms-enum:
                          name: BackendType
                          modelAsString: true
                          values:
                          - value: Single
                            description: supports single backend
                          - value: Pool
                            description: supports pool backend
                        description: Type of the backend. A backend can be either
                          Single or Pool.
                      url:
                        type: string
                        description: Runtime Url of the Backend.
                        minLength: 1
                        maxLength: 2000
                      protocol:
                        type: string
                        enum:
                        - http
                        - soap
                        x-ms-enum:
                          name: BackendProtocol
                          modelAsString: true
                          values:
                          - value: http
                            description: The Backend is a RESTful service.
                          - value: soap
                            description: The Backend is a SOAP service.
                        description: Backend communication protocol.
                    description: Backend entity base Parameter set.
                    required:
                    - url
                    - protocol
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - Backend
      operationId: WorkspaceBackend_CreateOrUpdate
      description: Creates or Updates a backend.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: workspaceId
        in: path
        required: true
        description: Workspace identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[^*#&+:<>?]+$
      - name: backendId
        in: path
        required: true
        description: Identifier of the Backend entity. Must be unique in the current
          API Management service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
      - name: If-Match
        in: header
        required: false
        description: ETag of the Entity. Not required when creating an entity, but
          required when updating an entity.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                properties:
                  type: object
                  properties:
                    title:
                      type: string
                      description: Backend Title.
                      minLength: 1
                      maxLength: 300
                    description:
                      type: string
                      description: Backend Description.
                      minLength: 1
                      maxLength: 2000
                    resourceId:
                      type: string
                      description: Management Uri of the Resource in External System.
                        This URL can be the Arm Resource Id of Logic Apps, Function
                        Apps or API Apps.
                      minLength: 1
                      maxLength: 2000
                    properties:
                      description: Backend Properties contract
                      type: object
                      properties:
                        serviceFabricCluster:
                          description: Backend Service Fabric Cluster Properties
                          type: object
                          properties:
                            clientCertificateId:
                              description: The client certificate id for the management
                                endpoint.
                              type: string
                            clientCertificatethumbprint:
                              description: The client certificate thumbprint for the
                                management endpoint. Will be ignored if certificatesIds
                                are provided
                              type: string
                            maxPartitionResolutionRetries:
                              description: Maximum number of retries while attempting
                                resolve the partition.
                              format: int32
                              type: integer
                            managementEndpoints:
                              type: array
                              items:
                                type: string
                              description: The cluster management endpoint.
                            serverCertificateThumbprints:
                              type: array
                              items:
                                type: string
                              description: Thumbprints of certificates cluster management
                                service uses for tls communication
                            serverX509Names:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    description: Common Name of the Certificate.
                                    type: string
                                  issuerCertificateThumbprint:
                                    description: Thumbprint for the Issuer of the
                                      Certificate.
                                    type: string
                                externalDocs:
                                  url: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-windows-cluster-x509-security
                                description: Properties of server X509Names.
                              x-ms-identifiers:
                              - name
                              description: Server X509 Certificate Names Collection
                          required:
                          - managementEndpoints
                    credentials:
                      description: Backend Credentials Contract Properties
                      type: object
                      properties:
                        certificateIds:
                          type: array
                          items:
                            type: string
                          maxItems: 32
                          description: List of Client Certificate Ids.
                        certificate:
                          type: array
                          items:
                            type: string
                          maxItems: 32
                          description: List of Client Certificate Thumbprints. Will
                            be ignored if certificatesIds are provided.
                        query:
                          type: object
                          additionalProperties:
                            type: array
                            items:
                              type: string
                          description: Query Parameter description.
                        header:
                          type: object
                          additionalProperties:
                            type: array
                            items:
                              type: string
                          description: Header Parameter description.
                        authorization:
                          description: Authorization header authentication
                          type: object
                          properties:
                            scheme:
                              type: string
                              description: Authentication Scheme name.
                              minLength: 1
                              maxLength: 100
                            parameter:
                              type: string
                              description: Authentication Parameter value.
                              minLength: 1
                              maxLength: 300
                          required:
                          - scheme
                          - parameter
                    proxy:
                      description: Backend gateway Contract Properties
                      type: object
                      externalDocs:
                        url: https://msdn.microsoft.com/en-us/library/system.net.webproxy(v=vs.110).aspx
                        description: Backend entity uses these details to connect
                          to a WebProxy.
                      properties:
                        url:
                          type: string
                          description: WebProxy Server AbsoluteUri property which
                            includes the entire URI stored in the Uri instance, including
                            all fragments and query strings.
                          minLength: 1
                          maxLength: 2000
                        username:
                          type: string
                          description: Username to connect to the WebProxy server
                        password:
                          type: string
                          description: Password to connect to the WebProxy Server
                      required:
                      - url
                    tls:
                      description: Backend TLS Properties
                      type: object
                      properties:
                        validateCertificateChain:
                          description: Flag indicating whether SSL certificate chain
                            validation should be done when using self-signed certificates
                            for this backend host.
                          type: boolean
                          default: true
                        validateCertificateName:
                          description: Flag indicating whether SSL certificate name
                            validation should be done when using self-signed certificates
                            for this backend host.
                          type: boolean
                          default: true
                    circuitBreaker:
                      description: Backend Circuit Breaker Configuration
                      type: object
                      properties:
                        rules:
                          type: array
                          items:
                            type: object
                            description: Rule configuration to trip the backend.
                            properties:
                              name:
                                type: string
                                description: The rule name.
                              failureCondition:
                                description: The conditions for tripping the circuit
                                  breaker.
                                type: object
                                properties:
                                  count:
                                    type: integer
                                    format: int64
                                    description: The threshold for opening the circuit.
                                  percentage:
                                    type: integer
                                    format: int64
                                    description: The threshold for opening the circuit.
                                  interval:
                                    type: string
                                    format: duration
                                    description: The interval during which the failures
                                      are counted.
                                  statusCodeRanges:
                                    type: array
                                    items:
                                      type: object
                                      description: The failure http status code range
                                      properties:
                                        min:
                                          type: integer
                                          format: int32
                                          description: The minimum http status code.
                                          minimum: 200
                                          maximum: 599
                                        max:
                                          type: integer
                                          format: int32
                                          description: The maximum http status code.
                                          minimum: 200
                                          maximum: 599
                                    maxItems: 10
                                    description: The status code ranges which are
                                      considered as failure.
                                    x-ms-identifiers: []
                                  errorReasons:
                                    type: array
                                    items:
                                      type: string
                                      maxLength: 200
                                    maxItems: 10
                                    description: The error reasons which are considered
                                      as failure.
                                    x-ms-identifiers: []
                              tripDuration:
                                type: string
                                format: duration
                                description: The duration for which the circuit will
                                  be tripped.
                              acceptRetryAfter:
                                type: boolean
                                description: flag to accept Retry-After header from
                                  the backend.
                          maxItems: 15
                          description: The rules for tripping the backend.
                          x-ms-identifiers: []
                    pool:
                      type: object
                      properties:
                        services:
                          type: array
                          description: The list of backend entities belonging to a
                            pool.
                          items:
                            type: object
                            description: Backend pool service information
                            properties:
                              id:
                                type: string
                                format: arm-id
                                description: The unique ARM id of the backend entity.
                                  The ARM id should refer to an already existing backend
                                  entity.
                              weight:
                                type: integer
                                format: int32
                                description: The weight of the backend entity in the
                                  backend pool. Must be between 0 and 100. It can
                                  be also null if the value not specified.
                                minimum: 0
                                maximum: 100
                              priority:
                                type: integer
                                format: int32
                                description: The priority of the backend entity in
                                  the backend pool. Must be between 0 and 100. It
                                  can be also null if the value not specified.
                                minimum: 0
                                maximum: 100
                            required:
                            - id
                          minItems: 1
                          x-ms-identifiers: []
                      description: Backend pool information
                    type:
                      type: string
                      enum:
                      - Single
                      - Pool
                      x-ms-enum:
                        name: BackendType
                        modelAsString: true
                        values:
                        - value: Single
                          description: supports single backend
                        - value: Pool
                          description: supports pool backend
                      description: Type of the backend. A backend can be either Single
                        or Pool.
                    url:
                      type: string
                      description: Runtime Url of the Backend.
                      minLength: 1
                      maxLength: 2000
                    protocol:
                      type: string
                      enum:
                      - http
                      - soap
                      x-ms-enum:
                        name: BackendProtocol
                        modelAsString: true
                        values:
                        - value: http
                          description: The Backend is a RESTful service.
                        - value: soap
                          description: The Backend is a SOAP service.
                      description: Backend communication protocol.
                  description: Backend entity base Parameter set.
                  required:
                  - url
                  - protocol
                  x-ms-client-flatten: true
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Create parameters.
        required: true
      responses:
        '200':
          description: The existing backend was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      title:
                        type: string
                        description: Backend Title.
                        minLength: 1
                        maxLength: 300
                      description:
                        type: string
                        description: Backend Description.
                        minLength: 1
                        maxLength: 2000
                      resourceId:
                        type: string
                        description: Management Uri of the Resource in External System.
                          This URL can be the Arm Resource Id of Logic Apps, Function
                          Apps or API Apps.
                        minLength: 1
                        maxLength: 2000
                      properties:
                        description: Backend Properties contract
                        type: object
                        properties:
                          serviceFabricCluster:
                            description: Backend Service Fabric Cluster Properties
                            type: object
                            properties:
                              clientCertificateId:
                                description: The client certificate id for the management
                                  endpoint.
                                type: string
                              clientCertificatethumbprint:
                                description: The client certificate thumbprint for
                                  the management endpoint. Will be ignored if certificatesIds
                                  are provided
                                type: string
                              maxPartitionResolutionRetries:
                                description: Maximum number of retries while attempting
                                  resolve the partition.
                                format: int32
                                type: integer
                              managementEndpoints:
                                type: array
                                items:
                                  type: string
                                description: The cluster management endpoint.
                              serverCertificateThumbprints:
                                type: array
                                items:
                                  type: string
                                description: Thumbprints of certificates cluster management
                                  service uses for tls communication
                              serverX509Names:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      description: Common Name of the Certificate.
                                      type: string
                                    issuerCertificateThumbprint:
                                      description: Thumbprint for the Issuer of the
                                        Certificate.
                                      type: string
                                  externalDocs:
                                    url: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-windows-cluster-x509-security
                                  description: Properties of server X509Names.
                                x-ms-identifiers:
                                - name
                                description: Server X509 Certificate Names Collection
                            required:
                            - managementEndpoints
                      credentials:
                        description: Backend Credentials Contract Properties
                        type: object
                        properties:
                          certificateIds:
                            type: array
                            items:
                              type: string
                            maxItems: 32
                            description: List of Client Certificate Ids.
                          certificate:
                            type: array
                            items:
                              type: string
                            maxItems: 32
                            description: List of Client Certificate Thumbprints. Will
                              be ignored if certificatesIds are provided.
                          query:
                            type: object
                            additionalProperties:
                              type: array
                              items:
                                type: string
                            description: Query Parameter description.
                          header:
                            type: object
                            additionalProperties:
                              type: array
                              items:
                                type: string
                            description: Header Parameter description.
                          authorization:
                            description: Authorization header authentication
                            type: object
                            properties:
                              scheme:
                                type: string
                                description: Authentication Scheme name.
                                minLength: 1
                                maxLength: 100
                              parameter:
                                type: string
                                description: Authentication Parameter value.
                                minLength: 1
                                maxLength: 300
                            required:
                            - scheme
                            - parameter
                      proxy:
                        description: Backend gateway Contract Properties
                        type: object
                        externalDocs:
                          url: https://msdn.microsoft.com/en-us/library/system.net.webproxy(v=vs.110).aspx
                          description: Backend entity uses these details to connect
                            to a WebProxy.
                        properties:
                          url:
                            type: string
                            description: WebProxy Server AbsoluteUri property which
                              includes the entire URI stored in the Uri instance,
                              including all fragments and query strings.
                            minLength: 1
                            maxLength: 2000
                          username:
                            type: string
                            description: Username to connect to the WebProxy server
                          password:
                            type: string
                            description: Password to connect to the WebProxy Server
                        required:
                        - url
                      tls:
                        description: Backend TLS Properties
                        type: object
                        properties:
                          validateCertificateChain:
                            description: Flag indicating whether SSL certificate chain
                              validation should be done when using self-signed certificates
                              for this backend host.
                            type: boolean
                            default: true
                          validateCertificateName:
                            description: Flag indicating whether SSL certificate name
                              validation should be done when using self-signed certificates
                              for this backend host.
                            type: boolean
                            default: true
                      circuitBreaker:
                        description: Backend Circuit Breaker Configuration
                        type: object
                        properties:
                          rules:
                            type: array
                            items:
                              type: object
                              description: Rule configuration to trip the backend.
                              properties:
                                name:
                                  type: string
                                  description: The rule name.
                                failureCondition:
                                  description: The conditions for tripping the circuit
                                    breaker.
                                  type: object
                                  properties:
                                    count:
                                      type: integer
                                      format: int64
                                      description: The threshold for opening the circuit.
                                    percentage:
                                      type: integer
                                      format: int64
                                      description: The threshold for opening the circuit.
                                    interval:
                                      type: string
                                      format: duration
                                      description: The interval during which the failures
                                        are counted.
                                    statusCodeRanges:
                                      type: array
                                      items:
                                        type: object
                                        description: The failure http status code
                                          range
                                        properties:
                                          min:
                                            type: integer
                                            format: int32
                                            description: The minimum http status code.
                                            minimum: 200
                                            maximum: 599
                                          max:
                                            type: integer
                                            format: int32
                                            description: The maximum http status code.
                                            minimum: 200
                                            maximum: 599
                                      maxItems: 10
                                      description: The status code ranges which are
                                        considered as failure.
                                      x-ms-identifiers: []
                                    errorReasons:
                                      type: array
                                      items:
                                        type: string
                                        maxLength: 200
                                      maxItems: 10
                                      description: The error reasons which are considered
                                        as failure.
                                      x-ms-identifiers: []
                                tripDuration:
                                  type: string
                                  format: duration
                                  description: The duration for which the circuit
                                    will be tripped.
                                acceptRetryAfter:
                                  type: boolean
                                  description: flag to accept Retry-After header from
                                    the backend.
                            maxItems: 15
                            description: The rules for tripping the backend.
                            x-ms-identifiers: []
                      pool:
                        type: object
                        properties:
                          services:
                            type: array
                            description: The list of backend entities belonging to
                              a pool.
                            items:
                              type: object
                              description: Backend pool service information
                              properties:
                                id:
                                  type: string
                                  format: arm-id
                                  description: The unique ARM id of the backend entity.
                                    The ARM id should refer to an already existing
                                    backend entity.
                                weight:
                                  type: integer
                                  format: int32
                                  description: The weight of the backend entity in
                                    the backend pool. Must be between 0 and 100. It
                                    can be also null if the value not specified.
                                  minimum: 0
                                  maximum: 100
                                priority:
                                  type: integer
                                  format: int32
                                  description: The priority of the backend entity
                                    in the backend pool. Must be between 0 and 100.
                                    It can be also null if the value not specified.
                                  minimum: 0
                                  maximum: 100
                              required:
                              - id
                            minItems: 1
                            x-ms-identifiers: []
                        description: Backend pool information
                      type:
                        type: string
                        enum:
                        - Single
                        - Pool
                        x-ms-enum:
                          name: BackendType
                          modelAsString: true
                          values:
                          - value: Single
                            description: supports single backend
                          - value: Pool
                            description: supports pool backend
                        description: Type of the backend. A backend can be either
                          Single or Pool.
                      url:
                        type: string
                        description: Runtime Url of the Backend.
                        minLength: 1
                        maxLength: 2000
                      protocol:
                        type: string
                        enum:
                        - http
                        - soap
                        x-ms-enum:
                          name: BackendProtocol
                          modelAsString: true
                          values:
                          - value: http
                            description: The Backend is a RESTful service.
                          - value: soap
                            description: The Backend is a SOAP service.
                        description: Backend communication protocol.
                    description: Backend entity base Parameter set.
                    required:
                    - url
                    - protocol
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Backend was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      title:
                        type: string
                        description: Backend Title.
                        minLength: 1
                        maxLength: 300
                      description:
                        type: string
                        description: Backend Description.
                        minLength: 1
                        maxLength: 2000
                      resourceId:
                        type: string
                        description: Management Uri of the Resource in External System.
                          This URL can be the Arm Resource Id of Logic Apps, Function
                          Apps or API Apps.
                        minLength: 1
                        maxLength: 2000
                      properties:
                        description: Backend Properties contract
                        type: object
                        properties:
                          serviceFabricCluster:
                            description: Backend Service Fabric Cluster Properties
                            type: object
                            properties:
                              clientCertificateId:
                                description: The client certificate id for the management
                                  endpoint.
                                type: string
                              clientCertificatethumbprint:
                                description: The client certificate thumbprint for
                                  the management endpoint. Will be ignored if certificatesIds
                                  are provided
                                type: string
                              maxPartitionResolutionRetries:
                                description: Maximum number of retries while attempting
                                  resolve the partition.
                                format: int32
[...]
