openapi: 3.0.0
info:
  title: ApiManagementClient
  description: Use these REST APIs for performing operations on who is going to receive
    notifications associated with your Azure API Management deployment.
  version: 2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/notifications
  : get:
      tags:
      - Notification
      operationId: Notification_ListByService
      description: Lists a collection of properties defined within a service instance.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: $top
        in: query
        required: false
        description: Number of records to return.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $skip
        in: query
        required: false
        description: Number of records to skip.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: A Collection of the Notification for the specified API Management
            service instance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          x-ms-client-flatten: true
                          description: Notification entity contract properties.
                          type: object
                          properties:
                            title:
                              type: string
                              description: Title of the Notification.
                              minLength: 1
                              maxLength: 1000
                            description:
                              type: string
                              description: Description of the Notification.
                            recipients:
                              description: Recipient Parameter values.
                              type: object
                              properties:
                                emails:
                                  type: array
                                  items:
                                    type: string
                                  description: List of Emails subscribed for the notification.
                                users:
                                  type: array
                                  items:
                                    type: string
                                  description: List of Users subscribed for the notification.
                          required:
                          - title
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: Page values.
                  count:
                    type: integer
                    format: int64
                    description: Total record count number across all pages.
                  nextLink:
                    type: string
                    description: Next page link if any.
                description: Paged Notification list representation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/notifications/{notificationName}
  : get:
      tags:
      - Notification
      operationId: Notification_Get
      description: Gets the details of the Notification specified by its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: notificationName
        in: path
        required: true
        x-ms-enum:
          name: NotificationName
          modelAsString: true
          values:
          - value: RequestPublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications about subscription requests for API products requiring
              approval.
          - value: PurchasePublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications about new API product subscriptions.
          - value: NewApplicationNotificationMessage
            description: The following email recipients and users will receive email
              notifications when new applications are submitted to the application
              gallery.
          - value: BCC
            description: The following recipients will receive blind carbon copies
              of all emails sent to developers.
          - value: NewIssuePublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications when a new issue or comment is submitted on the developer
              portal.
          - value: AccountClosedPublisher
            description: The following email recipients and users will receive email
              notifications when developer closes his account.
          - value: QuotaLimitApproachingPublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications when subscription usage gets close to usage quota.
        description: Notification Name Identifier.
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - RequestPublisherNotificationMessage
          - PurchasePublisherNotificationMessage
          - NewApplicationNotificationMessage
          - BCC
          - NewIssuePublisherNotificationMessage
          - AccountClosedPublisher
          - QuotaLimitApproachingPublisherNotificationMessage
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The response body contains the specified Notification.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: Notification entity contract properties.
                    type: object
                    properties:
                      title:
                        type: string
                        description: Title of the Notification.
                        minLength: 1
                        maxLength: 1000
                      description:
                        type: string
                        description: Description of the Notification.
                      recipients:
                        description: Recipient Parameter values.
                        type: object
                        properties:
                          emails:
                            type: array
                            items:
                              type: string
                            description: List of Emails subscribed for the notification.
                          users:
                            type: array
                            items:
                              type: string
                            description: List of Users subscribed for the notification.
                    required:
                    - title
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - Notification
      operationId: Notification_CreateOrUpdate
      description: Create or Update API Management publisher notification.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: notificationName
        in: path
        required: true
        x-ms-enum:
          name: NotificationName
          modelAsString: true
          values:
          - value: RequestPublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications about subscription requests for API products requiring
              approval.
          - value: PurchasePublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications about new API product subscriptions.
          - value: NewApplicationNotificationMessage
            description: The following email recipients and users will receive email
              notifications when new applications are submitted to the application
              gallery.
          - value: BCC
            description: The following recipients will receive blind carbon copies
              of all emails sent to developers.
          - value: NewIssuePublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications when a new issue or comment is submitted on the developer
              portal.
          - value: AccountClosedPublisher
            description: The following email recipients and users will receive email
              notifications when developer closes his account.
          - value: QuotaLimitApproachingPublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications when subscription usage gets close to usage quota.
        description: Notification Name Identifier.
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - RequestPublisherNotificationMessage
          - PurchasePublisherNotificationMessage
          - NewApplicationNotificationMessage
          - BCC
          - NewIssuePublisherNotificationMessage
          - AccountClosedPublisher
          - QuotaLimitApproachingPublisherNotificationMessage
      - name: If-Match
        in: header
        required: false
        description: ETag of the Entity. Not required when creating an entity, but
          required when updating an entity.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Notification was successfully updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: Notification entity contract properties.
                    type: object
                    properties:
                      title:
                        type: string
                        description: Title of the Notification.
                        minLength: 1
                        maxLength: 1000
                      description:
                        type: string
                        description: Description of the Notification.
                      recipients:
                        description: Recipient Parameter values.
                        type: object
                        properties:
                          emails:
                            type: array
                            items:
                              type: string
                            description: List of Emails subscribed for the notification.
                          users:
                            type: array
                            items:
                              type: string
                            description: List of Users subscribed for the notification.
                    required:
                    - title
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/notifications/{notificationName}/recipientUsers
  : get:
      tags:
      - NotificationRecipientUser
      operationId: NotificationRecipientUser_ListByNotification
      description: Gets the list of the Notification Recipient User subscribed to
        the notification.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: notificationName
        in: path
        required: true
        x-ms-enum:
          name: NotificationName
          modelAsString: true
          values:
          - value: RequestPublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications about subscription requests for API products requiring
              approval.
          - value: PurchasePublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications about new API product subscriptions.
          - value: NewApplicationNotificationMessage
            description: The following email recipients and users will receive email
              notifications when new applications are submitted to the application
              gallery.
          - value: BCC
            description: The following recipients will receive blind carbon copies
              of all emails sent to developers.
          - value: NewIssuePublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications when a new issue or comment is submitted on the developer
              portal.
          - value: AccountClosedPublisher
            description: The following email recipients and users will receive email
              notifications when developer closes his account.
          - value: QuotaLimitApproachingPublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications when subscription usage gets close to usage quota.
        description: Notification Name Identifier.
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - RequestPublisherNotificationMessage
          - PurchasePublisherNotificationMessage
          - NewApplicationNotificationMessage
          - BCC
          - NewIssuePublisherNotificationMessage
          - AccountClosedPublisher
          - QuotaLimitApproachingPublisherNotificationMessage
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The response body contains the Recipient User collection for
            the notification.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          x-ms-client-flatten: true
                          description: Recipient User entity contract properties.
                          type: object
                          properties:
                            userId:
                              type: string
                              description: API Management UserId subscribed to notification.
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: Page values.
                  count:
                    type: integer
                    format: int64
                    description: Total record count number across all pages.
                  nextLink:
                    type: string
                    description: Next page link if any.
                description: Paged Recipient User list representation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/notifications/{notificationName}/recipientUsers/{userId}
  : head:
      tags:
      - NotificationRecipientUser
      operationId: NotificationRecipientUser_CheckEntityExists
      description: Determine if the Notification Recipient User is subscribed to the
        notification.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: notificationName
        in: path
        required: true
        x-ms-enum:
          name: NotificationName
          modelAsString: true
          values:
          - value: RequestPublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications about subscription requests for API products requiring
              approval.
          - value: PurchasePublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications about new API product subscriptions.
          - value: NewApplicationNotificationMessage
            description: The following email recipients and users will receive email
              notifications when new applications are submitted to the application
              gallery.
          - value: BCC
            description: The following recipients will receive blind carbon copies
              of all emails sent to developers.
          - value: NewIssuePublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications when a new issue or comment is submitted on the developer
              portal.
          - value: AccountClosedPublisher
            description: The following email recipients and users will receive email
              notifications when developer closes his account.
          - value: QuotaLimitApproachingPublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications when subscription usage gets close to usage quota.
        description: Notification Name Identifier.
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - RequestPublisherNotificationMessage
          - PurchasePublisherNotificationMessage
          - NewApplicationNotificationMessage
          - BCC
          - NewIssuePublisherNotificationMessage
          - AccountClosedPublisher
          - QuotaLimitApproachingPublisherNotificationMessage
      - name: userId
        in: path
        required: true
        description: User identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: The User is subscribed to receive the notification.
        '404':
          description: Entity does not exists.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - NotificationRecipientUser
      operationId: NotificationRecipientUser_CreateOrUpdate
      description: Adds the API Management User to the list of Recipients for the
        Notification.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: notificationName
        in: path
        required: true
        x-ms-enum:
          name: NotificationName
          modelAsString: true
          values:
          - value: RequestPublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications about subscription requests for API products requiring
              approval.
          - value: PurchasePublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications about new API product subscriptions.
          - value: NewApplicationNotificationMessage
            description: The following email recipients and users will receive email
              notifications when new applications are submitted to the application
              gallery.
          - value: BCC
            description: The following recipients will receive blind carbon copies
              of all emails sent to developers.
          - value: NewIssuePublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications when a new issue or comment is submitted on the developer
              portal.
          - value: AccountClosedPublisher
            description: The following email recipients and users will receive email
              notifications when developer closes his account.
          - value: QuotaLimitApproachingPublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications when subscription usage gets close to usage quota.
        description: Notification Name Identifier.
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - RequestPublisherNotificationMessage
          - PurchasePublisherNotificationMessage
          - NewApplicationNotificationMessage
          - BCC
          - NewIssuePublisherNotificationMessage
          - AccountClosedPublisher
          - QuotaLimitApproachingPublisherNotificationMessage
      - name: userId
        in: path
        required: true
        description: User identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Recipient User is already part of the notification list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: Recipient User entity contract properties.
                    type: object
                    properties:
                      userId:
                        type: string
                        description: API Management UserId subscribed to notification.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Recipient User was successfully added to the notification list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: Recipient User entity contract properties.
                    type: object
                    properties:
                      userId:
                        type: string
                        description: API Management UserId subscribed to notification.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - NotificationRecipientUser
      operationId: NotificationRecipientUser_Delete
      description: Removes the API Management user from the list of Notification.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: notificationName
        in: path
        required: true
        x-ms-enum:
          name: NotificationName
          modelAsString: true
          values:
          - value: RequestPublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications about subscription requests for API products requiring
              approval.
          - value: PurchasePublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications about new API product subscriptions.
          - value: NewApplicationNotificationMessage
            description: The following email recipients and users will receive email
              notifications when new applications are submitted to the application
              gallery.
          - value: BCC
            description: The following recipients will receive blind carbon copies
              of all emails sent to developers.
          - value: NewIssuePublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications when a new issue or comment is submitted on the developer
              portal.
          - value: AccountClosedPublisher
            description: The following email recipients and users will receive email
              notifications when developer closes his account.
          - value: QuotaLimitApproachingPublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications when subscription usage gets close to usage quota.
        description: Notification Name Identifier.
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - RequestPublisherNotificationMessage
          - PurchasePublisherNotificationMessage
          - NewApplicationNotificationMessage
          - BCC
          - NewIssuePublisherNotificationMessage
          - AccountClosedPublisher
          - QuotaLimitApproachingPublisherNotificationMessage
      - name: userId
        in: path
        required: true
        description: User identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Recipient User was successfully removed from the notification
            list.
        '204':
          description: Recipient User was successfully removed from the notification
            list.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/notifications/{notificationName}/recipientEmails
  : get:
      tags:
      - NotificationRecipientEmail
      operationId: NotificationRecipientEmail_ListByNotification
      description: Gets the list of the Notification Recipient Emails subscribed to
        a notification.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: notificationName
        in: path
        required: true
        x-ms-enum:
          name: NotificationName
          modelAsString: true
          values:
          - value: RequestPublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications about subscription requests for API products requiring
              approval.
          - value: PurchasePublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications about new API product subscriptions.
          - value: NewApplicationNotificationMessage
            description: The following email recipients and users will receive email
              notifications when new applications are submitted to the application
              gallery.
          - value: BCC
            description: The following recipients will receive blind carbon copies
              of all emails sent to developers.
          - value: NewIssuePublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications when a new issue or comment is submitted on the developer
              portal.
          - value: AccountClosedPublisher
            description: The following email recipients and users will receive email
              notifications when developer closes his account.
          - value: QuotaLimitApproachingPublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications when subscription usage gets close to usage quota.
        description: Notification Name Identifier.
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - RequestPublisherNotificationMessage
          - PurchasePublisherNotificationMessage
          - NewApplicationNotificationMessage
          - BCC
          - NewIssuePublisherNotificationMessage
          - AccountClosedPublisher
          - QuotaLimitApproachingPublisherNotificationMessage
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The response body contains the Recipient Email collection subscribed
            to the notification.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          x-ms-client-flatten: true
                          description: Recipient Email contract properties.
                          type: object
                          properties:
                            email:
                              type: string
                              description: User Email subscribed to notification.
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: Page values.
                  count:
                    type: integer
                    format: int64
                    description: Total record count number across all pages.
                  nextLink:
                    type: string
                    description: Next page link if any.
                description: Paged Recipient User list representation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/notifications/{notificationName}/recipientEmails/{email}
  : head:
      tags:
      - NotificationRecipientEmail
      operationId: NotificationRecipientEmail_CheckEntityExists
      description: Determine if Notification Recipient Email subscribed to the notification.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: notificationName
        in: path
        required: true
        x-ms-enum:
          name: NotificationName
          modelAsString: true
          values:
          - value: RequestPublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications about subscription requests for API products requiring
              approval.
          - value: PurchasePublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications about new API product subscriptions.
          - value: NewApplicationNotificationMessage
            description: The following email recipients and users will receive email
              notifications when new applications are submitted to the application
              gallery.
          - value: BCC
            description: The following recipients will receive blind carbon copies
              of all emails sent to developers.
          - value: NewIssuePublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications when a new issue or comment is submitted on the developer
              portal.
          - value: AccountClosedPublisher
            description: The following email recipients and users will receive email
              notifications when developer closes his account.
          - value: QuotaLimitApproachingPublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications when subscription usage gets close to usage quota.
        description: Notification Name Identifier.
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - RequestPublisherNotificationMessage
          - PurchasePublisherNotificationMessage
          - NewApplicationNotificationMessage
          - BCC
          - NewIssuePublisherNotificationMessage
          - AccountClosedPublisher
          - QuotaLimitApproachingPublisherNotificationMessage
      - name: email
        in: path
        required: true
        description: Email identifier.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: The Users is subscribed to receive the notification.
        '404':
          description: The Users is not subscribed to receive the notification.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - NotificationRecipientEmail
      operationId: NotificationRecipientEmail_CreateOrUpdate
      description: Adds the Email address to the list of Recipients for the Notification.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: notificationName
        in: path
        required: true
        x-ms-enum:
          name: NotificationName
          modelAsString: true
          values:
          - value: RequestPublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications about subscription requests for API products requiring
              approval.
          - value: PurchasePublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications about new API product subscriptions.
          - value: NewApplicationNotificationMessage
            description: The following email recipients and users will receive email
              notifications when new applications are submitted to the application
              gallery.
          - value: BCC
            description: The following recipients will receive blind carbon copies
              of all emails sent to developers.
          - value: NewIssuePublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications when a new issue or comment is submitted on the developer
              portal.
          - value: AccountClosedPublisher
            description: The following email recipients and users will receive email
              notifications when developer closes his account.
          - value: QuotaLimitApproachingPublisherNotificationMessage
            description: The following email recipients and users will receive email
              notifications when subscription usage gets close to usage quota.
        description: Notification Name Identifier.
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - RequestPublisherNotificationMessage
          - PurchasePublisherNotificationMessage
          - NewApplicationNotificationMessage
          - BCC
          - NewIssuePublisherNotificationMessage
          - AccountClosedPublisher
          - QuotaLimitApproachingPublisherNotificationMessage
      - name: email
        in: path
        required: true
        description: Email identifier.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Recipient Email is already part of the notification list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: Recipient Email contract properties.
                    type: object
                    properties:
                      email:
                        type: string
                        description: User Email subscribed to notification.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Recipient Email was successfully added to the notification
            list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: Recipient Email contract properties.
                    type: object
                    properties:
                      email:
                        type: string
                        description: User Email subscribed to notification.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
[...]
