openapi: 3.0.0
info:
  title: ApiManagementClient
  description: Use this REST API to perform operations on the developer portal configuration.
  version: 2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/portalconfigs
  : get:
      tags:
      - PortalConfig
      operationId: PortalConfig_ListByService
      description: Lists the developer portal configurations.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The developer portal configuration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          x-ms-client-flatten: true
                          description: The developer portal configuration contract
                            properties.
                          type: object
                          properties:
                            enableBasicAuth:
                              type: boolean
                              description: Enable or disable Basic authentication
                                method.
                              default: true
                            signin:
                              type: object
                              properties:
                                require:
                                  type: boolean
                                  description: Redirect anonymous users to the sign-in
                                    page.
                                  default: false
                            signup:
                              type: object
                              properties:
                                termsOfService:
                                  type: object
                                  description: Terms of service settings.
                                  properties:
                                    text:
                                      type: string
                                      description: A terms of service text.
                                    requireConsent:
                                      type: boolean
                                      description: Ask user for consent to the terms
                                        of service.
                                      default: false
                            delegation:
                              type: object
                              description: The developer portal delegation settings.
                              properties:
                                delegateRegistration:
                                  type: boolean
                                  description: Enable or disable delegation for user
                                    registration.
                                  default: false
                                delegateSubscription:
                                  type: boolean
                                  description: Enable or disable delegation for product
                                    subscriptions.
                                  default: false
                                delegationUrl:
                                  type: string
                                  description: A delegation endpoint URL.
                                validationKey:
                                  x-ms-secret: true
                                  type: string
                                  description: A base64-encoded validation key to
                                    ensure requests originate from Azure API Management
                                    service.
                            cors:
                              type: object
                              description: The developer portal Cross-Origin Resource
                                Sharing (CORS) settings.
                              properties:
                                allowedOrigins:
                                  type: array
                                  items:
                                    type: string
                                  description: Allowed origins, e.g. `https://trusted.com`.
                            csp:
                              type: object
                              description: The developer portal Content Security Policy
                                (CSP) settings.
                              properties:
                                mode:
                                  type: string
                                  description: The mode of the developer portal Content
                                    Security Policy (CSP).
                                  enum:
                                  - enabled
                                  - disabled
                                  - reportOnly
                                  default: disabled
                                  x-ms-enum:
                                    modelAsString: true
                                    name: PortalSettingsCspMode
                                    values:
                                    - value: enabled
                                      description: The browser will block requests
                                        not matching allowed origins.
                                    - value: disabled
                                      description: The browser will not apply the
                                        origin restrictions.
                                    - value: reportOnly
                                      description: The browser will report requests
                                        not matching allowed origins without blocking
                                        them.
                                reportUri:
                                  type: array
                                  items:
                                    type: string
                                  description: The URLs used by the browser to report
                                    CSP violations.
                                allowedSources:
                                  type: array
                                  items:
                                    type: string
                                  description: Allowed sources, e.g. `*.trusted.com`,
                                    `trusted.com`, `https://`.
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: The developer portal configurations.
                  nextLink:
                    type: string
                    description: Next page link if any.
                    readOnly: true
                description: The collection of the developer portal configurations.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/portalconfigs/{portalConfigId}
  : head:
      tags:
      - PortalConfig
      operationId: PortalConfig_GetEntityTag
      description: Gets the entity state (Etag) version of the developer portal configuration.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: portalConfigId
        in: path
        required: true
        description: Portal configuration identifier.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Operation completed successfully.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    get:
      tags:
      - PortalConfig
      operationId: PortalConfig_Get
      description: Get the developer portal configuration.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: portalConfigId
        in: path
        required: true
        description: Portal configuration identifier.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The developer portal configuration.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: The developer portal configuration contract properties.
                    type: object
                    properties:
                      enableBasicAuth:
                        type: boolean
                        description: Enable or disable Basic authentication method.
                        default: true
                      signin:
                        type: object
                        properties:
                          require:
                            type: boolean
                            description: Redirect anonymous users to the sign-in page.
                            default: false
                      signup:
                        type: object
                        properties:
                          termsOfService:
                            type: object
                            description: Terms of service settings.
                            properties:
                              text:
                                type: string
                                description: A terms of service text.
                              requireConsent:
                                type: boolean
                                description: Ask user for consent to the terms of
                                  service.
                                default: false
                      delegation:
                        type: object
                        description: The developer portal delegation settings.
                        properties:
                          delegateRegistration:
                            type: boolean
                            description: Enable or disable delegation for user registration.
                            default: false
                          delegateSubscription:
                            type: boolean
                            description: Enable or disable delegation for product
                              subscriptions.
                            default: false
                          delegationUrl:
                            type: string
                            description: A delegation endpoint URL.
                          validationKey:
                            x-ms-secret: true
                            type: string
                            description: A base64-encoded validation key to ensure
                              requests originate from Azure API Management service.
                      cors:
                        type: object
                        description: The developer portal Cross-Origin Resource Sharing
                          (CORS) settings.
                        properties:
                          allowedOrigins:
                            type: array
                            items:
                              type: string
                            description: Allowed origins, e.g. `https://trusted.com`.
                      csp:
                        type: object
                        description: The developer portal Content Security Policy
                          (CSP) settings.
                        properties:
                          mode:
                            type: string
                            description: The mode of the developer portal Content
                              Security Policy (CSP).
                            enum:
                            - enabled
                            - disabled
                            - reportOnly
                            default: disabled
                            x-ms-enum:
                              modelAsString: true
                              name: PortalSettingsCspMode
                              values:
                              - value: enabled
                                description: The browser will block requests not matching
                                  allowed origins.
                              - value: disabled
                                description: The browser will not apply the origin
                                  restrictions.
                              - value: reportOnly
                                description: The browser will report requests not
                                  matching allowed origins without blocking them.
                          reportUri:
                            type: array
                            items:
                              type: string
                            description: The URLs used by the browser to report CSP
                              violations.
                          allowedSources:
                            type: array
                            items:
                              type: string
                            description: Allowed sources, e.g. `*.trusted.com`, `trusted.com`,
                              `https://`.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      tags:
      - PortalConfig
      operationId: PortalConfig_Update
      description: Update the developer portal configuration.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: portalConfigId
        in: path
        required: true
        description: Portal configuration identifier.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
      - name: If-Match
        in: header
        required: true
        description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                properties:
                  x-ms-client-flatten: true
                  description: The developer portal configuration contract properties.
                  type: object
                  properties:
                    enableBasicAuth:
                      type: boolean
                      description: Enable or disable Basic authentication method.
                      default: true
                    signin:
                      type: object
                      properties:
                        require:
                          type: boolean
                          description: Redirect anonymous users to the sign-in page.
                          default: false
                    signup:
                      type: object
                      properties:
                        termsOfService:
                          type: object
                          description: Terms of service settings.
                          properties:
                            text:
                              type: string
                              description: A terms of service text.
                            requireConsent:
                              type: boolean
                              description: Ask user for consent to the terms of service.
                              default: false
                    delegation:
                      type: object
                      description: The developer portal delegation settings.
                      properties:
                        delegateRegistration:
                          type: boolean
                          description: Enable or disable delegation for user registration.
                          default: false
                        delegateSubscription:
                          type: boolean
                          description: Enable or disable delegation for product subscriptions.
                          default: false
                        delegationUrl:
                          type: string
                          description: A delegation endpoint URL.
                        validationKey:
                          x-ms-secret: true
                          type: string
                          description: A base64-encoded validation key to ensure requests
                            originate from Azure API Management service.
                    cors:
                      type: object
                      description: The developer portal Cross-Origin Resource Sharing
                        (CORS) settings.
                      properties:
                        allowedOrigins:
                          type: array
                          items:
                            type: string
                          description: Allowed origins, e.g. `https://trusted.com`.
                    csp:
                      type: object
                      description: The developer portal Content Security Policy (CSP)
                        settings.
                      properties:
                        mode:
                          type: string
                          description: The mode of the developer portal Content Security
                            Policy (CSP).
                          enum:
                          - enabled
                          - disabled
                          - reportOnly
                          default: disabled
                          x-ms-enum:
                            modelAsString: true
                            name: PortalSettingsCspMode
                            values:
                            - value: enabled
                              description: The browser will block requests not matching
                                allowed origins.
                            - value: disabled
                              description: The browser will not apply the origin restrictions.
                            - value: reportOnly
                              description: The browser will report requests not matching
                                allowed origins without blocking them.
                        reportUri:
                          type: array
                          items:
                            type: string
                          description: The URLs used by the browser to report CSP
                            violations.
                        allowedSources:
                          type: array
                          items:
                            type: string
                          description: Allowed sources, e.g. `*.trusted.com`, `trusted.com`,
                            `https://`.
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Update the developer portal configuration.
        required: true
      responses:
        '200':
          description: Operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: The developer portal configuration contract properties.
                    type: object
                    properties:
                      enableBasicAuth:
                        type: boolean
                        description: Enable or disable Basic authentication method.
                        default: true
                      signin:
                        type: object
                        properties:
                          require:
                            type: boolean
                            description: Redirect anonymous users to the sign-in page.
                            default: false
                      signup:
                        type: object
                        properties:
                          termsOfService:
                            type: object
                            description: Terms of service settings.
                            properties:
                              text:
                                type: string
                                description: A terms of service text.
                              requireConsent:
                                type: boolean
                                description: Ask user for consent to the terms of
                                  service.
                                default: false
                      delegation:
                        type: object
                        description: The developer portal delegation settings.
                        properties:
                          delegateRegistration:
                            type: boolean
                            description: Enable or disable delegation for user registration.
                            default: false
                          delegateSubscription:
                            type: boolean
                            description: Enable or disable delegation for product
                              subscriptions.
                            default: false
                          delegationUrl:
                            type: string
                            description: A delegation endpoint URL.
                          validationKey:
                            x-ms-secret: true
                            type: string
                            description: A base64-encoded validation key to ensure
                              requests originate from Azure API Management service.
                      cors:
                        type: object
                        description: The developer portal Cross-Origin Resource Sharing
                          (CORS) settings.
                        properties:
                          allowedOrigins:
                            type: array
                            items:
                              type: string
                            description: Allowed origins, e.g. `https://trusted.com`.
                      csp:
                        type: object
                        description: The developer portal Content Security Policy
                          (CSP) settings.
                        properties:
                          mode:
                            type: string
                            description: The mode of the developer portal Content
                              Security Policy (CSP).
                            enum:
                            - enabled
                            - disabled
                            - reportOnly
                            default: disabled
                            x-ms-enum:
                              modelAsString: true
                              name: PortalSettingsCspMode
                              values:
                              - value: enabled
                                description: The browser will block requests not matching
                                  allowed origins.
                              - value: disabled
                                description: The browser will not apply the origin
                                  restrictions.
                              - value: reportOnly
                                description: The browser will report requests not
                                  matching allowed origins without blocking them.
                          reportUri:
                            type: array
                            items:
                              type: string
                            description: The URLs used by the browser to report CSP
                              violations.
                          allowedSources:
                            type: array
                            items:
                              type: string
                            description: Allowed sources, e.g. `*.trusted.com`, `trusted.com`,
                              `https://`.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - PortalConfig
      operationId: PortalConfig_CreateOrUpdate
      description: Create or update the developer portal configuration.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: portalConfigId
        in: path
        required: true
        description: Portal configuration identifier.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
      - name: If-Match
        in: header
        required: true
        description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                properties:
                  x-ms-client-flatten: true
                  description: The developer portal configuration contract properties.
                  type: object
                  properties:
                    enableBasicAuth:
                      type: boolean
                      description: Enable or disable Basic authentication method.
                      default: true
                    signin:
                      type: object
                      properties:
                        require:
                          type: boolean
                          description: Redirect anonymous users to the sign-in page.
                          default: false
                    signup:
                      type: object
                      properties:
                        termsOfService:
                          type: object
                          description: Terms of service settings.
                          properties:
                            text:
                              type: string
                              description: A terms of service text.
                            requireConsent:
                              type: boolean
                              description: Ask user for consent to the terms of service.
                              default: false
                    delegation:
                      type: object
                      description: The developer portal delegation settings.
                      properties:
                        delegateRegistration:
                          type: boolean
                          description: Enable or disable delegation for user registration.
                          default: false
                        delegateSubscription:
                          type: boolean
                          description: Enable or disable delegation for product subscriptions.
                          default: false
                        delegationUrl:
                          type: string
                          description: A delegation endpoint URL.
                        validationKey:
                          x-ms-secret: true
                          type: string
                          description: A base64-encoded validation key to ensure requests
                            originate from Azure API Management service.
                    cors:
                      type: object
                      description: The developer portal Cross-Origin Resource Sharing
                        (CORS) settings.
                      properties:
                        allowedOrigins:
                          type: array
                          items:
                            type: string
                          description: Allowed origins, e.g. `https://trusted.com`.
                    csp:
                      type: object
                      description: The developer portal Content Security Policy (CSP)
                        settings.
                      properties:
                        mode:
                          type: string
                          description: The mode of the developer portal Content Security
                            Policy (CSP).
                          enum:
                          - enabled
                          - disabled
                          - reportOnly
                          default: disabled
                          x-ms-enum:
                            modelAsString: true
                            name: PortalSettingsCspMode
                            values:
                            - value: enabled
                              description: The browser will block requests not matching
                                allowed origins.
                            - value: disabled
                              description: The browser will not apply the origin restrictions.
                            - value: reportOnly
                              description: The browser will report requests not matching
                                allowed origins without blocking them.
                        reportUri:
                          type: array
                          items:
                            type: string
                          description: The URLs used by the browser to report CSP
                            violations.
                        allowedSources:
                          type: array
                          items:
                            type: string
                          description: Allowed sources, e.g. `*.trusted.com`, `trusted.com`,
                            `https://`.
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Update the developer portal configuration.
        required: true
      responses:
        '200':
          description: Operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: The developer portal configuration contract properties.
                    type: object
                    properties:
                      enableBasicAuth:
                        type: boolean
                        description: Enable or disable Basic authentication method.
                        default: true
                      signin:
                        type: object
                        properties:
                          require:
                            type: boolean
                            description: Redirect anonymous users to the sign-in page.
                            default: false
                      signup:
                        type: object
                        properties:
                          termsOfService:
                            type: object
                            description: Terms of service settings.
                            properties:
                              text:
                                type: string
                                description: A terms of service text.
                              requireConsent:
                                type: boolean
                                description: Ask user for consent to the terms of
                                  service.
                                default: false
                      delegation:
                        type: object
                        description: The developer portal delegation settings.
                        properties:
                          delegateRegistration:
                            type: boolean
                            description: Enable or disable delegation for user registration.
                            default: false
                          delegateSubscription:
                            type: boolean
                            description: Enable or disable delegation for product
                              subscriptions.
                            default: false
                          delegationUrl:
                            type: string
                            description: A delegation endpoint URL.
                          validationKey:
                            x-ms-secret: true
                            type: string
                            description: A base64-encoded validation key to ensure
                              requests originate from Azure API Management service.
                      cors:
                        type: object
                        description: The developer portal Cross-Origin Resource Sharing
                          (CORS) settings.
                        properties:
                          allowedOrigins:
                            type: array
                            items:
                              type: string
                            description: Allowed origins, e.g. `https://trusted.com`.
                      csp:
                        type: object
                        description: The developer portal Content Security Policy
                          (CSP) settings.
                        properties:
                          mode:
                            type: string
                            description: The mode of the developer portal Content
                              Security Policy (CSP).
                            enum:
                            - enabled
                            - disabled
                            - reportOnly
                            default: disabled
                            x-ms-enum:
                              modelAsString: true
                              name: PortalSettingsCspMode
                              values:
                              - value: enabled
                                description: The browser will block requests not matching
                                  allowed origins.
                              - value: disabled
                                description: The browser will not apply the origin
                                  restrictions.
                              - value: reportOnly
                                description: The browser will report requests not
                                  matching allowed origins without blocking them.
                          reportUri:
                            type: array
                            items:
                              type: string
                            description: The URLs used by the browser to report CSP
                              violations.
                          allowedSources:
                            type: array
                            items:
                              type: string
                            description: Allowed sources, e.g. `*.trusted.com`, `trusted.com`,
                              `https://`.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ServiceNameParameter:
      name: serviceName
      in: path
      required: true
      description: The name of the API Management service.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 50
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    PortalConfigIdParameter:
      name: portalConfigId
      in: path
      required: true
      description: Portal configuration identifier.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 80
    IfMatchRequiredParameter:
      name: If-Match
      in: header
      required: true
      description: ETag of the Entity. ETag should match the current entity state
        from the header response of the GET request or it should be * for unconditional
        update.
      x-ms-parameter-location: method
      schema:
        type: string
  requestBodies:
    PortalConfig_UpdateParameters:
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
              properties:
                x-ms-client-flatten: true
                description: The developer portal configuration contract properties.
                type: object
                properties:
                  enableBasicAuth:
                    type: boolean
                    description: Enable or disable Basic authentication method.
                    default: true
                  signin:
                    type: object
                    properties:
                      require:
                        type: boolean
                        description: Redirect anonymous users to the sign-in page.
                        default: false
                  signup:
                    type: object
                    properties:
                      termsOfService:
                        type: object
                        description: Terms of service settings.
                        properties:
                          text:
                            type: string
                            description: A terms of service text.
                          requireConsent:
                            type: boolean
                            description: Ask user for consent to the terms of service.
                            default: false
                  delegation:
                    type: object
                    description: The developer portal delegation settings.
                    properties:
                      delegateRegistration:
                        type: boolean
                        description: Enable or disable delegation for user registration.
                        default: false
                      delegateSubscription:
                        type: boolean
                        description: Enable or disable delegation for product subscriptions.
                        default: false
                      delegationUrl:
                        type: string
                        description: A delegation endpoint URL.
                      validationKey:
                        x-ms-secret: true
                        type: string
                        description: A base64-encoded validation key to ensure requests
                          originate from Azure API Management service.
                  cors:
                    type: object
                    description: The developer portal Cross-Origin Resource Sharing
                      (CORS) settings.
                    properties:
                      allowedOrigins:
                        type: array
                        items:
                          type: string
                        description: Allowed origins, e.g. `https://trusted.com`.
                  csp:
                    type: object
                    description: The developer portal Content Security Policy (CSP)
                      settings.
                    properties:
                      mode:
                        type: string
                        description: The mode of the developer portal Content Security
                          Policy (CSP).
                        enum:
                        - enabled
                        - disabled
                        - reportOnly
                        default: disabled
                        x-ms-enum:
                          modelAsString: true
                          name: PortalSettingsCspMode
                          values:
                          - value: enabled
                            description: The browser will block requests not matching
                              allowed origins.
                          - value: disabled
                            description: The browser will not apply the origin restrictions.
                          - value: reportOnly
                            description: The browser will report requests not matching
                              allowed origins without blocking them.
                      reportUri:
                        type: array
                        items:
                          type: string
                        description: The URLs used by the browser to report CSP violations.
                      allowedSources:
                        type: array
                        items:
                          type: string
                        description: Allowed sources, e.g. `*.trusted.com`, `trusted.com`,
                          `https://`.
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
      description: Update the developer portal configuration.
      required: true
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    PortalConfigTermsOfServiceProperties:
      type: object
      properties:
        text:
          type: string
          description: A terms of service text.
        requireConsent:
          type: boolean
          description: Ask user for consent to the terms of service.
          default: false
      description: Terms of service contract properties.
    PortalConfigDelegationProperties:
      type: object
      properties:
        delegateRegistration:
          type: boolean
          description: Enable or disable delegation for user registration.
          default: false
        delegateSubscription:
          type: boolean
          description: Enable or disable delegation for product subscriptions.
          default: false
        delegationUrl:
          type: string
          description: A delegation endpoint URL.
        validationKey:
          x-ms-secret: true
          type: string
          description: A base64-encoded validation key to ensure requests originate
            from Azure API Management service.
    PortalConfigCorsProperties:
      type: object
      properties:
        allowedOrigins:
          type: array
          items:
            type: string
          description: Allowed origins, e.g. `https://trusted.com`.
      description: The developer portal Cross-Origin Resource Sharing (CORS) settings.
    PortalConfigCspProperties:
      type: object
      properties:
        mode:
          type: string
          description: The mode of the developer portal Content Security Policy (CSP).
          enum:
          - enabled
          - disabled
          - reportOnly
          default: disabled
          x-ms-enum:
            modelAsString: true
            name: PortalSettingsCspMode
            values:
            - value: enabled
              description: The browser will block requests not matching allowed origins.
            - value: disabled
              description: The browser will not apply the origin restrictions.
            - value: reportOnly
              description: The browser will report requests not matching allowed origins
                without blocking them.
        reportUri:
          type: array
          items:
            type: string
          description: The URLs used by the browser to report CSP violations.
        allowedSources:
          type: array
          items:
            type: string
          description: Allowed sources, e.g. `*.trusted.com`, `trusted.com`, `https://`.
      description: The developer portal Content Security Policy (CSP) settings.
    PortalConfigProperties:
      type: object
      properties:
        enableBasicAuth:
          type: boolean
          description: Enable or disable Basic authentication method.
          default: true
        signin:
          type: object
          properties:
            require:
              type: boolean
              description: Redirect anonymous users to the sign-in page.
              default: false
        signup:
          type: object
          properties:
            termsOfService:
              type: object
              description: Terms of service settings.
              properties:
                text:
                  type: string
                  description: A terms of service text.
                requireConsent:
                  type: boolean
                  description: Ask user for consent to the terms of service.
                  default: false
        delegation:
          type: object
          description: The developer portal delegation settings.
          properties:
            delegateRegistration:
              type: boolean
              description: Enable or disable delegation for user registration.
              default: false
            delegateSubscription:
              type: boolean
              description: Enable or disable delegation for product subscriptions.
              default: false
            delegationUrl:
              type: string
              description: A delegation endpoint URL.
            validationKey:
              x-ms-secret: true
              type: string
              description: A base64-encoded validation key to ensure requests originate
                from Azure API Management service.
        cors:
          type: object
          description: The developer portal Cross-Origin Resource Sharing (CORS) settings.
          properties:
            allowedOrigins:
              type: array
              items:
                type: string
              description: Allowed origins, e.g. `https://trusted.com`.
        csp:
          type: object
          description: The developer portal Content Security Policy (CSP) settings.
          properties:
            mode:
              type: string
              description: The mode of the developer portal Content Security Policy
                (CSP).
              enum:
              - enabled
              - disabled
              - reportOnly
              default: disabled
              x-ms-enum:
                modelAsString: true
                name: PortalSettingsCspMode
                values:
                - value: enabled
                  description: The browser will block requests not matching allowed
                    origins.
                - value: disabled
                  description: The browser will not apply the origin restrictions.
                - value: reportOnly
                  description: The browser will report requests not matching allowed
                    origins without blocking them.
            reportUri:
              type: array
              items:
                type: string
              description: The URLs used by the browser to report CSP violations.
            allowedSources:
              type: array
              items:
                type: string
              description: Allowed sources, e.g. `*.trusted.com`, `trusted.com`, `https://`.
      description: The developer portal configuration contract properties.
    PortalConfigContract:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
        properties:
          x-ms-client-flatten: true
          description: The developer portal configuration contract properties.
          type: object
          properties:
            enableBasicAuth:
              type: boolean
              description: Enable or disable Basic authentication method.
              default: true
            signin:
              type: object
              properties:
                require:
                  type: boolean
                  description: Redirect anonymous users to the sign-in page.
                  default: false
            signup:
              type: object
              properties:
                termsOfService:
                  type: object
                  description: Terms of service settings.
                  properties:
                    text:
                      type: string
                      description: A terms of service text.
                    requireConsent:
                      type: boolean
                      description: Ask user for consent to the terms of service.
                      default: false
            delegation:
              type: object
              description: The developer portal delegation settings.
              properties:
                delegateRegistration:
                  type: boolean
                  description: Enable or disable delegation for user registration.
                  default: false
                delegateSubscription:
                  type: boolean
                  description: Enable or disable delegation for product subscriptions.
                  default: false
                delegationUrl:
                  type: string
                  description: A delegation endpoint URL.
                validationKey:
                  x-ms-secret: true
                  type: string
                  description: A base64-encoded validation key to ensure requests
                    originate from Azure API Management service.
            cors:
              type: object
              description: The developer portal Cross-Origin Resource Sharing (CORS)
                settings.
              properties:
                allowedOrigins:
                  type: array
                  items:
                    type: string
                  description: Allowed origins, e.g. `https://trusted.com`.
            csp:
              type: object
              description: The developer portal Content Security Policy (CSP) settings.
              properties:
                mode:
                  type: string
                  description: The mode of the developer portal Content Security Policy
                    (CSP).
                  enum:
                  - enabled
                  - disabled
                  - reportOnly
                  default: disabled
                  x-ms-enum:
                    modelAsString: true
                    name: PortalSettingsCspMode
                    values:
                    - value: enabled
                      description: The browser will block requests not matching allowed
                        origins.
                    - value: disabled
                      description: The browser will not apply the origin restrictions.
                    - value: reportOnly
                      description: The browser will report requests not matching allowed
                        origins without blocking them.
                reportUri:
                  type: array
                  items:
                    type: string
                  description: The URLs used by the browser to report CSP violations.
                allowedSources:
                  type: array
                  items:
                    type: string
                  description: Allowed sources, e.g. `*.trusted.com`, `trusted.com`,
                    `https://`.
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    PortalConfigCollection:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
              properties:
                x-ms-client-flatten: true
                description: The developer portal configuration contract properties.
                type: object
                properties:
                  enableBasicAuth:
                    type: boolean
                    description: Enable or disable Basic authentication method.
                    default: true
                  signin:
                    type: object
                    properties:
                      require:
                        type: boolean
                        description: Redirect anonymous users to the sign-in page.
                        default: false
                  signup:
                    type: object
                    properties:
[...]
