openapi: 3.0.0
info:
  title: ApiManagementClient
  description: Use these REST APIs for performing operations on User entity in Azure
    API Management deployment. The User entity in API Management represents the developers
    that call the APIs of the products to which they are subscribed.
  version: 2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users
  : get:
      tags:
      - User
      operationId: User_ListByService
      description: Lists a collection of registered users in the specified service
        instance.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: $filter
        in: query
        required: false
        description: '|     Field     |     Usage     |     Supported operators     |     Supported
          functions     |</br>|-------------|-------------|-------------|-------------|</br>|
          name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,
          endswith |</br>| firstName | filter | ge, le, eq, ne, gt, lt | substringof,
          contains, startswith, endswith |</br>| lastName | filter | ge, le, eq, ne,
          gt, lt | substringof, contains, startswith, endswith |</br>| email | filter
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |</br>|
          state | filter | eq |     |</br>| registrationDate | filter | ge, le, eq,
          ne, gt, lt |     |</br>| note | filter | ge, le, eq, ne, gt, lt | substringof,
          contains, startswith, endswith |</br>| groups | expand |     |     |</br>'
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: Number of records to return.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $skip
        in: query
        required: false
        description: Number of records to skip.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: expandGroups
        in: query
        description: Detailed Group in response.
        schema:
          type: boolean
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Lists a collection of User entities.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          type: object
                          properties:
                            state:
                              type: string
                              description: Account state. Specifies whether the user
                                is active or not. Blocked users are unable to sign
                                into the developer portal or call any APIs of subscribed
                                products. Default state is Active.
                              enum:
                              - active
                              - blocked
                              - pending
                              - deleted
                              default: active
                              x-ms-enum:
                                name: UserState
                                modelAsString: true
                                values:
                                - value: active
                                  description: User state is active.
                                - value: blocked
                                  description: User is blocked. Blocked users cannot
                                    authenticate at developer portal or call API.
                                - value: pending
                                  description: User account is pending. Requires identity
                                    confirmation before it can be made active.
                                - value: deleted
                                  description: User account is closed. All identities
                                    and related entities are removed.
                            note:
                              type: string
                              description: Optional note about a user set by the administrator.
                            identities:
                              type: array
                              items:
                                type: object
                                properties:
                                  provider:
                                    type: string
                                    description: Identity provider name.
                                  id:
                                    type: string
                                    description: Identifier value within provider.
                                description: User identity details.
                              description: Collection of user identities.
                            firstName:
                              type: string
                              description: First name.
                            lastName:
                              type: string
                              description: Last name.
                            email:
                              type: string
                              description: Email address.
                            registrationDate:
                              type: string
                              format: date-time
                              description: 'Date of user registration. The date conforms
                                to the following format: `yyyy-MM-ddTHH:mm:ssZ` as
                                specified by the ISO 8601 standard.

                                '
                            groups:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  displayName:
                                    type: string
                                    description: Group name.
                                    maxLength: 300
                                    minLength: 1
                                  description:
                                    type: string
                                    description: Group description. Can contain HTML
                                      formatting tags.
                                    maxLength: 1000
                                  builtIn:
                                    readOnly: true
                                    type: boolean
                                    description: true if the group is one of the three
                                      system groups (Administrators, Developers, or
                                      Guests); otherwise false.
                                  type:
                                    type: string
                                    description: Group type.
                                    enum:
                                    - custom
                                    - system
                                    - external
                                    x-ms-enum:
                                      name: GroupType
                                      modelAsString: false
                                  externalId:
                                    type: string
                                    description: For external groups, this property
                                      contains the id of the group from the external
                                      identity provider, e.g. for Azure Active Directory
                                      `aad://<tenant>.onmicrosoft.com/groups/<group
                                      object id>`; otherwise the value is null.
                                required:
                                - displayName
                                description: Group contract Properties.
                              x-ms-identifiers:
                              - displayName
                              description: Collection of groups user is part of.
                          description: User Entity Base Parameters set.
                          x-ms-client-flatten: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: Page values.
                  count:
                    type: integer
                    format: int64
                    description: Total record count number across all pages.
                  nextLink:
                    type: string
                    description: Next page link if any.
                description: Paged Users list representation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./definitions.json#/definitions/UserContract
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users/{userId}
  : head:
      tags:
      - User
      operationId: User_GetEntityTag
      description: Gets the entity state (Etag) version of the user specified by its
        identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: userId
        in: path
        required: true
        description: User identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Specified user entity exists and current entity state version
            is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    get:
      tags:
      - User
      operationId: User_Get
      description: Gets the details of the user specified by its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: userId
        in: path
        required: true
        description: User identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Gets the specified user entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      state:
                        type: string
                        description: Account state. Specifies whether the user is
                          active or not. Blocked users are unable to sign into the
                          developer portal or call any APIs of subscribed products.
                          Default state is Active.
                        enum:
                        - active
                        - blocked
                        - pending
                        - deleted
                        default: active
                        x-ms-enum:
                          name: UserState
                          modelAsString: true
                          values:
                          - value: active
                            description: User state is active.
                          - value: blocked
                            description: User is blocked. Blocked users cannot authenticate
                              at developer portal or call API.
                          - value: pending
                            description: User account is pending. Requires identity
                              confirmation before it can be made active.
                          - value: deleted
                            description: User account is closed. All identities and
                              related entities are removed.
                      note:
                        type: string
                        description: Optional note about a user set by the administrator.
                      identities:
                        type: array
                        items:
                          type: object
                          properties:
                            provider:
                              type: string
                              description: Identity provider name.
                            id:
                              type: string
                              description: Identifier value within provider.
                          description: User identity details.
                        description: Collection of user identities.
                      firstName:
                        type: string
                        description: First name.
                      lastName:
                        type: string
                        description: Last name.
                      email:
                        type: string
                        description: Email address.
                      registrationDate:
                        type: string
                        format: date-time
                        description: 'Date of user registration. The date conforms
                          to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified
                          by the ISO 8601 standard.

                          '
                      groups:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            displayName:
                              type: string
                              description: Group name.
                              maxLength: 300
                              minLength: 1
                            description:
                              type: string
                              description: Group description. Can contain HTML formatting
                                tags.
                              maxLength: 1000
                            builtIn:
                              readOnly: true
                              type: boolean
                              description: true if the group is one of the three system
                                groups (Administrators, Developers, or Guests); otherwise
                                false.
                            type:
                              type: string
                              description: Group type.
                              enum:
                              - custom
                              - system
                              - external
                              x-ms-enum:
                                name: GroupType
                                modelAsString: false
                            externalId:
                              type: string
                              description: For external groups, this property contains
                                the id of the group from the external identity provider,
                                e.g. for Azure Active Directory `aad://<tenant>.onmicrosoft.com/groups/<group
                                object id>`; otherwise the value is null.
                          required:
                          - displayName
                          description: Group contract Properties.
                        x-ms-identifiers:
                        - displayName
                        description: Collection of groups user is part of.
                    description: User Entity Base Parameters set.
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - User
      operationId: User_CreateOrUpdate
      description: Creates or Updates a user.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: userId
        in: path
        required: true
        description: User identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
      - name: notify
        in: query
        required: false
        description: Send an Email notification to the User.
        schema:
          type: boolean
      - name: If-Match
        in: header
        required: false
        description: ETag of the Entity. Not required when creating an entity, but
          required when updating an entity.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  type: object
                  properties:
                    state:
                      type: string
                      description: Account state. Specifies whether the user is active
                        or not. Blocked users are unable to sign into the developer
                        portal or call any APIs of subscribed products. Default state
                        is Active.
                      enum:
                      - active
                      - blocked
                      - pending
                      - deleted
                      default: active
                      x-ms-enum:
                        name: UserState
                        modelAsString: true
                        values:
                        - value: active
                          description: User state is active.
                        - value: blocked
                          description: User is blocked. Blocked users cannot authenticate
                            at developer portal or call API.
                        - value: pending
                          description: User account is pending. Requires identity
                            confirmation before it can be made active.
                        - value: deleted
                          description: User account is closed. All identities and
                            related entities are removed.
                    note:
                      type: string
                      description: Optional note about a user set by the administrator.
                    identities:
                      type: array
                      items:
                        type: object
                        properties:
                          provider:
                            type: string
                            description: Identity provider name.
                          id:
                            type: string
                            description: Identifier value within provider.
                        description: User identity details.
                      description: Collection of user identities.
                    email:
                      type: string
                      description: Email address. Must not be empty and must be unique
                        within the service instance.
                      minLength: 1
                      maxLength: 254
                    firstName:
                      type: string
                      description: First name.
                      minLength: 1
                      maxLength: 100
                    lastName:
                      type: string
                      description: Last name.
                      minLength: 1
                      maxLength: 100
                    password:
                      type: string
                      description: User Password. If no value is provided, a default
                        password is generated.
                    appType:
                      type: string
                      description: Determines the type of application which send the
                        create user request. Default is legacy portal.
                      enum:
                      - portal
                      - developerPortal
                      x-ms-enum:
                        name: AppType
                        modelAsString: true
                        values:
                        - value: portal
                          description: User create request was sent by legacy developer
                            portal.
                        - value: developerPortal
                          description: User create request was sent by new developer
                            portal.
                    confirmation:
                      type: string
                      description: Determines the type of confirmation e-mail that
                        will be sent to the newly created user.
                      enum:
                      - signup
                      - invite
                      x-ms-enum:
                        name: Confirmation
                        modelAsString: true
                        values:
                        - value: signup
                          description: Send an e-mail to the user confirming they
                            have successfully signed up.
                        - value: invite
                          description: Send an e-mail inviting the user to sign-up
                            and complete registration.
                  description: User Entity Base Parameters set.
                  required:
                  - email
                  - firstName
                  - lastName
                  x-ms-client-flatten: true
              description: User create details.
        description: Create or update parameters.
        required: true
      responses:
        '200':
          description: User was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      state:
                        type: string
                        description: Account state. Specifies whether the user is
                          active or not. Blocked users are unable to sign into the
                          developer portal or call any APIs of subscribed products.
                          Default state is Active.
                        enum:
                        - active
                        - blocked
                        - pending
                        - deleted
                        default: active
                        x-ms-enum:
                          name: UserState
                          modelAsString: true
                          values:
                          - value: active
                            description: User state is active.
                          - value: blocked
                            description: User is blocked. Blocked users cannot authenticate
                              at developer portal or call API.
                          - value: pending
                            description: User account is pending. Requires identity
                              confirmation before it can be made active.
                          - value: deleted
                            description: User account is closed. All identities and
                              related entities are removed.
                      note:
                        type: string
                        description: Optional note about a user set by the administrator.
                      identities:
                        type: array
                        items:
                          type: object
                          properties:
                            provider:
                              type: string
                              description: Identity provider name.
                            id:
                              type: string
                              description: Identifier value within provider.
                          description: User identity details.
                        description: Collection of user identities.
                      firstName:
                        type: string
                        description: First name.
                      lastName:
                        type: string
                        description: Last name.
                      email:
                        type: string
                        description: Email address.
                      registrationDate:
                        type: string
                        format: date-time
                        description: 'Date of user registration. The date conforms
                          to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified
                          by the ISO 8601 standard.

                          '
                      groups:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            displayName:
                              type: string
                              description: Group name.
                              maxLength: 300
                              minLength: 1
                            description:
                              type: string
                              description: Group description. Can contain HTML formatting
                                tags.
                              maxLength: 1000
                            builtIn:
                              readOnly: true
                              type: boolean
                              description: true if the group is one of the three system
                                groups (Administrators, Developers, or Guests); otherwise
                                false.
                            type:
                              type: string
                              description: Group type.
                              enum:
                              - custom
                              - system
                              - external
                              x-ms-enum:
                                name: GroupType
                                modelAsString: false
                            externalId:
                              type: string
                              description: For external groups, this property contains
                                the id of the group from the external identity provider,
                                e.g. for Azure Active Directory `aad://<tenant>.onmicrosoft.com/groups/<group
                                object id>`; otherwise the value is null.
                          required:
                          - displayName
                          description: Group contract Properties.
                        x-ms-identifiers:
                        - displayName
                        description: Collection of groups user is part of.
                    description: User Entity Base Parameters set.
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: User was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      state:
                        type: string
                        description: Account state. Specifies whether the user is
                          active or not. Blocked users are unable to sign into the
                          developer portal or call any APIs of subscribed products.
                          Default state is Active.
                        enum:
                        - active
                        - blocked
                        - pending
                        - deleted
                        default: active
                        x-ms-enum:
                          name: UserState
                          modelAsString: true
                          values:
                          - value: active
                            description: User state is active.
                          - value: blocked
                            description: User is blocked. Blocked users cannot authenticate
                              at developer portal or call API.
                          - value: pending
                            description: User account is pending. Requires identity
                              confirmation before it can be made active.
                          - value: deleted
                            description: User account is closed. All identities and
                              related entities are removed.
                      note:
                        type: string
                        description: Optional note about a user set by the administrator.
                      identities:
                        type: array
                        items:
                          type: object
                          properties:
                            provider:
                              type: string
                              description: Identity provider name.
                            id:
                              type: string
                              description: Identifier value within provider.
                          description: User identity details.
                        description: Collection of user identities.
                      firstName:
                        type: string
                        description: First name.
                      lastName:
                        type: string
                        description: Last name.
                      email:
                        type: string
                        description: Email address.
                      registrationDate:
                        type: string
                        format: date-time
                        description: 'Date of user registration. The date conforms
                          to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified
                          by the ISO 8601 standard.

                          '
                      groups:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            displayName:
                              type: string
                              description: Group name.
                              maxLength: 300
                              minLength: 1
                            description:
                              type: string
                              description: Group description. Can contain HTML formatting
                                tags.
                              maxLength: 1000
                            builtIn:
                              readOnly: true
                              type: boolean
                              description: true if the group is one of the three system
                                groups (Administrators, Developers, or Guests); otherwise
                                false.
                            type:
                              type: string
                              description: Group type.
                              enum:
                              - custom
                              - system
                              - external
                              x-ms-enum:
                                name: GroupType
                                modelAsString: false
                            externalId:
                              type: string
                              description: For external groups, this property contains
                                the id of the group from the external identity provider,
                                e.g. for Azure Active Directory `aad://<tenant>.onmicrosoft.com/groups/<group
                                object id>`; otherwise the value is null.
                          required:
                          - displayName
                          description: Group contract Properties.
                        x-ms-identifiers:
                        - displayName
                        description: Collection of groups user is part of.
                    description: User Entity Base Parameters set.
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      tags:
      - User
      operationId: User_Update
      description: Updates the details of the user specified by its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: userId
        in: path
        required: true
        description: User identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
      - name: If-Match
        in: header
        required: true
        description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  type: object
                  properties:
                    state:
                      type: string
                      description: Account state. Specifies whether the user is active
                        or not. Blocked users are unable to sign into the developer
                        portal or call any APIs of subscribed products. Default state
                        is Active.
                      enum:
                      - active
                      - blocked
                      - pending
                      - deleted
                      default: active
                      x-ms-enum:
                        name: UserState
                        modelAsString: true
                        values:
                        - value: active
                          description: User state is active.
                        - value: blocked
                          description: User is blocked. Blocked users cannot authenticate
                            at developer portal or call API.
                        - value: pending
                          description: User account is pending. Requires identity
                            confirmation before it can be made active.
                        - value: deleted
                          description: User account is closed. All identities and
                            related entities are removed.
                    note:
                      type: string
                      description: Optional note about a user set by the administrator.
                    identities:
                      type: array
                      items:
                        type: object
                        properties:
                          provider:
                            type: string
                            description: Identity provider name.
                          id:
                            type: string
                            description: Identifier value within provider.
                        description: User identity details.
                      description: Collection of user identities.
                    email:
                      type: string
                      description: Email address. Must not be empty and must be unique
                        within the service instance.
                      minLength: 1
                      maxLength: 254
                    password:
                      type: string
                      description: User Password.
                    firstName:
                      type: string
                      description: First name.
                      minLength: 1
                      maxLength: 100
                    lastName:
                      type: string
                      description: Last name.
                      minLength: 1
                      maxLength: 100
                  description: User Entity Base Parameters set.
                  x-ms-client-flatten: true
              description: User update parameters.
        description: Update parameters.
        required: true
      responses:
        '200':
          description: User was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      state:
                        type: string
                        description: Account state. Specifies whether the user is
                          active or not. Blocked users are unable to sign into the
                          developer portal or call any APIs of subscribed products.
                          Default state is Active.
                        enum:
                        - active
                        - blocked
                        - pending
                        - deleted
                        default: active
                        x-ms-enum:
                          name: UserState
                          modelAsString: true
                          values:
                          - value: active
                            description: User state is active.
                          - value: blocked
                            description: User is blocked. Blocked users cannot authenticate
                              at developer portal or call API.
                          - value: pending
                            description: User account is pending. Requires identity
                              confirmation before it can be made active.
                          - value: deleted
                            description: User account is closed. All identities and
                              related entities are removed.
                      note:
                        type: string
                        description: Optional note about a user set by the administrator.
                      identities:
                        type: array
                        items:
                          type: object
                          properties:
                            provider:
                              type: string
                              description: Identity provider name.
                            id:
                              type: string
                              description: Identifier value within provider.
                          description: User identity details.
                        description: Collection of user identities.
                      firstName:
                        type: string
                        description: First name.
                      lastName:
                        type: string
                        description: Last name.
                      email:
                        type: string
                        description: Email address.
                      registrationDate:
                        type: string
                        format: date-time
                        description: 'Date of user registration. The date conforms
                          to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified
                          by the ISO 8601 standard.

                          '
                      groups:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            displayName:
                              type: string
                              description: Group name.
                              maxLength: 300
                              minLength: 1
                            description:
                              type: string
                              description: Group description. Can contain HTML formatting
                                tags.
                              maxLength: 1000
                            builtIn:
                              readOnly: true
                              type: boolean
                              description: true if the group is one of the three system
                                groups (Administrators, Developers, or Guests); otherwise
                                false.
                            type:
                              type: string
                              description: Group type.
                              enum:
                              - custom
                              - system
                              - external
                              x-ms-enum:
                                name: GroupType
                                modelAsString: false
                            externalId:
                              type: string
                              description: For external groups, this property contains
                                the id of the group from the external identity provider,
                                e.g. for Azure Active Directory `aad://<tenant>.onmicrosoft.com/groups/<group
                                object id>`; otherwise the value is null.
                          required:
                          - displayName
                          description: Group contract Properties.
                        x-ms-identifiers:
                        - displayName
                        description: Collection of groups user is part of.
                    description: User Entity Base Parameters set.
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - User
      operationId: User_Delete
      description: Deletes specific user.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: userId
        in: path
        required: true
        description: User identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
      - name: deleteSubscriptions
        in: query
        required: false
        description: Whether to delete user's subscription or not.
        schema:
          type: boolean
      - name: notify
        in: query
        required: false
        description: Send an Account Closed Email notification to the User.
        schema:
          type: boolean
      - name: If-Match
        in: header
        required: true
        description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: appType
        in: query
        required: false
        description: Determines the type of application which send the create user
          request. Default is legacy publisher portal.
        x-ms-enum:
          name: AppType
          modelAsString: true
          values:
          - value: portal
            description: User create request was sent by legacy developer portal.
          - value: developerPortal
            description: User create request was sent by new developer portal.
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - portal
          - developerPortal
          default: portal
      responses:
        '202':
          description: Request to delete user details was accepted.
          headers:
            location:
              description: Location header
              schema:
                type: string
            Azure-AsyncOperation:
              description: Azure-AsyncOperation header contains the URL where the
                status of the long running operation can be checked
              schema:
                type: string
        '204':
          description: The user details were successfully deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users/{userId}/generateSsoUrl
  : post:
      tags:
      - Users
      operationId: User_GenerateSsoUrl
      description: Retrieves a redirection URL containing an authentication token
        for signing a given user into the developer portal.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: userId
        in: path
        required: true
        description: User identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The response body contains the single sign-on URL.
          content:
            application/json:
              schema:
                x-ms-client-flatten: true
                type: object
                properties:
                  value:
                    type: string
                    description: Redirect Url containing the SSO URL value.
                description: Generate SSO Url operations response details.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users/{userId}/groups
  : get:
      tags:
      - UserGroup
      operationId: UserGroup_List
      description: Lists all user groups.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: userId
        in: path
        required: true
        description: User identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
      - name: $filter
        in: query
        required: false
        description: '|     Field     |     Usage     |     Supported operators     |     Supported
          functions     |</br>|-------------|------------------------|-----------------------------------|</br>|
          name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,
          endswith |</br>| displayName | filter | ge, le, eq, ne, gt, lt | substringof,
          contains, startswith, endswith |</br>| description | filter | ge, le, eq,
          ne, gt, lt | substringof, contains, startswith, endswith |</br>'
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: Number of records to return.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $skip
        in: query
        required: false
        description: Number of records to skip.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Lists a collection of Group entities.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          x-ms-client-flatten: true
                          description: Group entity contract properties.
                          type: object
                          properties:
                            displayName:
                              type: string
                              description: Group name.
                              maxLength: 300
                              minLength: 1
                            description:
                              type: string
                              description: Group description. Can contain HTML formatting
                                tags.
                              maxLength: 1000
                            builtIn:
                              readOnly: true
                              type: boolean
                              description: true if the group is one of the three system
                                groups (Administrators, Developers, or Guests); otherwise
                                false.
                            type:
                              type: string
                              description: Group type.
                              enum:
                              - custom
                              - system
                              - external
                              x-ms-enum:
                                name: GroupType
                                modelAsString: false
                            externalId:
                              type: string
                              description: For external groups, this property contains
                                the id of the group from the external identity provider,
                                e.g. for Azure Active Directory `aad://<tenant>.onmicrosoft.com/groups/<group
                                object id>`; otherwise the value is null.
                          required:
                          - displayName
                      title: Resource
                      description: Common fields that are returned in the response
[...]
