openapi: 3.0.0
info:
  title: ApiManagementClient
  description: Use these REST APIs for performing operations on Diagnostic entity
    associated with your Azure API Management deployment. Diagnostics are used to
    log requests/responses in the API Management proxy.
  version: 2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/diagnostics
  : get:
      tags:
      - Diagnostic
      operationId: Diagnostic_ListByService
      description: Lists all diagnostics of the API Management service instance.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: $filter
        in: query
        required: false
        description: '|     Field     |     Usage     |     Supported operators     |     Supported
          functions     |</br>|-------------|-------------|-------------|-------------|</br>|
          name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,
          endswith |</br>'
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: Number of records to return.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $skip
        in: query
        required: false
        description: Number of records to skip.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Paged Result response of diagnostics.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          x-ms-client-flatten: true
                          description: Diagnostic entity contract properties.
                          type: object
                          properties:
                            alwaysLog:
                              type: string
                              enum:
                              - allErrors
                              x-ms-enum:
                                name: AlwaysLog
                                modelAsString: true
                                values:
                                - value: allErrors
                                  description: Always log all erroneous request regardless
                                    of sampling settings.
                              description: Specifies for what type of messages sampling
                                settings should not apply.
                            loggerId:
                              type: string
                              description: Resource Id of a target logger.
                            sampling:
                              description: Sampling settings for Diagnostic.
                              type: object
                              properties:
                                samplingType:
                                  type: string
                                  description: Sampling type.
                                  enum:
                                  - fixed
                                  x-ms-enum:
                                    name: SamplingType
                                    modelAsString: true
                                    values:
                                    - value: fixed
                                      description: Fixed-rate sampling.
                                percentage:
                                  type: number
                                  format: double
                                  minimum: 0
                                  maximum: 100
                                  description: Rate of sampling for fixed-rate sampling.
                            frontend:
                              description: Diagnostic settings for incoming/outgoing
                                HTTP messages to the Gateway.
                              type: object
                              properties:
                                request:
                                  description: Diagnostic settings for request.
                                  type: object
                                  properties:
                                    headers:
                                      type: array
                                      items:
                                        type: string
                                      description: Array of HTTP Headers to log.
                                    body:
                                      description: Body logging settings.
                                      type: object
                                      properties:
                                        bytes:
                                          type: integer
                                          format: int32
                                          maximum: 8192
                                          description: Number of request body bytes
                                            to log.
                                    dataMasking:
                                      description: Data masking settings.
                                      type: object
                                      properties:
                                        queryParams:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              value:
                                                type: string
                                                description: The name of an entity
                                                  to mask (e.g. a name of a header
                                                  or a query parameter).
                                              mode:
                                                type: string
                                                enum:
                                                - Mask
                                                - Hide
                                                x-ms-enum:
                                                  name: DataMaskingMode
                                                  modelAsString: true
                                                  values:
                                                  - value: Mask
                                                    description: Mask the value of
                                                      an entity.
                                                  - value: Hide
                                                    description: Hide the presence
                                                      of an entity.
                                                description: Data masking mode.
                                          x-ms-identifiers: []
                                          description: Masking settings for Url query
                                            parameters
                                        headers:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              value:
                                                type: string
                                                description: The name of an entity
                                                  to mask (e.g. a name of a header
                                                  or a query parameter).
                                              mode:
                                                type: string
                                                enum:
                                                - Mask
                                                - Hide
                                                x-ms-enum:
                                                  name: DataMaskingMode
                                                  modelAsString: true
                                                  values:
                                                  - value: Mask
                                                    description: Mask the value of
                                                      an entity.
                                                  - value: Hide
                                                    description: Hide the presence
                                                      of an entity.
                                                description: Data masking mode.
                                          x-ms-identifiers: []
                                          description: Masking settings for headers
                                response:
                                  description: Diagnostic settings for response.
                                  type: object
                                  properties:
                                    headers:
                                      type: array
                                      items:
                                        type: string
                                      description: Array of HTTP Headers to log.
                                    body:
                                      description: Body logging settings.
                                      type: object
                                      properties:
                                        bytes:
                                          type: integer
                                          format: int32
                                          maximum: 8192
                                          description: Number of request body bytes
                                            to log.
                                    dataMasking:
                                      description: Data masking settings.
                                      type: object
                                      properties:
                                        queryParams:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              value:
                                                type: string
                                                description: The name of an entity
                                                  to mask (e.g. a name of a header
                                                  or a query parameter).
                                              mode:
                                                type: string
                                                enum:
                                                - Mask
                                                - Hide
                                                x-ms-enum:
                                                  name: DataMaskingMode
                                                  modelAsString: true
                                                  values:
                                                  - value: Mask
                                                    description: Mask the value of
                                                      an entity.
                                                  - value: Hide
                                                    description: Hide the presence
                                                      of an entity.
                                                description: Data masking mode.
                                          x-ms-identifiers: []
                                          description: Masking settings for Url query
                                            parameters
                                        headers:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              value:
                                                type: string
                                                description: The name of an entity
                                                  to mask (e.g. a name of a header
                                                  or a query parameter).
                                              mode:
                                                type: string
                                                enum:
                                                - Mask
                                                - Hide
                                                x-ms-enum:
                                                  name: DataMaskingMode
                                                  modelAsString: true
                                                  values:
                                                  - value: Mask
                                                    description: Mask the value of
                                                      an entity.
                                                  - value: Hide
                                                    description: Hide the presence
                                                      of an entity.
                                                description: Data masking mode.
                                          x-ms-identifiers: []
                                          description: Masking settings for headers
                            backend:
                              description: Diagnostic settings for incoming/outgoing
                                HTTP messages to the Backend
                              type: object
                              properties:
                                request:
                                  description: Diagnostic settings for request.
                                  type: object
                                  properties:
                                    headers:
                                      type: array
                                      items:
                                        type: string
                                      description: Array of HTTP Headers to log.
                                    body:
                                      description: Body logging settings.
                                      type: object
                                      properties:
                                        bytes:
                                          type: integer
                                          format: int32
                                          maximum: 8192
                                          description: Number of request body bytes
                                            to log.
                                    dataMasking:
                                      description: Data masking settings.
                                      type: object
                                      properties:
                                        queryParams:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              value:
                                                type: string
                                                description: The name of an entity
                                                  to mask (e.g. a name of a header
                                                  or a query parameter).
                                              mode:
                                                type: string
                                                enum:
                                                - Mask
                                                - Hide
                                                x-ms-enum:
                                                  name: DataMaskingMode
                                                  modelAsString: true
                                                  values:
                                                  - value: Mask
                                                    description: Mask the value of
                                                      an entity.
                                                  - value: Hide
                                                    description: Hide the presence
                                                      of an entity.
                                                description: Data masking mode.
                                          x-ms-identifiers: []
                                          description: Masking settings for Url query
                                            parameters
                                        headers:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              value:
                                                type: string
                                                description: The name of an entity
                                                  to mask (e.g. a name of a header
                                                  or a query parameter).
                                              mode:
                                                type: string
                                                enum:
                                                - Mask
                                                - Hide
                                                x-ms-enum:
                                                  name: DataMaskingMode
                                                  modelAsString: true
                                                  values:
                                                  - value: Mask
                                                    description: Mask the value of
                                                      an entity.
                                                  - value: Hide
                                                    description: Hide the presence
                                                      of an entity.
                                                description: Data masking mode.
                                          x-ms-identifiers: []
                                          description: Masking settings for headers
                                response:
                                  description: Diagnostic settings for response.
                                  type: object
                                  properties:
                                    headers:
                                      type: array
                                      items:
                                        type: string
                                      description: Array of HTTP Headers to log.
                                    body:
                                      description: Body logging settings.
                                      type: object
                                      properties:
                                        bytes:
                                          type: integer
                                          format: int32
                                          maximum: 8192
                                          description: Number of request body bytes
                                            to log.
                                    dataMasking:
                                      description: Data masking settings.
                                      type: object
                                      properties:
                                        queryParams:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              value:
                                                type: string
                                                description: The name of an entity
                                                  to mask (e.g. a name of a header
                                                  or a query parameter).
                                              mode:
                                                type: string
                                                enum:
                                                - Mask
                                                - Hide
                                                x-ms-enum:
                                                  name: DataMaskingMode
                                                  modelAsString: true
                                                  values:
                                                  - value: Mask
                                                    description: Mask the value of
                                                      an entity.
                                                  - value: Hide
                                                    description: Hide the presence
                                                      of an entity.
                                                description: Data masking mode.
                                          x-ms-identifiers: []
                                          description: Masking settings for Url query
                                            parameters
                                        headers:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              value:
                                                type: string
                                                description: The name of an entity
                                                  to mask (e.g. a name of a header
                                                  or a query parameter).
                                              mode:
                                                type: string
                                                enum:
                                                - Mask
                                                - Hide
                                                x-ms-enum:
                                                  name: DataMaskingMode
                                                  modelAsString: true
                                                  values:
                                                  - value: Mask
                                                    description: Mask the value of
                                                      an entity.
                                                  - value: Hide
                                                    description: Hide the presence
                                                      of an entity.
                                                description: Data masking mode.
                                          x-ms-identifiers: []
                                          description: Masking settings for headers
                            logClientIp:
                              type: boolean
                              description: Log the ClientIP. Default is false.
                            httpCorrelationProtocol:
                              type: string
                              enum:
                              - None
                              - Legacy
                              - W3C
                              x-ms-enum:
                                name: HttpCorrelationProtocol
                                modelAsString: true
                                values:
                                - value: None
                                  description: Do not read and inject correlation
                                    headers.
                                - value: Legacy
                                  description: Inject Request-Id and Request-Context
                                    headers with request correlation data. See https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/HttpCorrelationProtocol.md.
                                - value: W3C
                                  description: Inject Trace Context headers. See https://w3c.github.io/trace-context.
                              description: Sets correlation protocol to use for Application
                                Insights diagnostics.
                            verbosity:
                              type: string
                              enum:
                              - verbose
                              - information
                              - error
                              x-ms-enum:
                                name: Verbosity
                                modelAsString: true
                                values:
                                - value: verbose
                                  description: All the traces emitted by trace policies
                                    will be sent to the logger attached to this diagnostic
                                    instance.
                                - value: information
                                  description: Traces with 'severity' set to 'information'
                                    and 'error' will be sent to the logger attached
                                    to this diagnostic instance.
                                - value: error
                                  description: Only traces with 'severity' set to
                                    'error' will be sent to the logger attached to
                                    this diagnostic instance.
                              description: The verbosity level applied to traces emitted
                                by trace policies.
                            operationNameFormat:
                              type: string
                              enum:
                              - Name
                              - Url
                              x-ms-enum:
                                name: OperationNameFormat
                                modelAsString: true
                                values:
                                - value: Name
                                  description: API_NAME;rev=API_REVISION - OPERATION_NAME
                                - value: Url
                                  description: HTTP_VERB URL
                              description: The format of the Operation Name for Application
                                Insights telemetries. Default is Name.
                            metrics:
                              type: boolean
                              description: Emit custom metrics via emit-metric policy.
                                Applicable only to Application Insights diagnostic
                                settings.
                          required:
                          - loggerId
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: Page values.
                  count:
                    type: integer
                    format: int64
                    description: Total record count number across all pages.
                  nextLink:
                    type: string
                    description: Next page link if any.
                description: Paged Diagnostic list representation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./definitions.json#/definitions/DiagnosticContract
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/diagnostics/{diagnosticId}
  : head:
      tags:
      - Diagnostic
      operationId: Diagnostic_GetEntityTag
      description: Gets the entity state (Etag) version of the Diagnostic specified
        by its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: diagnosticId
        in: path
        required: true
        description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[^*#&+:<>?]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Gets the entity tag of the diagnostic
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    get:
      tags:
      - Diagnostic
      operationId: Diagnostic_Get
      description: Gets the details of the Diagnostic specified by its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: diagnosticId
        in: path
        required: true
        description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[^*#&+:<>?]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The response body contains the specified Diagnostic entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: Diagnostic entity contract properties.
                    type: object
                    properties:
                      alwaysLog:
                        type: string
                        enum:
                        - allErrors
                        x-ms-enum:
                          name: AlwaysLog
                          modelAsString: true
                          values:
                          - value: allErrors
                            description: Always log all erroneous request regardless
                              of sampling settings.
                        description: Specifies for what type of messages sampling
                          settings should not apply.
                      loggerId:
                        type: string
                        description: Resource Id of a target logger.
                      sampling:
                        description: Sampling settings for Diagnostic.
                        type: object
                        properties:
                          samplingType:
                            type: string
                            description: Sampling type.
                            enum:
                            - fixed
                            x-ms-enum:
                              name: SamplingType
                              modelAsString: true
                              values:
                              - value: fixed
                                description: Fixed-rate sampling.
                          percentage:
                            type: number
                            format: double
                            minimum: 0
                            maximum: 100
                            description: Rate of sampling for fixed-rate sampling.
                      frontend:
                        description: Diagnostic settings for incoming/outgoing HTTP
                          messages to the Gateway.
                        type: object
                        properties:
                          request:
                            description: Diagnostic settings for request.
                            type: object
                            properties:
                              headers:
                                type: array
                                items:
                                  type: string
                                description: Array of HTTP Headers to log.
                              body:
                                description: Body logging settings.
                                type: object
                                properties:
                                  bytes:
                                    type: integer
                                    format: int32
                                    maximum: 8192
                                    description: Number of request body bytes to log.
                              dataMasking:
                                description: Data masking settings.
                                type: object
                                properties:
                                  queryParams:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        value:
                                          type: string
                                          description: The name of an entity to mask
                                            (e.g. a name of a header or a query parameter).
                                        mode:
                                          type: string
                                          enum:
                                          - Mask
                                          - Hide
                                          x-ms-enum:
                                            name: DataMaskingMode
                                            modelAsString: true
                                            values:
                                            - value: Mask
                                              description: Mask the value of an entity.
                                            - value: Hide
                                              description: Hide the presence of an
                                                entity.
                                          description: Data masking mode.
                                    x-ms-identifiers: []
                                    description: Masking settings for Url query parameters
                                  headers:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        value:
                                          type: string
                                          description: The name of an entity to mask
                                            (e.g. a name of a header or a query parameter).
                                        mode:
                                          type: string
                                          enum:
                                          - Mask
                                          - Hide
                                          x-ms-enum:
                                            name: DataMaskingMode
                                            modelAsString: true
                                            values:
                                            - value: Mask
                                              description: Mask the value of an entity.
                                            - value: Hide
                                              description: Hide the presence of an
                                                entity.
                                          description: Data masking mode.
                                    x-ms-identifiers: []
                                    description: Masking settings for headers
                          response:
                            description: Diagnostic settings for response.
                            type: object
                            properties:
                              headers:
                                type: array
                                items:
                                  type: string
                                description: Array of HTTP Headers to log.
                              body:
                                description: Body logging settings.
                                type: object
                                properties:
                                  bytes:
                                    type: integer
                                    format: int32
                                    maximum: 8192
                                    description: Number of request body bytes to log.
                              dataMasking:
                                description: Data masking settings.
                                type: object
                                properties:
                                  queryParams:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        value:
                                          type: string
                                          description: The name of an entity to mask
                                            (e.g. a name of a header or a query parameter).
                                        mode:
                                          type: string
                                          enum:
                                          - Mask
                                          - Hide
                                          x-ms-enum:
                                            name: DataMaskingMode
                                            modelAsString: true
                                            values:
                                            - value: Mask
                                              description: Mask the value of an entity.
                                            - value: Hide
                                              description: Hide the presence of an
                                                entity.
                                          description: Data masking mode.
                                    x-ms-identifiers: []
                                    description: Masking settings for Url query parameters
                                  headers:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        value:
                                          type: string
                                          description: The name of an entity to mask
                                            (e.g. a name of a header or a query parameter).
                                        mode:
                                          type: string
                                          enum:
                                          - Mask
                                          - Hide
                                          x-ms-enum:
                                            name: DataMaskingMode
                                            modelAsString: true
                                            values:
                                            - value: Mask
                                              description: Mask the value of an entity.
                                            - value: Hide
                                              description: Hide the presence of an
                                                entity.
                                          description: Data masking mode.
                                    x-ms-identifiers: []
                                    description: Masking settings for headers
                      backend:
                        description: Diagnostic settings for incoming/outgoing HTTP
                          messages to the Backend
                        type: object
                        properties:
                          request:
                            description: Diagnostic settings for request.
                            type: object
                            properties:
                              headers:
                                type: array
                                items:
                                  type: string
                                description: Array of HTTP Headers to log.
                              body:
                                description: Body logging settings.
                                type: object
                                properties:
                                  bytes:
                                    type: integer
                                    format: int32
                                    maximum: 8192
                                    description: Number of request body bytes to log.
                              dataMasking:
                                description: Data masking settings.
                                type: object
                                properties:
                                  queryParams:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        value:
                                          type: string
                                          description: The name of an entity to mask
                                            (e.g. a name of a header or a query parameter).
                                        mode:
                                          type: string
                                          enum:
                                          - Mask
                                          - Hide
                                          x-ms-enum:
                                            name: DataMaskingMode
                                            modelAsString: true
                                            values:
                                            - value: Mask
                                              description: Mask the value of an entity.
                                            - value: Hide
                                              description: Hide the presence of an
                                                entity.
                                          description: Data masking mode.
                                    x-ms-identifiers: []
                                    description: Masking settings for Url query parameters
                                  headers:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        value:
                                          type: string
                                          description: The name of an entity to mask
                                            (e.g. a name of a header or a query parameter).
                                        mode:
                                          type: string
                                          enum:
                                          - Mask
                                          - Hide
                                          x-ms-enum:
                                            name: DataMaskingMode
                                            modelAsString: true
                                            values:
                                            - value: Mask
                                              description: Mask the value of an entity.
                                            - value: Hide
                                              description: Hide the presence of an
                                                entity.
                                          description: Data masking mode.
                                    x-ms-identifiers: []
                                    description: Masking settings for headers
                          response:
                            description: Diagnostic settings for response.
                            type: object
                            properties:
                              headers:
                                type: array
                                items:
                                  type: string
                                description: Array of HTTP Headers to log.
                              body:
                                description: Body logging settings.
                                type: object
                                properties:
                                  bytes:
                                    type: integer
                                    format: int32
                                    maximum: 8192
                                    description: Number of request body bytes to log.
                              dataMasking:
                                description: Data masking settings.
                                type: object
                                properties:
                                  queryParams:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        value:
                                          type: string
                                          description: The name of an entity to mask
                                            (e.g. a name of a header or a query parameter).
                                        mode:
                                          type: string
                                          enum:
                                          - Mask
                                          - Hide
                                          x-ms-enum:
                                            name: DataMaskingMode
                                            modelAsString: true
                                            values:
                                            - value: Mask
                                              description: Mask the value of an entity.
                                            - value: Hide
                                              description: Hide the presence of an
                                                entity.
                                          description: Data masking mode.
                                    x-ms-identifiers: []
                                    description: Masking settings for Url query parameters
                                  headers:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        value:
                                          type: string
                                          description: The name of an entity to mask
                                            (e.g. a name of a header or a query parameter).
                                        mode:
                                          type: string
                                          enum:
                                          - Mask
                                          - Hide
                                          x-ms-enum:
                                            name: DataMaskingMode
                                            modelAsString: true
                                            values:
                                            - value: Mask
                                              description: Mask the value of an entity.
                                            - value: Hide
                                              description: Hide the presence of an
                                                entity.
                                          description: Data masking mode.
                                    x-ms-identifiers: []
                                    description: Masking settings for headers
                      logClientIp:
                        type: boolean
                        description: Log the ClientIP. Default is false.
                      httpCorrelationProtocol:
                        type: string
                        enum:
                        - None
                        - Legacy
                        - W3C
                        x-ms-enum:
                          name: HttpCorrelationProtocol
                          modelAsString: true
                          values:
                          - value: None
                            description: Do not read and inject correlation headers.
                          - value: Legacy
                            description: Inject Request-Id and Request-Context headers
                              with request correlation data. See https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/HttpCorrelationProtocol.md.
                          - value: W3C
                            description: Inject Trace Context headers. See https://w3c.github.io/trace-context.
                        description: Sets correlation protocol to use for Application
                          Insights diagnostics.
                      verbosity:
                        type: string
                        enum:
                        - verbose
                        - information
                        - error
                        x-ms-enum:
                          name: Verbosity
                          modelAsString: true
                          values:
                          - value: verbose
                            description: All the traces emitted by trace policies
                              will be sent to the logger attached to this diagnostic
                              instance.
                          - value: information
                            description: Traces with 'severity' set to 'information'
                              and 'error' will be sent to the logger attached to this
                              diagnostic instance.
                          - value: error
                            description: Only traces with 'severity' set to 'error'
                              will be sent to the logger attached to this diagnostic
                              instance.
                        description: The verbosity level applied to traces emitted
                          by trace policies.
                      operationNameFormat:
                        type: string
                        enum:
                        - Name
                        - Url
                        x-ms-enum:
                          name: OperationNameFormat
                          modelAsString: true
                          values:
                          - value: Name
                            description: API_NAME;rev=API_REVISION - OPERATION_NAME
                          - value: Url
                            description: HTTP_VERB URL
                        description: The format of the Operation Name for Application
                          Insights telemetries. Default is Name.
                      metrics:
                        type: boolean
                        description: Emit custom metrics via emit-metric policy. Applicable
                          only to Application Insights diagnostic settings.
                    required:
                    - loggerId
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - Diagnostic
      operationId: Diagnostic_CreateOrUpdate
      description: Creates a new Diagnostic or updates an existing one.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: diagnosticId
        in: path
        required: true
        description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[^*#&+:<>?]+$
      - name: If-Match
        in: header
        required: false
        description: ETag of the Entity. Not required when creating an entity, but
          required when updating an entity.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                properties:
                  x-ms-client-flatten: true
                  description: Diagnostic entity contract properties.
                  type: object
                  properties:
                    alwaysLog:
                      type: string
                      enum:
                      - allErrors
                      x-ms-enum:
                        name: AlwaysLog
                        modelAsString: true
                        values:
                        - value: allErrors
                          description: Always log all erroneous request regardless
                            of sampling settings.
                      description: Specifies for what type of messages sampling settings
                        should not apply.
                    loggerId:
                      type: string
                      description: Resource Id of a target logger.
                    sampling:
                      description: Sampling settings for Diagnostic.
                      type: object
                      properties:
                        samplingType:
                          type: string
                          description: Sampling type.
                          enum:
                          - fixed
                          x-ms-enum:
                            name: SamplingType
                            modelAsString: true
                            values:
                            - value: fixed
                              description: Fixed-rate sampling.
                        percentage:
                          type: number
                          format: double
                          minimum: 0
                          maximum: 100
                          description: Rate of sampling for fixed-rate sampling.
                    frontend:
                      description: Diagnostic settings for incoming/outgoing HTTP
                        messages to the Gateway.
                      type: object
                      properties:
                        request:
                          description: Diagnostic settings for request.
                          type: object
                          properties:
                            headers:
                              type: array
                              items:
                                type: string
                              description: Array of HTTP Headers to log.
                            body:
                              description: Body logging settings.
                              type: object
                              properties:
                                bytes:
                                  type: integer
                                  format: int32
                                  maximum: 8192
                                  description: Number of request body bytes to log.
                            dataMasking:
                              description: Data masking settings.
                              type: object
                              properties:
                                queryParams:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      value:
                                        type: string
                                        description: The name of an entity to mask
                                          (e.g. a name of a header or a query parameter).
                                      mode:
                                        type: string
                                        enum:
                                        - Mask
                                        - Hide
                                        x-ms-enum:
                                          name: DataMaskingMode
                                          modelAsString: true
                                          values:
                                          - value: Mask
                                            description: Mask the value of an entity.
                                          - value: Hide
                                            description: Hide the presence of an entity.
                                        description: Data masking mode.
                                  x-ms-identifiers: []
                                  description: Masking settings for Url query parameters
                                headers:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      value:
                                        type: string
                                        description: The name of an entity to mask
                                          (e.g. a name of a header or a query parameter).
                                      mode:
                                        type: string
                                        enum:
                                        - Mask
                                        - Hide
                                        x-ms-enum:
                                          name: DataMaskingMode
                                          modelAsString: true
                                          values:
                                          - value: Mask
                                            description: Mask the value of an entity.
                                          - value: Hide
                                            description: Hide the presence of an entity.
                                        description: Data masking mode.
                                  x-ms-identifiers: []
                                  description: Masking settings for headers
                        response:
                          description: Diagnostic settings for response.
                          type: object
                          properties:
                            headers:
                              type: array
                              items:
                                type: string
                              description: Array of HTTP Headers to log.
                            body:
                              description: Body logging settings.
                              type: object
                              properties:
                                bytes:
                                  type: integer
                                  format: int32
                                  maximum: 8192
                                  description: Number of request body bytes to log.
                            dataMasking:
                              description: Data masking settings.
                              type: object
                              properties:
                                queryParams:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      value:
                                        type: string
                                        description: The name of an entity to mask
                                          (e.g. a name of a header or a query parameter).
                                      mode:
                                        type: string
                                        enum:
                                        - Mask
                                        - Hide
                                        x-ms-enum:
                                          name: DataMaskingMode
                                          modelAsString: true
                                          values:
                                          - value: Mask
                                            description: Mask the value of an entity.
                                          - value: Hide
                                            description: Hide the presence of an entity.
                                        description: Data masking mode.
                                  x-ms-identifiers: []
                                  description: Masking settings for Url query parameters
                                headers:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      value:
                                        type: string
                                        description: The name of an entity to mask
                                          (e.g. a name of a header or a query parameter).
                                      mode:
                                        type: string
                                        enum:
                                        - Mask
                                        - Hide
                                        x-ms-enum:
                                          name: DataMaskingMode
                                          modelAsString: true
                                          values:
                                          - value: Mask
                                            description: Mask the value of an entity.
                                          - value: Hide
                                            description: Hide the presence of an entity.
                                        description: Data masking mode.
                                  x-ms-identifiers: []
                                  description: Masking settings for headers
                    backend:
                      description: Diagnostic settings for incoming/outgoing HTTP
                        messages to the Backend
                      type: object
                      properties:
                        request:
                          description: Diagnostic settings for request.
                          type: object
                          properties:
                            headers:
                              type: array
                              items:
                                type: string
                              description: Array of HTTP Headers to log.
                            body:
                              description: Body logging settings.
                              type: object
                              properties:
                                bytes:
                                  type: integer
                                  format: int32
                                  maximum: 8192
                                  description: Number of request body bytes to log.
                            dataMasking:
                              description: Data masking settings.
                              type: object
                              properties:
                                queryParams:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      value:
                                        type: string
                                        description: The name of an entity to mask
                                          (e.g. a name of a header or a query parameter).
                                      mode:
                                        type: string
                                        enum:
                                        - Mask
                                        - Hide
                                        x-ms-enum:
                                          name: DataMaskingMode
                                          modelAsString: true
                                          values:
                                          - value: Mask
                                            description: Mask the value of an entity.
                                          - value: Hide
                                            description: Hide the presence of an entity.
                                        description: Data masking mode.
                                  x-ms-identifiers: []
                                  description: Masking settings for Url query parameters
                                headers:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      value:
                                        type: string
                                        description: The name of an entity to mask
                                          (e.g. a name of a header or a query parameter).
                                      mode:
                                        type: string
                                        enum:
                                        - Mask
                                        - Hide
                                        x-ms-enum:
                                          name: DataMaskingMode
                                          modelAsString: true
                                          values:
                                          - value: Mask
                                            description: Mask the value of an entity.
                                          - value: Hide
                                            description: Hide the presence of an entity.
                                        description: Data masking mode.
                                  x-ms-identifiers: []
                                  description: Masking settings for headers
                        response:
                          description: Diagnostic settings for response.
                          type: object
                          properties:
                            headers:
                              type: array
                              items:
                                type: string
                              description: Array of HTTP Headers to log.
                            body:
                              description: Body logging settings.
                              type: object
                              properties:
                                bytes:
                                  type: integer
                                  format: int32
                                  maximum: 8192
                                  description: Number of request body bytes to log.
                            dataMasking:
                              description: Data masking settings.
                              type: object
                              properties:
                                queryParams:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      value:
                                        type: string
                                        description: The name of an entity to mask
                                          (e.g. a name of a header or a query parameter).
                                      mode:
                                        type: string
                                        enum:
                                        - Mask
                                        - Hide
                                        x-ms-enum:
                                          name: DataMaskingMode
                                          modelAsString: true
                                          values:
                                          - value: Mask
                                            description: Mask the value of an entity.
                                          - value: Hide
                                            description: Hide the presence of an entity.
                                        description: Data masking mode.
                                  x-ms-identifiers: []
                                  description: Masking settings for Url query parameters
                                headers:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      value:
                                        type: string
                                        description: The name of an entity to mask
                                          (e.g. a name of a header or a query parameter).
                                      mode:
                                        type: string
                                        enum:
                                        - Mask
                                        - Hide
                                        x-ms-enum:
                                          name: DataMaskingMode
                                          modelAsString: true
                                          values:
                                          - value: Mask
                                            description: Mask the value of an entity.
                                          - value: Hide
                                            description: Hide the presence of an entity.
                                        description: Data masking mode.
                                  x-ms-identifiers: []
                                  description: Masking settings for headers
                    logClientIp:
                      type: boolean
                      description: Log the ClientIP. Default is false.
                    httpCorrelationProtocol:
                      type: string
                      enum:
                      - None
                      - Legacy
                      - W3C
                      x-ms-enum:
                        name: HttpCorrelationProtocol
                        modelAsString: true
                        values:
                        - value: None
                          description: Do not read and inject correlation headers.
                        - value: Legacy
                          description: Inject Request-Id and Request-Context headers
                            with request correlation data. See https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/HttpCorrelationProtocol.md.
                        - value: W3C
                          description: Inject Trace Context headers. See https://w3c.github.io/trace-context.
                      description: Sets correlation protocol to use for Application
                        Insights diagnostics.
                    verbosity:
                      type: string
                      enum:
                      - verbose
                      - information
                      - error
                      x-ms-enum:
                        name: Verbosity
                        modelAsString: true
                        values:
                        - value: verbose
                          description: All the traces emitted by trace policies will
                            be sent to the logger attached to this diagnostic instance.
                        - value: information
                          description: Traces with 'severity' set to 'information'
                            and 'error' will be sent to the logger attached to this
                            diagnostic instance.
                        - value: error
                          description: Only traces with 'severity' set to 'error'
                            will be sent to the logger attached to this diagnostic
                            instance.
                      description: The verbosity level applied to traces emitted by
                        trace policies.
                    operationNameFormat:
                      type: string
                      enum:
                      - Name
                      - Url
                      x-ms-enum:
                        name: OperationNameFormat
                        modelAsString: true
                        values:
                        - value: Name
                          description: API_NAME;rev=API_REVISION - OPERATION_NAME
                        - value: Url
                          description: HTTP_VERB URL
                      description: The format of the Operation Name for Application
                        Insights telemetries. Default is Name.
                    metrics:
                      type: boolean
                      description: Emit custom metrics via emit-metric policy. Applicable
                        only to Application Insights diagnostic settings.
                  required:
                  - loggerId
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Create parameters.
        required: true
      responses:
        '200':
          description: Diagnostic successfully updated
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: Diagnostic entity contract properties.
                    type: object
                    properties:
                      alwaysLog:
                        type: string
                        enum:
                        - allErrors
                        x-ms-enum:
                          name: AlwaysLog
                          modelAsString: true
                          values:
                          - value: allErrors
                            description: Always log all erroneous request regardless
                              of sampling settings.
[...]
