openapi: 3.0.0
info:
  title: ApiManagementClient
  description: Use these REST APIs for performing operations to retrieve Products
    by Tags in Azure API Management deployment.
  version: 2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/productsByTags
  : get:
      tags:
      - ProductsByTag
      operationId: Product_ListByTags
      description: Lists a collection of products associated with tags.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: $filter
        in: query
        required: false
        description: '|     Field     |     Usage     |     Supported operators     |     Supported
          functions     |</br>|-------------|-------------|-------------|-------------|</br>|
          name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,
          endswith |</br>| displayName | filter | ge, le, eq, ne, gt, lt | substringof,
          contains, startswith, endswith |</br>| description | filter | ge, le, eq,
          ne, gt, lt | substringof, contains, startswith, endswith |</br>| terms |
          filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith
          |</br>| state | filter | eq | substringof, contains, startswith, endswith
          |</br>'
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: Number of records to return.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $skip
        in: query
        required: false
        description: Number of records to skip.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: includeNotTaggedProducts
        in: query
        required: false
        description: Include not tagged Products.
        schema:
          type: boolean
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Lists a collection of TagResource entities.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        tag:
                          description: Tag associated with the resource.
                          type: object
                          properties:
                            id:
                              type: string
                              description: Tag identifier
                            name:
                              type: string
                              description: Tag Name
                              minLength: 1
                              maxLength: 160
                        api:
                          type: object
                          properties:
                            description:
                              type: string
                              description: Description of the API. May include HTML
                                formatting tags.
                            authenticationSettings:
                              description: Collection of authentication settings included
                                into this API.
                              type: object
                              properties:
                                oAuth2:
                                  description: OAuth2 Authentication settings
                                  type: object
                                  properties:
                                    authorizationServerId:
                                      type: string
                                      description: OAuth authorization server identifier.
                                    scope:
                                      type: string
                                      description: operations scope.
                                openid:
                                  description: OpenID Connect Authentication Settings
                                  type: object
                                  properties:
                                    openidProviderId:
                                      type: string
                                      description: OAuth authorization server identifier.
                                    bearerTokenSendingMethods:
                                      description: How to send token to the server.
                                      type: array
                                      items:
                                        type: string
                                        description: Form of an authorization grant,
                                          which the client uses to request the access
                                          token.
                                        enum:
                                        - authorizationHeader
                                        - query
                                        x-ms-enum:
                                          modelAsString: true
                                          name: bearerTokenSendingMethods
                                          values:
                                          - value: authorizationHeader
                                            description: Access token will be transmitted
                                              in the Authorization header using Bearer
                                              schema
                                          - value: query
                                            description: Access token will be transmitted
                                              as query parameters.
                                oAuth2AuthenticationSettings:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      authorizationServerId:
                                        type: string
                                        description: OAuth authorization server identifier.
                                      scope:
                                        type: string
                                        description: operations scope.
                                    description: API OAuth2 Authentication settings
                                      details.
                                  x-ms-identifiers:
                                  - authorizationServerId
                                  description: Collection of OAuth2 authentication
                                    settings included into this API.
                                openidAuthenticationSettings:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      openidProviderId:
                                        type: string
                                        description: OAuth authorization server identifier.
                                      bearerTokenSendingMethods:
                                        description: How to send token to the server.
                                        type: array
                                        items:
                                          type: string
                                          description: Form of an authorization grant,
                                            which the client uses to request the access
                                            token.
                                          enum:
                                          - authorizationHeader
                                          - query
                                          x-ms-enum:
                                            modelAsString: true
                                            name: bearerTokenSendingMethods
                                            values:
                                            - value: authorizationHeader
                                              description: Access token will be transmitted
                                                in the Authorization header using
                                                Bearer schema
                                            - value: query
                                              description: Access token will be transmitted
                                                as query parameters.
                                    description: API OAuth2 Authentication settings
                                      details.
                                  x-ms-identifiers:
                                  - openidProviderId
                                  description: Collection of Open ID Connect authentication
                                    settings included into this API.
                            subscriptionKeyParameterNames:
                              description: Protocols over which API is made available.
                              type: object
                              properties:
                                header:
                                  type: string
                                  description: Subscription key header name.
                                query:
                                  type: string
                                  description: Subscription key query string parameter
                                    name.
                            type:
                              type: string
                              description: Type of API.
                              enum:
                              - http
                              - soap
                              - websocket
                              - graphql
                              - odata
                              - grpc
                              x-ms-client-name: ApiType
                              x-ms-enum:
                                name: ApiType
                                modelAsString: true
                            apiRevision:
                              type: string
                              description: Describes the revision of the API. If no
                                value is provided, default revision 1 is created
                              minLength: 1
                              maxLength: 100
                            apiVersion:
                              type: string
                              description: Indicates the version identifier of the
                                API if the API is versioned
                              maxLength: 100
                            isCurrent:
                              type: boolean
                              description: Indicates if API revision is current api
                                revision.
                            isOnline:
                              type: boolean
                              description: Indicates if API revision is accessible
                                via the gateway.
                              readOnly: true
                            apiRevisionDescription:
                              type: string
                              description: Description of the API Revision.
                              maxLength: 256
                            apiVersionDescription:
                              type: string
                              description: Description of the API Version.
                              maxLength: 256
                            apiVersionSetId:
                              type: string
                              description: A resource identifier for the related ApiVersionSet.
                            subscriptionRequired:
                              type: boolean
                              description: Specifies whether an API or Product subscription
                                is required for accessing the API.
                            termsOfServiceUrl:
                              type: string
                              description: ' A URL to the Terms of Service for the
                                API. MUST be in the format of a URL.'
                            contact:
                              description: Contact information for the API.
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: The identifying name of the contact
                                    person/organization
                                url:
                                  type: string
                                  description: The URL pointing to the contact information.
                                    MUST be in the format of a URL
                                email:
                                  type: string
                                  description: The email address of the contact person/organization.
                                    MUST be in the format of an email address
                            license:
                              description: License information for the API.
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: The license name used for the API
                                url:
                                  type: string
                                  description: A URL to the license used for the API.
                                    MUST be in the format of a URL
                            id:
                              type: string
                              description: API identifier in the form /apis/{apiId}.
                            name:
                              type: string
                              description: API name.
                              minLength: 1
                              maxLength: 300
                            serviceUrl:
                              type: string
                              description: Absolute URL of the backend service implementing
                                this API.
                              minLength: 1
                              maxLength: 2000
                            path:
                              type: string
                              description: Relative URL uniquely identifying this
                                API and all of its resource paths within the API Management
                                service instance. It is appended to the API endpoint
                                base URL specified during the service instance creation
                                to form a public URL for this API.
                              minLength: 0
                              maxLength: 400
                            protocols:
                              type: array
                              items:
                                type: string
                                enum:
                                - http
                                - https
                                - ws
                                - wss
                                x-ms-enum:
                                  name: Protocol
                                  modelAsString: true
                              description: Describes on which protocols the operations
                                in this API can be invoked.
                          description: API base contract details.
                        operation:
                          description: Operation associated with the tag.
                          type: object
                          properties:
                            id:
                              type: string
                              description: Identifier of the operation in form /operations/{operationId}.
                            name:
                              type: string
                              description: Operation name.
                              readOnly: true
                            apiName:
                              type: string
                              description: API Name.
                              readOnly: true
                            apiRevision:
                              type: string
                              description: API Revision.
                              readOnly: true
                            apiVersion:
                              type: string
                              description: API Version.
                              readOnly: true
                            description:
                              type: string
                              description: Operation Description.
                              readOnly: true
                            method:
                              type: string
                              description: A Valid HTTP Operation Method. Typical
                                Http Methods like GET, PUT, POST but not limited by
                                only them.
                              externalDocs:
                                description: As defined by RFC.
                                url: http://www.rfc-editor.org/rfc/rfc7230.txt
                              readOnly: true
                            urlTemplate:
                              type: string
                              description: 'Relative URL template identifying the
                                target resource for this operation. May include parameters.
                                Example: /customers/{cid}/orders/{oid}/?date={date}'
                              readOnly: true
                        product:
                          type: object
                          properties:
                            description:
                              type: string
                              description: Product description. May include HTML formatting
                                tags.
                              minLength: 0
                              maxLength: 1000
                            terms:
                              type: string
                              description: Product terms of use. Developers trying
                                to subscribe to the product will be presented and
                                required to accept these terms before they can complete
                                the subscription process.
                            subscriptionRequired:
                              description: Whether a product subscription is required
                                for accessing APIs included in this product. If true,
                                the product is referred to as "protected" and a valid
                                subscription key is required for a request to an API
                                included in the product to succeed. If false, the
                                product is referred to as "open" and requests to an
                                API included in the product can be made without a
                                subscription key. If property is omitted when creating
                                a new product it's value is assumed to be true.
                              type: boolean
                            approvalRequired:
                              description: "whether subscription approval is required.\
                                \ If false, new subscriptions will be approved automatically\
                                \ enabling developers to call the product\u2019s APIs\
                                \ immediately after subscribing. If true, administrators\
                                \ must manually approve the subscription before the\
                                \ developer can any of the product\u2019s APIs. Can\
                                \ be present only if subscriptionRequired property\
                                \ is present and has a value of false."
                              type: boolean
                            subscriptionsLimit:
                              type: integer
                              format: int32
                              description: Whether the number of subscriptions a user
                                can have to this product at the same time. Set to
                                null or omit to allow unlimited per user subscriptions.
                                Can be present only if subscriptionRequired property
                                is present and has a value of false.
                            state:
                              type: string
                              description: whether product is published or not. Published
                                products are discoverable by users of developer portal.
                                Non published products are visible only to administrators.
                                Default state of Product is notPublished.
                              enum:
                              - notPublished
                              - published
                              x-ms-enum:
                                name: ProductState
                                modelAsString: false
                            id:
                              type: string
                              description: Identifier of the product in the form of
                                /products/{productId}
                            name:
                              type: string
                              description: Product name.
                              minLength: 1
                              maxLength: 300
                          description: Product Entity Base Parameters
                          required:
                          - name
                      required:
                      - tag
                      description: TagResource contract properties.
                    x-ms-identifiers:
                    - tag/id
                    description: Page values.
                  count:
                    type: integer
                    format: int64
                    description: Total record count number across all pages.
                  nextLink:
                    type: string
                    description: Next page link if any.
                description: Paged Tag list representation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./definitions.json#/definitions/TagResourceContract
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ServiceNameParameter:
      name: serviceName
      in: path
      required: true
      description: The name of the API Management service.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 50
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
    TopQueryParameter:
      name: $top
      in: query
      required: false
      description: Number of records to return.
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        minimum: 1
    SkipQueryParameter:
      name: $skip
      in: query
      required: false
      description: Number of records to skip.
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        minimum: 0
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    TagTagResourceContractProperties:
      type: object
      properties:
        id:
          type: string
          description: Tag identifier
        name:
          type: string
          description: Tag Name
          minLength: 1
          maxLength: 160
      description: Contract defining the Tag property in the Tag Resource Contract
    OAuth2AuthenticationSettingsContract:
      type: object
      properties:
        authorizationServerId:
          type: string
          description: OAuth authorization server identifier.
        scope:
          type: string
          description: operations scope.
      description: API OAuth2 Authentication settings details.
    BearerTokenSendingMethodsContract:
      type: string
      description: Form of an authorization grant, which the client uses to request
        the access token.
      enum:
      - authorizationHeader
      - query
      x-ms-enum:
        modelAsString: true
        name: bearerTokenSendingMethods
        values:
        - value: authorizationHeader
          description: Access token will be transmitted in the Authorization header
            using Bearer schema
        - value: query
          description: Access token will be transmitted as query parameters.
    OpenIdAuthenticationSettingsContract:
      type: object
      properties:
        openidProviderId:
          type: string
          description: OAuth authorization server identifier.
        bearerTokenSendingMethods:
          description: How to send token to the server.
          type: array
          items:
            type: string
            description: Form of an authorization grant, which the client uses to
              request the access token.
            enum:
            - authorizationHeader
            - query
            x-ms-enum:
              modelAsString: true
              name: bearerTokenSendingMethods
              values:
              - value: authorizationHeader
                description: Access token will be transmitted in the Authorization
                  header using Bearer schema
              - value: query
                description: Access token will be transmitted as query parameters.
      description: API OAuth2 Authentication settings details.
    AuthenticationSettingsContract:
      type: object
      properties:
        oAuth2:
          description: OAuth2 Authentication settings
          type: object
          properties:
            authorizationServerId:
              type: string
              description: OAuth authorization server identifier.
            scope:
              type: string
              description: operations scope.
        openid:
          description: OpenID Connect Authentication Settings
          type: object
          properties:
            openidProviderId:
              type: string
              description: OAuth authorization server identifier.
            bearerTokenSendingMethods:
              description: How to send token to the server.
              type: array
              items:
                type: string
                description: Form of an authorization grant, which the client uses
                  to request the access token.
                enum:
                - authorizationHeader
                - query
                x-ms-enum:
                  modelAsString: true
                  name: bearerTokenSendingMethods
                  values:
                  - value: authorizationHeader
                    description: Access token will be transmitted in the Authorization
                      header using Bearer schema
                  - value: query
                    description: Access token will be transmitted as query parameters.
        oAuth2AuthenticationSettings:
          type: array
          items:
            type: object
            properties:
              authorizationServerId:
                type: string
                description: OAuth authorization server identifier.
              scope:
                type: string
                description: operations scope.
            description: API OAuth2 Authentication settings details.
          x-ms-identifiers:
          - authorizationServerId
          description: Collection of OAuth2 authentication settings included into
            this API.
        openidAuthenticationSettings:
          type: array
          items:
            type: object
            properties:
              openidProviderId:
                type: string
                description: OAuth authorization server identifier.
              bearerTokenSendingMethods:
                description: How to send token to the server.
                type: array
                items:
                  type: string
                  description: Form of an authorization grant, which the client uses
                    to request the access token.
                  enum:
                  - authorizationHeader
                  - query
                  x-ms-enum:
                    modelAsString: true
                    name: bearerTokenSendingMethods
                    values:
                    - value: authorizationHeader
                      description: Access token will be transmitted in the Authorization
                        header using Bearer schema
                    - value: query
                      description: Access token will be transmitted as query parameters.
            description: API OAuth2 Authentication settings details.
          x-ms-identifiers:
          - openidProviderId
          description: Collection of Open ID Connect authentication settings included
            into this API.
      description: API Authentication Settings.
    SubscriptionKeyParameterNamesContract:
      type: object
      properties:
        header:
          type: string
          description: Subscription key header name.
        query:
          type: string
          description: Subscription key query string parameter name.
      description: Subscription key parameter names details.
    ApiContactInformation:
      type: object
      properties:
        name:
          type: string
          description: The identifying name of the contact person/organization
        url:
          type: string
          description: The URL pointing to the contact information. MUST be in the
            format of a URL
        email:
          type: string
          description: The email address of the contact person/organization. MUST
            be in the format of an email address
      description: API contact information
    ApiLicenseInformation:
      type: object
      description: API license information
      properties:
        name:
          type: string
          description: The license name used for the API
        url:
          type: string
          description: A URL to the license used for the API. MUST be in the format
            of a URL
    ApiEntityBaseContract:
      type: object
      properties:
        description:
          type: string
          description: Description of the API. May include HTML formatting tags.
        authenticationSettings:
          description: Collection of authentication settings included into this API.
          type: object
          properties:
            oAuth2:
              description: OAuth2 Authentication settings
              type: object
              properties:
                authorizationServerId:
                  type: string
                  description: OAuth authorization server identifier.
                scope:
                  type: string
                  description: operations scope.
            openid:
              description: OpenID Connect Authentication Settings
              type: object
              properties:
                openidProviderId:
                  type: string
                  description: OAuth authorization server identifier.
                bearerTokenSendingMethods:
                  description: How to send token to the server.
                  type: array
                  items:
                    type: string
                    description: Form of an authorization grant, which the client
                      uses to request the access token.
                    enum:
                    - authorizationHeader
                    - query
                    x-ms-enum:
                      modelAsString: true
                      name: bearerTokenSendingMethods
                      values:
                      - value: authorizationHeader
                        description: Access token will be transmitted in the Authorization
                          header using Bearer schema
                      - value: query
                        description: Access token will be transmitted as query parameters.
            oAuth2AuthenticationSettings:
              type: array
              items:
                type: object
                properties:
                  authorizationServerId:
                    type: string
                    description: OAuth authorization server identifier.
                  scope:
                    type: string
                    description: operations scope.
                description: API OAuth2 Authentication settings details.
              x-ms-identifiers:
              - authorizationServerId
              description: Collection of OAuth2 authentication settings included into
                this API.
            openidAuthenticationSettings:
              type: array
              items:
                type: object
                properties:
                  openidProviderId:
                    type: string
                    description: OAuth authorization server identifier.
                  bearerTokenSendingMethods:
                    description: How to send token to the server.
                    type: array
                    items:
                      type: string
                      description: Form of an authorization grant, which the client
                        uses to request the access token.
                      enum:
                      - authorizationHeader
                      - query
                      x-ms-enum:
                        modelAsString: true
                        name: bearerTokenSendingMethods
                        values:
                        - value: authorizationHeader
                          description: Access token will be transmitted in the Authorization
                            header using Bearer schema
                        - value: query
                          description: Access token will be transmitted as query parameters.
                description: API OAuth2 Authentication settings details.
              x-ms-identifiers:
              - openidProviderId
              description: Collection of Open ID Connect authentication settings included
                into this API.
        subscriptionKeyParameterNames:
          description: Protocols over which API is made available.
          type: object
          properties:
            header:
              type: string
              description: Subscription key header name.
            query:
              type: string
              description: Subscription key query string parameter name.
        type:
          type: string
          description: Type of API.
          enum:
          - http
          - soap
          - websocket
          - graphql
          - odata
          - grpc
          x-ms-client-name: ApiType
          x-ms-enum:
            name: ApiType
            modelAsString: true
        apiRevision:
          type: string
          description: Describes the revision of the API. If no value is provided,
            default revision 1 is created
          minLength: 1
          maxLength: 100
        apiVersion:
          type: string
          description: Indicates the version identifier of the API if the API is versioned
          maxLength: 100
        isCurrent:
          type: boolean
          description: Indicates if API revision is current api revision.
        isOnline:
          type: boolean
          description: Indicates if API revision is accessible via the gateway.
          readOnly: true
        apiRevisionDescription:
          type: string
          description: Description of the API Revision.
          maxLength: 256
        apiVersionDescription:
          type: string
          description: Description of the API Version.
          maxLength: 256
        apiVersionSetId:
          type: string
          description: A resource identifier for the related ApiVersionSet.
        subscriptionRequired:
          type: boolean
          description: Specifies whether an API or Product subscription is required
            for accessing the API.
        termsOfServiceUrl:
          type: string
          description: ' A URL to the Terms of Service for the API. MUST be in the
            format of a URL.'
        contact:
          description: Contact information for the API.
          type: object
          properties:
            name:
              type: string
              description: The identifying name of the contact person/organization
            url:
              type: string
              description: The URL pointing to the contact information. MUST be in
                the format of a URL
            email:
              type: string
              description: The email address of the contact person/organization. MUST
                be in the format of an email address
        license:
          description: License information for the API.
          type: object
          properties:
            name:
              type: string
              description: The license name used for the API
            url:
              type: string
              description: A URL to the license used for the API. MUST be in the format
                of a URL
      description: API base contract details.
    ApiTagResourceContractProperties:
      type: object
      properties:
        description:
          type: string
          description: Description of the API. May include HTML formatting tags.
        authenticationSettings:
          description: Collection of authentication settings included into this API.
          type: object
          properties:
            oAuth2:
              description: OAuth2 Authentication settings
              type: object
              properties:
                authorizationServerId:
                  type: string
                  description: OAuth authorization server identifier.
                scope:
                  type: string
                  description: operations scope.
            openid:
              description: OpenID Connect Authentication Settings
              type: object
              properties:
                openidProviderId:
                  type: string
                  description: OAuth authorization server identifier.
                bearerTokenSendingMethods:
                  description: How to send token to the server.
                  type: array
                  items:
                    type: string
                    description: Form of an authorization grant, which the client
                      uses to request the access token.
                    enum:
                    - authorizationHeader
                    - query
                    x-ms-enum:
                      modelAsString: true
                      name: bearerTokenSendingMethods
                      values:
                      - value: authorizationHeader
                        description: Access token will be transmitted in the Authorization
                          header using Bearer schema
                      - value: query
                        description: Access token will be transmitted as query parameters.
            oAuth2AuthenticationSettings:
              type: array
              items:
                type: object
                properties:
                  authorizationServerId:
                    type: string
                    description: OAuth authorization server identifier.
                  scope:
                    type: string
                    description: operations scope.
                description: API OAuth2 Authentication settings details.
              x-ms-identifiers:
              - authorizationServerId
              description: Collection of OAuth2 authentication settings included into
                this API.
            openidAuthenticationSettings:
              type: array
              items:
                type: object
                properties:
                  openidProviderId:
                    type: string
                    description: OAuth authorization server identifier.
                  bearerTokenSendingMethods:
                    description: How to send token to the server.
                    type: array
                    items:
                      type: string
                      description: Form of an authorization grant, which the client
                        uses to request the access token.
                      enum:
                      - authorizationHeader
                      - query
                      x-ms-enum:
                        modelAsString: true
                        name: bearerTokenSendingMethods
                        values:
                        - value: authorizationHeader
                          description: Access token will be transmitted in the Authorization
                            header using Bearer schema
                        - value: query
                          description: Access token will be transmitted as query parameters.
                description: API OAuth2 Authentication settings details.
              x-ms-identifiers:
              - openidProviderId
              description: Collection of Open ID Connect authentication settings included
                into this API.
        subscriptionKeyParameterNames:
          description: Protocols over which API is made available.
          type: object
          properties:
            header:
              type: string
              description: Subscription key header name.
            query:
              type: string
              description: Subscription key query string parameter name.
        type:
          type: string
          description: Type of API.
          enum:
          - http
          - soap
          - websocket
          - graphql
          - odata
          - grpc
          x-ms-client-name: ApiType
          x-ms-enum:
            name: ApiType
            modelAsString: true
        apiRevision:
          type: string
          description: Describes the revision of the API. If no value is provided,
            default revision 1 is created
          minLength: 1
          maxLength: 100
        apiVersion:
          type: string
          description: Indicates the version identifier of the API if the API is versioned
          maxLength: 100
        isCurrent:
          type: boolean
          description: Indicates if API revision is current api revision.
        isOnline:
          type: boolean
          description: Indicates if API revision is accessible via the gateway.
          readOnly: true
        apiRevisionDescription:
          type: string
          description: Description of the API Revision.
          maxLength: 256
        apiVersionDescription:
          type: string
          description: Description of the API Version.
          maxLength: 256
        apiVersionSetId:
          type: string
          description: A resource identifier for the related ApiVersionSet.
        subscriptionRequired:
          type: boolean
          description: Specifies whether an API or Product subscription is required
            for accessing the API.
        termsOfServiceUrl:
          type: string
          description: ' A URL to the Terms of Service for the API. MUST be in the
            format of a URL.'
        contact:
          description: Contact information for the API.
          type: object
          properties:
            name:
              type: string
              description: The identifying name of the contact person/organization
            url:
              type: string
              description: The URL pointing to the contact information. MUST be in
                the format of a URL
            email:
              type: string
              description: The email address of the contact person/organization. MUST
                be in the format of an email address
        license:
          description: License information for the API.
          type: object
          properties:
            name:
              type: string
              description: The license name used for the API
            url:
              type: string
              description: A URL to the license used for the API. MUST be in the format
                of a URL
        id:
          type: string
          description: API identifier in the form /apis/{apiId}.
        name:
          type: string
          description: API name.
          minLength: 1
          maxLength: 300
        serviceUrl:
          type: string
          description: Absolute URL of the backend service implementing this API.
          minLength: 1
          maxLength: 2000
        path:
          type: string
          description: Relative URL uniquely identifying this API and all of its resource
            paths within the API Management service instance. It is appended to the
            API endpoint base URL specified during the service instance creation to
            form a public URL for this API.
          minLength: 0
          maxLength: 400
        protocols:
          type: array
          items:
            type: string
            enum:
            - http
            - https
            - ws
            - wss
            x-ms-enum:
              name: Protocol
              modelAsString: true
          description: Describes on which protocols the operations in this API can
            be invoked.
      description: API base contract details.
    OperationTagResourceContractProperties:
      type: object
      properties:
        id:
          type: string
          description: Identifier of the operation in form /operations/{operationId}.
        name:
          type: string
          description: Operation name.
          readOnly: true
        apiName:
          type: string
          description: API Name.
          readOnly: true
        apiRevision:
          type: string
          description: API Revision.
          readOnly: true
        apiVersion:
          type: string
          description: API Version.
          readOnly: true
        description:
          type: string
          description: Operation Description.
          readOnly: true
        method:
          type: string
          description: A Valid HTTP Operation Method. Typical Http Methods like GET,
            PUT, POST but not limited by only them.
          externalDocs:
            description: As defined by RFC.
            url: http://www.rfc-editor.org/rfc/rfc7230.txt
          readOnly: true
        urlTemplate:
          type: string
          description: 'Relative URL template identifying the target resource for
            this operation. May include parameters. Example: /customers/{cid}/orders/{oid}/?date={date}'
          readOnly: true
      description: Operation Entity contract Properties.
    ProductEntityBaseParameters:
      type: object
      properties:
        description:
          type: string
          description: Product description. May include HTML formatting tags.
          minLength: 0
          maxLength: 1000
        terms:
          type: string
          description: Product terms of use. Developers trying to subscribe to the
            product will be presented and required to accept these terms before they
            can complete the subscription process.
        subscriptionRequired:
          description: Whether a product subscription is required for accessing APIs
            included in this product. If true, the product is referred to as "protected"
            and a valid subscription key is required for a request to an API included
            in the product to succeed. If false, the product is referred to as "open"
            and requests to an API included in the product can be made without a subscription
            key. If property is omitted when creating a new product it's value is
            assumed to be true.
          type: boolean
        approvalRequired:
          description: "whether subscription approval is required. If false, new subscriptions\
            \ will be approved automatically enabling developers to call the product\u2019\
            s APIs immediately after subscribing. If true, administrators must manually\
            \ approve the subscription before the developer can any of the product\u2019\
            s APIs. Can be present only if subscriptionRequired property is present\
            \ and has a value of false."
          type: boolean
        subscriptionsLimit:
          type: integer
          format: int32
          description: Whether the number of subscriptions a user can have to this
            product at the same time. Set to null or omit to allow unlimited per user
            subscriptions. Can be present only if subscriptionRequired property is
            present and has a value of false.
        state:
          type: string
          description: whether product is published or not. Published products are
            discoverable by users of developer portal. Non published products are
            visible only to administrators. Default state of Product is notPublished.
          enum:
          - notPublished
          - published
          x-ms-enum:
            name: ProductState
            modelAsString: false
      description: Product Entity Base Parameters
    ProductTagResourceContractProperties:
      type: object
      properties:
        description:
          type: string
          description: Product description. May include HTML formatting tags.
          minLength: 0
          maxLength: 1000
        terms:
          type: string
          description: Product terms of use. Developers trying to subscribe to the
            product will be presented and required to accept these terms before they
            can complete the subscription process.
        subscriptionRequired:
          description: Whether a product subscription is required for accessing APIs
            included in this product. If true, the product is referred to as "protected"
            and a valid subscription key is required for a request to an API included
            in the product to succeed. If false, the product is referred to as "open"
            and requests to an API included in the product can be made without a subscription
            key. If property is omitted when creating a new product it's value is
            assumed to be true.
          type: boolean
        approvalRequired:
          description: "whether subscription approval is required. If false, new subscriptions\
            \ will be approved automatically enabling developers to call the product\u2019\
            s APIs immediately after subscribing. If true, administrators must manually\
            \ approve the subscription before the developer can any of the product\u2019\
            s APIs. Can be present only if subscriptionRequired property is present\
            \ and has a value of false."
          type: boolean
        subscriptionsLimit:
          type: integer
          format: int32
          description: Whether the number of subscriptions a user can have to this
            product at the same time. Set to null or omit to allow unlimited per user
            subscriptions. Can be present only if subscriptionRequired property is
            present and has a value of false.
        state:
          type: string
          description: whether product is published or not. Published products are
            discoverable by users of developer portal. Non published products are
            visible only to administrators. Default state of Product is notPublished.
          enum:
          - notPublished
          - published
          x-ms-enum:
            name: ProductState
            modelAsString: false
        id:
          type: string
          description: Identifier of the product in the form of /products/{productId}
        name:
          type: string
          description: Product name.
          minLength: 1
          maxLength: 300
      description: Product Entity Base Parameters
      required:
      - name
    TagResourceContract:
      type: object
      properties:
        tag:
          description: Tag associated with the resource.
          type: object
          properties:
            id:
              type: string
              description: Tag identifier
            name:
              type: string
              description: Tag Name
              minLength: 1
              maxLength: 160
        api:
          type: object
          properties:
            description:
              type: string
              description: Description of the API. May include HTML formatting tags.
            authenticationSettings:
              description: Collection of authentication settings included into this
                API.
              type: object
              properties:
                oAuth2:
                  description: OAuth2 Authentication settings
                  type: object
                  properties:
                    authorizationServerId:
                      type: string
                      description: OAuth authorization server identifier.
                    scope:
                      type: string
                      description: operations scope.
                openid:
                  description: OpenID Connect Authentication Settings
                  type: object
                  properties:
                    openidProviderId:
                      type: string
                      description: OAuth authorization server identifier.
                    bearerTokenSendingMethods:
                      description: How to send token to the server.
                      type: array
                      items:
                        type: string
                        description: Form of an authorization grant, which the client
                          uses to request the access token.
                        enum:
                        - authorizationHeader
                        - query
                        x-ms-enum:
                          modelAsString: true
                          name: bearerTokenSendingMethods
                          values:
                          - value: authorizationHeader
                            description: Access token will be transmitted in the Authorization
                              header using Bearer schema
                          - value: query
                            description: Access token will be transmitted as query
                              parameters.
                oAuth2AuthenticationSettings:
                  type: array
                  items:
                    type: object
                    properties:
                      authorizationServerId:
                        type: string
                        description: OAuth authorization server identifier.
                      scope:
                        type: string
                        description: operations scope.
                    description: API OAuth2 Authentication settings details.
                  x-ms-identifiers:
                  - authorizationServerId
                  description: Collection of OAuth2 authentication settings included
                    into this API.
                openidAuthenticationSettings:
                  type: array
                  items:
                    type: object
                    properties:
                      openidProviderId:
                        type: string
                        description: OAuth authorization server identifier.
                      bearerTokenSendingMethods:
                        description: How to send token to the server.
                        type: array
                        items:
                          type: string
                          description: Form of an authorization grant, which the client
                            uses to request the access token.
                          enum:
                          - authorizationHeader
                          - query
                          x-ms-enum:
                            modelAsString: true
                            name: bearerTokenSendingMethods
                            values:
                            - value: authorizationHeader
                              description: Access token will be transmitted in the
                                Authorization header using Bearer schema
                            - value: query
                              description: Access token will be transmitted as query
                                parameters.
                    description: API OAuth2 Authentication settings details.
                  x-ms-identifiers:
                  - openidProviderId
                  description: Collection of Open ID Connect authentication settings
                    included into this API.
            subscriptionKeyParameterNames:
              description: Protocols over which API is made available.
              type: object
              properties:
                header:
                  type: string
                  description: Subscription key header name.
                query:
                  type: string
                  description: Subscription key query string parameter name.
            type:
              type: string
              description: Type of API.
              enum:
              - http
              - soap
              - websocket
              - graphql
              - odata
              - grpc
              x-ms-client-name: ApiType
              x-ms-enum:
                name: ApiType
                modelAsString: true
            apiRevision:
              type: string
              description: Describes the revision of the API. If no value is provided,
                default revision 1 is created
              minLength: 1
              maxLength: 100
            apiVersion:
              type: string
              description: Indicates the version identifier of the API if the API
                is versioned
              maxLength: 100
            isCurrent:
              type: boolean
              description: Indicates if API revision is current api revision.
            isOnline:
              type: boolean
              description: Indicates if API revision is accessible via the gateway.
              readOnly: true
            apiRevisionDescription:
              type: string
              description: Description of the API Revision.
              maxLength: 256
            apiVersionDescription:
              type: string
              description: Description of the API Version.
              maxLength: 256
            apiVersionSetId:
              type: string
              description: A resource identifier for the related ApiVersionSet.
            subscriptionRequired:
              type: boolean
              description: Specifies whether an API or Product subscription is required
                for accessing the API.
            termsOfServiceUrl:
              type: string
              description: ' A URL to the Terms of Service for the API. MUST be in
                the format of a URL.'
            contact:
              description: Contact information for the API.
              type: object
              properties:
                name:
                  type: string
                  description: The identifying name of the contact person/organization
                url:
                  type: string
                  description: The URL pointing to the contact information. MUST be
                    in the format of a URL
                email:
                  type: string
                  description: The email address of the contact person/organization.
                    MUST be in the format of an email address
            license:
              description: License information for the API.
              type: object
              properties:
                name:
                  type: string
                  description: The license name used for the API
                url:
                  type: string
                  description: A URL to the license used for the API. MUST be in the
                    format of a URL
            id:
              type: string
              description: API identifier in the form /apis/{apiId}.
            name:
              type: string
              description: API name.
              minLength: 1
              maxLength: 300
            serviceUrl:
              type: string
              description: Absolute URL of the backend service implementing this API.
              minLength: 1
              maxLength: 2000
            path:
              type: string
              description: Relative URL uniquely identifying this API and all of its
                resource paths within the API Management service instance. It is appended
                to the API endpoint base URL specified during the service instance
                creation to form a public URL for this API.
              minLength: 0
              maxLength: 400
            protocols:
              type: array
              items:
                type: string
                enum:
                - http
                - https
                - ws
                - wss
                x-ms-enum:
                  name: Protocol
                  modelAsString: true
              description: Describes on which protocols the operations in this API
                can be invoked.
          description: API base contract details.
        operation:
          description: Operation associated with the tag.
          type: object
          properties:
            id:
              type: string
              description: Identifier of the operation in form /operations/{operationId}.
            name:
              type: string
              description: Operation name.
              readOnly: true
            apiName:
              type: string
              description: API Name.
              readOnly: true
            apiRevision:
              type: string
              description: API Revision.
              readOnly: true
            apiVersion:
              type: string
              description: API Version.
              readOnly: true
            description:
              type: string
              description: Operation Description.
              readOnly: true
            method:
              type: string
              description: A Valid HTTP Operation Method. Typical Http Methods like
                GET, PUT, POST but not limited by only them.
              externalDocs:
                description: As defined by RFC.
                url: http://www.rfc-editor.org/rfc/rfc7230.txt
              readOnly: true
            urlTemplate:
              type: string
              description: 'Relative URL template identifying the target resource
                for this operation. May include parameters. Example: /customers/{cid}/orders/{oid}/?date={date}'
              readOnly: true
        product:
          type: object
          properties:
            description:
              type: string
              description: Product description. May include HTML formatting tags.
              minLength: 0
              maxLength: 1000
            terms:
              type: string
              description: Product terms of use. Developers trying to subscribe to
                the product will be presented and required to accept these terms before
                they can complete the subscription process.
            subscriptionRequired:
              description: Whether a product subscription is required for accessing
                APIs included in this product. If true, the product is referred to
                as "protected" and a valid subscription key is required for a request
                to an API included in the product to succeed. If false, the product
                is referred to as "open" and requests to an API included in the product
                can be made without a subscription key. If property is omitted when
                creating a new product it's value is assumed to be true.
              type: boolean
            approvalRequired:
              description: "whether subscription approval is required. If false, new\
                \ subscriptions will be approved automatically enabling developers\
                \ to call the product\u2019s APIs immediately after subscribing. If\
                \ true, administrators must manually approve the subscription before\
                \ the developer can any of the product\u2019s APIs. Can be present\
                \ only if subscriptionRequired property is present and has a value\
                \ of false."
              type: boolean
            subscriptionsLimit:
              type: integer
              format: int32
              description: Whether the number of subscriptions a user can have to
                this product at the same time. Set to null or omit to allow unlimited
                per user subscriptions. Can be present only if subscriptionRequired
                property is present and has a value of false.
            state:
              type: string
              description: whether product is published or not. Published products
                are discoverable by users of developer portal. Non published products
                are visible only to administrators. Default state of Product is notPublished.
              enum:
              - notPublished
              - published
              x-ms-enum:
                name: ProductState
                modelAsString: false
            id:
              type: string
              description: Identifier of the product in the form of /products/{productId}
            name:
              type: string
              description: Product name.
              minLength: 1
              maxLength: 300
          description: Product Entity Base Parameters
          required:
          - name
      required:
      - tag
      description: TagResource contract properties.
    TagResourceCollection:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              tag:
                description: Tag associated with the resource.
                type: object
                properties:
                  id:
                    type: string
                    description: Tag identifier
                  name:
                    type: string
                    description: Tag Name
                    minLength: 1
                    maxLength: 160
              api:
                type: object
                properties:
                  description:
                    type: string
                    description: Description of the API. May include HTML formatting
                      tags.
                  authenticationSettings:
                    description: Collection of authentication settings included into
                      this API.
                    type: object
                    properties:
                      oAuth2:
                        description: OAuth2 Authentication settings
                        type: object
                        properties:
                          authorizationServerId:
                            type: string
                            description: OAuth authorization server identifier.
                          scope:
                            type: string
                            description: operations scope.
                      openid:
                        description: OpenID Connect Authentication Settings
                        type: object
                        properties:
                          openidProviderId:
                            type: string
                            description: OAuth authorization server identifier.
                          bearerTokenSendingMethods:
                            description: How to send token to the server.
                            type: array
                            items:
                              type: string
                              description: Form of an authorization grant, which the
                                client uses to request the access token.
                              enum:
                              - authorizationHeader
                              - query
                              x-ms-enum:
                                modelAsString: true
                                name: bearerTokenSendingMethods
                                values:
                                - value: authorizationHeader
                                  description: Access token will be transmitted in
                                    the Authorization header using Bearer schema
                                - value: query
                                  description: Access token will be transmitted as
                                    query parameters.
                      oAuth2AuthenticationSettings:
                        type: array
                        items:
                          type: object
                          properties:
                            authorizationServerId:
                              type: string
                              description: OAuth authorization server identifier.
                            scope:
                              type: string
                              description: operations scope.
                          description: API OAuth2 Authentication settings details.
                        x-ms-identifiers:
                        - authorizationServerId
                        description: Collection of OAuth2 authentication settings
                          included into this API.
                      openidAuthenticationSettings:
                        type: array
                        items:
                          type: object
                          properties:
                            openidProviderId:
                              type: string
                              description: OAuth authorization server identifier.
                            bearerTokenSendingMethods:
                              description: How to send token to the server.
                              type: array
                              items:
                                type: string
                                description: Form of an authorization grant, which
                                  the client uses to request the access token.
                                enum:
                                - authorizationHeader
                                - query
                                x-ms-enum:
                                  modelAsString: true
                                  name: bearerTokenSendingMethods
                                  values:
                                  - value: authorizationHeader
                                    description: Access token will be transmitted
                                      in the Authorization header using Bearer schema
                                  - value: query
                                    description: Access token will be transmitted
                                      as query parameters.
                          description: API OAuth2 Authentication settings details.
                        x-ms-identifiers:
                        - openidProviderId
                        description: Collection of Open ID Connect authentication
                          settings included into this API.
                  subscriptionKeyParameterNames:
                    description: Protocols over which API is made available.
                    type: object
                    properties:
                      header:
                        type: string
                        description: Subscription key header name.
                      query:
                        type: string
                        description: Subscription key query string parameter name.
                  type:
                    type: string
                    description: Type of API.
                    enum:
                    - http
                    - soap
                    - websocket
                    - graphql
                    - odata
                    - grpc
                    x-ms-client-name: ApiType
                    x-ms-enum:
                      name: ApiType
                      modelAsString: true
                  apiRevision:
                    type: string
                    description: Describes the revision of the API. If no value is
                      provided, default revision 1 is created
                    minLength: 1
                    maxLength: 100
                  apiVersion:
                    type: string
                    description: Indicates the version identifier of the API if the
                      API is versioned
                    maxLength: 100
                  isCurrent:
                    type: boolean
                    description: Indicates if API revision is current api revision.
                  isOnline:
                    type: boolean
                    description: Indicates if API revision is accessible via the gateway.
                    readOnly: true
                  apiRevisionDescription:
                    type: string
                    description: Description of the API Revision.
                    maxLength: 256
                  apiVersionDescription:
                    type: string
                    description: Description of the API Version.
                    maxLength: 256
                  apiVersionSetId:
                    type: string
                    description: A resource identifier for the related ApiVersionSet.
                  subscriptionRequired:
                    type: boolean
                    description: Specifies whether an API or Product subscription
                      is required for accessing the API.
                  termsOfServiceUrl:
                    type: string
                    description: ' A URL to the Terms of Service for the API. MUST
                      be in the format of a URL.'
                  contact:
                    description: Contact information for the API.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The identifying name of the contact person/organization
                      url:
                        type: string
                        description: The URL pointing to the contact information.
                          MUST be in the format of a URL
                      email:
                        type: string
                        description: The email address of the contact person/organization.
                          MUST be in the format of an email address
                  license:
                    description: License information for the API.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The license name used for the API
                      url:
                        type: string
                        description: A URL to the license used for the API. MUST be
                          in the format of a URL
                  id:
                    type: string
                    description: API identifier in the form /apis/{apiId}.
                  name:
                    type: string
                    description: API name.
                    minLength: 1
                    maxLength: 300
                  serviceUrl:
                    type: string
                    description: Absolute URL of the backend service implementing
                      this API.
                    minLength: 1
                    maxLength: 2000
                  path:
                    type: string
                    description: Relative URL uniquely identifying this API and all
                      of its resource paths within the API Management service instance.
                      It is appended to the API endpoint base URL specified during
                      the service instance creation to form a public URL for this
                      API.
                    minLength: 0
                    maxLength: 400
                  protocols:
                    type: array
                    items:
                      type: string
                      enum:
                      - http
                      - https
                      - ws
                      - wss
                      x-ms-enum:
                        name: Protocol
                        modelAsString: true
                    description: Describes on which protocols the operations in this
                      API can be invoked.
                description: API base contract details.
              operation:
                description: Operation associated with the tag.
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier of the operation in form /operations/{operationId}.
                  name:
                    type: string
                    description: Operation name.
                    readOnly: true
                  apiName:
                    type: string
                    description: API Name.
                    readOnly: true
                  apiRevision:
                    type: string
                    description: API Revision.
                    readOnly: true
                  apiVersion:
                    type: string
                    description: API Version.
                    readOnly: true
                  description:
                    type: string
                    description: Operation Description.
                    readOnly: true
                  method:
                    type: string
                    description: A Valid HTTP Operation Method. Typical Http Methods
                      like GET, PUT, POST but not limited by only them.
                    externalDocs:
                      description: As defined by RFC.
                      url: http://www.rfc-editor.org/rfc/rfc7230.txt
                    readOnly: true
                  urlTemplate:
                    type: string
                    description: 'Relative URL template identifying the target resource
                      for this operation. May include parameters. Example: /customers/{cid}/orders/{oid}/?date={date}'
                    readOnly: true
              product:
                type: object
                properties:
                  description:
                    type: string
                    description: Product description. May include HTML formatting
                      tags.
                    minLength: 0
                    maxLength: 1000
                  terms:
                    type: string
                    description: Product terms of use. Developers trying to subscribe
                      to the product will be presented and required to accept these
                      terms before they can complete the subscription process.
                  subscriptionRequired:
                    description: Whether a product subscription is required for accessing
                      APIs included in this product. If true, the product is referred
                      to as "protected" and a valid subscription key is required for
                      a request to an API included in the product to succeed. If false,
                      the product is referred to as "open" and requests to an API
                      included in the product can be made without a subscription key.
                      If property is omitted when creating a new product it's value
                      is assumed to be true.
                    type: boolean
                  approvalRequired:
                    description: "whether subscription approval is required. If false,\
                      \ new subscriptions will be approved automatically enabling\
                      \ developers to call the product\u2019s APIs immediately after\
                      \ subscribing. If true, administrators must manually approve\
                      \ the subscription before the developer can any of the product\u2019\
                      s APIs. Can be present only if subscriptionRequired property\
                      \ is present and has a value of false."
                    type: boolean
                  subscriptionsLimit:
                    type: integer
                    format: int32
                    description: Whether the number of subscriptions a user can have
                      to this product at the same time. Set to null or omit to allow
                      unlimited per user subscriptions. Can be present only if subscriptionRequired
                      property is present and has a value of false.
                  state:
                    type: string
                    description: whether product is published or not. Published products
                      are discoverable by users of developer portal. Non published
                      products are visible only to administrators. Default state of
                      Product is notPublished.
                    enum:
                    - notPublished
                    - published
                    x-ms-enum:
                      name: ProductState
                      modelAsString: false
                  id:
                    type: string
                    description: Identifier of the product in the form of /products/{productId}
                  name:
                    type: string
                    description: Product name.
                    minLength: 1
                    maxLength: 300
                description: Product Entity Base Parameters
                required:
                - name
            required:
            - tag
            description: TagResource contract properties.
          x-ms-identifiers:
          - tag/id
          description: Page values.
        count:
          type: integer
          format: int64
          description: Total record count number across all pages.
        nextLink:
          type: string
          description: Next page link if any.
      description: Paged Tag list representation.
