openapi: 3.0.0
info:
  title: ApiManagementClient
  description: Use these REST APIs for getting the network connectivity status of
    your Azure API Management deployment. When the API Management service is deployed
    inside a Virtual Network, it needs to have access to other Azure resources it
    depends on. This also gives details about the DNS Servers visible to Azure API
    Management deployment.
  version: 2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/networkstatus
  : get:
      tags:
      - NetworkStatus
      operationId: NetworkStatus_ListByService
      description: Gets the Connectivity Status to the external resources on which
        the Api Management service depends from inside the Cloud Service. This also
        returns the DNS Servers as visible to the CloudService.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Gets the list Network status details for all regions in which
            service is deployed.
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    location:
                      type: string
                      description: Location of service
                      minLength: 1
                    networkStatus:
                      description: Network status in Location
                      properties:
                        dnsServers:
                          type: array
                          items:
                            type: string
                          description: Gets the list of DNS servers IPV4 addresses.
                        connectivityStatus:
                          type: array
                          items:
                            properties:
                              name:
                                type: string
                                description: The hostname of the resource which the
                                  service depends on. This can be the database, storage
                                  or any other azure resource on which the service
                                  depends upon.
                                minLength: 1
                              status:
                                type: string
                                enum:
                                - initializing
                                - success
                                - failure
                                x-ms-enum:
                                  name: ConnectivityStatusType
                                  modelAsString: true
                                description: Resource Connectivity Status Type identifier.
                              error:
                                type: string
                                description: Error details of the connectivity to
                                  the resource.
                              lastUpdated:
                                type: string
                                format: date-time
                                description: 'The date when the resource connectivity
                                  status was last updated. This status should be updated
                                  every 15 minutes. If this status has not been updated,
                                  then it means that the service has lost network
                                  connectivity to the resource, from inside the Virtual
                                  Network.The date conforms to the following format:
                                  `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601
                                  standard.

                                  '
                              lastStatusChange:
                                type: string
                                format: date-time
                                description: 'The date when the resource connectivity
                                  status last Changed from success to failure or vice-versa.
                                  The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
                                  as specified by the ISO 8601 standard.

                                  '
                              resourceType:
                                type: string
                                description: Resource Type.
                              isOptional:
                                type: boolean
                                description: Whether this is optional.
                            required:
                            - name
                            - status
                            - lastUpdated
                            - lastStatusChange
                            - resourceType
                            - isOptional
                            description: Details about connectivity to a resource.
                          x-ms-identifiers:
                          - name
                          - resourceType
                          description: Gets the list of Connectivity Status to the
                            Resources on which the service depends upon.
                      required:
                      - dnsServers
                      - connectivityStatus
                  description: Network Status in the Location
                description: List of Network Status values.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/locations/{locationName}/networkstatus
  : get:
      tags:
      - NetworkStatus
      operationId: NetworkStatus_ListByLocation
      description: Gets the Connectivity Status to the external resources on which
        the Api Management service depends from inside the Cloud Service. This also
        returns the DNS Servers as visible to the CloudService.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: locationName
        in: path
        required: true
        description: Location in which the API Management service is deployed. This
          is one of the Azure Regions like West US, East US, South Central US.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Gets the Network status details.
          content:
            application/json:
              schema:
                properties:
                  dnsServers:
                    type: array
                    items:
                      type: string
                    description: Gets the list of DNS servers IPV4 addresses.
                  connectivityStatus:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          description: The hostname of the resource which the service
                            depends on. This can be the database, storage or any other
                            azure resource on which the service depends upon.
                          minLength: 1
                        status:
                          type: string
                          enum:
                          - initializing
                          - success
                          - failure
                          x-ms-enum:
                            name: ConnectivityStatusType
                            modelAsString: true
                          description: Resource Connectivity Status Type identifier.
                        error:
                          type: string
                          description: Error details of the connectivity to the resource.
                        lastUpdated:
                          type: string
                          format: date-time
                          description: 'The date when the resource connectivity status
                            was last updated. This status should be updated every
                            15 minutes. If this status has not been updated, then
                            it means that the service has lost network connectivity
                            to the resource, from inside the Virtual Network.The date
                            conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
                            as specified by the ISO 8601 standard.

                            '
                        lastStatusChange:
                          type: string
                          format: date-time
                          description: 'The date when the resource connectivity status
                            last Changed from success to failure or vice-versa. The
                            date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
                            as specified by the ISO 8601 standard.

                            '
                        resourceType:
                          type: string
                          description: Resource Type.
                        isOptional:
                          type: boolean
                          description: Whether this is optional.
                      required:
                      - name
                      - status
                      - lastUpdated
                      - lastStatusChange
                      - resourceType
                      - isOptional
                      description: Details about connectivity to a resource.
                    x-ms-identifiers:
                    - name
                    - resourceType
                    description: Gets the list of Connectivity Status to the Resources
                      on which the service depends upon.
                required:
                - dnsServers
                - connectivityStatus
                description: Network Status details.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ServiceNameParameter:
      name: serviceName
      in: path
      required: true
      description: The name of the API Management service.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 50
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    LocationNameParameter:
      name: locationName
      in: path
      required: true
      description: Location in which the API Management service is deployed. This
        is one of the Azure Regions like West US, East US, South Central US.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ConnectivityStatusContract:
      properties:
        name:
          type: string
          description: The hostname of the resource which the service depends on.
            This can be the database, storage or any other azure resource on which
            the service depends upon.
          minLength: 1
        status:
          type: string
          enum:
          - initializing
          - success
          - failure
          x-ms-enum:
            name: ConnectivityStatusType
            modelAsString: true
          description: Resource Connectivity Status Type identifier.
        error:
          type: string
          description: Error details of the connectivity to the resource.
        lastUpdated:
          type: string
          format: date-time
          description: 'The date when the resource connectivity status was last updated.
            This status should be updated every 15 minutes. If this status has not
            been updated, then it means that the service has lost network connectivity
            to the resource, from inside the Virtual Network.The date conforms to
            the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601
            standard.

            '
        lastStatusChange:
          type: string
          format: date-time
          description: 'The date when the resource connectivity status last Changed
            from success to failure or vice-versa. The date conforms to the following
            format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.

            '
        resourceType:
          type: string
          description: Resource Type.
        isOptional:
          type: boolean
          description: Whether this is optional.
      required:
      - name
      - status
      - lastUpdated
      - lastStatusChange
      - resourceType
      - isOptional
      description: Details about connectivity to a resource.
    NetworkStatusContractByLocation:
      properties:
        location:
          type: string
          description: Location of service
          minLength: 1
        networkStatus:
          description: Network status in Location
          properties:
            dnsServers:
              type: array
              items:
                type: string
              description: Gets the list of DNS servers IPV4 addresses.
            connectivityStatus:
              type: array
              items:
                properties:
                  name:
                    type: string
                    description: The hostname of the resource which the service depends
                      on. This can be the database, storage or any other azure resource
                      on which the service depends upon.
                    minLength: 1
                  status:
                    type: string
                    enum:
                    - initializing
                    - success
                    - failure
                    x-ms-enum:
                      name: ConnectivityStatusType
                      modelAsString: true
                    description: Resource Connectivity Status Type identifier.
                  error:
                    type: string
                    description: Error details of the connectivity to the resource.
                  lastUpdated:
                    type: string
                    format: date-time
                    description: 'The date when the resource connectivity status was
                      last updated. This status should be updated every 15 minutes.
                      If this status has not been updated, then it means that the
                      service has lost network connectivity to the resource, from
                      inside the Virtual Network.The date conforms to the following
                      format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601
                      standard.

                      '
                  lastStatusChange:
                    type: string
                    format: date-time
                    description: 'The date when the resource connectivity status last
                      Changed from success to failure or vice-versa. The date conforms
                      to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified
                      by the ISO 8601 standard.

                      '
                  resourceType:
                    type: string
                    description: Resource Type.
                  isOptional:
                    type: boolean
                    description: Whether this is optional.
                required:
                - name
                - status
                - lastUpdated
                - lastStatusChange
                - resourceType
                - isOptional
                description: Details about connectivity to a resource.
              x-ms-identifiers:
              - name
              - resourceType
              description: Gets the list of Connectivity Status to the Resources on
                which the service depends upon.
          required:
          - dnsServers
          - connectivityStatus
      description: Network Status in the Location
    NetworkStatusContract:
      properties:
        dnsServers:
          type: array
          items:
            type: string
          description: Gets the list of DNS servers IPV4 addresses.
        connectivityStatus:
          type: array
          items:
            properties:
              name:
                type: string
                description: The hostname of the resource which the service depends
                  on. This can be the database, storage or any other azure resource
                  on which the service depends upon.
                minLength: 1
              status:
                type: string
                enum:
                - initializing
                - success
                - failure
                x-ms-enum:
                  name: ConnectivityStatusType
                  modelAsString: true
                description: Resource Connectivity Status Type identifier.
              error:
                type: string
                description: Error details of the connectivity to the resource.
              lastUpdated:
                type: string
                format: date-time
                description: 'The date when the resource connectivity status was last
                  updated. This status should be updated every 15 minutes. If this
                  status has not been updated, then it means that the service has
                  lost network connectivity to the resource, from inside the Virtual
                  Network.The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
                  as specified by the ISO 8601 standard.

                  '
              lastStatusChange:
                type: string
                format: date-time
                description: 'The date when the resource connectivity status last
                  Changed from success to failure or vice-versa. The date conforms
                  to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by
                  the ISO 8601 standard.

                  '
              resourceType:
                type: string
                description: Resource Type.
              isOptional:
                type: boolean
                description: Whether this is optional.
            required:
            - name
            - status
            - lastUpdated
            - lastStatusChange
            - resourceType
            - isOptional
            description: Details about connectivity to a resource.
          x-ms-identifiers:
          - name
          - resourceType
          description: Gets the list of Connectivity Status to the Resources on which
            the service depends upon.
      required:
      - dnsServers
      - connectivityStatus
      description: Network Status details.
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
