openapi: 3.0.0
info:
  title: ApiManagementClient
  description: Use these REST APIs for managing OAuth2 servers configuration in your
    Azure API Management deployment. OAuth 2.0 can be used to authorize developer
    accounts for Azure API Management. For more information refer to [How to OAuth2](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-oauth2).
  version: 2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/authorizationServers
  : get:
      tags:
      - AuthorizationServer
      operationId: AuthorizationServer_ListByService
      description: Lists a collection of authorization servers defined within a service
        instance.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: $filter
        in: query
        required: false
        description: '|     Field     |     Usage     |     Supported operators     |     Supported
          functions     |</br>|-------------|-------------|-------------|-------------|</br>|
          name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,
          endswith |</br>| displayName | filter | ge, le, eq, ne, gt, lt | substringof,
          contains, startswith, endswith |</br>'
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: Number of records to return.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $skip
        in: query
        required: false
        description: Number of records to skip.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: A Collection of the Authorization Server entities for the specified
            API Management service instance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          type: object
                          properties:
                            description:
                              type: string
                              description: Description of the authorization server.
                                Can contain HTML formatting tags.
                            authorizationMethods:
                              type: array
                              items:
                                type: string
                                enum:
                                - HEAD
                                - OPTIONS
                                - TRACE
                                - GET
                                - POST
                                - PUT
                                - PATCH
                                - DELETE
                                x-ms-enum:
                                  name: AuthorizationMethod
                                  modelAsString: false
                              description: HTTP verbs supported by the authorization
                                endpoint. GET must be always present. POST is optional.
                            clientAuthenticationMethod:
                              type: array
                              items:
                                type: string
                                enum:
                                - Basic
                                - Body
                                x-ms-enum:
                                  name: ClientAuthenticationMethod
                                  modelAsString: true
                                  values:
                                  - value: Basic
                                    description: Basic Client Authentication method.
                                  - value: Body
                                    description: Body based Authentication method.
                              description: Method of authentication supported by the
                                token endpoint of this authorization server. Possible
                                values are Basic and/or Body. When Body is specified,
                                client credentials and other parameters are passed
                                within the request body in the application/x-www-form-urlencoded
                                format.
                            tokenBodyParameters:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: body parameter name.
                                  value:
                                    type: string
                                    description: body parameter value.
                                required:
                                - name
                                - value
                                description: OAuth acquire token request body parameter
                                  (www-url-form-encoded).
                              x-ms-identifiers:
                              - name
                              description: 'Additional parameters required by the
                                token endpoint of this authorization server represented
                                as an array of JSON objects with name and value string
                                properties, i.e. {"name" : "name value", "value":
                                "a value"}.'
                            tokenEndpoint:
                              type: string
                              description: OAuth token endpoint. Contains absolute
                                URI to entity being referenced.
                              externalDocs:
                                url: http://tools.ietf.org/html/rfc6749#section-3.1
                            supportState:
                              type: boolean
                              description: If true, authorization server will include
                                state parameter from the authorization request to
                                its response. Client may use state parameter to raise
                                protocol security.
                              externalDocs:
                                url: http://tools.ietf.org/html/rfc6749#section-3.1
                            defaultScope:
                              type: string
                              description: Access token scope that is going to be
                                requested by default. Can be overridden at the API
                                level. Should be provided in the form of a string
                                containing space-delimited values.
                              externalDocs:
                                url: http://tools.ietf.org/html/rfc6749#section-3.3
                            bearerTokenSendingMethods:
                              type: array
                              items:
                                type: string
                                enum:
                                - authorizationHeader
                                - query
                                x-ms-enum:
                                  name: BearerTokenSendingMethod
                                  modelAsString: true
                              description: 'Specifies the mechanism by which access
                                token is passed to the API. '
                              externalDocs:
                                url: http://tools.ietf.org/html/rfc6749#section-4
                            resourceOwnerUsername:
                              type: string
                              description: Can be optionally specified when resource
                                owner password grant type is supported by this authorization
                                server. Default resource owner username.
                            resourceOwnerPassword:
                              type: string
                              description: Can be optionally specified when resource
                                owner password grant type is supported by this authorization
                                server. Default resource owner password.
                            displayName:
                              type: string
                              description: User-friendly authorization server name.
                              minLength: 1
                              maxLength: 50
                            useInTestConsole:
                              type: boolean
                              description: If true, the authorization server may be
                                used in the developer portal test console. True by
                                default if no value is provided.
                            useInApiDocumentation:
                              type: boolean
                              description: If true, the authorization server will
                                be used in the API documentation in the developer
                                portal. False by default if no value is provided.
                            clientRegistrationEndpoint:
                              type: string
                              description: Optional reference to a page where client
                                or app registration for this authorization server
                                is performed. Contains absolute URL to entity being
                                referenced.
                            authorizationEndpoint:
                              type: string
                              description: OAuth authorization endpoint. See http://tools.ietf.org/html/rfc6749#section-3.2.
                            grantTypes:
                              type: array
                              items:
                                type: string
                                enum:
                                - authorizationCode
                                - implicit
                                - resourceOwnerPassword
                                - clientCredentials
                                x-ms-enum:
                                  name: GrantType
                                  modelAsString: true
                                  values:
                                  - value: authorizationCode
                                    description: Authorization Code Grant flow as
                                      described https://tools.ietf.org/html/rfc6749#section-4.1.
                                  - value: implicit
                                    description: Implicit Code Grant flow as described
                                      https://tools.ietf.org/html/rfc6749#section-4.2.
                                  - value: resourceOwnerPassword
                                    description: Resource Owner Password Grant flow
                                      as described https://tools.ietf.org/html/rfc6749#section-4.3.
                                  - value: clientCredentials
                                    description: Client Credentials Grant flow as
                                      described https://tools.ietf.org/html/rfc6749#section-4.4.
                              description: Form of an authorization grant, which the
                                client uses to request the access token.
                              externalDocs:
                                url: http://tools.ietf.org/html/rfc6749#section-4
                            clientId:
                              type: string
                              description: Client or app id registered with this authorization
                                server.
                            clientSecret:
                              x-ms-secret: true
                              type: string
                              description: Client or app secret registered with this
                                authorization server. This property will not be filled
                                on 'GET' operations! Use '/listSecrets' POST request
                                to get the value.
                          description: External OAuth authorization server Update
                            settings contract.
                          required:
                          - displayName
                          - clientRegistrationEndpoint
                          - authorizationEndpoint
                          - clientId
                          - grantTypes
                          x-ms-client-flatten: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: Page values.
                  count:
                    type: integer
                    format: int64
                    description: Total record count number across all pages.
                  nextLink:
                    type: string
                    description: Next page link if any.
                description: Paged OAuth2 Authorization Servers list representation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./definitions.json#/definitions/AuthorizationServerContract
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/authorizationServers/{authsid}
  : head:
      tags:
      - AuthorizationServer
      operationId: AuthorizationServer_GetEntityTag
      description: Gets the entity state (Etag) version of the authorizationServer
        specified by its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: authsid
        in: path
        required: true
        description: Identifier of the authorization server.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[^*#&+:<>?]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Specified authorization server entity exists and current entity
            state version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    get:
      tags:
      - AuthorizationServer
      operationId: AuthorizationServer_Get
      description: Gets the details of the authorization server specified by its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: authsid
        in: path
        required: true
        description: Identifier of the authorization server.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[^*#&+:<>?]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Gets the details of the specified authorization server. No
            secrets included.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      description:
                        type: string
                        description: Description of the authorization server. Can
                          contain HTML formatting tags.
                      authorizationMethods:
                        type: array
                        items:
                          type: string
                          enum:
                          - HEAD
                          - OPTIONS
                          - TRACE
                          - GET
                          - POST
                          - PUT
                          - PATCH
                          - DELETE
                          x-ms-enum:
                            name: AuthorizationMethod
                            modelAsString: false
                        description: HTTP verbs supported by the authorization endpoint.
                          GET must be always present. POST is optional.
                      clientAuthenticationMethod:
                        type: array
                        items:
                          type: string
                          enum:
                          - Basic
                          - Body
                          x-ms-enum:
                            name: ClientAuthenticationMethod
                            modelAsString: true
                            values:
                            - value: Basic
                              description: Basic Client Authentication method.
                            - value: Body
                              description: Body based Authentication method.
                        description: Method of authentication supported by the token
                          endpoint of this authorization server. Possible values are
                          Basic and/or Body. When Body is specified, client credentials
                          and other parameters are passed within the request body
                          in the application/x-www-form-urlencoded format.
                      tokenBodyParameters:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: body parameter name.
                            value:
                              type: string
                              description: body parameter value.
                          required:
                          - name
                          - value
                          description: OAuth acquire token request body parameter
                            (www-url-form-encoded).
                        x-ms-identifiers:
                        - name
                        description: 'Additional parameters required by the token
                          endpoint of this authorization server represented as an
                          array of JSON objects with name and value string properties,
                          i.e. {"name" : "name value", "value": "a value"}.'
                      tokenEndpoint:
                        type: string
                        description: OAuth token endpoint. Contains absolute URI to
                          entity being referenced.
                        externalDocs:
                          url: http://tools.ietf.org/html/rfc6749#section-3.1
                      supportState:
                        type: boolean
                        description: If true, authorization server will include state
                          parameter from the authorization request to its response.
                          Client may use state parameter to raise protocol security.
                        externalDocs:
                          url: http://tools.ietf.org/html/rfc6749#section-3.1
                      defaultScope:
                        type: string
                        description: Access token scope that is going to be requested
                          by default. Can be overridden at the API level. Should be
                          provided in the form of a string containing space-delimited
                          values.
                        externalDocs:
                          url: http://tools.ietf.org/html/rfc6749#section-3.3
                      bearerTokenSendingMethods:
                        type: array
                        items:
                          type: string
                          enum:
                          - authorizationHeader
                          - query
                          x-ms-enum:
                            name: BearerTokenSendingMethod
                            modelAsString: true
                        description: 'Specifies the mechanism by which access token
                          is passed to the API. '
                        externalDocs:
                          url: http://tools.ietf.org/html/rfc6749#section-4
                      resourceOwnerUsername:
                        type: string
                        description: Can be optionally specified when resource owner
                          password grant type is supported by this authorization server.
                          Default resource owner username.
                      resourceOwnerPassword:
                        type: string
                        description: Can be optionally specified when resource owner
                          password grant type is supported by this authorization server.
                          Default resource owner password.
                      displayName:
                        type: string
                        description: User-friendly authorization server name.
                        minLength: 1
                        maxLength: 50
                      useInTestConsole:
                        type: boolean
                        description: If true, the authorization server may be used
                          in the developer portal test console. True by default if
                          no value is provided.
                      useInApiDocumentation:
                        type: boolean
                        description: If true, the authorization server will be used
                          in the API documentation in the developer portal. False
                          by default if no value is provided.
                      clientRegistrationEndpoint:
                        type: string
                        description: Optional reference to a page where client or
                          app registration for this authorization server is performed.
                          Contains absolute URL to entity being referenced.
                      authorizationEndpoint:
                        type: string
                        description: OAuth authorization endpoint. See http://tools.ietf.org/html/rfc6749#section-3.2.
                      grantTypes:
                        type: array
                        items:
                          type: string
                          enum:
                          - authorizationCode
                          - implicit
                          - resourceOwnerPassword
                          - clientCredentials
                          x-ms-enum:
                            name: GrantType
                            modelAsString: true
                            values:
                            - value: authorizationCode
                              description: Authorization Code Grant flow as described
                                https://tools.ietf.org/html/rfc6749#section-4.1.
                            - value: implicit
                              description: Implicit Code Grant flow as described https://tools.ietf.org/html/rfc6749#section-4.2.
                            - value: resourceOwnerPassword
                              description: Resource Owner Password Grant flow as described
                                https://tools.ietf.org/html/rfc6749#section-4.3.
                            - value: clientCredentials
                              description: Client Credentials Grant flow as described
                                https://tools.ietf.org/html/rfc6749#section-4.4.
                        description: Form of an authorization grant, which the client
                          uses to request the access token.
                        externalDocs:
                          url: http://tools.ietf.org/html/rfc6749#section-4
                      clientId:
                        type: string
                        description: Client or app id registered with this authorization
                          server.
                      clientSecret:
                        x-ms-secret: true
                        type: string
                        description: Client or app secret registered with this authorization
                          server. This property will not be filled on 'GET' operations!
                          Use '/listSecrets' POST request to get the value.
                    description: External OAuth authorization server Update settings
                      contract.
                    required:
                    - displayName
                    - clientRegistrationEndpoint
                    - authorizationEndpoint
                    - clientId
                    - grantTypes
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - AuthorizationServer
      operationId: AuthorizationServer_CreateOrUpdate
      description: Creates new authorization server or updates an existing authorization
        server.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: authsid
        in: path
        required: true
        description: Identifier of the authorization server.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[^*#&+:<>?]+$
      - name: If-Match
        in: header
        required: false
        description: ETag of the Entity. Not required when creating an entity, but
          required when updating an entity.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                properties:
                  type: object
                  properties:
                    description:
                      type: string
                      description: Description of the authorization server. Can contain
                        HTML formatting tags.
                    authorizationMethods:
                      type: array
                      items:
                        type: string
                        enum:
                        - HEAD
                        - OPTIONS
                        - TRACE
                        - GET
                        - POST
                        - PUT
                        - PATCH
                        - DELETE
                        x-ms-enum:
                          name: AuthorizationMethod
                          modelAsString: false
                      description: HTTP verbs supported by the authorization endpoint.
                        GET must be always present. POST is optional.
                    clientAuthenticationMethod:
                      type: array
                      items:
                        type: string
                        enum:
                        - Basic
                        - Body
                        x-ms-enum:
                          name: ClientAuthenticationMethod
                          modelAsString: true
                          values:
                          - value: Basic
                            description: Basic Client Authentication method.
                          - value: Body
                            description: Body based Authentication method.
                      description: Method of authentication supported by the token
                        endpoint of this authorization server. Possible values are
                        Basic and/or Body. When Body is specified, client credentials
                        and other parameters are passed within the request body in
                        the application/x-www-form-urlencoded format.
                    tokenBodyParameters:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: body parameter name.
                          value:
                            type: string
                            description: body parameter value.
                        required:
                        - name
                        - value
                        description: OAuth acquire token request body parameter (www-url-form-encoded).
                      x-ms-identifiers:
                      - name
                      description: 'Additional parameters required by the token endpoint
                        of this authorization server represented as an array of JSON
                        objects with name and value string properties, i.e. {"name"
                        : "name value", "value": "a value"}.'
                    tokenEndpoint:
                      type: string
                      description: OAuth token endpoint. Contains absolute URI to
                        entity being referenced.
                      externalDocs:
                        url: http://tools.ietf.org/html/rfc6749#section-3.1
                    supportState:
                      type: boolean
                      description: If true, authorization server will include state
                        parameter from the authorization request to its response.
                        Client may use state parameter to raise protocol security.
                      externalDocs:
                        url: http://tools.ietf.org/html/rfc6749#section-3.1
                    defaultScope:
                      type: string
                      description: Access token scope that is going to be requested
                        by default. Can be overridden at the API level. Should be
                        provided in the form of a string containing space-delimited
                        values.
                      externalDocs:
                        url: http://tools.ietf.org/html/rfc6749#section-3.3
                    bearerTokenSendingMethods:
                      type: array
                      items:
                        type: string
                        enum:
                        - authorizationHeader
                        - query
                        x-ms-enum:
                          name: BearerTokenSendingMethod
                          modelAsString: true
                      description: 'Specifies the mechanism by which access token
                        is passed to the API. '
                      externalDocs:
                        url: http://tools.ietf.org/html/rfc6749#section-4
                    resourceOwnerUsername:
                      type: string
                      description: Can be optionally specified when resource owner
                        password grant type is supported by this authorization server.
                        Default resource owner username.
                    resourceOwnerPassword:
                      type: string
                      description: Can be optionally specified when resource owner
                        password grant type is supported by this authorization server.
                        Default resource owner password.
                    displayName:
                      type: string
                      description: User-friendly authorization server name.
                      minLength: 1
                      maxLength: 50
                    useInTestConsole:
                      type: boolean
                      description: If true, the authorization server may be used in
                        the developer portal test console. True by default if no value
                        is provided.
                    useInApiDocumentation:
                      type: boolean
                      description: If true, the authorization server will be used
                        in the API documentation in the developer portal. False by
                        default if no value is provided.
                    clientRegistrationEndpoint:
                      type: string
                      description: Optional reference to a page where client or app
                        registration for this authorization server is performed. Contains
                        absolute URL to entity being referenced.
                    authorizationEndpoint:
                      type: string
                      description: OAuth authorization endpoint. See http://tools.ietf.org/html/rfc6749#section-3.2.
                    grantTypes:
                      type: array
                      items:
                        type: string
                        enum:
                        - authorizationCode
                        - implicit
                        - resourceOwnerPassword
                        - clientCredentials
                        x-ms-enum:
                          name: GrantType
                          modelAsString: true
                          values:
                          - value: authorizationCode
                            description: Authorization Code Grant flow as described
                              https://tools.ietf.org/html/rfc6749#section-4.1.
                          - value: implicit
                            description: Implicit Code Grant flow as described https://tools.ietf.org/html/rfc6749#section-4.2.
                          - value: resourceOwnerPassword
                            description: Resource Owner Password Grant flow as described
                              https://tools.ietf.org/html/rfc6749#section-4.3.
                          - value: clientCredentials
                            description: Client Credentials Grant flow as described
                              https://tools.ietf.org/html/rfc6749#section-4.4.
                      description: Form of an authorization grant, which the client
                        uses to request the access token.
                      externalDocs:
                        url: http://tools.ietf.org/html/rfc6749#section-4
                    clientId:
                      type: string
                      description: Client or app id registered with this authorization
                        server.
                    clientSecret:
                      x-ms-secret: true
                      type: string
                      description: Client or app secret registered with this authorization
                        server. This property will not be filled on 'GET' operations!
                        Use '/listSecrets' POST request to get the value.
                  description: External OAuth authorization server Update settings
                    contract.
                  required:
                  - displayName
                  - clientRegistrationEndpoint
                  - authorizationEndpoint
                  - clientId
                  - grantTypes
                  x-ms-client-flatten: true
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Create or update parameters.
        required: true
      responses:
        '200':
          description: Authorization server is already registered.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      description:
                        type: string
                        description: Description of the authorization server. Can
                          contain HTML formatting tags.
                      authorizationMethods:
                        type: array
                        items:
                          type: string
                          enum:
                          - HEAD
                          - OPTIONS
                          - TRACE
                          - GET
                          - POST
                          - PUT
                          - PATCH
                          - DELETE
                          x-ms-enum:
                            name: AuthorizationMethod
                            modelAsString: false
                        description: HTTP verbs supported by the authorization endpoint.
                          GET must be always present. POST is optional.
                      clientAuthenticationMethod:
                        type: array
                        items:
                          type: string
                          enum:
                          - Basic
                          - Body
                          x-ms-enum:
                            name: ClientAuthenticationMethod
                            modelAsString: true
                            values:
                            - value: Basic
                              description: Basic Client Authentication method.
                            - value: Body
                              description: Body based Authentication method.
                        description: Method of authentication supported by the token
                          endpoint of this authorization server. Possible values are
                          Basic and/or Body. When Body is specified, client credentials
                          and other parameters are passed within the request body
                          in the application/x-www-form-urlencoded format.
                      tokenBodyParameters:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: body parameter name.
                            value:
                              type: string
                              description: body parameter value.
                          required:
                          - name
                          - value
                          description: OAuth acquire token request body parameter
                            (www-url-form-encoded).
                        x-ms-identifiers:
                        - name
                        description: 'Additional parameters required by the token
                          endpoint of this authorization server represented as an
                          array of JSON objects with name and value string properties,
                          i.e. {"name" : "name value", "value": "a value"}.'
                      tokenEndpoint:
                        type: string
                        description: OAuth token endpoint. Contains absolute URI to
                          entity being referenced.
                        externalDocs:
                          url: http://tools.ietf.org/html/rfc6749#section-3.1
                      supportState:
                        type: boolean
                        description: If true, authorization server will include state
                          parameter from the authorization request to its response.
                          Client may use state parameter to raise protocol security.
                        externalDocs:
                          url: http://tools.ietf.org/html/rfc6749#section-3.1
                      defaultScope:
                        type: string
                        description: Access token scope that is going to be requested
                          by default. Can be overridden at the API level. Should be
                          provided in the form of a string containing space-delimited
                          values.
                        externalDocs:
                          url: http://tools.ietf.org/html/rfc6749#section-3.3
                      bearerTokenSendingMethods:
                        type: array
                        items:
                          type: string
                          enum:
                          - authorizationHeader
                          - query
                          x-ms-enum:
                            name: BearerTokenSendingMethod
                            modelAsString: true
                        description: 'Specifies the mechanism by which access token
                          is passed to the API. '
                        externalDocs:
                          url: http://tools.ietf.org/html/rfc6749#section-4
                      resourceOwnerUsername:
                        type: string
                        description: Can be optionally specified when resource owner
                          password grant type is supported by this authorization server.
                          Default resource owner username.
                      resourceOwnerPassword:
                        type: string
                        description: Can be optionally specified when resource owner
                          password grant type is supported by this authorization server.
                          Default resource owner password.
                      displayName:
                        type: string
                        description: User-friendly authorization server name.
                        minLength: 1
                        maxLength: 50
                      useInTestConsole:
                        type: boolean
                        description: If true, the authorization server may be used
                          in the developer portal test console. True by default if
                          no value is provided.
                      useInApiDocumentation:
                        type: boolean
                        description: If true, the authorization server will be used
                          in the API documentation in the developer portal. False
                          by default if no value is provided.
                      clientRegistrationEndpoint:
                        type: string
                        description: Optional reference to a page where client or
                          app registration for this authorization server is performed.
                          Contains absolute URL to entity being referenced.
                      authorizationEndpoint:
                        type: string
                        description: OAuth authorization endpoint. See http://tools.ietf.org/html/rfc6749#section-3.2.
                      grantTypes:
                        type: array
                        items:
                          type: string
                          enum:
                          - authorizationCode
                          - implicit
                          - resourceOwnerPassword
                          - clientCredentials
                          x-ms-enum:
                            name: GrantType
                            modelAsString: true
                            values:
                            - value: authorizationCode
                              description: Authorization Code Grant flow as described
                                https://tools.ietf.org/html/rfc6749#section-4.1.
                            - value: implicit
                              description: Implicit Code Grant flow as described https://tools.ietf.org/html/rfc6749#section-4.2.
                            - value: resourceOwnerPassword
                              description: Resource Owner Password Grant flow as described
                                https://tools.ietf.org/html/rfc6749#section-4.3.
                            - value: clientCredentials
                              description: Client Credentials Grant flow as described
                                https://tools.ietf.org/html/rfc6749#section-4.4.
                        description: Form of an authorization grant, which the client
                          uses to request the access token.
                        externalDocs:
                          url: http://tools.ietf.org/html/rfc6749#section-4
                      clientId:
                        type: string
                        description: Client or app id registered with this authorization
                          server.
                      clientSecret:
                        x-ms-secret: true
                        type: string
                        description: Client or app secret registered with this authorization
                          server. This property will not be filled on 'GET' operations!
                          Use '/listSecrets' POST request to get the value.
                    description: External OAuth authorization server Update settings
                      contract.
                    required:
                    - displayName
                    - clientRegistrationEndpoint
                    - authorizationEndpoint
                    - clientId
                    - grantTypes
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Authorization server was successfully registered.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      description:
                        type: string
                        description: Description of the authorization server. Can
                          contain HTML formatting tags.
                      authorizationMethods:
                        type: array
                        items:
                          type: string
                          enum:
                          - HEAD
                          - OPTIONS
                          - TRACE
                          - GET
                          - POST
                          - PUT
                          - PATCH
                          - DELETE
                          x-ms-enum:
                            name: AuthorizationMethod
                            modelAsString: false
                        description: HTTP verbs supported by the authorization endpoint.
                          GET must be always present. POST is optional.
                      clientAuthenticationMethod:
                        type: array
                        items:
                          type: string
                          enum:
                          - Basic
                          - Body
                          x-ms-enum:
                            name: ClientAuthenticationMethod
                            modelAsString: true
                            values:
                            - value: Basic
                              description: Basic Client Authentication method.
                            - value: Body
                              description: Body based Authentication method.
                        description: Method of authentication supported by the token
                          endpoint of this authorization server. Possible values are
                          Basic and/or Body. When Body is specified, client credentials
                          and other parameters are passed within the request body
                          in the application/x-www-form-urlencoded format.
                      tokenBodyParameters:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: body parameter name.
                            value:
                              type: string
                              description: body parameter value.
                          required:
                          - name
                          - value
                          description: OAuth acquire token request body parameter
                            (www-url-form-encoded).
                        x-ms-identifiers:
                        - name
                        description: 'Additional parameters required by the token
                          endpoint of this authorization server represented as an
                          array of JSON objects with name and value string properties,
                          i.e. {"name" : "name value", "value": "a value"}.'
                      tokenEndpoint:
                        type: string
                        description: OAuth token endpoint. Contains absolute URI to
                          entity being referenced.
                        externalDocs:
                          url: http://tools.ietf.org/html/rfc6749#section-3.1
                      supportState:
                        type: boolean
                        description: If true, authorization server will include state
                          parameter from the authorization request to its response.
                          Client may use state parameter to raise protocol security.
                        externalDocs:
                          url: http://tools.ietf.org/html/rfc6749#section-3.1
                      defaultScope:
                        type: string
                        description: Access token scope that is going to be requested
                          by default. Can be overridden at the API level. Should be
                          provided in the form of a string containing space-delimited
                          values.
                        externalDocs:
                          url: http://tools.ietf.org/html/rfc6749#section-3.3
                      bearerTokenSendingMethods:
                        type: array
                        items:
                          type: string
                          enum:
                          - authorizationHeader
                          - query
                          x-ms-enum:
                            name: BearerTokenSendingMethod
                            modelAsString: true
                        description: 'Specifies the mechanism by which access token
                          is passed to the API. '
                        externalDocs:
                          url: http://tools.ietf.org/html/rfc6749#section-4
                      resourceOwnerUsername:
                        type: string
                        description: Can be optionally specified when resource owner
                          password grant type is supported by this authorization server.
                          Default resource owner username.
                      resourceOwnerPassword:
                        type: string
                        description: Can be optionally specified when resource owner
                          password grant type is supported by this authorization server.
                          Default resource owner password.
                      displayName:
                        type: string
                        description: User-friendly authorization server name.
                        minLength: 1
                        maxLength: 50
                      useInTestConsole:
                        type: boolean
                        description: If true, the authorization server may be used
                          in the developer portal test console. True by default if
                          no value is provided.
                      useInApiDocumentation:
                        type: boolean
                        description: If true, the authorization server will be used
                          in the API documentation in the developer portal. False
                          by default if no value is provided.
                      clientRegistrationEndpoint:
                        type: string
                        description: Optional reference to a page where client or
                          app registration for this authorization server is performed.
                          Contains absolute URL to entity being referenced.
                      authorizationEndpoint:
                        type: string
                        description: OAuth authorization endpoint. See http://tools.ietf.org/html/rfc6749#section-3.2.
                      grantTypes:
                        type: array
                        items:
                          type: string
                          enum:
                          - authorizationCode
                          - implicit
                          - resourceOwnerPassword
                          - clientCredentials
                          x-ms-enum:
                            name: GrantType
                            modelAsString: true
                            values:
                            - value: authorizationCode
                              description: Authorization Code Grant flow as described
                                https://tools.ietf.org/html/rfc6749#section-4.1.
                            - value: implicit
                              description: Implicit Code Grant flow as described https://tools.ietf.org/html/rfc6749#section-4.2.
                            - value: resourceOwnerPassword
                              description: Resource Owner Password Grant flow as described
                                https://tools.ietf.org/html/rfc6749#section-4.3.
                            - value: clientCredentials
                              description: Client Credentials Grant flow as described
                                https://tools.ietf.org/html/rfc6749#section-4.4.
                        description: Form of an authorization grant, which the client
                          uses to request the access token.
                        externalDocs:
                          url: http://tools.ietf.org/html/rfc6749#section-4
                      clientId:
                        type: string
                        description: Client or app id registered with this authorization
                          server.
                      clientSecret:
                        x-ms-secret: true
                        type: string
                        description: Client or app secret registered with this authorization
                          server. This property will not be filled on 'GET' operations!
                          Use '/listSecrets' POST request to get the value.
                    description: External OAuth authorization server Update settings
                      contract.
                    required:
                    - displayName
                    - clientRegistrationEndpoint
                    - authorizationEndpoint
                    - clientId
                    - grantTypes
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      tags:
      - AuthorizationServer
      operationId: AuthorizationServer_Update
      description: Updates the details of the authorization server specified by its
        identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: authsid
        in: path
        required: true
        description: Identifier of the authorization server.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[^*#&+:<>?]+$
      - name: If-Match
        in: header
        required: true
        description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                properties:
                  type: object
                  properties:
                    description:
                      type: string
                      description: Description of the authorization server. Can contain
                        HTML formatting tags.
                    authorizationMethods:
                      type: array
                      items:
                        type: string
                        enum:
                        - HEAD
                        - OPTIONS
                        - TRACE
                        - GET
                        - POST
                        - PUT
                        - PATCH
                        - DELETE
                        x-ms-enum:
                          name: AuthorizationMethod
                          modelAsString: false
                      description: HTTP verbs supported by the authorization endpoint.
                        GET must be always present. POST is optional.
                    clientAuthenticationMethod:
                      type: array
                      items:
                        type: string
                        enum:
                        - Basic
                        - Body
                        x-ms-enum:
                          name: ClientAuthenticationMethod
                          modelAsString: true
                          values:
                          - value: Basic
                            description: Basic Client Authentication method.
                          - value: Body
                            description: Body based Authentication method.
                      description: Method of authentication supported by the token
                        endpoint of this authorization server. Possible values are
                        Basic and/or Body. When Body is specified, client credentials
                        and other parameters are passed within the request body in
                        the application/x-www-form-urlencoded format.
                    tokenBodyParameters:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: body parameter name.
                          value:
                            type: string
                            description: body parameter value.
                        required:
                        - name
                        - value
                        description: OAuth acquire token request body parameter (www-url-form-encoded).
                      x-ms-identifiers:
                      - name
                      description: 'Additional parameters required by the token endpoint
                        of this authorization server represented as an array of JSON
                        objects with name and value string properties, i.e. {"name"
                        : "name value", "value": "a value"}.'
                    tokenEndpoint:
                      type: string
                      description: OAuth token endpoint. Contains absolute URI to
                        entity being referenced.
                      externalDocs:
                        url: http://tools.ietf.org/html/rfc6749#section-3.1
                    supportState:
                      type: boolean
                      description: If true, authorization server will include state
                        parameter from the authorization request to its response.
                        Client may use state parameter to raise protocol security.
                      externalDocs:
                        url: http://tools.ietf.org/html/rfc6749#section-3.1
                    defaultScope:
                      type: string
                      description: Access token scope that is going to be requested
                        by default. Can be overridden at the API level. Should be
                        provided in the form of a string containing space-delimited
                        values.
                      externalDocs:
                        url: http://tools.ietf.org/html/rfc6749#section-3.3
                    bearerTokenSendingMethods:
                      type: array
                      items:
                        type: string
                        enum:
                        - authorizationHeader
                        - query
                        x-ms-enum:
                          name: BearerTokenSendingMethod
                          modelAsString: true
                      description: 'Specifies the mechanism by which access token
                        is passed to the API. '
                      externalDocs:
                        url: http://tools.ietf.org/html/rfc6749#section-4
                    resourceOwnerUsername:
                      type: string
                      description: Can be optionally specified when resource owner
                        password grant type is supported by this authorization server.
                        Default resource owner username.
                    resourceOwnerPassword:
                      type: string
                      description: Can be optionally specified when resource owner
                        password grant type is supported by this authorization server.
                        Default resource owner password.
                    displayName:
                      type: string
                      description: User-friendly authorization server name.
                      minLength: 1
                      maxLength: 50
                    useInTestConsole:
                      type: boolean
                      description: If true, the authorization server may be used in
                        the developer portal test console. True by default if no value
                        is provided.
                    useInApiDocumentation:
                      type: boolean
                      description: If true, the authorization server will be used
                        in the API documentation in the developer portal. False by
                        default if no value is provided.
                    clientRegistrationEndpoint:
                      type: string
                      description: Optional reference to a page where client or app
                        registration for this authorization server is performed. Contains
                        absolute URL to entity being referenced.
                    authorizationEndpoint:
                      type: string
                      description: OAuth authorization endpoint. See http://tools.ietf.org/html/rfc6749#section-3.2.
                    grantTypes:
                      type: array
                      items:
                        type: string
                        enum:
                        - authorizationCode
                        - implicit
                        - resourceOwnerPassword
                        - clientCredentials
                        x-ms-enum:
                          name: GrantType
                          modelAsString: true
                          values:
                          - value: authorizationCode
                            description: Authorization Code Grant flow as described
                              https://tools.ietf.org/html/rfc6749#section-4.1.
                          - value: implicit
                            description: Implicit Code Grant flow as described https://tools.ietf.org/html/rfc6749#section-4.2.
                          - value: resourceOwnerPassword
                            description: Resource Owner Password Grant flow as described
                              https://tools.ietf.org/html/rfc6749#section-4.3.
                          - value: clientCredentials
                            description: Client Credentials Grant flow as described
                              https://tools.ietf.org/html/rfc6749#section-4.4.
                      description: Form of an authorization grant, which the client
                        uses to request the access token.
                      externalDocs:
                        url: http://tools.ietf.org/html/rfc6749#section-4
                    clientId:
                      type: string
                      description: Client or app id registered with this authorization
                        server.
                    clientSecret:
                      x-ms-secret: true
                      type: string
                      description: Client or app secret registered with this authorization
                        server. This property will not be filled on 'GET' operations!
                        Use '/listSecrets' POST request to get the value.
                  description: External OAuth authorization server Update settings
                    contract.
                  x-ms-client-flatten: true
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: OAuth2 Server settings Update parameters.
        required: true
      responses:
        '200':
          description: The authorization server settings were successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      description:
                        type: string
                        description: Description of the authorization server. Can
                          contain HTML formatting tags.
                      authorizationMethods:
                        type: array
                        items:
                          type: string
                          enum:
                          - HEAD
                          - OPTIONS
                          - TRACE
                          - GET
                          - POST
                          - PUT
                          - PATCH
                          - DELETE
                          x-ms-enum:
                            name: AuthorizationMethod
                            modelAsString: false
                        description: HTTP verbs supported by the authorization endpoint.
                          GET must be always present. POST is optional.
                      clientAuthenticationMethod:
                        type: array
                        items:
                          type: string
                          enum:
                          - Basic
                          - Body
                          x-ms-enum:
                            name: ClientAuthenticationMethod
                            modelAsString: true
                            values:
                            - value: Basic
                              description: Basic Client Authentication method.
                            - value: Body
[...]
