openapi: 3.0.0
info:
  title: ApiManagementClient
  description: REST API for performing policy restrictions on any created/updated
    policies in an Azure API Management deployment.
  version: 2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/validatePolicies
  : post:
      tags:
      - PolicyRestrictionsValidations
      operationId: PolicyRestrictionValidations_ByService
      description: Validate all policies of API Management services.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Policy Restrictions are successfully validated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the Operation Contract.
                    type: object
                    properties:
                      id:
                        type: string
                        description: Operation result identifier.
                      status:
                        type: string
                        description: Status of an async operation.
                        enum:
                        - Started
                        - InProgress
                        - Succeeded
                        - Failed
                        x-ms-enum:
                          name: AsyncOperationStatus
                          modelAsString: false
                      started:
                        type: string
                        format: date-time
                        description: 'Start time of an async operation. The date conforms
                          to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified
                          by the ISO 8601 standard.

                          '
                      updated:
                        type: string
                        format: date-time
                        description: 'Last update time of an async operation. The
                          date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
                          as specified by the ISO 8601 standard.

                          '
                      resultInfo:
                        type: string
                        description: Optional result info.
                      error:
                        description: Error Body Contract
                        type: object
                        properties:
                          code:
                            type: string
                            description: Service-defined error code. This code serves
                              as a sub-status for the HTTP error code specified in
                              the response.
                          message:
                            type: string
                            description: Human-readable representation of the error.
                          details:
                            type: array
                            items:
                              type: object
                              properties:
                                code:
                                  type: string
                                  description: Property level error code.
                                message:
                                  type: string
                                  description: Human-readable representation of property-level
                                    error.
                                target:
                                  type: string
                                  description: Property name.
                              description: Error Field contract.
                            x-ms-identifiers:
                            - message
                            - target
                            description: The list of invalid fields send in request,
                              in case of validation error.
                      actionLog:
                        type: array
                        items:
                          type: object
                          properties:
                            objectType:
                              type: string
                              description: The type of entity contract.
                            action:
                              type: string
                              description: Action like create/update/delete.
                            objectKey:
                              type: string
                              description: Identifier of the entity being created/updated/deleted.
                          description: Log of the entity being created, updated or
                            deleted.
                        x-ms-identifiers:
                        - objectKey
                        readOnly: true
                        description: This property if only provided as part of the
                          TenantConfiguration_Validate operation. It contains the
                          log the entities which will be updated/created/deleted as
                          part of the TenantConfiguration_Deploy operation.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Accepted
          headers:
            location:
              description: location of the header.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ServiceNameParameter:
      name: serviceName
      in: path
      required: true
      description: The name of the API Management service.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 50
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    ErrorFieldContract:
      type: object
      properties:
        code:
          type: string
          description: Property level error code.
        message:
          type: string
          description: Human-readable representation of property-level error.
        target:
          type: string
          description: Property name.
      description: Error Field contract.
    ErrorResponseBody:
      type: object
      properties:
        code:
          type: string
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
        message:
          type: string
          description: Human-readable representation of the error.
        details:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                description: Property level error code.
              message:
                type: string
                description: Human-readable representation of property-level error.
              target:
                type: string
                description: Property name.
            description: Error Field contract.
          x-ms-identifiers:
          - message
          - target
          description: The list of invalid fields send in request, in case of validation
            error.
      description: Error Body contract.
    OperationResultLogItemContract:
      type: object
      properties:
        objectType:
          type: string
          description: The type of entity contract.
        action:
          type: string
          description: Action like create/update/delete.
        objectKey:
          type: string
          description: Identifier of the entity being created/updated/deleted.
      description: Log of the entity being created, updated or deleted.
    OperationResultContractProperties:
      type: object
      properties:
        id:
          type: string
          description: Operation result identifier.
        status:
          type: string
          description: Status of an async operation.
          enum:
          - Started
          - InProgress
          - Succeeded
          - Failed
          x-ms-enum:
            name: AsyncOperationStatus
            modelAsString: false
        started:
          type: string
          format: date-time
          description: 'Start time of an async operation. The date conforms to the
            following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601
            standard.

            '
        updated:
          type: string
          format: date-time
          description: 'Last update time of an async operation. The date conforms
            to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO
            8601 standard.

            '
        resultInfo:
          type: string
          description: Optional result info.
        error:
          description: Error Body Contract
          type: object
          properties:
            code:
              type: string
              description: Service-defined error code. This code serves as a sub-status
                for the HTTP error code specified in the response.
            message:
              type: string
              description: Human-readable representation of the error.
            details:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: string
                    description: Property level error code.
                  message:
                    type: string
                    description: Human-readable representation of property-level error.
                  target:
                    type: string
                    description: Property name.
                description: Error Field contract.
              x-ms-identifiers:
              - message
              - target
              description: The list of invalid fields send in request, in case of
                validation error.
        actionLog:
          type: array
          items:
            type: object
            properties:
              objectType:
                type: string
                description: The type of entity contract.
              action:
                type: string
                description: Action like create/update/delete.
              objectKey:
                type: string
                description: Identifier of the entity being created/updated/deleted.
            description: Log of the entity being created, updated or deleted.
          x-ms-identifiers:
          - objectKey
          readOnly: true
          description: This property if only provided as part of the TenantConfiguration_Validate
            operation. It contains the log the entities which will be updated/created/deleted
            as part of the TenantConfiguration_Deploy operation.
      description: Operation Result.
    OperationResultContract:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
        properties:
          x-ms-client-flatten: true
          description: Properties of the Operation Contract.
          type: object
          properties:
            id:
              type: string
              description: Operation result identifier.
            status:
              type: string
              description: Status of an async operation.
              enum:
              - Started
              - InProgress
              - Succeeded
              - Failed
              x-ms-enum:
                name: AsyncOperationStatus
                modelAsString: false
            started:
              type: string
              format: date-time
              description: 'Start time of an async operation. The date conforms to
                the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO
                8601 standard.

                '
            updated:
              type: string
              format: date-time
              description: 'Last update time of an async operation. The date conforms
                to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the
                ISO 8601 standard.

                '
            resultInfo:
              type: string
              description: Optional result info.
            error:
              description: Error Body Contract
              type: object
              properties:
                code:
                  type: string
                  description: Service-defined error code. This code serves as a sub-status
                    for the HTTP error code specified in the response.
                message:
                  type: string
                  description: Human-readable representation of the error.
                details:
                  type: array
                  items:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Property level error code.
                      message:
                        type: string
                        description: Human-readable representation of property-level
                          error.
                      target:
                        type: string
                        description: Property name.
                    description: Error Field contract.
                  x-ms-identifiers:
                  - message
                  - target
                  description: The list of invalid fields send in request, in case
                    of validation error.
            actionLog:
              type: array
              items:
                type: object
                properties:
                  objectType:
                    type: string
                    description: The type of entity contract.
                  action:
                    type: string
                    description: Action like create/update/delete.
                  objectKey:
                    type: string
                    description: Identifier of the entity being created/updated/deleted.
                description: Log of the entity being created, updated or deleted.
              x-ms-identifiers:
              - objectKey
              readOnly: true
              description: This property if only provided as part of the TenantConfiguration_Validate
                operation. It contains the log the entities which will be updated/created/deleted
                as part of the TenantConfiguration_Deploy operation.
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
