openapi: 3.0.0
info:
  title: ApiManagementClient
  description: SKUs available for Microsoft.ApiManagement
  version: 2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/skus:
    get:
      tags:
      - Skus
      operationId: ApiManagementSkus_List
      description: Gets the list of Microsoft.ApiManagement SKUs available for your
        Subscription.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        resourceType:
                          readOnly: true
                          type: string
                          description: The type of resource the SKU applies to.
                        name:
                          readOnly: true
                          type: string
                          description: The name of SKU.
                        tier:
                          readOnly: true
                          type: string
                          description: Specifies the tier of virtual machines in a
                            scale set.<br /><br /> Possible Values:<br /><br /> **Standard**<br
                            /><br /> **Basic**
                        size:
                          readOnly: true
                          type: string
                          description: The Size of the SKU.
                        family:
                          readOnly: true
                          type: string
                          description: The Family of this particular SKU.
                        kind:
                          readOnly: true
                          type: string
                          description: The Kind of resources that are supported in
                            this SKU.
                        capacity:
                          readOnly: true
                          description: Specifies the number of virtual machines in
                            the scale set.
                          properties:
                            minimum:
                              type: integer
                              readOnly: true
                              format: int32
                              description: The minimum capacity.
                            maximum:
                              type: integer
                              readOnly: true
                              format: int32
                              description: The maximum capacity that can be set.
                            default:
                              type: integer
                              readOnly: true
                              format: int32
                              description: The default capacity.
                            scaleType:
                              type: string
                              readOnly: true
                              description: The scale type applicable to the sku.
                              enum:
                              - Automatic
                              - Manual
                              - None
                              x-ms-enum:
                                name: ApiManagementSkuCapacityScaleType
                                modelAsString: false
                        locations:
                          type: array
                          readOnly: true
                          items:
                            type: string
                          description: The set of locations that the SKU is available.
                        locationInfo:
                          type: array
                          readOnly: true
                          items:
                            properties:
                              location:
                                readOnly: true
                                type: string
                                description: Location of the SKU
                              zones:
                                readOnly: true
                                type: array
                                items:
                                  type: string
                                description: List of availability zones where the
                                  SKU is supported.
                              zoneDetails:
                                readOnly: true
                                type: array
                                items:
                                  properties:
                                    name:
                                      type: array
                                      readOnly: true
                                      items:
                                        type: string
                                      description: The set of zones that the SKU is
                                        available in with the specified capabilities.
                                    capabilities:
                                      type: array
                                      readOnly: true
                                      items:
                                        properties:
                                          name:
                                            type: string
                                            readOnly: true
                                            description: An invariant to describe
                                              the feature.
                                          value:
                                            type: string
                                            readOnly: true
                                            description: An invariant if the feature
                                              is measured by quantity.
                                        description: Describes The SKU capabilities
                                          object.
                                      x-ms-identifiers:
                                      - name
                                      description: A list of capabilities that are
                                        available for the SKU in the specified list
                                        of zones.
                                  description: Describes The zonal capabilities of
                                    a SKU.
                                x-ms-identifiers:
                                - name
                                description: Details of capabilities available to
                                  a SKU in specific zones.
                          x-ms-identifiers:
                          - location
                          description: A list of locations and availability zones
                            in those locations where the SKU is available.
                        apiVersions:
                          type: array
                          readOnly: true
                          items:
                            type: string
                          description: The api versions that support this SKU.
                        costs:
                          type: array
                          readOnly: true
                          items:
                            properties:
                              meterID:
                                type: string
                                readOnly: true
                                description: Used for querying price from commerce.
                              quantity:
                                type: integer
                                readOnly: true
                                format: int64
                                description: The multiplier is needed to extend the
                                  base metered cost.
                              extendedUnit:
                                type: string
                                readOnly: true
                                description: An invariant to show the extended unit.
                            description: Describes metadata for retrieving price info.
                          x-ms-identifiers:
                          - meterID
                          description: Metadata for retrieving price info.
                        capabilities:
                          type: array
                          readOnly: true
                          items:
                            properties:
                              name:
                                type: string
                                readOnly: true
                                description: An invariant to describe the feature.
                              value:
                                type: string
                                readOnly: true
                                description: An invariant if the feature is measured
                                  by quantity.
                            description: Describes The SKU capabilities object.
                          x-ms-identifiers:
                          - name
                          description: A name value pair to describe the capability.
                        restrictions:
                          type: array
                          readOnly: true
                          items:
                            properties:
                              type:
                                type: string
                                readOnly: true
                                description: The type of restrictions.
                                enum:
                                - Location
                                - Zone
                                x-ms-enum:
                                  name: ApiManagementSkuRestrictionsType
                                  modelAsString: false
                              values:
                                type: array
                                readOnly: true
                                items:
                                  type: string
                                description: The value of restrictions. If the restriction
                                  type is set to location. This would be different
                                  locations where the SKU is restricted.
                              restrictionInfo:
                                readOnly: true
                                description: The information about the restriction
                                  where the SKU cannot be used.
                                properties:
                                  locations:
                                    readOnly: true
                                    type: array
                                    items:
                                      type: string
                                    description: Locations where the SKU is restricted
                                  zones:
                                    readOnly: true
                                    type: array
                                    items:
                                      type: string
                                    description: List of availability zones where
                                      the SKU is restricted.
                              reasonCode:
                                type: string
                                readOnly: true
                                description: The reason for restriction.
                                enum:
                                - QuotaId
                                - NotAvailableForSubscription
                                x-ms-enum:
                                  name: ApiManagementSkuRestrictionsReasonCode
                                  modelAsString: false
                            description: Describes scaling information of a SKU.
                          x-ms-identifiers: []
                          description: The restrictions because of which SKU cannot
                            be used. This is empty if there are no restrictions.
                      description: Describes an available ApiManagement SKU.
                    x-ms-identifiers:
                    - name
                    - resourceType
                    description: The list of skus available for the subscription.
                  nextLink:
                    type: string
                    readOnly: true
                    description: The URI to fetch the next page of Resource Skus.
                      Call ListNext() with this URI to fetch the next page of Resource
                      Skus
                required:
                - value
                description: The List Resource Skus operation response.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ApiManagementSkuCapacity:
      properties:
        minimum:
          type: integer
          readOnly: true
          format: int32
          description: The minimum capacity.
        maximum:
          type: integer
          readOnly: true
          format: int32
          description: The maximum capacity that can be set.
        default:
          type: integer
          readOnly: true
          format: int32
          description: The default capacity.
        scaleType:
          type: string
          readOnly: true
          description: The scale type applicable to the sku.
          enum:
          - Automatic
          - Manual
          - None
          x-ms-enum:
            name: ApiManagementSkuCapacityScaleType
            modelAsString: false
      description: Describes scaling information of a SKU.
    ApiManagementSkuCosts:
      properties:
        meterID:
          type: string
          readOnly: true
          description: Used for querying price from commerce.
        quantity:
          type: integer
          readOnly: true
          format: int64
          description: The multiplier is needed to extend the base metered cost.
        extendedUnit:
          type: string
          readOnly: true
          description: An invariant to show the extended unit.
      description: Describes metadata for retrieving price info.
    ApiManagementSkuCapabilities:
      properties:
        name:
          type: string
          readOnly: true
          description: An invariant to describe the feature.
        value:
          type: string
          readOnly: true
          description: An invariant if the feature is measured by quantity.
      description: Describes The SKU capabilities object.
    ApiManagementSkuZoneDetails:
      properties:
        name:
          type: array
          readOnly: true
          items:
            type: string
          description: The set of zones that the SKU is available in with the specified
            capabilities.
        capabilities:
          type: array
          readOnly: true
          items:
            properties:
              name:
                type: string
                readOnly: true
                description: An invariant to describe the feature.
              value:
                type: string
                readOnly: true
                description: An invariant if the feature is measured by quantity.
            description: Describes The SKU capabilities object.
          x-ms-identifiers:
          - name
          description: A list of capabilities that are available for the SKU in the
            specified list of zones.
      description: Describes The zonal capabilities of a SKU.
    ApiManagementSkuRestrictions:
      properties:
        type:
          type: string
          readOnly: true
          description: The type of restrictions.
          enum:
          - Location
          - Zone
          x-ms-enum:
            name: ApiManagementSkuRestrictionsType
            modelAsString: false
        values:
          type: array
          readOnly: true
          items:
            type: string
          description: The value of restrictions. If the restriction type is set to
            location. This would be different locations where the SKU is restricted.
        restrictionInfo:
          readOnly: true
          description: The information about the restriction where the SKU cannot
            be used.
          properties:
            locations:
              readOnly: true
              type: array
              items:
                type: string
              description: Locations where the SKU is restricted
            zones:
              readOnly: true
              type: array
              items:
                type: string
              description: List of availability zones where the SKU is restricted.
        reasonCode:
          type: string
          readOnly: true
          description: The reason for restriction.
          enum:
          - QuotaId
          - NotAvailableForSubscription
          x-ms-enum:
            name: ApiManagementSkuRestrictionsReasonCode
            modelAsString: false
      description: Describes scaling information of a SKU.
    ApiManagementSku:
      properties:
        resourceType:
          readOnly: true
          type: string
          description: The type of resource the SKU applies to.
        name:
          readOnly: true
          type: string
          description: The name of SKU.
        tier:
          readOnly: true
          type: string
          description: Specifies the tier of virtual machines in a scale set.<br /><br
            /> Possible Values:<br /><br /> **Standard**<br /><br /> **Basic**
        size:
          readOnly: true
          type: string
          description: The Size of the SKU.
        family:
          readOnly: true
          type: string
          description: The Family of this particular SKU.
        kind:
          readOnly: true
          type: string
          description: The Kind of resources that are supported in this SKU.
        capacity:
          readOnly: true
          description: Specifies the number of virtual machines in the scale set.
          properties:
            minimum:
              type: integer
              readOnly: true
              format: int32
              description: The minimum capacity.
            maximum:
              type: integer
              readOnly: true
              format: int32
              description: The maximum capacity that can be set.
            default:
              type: integer
              readOnly: true
              format: int32
              description: The default capacity.
            scaleType:
              type: string
              readOnly: true
              description: The scale type applicable to the sku.
              enum:
              - Automatic
              - Manual
              - None
              x-ms-enum:
                name: ApiManagementSkuCapacityScaleType
                modelAsString: false
        locations:
          type: array
          readOnly: true
          items:
            type: string
          description: The set of locations that the SKU is available.
        locationInfo:
          type: array
          readOnly: true
          items:
            properties:
              location:
                readOnly: true
                type: string
                description: Location of the SKU
              zones:
                readOnly: true
                type: array
                items:
                  type: string
                description: List of availability zones where the SKU is supported.
              zoneDetails:
                readOnly: true
                type: array
                items:
                  properties:
                    name:
                      type: array
                      readOnly: true
                      items:
                        type: string
                      description: The set of zones that the SKU is available in with
                        the specified capabilities.
                    capabilities:
                      type: array
                      readOnly: true
                      items:
                        properties:
                          name:
                            type: string
                            readOnly: true
                            description: An invariant to describe the feature.
                          value:
                            type: string
                            readOnly: true
                            description: An invariant if the feature is measured by
                              quantity.
                        description: Describes The SKU capabilities object.
                      x-ms-identifiers:
                      - name
                      description: A list of capabilities that are available for the
                        SKU in the specified list of zones.
                  description: Describes The zonal capabilities of a SKU.
                x-ms-identifiers:
                - name
                description: Details of capabilities available to a SKU in specific
                  zones.
          x-ms-identifiers:
          - location
          description: A list of locations and availability zones in those locations
            where the SKU is available.
        apiVersions:
          type: array
          readOnly: true
          items:
            type: string
          description: The api versions that support this SKU.
        costs:
          type: array
          readOnly: true
          items:
            properties:
              meterID:
                type: string
                readOnly: true
                description: Used for querying price from commerce.
              quantity:
                type: integer
                readOnly: true
                format: int64
                description: The multiplier is needed to extend the base metered cost.
              extendedUnit:
                type: string
                readOnly: true
                description: An invariant to show the extended unit.
            description: Describes metadata for retrieving price info.
          x-ms-identifiers:
          - meterID
          description: Metadata for retrieving price info.
        capabilities:
          type: array
          readOnly: true
          items:
            properties:
              name:
                type: string
                readOnly: true
                description: An invariant to describe the feature.
              value:
                type: string
                readOnly: true
                description: An invariant if the feature is measured by quantity.
            description: Describes The SKU capabilities object.
          x-ms-identifiers:
          - name
          description: A name value pair to describe the capability.
        restrictions:
          type: array
          readOnly: true
          items:
            properties:
              type:
                type: string
                readOnly: true
                description: The type of restrictions.
                enum:
                - Location
                - Zone
                x-ms-enum:
                  name: ApiManagementSkuRestrictionsType
                  modelAsString: false
              values:
                type: array
                readOnly: true
                items:
                  type: string
                description: The value of restrictions. If the restriction type is
                  set to location. This would be different locations where the SKU
                  is restricted.
              restrictionInfo:
                readOnly: true
                description: The information about the restriction where the SKU cannot
                  be used.
                properties:
                  locations:
                    readOnly: true
                    type: array
                    items:
                      type: string
                    description: Locations where the SKU is restricted
                  zones:
                    readOnly: true
                    type: array
                    items:
                      type: string
                    description: List of availability zones where the SKU is restricted.
              reasonCode:
                type: string
                readOnly: true
                description: The reason for restriction.
                enum:
                - QuotaId
                - NotAvailableForSubscription
                x-ms-enum:
                  name: ApiManagementSkuRestrictionsReasonCode
                  modelAsString: false
            description: Describes scaling information of a SKU.
          x-ms-identifiers: []
          description: The restrictions because of which SKU cannot be used. This
            is empty if there are no restrictions.
      description: Describes an available ApiManagement SKU.
    ApiManagementSkuLocationInfo:
      properties:
        location:
          readOnly: true
          type: string
          description: Location of the SKU
        zones:
          readOnly: true
          type: array
          items:
            type: string
          description: List of availability zones where the SKU is supported.
        zoneDetails:
          readOnly: true
          type: array
          items:
            properties:
              name:
                type: array
                readOnly: true
                items:
                  type: string
                description: The set of zones that the SKU is available in with the
                  specified capabilities.
              capabilities:
                type: array
                readOnly: true
                items:
                  properties:
                    name:
                      type: string
                      readOnly: true
                      description: An invariant to describe the feature.
                    value:
                      type: string
                      readOnly: true
                      description: An invariant if the feature is measured by quantity.
                  description: Describes The SKU capabilities object.
                x-ms-identifiers:
                - name
                description: A list of capabilities that are available for the SKU
                  in the specified list of zones.
            description: Describes The zonal capabilities of a SKU.
          x-ms-identifiers:
          - name
          description: Details of capabilities available to a SKU in specific zones.
    ApiManagementSkuRestrictionInfo:
      properties:
        locations:
          readOnly: true
          type: array
          items:
            type: string
          description: Locations where the SKU is restricted
        zones:
          readOnly: true
          type: array
          items:
            type: string
          description: List of availability zones where the SKU is restricted.
    ApiManagementSkusResult:
      properties:
        value:
          type: array
          items:
            properties:
              resourceType:
                readOnly: true
                type: string
                description: The type of resource the SKU applies to.
              name:
                readOnly: true
                type: string
                description: The name of SKU.
              tier:
                readOnly: true
                type: string
                description: Specifies the tier of virtual machines in a scale set.<br
                  /><br /> Possible Values:<br /><br /> **Standard**<br /><br /> **Basic**
              size:
                readOnly: true
                type: string
                description: The Size of the SKU.
              family:
                readOnly: true
                type: string
                description: The Family of this particular SKU.
              kind:
                readOnly: true
                type: string
                description: The Kind of resources that are supported in this SKU.
              capacity:
                readOnly: true
                description: Specifies the number of virtual machines in the scale
                  set.
                properties:
                  minimum:
                    type: integer
                    readOnly: true
                    format: int32
                    description: The minimum capacity.
                  maximum:
                    type: integer
                    readOnly: true
                    format: int32
                    description: The maximum capacity that can be set.
                  default:
                    type: integer
                    readOnly: true
                    format: int32
                    description: The default capacity.
                  scaleType:
                    type: string
                    readOnly: true
                    description: The scale type applicable to the sku.
                    enum:
                    - Automatic
                    - Manual
                    - None
                    x-ms-enum:
                      name: ApiManagementSkuCapacityScaleType
                      modelAsString: false
              locations:
                type: array
                readOnly: true
                items:
                  type: string
                description: The set of locations that the SKU is available.
              locationInfo:
                type: array
                readOnly: true
                items:
                  properties:
                    location:
                      readOnly: true
                      type: string
                      description: Location of the SKU
                    zones:
                      readOnly: true
                      type: array
                      items:
                        type: string
                      description: List of availability zones where the SKU is supported.
                    zoneDetails:
                      readOnly: true
                      type: array
                      items:
                        properties:
                          name:
                            type: array
                            readOnly: true
                            items:
                              type: string
                            description: The set of zones that the SKU is available
                              in with the specified capabilities.
                          capabilities:
                            type: array
                            readOnly: true
                            items:
                              properties:
                                name:
                                  type: string
                                  readOnly: true
                                  description: An invariant to describe the feature.
                                value:
                                  type: string
                                  readOnly: true
                                  description: An invariant if the feature is measured
                                    by quantity.
                              description: Describes The SKU capabilities object.
                            x-ms-identifiers:
                            - name
                            description: A list of capabilities that are available
                              for the SKU in the specified list of zones.
                        description: Describes The zonal capabilities of a SKU.
                      x-ms-identifiers:
                      - name
                      description: Details of capabilities available to a SKU in specific
                        zones.
                x-ms-identifiers:
                - location
                description: A list of locations and availability zones in those locations
                  where the SKU is available.
              apiVersions:
                type: array
                readOnly: true
                items:
                  type: string
                description: The api versions that support this SKU.
              costs:
                type: array
                readOnly: true
                items:
                  properties:
                    meterID:
                      type: string
                      readOnly: true
                      description: Used for querying price from commerce.
                    quantity:
                      type: integer
                      readOnly: true
                      format: int64
                      description: The multiplier is needed to extend the base metered
                        cost.
                    extendedUnit:
                      type: string
                      readOnly: true
                      description: An invariant to show the extended unit.
                  description: Describes metadata for retrieving price info.
                x-ms-identifiers:
                - meterID
                description: Metadata for retrieving price info.
              capabilities:
                type: array
                readOnly: true
                items:
                  properties:
                    name:
                      type: string
                      readOnly: true
                      description: An invariant to describe the feature.
                    value:
                      type: string
                      readOnly: true
                      description: An invariant if the feature is measured by quantity.
                  description: Describes The SKU capabilities object.
                x-ms-identifiers:
                - name
                description: A name value pair to describe the capability.
              restrictions:
                type: array
                readOnly: true
                items:
                  properties:
                    type:
                      type: string
                      readOnly: true
                      description: The type of restrictions.
                      enum:
                      - Location
                      - Zone
                      x-ms-enum:
                        name: ApiManagementSkuRestrictionsType
                        modelAsString: false
                    values:
                      type: array
                      readOnly: true
                      items:
                        type: string
                      description: The value of restrictions. If the restriction type
                        is set to location. This would be different locations where
                        the SKU is restricted.
                    restrictionInfo:
                      readOnly: true
                      description: The information about the restriction where the
                        SKU cannot be used.
                      properties:
                        locations:
                          readOnly: true
                          type: array
                          items:
                            type: string
                          description: Locations where the SKU is restricted
                        zones:
                          readOnly: true
                          type: array
                          items:
                            type: string
                          description: List of availability zones where the SKU is
                            restricted.
                    reasonCode:
                      type: string
                      readOnly: true
                      description: The reason for restriction.
                      enum:
                      - QuotaId
                      - NotAvailableForSubscription
                      x-ms-enum:
                        name: ApiManagementSkuRestrictionsReasonCode
                        modelAsString: false
                  description: Describes scaling information of a SKU.
                x-ms-identifiers: []
                description: The restrictions because of which SKU cannot be used.
                  This is empty if there are no restrictions.
            description: Describes an available ApiManagement SKU.
          x-ms-identifiers:
          - name
          - resourceType
          description: The list of skus available for the subscription.
        nextLink:
          type: string
          readOnly: true
          description: The URI to fetch the next page of Resource Skus. Call ListNext()
            with this URI to fetch the next page of Resource Skus
      required:
      - value
      description: The List Resource Skus operation response.
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
