openapi: 3.0.0
info:
  title: ApiManagementClient
  description: Use these REST APIs for performing operations on Email Templates associated
    with your Azure API Management deployment.
  version: 2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/templates
  : get:
      tags:
      - EmailTemplate
      operationId: EmailTemplate_ListByService
      description: Gets all email templates
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: $filter
        in: query
        required: false
        description: '|     Field     |     Usage     |     Supported operators     |     Supported
          functions     |</br>|-------------|-------------|-------------|-------------|</br>|
          name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,
          endswith |</br>'
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: Number of records to return.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $skip
        in: query
        required: false
        description: Number of records to skip.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: A Collection of the Email Template for the specified API Management
            service instance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          x-ms-client-flatten: true
                          description: Email Template entity contract properties.
                          type: object
                          properties:
                            subject:
                              type: string
                              description: Subject of the Template.
                              minLength: 1
                              maxLength: 1000
                            body:
                              type: string
                              description: Email Template Body. This should be a valid
                                XDocument
                              minLength: 1
                            title:
                              type: string
                              description: Title of the Template.
                            description:
                              type: string
                              description: Description of the Email Template.
                            isDefault:
                              type: boolean
                              description: Whether the template is the default template
                                provided by API Management or has been edited.
                              readOnly: true
                            parameters:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: Template parameter name.
                                    minLength: 1
                                    maxLength: 256
                                    pattern: ^[A-Za-z0-9-._]+$
                                  title:
                                    type: string
                                    description: Template parameter title.
                                    minLength: 1
                                    maxLength: 4096
                                  description:
                                    type: string
                                    description: Template parameter description.
                                    minLength: 1
                                    maxLength: 256
                                    pattern: ^[A-Za-z0-9-._]+$
                                description: Email Template Parameter contract.
                              x-ms-identifiers:
                              - title
                              description: Email Template Parameter values.
                          required:
                          - body
                          - subject
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: Page values.
                  count:
                    type: integer
                    format: int64
                    description: Total record count number across all pages.
                  nextLink:
                    type: string
                    description: Next page link if any.
                description: Paged email template list representation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/templates/{templateName}
  : head:
      tags:
      - EmailTemplates
      operationId: EmailTemplate_GetEntityTag
      description: Gets the entity state (Etag) version of the email template specified
        by its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: templateName
        in: path
        required: true
        x-ms-enum:
          name: TemplateName
          modelAsString: true
        description: Email Template Name Identifier.
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - applicationApprovedNotificationMessage
          - accountClosedDeveloper
          - quotaLimitApproachingDeveloperNotificationMessage
          - newDeveloperNotificationMessage
          - emailChangeIdentityDefault
          - inviteUserNotificationMessage
          - newCommentNotificationMessage
          - confirmSignUpIdentityDefault
          - newIssueNotificationMessage
          - purchaseDeveloperNotificationMessage
          - passwordResetIdentityDefault
          - passwordResetByAdminNotificationMessage
          - rejectDeveloperNotificationMessage
          - requestDeveloperNotificationMessage
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Specified email template entity exists and current entity state
            version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    get:
      tags:
      - EmailTemplates
      operationId: EmailTemplate_Get
      description: Gets the details of the email template specified by its identifier.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: templateName
        in: path
        required: true
        x-ms-enum:
          name: TemplateName
          modelAsString: true
        description: Email Template Name Identifier.
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - applicationApprovedNotificationMessage
          - accountClosedDeveloper
          - quotaLimitApproachingDeveloperNotificationMessage
          - newDeveloperNotificationMessage
          - emailChangeIdentityDefault
          - inviteUserNotificationMessage
          - newCommentNotificationMessage
          - confirmSignUpIdentityDefault
          - newIssueNotificationMessage
          - purchaseDeveloperNotificationMessage
          - passwordResetIdentityDefault
          - passwordResetByAdminNotificationMessage
          - rejectDeveloperNotificationMessage
          - requestDeveloperNotificationMessage
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The response body contains the specified Email template.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: Email Template entity contract properties.
                    type: object
                    properties:
                      subject:
                        type: string
                        description: Subject of the Template.
                        minLength: 1
                        maxLength: 1000
                      body:
                        type: string
                        description: Email Template Body. This should be a valid XDocument
                        minLength: 1
                      title:
                        type: string
                        description: Title of the Template.
                      description:
                        type: string
                        description: Description of the Email Template.
                      isDefault:
                        type: boolean
                        description: Whether the template is the default template
                          provided by API Management or has been edited.
                        readOnly: true
                      parameters:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Template parameter name.
                              minLength: 1
                              maxLength: 256
                              pattern: ^[A-Za-z0-9-._]+$
                            title:
                              type: string
                              description: Template parameter title.
                              minLength: 1
                              maxLength: 4096
                            description:
                              type: string
                              description: Template parameter description.
                              minLength: 1
                              maxLength: 256
                              pattern: ^[A-Za-z0-9-._]+$
                          description: Email Template Parameter contract.
                        x-ms-identifiers:
                        - title
                        description: Email Template Parameter values.
                    required:
                    - body
                    - subject
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - EmailTemplates
      operationId: EmailTemplate_CreateOrUpdate
      description: Updates an Email Template.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: templateName
        in: path
        required: true
        x-ms-enum:
          name: TemplateName
          modelAsString: true
        description: Email Template Name Identifier.
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - applicationApprovedNotificationMessage
          - accountClosedDeveloper
          - quotaLimitApproachingDeveloperNotificationMessage
          - newDeveloperNotificationMessage
          - emailChangeIdentityDefault
          - inviteUserNotificationMessage
          - newCommentNotificationMessage
          - confirmSignUpIdentityDefault
          - newIssueNotificationMessage
          - purchaseDeveloperNotificationMessage
          - passwordResetIdentityDefault
          - passwordResetByAdminNotificationMessage
          - rejectDeveloperNotificationMessage
          - requestDeveloperNotificationMessage
      - name: If-Match
        in: header
        required: false
        description: ETag of the Entity. Not required when creating an entity, but
          required when updating an entity.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: Email Template Update contract properties.
                  type: object
                  properties:
                    subject:
                      type: string
                      description: Subject of the Template.
                      minLength: 1
                      maxLength: 1000
                    title:
                      type: string
                      description: Title of the Template.
                    description:
                      type: string
                      description: Description of the Email Template.
                    body:
                      type: string
                      description: Email Template Body. This should be a valid XDocument
                      minLength: 1
                    parameters:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: Template parameter name.
                            minLength: 1
                            maxLength: 256
                            pattern: ^[A-Za-z0-9-._]+$
                          title:
                            type: string
                            description: Template parameter title.
                            minLength: 1
                            maxLength: 4096
                          description:
                            type: string
                            description: Template parameter description.
                            minLength: 1
                            maxLength: 256
                            pattern: ^[A-Za-z0-9-._]+$
                        description: Email Template Parameter contract.
                      x-ms-identifiers:
                      - title
                      description: Email Template Parameter values.
              description: Email Template update Parameters.
        description: Email Template update parameters.
        required: true
      responses:
        '200':
          description: Email Template was successfully updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: Email Template entity contract properties.
                    type: object
                    properties:
                      subject:
                        type: string
                        description: Subject of the Template.
                        minLength: 1
                        maxLength: 1000
                      body:
                        type: string
                        description: Email Template Body. This should be a valid XDocument
                        minLength: 1
                      title:
                        type: string
                        description: Title of the Template.
                      description:
                        type: string
                        description: Description of the Email Template.
                      isDefault:
                        type: boolean
                        description: Whether the template is the default template
                          provided by API Management or has been edited.
                        readOnly: true
                      parameters:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Template parameter name.
                              minLength: 1
                              maxLength: 256
                              pattern: ^[A-Za-z0-9-._]+$
                            title:
                              type: string
                              description: Template parameter title.
                              minLength: 1
                              maxLength: 4096
                            description:
                              type: string
                              description: Template parameter description.
                              minLength: 1
                              maxLength: 256
                              pattern: ^[A-Za-z0-9-._]+$
                          description: Email Template Parameter contract.
                        x-ms-identifiers:
                        - title
                        description: Email Template Parameter values.
                    required:
                    - body
                    - subject
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Email Template was successfully updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: Email Template entity contract properties.
                    type: object
                    properties:
                      subject:
                        type: string
                        description: Subject of the Template.
                        minLength: 1
                        maxLength: 1000
                      body:
                        type: string
                        description: Email Template Body. This should be a valid XDocument
                        minLength: 1
                      title:
                        type: string
                        description: Title of the Template.
                      description:
                        type: string
                        description: Description of the Email Template.
                      isDefault:
                        type: boolean
                        description: Whether the template is the default template
                          provided by API Management or has been edited.
                        readOnly: true
                      parameters:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Template parameter name.
                              minLength: 1
                              maxLength: 256
                              pattern: ^[A-Za-z0-9-._]+$
                            title:
                              type: string
                              description: Template parameter title.
                              minLength: 1
                              maxLength: 4096
                            description:
                              type: string
                              description: Template parameter description.
                              minLength: 1
                              maxLength: 256
                              pattern: ^[A-Za-z0-9-._]+$
                          description: Email Template Parameter contract.
                        x-ms-identifiers:
                        - title
                        description: Email Template Parameter values.
                    required:
                    - body
                    - subject
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      tags:
      - EmailTemplates
      operationId: EmailTemplate_Update
      description: Updates API Management email template
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: templateName
        in: path
        required: true
        x-ms-enum:
          name: TemplateName
          modelAsString: true
        description: Email Template Name Identifier.
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - applicationApprovedNotificationMessage
          - accountClosedDeveloper
          - quotaLimitApproachingDeveloperNotificationMessage
          - newDeveloperNotificationMessage
          - emailChangeIdentityDefault
          - inviteUserNotificationMessage
          - newCommentNotificationMessage
          - confirmSignUpIdentityDefault
          - newIssueNotificationMessage
          - purchaseDeveloperNotificationMessage
          - passwordResetIdentityDefault
          - passwordResetByAdminNotificationMessage
          - rejectDeveloperNotificationMessage
          - requestDeveloperNotificationMessage
      - name: If-Match
        in: header
        required: true
        description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: Email Template Update contract properties.
                  type: object
                  properties:
                    subject:
                      type: string
                      description: Subject of the Template.
                      minLength: 1
                      maxLength: 1000
                    title:
                      type: string
                      description: Title of the Template.
                    description:
                      type: string
                      description: Description of the Email Template.
                    body:
                      type: string
                      description: Email Template Body. This should be a valid XDocument
                      minLength: 1
                    parameters:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: Template parameter name.
                            minLength: 1
                            maxLength: 256
                            pattern: ^[A-Za-z0-9-._]+$
                          title:
                            type: string
                            description: Template parameter title.
                            minLength: 1
                            maxLength: 4096
                          description:
                            type: string
                            description: Template parameter description.
                            minLength: 1
                            maxLength: 256
                            pattern: ^[A-Za-z0-9-._]+$
                        description: Email Template Parameter contract.
                      x-ms-identifiers:
                      - title
                      description: Email Template Parameter values.
              description: Email Template update Parameters.
        description: Update parameters.
        required: true
      responses:
        '200':
          description: email template successfully updated
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: Email Template entity contract properties.
                    type: object
                    properties:
                      subject:
                        type: string
                        description: Subject of the Template.
                        minLength: 1
                        maxLength: 1000
                      body:
                        type: string
                        description: Email Template Body. This should be a valid XDocument
                        minLength: 1
                      title:
                        type: string
                        description: Title of the Template.
                      description:
                        type: string
                        description: Description of the Email Template.
                      isDefault:
                        type: boolean
                        description: Whether the template is the default template
                          provided by API Management or has been edited.
                        readOnly: true
                      parameters:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Template parameter name.
                              minLength: 1
                              maxLength: 256
                              pattern: ^[A-Za-z0-9-._]+$
                            title:
                              type: string
                              description: Template parameter title.
                              minLength: 1
                              maxLength: 4096
                            description:
                              type: string
                              description: Template parameter description.
                              minLength: 1
                              maxLength: 256
                              pattern: ^[A-Za-z0-9-._]+$
                          description: Email Template Parameter contract.
                        x-ms-identifiers:
                        - title
                        description: Email Template Parameter values.
                    required:
                    - body
                    - subject
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - EmailTemplates
      operationId: EmailTemplate_Delete
      description: Reset the Email Template to default template provided by the API
        Management service instance.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serviceName
        in: path
        required: true
        description: The name of the API Management service.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
      - name: templateName
        in: path
        required: true
        x-ms-enum:
          name: TemplateName
          modelAsString: true
        description: Email Template Name Identifier.
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - applicationApprovedNotificationMessage
          - accountClosedDeveloper
          - quotaLimitApproachingDeveloperNotificationMessage
          - newDeveloperNotificationMessage
          - emailChangeIdentityDefault
          - inviteUserNotificationMessage
          - newCommentNotificationMessage
          - confirmSignUpIdentityDefault
          - newIssueNotificationMessage
          - purchaseDeveloperNotificationMessage
          - passwordResetIdentityDefault
          - passwordResetByAdminNotificationMessage
          - rejectDeveloperNotificationMessage
          - requestDeveloperNotificationMessage
      - name: If-Match
        in: header
        required: true
        description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Email Template was successfully reset to default.
        '204':
          description: Email Template was successfully reset to default.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ServiceNameParameter:
      name: serviceName
      in: path
      required: true
      description: The name of the API Management service.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 50
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
    TopQueryParameter:
      name: $top
      in: query
      required: false
      description: Number of records to return.
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        minimum: 1
    SkipQueryParameter:
      name: $skip
      in: query
      required: false
      description: Number of records to skip.
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        minimum: 0
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    TemplateNameParameter:
      name: templateName
      in: path
      required: true
      x-ms-enum:
        name: TemplateName
        modelAsString: true
      description: Email Template Name Identifier.
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - applicationApprovedNotificationMessage
        - accountClosedDeveloper
        - quotaLimitApproachingDeveloperNotificationMessage
        - newDeveloperNotificationMessage
        - emailChangeIdentityDefault
        - inviteUserNotificationMessage
        - newCommentNotificationMessage
        - confirmSignUpIdentityDefault
        - newIssueNotificationMessage
        - purchaseDeveloperNotificationMessage
        - passwordResetIdentityDefault
        - passwordResetByAdminNotificationMessage
        - rejectDeveloperNotificationMessage
        - requestDeveloperNotificationMessage
    IfMatchOptionalParameter:
      name: If-Match
      in: header
      required: false
      description: ETag of the Entity. Not required when creating an entity, but required
        when updating an entity.
      x-ms-parameter-location: method
      schema:
        type: string
    IfMatchRequiredParameter:
      name: If-Match
      in: header
      required: true
      description: ETag of the Entity. ETag should match the current entity state
        from the header response of the GET request or it should be * for unconditional
        update.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    EmailTemplateParametersContractProperties:
      type: object
      properties:
        name:
          type: string
          description: Template parameter name.
          minLength: 1
          maxLength: 256
          pattern: ^[A-Za-z0-9-._]+$
        title:
          type: string
          description: Template parameter title.
          minLength: 1
          maxLength: 4096
        description:
          type: string
          description: Template parameter description.
          minLength: 1
          maxLength: 256
          pattern: ^[A-Za-z0-9-._]+$
      description: Email Template Parameter contract.
    EmailTemplateContractProperties:
      type: object
      properties:
        subject:
          type: string
          description: Subject of the Template.
          minLength: 1
          maxLength: 1000
        body:
          type: string
          description: Email Template Body. This should be a valid XDocument
          minLength: 1
        title:
          type: string
          description: Title of the Template.
        description:
          type: string
          description: Description of the Email Template.
        isDefault:
          type: boolean
          description: Whether the template is the default template provided by API
            Management or has been edited.
          readOnly: true
        parameters:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: Template parameter name.
                minLength: 1
                maxLength: 256
                pattern: ^[A-Za-z0-9-._]+$
              title:
                type: string
                description: Template parameter title.
                minLength: 1
                maxLength: 4096
              description:
                type: string
                description: Template parameter description.
                minLength: 1
                maxLength: 256
                pattern: ^[A-Za-z0-9-._]+$
            description: Email Template Parameter contract.
          x-ms-identifiers:
          - title
          description: Email Template Parameter values.
      required:
      - body
      - subject
      description: Email Template Contract properties.
    EmailTemplateContract:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
        properties:
          x-ms-client-flatten: true
          description: Email Template entity contract properties.
          type: object
          properties:
            subject:
              type: string
              description: Subject of the Template.
              minLength: 1
              maxLength: 1000
            body:
              type: string
              description: Email Template Body. This should be a valid XDocument
              minLength: 1
            title:
              type: string
              description: Title of the Template.
            description:
              type: string
              description: Description of the Email Template.
            isDefault:
              type: boolean
              description: Whether the template is the default template provided by
                API Management or has been edited.
              readOnly: true
            parameters:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: Template parameter name.
                    minLength: 1
                    maxLength: 256
                    pattern: ^[A-Za-z0-9-._]+$
                  title:
                    type: string
                    description: Template parameter title.
                    minLength: 1
                    maxLength: 4096
                  description:
                    type: string
                    description: Template parameter description.
                    minLength: 1
                    maxLength: 256
                    pattern: ^[A-Za-z0-9-._]+$
                description: Email Template Parameter contract.
              x-ms-identifiers:
              - title
              description: Email Template Parameter values.
          required:
          - body
          - subject
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    EmailTemplateCollection:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
              properties:
                x-ms-client-flatten: true
                description: Email Template entity contract properties.
                type: object
                properties:
                  subject:
                    type: string
                    description: Subject of the Template.
                    minLength: 1
                    maxLength: 1000
                  body:
                    type: string
                    description: Email Template Body. This should be a valid XDocument
                    minLength: 1
                  title:
                    type: string
                    description: Title of the Template.
                  description:
                    type: string
                    description: Description of the Email Template.
                  isDefault:
                    type: boolean
                    description: Whether the template is the default template provided
                      by API Management or has been edited.
                    readOnly: true
                  parameters:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Template parameter name.
                          minLength: 1
                          maxLength: 256
                          pattern: ^[A-Za-z0-9-._]+$
                        title:
                          type: string
                          description: Template parameter title.
                          minLength: 1
                          maxLength: 4096
                        description:
                          type: string
                          description: Template parameter description.
                          minLength: 1
                          maxLength: 256
                          pattern: ^[A-Za-z0-9-._]+$
                      description: Email Template Parameter contract.
                    x-ms-identifiers:
                    - title
                    description: Email Template Parameter values.
                required:
                - body
                - subject
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
          description: Page values.
        count:
          type: integer
          format: int64
          description: Total record count number across all pages.
        nextLink:
          type: string
          description: Next page link if any.
      description: Paged email template list representation.
    EmailTemplateUpdateParameterProperties:
      type: object
      properties:
        subject:
          type: string
          description: Subject of the Template.
          minLength: 1
          maxLength: 1000
        title:
          type: string
          description: Title of the Template.
        description:
          type: string
          description: Description of the Email Template.
        body:
          type: string
          description: Email Template Body. This should be a valid XDocument
          minLength: 1
        parameters:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: Template parameter name.
                minLength: 1
                maxLength: 256
                pattern: ^[A-Za-z0-9-._]+$
              title:
                type: string
                description: Template parameter title.
                minLength: 1
                maxLength: 4096
              description:
                type: string
                description: Template parameter description.
                minLength: 1
                maxLength: 256
                pattern: ^[A-Za-z0-9-._]+$
            description: Email Template Parameter contract.
          x-ms-identifiers:
          - title
          description: Email Template Parameter values.
      description: Email Template Update Contract properties.
    EmailTemplateUpdateParameters:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          description: Email Template Update contract properties.
          type: object
          properties:
            subject:
              type: string
              description: Subject of the Template.
              minLength: 1
              maxLength: 1000
            title:
              type: string
              description: Title of the Template.
            description:
              type: string
              description: Description of the Email Template.
            body:
              type: string
              description: Email Template Body. This should be a valid XDocument
              minLength: 1
            parameters:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: Template parameter name.
                    minLength: 1
                    maxLength: 256
                    pattern: ^[A-Za-z0-9-._]+$
                  title:
                    type: string
                    description: Template parameter title.
                    minLength: 1
                    maxLength: 4096
                  description:
                    type: string
                    description: Template parameter description.
                    minLength: 1
                    maxLength: 256
                    pattern: ^[A-Za-z0-9-._]+$
                description: Email Template Parameter contract.
              x-ms-identifiers:
              - title
              description: Email Template Parameter values.
      description: Email Template update Parameters.
