openapi: 3.0.0
info:
  version: 2024-04-01
  title: AppServicePlans API Client
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/serverfarms:
    get:
      tags:
      - AppServicePlans
      summary: Get all App Service plans for a subscription.
      description: Description for Get all App Service plans for a subscription.
      operationId: AppServicePlans_List
      parameters:
      - name: detailed
        in: query
        description: "Specify <code>true</code> to return all App Service plan properties.\
          \ The default is <code>false</code>, which returns a subset of the properties.\n\
          \ Retrieval of all properties may increase the API latency."
        schema:
          type: boolean
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of App Service plans.
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource Id.
                          type: string
                          readOnly: true
                        name:
                          description: Resource Name.
                          type: string
                          readOnly: true
                        kind:
                          description: Kind of resource. If the resource is an app,
                            you can refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
                            for details supported values for kind.
                          type: string
                        location:
                          description: Resource Location.
                          type: string
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        tags:
                          description: Resource tags.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: AppServicePlan resource specific properties
                          type: object
                          properties:
                            workerTierName:
                              description: Target worker tier assigned to the App
                                Service plan.
                              type: string
                            status:
                              description: App Service plan status.
                              enum:
                              - Ready
                              - Pending
                              - Creating
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: StatusOptions
                                modelAsString: false
                            subscription:
                              description: App Service plan subscription.
                              type: string
                              readOnly: true
                            hostingEnvironmentProfile:
                              description: Specification for the App Service Environment
                                to use for the App Service plan.
                              x-ms-mutability:
                              - create
                              - read
                              type: object
                              properties:
                                id:
                                  description: Resource ID of the App Service Environment.
                                  type: string
                                name:
                                  description: Name of the App Service Environment.
                                  type: string
                                  readOnly: true
                                type:
                                  description: Resource type of the App Service Environment.
                                  type: string
                                  readOnly: true
                            maximumNumberOfWorkers:
                              format: int32
                              description: Maximum number of instances that can be
                                assigned to this App Service plan.
                              type: integer
                              readOnly: true
                            numberOfWorkers:
                              format: int32
                              description: The number of instances that are assigned
                                to this App Service plan.
                              type: integer
                              readOnly: true
                            geoRegion:
                              description: Geographical location for the App Service
                                plan.
                              type: string
                              readOnly: true
                            perSiteScaling:
                              description: 'If <code>true</code>, apps assigned to
                                this App Service plan can be scaled independently.

                                If <code>false</code>, apps assigned to this App Service
                                plan will scale to all instances of the plan.'
                              default: false
                              type: boolean
                            elasticScaleEnabled:
                              description: ServerFarm supports ElasticScale. Apps
                                in this plan will scale as if the ServerFarm was ElasticPremium
                                sku
                              type: boolean
                            maximumElasticWorkerCount:
                              format: int32
                              description: Maximum number of total workers allowed
                                for this ElasticScaleEnabled App Service Plan
                              type: integer
                            numberOfSites:
                              format: int32
                              description: Number of apps assigned to this App Service
                                plan.
                              type: integer
                              readOnly: true
                            isSpot:
                              description: If <code>true</code>, this App Service
                                Plan owns spot instances.
                              type: boolean
                            spotExpirationTime:
                              format: date-time
                              description: The time when the server farm expires.
                                Valid only if it is a spot server farm.
                              type: string
                            freeOfferExpirationTime:
                              format: date-time
                              description: The time when the server farm free offer
                                expires.
                              type: string
                            resourceGroup:
                              description: Resource group of the App Service plan.
                              type: string
                              readOnly: true
                            reserved:
                              description: If Linux app service plan <code>true</code>,
                                <code>false</code> otherwise.
                              default: false
                              type: boolean
                              x-ms-mutability:
                              - create
                              - read
                            isXenon:
                              description: 'Obsolete: If Hyper-V container app service
                                plan <code>true</code>, <code>false</code> otherwise.'
                              default: false
                              type: boolean
                              x-ms-mutability:
                              - create
                              - read
                            hyperV:
                              description: If Hyper-V container app service plan <code>true</code>,
                                <code>false</code> otherwise.
                              default: false
                              type: boolean
                              x-ms-mutability:
                              - create
                              - read
                            targetWorkerCount:
                              format: int32
                              description: Scaling worker count.
                              type: integer
                            targetWorkerSizeId:
                              format: int32
                              description: Scaling worker size ID.
                              type: integer
                            provisioningState:
                              description: Provisioning state of the App Service Plan.
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - InProgress
                              - Deleting
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: false
                            kubeEnvironmentProfile:
                              description: Specification for the Kubernetes Environment
                                to use for the App Service plan.
                              type: object
                              properties:
                                id:
                                  description: Resource ID of the Kubernetes Environment.
                                  type: string
                                name:
                                  description: Name of the Kubernetes Environment.
                                  type: string
                                  readOnly: true
                                type:
                                  description: Resource type of the Kubernetes Environment.
                                  type: string
                                  readOnly: true
                            zoneRedundant:
                              description: 'If <code>true</code>, this App Service
                                Plan will perform availability zone balancing.

                                If <code>false</code>, this App Service Plan will
                                not perform availability zone balancing.'
                              default: false
                              type: boolean
                          x-ms-client-flatten: true
                        sku:
                          description: Description of a SKU for a scalable resource.
                          type: object
                          properties:
                            name:
                              description: Name of the resource SKU.
                              type: string
                            tier:
                              description: Service tier of the resource SKU.
                              type: string
                            size:
                              description: Size specifier of the resource SKU.
                              type: string
                            family:
                              description: Family code of the resource SKU.
                              type: string
                            capacity:
                              format: int32
                              description: Current number of instances assigned to
                                the resource.
                              type: integer
                            skuCapacity:
                              description: Min, max, and default scale values of the
                                SKU.
                              type: object
                              properties:
                                minimum:
                                  format: int32
                                  description: Minimum number of workers for this
                                    App Service plan SKU.
                                  type: integer
                                maximum:
                                  format: int32
                                  description: Maximum number of workers for this
                                    App Service plan SKU.
                                  type: integer
                                elasticMaximum:
                                  format: int32
                                  description: Maximum number of Elastic workers for
                                    this App Service plan SKU.
                                  type: integer
                                default:
                                  format: int32
                                  description: Default number of workers for this
                                    App Service plan SKU.
                                  type: integer
                                scaleType:
                                  description: Available scale configurations for
                                    an App Service plan.
                                  type: string
                            locations:
                              description: Locations of the SKU.
                              type: array
                              items:
                                type: string
                            capabilities:
                              description: Capabilities of the SKU, e.g., is traffic
                                manager enabled?
                              type: array
                              items:
                                description: Describes the capabilities/features allowed
                                  for a specific SKU.
                                type: object
                                properties:
                                  name:
                                    description: Name of the SKU capability.
                                    type: string
                                  value:
                                    description: Value of the SKU capability.
                                    type: string
                                  reason:
                                    description: Reason of the SKU capability.
                                    type: string
                              x-ms-identifiers:
                              - name
                        extendedLocation:
                          description: Extended Location.
                          type: object
                          properties:
                            name:
                              description: Name of extended location.
                              type: string
                            type:
                              description: Type of extended location.
                              type: string
                              readOnly: true
                      required:
                      - location
                      description: Azure resource. This resource is tracked in Azure
                        Resource Manager
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms:
    get:
      tags:
      - AppServicePlans
      summary: Get all App Service plans in a resource group.
      description: Description for Get all App Service plans in a resource group.
      operationId: AppServicePlans_ListByResourceGroup
      parameters:
      - name: resourceGroupName
        in: path
        description: Name of the resource group to which the resource belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+[^\.]$
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of App Service plans.
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource Id.
                          type: string
                          readOnly: true
                        name:
                          description: Resource Name.
                          type: string
                          readOnly: true
                        kind:
                          description: Kind of resource. If the resource is an app,
                            you can refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
                            for details supported values for kind.
                          type: string
                        location:
                          description: Resource Location.
                          type: string
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        tags:
                          description: Resource tags.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: AppServicePlan resource specific properties
                          type: object
                          properties:
                            workerTierName:
                              description: Target worker tier assigned to the App
                                Service plan.
                              type: string
                            status:
                              description: App Service plan status.
                              enum:
                              - Ready
                              - Pending
                              - Creating
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: StatusOptions
                                modelAsString: false
                            subscription:
                              description: App Service plan subscription.
                              type: string
                              readOnly: true
                            hostingEnvironmentProfile:
                              description: Specification for the App Service Environment
                                to use for the App Service plan.
                              x-ms-mutability:
                              - create
                              - read
                              type: object
                              properties:
                                id:
                                  description: Resource ID of the App Service Environment.
                                  type: string
                                name:
                                  description: Name of the App Service Environment.
                                  type: string
                                  readOnly: true
                                type:
                                  description: Resource type of the App Service Environment.
                                  type: string
                                  readOnly: true
                            maximumNumberOfWorkers:
                              format: int32
                              description: Maximum number of instances that can be
                                assigned to this App Service plan.
                              type: integer
                              readOnly: true
                            numberOfWorkers:
                              format: int32
                              description: The number of instances that are assigned
                                to this App Service plan.
                              type: integer
                              readOnly: true
                            geoRegion:
                              description: Geographical location for the App Service
                                plan.
                              type: string
                              readOnly: true
                            perSiteScaling:
                              description: 'If <code>true</code>, apps assigned to
                                this App Service plan can be scaled independently.

                                If <code>false</code>, apps assigned to this App Service
                                plan will scale to all instances of the plan.'
                              default: false
                              type: boolean
                            elasticScaleEnabled:
                              description: ServerFarm supports ElasticScale. Apps
                                in this plan will scale as if the ServerFarm was ElasticPremium
                                sku
                              type: boolean
                            maximumElasticWorkerCount:
                              format: int32
                              description: Maximum number of total workers allowed
                                for this ElasticScaleEnabled App Service Plan
                              type: integer
                            numberOfSites:
                              format: int32
                              description: Number of apps assigned to this App Service
                                plan.
                              type: integer
                              readOnly: true
                            isSpot:
                              description: If <code>true</code>, this App Service
                                Plan owns spot instances.
                              type: boolean
                            spotExpirationTime:
                              format: date-time
                              description: The time when the server farm expires.
                                Valid only if it is a spot server farm.
                              type: string
                            freeOfferExpirationTime:
                              format: date-time
                              description: The time when the server farm free offer
                                expires.
                              type: string
                            resourceGroup:
                              description: Resource group of the App Service plan.
                              type: string
                              readOnly: true
                            reserved:
                              description: If Linux app service plan <code>true</code>,
                                <code>false</code> otherwise.
                              default: false
                              type: boolean
                              x-ms-mutability:
                              - create
                              - read
                            isXenon:
                              description: 'Obsolete: If Hyper-V container app service
                                plan <code>true</code>, <code>false</code> otherwise.'
                              default: false
                              type: boolean
                              x-ms-mutability:
                              - create
                              - read
                            hyperV:
                              description: If Hyper-V container app service plan <code>true</code>,
                                <code>false</code> otherwise.
                              default: false
                              type: boolean
                              x-ms-mutability:
                              - create
                              - read
                            targetWorkerCount:
                              format: int32
                              description: Scaling worker count.
                              type: integer
                            targetWorkerSizeId:
                              format: int32
                              description: Scaling worker size ID.
                              type: integer
                            provisioningState:
                              description: Provisioning state of the App Service Plan.
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - InProgress
                              - Deleting
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: false
                            kubeEnvironmentProfile:
                              description: Specification for the Kubernetes Environment
                                to use for the App Service plan.
                              type: object
                              properties:
                                id:
                                  description: Resource ID of the Kubernetes Environment.
                                  type: string
                                name:
                                  description: Name of the Kubernetes Environment.
                                  type: string
                                  readOnly: true
                                type:
                                  description: Resource type of the Kubernetes Environment.
                                  type: string
                                  readOnly: true
                            zoneRedundant:
                              description: 'If <code>true</code>, this App Service
                                Plan will perform availability zone balancing.

                                If <code>false</code>, this App Service Plan will
                                not perform availability zone balancing.'
                              default: false
                              type: boolean
                          x-ms-client-flatten: true
                        sku:
                          description: Description of a SKU for a scalable resource.
                          type: object
                          properties:
                            name:
                              description: Name of the resource SKU.
                              type: string
                            tier:
                              description: Service tier of the resource SKU.
                              type: string
                            size:
                              description: Size specifier of the resource SKU.
                              type: string
                            family:
                              description: Family code of the resource SKU.
                              type: string
                            capacity:
                              format: int32
                              description: Current number of instances assigned to
                                the resource.
                              type: integer
                            skuCapacity:
                              description: Min, max, and default scale values of the
                                SKU.
                              type: object
                              properties:
                                minimum:
                                  format: int32
                                  description: Minimum number of workers for this
                                    App Service plan SKU.
                                  type: integer
                                maximum:
                                  format: int32
                                  description: Maximum number of workers for this
                                    App Service plan SKU.
                                  type: integer
                                elasticMaximum:
                                  format: int32
                                  description: Maximum number of Elastic workers for
                                    this App Service plan SKU.
                                  type: integer
                                default:
                                  format: int32
                                  description: Default number of workers for this
                                    App Service plan SKU.
                                  type: integer
                                scaleType:
                                  description: Available scale configurations for
                                    an App Service plan.
                                  type: string
                            locations:
                              description: Locations of the SKU.
                              type: array
                              items:
                                type: string
                            capabilities:
                              description: Capabilities of the SKU, e.g., is traffic
                                manager enabled?
                              type: array
                              items:
                                description: Describes the capabilities/features allowed
                                  for a specific SKU.
                                type: object
                                properties:
                                  name:
                                    description: Name of the SKU capability.
                                    type: string
                                  value:
                                    description: Value of the SKU capability.
                                    type: string
                                  reason:
                                    description: Reason of the SKU capability.
                                    type: string
                              x-ms-identifiers:
                              - name
                        extendedLocation:
                          description: Extended Location.
                          type: object
                          properties:
                            name:
                              description: Name of extended location.
                              type: string
                            type:
                              description: Type of extended location.
                              type: string
                              readOnly: true
                      required:
                      - location
                      description: Azure resource. This resource is tracked in Azure
                        Resource Manager
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}:
    get:
      tags:
      - AppServicePlans
      summary: Get an App Service plan.
      description: Description for Get an App Service plan.
      operationId: AppServicePlans_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: Name of the resource group to which the resource belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+[^\.]$
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource Id.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  kind:
                    description: Kind of resource. If the resource is an app, you
                      can refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
                      for details supported values for kind.
                    type: string
                  location:
                    description: Resource Location.
                    type: string
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  tags:
                    description: Resource tags.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: AppServicePlan resource specific properties
                    type: object
                    properties:
                      workerTierName:
                        description: Target worker tier assigned to the App Service
                          plan.
                        type: string
                      status:
                        description: App Service plan status.
                        enum:
                        - Ready
                        - Pending
                        - Creating
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: StatusOptions
                          modelAsString: false
                      subscription:
                        description: App Service plan subscription.
                        type: string
                        readOnly: true
                      hostingEnvironmentProfile:
                        description: Specification for the App Service Environment
                          to use for the App Service plan.
                        x-ms-mutability:
                        - create
                        - read
                        type: object
                        properties:
                          id:
                            description: Resource ID of the App Service Environment.
                            type: string
                          name:
                            description: Name of the App Service Environment.
                            type: string
                            readOnly: true
                          type:
                            description: Resource type of the App Service Environment.
                            type: string
                            readOnly: true
                      maximumNumberOfWorkers:
                        format: int32
                        description: Maximum number of instances that can be assigned
                          to this App Service plan.
                        type: integer
                        readOnly: true
                      numberOfWorkers:
                        format: int32
                        description: The number of instances that are assigned to
                          this App Service plan.
                        type: integer
                        readOnly: true
                      geoRegion:
                        description: Geographical location for the App Service plan.
                        type: string
                        readOnly: true
                      perSiteScaling:
                        description: 'If <code>true</code>, apps assigned to this
                          App Service plan can be scaled independently.

                          If <code>false</code>, apps assigned to this App Service
                          plan will scale to all instances of the plan.'
                        default: false
                        type: boolean
                      elasticScaleEnabled:
                        description: ServerFarm supports ElasticScale. Apps in this
                          plan will scale as if the ServerFarm was ElasticPremium
                          sku
                        type: boolean
                      maximumElasticWorkerCount:
                        format: int32
                        description: Maximum number of total workers allowed for this
                          ElasticScaleEnabled App Service Plan
                        type: integer
                      numberOfSites:
                        format: int32
                        description: Number of apps assigned to this App Service plan.
                        type: integer
                        readOnly: true
                      isSpot:
                        description: If <code>true</code>, this App Service Plan owns
                          spot instances.
                        type: boolean
                      spotExpirationTime:
                        format: date-time
                        description: The time when the server farm expires. Valid
                          only if it is a spot server farm.
                        type: string
                      freeOfferExpirationTime:
                        format: date-time
                        description: The time when the server farm free offer expires.
                        type: string
                      resourceGroup:
                        description: Resource group of the App Service plan.
                        type: string
                        readOnly: true
                      reserved:
                        description: If Linux app service plan <code>true</code>,
                          <code>false</code> otherwise.
                        default: false
                        type: boolean
                        x-ms-mutability:
                        - create
                        - read
                      isXenon:
                        description: 'Obsolete: If Hyper-V container app service plan
                          <code>true</code>, <code>false</code> otherwise.'
                        default: false
                        type: boolean
                        x-ms-mutability:
                        - create
                        - read
                      hyperV:
                        description: If Hyper-V container app service plan <code>true</code>,
                          <code>false</code> otherwise.
                        default: false
                        type: boolean
                        x-ms-mutability:
                        - create
                        - read
                      targetWorkerCount:
                        format: int32
                        description: Scaling worker count.
                        type: integer
                      targetWorkerSizeId:
                        format: int32
                        description: Scaling worker size ID.
                        type: integer
                      provisioningState:
                        description: Provisioning state of the App Service Plan.
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - InProgress
                        - Deleting
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: false
                      kubeEnvironmentProfile:
                        description: Specification for the Kubernetes Environment
                          to use for the App Service plan.
                        type: object
                        properties:
                          id:
                            description: Resource ID of the Kubernetes Environment.
                            type: string
                          name:
                            description: Name of the Kubernetes Environment.
                            type: string
                            readOnly: true
                          type:
                            description: Resource type of the Kubernetes Environment.
                            type: string
                            readOnly: true
                      zoneRedundant:
                        description: 'If <code>true</code>, this App Service Plan
                          will perform availability zone balancing.

                          If <code>false</code>, this App Service Plan will not perform
                          availability zone balancing.'
                        default: false
                        type: boolean
                    x-ms-client-flatten: true
                  sku:
                    description: Description of a SKU for a scalable resource.
                    type: object
                    properties:
                      name:
                        description: Name of the resource SKU.
                        type: string
                      tier:
                        description: Service tier of the resource SKU.
                        type: string
                      size:
                        description: Size specifier of the resource SKU.
                        type: string
                      family:
                        description: Family code of the resource SKU.
                        type: string
                      capacity:
                        format: int32
                        description: Current number of instances assigned to the resource.
                        type: integer
                      skuCapacity:
                        description: Min, max, and default scale values of the SKU.
                        type: object
                        properties:
                          minimum:
                            format: int32
                            description: Minimum number of workers for this App Service
                              plan SKU.
                            type: integer
                          maximum:
                            format: int32
                            description: Maximum number of workers for this App Service
                              plan SKU.
                            type: integer
                          elasticMaximum:
                            format: int32
                            description: Maximum number of Elastic workers for this
                              App Service plan SKU.
                            type: integer
                          default:
                            format: int32
                            description: Default number of workers for this App Service
                              plan SKU.
                            type: integer
                          scaleType:
                            description: Available scale configurations for an App
                              Service plan.
                            type: string
                      locations:
                        description: Locations of the SKU.
                        type: array
                        items:
                          type: string
                      capabilities:
                        description: Capabilities of the SKU, e.g., is traffic manager
                          enabled?
                        type: array
                        items:
                          description: Describes the capabilities/features allowed
                            for a specific SKU.
                          type: object
                          properties:
                            name:
                              description: Name of the SKU capability.
                              type: string
                            value:
                              description: Value of the SKU capability.
                              type: string
                            reason:
                              description: Reason of the SKU capability.
                              type: string
                        x-ms-identifiers:
                        - name
                  extendedLocation:
                    description: Extended Location.
                    type: object
                    properties:
                      name:
                        description: Name of extended location.
                        type: string
                      type:
                        description: Type of extended location.
                        type: string
                        readOnly: true
                required:
                - location
                description: Azure resource. This resource is tracked in Azure Resource
                  Manager
                x-ms-azure-resource: true
        '404':
          description: Not found.
          x-ms-error-response: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
    put:
      tags:
      - AppServicePlans
      summary: Creates or updates an App Service Plan.
      description: Description for Creates or updates an App Service Plan.
      operationId: AppServicePlans_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: Name of the resource group to which the resource belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+[^\.]$
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource Id.
                  type: string
                  readOnly: true
                name:
                  description: Resource Name.
                  type: string
                  readOnly: true
                kind:
                  description: Kind of resource. If the resource is an app, you can
                    refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
                    for details supported values for kind.
                  type: string
                location:
                  description: Resource Location.
                  type: string
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                tags:
                  description: Resource tags.
                  type: object
                  additionalProperties:
                    type: string
                properties:
                  description: AppServicePlan resource specific properties
                  type: object
                  properties:
                    workerTierName:
                      description: Target worker tier assigned to the App Service
                        plan.
                      type: string
                    status:
                      description: App Service plan status.
                      enum:
                      - Ready
                      - Pending
                      - Creating
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: StatusOptions
                        modelAsString: false
                    subscription:
                      description: App Service plan subscription.
                      type: string
                      readOnly: true
                    hostingEnvironmentProfile:
                      description: Specification for the App Service Environment to
                        use for the App Service plan.
                      x-ms-mutability:
                      - create
                      - read
                      type: object
                      properties:
                        id:
                          description: Resource ID of the App Service Environment.
                          type: string
                        name:
                          description: Name of the App Service Environment.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type of the App Service Environment.
                          type: string
                          readOnly: true
                    maximumNumberOfWorkers:
                      format: int32
                      description: Maximum number of instances that can be assigned
                        to this App Service plan.
                      type: integer
                      readOnly: true
                    numberOfWorkers:
                      format: int32
                      description: The number of instances that are assigned to this
                        App Service plan.
                      type: integer
                      readOnly: true
                    geoRegion:
                      description: Geographical location for the App Service plan.
                      type: string
                      readOnly: true
                    perSiteScaling:
                      description: 'If <code>true</code>, apps assigned to this App
                        Service plan can be scaled independently.

                        If <code>false</code>, apps assigned to this App Service plan
                        will scale to all instances of the plan.'
                      default: false
                      type: boolean
                    elasticScaleEnabled:
                      description: ServerFarm supports ElasticScale. Apps in this
                        plan will scale as if the ServerFarm was ElasticPremium sku
                      type: boolean
                    maximumElasticWorkerCount:
                      format: int32
                      description: Maximum number of total workers allowed for this
                        ElasticScaleEnabled App Service Plan
                      type: integer
                    numberOfSites:
                      format: int32
                      description: Number of apps assigned to this App Service plan.
                      type: integer
                      readOnly: true
                    isSpot:
                      description: If <code>true</code>, this App Service Plan owns
                        spot instances.
                      type: boolean
                    spotExpirationTime:
                      format: date-time
                      description: The time when the server farm expires. Valid only
                        if it is a spot server farm.
                      type: string
                    freeOfferExpirationTime:
                      format: date-time
                      description: The time when the server farm free offer expires.
                      type: string
                    resourceGroup:
                      description: Resource group of the App Service plan.
                      type: string
                      readOnly: true
                    reserved:
                      description: If Linux app service plan <code>true</code>, <code>false</code>
                        otherwise.
                      default: false
                      type: boolean
                      x-ms-mutability:
                      - create
                      - read
                    isXenon:
                      description: 'Obsolete: If Hyper-V container app service plan
                        <code>true</code>, <code>false</code> otherwise.'
                      default: false
                      type: boolean
                      x-ms-mutability:
                      - create
                      - read
                    hyperV:
                      description: If Hyper-V container app service plan <code>true</code>,
                        <code>false</code> otherwise.
                      default: false
                      type: boolean
                      x-ms-mutability:
                      - create
                      - read
                    targetWorkerCount:
                      format: int32
                      description: Scaling worker count.
                      type: integer
                    targetWorkerSizeId:
                      format: int32
                      description: Scaling worker size ID.
                      type: integer
                    provisioningState:
                      description: Provisioning state of the App Service Plan.
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - InProgress
                      - Deleting
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: false
                    kubeEnvironmentProfile:
                      description: Specification for the Kubernetes Environment to
                        use for the App Service plan.
                      type: object
                      properties:
                        id:
                          description: Resource ID of the Kubernetes Environment.
                          type: string
                        name:
                          description: Name of the Kubernetes Environment.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type of the Kubernetes Environment.
                          type: string
                          readOnly: true
                    zoneRedundant:
                      description: 'If <code>true</code>, this App Service Plan will
                        perform availability zone balancing.

                        If <code>false</code>, this App Service Plan will not perform
                        availability zone balancing.'
                      default: false
                      type: boolean
                  x-ms-client-flatten: true
                sku:
                  description: Description of a SKU for a scalable resource.
                  type: object
                  properties:
                    name:
                      description: Name of the resource SKU.
                      type: string
                    tier:
                      description: Service tier of the resource SKU.
                      type: string
                    size:
                      description: Size specifier of the resource SKU.
                      type: string
                    family:
                      description: Family code of the resource SKU.
                      type: string
                    capacity:
                      format: int32
                      description: Current number of instances assigned to the resource.
                      type: integer
                    skuCapacity:
                      description: Min, max, and default scale values of the SKU.
                      type: object
                      properties:
                        minimum:
                          format: int32
                          description: Minimum number of workers for this App Service
                            plan SKU.
                          type: integer
                        maximum:
                          format: int32
                          description: Maximum number of workers for this App Service
                            plan SKU.
                          type: integer
                        elasticMaximum:
                          format: int32
                          description: Maximum number of Elastic workers for this
                            App Service plan SKU.
                          type: integer
                        default:
                          format: int32
                          description: Default number of workers for this App Service
                            plan SKU.
                          type: integer
                        scaleType:
                          description: Available scale configurations for an App Service
                            plan.
                          type: string
                    locations:
                      description: Locations of the SKU.
                      type: array
                      items:
                        type: string
                    capabilities:
                      description: Capabilities of the SKU, e.g., is traffic manager
                        enabled?
                      type: array
                      items:
                        description: Describes the capabilities/features allowed for
                          a specific SKU.
                        type: object
                        properties:
                          name:
                            description: Name of the SKU capability.
                            type: string
                          value:
                            description: Value of the SKU capability.
                            type: string
                          reason:
                            description: Reason of the SKU capability.
                            type: string
                      x-ms-identifiers:
                      - name
                extendedLocation:
                  description: Extended Location.
                  type: object
                  properties:
                    name:
                      description: Name of extended location.
                      type: string
                    type:
                      description: Type of extended location.
                      type: string
                      readOnly: true
              required:
              - location
              description: Azure resource. This resource is tracked in Azure Resource
                Manager
              x-ms-azure-resource: true
        description: Details of the App Service plan.
        required: true
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource Id.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  kind:
                    description: Kind of resource. If the resource is an app, you
                      can refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
                      for details supported values for kind.
                    type: string
                  location:
                    description: Resource Location.
                    type: string
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  tags:
                    description: Resource tags.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: AppServicePlan resource specific properties
                    type: object
                    properties:
                      workerTierName:
                        description: Target worker tier assigned to the App Service
                          plan.
                        type: string
                      status:
                        description: App Service plan status.
                        enum:
                        - Ready
                        - Pending
                        - Creating
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: StatusOptions
                          modelAsString: false
                      subscription:
                        description: App Service plan subscription.
                        type: string
                        readOnly: true
                      hostingEnvironmentProfile:
                        description: Specification for the App Service Environment
                          to use for the App Service plan.
                        x-ms-mutability:
                        - create
                        - read
                        type: object
                        properties:
                          id:
                            description: Resource ID of the App Service Environment.
                            type: string
                          name:
                            description: Name of the App Service Environment.
                            type: string
                            readOnly: true
                          type:
                            description: Resource type of the App Service Environment.
                            type: string
                            readOnly: true
                      maximumNumberOfWorkers:
                        format: int32
                        description: Maximum number of instances that can be assigned
                          to this App Service plan.
                        type: integer
                        readOnly: true
                      numberOfWorkers:
                        format: int32
                        description: The number of instances that are assigned to
                          this App Service plan.
                        type: integer
                        readOnly: true
                      geoRegion:
                        description: Geographical location for the App Service plan.
                        type: string
                        readOnly: true
                      perSiteScaling:
                        description: 'If <code>true</code>, apps assigned to this
                          App Service plan can be scaled independently.

                          If <code>false</code>, apps assigned to this App Service
                          plan will scale to all instances of the plan.'
                        default: false
                        type: boolean
                      elasticScaleEnabled:
                        description: ServerFarm supports ElasticScale. Apps in this
                          plan will scale as if the ServerFarm was ElasticPremium
                          sku
                        type: boolean
                      maximumElasticWorkerCount:
                        format: int32
                        description: Maximum number of total workers allowed for this
                          ElasticScaleEnabled App Service Plan
                        type: integer
                      numberOfSites:
                        format: int32
                        description: Number of apps assigned to this App Service plan.
                        type: integer
                        readOnly: true
                      isSpot:
                        description: If <code>true</code>, this App Service Plan owns
                          spot instances.
                        type: boolean
                      spotExpirationTime:
                        format: date-time
                        description: The time when the server farm expires. Valid
                          only if it is a spot server farm.
                        type: string
                      freeOfferExpirationTime:
                        format: date-time
                        description: The time when the server farm free offer expires.
                        type: string
                      resourceGroup:
                        description: Resource group of the App Service plan.
                        type: string
                        readOnly: true
                      reserved:
                        description: If Linux app service plan <code>true</code>,
                          <code>false</code> otherwise.
                        default: false
                        type: boolean
                        x-ms-mutability:
                        - create
                        - read
                      isXenon:
                        description: 'Obsolete: If Hyper-V container app service plan
                          <code>true</code>, <code>false</code> otherwise.'
                        default: false
                        type: boolean
                        x-ms-mutability:
                        - create
                        - read
                      hyperV:
                        description: If Hyper-V container app service plan <code>true</code>,
                          <code>false</code> otherwise.
                        default: false
                        type: boolean
                        x-ms-mutability:
                        - create
                        - read
                      targetWorkerCount:
                        format: int32
                        description: Scaling worker count.
                        type: integer
                      targetWorkerSizeId:
                        format: int32
                        description: Scaling worker size ID.
                        type: integer
                      provisioningState:
                        description: Provisioning state of the App Service Plan.
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - InProgress
                        - Deleting
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: false
                      kubeEnvironmentProfile:
                        description: Specification for the Kubernetes Environment
                          to use for the App Service plan.
                        type: object
                        properties:
                          id:
                            description: Resource ID of the Kubernetes Environment.
                            type: string
                          name:
                            description: Name of the Kubernetes Environment.
                            type: string
                            readOnly: true
                          type:
                            description: Resource type of the Kubernetes Environment.
                            type: string
                            readOnly: true
                      zoneRedundant:
                        description: 'If <code>true</code>, this App Service Plan
                          will perform availability zone balancing.

                          If <code>false</code>, this App Service Plan will not perform
                          availability zone balancing.'
                        default: false
                        type: boolean
                    x-ms-client-flatten: true
                  sku:
                    description: Description of a SKU for a scalable resource.
                    type: object
                    properties:
                      name:
                        description: Name of the resource SKU.
                        type: string
                      tier:
                        description: Service tier of the resource SKU.
                        type: string
                      size:
                        description: Size specifier of the resource SKU.
                        type: string
                      family:
                        description: Family code of the resource SKU.
                        type: string
                      capacity:
                        format: int32
                        description: Current number of instances assigned to the resource.
                        type: integer
                      skuCapacity:
                        description: Min, max, and default scale values of the SKU.
                        type: object
                        properties:
                          minimum:
                            format: int32
                            description: Minimum number of workers for this App Service
                              plan SKU.
                            type: integer
                          maximum:
                            format: int32
                            description: Maximum number of workers for this App Service
                              plan SKU.
                            type: integer
                          elasticMaximum:
                            format: int32
                            description: Maximum number of Elastic workers for this
                              App Service plan SKU.
                            type: integer
                          default:
                            format: int32
                            description: Default number of workers for this App Service
                              plan SKU.
                            type: integer
                          scaleType:
                            description: Available scale configurations for an App
                              Service plan.
                            type: string
                      locations:
                        description: Locations of the SKU.
                        type: array
                        items:
                          type: string
                      capabilities:
                        description: Capabilities of the SKU, e.g., is traffic manager
                          enabled?
                        type: array
                        items:
                          description: Describes the capabilities/features allowed
                            for a specific SKU.
                          type: object
                          properties:
                            name:
                              description: Name of the SKU capability.
                              type: string
                            value:
                              description: Value of the SKU capability.
                              type: string
                            reason:
                              description: Reason of the SKU capability.
                              type: string
                        x-ms-identifiers:
                        - name
                  extendedLocation:
                    description: Extended Location.
                    type: object
                    properties:
                      name:
                        description: Name of extended location.
                        type: string
                      type:
                        description: Type of extended location.
                        type: string
                        readOnly: true
                required:
                - location
                description: Azure resource. This resource is tracked in Azure Resource
                  Manager
                x-ms-azure-resource: true
        '202':
          description: Operation is in progress.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource Id.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  kind:
                    description: Kind of resource. If the resource is an app, you
                      can refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
                      for details supported values for kind.
                    type: string
                  location:
                    description: Resource Location.
                    type: string
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  tags:
                    description: Resource tags.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: AppServicePlan resource specific properties
                    type: object
                    properties:
                      workerTierName:
                        description: Target worker tier assigned to the App Service
                          plan.
                        type: string
                      status:
                        description: App Service plan status.
                        enum:
                        - Ready
                        - Pending
                        - Creating
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: StatusOptions
                          modelAsString: false
                      subscription:
                        description: App Service plan subscription.
                        type: string
                        readOnly: true
                      hostingEnvironmentProfile:
                        description: Specification for the App Service Environment
                          to use for the App Service plan.
                        x-ms-mutability:
                        - create
                        - read
                        type: object
                        properties:
                          id:
                            description: Resource ID of the App Service Environment.
                            type: string
                          name:
                            description: Name of the App Service Environment.
                            type: string
                            readOnly: true
                          type:
                            description: Resource type of the App Service Environment.
                            type: string
                            readOnly: true
                      maximumNumberOfWorkers:
                        format: int32
                        description: Maximum number of instances that can be assigned
                          to this App Service plan.
                        type: integer
                        readOnly: true
                      numberOfWorkers:
                        format: int32
                        description: The number of instances that are assigned to
                          this App Service plan.
                        type: integer
                        readOnly: true
                      geoRegion:
                        description: Geographical location for the App Service plan.
                        type: string
                        readOnly: true
                      perSiteScaling:
                        description: 'If <code>true</code>, apps assigned to this
                          App Service plan can be scaled independently.

                          If <code>false</code>, apps assigned to this App Service
                          plan will scale to all instances of the plan.'
                        default: false
                        type: boolean
                      elasticScaleEnabled:
                        description: ServerFarm supports ElasticScale. Apps in this
                          plan will scale as if the ServerFarm was ElasticPremium
                          sku
                        type: boolean
                      maximumElasticWorkerCount:
                        format: int32
                        description: Maximum number of total workers allowed for this
                          ElasticScaleEnabled App Service Plan
                        type: integer
                      numberOfSites:
                        format: int32
                        description: Number of apps assigned to this App Service plan.
                        type: integer
                        readOnly: true
                      isSpot:
                        description: If <code>true</code>, this App Service Plan owns
                          spot instances.
                        type: boolean
                      spotExpirationTime:
                        format: date-time
                        description: The time when the server farm expires. Valid
                          only if it is a spot server farm.
                        type: string
                      freeOfferExpirationTime:
                        format: date-time
                        description: The time when the server farm free offer expires.
                        type: string
                      resourceGroup:
                        description: Resource group of the App Service plan.
                        type: string
                        readOnly: true
                      reserved:
                        description: If Linux app service plan <code>true</code>,
                          <code>false</code> otherwise.
                        default: false
                        type: boolean
                        x-ms-mutability:
                        - create
                        - read
                      isXenon:
                        description: 'Obsolete: If Hyper-V container app service plan
                          <code>true</code>, <code>false</code> otherwise.'
                        default: false
                        type: boolean
                        x-ms-mutability:
                        - create
                        - read
                      hyperV:
                        description: If Hyper-V container app service plan <code>true</code>,
                          <code>false</code> otherwise.
                        default: false
                        type: boolean
                        x-ms-mutability:
                        - create
                        - read
                      targetWorkerCount:
                        format: int32
                        description: Scaling worker count.
                        type: integer
                      targetWorkerSizeId:
                        format: int32
                        description: Scaling worker size ID.
                        type: integer
                      provisioningState:
                        description: Provisioning state of the App Service Plan.
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - InProgress
                        - Deleting
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: false
                      kubeEnvironmentProfile:
                        description: Specification for the Kubernetes Environment
                          to use for the App Service plan.
                        type: object
                        properties:
                          id:
                            description: Resource ID of the Kubernetes Environment.
                            type: string
                          name:
                            description: Name of the Kubernetes Environment.
                            type: string
                            readOnly: true
                          type:
                            description: Resource type of the Kubernetes Environment.
                            type: string
                            readOnly: true
                      zoneRedundant:
                        description: 'If <code>true</code>, this App Service Plan
                          will perform availability zone balancing.

                          If <code>false</code>, this App Service Plan will not perform
                          availability zone balancing.'
                        default: false
                        type: boolean
                    x-ms-client-flatten: true
                  sku:
                    description: Description of a SKU for a scalable resource.
                    type: object
                    properties:
                      name:
                        description: Name of the resource SKU.
                        type: string
                      tier:
                        description: Service tier of the resource SKU.
                        type: string
                      size:
                        description: Size specifier of the resource SKU.
                        type: string
                      family:
                        description: Family code of the resource SKU.
                        type: string
                      capacity:
                        format: int32
                        description: Current number of instances assigned to the resource.
                        type: integer
                      skuCapacity:
                        description: Min, max, and default scale values of the SKU.
                        type: object
                        properties:
                          minimum:
                            format: int32
                            description: Minimum number of workers for this App Service
                              plan SKU.
                            type: integer
                          maximum:
                            format: int32
                            description: Maximum number of workers for this App Service
                              plan SKU.
                            type: integer
                          elasticMaximum:
                            format: int32
                            description: Maximum number of Elastic workers for this
                              App Service plan SKU.
                            type: integer
                          default:
                            format: int32
                            description: Default number of workers for this App Service
                              plan SKU.
                            type: integer
                          scaleType:
                            description: Available scale configurations for an App
                              Service plan.
                            type: string
                      locations:
                        description: Locations of the SKU.
                        type: array
                        items:
                          type: string
                      capabilities:
                        description: Capabilities of the SKU, e.g., is traffic manager
                          enabled?
                        type: array
                        items:
                          description: Describes the capabilities/features allowed
                            for a specific SKU.
                          type: object
                          properties:
                            name:
                              description: Name of the SKU capability.
                              type: string
                            value:
                              description: Value of the SKU capability.
                              type: string
                            reason:
                              description: Reason of the SKU capability.
                              type: string
                        x-ms-identifiers:
                        - name
                  extendedLocation:
                    description: Extended Location.
                    type: object
                    properties:
                      name:
                        description: Name of extended location.
                        type: string
                      type:
                        description: Type of extended location.
                        type: string
                        readOnly: true
                required:
                - location
                description: Azure resource. This resource is tracked in Azure Resource
                  Manager
                x-ms-azure-resource: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-long-running-operation: true
    delete:
      tags:
      - AppServicePlans
      summary: Delete an App Service plan.
      description: Description for Delete an App Service plan.
      operationId: AppServicePlans_Delete
      parameters:
      - name: resourceGroupName
        in: path
        description: Name of the resource group to which the resource belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+[^\.]$
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK.
        '204':
          description: OK.
        default:
          description: App Service error response.
[...]
