openapi: 3.0.0
info:
  version: 2024-04-01
  title: Certificates API Client
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/certificates:
    get:
      tags:
      - Certificates
      summary: Get all certificates for a subscription.
      description: Description for Get all certificates for a subscription.
      operationId: Certificates_List
      parameters:
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: $filter
        in: query
        description: 'Return only information specified in the filter (using OData
          syntax). For example: $filter=KeyVaultId eq ''KeyVaultId'''
        schema:
          type: string
        allowReserved: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of certificates.
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource Id.
                          type: string
                          readOnly: true
                        name:
                          description: Resource Name.
                          type: string
                          readOnly: true
                        kind:
                          description: Kind of resource. If the resource is an app,
                            you can refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
                            for details supported values for kind.
                          type: string
                        location:
                          description: Resource Location.
                          type: string
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        tags:
                          description: Resource tags.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: Certificate resource specific properties
                          type: object
                          properties:
                            password:
                              description: Certificate password.
                              type: string
                              x-ms-mutability:
                              - create
                            friendlyName:
                              description: Friendly name of the certificate.
                              type: string
                              readOnly: true
                            subjectName:
                              description: Subject name of the certificate.
                              type: string
                              readOnly: true
                            hostNames:
                              description: Host names the certificate applies to.
                              type: array
                              items:
                                type: string
                            pfxBlob:
                              format: byte
                              description: Pfx blob.
                              type: string
                            siteName:
                              description: App name.
                              type: string
                              readOnly: true
                            selfLink:
                              description: Self link.
                              type: string
                              readOnly: true
                            issuer:
                              description: Certificate issuer.
                              type: string
                              readOnly: true
                            issueDate:
                              format: date-time
                              description: Certificate issue Date.
                              type: string
                              readOnly: true
                            expirationDate:
                              format: date-time
                              description: Certificate expiration date.
                              type: string
                              readOnly: true
                            thumbprint:
                              description: Certificate thumbprint.
                              type: string
                              readOnly: true
                            valid:
                              description: Is the certificate valid?.
                              type: boolean
                              readOnly: true
                            cerBlob:
                              format: byte
                              description: Raw bytes of .cer file
                              type: string
                              readOnly: true
                            publicKeyHash:
                              description: Public key hash.
                              type: string
                              readOnly: true
                            hostingEnvironmentProfile:
                              description: Specification for the App Service Environment
                                to use for the certificate.
                              readOnly: true
                              type: object
                              properties:
                                id:
                                  description: Resource ID of the App Service Environment.
                                  type: string
                                name:
                                  description: Name of the App Service Environment.
                                  type: string
                                  readOnly: true
                                type:
                                  description: Resource type of the App Service Environment.
                                  type: string
                                  readOnly: true
                            keyVaultId:
                              description: Key Vault Csm resource Id.
                              type: string
                            keyVaultSecretName:
                              description: Key Vault secret name.
                              type: string
                            keyVaultSecretStatus:
                              description: Status of the Key Vault secret.
                              enum:
                              - Initialized
                              - WaitingOnCertificateOrder
                              - Succeeded
                              - CertificateOrderFailed
                              - OperationNotPermittedOnKeyVault
                              - AzureServiceUnauthorizedToAccessKeyVault
                              - KeyVaultDoesNotExist
                              - KeyVaultSecretDoesNotExist
                              - UnknownError
                              - ExternalPrivateKey
                              - Unknown
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: KeyVaultSecretStatus
                                modelAsString: false
                            serverFarmId:
                              description: 'Resource ID of the associated App Service
                                plan, formatted as: "/subscriptions/{subscriptionID}/resourceGroups/{groupName}/providers/Microsoft.Web/serverfarms/{appServicePlanName}".'
                              type: string
                            canonicalName:
                              description: CNAME of the certificate to be issued via
                                free certificate
                              type: string
                            domainValidationMethod:
                              description: Method of domain validation for free cert
                              type: string
                          x-ms-client-flatten: true
                      required:
                      - location
                      description: Azure resource. This resource is tracked in Azure
                        Resource Manager
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/certificates:
    get:
      tags:
      - Certificates
      summary: Get all certificates in a resource group.
      description: Description for Get all certificates in a resource group.
      operationId: Certificates_ListByResourceGroup
      parameters:
      - name: resourceGroupName
        in: path
        description: Name of the resource group to which the resource belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+[^\.]$
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                description: Collection of certificates.
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource Id.
                          type: string
                          readOnly: true
                        name:
                          description: Resource Name.
                          type: string
                          readOnly: true
                        kind:
                          description: Kind of resource. If the resource is an app,
                            you can refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
                            for details supported values for kind.
                          type: string
                        location:
                          description: Resource Location.
                          type: string
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        tags:
                          description: Resource tags.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: Certificate resource specific properties
                          type: object
                          properties:
                            password:
                              description: Certificate password.
                              type: string
                              x-ms-mutability:
                              - create
                            friendlyName:
                              description: Friendly name of the certificate.
                              type: string
                              readOnly: true
                            subjectName:
                              description: Subject name of the certificate.
                              type: string
                              readOnly: true
                            hostNames:
                              description: Host names the certificate applies to.
                              type: array
                              items:
                                type: string
                            pfxBlob:
                              format: byte
                              description: Pfx blob.
                              type: string
                            siteName:
                              description: App name.
                              type: string
                              readOnly: true
                            selfLink:
                              description: Self link.
                              type: string
                              readOnly: true
                            issuer:
                              description: Certificate issuer.
                              type: string
                              readOnly: true
                            issueDate:
                              format: date-time
                              description: Certificate issue Date.
                              type: string
                              readOnly: true
                            expirationDate:
                              format: date-time
                              description: Certificate expiration date.
                              type: string
                              readOnly: true
                            thumbprint:
                              description: Certificate thumbprint.
                              type: string
                              readOnly: true
                            valid:
                              description: Is the certificate valid?.
                              type: boolean
                              readOnly: true
                            cerBlob:
                              format: byte
                              description: Raw bytes of .cer file
                              type: string
                              readOnly: true
                            publicKeyHash:
                              description: Public key hash.
                              type: string
                              readOnly: true
                            hostingEnvironmentProfile:
                              description: Specification for the App Service Environment
                                to use for the certificate.
                              readOnly: true
                              type: object
                              properties:
                                id:
                                  description: Resource ID of the App Service Environment.
                                  type: string
                                name:
                                  description: Name of the App Service Environment.
                                  type: string
                                  readOnly: true
                                type:
                                  description: Resource type of the App Service Environment.
                                  type: string
                                  readOnly: true
                            keyVaultId:
                              description: Key Vault Csm resource Id.
                              type: string
                            keyVaultSecretName:
                              description: Key Vault secret name.
                              type: string
                            keyVaultSecretStatus:
                              description: Status of the Key Vault secret.
                              enum:
                              - Initialized
                              - WaitingOnCertificateOrder
                              - Succeeded
                              - CertificateOrderFailed
                              - OperationNotPermittedOnKeyVault
                              - AzureServiceUnauthorizedToAccessKeyVault
                              - KeyVaultDoesNotExist
                              - KeyVaultSecretDoesNotExist
                              - UnknownError
                              - ExternalPrivateKey
                              - Unknown
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: KeyVaultSecretStatus
                                modelAsString: false
                            serverFarmId:
                              description: 'Resource ID of the associated App Service
                                plan, formatted as: "/subscriptions/{subscriptionID}/resourceGroups/{groupName}/providers/Microsoft.Web/serverfarms/{appServicePlanName}".'
                              type: string
                            canonicalName:
                              description: CNAME of the certificate to be issued via
                                free certificate
                              type: string
                            domainValidationMethod:
                              description: Method of domain validation for free cert
                              type: string
                          x-ms-client-flatten: true
                      required:
                      - location
                      description: Azure resource. This resource is tracked in Azure
                        Resource Manager
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/certificates/{name}:
    get:
      tags:
      - Certificates
      summary: Get a certificate.
      description: Description for Get a certificate.
      operationId: Certificates_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: Name of the resource group to which the resource belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+[^\.]$
      - name: name
        in: path
        description: Name of the certificate.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource Id.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  kind:
                    description: Kind of resource. If the resource is an app, you
                      can refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
                      for details supported values for kind.
                    type: string
                  location:
                    description: Resource Location.
                    type: string
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  tags:
                    description: Resource tags.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Certificate resource specific properties
                    type: object
                    properties:
                      password:
                        description: Certificate password.
                        type: string
                        x-ms-mutability:
                        - create
                      friendlyName:
                        description: Friendly name of the certificate.
                        type: string
                        readOnly: true
                      subjectName:
                        description: Subject name of the certificate.
                        type: string
                        readOnly: true
                      hostNames:
                        description: Host names the certificate applies to.
                        type: array
                        items:
                          type: string
                      pfxBlob:
                        format: byte
                        description: Pfx blob.
                        type: string
                      siteName:
                        description: App name.
                        type: string
                        readOnly: true
                      selfLink:
                        description: Self link.
                        type: string
                        readOnly: true
                      issuer:
                        description: Certificate issuer.
                        type: string
                        readOnly: true
                      issueDate:
                        format: date-time
                        description: Certificate issue Date.
                        type: string
                        readOnly: true
                      expirationDate:
                        format: date-time
                        description: Certificate expiration date.
                        type: string
                        readOnly: true
                      thumbprint:
                        description: Certificate thumbprint.
                        type: string
                        readOnly: true
                      valid:
                        description: Is the certificate valid?.
                        type: boolean
                        readOnly: true
                      cerBlob:
                        format: byte
                        description: Raw bytes of .cer file
                        type: string
                        readOnly: true
                      publicKeyHash:
                        description: Public key hash.
                        type: string
                        readOnly: true
                      hostingEnvironmentProfile:
                        description: Specification for the App Service Environment
                          to use for the certificate.
                        readOnly: true
                        type: object
                        properties:
                          id:
                            description: Resource ID of the App Service Environment.
                            type: string
                          name:
                            description: Name of the App Service Environment.
                            type: string
                            readOnly: true
                          type:
                            description: Resource type of the App Service Environment.
                            type: string
                            readOnly: true
                      keyVaultId:
                        description: Key Vault Csm resource Id.
                        type: string
                      keyVaultSecretName:
                        description: Key Vault secret name.
                        type: string
                      keyVaultSecretStatus:
                        description: Status of the Key Vault secret.
                        enum:
                        - Initialized
                        - WaitingOnCertificateOrder
                        - Succeeded
                        - CertificateOrderFailed
                        - OperationNotPermittedOnKeyVault
                        - AzureServiceUnauthorizedToAccessKeyVault
                        - KeyVaultDoesNotExist
                        - KeyVaultSecretDoesNotExist
                        - UnknownError
                        - ExternalPrivateKey
                        - Unknown
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: KeyVaultSecretStatus
                          modelAsString: false
                      serverFarmId:
                        description: 'Resource ID of the associated App Service plan,
                          formatted as: "/subscriptions/{subscriptionID}/resourceGroups/{groupName}/providers/Microsoft.Web/serverfarms/{appServicePlanName}".'
                        type: string
                      canonicalName:
                        description: CNAME of the certificate to be issued via free
                          certificate
                        type: string
                      domainValidationMethod:
                        description: Method of domain validation for free cert
                        type: string
                    x-ms-client-flatten: true
                required:
                - location
                description: Azure resource. This resource is tracked in Azure Resource
                  Manager
                x-ms-azure-resource: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
    put:
      tags:
      - Certificates
      summary: Create or update a certificate.
      description: Description for Create or update a certificate.
      operationId: Certificates_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: Name of the resource group to which the resource belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+[^\.]$
      - name: name
        in: path
        description: Name of the certificate.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource Id.
                  type: string
                  readOnly: true
                name:
                  description: Resource Name.
                  type: string
                  readOnly: true
                kind:
                  description: Kind of resource. If the resource is an app, you can
                    refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
                    for details supported values for kind.
                  type: string
                location:
                  description: Resource Location.
                  type: string
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                tags:
                  description: Resource tags.
                  type: object
                  additionalProperties:
                    type: string
                properties:
                  description: Certificate resource specific properties
                  type: object
                  properties:
                    password:
                      description: Certificate password.
                      type: string
                      x-ms-mutability:
                      - create
                    friendlyName:
                      description: Friendly name of the certificate.
                      type: string
                      readOnly: true
                    subjectName:
                      description: Subject name of the certificate.
                      type: string
                      readOnly: true
                    hostNames:
                      description: Host names the certificate applies to.
                      type: array
                      items:
                        type: string
                    pfxBlob:
                      format: byte
                      description: Pfx blob.
                      type: string
                    siteName:
                      description: App name.
                      type: string
                      readOnly: true
                    selfLink:
                      description: Self link.
                      type: string
                      readOnly: true
                    issuer:
                      description: Certificate issuer.
                      type: string
                      readOnly: true
                    issueDate:
                      format: date-time
                      description: Certificate issue Date.
                      type: string
                      readOnly: true
                    expirationDate:
                      format: date-time
                      description: Certificate expiration date.
                      type: string
                      readOnly: true
                    thumbprint:
                      description: Certificate thumbprint.
                      type: string
                      readOnly: true
                    valid:
                      description: Is the certificate valid?.
                      type: boolean
                      readOnly: true
                    cerBlob:
                      format: byte
                      description: Raw bytes of .cer file
                      type: string
                      readOnly: true
                    publicKeyHash:
                      description: Public key hash.
                      type: string
                      readOnly: true
                    hostingEnvironmentProfile:
                      description: Specification for the App Service Environment to
                        use for the certificate.
                      readOnly: true
                      type: object
                      properties:
                        id:
                          description: Resource ID of the App Service Environment.
                          type: string
                        name:
                          description: Name of the App Service Environment.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type of the App Service Environment.
                          type: string
                          readOnly: true
                    keyVaultId:
                      description: Key Vault Csm resource Id.
                      type: string
                    keyVaultSecretName:
                      description: Key Vault secret name.
                      type: string
                    keyVaultSecretStatus:
                      description: Status of the Key Vault secret.
                      enum:
                      - Initialized
                      - WaitingOnCertificateOrder
                      - Succeeded
                      - CertificateOrderFailed
                      - OperationNotPermittedOnKeyVault
                      - AzureServiceUnauthorizedToAccessKeyVault
                      - KeyVaultDoesNotExist
                      - KeyVaultSecretDoesNotExist
                      - UnknownError
                      - ExternalPrivateKey
                      - Unknown
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: KeyVaultSecretStatus
                        modelAsString: false
                    serverFarmId:
                      description: 'Resource ID of the associated App Service plan,
                        formatted as: "/subscriptions/{subscriptionID}/resourceGroups/{groupName}/providers/Microsoft.Web/serverfarms/{appServicePlanName}".'
                      type: string
                    canonicalName:
                      description: CNAME of the certificate to be issued via free
                        certificate
                      type: string
                    domainValidationMethod:
                      description: Method of domain validation for free cert
                      type: string
                  x-ms-client-flatten: true
              required:
              - location
              description: Azure resource. This resource is tracked in Azure Resource
                Manager
              x-ms-azure-resource: true
        description: Details of certificate, if it exists already.
        required: true
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource Id.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  kind:
                    description: Kind of resource. If the resource is an app, you
                      can refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
                      for details supported values for kind.
                    type: string
                  location:
                    description: Resource Location.
                    type: string
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  tags:
                    description: Resource tags.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Certificate resource specific properties
                    type: object
                    properties:
                      password:
                        description: Certificate password.
                        type: string
                        x-ms-mutability:
                        - create
                      friendlyName:
                        description: Friendly name of the certificate.
                        type: string
                        readOnly: true
                      subjectName:
                        description: Subject name of the certificate.
                        type: string
                        readOnly: true
                      hostNames:
                        description: Host names the certificate applies to.
                        type: array
                        items:
                          type: string
                      pfxBlob:
                        format: byte
                        description: Pfx blob.
                        type: string
                      siteName:
                        description: App name.
                        type: string
                        readOnly: true
                      selfLink:
                        description: Self link.
                        type: string
                        readOnly: true
                      issuer:
                        description: Certificate issuer.
                        type: string
                        readOnly: true
                      issueDate:
                        format: date-time
                        description: Certificate issue Date.
                        type: string
                        readOnly: true
                      expirationDate:
                        format: date-time
                        description: Certificate expiration date.
                        type: string
                        readOnly: true
                      thumbprint:
                        description: Certificate thumbprint.
                        type: string
                        readOnly: true
                      valid:
                        description: Is the certificate valid?.
                        type: boolean
                        readOnly: true
                      cerBlob:
                        format: byte
                        description: Raw bytes of .cer file
                        type: string
                        readOnly: true
                      publicKeyHash:
                        description: Public key hash.
                        type: string
                        readOnly: true
                      hostingEnvironmentProfile:
                        description: Specification for the App Service Environment
                          to use for the certificate.
                        readOnly: true
                        type: object
                        properties:
                          id:
                            description: Resource ID of the App Service Environment.
                            type: string
                          name:
                            description: Name of the App Service Environment.
                            type: string
                            readOnly: true
                          type:
                            description: Resource type of the App Service Environment.
                            type: string
                            readOnly: true
                      keyVaultId:
                        description: Key Vault Csm resource Id.
                        type: string
                      keyVaultSecretName:
                        description: Key Vault secret name.
                        type: string
                      keyVaultSecretStatus:
                        description: Status of the Key Vault secret.
                        enum:
                        - Initialized
                        - WaitingOnCertificateOrder
                        - Succeeded
                        - CertificateOrderFailed
                        - OperationNotPermittedOnKeyVault
                        - AzureServiceUnauthorizedToAccessKeyVault
                        - KeyVaultDoesNotExist
                        - KeyVaultSecretDoesNotExist
                        - UnknownError
                        - ExternalPrivateKey
                        - Unknown
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: KeyVaultSecretStatus
                          modelAsString: false
                      serverFarmId:
                        description: 'Resource ID of the associated App Service plan,
                          formatted as: "/subscriptions/{subscriptionID}/resourceGroups/{groupName}/providers/Microsoft.Web/serverfarms/{appServicePlanName}".'
                        type: string
                      canonicalName:
                        description: CNAME of the certificate to be issued via free
                          certificate
                        type: string
                      domainValidationMethod:
                        description: Method of domain validation for free cert
                        type: string
                    x-ms-client-flatten: true
                required:
                - location
                description: Azure resource. This resource is tracked in Azure Resource
                  Manager
                x-ms-azure-resource: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
    delete:
      tags:
      - Certificates
      summary: Delete a certificate.
      description: Description for Delete a certificate.
      operationId: Certificates_Delete
      parameters:
      - name: resourceGroupName
        in: path
        description: Name of the resource group to which the resource belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+[^\.]$
      - name: name
        in: path
        description: Name of the certificate.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully deleted certificate.
        '204':
          description: Certificate does not exist.
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
    patch:
      tags:
      - Certificates
      summary: Create or update a certificate.
      description: Description for Create or update a certificate.
      operationId: Certificates_Update
      parameters:
      - name: resourceGroupName
        in: path
        description: Name of the resource group to which the resource belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+[^\.]$
      - name: name
        in: path
        description: Name of the certificate.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource Id.
                  type: string
                  readOnly: true
                name:
                  description: Resource Name.
                  type: string
                  readOnly: true
                kind:
                  description: Kind of resource.
                  type: string
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                properties:
                  description: CertificatePatchResource resource specific properties
                  type: object
                  properties:
                    password:
                      description: Certificate password.
                      type: string
                      x-ms-mutability:
                      - create
                    friendlyName:
                      description: Friendly name of the certificate.
                      type: string
                      readOnly: true
                    subjectName:
                      description: Subject name of the certificate.
                      type: string
                      readOnly: true
                    hostNames:
                      description: Host names the certificate applies to.
                      type: array
                      items:
                        type: string
                    pfxBlob:
                      format: byte
                      description: Pfx blob.
                      type: string
                    siteName:
                      description: App name.
                      type: string
                      readOnly: true
                    selfLink:
                      description: Self link.
                      type: string
                      readOnly: true
                    issuer:
                      description: Certificate issuer.
                      type: string
                      readOnly: true
                    issueDate:
                      format: date-time
                      description: Certificate issue Date.
                      type: string
                      readOnly: true
                    expirationDate:
                      format: date-time
                      description: Certificate expiration date.
                      type: string
                      readOnly: true
                    thumbprint:
                      description: Certificate thumbprint.
                      type: string
                      readOnly: true
                    valid:
                      description: Is the certificate valid?.
                      type: boolean
                      readOnly: true
                    cerBlob:
                      format: byte
                      description: Raw bytes of .cer file
                      type: string
                      readOnly: true
                    publicKeyHash:
                      description: Public key hash.
                      type: string
                      readOnly: true
                    hostingEnvironmentProfile:
                      description: Specification for the App Service Environment to
                        use for the certificate.
                      readOnly: true
                      type: object
                      properties:
                        id:
                          description: Resource ID of the App Service Environment.
                          type: string
                        name:
                          description: Name of the App Service Environment.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type of the App Service Environment.
                          type: string
                          readOnly: true
                    keyVaultId:
                      description: Key Vault Csm resource Id.
                      type: string
                    keyVaultSecretName:
                      description: Key Vault secret name.
                      type: string
                    keyVaultSecretStatus:
                      description: Status of the Key Vault secret.
                      enum:
                      - Initialized
                      - WaitingOnCertificateOrder
                      - Succeeded
                      - CertificateOrderFailed
                      - OperationNotPermittedOnKeyVault
                      - AzureServiceUnauthorizedToAccessKeyVault
                      - KeyVaultDoesNotExist
                      - KeyVaultSecretDoesNotExist
                      - UnknownError
                      - ExternalPrivateKey
                      - Unknown
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: KeyVaultSecretStatus
                        modelAsString: false
                    serverFarmId:
                      description: 'Resource ID of the associated App Service plan,
                        formatted as: "/subscriptions/{subscriptionID}/resourceGroups/{groupName}/providers/Microsoft.Web/serverfarms/{appServicePlanName}".'
                      type: string
                    canonicalName:
                      description: CNAME of the certificate to be issued via free
                        certificate
                      type: string
                    domainValidationMethod:
                      description: Method of domain validation for free cert
                      type: string
                  x-ms-client-flatten: true
              description: Azure proxy only resource. This resource is not tracked
                by Azure Resource Manager.
              x-ms-azure-resource: true
        description: Details of certificate, if it exists already.
        required: true
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource Id.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  kind:
                    description: Kind of resource. If the resource is an app, you
                      can refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
                      for details supported values for kind.
                    type: string
                  location:
                    description: Resource Location.
                    type: string
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  tags:
                    description: Resource tags.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Certificate resource specific properties
                    type: object
                    properties:
                      password:
                        description: Certificate password.
                        type: string
                        x-ms-mutability:
                        - create
                      friendlyName:
                        description: Friendly name of the certificate.
                        type: string
                        readOnly: true
                      subjectName:
                        description: Subject name of the certificate.
                        type: string
                        readOnly: true
                      hostNames:
                        description: Host names the certificate applies to.
                        type: array
                        items:
                          type: string
                      pfxBlob:
                        format: byte
                        description: Pfx blob.
                        type: string
                      siteName:
                        description: App name.
                        type: string
                        readOnly: true
                      selfLink:
                        description: Self link.
                        type: string
                        readOnly: true
                      issuer:
                        description: Certificate issuer.
                        type: string
                        readOnly: true
                      issueDate:
                        format: date-time
                        description: Certificate issue Date.
                        type: string
                        readOnly: true
                      expirationDate:
                        format: date-time
                        description: Certificate expiration date.
                        type: string
                        readOnly: true
                      thumbprint:
                        description: Certificate thumbprint.
                        type: string
                        readOnly: true
                      valid:
                        description: Is the certificate valid?.
                        type: boolean
                        readOnly: true
                      cerBlob:
                        format: byte
                        description: Raw bytes of .cer file
                        type: string
                        readOnly: true
                      publicKeyHash:
                        description: Public key hash.
                        type: string
                        readOnly: true
                      hostingEnvironmentProfile:
                        description: Specification for the App Service Environment
                          to use for the certificate.
                        readOnly: true
                        type: object
                        properties:
                          id:
                            description: Resource ID of the App Service Environment.
                            type: string
                          name:
                            description: Name of the App Service Environment.
                            type: string
                            readOnly: true
                          type:
                            description: Resource type of the App Service Environment.
                            type: string
                            readOnly: true
                      keyVaultId:
                        description: Key Vault Csm resource Id.
                        type: string
                      keyVaultSecretName:
                        description: Key Vault secret name.
                        type: string
                      keyVaultSecretStatus:
                        description: Status of the Key Vault secret.
                        enum:
                        - Initialized
                        - WaitingOnCertificateOrder
                        - Succeeded
                        - CertificateOrderFailed
                        - OperationNotPermittedOnKeyVault
                        - AzureServiceUnauthorizedToAccessKeyVault
                        - KeyVaultDoesNotExist
                        - KeyVaultSecretDoesNotExist
                        - UnknownError
                        - ExternalPrivateKey
                        - Unknown
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: KeyVaultSecretStatus
                          modelAsString: false
                      serverFarmId:
                        description: 'Resource ID of the associated App Service plan,
                          formatted as: "/subscriptions/{subscriptionID}/resourceGroups/{groupName}/providers/Microsoft.Web/serverfarms/{appServicePlanName}".'
                        type: string
                      canonicalName:
                        description: CNAME of the certificate to be issued via free
                          certificate
                        type: string
                      domainValidationMethod:
                        description: Method of domain validation for free cert
                        type: string
                    x-ms-client-flatten: true
                required:
                - location
                description: Azure resource. This resource is tracked in Azure Resource
                  Manager
                x-ms-azure-resource: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
components:
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: Name of the resource group to which the resource belongs.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._\(\)]+[^\.]$
    apiVersionParameter:
      name: api-version
      in: query
      description: API Version
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Certificate:
      type: object
      properties:
        id:
          description: Resource Id.
          type: string
          readOnly: true
        name:
          description: Resource Name.
          type: string
          readOnly: true
        kind:
          description: Kind of resource. If the resource is an app, you can refer
            to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
            for details supported values for kind.
          type: string
        location:
          description: Resource Location.
          type: string
        type:
          description: Resource type.
          type: string
          readOnly: true
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
        properties:
          description: Certificate resource specific properties
          type: object
          properties:
            password:
              description: Certificate password.
              type: string
              x-ms-mutability:
              - create
            friendlyName:
              description: Friendly name of the certificate.
              type: string
              readOnly: true
            subjectName:
              description: Subject name of the certificate.
              type: string
              readOnly: true
            hostNames:
              description: Host names the certificate applies to.
              type: array
              items:
                type: string
            pfxBlob:
              format: byte
              description: Pfx blob.
              type: string
            siteName:
              description: App name.
              type: string
              readOnly: true
            selfLink:
              description: Self link.
              type: string
              readOnly: true
            issuer:
              description: Certificate issuer.
              type: string
              readOnly: true
            issueDate:
              format: date-time
              description: Certificate issue Date.
              type: string
              readOnly: true
            expirationDate:
              format: date-time
              description: Certificate expiration date.
              type: string
              readOnly: true
            thumbprint:
              description: Certificate thumbprint.
              type: string
              readOnly: true
            valid:
              description: Is the certificate valid?.
              type: boolean
              readOnly: true
            cerBlob:
              format: byte
              description: Raw bytes of .cer file
              type: string
              readOnly: true
            publicKeyHash:
              description: Public key hash.
              type: string
              readOnly: true
            hostingEnvironmentProfile:
              description: Specification for the App Service Environment to use for
                the certificate.
              readOnly: true
              type: object
              properties:
                id:
                  description: Resource ID of the App Service Environment.
                  type: string
                name:
                  description: Name of the App Service Environment.
                  type: string
                  readOnly: true
                type:
                  description: Resource type of the App Service Environment.
                  type: string
                  readOnly: true
            keyVaultId:
              description: Key Vault Csm resource Id.
              type: string
            keyVaultSecretName:
              description: Key Vault secret name.
              type: string
            keyVaultSecretStatus:
              description: Status of the Key Vault secret.
              enum:
              - Initialized
              - WaitingOnCertificateOrder
              - Succeeded
              - CertificateOrderFailed
              - OperationNotPermittedOnKeyVault
              - AzureServiceUnauthorizedToAccessKeyVault
              - KeyVaultDoesNotExist
              - KeyVaultSecretDoesNotExist
              - UnknownError
              - ExternalPrivateKey
              - Unknown
              type: string
              readOnly: true
              x-ms-enum:
                name: KeyVaultSecretStatus
                modelAsString: false
            serverFarmId:
              description: 'Resource ID of the associated App Service plan, formatted
                as: "/subscriptions/{subscriptionID}/resourceGroups/{groupName}/providers/Microsoft.Web/serverfarms/{appServicePlanName}".'
              type: string
            canonicalName:
              description: CNAME of the certificate to be issued via free certificate
              type: string
            domainValidationMethod:
              description: Method of domain validation for free cert
              type: string
          x-ms-client-flatten: true
      required:
      - location
      description: Azure resource. This resource is tracked in Azure Resource Manager
      x-ms-azure-resource: true
    CertificateCollection:
      description: Collection of certificates.
      required:
      - value
      type: object
      properties:
        value:
          description: Collection of resources.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource Id.
                type: string
                readOnly: true
              name:
                description: Resource Name.
                type: string
                readOnly: true
              kind:
                description: Kind of resource. If the resource is an app, you can
                  refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
                  for details supported values for kind.
                type: string
              location:
                description: Resource Location.
                type: string
              type:
                description: Resource type.
                type: string
                readOnly: true
              tags:
                description: Resource tags.
                type: object
                additionalProperties:
                  type: string
              properties:
                description: Certificate resource specific properties
                type: object
                properties:
                  password:
                    description: Certificate password.
                    type: string
                    x-ms-mutability:
                    - create
                  friendlyName:
                    description: Friendly name of the certificate.
                    type: string
                    readOnly: true
                  subjectName:
                    description: Subject name of the certificate.
                    type: string
                    readOnly: true
                  hostNames:
                    description: Host names the certificate applies to.
                    type: array
                    items:
                      type: string
                  pfxBlob:
                    format: byte
                    description: Pfx blob.
                    type: string
                  siteName:
                    description: App name.
                    type: string
                    readOnly: true
                  selfLink:
                    description: Self link.
                    type: string
                    readOnly: true
                  issuer:
                    description: Certificate issuer.
                    type: string
                    readOnly: true
                  issueDate:
                    format: date-time
                    description: Certificate issue Date.
                    type: string
                    readOnly: true
                  expirationDate:
                    format: date-time
                    description: Certificate expiration date.
                    type: string
                    readOnly: true
                  thumbprint:
                    description: Certificate thumbprint.
                    type: string
                    readOnly: true
                  valid:
                    description: Is the certificate valid?.
                    type: boolean
                    readOnly: true
                  cerBlob:
                    format: byte
                    description: Raw bytes of .cer file
                    type: string
                    readOnly: true
                  publicKeyHash:
                    description: Public key hash.
                    type: string
                    readOnly: true
                  hostingEnvironmentProfile:
                    description: Specification for the App Service Environment to
                      use for the certificate.
                    readOnly: true
                    type: object
                    properties:
                      id:
                        description: Resource ID of the App Service Environment.
                        type: string
                      name:
                        description: Name of the App Service Environment.
                        type: string
                        readOnly: true
                      type:
                        description: Resource type of the App Service Environment.
                        type: string
                        readOnly: true
                  keyVaultId:
                    description: Key Vault Csm resource Id.
                    type: string
                  keyVaultSecretName:
                    description: Key Vault secret name.
                    type: string
                  keyVaultSecretStatus:
                    description: Status of the Key Vault secret.
                    enum:
                    - Initialized
                    - WaitingOnCertificateOrder
                    - Succeeded
                    - CertificateOrderFailed
                    - OperationNotPermittedOnKeyVault
                    - AzureServiceUnauthorizedToAccessKeyVault
                    - KeyVaultDoesNotExist
                    - KeyVaultSecretDoesNotExist
                    - UnknownError
                    - ExternalPrivateKey
                    - Unknown
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: KeyVaultSecretStatus
                      modelAsString: false
                  serverFarmId:
                    description: 'Resource ID of the associated App Service plan,
                      formatted as: "/subscriptions/{subscriptionID}/resourceGroups/{groupName}/providers/Microsoft.Web/serverfarms/{appServicePlanName}".'
                    type: string
                  canonicalName:
                    description: CNAME of the certificate to be issued via free certificate
                    type: string
                  domainValidationMethod:
                    description: Method of domain validation for free cert
                    type: string
                x-ms-client-flatten: true
            required:
            - location
            description: Azure resource. This resource is tracked in Azure Resource
              Manager
            x-ms-azure-resource: true
        nextLink:
          description: Link to next page of resources.
          type: string
          readOnly: true
    CertificatePatchResource:
      type: object
      properties:
        id:
          description: Resource Id.
          type: string
          readOnly: true
        name:
          description: Resource Name.
          type: string
          readOnly: true
        kind:
          description: Kind of resource.
          type: string
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: CertificatePatchResource resource specific properties
          type: object
          properties:
            password:
              description: Certificate password.
              type: string
              x-ms-mutability:
              - create
            friendlyName:
              description: Friendly name of the certificate.
              type: string
              readOnly: true
            subjectName:
              description: Subject name of the certificate.
              type: string
              readOnly: true
            hostNames:
              description: Host names the certificate applies to.
              type: array
              items:
                type: string
            pfxBlob:
              format: byte
              description: Pfx blob.
              type: string
            siteName:
              description: App name.
              type: string
              readOnly: true
            selfLink:
              description: Self link.
              type: string
              readOnly: true
            issuer:
              description: Certificate issuer.
              type: string
              readOnly: true
            issueDate:
              format: date-time
              description: Certificate issue Date.
              type: string
              readOnly: true
            expirationDate:
              format: date-time
              description: Certificate expiration date.
              type: string
              readOnly: true
            thumbprint:
              description: Certificate thumbprint.
              type: string
              readOnly: true
            valid:
              description: Is the certificate valid?.
              type: boolean
              readOnly: true
            cerBlob:
              format: byte
              description: Raw bytes of .cer file
              type: string
              readOnly: true
            publicKeyHash:
              description: Public key hash.
              type: string
              readOnly: true
            hostingEnvironmentProfile:
              description: Specification for the App Service Environment to use for
                the certificate.
              readOnly: true
              type: object
              properties:
                id:
                  description: Resource ID of the App Service Environment.
                  type: string
                name:
                  description: Name of the App Service Environment.
                  type: string
                  readOnly: true
                type:
                  description: Resource type of the App Service Environment.
                  type: string
                  readOnly: true
            keyVaultId:
              description: Key Vault Csm resource Id.
              type: string
            keyVaultSecretName:
              description: Key Vault secret name.
              type: string
            keyVaultSecretStatus:
              description: Status of the Key Vault secret.
              enum:
              - Initialized
              - WaitingOnCertificateOrder
              - Succeeded
              - CertificateOrderFailed
              - OperationNotPermittedOnKeyVault
              - AzureServiceUnauthorizedToAccessKeyVault
              - KeyVaultDoesNotExist
              - KeyVaultSecretDoesNotExist
              - UnknownError
              - ExternalPrivateKey
              - Unknown
              type: string
              readOnly: true
              x-ms-enum:
                name: KeyVaultSecretStatus
                modelAsString: false
            serverFarmId:
              description: 'Resource ID of the associated App Service plan, formatted
                as: "/subscriptions/{subscriptionID}/resourceGroups/{groupName}/providers/Microsoft.Web/serverfarms/{appServicePlanName}".'
              type: string
            canonicalName:
              description: CNAME of the certificate to be issued via free certificate
              type: string
            domainValidationMethod:
              description: Method of domain validation for free cert
              type: string
          x-ms-client-flatten: true
      description: Azure proxy only resource. This resource is not tracked by Azure
        Resource Manager.
      x-ms-azure-resource: true
    DefaultErrorResponse:
      description: App Service error response.
      type: object
      properties:
        error:
          description: Error model.
          type: object
          properties:
            code:
              description: Standardized string to programmatically identify the error.
              type: string
              readOnly: true
            message:
              description: Detailed error description and debugging information.
              type: string
              readOnly: true
            target:
              description: Detailed error description and debugging information.
              type: string
              readOnly: true
            details:
              type: array
              items:
                description: Detailed errors.
                type: object
                properties:
                  code:
                    description: Standardized string to programmatically identify
                      the error.
                    type: string
                    readOnly: true
                  message:
                    description: Detailed error description and debugging information.
                    type: string
                    readOnly: true
                  target:
                    description: Detailed error description and debugging information.
                    type: string
                    readOnly: true
                readOnly: true
              x-ms-identifiers: []
            innererror:
              description: More information to debug error.
              type: string
              readOnly: true
          readOnly: true
    Resource:
      description: Azure resource. This resource is tracked in Azure Resource Manager
      required:
      - location
      type: object
      properties:
        id:
          description: Resource Id.
          type: string
          readOnly: true
        name:
          description: Resource Name.
          type: string
          readOnly: true
        kind:
          description: Kind of resource. If the resource is an app, you can refer
            to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
            for details supported values for kind.
          type: string
        location:
          description: Resource Location.
          type: string
        type:
          description: Resource type.
          type: string
          readOnly: true
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    HostingEnvironmentProfile:
      description: Specification for an App Service Environment to use for this resource.
      type: object
      properties:
        id:
          description: Resource ID of the App Service Environment.
          type: string
        name:
          description: Name of the App Service Environment.
          type: string
          readOnly: true
        type:
          description: Resource type of the App Service Environment.
          type: string
          readOnly: true
    ProxyOnlyResource:
      description: Azure proxy only resource. This resource is not tracked by Azure
        Resource Manager.
      type: object
      properties:
        id:
          description: Resource Id.
          type: string
          readOnly: true
        name:
          description: Resource Name.
          type: string
          readOnly: true
        kind:
          description: Kind of resource.
          type: string
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
