openapi: 3.0.0
info:
  version: 2024-04-01
  title: DeletedWebApps API Client
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/deletedSites:
    get:
      tags:
      - DeletedWebApps
      summary: Get all deleted apps for a subscription.
      description: Description for Get all deleted apps for a subscription.
      operationId: DeletedWebApps_List
      parameters:
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of deleted apps.
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource Id.
                          type: string
                          readOnly: true
                        name:
                          description: Resource Name.
                          type: string
                          readOnly: true
                        kind:
                          description: Kind of resource.
                          type: string
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: DeletedSite resource specific properties
                          type: object
                          properties:
                            deletedSiteId:
                              format: int32
                              description: Numeric id for the deleted site
                              type: integer
                              readOnly: true
                            deletedTimestamp:
                              description: Time in UTC when the app was deleted.
                              type: string
                              readOnly: true
                            subscription:
                              description: Subscription containing the deleted site
                              type: string
                              readOnly: true
                            resourceGroup:
                              description: ResourceGroup that contained the deleted
                                site
                              type: string
                              readOnly: true
                            deletedSiteName:
                              description: Name of the deleted site
                              type: string
                              readOnly: true
                            slot:
                              description: Slot of the deleted site
                              type: string
                              readOnly: true
                            kind:
                              description: Kind of site that was deleted
                              type: string
                              readOnly: true
                            geoRegionName:
                              description: Geo Region of the deleted site
                              type: string
                              readOnly: true
                          x-ms-client-flatten: true
                      description: Azure proxy only resource. This resource is not
                        tracked by Azure Resource Manager.
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/deletedSites:
    get:
      tags:
      - DeletedWebApps
      summary: Get all deleted apps for a subscription at location
      description: Description for Get all deleted apps for a subscription at location
      operationId: DeletedWebApps_ListByLocation
      parameters:
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of deleted apps.
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource Id.
                          type: string
                          readOnly: true
                        name:
                          description: Resource Name.
                          type: string
                          readOnly: true
                        kind:
                          description: Kind of resource.
                          type: string
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: DeletedSite resource specific properties
                          type: object
                          properties:
                            deletedSiteId:
                              format: int32
                              description: Numeric id for the deleted site
                              type: integer
                              readOnly: true
                            deletedTimestamp:
                              description: Time in UTC when the app was deleted.
                              type: string
                              readOnly: true
                            subscription:
                              description: Subscription containing the deleted site
                              type: string
                              readOnly: true
                            resourceGroup:
                              description: ResourceGroup that contained the deleted
                                site
                              type: string
                              readOnly: true
                            deletedSiteName:
                              description: Name of the deleted site
                              type: string
                              readOnly: true
                            slot:
                              description: Slot of the deleted site
                              type: string
                              readOnly: true
                            kind:
                              description: Kind of site that was deleted
                              type: string
                              readOnly: true
                            geoRegionName:
                              description: Geo Region of the deleted site
                              type: string
                              readOnly: true
                          x-ms-client-flatten: true
                      description: Azure proxy only resource. This resource is not
                        tracked by Azure Resource Manager.
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/deletedSites/{deletedSiteId}:
    get:
      tags:
      - DeletedWebApps
      summary: Get deleted app for a subscription at location.
      description: Description for Get deleted app for a subscription at location.
      operationId: DeletedWebApps_GetDeletedWebAppByLocation
      parameters:
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: deletedSiteId
        in: path
        description: The numeric ID of the deleted app, e.g. 12345
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource Id.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  kind:
                    description: Kind of resource.
                    type: string
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: DeletedSite resource specific properties
                    type: object
                    properties:
                      deletedSiteId:
                        format: int32
                        description: Numeric id for the deleted site
                        type: integer
                        readOnly: true
                      deletedTimestamp:
                        description: Time in UTC when the app was deleted.
                        type: string
                        readOnly: true
                      subscription:
                        description: Subscription containing the deleted site
                        type: string
                        readOnly: true
                      resourceGroup:
                        description: ResourceGroup that contained the deleted site
                        type: string
                        readOnly: true
                      deletedSiteName:
                        description: Name of the deleted site
                        type: string
                        readOnly: true
                      slot:
                        description: Slot of the deleted site
                        type: string
                        readOnly: true
                      kind:
                        description: Kind of site that was deleted
                        type: string
                        readOnly: true
                      geoRegionName:
                        description: Geo Region of the deleted site
                        type: string
                        readOnly: true
                    x-ms-client-flatten: true
                description: Azure proxy only resource. This resource is not tracked
                  by Azure Resource Manager.
                x-ms-azure-resource: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
components:
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      description: API Version
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    DeletedWebAppCollection:
      description: Collection of deleted apps.
      required:
      - value
      type: object
      properties:
        value:
          description: Collection of resources.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource Id.
                type: string
                readOnly: true
              name:
                description: Resource Name.
                type: string
                readOnly: true
              kind:
                description: Kind of resource.
                type: string
              type:
                description: Resource type.
                type: string
                readOnly: true
              properties:
                description: DeletedSite resource specific properties
                type: object
                properties:
                  deletedSiteId:
                    format: int32
                    description: Numeric id for the deleted site
                    type: integer
                    readOnly: true
                  deletedTimestamp:
                    description: Time in UTC when the app was deleted.
                    type: string
                    readOnly: true
                  subscription:
                    description: Subscription containing the deleted site
                    type: string
                    readOnly: true
                  resourceGroup:
                    description: ResourceGroup that contained the deleted site
                    type: string
                    readOnly: true
                  deletedSiteName:
                    description: Name of the deleted site
                    type: string
                    readOnly: true
                  slot:
                    description: Slot of the deleted site
                    type: string
                    readOnly: true
                  kind:
                    description: Kind of site that was deleted
                    type: string
                    readOnly: true
                  geoRegionName:
                    description: Geo Region of the deleted site
                    type: string
                    readOnly: true
                x-ms-client-flatten: true
            description: Azure proxy only resource. This resource is not tracked by
              Azure Resource Manager.
            x-ms-azure-resource: true
        nextLink:
          description: Link to next page of resources.
          type: string
          readOnly: true
    DefaultErrorResponse:
      description: App Service error response.
      type: object
      properties:
        error:
          description: Error model.
          type: object
          properties:
            code:
              description: Standardized string to programmatically identify the error.
              type: string
              readOnly: true
            message:
              description: Detailed error description and debugging information.
              type: string
              readOnly: true
            target:
              description: Detailed error description and debugging information.
              type: string
              readOnly: true
            details:
              type: array
              items:
                description: Detailed errors.
                type: object
                properties:
                  code:
                    description: Standardized string to programmatically identify
                      the error.
                    type: string
                    readOnly: true
                  message:
                    description: Detailed error description and debugging information.
                    type: string
                    readOnly: true
                  target:
                    description: Detailed error description and debugging information.
                    type: string
                    readOnly: true
                readOnly: true
              x-ms-identifiers: []
            innererror:
              description: More information to debug error.
              type: string
              readOnly: true
          readOnly: true
    ProxyOnlyResource:
      description: Azure proxy only resource. This resource is not tracked by Azure
        Resource Manager.
      type: object
      properties:
        id:
          description: Resource Id.
          type: string
          readOnly: true
        name:
          description: Resource Name.
          type: string
          readOnly: true
        kind:
          description: Kind of resource.
          type: string
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    DeletedSite:
      type: object
      properties:
        id:
          description: Resource Id.
          type: string
          readOnly: true
        name:
          description: Resource Name.
          type: string
          readOnly: true
        kind:
          description: Kind of resource.
          type: string
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: DeletedSite resource specific properties
          type: object
          properties:
            deletedSiteId:
              format: int32
              description: Numeric id for the deleted site
              type: integer
              readOnly: true
            deletedTimestamp:
              description: Time in UTC when the app was deleted.
              type: string
              readOnly: true
            subscription:
              description: Subscription containing the deleted site
              type: string
              readOnly: true
            resourceGroup:
              description: ResourceGroup that contained the deleted site
              type: string
              readOnly: true
            deletedSiteName:
              description: Name of the deleted site
              type: string
              readOnly: true
            slot:
              description: Slot of the deleted site
              type: string
              readOnly: true
            kind:
              description: Kind of site that was deleted
              type: string
              readOnly: true
            geoRegionName:
              description: Geo Region of the deleted site
              type: string
              readOnly: true
          x-ms-client-flatten: true
      description: Azure proxy only resource. This resource is not tracked by Azure
        Resource Manager.
      x-ms-azure-resource: true
