openapi: 3.0.0
info:
  version: 2024-04-01
  title: Global API Client
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/deletedSites/{deletedSiteId}:
    get:
      tags:
      - Global
      summary: Get deleted app for a subscription.
      description: Description for Get deleted app for a subscription.
      operationId: Global_GetDeletedWebApp
      parameters:
      - name: deletedSiteId
        in: path
        description: The numeric ID of the deleted app, e.g. 12345
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource Id.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  kind:
                    description: Kind of resource.
                    type: string
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: DeletedSite resource specific properties
                    type: object
                    properties:
                      deletedSiteId:
                        format: int32
                        description: Numeric id for the deleted site
                        type: integer
                        readOnly: true
                      deletedTimestamp:
                        description: Time in UTC when the app was deleted.
                        type: string
                        readOnly: true
                      subscription:
                        description: Subscription containing the deleted site
                        type: string
                        readOnly: true
                      resourceGroup:
                        description: ResourceGroup that contained the deleted site
                        type: string
                        readOnly: true
                      deletedSiteName:
                        description: Name of the deleted site
                        type: string
                        readOnly: true
                      slot:
                        description: Slot of the deleted site
                        type: string
                        readOnly: true
                      kind:
                        description: Kind of site that was deleted
                        type: string
                        readOnly: true
                      geoRegionName:
                        description: Geo Region of the deleted site
                        type: string
                        readOnly: true
                    x-ms-client-flatten: true
                description: Azure proxy only resource. This resource is not tracked
                  by Azure Resource Manager.
                x-ms-azure-resource: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/deletedSites/{deletedSiteId}/snapshots:
    get:
      tags:
      - Global
      summary: Get all deleted apps for a subscription.
      description: Description for Get all deleted apps for a subscription.
      operationId: Global_GetDeletedWebAppSnapshots
      parameters:
      - name: deletedSiteId
        in: path
        description: The numeric ID of the deleted app, e.g. 12345
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      description: Resource Id.
                      type: string
                      readOnly: true
                    name:
                      description: Resource Name.
                      type: string
                      readOnly: true
                    kind:
                      description: Kind of resource.
                      type: string
                    type:
                      description: Resource type.
                      type: string
                      readOnly: true
                    properties:
                      description: Snapshot resource specific properties
                      type: object
                      properties:
                        time:
                          description: The time the snapshot was taken.
                          type: string
                          readOnly: true
                      x-ms-client-flatten: true
                  description: Azure proxy only resource. This resource is not tracked
                    by Azure Resource Manager.
                  x-ms-azure-resource: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/operations/{operationId}:
    get:
      tags:
      - Global
      summary: Gets an operation in a subscription and given region
      description: Description for Gets an operation in a subscription and given region
      operationId: Global_GetSubscriptionOperationWithAsyncResponse
      parameters:
      - name: location
        in: path
        description: Location name
        required: true
        schema:
          type: string
      - name: operationId
        in: path
        description: Operation Id
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '204':
          description: No Content
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
components:
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      description: API Version
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    DefaultErrorResponse:
      description: App Service error response.
      type: object
      properties:
        error:
          description: Error model.
          type: object
          properties:
            code:
              description: Standardized string to programmatically identify the error.
              type: string
              readOnly: true
            message:
              description: Detailed error description and debugging information.
              type: string
              readOnly: true
            target:
              description: Detailed error description and debugging information.
              type: string
              readOnly: true
            details:
              type: array
              items:
                description: Detailed errors.
                type: object
                properties:
                  code:
                    description: Standardized string to programmatically identify
                      the error.
                    type: string
                    readOnly: true
                  message:
                    description: Detailed error description and debugging information.
                    type: string
                    readOnly: true
                  target:
                    description: Detailed error description and debugging information.
                    type: string
                    readOnly: true
                readOnly: true
              x-ms-identifiers: []
            innererror:
              description: More information to debug error.
              type: string
              readOnly: true
          readOnly: true
    ProxyOnlyResource:
      description: Azure proxy only resource. This resource is not tracked by Azure
        Resource Manager.
      type: object
      properties:
        id:
          description: Resource Id.
          type: string
          readOnly: true
        name:
          description: Resource Name.
          type: string
          readOnly: true
        kind:
          description: Kind of resource.
          type: string
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    DeletedSite:
      type: object
      properties:
        id:
          description: Resource Id.
          type: string
          readOnly: true
        name:
          description: Resource Name.
          type: string
          readOnly: true
        kind:
          description: Kind of resource.
          type: string
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: DeletedSite resource specific properties
          type: object
          properties:
            deletedSiteId:
              format: int32
              description: Numeric id for the deleted site
              type: integer
              readOnly: true
            deletedTimestamp:
              description: Time in UTC when the app was deleted.
              type: string
              readOnly: true
            subscription:
              description: Subscription containing the deleted site
              type: string
              readOnly: true
            resourceGroup:
              description: ResourceGroup that contained the deleted site
              type: string
              readOnly: true
            deletedSiteName:
              description: Name of the deleted site
              type: string
              readOnly: true
            slot:
              description: Slot of the deleted site
              type: string
              readOnly: true
            kind:
              description: Kind of site that was deleted
              type: string
              readOnly: true
            geoRegionName:
              description: Geo Region of the deleted site
              type: string
              readOnly: true
          x-ms-client-flatten: true
      description: Azure proxy only resource. This resource is not tracked by Azure
        Resource Manager.
      x-ms-azure-resource: true
    Snapshot:
      type: object
      properties:
        id:
          description: Resource Id.
          type: string
          readOnly: true
        name:
          description: Resource Name.
          type: string
          readOnly: true
        kind:
          description: Kind of resource.
          type: string
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Snapshot resource specific properties
          type: object
          properties:
            time:
              description: The time the snapshot was taken.
              type: string
              readOnly: true
          x-ms-client-flatten: true
      description: Azure proxy only resource. This resource is not tracked by Azure
        Resource Manager.
      x-ms-azure-resource: true
