openapi: 3.0.0
info:
  version: 2024-04-01
  title: KubeEnvironments API Client
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/kubeEnvironments:
    get:
      tags:
      - KubeEnvironments
      summary: Get all Kubernetes Environments for a subscription.
      description: Description for Get all Kubernetes Environments for a subscription.
      operationId: KubeEnvironments_ListBySubscription
      parameters:
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of Kubernetes Environments
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource Id.
                          type: string
                          readOnly: true
                        name:
                          description: Resource Name.
                          type: string
                          readOnly: true
                        kind:
                          description: Kind of resource. If the resource is an app,
                            you can refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
                            for details supported values for kind.
                          type: string
                        location:
                          description: Resource Location.
                          type: string
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        tags:
                          description: Resource tags.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: KubeEnvironment resource specific properties
                          type: object
                          properties:
                            provisioningState:
                              description: Provisioning state of the Kubernetes Environment.
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Waiting
                              - InitializationInProgress
                              - InfrastructureSetupInProgress
                              - InfrastructureSetupComplete
                              - ScheduledForDelete
                              - UpgradeRequested
                              - UpgradeFailed
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: KubeEnvironmentProvisioningState
                                modelAsString: false
                            deploymentErrors:
                              description: Any errors that occurred during deployment
                                or deployment validation
                              type: string
                              readOnly: true
                            internalLoadBalancerEnabled:
                              description: Only visible within Vnet/Subnet
                              type: boolean
                              x-ms-mutability:
                              - create
                              - read
                            defaultDomain:
                              description: Default Domain Name for the cluster
                              type: string
                              readOnly: true
                            staticIp:
                              description: Static IP of the KubeEnvironment
                              type: string
                              x-ms-mutability:
                              - create
                              - read
                            environmentType:
                              description: Type of Kubernetes Environment. Only supported
                                for Container App Environments with value as Managed
                              type: string
                              x-ms-mutability:
                              - create
                              - read
                            arcConfiguration:
                              description: 'Cluster configuration which determines
                                the ARC cluster

                                components types. Eg: Choosing between BuildService
                                kind,

                                FrontEnd Service ArtifactsStorageType etc.'
                              type: object
                              properties:
                                artifactsStorageType:
                                  enum:
                                  - LocalNode
                                  - NetworkFileSystem
                                  type: string
                                  x-ms-enum:
                                    name: StorageType
                                    modelAsString: false
                                  x-ms-mutability:
                                  - create
                                  - read
                                artifactStorageClassName:
                                  type: string
                                  x-ms-mutability:
                                  - create
                                  - read
                                artifactStorageMountPath:
                                  type: string
                                  x-ms-mutability:
                                  - create
                                  - read
                                artifactStorageNodeName:
                                  type: string
                                  x-ms-mutability:
                                  - create
                                  - read
                                artifactStorageAccessMode:
                                  type: string
                                  x-ms-mutability:
                                  - create
                                  - read
                                frontEndServiceConfiguration:
                                  type: object
                                  properties:
                                    kind:
                                      enum:
                                      - NodePort
                                      - LoadBalancer
                                      type: string
                                      x-ms-enum:
                                        name: FrontEndServiceType
                                        modelAsString: false
                                kubeConfig:
                                  type: string
                                  x-ms-mutability:
                                  - create
                                  - update
                                  x-ms-secret: true
                            appLogsConfiguration:
                              description: 'Cluster configuration which enables the
                                log daemon to export

                                app logs to a destination. Currently only "log-analytics"
                                is

                                supported'
                              type: object
                              properties:
                                destination:
                                  type: string
                                logAnalyticsConfiguration:
                                  type: object
                                  properties:
                                    customerId:
                                      type: string
                                    sharedKey:
                                      type: string
                                      x-ms-mutability:
                                      - create
                                      - update
                                      x-ms-secret: true
                            containerAppsConfiguration:
                              description: Cluster configuration for Container Apps
                                Environments to configure Dapr Instrumentation Key
                                and VNET Configuration
                              type: object
                              properties:
                                daprAIInstrumentationKey:
                                  type: string
                                  description: Azure Monitor instrumentation key used
                                    by Dapr to export Service to Service communication
                                    telemetry
                                  x-ms-mutability:
                                  - create
                                  - read
                                platformReservedCidr:
                                  type: string
                                  description: IP range in CIDR notation that can
                                    be reserved for environment infrastructure IP
                                    addresses. It must not overlap with any other
                                    Subnet IP ranges.
                                  x-ms-mutability:
                                  - create
                                  - read
                                platformReservedDnsIP:
                                  type: string
                                  description: An IP address from the IP range defined
                                    by platformReservedCidr that will be reserved
                                    for the internal DNS server
                                  x-ms-mutability:
                                  - create
                                  - read
                                controlPlaneSubnetResourceId:
                                  type: string
                                  description: Resource ID of a subnet for control
                                    plane infrastructure components. This subnet must
                                    be in the same VNET as the subnet defined in appSubnetResourceId.
                                    Must not overlap with the IP range defined in
                                    platformReservedCidr, if defined.
                                  x-ms-mutability:
                                  - create
                                  - read
                                appSubnetResourceId:
                                  type: string
                                  description: Resource ID of a subnet for control
                                    plane infrastructure components. This subnet must
                                    be in the same VNET as the subnet defined in appSubnetResourceId.
                                    Must not overlap with the IP range defined in
                                    platformReservedCidr, if defined.
                                  x-ms-mutability:
                                  - create
                                  - read
                                dockerBridgeCidr:
                                  type: string
                                  description: CIDR notation IP range assigned to
                                    the Docker bridge network. It must not overlap
                                    with any Subnet IP ranges or the IP range defined
                                    in platformReservedCidr, if defined.
                                  x-ms-mutability:
                                  - create
                                  - read
                            aksResourceID:
                              type: string
                              x-ms-mutability:
                              - create
                              - read
                          x-ms-client-flatten: true
                        extendedLocation:
                          description: Extended Location.
                          type: object
                          properties:
                            name:
                              description: Name of extended location.
                              type: string
                            type:
                              description: Type of extended location.
                              type: string
                              readOnly: true
                      required:
                      - location
                      description: Azure resource. This resource is tracked in Azure
                        Resource Manager
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/kubeEnvironments:
    get:
      tags:
      - KubeEnvironments
      summary: Get all the Kubernetes Environments in a resource group.
      description: Description for Get all the Kubernetes Environments in a resource
        group.
      operationId: KubeEnvironments_ListByResourceGroup
      parameters:
      - name: resourceGroupName
        in: path
        description: Name of the resource group to which the resource belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+[^\.]$
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of Kubernetes Environments
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource Id.
                          type: string
                          readOnly: true
                        name:
                          description: Resource Name.
                          type: string
                          readOnly: true
                        kind:
                          description: Kind of resource. If the resource is an app,
                            you can refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
                            for details supported values for kind.
                          type: string
                        location:
                          description: Resource Location.
                          type: string
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        tags:
                          description: Resource tags.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: KubeEnvironment resource specific properties
                          type: object
                          properties:
                            provisioningState:
                              description: Provisioning state of the Kubernetes Environment.
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Waiting
                              - InitializationInProgress
                              - InfrastructureSetupInProgress
                              - InfrastructureSetupComplete
                              - ScheduledForDelete
                              - UpgradeRequested
                              - UpgradeFailed
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: KubeEnvironmentProvisioningState
                                modelAsString: false
                            deploymentErrors:
                              description: Any errors that occurred during deployment
                                or deployment validation
                              type: string
                              readOnly: true
                            internalLoadBalancerEnabled:
                              description: Only visible within Vnet/Subnet
                              type: boolean
                              x-ms-mutability:
                              - create
                              - read
                            defaultDomain:
                              description: Default Domain Name for the cluster
                              type: string
                              readOnly: true
                            staticIp:
                              description: Static IP of the KubeEnvironment
                              type: string
                              x-ms-mutability:
                              - create
                              - read
                            environmentType:
                              description: Type of Kubernetes Environment. Only supported
                                for Container App Environments with value as Managed
                              type: string
                              x-ms-mutability:
                              - create
                              - read
                            arcConfiguration:
                              description: 'Cluster configuration which determines
                                the ARC cluster

                                components types. Eg: Choosing between BuildService
                                kind,

                                FrontEnd Service ArtifactsStorageType etc.'
                              type: object
                              properties:
                                artifactsStorageType:
                                  enum:
                                  - LocalNode
                                  - NetworkFileSystem
                                  type: string
                                  x-ms-enum:
                                    name: StorageType
                                    modelAsString: false
                                  x-ms-mutability:
                                  - create
                                  - read
                                artifactStorageClassName:
                                  type: string
                                  x-ms-mutability:
                                  - create
                                  - read
                                artifactStorageMountPath:
                                  type: string
                                  x-ms-mutability:
                                  - create
                                  - read
                                artifactStorageNodeName:
                                  type: string
                                  x-ms-mutability:
                                  - create
                                  - read
                                artifactStorageAccessMode:
                                  type: string
                                  x-ms-mutability:
                                  - create
                                  - read
                                frontEndServiceConfiguration:
                                  type: object
                                  properties:
                                    kind:
                                      enum:
                                      - NodePort
                                      - LoadBalancer
                                      type: string
                                      x-ms-enum:
                                        name: FrontEndServiceType
                                        modelAsString: false
                                kubeConfig:
                                  type: string
                                  x-ms-mutability:
                                  - create
                                  - update
                                  x-ms-secret: true
                            appLogsConfiguration:
                              description: 'Cluster configuration which enables the
                                log daemon to export

                                app logs to a destination. Currently only "log-analytics"
                                is

                                supported'
                              type: object
                              properties:
                                destination:
                                  type: string
                                logAnalyticsConfiguration:
                                  type: object
                                  properties:
                                    customerId:
                                      type: string
                                    sharedKey:
                                      type: string
                                      x-ms-mutability:
                                      - create
                                      - update
                                      x-ms-secret: true
                            containerAppsConfiguration:
                              description: Cluster configuration for Container Apps
                                Environments to configure Dapr Instrumentation Key
                                and VNET Configuration
                              type: object
                              properties:
                                daprAIInstrumentationKey:
                                  type: string
                                  description: Azure Monitor instrumentation key used
                                    by Dapr to export Service to Service communication
                                    telemetry
                                  x-ms-mutability:
                                  - create
                                  - read
                                platformReservedCidr:
                                  type: string
                                  description: IP range in CIDR notation that can
                                    be reserved for environment infrastructure IP
                                    addresses. It must not overlap with any other
                                    Subnet IP ranges.
                                  x-ms-mutability:
                                  - create
                                  - read
                                platformReservedDnsIP:
                                  type: string
                                  description: An IP address from the IP range defined
                                    by platformReservedCidr that will be reserved
                                    for the internal DNS server
                                  x-ms-mutability:
                                  - create
                                  - read
                                controlPlaneSubnetResourceId:
                                  type: string
                                  description: Resource ID of a subnet for control
                                    plane infrastructure components. This subnet must
                                    be in the same VNET as the subnet defined in appSubnetResourceId.
                                    Must not overlap with the IP range defined in
                                    platformReservedCidr, if defined.
                                  x-ms-mutability:
                                  - create
                                  - read
                                appSubnetResourceId:
                                  type: string
                                  description: Resource ID of a subnet for control
                                    plane infrastructure components. This subnet must
                                    be in the same VNET as the subnet defined in appSubnetResourceId.
                                    Must not overlap with the IP range defined in
                                    platformReservedCidr, if defined.
                                  x-ms-mutability:
                                  - create
                                  - read
                                dockerBridgeCidr:
                                  type: string
                                  description: CIDR notation IP range assigned to
                                    the Docker bridge network. It must not overlap
                                    with any Subnet IP ranges or the IP range defined
                                    in platformReservedCidr, if defined.
                                  x-ms-mutability:
                                  - create
                                  - read
                            aksResourceID:
                              type: string
                              x-ms-mutability:
                              - create
                              - read
                          x-ms-client-flatten: true
                        extendedLocation:
                          description: Extended Location.
                          type: object
                          properties:
                            name:
                              description: Name of extended location.
                              type: string
                            type:
                              description: Type of extended location.
                              type: string
                              readOnly: true
                      required:
                      - location
                      description: Azure resource. This resource is tracked in Azure
                        Resource Manager
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/kubeEnvironments/{name}:
    get:
      tags:
      - KubeEnvironments
      summary: Get the properties of a Kubernetes Environment.
      description: Description for Get the properties of a Kubernetes Environment.
      operationId: KubeEnvironments_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: Name of the resource group to which the resource belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+[^\.]$
      - name: name
        in: path
        description: Name of the Kubernetes Environment.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource Id.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  kind:
                    description: Kind of resource. If the resource is an app, you
                      can refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
                      for details supported values for kind.
                    type: string
                  location:
                    description: Resource Location.
                    type: string
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  tags:
                    description: Resource tags.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: KubeEnvironment resource specific properties
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the Kubernetes Environment.
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Waiting
                        - InitializationInProgress
                        - InfrastructureSetupInProgress
                        - InfrastructureSetupComplete
                        - ScheduledForDelete
                        - UpgradeRequested
                        - UpgradeFailed
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: KubeEnvironmentProvisioningState
                          modelAsString: false
                      deploymentErrors:
                        description: Any errors that occurred during deployment or
                          deployment validation
                        type: string
                        readOnly: true
                      internalLoadBalancerEnabled:
                        description: Only visible within Vnet/Subnet
                        type: boolean
                        x-ms-mutability:
                        - create
                        - read
                      defaultDomain:
                        description: Default Domain Name for the cluster
                        type: string
                        readOnly: true
                      staticIp:
                        description: Static IP of the KubeEnvironment
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                      environmentType:
                        description: Type of Kubernetes Environment. Only supported
                          for Container App Environments with value as Managed
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                      arcConfiguration:
                        description: 'Cluster configuration which determines the ARC
                          cluster

                          components types. Eg: Choosing between BuildService kind,

                          FrontEnd Service ArtifactsStorageType etc.'
                        type: object
                        properties:
                          artifactsStorageType:
                            enum:
                            - LocalNode
                            - NetworkFileSystem
                            type: string
                            x-ms-enum:
                              name: StorageType
                              modelAsString: false
                            x-ms-mutability:
                            - create
                            - read
                          artifactStorageClassName:
                            type: string
                            x-ms-mutability:
                            - create
                            - read
                          artifactStorageMountPath:
                            type: string
                            x-ms-mutability:
                            - create
                            - read
                          artifactStorageNodeName:
                            type: string
                            x-ms-mutability:
                            - create
                            - read
                          artifactStorageAccessMode:
                            type: string
                            x-ms-mutability:
                            - create
                            - read
                          frontEndServiceConfiguration:
                            type: object
                            properties:
                              kind:
                                enum:
                                - NodePort
                                - LoadBalancer
                                type: string
                                x-ms-enum:
                                  name: FrontEndServiceType
                                  modelAsString: false
                          kubeConfig:
                            type: string
                            x-ms-mutability:
                            - create
                            - update
                            x-ms-secret: true
                      appLogsConfiguration:
                        description: 'Cluster configuration which enables the log
                          daemon to export

                          app logs to a destination. Currently only "log-analytics"
                          is

                          supported'
                        type: object
                        properties:
                          destination:
                            type: string
                          logAnalyticsConfiguration:
                            type: object
                            properties:
                              customerId:
                                type: string
                              sharedKey:
                                type: string
                                x-ms-mutability:
                                - create
                                - update
                                x-ms-secret: true
                      containerAppsConfiguration:
                        description: Cluster configuration for Container Apps Environments
                          to configure Dapr Instrumentation Key and VNET Configuration
                        type: object
                        properties:
                          daprAIInstrumentationKey:
                            type: string
                            description: Azure Monitor instrumentation key used by
                              Dapr to export Service to Service communication telemetry
                            x-ms-mutability:
                            - create
                            - read
                          platformReservedCidr:
                            type: string
                            description: IP range in CIDR notation that can be reserved
                              for environment infrastructure IP addresses. It must
                              not overlap with any other Subnet IP ranges.
                            x-ms-mutability:
                            - create
                            - read
                          platformReservedDnsIP:
                            type: string
                            description: An IP address from the IP range defined by
                              platformReservedCidr that will be reserved for the internal
                              DNS server
                            x-ms-mutability:
                            - create
                            - read
                          controlPlaneSubnetResourceId:
                            type: string
                            description: Resource ID of a subnet for control plane
                              infrastructure components. This subnet must be in the
                              same VNET as the subnet defined in appSubnetResourceId.
                              Must not overlap with the IP range defined in platformReservedCidr,
                              if defined.
                            x-ms-mutability:
                            - create
                            - read
                          appSubnetResourceId:
                            type: string
                            description: Resource ID of a subnet for control plane
                              infrastructure components. This subnet must be in the
                              same VNET as the subnet defined in appSubnetResourceId.
                              Must not overlap with the IP range defined in platformReservedCidr,
                              if defined.
                            x-ms-mutability:
                            - create
                            - read
                          dockerBridgeCidr:
                            type: string
                            description: CIDR notation IP range assigned to the Docker
                              bridge network. It must not overlap with any Subnet
                              IP ranges or the IP range defined in platformReservedCidr,
                              if defined.
                            x-ms-mutability:
                            - create
                            - read
                      aksResourceID:
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                    x-ms-client-flatten: true
                  extendedLocation:
                    description: Extended Location.
                    type: object
                    properties:
                      name:
                        description: Name of extended location.
                        type: string
                      type:
                        description: Type of extended location.
                        type: string
                        readOnly: true
                required:
                - location
                description: Azure resource. This resource is tracked in Azure Resource
                  Manager
                x-ms-azure-resource: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
    put:
      tags:
      - KubeEnvironments
      summary: Creates or updates a Kubernetes Environment.
      description: Description for Creates or updates a Kubernetes Environment.
      operationId: KubeEnvironments_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: Name of the resource group to which the resource belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+[^\.]$
      - name: name
        in: path
        description: Name of the Kubernetes Environment.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource Id.
                  type: string
                  readOnly: true
                name:
                  description: Resource Name.
                  type: string
                  readOnly: true
                kind:
                  description: Kind of resource. If the resource is an app, you can
                    refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
                    for details supported values for kind.
                  type: string
                location:
                  description: Resource Location.
                  type: string
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                tags:
                  description: Resource tags.
                  type: object
                  additionalProperties:
                    type: string
                properties:
                  description: KubeEnvironment resource specific properties
                  type: object
                  properties:
                    provisioningState:
                      description: Provisioning state of the Kubernetes Environment.
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Waiting
                      - InitializationInProgress
                      - InfrastructureSetupInProgress
                      - InfrastructureSetupComplete
                      - ScheduledForDelete
                      - UpgradeRequested
                      - UpgradeFailed
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: KubeEnvironmentProvisioningState
                        modelAsString: false
                    deploymentErrors:
                      description: Any errors that occurred during deployment or deployment
                        validation
                      type: string
                      readOnly: true
                    internalLoadBalancerEnabled:
                      description: Only visible within Vnet/Subnet
                      type: boolean
                      x-ms-mutability:
                      - create
                      - read
                    defaultDomain:
                      description: Default Domain Name for the cluster
                      type: string
                      readOnly: true
                    staticIp:
                      description: Static IP of the KubeEnvironment
                      type: string
                      x-ms-mutability:
                      - create
                      - read
                    environmentType:
                      description: Type of Kubernetes Environment. Only supported
                        for Container App Environments with value as Managed
                      type: string
                      x-ms-mutability:
                      - create
                      - read
                    arcConfiguration:
                      description: 'Cluster configuration which determines the ARC
                        cluster

                        components types. Eg: Choosing between BuildService kind,

                        FrontEnd Service ArtifactsStorageType etc.'
                      type: object
                      properties:
                        artifactsStorageType:
                          enum:
                          - LocalNode
                          - NetworkFileSystem
                          type: string
                          x-ms-enum:
                            name: StorageType
                            modelAsString: false
                          x-ms-mutability:
                          - create
                          - read
                        artifactStorageClassName:
                          type: string
                          x-ms-mutability:
                          - create
                          - read
                        artifactStorageMountPath:
                          type: string
                          x-ms-mutability:
                          - create
                          - read
                        artifactStorageNodeName:
                          type: string
                          x-ms-mutability:
                          - create
                          - read
                        artifactStorageAccessMode:
                          type: string
                          x-ms-mutability:
                          - create
                          - read
                        frontEndServiceConfiguration:
                          type: object
                          properties:
                            kind:
                              enum:
                              - NodePort
                              - LoadBalancer
                              type: string
                              x-ms-enum:
                                name: FrontEndServiceType
                                modelAsString: false
                        kubeConfig:
                          type: string
                          x-ms-mutability:
                          - create
                          - update
                          x-ms-secret: true
                    appLogsConfiguration:
                      description: 'Cluster configuration which enables the log daemon
                        to export

                        app logs to a destination. Currently only "log-analytics"
                        is

                        supported'
                      type: object
                      properties:
                        destination:
                          type: string
                        logAnalyticsConfiguration:
                          type: object
                          properties:
                            customerId:
                              type: string
                            sharedKey:
                              type: string
                              x-ms-mutability:
                              - create
                              - update
                              x-ms-secret: true
                    containerAppsConfiguration:
                      description: Cluster configuration for Container Apps Environments
                        to configure Dapr Instrumentation Key and VNET Configuration
                      type: object
                      properties:
                        daprAIInstrumentationKey:
                          type: string
                          description: Azure Monitor instrumentation key used by Dapr
                            to export Service to Service communication telemetry
                          x-ms-mutability:
                          - create
                          - read
                        platformReservedCidr:
                          type: string
                          description: IP range in CIDR notation that can be reserved
                            for environment infrastructure IP addresses. It must not
                            overlap with any other Subnet IP ranges.
                          x-ms-mutability:
                          - create
                          - read
                        platformReservedDnsIP:
                          type: string
                          description: An IP address from the IP range defined by
                            platformReservedCidr that will be reserved for the internal
                            DNS server
                          x-ms-mutability:
                          - create
                          - read
                        controlPlaneSubnetResourceId:
                          type: string
                          description: Resource ID of a subnet for control plane infrastructure
                            components. This subnet must be in the same VNET as the
                            subnet defined in appSubnetResourceId. Must not overlap
                            with the IP range defined in platformReservedCidr, if
                            defined.
                          x-ms-mutability:
                          - create
                          - read
                        appSubnetResourceId:
                          type: string
                          description: Resource ID of a subnet for control plane infrastructure
                            components. This subnet must be in the same VNET as the
                            subnet defined in appSubnetResourceId. Must not overlap
                            with the IP range defined in platformReservedCidr, if
                            defined.
                          x-ms-mutability:
                          - create
                          - read
                        dockerBridgeCidr:
                          type: string
                          description: CIDR notation IP range assigned to the Docker
                            bridge network. It must not overlap with any Subnet IP
                            ranges or the IP range defined in platformReservedCidr,
                            if defined.
                          x-ms-mutability:
                          - create
                          - read
                    aksResourceID:
                      type: string
                      x-ms-mutability:
                      - create
                      - read
                  x-ms-client-flatten: true
                extendedLocation:
                  description: Extended Location.
                  type: object
                  properties:
                    name:
                      description: Name of extended location.
                      type: string
                    type:
                      description: Type of extended location.
                      type: string
                      readOnly: true
              required:
              - location
              description: Azure resource. This resource is tracked in Azure Resource
                Manager
              x-ms-azure-resource: true
        description: Configuration details of the Kubernetes Environment.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource Id.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  kind:
                    description: Kind of resource. If the resource is an app, you
                      can refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
                      for details supported values for kind.
                    type: string
                  location:
                    description: Resource Location.
                    type: string
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  tags:
                    description: Resource tags.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: KubeEnvironment resource specific properties
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the Kubernetes Environment.
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Waiting
                        - InitializationInProgress
                        - InfrastructureSetupInProgress
                        - InfrastructureSetupComplete
                        - ScheduledForDelete
                        - UpgradeRequested
                        - UpgradeFailed
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: KubeEnvironmentProvisioningState
                          modelAsString: false
                      deploymentErrors:
                        description: Any errors that occurred during deployment or
                          deployment validation
                        type: string
                        readOnly: true
                      internalLoadBalancerEnabled:
                        description: Only visible within Vnet/Subnet
                        type: boolean
                        x-ms-mutability:
                        - create
                        - read
                      defaultDomain:
                        description: Default Domain Name for the cluster
                        type: string
                        readOnly: true
                      staticIp:
                        description: Static IP of the KubeEnvironment
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                      environmentType:
                        description: Type of Kubernetes Environment. Only supported
                          for Container App Environments with value as Managed
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                      arcConfiguration:
                        description: 'Cluster configuration which determines the ARC
                          cluster

                          components types. Eg: Choosing between BuildService kind,

                          FrontEnd Service ArtifactsStorageType etc.'
                        type: object
                        properties:
                          artifactsStorageType:
                            enum:
                            - LocalNode
                            - NetworkFileSystem
                            type: string
                            x-ms-enum:
                              name: StorageType
                              modelAsString: false
                            x-ms-mutability:
                            - create
                            - read
                          artifactStorageClassName:
                            type: string
                            x-ms-mutability:
                            - create
                            - read
                          artifactStorageMountPath:
                            type: string
                            x-ms-mutability:
                            - create
                            - read
                          artifactStorageNodeName:
                            type: string
                            x-ms-mutability:
                            - create
                            - read
                          artifactStorageAccessMode:
                            type: string
                            x-ms-mutability:
                            - create
                            - read
                          frontEndServiceConfiguration:
                            type: object
                            properties:
                              kind:
                                enum:
                                - NodePort
                                - LoadBalancer
                                type: string
                                x-ms-enum:
                                  name: FrontEndServiceType
                                  modelAsString: false
                          kubeConfig:
                            type: string
                            x-ms-mutability:
                            - create
                            - update
                            x-ms-secret: true
                      appLogsConfiguration:
                        description: 'Cluster configuration which enables the log
                          daemon to export

                          app logs to a destination. Currently only "log-analytics"
                          is

                          supported'
                        type: object
                        properties:
                          destination:
                            type: string
                          logAnalyticsConfiguration:
                            type: object
                            properties:
                              customerId:
                                type: string
                              sharedKey:
                                type: string
                                x-ms-mutability:
                                - create
                                - update
                                x-ms-secret: true
                      containerAppsConfiguration:
                        description: Cluster configuration for Container Apps Environments
                          to configure Dapr Instrumentation Key and VNET Configuration
                        type: object
                        properties:
                          daprAIInstrumentationKey:
                            type: string
                            description: Azure Monitor instrumentation key used by
                              Dapr to export Service to Service communication telemetry
                            x-ms-mutability:
                            - create
                            - read
                          platformReservedCidr:
                            type: string
                            description: IP range in CIDR notation that can be reserved
                              for environment infrastructure IP addresses. It must
                              not overlap with any other Subnet IP ranges.
                            x-ms-mutability:
                            - create
                            - read
                          platformReservedDnsIP:
                            type: string
                            description: An IP address from the IP range defined by
                              platformReservedCidr that will be reserved for the internal
                              DNS server
                            x-ms-mutability:
                            - create
                            - read
                          controlPlaneSubnetResourceId:
                            type: string
                            description: Resource ID of a subnet for control plane
                              infrastructure components. This subnet must be in the
                              same VNET as the subnet defined in appSubnetResourceId.
                              Must not overlap with the IP range defined in platformReservedCidr,
                              if defined.
                            x-ms-mutability:
                            - create
                            - read
                          appSubnetResourceId:
                            type: string
                            description: Resource ID of a subnet for control plane
                              infrastructure components. This subnet must be in the
                              same VNET as the subnet defined in appSubnetResourceId.
                              Must not overlap with the IP range defined in platformReservedCidr,
                              if defined.
                            x-ms-mutability:
                            - create
                            - read
                          dockerBridgeCidr:
                            type: string
                            description: CIDR notation IP range assigned to the Docker
                              bridge network. It must not overlap with any Subnet
                              IP ranges or the IP range defined in platformReservedCidr,
                              if defined.
                            x-ms-mutability:
                            - create
                            - read
                      aksResourceID:
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                    x-ms-client-flatten: true
                  extendedLocation:
                    description: Extended Location.
                    type: object
                    properties:
                      name:
                        description: Name of extended location.
                        type: string
                      type:
                        description: Type of extended location.
                        type: string
                        readOnly: true
                required:
                - location
                description: Azure resource. This resource is tracked in Azure Resource
                  Manager
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource Id.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  kind:
                    description: Kind of resource. If the resource is an app, you
                      can refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
                      for details supported values for kind.
                    type: string
                  location:
                    description: Resource Location.
                    type: string
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  tags:
                    description: Resource tags.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: KubeEnvironment resource specific properties
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the Kubernetes Environment.
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Waiting
                        - InitializationInProgress
                        - InfrastructureSetupInProgress
                        - InfrastructureSetupComplete
                        - ScheduledForDelete
                        - UpgradeRequested
                        - UpgradeFailed
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: KubeEnvironmentProvisioningState
                          modelAsString: false
                      deploymentErrors:
                        description: Any errors that occurred during deployment or
                          deployment validation
                        type: string
                        readOnly: true
                      internalLoadBalancerEnabled:
                        description: Only visible within Vnet/Subnet
                        type: boolean
                        x-ms-mutability:
                        - create
                        - read
                      defaultDomain:
                        description: Default Domain Name for the cluster
                        type: string
                        readOnly: true
                      staticIp:
                        description: Static IP of the KubeEnvironment
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                      environmentType:
                        description: Type of Kubernetes Environment. Only supported
                          for Container App Environments with value as Managed
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                      arcConfiguration:
                        description: 'Cluster configuration which determines the ARC
                          cluster

                          components types. Eg: Choosing between BuildService kind,

                          FrontEnd Service ArtifactsStorageType etc.'
                        type: object
                        properties:
                          artifactsStorageType:
                            enum:
                            - LocalNode
                            - NetworkFileSystem
                            type: string
                            x-ms-enum:
                              name: StorageType
                              modelAsString: false
                            x-ms-mutability:
                            - create
                            - read
                          artifactStorageClassName:
                            type: string
                            x-ms-mutability:
                            - create
                            - read
                          artifactStorageMountPath:
                            type: string
                            x-ms-mutability:
                            - create
                            - read
                          artifactStorageNodeName:
                            type: string
                            x-ms-mutability:
                            - create
                            - read
                          artifactStorageAccessMode:
                            type: string
                            x-ms-mutability:
                            - create
                            - read
                          frontEndServiceConfiguration:
                            type: object
                            properties:
                              kind:
                                enum:
                                - NodePort
                                - LoadBalancer
                                type: string
                                x-ms-enum:
                                  name: FrontEndServiceType
                                  modelAsString: false
                          kubeConfig:
                            type: string
                            x-ms-mutability:
                            - create
                            - update
                            x-ms-secret: true
                      appLogsConfiguration:
                        description: 'Cluster configuration which enables the log
                          daemon to export

                          app logs to a destination. Currently only "log-analytics"
                          is

                          supported'
                        type: object
                        properties:
                          destination:
                            type: string
                          logAnalyticsConfiguration:
                            type: object
                            properties:
                              customerId:
                                type: string
                              sharedKey:
                                type: string
                                x-ms-mutability:
                                - create
                                - update
                                x-ms-secret: true
                      containerAppsConfiguration:
                        description: Cluster configuration for Container Apps Environments
                          to configure Dapr Instrumentation Key and VNET Configuration
                        type: object
                        properties:
                          daprAIInstrumentationKey:
                            type: string
                            description: Azure Monitor instrumentation key used by
                              Dapr to export Service to Service communication telemetry
                            x-ms-mutability:
                            - create
                            - read
                          platformReservedCidr:
                            type: string
                            description: IP range in CIDR notation that can be reserved
                              for environment infrastructure IP addresses. It must
                              not overlap with any other Subnet IP ranges.
                            x-ms-mutability:
                            - create
                            - read
                          platformReservedDnsIP:
                            type: string
                            description: An IP address from the IP range defined by
                              platformReservedCidr that will be reserved for the internal
                              DNS server
                            x-ms-mutability:
                            - create
                            - read
                          controlPlaneSubnetResourceId:
                            type: string
                            description: Resource ID of a subnet for control plane
                              infrastructure components. This subnet must be in the
                              same VNET as the subnet defined in appSubnetResourceId.
                              Must not overlap with the IP range defined in platformReservedCidr,
                              if defined.
                            x-ms-mutability:
                            - create
                            - read
                          appSubnetResourceId:
                            type: string
                            description: Resource ID of a subnet for control plane
                              infrastructure components. This subnet must be in the
                              same VNET as the subnet defined in appSubnetResourceId.
                              Must not overlap with the IP range defined in platformReservedCidr,
                              if defined.
                            x-ms-mutability:
                            - create
                            - read
                          dockerBridgeCidr:
                            type: string
                            description: CIDR notation IP range assigned to the Docker
                              bridge network. It must not overlap with any Subnet
                              IP ranges or the IP range defined in platformReservedCidr,
                              if defined.
                            x-ms-mutability:
                            - create
                            - read
                      aksResourceID:
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                    x-ms-client-flatten: true
                  extendedLocation:
                    description: Extended Location.
                    type: object
                    properties:
                      name:
                        description: Name of extended location.
                        type: string
                      type:
                        description: Type of extended location.
                        type: string
                        readOnly: true
                required:
                - location
                description: Azure resource. This resource is tracked in Azure Resource
                  Manager
                x-ms-azure-resource: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-long-running-operation: true
    delete:
      tags:
      - KubeEnvironments
      summary: Delete a Kubernetes Environment.
      description: Description for Delete a Kubernetes Environment.
      operationId: KubeEnvironments_Delete
      parameters:
      - name: resourceGroupName
        in: path
        description: Name of the resource group to which the resource belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+[^\.]$
      - name: name
        in: path
        description: Name of the Kubernetes Environment.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Delete operation completed
        '202':
          description: Delete operation is in progress
        '204':
          description: Kubernetes Environment does not exist
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-long-running-operation: true
    patch:
      tags:
      - KubeEnvironments
      summary: Creates or updates a Kubernetes Environment.
      description: Description for Creates or updates a Kubernetes Environment.
      operationId: KubeEnvironments_Update
      parameters:
      - name: resourceGroupName
        in: path
        description: Name of the resource group to which the resource belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+[^\.]$
      - name: name
        in: path
        description: Name of the Kubernetes Environment.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource Id.
                  type: string
                  readOnly: true
                name:
                  description: Resource Name.
                  type: string
                  readOnly: true
                kind:
                  description: Kind of resource.
                  type: string
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                properties:
                  description: KubeEnvironmentPatchResource resource specific properties
                  type: object
                  properties:
                    provisioningState:
                      description: Provisioning state of the Kubernetes Environment.
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Waiting
                      - InitializationInProgress
                      - InfrastructureSetupInProgress
                      - InfrastructureSetupComplete
                      - ScheduledForDelete
                      - UpgradeRequested
                      - UpgradeFailed
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: KubeEnvironmentProvisioningState
                        modelAsString: false
                    deploymentErrors:
                      description: Any errors that occurred during deployment or deployment
                        validation
                      type: string
                      readOnly: true
                    internalLoadBalancerEnabled:
                      description: Only visible within Vnet/Subnet
                      type: boolean
                      x-ms-mutability:
                      - create
                      - read
                    defaultDomain:
                      description: Default Domain Name for the cluster
                      type: string
                      readOnly: true
                    staticIp:
                      description: Static IP of the KubeEnvironment
                      type: string
                      x-ms-mutability:
                      - create
                      - read
                    arcConfiguration:
                      description: 'Cluster configuration which determines the ARC
                        cluster

                        components types. Eg: Choosing between BuildService kind,

                        FrontEnd Service ArtifactsStorageType etc.'
                      type: object
                      properties:
                        artifactsStorageType:
                          enum:
                          - LocalNode
                          - NetworkFileSystem
                          type: string
                          x-ms-enum:
                            name: StorageType
                            modelAsString: false
                          x-ms-mutability:
                          - create
                          - read
                        artifactStorageClassName:
                          type: string
                          x-ms-mutability:
                          - create
                          - read
                        artifactStorageMountPath:
                          type: string
                          x-ms-mutability:
                          - create
                          - read
                        artifactStorageNodeName:
                          type: string
                          x-ms-mutability:
                          - create
                          - read
                        artifactStorageAccessMode:
                          type: string
                          x-ms-mutability:
                          - create
                          - read
                        frontEndServiceConfiguration:
                          type: object
                          properties:
                            kind:
                              enum:
                              - NodePort
                              - LoadBalancer
                              type: string
                              x-ms-enum:
                                name: FrontEndServiceType
                                modelAsString: false
                        kubeConfig:
                          type: string
                          x-ms-mutability:
                          - create
                          - update
                          x-ms-secret: true
                    appLogsConfiguration:
                      description: 'Cluster configuration which enables the log daemon
                        to export

                        app logs to a destination. Currently only "log-analytics"
                        is

                        supported'
                      type: object
                      properties:
                        destination:
                          type: string
                        logAnalyticsConfiguration:
                          type: object
                          properties:
                            customerId:
                              type: string
                            sharedKey:
                              type: string
                              x-ms-mutability:
                              - create
                              - update
                              x-ms-secret: true
                    containerAppsConfiguration:
                      description: Cluster configuration for Container Apps Environments
                        to configure Dapr Instrumentation Key and VNET Configuration
                      type: object
                      properties:
                        daprAIInstrumentationKey:
                          type: string
                          description: Azure Monitor instrumentation key used by Dapr
                            to export Service to Service communication telemetry
                          x-ms-mutability:
                          - create
                          - read
                        platformReservedCidr:
                          type: string
                          description: IP range in CIDR notation that can be reserved
                            for environment infrastructure IP addresses. It must not
                            overlap with any other Subnet IP ranges.
                          x-ms-mutability:
                          - create
                          - read
                        platformReservedDnsIP:
                          type: string
                          description: An IP address from the IP range defined by
                            platformReservedCidr that will be reserved for the internal
                            DNS server
                          x-ms-mutability:
                          - create
                          - read
                        controlPlaneSubnetResourceId:
                          type: string
                          description: Resource ID of a subnet for control plane infrastructure
                            components. This subnet must be in the same VNET as the
                            subnet defined in appSubnetResourceId. Must not overlap
                            with the IP range defined in platformReservedCidr, if
                            defined.
                          x-ms-mutability:
                          - create
                          - read
                        appSubnetResourceId:
                          type: string
                          description: Resource ID of a subnet for control plane infrastructure
                            components. This subnet must be in the same VNET as the
                            subnet defined in appSubnetResourceId. Must not overlap
                            with the IP range defined in platformReservedCidr, if
                            defined.
                          x-ms-mutability:
                          - create
                          - read
                        dockerBridgeCidr:
                          type: string
                          description: CIDR notation IP range assigned to the Docker
                            bridge network. It must not overlap with any Subnet IP
                            ranges or the IP range defined in platformReservedCidr,
                            if defined.
                          x-ms-mutability:
                          - create
                          - read
                    aksResourceID:
                      type: string
                      x-ms-mutability:
                      - create
                      - read
                  x-ms-client-flatten: true
              description: Azure proxy only resource. This resource is not tracked
                by Azure Resource Manager.
              x-ms-azure-resource: true
        description: Configuration details of the Kubernetes Environment.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource Id.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  kind:
                    description: Kind of resource. If the resource is an app, you
                      can refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
                      for details supported values for kind.
                    type: string
                  location:
                    description: Resource Location.
                    type: string
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  tags:
                    description: Resource tags.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: KubeEnvironment resource specific properties
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the Kubernetes Environment.
[...]
