openapi: 3.0.0
info:
  version: 2024-04-01
  title: Provider API Client
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Web/availableStacks:
    get:
      tags:
      - Provider
      summary: Get available application frameworks and their versions
      description: Description for Get available application frameworks and their
        versions
      operationId: Provider_GetAvailableStacks
      parameters:
      - $ref: '#/components/parameters/osTypeSelectedParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationStackCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Web/functionAppStacks:
    get:
      tags:
      - Provider
      summary: Get available Function app frameworks and their versions
      description: Description for Get available Function app frameworks and their
        versions
      operationId: Provider_GetFunctionAppStacks
      parameters:
      - $ref: '#/components/parameters/stackOsTypeParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionAppStackCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Web/locations/{location}/functionAppStacks:
    get:
      tags:
      - Provider
      summary: Get available Function app frameworks and their versions for location
      description: Description for Get available Function app frameworks and their
        versions for location
      operationId: Provider_GetFunctionAppStacksForLocation
      parameters:
      - name: location
        in: path
        description: Function App stack location.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/stackOsTypeParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionAppStackCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Web/locations/{location}/webAppStacks:
    get:
      tags:
      - Provider
      summary: Get available Web app frameworks and their versions for location
      description: Description for Get available Web app frameworks and their versions
        for location
      operationId: Provider_GetWebAppStacksForLocation
      parameters:
      - name: location
        in: path
        description: Web App stack location.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/stackOsTypeParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebAppStackCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Web/operations:
    get:
      tags:
      - Provider
      summary: Gets all available operations for the Microsoft.Web resource provider.
        Also exposes resource metric definitions
      description: Description for Gets all available operations for the Microsoft.Web
        resource provider. Also exposes resource metric definitions
      operationId: Provider_ListOperations
      parameters:
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CsmOperationCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Web/webAppStacks:
    get:
      tags:
      - Provider
      summary: Get available Web app frameworks and their versions
      description: Description for Get available Web app frameworks and their versions
      operationId: Provider_GetWebAppStacks
      parameters:
      - $ref: '#/components/parameters/stackOsTypeParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebAppStackCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/availableStacks:
    get:
      tags:
      - Provider
      summary: Get available application frameworks and their versions
      description: Description for Get available application frameworks and their
        versions
      operationId: Provider_GetAvailableStacksOnPrem
      parameters:
      - $ref: '#/components/parameters/osTypeSelectedParameter'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationStackCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
servers:
- url: https://management.azure.com
components:
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      description: API Version
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    osTypeSelectedParameter:
      name: osTypeSelected
      in: query
      x-ms-enum:
        name: ProviderOsTypeSelected
        modelAsString: true
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - Windows
        - Linux
        - WindowsFunctions
        - LinuxFunctions
        - All
    stackOsTypeParameter:
      name: stackOsType
      in: query
      description: Stack OS Type
      x-ms-enum:
        name: ProviderStackOsType
        modelAsString: true
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - Windows
        - Linux
        - All
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    AppInsightsWebAppStackSettings:
      description: App Insights Web App stack settings.
      type: object
      properties:
        isSupported:
          description: <code>true</code> if remote Application Insights is supported
            for the stack; otherwise, <code>false</code>.
          type: boolean
          readOnly: true
        isDefaultOff:
          description: <code>true</code> if Application Insights is disabled by default
            for the stack; otherwise, <code>false</code>.
          type: boolean
          readOnly: true
    ApplicationStack:
      description: Application stack.
      type: object
      properties:
        name:
          description: Application stack name.
          type: string
        display:
          description: Application stack display name.
          type: string
        dependency:
          description: Application stack dependency.
          type: string
        majorVersions:
          description: List of major versions available.
          type: array
          items:
            $ref: '#/components/schemas/StackMajorVersion'
          x-ms-identifiers:
          - runtimeVersion
        frameworks:
          description: List of frameworks associated with application stack.
          type: array
          items:
            $ref: '#/components/schemas/ApplicationStack'
          x-ms-identifiers:
          - name
        isDeprecated:
          description: <code>true</code> if this is the stack is deprecated; otherwise,
            <code>false</code>.
          type: array
          items:
            $ref: '#/components/schemas/ApplicationStack'
          x-ms-identifiers:
          - name
    ApplicationStackCollection:
      description: Collection of Application Stacks
      required:
      - value
      type: object
      properties:
        value:
          description: Collection of resources.
          type: array
          items:
            $ref: '#/components/schemas/ApplicationStackResource'
        nextLink:
          description: Link to next page of resources.
          type: string
          readOnly: true
    ApplicationStackResource:
      $ref: '#/components/schemas/ProxyOnlyResource'
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/ApplicationStack'
      description: ARM resource for a ApplicationStack.
    FunctionAppMajorVersion:
      description: Function App stack major version.
      type: object
      properties:
        displayText:
          description: Function App stack major version (display only).
          type: string
          readOnly: true
        value:
          description: Function App stack major version name.
          type: string
          readOnly: true
        minorVersions:
          description: Minor versions associated with the major version.
          type: array
          items:
            $ref: '#/components/schemas/FunctionAppMinorVersion'
          readOnly: true
          x-ms-identifiers:
          - value
    FunctionAppMinorVersion:
      description: Function App stack minor version.
      type: object
      properties:
        displayText:
          description: Function App stack (display only).
          type: string
          readOnly: true
        value:
          description: Function App stack name.
          type: string
          readOnly: true
        stackSettings:
          $ref: '#/components/schemas/FunctionAppRuntimes'
    FunctionAppRuntimeSettings:
      description: Function App runtime settings.
      type: object
      properties:
        runtimeVersion:
          description: Function App stack minor version (runtime only).
          type: string
          readOnly: true
        remoteDebuggingSupported:
          description: <code>true</code> if remote debugging is supported for the
            stack; otherwise, <code>false</code>.
          type: boolean
          readOnly: true
        appInsightsSettings:
          $ref: '#/components/schemas/AppInsightsWebAppStackSettings'
        gitHubActionSettings:
          $ref: '#/components/schemas/GitHubActionWebAppStackSettings'
        appSettingsDictionary:
          description: Application settings associated with the minor version.
          type: object
          additionalProperties:
            type: string
          readOnly: true
        siteConfigPropertiesDictionary:
          $ref: '#/components/schemas/SiteConfigPropertiesDictionary'
        supportedFunctionsExtensionVersions:
          description: List of supported Functions extension versions.
          type: array
          items:
            type: string
          readOnly: true
        isPreview:
          description: <code>true</code> if the stack is in preview; otherwise, <code>false</code>.
          type: boolean
          readOnly: true
        isDeprecated:
          description: <code>true</code> if the stack is deprecated; otherwise, <code>false</code>.
          type: boolean
          readOnly: true
        isHidden:
          description: <code>true</code> if the stack should be hidden; otherwise,
            <code>false</code>.
          type: boolean
          readOnly: true
        endOfLifeDate:
          format: date-time
          description: End-of-life date for the minor version.
          type: string
          readOnly: true
        isAutoUpdate:
          description: <code>true</code> if the stack version is auto-updated; otherwise,
            <code>false</code>.
          type: boolean
          readOnly: true
        isEarlyAccess:
          description: <code>true</code> if the minor version is early-access; otherwise,
            <code>false</code>.
          type: boolean
          readOnly: true
        isDefault:
          description: <code>true</code> if the minor version the default; otherwise,
            <code>false</code>.
          type: boolean
          readOnly: true
    FunctionAppRuntimes:
      description: Function App stack runtimes.
      type: object
      properties:
        linuxRuntimeSettings:
          $ref: '#/components/schemas/FunctionAppRuntimeSettings'
        windowsRuntimeSettings:
          $ref: '#/components/schemas/FunctionAppRuntimeSettings'
    FunctionAppStack:
      $ref: '#/components/schemas/ProxyOnlyResource'
      type: object
      properties:
        location:
          description: Function App stack location.
          type: string
          readOnly: true
        properties:
          description: FunctionAppStack resource specific properties
          type: object
          properties:
            displayText:
              description: Function App stack (display only).
              type: string
              readOnly: true
            value:
              description: Function App stack name.
              type: string
              readOnly: true
            majorVersions:
              description: List of major versions available.
              type: array
              items:
                $ref: '#/components/schemas/FunctionAppMajorVersion'
              readOnly: true
              x-ms-identifiers:
              - value
            preferredOs:
              description: Function App stack preferred OS.
              enum:
              - Windows
              - Linux
              type: string
              readOnly: true
              x-ms-enum:
                name: StackPreferredOs
                modelAsString: false
          x-ms-client-flatten: true
      description: Function App Stack.
    FunctionAppStackCollection:
      description: Collection of Function app Stacks
      required:
      - value
      type: object
      properties:
        value:
          description: Collection of resources.
          type: array
          items:
            $ref: '#/components/schemas/FunctionAppStack'
        nextLink:
          description: Link to next page of resources.
          type: string
          readOnly: true
    GitHubActionWebAppStackSettings:
      description: GitHub Actions Web App stack settings.
      type: object
      properties:
        isSupported:
          description: <code>true</code> if GitHub Actions is supported for the stack;
            otherwise, <code>false</code>.
          type: boolean
          readOnly: true
        supportedVersion:
          description: The minor version that is supported for GitHub Actions.
          type: string
          readOnly: true
    LinuxJavaContainerSettings:
      description: Linux Java Container settings.
      type: object
      properties:
        java11Runtime:
          description: Java 11 version (runtime only).
          type: string
          readOnly: true
        java8Runtime:
          description: Java 8 version (runtime only).
          type: string
          readOnly: true
        isPreview:
          description: <code>true</code> if the stack is in preview; otherwise, <code>false</code>.
          type: boolean
          readOnly: true
        isDeprecated:
          description: <code>true</code> if the stack is deprecated; otherwise, <code>false</code>.
          type: boolean
          readOnly: true
        isHidden:
          description: <code>true</code> if the stack should be hidden; otherwise,
            <code>false</code>.
          type: boolean
          readOnly: true
        endOfLifeDate:
          format: date-time
          description: End-of-life date for the minor version.
          type: string
          readOnly: true
        isAutoUpdate:
          description: <code>true</code> if the stack version is auto-updated; otherwise,
            <code>false</code>.
          type: boolean
          readOnly: true
        isEarlyAccess:
          description: <code>true</code> if the minor version is early-access; otherwise,
            <code>false</code>.
          type: boolean
          readOnly: true
    SiteConfigPropertiesDictionary:
      description: Site config properties dictionary.
      type: object
      properties:
        use32BitWorkerProcess:
          description: <code>true</code> if use32BitWorkerProcess should be set to
            true for the stack; otherwise, <code>false</code>.
          type: boolean
          readOnly: true
        linuxFxVersion:
          description: LinuxFxVersion configuration setting.
          type: string
          readOnly: true
        javaVersion:
          description: JavaVersion configuration setting.
          type: string
          readOnly: true
        powerShellVersion:
          description: PowerShellVersion configuration setting.
          type: string
          readOnly: true
    StackMajorVersion:
      description: Application stack major version.
      type: object
      properties:
        displayVersion:
          description: Application stack major version (display only).
          type: string
        runtimeVersion:
          description: Application stack major version (runtime only).
          type: string
        isDefault:
          description: <code>true</code> if this is the default major version; otherwise,
            <code>false</code>.
          type: boolean
        minorVersions:
          description: Minor versions associated with the major version.
          type: array
          items:
            $ref: '#/components/schemas/StackMinorVersion'
          x-ms-identifiers:
          - runtimeVersion
        applicationInsights:
          description: <code>true</code> if this supports Application Insights; otherwise,
            <code>false</code>.
          type: boolean
        isPreview:
          description: <code>true</code> if this stack is in Preview, otherwise <code>false</code>.
          type: boolean
        isDeprecated:
          description: <code>true</code> if this stack has been deprecated, otherwise
            <code>false</code>.
          type: boolean
        isHidden:
          description: <code>true</code> if this stack should be hidden for new customers
            on portal, otherwise <code>false</code>.
          type: boolean
        appSettingsDictionary:
          description: "<appSettings>\n <appSetting name=\"FUNCTIONS_WORKER_RUNTIME\"
            value=\"dotnet\" />\n</appSettings>\n Example: All the function apps need
            AppSetting: \"FUNCTIONS_WORKER_RUNTIME\" to be set stack name"
          type: object
          additionalProperties:
            type: object
        siteConfigPropertiesDictionary:
          description: "<siteConfigProperties>\n <siteConfigProperty name=\"Use32BitWorkerProcess\"
            value=\"false\" />\n</siteConfigProperties>\n Example: All Linux Function
            Apps, need Use32BitWorkerProcess to be set to 0"
          type: object
          additionalProperties:
            type: object
    StackMinorVersion:
      description: Application stack minor version.
      type: object
      properties:
        displayVersion:
          description: Application stack minor version (display only).
          type: string
        runtimeVersion:
          description: Application stack minor version (runtime only).
          type: string
        isDefault:
          description: <code>true</code> if this is the default minor version; otherwise,
            <code>false</code>.
          type: boolean
        isRemoteDebuggingEnabled:
          description: <code>true</code> if this supports Remote Debugging, otherwise
            <code>false</code>.
          type: boolean
    WebAppMajorVersion:
      description: Web App stack major version.
      type: object
      properties:
        displayText:
          description: Web App stack major version (display only).
          type: string
          readOnly: true
        value:
          description: Web App stack major version name.
          type: string
          readOnly: true
        minorVersions:
          description: Minor versions associated with the major version.
          type: array
          items:
            $ref: '#/components/schemas/WebAppMinorVersion'
          readOnly: true
          x-ms-identifiers:
          - value
    WebAppMinorVersion:
      description: Web App stack minor version.
      type: object
      properties:
        displayText:
          description: Web App stack minor version (display only).
          type: string
          readOnly: true
        value:
          description: Web App stack major version name.
          type: string
          readOnly: true
        stackSettings:
          $ref: '#/components/schemas/WebAppRuntimes'
    WebAppRuntimeSettings:
      description: Web App runtime settings.
      type: object
      properties:
        runtimeVersion:
          description: Web App stack minor version (runtime only).
          type: string
          readOnly: true
        remoteDebuggingSupported:
          description: <code>true</code> if remote debugging is supported for the
            stack; otherwise, <code>false</code>.
          type: boolean
          readOnly: true
        appInsightsSettings:
          $ref: '#/components/schemas/AppInsightsWebAppStackSettings'
        gitHubActionSettings:
          $ref: '#/components/schemas/GitHubActionWebAppStackSettings'
        isPreview:
          description: <code>true</code> if the stack is in preview; otherwise, <code>false</code>.
          type: boolean
          readOnly: true
        isDeprecated:
          description: <code>true</code> if the stack is deprecated; otherwise, <code>false</code>.
          type: boolean
          readOnly: true
        isHidden:
          description: <code>true</code> if the stack should be hidden; otherwise,
            <code>false</code>.
          type: boolean
          readOnly: true
        endOfLifeDate:
          format: date-time
          description: End-of-life date for the minor version.
          type: string
          readOnly: true
        isAutoUpdate:
          description: <code>true</code> if the stack version is auto-updated; otherwise,
            <code>false</code>.
          type: boolean
          readOnly: true
        isEarlyAccess:
          description: <code>true</code> if the minor version is early-access; otherwise,
            <code>false</code>.
          type: boolean
          readOnly: true
    WebAppRuntimes:
      description: Web App stack runtimes.
      type: object
      properties:
        linuxRuntimeSettings:
          $ref: '#/components/schemas/WebAppRuntimeSettings'
        windowsRuntimeSettings:
          $ref: '#/components/schemas/WebAppRuntimeSettings'
        linuxContainerSettings:
          $ref: '#/components/schemas/LinuxJavaContainerSettings'
        windowsContainerSettings:
          $ref: '#/components/schemas/WindowsJavaContainerSettings'
    WebAppStack:
      $ref: '#/components/schemas/ProxyOnlyResource'
      type: object
      properties:
        location:
          description: Web App stack location.
          type: string
          readOnly: true
        properties:
          description: WebAppStack resource specific properties
          type: object
          properties:
            displayText:
              description: Web App stack (display only).
              type: string
              readOnly: true
            value:
              description: Web App stack name.
              type: string
              readOnly: true
            majorVersions:
              description: List of major versions available.
              type: array
              items:
                $ref: '#/components/schemas/WebAppMajorVersion'
              readOnly: true
              x-ms-identifiers:
              - value
            preferredOs:
              description: Web App stack preferred OS.
              enum:
              - Windows
              - Linux
              type: string
              readOnly: true
              x-ms-enum:
                name: StackPreferredOs
                modelAsString: false
          x-ms-client-flatten: true
      description: Web App stack.
    WebAppStackCollection:
      description: Collection of Web app Stacks
      required:
      - value
      type: object
      properties:
        value:
          description: Collection of resources.
          type: array
          items:
            $ref: '#/components/schemas/WebAppStack'
        nextLink:
          description: Link to next page of resources.
          type: string
          readOnly: true
    WindowsJavaContainerSettings:
      description: Windows Java Container settings.
      type: object
      properties:
        javaContainer:
          description: Java container (runtime only).
          type: string
          readOnly: true
        javaContainerVersion:
          description: Java container version (runtime only).
          type: string
          readOnly: true
        isPreview:
          description: <code>true</code> if the stack is in preview; otherwise, <code>false</code>.
          type: boolean
          readOnly: true
        isDeprecated:
          description: <code>true</code> if the stack is deprecated; otherwise, <code>false</code>.
          type: boolean
          readOnly: true
        isHidden:
          description: <code>true</code> if the stack should be hidden; otherwise,
            <code>false</code>.
          type: boolean
          readOnly: true
        endOfLifeDate:
          format: date-time
          description: End-of-life date for the minor version.
          type: string
          readOnly: true
        isAutoUpdate:
          description: <code>true</code> if the stack version is auto-updated; otherwise,
            <code>false</code>.
          type: boolean
          readOnly: true
        isEarlyAccess:
          description: <code>true</code> if the minor version is early-access; otherwise,
            <code>false</code>.
          type: boolean
          readOnly: true
    DefaultErrorResponse:
      description: App Service error response.
      type: object
      properties:
        error:
          description: Error model.
          type: object
          properties:
            code:
              description: Standardized string to programmatically identify the error.
              type: string
              readOnly: true
            message:
              description: Detailed error description and debugging information.
              type: string
              readOnly: true
            target:
              description: Detailed error description and debugging information.
              type: string
              readOnly: true
            details:
              type: array
              items:
                description: Detailed errors.
                type: object
                properties:
                  code:
                    description: Standardized string to programmatically identify
                      the error.
                    type: string
                    readOnly: true
                  message:
                    description: Detailed error description and debugging information.
                    type: string
                    readOnly: true
                  target:
                    description: Detailed error description and debugging information.
                    type: string
                    readOnly: true
                readOnly: true
              x-ms-identifiers: []
            innererror:
              description: More information to debug error.
              type: string
              readOnly: true
          readOnly: true
    ProxyOnlyResource:
      description: Azure proxy only resource. This resource is not tracked by Azure
        Resource Manager.
      type: object
      properties:
        id:
          description: Resource Id.
          type: string
          readOnly: true
        name:
          description: Resource Name.
          type: string
          readOnly: true
        kind:
          description: Kind of resource.
          type: string
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    CsmOperationDisplay:
      description: Meta data about operation used for display in portal.
      type: object
      properties:
        provider:
          type: string
        resource:
          type: string
        operation:
          type: string
        description:
          type: string
    Dimension:
      description: "Dimension of a resource metric. For e.g. instance specific HTTP
        requests for a web app, \nwhere instance name is dimension of the metric HTTP
        request"
      type: object
      properties:
        name:
          type: string
        displayName:
          type: string
        internalName:
          type: string
        toBeExportedForShoebox:
          type: boolean
    MetricAvailability:
      description: Retention policy of a resource metric.
      type: object
      properties:
        timeGrain:
          type: string
        blobDuration:
          type: string
    MetricSpecification:
      description: Definition of a single resource metric.
      type: object
      properties:
        name:
          type: string
        displayName:
          type: string
        displayDescription:
          type: string
        unit:
          type: string
        aggregationType:
          type: string
        supportsInstanceLevelAggregation:
          type: boolean
        enableRegionalMdmAccount:
          type: boolean
        sourceMdmAccount:
          type: string
        sourceMdmNamespace:
          type: string
        metricFilterPattern:
          type: string
        fillGapWithZero:
          type: boolean
        isInternal:
          type: boolean
        dimensions:
          type: array
          items:
            $ref: '#/components/schemas/Dimension'
          x-ms-identifiers:
          - name
        category:
          type: string
        availabilities:
          type: array
          items:
            $ref: '#/components/schemas/MetricAvailability'
          x-ms-identifiers: []
        supportedTimeGrainTypes:
          type: array
          items:
            type: string
        supportedAggregationTypes:
          type: array
          items:
            type: string
    LogSpecification:
      description: Log Definition of a single resource metric.
      type: object
      properties:
        name:
          type: string
        displayName:
          type: string
        blobDuration:
          type: string
        logFilterPattern:
          type: string
    ServiceSpecification:
      description: Resource metrics service provided by Microsoft.Insights resource
        provider.
      type: object
      properties:
        metricSpecifications:
          type: array
          items:
            $ref: '#/components/schemas/MetricSpecification'
          x-ms-identifiers:
          - name
        logSpecifications:
          type: array
          items:
            $ref: '#/components/schemas/LogSpecification'
          x-ms-identifiers:
          - name
    CsmOperationDescriptionProperties:
      description: Properties available for a Microsoft.Web resource provider operation.
      type: object
      properties:
        serviceSpecification:
          $ref: '#/components/schemas/ServiceSpecification'
    CsmOperationDescription:
      description: Description of an operation available for Microsoft.Web resource
        provider.
      type: object
      properties:
        name:
          type: string
        isDataAction:
          type: boolean
        display:
          $ref: '#/components/schemas/CsmOperationDisplay'
        origin:
          type: string
        properties:
          $ref: '#/components/schemas/CsmOperationDescriptionProperties'
    CsmOperationCollection:
      description: Collection of Azure resource manager operation metadata.
      required:
      - value
      type: object
      properties:
        value:
          description: Collection of resources.
          type: array
          items:
            $ref: '#/components/schemas/CsmOperationDescription'
          x-ms-identifiers:
          - name
        nextLink:
          description: Link to next page of resources.
          type: string
          readOnly: true
