openapi: 3.0.0
info:
  version: 2024-04-01
  title: ' API Client'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Web/publishingUsers/web:
    get:
      summary: Gets publishing user
      description: Description for Gets publishing user
      operationId: GetPublishingUser
      parameters:
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource Id.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  kind:
                    description: Kind of resource.
                    type: string
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: User resource specific properties
                    required:
                    - publishingUserName
                    type: object
                    properties:
                      publishingUserName:
                        description: Username used for publishing.
                        type: string
                      publishingPassword:
                        format: password
                        description: Password used for publishing.
                        type: string
                      publishingPasswordHash:
                        format: password
                        description: Password hash used for publishing.
                        type: string
                      publishingPasswordHashSalt:
                        format: password
                        description: Password hash salt used for publishing.
                        type: string
                      scmUri:
                        description: Url of SCM site.
                        type: string
                    x-ms-client-flatten: true
                description: Azure proxy only resource. This resource is not tracked
                  by Azure Resource Manager.
                x-ms-azure-resource: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
    put:
      summary: Updates publishing user
      description: Description for Updates publishing user
      operationId: UpdatePublishingUser
      parameters:
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource Id.
                  type: string
                  readOnly: true
                name:
                  description: Resource Name.
                  type: string
                  readOnly: true
                kind:
                  description: Kind of resource.
                  type: string
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                properties:
                  description: User resource specific properties
                  required:
                  - publishingUserName
                  type: object
                  properties:
                    publishingUserName:
                      description: Username used for publishing.
                      type: string
                    publishingPassword:
                      format: password
                      description: Password used for publishing.
                      type: string
                    publishingPasswordHash:
                      format: password
                      description: Password hash used for publishing.
                      type: string
                    publishingPasswordHashSalt:
                      format: password
                      description: Password hash salt used for publishing.
                      type: string
                    scmUri:
                      description: Url of SCM site.
                      type: string
                  x-ms-client-flatten: true
              description: Azure proxy only resource. This resource is not tracked
                by Azure Resource Manager.
              x-ms-azure-resource: true
        description: Details of publishing user
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource Id.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  kind:
                    description: Kind of resource.
                    type: string
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: User resource specific properties
                    required:
                    - publishingUserName
                    type: object
                    properties:
                      publishingUserName:
                        description: Username used for publishing.
                        type: string
                      publishingPassword:
                        format: password
                        description: Password used for publishing.
                        type: string
                      publishingPasswordHash:
                        format: password
                        description: Password hash used for publishing.
                        type: string
                      publishingPasswordHashSalt:
                        format: password
                        description: Password hash salt used for publishing.
                        type: string
                      scmUri:
                        description: Url of SCM site.
                        type: string
                    x-ms-client-flatten: true
                description: Azure proxy only resource. This resource is not tracked
                  by Azure Resource Manager.
                x-ms-azure-resource: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
  /providers/Microsoft.Web/sourcecontrols:
    get:
      summary: Gets the source controls available for Azure websites.
      description: Description for Gets the source controls available for Azure websites.
      operationId: ListSourceControls
      parameters:
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of source controls.
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource Id.
                          type: string
                          readOnly: true
                        name:
                          description: Resource Name.
                          type: string
                          readOnly: true
                        kind:
                          description: Kind of resource.
                          type: string
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: SourceControl resource specific properties
                          type: object
                          properties:
                            token:
                              description: OAuth access token.
                              type: string
                            tokenSecret:
                              description: OAuth access token secret.
                              type: string
                            refreshToken:
                              description: OAuth refresh token.
                              type: string
                            expirationTime:
                              format: date-time
                              description: OAuth token expiration.
                              type: string
                          x-ms-client-flatten: true
                      description: Azure proxy only resource. This resource is not
                        tracked by Azure Resource Manager.
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Web/sourcecontrols/{sourceControlType}:
    get:
      summary: Gets source control token
      description: Description for Gets source control token
      operationId: GetSourceControl
      parameters:
      - name: sourceControlType
        in: path
        description: Type of source control
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource Id.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  kind:
                    description: Kind of resource.
                    type: string
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: SourceControl resource specific properties
                    type: object
                    properties:
                      token:
                        description: OAuth access token.
                        type: string
                      tokenSecret:
                        description: OAuth access token secret.
                        type: string
                      refreshToken:
                        description: OAuth refresh token.
                        type: string
                      expirationTime:
                        format: date-time
                        description: OAuth token expiration.
                        type: string
                    x-ms-client-flatten: true
                description: Azure proxy only resource. This resource is not tracked
                  by Azure Resource Manager.
                x-ms-azure-resource: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
    put:
      summary: Updates source control token
      description: Description for Updates source control token
      operationId: UpdateSourceControl
      parameters:
      - name: sourceControlType
        in: path
        description: Type of source control
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource Id.
                  type: string
                  readOnly: true
                name:
                  description: Resource Name.
                  type: string
                  readOnly: true
                kind:
                  description: Kind of resource.
                  type: string
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                properties:
                  description: SourceControl resource specific properties
                  type: object
                  properties:
                    token:
                      description: OAuth access token.
                      type: string
                    tokenSecret:
                      description: OAuth access token secret.
                      type: string
                    refreshToken:
                      description: OAuth refresh token.
                      type: string
                    expirationTime:
                      format: date-time
                      description: OAuth token expiration.
                      type: string
                  x-ms-client-flatten: true
              description: Azure proxy only resource. This resource is not tracked
                by Azure Resource Manager.
              x-ms-azure-resource: true
        description: Source control token information
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource Id.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  kind:
                    description: Kind of resource.
                    type: string
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: SourceControl resource specific properties
                    type: object
                    properties:
                      token:
                        description: OAuth access token.
                        type: string
                      tokenSecret:
                        description: OAuth access token secret.
                        type: string
                      refreshToken:
                        description: OAuth refresh token.
                        type: string
                      expirationTime:
                        format: date-time
                        description: OAuth token expiration.
                        type: string
                    x-ms-client-flatten: true
                description: Azure proxy only resource. This resource is not tracked
                  by Azure Resource Manager.
                x-ms-azure-resource: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/billingMeters:
    get:
      summary: Gets a list of meters for a given location.
      description: Description for Gets a list of meters for a given location.
      operationId: ListBillingMeters
      parameters:
      - name: billingLocation
        in: query
        description: Azure Location of billable resource
        schema:
          type: string
      - name: osType
        in: query
        description: App Service OS type meters used for
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of Billing Meters
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource Id.
                          type: string
                          readOnly: true
                        name:
                          description: Resource Name.
                          type: string
                          readOnly: true
                        kind:
                          description: Kind of resource.
                          type: string
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: BillingMeter resource specific properties
                          type: object
                          properties:
                            meterId:
                              description: Meter GUID onboarded in Commerce
                              type: string
                            billingLocation:
                              description: Azure Location of billable resource
                              type: string
                            shortName:
                              description: Short Name from App Service Azure pricing
                                Page
                              type: string
                            friendlyName:
                              description: Friendly name of the meter
                              type: string
                            resourceType:
                              description: App Service ResourceType meter used for
                              type: string
                            osType:
                              description: App Service OS type meter used for
                              type: string
                            multiplier:
                              format: double
                              description: Meter Multiplier
                              type: number
                          x-ms-client-flatten: true
                      description: Azure proxy only resource. This resource is not
                        tracked by Azure Resource Manager.
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/checknameavailability:
    post:
      summary: Check if a resource name is available.
      description: Description for Check if a resource name is available.
      operationId: CheckNameAvailability
      parameters:
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Resource name availability request content.
              required:
              - name
              - type
              type: object
              properties:
                name:
                  description: Resource name to verify.
                  type: string
                type:
                  description: Resource type used for verification.
                  enum:
                  - Site
                  - Slot
                  - HostingEnvironment
                  - PublishingUser
                  - Microsoft.Web/sites
                  - Microsoft.Web/sites/slots
                  - Microsoft.Web/hostingEnvironments
                  - Microsoft.Web/publishingUsers
                  type: string
                  x-ms-enum:
                    name: CheckNameResourceTypes
                    modelAsString: true
                isFqdn:
                  description: Is fully qualified domain name.
                  type: boolean
                environmentId:
                  description: Azure Resource Manager ID of the customer's selected
                    Container Apps Environment on which to host the Function app.
                    This must be of the form /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.App/managedEnvironments/{managedEnvironmentName}
                  type: string
        description: Name availability request.
        required: true
        x-ms-client-flatten: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Information regarding availability of a resource name.
                type: object
                properties:
                  nameAvailable:
                    description: <code>true</code> indicates name is valid and available.
                      <code>false</code> indicates the name is invalid, unavailable,
                      or both.
                    type: boolean
                  reason:
                    description: <code>Invalid</code> indicates the name provided
                      does not match Azure App Service naming requirements. <code>AlreadyExists</code>
                      indicates that the name is already in use and is therefore unavailable.
                    enum:
                    - Invalid
                    - AlreadyExists
                    type: string
                    x-ms-enum:
                      name: InAvailabilityReasonType
                      modelAsString: true
                  message:
                    description: If reason == invalid, provide the user with the reason
                      why the given name is invalid, and provide the resource naming
                      requirements so that the user can select a valid name. If reason
                      == AlreadyExists, explain that resource name is already in use,
                      and direct them to select a different name.
                    type: string
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/customhostnameSites:
    get:
      summary: Get custom hostnames under this subscription
      operationId: ListCustomHostNameSites
      parameters:
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: hostname
        in: query
        description: Specific hostname
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of custom hostname sites
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource Id.
                          type: string
                          readOnly: true
                        name:
                          description: Resource Name.
                          type: string
                          readOnly: true
                        kind:
                          description: Kind of resource.
                          type: string
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: CustomHostnameSites resource specific properties
                          type: object
                          properties:
                            customHostname:
                              type: string
                            region:
                              type: string
                            siteResourceIds:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    description: Resource Id.
                                    type: string
                                    readOnly: true
                                  name:
                                    description: Resource Name.
                                    type: string
                                    readOnly: true
                                  kind:
                                    description: Kind of resource.
                                    type: string
                                  type:
                                    description: Resource type.
                                    type: string
                                    readOnly: true
                                  properties:
                                    description: Identifier resource specific properties
                                    type: object
                                    properties:
                                      id:
                                        description: String representation of the
                                          identity.
                                        type: string
                                        x-ms-client-name: value
                                    x-ms-client-flatten: true
                                description: Azure proxy only resource. This resource
                                  is not tracked by Azure Resource Manager.
                                x-ms-azure-resource: true
                          x-ms-client-flatten: true
                      description: Azure proxy only resource. This resource is not
                        tracked by Azure Resource Manager.
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/deploymentLocations:
    get:
      summary: Gets list of available geo regions plus ministamps
      description: Description for Gets list of available geo regions plus ministamps
      operationId: GetSubscriptionDeploymentLocations
      parameters:
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: 'List of available locations (regions or App Service
                  Environments) for

                  deployment of App Service resources.'
                type: object
                properties:
                  locations:
                    description: Available regions.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource Id.
                          type: string
                          readOnly: true
                        name:
                          description: Resource Name.
                          type: string
                          readOnly: true
                        kind:
                          description: Kind of resource.
                          type: string
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: GeoRegion resource specific properties
                          type: object
                          properties:
                            description:
                              description: Region description.
                              type: string
                              readOnly: true
                            displayName:
                              description: Display name for region.
                              type: string
                              readOnly: true
                            orgDomain:
                              description: Display name for region.
                              type: string
                              readOnly: true
                          x-ms-client-flatten: true
                      description: Azure proxy only resource. This resource is not
                        tracked by Azure Resource Manager.
                      x-ms-azure-resource: true
                  hostingEnvironments:
                    description: Available App Service Environments with full descriptions
                      of the environments.
                    type: array
                    items:
                      description: Description of an App Service Environment.
                      required:
                      - virtualNetwork
                      type: object
                      properties:
                        provisioningState:
                          description: Provisioning state of the App Service Environment.
                          enum:
                          - Succeeded
                          - Failed
                          - Canceled
                          - InProgress
                          - Deleting
                          type: string
                          readOnly: true
                          x-ms-enum:
                            name: ProvisioningState
                            modelAsString: false
                        status:
                          description: Current status of the App Service Environment.
                          enum:
                          - Preparing
                          - Ready
                          - Scaling
                          - Deleting
                          type: string
                          readOnly: true
                          x-ms-enum:
                            name: HostingEnvironmentStatus
                            modelAsString: false
                        virtualNetwork:
                          description: Description of the Virtual Network.
                          required:
                          - id
                          type: object
                          properties:
                            id:
                              description: Resource id of the Virtual Network.
                              type: string
                            name:
                              description: Name of the Virtual Network (read-only).
                              type: string
                              readOnly: true
                            type:
                              description: Resource type of the Virtual Network (read-only).
                              type: string
                              readOnly: true
                            subnet:
                              description: Subnet within the Virtual Network.
                              type: string
                        internalLoadBalancingMode:
                          description: Specifies which endpoints to serve internally
                            in the Virtual Network for the App Service Environment.
                          enum:
                          - None
                          - Web
                          - Publishing
                          - Web, Publishing
                          type: string
                          x-ms-enum:
                            name: LoadBalancingMode
                            modelAsString: true
                        multiSize:
                          description: Front-end VM size, e.g. "Medium", "Large".
                          type: string
                        multiRoleCount:
                          format: int32
                          description: Number of front-end instances.
                          type: integer
                          readOnly: true
                        ipsslAddressCount:
                          format: int32
                          description: Number of IP SSL addresses reserved for the
                            App Service Environment.
                          type: integer
                        dnsSuffix:
                          description: DNS suffix of the App Service Environment.
                          type: string
                        maximumNumberOfMachines:
                          format: int32
                          description: Maximum number of VMs in the App Service Environment.
                          type: integer
                          readOnly: true
                        frontEndScaleFactor:
                          format: int32
                          description: Scale factor for front-ends.
                          type: integer
                        suspended:
                          description: "<code>true</code> if the App Service Environment\
                            \ is suspended; otherwise, <code>false</code>. The environment\
                            \ can be suspended, e.g. when the management endpoint\
                            \ is no longer available\n (most likely because NSG blocked\
                            \ the incoming traffic)."
                          type: boolean
                          readOnly: true
                        clusterSettings:
                          description: Custom settings for changing the behavior of
                            the App Service Environment.
                          type: array
                          items:
                            description: Name value pair.
                            type: object
                            properties:
                              name:
                                description: Pair name.
                                type: string
                              value:
                                description: Pair value.
                                type: string
                          x-ms-identifiers:
                          - name
                        userWhitelistedIpRanges:
                          description: User added ip ranges to whitelist on ASE db
                          type: array
                          items:
                            type: string
                        hasLinuxWorkers:
                          description: Flag that displays whether an ASE has linux
                            workers or not
                          type: boolean
                          readOnly: true
                        upgradePreference:
                          description: Upgrade Preference
                          default: None
                          enum:
                          - None
                          - Early
                          - Late
                          - Manual
                          type: string
                          x-ms-enum:
                            name: UpgradePreference
                            modelAsString: true
                            values:
                            - value: None
                              description: No preference on when this App Service
                                Environment will be upgraded
                            - value: Early
                              description: This App Service Environment will be upgraded
                                before others in the same region that have Upgrade
                                Preference 'Late'
                            - value: Late
                              description: This App Service Environment will be upgraded
                                after others in the same region that have Upgrade
                                Preference 'Early'
                            - value: Manual
                              description: ASEv3 only. Once an upgrade is available,
                                this App Service Environment will wait 10 days for
                                the upgrade to be manually initiated. After 10 days
                                the upgrade will begin automatically
                        dedicatedHostCount:
                          format: int32
                          description: Dedicated Host Count
                          type: integer
                        zoneRedundant:
                          description: Whether or not this App Service Environment
                            is zone-redundant.
                          type: boolean
                        customDnsSuffixConfiguration:
                          type: object
                          properties:
                            id:
                              description: Resource Id.
                              type: string
                              readOnly: true
                            name:
                              description: Resource Name.
                              type: string
                              readOnly: true
                            kind:
                              description: Kind of resource.
                              type: string
                            type:
                              description: Resource type.
                              type: string
                              readOnly: true
                            properties:
                              description: CustomDnsSuffixConfiguration resource specific
                                properties
                              type: object
                              properties:
                                provisioningState:
                                  enum:
                                  - Succeeded
                                  - Failed
                                  - Degraded
                                  - InProgress
                                  type: string
                                  readOnly: true
                                  x-ms-enum:
                                    name: CustomDnsSuffixProvisioningState
                                    modelAsString: false
                                provisioningDetails:
                                  type: string
                                  readOnly: true
                                dnsSuffix:
                                  description: The default custom domain suffix to
                                    use for all sites deployed on the ASE.
                                  type: string
                                certificateUrl:
                                  description: The URL referencing the Azure Key Vault
                                    certificate secret that should be used as the
                                    default SSL/TLS certificate for sites with the
                                    custom domain suffix.
                                  type: string
                                keyVaultReferenceIdentity:
                                  description: The user-assigned identity to use for
                                    resolving the key vault certificate reference.
                                    If not specified, the system-assigned ASE identity
                                    will be used if available.
                                  type: string
                              x-ms-client-flatten: true
                          description: Azure proxy only resource. This resource is
                            not tracked by Azure Resource Manager.
                          x-ms-azure-resource: true
                        networkingConfiguration:
                          type: object
                          properties:
                            id:
                              description: Resource Id.
                              type: string
                              readOnly: true
                            name:
                              description: Resource Name.
                              type: string
                              readOnly: true
                            kind:
                              description: Kind of resource.
                              type: string
                            type:
                              description: Resource type.
                              type: string
                              readOnly: true
                            properties:
                              description: AseV3NetworkingConfiguration resource specific
                                properties
                              type: object
                              properties:
                                windowsOutboundIpAddresses:
                                  type: array
                                  items:
                                    type: string
                                  readOnly: true
                                linuxOutboundIpAddresses:
                                  type: array
                                  items:
                                    type: string
                                  readOnly: true
                                externalInboundIpAddresses:
                                  type: array
                                  items:
                                    type: string
                                  readOnly: true
                                internalInboundIpAddresses:
                                  type: array
                                  items:
                                    type: string
                                  readOnly: true
                                allowNewPrivateEndpointConnections:
                                  description: Property to enable and disable new
                                    private endpoint connection creation on ASE
                                  type: boolean
                                ftpEnabled:
                                  description: Property to enable and disable FTP
                                    on ASEV3
                                  type: boolean
                                remoteDebugEnabled:
                                  description: Property to enable and disable Remote
                                    Debug on ASEV3
                                  type: boolean
                                inboundIpAddressOverride:
                                  description: Customer provided Inbound IP Address.
                                    Only able to be set on Ase create.
                                  type: string
                              x-ms-client-flatten: true
                          description: Azure proxy only resource. This resource is
                            not tracked by Azure Resource Manager.
                          x-ms-azure-resource: true
                        upgradeAvailability:
                          description: Whether an upgrade is available for this App
                            Service Environment.
                          enum:
                          - None
                          - Ready
                          type: string
                          readOnly: true
                          x-ms-enum:
                            name: UpgradeAvailability
                            modelAsString: true
                            values:
                            - value: None
                              description: No upgrade is currently available for this
                                App Service Environment
                            - value: Ready
                              description: An upgrade is ready to be manually initiated
                                on this App Service Environment
                    x-ms-identifiers: []
                  hostingEnvironmentDeploymentInfos:
                    description: Available App Service Environments with basic information.
                    type: array
                    items:
                      description: Information needed to create resources on an App
                        Service Environment.
                      type: object
                      properties:
                        name:
                          description: Name of the App Service Environment.
                          type: string
                        location:
                          description: Location of the App Service Environment.
                          type: string
                    x-ms-identifiers:
                    - name
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/aseRegions:
    get:
      summary: Get a list of available ASE regions and its supported Skus.
      description: Description for get a list of available ASE regions and its supported
        Skus.
      operationId: ListAseRegions
      parameters:
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of ASE regions.
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource Id.
                          type: string
                          readOnly: true
                        name:
                          description: Resource Name.
                          type: string
                          readOnly: true
                        kind:
                          description: Kind of resource.
                          type: string
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: ASE region resource specific properties
                          type: object
                          properties:
                            displayName:
                              description: Display name for region.
                              type: string
                              readOnly: true
                            standard:
                              description: Is region standard.
                              type: boolean
                              readOnly: true
                            dedicatedHost:
                              description: Dedicated host enabled.
                              type: boolean
                              readOnly: true
                            zoneRedundant:
                              description: Zone redundant deployment enabled.
                              type: boolean
                              readOnly: true
                            availableSku:
                              description: Available Skus in region.
                              type: array
                              items:
                                type: string
                            availableOS:
                              description: Available OSs in region.
                              type: array
                              items:
                                type: string
                          x-ms-client-flatten: true
                      description: Azure proxy only resource. This resource is not
                        tracked by Azure Resource Manager.
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/geoRegions:
    get:
      summary: Get a list of available geographical regions.
      description: Description for Get a list of available geographical regions.
      operationId: ListGeoRegions
      parameters:
      - name: sku
        in: query
        description: Name of SKU used to filter the regions.
        x-ms-enum:
          name: SkuName
          modelAsString: true
        schema:
          type: string
          enum:
          - Free
          - Shared
          - Basic
          - Standard
          - Premium
          - Dynamic
          - Isolated
          - IsolatedV2
          - PremiumV2
          - PremiumV3
          - PremiumContainer
          - ElasticPremium
          - ElasticIsolated
          - FlexConsumption
      - name: linuxWorkersEnabled
        in: query
        description: Specify <code>true</code> if you want to filter to only regions
          that support Linux workers.
        schema:
          type: boolean
      - name: xenonWorkersEnabled
        in: query
        description: Specify <code>true</code> if you want to filter to only regions
          that support Xenon workers.
        schema:
          type: boolean
      - name: linuxDynamicWorkersEnabled
        in: query
        description: Specify <code>true</code> if you want to filter to only regions
          that support Linux Consumption Workers.
        schema:
          type: boolean
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of geographical regions.
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource Id.
                          type: string
                          readOnly: true
                        name:
                          description: Resource Name.
                          type: string
                          readOnly: true
                        kind:
                          description: Kind of resource.
                          type: string
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: GeoRegion resource specific properties
                          type: object
                          properties:
                            description:
                              description: Region description.
                              type: string
                              readOnly: true
                            displayName:
                              description: Display name for region.
                              type: string
                              readOnly: true
                            orgDomain:
                              description: Display name for region.
                              type: string
                              readOnly: true
                          x-ms-client-flatten: true
                      description: Azure proxy only resource. This resource is not
                        tracked by Azure Resource Manager.
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/listSitesAssignedToHostName:
    post:
      summary: List all apps that are assigned to a hostname.
      description: Description for List all apps that are assigned to a hostname.
      operationId: ListSiteIdentifiersAssignedToHostName
      parameters:
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Identifies an object.
              type: object
              properties:
                name:
                  description: Name of the object.
                  type: string
        description: Hostname information.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of identifiers.
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource Id.
                          type: string
                          readOnly: true
                        name:
                          description: Resource Name.
                          type: string
                          readOnly: true
                        kind:
                          description: Kind of resource.
                          type: string
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Identifier resource specific properties
                          type: object
                          properties:
                            id:
                              description: String representation of the identity.
                              type: string
                              x-ms-client-name: value
                          x-ms-client-flatten: true
                      description: Azure proxy only resource. This resource is not
                        tracked by Azure Resource Manager.
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/premieraddonoffers:
    get:
      summary: List all premier add-on offers.
      description: Description for List all premier add-on offers.
      operationId: ListPremierAddOnOffers
      parameters:
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of premier add-on offers.
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource Id.
                          type: string
                          readOnly: true
                        name:
                          description: Resource Name.
                          type: string
                          readOnly: true
                        kind:
                          description: Kind of resource.
                          type: string
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: PremierAddOnOffer resource specific properties
                          type: object
                          properties:
                            sku:
                              description: Premier add on SKU.
                              type: string
                            product:
                              description: Premier add on offer Product.
                              type: string
                            vendor:
                              description: Premier add on offer Vendor.
                              type: string
                            promoCodeRequired:
                              description: <code>true</code> if promotion code is
                                required; otherwise, <code>false</code>.
                              type: boolean
                            quota:
                              format: int32
                              description: Premier add on offer Quota.
                              type: integer
                            webHostingPlanRestrictions:
                              description: App Service plans this offer is restricted
                                to.
                              enum:
                              - None
                              - Free
                              - Shared
                              - Basic
                              - Standard
                              - Premium
                              type: string
                              x-ms-enum:
                                name: AppServicePlanRestrictions
                                modelAsString: false
                            privacyPolicyUrl:
                              description: Privacy policy URL.
                              type: string
                            legalTermsUrl:
                              description: Legal terms URL.
                              type: string
                            marketplacePublisher:
                              description: Marketplace publisher.
                              type: string
                            marketplaceOffer:
                              description: Marketplace offer.
                              type: string
                          x-ms-client-flatten: true
                      description: Azure proxy only resource. This resource is not
                        tracked by Azure Resource Manager.
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/skus:
    get:
      summary: List all SKUs.
      description: Description for List all SKUs.
      operationId: ListSkus
      parameters:
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of SKU information.
                type: object
                properties:
                  resourceType:
                    description: Resource type that this SKU applies to.
                    type: string
                  skus:
                    description: List of SKUs the subscription is able to use.
                    type: array
                    items:
                      description: A Global SKU Description.
                      type: object
                      properties:
                        name:
                          description: Name of the resource SKU.
                          type: string
                        tier:
                          description: Service Tier of the resource SKU.
                          type: string
                        size:
                          description: Size specifier of the resource SKU.
                          type: string
                        family:
                          description: Family code of the resource SKU.
                          type: string
                        capacity:
                          description: Min, max, and default scale values of the SKU.
                          type: object
                          properties:
                            minimum:
                              format: int32
                              description: Minimum number of workers for this App
                                Service plan SKU.
                              type: integer
                            maximum:
                              format: int32
                              description: Maximum number of workers for this App
                                Service plan SKU.
                              type: integer
                            elasticMaximum:
                              format: int32
                              description: Maximum number of Elastic workers for this
                                App Service plan SKU.
                              type: integer
                            default:
                              format: int32
                              description: Default number of workers for this App
                                Service plan SKU.
                              type: integer
                            scaleType:
                              description: Available scale configurations for an App
                                Service plan.
                              type: string
                        locations:
                          description: Locations of the SKU.
                          type: array
                          items:
                            type: string
                        capabilities:
                          description: Capabilities of the SKU, e.g., is traffic manager
                            enabled?
                          type: array
                          items:
                            description: Describes the capabilities/features allowed
                              for a specific SKU.
                            type: object
                            properties:
                              name:
                                description: Name of the SKU capability.
                                type: string
                              value:
                                description: Value of the SKU capability.
                                type: string
                              reason:
                                description: Reason of the SKU capability.
                                type: string
                          x-ms-identifiers:
                          - name
                    x-ms-identifiers:
                    - name
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
[...]
