openapi: 3.0.0
info:
  title: HybridNetworkManagementClient
  description: The resources in this swagger specification will be used to manage
    the hybrid network configuration group values.
  version: 2024-04-15
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/configurationGroupValues/{configurationGroupValueName}
  : delete:
      tags:
      - ConfigurationGroupValues
      operationId: ConfigurationGroupValues_Delete
      description: Deletes the specified hybrid configuration group value.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: configurationGroupValueName
        in: path
        required: true
        description: The name of the configuration group value.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      responses:
        '202':
          description: Accepted. Sets 'Deleting' provisioningState until the operation
            completes. Returns an operation URI that can be queried to find the current
            state of the operation.
          headers:
            Location:
              description: The Location header contains the URL where the status of
                the long running operation can be checked.
              schema:
                type: string
        '204':
          description: Request successful. Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - ConfigurationGroupValues
      operationId: ConfigurationGroupValues_Get
      description: Gets information about the specified hybrid configuration group
        values.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: configurationGroupValueName
        in: path
        required: true
        description: The name of the configuration group value.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      responses:
        '200':
          description: Request is successful. The operation returns the resulting
            hybrid configuration group resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: false
                    description: Hybrid configuration group value properties.
                    type: object
                    required:
                    - configurationType
                    discriminator:
                      propertyName: configurationType
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the site resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        - Converging
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      publisherName:
                        readOnly: true
                        type: string
                        description: The publisher name for the configuration group
                          schema.
                      publisherScope:
                        readOnly: true
                        description: The scope of the publisher.
                        type: string
                        enum:
                        - Unknown
                        - Private
                        x-ms-enum:
                          name: PublisherScope
                          modelAsString: true
                      configurationGroupSchemaName:
                        readOnly: true
                        type: string
                        description: The configuration group schema name.
                      configurationGroupSchemaOfferingLocation:
                        readOnly: true
                        type: string
                        description: The location of the configuration group schema
                          offering.
                      configurationGroupSchemaResourceReference:
                        description: The configuration group schema resource reference.
                        type: object
                        discriminator:
                          propertyName: idType
                        required:
                        - idType
                        properties:
                          idType:
                            description: The resource reference arm id type.
                            type: string
                            default: Open
                            enum:
                            - Unknown
                            - Open
                            - Secret
                            x-ms-enum:
                              name: idType
                              modelAsString: true
                      configurationType:
                        description: The value which indicates if configuration values
                          are secrets
                        type: string
                        enum:
                        - Unknown
                        - Secret
                        - Open
                        x-ms-enum:
                          name: ConfigurationGroupValueConfigurationType
                          modelAsString: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - ConfigurationGroupValues
      operationId: ConfigurationGroupValues_CreateOrUpdate
      description: Creates or updates a hybrid configuration group value.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: configurationGroupValueName
        in: path
        required: true
        description: The name of the configuration group value.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  x-ms-client-flatten: false
                  description: Hybrid configuration group value properties.
                  type: object
                  required:
                  - configurationType
                  discriminator:
                    propertyName: configurationType
                  properties:
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the site resource.
                      type: string
                      enum:
                      - Unknown
                      - Succeeded
                      - Accepted
                      - Deleting
                      - Failed
                      - Canceled
                      - Deleted
                      - Converging
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    publisherName:
                      readOnly: true
                      type: string
                      description: The publisher name for the configuration group
                        schema.
                    publisherScope:
                      readOnly: true
                      description: The scope of the publisher.
                      type: string
                      enum:
                      - Unknown
                      - Private
                      x-ms-enum:
                        name: PublisherScope
                        modelAsString: true
                    configurationGroupSchemaName:
                      readOnly: true
                      type: string
                      description: The configuration group schema name.
                    configurationGroupSchemaOfferingLocation:
                      readOnly: true
                      type: string
                      description: The location of the configuration group schema
                        offering.
                    configurationGroupSchemaResourceReference:
                      description: The configuration group schema resource reference.
                      type: object
                      discriminator:
                        propertyName: idType
                      required:
                      - idType
                      properties:
                        idType:
                          description: The resource reference arm id type.
                          type: string
                          default: Open
                          enum:
                          - Unknown
                          - Open
                          - Secret
                          x-ms-enum:
                            name: idType
                            modelAsString: true
                    configurationType:
                      description: The value which indicates if configuration values
                        are secrets
                      type: string
                      enum:
                      - Unknown
                      - Secret
                      - Open
                      x-ms-enum:
                        name: ConfigurationGroupValueConfigurationType
                        modelAsString: true
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters supplied to the create or update configuration group
          value resource.
        required: true
      responses:
        '200':
          description: Create or update operation has been completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: false
                    description: Hybrid configuration group value properties.
                    type: object
                    required:
                    - configurationType
                    discriminator:
                      propertyName: configurationType
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the site resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        - Converging
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      publisherName:
                        readOnly: true
                        type: string
                        description: The publisher name for the configuration group
                          schema.
                      publisherScope:
                        readOnly: true
                        description: The scope of the publisher.
                        type: string
                        enum:
                        - Unknown
                        - Private
                        x-ms-enum:
                          name: PublisherScope
                          modelAsString: true
                      configurationGroupSchemaName:
                        readOnly: true
                        type: string
                        description: The configuration group schema name.
                      configurationGroupSchemaOfferingLocation:
                        readOnly: true
                        type: string
                        description: The location of the configuration group schema
                          offering.
                      configurationGroupSchemaResourceReference:
                        description: The configuration group schema resource reference.
                        type: object
                        discriminator:
                          propertyName: idType
                        required:
                        - idType
                        properties:
                          idType:
                            description: The resource reference arm id type.
                            type: string
                            default: Open
                            enum:
                            - Unknown
                            - Open
                            - Secret
                            x-ms-enum:
                              name: idType
                              modelAsString: true
                      configurationType:
                        description: The value which indicates if configuration values
                          are secrets
                        type: string
                        enum:
                        - Unknown
                        - Secret
                        - Open
                        x-ms-enum:
                          name: ConfigurationGroupValueConfigurationType
                          modelAsString: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Create or update operation has been completed successfully.
            The header contains 'Azure-AsyncOperation' header pointing to an operations
            resource. The operation URI can be queried to find the current state of
            the operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: false
                    description: Hybrid configuration group value properties.
                    type: object
                    required:
                    - configurationType
                    discriminator:
                      propertyName: configurationType
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the site resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        - Converging
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      publisherName:
                        readOnly: true
                        type: string
                        description: The publisher name for the configuration group
                          schema.
                      publisherScope:
                        readOnly: true
                        description: The scope of the publisher.
                        type: string
                        enum:
                        - Unknown
                        - Private
                        x-ms-enum:
                          name: PublisherScope
                          modelAsString: true
                      configurationGroupSchemaName:
                        readOnly: true
                        type: string
                        description: The configuration group schema name.
                      configurationGroupSchemaOfferingLocation:
                        readOnly: true
                        type: string
                        description: The location of the configuration group schema
                          offering.
                      configurationGroupSchemaResourceReference:
                        description: The configuration group schema resource reference.
                        type: object
                        discriminator:
                          propertyName: idType
                        required:
                        - idType
                        properties:
                          idType:
                            description: The resource reference arm id type.
                            type: string
                            default: Open
                            enum:
                            - Unknown
                            - Open
                            - Secret
                            x-ms-enum:
                              name: idType
                              modelAsString: true
                      configurationType:
                        description: The value which indicates if configuration values
                          are secrets
                        type: string
                        enum:
                        - Unknown
                        - Secret
                        - Open
                        x-ms-enum:
                          name: ConfigurationGroupValueConfigurationType
                          modelAsString: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    patch:
      tags:
      - ConfigurationGroupValues
      operationId: ConfigurationGroupValues_UpdateTags
      description: Updates a hybrid configuration group tags.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: configurationGroupValueName
        in: path
        required: true
        description: The name of the configuration group value.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
              description: Tags object for patch operations.
        description: Parameters supplied to update configuration group values tags.
        required: true
      responses:
        '200':
          description: Update is successful. The operation returns the resulting hybrid
            configuration group resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: false
                    description: Hybrid configuration group value properties.
                    type: object
                    required:
                    - configurationType
                    discriminator:
                      propertyName: configurationType
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the site resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        - Converging
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      publisherName:
                        readOnly: true
                        type: string
                        description: The publisher name for the configuration group
                          schema.
                      publisherScope:
                        readOnly: true
                        description: The scope of the publisher.
                        type: string
                        enum:
                        - Unknown
                        - Private
                        x-ms-enum:
                          name: PublisherScope
                          modelAsString: true
                      configurationGroupSchemaName:
                        readOnly: true
                        type: string
                        description: The configuration group schema name.
                      configurationGroupSchemaOfferingLocation:
                        readOnly: true
                        type: string
                        description: The location of the configuration group schema
                          offering.
                      configurationGroupSchemaResourceReference:
                        description: The configuration group schema resource reference.
                        type: object
                        discriminator:
                          propertyName: idType
                        required:
                        - idType
                        properties:
                          idType:
                            description: The resource reference arm id type.
                            type: string
                            default: Open
                            enum:
                            - Unknown
                            - Open
                            - Secret
                            x-ms-enum:
                              name: idType
                              modelAsString: true
                      configurationType:
                        description: The value which indicates if configuration values
                          are secrets
                        type: string
                        enum:
                        - Unknown
                        - Secret
                        - Open
                        x-ms-enum:
                          name: ConfigurationGroupValueConfigurationType
                          modelAsString: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/configurationGroupValues:
    get:
      tags:
      - ConfigurationGroupValues
      operationId: ConfigurationGroupValues_ListBySubscription
      description: Lists all sites in the configuration group value in a subscription.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Request is successful. The operation returns a list of hybrid
            network site resources.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          x-ms-client-flatten: false
                          description: Hybrid configuration group value properties.
                          type: object
                          required:
                          - configurationType
                          discriminator:
                            propertyName: configurationType
                          properties:
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the site resource.
                              type: string
                              enum:
                              - Unknown
                              - Succeeded
                              - Accepted
                              - Deleting
                              - Failed
                              - Canceled
                              - Deleted
                              - Converging
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            publisherName:
                              readOnly: true
                              type: string
                              description: The publisher name for the configuration
                                group schema.
                            publisherScope:
                              readOnly: true
                              description: The scope of the publisher.
                              type: string
                              enum:
                              - Unknown
                              - Private
                              x-ms-enum:
                                name: PublisherScope
                                modelAsString: true
                            configurationGroupSchemaName:
                              readOnly: true
                              type: string
                              description: The configuration group schema name.
                            configurationGroupSchemaOfferingLocation:
                              readOnly: true
                              type: string
                              description: The location of the configuration group
                                schema offering.
                            configurationGroupSchemaResourceReference:
                              description: The configuration group schema resource
                                reference.
                              type: object
                              discriminator:
                                propertyName: idType
                              required:
                              - idType
                              properties:
                                idType:
                                  description: The resource reference arm id type.
                                  type: string
                                  default: Open
                                  enum:
                                  - Unknown
                                  - Open
                                  - Secret
                                  x-ms-enum:
                                    name: idType
                                    modelAsString: true
                            configurationType:
                              description: The value which indicates if configuration
                                values are secrets
                              type: string
                              enum:
                              - Unknown
                              - Secret
                              - Open
                              x-ms-enum:
                                name: ConfigurationGroupValueConfigurationType
                                modelAsString: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: A list of hybrid configurationGroups.
                  nextLink:
                    type: string
                    readOnly: true
                    description: The URL to get the next set of results.
                description: Response for hybrid configurationGroups API service call.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/configurationGroupValues
  : get:
      tags:
      - ConfigurationGroupValues
      operationId: ConfigurationGroupValues_ListByResourceGroup
      description: Lists all the hybrid network configurationGroupValues in a resource
        group.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Request is successful. The operation returns a list of hybrid
            configuration group value resources.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          x-ms-client-flatten: false
                          description: Hybrid configuration group value properties.
                          type: object
                          required:
                          - configurationType
                          discriminator:
                            propertyName: configurationType
                          properties:
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the site resource.
                              type: string
                              enum:
                              - Unknown
                              - Succeeded
                              - Accepted
                              - Deleting
                              - Failed
                              - Canceled
                              - Deleted
                              - Converging
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            publisherName:
                              readOnly: true
                              type: string
                              description: The publisher name for the configuration
                                group schema.
                            publisherScope:
                              readOnly: true
                              description: The scope of the publisher.
                              type: string
                              enum:
                              - Unknown
                              - Private
                              x-ms-enum:
                                name: PublisherScope
                                modelAsString: true
                            configurationGroupSchemaName:
                              readOnly: true
                              type: string
                              description: The configuration group schema name.
                            configurationGroupSchemaOfferingLocation:
                              readOnly: true
                              type: string
                              description: The location of the configuration group
                                schema offering.
                            configurationGroupSchemaResourceReference:
                              description: The configuration group schema resource
                                reference.
                              type: object
                              discriminator:
                                propertyName: idType
                              required:
                              - idType
                              properties:
                                idType:
                                  description: The resource reference arm id type.
                                  type: string
                                  default: Open
                                  enum:
                                  - Unknown
                                  - Open
                                  - Secret
                                  x-ms-enum:
                                    name: idType
                                    modelAsString: true
                            configurationType:
                              description: The value which indicates if configuration
                                values are secrets
                              type: string
                              enum:
                              - Unknown
                              - Secret
                              - Open
                              x-ms-enum:
                                name: ConfigurationGroupValueConfigurationType
                                modelAsString: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: A list of hybrid configurationGroups.
                  nextLink:
                    type: string
                    readOnly: true
                    description: The URL to get the next set of results.
                description: Response for hybrid configurationGroups API service call.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription.
      required: true
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    ConfigurationGroupValueNameParameter:
      name: configurationGroupValueName
      in: path
      required: true
      description: The name of the configuration group value.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    configurationGroupValue:
      type: object
      properties:
        id:
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          type: object
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
        location:
          type: string
          description: The geo-location where the resource lives
          x-ms-mutability:
          - read
          - create
        properties:
          x-ms-client-flatten: false
          description: Hybrid configuration group value properties.
          type: object
          required:
          - configurationType
          discriminator:
            propertyName: configurationType
          properties:
            provisioningState:
              readOnly: true
              description: The provisioning state of the site resource.
              type: string
              enum:
              - Unknown
              - Succeeded
              - Accepted
              - Deleting
              - Failed
              - Canceled
              - Deleted
              - Converging
              x-ms-enum:
                name: ProvisioningState
                modelAsString: true
            publisherName:
              readOnly: true
              type: string
              description: The publisher name for the configuration group schema.
            publisherScope:
              readOnly: true
              description: The scope of the publisher.
              type: string
              enum:
              - Unknown
              - Private
              x-ms-enum:
                name: PublisherScope
                modelAsString: true
            configurationGroupSchemaName:
              readOnly: true
              type: string
              description: The configuration group schema name.
            configurationGroupSchemaOfferingLocation:
              readOnly: true
              type: string
              description: The location of the configuration group schema offering.
            configurationGroupSchemaResourceReference:
              description: The configuration group schema resource reference.
              type: object
              discriminator:
                propertyName: idType
              required:
              - idType
              properties:
                idType:
                  description: The resource reference arm id type.
                  type: string
                  default: Open
                  enum:
                  - Unknown
                  - Open
                  - Secret
                  x-ms-enum:
                    name: idType
                    modelAsString: true
            configurationType:
              description: The value which indicates if configuration values are secrets
              type: string
              enum:
              - Unknown
              - Secret
              - Open
              x-ms-enum:
                name: ConfigurationGroupValueConfigurationType
                modelAsString: true
      required:
      - location
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    configurationGroupValuePropertiesFormat:
      type: object
      description: Hybrid configuration group value properties.
      required:
      - configurationType
      discriminator:
        propertyName: configurationType
      properties:
        provisioningState:
          readOnly: true
          description: The provisioning state of the site resource.
          type: string
          enum:
          - Unknown
          - Succeeded
          - Accepted
          - Deleting
          - Failed
          - Canceled
          - Deleted
          - Converging
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
        publisherName:
          readOnly: true
          type: string
          description: The publisher name for the configuration group schema.
        publisherScope:
          readOnly: true
          description: The scope of the publisher.
          type: string
          enum:
          - Unknown
          - Private
          x-ms-enum:
            name: PublisherScope
            modelAsString: true
        configurationGroupSchemaName:
          readOnly: true
          type: string
          description: The configuration group schema name.
        configurationGroupSchemaOfferingLocation:
          readOnly: true
          type: string
          description: The location of the configuration group schema offering.
        configurationGroupSchemaResourceReference:
          description: The configuration group schema resource reference.
          type: object
          discriminator:
            propertyName: idType
          required:
          - idType
          properties:
            idType:
              description: The resource reference arm id type.
              type: string
              default: Open
              enum:
              - Unknown
              - Open
              - Secret
              x-ms-enum:
                name: idType
                modelAsString: true
        configurationType:
          description: The value which indicates if configuration values are secrets
          type: string
          enum:
          - Unknown
          - Secret
          - Open
          x-ms-enum:
            name: ConfigurationGroupValueConfigurationType
            modelAsString: true
    ConfigurationValueWithSecrets:
      type: object
      properties:
        provisioningState:
          readOnly: true
          description: The provisioning state of the site resource.
          type: string
[...]
