openapi: 3.0.0
info:
  title: HybridNetworkManagementClient
  description: The resources in this swagger specification will be used to manage
    the network function deployment in a Hybrid Network resource provider.
  version: 2024-04-15
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/networkFunctions/{networkFunctionName}
  : delete:
      tags:
      - NetworkFunctions
      operationId: NetworkFunctions_Delete
      description: Deletes the specified network function resource.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: networkFunctionName
        in: path
        required: true
        description: The name of the network function.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[^\s]*[^\s]+[^\s]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The operation is completed successfully.
        '202':
          description: Accepted. The header contains 'Azure-AsyncOperation' header
            pointing to an operations resource. The operation URI can be queried to
            find the current state of the operation.
          headers:
            Location:
              description: The Location header contains the URL where the status of
                the long running operation can be checked.
              schema:
                type: string
        '204':
          description: Request is successful. Resource with the specified name does
            not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - NetworkFunctions
      operationId: NetworkFunctions_Get
      description: Gets information about the specified network function resource.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: networkFunctionName
        in: path
        required: true
        description: The name of the network function resource.
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Operation is successful. The operation returns the resulting
            network function resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: false
                    description: Network function properties.
                    type: object
                    required:
                    - configurationType
                    discriminator:
                      propertyName: configurationType
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the network function
                          resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        - Converging
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      publisherName:
                        type: string
                        description: The publisher name for the network function.
                      publisherScope:
                        description: The scope of the publisher.
                        type: string
                        enum:
                        - Unknown
                        - Private
                        x-ms-enum:
                          name: PublisherScope
                          modelAsString: true
                      networkFunctionDefinitionGroupName:
                        type: string
                        description: The network function definition group name for
                          the network function.
                      networkFunctionDefinitionVersion:
                        type: string
                        description: The network function definition version for the
                          network function.
                      networkFunctionDefinitionOfferingLocation:
                        type: string
                        description: The location of the network function definition
                          offering.
                      networkFunctionDefinitionVersionResourceReference:
                        description: The network function definition version resource
                          reference.
                        type: object
                        discriminator:
                          propertyName: idType
                        required:
                        - idType
                        properties:
                          idType:
                            description: The resource reference arm id type.
                            type: string
                            default: Open
                            enum:
                            - Unknown
                            - Open
                            - Secret
                            x-ms-enum:
                              name: idType
                              modelAsString: true
                      nfviType:
                        description: The nfvi type for the network function.
                        type: string
                        enum:
                        - Unknown
                        - AzureArcKubernetes
                        - AzureCore
                        - AzureOperatorNexus
                        x-ms-enum:
                          name: NFVIType
                          modelAsString: true
                      nfviId:
                        type: string
                        description: The nfviId for the network function.
                      allowSoftwareUpdate:
                        type: boolean
                        description: Indicates if software updates are allowed during
                          deployment.
                      configurationType:
                        description: The value which indicates if NF  values are secrets
                        type: string
                        enum:
                        - Unknown
                        - Secret
                        - Open
                        x-ms-enum:
                          name: NetworkFunctionConfigurationType
                          modelAsString: true
                      roleOverrideValues:
                        type: array
                        items:
                          type: string
                          description: The JSON-serialized role configuration override
                            values.
                        description: The role configuration override values from the
                          user.
                  etag:
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  identity:
                    description: The managed identity of the network function.
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - NetworkFunctions
      operationId: NetworkFunctions_CreateOrUpdate
      description: Creates or updates a network function resource.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: networkFunctionName
        in: path
        required: true
        description: Resource name for the network function resource.
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  x-ms-client-flatten: false
                  description: Network function properties.
                  type: object
                  required:
                  - configurationType
                  discriminator:
                    propertyName: configurationType
                  properties:
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the network function
                        resource.
                      type: string
                      enum:
                      - Unknown
                      - Succeeded
                      - Accepted
                      - Deleting
                      - Failed
                      - Canceled
                      - Deleted
                      - Converging
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    publisherName:
                      type: string
                      description: The publisher name for the network function.
                    publisherScope:
                      description: The scope of the publisher.
                      type: string
                      enum:
                      - Unknown
                      - Private
                      x-ms-enum:
                        name: PublisherScope
                        modelAsString: true
                    networkFunctionDefinitionGroupName:
                      type: string
                      description: The network function definition group name for
                        the network function.
                    networkFunctionDefinitionVersion:
                      type: string
                      description: The network function definition version for the
                        network function.
                    networkFunctionDefinitionOfferingLocation:
                      type: string
                      description: The location of the network function definition
                        offering.
                    networkFunctionDefinitionVersionResourceReference:
                      description: The network function definition version resource
                        reference.
                      type: object
                      discriminator:
                        propertyName: idType
                      required:
                      - idType
                      properties:
                        idType:
                          description: The resource reference arm id type.
                          type: string
                          default: Open
                          enum:
                          - Unknown
                          - Open
                          - Secret
                          x-ms-enum:
                            name: idType
                            modelAsString: true
                    nfviType:
                      description: The nfvi type for the network function.
                      type: string
                      enum:
                      - Unknown
                      - AzureArcKubernetes
                      - AzureCore
                      - AzureOperatorNexus
                      x-ms-enum:
                        name: NFVIType
                        modelAsString: true
                    nfviId:
                      type: string
                      description: The nfviId for the network function.
                    allowSoftwareUpdate:
                      type: boolean
                      description: Indicates if software updates are allowed during
                        deployment.
                    configurationType:
                      description: The value which indicates if NF  values are secrets
                      type: string
                      enum:
                      - Unknown
                      - Secret
                      - Open
                      x-ms-enum:
                        name: NetworkFunctionConfigurationType
                        modelAsString: true
                    roleOverrideValues:
                      type: array
                      items:
                        type: string
                        description: The JSON-serialized role configuration override
                          values.
                      description: The role configuration override values from the
                        user.
                etag:
                  type: string
                  description: A unique read-only string that changes whenever the
                    resource is updated.
                identity:
                  description: The managed identity of the network function.
                  type: object
                  properties:
                    principalId:
                      type: string
                      format: uuid
                      description: The service principal ID of the system assigned
                        identity. This property will only be provided for a system
                        assigned identity.
                      readOnly: true
                    tenantId:
                      type: string
                      format: uuid
                      description: The tenant ID of the system assigned identity.
                        This property will only be provided for a system assigned
                        identity.
                      readOnly: true
                    type:
                      type: string
                      description: Type of managed service identity (where both SystemAssigned
                        and UserAssigned types are allowed).
                      enum:
                      - None
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned,UserAssigned
                      x-ms-enum:
                        name: ManagedServiceIdentityType
                        modelAsString: true
                    userAssignedIdentities:
                      type: object
                      title: User-Assigned Identities
                      description: 'The set of user assigned identities associated
                        with the resource. The userAssignedIdentities dictionary keys
                        will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                        The dictionary values can be empty objects ({}) in requests.'
                      additionalProperties:
                        type: object
                        description: User assigned identity properties
                        properties:
                          principalId:
                            type: string
                            format: uuid
                            description: The principal ID of the assigned identity.
                            readOnly: true
                          clientId:
                            type: string
                            format: uuid
                            description: The client ID of the assigned identity.
                            readOnly: true
                  required:
                  - type
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters supplied in the body to the create or update network
          function operation.
        required: true
      responses:
        '200':
          description: Create or update operation has been completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: false
                    description: Network function properties.
                    type: object
                    required:
                    - configurationType
                    discriminator:
                      propertyName: configurationType
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the network function
                          resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        - Converging
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      publisherName:
                        type: string
                        description: The publisher name for the network function.
                      publisherScope:
                        description: The scope of the publisher.
                        type: string
                        enum:
                        - Unknown
                        - Private
                        x-ms-enum:
                          name: PublisherScope
                          modelAsString: true
                      networkFunctionDefinitionGroupName:
                        type: string
                        description: The network function definition group name for
                          the network function.
                      networkFunctionDefinitionVersion:
                        type: string
                        description: The network function definition version for the
                          network function.
                      networkFunctionDefinitionOfferingLocation:
                        type: string
                        description: The location of the network function definition
                          offering.
                      networkFunctionDefinitionVersionResourceReference:
                        description: The network function definition version resource
                          reference.
                        type: object
                        discriminator:
                          propertyName: idType
                        required:
                        - idType
                        properties:
                          idType:
                            description: The resource reference arm id type.
                            type: string
                            default: Open
                            enum:
                            - Unknown
                            - Open
                            - Secret
                            x-ms-enum:
                              name: idType
                              modelAsString: true
                      nfviType:
                        description: The nfvi type for the network function.
                        type: string
                        enum:
                        - Unknown
                        - AzureArcKubernetes
                        - AzureCore
                        - AzureOperatorNexus
                        x-ms-enum:
                          name: NFVIType
                          modelAsString: true
                      nfviId:
                        type: string
                        description: The nfviId for the network function.
                      allowSoftwareUpdate:
                        type: boolean
                        description: Indicates if software updates are allowed during
                          deployment.
                      configurationType:
                        description: The value which indicates if NF  values are secrets
                        type: string
                        enum:
                        - Unknown
                        - Secret
                        - Open
                        x-ms-enum:
                          name: NetworkFunctionConfigurationType
                          modelAsString: true
                      roleOverrideValues:
                        type: array
                        items:
                          type: string
                          description: The JSON-serialized role configuration override
                            values.
                        description: The role configuration override values from the
                          user.
                  etag:
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  identity:
                    description: The managed identity of the network function.
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Create or update operation has been completed successfully.
            The header contains 'Azure-AsyncOperation' header pointing to an operation
            resource. The operation URI can be queried to find the current state of
            the operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: false
                    description: Network function properties.
                    type: object
                    required:
                    - configurationType
                    discriminator:
                      propertyName: configurationType
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the network function
                          resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        - Converging
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      publisherName:
                        type: string
                        description: The publisher name for the network function.
                      publisherScope:
                        description: The scope of the publisher.
                        type: string
                        enum:
                        - Unknown
                        - Private
                        x-ms-enum:
                          name: PublisherScope
                          modelAsString: true
                      networkFunctionDefinitionGroupName:
                        type: string
                        description: The network function definition group name for
                          the network function.
                      networkFunctionDefinitionVersion:
                        type: string
                        description: The network function definition version for the
                          network function.
                      networkFunctionDefinitionOfferingLocation:
                        type: string
                        description: The location of the network function definition
                          offering.
                      networkFunctionDefinitionVersionResourceReference:
                        description: The network function definition version resource
                          reference.
                        type: object
                        discriminator:
                          propertyName: idType
                        required:
                        - idType
                        properties:
                          idType:
                            description: The resource reference arm id type.
                            type: string
                            default: Open
                            enum:
                            - Unknown
                            - Open
                            - Secret
                            x-ms-enum:
                              name: idType
                              modelAsString: true
                      nfviType:
                        description: The nfvi type for the network function.
                        type: string
                        enum:
                        - Unknown
                        - AzureArcKubernetes
                        - AzureCore
                        - AzureOperatorNexus
                        x-ms-enum:
                          name: NFVIType
                          modelAsString: true
                      nfviId:
                        type: string
                        description: The nfviId for the network function.
                      allowSoftwareUpdate:
                        type: boolean
                        description: Indicates if software updates are allowed during
                          deployment.
                      configurationType:
                        description: The value which indicates if NF  values are secrets
                        type: string
                        enum:
                        - Unknown
                        - Secret
                        - Open
                        x-ms-enum:
                          name: NetworkFunctionConfigurationType
                          modelAsString: true
                      roleOverrideValues:
                        type: array
                        items:
                          type: string
                          description: The JSON-serialized role configuration override
                            values.
                        description: The role configuration override values from the
                          user.
                  etag:
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  identity:
                    description: The managed identity of the network function.
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    patch:
      tags:
      - NetworkFunctions
      operationId: NetworkFunctions_UpdateTags
      description: Updates the tags for the network function resource.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: networkFunctionName
        in: path
        required: true
        description: Resource name for the network function resource.
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
              description: Tags object for patch operations.
        description: Parameters supplied to the update network function tags operation.
        required: true
      responses:
        '200':
          description: Update is completed successfully. The operation returns the
            resulting network function resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: false
                    description: Network function properties.
                    type: object
                    required:
                    - configurationType
                    discriminator:
                      propertyName: configurationType
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the network function
                          resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        - Converging
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      publisherName:
                        type: string
                        description: The publisher name for the network function.
                      publisherScope:
                        description: The scope of the publisher.
                        type: string
                        enum:
                        - Unknown
                        - Private
                        x-ms-enum:
                          name: PublisherScope
                          modelAsString: true
                      networkFunctionDefinitionGroupName:
                        type: string
                        description: The network function definition group name for
                          the network function.
                      networkFunctionDefinitionVersion:
                        type: string
                        description: The network function definition version for the
                          network function.
                      networkFunctionDefinitionOfferingLocation:
                        type: string
                        description: The location of the network function definition
                          offering.
                      networkFunctionDefinitionVersionResourceReference:
                        description: The network function definition version resource
                          reference.
                        type: object
                        discriminator:
                          propertyName: idType
                        required:
                        - idType
                        properties:
                          idType:
                            description: The resource reference arm id type.
                            type: string
                            default: Open
                            enum:
                            - Unknown
                            - Open
                            - Secret
                            x-ms-enum:
                              name: idType
                              modelAsString: true
                      nfviType:
                        description: The nfvi type for the network function.
                        type: string
                        enum:
                        - Unknown
                        - AzureArcKubernetes
                        - AzureCore
                        - AzureOperatorNexus
                        x-ms-enum:
                          name: NFVIType
                          modelAsString: true
                      nfviId:
                        type: string
                        description: The nfviId for the network function.
                      allowSoftwareUpdate:
                        type: boolean
                        description: Indicates if software updates are allowed during
                          deployment.
                      configurationType:
                        description: The value which indicates if NF  values are secrets
                        type: string
                        enum:
                        - Unknown
                        - Secret
                        - Open
                        x-ms-enum:
                          name: NetworkFunctionConfigurationType
                          modelAsString: true
                      roleOverrideValues:
                        type: array
                        items:
                          type: string
                          description: The JSON-serialized role configuration override
                            values.
                        description: The role configuration override values from the
                          user.
                  etag:
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  identity:
                    description: The managed identity of the network function.
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/networkFunctions:
    get:
      description: Lists all the network functions in a subscription.
      operationId: NetworkFunctions_ListBySubscription
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Request is successful. The operation returns a list of network
            function resources.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          x-ms-client-flatten: false
                          description: Network function properties.
                          type: object
                          required:
                          - configurationType
                          discriminator:
                            propertyName: configurationType
                          properties:
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the network function
                                resource.
                              type: string
                              enum:
                              - Unknown
                              - Succeeded
                              - Accepted
                              - Deleting
                              - Failed
                              - Canceled
                              - Deleted
                              - Converging
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            publisherName:
                              type: string
                              description: The publisher name for the network function.
                            publisherScope:
                              description: The scope of the publisher.
                              type: string
                              enum:
                              - Unknown
                              - Private
                              x-ms-enum:
                                name: PublisherScope
                                modelAsString: true
                            networkFunctionDefinitionGroupName:
                              type: string
                              description: The network function definition group name
                                for the network function.
                            networkFunctionDefinitionVersion:
                              type: string
                              description: The network function definition version
                                for the network function.
                            networkFunctionDefinitionOfferingLocation:
                              type: string
                              description: The location of the network function definition
                                offering.
                            networkFunctionDefinitionVersionResourceReference:
                              description: The network function definition version
                                resource reference.
                              type: object
                              discriminator:
                                propertyName: idType
                              required:
                              - idType
                              properties:
                                idType:
                                  description: The resource reference arm id type.
                                  type: string
                                  default: Open
                                  enum:
                                  - Unknown
                                  - Open
                                  - Secret
                                  x-ms-enum:
                                    name: idType
                                    modelAsString: true
                            nfviType:
                              description: The nfvi type for the network function.
                              type: string
                              enum:
                              - Unknown
                              - AzureArcKubernetes
                              - AzureCore
                              - AzureOperatorNexus
                              x-ms-enum:
                                name: NFVIType
                                modelAsString: true
                            nfviId:
                              type: string
                              description: The nfviId for the network function.
                            allowSoftwareUpdate:
                              type: boolean
                              description: Indicates if software updates are allowed
                                during deployment.
                            configurationType:
                              description: The value which indicates if NF  values
                                are secrets
                              type: string
                              enum:
                              - Unknown
                              - Secret
                              - Open
                              x-ms-enum:
                                name: NetworkFunctionConfigurationType
                                modelAsString: true
                            roleOverrideValues:
                              type: array
                              items:
                                type: string
                                description: The JSON-serialized role configuration
                                  override values.
                              description: The role configuration override values
                                from the user.
                        etag:
                          type: string
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                        identity:
                          description: The managed identity of the network function.
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                          required:
                          - type
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: A list of network function resources in a subscription
                      or resource group.
                  nextLink:
                    type: string
                    readOnly: true
                    description: The URL to get the next set of results.
                description: Response for network function API service call.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
[...]
