openapi: 3.0.0
info:
  title: HybridNetworkManagementClient
  description: The resources in this swagger specification will be used to manage
    the hybrid network site network service.
  version: 2024-04-15
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/siteNetworkServices/{siteNetworkServiceName}
  : delete:
      tags:
      - SiteNetworkServices
      operationId: SiteNetworkServices_Delete
      description: Deletes the specified site network service.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: siteNetworkServiceName
        in: path
        required: true
        description: The name of the site network service.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      responses:
        '202':
          description: Accepted. Sets 'Deleting' provisioningState until the operation
            completes. Returns an operation URI that can be queried to find the current
            state of the operation.
          headers:
            Location:
              description: The Location header contains the URL where the status of
                the long running operation can be checked.
              schema:
                type: string
        '204':
          description: Request successful. Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - SiteNetworkServices
      operationId: SiteNetworkServices_Get
      description: Gets information about the specified site network service.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: siteNetworkServiceName
        in: path
        required: true
        description: The name of the site network service.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      responses:
        '200':
          description: Request successful. The operation returns the resulting network
            site resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: false
                    description: Site network service properties.
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the site network service
                          resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        - Converging
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      managedResourceGroupConfiguration:
                        description: Managed resource group configuration.
                        type: object
                        properties:
                          name:
                            type: string
                            description: Managed resource group name.
                          location:
                            type: string
                            description: Managed resource group location.
                      siteReference:
                        description: The site details
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      publisherName:
                        readOnly: true
                        type: string
                        description: The publisher name for the site network service.
                      publisherScope:
                        readOnly: true
                        description: The scope of the publisher.
                        type: string
                        enum:
                        - Unknown
                        - Private
                        x-ms-enum:
                          name: PublisherScope
                          modelAsString: true
                      networkServiceDesignGroupName:
                        readOnly: true
                        type: string
                        description: The network service design group name for the
                          site network service.
                      networkServiceDesignVersionName:
                        readOnly: true
                        type: string
                        description: The network service design version for the site
                          network service.
                      networkServiceDesignVersionOfferingLocation:
                        readOnly: true
                        type: string
                        description: The location of the network service design offering.
                      networkServiceDesignVersionResourceReference:
                        description: The network service design version resource reference.
                        type: object
                        discriminator:
                          propertyName: idType
                        required:
                        - idType
                        properties:
                          idType:
                            description: The resource reference arm id type.
                            type: string
                            default: Open
                            enum:
                            - Unknown
                            - Open
                            - Secret
                            x-ms-enum:
                              name: idType
                              modelAsString: true
                      desiredStateConfigurationGroupValueReferences:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another resource.
                          x-ms-azure-resource: true
                        description: The goal state of the site network service resource.
                          This has references to the configuration group value objects
                          that describe the desired state of the site network service.
                      lastStateNetworkServiceDesignVersionName:
                        readOnly: true
                        type: string
                        description: The network service design version for the site
                          network service.
                      lastStateConfigurationGroupValueReferences:
                        type: object
                        readOnly: true
                        additionalProperties:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another resource.
                          x-ms-azure-resource: true
                        description: The last state of the site network service resource.
                  identity:
                    description: The managed identity of the Site network service,
                      if configured.
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                  sku:
                    description: Sku of the site network service.
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of this Sku
                        enum:
                        - Basic
                        - Standard
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                      tier:
                        description: The SKU tier based on the SKU name.
                        enum:
                        - Basic
                        - Standard
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: true
                    required:
                    - name
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - SiteNetworkServices
      operationId: SiteNetworkServices_CreateOrUpdate
      description: Creates or updates a network site.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: siteNetworkServiceName
        in: path
        required: true
        description: The name of the site network service.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  x-ms-client-flatten: false
                  description: Site network service properties.
                  type: object
                  properties:
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the site network service
                        resource.
                      type: string
                      enum:
                      - Unknown
                      - Succeeded
                      - Accepted
                      - Deleting
                      - Failed
                      - Canceled
                      - Deleted
                      - Converging
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    managedResourceGroupConfiguration:
                      description: Managed resource group configuration.
                      type: object
                      properties:
                        name:
                          type: string
                          description: Managed resource group name.
                        location:
                          type: string
                          description: Managed resource group location.
                    siteReference:
                      description: The site details
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      x-ms-azure-resource: true
                    publisherName:
                      readOnly: true
                      type: string
                      description: The publisher name for the site network service.
                    publisherScope:
                      readOnly: true
                      description: The scope of the publisher.
                      type: string
                      enum:
                      - Unknown
                      - Private
                      x-ms-enum:
                        name: PublisherScope
                        modelAsString: true
                    networkServiceDesignGroupName:
                      readOnly: true
                      type: string
                      description: The network service design group name for the site
                        network service.
                    networkServiceDesignVersionName:
                      readOnly: true
                      type: string
                      description: The network service design version for the site
                        network service.
                    networkServiceDesignVersionOfferingLocation:
                      readOnly: true
                      type: string
                      description: The location of the network service design offering.
                    networkServiceDesignVersionResourceReference:
                      description: The network service design version resource reference.
                      type: object
                      discriminator:
                        propertyName: idType
                      required:
                      - idType
                      properties:
                        idType:
                          description: The resource reference arm id type.
                          type: string
                          default: Open
                          enum:
                          - Unknown
                          - Open
                          - Secret
                          x-ms-enum:
                            name: idType
                            modelAsString: true
                    desiredStateConfigurationGroupValueReferences:
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        description: Reference to another resource.
                        x-ms-azure-resource: true
                      description: The goal state of the site network service resource.
                        This has references to the configuration group value objects
                        that describe the desired state of the site network service.
                    lastStateNetworkServiceDesignVersionName:
                      readOnly: true
                      type: string
                      description: The network service design version for the site
                        network service.
                    lastStateConfigurationGroupValueReferences:
                      type: object
                      readOnly: true
                      additionalProperties:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        description: Reference to another resource.
                        x-ms-azure-resource: true
                      description: The last state of the site network service resource.
                identity:
                  description: The managed identity of the Site network service, if
                    configured.
                  type: object
                  properties:
                    principalId:
                      type: string
                      format: uuid
                      description: The service principal ID of the system assigned
                        identity. This property will only be provided for a system
                        assigned identity.
                      readOnly: true
                    tenantId:
                      type: string
                      format: uuid
                      description: The tenant ID of the system assigned identity.
                        This property will only be provided for a system assigned
                        identity.
                      readOnly: true
                    type:
                      type: string
                      description: Type of managed service identity (where both SystemAssigned
                        and UserAssigned types are allowed).
                      enum:
                      - None
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned,UserAssigned
                      x-ms-enum:
                        name: ManagedServiceIdentityType
                        modelAsString: true
                    userAssignedIdentities:
                      type: object
                      title: User-Assigned Identities
                      description: 'The set of user assigned identities associated
                        with the resource. The userAssignedIdentities dictionary keys
                        will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                        The dictionary values can be empty objects ({}) in requests.'
                      additionalProperties:
                        type: object
                        description: User assigned identity properties
                        properties:
                          principalId:
                            type: string
                            format: uuid
                            description: The principal ID of the assigned identity.
                            readOnly: true
                          clientId:
                            type: string
                            format: uuid
                            description: The client ID of the assigned identity.
                            readOnly: true
                  required:
                  - type
                sku:
                  description: Sku of the site network service.
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of this Sku
                      enum:
                      - Basic
                      - Standard
                      x-ms-enum:
                        name: SkuName
                        modelAsString: true
                    tier:
                      description: The SKU tier based on the SKU name.
                      enum:
                      - Basic
                      - Standard
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: SkuTier
                        modelAsString: true
                  required:
                  - name
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters supplied to the create or update site network service
          operation.
        required: true
      responses:
        '200':
          description: Create or update operation has been completed successfully.
            The operation returns the resulting site network service resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: false
                    description: Site network service properties.
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the site network service
                          resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        - Converging
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      managedResourceGroupConfiguration:
                        description: Managed resource group configuration.
                        type: object
                        properties:
                          name:
                            type: string
                            description: Managed resource group name.
                          location:
                            type: string
                            description: Managed resource group location.
                      siteReference:
                        description: The site details
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      publisherName:
                        readOnly: true
                        type: string
                        description: The publisher name for the site network service.
                      publisherScope:
                        readOnly: true
                        description: The scope of the publisher.
                        type: string
                        enum:
                        - Unknown
                        - Private
                        x-ms-enum:
                          name: PublisherScope
                          modelAsString: true
                      networkServiceDesignGroupName:
                        readOnly: true
                        type: string
                        description: The network service design group name for the
                          site network service.
                      networkServiceDesignVersionName:
                        readOnly: true
                        type: string
                        description: The network service design version for the site
                          network service.
                      networkServiceDesignVersionOfferingLocation:
                        readOnly: true
                        type: string
                        description: The location of the network service design offering.
                      networkServiceDesignVersionResourceReference:
                        description: The network service design version resource reference.
                        type: object
                        discriminator:
                          propertyName: idType
                        required:
                        - idType
                        properties:
                          idType:
                            description: The resource reference arm id type.
                            type: string
                            default: Open
                            enum:
                            - Unknown
                            - Open
                            - Secret
                            x-ms-enum:
                              name: idType
                              modelAsString: true
                      desiredStateConfigurationGroupValueReferences:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another resource.
                          x-ms-azure-resource: true
                        description: The goal state of the site network service resource.
                          This has references to the configuration group value objects
                          that describe the desired state of the site network service.
                      lastStateNetworkServiceDesignVersionName:
                        readOnly: true
                        type: string
                        description: The network service design version for the site
                          network service.
                      lastStateConfigurationGroupValueReferences:
                        type: object
                        readOnly: true
                        additionalProperties:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another resource.
                          x-ms-azure-resource: true
                        description: The last state of the site network service resource.
                  identity:
                    description: The managed identity of the Site network service,
                      if configured.
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                  sku:
                    description: Sku of the site network service.
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of this Sku
                        enum:
                        - Basic
                        - Standard
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                      tier:
                        description: The SKU tier based on the SKU name.
                        enum:
                        - Basic
                        - Standard
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: true
                    required:
                    - name
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Create or update operation has been completed successfully.
            The operation returns the resulting site network service resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: false
                    description: Site network service properties.
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the site network service
                          resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        - Converging
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      managedResourceGroupConfiguration:
                        description: Managed resource group configuration.
                        type: object
                        properties:
                          name:
                            type: string
                            description: Managed resource group name.
                          location:
                            type: string
                            description: Managed resource group location.
                      siteReference:
                        description: The site details
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      publisherName:
                        readOnly: true
                        type: string
                        description: The publisher name for the site network service.
                      publisherScope:
                        readOnly: true
                        description: The scope of the publisher.
                        type: string
                        enum:
                        - Unknown
                        - Private
                        x-ms-enum:
                          name: PublisherScope
                          modelAsString: true
                      networkServiceDesignGroupName:
                        readOnly: true
                        type: string
                        description: The network service design group name for the
                          site network service.
                      networkServiceDesignVersionName:
                        readOnly: true
                        type: string
                        description: The network service design version for the site
                          network service.
                      networkServiceDesignVersionOfferingLocation:
                        readOnly: true
                        type: string
                        description: The location of the network service design offering.
                      networkServiceDesignVersionResourceReference:
                        description: The network service design version resource reference.
                        type: object
                        discriminator:
                          propertyName: idType
                        required:
                        - idType
                        properties:
                          idType:
                            description: The resource reference arm id type.
                            type: string
                            default: Open
                            enum:
                            - Unknown
                            - Open
                            - Secret
                            x-ms-enum:
                              name: idType
                              modelAsString: true
                      desiredStateConfigurationGroupValueReferences:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another resource.
                          x-ms-azure-resource: true
                        description: The goal state of the site network service resource.
                          This has references to the configuration group value objects
                          that describe the desired state of the site network service.
                      lastStateNetworkServiceDesignVersionName:
                        readOnly: true
                        type: string
                        description: The network service design version for the site
                          network service.
                      lastStateConfigurationGroupValueReferences:
                        type: object
                        readOnly: true
                        additionalProperties:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another resource.
                          x-ms-azure-resource: true
                        description: The last state of the site network service resource.
                  identity:
                    description: The managed identity of the Site network service,
                      if configured.
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                  sku:
                    description: Sku of the site network service.
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of this Sku
                        enum:
                        - Basic
                        - Standard
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                      tier:
                        description: The SKU tier based on the SKU name.
                        enum:
                        - Basic
                        - Standard
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: true
                    required:
                    - name
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    patch:
      tags:
      - SiteNetworkServices
      operationId: SiteNetworkServices_UpdateTags
      description: Updates a site update tags.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: siteNetworkServiceName
        in: path
        required: true
        description: The name of the site network service.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
              description: Tags object for patch operations.
        description: Parameters supplied to update network site tags.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting site
            network service resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: false
                    description: Site network service properties.
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the site network service
                          resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        - Converging
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      managedResourceGroupConfiguration:
                        description: Managed resource group configuration.
                        type: object
                        properties:
                          name:
                            type: string
                            description: Managed resource group name.
                          location:
                            type: string
                            description: Managed resource group location.
                      siteReference:
                        description: The site details
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      publisherName:
                        readOnly: true
                        type: string
                        description: The publisher name for the site network service.
                      publisherScope:
                        readOnly: true
                        description: The scope of the publisher.
                        type: string
                        enum:
                        - Unknown
                        - Private
                        x-ms-enum:
                          name: PublisherScope
                          modelAsString: true
                      networkServiceDesignGroupName:
                        readOnly: true
                        type: string
                        description: The network service design group name for the
                          site network service.
                      networkServiceDesignVersionName:
                        readOnly: true
                        type: string
                        description: The network service design version for the site
                          network service.
                      networkServiceDesignVersionOfferingLocation:
                        readOnly: true
                        type: string
                        description: The location of the network service design offering.
                      networkServiceDesignVersionResourceReference:
                        description: The network service design version resource reference.
                        type: object
                        discriminator:
                          propertyName: idType
                        required:
                        - idType
                        properties:
                          idType:
                            description: The resource reference arm id type.
                            type: string
                            default: Open
                            enum:
                            - Unknown
                            - Open
                            - Secret
                            x-ms-enum:
                              name: idType
                              modelAsString: true
                      desiredStateConfigurationGroupValueReferences:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another resource.
                          x-ms-azure-resource: true
                        description: The goal state of the site network service resource.
                          This has references to the configuration group value objects
                          that describe the desired state of the site network service.
                      lastStateNetworkServiceDesignVersionName:
                        readOnly: true
                        type: string
                        description: The network service design version for the site
                          network service.
                      lastStateConfigurationGroupValueReferences:
                        type: object
                        readOnly: true
                        additionalProperties:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another resource.
                          x-ms-azure-resource: true
                        description: The last state of the site network service resource.
                  identity:
                    description: The managed identity of the Site network service,
                      if configured.
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                  sku:
                    description: Sku of the site network service.
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of this Sku
                        enum:
                        - Basic
                        - Standard
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                      tier:
                        description: The SKU tier based on the SKU name.
                        enum:
                        - Basic
                        - Standard
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: true
                    required:
                    - name
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/siteNetworkServices:
    get:
      tags:
      - SiteNetworkServices
      operationId: SiteNetworkServices_ListBySubscription
      description: Lists all sites in the network service in a subscription.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Request successful. The operation returns a list of network
            site resources.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          x-ms-client-flatten: false
                          description: Site network service properties.
                          type: object
                          properties:
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the site network
                                service resource.
                              type: string
                              enum:
                              - Unknown
                              - Succeeded
                              - Accepted
                              - Deleting
                              - Failed
                              - Canceled
                              - Deleted
                              - Converging
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            managedResourceGroupConfiguration:
                              description: Managed resource group configuration.
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: Managed resource group name.
                                location:
                                  type: string
                                  description: Managed resource group location.
                            siteReference:
                              description: The site details
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                            publisherName:
                              readOnly: true
                              type: string
                              description: The publisher name for the site network
                                service.
                            publisherScope:
                              readOnly: true
                              description: The scope of the publisher.
                              type: string
                              enum:
                              - Unknown
                              - Private
                              x-ms-enum:
                                name: PublisherScope
                                modelAsString: true
                            networkServiceDesignGroupName:
                              readOnly: true
                              type: string
                              description: The network service design group name for
                                the site network service.
                            networkServiceDesignVersionName:
                              readOnly: true
                              type: string
                              description: The network service design version for
                                the site network service.
                            networkServiceDesignVersionOfferingLocation:
                              readOnly: true
                              type: string
                              description: The location of the network service design
                                offering.
                            networkServiceDesignVersionResourceReference:
                              description: The network service design version resource
                                reference.
                              type: object
                              discriminator:
                                propertyName: idType
                              required:
                              - idType
                              properties:
                                idType:
                                  description: The resource reference arm id type.
                                  type: string
                                  default: Open
                                  enum:
                                  - Unknown
                                  - Open
                                  - Secret
                                  x-ms-enum:
[...]
