openapi: 3.0.0
info:
  version: 2019-06-01
  title: StorageManagementClient
  description: The Azure Storage Management API.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/queueServices
  : get:
      tags:
      - QueueServiceProperties
      operationId: QueueServices_List
      description: List all queue services for the storage account
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: accountName
        in: path
        required: true
        description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 24
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: "OK -- returned the properties of a storage account\u2019s\
            \ Queue service."
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          properties:
                            cors:
                              description: Specifies CORS rules for the Queue service.
                                You can include up to five CorsRule elements in the
                                request. If no CorsRule elements are included in the
                                request body, all CORS rules will be deleted, and
                                CORS will be disabled for the Queue service.
                              properties:
                                corsRules:
                                  type: array
                                  items:
                                    description: 'Specifies a CORS rule for the Blob
                                      service. '
                                    properties:
                                      allowedOrigins:
                                        type: array
                                        items:
                                          type: string
                                        description: Required if CorsRule element
                                          is present. A list of origin domains that
                                          will be allowed via CORS, or "*" to allow
                                          all domains
                                      allowedMethods:
                                        type: array
                                        items:
                                          type: string
                                          enum:
                                          - DELETE
                                          - GET
                                          - HEAD
                                          - MERGE
                                          - POST
                                          - OPTIONS
                                          - PUT
                                        description: Required if CorsRule element
                                          is present. A list of HTTP methods that
                                          are allowed to be executed by the origin.
                                      maxAgeInSeconds:
                                        type: integer
                                        description: Required if CorsRule element
                                          is present. The number of seconds that the
                                          client/browser should cache a preflight
                                          response.
                                      exposedHeaders:
                                        type: array
                                        items:
                                          type: string
                                        description: Required if CorsRule element
                                          is present. A list of response headers to
                                          expose to CORS clients.
                                      allowedHeaders:
                                        type: array
                                        items:
                                          type: string
                                        description: Required if CorsRule element
                                          is present. A list of headers allowed to
                                          be part of the cross-origin request.
                                    required:
                                    - allowedOrigins
                                    - allowedMethods
                                    - maxAgeInSeconds
                                    - exposedHeaders
                                    - allowedHeaders
                                  description: 'The List of CORS rules. You can include
                                    up to five CorsRule elements in the request. '
                          x-ms-client-flatten: true
                          x-ms-client-name: QueueServiceProperties
                          description: "The properties of a storage account\u2019\
                            s Queue service."
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: List of queue services returned.
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the Storage service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the Storage service.
                        description: A list of additional details about the error.
                    description: An error response from the Storage service.
                description: An error response from the Storage service.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/queueServices/{queueServiceName}
  : put:
      tags:
      - QueueServiceProperties
      operationId: QueueServices_SetServiceProperties
      description: "Sets the properties of a storage account\u2019s Queue service,\
        \ including properties for Storage Analytics and CORS (Cross-Origin Resource\
        \ Sharing) rules. "
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: accountName
        in: path
        required: true
        description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 24
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: queueServiceName
        in: path
        required: true
        description: The name of the Queue Service within the specified storage account.
          Queue Service Name must be 'default'
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - default
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                properties:
                  properties:
                    cors:
                      description: Specifies CORS rules for the Queue service. You
                        can include up to five CorsRule elements in the request. If
                        no CorsRule elements are included in the request body, all
                        CORS rules will be deleted, and CORS will be disabled for
                        the Queue service.
                      properties:
                        corsRules:
                          type: array
                          items:
                            description: 'Specifies a CORS rule for the Blob service. '
                            properties:
                              allowedOrigins:
                                type: array
                                items:
                                  type: string
                                description: Required if CorsRule element is present.
                                  A list of origin domains that will be allowed via
                                  CORS, or "*" to allow all domains
                              allowedMethods:
                                type: array
                                items:
                                  type: string
                                  enum:
                                  - DELETE
                                  - GET
                                  - HEAD
                                  - MERGE
                                  - POST
                                  - OPTIONS
                                  - PUT
                                description: Required if CorsRule element is present.
                                  A list of HTTP methods that are allowed to be executed
                                  by the origin.
                              maxAgeInSeconds:
                                type: integer
                                description: Required if CorsRule element is present.
                                  The number of seconds that the client/browser should
                                  cache a preflight response.
                              exposedHeaders:
                                type: array
                                items:
                                  type: string
                                description: Required if CorsRule element is present.
                                  A list of response headers to expose to CORS clients.
                              allowedHeaders:
                                type: array
                                items:
                                  type: string
                                description: Required if CorsRule element is present.
                                  A list of headers allowed to be part of the cross-origin
                                  request.
                            required:
                            - allowedOrigins
                            - allowedMethods
                            - maxAgeInSeconds
                            - exposedHeaders
                            - allowedHeaders
                          description: 'The List of CORS rules. You can include up
                            to five CorsRule elements in the request. '
                  x-ms-client-flatten: true
                  x-ms-client-name: QueueServiceProperties
                  description: "The properties of a storage account\u2019s Queue service."
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: "The properties of a storage account\u2019s Queue service, only\
          \ properties for Storage Analytics and CORS (Cross-Origin Resource Sharing)\
          \ rules can be specified."
        required: true
      responses:
        '200':
          description: "OK -- Sets The properties of a storage account\u2019s Queue\
            \ service successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    properties:
                      cors:
                        description: Specifies CORS rules for the Queue service. You
                          can include up to five CorsRule elements in the request.
                          If no CorsRule elements are included in the request body,
                          all CORS rules will be deleted, and CORS will be disabled
                          for the Queue service.
                        properties:
                          corsRules:
                            type: array
                            items:
                              description: 'Specifies a CORS rule for the Blob service. '
                              properties:
                                allowedOrigins:
                                  type: array
                                  items:
                                    type: string
                                  description: Required if CorsRule element is present.
                                    A list of origin domains that will be allowed
                                    via CORS, or "*" to allow all domains
                                allowedMethods:
                                  type: array
                                  items:
                                    type: string
                                    enum:
                                    - DELETE
                                    - GET
                                    - HEAD
                                    - MERGE
                                    - POST
                                    - OPTIONS
                                    - PUT
                                  description: Required if CorsRule element is present.
                                    A list of HTTP methods that are allowed to be
                                    executed by the origin.
                                maxAgeInSeconds:
                                  type: integer
                                  description: Required if CorsRule element is present.
                                    The number of seconds that the client/browser
                                    should cache a preflight response.
                                exposedHeaders:
                                  type: array
                                  items:
                                    type: string
                                  description: Required if CorsRule element is present.
                                    A list of response headers to expose to CORS clients.
                                allowedHeaders:
                                  type: array
                                  items:
                                    type: string
                                  description: Required if CorsRule element is present.
                                    A list of headers allowed to be part of the cross-origin
                                    request.
                              required:
                              - allowedOrigins
                              - allowedMethods
                              - maxAgeInSeconds
                              - exposedHeaders
                              - allowedHeaders
                            description: 'The List of CORS rules. You can include
                              up to five CorsRule elements in the request. '
                    x-ms-client-flatten: true
                    x-ms-client-name: QueueServiceProperties
                    description: "The properties of a storage account\u2019s Queue\
                      \ service."
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the Storage service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the Storage service.
                        description: A list of additional details about the error.
                    description: An error response from the Storage service.
                description: An error response from the Storage service.
    get:
      tags:
      - QueueServiceProperties
      operationId: QueueServices_GetServiceProperties
      description: "Gets the properties of a storage account\u2019s Queue service,\
        \ including properties for Storage Analytics and CORS (Cross-Origin Resource\
        \ Sharing) rules."
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: accountName
        in: path
        required: true
        description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 24
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: queueServiceName
        in: path
        required: true
        description: The name of the Queue Service within the specified storage account.
          Queue Service Name must be 'default'
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - default
      responses:
        '200':
          description: "OK -- returned the properties of a storage account\u2019s\
            \ Queue service."
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    properties:
                      cors:
                        description: Specifies CORS rules for the Queue service. You
                          can include up to five CorsRule elements in the request.
                          If no CorsRule elements are included in the request body,
                          all CORS rules will be deleted, and CORS will be disabled
                          for the Queue service.
                        properties:
                          corsRules:
                            type: array
                            items:
                              description: 'Specifies a CORS rule for the Blob service. '
                              properties:
                                allowedOrigins:
                                  type: array
                                  items:
                                    type: string
                                  description: Required if CorsRule element is present.
                                    A list of origin domains that will be allowed
                                    via CORS, or "*" to allow all domains
                                allowedMethods:
                                  type: array
                                  items:
                                    type: string
                                    enum:
                                    - DELETE
                                    - GET
                                    - HEAD
                                    - MERGE
                                    - POST
                                    - OPTIONS
                                    - PUT
                                  description: Required if CorsRule element is present.
                                    A list of HTTP methods that are allowed to be
                                    executed by the origin.
                                maxAgeInSeconds:
                                  type: integer
                                  description: Required if CorsRule element is present.
                                    The number of seconds that the client/browser
                                    should cache a preflight response.
                                exposedHeaders:
                                  type: array
                                  items:
                                    type: string
                                  description: Required if CorsRule element is present.
                                    A list of response headers to expose to CORS clients.
                                allowedHeaders:
                                  type: array
                                  items:
                                    type: string
                                  description: Required if CorsRule element is present.
                                    A list of headers allowed to be part of the cross-origin
                                    request.
                              required:
                              - allowedOrigins
                              - allowedMethods
                              - maxAgeInSeconds
                              - exposedHeaders
                              - allowedHeaders
                            description: 'The List of CORS rules. You can include
                              up to five CorsRule elements in the request. '
                    x-ms-client-flatten: true
                    x-ms-client-name: QueueServiceProperties
                    description: "The properties of a storage account\u2019s Queue\
                      \ service."
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the Storage service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the Storage service.
                        description: A list of additional details about the error.
                    description: An error response from the Storage service.
                description: An error response from the Storage service.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/queueServices/default/queues/{queueName}
  : put:
      tags:
      - QueueService
      operationId: Queue_Create
      description: Creates a new queue with the specified queue name, under the specified
        account.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: accountName
        in: path
        required: true
        description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 24
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: queueName
        in: path
        required: true
        description: A queue name must be unique within a storage account and must
          be between 3 and 63 characters.The name must comprise of lowercase alphanumeric
          and dash(-) characters only, it should begin and end with an alphanumeric
          character and it cannot have two consecutive dash(-) characters.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[a-z0-9]([a-z0-9]|(-(?!-))){1,61}[a-z0-9]$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                properties:
                  x-ms-client-flatten: true
                  x-ms-client-name: QueueProperties
                  description: Queue resource properties.
                  properties:
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: A name-value pair that represents queue metadata.
                    approximateMessageCount:
                      type: integer
                      readOnly: true
                      description: Integer indicating an approximate number of messages
                        in the queue. This number is not lower than the actual number
                        of messages in the queue, but could be higher.
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Queue properties and metadata to be created with
        required: true
      responses:
        '200':
          description: OK -- Creates a queue with the given queue name successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    x-ms-client-name: QueueProperties
                    description: Queue resource properties.
                    properties:
                      metadata:
                        type: object
                        additionalProperties:
                          type: string
                        description: A name-value pair that represents queue metadata.
                      approximateMessageCount:
                        type: integer
                        readOnly: true
                        description: Integer indicating an approximate number of messages
                          in the queue. This number is not lower than the actual number
                          of messages in the queue, but could be higher.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the Storage service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the Storage service.
                        description: A list of additional details about the error.
                    description: An error response from the Storage service.
                description: An error response from the Storage service.
    patch:
      tags:
      - QueueService
      operationId: Queue_Update
      description: Creates a new queue with the specified queue name, under the specified
        account.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: accountName
        in: path
        required: true
        description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 24
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: queueName
        in: path
        required: true
        description: A queue name must be unique within a storage account and must
          be between 3 and 63 characters.The name must comprise of lowercase alphanumeric
          and dash(-) characters only, it should begin and end with an alphanumeric
          character and it cannot have two consecutive dash(-) characters.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[a-z0-9]([a-z0-9]|(-(?!-))){1,61}[a-z0-9]$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                properties:
                  x-ms-client-flatten: true
                  x-ms-client-name: QueueProperties
                  description: Queue resource properties.
                  properties:
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                      description: A name-value pair that represents queue metadata.
                    approximateMessageCount:
                      type: integer
                      readOnly: true
                      description: Integer indicating an approximate number of messages
                        in the queue. This number is not lower than the actual number
                        of messages in the queue, but could be higher.
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Queue properties and metadata to be created with
        required: true
      responses:
        '200':
          description: OK -- Creates a queue with the given queue name successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    x-ms-client-name: QueueProperties
                    description: Queue resource properties.
                    properties:
                      metadata:
                        type: object
                        additionalProperties:
                          type: string
                        description: A name-value pair that represents queue metadata.
                      approximateMessageCount:
                        type: integer
                        readOnly: true
                        description: Integer indicating an approximate number of messages
                          in the queue. This number is not lower than the actual number
                          of messages in the queue, but could be higher.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the Storage service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the Storage service.
                        description: A list of additional details about the error.
                    description: An error response from the Storage service.
                description: An error response from the Storage service.
    get:
      tags:
      - QueueService
      operationId: Queue_Get
      description: Gets the queue with the specified queue name, under the specified
        account if it exists.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: accountName
        in: path
        required: true
        description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 24
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: queueName
        in: path
        required: true
        description: A queue name must be unique within a storage account and must
          be between 3 and 63 characters.The name must comprise of lowercase alphanumeric
          and dash(-) characters only, it should begin and end with an alphanumeric
          character and it cannot have two consecutive dash(-) characters.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[a-z0-9]([a-z0-9]|(-(?!-))){1,61}[a-z0-9]$
      responses:
        '200':
          description: OK -- returned table with the specified table name successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    x-ms-client-name: QueueProperties
                    description: Queue resource properties.
                    properties:
                      metadata:
                        type: object
                        additionalProperties:
                          type: string
                        description: A name-value pair that represents queue metadata.
                      approximateMessageCount:
                        type: integer
                        readOnly: true
                        description: Integer indicating an approximate number of messages
                          in the queue. This number is not lower than the actual number
                          of messages in the queue, but could be higher.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the Storage service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the Storage service.
                        description: A list of additional details about the error.
                    description: An error response from the Storage service.
                description: An error response from the Storage service.
    delete:
      tags:
      - QueueService
      operationId: Queue_Delete
      description: Deletes the queue with the specified queue name, under the specified
        account if it exists.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: accountName
        in: path
        required: true
        description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 24
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: queueName
        in: path
        required: true
        description: A queue name must be unique within a storage account and must
          be between 3 and 63 characters.The name must comprise of lowercase alphanumeric
          and dash(-) characters only, it should begin and end with an alphanumeric
          character and it cannot have two consecutive dash(-) characters.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[a-z0-9]([a-z0-9]|(-(?!-))){1,61}[a-z0-9]$
      responses:
        '204':
          description: No Content - Successfully deleted the queue with the specified
            queue name
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the Storage service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the Storage service.
                        description: A list of additional details about the error.
                    description: An error response from the Storage service.
                description: An error response from the Storage service.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/queueServices/default/queues
  : get:
      tags:
      - QueueService
      operationId: Queue_List
      description: Gets a list of all the queues under the specified storage account
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: accountName
        in: path
        required: true
        description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 24
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: $maxpagesize
        in: query
        description: Optional, a maximum number of queues that should be included
          in a list queue response
        schema:
          type: string
      - name: $filter
        in: query
        description: Optional, When specified, only the queues with a name starting
          with the given filter will be listed.
        schema:
          type: string
      responses:
        '200':
          description: OK -- returned a list of queues successfully.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          x-ms-client-flatten: true
                          x-ms-client-name: QueueProperties
                          description: List Queue resource properties.
                          properties:
                            metadata:
                              type: object
                              additionalProperties:
                                type: string
                              description: A name-value pair that represents queue
                                metadata.
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: List of queues returned.
                    readOnly: true
                  nextLink:
                    type: string
                    description: Request URL that can be used to list next page of
                      queues
                    readOnly: true
                description: Response schema. Contains list of queues returned
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the Storage service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the Storage service.
                        description: A list of additional details about the error.
                    description: An error response from the Storage service.
                description: An error response from the Storage service.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    QueueServiceName:
      name: queueServiceName
      in: path
      required: true
      description: The name of the Queue Service within the specified storage account.
        Queue Service Name must be 'default'
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - default
    QueueName:
      name: queueName
      in: path
      required: true
      description: A queue name must be unique within a storage account and must be
        between 3 and 63 characters.The name must comprise of lowercase alphanumeric
        and dash(-) characters only, it should begin and end with an alphanumeric
        character and it cannot have two consecutive dash(-) characters.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 3
        maxLength: 63
        pattern: ^[a-z0-9]([a-z0-9]|(-(?!-))){1,61}[a-z0-9]$
    ResourceGroupName:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group within the user's subscription.
        The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._\(\)]+$
    StorageAccountName:
      name: accountName
      in: path
      required: true
      description: The name of the storage account within the specified resource group.
        Storage account names must be between 3 and 24 characters in length and use
        numbers and lower-case letters only.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 3
        maxLength: 24
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
  requestBodies:
    Queue_CreateQueue:
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
              properties:
                x-ms-client-flatten: true
                x-ms-client-name: QueueProperties
                description: Queue resource properties.
                properties:
                  metadata:
                    type: object
                    additionalProperties:
                      type: string
                    description: A name-value pair that represents queue metadata.
                  approximateMessageCount:
                    type: integer
                    readOnly: true
                    description: Integer indicating an approximate number of messages
                      in the queue. This number is not lower than the actual number
                      of messages in the queue, but could be higher.
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
      description: Queue properties and metadata to be created with
      required: true
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ListQueueServices:
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
              properties:
                properties:
                  cors:
                    description: Specifies CORS rules for the Queue service. You can
                      include up to five CorsRule elements in the request. If no CorsRule
                      elements are included in the request body, all CORS rules will
                      be deleted, and CORS will be disabled for the Queue service.
                    properties:
                      corsRules:
                        type: array
                        items:
                          description: 'Specifies a CORS rule for the Blob service. '
                          properties:
                            allowedOrigins:
                              type: array
                              items:
                                type: string
                              description: Required if CorsRule element is present.
                                A list of origin domains that will be allowed via
                                CORS, or "*" to allow all domains
                            allowedMethods:
                              type: array
                              items:
                                type: string
                                enum:
                                - DELETE
                                - GET
                                - HEAD
                                - MERGE
                                - POST
                                - OPTIONS
                                - PUT
                              description: Required if CorsRule element is present.
                                A list of HTTP methods that are allowed to be executed
                                by the origin.
                            maxAgeInSeconds:
                              type: integer
                              description: Required if CorsRule element is present.
                                The number of seconds that the client/browser should
                                cache a preflight response.
                            exposedHeaders:
                              type: array
                              items:
                                type: string
                              description: Required if CorsRule element is present.
                                A list of response headers to expose to CORS clients.
                            allowedHeaders:
                              type: array
                              items:
                                type: string
                              description: Required if CorsRule element is present.
                                A list of headers allowed to be part of the cross-origin
                                request.
                          required:
                          - allowedOrigins
                          - allowedMethods
                          - maxAgeInSeconds
                          - exposedHeaders
                          - allowedHeaders
                        description: 'The List of CORS rules. You can include up to
                          five CorsRule elements in the request. '
                x-ms-client-flatten: true
                x-ms-client-name: QueueServiceProperties
                description: "The properties of a storage account\u2019s Queue service."
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
          description: List of queue services returned.
          readOnly: true
    QueueServiceProperties:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
        properties:
          properties:
            cors:
              description: Specifies CORS rules for the Queue service. You can include
                up to five CorsRule elements in the request. If no CorsRule elements
                are included in the request body, all CORS rules will be deleted,
                and CORS will be disabled for the Queue service.
              properties:
                corsRules:
                  type: array
                  items:
                    description: 'Specifies a CORS rule for the Blob service. '
                    properties:
                      allowedOrigins:
                        type: array
                        items:
                          type: string
                        description: Required if CorsRule element is present. A list
                          of origin domains that will be allowed via CORS, or "*"
                          to allow all domains
                      allowedMethods:
                        type: array
                        items:
                          type: string
                          enum:
                          - DELETE
                          - GET
                          - HEAD
                          - MERGE
                          - POST
                          - OPTIONS
                          - PUT
                        description: Required if CorsRule element is present. A list
                          of HTTP methods that are allowed to be executed by the origin.
                      maxAgeInSeconds:
                        type: integer
                        description: Required if CorsRule element is present. The
                          number of seconds that the client/browser should cache a
                          preflight response.
                      exposedHeaders:
                        type: array
                        items:
                          type: string
                        description: Required if CorsRule element is present. A list
                          of response headers to expose to CORS clients.
                      allowedHeaders:
                        type: array
                        items:
                          type: string
                        description: Required if CorsRule element is present. A list
                          of headers allowed to be part of the cross-origin request.
                    required:
                    - allowedOrigins
                    - allowedMethods
                    - maxAgeInSeconds
                    - exposedHeaders
                    - allowedHeaders
                  description: 'The List of CORS rules. You can include up to five
                    CorsRule elements in the request. '
          x-ms-client-flatten: true
          x-ms-client-name: QueueServiceProperties
          description: "The properties of a storage account\u2019s Queue service."
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    StorageQueue:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
        properties:
          x-ms-client-flatten: true
          x-ms-client-name: QueueProperties
          description: Queue resource properties.
          properties:
            metadata:
              type: object
              additionalProperties:
                type: string
              description: A name-value pair that represents queue metadata.
            approximateMessageCount:
              type: integer
              readOnly: true
              description: Integer indicating an approximate number of messages in
                the queue. This number is not lower than the actual number of messages
                in the queue, but could be higher.
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    QueueProperties:
      properties:
        metadata:
          type: object
          additionalProperties:
            type: string
          description: A name-value pair that represents queue metadata.
        approximateMessageCount:
          type: integer
          readOnly: true
          description: Integer indicating an approximate number of messages in the
            queue. This number is not lower than the actual number of messages in
            the queue, but could be higher.
    ListQueue:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
        properties:
          x-ms-client-flatten: true
          x-ms-client-name: QueueProperties
          description: List Queue resource properties.
          properties:
            metadata:
              type: object
              additionalProperties:
                type: string
              description: A name-value pair that represents queue metadata.
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    ListQueueProperties:
      properties:
        metadata:
          type: object
          additionalProperties:
            type: string
          description: A name-value pair that represents queue metadata.
    ListQueueResource:
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
              properties:
                x-ms-client-flatten: true
                x-ms-client-name: QueueProperties
                description: List Queue resource properties.
                properties:
                  metadata:
                    type: object
                    additionalProperties:
                      type: string
                    description: A name-value pair that represents queue metadata.
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
          description: List of queues returned.
          readOnly: true
        nextLink:
          type: string
          description: Request URL that can be used to list next page of queues
          readOnly: true
      description: Response schema. Contains list of queues returned
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for
            display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of
            the property in error.
        details:
          type: array
          items:
            x-ms-external: true
            properties:
              code:
                type: string
                description: An identifier for the error. Codes are invariant and
                  are intended to be consumed programmatically.
              message:
                type: string
                description: A message describing the error, intended to be suitable
                  for display in a user interface.
              target:
                type: string
                description: The target of the particular error. For example, the
                  name of the property in error.
              details:
                type: array
                items:
                  x-ms-external: true
                  properties:
                    code:
                      type: string
                      description: An identifier for the error. Codes are invariant
                        and are intended to be consumed programmatically.
                    message:
                      type: string
                      description: A message describing the error, intended to be
                        suitable for display in a user interface.
                    target:
                      type: string
                      description: The target of the particular error. For example,
                        the name of the property in error.
                  description: An error response from the Storage service.
                description: A list of additional details about the error.
            description: An error response from the Storage service.
          description: A list of additional details about the error.
      description: An error response from the Storage service.
    CloudError:
      x-ms-external: true
      properties:
        error:
          x-ms-external: true
          properties:
            code:
              type: string
              description: An identifier for the error. Codes are invariant and are
                intended to be consumed programmatically.
            message:
              type: string
              description: A message describing the error, intended to be suitable
                for display in a user interface.
            target:
              type: string
              description: The target of the particular error. For example, the name
                of the property in error.
            details:
              type: array
              items:
                x-ms-external: true
                properties:
                  code:
                    type: string
                    description: An identifier for the error. Codes are invariant
                      and are intended to be consumed programmatically.
                  message:
                    type: string
                    description: A message describing the error, intended to be suitable
                      for display in a user interface.
                  target:
                    type: string
                    description: The target of the particular error. For example,
                      the name of the property in error.
                  details:
                    type: array
                    items:
                      x-ms-external: true
                      properties:
                        code:
                          type: string
                          description: An identifier for the error. Codes are invariant
                            and are intended to be consumed programmatically.
                        message:
                          type: string
                          description: A message describing the error, intended to
                            be suitable for display in a user interface.
                        target:
                          type: string
                          description: The target of the particular error. For example,
                            the name of the property in error.
                      description: An error response from the Storage service.
                    description: A list of additional details about the error.
                description: An error response from the Storage service.
              description: A list of additional details about the error.
          description: An error response from the Storage service.
      description: An error response from the Storage service.
    Resource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
      x-ms-azure-resource: true
    CorsRule:
      properties:
        allowedOrigins:
          type: array
          items:
            type: string
          description: Required if CorsRule element is present. A list of origin domains
            that will be allowed via CORS, or "*" to allow all domains
        allowedMethods:
[...]
