openapi: 3.0.0
info:
  title: StorageManagementClient
  description: The Azure Storage Management API.
  version: 2019-06-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Storage/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available Storage Rest API operations.
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: Result of the request to list Storage operations. It
                  contains a list of operations and a URL link to get the next set
                  of results.
                properties:
                  value:
                    type: array
                    items:
                      description: Storage REST API operation definition.
                      type: object
                      properties:
                        name:
                          description: 'Operation name: {provider}/{resource}/{operation}'
                          type: string
                        display:
                          description: Display metadata associated with the operation.
                          properties:
                            provider:
                              description: 'Service provider: Microsoft Storage.'
                              type: string
                            resource:
                              description: Resource on which the operation is performed
                                etc.
                              type: string
                            operation:
                              description: 'Type of operation: get, read, delete,
                                etc.'
                              type: string
                            description:
                              description: Description of the operation.
                              type: string
                        origin:
                          type: string
                          description: The origin of operations.
                        properties:
                          description: Properties of operation, include metric specifications.
                          x-ms-client-flatten: true
                          x-ms-client-name: OperationProperties
                          properties:
                            serviceSpecification:
                              description: One property of operation, include metric
                                specifications.
                              properties:
                                metricSpecifications:
                                  description: Metric specifications of operation.
                                  type: array
                                  items:
                                    description: Metric specification of operation.
                                    properties:
                                      name:
                                        type: string
                                        description: Name of metric specification.
                                      displayName:
                                        type: string
                                        description: Display name of metric specification.
                                      displayDescription:
                                        type: string
                                        description: Display description of metric
                                          specification.
                                      unit:
                                        type: string
                                        description: Unit could be Bytes or Count.
                                      dimensions:
                                        description: Dimensions of blobs, including
                                          blob type and access tier.
                                        type: array
                                        items:
                                          description: Dimension of blobs, possibly
                                            be blob type or access tier.
                                          properties:
                                            name:
                                              type: string
                                              description: Display name of dimension.
                                            displayName:
                                              type: string
                                              description: Display name of dimension.
                                      aggregationType:
                                        type: string
                                        description: Aggregation type could be Average.
                                      fillGapWithZero:
                                        type: boolean
                                        description: The property to decide fill gap
                                          with zero or not.
                                      category:
                                        type: string
                                        description: The category this metric specification
                                          belong to, could be Capacity.
                                      resourceIdDimensionNameOverride:
                                        type: string
                                        description: Account Resource Id.
                    description: List of Storage operations supported by the Storage
                      resource provider.
      x-ms-pageable: {}
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage/skus:
    get:
      tags:
      - Skus
      operationId: Skus_List
      description: Lists the available SKUs supported by Microsoft.Storage for given
        subscription.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK -- List of storage SKUs in the given subscription retrieved
            and returned successfully.
          content:
            application/json:
              schema:
                properties:
                  value:
                    readOnly: true
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          description: The SKU name. Required for account creation;
                            optional for update. Note that in older versions, SKU
                            name was called accountType.
                          enum:
                          - Standard_LRS
                          - Standard_GRS
                          - Standard_RAGRS
                          - Standard_ZRS
                          - Premium_LRS
                          - Premium_ZRS
                          - Standard_GZRS
                          - Standard_RAGZRS
                          x-ms-enum:
                            name: SkuName
                            modelAsString: true
                        tier:
                          readOnly: true
                          type: string
                          description: The SKU tier. This is based on the SKU name.
                          enum:
                          - Standard
                          - Premium
                          x-ms-enum:
                            name: SkuTier
                            modelAsString: false
                        resourceType:
                          readOnly: true
                          type: string
                          description: The type of the resource, usually it is 'storageAccounts'.
                        kind:
                          readOnly: true
                          type: string
                          description: Indicates the type of storage account.
                          enum:
                          - Storage
                          - StorageV2
                          - BlobStorage
                          - FileStorage
                          - BlockBlobStorage
                          x-ms-enum:
                            name: Kind
                            modelAsString: true
                        locations:
                          readOnly: true
                          type: array
                          items:
                            type: string
                          description: The set of locations that the SKU is available.
                            This will be supported and registered Azure Geo Regions
                            (e.g. West US, East US, Southeast Asia, etc.).
                        capabilities:
                          readOnly: true
                          type: array
                          items:
                            properties:
                              name:
                                readOnly: true
                                type: string
                                description: The name of capability, The capability
                                  information in the specified SKU, including file
                                  encryption, network ACLs, change notification, etc.
                              value:
                                readOnly: true
                                type: string
                                description: A string value to indicate states of
                                  given capability. Possibly 'true' or 'false'.
                            description: The capability information in the specified
                              SKU, including file encryption, network ACLs, change
                              notification, etc.
                          description: The capability information in the specified
                            SKU, including file encryption, network ACLs, change notification,
                            etc.
                        restrictions:
                          type: array
                          items:
                            properties:
                              type:
                                readOnly: true
                                type: string
                                description: The type of restrictions. As of now only
                                  possible value for this is location.
                              values:
                                readOnly: true
                                type: array
                                items:
                                  type: string
                                description: The value of restrictions. If the restriction
                                  type is set to location. This would be different
                                  locations where the SKU is restricted.
                              reasonCode:
                                type: string
                                enum:
                                - QuotaId
                                - NotAvailableForSubscription
                                x-ms-enum:
                                  name: ReasonCode
                                  modelAsString: true
                                description: The reason for the restriction. As of
                                  now this can be "QuotaId" or "NotAvailableForSubscription".
                                  Quota Id is set when the SKU has requiredQuotas
                                  parameter as the subscription does not belong to
                                  that quota. The "NotAvailableForSubscription" is
                                  related to capacity at DC.
                            description: The restriction because of which SKU cannot
                              be used.
                          description: The restrictions because of which SKU cannot
                            be used. This is empty if there are no restrictions.
                      required:
                      - name
                      description: Storage SKU and its properties
                    description: Get the list result of storage SKUs and their properties.
                description: The response from the List Storage SKUs operation.
      x-ms-pageable: {}
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage/checkNameAvailability:
    post:
      tags:
      - StorageAccounts
      operationId: StorageAccounts_CheckNameAvailability
      description: Checks that the storage account name is valid and is not already
        in use.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  description: The storage account name.
                type:
                  type: string
                  enum:
                  - Microsoft.Storage/storageAccounts
                  x-ms-enum:
                    name: Type
                    modelAsString: false
                  description: The type of resource, Microsoft.Storage/storageAccounts
              required:
              - name
              - type
              description: The parameters used to check the availability of the storage
                account name.
        description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        required: true
      responses:
        '200':
          description: OK -- Operation to check the storage account name availability
            was successful.
          content:
            application/json:
              schema:
                properties:
                  nameAvailable:
                    readOnly: true
                    type: boolean
                    description: Gets a boolean value that indicates whether the name
                      is available for you to use. If true, the name is available.
                      If false, the name has already been taken or is invalid and
                      cannot be used.
                  reason:
                    readOnly: true
                    type: string
                    description: Gets the reason that a storage account name could
                      not be used. The Reason element is only returned if NameAvailable
                      is false.
                    enum:
                    - AccountNameInvalid
                    - AlreadyExists
                    x-ms-enum:
                      name: Reason
                      modelAsString: false
                  message:
                    readOnly: true
                    type: string
                    description: Gets an error message explaining the Reason value
                      in more detail.
                description: The CheckNameAvailability operation response.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}
  : put:
      tags:
      - StorageAccounts
      operationId: StorageAccounts_Create
      description: Asynchronously creates a new storage account with the specified
        parameters. If an account is already created and a subsequent create request
        is issued with different properties, the account properties will be updated.
        If an account is already created and a subsequent create or update request
        is issued with the exact same set of properties, the request will succeed.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: accountName
        in: path
        required: true
        description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 24
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              properties:
                sku:
                  description: Required. Gets or sets the SKU name.
                  properties:
                    name:
                      type: string
                      description: The SKU name. Required for account creation; optional
                        for update. Note that in older versions, SKU name was called
                        accountType.
                      enum:
                      - Standard_LRS
                      - Standard_GRS
                      - Standard_RAGRS
                      - Standard_ZRS
                      - Premium_LRS
                      - Premium_ZRS
                      - Standard_GZRS
                      - Standard_RAGZRS
                      x-ms-enum:
                        name: SkuName
                        modelAsString: true
                    tier:
                      readOnly: true
                      type: string
                      description: The SKU tier. This is based on the SKU name.
                      enum:
                      - Standard
                      - Premium
                      x-ms-enum:
                        name: SkuTier
                        modelAsString: false
                  required:
                  - name
                kind:
                  type: string
                  description: Required. Indicates the type of storage account.
                  enum:
                  - Storage
                  - StorageV2
                  - BlobStorage
                  - FileStorage
                  - BlockBlobStorage
                  x-ms-enum:
                    name: Kind
                    modelAsString: true
                location:
                  type: string
                  description: Required. Gets or sets the location of the resource.
                    This will be one of the supported and registered Azure Geo Regions
                    (e.g. West US, East US, Southeast Asia, etc.). The geo region
                    of a resource cannot be changed once it is created, but if an
                    identical geo region is specified on update, the request will
                    succeed.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Gets or sets a list of key value pairs that describe
                    the resource. These tags can be used for viewing and grouping
                    this resource (across resource groups). A maximum of 15 tags can
                    be provided for a resource. Each tag must have a key with a length
                    no greater than 128 characters and a value with a length no greater
                    than 256 characters.
                identity:
                  description: The identity of the resource.
                  properties:
                    principalId:
                      readOnly: true
                      type: string
                      description: The principal ID of resource identity.
                    tenantId:
                      readOnly: true
                      type: string
                      description: The tenant ID of resource.
                    type:
                      type: string
                      description: The identity type.
                      enum:
                      - SystemAssigned
                      x-ms-enum:
                        name: IdentityType
                        modelAsString: false
                  required:
                  - type
                properties:
                  x-ms-client-flatten: true
                  description: The parameters used to create the storage account.
                  properties:
                    customDomain:
                      description: User domain assigned to the storage account. Name
                        is the CNAME source. Only one custom domain is supported per
                        storage account at this time. To clear the existing custom
                        domain, use an empty string for the custom domain name property.
                      properties:
                        name:
                          type: string
                          description: Gets or sets the custom domain name assigned
                            to the storage account. Name is the CNAME source.
                        useSubDomainName:
                          type: boolean
                          description: Indicates whether indirect CName validation
                            is enabled. Default value is false. This should only be
                            set on updates.
                      required:
                      - name
                    encryption:
                      description: Not applicable. Azure Storage encryption is enabled
                        for all storage accounts and cannot be disabled.
                      properties:
                        services:
                          description: List of services which support encryption.
                          properties:
                            blob:
                              description: The encryption function of the blob storage
                                service.
                              properties:
                                enabled:
                                  type: boolean
                                  description: A boolean indicating whether or not
                                    the service encrypts the data as it is stored.
                                lastEnabledTime:
                                  readOnly: true
                                  type: string
                                  format: date-time
                                  description: Gets a rough estimate of the date/time
                                    when the encryption was last enabled by the user.
                                    Only returned when encryption is enabled. There
                                    might be some unencrypted blobs which were written
                                    after this time, as it is just a rough estimate.
                                keyType:
                                  type: string
                                  description: Encryption key type to be used for
                                    the encryption service. 'Account' key type implies
                                    that an account-scoped encryption key will be
                                    used. 'Service' key type implies that a default
                                    service key is used.
                                  enum:
                                  - Service
                                  - Account
                                  x-ms-enum:
                                    name: KeyType
                                    modelAsString: true
                                  x-ms-mutability:
                                  - create
                                  - read
                            file:
                              description: The encryption function of the file storage
                                service.
                              properties:
                                enabled:
                                  type: boolean
                                  description: A boolean indicating whether or not
                                    the service encrypts the data as it is stored.
                                lastEnabledTime:
                                  readOnly: true
                                  type: string
                                  format: date-time
                                  description: Gets a rough estimate of the date/time
                                    when the encryption was last enabled by the user.
                                    Only returned when encryption is enabled. There
                                    might be some unencrypted blobs which were written
                                    after this time, as it is just a rough estimate.
                                keyType:
                                  type: string
                                  description: Encryption key type to be used for
                                    the encryption service. 'Account' key type implies
                                    that an account-scoped encryption key will be
                                    used. 'Service' key type implies that a default
                                    service key is used.
                                  enum:
                                  - Service
                                  - Account
                                  x-ms-enum:
                                    name: KeyType
                                    modelAsString: true
                                  x-ms-mutability:
                                  - create
                                  - read
                            table:
                              description: The encryption function of the table storage
                                service.
                              properties:
                                enabled:
                                  type: boolean
                                  description: A boolean indicating whether or not
                                    the service encrypts the data as it is stored.
                                lastEnabledTime:
                                  readOnly: true
                                  type: string
                                  format: date-time
                                  description: Gets a rough estimate of the date/time
                                    when the encryption was last enabled by the user.
                                    Only returned when encryption is enabled. There
                                    might be some unencrypted blobs which were written
                                    after this time, as it is just a rough estimate.
                                keyType:
                                  type: string
                                  description: Encryption key type to be used for
                                    the encryption service. 'Account' key type implies
                                    that an account-scoped encryption key will be
                                    used. 'Service' key type implies that a default
                                    service key is used.
                                  enum:
                                  - Service
                                  - Account
                                  x-ms-enum:
                                    name: KeyType
                                    modelAsString: true
                                  x-ms-mutability:
                                  - create
                                  - read
                            queue:
                              description: The encryption function of the queue storage
                                service.
                              properties:
                                enabled:
                                  type: boolean
                                  description: A boolean indicating whether or not
                                    the service encrypts the data as it is stored.
                                lastEnabledTime:
                                  readOnly: true
                                  type: string
                                  format: date-time
                                  description: Gets a rough estimate of the date/time
                                    when the encryption was last enabled by the user.
                                    Only returned when encryption is enabled. There
                                    might be some unencrypted blobs which were written
                                    after this time, as it is just a rough estimate.
                                keyType:
                                  type: string
                                  description: Encryption key type to be used for
                                    the encryption service. 'Account' key type implies
                                    that an account-scoped encryption key will be
                                    used. 'Service' key type implies that a default
                                    service key is used.
                                  enum:
                                  - Service
                                  - Account
                                  x-ms-enum:
                                    name: KeyType
                                    modelAsString: true
                                  x-ms-mutability:
                                  - create
                                  - read
                        keySource:
                          type: string
                          description: 'The encryption keySource (provider). Possible
                            values (case-insensitive):  Microsoft.Storage, Microsoft.Keyvault'
                          enum:
                          - Microsoft.Storage
                          - Microsoft.Keyvault
                          x-ms-enum:
                            name: KeySource
                            modelAsString: true
                          default: Microsoft.Storage
                        requireInfrastructureEncryption:
                          type: boolean
                          x-ms-client-name: RequireInfrastructureEncryption
                          description: A boolean indicating whether or not the service
                            applies a secondary layer of encryption with platform
                            managed keys for data at rest.
                        keyvaultproperties:
                          x-ms-client-name: KeyVaultProperties
                          description: Properties provided by key vault.
                          properties:
                            keyname:
                              type: string
                              description: The name of KeyVault key.
                              x-ms-client-name: KeyName
                            keyversion:
                              type: string
                              description: The version of KeyVault key.
                              x-ms-client-name: KeyVersion
                            keyvaulturi:
                              type: string
                              description: The Uri of KeyVault.
                              x-ms-client-name: KeyVaultUri
                            currentVersionedKeyIdentifier:
                              type: string
                              readOnly: true
                              description: The object identifier of the current versioned
                                Key Vault Key in use.
                              x-ms-client-name: CurrentVersionedKeyIdentifier
                            lastKeyRotationTimestamp:
                              type: string
                              readOnly: true
                              format: date-time
                              description: Timestamp of last rotation of the Key Vault
                                Key.
                              x-ms-client-name: LastKeyRotationTimestamp
                      required:
                      - keySource
                    networkAcls:
                      x-ms-client-name: NetworkRuleSet
                      description: Network rule set
                      properties:
                        bypass:
                          type: string
                          enum:
                          - None
                          - Logging
                          - Metrics
                          - AzureServices
                          x-ms-enum:
                            name: Bypass
                            modelAsString: true
                          x-ms-client-name: Bypass
                          default: AzureServices
                          description: Specifies whether traffic is bypassed for Logging/Metrics/AzureServices.
                            Possible values are any combination of Logging|Metrics|AzureServices
                            (For example, "Logging, Metrics"), or None to bypass none
                            of those traffics.
                        virtualNetworkRules:
                          type: array
                          items:
                            description: Virtual Network rule.
                            properties:
                              id:
                                type: string
                                x-ms-client-name: VirtualNetworkResourceId
                                description: 'Resource ID of a subnet, for example:
                                  /subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.Network/virtualNetworks/{vnetName}/subnets/{subnetName}.'
                              action:
                                type: string
                                enum:
                                - Allow
                                x-ms-enum:
                                  name: Action
                                  modelAsString: false
                                default: Allow
                                description: The action of virtual network rule.
                              state:
                                type: string
                                enum:
                                - provisioning
                                - deprovisioning
                                - succeeded
                                - failed
                                - networkSourceDeleted
                                x-ms-enum:
                                  name: State
                                  modelAsString: false
                                description: Gets the state of virtual network rule.
                            required:
                            - id
                          description: Sets the virtual network rules
                        ipRules:
                          type: array
                          items:
                            description: IP rule with specific IP or IP range in CIDR
                              format.
                            properties:
                              value:
                                type: string
                                x-ms-client-name: IPAddressOrRange
                                description: Specifies the IP or IP range in CIDR
                                  format. Only IPV4 address is allowed.
                              action:
                                type: string
                                enum:
                                - Allow
                                x-ms-enum:
                                  name: Action
                                  modelAsString: false
                                default: Allow
                                description: The action of IP ACL rule.
                            required:
                            - value
                          description: Sets the IP ACL rules
                        defaultAction:
                          type: string
                          enum:
                          - Allow
                          - Deny
                          x-ms-enum:
                            name: DefaultAction
                            modelAsString: false
                          default: Allow
                          description: Specifies the default action of allow or deny
                            when no other rules match.
                      required:
                      - defaultAction
                    accessTier:
                      type: string
                      description: Required for storage accounts where kind = BlobStorage.
                        The access tier used for billing.
                      enum:
                      - Hot
                      - Cool
                      x-ms-enum:
                        name: AccessTier
                        modelAsString: false
                    azureFilesIdentityBasedAuthentication:
                      description: Provides the identity based authentication settings
                        for Azure Files.
                      properties:
                        directoryServiceOptions:
                          type: string
                          description: Indicates the directory service used.
                          enum:
                          - None
                          - AADDS
                          - AD
                          x-ms-enum:
                            name: DirectoryServiceOptions
                            modelAsString: true
                        activeDirectoryProperties:
                          description: Required if choose AD.
                          properties:
                            domainName:
                              type: string
                              description: Specifies the primary domain that the AD
                                DNS server is authoritative for.
                            netBiosDomainName:
                              type: string
                              description: Specifies the NetBIOS domain name.
                            forestName:
                              type: string
                              description: Specifies the Active Directory forest to
                                get.
                            domainGuid:
                              type: string
                              description: Specifies the domain GUID.
                            domainSid:
                              type: string
                              description: Specifies the security identifier (SID).
                            azureStorageSid:
                              type: string
                              description: Specifies the security identifier (SID)
                                for Azure Storage.
                          required:
                          - domainName
                          - netBiosDomainName
                          - forestName
                          - domainGuid
                          - domainSid
                          - azureStorageSid
                      required:
                      - directoryServiceOptions
                    supportsHttpsTrafficOnly:
                      type: boolean
                      x-ms-client-name: EnableHttpsTrafficOnly
                      description: Allows https traffic only to storage service if
                        sets to true. The default value is true since API version
                        2019-04-01.
                    isHnsEnabled:
                      type: boolean
                      x-ms-client-name: IsHnsEnabled
                      description: Account HierarchicalNamespace enabled if sets to
                        true.
                    largeFileSharesState:
                      type: string
                      enum:
                      - Disabled
                      - Enabled
                      x-ms-enum:
                        name: LargeFileSharesState
                        modelAsString: true
                      description: Allow large file shares if sets to Enabled. It
                        cannot be disabled once it is enabled.
                    routingPreference:
                      x-ms-client-name: RoutingPreference
                      description: Maintains information about the network routing
                        choice opted by the user for data transfer
                      properties:
                        routingChoice:
                          type: string
                          description: Routing Choice defines the kind of network
                            routing opted by the user.
                          enum:
                          - MicrosoftRouting
                          - InternetRouting
                          x-ms-enum:
                            name: RoutingChoice
                            modelAsString: true
                        publishMicrosoftEndpoints:
                          type: boolean
                          description: A boolean flag which indicates whether microsoft
                            routing storage endpoints are to be published
                        publishInternetEndpoints:
                          type: boolean
                          description: A boolean flag which indicates whether internet
                            routing storage endpoints are to be published
                    allowBlobPublicAccess:
                      type: boolean
                      x-ms-client-name: AllowBlobPublicAccess
                      description: Allow or disallow public access to all blobs or
                        containers in the storage account. The default interpretation
                        is true for this property.
                    minimumTlsVersion:
                      type: string
                      enum:
                      - TLS1_0
                      - TLS1_1
                      - TLS1_2
                      x-ms-enum:
                        name: MinimumTlsVersion
                        modelAsString: true
                      description: Set the minimum TLS version to be permitted on
                        requests to storage. The default interpretation is TLS 1.0
                        for this property.
                    allowSharedKeyAccess:
                      type: boolean
                      description: Indicates whether the storage account permits requests
                        to be authorized with the account access key via Shared Key.
                        If false, then all requests, including shared access signatures,
                        must be authorized with Azure Active Directory (Azure AD).
                        The default value is null, which is equivalent to true.
              required:
              - sku
              - kind
              - location
              description: The parameters used when creating a storage account.
        description: The parameters to provide for the created account.
        required: true
      responses:
        '200':
          description: OK -- returned when the storage account was already created
            from a previous request with the same properties specified in the request
            body.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  sku:
                    readOnly: true
                    description: Gets the SKU.
                    properties:
                      name:
                        type: string
                        description: The SKU name. Required for account creation;
                          optional for update. Note that in older versions, SKU name
                          was called accountType.
                        enum:
                        - Standard_LRS
                        - Standard_GRS
                        - Standard_RAGRS
                        - Standard_ZRS
                        - Premium_LRS
                        - Premium_ZRS
                        - Standard_GZRS
                        - Standard_RAGZRS
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                      tier:
                        readOnly: true
                        type: string
                        description: The SKU tier. This is based on the SKU name.
                        enum:
                        - Standard
                        - Premium
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: false
                    required:
                    - name
                  kind:
                    readOnly: true
                    type: string
                    description: Gets the Kind.
                    enum:
                    - Storage
                    - StorageV2
                    - BlobStorage
                    - FileStorage
                    - BlockBlobStorage
                    x-ms-enum:
                      name: Kind
                      modelAsString: true
                  identity:
                    description: The identity of the resource.
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource.
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - SystemAssigned
                        x-ms-enum:
                          name: IdentityType
                          modelAsString: false
                    required:
                    - type
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the storage account.
                    properties:
                      provisioningState:
                        readOnly: true
                        type: string
                        description: Gets the status of the storage account at the
                          time the operation was called.
                        enum:
                        - Creating
                        - ResolvingDNS
                        - Succeeded
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: false
                      primaryEndpoints:
                        readOnly: true
                        description: Gets the URLs that are used to perform a retrieval
                          of a public blob, queue, or table object. Note that Standard_ZRS
                          and Premium_LRS accounts only return the blob endpoint.
                        properties:
                          blob:
                            readOnly: true
                            type: string
                            description: Gets the blob endpoint.
                          queue:
                            readOnly: true
                            type: string
                            description: Gets the queue endpoint.
                          table:
                            readOnly: true
                            type: string
                            description: Gets the table endpoint.
                          file:
                            readOnly: true
                            type: string
                            description: Gets the file endpoint.
                          web:
                            readOnly: true
                            type: string
                            description: Gets the web endpoint.
                          dfs:
                            readOnly: true
                            type: string
                            description: Gets the dfs endpoint.
                          microsoftEndpoints:
                            x-ms-client-flatten: false
                            description: Gets the microsoft routing storage endpoints.
                            properties:
                              blob:
                                readOnly: true
                                type: string
                                description: Gets the blob endpoint.
                              queue:
                                readOnly: true
                                type: string
                                description: Gets the queue endpoint.
                              table:
                                readOnly: true
                                type: string
                                description: Gets the table endpoint.
                              file:
                                readOnly: true
                                type: string
                                description: Gets the file endpoint.
                              web:
                                readOnly: true
                                type: string
                                description: Gets the web endpoint.
                              dfs:
                                readOnly: true
                                type: string
                                description: Gets the dfs endpoint.
                          internetEndpoints:
                            x-ms-client-flatten: false
                            description: Gets the internet routing storage endpoints
                            properties:
                              blob:
                                readOnly: true
                                type: string
                                description: Gets the blob endpoint.
                              file:
                                readOnly: true
                                type: string
                                description: Gets the file endpoint.
                              web:
                                readOnly: true
                                type: string
                                description: Gets the web endpoint.
                              dfs:
                                readOnly: true
                                type: string
                                description: Gets the dfs endpoint.
                      primaryLocation:
                        readOnly: true
                        type: string
                        description: Gets the location of the primary data center
                          for the storage account.
                      statusOfPrimary:
                        readOnly: true
                        type: string
                        description: Gets the status indicating whether the primary
                          location of the storage account is available or unavailable.
                        enum:
                        - available
                        - unavailable
                        x-ms-enum:
                          name: AccountStatus
                          modelAsString: false
                      lastGeoFailoverTime:
                        readOnly: true
                        type: string
                        format: date-time
                        description: Gets the timestamp of the most recent instance
                          of a failover to the secondary location. Only the most recent
                          timestamp is retained. This element is not returned if there
                          has never been a failover instance. Only available if the
                          accountType is Standard_GRS or Standard_RAGRS.
                      secondaryLocation:
                        readOnly: true
                        type: string
                        description: Gets the location of the geo-replicated secondary
                          for the storage account. Only available if the accountType
                          is Standard_GRS or Standard_RAGRS.
                      statusOfSecondary:
                        readOnly: true
                        type: string
                        description: Gets the status indicating whether the secondary
                          location of the storage account is available or unavailable.
                          Only available if the SKU name is Standard_GRS or Standard_RAGRS.
                        enum:
                        - available
                        - unavailable
                        x-ms-enum:
                          name: AccountStatus
                          modelAsString: false
                      creationTime:
                        readOnly: true
                        type: string
                        format: date-time
                        description: Gets the creation date and time of the storage
                          account in UTC.
                      customDomain:
                        readOnly: true
                        description: Gets the custom domain the user assigned to this
                          storage account.
                        properties:
                          name:
                            type: string
                            description: Gets or sets the custom domain name assigned
                              to the storage account. Name is the CNAME source.
                          useSubDomainName:
                            type: boolean
                            description: Indicates whether indirect CName validation
                              is enabled. Default value is false. This should only
                              be set on updates.
                        required:
                        - name
                      secondaryEndpoints:
                        readOnly: true
                        description: Gets the URLs that are used to perform a retrieval
                          of a public blob, queue, or table object from the secondary
                          location of the storage account. Only available if the SKU
                          name is Standard_RAGRS.
                        properties:
                          blob:
                            readOnly: true
                            type: string
                            description: Gets the blob endpoint.
                          queue:
                            readOnly: true
                            type: string
                            description: Gets the queue endpoint.
                          table:
                            readOnly: true
                            type: string
                            description: Gets the table endpoint.
                          file:
                            readOnly: true
                            type: string
                            description: Gets the file endpoint.
                          web:
                            readOnly: true
                            type: string
                            description: Gets the web endpoint.
                          dfs:
                            readOnly: true
                            type: string
                            description: Gets the dfs endpoint.
                          microsoftEndpoints:
                            x-ms-client-flatten: false
                            description: Gets the microsoft routing storage endpoints.
                            properties:
                              blob:
                                readOnly: true
                                type: string
                                description: Gets the blob endpoint.
                              queue:
                                readOnly: true
                                type: string
                                description: Gets the queue endpoint.
                              table:
                                readOnly: true
                                type: string
                                description: Gets the table endpoint.
                              file:
                                readOnly: true
                                type: string
                                description: Gets the file endpoint.
                              web:
                                readOnly: true
                                type: string
                                description: Gets the web endpoint.
                              dfs:
                                readOnly: true
                                type: string
                                description: Gets the dfs endpoint.
                          internetEndpoints:
                            x-ms-client-flatten: false
                            description: Gets the internet routing storage endpoints
                            properties:
                              blob:
                                readOnly: true
                                type: string
                                description: Gets the blob endpoint.
                              file:
                                readOnly: true
                                type: string
                                description: Gets the file endpoint.
                              web:
                                readOnly: true
                                type: string
                                description: Gets the web endpoint.
                              dfs:
                                readOnly: true
                                type: string
                                description: Gets the dfs endpoint.
                      encryption:
                        readOnly: true
                        description: Gets the encryption settings on the account.
                          If unspecified, the account is unencrypted.
                        properties:
                          services:
                            description: List of services which support encryption.
                            properties:
                              blob:
                                description: The encryption function of the blob storage
                                  service.
                                properties:
                                  enabled:
                                    type: boolean
                                    description: A boolean indicating whether or not
                                      the service encrypts the data as it is stored.
                                  lastEnabledTime:
                                    readOnly: true
                                    type: string
                                    format: date-time
                                    description: Gets a rough estimate of the date/time
                                      when the encryption was last enabled by the
                                      user. Only returned when encryption is enabled.
                                      There might be some unencrypted blobs which
                                      were written after this time, as it is just
                                      a rough estimate.
                                  keyType:
                                    type: string
                                    description: Encryption key type to be used for
                                      the encryption service. 'Account' key type implies
                                      that an account-scoped encryption key will be
                                      used. 'Service' key type implies that a default
                                      service key is used.
                                    enum:
                                    - Service
                                    - Account
                                    x-ms-enum:
                                      name: KeyType
                                      modelAsString: true
                                    x-ms-mutability:
                                    - create
                                    - read
                              file:
                                description: The encryption function of the file storage
                                  service.
                                properties:
                                  enabled:
                                    type: boolean
                                    description: A boolean indicating whether or not
                                      the service encrypts the data as it is stored.
                                  lastEnabledTime:
                                    readOnly: true
                                    type: string
                                    format: date-time
                                    description: Gets a rough estimate of the date/time
                                      when the encryption was last enabled by the
                                      user. Only returned when encryption is enabled.
                                      There might be some unencrypted blobs which
                                      were written after this time, as it is just
                                      a rough estimate.
                                  keyType:
                                    type: string
                                    description: Encryption key type to be used for
                                      the encryption service. 'Account' key type implies
                                      that an account-scoped encryption key will be
                                      used. 'Service' key type implies that a default
                                      service key is used.
                                    enum:
                                    - Service
                                    - Account
                                    x-ms-enum:
                                      name: KeyType
                                      modelAsString: true
                                    x-ms-mutability:
                                    - create
                                    - read
                              table:
                                description: The encryption function of the table
                                  storage service.
                                properties:
                                  enabled:
                                    type: boolean
                                    description: A boolean indicating whether or not
                                      the service encrypts the data as it is stored.
                                  lastEnabledTime:
                                    readOnly: true
                                    type: string
                                    format: date-time
                                    description: Gets a rough estimate of the date/time
                                      when the encryption was last enabled by the
                                      user. Only returned when encryption is enabled.
                                      There might be some unencrypted blobs which
                                      were written after this time, as it is just
                                      a rough estimate.
                                  keyType:
                                    type: string
                                    description: Encryption key type to be used for
                                      the encryption service. 'Account' key type implies
                                      that an account-scoped encryption key will be
                                      used. 'Service' key type implies that a default
                                      service key is used.
                                    enum:
                                    - Service
                                    - Account
                                    x-ms-enum:
                                      name: KeyType
                                      modelAsString: true
                                    x-ms-mutability:
                                    - create
                                    - read
                              queue:
                                description: The encryption function of the queue
                                  storage service.
                                properties:
                                  enabled:
                                    type: boolean
                                    description: A boolean indicating whether or not
                                      the service encrypts the data as it is stored.
                                  lastEnabledTime:
                                    readOnly: true
                                    type: string
                                    format: date-time
                                    description: Gets a rough estimate of the date/time
                                      when the encryption was last enabled by the
                                      user. Only returned when encryption is enabled.
                                      There might be some unencrypted blobs which
                                      were written after this time, as it is just
                                      a rough estimate.
                                  keyType:
                                    type: string
                                    description: Encryption key type to be used for
                                      the encryption service. 'Account' key type implies
                                      that an account-scoped encryption key will be
                                      used. 'Service' key type implies that a default
                                      service key is used.
                                    enum:
                                    - Service
                                    - Account
                                    x-ms-enum:
                                      name: KeyType
                                      modelAsString: true
                                    x-ms-mutability:
                                    - create
                                    - read
                          keySource:
                            type: string
                            description: 'The encryption keySource (provider). Possible
                              values (case-insensitive):  Microsoft.Storage, Microsoft.Keyvault'
                            enum:
                            - Microsoft.Storage
                            - Microsoft.Keyvault
                            x-ms-enum:
                              name: KeySource
                              modelAsString: true
                            default: Microsoft.Storage
                          requireInfrastructureEncryption:
                            type: boolean
                            x-ms-client-name: RequireInfrastructureEncryption
                            description: A boolean indicating whether or not the service
                              applies a secondary layer of encryption with platform
                              managed keys for data at rest.
                          keyvaultproperties:
                            x-ms-client-name: KeyVaultProperties
                            description: Properties provided by key vault.
                            properties:
                              keyname:
                                type: string
                                description: The name of KeyVault key.
                                x-ms-client-name: KeyName
                              keyversion:
                                type: string
                                description: The version of KeyVault key.
                                x-ms-client-name: KeyVersion
                              keyvaulturi:
                                type: string
                                description: The Uri of KeyVault.
                                x-ms-client-name: KeyVaultUri
                              currentVersionedKeyIdentifier:
                                type: string
                                readOnly: true
                                description: The object identifier of the current
                                  versioned Key Vault Key in use.
                                x-ms-client-name: CurrentVersionedKeyIdentifier
                              lastKeyRotationTimestamp:
                                type: string
                                readOnly: true
                                format: date-time
                                description: Timestamp of last rotation of the Key
                                  Vault Key.
                                x-ms-client-name: LastKeyRotationTimestamp
                        required:
                        - keySource
                      accessTier:
                        readOnly: true
                        type: string
                        description: Required for storage accounts where kind = BlobStorage.
                          The access tier used for billing.
                        enum:
                        - Hot
                        - Cool
                        x-ms-enum:
                          name: AccessTier
                          modelAsString: false
                      azureFilesIdentityBasedAuthentication:
                        description: Provides the identity based authentication settings
                          for Azure Files.
                        properties:
                          directoryServiceOptions:
                            type: string
                            description: Indicates the directory service used.
                            enum:
                            - None
                            - AADDS
                            - AD
                            x-ms-enum:
                              name: DirectoryServiceOptions
                              modelAsString: true
                          activeDirectoryProperties:
                            description: Required if choose AD.
                            properties:
                              domainName:
                                type: string
                                description: Specifies the primary domain that the
                                  AD DNS server is authoritative for.
                              netBiosDomainName:
                                type: string
                                description: Specifies the NetBIOS domain name.
                              forestName:
                                type: string
                                description: Specifies the Active Directory forest
                                  to get.
                              domainGuid:
                                type: string
                                description: Specifies the domain GUID.
                              domainSid:
                                type: string
                                description: Specifies the security identifier (SID).
                              azureStorageSid:
                                type: string
                                description: Specifies the security identifier (SID)
                                  for Azure Storage.
                            required:
                            - domainName
                            - netBiosDomainName
                            - forestName
                            - domainGuid
                            - domainSid
                            - azureStorageSid
                        required:
                        - directoryServiceOptions
                      supportsHttpsTrafficOnly:
                        type: boolean
                        x-ms-client-name: EnableHttpsTrafficOnly
                        description: Allows https traffic only to storage service
                          if sets to true.
                      networkAcls:
                        x-ms-client-name: NetworkRuleSet
                        description: Network rule set
                        readOnly: true
                        properties:
                          bypass:
                            type: string
                            enum:
                            - None
                            - Logging
                            - Metrics
                            - AzureServices
                            x-ms-enum:
                              name: Bypass
                              modelAsString: true
                            x-ms-client-name: Bypass
                            default: AzureServices
                            description: Specifies whether traffic is bypassed for
                              Logging/Metrics/AzureServices. Possible values are any
                              combination of Logging|Metrics|AzureServices (For example,
                              "Logging, Metrics"), or None to bypass none of those
                              traffics.
                          virtualNetworkRules:
                            type: array
                            items:
                              description: Virtual Network rule.
                              properties:
                                id:
                                  type: string
                                  x-ms-client-name: VirtualNetworkResourceId
                                  description: 'Resource ID of a subnet, for example:
                                    /subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.Network/virtualNetworks/{vnetName}/subnets/{subnetName}.'
                                action:
                                  type: string
                                  enum:
                                  - Allow
                                  x-ms-enum:
                                    name: Action
                                    modelAsString: false
                                  default: Allow
                                  description: The action of virtual network rule.
                                state:
                                  type: string
                                  enum:
                                  - provisioning
                                  - deprovisioning
                                  - succeeded
                                  - failed
                                  - networkSourceDeleted
                                  x-ms-enum:
                                    name: State
                                    modelAsString: false
                                  description: Gets the state of virtual network rule.
                              required:
                              - id
                            description: Sets the virtual network rules
                          ipRules:
                            type: array
                            items:
                              description: IP rule with specific IP or IP range in
                                CIDR format.
                              properties:
                                value:
                                  type: string
                                  x-ms-client-name: IPAddressOrRange
                                  description: Specifies the IP or IP range in CIDR
                                    format. Only IPV4 address is allowed.
                                action:
                                  type: string
                                  enum:
                                  - Allow
                                  x-ms-enum:
                                    name: Action
                                    modelAsString: false
                                  default: Allow
                                  description: The action of IP ACL rule.
                              required:
                              - value
                            description: Sets the IP ACL rules
                          defaultAction:
                            type: string
                            enum:
                            - Allow
                            - Deny
                            x-ms-enum:
                              name: DefaultAction
                              modelAsString: false
                            default: Allow
                            description: Specifies the default action of allow or
                              deny when no other rules match.
                        required:
                        - defaultAction
                      isHnsEnabled:
                        type: boolean
                        x-ms-client-name: IsHnsEnabled
                        description: Account HierarchicalNamespace enabled if sets
                          to true.
                      geoReplicationStats:
                        x-ms-client-name: GeoReplicationStats
                        description: Geo Replication Stats
                        readOnly: true
                        properties:
                          status:
                            readOnly: true
                            type: string
                            description: 'The status of the secondary location. Possible
                              values are: - Live: Indicates that the secondary location
                              is active and operational. - Bootstrap: Indicates initial
                              synchronization from the primary location to the secondary
                              location is in progress.This typically occurs when replication
                              is first enabled. - Unavailable: Indicates that the
                              secondary location is temporarily unavailable.'
                            enum:
                            - Live
                            - Bootstrap
                            - Unavailable
                            x-ms-enum:
                              name: GeoReplicationStatus
                              modelAsString: true
                          lastSyncTime:
                            readOnly: true
                            type: string
                            format: date-time
                            description: All primary writes preceding this UTC date/time
                              value are guaranteed to be available for read operations.
                              Primary writes following this point in time may or may
                              not be available for reads. Element may be default value
                              if value of LastSyncTime is not available, this can
                              happen if secondary is offline or we are in bootstrap.
                          canFailover:
                            readOnly: true
                            type: boolean
                            description: A boolean flag which indicates whether or
                              not account failover is supported for the account.
                      failoverInProgress:
                        type: boolean
                        x-ms-client-name: FailoverInProgress
                        description: If the failover is in progress, the value will
                          be true, otherwise, it will be null.
                        readOnly: true
                      largeFileSharesState:
                        type: string
                        enum:
                        - Disabled
                        - Enabled
                        x-ms-enum:
                          name: LargeFileSharesState
                          modelAsString: true
                        description: Allow large file shares if sets to Enabled. It
                          cannot be disabled once it is enabled.
                      privateEndpointConnections:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Fully qualified resource ID for the resource.
                                Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                            name:
                              readOnly: true
                              type: string
                              description: The name of the resource
                            type:
                              readOnly: true
                              type: string
                              description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                or "Microsoft.Storage/storageAccounts"
                            properties:
                              x-ms-client-flatten: true
                              description: Resource properties.
                              properties:
                                privateEndpoint:
                                  description: The resource of private end point.
                                  properties:
                                    id:
                                      readOnly: true
                                      type: string
                                      description: The ARM identifier for Private
                                        Endpoint
                                privateLinkServiceConnectionState:
                                  description: A collection of information about the
                                    state of the connection between service consumer
                                    and provider.
                                  properties:
                                    status:
                                      description: Indicates whether the connection
                                        has been Approved/Rejected/Removed by the
                                        owner of the service.
                                      type: string
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      x-ms-enum:
                                        name: PrivateEndpointServiceConnectionStatus
                                        modelAsString: true
                                    description:
                                      type: string
                                      description: The reason for approval/rejection
                                        of the connection.
                                    actionRequired:
                                      type: string
                                      description: A message indicating if changes
                                        on the service provider require any updates
                                        on the consumer.
                                provisioningState:
                                  description: The provisioning state of the private
                                    endpoint connection resource.
                                  type: string
                                  readOnly: true
                                  enum:
                                  - Succeeded
                                  - Creating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: PrivateEndpointConnectionProvisioningState
                                    modelAsString: true
                              required:
                              - privateLinkServiceConnectionState
                          title: Resource
                          description: Common fields that are returned in the response
                            for all Azure Resource Manager resources
                          x-ms-azure-resource: true
                        description: List of private endpoint connection associated
                          with the specified storage account
                      routingPreference:
                        x-ms-client-name: RoutingPreference
                        description: Maintains information about the network routing
                          choice opted by the user for data transfer
                        properties:
                          routingChoice:
                            type: string
                            description: Routing Choice defines the kind of network
                              routing opted by the user.
                            enum:
                            - MicrosoftRouting
                            - InternetRouting
                            x-ms-enum:
                              name: RoutingChoice
                              modelAsString: true
                          publishMicrosoftEndpoints:
                            type: boolean
                            description: A boolean flag which indicates whether microsoft
                              routing storage endpoints are to be published
                          publishInternetEndpoints:
                            type: boolean
                            description: A boolean flag which indicates whether internet
                              routing storage endpoints are to be published
                      blobRestoreStatus:
                        x-ms-client-name: BlobRestoreStatus
                        description: Blob restore status
                        readOnly: true
                        properties:
                          status:
                            readOnly: true
                            type: string
                            description: 'The status of blob restore progress. Possible
                              values are: - InProgress: Indicates that blob restore
                              is ongoing. - Complete: Indicates that blob restore
                              has been completed successfully. - Failed: Indicates
                              that blob restore is failed.'
                            enum:
                            - InProgress
                            - Complete
                            - Failed
                            x-ms-enum:
                              name: BlobRestoreProgressStatus
                              modelAsString: true
                          failureReason:
                            readOnly: true
                            type: string
                            description: Failure reason when blob restore is failed.
                          restoreId:
                            readOnly: true
                            type: string
                            description: Id for tracking blob restore request.
                          parameters:
                            readOnly: true
                            description: Blob restore request parameters.
                            properties:
                              timeToRestore:
                                type: string
                                format: date-time
                                description: Restore blob to the specified time.
                              blobRanges:
                                type: array
                                items:
                                  properties:
                                    startRange:
                                      type: string
                                      description: Blob start range. This is inclusive.
                                        Empty means account start.
                                    endRange:
                                      type: string
                                      description: Blob end range. This is exclusive.
                                        Empty means account end.
                                  required:
                                  - startRange
                                  - endRange
                                  description: Blob range
                                description: Blob ranges to restore.
                            required:
                            - timeToRestore
                            - blobRanges
                      allowBlobPublicAccess:
                        type: boolean
                        x-ms-client-name: AllowBlobPublicAccess
                        description: Allow or disallow public access to all blobs
                          or containers in the storage account. The default interpretation
                          is true for this property.
                      minimumTlsVersion:
                        type: string
                        enum:
                        - TLS1_0
                        - TLS1_1
                        - TLS1_2
                        x-ms-enum:
                          name: MinimumTlsVersion
                          modelAsString: true
                        description: Set the minimum TLS version to be permitted on
                          requests to storage. The default interpretation is TLS 1.0
                          for this property.
                      allowSharedKeyAccess:
                        type: boolean
                        description: Indicates whether the storage account permits
                          requests to be authorized with the account access key via
                          Shared Key. If false, then all requests, including shared
                          access signatures, must be authorized with Azure Active
                          Directory (Azure AD). The default value is null, which is
                          equivalent to true.
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Accepted -- Create or update request accepted; operation will
            complete asynchronously.
      x-ms-long-running-operation: true
    delete:
      tags:
      - StorageAccounts
      operationId: StorageAccounts_Delete
      description: Deletes a storage account in Microsoft Azure.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: accountName
        in: path
        required: true
        description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 24
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK -- storage account deleted successfully.
        '204':
          description: NoContent -- account does not exist in the subscription.
    get:
      tags:
      - StorageAccounts
      operationId: StorageAccounts_GetProperties
      description: Returns the properties for the specified storage account including
        but not limited to name, SKU name, location, and account status. The ListKeys
        operation should be used to retrieve storage keys.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: accountName
        in: path
        required: true
        description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 24
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: $expand
        description: May be used to expand the properties within account's properties.
          By default, data is not included when fetching properties. Currently we
          only support geoReplicationStats and blobRestoreStatus.
        in: query
        required: false
        x-ms-enum:
          name: StorageAccountExpand
          modelAsString: false
        schema:
          type: string
          enum:
          - geoReplicationStats
          - blobRestoreStatus
      responses:
        '200':
          description: OK -- properties retrieved successfully for the storage account.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  sku:
                    readOnly: true
                    description: Gets the SKU.
                    properties:
                      name:
                        type: string
                        description: The SKU name. Required for account creation;
[...]
