openapi: 3.0.0
info:
  version: 2019-06-01
  title: StorageManagementClient
  description: The Azure Storage Management API.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/tableServices
  : get:
      tags:
      - TableServiceProperties
      operationId: TableServices_List
      description: List all table services for the storage account.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: accountName
        in: path
        required: true
        description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 24
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: "OK -- returned the properties of a storage account\u2019s\
            \ Table service."
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          properties:
                            cors:
                              description: Specifies CORS rules for the Table service.
                                You can include up to five CorsRule elements in the
                                request. If no CorsRule elements are included in the
                                request body, all CORS rules will be deleted, and
                                CORS will be disabled for the Table service.
                              properties:
                                corsRules:
                                  type: array
                                  items:
                                    description: 'Specifies a CORS rule for the Blob
                                      service. '
                                    properties:
                                      allowedOrigins:
                                        type: array
                                        items:
                                          type: string
                                        description: Required if CorsRule element
                                          is present. A list of origin domains that
                                          will be allowed via CORS, or "*" to allow
                                          all domains
                                      allowedMethods:
                                        type: array
                                        items:
                                          type: string
                                          enum:
                                          - DELETE
                                          - GET
                                          - HEAD
                                          - MERGE
                                          - POST
                                          - OPTIONS
                                          - PUT
                                        description: Required if CorsRule element
                                          is present. A list of HTTP methods that
                                          are allowed to be executed by the origin.
                                      maxAgeInSeconds:
                                        type: integer
                                        description: Required if CorsRule element
                                          is present. The number of seconds that the
                                          client/browser should cache a preflight
                                          response.
                                      exposedHeaders:
                                        type: array
                                        items:
                                          type: string
                                        description: Required if CorsRule element
                                          is present. A list of response headers to
                                          expose to CORS clients.
                                      allowedHeaders:
                                        type: array
                                        items:
                                          type: string
                                        description: Required if CorsRule element
                                          is present. A list of headers allowed to
                                          be part of the cross-origin request.
                                    required:
                                    - allowedOrigins
                                    - allowedMethods
                                    - maxAgeInSeconds
                                    - exposedHeaders
                                    - allowedHeaders
                                  description: 'The List of CORS rules. You can include
                                    up to five CorsRule elements in the request. '
                          x-ms-client-flatten: true
                          x-ms-client-name: TableServiceProperties
                          description: "The properties of a storage account\u2019\
                            s Table service."
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: List of table services returned.
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the Storage service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the Storage service.
                        description: A list of additional details about the error.
                    description: An error response from the Storage service.
                description: An error response from the Storage service.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/tableServices/{tableServiceName}
  : put:
      tags:
      - TableServiceProperties
      operationId: TableServices_SetServiceProperties
      description: "Sets the properties of a storage account\u2019s Table service,\
        \ including properties for Storage Analytics and CORS (Cross-Origin Resource\
        \ Sharing) rules. "
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: accountName
        in: path
        required: true
        description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 24
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: tableServiceName
        in: path
        required: true
        description: The name of the Table Service within the specified storage account.
          Table Service Name must be 'default'
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - default
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                properties:
                  properties:
                    cors:
                      description: Specifies CORS rules for the Table service. You
                        can include up to five CorsRule elements in the request. If
                        no CorsRule elements are included in the request body, all
                        CORS rules will be deleted, and CORS will be disabled for
                        the Table service.
                      properties:
                        corsRules:
                          type: array
                          items:
                            description: 'Specifies a CORS rule for the Blob service. '
                            properties:
                              allowedOrigins:
                                type: array
                                items:
                                  type: string
                                description: Required if CorsRule element is present.
                                  A list of origin domains that will be allowed via
                                  CORS, or "*" to allow all domains
                              allowedMethods:
                                type: array
                                items:
                                  type: string
                                  enum:
                                  - DELETE
                                  - GET
                                  - HEAD
                                  - MERGE
                                  - POST
                                  - OPTIONS
                                  - PUT
                                description: Required if CorsRule element is present.
                                  A list of HTTP methods that are allowed to be executed
                                  by the origin.
                              maxAgeInSeconds:
                                type: integer
                                description: Required if CorsRule element is present.
                                  The number of seconds that the client/browser should
                                  cache a preflight response.
                              exposedHeaders:
                                type: array
                                items:
                                  type: string
                                description: Required if CorsRule element is present.
                                  A list of response headers to expose to CORS clients.
                              allowedHeaders:
                                type: array
                                items:
                                  type: string
                                description: Required if CorsRule element is present.
                                  A list of headers allowed to be part of the cross-origin
                                  request.
                            required:
                            - allowedOrigins
                            - allowedMethods
                            - maxAgeInSeconds
                            - exposedHeaders
                            - allowedHeaders
                          description: 'The List of CORS rules. You can include up
                            to five CorsRule elements in the request. '
                  x-ms-client-flatten: true
                  x-ms-client-name: TableServiceProperties
                  description: "The properties of a storage account\u2019s Table service."
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: "The properties of a storage account\u2019s Table service, only\
          \ properties for Storage Analytics and CORS (Cross-Origin Resource Sharing)\
          \ rules can be specified."
        required: true
      responses:
        '200':
          description: "OK -- Sets The properties of a storage account\u2019s Table\
            \ service successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    properties:
                      cors:
                        description: Specifies CORS rules for the Table service. You
                          can include up to five CorsRule elements in the request.
                          If no CorsRule elements are included in the request body,
                          all CORS rules will be deleted, and CORS will be disabled
                          for the Table service.
                        properties:
                          corsRules:
                            type: array
                            items:
                              description: 'Specifies a CORS rule for the Blob service. '
                              properties:
                                allowedOrigins:
                                  type: array
                                  items:
                                    type: string
                                  description: Required if CorsRule element is present.
                                    A list of origin domains that will be allowed
                                    via CORS, or "*" to allow all domains
                                allowedMethods:
                                  type: array
                                  items:
                                    type: string
                                    enum:
                                    - DELETE
                                    - GET
                                    - HEAD
                                    - MERGE
                                    - POST
                                    - OPTIONS
                                    - PUT
                                  description: Required if CorsRule element is present.
                                    A list of HTTP methods that are allowed to be
                                    executed by the origin.
                                maxAgeInSeconds:
                                  type: integer
                                  description: Required if CorsRule element is present.
                                    The number of seconds that the client/browser
                                    should cache a preflight response.
                                exposedHeaders:
                                  type: array
                                  items:
                                    type: string
                                  description: Required if CorsRule element is present.
                                    A list of response headers to expose to CORS clients.
                                allowedHeaders:
                                  type: array
                                  items:
                                    type: string
                                  description: Required if CorsRule element is present.
                                    A list of headers allowed to be part of the cross-origin
                                    request.
                              required:
                              - allowedOrigins
                              - allowedMethods
                              - maxAgeInSeconds
                              - exposedHeaders
                              - allowedHeaders
                            description: 'The List of CORS rules. You can include
                              up to five CorsRule elements in the request. '
                    x-ms-client-flatten: true
                    x-ms-client-name: TableServiceProperties
                    description: "The properties of a storage account\u2019s Table\
                      \ service."
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the Storage service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the Storage service.
                        description: A list of additional details about the error.
                    description: An error response from the Storage service.
                description: An error response from the Storage service.
    get:
      tags:
      - TableServiceProperties
      operationId: TableServices_GetServiceProperties
      description: "Gets the properties of a storage account\u2019s Table service,\
        \ including properties for Storage Analytics and CORS (Cross-Origin Resource\
        \ Sharing) rules."
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: accountName
        in: path
        required: true
        description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 24
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: tableServiceName
        in: path
        required: true
        description: The name of the Table Service within the specified storage account.
          Table Service Name must be 'default'
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - default
      responses:
        '200':
          description: "OK -- returned the properties of a storage account\u2019s\
            \ Table service."
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    properties:
                      cors:
                        description: Specifies CORS rules for the Table service. You
                          can include up to five CorsRule elements in the request.
                          If no CorsRule elements are included in the request body,
                          all CORS rules will be deleted, and CORS will be disabled
                          for the Table service.
                        properties:
                          corsRules:
                            type: array
                            items:
                              description: 'Specifies a CORS rule for the Blob service. '
                              properties:
                                allowedOrigins:
                                  type: array
                                  items:
                                    type: string
                                  description: Required if CorsRule element is present.
                                    A list of origin domains that will be allowed
                                    via CORS, or "*" to allow all domains
                                allowedMethods:
                                  type: array
                                  items:
                                    type: string
                                    enum:
                                    - DELETE
                                    - GET
                                    - HEAD
                                    - MERGE
                                    - POST
                                    - OPTIONS
                                    - PUT
                                  description: Required if CorsRule element is present.
                                    A list of HTTP methods that are allowed to be
                                    executed by the origin.
                                maxAgeInSeconds:
                                  type: integer
                                  description: Required if CorsRule element is present.
                                    The number of seconds that the client/browser
                                    should cache a preflight response.
                                exposedHeaders:
                                  type: array
                                  items:
                                    type: string
                                  description: Required if CorsRule element is present.
                                    A list of response headers to expose to CORS clients.
                                allowedHeaders:
                                  type: array
                                  items:
                                    type: string
                                  description: Required if CorsRule element is present.
                                    A list of headers allowed to be part of the cross-origin
                                    request.
                              required:
                              - allowedOrigins
                              - allowedMethods
                              - maxAgeInSeconds
                              - exposedHeaders
                              - allowedHeaders
                            description: 'The List of CORS rules. You can include
                              up to five CorsRule elements in the request. '
                    x-ms-client-flatten: true
                    x-ms-client-name: TableServiceProperties
                    description: "The properties of a storage account\u2019s Table\
                      \ service."
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the Storage service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the Storage service.
                        description: A list of additional details about the error.
                    description: An error response from the Storage service.
                description: An error response from the Storage service.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/tableServices/default/tables/{tableName}
  : put:
      tags:
      - TableService
      operationId: Table_Create
      description: Creates a new table with the specified table name, under the specified
        account.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: accountName
        in: path
        required: true
        description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 24
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: tableName
        in: path
        required: true
        description: A table name must be unique within a storage account and must
          be between 3 and 63 characters.The name must comprise of only alphanumeric
          characters and it cannot begin with a numeric character.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[A-Za-z][A-Za-z0-9]{2,62}$
      responses:
        '200':
          description: OK -- Creates a table with the given table name successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    x-ms-client-name: TableProperties
                    description: Table resource properties.
                    properties:
                      tableName:
                        type: string
                        readOnly: true
                        description: Table name under the specified account
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the Storage service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the Storage service.
                        description: A list of additional details about the error.
                    description: An error response from the Storage service.
                description: An error response from the Storage service.
    patch:
      tags:
      - TableService
      operationId: Table_Update
      description: Creates a new table with the specified table name, under the specified
        account.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: accountName
        in: path
        required: true
        description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 24
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: tableName
        in: path
        required: true
        description: A table name must be unique within a storage account and must
          be between 3 and 63 characters.The name must comprise of only alphanumeric
          characters and it cannot begin with a numeric character.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[A-Za-z][A-Za-z0-9]{2,62}$
      responses:
        '200':
          description: OK -- Creates a table with the given table name successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    x-ms-client-name: TableProperties
                    description: Table resource properties.
                    properties:
                      tableName:
                        type: string
                        readOnly: true
                        description: Table name under the specified account
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the Storage service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the Storage service.
                        description: A list of additional details about the error.
                    description: An error response from the Storage service.
                description: An error response from the Storage service.
    get:
      tags:
      - TableService
      operationId: Table_Get
      description: Gets the table with the specified table name, under the specified
        account if it exists.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: accountName
        in: path
        required: true
        description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 24
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: tableName
        in: path
        required: true
        description: A table name must be unique within a storage account and must
          be between 3 and 63 characters.The name must comprise of only alphanumeric
          characters and it cannot begin with a numeric character.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[A-Za-z][A-Za-z0-9]{2,62}$
      responses:
        '200':
          description: OK -- returned table with the specified table name successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    x-ms-client-name: TableProperties
                    description: Table resource properties.
                    properties:
                      tableName:
                        type: string
                        readOnly: true
                        description: Table name under the specified account
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the Storage service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the Storage service.
                        description: A list of additional details about the error.
                    description: An error response from the Storage service.
                description: An error response from the Storage service.
    delete:
      tags:
      - TableService
      operationId: Table_Delete
      description: Deletes the table with the specified table name, under the specified
        account if it exists.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: accountName
        in: path
        required: true
        description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 24
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: tableName
        in: path
        required: true
        description: A table name must be unique within a storage account and must
          be between 3 and 63 characters.The name must comprise of only alphanumeric
          characters and it cannot begin with a numeric character.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[A-Za-z][A-Za-z0-9]{2,62}$
      responses:
        '204':
          description: No Content - Successfully deleted the table with the specified
            table name
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the Storage service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the Storage service.
                        description: A list of additional details about the error.
                    description: An error response from the Storage service.
                description: An error response from the Storage service.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/tableServices/default/tables
  : get:
      tags:
      - TableService
      operationId: Table_List
      description: Gets a list of all the tables under the specified storage account
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: accountName
        in: path
        required: true
        description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 24
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK -- returned a list of tables successfully.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          x-ms-client-flatten: true
                          x-ms-client-name: TableProperties
                          description: Table resource properties.
                          properties:
                            tableName:
                              type: string
                              readOnly: true
                              description: Table name under the specified account
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: List of tables returned.
                    readOnly: true
                  nextLink:
                    type: string
                    description: Request URL that can be used to query next page of
                      tables
                    readOnly: true
                description: Response schema. Contains list of tables returned
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the Storage service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the Storage service.
                        description: A list of additional details about the error.
                    description: An error response from the Storage service.
                description: An error response from the Storage service.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    TableServiceName:
      name: tableServiceName
      in: path
      required: true
      description: The name of the Table Service within the specified storage account.
        Table Service Name must be 'default'
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - default
    TableName:
      name: tableName
      in: path
      required: true
      description: A table name must be unique within a storage account and must be
        between 3 and 63 characters.The name must comprise of only alphanumeric characters
        and it cannot begin with a numeric character.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 3
        maxLength: 63
        pattern: ^[A-Za-z][A-Za-z0-9]{2,62}$
    ResourceGroupName:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group within the user's subscription.
        The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._\(\)]+$
    StorageAccountName:
      name: accountName
      in: path
      required: true
      description: The name of the storage account within the specified resource group.
        Storage account names must be between 3 and 24 characters in length and use
        numbers and lower-case letters only.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 3
        maxLength: 24
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ListTableServices:
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
              properties:
                properties:
                  cors:
                    description: Specifies CORS rules for the Table service. You can
                      include up to five CorsRule elements in the request. If no CorsRule
                      elements are included in the request body, all CORS rules will
                      be deleted, and CORS will be disabled for the Table service.
                    properties:
                      corsRules:
                        type: array
                        items:
                          description: 'Specifies a CORS rule for the Blob service. '
                          properties:
                            allowedOrigins:
                              type: array
                              items:
                                type: string
                              description: Required if CorsRule element is present.
                                A list of origin domains that will be allowed via
                                CORS, or "*" to allow all domains
                            allowedMethods:
                              type: array
                              items:
                                type: string
                                enum:
                                - DELETE
                                - GET
                                - HEAD
                                - MERGE
                                - POST
                                - OPTIONS
                                - PUT
                              description: Required if CorsRule element is present.
                                A list of HTTP methods that are allowed to be executed
                                by the origin.
                            maxAgeInSeconds:
                              type: integer
                              description: Required if CorsRule element is present.
                                The number of seconds that the client/browser should
                                cache a preflight response.
                            exposedHeaders:
                              type: array
                              items:
                                type: string
                              description: Required if CorsRule element is present.
                                A list of response headers to expose to CORS clients.
                            allowedHeaders:
                              type: array
                              items:
                                type: string
                              description: Required if CorsRule element is present.
                                A list of headers allowed to be part of the cross-origin
                                request.
                          required:
                          - allowedOrigins
                          - allowedMethods
                          - maxAgeInSeconds
                          - exposedHeaders
                          - allowedHeaders
                        description: 'The List of CORS rules. You can include up to
                          five CorsRule elements in the request. '
                x-ms-client-flatten: true
                x-ms-client-name: TableServiceProperties
                description: "The properties of a storage account\u2019s Table service."
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
          description: List of table services returned.
          readOnly: true
    TableServiceProperties:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
        properties:
          properties:
            cors:
              description: Specifies CORS rules for the Table service. You can include
                up to five CorsRule elements in the request. If no CorsRule elements
                are included in the request body, all CORS rules will be deleted,
                and CORS will be disabled for the Table service.
              properties:
                corsRules:
                  type: array
                  items:
                    description: 'Specifies a CORS rule for the Blob service. '
                    properties:
                      allowedOrigins:
                        type: array
                        items:
                          type: string
                        description: Required if CorsRule element is present. A list
                          of origin domains that will be allowed via CORS, or "*"
                          to allow all domains
                      allowedMethods:
                        type: array
                        items:
                          type: string
                          enum:
                          - DELETE
                          - GET
                          - HEAD
                          - MERGE
                          - POST
                          - OPTIONS
                          - PUT
                        description: Required if CorsRule element is present. A list
                          of HTTP methods that are allowed to be executed by the origin.
                      maxAgeInSeconds:
                        type: integer
                        description: Required if CorsRule element is present. The
                          number of seconds that the client/browser should cache a
                          preflight response.
                      exposedHeaders:
                        type: array
                        items:
                          type: string
                        description: Required if CorsRule element is present. A list
                          of response headers to expose to CORS clients.
                      allowedHeaders:
                        type: array
                        items:
                          type: string
                        description: Required if CorsRule element is present. A list
                          of headers allowed to be part of the cross-origin request.
                    required:
                    - allowedOrigins
                    - allowedMethods
                    - maxAgeInSeconds
                    - exposedHeaders
                    - allowedHeaders
                  description: 'The List of CORS rules. You can include up to five
                    CorsRule elements in the request. '
          x-ms-client-flatten: true
          x-ms-client-name: TableServiceProperties
          description: "The properties of a storage account\u2019s Table service."
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    Table:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
        properties:
          x-ms-client-flatten: true
          x-ms-client-name: TableProperties
          description: Table resource properties.
          properties:
            tableName:
              type: string
              readOnly: true
              description: Table name under the specified account
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    TableProperties:
      properties:
        tableName:
          type: string
          readOnly: true
          description: Table name under the specified account
    ListTableResource:
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
              properties:
                x-ms-client-flatten: true
                x-ms-client-name: TableProperties
                description: Table resource properties.
                properties:
                  tableName:
                    type: string
                    readOnly: true
                    description: Table name under the specified account
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
          description: List of tables returned.
          readOnly: true
        nextLink:
          type: string
          description: Request URL that can be used to query next page of tables
          readOnly: true
      description: Response schema. Contains list of tables returned
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for
            display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of
            the property in error.
        details:
          type: array
          items:
            x-ms-external: true
            properties:
              code:
                type: string
                description: An identifier for the error. Codes are invariant and
                  are intended to be consumed programmatically.
              message:
                type: string
                description: A message describing the error, intended to be suitable
                  for display in a user interface.
              target:
                type: string
                description: The target of the particular error. For example, the
                  name of the property in error.
              details:
                type: array
                items:
                  x-ms-external: true
                  properties:
                    code:
                      type: string
                      description: An identifier for the error. Codes are invariant
                        and are intended to be consumed programmatically.
                    message:
                      type: string
                      description: A message describing the error, intended to be
                        suitable for display in a user interface.
                    target:
                      type: string
                      description: The target of the particular error. For example,
                        the name of the property in error.
                  description: An error response from the Storage service.
                description: A list of additional details about the error.
            description: An error response from the Storage service.
          description: A list of additional details about the error.
      description: An error response from the Storage service.
    CloudError:
      x-ms-external: true
      properties:
        error:
          x-ms-external: true
          properties:
            code:
              type: string
              description: An identifier for the error. Codes are invariant and are
                intended to be consumed programmatically.
            message:
              type: string
              description: A message describing the error, intended to be suitable
                for display in a user interface.
            target:
              type: string
              description: The target of the particular error. For example, the name
                of the property in error.
            details:
              type: array
              items:
                x-ms-external: true
                properties:
                  code:
                    type: string
                    description: An identifier for the error. Codes are invariant
                      and are intended to be consumed programmatically.
                  message:
                    type: string
                    description: A message describing the error, intended to be suitable
                      for display in a user interface.
                  target:
                    type: string
                    description: The target of the particular error. For example,
                      the name of the property in error.
                  details:
                    type: array
                    items:
                      x-ms-external: true
                      properties:
                        code:
                          type: string
                          description: An identifier for the error. Codes are invariant
                            and are intended to be consumed programmatically.
                        message:
                          type: string
                          description: A message describing the error, intended to
                            be suitable for display in a user interface.
                        target:
                          type: string
                          description: The target of the particular error. For example,
                            the name of the property in error.
                      description: An error response from the Storage service.
                    description: A list of additional details about the error.
                description: An error response from the Storage service.
              description: A list of additional details about the error.
          description: An error response from the Storage service.
      description: An error response from the Storage service.
    Resource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
      x-ms-azure-resource: true
    CorsRule:
      properties:
        allowedOrigins:
          type: array
          items:
            type: string
          description: Required if CorsRule element is present. A list of origin domains
            that will be allowed via CORS, or "*" to allow all domains
        allowedMethods:
          type: array
          items:
            type: string
            enum:
            - DELETE
            - GET
            - HEAD
            - MERGE
            - POST
            - OPTIONS
            - PUT
          description: Required if CorsRule element is present. A list of HTTP methods
            that are allowed to be executed by the origin.
        maxAgeInSeconds:
          type: integer
          description: Required if CorsRule element is present. The number of seconds
            that the client/browser should cache a preflight response.
        exposedHeaders:
          type: array
          items:
            type: string
          description: Required if CorsRule element is present. A list of response
            headers to expose to CORS clients.
        allowedHeaders:
          type: array
          items:
            type: string
          description: Required if CorsRule element is present. A list of headers
            allowed to be part of the cross-origin request.
      required:
      - allowedOrigins
      - allowedMethods
      - maxAgeInSeconds
      - exposedHeaders
      - allowedHeaders
      description: Specifies a CORS rule for the Blob service.
    CorsRules:
      properties:
        corsRules:
          type: array
          items:
            description: 'Specifies a CORS rule for the Blob service. '
            properties:
              allowedOrigins:
                type: array
                items:
                  type: string
                description: Required if CorsRule element is present. A list of origin
                  domains that will be allowed via CORS, or "*" to allow all domains
              allowedMethods:
                type: array
                items:
                  type: string
                  enum:
                  - DELETE
                  - GET
                  - HEAD
                  - MERGE
                  - POST
                  - OPTIONS
                  - PUT
                description: Required if CorsRule element is present. A list of HTTP
                  methods that are allowed to be executed by the origin.
              maxAgeInSeconds:
                type: integer
                description: Required if CorsRule element is present. The number of
                  seconds that the client/browser should cache a preflight response.
              exposedHeaders:
                type: array
                items:
                  type: string
                description: Required if CorsRule element is present. A list of response
                  headers to expose to CORS clients.
              allowedHeaders:
                type: array
                items:
                  type: string
                description: Required if CorsRule element is present. A list of headers
                  allowed to be part of the cross-origin request.
            required:
            - allowedOrigins
            - allowedMethods
            - maxAgeInSeconds
            - exposedHeaders
            - allowedHeaders
          description: 'The List of CORS rules. You can include up to five CorsRule
            elements in the request. '
      description: 'Sets the CORS rules. You can include up to five CorsRule elements
        in the request. '
