openapi: 3.0.0
info:
  title: Microsoft NetApp
  description: Microsoft NetApp Azure Resource Provider specification
  version: 2025-06-01
  x-ms-code-generation-settings:
    name: AzureNetAppFilesManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.NetApp/operations:
    get:
      tags:
      - Operations
      summary: Describes the Resource Provider
      description: Lists all of the available Microsoft.NetApp Rest API operations
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      x-ms-pageable:
        nextLinkName: nextLink
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Result of the request to list Cloud Volume operations.
                  It contains a list of operations and a URL link to get the next
                  set of results.
                properties:
                  value:
                    type: array
                    items:
                      description: Microsoft.NetApp REST API operation definition.
                      type: object
                      properties:
                        name:
                          description: 'Operation name: {provider}/{resource}/{operation}'
                          type: string
                        display:
                          description: Display metadata associated with the operation.
                          properties:
                            provider:
                              description: 'Service provider: Microsoft NetApp.'
                              type: string
                            resource:
                              description: Resource on which the operation is performed
                                etc.
                              type: string
                            operation:
                              description: 'Type of operation: get, read, delete,
                                etc.'
                              type: string
                            description:
                              description: Operation description.
                              type: string
                        origin:
                          type: string
                          description: The origin of operations.
                        properties:
                          description: Properties of operation, include metric specifications.
                          x-ms-client-flatten: true
                          properties:
                            serviceSpecification:
                              description: One property of operation, include metric
                                specifications.
                              properties:
                                metricSpecifications:
                                  description: Metric specifications of operation.
                                  type: array
                                  items:
                                    description: Metric specification of operation.
                                    properties:
                                      name:
                                        type: string
                                        description: Name of metric specification.
                                      displayName:
                                        type: string
                                        description: Display name of metric specification.
                                      displayDescription:
                                        type: string
                                        description: Display description of metric
                                          specification.
                                      unit:
                                        type: string
                                        description: Unit could be Bytes or Count.
                                      supportedAggregationTypes:
                                        description: Support metric aggregation type.
                                        uniqueItems: false
                                        type: array
                                        items:
                                          enum:
                                          - Average
                                          type: string
                                          x-ms-enum:
                                            name: MetricAggregationType
                                            modelAsString: true
                                      supportedTimeGrainTypes:
                                        type: array
                                        description: The supported time grain types
                                          for the metrics.
                                        items:
                                          type: string
                                      internalMetricName:
                                        type: string
                                        description: The internal metric name.
                                      enableRegionalMdmAccount:
                                        description: Whether or not the service is
                                          using regional MDM accounts.
                                        type: boolean
                                      sourceMdmAccount:
                                        type: string
                                        description: The source MDM account.
                                      sourceMdmNamespace:
                                        type: string
                                        description: The source MDM namespace.
                                      dimensions:
                                        description: Dimensions of blobs, including
                                          blob type and access tier.
                                        type: array
                                        items:
                                          description: Dimension of blobs, possibly
                                            be blob type or access tier.
                                          properties:
                                            name:
                                              type: string
                                              description: Display name of dimension.
                                            displayName:
                                              type: string
                                              description: Display name of dimension.
                                        x-ms-identifiers:
                                        - name
                                      aggregationType:
                                        type: string
                                        description: Aggregation type could be Average.
                                      fillGapWithZero:
                                        type: boolean
                                        description: The property to decide fill gap
                                          with zero or not.
                                      category:
                                        type: string
                                        description: The category this metric specification
                                          belong to, could be Capacity.
                                      resourceIdDimensionNameOverride:
                                        type: string
                                        description: Account Resource Id.
                                      isInternal:
                                        description: Whether the metric is internal.
                                        type: boolean
                                  x-ms-identifiers:
                                  - name
                                logSpecifications:
                                  description: Log specification of operation.
                                  type: array
                                  items:
                                    description: Log Definition of a single resource
                                      metric.
                                    type: object
                                    properties:
                                      name:
                                        description: Name of log specification.
                                        type: string
                                      displayName:
                                        description: Display name of log specification.
                                        type: string
                                  x-ms-identifiers:
                                  - name
                    x-ms-identifiers:
                    - name
                    description: List of Storage operations supported by the Storage
                      resource provider.
                  nextLink:
                    type: string
                    format: uri
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/checkNameAvailability:
    post:
      tags:
      - NetApp Resource
      summary: Check resource name availability
      description: Check if a resource name is available.
      operationId: NetAppResource_CheckNameAvailability
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: location
        in: path
        description: The name of the Azure region.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              description: Resource name availability request content.
              required:
              - name
              - type
              - resourceGroup
              type: object
              properties:
                name:
                  description: Resource name to verify.
                  type: string
                type:
                  description: Resource type used for verification.
                  enum:
                  - Microsoft.NetApp/netAppAccounts
                  - Microsoft.NetApp/netAppAccounts/capacityPools
                  - Microsoft.NetApp/netAppAccounts/capacityPools/volumes
                  - Microsoft.NetApp/netAppAccounts/capacityPools/volumes/snapshots
                  type: string
                  x-ms-enum:
                    name: CheckNameResourceTypes
                    modelAsString: true
                resourceGroup:
                  description: Resource group name.
                  type: string
        description: Name availability request.
        required: true
        x-ms-client-flatten: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Information regarding availability of a resource.
                type: object
                properties:
                  isAvailable:
                    description: <code>true</code> indicates name is valid and available.
                      <code>false</code> indicates the name is invalid, unavailable,
                      or both.
                    type: boolean
                  reason:
                    description: <code>Invalid</code> indicates the name provided
                      does not match Azure App Service naming requirements. <code>AlreadyExists</code>
                      indicates that the name is already in use and is therefore unavailable.
                    enum:
                    - Invalid
                    - AlreadyExists
                    type: string
                    x-ms-enum:
                      name: InAvailabilityReasonType
                      modelAsString: true
                  message:
                    description: If reason == invalid, provide the user with the reason
                      why the given name is invalid, and provide the resource naming
                      requirements so that the user can select a valid name. If reason
                      == AlreadyExists, explain that resource name is already in use,
                      and direct them to select a different name.
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/checkFilePathAvailability:
    post:
      tags:
      - NetApp Resource
      summary: Check file path availability
      description: Check if a file path is available.
      operationId: NetAppResource_CheckFilePathAvailability
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: location
        in: path
        description: The name of the Azure region.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              description: File path availability request content - availability is
                based on the name and the subnetId.
              required:
              - name
              - subnetId
              type: object
              properties:
                name:
                  description: File path to verify.
                  type: string
                subnetId:
                  type: string
                  description: The Azure Resource URI for a delegated subnet. Must
                    have the delegation Microsoft.NetApp/volumes
                availabilityZone:
                  title: Logical availability zone
                  type: string
                  description: The Azure Resource logical availability zone which
                    is used within zone mapping lookup for the subscription and region.
                    The lookup will retrieve the physical zone where volume is placed.
                  nullable: true
        description: File path availability request.
        required: true
        x-ms-client-flatten: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Information regarding availability of a resource.
                type: object
                properties:
                  isAvailable:
                    description: <code>true</code> indicates name is valid and available.
                      <code>false</code> indicates the name is invalid, unavailable,
                      or both.
                    type: boolean
                  reason:
                    description: <code>Invalid</code> indicates the name provided
                      does not match Azure App Service naming requirements. <code>AlreadyExists</code>
                      indicates that the name is already in use and is therefore unavailable.
                    enum:
                    - Invalid
                    - AlreadyExists
                    type: string
                    x-ms-enum:
                      name: InAvailabilityReasonType
                      modelAsString: true
                  message:
                    description: If reason == invalid, provide the user with the reason
                      why the given name is invalid, and provide the resource naming
                      requirements so that the user can select a valid name. If reason
                      == AlreadyExists, explain that resource name is already in use,
                      and direct them to select a different name.
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/checkQuotaAvailability:
    post:
      tags:
      - NetApp Resource
      summary: Check quota availability
      description: Check if a quota is available.
      operationId: NetAppResource_CheckQuotaAvailability
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: location
        in: path
        description: The name of the Azure region.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              description: Quota availability request content.
              required:
              - name
              - type
              - resourceGroup
              type: object
              properties:
                name:
                  description: Name of the resource to verify.
                  type: string
                type:
                  description: Resource type used for verification.
                  enum:
                  - Microsoft.NetApp/netAppAccounts
                  - Microsoft.NetApp/netAppAccounts/capacityPools
                  - Microsoft.NetApp/netAppAccounts/capacityPools/volumes
                  - Microsoft.NetApp/netAppAccounts/capacityPools/volumes/snapshots
                  type: string
                  x-ms-enum:
                    name: CheckQuotaNameResourceTypes
                    modelAsString: true
                resourceGroup:
                  description: Resource group name.
                  type: string
        description: Quota availability request.
        required: true
        x-ms-client-flatten: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Information regarding availability of a resource.
                type: object
                properties:
                  isAvailable:
                    description: <code>true</code> indicates name is valid and available.
                      <code>false</code> indicates the name is invalid, unavailable,
                      or both.
                    type: boolean
                  reason:
                    description: <code>Invalid</code> indicates the name provided
                      does not match Azure App Service naming requirements. <code>AlreadyExists</code>
                      indicates that the name is already in use and is therefore unavailable.
                    enum:
                    - Invalid
                    - AlreadyExists
                    type: string
                    x-ms-enum:
                      name: InAvailabilityReasonType
                      modelAsString: true
                  message:
                    description: If reason == invalid, provide the user with the reason
                      why the given name is invalid, and provide the resource naming
                      requirements so that the user can select a valid name. If reason
                      == AlreadyExists, explain that resource name is already in use,
                      and direct them to select a different name.
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/usages:
    get:
      tags:
      - NetApp Resource
      summary: Get usages
      description: Get current subscription usages
      operationId: NetAppResourceUsages_List
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: location
        in: path
        description: The name of the Azure region.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Usages result
                type: object
                properties:
                  value:
                    description: A list of usages
                    type: array
                    items:
                      description: Usages entity model
                      type: object
                      properties:
                        id:
                          description: The id of the usage.
                          readOnly: true
                          type: string
                        name:
                          description: The name of the usage.
                          type: object
                          readOnly: true
                          properties:
                            value:
                              description: The name of the usage.
                              type: string
                            localizedValue:
                              description: The localized name of the usage.
                              type: string
                        properties:
                          description: Usage properties
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            currentValue:
                              description: The current usage value for the subscription.
                              readOnly: true
                              type: integer
                              format: int32
                            limit:
                              description: The limit of the usage.
                              readOnly: true
                              type: integer
                              format: int32
                            unit:
                              description: The unit of the usage.
                              readOnly: true
                              type: string
                  nextLink:
                    type: string
                    description: URL to get the next set of results.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/usages/{usageType}:
    get:
      tags:
      - NetApp Resource
      summary: Get specific type of usage
      description: Get current subscription usage of the specific type
      operationId: NetAppResourceUsages_Get
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: location
        in: path
        description: The name of the Azure region.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: usageType
        in: path
        required: true
        description: The type of usage
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Usages entity model
                type: object
                properties:
                  id:
                    description: The id of the usage.
                    readOnly: true
                    type: string
                  name:
                    description: The name of the usage.
                    type: object
                    readOnly: true
                    properties:
                      value:
                        description: The name of the usage.
                        type: string
                      localizedValue:
                        description: The localized name of the usage.
                        type: string
                  properties:
                    description: Usage properties
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      currentValue:
                        description: The current usage value for the subscription.
                        readOnly: true
                        type: integer
                        format: int32
                      limit:
                        description: The limit of the usage.
                        readOnly: true
                        type: integer
                        format: int32
                      unit:
                        description: The unit of the usage.
                        readOnly: true
                        type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/quotaLimits:
    get:
      tags:
      - NetApp Resource
      summary: Get quota limits
      description: Get the default and current limits for quotas
      operationId: NetAppResourceQuotaLimits_List
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: location
        in: path
        description: The name of the Azure region.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      x-ms-pageable:
        nextLinkName: nextLink
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of Subscription Quota Items
                type: object
                properties:
                  value:
                    description: A list of SubscriptionQuotaItems
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: SubscriptionQuotaItem properties
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            current:
                              description: The current quota value.
                              readOnly: true
                              type: integer
                              format: int32
                            default:
                              description: The default quota value.
                              readOnly: true
                              type: integer
                              format: int32
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: URL to get the next set of results.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/quotaLimits/{quotaLimitName}:
    get:
      tags:
      - NetApp Resource
      summary: Get quota limits
      description: Get the default and current subscription quota limit
      operationId: NetAppResourceQuotaLimits_Get
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: location
        in: path
        description: The name of the Azure region.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: quotaLimitName
        in: path
        required: true
        description: The name of the Quota Limit
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z0-9\-]{0,62}$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: SubscriptionQuotaItem properties
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      current:
                        description: The current quota value.
                        readOnly: true
                        type: integer
                        format: int32
                      default:
                        description: The default quota value.
                        readOnly: true
                        type: integer
                        format: int32
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/regionInfo:
    get:
      summary: Describes region specific information.
      description: Provides storage to network proximity and logical zone mapping
        information.
      tags:
      - NetApp Resource
      operationId: NetAppResource_QueryRegionInfo
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: location
        in: path
        description: The name of the Azure region.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Provides region specific information.
                type: object
                properties:
                  storageToNetworkProximity:
                    title: Storage to Network Proximity
                    description: Provides storage to network proximity information
                      in the region.
                    type: string
                    enum:
                    - Default
                    - T1
                    - T2
                    - AcrossT2
                    - T1AndT2
                    - T1AndAcrossT2
                    - T2AndAcrossT2
                    - T1AndT2AndAcrossT2
                    x-ms-enum:
                      name: RegionStorageToNetworkProximity
                      modelAsString: true
                      values:
                      - value: Default
                        description: Basic network connectivity.
                      - value: T1
                        description: Standard T1 network connectivity.
                      - value: T2
                        description: Standard T2 network connectivity.
                      - value: AcrossT2
                        description: Standard AcrossT2 network connectivity.
                      - value: T1AndT2
                        description: Standard T1 and T2 network connectivity.
                      - value: T1AndAcrossT2
                        description: Standard T1 and AcrossT2 network connectivity.
                      - value: T2AndAcrossT2
                        description: Standard T2 and AcrossT2 network connectivity.
                      - value: T1AndT2AndAcrossT2
                        description: Standard T1, T2 and AcrossT2 network connectivity.
                  availabilityZoneMappings:
                    title: Logical availability zone mappings.
                    description: Provides logical availability zone mappings for the
                      subscription for a region.
                    type: array
                    x-ms-identifiers:
                    - availabilityZone
                    items:
                      type: object
                      properties:
                        availabilityZone:
                          description: Logical availability zone.
                          type: string
                        isAvailable:
                          description: Available availability zone
                          type: boolean
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/regionInfos:
    get:
      summary: Describes region specific information.
      description: Provides region specific information.
      tags:
      - NetApp Resource
      operationId: NetAppResourceRegionInfos_List
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: location
        in: path
        description: The name of the Azure region.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      x-ms-pageable:
        nextLinkName: nextLink
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of regionInfo resources
                type: object
                properties:
                  value:
                    description: A list of regionInfo resources
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: regionInfo properties
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            storageToNetworkProximity:
                              title: Storage to Network Proximity
                              description: Provides storage to network proximity information
                                in the region.
                              type: string
                              enum:
                              - Default
                              - T1
                              - T2
                              - AcrossT2
                              - T1AndT2
                              - T1AndAcrossT2
                              - T2AndAcrossT2
                              - T1AndT2AndAcrossT2
                              x-ms-enum:
                                name: RegionStorageToNetworkProximity
                                modelAsString: true
                                values:
                                - value: Default
                                  description: Basic network connectivity.
                                - value: T1
                                  description: Standard T1 network connectivity.
                                - value: T2
                                  description: Standard T2 network connectivity.
                                - value: AcrossT2
                                  description: Standard AcrossT2 network connectivity.
                                - value: T1AndT2
                                  description: Standard T1 and T2 network connectivity.
                                - value: T1AndAcrossT2
                                  description: Standard T1 and AcrossT2 network connectivity.
                                - value: T2AndAcrossT2
                                  description: Standard T2 and AcrossT2 network connectivity.
                                - value: T1AndT2AndAcrossT2
                                  description: Standard T1, T2 and AcrossT2 network
                                    connectivity.
                            availabilityZoneMappings:
                              title: Logical availability zone mappings.
                              description: Provides logical availability zone mappings
                                for the subscription for a region.
                              type: array
                              x-ms-identifiers:
                              - availabilityZone
                              items:
                                type: object
                                properties:
                                  availabilityZone:
                                    description: Logical availability zone.
                                    type: string
                                  isAvailable:
                                    description: Available availability zone
                                    type: boolean
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: URL to get the next set of results.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/regionInfos/default:
    get:
      summary: Describes region specific information.
      description: Provides storage to network proximity and logical zone mapping
        information.
      tags:
      - NetApp Resource
      operationId: NetAppResourceRegionInfos_Get
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: location
        in: path
        description: The name of the Azure region.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
[...]
