openapi: 3.0.0
info:
  title: DeploymentStacksClient
  version: 2024-03-01
  description: The APIs listed in this specification can be used to manage Deployment
    stack resources through the Azure Resource Manager.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: DeploymentStacksAtResourceGroup
- name: DeploymentStacksAtSubscription
- name: DeploymentStacksAtManagementGroup
paths:
  /providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Resources/deploymentStacks:
    get:
      operationId: DeploymentStacks_ListAtManagementGroup
      tags:
      - DeploymentStacksAtManagementGroup
      description: Lists Deployment stacks at the specified scope.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: managementGroupId
        in: path
        description: The name of the management group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a DeploymentStack list operation.
                properties:
                  value:
                    type: array
                    description: The DeploymentStack items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          type: object
                          properties:
                            error:
                              description: The error detail.
                              type: object
                              properties:
                                code:
                                  type: string
                                  description: The error code.
                                  readOnly: true
                                message:
                                  type: string
                                  description: The error message.
                                  readOnly: true
                                target:
                                  type: string
                                  description: The error target.
                                  readOnly: true
                                details:
                                  type: array
                                  description: The error details.
                                  items:
                                    type: object
                                    description: The error detail.
                                    properties:
                                      code:
                                        type: string
                                        description: The error code.
                                        readOnly: true
                                      message:
                                        type: string
                                        description: The error message.
                                        readOnly: true
                                      target:
                                        type: string
                                        description: The error target.
                                        readOnly: true
                                      details:
                                        type: array
                                        description: The error details.
                                        items:
                                          type: object
                                          description: The error detail.
                                          properties:
                                            code:
                                              type: string
                                              description: The error code.
                                              readOnly: true
                                            message:
                                              type: string
                                              description: The error message.
                                              readOnly: true
                                            target:
                                              type: string
                                              description: The error target.
                                              readOnly: true
                                        readOnly: true
                                        x-ms-identifiers:
                                        - message
                                        - target
                                      additionalInfo:
                                        type: array
                                        description: The error additional info.
                                        items:
                                          type: object
                                          description: The resource management error
                                            additional info.
                                          properties:
                                            type:
                                              type: string
                                              description: The additional info type.
                                              readOnly: true
                                            info:
                                              type: object
                                              description: The additional info.
                                              readOnly: true
                                        readOnly: true
                                        x-ms-identifiers: []
                                  readOnly: true
                                  x-ms-identifiers:
                                  - message
                                  - target
                                additionalInfo:
                                  type: array
                                  description: The error additional info.
                                  items:
                                    type: object
                                    description: The resource management error additional
                                      info.
                                    properties:
                                      type:
                                        type: string
                                        description: The additional info type.
                                        readOnly: true
                                      info:
                                        type: object
                                        description: The additional info.
                                        readOnly: true
                                  readOnly: true
                                  x-ms-identifiers: []
                            template:
                              type: object
                              description: The template content. You use this element
                                when you want to pass the template syntax directly
                                in the request rather than link to an existing template.
                                It can be a JObject or well-formed JSON string. Use
                                either the templateLink property or the template property,
                                but not both.
                              additionalProperties: {}
                              x-ms-mutability:
                              - update
                              - create
                            templateLink:
                              description: The URI of the template. Use either the
                                templateLink property or the template property, but
                                not both.
                              x-ms-mutability:
                              - update
                              - create
                              type: object
                              properties:
                                uri:
                                  type: string
                                  description: The URI of the template to deploy.
                                    Use either the uri or id property, but not both.
                                id:
                                  type: string
                                  description: The resourceId of a Template Spec.
                                    Use either the id or uri property, but not both.
                                relativePath:
                                  type: string
                                  description: The relativePath property can be used
                                    to deploy a linked template at a location relative
                                    to the parent. If the parent template was linked
                                    with a TemplateSpec, this will reference an artifact
                                    in the TemplateSpec.  If the parent was linked
                                    with a URI, the child deployment will be a combination
                                    of the parent and relativePath URIs.
                                queryString:
                                  type: string
                                  description: The query string (for example, a SAS
                                    token) to be used with the templateLink URI.
                                contentVersion:
                                  type: string
                                  description: If included, must match the ContentVersion
                                    in the template.
                            parameters:
                              type: object
                              description: Name and value pairs that define the deployment
                                parameters for the template. Use this element when
                                providing the parameter values directly in the request,
                                rather than linking to an existing parameter file.
                                Use either the parametersLink property or the parameters
                                property, but not both.
                              additionalProperties:
                                type: object
                                description: Deployment parameter for the template.
                                properties:
                                  value:
                                    description: Input value to the parameter.
                                  type:
                                    type: string
                                    description: Type of the value.
                                  reference:
                                    description: Azure Key Vault parameter reference.
                                    type: object
                                    properties:
                                      keyVault:
                                        description: Azure Key Vault reference.
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                            description: Azure Key Vault resourceId.
                                        required:
                                        - id
                                      secretName:
                                        type: string
                                        description: Azure Key Vault secret name.
                                      secretVersion:
                                        type: string
                                        description: Azure Key Vault secret version.
                                    required:
                                    - keyVault
                                    - secretName
                            parametersLink:
                              description: The URI of parameters file. Use this element
                                to link to an existing parameters file. Use either
                                the parametersLink property or the parameters property,
                                but not both.
                              type: object
                              properties:
                                uri:
                                  type: string
                                  description: The URI of the parameters file.
                                contentVersion:
                                  type: string
                                  description: If included, must match the ContentVersion
                                    in the template.
                              required:
                              - uri
                            actionOnUnmanage:
                              description: Defines the behavior of resources that
                                are no longer managed after the Deployment stack is
                                updated or deleted.
                              type: object
                              properties:
                                resources:
                                  description: Specifies an action for a newly unmanaged
                                    resource. Delete will attempt to delete the resource
                                    from Azure. Detach will leave the resource in
                                    it's current state.
                                  type: string
                                  enum:
                                  - delete
                                  - detach
                                  x-ms-enum:
                                    name: DeploymentStacksDeleteDetachEnum
                                    modelAsString: true
                                    values:
                                    - name: Delete
                                      value: delete
                                      description: Delete the specified resources
                                        from Azure
                                    - name: Detach
                                      value: detach
                                      description: Keep the specified resources in
                                        Azure
                                resourceGroups:
                                  description: Specifies an action for a newly unmanaged
                                    resource. Delete will attempt to delete the resource
                                    from Azure. Detach will leave the resource in
                                    it's current state.
                                  type: string
                                  enum:
                                  - delete
                                  - detach
                                  x-ms-enum:
                                    name: DeploymentStacksDeleteDetachEnum
                                    modelAsString: true
                                    values:
                                    - name: Delete
                                      value: delete
                                      description: Delete the specified resources
                                        from Azure
                                    - name: Detach
                                      value: detach
                                      description: Keep the specified resources in
                                        Azure
                                managementGroups:
                                  description: Specifies an action for a newly unmanaged
                                    resource. Delete will attempt to delete the resource
                                    from Azure. Detach will leave the resource in
                                    it's current state.
                                  type: string
                                  enum:
                                  - delete
                                  - detach
                                  x-ms-enum:
                                    name: DeploymentStacksDeleteDetachEnum
                                    modelAsString: true
                                    values:
                                    - name: Delete
                                      value: delete
                                      description: Delete the specified resources
                                        from Azure
                                    - name: Detach
                                      value: detach
                                      description: Keep the specified resources in
                                        Azure
                              required:
                              - resources
                            debugSetting:
                              description: The debug setting of the deployment.
                              type: object
                              properties:
                                detailLevel:
                                  type: string
                                  description: Specifies the type of information to
                                    log for debugging. The permitted values are none,
                                    requestContent, responseContent, or both requestContent
                                    and responseContent separated by a comma. The
                                    default is none. When setting this value, carefully
                                    consider the type of information that is being
                                    passed in during deployment. By logging information
                                    about the request or response, sensitive data
                                    that is retrieved through the deployment operations
                                    could potentially be exposed.
                            bypassStackOutOfSyncError:
                              type: boolean
                              description: Flag to bypass service errors that indicate
                                the stack resource list is not correctly synchronized.
                              x-ms-mutability:
                              - update
                              - create
                            deploymentScope:
                              type: string
                              description: 'The scope at which the initial deployment
                                should be created. If a scope is not specified, it
                                will default to the scope of the deployment stack.
                                Valid scopes are: management group (format: ''/providers/Microsoft.Management/managementGroups/{managementGroupId}''),
                                subscription (format: ''/subscriptions/{subscriptionId}''),
                                resource group (format: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'').'
                            description:
                              type: string
                              description: Deployment stack description. Max length
                                of 4096 characters.
                              maxLength: 4096
                            denySettings:
                              description: Defines how resources deployed by the stack
                                are locked.
                              type: object
                              properties:
                                mode:
                                  description: denySettings Mode that defines denied
                                    actions.
                                  type: string
                                  enum:
                                  - denyDelete
                                  - denyWriteAndDelete
                                  - none
                                  x-ms-enum:
                                    name: DenySettingsMode
                                    modelAsString: true
                                    values:
                                    - name: DenyDelete
                                      value: denyDelete
                                      description: Authorized users are able to read
                                        and modify the resources, but cannot delete.
                                    - name: DenyWriteAndDelete
                                      value: denyWriteAndDelete
                                      description: Authorized users can read from
                                        a resource, but cannot modify or delete it.
                                    - name: None
                                      value: none
                                      description: No denyAssignments have been applied.
                                excludedPrincipals:
                                  type: array
                                  description: List of AAD principal IDs excluded
                                    from the lock. Up to 5 principals are permitted.
                                  items:
                                    type: string
                                excludedActions:
                                  type: array
                                  description: 'List of role-based management operations
                                    that are excluded from the denySettings. Up to
                                    200 actions are permitted. If the denySetting
                                    mode is set to ''denyWriteAndDelete'', then the
                                    following actions are automatically appended to
                                    ''excludedActions'': ''*\/read'' and ''Microsoft.Authorization/locks/delete''.
                                    If the denySetting mode is set to ''denyDelete'',
                                    then the following actions are automatically appended
                                    to ''excludedActions'': ''Microsoft.Authorization/locks/delete''.
                                    Duplicate actions will be removed.'
                                  items:
                                    type: string
                                applyToChildScopes:
                                  type: boolean
                                  description: DenySettings will be applied to child
                                    resource scopes of every managed resource with
                                    a deny assignment.
                              required:
                              - mode
                            provisioningState:
                              description: State of the deployment stack.
                              readOnly: true
                              type: string
                              enum:
                              - creating
                              - validating
                              - waiting
                              - deploying
                              - canceling
                              - updatingDenyAssignments
                              - deletingResources
                              - succeeded
                              - failed
                              - canceled
                              - deleting
                              x-ms-enum:
                                name: DeploymentStackProvisioningState
                                modelAsString: true
                                values:
                                - name: Creating
                                  value: creating
                                  description: The deployment stack is currently being
                                    created
                                - name: Validating
                                  value: validating
                                  description: The deployment stack is currently being
                                    validated
                                - name: Waiting
                                  value: waiting
                                  description: The deployment stack is currently waiting
                                - name: Deploying
                                  value: deploying
                                  description: The deployment stack is currently deploying
                                - name: Canceling
                                  value: canceling
                                  description: The deployment stack is being cancelled
                                - name: UpdatingDenyAssignments
                                  value: updatingDenyAssignments
                                  description: The deployment stack is updating deny
                                    assignments
                                - name: DeletingResources
                                  value: deletingResources
                                  description: The deployment stack is deleting resources
                                - name: Succeeded
                                  value: succeeded
                                  description: The deployment stack completed successfully
                                - name: Failed
                                  value: failed
                                  description: The deployment stack has failed
                                - name: Canceled
                                  value: canceled
                                  description: The deployment stack has been cancelled
                                - name: Deleting
                                  value: deleting
                                  description: The deployment stack is being deleted
                            correlationId:
                              type: string
                              description: The correlation id of the last Deployment
                                stack upsert or delete operation. It is in GUID format
                                and is used for tracing.
                              readOnly: true
                            detachedResources:
                              type: array
                              description: An array of resources that were detached
                                during the most recent Deployment stack update. Detached
                                means that the resource was removed from the template,
                                but no relevant deletion operations were specified.
                                So, the resource still exists while no longer being
                                associated with the stack.
                              items:
                                type: object
                                description: The resourceId model.
                                properties:
                                  id:
                                    type: string
                                    description: The ARM Resource ID of a resource
                                      managed by the deployment stack.
                                    readOnly: true
                              readOnly: true
                            deletedResources:
                              type: array
                              description: An array of resources that were deleted
                                during the most recent Deployment stack update. Deleted
                                means that the resource was removed from the template
                                and relevant deletion operations were specified.
                              items:
                                type: object
                                description: The resourceId model.
                                properties:
                                  id:
                                    type: string
                                    description: The ARM Resource ID of a resource
                                      managed by the deployment stack.
                                    readOnly: true
                              readOnly: true
                            failedResources:
                              type: array
                              description: An array of resources that failed to reach
                                goal state during the most recent update. Each resourceId
                                is accompanied by an error message.
                              items:
                                type: object
                                description: The resourceId extended model. This is
                                  used to document failed resources with a resourceId
                                  and a corresponding error.
                                properties:
                                  id:
                                    type: string
                                    description: The ARM Resource ID of a resource
                                      managed by the deployment stack.
                                    readOnly: true
                                  error:
                                    description: The error detail.
                                    type: object
                                    properties:
                                      code:
                                        type: string
                                        description: The error code.
                                        readOnly: true
                                      message:
                                        type: string
                                        description: The error message.
                                        readOnly: true
                                      target:
                                        type: string
                                        description: The error target.
                                        readOnly: true
                                      details:
                                        type: array
                                        description: The error details.
                                        items:
                                          type: object
                                          description: The error detail.
                                          properties:
                                            code:
                                              type: string
                                              description: The error code.
                                              readOnly: true
                                            message:
                                              type: string
                                              description: The error message.
                                              readOnly: true
                                            target:
                                              type: string
                                              description: The error target.
                                              readOnly: true
                                            details:
                                              type: array
                                              description: The error details.
                                              items:
                                                type: object
                                                description: The error detail.
                                                properties:
                                                  code:
                                                    type: string
                                                    description: The error code.
                                                    readOnly: true
                                                  message:
                                                    type: string
                                                    description: The error message.
                                                    readOnly: true
                                                  target:
                                                    type: string
                                                    description: The error target.
                                                    readOnly: true
                                              readOnly: true
                                              x-ms-identifiers:
                                              - message
                                              - target
                                            additionalInfo:
                                              type: array
                                              description: The error additional info.
                                              items:
                                                type: object
                                                description: The resource management
                                                  error additional info.
                                                properties:
                                                  type:
                                                    type: string
                                                    description: The additional info
                                                      type.
                                                    readOnly: true
                                                  info:
                                                    type: object
                                                    description: The additional info.
                                                    readOnly: true
                                              readOnly: true
                                              x-ms-identifiers: []
                                        readOnly: true
                                        x-ms-identifiers:
                                        - message
                                        - target
                                      additionalInfo:
                                        type: array
                                        description: The error additional info.
                                        items:
                                          type: object
                                          description: The resource management error
                                            additional info.
                                          properties:
                                            type:
                                              type: string
                                              description: The additional info type.
                                              readOnly: true
                                            info:
                                              type: object
                                              description: The additional info.
                                              readOnly: true
                                        readOnly: true
                                        x-ms-identifiers: []
                              readOnly: true
                            resources:
                              type: array
                              description: An array of resources currently managed
                                by the deployment stack.
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: The ARM Resource ID of a resource
                                      managed by the deployment stack.
                                    readOnly: true
                                  status:
                                    description: Current management state of the resource
                                      in the deployment stack.
                                    type: string
                                    enum:
                                    - managed
                                    - removeDenyFailed
                                    - deleteFailed
                                    x-ms-enum:
                                      name: ResourceStatusMode
                                      modelAsString: true
                                      values:
                                      - name: Managed
                                        value: managed
                                        description: This resource is managed by the
                                          deployment stack.
                                      - name: RemoveDenyFailed
                                        value: removeDenyFailed
                                        description: Unable to remove the deny assignment
                                          on resource.
                                      - name: DeleteFailed
                                        value: deleteFailed
                                        description: Unable to delete the resource
                                          from Azure. The delete will be retried on
                                          the next stack deployment, or can be deleted
                                          manually.
                                  denyStatus:
                                    type: string
                                    description: denyAssignment settings applied to
                                      the resource.
                                    default: none
                                    enum:
                                    - denyDelete
                                    - notSupported
                                    - inapplicable
                                    - denyWriteAndDelete
                                    - removedBySystem
                                    - none
                                    x-ms-enum:
                                      name: DenyStatusMode
                                      modelAsString: true
                                      values:
                                      - name: DenyDelete
                                        value: denyDelete
                                        description: Authorized users are able to
                                          read and modify the resources, but cannot
                                          delete.
                                      - name: NotSupported
                                        value: notSupported
                                        description: Resource type does not support
                                          denyAssignments.
                                      - name: Inapplicable
                                        value: inapplicable
                                        description: denyAssignments are not supported
                                          on resources outside the scope of the deployment
                                          stack.
                                      - name: DenyWriteAndDelete
                                        value: denyWriteAndDelete
                                        description: Authorized users can only read
                                          from a resource, but cannot modify or delete
                                          it.
                                      - name: RemovedBySystem
                                        value: removedBySystem
                                        description: Deny assignment has been removed
                                          by Azure due to a resource management change
                                          (management group move, etc.)
                                      - name: None
                                        value: none
                                        description: No denyAssignments have been
                                          applied.
                                description: The resourceId model.
                              readOnly: true
                            deploymentId:
                              type: string
                              description: The resourceId of the deployment resource
                                created by the deployment stack.
                              readOnly: true
                            outputs:
                              type: object
                              description: The outputs of the deployment resource
                                created by the deployment stack.
                              additionalProperties: {}
                              readOnly: true
                            duration:
                              type: string
                              description: The duration of the last successful Deployment
                                stack update.
                              readOnly: true
                          description: Deployment Stacks error response.
                          required:
                          - actionOnUnmanage
                          - denySettings
                          x-ms-client-flatten: true
                        location:
                          type: string
                          description: The geo-location where the resource lives.
                            Required for subscription and management group scoped
                            stacks. The location is inherited from the resource group
                            for resource group scoped stacks.
                          x-ms-mutability:
                          - read
                          - create
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Resources/deploymentStacks/{deploymentStackName}
  : get:
      operationId: DeploymentStacks_GetAtManagementGroup
      tags:
      - DeploymentStacksAtManagementGroup
      description: Gets the Deployment stack with the given name.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: managementGroupId
        in: path
        description: The name of the management group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: deploymentStackName
        in: path
        description: Name of the deployment stack.
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    type: object
                    properties:
                      error:
                        description: The error detail.
                        type: object
                        properties:
                          code:
                            type: string
                            description: The error code.
                            readOnly: true
                          message:
                            type: string
                            description: The error message.
                            readOnly: true
                          target:
                            type: string
                            description: The error target.
                            readOnly: true
                          details:
                            type: array
                            description: The error details.
                            items:
                              type: object
                              description: The error detail.
                              properties:
                                code:
                                  type: string
                                  description: The error code.
                                  readOnly: true
                                message:
                                  type: string
                                  description: The error message.
                                  readOnly: true
                                target:
                                  type: string
                                  description: The error target.
                                  readOnly: true
                                details:
                                  type: array
                                  description: The error details.
                                  items:
                                    type: object
                                    description: The error detail.
                                    properties:
                                      code:
                                        type: string
                                        description: The error code.
                                        readOnly: true
                                      message:
                                        type: string
                                        description: The error message.
                                        readOnly: true
                                      target:
                                        type: string
                                        description: The error target.
                                        readOnly: true
                                  readOnly: true
                                  x-ms-identifiers:
                                  - message
                                  - target
                                additionalInfo:
                                  type: array
                                  description: The error additional info.
                                  items:
                                    type: object
                                    description: The resource management error additional
                                      info.
                                    properties:
                                      type:
                                        type: string
                                        description: The additional info type.
                                        readOnly: true
                                      info:
                                        type: object
                                        description: The additional info.
                                        readOnly: true
                                  readOnly: true
                                  x-ms-identifiers: []
                            readOnly: true
                            x-ms-identifiers:
                            - message
                            - target
                          additionalInfo:
                            type: array
                            description: The error additional info.
                            items:
                              type: object
                              description: The resource management error additional
                                info.
                              properties:
                                type:
                                  type: string
                                  description: The additional info type.
                                  readOnly: true
                                info:
                                  type: object
                                  description: The additional info.
                                  readOnly: true
                            readOnly: true
                            x-ms-identifiers: []
                      template:
                        type: object
                        description: The template content. You use this element when
                          you want to pass the template syntax directly in the request
                          rather than link to an existing template. It can be a JObject
                          or well-formed JSON string. Use either the templateLink
                          property or the template property, but not both.
                        additionalProperties: {}
                        x-ms-mutability:
                        - update
                        - create
                      templateLink:
                        description: The URI of the template. Use either the templateLink
                          property or the template property, but not both.
                        x-ms-mutability:
                        - update
                        - create
                        type: object
                        properties:
                          uri:
                            type: string
                            description: The URI of the template to deploy. Use either
                              the uri or id property, but not both.
                          id:
                            type: string
                            description: The resourceId of a Template Spec. Use either
                              the id or uri property, but not both.
                          relativePath:
                            type: string
                            description: The relativePath property can be used to
                              deploy a linked template at a location relative to the
                              parent. If the parent template was linked with a TemplateSpec,
                              this will reference an artifact in the TemplateSpec.  If
                              the parent was linked with a URI, the child deployment
                              will be a combination of the parent and relativePath
                              URIs.
                          queryString:
                            type: string
                            description: The query string (for example, a SAS token)
                              to be used with the templateLink URI.
                          contentVersion:
                            type: string
                            description: If included, must match the ContentVersion
                              in the template.
                      parameters:
                        type: object
                        description: Name and value pairs that define the deployment
                          parameters for the template. Use this element when providing
                          the parameter values directly in the request, rather than
                          linking to an existing parameter file. Use either the parametersLink
                          property or the parameters property, but not both.
                        additionalProperties:
                          type: object
                          description: Deployment parameter for the template.
                          properties:
                            value:
                              description: Input value to the parameter.
                            type:
                              type: string
                              description: Type of the value.
                            reference:
                              description: Azure Key Vault parameter reference.
                              type: object
                              properties:
                                keyVault:
                                  description: Azure Key Vault reference.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Azure Key Vault resourceId.
                                  required:
                                  - id
                                secretName:
                                  type: string
                                  description: Azure Key Vault secret name.
                                secretVersion:
                                  type: string
                                  description: Azure Key Vault secret version.
                              required:
                              - keyVault
                              - secretName
                      parametersLink:
                        description: The URI of parameters file. Use this element
                          to link to an existing parameters file. Use either the parametersLink
                          property or the parameters property, but not both.
                        type: object
                        properties:
                          uri:
                            type: string
                            description: The URI of the parameters file.
                          contentVersion:
                            type: string
                            description: If included, must match the ContentVersion
                              in the template.
                        required:
                        - uri
                      actionOnUnmanage:
                        description: Defines the behavior of resources that are no
                          longer managed after the Deployment stack is updated or
                          deleted.
                        type: object
                        properties:
                          resources:
                            description: Specifies an action for a newly unmanaged
                              resource. Delete will attempt to delete the resource
                              from Azure. Detach will leave the resource in it's current
                              state.
                            type: string
                            enum:
                            - delete
                            - detach
                            x-ms-enum:
                              name: DeploymentStacksDeleteDetachEnum
                              modelAsString: true
                              values:
                              - name: Delete
                                value: delete
                                description: Delete the specified resources from Azure
                              - name: Detach
                                value: detach
                                description: Keep the specified resources in Azure
                          resourceGroups:
                            description: Specifies an action for a newly unmanaged
                              resource. Delete will attempt to delete the resource
                              from Azure. Detach will leave the resource in it's current
                              state.
                            type: string
                            enum:
                            - delete
                            - detach
                            x-ms-enum:
                              name: DeploymentStacksDeleteDetachEnum
                              modelAsString: true
                              values:
                              - name: Delete
                                value: delete
                                description: Delete the specified resources from Azure
                              - name: Detach
                                value: detach
                                description: Keep the specified resources in Azure
                          managementGroups:
                            description: Specifies an action for a newly unmanaged
                              resource. Delete will attempt to delete the resource
                              from Azure. Detach will leave the resource in it's current
                              state.
                            type: string
                            enum:
                            - delete
                            - detach
                            x-ms-enum:
                              name: DeploymentStacksDeleteDetachEnum
                              modelAsString: true
                              values:
                              - name: Delete
                                value: delete
                                description: Delete the specified resources from Azure
                              - name: Detach
                                value: detach
                                description: Keep the specified resources in Azure
                        required:
                        - resources
                      debugSetting:
                        description: The debug setting of the deployment.
                        type: object
                        properties:
                          detailLevel:
                            type: string
                            description: Specifies the type of information to log
                              for debugging. The permitted values are none, requestContent,
                              responseContent, or both requestContent and responseContent
                              separated by a comma. The default is none. When setting
                              this value, carefully consider the type of information
                              that is being passed in during deployment. By logging
                              information about the request or response, sensitive
                              data that is retrieved through the deployment operations
                              could potentially be exposed.
                      bypassStackOutOfSyncError:
                        type: boolean
                        description: Flag to bypass service errors that indicate the
                          stack resource list is not correctly synchronized.
                        x-ms-mutability:
                        - update
                        - create
                      deploymentScope:
                        type: string
                        description: 'The scope at which the initial deployment should
                          be created. If a scope is not specified, it will default
                          to the scope of the deployment stack. Valid scopes are:
                          management group (format: ''/providers/Microsoft.Management/managementGroups/{managementGroupId}''),
                          subscription (format: ''/subscriptions/{subscriptionId}''),
                          resource group (format: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'').'
                      description:
                        type: string
                        description: Deployment stack description. Max length of 4096
                          characters.
                        maxLength: 4096
                      denySettings:
                        description: Defines how resources deployed by the stack are
                          locked.
                        type: object
                        properties:
                          mode:
                            description: denySettings Mode that defines denied actions.
                            type: string
                            enum:
                            - denyDelete
                            - denyWriteAndDelete
                            - none
                            x-ms-enum:
                              name: DenySettingsMode
                              modelAsString: true
                              values:
                              - name: DenyDelete
                                value: denyDelete
                                description: Authorized users are able to read and
                                  modify the resources, but cannot delete.
                              - name: DenyWriteAndDelete
                                value: denyWriteAndDelete
                                description: Authorized users can read from a resource,
                                  but cannot modify or delete it.
                              - name: None
                                value: none
                                description: No denyAssignments have been applied.
                          excludedPrincipals:
                            type: array
                            description: List of AAD principal IDs excluded from the
                              lock. Up to 5 principals are permitted.
                            items:
                              type: string
                          excludedActions:
                            type: array
                            description: 'List of role-based management operations
                              that are excluded from the denySettings. Up to 200 actions
                              are permitted. If the denySetting mode is set to ''denyWriteAndDelete'',
                              then the following actions are automatically appended
                              to ''excludedActions'': ''*\/read'' and ''Microsoft.Authorization/locks/delete''.
                              If the denySetting mode is set to ''denyDelete'', then
                              the following actions are automatically appended to
                              ''excludedActions'': ''Microsoft.Authorization/locks/delete''.
                              Duplicate actions will be removed.'
                            items:
                              type: string
                          applyToChildScopes:
                            type: boolean
                            description: DenySettings will be applied to child resource
                              scopes of every managed resource with a deny assignment.
                        required:
                        - mode
                      provisioningState:
                        description: State of the deployment stack.
                        readOnly: true
                        type: string
                        enum:
                        - creating
                        - validating
                        - waiting
                        - deploying
                        - canceling
                        - updatingDenyAssignments
                        - deletingResources
                        - succeeded
                        - failed
                        - canceled
                        - deleting
                        x-ms-enum:
                          name: DeploymentStackProvisioningState
                          modelAsString: true
                          values:
                          - name: Creating
                            value: creating
                            description: The deployment stack is currently being created
                          - name: Validating
                            value: validating
                            description: The deployment stack is currently being validated
                          - name: Waiting
                            value: waiting
                            description: The deployment stack is currently waiting
                          - name: Deploying
                            value: deploying
                            description: The deployment stack is currently deploying
                          - name: Canceling
                            value: canceling
                            description: The deployment stack is being cancelled
                          - name: UpdatingDenyAssignments
                            value: updatingDenyAssignments
                            description: The deployment stack is updating deny assignments
                          - name: DeletingResources
                            value: deletingResources
                            description: The deployment stack is deleting resources
                          - name: Succeeded
                            value: succeeded
                            description: The deployment stack completed successfully
                          - name: Failed
                            value: failed
                            description: The deployment stack has failed
                          - name: Canceled
                            value: canceled
                            description: The deployment stack has been cancelled
                          - name: Deleting
                            value: deleting
                            description: The deployment stack is being deleted
                      correlationId:
                        type: string
                        description: The correlation id of the last Deployment stack
                          upsert or delete operation. It is in GUID format and is
                          used for tracing.
                        readOnly: true
                      detachedResources:
                        type: array
                        description: An array of resources that were detached during
                          the most recent Deployment stack update. Detached means
                          that the resource was removed from the template, but no
                          relevant deletion operations were specified. So, the resource
                          still exists while no longer being associated with the stack.
                        items:
                          type: object
                          description: The resourceId model.
                          properties:
                            id:
                              type: string
                              description: The ARM Resource ID of a resource managed
                                by the deployment stack.
                              readOnly: true
                        readOnly: true
                      deletedResources:
                        type: array
                        description: An array of resources that were deleted during
                          the most recent Deployment stack update. Deleted means that
                          the resource was removed from the template and relevant
                          deletion operations were specified.
                        items:
                          type: object
                          description: The resourceId model.
                          properties:
                            id:
                              type: string
                              description: The ARM Resource ID of a resource managed
                                by the deployment stack.
                              readOnly: true
                        readOnly: true
                      failedResources:
                        type: array
                        description: An array of resources that failed to reach goal
                          state during the most recent update. Each resourceId is
                          accompanied by an error message.
                        items:
                          type: object
                          description: The resourceId extended model. This is used
                            to document failed resources with a resourceId and a corresponding
                            error.
                          properties:
                            id:
                              type: string
                              description: The ARM Resource ID of a resource managed
                                by the deployment stack.
                              readOnly: true
                            error:
                              description: The error detail.
                              type: object
                              properties:
                                code:
                                  type: string
                                  description: The error code.
                                  readOnly: true
                                message:
                                  type: string
                                  description: The error message.
                                  readOnly: true
                                target:
                                  type: string
                                  description: The error target.
                                  readOnly: true
                                details:
                                  type: array
                                  description: The error details.
                                  items:
                                    type: object
                                    description: The error detail.
                                    properties:
                                      code:
                                        type: string
                                        description: The error code.
                                        readOnly: true
                                      message:
                                        type: string
                                        description: The error message.
                                        readOnly: true
                                      target:
                                        type: string
                                        description: The error target.
                                        readOnly: true
                                      details:
                                        type: array
                                        description: The error details.
                                        items:
                                          type: object
                                          description: The error detail.
                                          properties:
                                            code:
                                              type: string
                                              description: The error code.
                                              readOnly: true
                                            message:
                                              type: string
                                              description: The error message.
                                              readOnly: true
                                            target:
                                              type: string
                                              description: The error target.
                                              readOnly: true
                                        readOnly: true
                                        x-ms-identifiers:
                                        - message
                                        - target
                                      additionalInfo:
                                        type: array
                                        description: The error additional info.
                                        items:
                                          type: object
                                          description: The resource management error
                                            additional info.
                                          properties:
                                            type:
                                              type: string
                                              description: The additional info type.
                                              readOnly: true
                                            info:
                                              type: object
                                              description: The additional info.
                                              readOnly: true
                                        readOnly: true
                                        x-ms-identifiers: []
                                  readOnly: true
                                  x-ms-identifiers:
                                  - message
                                  - target
                                additionalInfo:
                                  type: array
                                  description: The error additional info.
                                  items:
                                    type: object
                                    description: The resource management error additional
                                      info.
                                    properties:
                                      type:
                                        type: string
                                        description: The additional info type.
                                        readOnly: true
                                      info:
                                        type: object
                                        description: The additional info.
                                        readOnly: true
                                  readOnly: true
                                  x-ms-identifiers: []
                        readOnly: true
                      resources:
                        type: array
                        description: An array of resources currently managed by the
                          deployment stack.
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: The ARM Resource ID of a resource managed
                                by the deployment stack.
                              readOnly: true
                            status:
                              description: Current management state of the resource
                                in the deployment stack.
                              type: string
                              enum:
                              - managed
                              - removeDenyFailed
                              - deleteFailed
                              x-ms-enum:
                                name: ResourceStatusMode
                                modelAsString: true
                                values:
                                - name: Managed
                                  value: managed
                                  description: This resource is managed by the deployment
                                    stack.
                                - name: RemoveDenyFailed
                                  value: removeDenyFailed
                                  description: Unable to remove the deny assignment
                                    on resource.
                                - name: DeleteFailed
                                  value: deleteFailed
                                  description: Unable to delete the resource from
                                    Azure. The delete will be retried on the next
                                    stack deployment, or can be deleted manually.
                            denyStatus:
                              type: string
                              description: denyAssignment settings applied to the
                                resource.
                              default: none
                              enum:
                              - denyDelete
                              - notSupported
                              - inapplicable
                              - denyWriteAndDelete
                              - removedBySystem
                              - none
                              x-ms-enum:
                                name: DenyStatusMode
                                modelAsString: true
                                values:
                                - name: DenyDelete
                                  value: denyDelete
                                  description: Authorized users are able to read and
                                    modify the resources, but cannot delete.
                                - name: NotSupported
                                  value: notSupported
                                  description: Resource type does not support denyAssignments.
                                - name: Inapplicable
                                  value: inapplicable
                                  description: denyAssignments are not supported on
                                    resources outside the scope of the deployment
                                    stack.
                                - name: DenyWriteAndDelete
                                  value: denyWriteAndDelete
                                  description: Authorized users can only read from
                                    a resource, but cannot modify or delete it.
                                - name: RemovedBySystem
                                  value: removedBySystem
                                  description: Deny assignment has been removed by
                                    Azure due to a resource management change (management
                                    group move, etc.)
                                - name: None
                                  value: none
                                  description: No denyAssignments have been applied.
                          description: The resourceId model.
                        readOnly: true
                      deploymentId:
                        type: string
                        description: The resourceId of the deployment resource created
                          by the deployment stack.
                        readOnly: true
                      outputs:
                        type: object
                        description: The outputs of the deployment resource created
                          by the deployment stack.
                        additionalProperties: {}
                        readOnly: true
                      duration:
                        type: string
                        description: The duration of the last successful Deployment
                          stack update.
                        readOnly: true
                    description: Deployment Stacks error response.
                    required:
                    - actionOnUnmanage
                    - denySettings
                    x-ms-client-flatten: true
                  location:
                    type: string
                    description: The geo-location where the resource lives. Required
                      for subscription and management group scoped stacks. The location
                      is inherited from the resource group for resource group scoped
                      stacks.
                    x-ms-mutability:
                    - read
                    - create
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: DeploymentStacks_CreateOrUpdateAtManagementGroup
      tags:
      - DeploymentStacksAtManagementGroup
      description: Creates or updates a Deployment stack at the specified scope.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: managementGroupId
        in: path
        description: The name of the management group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: deploymentStackName
        in: path
        description: Name of the deployment stack.
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
[...]
