openapi: 3.0.0
info:
  title: Security Insights
  description: API spec for Microsoft.SecurityInsights (Azure Security Insights) resource
    provider
  version: 2025-06-01
  x-ms-code-generation-settings:
    name: SecurityInsights
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/automationRules/{automationRuleId}
  : get:
      tags:
      - automationRules
      description: Gets the automation rule.
      operationId: AutomationRules_Get
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - in: path
        name: automationRuleId
        description: Automation rule ID
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  properties:
                    type: object
                    x-ms-client-flatten: true
                    description: Automation rule properties
                    required:
                    - actions
                    - displayName
                    - order
                    - triggeringLogic
                    properties:
                      displayName:
                        description: The display name of the automation rule.
                        maxLength: 500
                        type: string
                      order:
                        format: int32
                        description: The order of execution of the automation rule.
                        maximum: 1000
                        minimum: 1
                        type: integer
                      triggeringLogic:
                        description: Describes automation rule triggering logic.
                        required:
                        - isEnabled
                        - triggersOn
                        - triggersWhen
                        type: object
                        properties:
                          isEnabled:
                            description: Determines whether the automation rule is
                              enabled or disabled.
                            type: boolean
                          expirationTimeUtc:
                            format: date-time
                            description: Determines when the automation rule should
                              automatically expire and be disabled.
                            type: string
                          triggersOn:
                            enum:
                            - Incidents
                            - Alerts
                            type: string
                            x-ms-enum:
                              name: triggersOn
                              modelAsString: true
                              values:
                              - value: Incidents
                                description: Trigger on Incidents
                              - value: Alerts
                                description: Trigger on Alerts
                          triggersWhen:
                            enum:
                            - Created
                            - Updated
                            type: string
                            x-ms-enum:
                              name: triggersWhen
                              modelAsString: true
                              values:
                              - value: Created
                                description: Trigger on created objects
                              - value: Updated
                                description: Trigger on updated objects
                          conditions:
                            description: The conditions to evaluate to determine if
                              the automation rule should be triggered on a given object.
                            maxItems: 50
                            type: array
                            items:
                              description: Describes an automation rule condition.
                              required:
                              - conditionType
                              type: object
                              properties:
                                conditionType:
                                  enum:
                                  - Property
                                  - PropertyArray
                                  - PropertyChanged
                                  - PropertyArrayChanged
                                  - Boolean
                                  type: string
                                  x-ms-enum:
                                    name: ConditionType
                                    modelAsString: true
                                    values:
                                    - value: Property
                                      description: Evaluate an object property value
                                    - value: PropertyArray
                                      description: Evaluate an object array property
                                        value
                                    - value: PropertyChanged
                                      description: Evaluate an object property changed
                                        value
                                    - value: PropertyArrayChanged
                                      description: Evaluate an object array property
                                        changed value
                                    - value: Boolean
                                      description: Apply a boolean operator (e.g AND,
                                        OR) to conditions
                              discriminator:
                                propertyName: conditionType
                            x-ms-identifiers:
                            - conditionType
                      actions:
                        description: The actions to execute when the automation rule
                          is triggered.
                        maxItems: 20
                        type: array
                        items:
                          description: Describes an automation rule action.
                          required:
                          - actionType
                          - order
                          type: object
                          properties:
                            order:
                              format: int32
                              type: integer
                            actionType:
                              description: The type of the automation rule action.
                              enum:
                              - ModifyProperties
                              - RunPlaybook
                              - AddIncidentTask
                              type: string
                              x-ms-enum:
                                name: ActionType
                                modelAsString: true
                                values:
                                - value: ModifyProperties
                                  description: Modify an object's properties
                                - value: RunPlaybook
                                  description: Run a playbook on an object
                                - value: AddIncidentTask
                                  description: Add a task to an incident object
                          discriminator:
                            propertyName: actionType
                        x-ms-identifiers: []
                      lastModifiedTimeUtc:
                        format: date-time
                        description: The last time the automation rule was updated.
                        type: string
                        readOnly: true
                      createdTimeUtc:
                        format: date-time
                        description: The time the automation rule was created.
                        type: string
                        readOnly: true
                      lastModifiedBy:
                        readOnly: true
                        description: Information on the client (user or application)
                          that made some action
                        properties:
                          email:
                            description: The email of the client.
                            type: string
                          name:
                            description: The name of the client.
                            type: string
                          objectId:
                            description: The object id of the client.
                            format: uuid
                            type: string
                          userPrincipalName:
                            description: The user principal name of the client.
                            type: string
                        type: object
                      createdBy:
                        readOnly: true
                        description: Information on the client (user or application)
                          that made some action
                        properties:
                          email:
                            description: The email of the client.
                            type: string
                          name:
                            description: The name of the client.
                            type: string
                          objectId:
                            description: The object id of the client.
                            format: uuid
                            type: string
                          userPrincipalName:
                            description: The user principal name of the client.
                            type: string
                        type: object
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - properties
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
    put:
      tags:
      - automationRules
      description: Creates or updates the automation rule.
      operationId: AutomationRules_CreateOrUpdate
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - in: path
        name: automationRuleId
        description: Automation rule ID
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                etag:
                  description: Etag of the azure resource
                  type: string
                properties:
                  type: object
                  x-ms-client-flatten: true
                  description: Automation rule properties
                  required:
                  - actions
                  - displayName
                  - order
                  - triggeringLogic
                  properties:
                    displayName:
                      description: The display name of the automation rule.
                      maxLength: 500
                      type: string
                    order:
                      format: int32
                      description: The order of execution of the automation rule.
                      maximum: 1000
                      minimum: 1
                      type: integer
                    triggeringLogic:
                      description: Describes automation rule triggering logic.
                      required:
                      - isEnabled
                      - triggersOn
                      - triggersWhen
                      type: object
                      properties:
                        isEnabled:
                          description: Determines whether the automation rule is enabled
                            or disabled.
                          type: boolean
                        expirationTimeUtc:
                          format: date-time
                          description: Determines when the automation rule should
                            automatically expire and be disabled.
                          type: string
                        triggersOn:
                          enum:
                          - Incidents
                          - Alerts
                          type: string
                          x-ms-enum:
                            name: triggersOn
                            modelAsString: true
                            values:
                            - value: Incidents
                              description: Trigger on Incidents
                            - value: Alerts
                              description: Trigger on Alerts
                        triggersWhen:
                          enum:
                          - Created
                          - Updated
                          type: string
                          x-ms-enum:
                            name: triggersWhen
                            modelAsString: true
                            values:
                            - value: Created
                              description: Trigger on created objects
                            - value: Updated
                              description: Trigger on updated objects
                        conditions:
                          description: The conditions to evaluate to determine if
                            the automation rule should be triggered on a given object.
                          maxItems: 50
                          type: array
                          items:
                            description: Describes an automation rule condition.
                            required:
                            - conditionType
                            type: object
                            properties:
                              conditionType:
                                enum:
                                - Property
                                - PropertyArray
                                - PropertyChanged
                                - PropertyArrayChanged
                                - Boolean
                                type: string
                                x-ms-enum:
                                  name: ConditionType
                                  modelAsString: true
                                  values:
                                  - value: Property
                                    description: Evaluate an object property value
                                  - value: PropertyArray
                                    description: Evaluate an object array property
                                      value
                                  - value: PropertyChanged
                                    description: Evaluate an object property changed
                                      value
                                  - value: PropertyArrayChanged
                                    description: Evaluate an object array property
                                      changed value
                                  - value: Boolean
                                    description: Apply a boolean operator (e.g AND,
                                      OR) to conditions
                            discriminator:
                              propertyName: conditionType
                          x-ms-identifiers:
                          - conditionType
                    actions:
                      description: The actions to execute when the automation rule
                        is triggered.
                      maxItems: 20
                      type: array
                      items:
                        description: Describes an automation rule action.
                        required:
                        - actionType
                        - order
                        type: object
                        properties:
                          order:
                            format: int32
                            type: integer
                          actionType:
                            description: The type of the automation rule action.
                            enum:
                            - ModifyProperties
                            - RunPlaybook
                            - AddIncidentTask
                            type: string
                            x-ms-enum:
                              name: ActionType
                              modelAsString: true
                              values:
                              - value: ModifyProperties
                                description: Modify an object's properties
                              - value: RunPlaybook
                                description: Run a playbook on an object
                              - value: AddIncidentTask
                                description: Add a task to an incident object
                        discriminator:
                          propertyName: actionType
                      x-ms-identifiers: []
                    lastModifiedTimeUtc:
                      format: date-time
                      description: The last time the automation rule was updated.
                      type: string
                      readOnly: true
                    createdTimeUtc:
                      format: date-time
                      description: The time the automation rule was created.
                      type: string
                      readOnly: true
                    lastModifiedBy:
                      readOnly: true
                      description: Information on the client (user or application)
                        that made some action
                      properties:
                        email:
                          description: The email of the client.
                          type: string
                        name:
                          description: The name of the client.
                          type: string
                        objectId:
                          description: The object id of the client.
                          format: uuid
                          type: string
                        userPrincipalName:
                          description: The user principal name of the client.
                          type: string
                      type: object
                    createdBy:
                      readOnly: true
                      description: Information on the client (user or application)
                        that made some action
                      properties:
                        email:
                          description: The email of the client.
                          type: string
                        name:
                          description: The name of the client.
                          type: string
                        objectId:
                          description: The object id of the client.
                          format: uuid
                          type: string
                        userPrincipalName:
                          description: The user principal name of the client.
                          type: string
                      type: object
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
              required:
              - properties
        description: The automation rule
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  properties:
                    type: object
                    x-ms-client-flatten: true
                    description: Automation rule properties
                    required:
                    - actions
                    - displayName
                    - order
                    - triggeringLogic
                    properties:
                      displayName:
                        description: The display name of the automation rule.
                        maxLength: 500
                        type: string
                      order:
                        format: int32
                        description: The order of execution of the automation rule.
                        maximum: 1000
                        minimum: 1
                        type: integer
                      triggeringLogic:
                        description: Describes automation rule triggering logic.
                        required:
                        - isEnabled
                        - triggersOn
                        - triggersWhen
                        type: object
                        properties:
                          isEnabled:
                            description: Determines whether the automation rule is
                              enabled or disabled.
                            type: boolean
                          expirationTimeUtc:
                            format: date-time
                            description: Determines when the automation rule should
                              automatically expire and be disabled.
                            type: string
                          triggersOn:
                            enum:
                            - Incidents
                            - Alerts
                            type: string
                            x-ms-enum:
                              name: triggersOn
                              modelAsString: true
                              values:
                              - value: Incidents
                                description: Trigger on Incidents
                              - value: Alerts
                                description: Trigger on Alerts
                          triggersWhen:
                            enum:
                            - Created
                            - Updated
                            type: string
                            x-ms-enum:
                              name: triggersWhen
                              modelAsString: true
                              values:
                              - value: Created
                                description: Trigger on created objects
                              - value: Updated
                                description: Trigger on updated objects
                          conditions:
                            description: The conditions to evaluate to determine if
                              the automation rule should be triggered on a given object.
                            maxItems: 50
                            type: array
                            items:
                              description: Describes an automation rule condition.
                              required:
                              - conditionType
                              type: object
                              properties:
                                conditionType:
                                  enum:
                                  - Property
                                  - PropertyArray
                                  - PropertyChanged
                                  - PropertyArrayChanged
                                  - Boolean
                                  type: string
                                  x-ms-enum:
                                    name: ConditionType
                                    modelAsString: true
                                    values:
                                    - value: Property
                                      description: Evaluate an object property value
                                    - value: PropertyArray
                                      description: Evaluate an object array property
                                        value
                                    - value: PropertyChanged
                                      description: Evaluate an object property changed
                                        value
                                    - value: PropertyArrayChanged
                                      description: Evaluate an object array property
                                        changed value
                                    - value: Boolean
                                      description: Apply a boolean operator (e.g AND,
                                        OR) to conditions
                              discriminator:
                                propertyName: conditionType
                            x-ms-identifiers:
                            - conditionType
                      actions:
                        description: The actions to execute when the automation rule
                          is triggered.
                        maxItems: 20
                        type: array
                        items:
                          description: Describes an automation rule action.
                          required:
                          - actionType
                          - order
                          type: object
                          properties:
                            order:
                              format: int32
                              type: integer
                            actionType:
                              description: The type of the automation rule action.
                              enum:
                              - ModifyProperties
                              - RunPlaybook
                              - AddIncidentTask
                              type: string
                              x-ms-enum:
                                name: ActionType
                                modelAsString: true
                                values:
                                - value: ModifyProperties
                                  description: Modify an object's properties
                                - value: RunPlaybook
                                  description: Run a playbook on an object
                                - value: AddIncidentTask
                                  description: Add a task to an incident object
                          discriminator:
                            propertyName: actionType
                        x-ms-identifiers: []
                      lastModifiedTimeUtc:
                        format: date-time
                        description: The last time the automation rule was updated.
                        type: string
                        readOnly: true
                      createdTimeUtc:
                        format: date-time
                        description: The time the automation rule was created.
                        type: string
                        readOnly: true
                      lastModifiedBy:
                        readOnly: true
                        description: Information on the client (user or application)
                          that made some action
                        properties:
                          email:
                            description: The email of the client.
                            type: string
                          name:
                            description: The name of the client.
                            type: string
                          objectId:
                            description: The object id of the client.
                            format: uuid
                            type: string
                          userPrincipalName:
                            description: The user principal name of the client.
                            type: string
                        type: object
                      createdBy:
                        readOnly: true
                        description: Information on the client (user or application)
                          that made some action
                        properties:
                          email:
                            description: The email of the client.
                            type: string
                          name:
                            description: The name of the client.
                            type: string
                          objectId:
                            description: The object id of the client.
                            format: uuid
                            type: string
                          userPrincipalName:
                            description: The user principal name of the client.
                            type: string
                        type: object
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - properties
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  properties:
                    type: object
                    x-ms-client-flatten: true
                    description: Automation rule properties
                    required:
                    - actions
                    - displayName
                    - order
                    - triggeringLogic
                    properties:
                      displayName:
                        description: The display name of the automation rule.
                        maxLength: 500
                        type: string
                      order:
                        format: int32
                        description: The order of execution of the automation rule.
                        maximum: 1000
                        minimum: 1
                        type: integer
                      triggeringLogic:
                        description: Describes automation rule triggering logic.
                        required:
                        - isEnabled
                        - triggersOn
                        - triggersWhen
                        type: object
                        properties:
                          isEnabled:
                            description: Determines whether the automation rule is
                              enabled or disabled.
                            type: boolean
                          expirationTimeUtc:
                            format: date-time
                            description: Determines when the automation rule should
                              automatically expire and be disabled.
                            type: string
                          triggersOn:
                            enum:
                            - Incidents
                            - Alerts
                            type: string
                            x-ms-enum:
                              name: triggersOn
                              modelAsString: true
                              values:
                              - value: Incidents
                                description: Trigger on Incidents
                              - value: Alerts
                                description: Trigger on Alerts
                          triggersWhen:
                            enum:
                            - Created
                            - Updated
                            type: string
                            x-ms-enum:
                              name: triggersWhen
                              modelAsString: true
                              values:
                              - value: Created
                                description: Trigger on created objects
                              - value: Updated
                                description: Trigger on updated objects
                          conditions:
                            description: The conditions to evaluate to determine if
                              the automation rule should be triggered on a given object.
                            maxItems: 50
                            type: array
                            items:
                              description: Describes an automation rule condition.
                              required:
                              - conditionType
                              type: object
                              properties:
                                conditionType:
                                  enum:
                                  - Property
                                  - PropertyArray
                                  - PropertyChanged
                                  - PropertyArrayChanged
                                  - Boolean
                                  type: string
                                  x-ms-enum:
                                    name: ConditionType
                                    modelAsString: true
                                    values:
                                    - value: Property
                                      description: Evaluate an object property value
                                    - value: PropertyArray
                                      description: Evaluate an object array property
                                        value
                                    - value: PropertyChanged
                                      description: Evaluate an object property changed
                                        value
                                    - value: PropertyArrayChanged
                                      description: Evaluate an object array property
                                        changed value
                                    - value: Boolean
                                      description: Apply a boolean operator (e.g AND,
                                        OR) to conditions
                              discriminator:
                                propertyName: conditionType
                            x-ms-identifiers:
                            - conditionType
                      actions:
                        description: The actions to execute when the automation rule
                          is triggered.
                        maxItems: 20
                        type: array
                        items:
                          description: Describes an automation rule action.
                          required:
                          - actionType
                          - order
                          type: object
                          properties:
                            order:
                              format: int32
                              type: integer
                            actionType:
                              description: The type of the automation rule action.
                              enum:
                              - ModifyProperties
                              - RunPlaybook
                              - AddIncidentTask
                              type: string
                              x-ms-enum:
                                name: ActionType
                                modelAsString: true
                                values:
                                - value: ModifyProperties
                                  description: Modify an object's properties
                                - value: RunPlaybook
                                  description: Run a playbook on an object
                                - value: AddIncidentTask
                                  description: Add a task to an incident object
                          discriminator:
                            propertyName: actionType
                        x-ms-identifiers: []
                      lastModifiedTimeUtc:
                        format: date-time
                        description: The last time the automation rule was updated.
                        type: string
                        readOnly: true
                      createdTimeUtc:
                        format: date-time
                        description: The time the automation rule was created.
                        type: string
                        readOnly: true
                      lastModifiedBy:
                        readOnly: true
                        description: Information on the client (user or application)
                          that made some action
                        properties:
                          email:
                            description: The email of the client.
                            type: string
                          name:
                            description: The name of the client.
                            type: string
                          objectId:
                            description: The object id of the client.
                            format: uuid
                            type: string
                          userPrincipalName:
                            description: The user principal name of the client.
                            type: string
                        type: object
                      createdBy:
                        readOnly: true
                        description: Information on the client (user or application)
                          that made some action
                        properties:
                          email:
                            description: The email of the client.
                            type: string
                          name:
                            description: The name of the client.
                            type: string
                          objectId:
                            description: The object id of the client.
                            format: uuid
                            type: string
                          userPrincipalName:
                            description: The user principal name of the client.
                            type: string
                        type: object
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - properties
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
    delete:
      tags:
      - automationRules
      description: Delete the automation rule.
      operationId: AutomationRules_Delete
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - in: path
        name: automationRuleId
        description: Automation rule ID
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
        '204':
          description: No Content
          content:
            application/json:
              schema:
                type: object
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/automationRules
  : get:
      tags:
      - automationRules
      description: Gets all automation rules.
      operationId: AutomationRules_List
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        etag:
                          description: Etag of the azure resource
                          type: string
                        properties:
                          type: object
                          x-ms-client-flatten: true
                          description: Automation rule properties
                          required:
                          - actions
                          - displayName
                          - order
                          - triggeringLogic
                          properties:
                            displayName:
                              description: The display name of the automation rule.
                              maxLength: 500
                              type: string
                            order:
                              format: int32
                              description: The order of execution of the automation
                                rule.
                              maximum: 1000
                              minimum: 1
                              type: integer
                            triggeringLogic:
                              description: Describes automation rule triggering logic.
                              required:
                              - isEnabled
                              - triggersOn
                              - triggersWhen
                              type: object
                              properties:
                                isEnabled:
                                  description: Determines whether the automation rule
                                    is enabled or disabled.
                                  type: boolean
                                expirationTimeUtc:
                                  format: date-time
                                  description: Determines when the automation rule
                                    should automatically expire and be disabled.
                                  type: string
                                triggersOn:
                                  enum:
                                  - Incidents
                                  - Alerts
                                  type: string
                                  x-ms-enum:
                                    name: triggersOn
                                    modelAsString: true
                                    values:
                                    - value: Incidents
                                      description: Trigger on Incidents
                                    - value: Alerts
                                      description: Trigger on Alerts
                                triggersWhen:
                                  enum:
                                  - Created
                                  - Updated
                                  type: string
                                  x-ms-enum:
                                    name: triggersWhen
                                    modelAsString: true
                                    values:
                                    - value: Created
                                      description: Trigger on created objects
                                    - value: Updated
                                      description: Trigger on updated objects
                                conditions:
                                  description: The conditions to evaluate to determine
                                    if the automation rule should be triggered on
                                    a given object.
                                  maxItems: 50
                                  type: array
                                  items:
                                    description: Describes an automation rule condition.
                                    required:
                                    - conditionType
                                    type: object
                                    properties:
                                      conditionType:
                                        enum:
                                        - Property
                                        - PropertyArray
                                        - PropertyChanged
                                        - PropertyArrayChanged
                                        - Boolean
                                        type: string
                                        x-ms-enum:
                                          name: ConditionType
                                          modelAsString: true
                                          values:
                                          - value: Property
                                            description: Evaluate an object property
                                              value
                                          - value: PropertyArray
                                            description: Evaluate an object array
                                              property value
                                          - value: PropertyChanged
                                            description: Evaluate an object property
                                              changed value
                                          - value: PropertyArrayChanged
                                            description: Evaluate an object array
                                              property changed value
                                          - value: Boolean
                                            description: Apply a boolean operator
                                              (e.g AND, OR) to conditions
                                    discriminator:
                                      propertyName: conditionType
                                  x-ms-identifiers:
                                  - conditionType
                            actions:
                              description: The actions to execute when the automation
                                rule is triggered.
                              maxItems: 20
                              type: array
                              items:
                                description: Describes an automation rule action.
                                required:
                                - actionType
                                - order
                                type: object
                                properties:
                                  order:
                                    format: int32
                                    type: integer
                                  actionType:
                                    description: The type of the automation rule action.
                                    enum:
                                    - ModifyProperties
                                    - RunPlaybook
                                    - AddIncidentTask
                                    type: string
                                    x-ms-enum:
                                      name: ActionType
                                      modelAsString: true
                                      values:
                                      - value: ModifyProperties
                                        description: Modify an object's properties
                                      - value: RunPlaybook
                                        description: Run a playbook on an object
                                      - value: AddIncidentTask
                                        description: Add a task to an incident object
                                discriminator:
                                  propertyName: actionType
                              x-ms-identifiers: []
                            lastModifiedTimeUtc:
                              format: date-time
                              description: The last time the automation rule was updated.
                              type: string
                              readOnly: true
                            createdTimeUtc:
                              format: date-time
                              description: The time the automation rule was created.
                              type: string
                              readOnly: true
                            lastModifiedBy:
                              readOnly: true
                              description: Information on the client (user or application)
                                that made some action
                              properties:
                                email:
                                  description: The email of the client.
                                  type: string
                                name:
                                  description: The name of the client.
                                  type: string
                                objectId:
                                  description: The object id of the client.
                                  format: uuid
                                  type: string
                                userPrincipalName:
                                  description: The user principal name of the client.
                                  type: string
                              type: object
                            createdBy:
                              readOnly: true
                              description: Information on the client (user or application)
                                that made some action
                              properties:
                                email:
                                  description: The email of the client.
                                  type: string
                                name:
                                  description: The name of the client.
                                  type: string
                                objectId:
                                  description: The object id of the client.
                                  format: uuid
                                  type: string
                                userPrincipalName:
                                  description: The user principal name of the client.
                                  type: string
                              type: object
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - properties
                  nextLink:
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/entities/{entityIdentifier}/runPlaybook
  : post:
      tags:
      - manualTrigger
      description: Triggers playbook on a specific entity.
      operationId: Entities_RunPlaybook
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - in: path
        name: entityIdentifier
        required: true
        description: Entity ID
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Describes the request body for triggering a playbook on
                an entity.
              required:
              - logicAppsResourceId
              type: object
              properties:
                incidentArmId:
                  description: The incident id to associate the entity with.
                  type: string
                  format: arm-id
                  x-ms-arm-id-details:
                    allowedResources:
                    - scopes:
                      - Extension
                      type: Microsoft.SecurityInsights/incidents
                tenantId:
                  format: uuid
                  description: The tenant id of the playbook resource.
                  type: string
                logicAppsResourceId:
                  description: The resource id of the playbook resource.
                  type: string
                  format: arm-id
                  x-ms-arm-id-details:
                    allowedResources:
                    - type: Microsoft.Logic/workflows
                    - type: Microsoft.Web/sites
        description: Describes the request body for triggering a playbook on an entity.
      responses:
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/incidents/{incidentIdentifier}/runPlaybook
  : post:
      tags:
      - manualTrigger
      description: Triggers playbook on a specific incident
      operationId: Incidents_RunPlaybook
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - in: path
        name: incidentIdentifier
        required: true
        description: Incident ID
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Describes the request body for triggering a playbook on
                an incident.
              required:
              - logicAppsResourceId
              type: object
              properties:
                tenantId:
                  format: uuid
                  description: The tenant id of the playbook resource.
                  type: string
                logicAppsResourceId:
                  description: The resource id of the playbook resource.
                  type: string
                  format: arm-id
                  x-ms-arm-id-details:
                    allowedResources:
                    - type: Microsoft.Logic/workflows
                    - type: Microsoft.Web/sites
        description: Describes the request body for triggering a playbook on an incident.
      responses:
        '204':
          description: Success
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
components:
  parameters:
    AutomationRuleId:
      in: path
      name: automationRuleId
      description: Automation rule ID
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    WorkspaceName:
      description: The name of the workspace.
      in: path
      name: workspaceName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ActionType:
      description: The type of the automation rule action.
      enum:
      - ModifyProperties
      - RunPlaybook
      - AddIncidentTask
      type: string
      x-ms-enum:
        name: ActionType
        modelAsString: true
        values:
        - value: ModifyProperties
          description: Modify an object's properties
        - value: RunPlaybook
          description: Run a playbook on an object
        - value: AddIncidentTask
          description: Add a task to an incident object
    AddIncidentTaskActionProperties:
      description: Describes an automation rule action to add a task to an incident.
      required:
      - title
      type: object
      properties:
        title:
          description: The title of the task.
          type: string
        description:
          description: The description of the task.
          type: string
    AutomationRule:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        etag:
          description: Etag of the azure resource
          type: string
        properties:
          type: object
          x-ms-client-flatten: true
          description: Automation rule properties
          required:
          - actions
          - displayName
          - order
          - triggeringLogic
          properties:
            displayName:
              description: The display name of the automation rule.
              maxLength: 500
              type: string
            order:
              format: int32
              description: The order of execution of the automation rule.
              maximum: 1000
              minimum: 1
              type: integer
            triggeringLogic:
              description: Describes automation rule triggering logic.
              required:
              - isEnabled
              - triggersOn
              - triggersWhen
              type: object
              properties:
                isEnabled:
                  description: Determines whether the automation rule is enabled or
                    disabled.
                  type: boolean
                expirationTimeUtc:
                  format: date-time
                  description: Determines when the automation rule should automatically
                    expire and be disabled.
                  type: string
                triggersOn:
                  enum:
                  - Incidents
                  - Alerts
                  type: string
                  x-ms-enum:
                    name: triggersOn
                    modelAsString: true
                    values:
                    - value: Incidents
                      description: Trigger on Incidents
                    - value: Alerts
                      description: Trigger on Alerts
                triggersWhen:
                  enum:
                  - Created
                  - Updated
                  type: string
                  x-ms-enum:
                    name: triggersWhen
                    modelAsString: true
                    values:
                    - value: Created
                      description: Trigger on created objects
                    - value: Updated
                      description: Trigger on updated objects
                conditions:
                  description: The conditions to evaluate to determine if the automation
                    rule should be triggered on a given object.
                  maxItems: 50
                  type: array
                  items:
                    description: Describes an automation rule condition.
                    required:
                    - conditionType
                    type: object
                    properties:
                      conditionType:
                        enum:
                        - Property
                        - PropertyArray
                        - PropertyChanged
                        - PropertyArrayChanged
                        - Boolean
                        type: string
                        x-ms-enum:
                          name: ConditionType
                          modelAsString: true
                          values:
                          - value: Property
                            description: Evaluate an object property value
                          - value: PropertyArray
                            description: Evaluate an object array property value
                          - value: PropertyChanged
                            description: Evaluate an object property changed value
                          - value: PropertyArrayChanged
                            description: Evaluate an object array property changed
                              value
                          - value: Boolean
                            description: Apply a boolean operator (e.g AND, OR) to
                              conditions
                    discriminator:
                      propertyName: conditionType
                  x-ms-identifiers:
                  - conditionType
            actions:
              description: The actions to execute when the automation rule is triggered.
              maxItems: 20
              type: array
              items:
                description: Describes an automation rule action.
                required:
                - actionType
                - order
                type: object
                properties:
                  order:
                    format: int32
                    type: integer
                  actionType:
                    description: The type of the automation rule action.
                    enum:
                    - ModifyProperties
                    - RunPlaybook
                    - AddIncidentTask
                    type: string
                    x-ms-enum:
                      name: ActionType
                      modelAsString: true
                      values:
                      - value: ModifyProperties
                        description: Modify an object's properties
                      - value: RunPlaybook
                        description: Run a playbook on an object
                      - value: AddIncidentTask
                        description: Add a task to an incident object
                discriminator:
                  propertyName: actionType
              x-ms-identifiers: []
            lastModifiedTimeUtc:
              format: date-time
              description: The last time the automation rule was updated.
              type: string
              readOnly: true
            createdTimeUtc:
              format: date-time
              description: The time the automation rule was created.
              type: string
              readOnly: true
            lastModifiedBy:
              readOnly: true
              description: Information on the client (user or application) that made
                some action
              properties:
                email:
                  description: The email of the client.
                  type: string
                name:
                  description: The name of the client.
                  type: string
                objectId:
                  description: The object id of the client.
                  format: uuid
                  type: string
                userPrincipalName:
                  description: The user principal name of the client.
                  type: string
              type: object
            createdBy:
              readOnly: true
              description: Information on the client (user or application) that made
                some action
              properties:
                email:
                  description: The email of the client.
                  type: string
                name:
                  description: The name of the client.
                  type: string
                objectId:
                  description: The object id of the client.
                  format: uuid
                  type: string
                userPrincipalName:
                  description: The user principal name of the client.
                  type: string
              type: object
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
      required:
      - properties
    AutomationRuleAction:
      description: Describes an automation rule action.
      required:
      - actionType
      - order
      type: object
      properties:
        order:
          format: int32
          type: integer
        actionType:
          description: The type of the automation rule action.
          enum:
          - ModifyProperties
          - RunPlaybook
          - AddIncidentTask
          type: string
          x-ms-enum:
            name: ActionType
            modelAsString: true
            values:
            - value: ModifyProperties
              description: Modify an object's properties
            - value: RunPlaybook
              description: Run a playbook on an object
            - value: AddIncidentTask
              description: Add a task to an incident object
      discriminator:
        propertyName: actionType
    AutomationRuleAddIncidentTaskAction:
      type: object
      properties:
        order:
          format: int32
          type: integer
        actionType:
          description: The type of the automation rule action.
          enum:
          - ModifyProperties
          - RunPlaybook
          - AddIncidentTask
          type: string
          x-ms-enum:
            name: ActionType
            modelAsString: true
            values:
            - value: ModifyProperties
              description: Modify an object's properties
            - value: RunPlaybook
              description: Run a playbook on an object
            - value: AddIncidentTask
              description: Add a task to an incident object
        actionConfiguration:
          type: object
          description: Describes an automation rule action to add a task to an incident.
          required:
          - title
          properties:
            title:
              description: The title of the task.
              type: string
            description:
              description: The description of the task.
              type: string
      required:
      - actionType
      - order
      description: Describes an automation rule action.
      discriminator:
        propertyName: actionType
      x-ms-discriminator-value: AddIncidentTask
      x-ms-client-flatten: true
    AutomationRuleBooleanCondition:
      description: Describes an automation rule condition with boolean operators.
      type: object
      properties:
        operator:
          description: Describes a boolean condition operator.
          enum:
          - And
          - Or
          type: string
          x-ms-enum:
            name: AutomationRuleBooleanConditionSupportedOperator
            modelAsString: true
            values:
            - value: And
              description: Evaluates as true if all the item conditions are evaluated
                as true
            - value: Or
              description: Evaluates as true if at least one of the item conditions
                are evaluated as true
        innerConditions:
          maxItems: 10
          minItems: 2
          type: array
          items:
            description: Describes an automation rule condition.
            required:
            - conditionType
            type: object
            properties:
              conditionType:
                enum:
                - Property
                - PropertyArray
                - PropertyChanged
                - PropertyArrayChanged
                - Boolean
                type: string
                x-ms-enum:
                  name: ConditionType
                  modelAsString: true
                  values:
                  - value: Property
                    description: Evaluate an object property value
                  - value: PropertyArray
                    description: Evaluate an object array property value
                  - value: PropertyChanged
                    description: Evaluate an object property changed value
                  - value: PropertyArrayChanged
                    description: Evaluate an object array property changed value
                  - value: Boolean
                    description: Apply a boolean operator (e.g AND, OR) to conditions
            discriminator:
              propertyName: conditionType
          x-ms-identifiers: []
    AutomationRuleBooleanConditionSupportedOperator:
      description: Describes a boolean condition operator.
      enum:
      - And
      - Or
      type: string
      x-ms-enum:
        name: AutomationRuleBooleanConditionSupportedOperator
        modelAsString: true
        values:
        - value: And
          description: Evaluates as true if all the item conditions are evaluated
            as true
        - value: Or
          description: Evaluates as true if at least one of the item conditions are
            evaluated as true
    AutomationRuleCondition:
      description: Describes an automation rule condition.
      required:
      - conditionType
      type: object
      properties:
        conditionType:
          enum:
          - Property
          - PropertyArray
          - PropertyChanged
          - PropertyArrayChanged
          - Boolean
          type: string
          x-ms-enum:
            name: ConditionType
            modelAsString: true
            values:
            - value: Property
              description: Evaluate an object property value
            - value: PropertyArray
              description: Evaluate an object array property value
            - value: PropertyChanged
              description: Evaluate an object property changed value
            - value: PropertyArrayChanged
              description: Evaluate an object array property changed value
            - value: Boolean
              description: Apply a boolean operator (e.g AND, OR) to conditions
      discriminator:
        propertyName: conditionType
    AutomationRuleModifyPropertiesAction:
      type: object
      properties:
        order:
          format: int32
          type: integer
        actionType:
          description: The type of the automation rule action.
          enum:
          - ModifyProperties
          - RunPlaybook
          - AddIncidentTask
          type: string
          x-ms-enum:
            name: ActionType
            modelAsString: true
            values:
            - value: ModifyProperties
              description: Modify an object's properties
            - value: RunPlaybook
              description: Run a playbook on an object
            - value: AddIncidentTask
              description: Add a task to an incident object
        actionConfiguration:
          type: object
          properties:
            severity:
              description: The severity of the incident
              enum:
              - High
              - Medium
              - Low
              - Informational
              type: string
              x-ms-enum:
                modelAsString: true
                name: IncidentSeverity
                values:
[...]
