openapi: 3.0.0
info:
  title: Security Insights
  description: API spec for Microsoft.SecurityInsights (Azure Security Insights) resource
    provider
  version: 2025-06-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/bookmarks
  : get:
      tags:
      - Bookmarks
      description: Gets all bookmarks.
      operationId: Bookmarks_List
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      responses:
        '200':
          description: OK, Operation successfully completed
          content:
            application/json:
              schema:
                description: List all the bookmarks.
                properties:
                  nextLink:
                    description: URL to fetch the next set of cases.
                    readOnly: true
                    type: string
                  value:
                    description: Array of bookmarks.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        etag:
                          description: Etag of the azure resource
                          type: string
                        properties:
                          description: Bookmark properties
                          x-ms-client-flatten: true
                          properties:
                            created:
                              description: The time the bookmark was created
                              format: date-time
                              type: string
                            createdBy:
                              description: Describes a user that created the bookmark
                              type: object
                              properties:
                                email:
                                  description: The email of the user.
                                  readOnly: true
                                  type: string
                                name:
                                  description: The name of the user.
                                  readOnly: true
                                  type: string
                                objectId:
                                  description: The object id of the user.
                                  format: uuid
                                  type: string
                                  nullable: true
                            displayName:
                              description: The display name of the bookmark
                              type: string
                            labels:
                              description: List of labels relevant to this bookmark
                              items:
                                description: Label that will be used to tag and filter
                                  on.
                                type: string
                              type: array
                            notes:
                              description: The notes of the bookmark
                              type: string
                            query:
                              description: The query of the bookmark.
                              type: string
                            queryResult:
                              description: The query result of the bookmark.
                              type: string
                            updated:
                              description: The last time the bookmark was updated
                              format: date-time
                              type: string
                            updatedBy:
                              description: Describes a user that updated the bookmark
                              type: object
                              properties:
                                email:
                                  description: The email of the user.
                                  readOnly: true
                                  type: string
                                name:
                                  description: The name of the user.
                                  readOnly: true
                                  type: string
                                objectId:
                                  description: The object id of the user.
                                  format: uuid
                                  type: string
                                  nullable: true
                            eventTime:
                              description: The bookmark event time
                              format: date-time
                              type: string
                            queryStartTime:
                              description: The start time for the query
                              format: date-time
                              type: string
                            queryEndTime:
                              description: The end time for the query
                              format: date-time
                              type: string
                            incidentInfo:
                              description: Describes an incident that relates to bookmark
                              type: object
                              properties:
                                incidentId:
                                  description: Incident Id
                                  type: string
                                severity:
                                  description: The severity of the incident
                                  type: string
                                  enum:
                                  - High
                                  - Medium
                                  - Low
                                  - Informational
                                  x-ms-enum:
                                    modelAsString: true
                                    name: IncidentSeverity
                                    values:
                                    - description: High severity
                                      value: High
                                    - description: Medium severity
                                      value: Medium
                                    - description: Low severity
                                      value: Low
                                    - description: Informational severity
                                      value: Informational
                                title:
                                  description: The title of the incident
                                  type: string
                                relationName:
                                  description: Relation Name
                                  type: string
                          required:
                          - displayName
                          - query
                          type: object
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    type: array
                type: object
                required:
                - value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/bookmarks/{bookmarkId}
  : get:
      tags:
      - Bookmarks
      description: Gets a bookmark.
      operationId: Bookmarks_Get
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: Bookmark ID
        in: path
        name: bookmarkId
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK, Operation successfully completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  properties:
                    description: Bookmark properties
                    x-ms-client-flatten: true
                    properties:
                      created:
                        description: The time the bookmark was created
                        format: date-time
                        type: string
                      createdBy:
                        description: Describes a user that created the bookmark
                        type: object
                        properties:
                          email:
                            description: The email of the user.
                            readOnly: true
                            type: string
                          name:
                            description: The name of the user.
                            readOnly: true
                            type: string
                          objectId:
                            description: The object id of the user.
                            format: uuid
                            type: string
                            nullable: true
                      displayName:
                        description: The display name of the bookmark
                        type: string
                      labels:
                        description: List of labels relevant to this bookmark
                        items:
                          description: Label that will be used to tag and filter on.
                          type: string
                        type: array
                      notes:
                        description: The notes of the bookmark
                        type: string
                      query:
                        description: The query of the bookmark.
                        type: string
                      queryResult:
                        description: The query result of the bookmark.
                        type: string
                      updated:
                        description: The last time the bookmark was updated
                        format: date-time
                        type: string
                      updatedBy:
                        description: Describes a user that updated the bookmark
                        type: object
                        properties:
                          email:
                            description: The email of the user.
                            readOnly: true
                            type: string
                          name:
                            description: The name of the user.
                            readOnly: true
                            type: string
                          objectId:
                            description: The object id of the user.
                            format: uuid
                            type: string
                            nullable: true
                      eventTime:
                        description: The bookmark event time
                        format: date-time
                        type: string
                      queryStartTime:
                        description: The start time for the query
                        format: date-time
                        type: string
                      queryEndTime:
                        description: The end time for the query
                        format: date-time
                        type: string
                      incidentInfo:
                        description: Describes an incident that relates to bookmark
                        type: object
                        properties:
                          incidentId:
                            description: Incident Id
                            type: string
                          severity:
                            description: The severity of the incident
                            type: string
                            enum:
                            - High
                            - Medium
                            - Low
                            - Informational
                            x-ms-enum:
                              modelAsString: true
                              name: IncidentSeverity
                              values:
                              - description: High severity
                                value: High
                              - description: Medium severity
                                value: Medium
                              - description: Low severity
                                value: Low
                              - description: Informational severity
                                value: Informational
                          title:
                            description: The title of the incident
                            type: string
                          relationName:
                            description: Relation Name
                            type: string
                    required:
                    - displayName
                    - query
                    type: object
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
    put:
      tags:
      - Bookmarks
      description: Creates or updates the bookmark.
      operationId: Bookmarks_CreateOrUpdate
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: Bookmark ID
        in: path
        name: bookmarkId
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                etag:
                  description: Etag of the azure resource
                  type: string
                properties:
                  description: Bookmark properties
                  x-ms-client-flatten: true
                  properties:
                    created:
                      description: The time the bookmark was created
                      format: date-time
                      type: string
                    createdBy:
                      description: Describes a user that created the bookmark
                      type: object
                      properties:
                        email:
                          description: The email of the user.
                          readOnly: true
                          type: string
                        name:
                          description: The name of the user.
                          readOnly: true
                          type: string
                        objectId:
                          description: The object id of the user.
                          format: uuid
                          type: string
                          nullable: true
                    displayName:
                      description: The display name of the bookmark
                      type: string
                    labels:
                      description: List of labels relevant to this bookmark
                      items:
                        description: Label that will be used to tag and filter on.
                        type: string
                      type: array
                    notes:
                      description: The notes of the bookmark
                      type: string
                    query:
                      description: The query of the bookmark.
                      type: string
                    queryResult:
                      description: The query result of the bookmark.
                      type: string
                    updated:
                      description: The last time the bookmark was updated
                      format: date-time
                      type: string
                    updatedBy:
                      description: Describes a user that updated the bookmark
                      type: object
                      properties:
                        email:
                          description: The email of the user.
                          readOnly: true
                          type: string
                        name:
                          description: The name of the user.
                          readOnly: true
                          type: string
                        objectId:
                          description: The object id of the user.
                          format: uuid
                          type: string
                          nullable: true
                    eventTime:
                      description: The bookmark event time
                      format: date-time
                      type: string
                    queryStartTime:
                      description: The start time for the query
                      format: date-time
                      type: string
                    queryEndTime:
                      description: The end time for the query
                      format: date-time
                      type: string
                    incidentInfo:
                      description: Describes an incident that relates to bookmark
                      type: object
                      properties:
                        incidentId:
                          description: Incident Id
                          type: string
                        severity:
                          description: The severity of the incident
                          type: string
                          enum:
                          - High
                          - Medium
                          - Low
                          - Informational
                          x-ms-enum:
                            modelAsString: true
                            name: IncidentSeverity
                            values:
                            - description: High severity
                              value: High
                            - description: Medium severity
                              value: Medium
                            - description: Low severity
                              value: Low
                            - description: Informational severity
                              value: Informational
                        title:
                          description: The title of the incident
                          type: string
                        relationName:
                          description: Relation Name
                          type: string
                  required:
                  - displayName
                  - query
                  type: object
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: The bookmark
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK, Operation successfully completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  properties:
                    description: Bookmark properties
                    x-ms-client-flatten: true
                    properties:
                      created:
                        description: The time the bookmark was created
                        format: date-time
                        type: string
                      createdBy:
                        description: Describes a user that created the bookmark
                        type: object
                        properties:
                          email:
                            description: The email of the user.
                            readOnly: true
                            type: string
                          name:
                            description: The name of the user.
                            readOnly: true
                            type: string
                          objectId:
                            description: The object id of the user.
                            format: uuid
                            type: string
                            nullable: true
                      displayName:
                        description: The display name of the bookmark
                        type: string
                      labels:
                        description: List of labels relevant to this bookmark
                        items:
                          description: Label that will be used to tag and filter on.
                          type: string
                        type: array
                      notes:
                        description: The notes of the bookmark
                        type: string
                      query:
                        description: The query of the bookmark.
                        type: string
                      queryResult:
                        description: The query result of the bookmark.
                        type: string
                      updated:
                        description: The last time the bookmark was updated
                        format: date-time
                        type: string
                      updatedBy:
                        description: Describes a user that updated the bookmark
                        type: object
                        properties:
                          email:
                            description: The email of the user.
                            readOnly: true
                            type: string
                          name:
                            description: The name of the user.
                            readOnly: true
                            type: string
                          objectId:
                            description: The object id of the user.
                            format: uuid
                            type: string
                            nullable: true
                      eventTime:
                        description: The bookmark event time
                        format: date-time
                        type: string
                      queryStartTime:
                        description: The start time for the query
                        format: date-time
                        type: string
                      queryEndTime:
                        description: The end time for the query
                        format: date-time
                        type: string
                      incidentInfo:
                        description: Describes an incident that relates to bookmark
                        type: object
                        properties:
                          incidentId:
                            description: Incident Id
                            type: string
                          severity:
                            description: The severity of the incident
                            type: string
                            enum:
                            - High
                            - Medium
                            - Low
                            - Informational
                            x-ms-enum:
                              modelAsString: true
                              name: IncidentSeverity
                              values:
                              - description: High severity
                                value: High
                              - description: Medium severity
                                value: Medium
                              - description: Low severity
                                value: Low
                              - description: Informational severity
                                value: Informational
                          title:
                            description: The title of the incident
                            type: string
                          relationName:
                            description: Relation Name
                            type: string
                    required:
                    - displayName
                    - query
                    type: object
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  properties:
                    description: Bookmark properties
                    x-ms-client-flatten: true
                    properties:
                      created:
                        description: The time the bookmark was created
                        format: date-time
                        type: string
                      createdBy:
                        description: Describes a user that created the bookmark
                        type: object
                        properties:
                          email:
                            description: The email of the user.
                            readOnly: true
                            type: string
                          name:
                            description: The name of the user.
                            readOnly: true
                            type: string
                          objectId:
                            description: The object id of the user.
                            format: uuid
                            type: string
                            nullable: true
                      displayName:
                        description: The display name of the bookmark
                        type: string
                      labels:
                        description: List of labels relevant to this bookmark
                        items:
                          description: Label that will be used to tag and filter on.
                          type: string
                        type: array
                      notes:
                        description: The notes of the bookmark
                        type: string
                      query:
                        description: The query of the bookmark.
                        type: string
                      queryResult:
                        description: The query result of the bookmark.
                        type: string
                      updated:
                        description: The last time the bookmark was updated
                        format: date-time
                        type: string
                      updatedBy:
                        description: Describes a user that updated the bookmark
                        type: object
                        properties:
                          email:
                            description: The email of the user.
                            readOnly: true
                            type: string
                          name:
                            description: The name of the user.
                            readOnly: true
                            type: string
                          objectId:
                            description: The object id of the user.
                            format: uuid
                            type: string
                            nullable: true
                      eventTime:
                        description: The bookmark event time
                        format: date-time
                        type: string
                      queryStartTime:
                        description: The start time for the query
                        format: date-time
                        type: string
                      queryEndTime:
                        description: The end time for the query
                        format: date-time
                        type: string
                      incidentInfo:
                        description: Describes an incident that relates to bookmark
                        type: object
                        properties:
                          incidentId:
                            description: Incident Id
                            type: string
                          severity:
                            description: The severity of the incident
                            type: string
                            enum:
                            - High
                            - Medium
                            - Low
                            - Informational
                            x-ms-enum:
                              modelAsString: true
                              name: IncidentSeverity
                              values:
                              - description: High severity
                                value: High
                              - description: Medium severity
                                value: Medium
                              - description: Low severity
                                value: Low
                              - description: Informational severity
                                value: Informational
                          title:
                            description: The title of the incident
                            type: string
                          relationName:
                            description: Relation Name
                            type: string
                    required:
                    - displayName
                    - query
                    type: object
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
    delete:
      tags:
      - Bookmarks
      description: Delete the bookmark.
      operationId: Bookmarks_Delete
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: Bookmark ID
        in: path
        name: bookmarkId
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK, Operation successfully completed
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
components:
  parameters:
    BookmarkId:
      description: Bookmark ID
      in: path
      name: bookmarkId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    WorkspaceName:
      description: The name of the workspace.
      in: path
      name: workspaceName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Bookmark:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        etag:
          description: Etag of the azure resource
          type: string
        properties:
          description: Bookmark properties
          x-ms-client-flatten: true
          properties:
            created:
              description: The time the bookmark was created
              format: date-time
              type: string
            createdBy:
              description: Describes a user that created the bookmark
              type: object
              properties:
                email:
                  description: The email of the user.
                  readOnly: true
                  type: string
                name:
                  description: The name of the user.
                  readOnly: true
                  type: string
                objectId:
                  description: The object id of the user.
                  format: uuid
                  type: string
                  nullable: true
            displayName:
              description: The display name of the bookmark
              type: string
            labels:
              description: List of labels relevant to this bookmark
              items:
                description: Label that will be used to tag and filter on.
                type: string
              type: array
            notes:
              description: The notes of the bookmark
              type: string
            query:
              description: The query of the bookmark.
              type: string
            queryResult:
              description: The query result of the bookmark.
              type: string
            updated:
              description: The last time the bookmark was updated
              format: date-time
              type: string
            updatedBy:
              description: Describes a user that updated the bookmark
              type: object
              properties:
                email:
                  description: The email of the user.
                  readOnly: true
                  type: string
                name:
                  description: The name of the user.
                  readOnly: true
                  type: string
                objectId:
                  description: The object id of the user.
                  format: uuid
                  type: string
                  nullable: true
            eventTime:
              description: The bookmark event time
              format: date-time
              type: string
            queryStartTime:
              description: The start time for the query
              format: date-time
              type: string
            queryEndTime:
              description: The end time for the query
              format: date-time
              type: string
            incidentInfo:
              description: Describes an incident that relates to bookmark
              type: object
              properties:
                incidentId:
                  description: Incident Id
                  type: string
                severity:
                  description: The severity of the incident
                  type: string
                  enum:
                  - High
                  - Medium
                  - Low
                  - Informational
                  x-ms-enum:
                    modelAsString: true
                    name: IncidentSeverity
                    values:
                    - description: High severity
                      value: High
                    - description: Medium severity
                      value: Medium
                    - description: Low severity
                      value: Low
                    - description: Informational severity
                      value: Informational
                title:
                  description: The title of the incident
                  type: string
                relationName:
                  description: Relation Name
                  type: string
          required:
          - displayName
          - query
          type: object
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    BookmarkList:
      description: List all the bookmarks.
      properties:
        nextLink:
          description: URL to fetch the next set of cases.
          readOnly: true
          type: string
        value:
          description: Array of bookmarks.
          items:
            type: object
            properties:
              id:
                type: string
                format: arm-id
                description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                readOnly: true
              name:
                type: string
                description: The name of the resource
                readOnly: true
              type:
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
                readOnly: true
              systemData:
                description: Azure Resource Manager metadata containing createdBy
                  and modifiedBy information.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              etag:
                description: Etag of the azure resource
                type: string
              properties:
                description: Bookmark properties
                x-ms-client-flatten: true
                properties:
                  created:
                    description: The time the bookmark was created
                    format: date-time
                    type: string
                  createdBy:
                    description: Describes a user that created the bookmark
                    type: object
                    properties:
                      email:
                        description: The email of the user.
                        readOnly: true
                        type: string
                      name:
                        description: The name of the user.
                        readOnly: true
                        type: string
                      objectId:
                        description: The object id of the user.
                        format: uuid
                        type: string
                        nullable: true
                  displayName:
                    description: The display name of the bookmark
                    type: string
                  labels:
                    description: List of labels relevant to this bookmark
                    items:
                      description: Label that will be used to tag and filter on.
                      type: string
                    type: array
                  notes:
                    description: The notes of the bookmark
                    type: string
                  query:
                    description: The query of the bookmark.
                    type: string
                  queryResult:
                    description: The query result of the bookmark.
                    type: string
                  updated:
                    description: The last time the bookmark was updated
                    format: date-time
                    type: string
                  updatedBy:
                    description: Describes a user that updated the bookmark
                    type: object
                    properties:
                      email:
                        description: The email of the user.
                        readOnly: true
                        type: string
                      name:
                        description: The name of the user.
                        readOnly: true
                        type: string
                      objectId:
                        description: The object id of the user.
                        format: uuid
                        type: string
                        nullable: true
                  eventTime:
                    description: The bookmark event time
                    format: date-time
                    type: string
                  queryStartTime:
                    description: The start time for the query
                    format: date-time
                    type: string
                  queryEndTime:
                    description: The end time for the query
                    format: date-time
                    type: string
                  incidentInfo:
                    description: Describes an incident that relates to bookmark
                    type: object
                    properties:
                      incidentId:
                        description: Incident Id
                        type: string
                      severity:
                        description: The severity of the incident
                        type: string
                        enum:
                        - High
                        - Medium
                        - Low
                        - Informational
                        x-ms-enum:
                          modelAsString: true
                          name: IncidentSeverity
                          values:
                          - description: High severity
                            value: High
                          - description: Medium severity
                            value: Medium
                          - description: Low severity
                            value: Low
                          - description: Informational severity
                            value: Informational
                      title:
                        description: The title of the incident
                        type: string
                      relationName:
                        description: Relation Name
                        type: string
                required:
                - displayName
                - query
                type: object
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
          type: array
      type: object
      required:
      - value
    BookmarkProperties:
      description: Describes bookmark properties
      properties:
        created:
          description: The time the bookmark was created
          format: date-time
          type: string
        createdBy:
          description: Describes a user that created the bookmark
          type: object
          properties:
            email:
              description: The email of the user.
              readOnly: true
              type: string
            name:
              description: The name of the user.
              readOnly: true
              type: string
            objectId:
              description: The object id of the user.
              format: uuid
              type: string
              nullable: true
        displayName:
          description: The display name of the bookmark
          type: string
        labels:
          description: List of labels relevant to this bookmark
          items:
            description: Label that will be used to tag and filter on.
            type: string
          type: array
        notes:
          description: The notes of the bookmark
          type: string
        query:
          description: The query of the bookmark.
          type: string
        queryResult:
          description: The query result of the bookmark.
          type: string
        updated:
          description: The last time the bookmark was updated
          format: date-time
          type: string
        updatedBy:
          description: Describes a user that updated the bookmark
          type: object
          properties:
            email:
              description: The email of the user.
              readOnly: true
              type: string
            name:
              description: The name of the user.
              readOnly: true
              type: string
            objectId:
              description: The object id of the user.
              format: uuid
              type: string
              nullable: true
        eventTime:
          description: The bookmark event time
          format: date-time
          type: string
        queryStartTime:
          description: The start time for the query
          format: date-time
          type: string
        queryEndTime:
          description: The end time for the query
          format: date-time
          type: string
        incidentInfo:
          description: Describes an incident that relates to bookmark
          type: object
          properties:
            incidentId:
              description: Incident Id
              type: string
            severity:
              description: The severity of the incident
              type: string
              enum:
              - High
              - Medium
              - Low
              - Informational
              x-ms-enum:
                modelAsString: true
                name: IncidentSeverity
                values:
                - description: High severity
                  value: High
                - description: Medium severity
                  value: Medium
                - description: Low severity
                  value: Low
                - description: Informational severity
                  value: Informational
            title:
              description: The title of the incident
              type: string
            relationName:
              description: Relation Name
              type: string
      required:
      - displayName
      - query
      type: object
    CloudErrorBody:
      x-ms-external: true
      description: Error details.
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
          readOnly: true
          type: string
        message:
          description: A message describing the error, intended to be suitable for
            display in a user interface.
          readOnly: true
          type: string
      type: object
    CloudError:
      description: Error response structure.
      x-ms-external: true
      properties:
        error:
          description: Error data
          x-ms-external: true
          properties:
            code:
              description: An identifier for the error. Codes are invariant and are
                intended to be consumed programmatically.
              readOnly: true
              type: string
            message:
              description: A message describing the error, intended to be suitable
                for display in a user interface.
              readOnly: true
              type: string
          type: object
      type: object
    systemData:
      type: object
      description: Metadata pertaining to creation and last modification of the resource.
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
      readOnly: true
    Resource:
      type: object
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      x-ms-azure-resource: true
    ResourceWithEtag:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        etag:
          description: Etag of the azure resource
          type: string
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    UserInfo:
      description: User information that made some action
      properties:
        email:
          description: The email of the user.
          readOnly: true
          type: string
        name:
          description: The name of the user.
          readOnly: true
          type: string
        objectId:
          description: The object id of the user.
          format: uuid
          type: string
          nullable: true
      type: object
    Label:
      description: Label that will be used to tag and filter on.
      type: string
    IncidentSeverityEnum:
      description: The severity of the incident
      enum:
      - High
      - Medium
      - Low
      - Informational
      type: string
      x-ms-enum:
        modelAsString: true
        name: IncidentSeverity
        values:
        - description: High severity
          value: High
        - description: Medium severity
          value: Medium
        - description: Low severity
          value: Low
        - description: Informational severity
          value: Informational
    IncidentInfo:
      description: Describes related incident information for the bookmark
      properties:
        incidentId:
          description: Incident Id
          type: string
        severity:
          description: The severity of the incident
          type: string
          enum:
          - High
          - Medium
          - Low
          - Informational
          x-ms-enum:
            modelAsString: true
            name: IncidentSeverity
            values:
            - description: High severity
              value: High
            - description: Medium severity
              value: Medium
            - description: Low severity
              value: Low
            - description: Informational severity
              value: Informational
        title:
          description: The title of the incident
          type: string
        relationName:
          description: Relation Name
          type: string
      type: object
