openapi: 3.0.0
info:
  title: Security Insights
  description: API spec for Microsoft.SecurityInsights (Azure Security Insights) resource
    provider
  version: 2025-06-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/contentTemplates
  : get:
      tags:
      - ContentTemplates
      description: 'Gets all installed templates.

        Expandable properties:

        - properties/mainTemplate

        - properties/dependantTemplates'
      operationId: ContentTemplates_List
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: Filters the results, based on a Boolean condition. Optional.
        in: query
        name: $filter
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Sorts the results. Optional.
        in: query
        name: $orderby
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Expands the object with optional fiends that are not included
          by default. Optional.
        in: query
        name: $expand
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Searches for a substring in the response. Optional.
        in: query
        name: $search
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Instructs the server to return only object count without actual
          body. Optional.
        in: query
        name: $count
        required: false
        x-ms-parameter-location: method
        schema:
          type: boolean
      - description: Returns only the first n results. Optional.
        in: query
        name: $top
        required: false
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
      - description: Used to skip n elements in the OData query (offset). Returns
          a nextLink to the next page of results if there are any left.
        in: query
        name: $skip
        required: false
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
      - description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls. Optional.
        in: query
        name: $skipToken
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of all the template.
                type: object
                properties:
                  value:
                    description: Array of templates.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        etag:
                          description: Etag of the azure resource
                          type: string
                        properties:
                          type: object
                          properties:
                            contentId:
                              description: Static ID for the content.  Used to identify
                                dependencies and content from solutions or community.  Hard-coded/static
                                for out of the box content and solutions. Dynamic
                                for user-created.  This is the resource name
                              type: string
                            contentProductId:
                              type: string
                              description: Unique ID for the content. It should be
                                generated based on the contentId of the package, contentId
                                of the template, contentKind of the template and the
                                contentVersion of the template
                            packageVersion:
                              description: Version of the package.  Default and recommended
                                format is numeric (e.g. 1, 1.0, 1.0.0, 1.0.0.0), following
                                ARM metadata best practices.  Can also be any string,
                                but then we cannot guarantee any version checks
                              type: string
                            version:
                              description: Version of the content.  Default and recommended
                                format is numeric (e.g. 1, 1.0, 1.0.0, 1.0.0.0), following
                                ARM metadata best practices.  Can also be any string,
                                but then we cannot guarantee any version checks
                              type: string
                            displayName:
                              description: The display name of the template
                              type: string
                            contentKind:
                              description: The kind of content the template is for.
                              type: string
                              enum:
                              - DataConnector
                              - DataType
                              - Workbook
                              - WorkbookTemplate
                              - Playbook
                              - PlaybookTemplate
                              - AnalyticsRuleTemplate
                              - AnalyticsRule
                              - HuntingQuery
                              - InvestigationQuery
                              - Parser
                              - Watchlist
                              - WatchlistTemplate
                              - Solution
                              - AzureFunction
                              - LogicAppsCustomConnector
                              - AutomationRule
                              - ResourcesDataConnector
                              - Notebook
                              - Standalone
                              - SummaryRule
                              x-ms-enum:
                                modelAsString: true
                                name: kind
                                values:
                                - value: DataConnector
                                - value: DataType
                                - value: Workbook
                                - value: WorkbookTemplate
                                - value: Playbook
                                - value: PlaybookTemplate
                                - value: AnalyticsRuleTemplate
                                - value: AnalyticsRule
                                - value: HuntingQuery
                                - value: InvestigationQuery
                                - value: Parser
                                - value: Watchlist
                                - value: WatchlistTemplate
                                - value: Solution
                                - value: AzureFunction
                                - value: LogicAppsCustomConnector
                                - value: AutomationRule
                                - value: ResourcesDataConnector
                                  description: The Codeless Connector Platform (CCP)
                                    Connectors
                                - value: Notebook
                                  description: Jupyter Notebooks
                                - value: Standalone
                                  description: one-off / standalone content contributed
                                    by community contributors
                                - value: SummaryRule
                                  description: Summary rules perform batch processing
                                    directly in your Log Analytics workspace.
                            source:
                              description: Source of the content.  This is where/how
                                it was created.
                              type: object
                              required:
                              - kind
                              properties:
                                kind:
                                  description: Source type of the content
                                  type: string
                                  enum:
                                  - LocalWorkspace
                                  - Community
                                  - Solution
                                  - SourceRepository
                                  x-ms-enum:
                                    modelAsString: true
                                    name: sourceKind
                                    values:
                                    - value: LocalWorkspace
                                    - value: Community
                                    - value: Solution
                                    - value: SourceRepository
                                name:
                                  description: Name of the content source.  The repo
                                    name, solution name, LA workspace name etc.
                                  type: string
                                sourceId:
                                  description: ID of the content source.  The solution
                                    ID, workspace ID, etc
                                  type: string
                            author:
                              description: The creator of the content item.
                              type: object
                              properties:
                                name:
                                  description: Name of the author. Company or person.
                                  type: string
                                email:
                                  description: Email of author contact
                                  type: string
                                link:
                                  description: Link for author/vendor page
                                  type: string
                            support:
                              description: Support information for the template -
                                type, name, contact information
                              type: object
                              required:
                              - tier
                              properties:
                                tier:
                                  description: Type of support for content item
                                  type: string
                                  enum:
                                  - Microsoft
                                  - Partner
                                  - Community
                                  x-ms-enum:
                                    modelAsString: true
                                    name: supportTier
                                    values:
                                    - value: Microsoft
                                    - value: Partner
                                    - value: Community
                                name:
                                  description: Name of the support contact. Company
                                    or person.
                                  type: string
                                email:
                                  description: Email of support contact
                                  type: string
                                link:
                                  description: Link for support help, like to support
                                    page to open a ticket etc.
                                  type: string
                            dependencies:
                              description: Dependencies for the content item, what
                                other content items it requires to work.  Can describe
                                more complex dependencies using a recursive/nested
                                structure. For a single dependency an id/kind/version
                                can be supplied or operator/criteria for complex formats.
                              type: object
                              properties:
                                contentId:
                                  description: Id of the content item we depend on
                                  type: string
                                kind:
                                  description: Type of the content item we depend
                                    on
                                  type: string
                                  enum:
                                  - DataConnector
                                  - DataType
                                  - Workbook
                                  - WorkbookTemplate
                                  - Playbook
                                  - PlaybookTemplate
                                  - AnalyticsRuleTemplate
                                  - AnalyticsRule
                                  - HuntingQuery
                                  - InvestigationQuery
                                  - Parser
                                  - Watchlist
                                  - WatchlistTemplate
                                  - Solution
                                  - AzureFunction
                                  - LogicAppsCustomConnector
                                  - AutomationRule
                                  - ResourcesDataConnector
                                  - Notebook
                                  - Standalone
                                  - SummaryRule
                                  x-ms-enum:
                                    modelAsString: true
                                    name: kind
                                    values:
                                    - value: DataConnector
                                    - value: DataType
                                    - value: Workbook
                                    - value: WorkbookTemplate
                                    - value: Playbook
                                    - value: PlaybookTemplate
                                    - value: AnalyticsRuleTemplate
                                    - value: AnalyticsRule
                                    - value: HuntingQuery
                                    - value: InvestigationQuery
                                    - value: Parser
                                    - value: Watchlist
                                    - value: WatchlistTemplate
                                    - value: Solution
                                    - value: AzureFunction
                                    - value: LogicAppsCustomConnector
                                    - value: AutomationRule
                                    - value: ResourcesDataConnector
                                      description: The Codeless Connector Platform
                                        (CCP) Connectors
                                    - value: Notebook
                                      description: Jupyter Notebooks
                                    - value: Standalone
                                      description: one-off / standalone content contributed
                                        by community contributors
                                    - value: SummaryRule
                                      description: Summary rules perform batch processing
                                        directly in your Log Analytics workspace.
                                version:
                                  description: Version of the the content item we
                                    depend on.  Can be blank, * or missing to indicate
                                    any version fulfills the dependency.  If version
                                    does not match our defined numeric format then
                                    an exact match is required.
                                  type: string
                                name:
                                  description: Name of the content item
                                  type: string
                                operator:
                                  description: Operator used for list of dependencies
                                    in criteria array.
                                  type: string
                                  enum:
                                  - AND
                                  - OR
                                  x-ms-enum:
                                    modelAsString: true
                                    name: operator
                                    values:
                                    - value: AND
                                    - value: OR
                                criteria:
                                  description: This is the list of dependencies we
                                    must fulfill, according to the AND/OR operator
                                  type: array
                                  items:
                                    description: Dependencies for the content item,
                                      what other content items it requires to work.  Can
                                      describe more complex dependencies using a recursive/nested
                                      structure. For a single dependency an id/kind/version
                                      can be supplied or operator/criteria for complex
                                      formats.
                                    type: object
                                    properties:
                                      contentId:
                                        description: Id of the content item we depend
                                          on
                                        type: string
                                      kind:
                                        description: Type of the content item we depend
                                          on
                                        type: string
                                        enum:
                                        - DataConnector
                                        - DataType
                                        - Workbook
                                        - WorkbookTemplate
                                        - Playbook
                                        - PlaybookTemplate
                                        - AnalyticsRuleTemplate
                                        - AnalyticsRule
                                        - HuntingQuery
                                        - InvestigationQuery
                                        - Parser
                                        - Watchlist
                                        - WatchlistTemplate
                                        - Solution
                                        - AzureFunction
                                        - LogicAppsCustomConnector
                                        - AutomationRule
                                        - ResourcesDataConnector
                                        - Notebook
                                        - Standalone
                                        - SummaryRule
                                        x-ms-enum:
                                          modelAsString: true
                                          name: kind
                                          values:
                                          - value: DataConnector
                                          - value: DataType
                                          - value: Workbook
                                          - value: WorkbookTemplate
                                          - value: Playbook
                                          - value: PlaybookTemplate
                                          - value: AnalyticsRuleTemplate
                                          - value: AnalyticsRule
                                          - value: HuntingQuery
                                          - value: InvestigationQuery
                                          - value: Parser
                                          - value: Watchlist
                                          - value: WatchlistTemplate
                                          - value: Solution
                                          - value: AzureFunction
                                          - value: LogicAppsCustomConnector
                                          - value: AutomationRule
                                          - value: ResourcesDataConnector
                                            description: The Codeless Connector Platform
                                              (CCP) Connectors
                                          - value: Notebook
                                            description: Jupyter Notebooks
                                          - value: Standalone
                                            description: one-off / standalone content
                                              contributed by community contributors
                                          - value: SummaryRule
                                            description: Summary rules perform batch
                                              processing directly in your Log Analytics
                                              workspace.
                                      version:
                                        description: Version of the the content item
                                          we depend on.  Can be blank, * or missing
                                          to indicate any version fulfills the dependency.  If
                                          version does not match our defined numeric
                                          format then an exact match is required.
                                        type: string
                                      name:
                                        description: Name of the content item
                                        type: string
                                      operator:
                                        description: Operator used for list of dependencies
                                          in criteria array.
                                        type: string
                                        enum:
                                        - AND
                                        - OR
                                        x-ms-enum:
                                          modelAsString: true
                                          name: operator
                                          values:
                                          - value: AND
                                          - value: OR
                                      criteria:
                                        description: This is the list of dependencies
                                          we must fulfill, according to the AND/OR
                                          operator
                                        type: array
                                        items:
                                          description: Dependencies for the content
                                            item, what other content items it requires
                                            to work.  Can describe more complex dependencies
                                            using a recursive/nested structure. For
                                            a single dependency an id/kind/version
                                            can be supplied or operator/criteria for
                                            complex formats.
                                          type: object
                                          properties:
                                            contentId:
                                              description: Id of the content item
                                                we depend on
                                              type: string
                                            kind:
                                              description: Type of the content item
                                                we depend on
                                              type: string
                                              enum:
                                              - DataConnector
                                              - DataType
                                              - Workbook
                                              - WorkbookTemplate
                                              - Playbook
                                              - PlaybookTemplate
                                              - AnalyticsRuleTemplate
                                              - AnalyticsRule
                                              - HuntingQuery
                                              - InvestigationQuery
                                              - Parser
                                              - Watchlist
                                              - WatchlistTemplate
                                              - Solution
                                              - AzureFunction
                                              - LogicAppsCustomConnector
                                              - AutomationRule
                                              - ResourcesDataConnector
                                              - Notebook
                                              - Standalone
                                              - SummaryRule
                                              x-ms-enum:
                                                modelAsString: true
                                                name: kind
                                                values:
                                                - value: DataConnector
                                                - value: DataType
                                                - value: Workbook
                                                - value: WorkbookTemplate
                                                - value: Playbook
                                                - value: PlaybookTemplate
                                                - value: AnalyticsRuleTemplate
                                                - value: AnalyticsRule
                                                - value: HuntingQuery
                                                - value: InvestigationQuery
                                                - value: Parser
                                                - value: Watchlist
                                                - value: WatchlistTemplate
                                                - value: Solution
                                                - value: AzureFunction
                                                - value: LogicAppsCustomConnector
                                                - value: AutomationRule
                                                - value: ResourcesDataConnector
                                                  description: The Codeless Connector
                                                    Platform (CCP) Connectors
                                                - value: Notebook
                                                  description: Jupyter Notebooks
                                                - value: Standalone
                                                  description: one-off / standalone
                                                    content contributed by community
                                                    contributors
                                                - value: SummaryRule
                                                  description: Summary rules perform
                                                    batch processing directly in your
                                                    Log Analytics workspace.
                                            version:
                                              description: Version of the the content
                                                item we depend on.  Can be blank,
                                                * or missing to indicate any version
                                                fulfills the dependency.  If version
                                                does not match our defined numeric
                                                format then an exact match is required.
                                              type: string
                                            name:
                                              description: Name of the content item
                                              type: string
                                            operator:
                                              description: Operator used for list
                                                of dependencies in criteria array.
                                              type: string
                                              enum:
                                              - AND
                                              - OR
                                              x-ms-enum:
                                                modelAsString: true
                                                name: operator
                                                values:
                                                - value: AND
                                                - value: OR
                                        x-ms-identifiers:
                                        - contentId
                                  x-ms-identifiers:
                                  - contentId
                            categories:
                              description: Categories for the item
                              type: object
                              properties:
                                domains:
                                  description: domain for the solution content item
                                  type: array
                                  items:
                                    type: string
                                verticals:
                                  description: Industry verticals for the solution
                                    content item
                                  type: array
                                  items:
                                    type: string
                            providers:
                              description: Providers for the content item
                              type: array
                              items:
                                type: string
                            firstPublishDate:
                              description: first publish date content item
                              type: string
                              format: date
                            lastPublishDate:
                              description: last publish date for the content item
                              type: string
                              format: date
                            customVersion:
                              description: The custom version of the content. A optional
                                free text
                              type: string
                            contentSchemaVersion:
                              description: Schema version of the content. Can be used
                                to distinguish between different flow based on the
                                schema version
                              type: string
                            icon:
                              description: the icon identifier. this id can later
                                be fetched from the content metadata
                              type: string
                            threatAnalysisTactics:
                              description: the tactics the resource covers
                              type: array
                              items:
                                type: string
                            threatAnalysisTechniques:
                              description: the techniques the resource covers, these
                                have to be aligned with the tactics being used
                              type: array
                              items:
                                type: string
                            previewImages:
                              description: preview image file names. These will be
                                taken from the solution artifacts
                              type: array
                              items:
                                type: string
                            previewImagesDark:
                              description: preview image file names. These will be
                                taken from the solution artifacts. used for dark theme
                                support
                              type: array
                              items:
                                type: string
                            packageId:
                              description: the package Id contains this template
                              type: string
                            packageKind:
                              description: the packageKind of the package contains
                                this template
                              enum:
                              - Solution
                              - Standalone
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: packageKind
                                values:
                                - value: Solution
                                - value: Standalone
                            packageName:
                              description: the name of the package contains this template
                              type: string
                            isDeprecated:
                              description: Flag indicates if this template is deprecated
                              readOnly: true
                              type: string
                              enum:
                              - 'true'
                              - 'false'
                              x-ms-enum:
                                modelAsString: true
                                name: flag
                                values:
                                - value: 'true'
                                - value: 'false'
                            mainTemplate:
                              description: The JSON of the ARM template to deploy
                                active content. Expandable.
                              type: object
                            dependantTemplates:
                              type: array
                              items:
                                type: object
                                properties:
                                  contentId:
                                    description: Static ID for the content.  Used
                                      to identify dependencies and content from solutions
                                      or community.  Hard-coded/static for out of
                                      the box content and solutions. Dynamic for user-created.  This
                                      is the resource name
                                    type: string
                                  contentProductId:
                                    type: string
                                    description: Unique ID for the content. It should
                                      be generated based on the contentId of the package,
                                      contentId of the template, contentKind of the
                                      template and the contentVersion of the template
                                  packageVersion:
                                    description: Version of the package.  Default
                                      and recommended format is numeric (e.g. 1, 1.0,
                                      1.0.0, 1.0.0.0), following ARM metadata best
                                      practices.  Can also be any string, but then
                                      we cannot guarantee any version checks
                                    type: string
                                  version:
                                    description: Version of the content.  Default
                                      and recommended format is numeric (e.g. 1, 1.0,
                                      1.0.0, 1.0.0.0), following ARM metadata best
                                      practices.  Can also be any string, but then
                                      we cannot guarantee any version checks
                                    type: string
                                  displayName:
                                    description: The display name of the template
                                    type: string
                                  contentKind:
                                    description: The kind of content the template
                                      is for.
                                    type: string
                                    enum:
                                    - DataConnector
                                    - DataType
                                    - Workbook
                                    - WorkbookTemplate
                                    - Playbook
                                    - PlaybookTemplate
                                    - AnalyticsRuleTemplate
                                    - AnalyticsRule
                                    - HuntingQuery
                                    - InvestigationQuery
                                    - Parser
                                    - Watchlist
                                    - WatchlistTemplate
                                    - Solution
                                    - AzureFunction
                                    - LogicAppsCustomConnector
                                    - AutomationRule
                                    - ResourcesDataConnector
                                    - Notebook
                                    - Standalone
                                    - SummaryRule
                                    x-ms-enum:
                                      modelAsString: true
                                      name: kind
                                      values:
                                      - value: DataConnector
                                      - value: DataType
                                      - value: Workbook
                                      - value: WorkbookTemplate
                                      - value: Playbook
                                      - value: PlaybookTemplate
                                      - value: AnalyticsRuleTemplate
                                      - value: AnalyticsRule
                                      - value: HuntingQuery
                                      - value: InvestigationQuery
                                      - value: Parser
                                      - value: Watchlist
                                      - value: WatchlistTemplate
                                      - value: Solution
                                      - value: AzureFunction
                                      - value: LogicAppsCustomConnector
                                      - value: AutomationRule
                                      - value: ResourcesDataConnector
                                        description: The Codeless Connector Platform
                                          (CCP) Connectors
                                      - value: Notebook
                                        description: Jupyter Notebooks
                                      - value: Standalone
                                        description: one-off / standalone content
                                          contributed by community contributors
                                      - value: SummaryRule
                                        description: Summary rules perform batch processing
                                          directly in your Log Analytics workspace.
                                  source:
                                    description: Source of the content.  This is where/how
                                      it was created.
                                    type: object
                                    required:
                                    - kind
                                    properties:
                                      kind:
                                        description: Source type of the content
                                        type: string
                                        enum:
                                        - LocalWorkspace
                                        - Community
                                        - Solution
                                        - SourceRepository
                                        x-ms-enum:
                                          modelAsString: true
                                          name: sourceKind
                                          values:
                                          - value: LocalWorkspace
                                          - value: Community
                                          - value: Solution
                                          - value: SourceRepository
                                      name:
                                        description: Name of the content source.  The
                                          repo name, solution name, LA workspace name
                                          etc.
                                        type: string
                                      sourceId:
                                        description: ID of the content source.  The
                                          solution ID, workspace ID, etc
                                        type: string
                                  author:
                                    description: The creator of the content item.
                                    type: object
                                    properties:
                                      name:
                                        description: Name of the author. Company or
                                          person.
                                        type: string
                                      email:
                                        description: Email of author contact
                                        type: string
                                      link:
                                        description: Link for author/vendor page
                                        type: string
                                  support:
                                    description: Support information for the template
                                      - type, name, contact information
                                    type: object
                                    required:
                                    - tier
                                    properties:
                                      tier:
                                        description: Type of support for content item
                                        type: string
                                        enum:
                                        - Microsoft
                                        - Partner
                                        - Community
                                        x-ms-enum:
                                          modelAsString: true
                                          name: supportTier
                                          values:
                                          - value: Microsoft
                                          - value: Partner
                                          - value: Community
                                      name:
                                        description: Name of the support contact.
                                          Company or person.
                                        type: string
                                      email:
                                        description: Email of support contact
                                        type: string
                                      link:
                                        description: Link for support help, like to
                                          support page to open a ticket etc.
                                        type: string
                                  dependencies:
                                    description: Dependencies for the content item,
                                      what other content items it requires to work.  Can
                                      describe more complex dependencies using a recursive/nested
                                      structure. For a single dependency an id/kind/version
                                      can be supplied or operator/criteria for complex
                                      formats.
                                    type: object
                                    properties:
                                      contentId:
                                        description: Id of the content item we depend
                                          on
                                        type: string
                                      kind:
                                        description: Type of the content item we depend
                                          on
                                        type: string
                                        enum:
                                        - DataConnector
                                        - DataType
                                        - Workbook
                                        - WorkbookTemplate
                                        - Playbook
                                        - PlaybookTemplate
                                        - AnalyticsRuleTemplate
                                        - AnalyticsRule
                                        - HuntingQuery
                                        - InvestigationQuery
                                        - Parser
                                        - Watchlist
                                        - WatchlistTemplate
                                        - Solution
                                        - AzureFunction
                                        - LogicAppsCustomConnector
                                        - AutomationRule
                                        - ResourcesDataConnector
                                        - Notebook
                                        - Standalone
                                        - SummaryRule
                                        x-ms-enum:
                                          modelAsString: true
                                          name: kind
                                          values:
                                          - value: DataConnector
                                          - value: DataType
                                          - value: Workbook
                                          - value: WorkbookTemplate
                                          - value: Playbook
                                          - value: PlaybookTemplate
                                          - value: AnalyticsRuleTemplate
                                          - value: AnalyticsRule
                                          - value: HuntingQuery
                                          - value: InvestigationQuery
                                          - value: Parser
                                          - value: Watchlist
                                          - value: WatchlistTemplate
                                          - value: Solution
                                          - value: AzureFunction
                                          - value: LogicAppsCustomConnector
                                          - value: AutomationRule
                                          - value: ResourcesDataConnector
                                            description: The Codeless Connector Platform
                                              (CCP) Connectors
                                          - value: Notebook
                                            description: Jupyter Notebooks
                                          - value: Standalone
                                            description: one-off / standalone content
                                              contributed by community contributors
                                          - value: SummaryRule
                                            description: Summary rules perform batch
                                              processing directly in your Log Analytics
                                              workspace.
                                      version:
                                        description: Version of the the content item
                                          we depend on.  Can be blank, * or missing
                                          to indicate any version fulfills the dependency.  If
                                          version does not match our defined numeric
                                          format then an exact match is required.
                                        type: string
                                      name:
                                        description: Name of the content item
                                        type: string
                                      operator:
                                        description: Operator used for list of dependencies
                                          in criteria array.
                                        type: string
                                        enum:
                                        - AND
                                        - OR
                                        x-ms-enum:
                                          modelAsString: true
                                          name: operator
                                          values:
                                          - value: AND
                                          - value: OR
                                      criteria:
                                        description: This is the list of dependencies
                                          we must fulfill, according to the AND/OR
                                          operator
                                        type: array
                                        items:
                                          description: Dependencies for the content
                                            item, what other content items it requires
                                            to work.  Can describe more complex dependencies
                                            using a recursive/nested structure. For
                                            a single dependency an id/kind/version
                                            can be supplied or operator/criteria for
                                            complex formats.
                                          type: object
                                          properties:
                                            contentId:
                                              description: Id of the content item
                                                we depend on
                                              type: string
                                            kind:
                                              description: Type of the content item
                                                we depend on
                                              type: string
                                              enum:
                                              - DataConnector
                                              - DataType
                                              - Workbook
                                              - WorkbookTemplate
                                              - Playbook
                                              - PlaybookTemplate
                                              - AnalyticsRuleTemplate
                                              - AnalyticsRule
                                              - HuntingQuery
                                              - InvestigationQuery
                                              - Parser
                                              - Watchlist
                                              - WatchlistTemplate
                                              - Solution
                                              - AzureFunction
                                              - LogicAppsCustomConnector
                                              - AutomationRule
                                              - ResourcesDataConnector
                                              - Notebook
                                              - Standalone
                                              - SummaryRule
                                              x-ms-enum:
                                                modelAsString: true
                                                name: kind
                                                values:
                                                - value: DataConnector
                                                - value: DataType
                                                - value: Workbook
                                                - value: WorkbookTemplate
                                                - value: Playbook
                                                - value: PlaybookTemplate
                                                - value: AnalyticsRuleTemplate
                                                - value: AnalyticsRule
                                                - value: HuntingQuery
                                                - value: InvestigationQuery
                                                - value: Parser
                                                - value: Watchlist
                                                - value: WatchlistTemplate
                                                - value: Solution
                                                - value: AzureFunction
                                                - value: LogicAppsCustomConnector
                                                - value: AutomationRule
                                                - value: ResourcesDataConnector
                                                  description: The Codeless Connector
                                                    Platform (CCP) Connectors
                                                - value: Notebook
                                                  description: Jupyter Notebooks
                                                - value: Standalone
                                                  description: one-off / standalone
                                                    content contributed by community
                                                    contributors
                                                - value: SummaryRule
                                                  description: Summary rules perform
                                                    batch processing directly in your
                                                    Log Analytics workspace.
                                            version:
                                              description: Version of the the content
                                                item we depend on.  Can be blank,
                                                * or missing to indicate any version
                                                fulfills the dependency.  If version
                                                does not match our defined numeric
                                                format then an exact match is required.
                                              type: string
                                            name:
                                              description: Name of the content item
                                              type: string
                                            operator:
                                              description: Operator used for list
                                                of dependencies in criteria array.
                                              type: string
                                              enum:
                                              - AND
                                              - OR
                                              x-ms-enum:
                                                modelAsString: true
                                                name: operator
                                                values:
                                                - value: AND
                                                - value: OR
                                            criteria:
                                              description: This is the list of dependencies
                                                we must fulfill, according to the
                                                AND/OR operator
                                              type: array
                                              items:
                                                description: Dependencies for the
                                                  content item, what other content
                                                  items it requires to work.  Can
                                                  describe more complex dependencies
                                                  using a recursive/nested structure.
                                                  For a single dependency an id/kind/version
                                                  can be supplied or operator/criteria
                                                  for complex formats.
                                                type: object
                                                properties:
                                                  contentId:
                                                    description: Id of the content
                                                      item we depend on
                                                    type: string
                                                  kind:
                                                    description: Type of the content
                                                      item we depend on
                                                    type: string
                                                    enum:
                                                    - DataConnector
                                                    - DataType
                                                    - Workbook
                                                    - WorkbookTemplate
                                                    - Playbook
                                                    - PlaybookTemplate
                                                    - AnalyticsRuleTemplate
                                                    - AnalyticsRule
                                                    - HuntingQuery
                                                    - InvestigationQuery
                                                    - Parser
                                                    - Watchlist
                                                    - WatchlistTemplate
                                                    - Solution
                                                    - AzureFunction
                                                    - LogicAppsCustomConnector
                                                    - AutomationRule
                                                    - ResourcesDataConnector
                                                    - Notebook
                                                    - Standalone
                                                    - SummaryRule
                                                    x-ms-enum:
                                                      modelAsString: true
                                                      name: kind
                                                      values:
                                                      - value: DataConnector
                                                      - value: DataType
                                                      - value: Workbook
                                                      - value: WorkbookTemplate
                                                      - value: Playbook
                                                      - value: PlaybookTemplate
                                                      - value: AnalyticsRuleTemplate
                                                      - value: AnalyticsRule
                                                      - value: HuntingQuery
                                                      - value: InvestigationQuery
                                                      - value: Parser
                                                      - value: Watchlist
                                                      - value: WatchlistTemplate
                                                      - value: Solution
                                                      - value: AzureFunction
                                                      - value: LogicAppsCustomConnector
                                                      - value: AutomationRule
                                                      - value: ResourcesDataConnector
                                                        description: The Codeless
                                                          Connector Platform (CCP)
                                                          Connectors
                                                      - value: Notebook
                                                        description: Jupyter Notebooks
                                                      - value: Standalone
                                                        description: one-off / standalone
                                                          content contributed by community
                                                          contributors
                                                      - value: SummaryRule
                                                        description: Summary rules
                                                          perform batch processing
                                                          directly in your Log Analytics
                                                          workspace.
                                                  version:
                                                    description: Version of the the
                                                      content item we depend on.  Can
                                                      be blank, * or missing to indicate
                                                      any version fulfills the dependency.  If
                                                      version does not match our defined
                                                      numeric format then an exact
                                                      match is required.
                                                    type: string
                                                  name:
                                                    description: Name of the content
                                                      item
                                                    type: string
                                                  operator:
                                                    description: Operator used for
                                                      list of dependencies in criteria
                                                      array.
                                                    type: string
                                                    enum:
                                                    - AND
                                                    - OR
                                                    x-ms-enum:
                                                      modelAsString: true
                                                      name: operator
                                                      values:
                                                      - value: AND
                                                      - value: OR
                                              x-ms-identifiers:
                                              - contentId
                                        x-ms-identifiers:
                                        - contentId
                                  categories:
                                    description: Categories for the item
                                    type: object
                                    properties:
                                      domains:
                                        description: domain for the solution content
                                          item
                                        type: array
                                        items:
                                          type: string
                                      verticals:
                                        description: Industry verticals for the solution
                                          content item
                                        type: array
                                        items:
                                          type: string
                                  providers:
                                    description: Providers for the content item
                                    type: array
                                    items:
                                      type: string
                                  firstPublishDate:
                                    description: first publish date content item
                                    type: string
                                    format: date
                                  lastPublishDate:
                                    description: last publish date for the content
                                      item
                                    type: string
                                    format: date
                                  customVersion:
                                    description: The custom version of the content.
                                      A optional free text
                                    type: string
                                  contentSchemaVersion:
                                    description: Schema version of the content. Can
                                      be used to distinguish between different flow
                                      based on the schema version
                                    type: string
                                  icon:
                                    description: the icon identifier. this id can
                                      later be fetched from the content metadata
                                    type: string
                                  threatAnalysisTactics:
                                    description: the tactics the resource covers
                                    type: array
                                    items:
                                      type: string
                                  threatAnalysisTechniques:
                                    description: the techniques the resource covers,
                                      these have to be aligned with the tactics being
                                      used
                                    type: array
                                    items:
                                      type: string
                                  previewImages:
                                    description: preview image file names. These will
                                      be taken from the solution artifacts
                                    type: array
                                    items:
                                      type: string
                                  previewImagesDark:
                                    description: preview image file names. These will
                                      be taken from the solution artifacts. used for
                                      dark theme support
                                    type: array
                                    items:
                                      type: string
                                  packageId:
                                    description: the package Id contains this template
                                    type: string
                                  packageKind:
                                    description: the packageKind of the package contains
                                      this template
                                    enum:
                                    - Solution
                                    - Standalone
                                    type: string
                                    x-ms-enum:
                                      modelAsString: true
                                      name: packageKind
                                      values:
                                      - value: Solution
                                      - value: Standalone
                                  packageName:
                                    description: the name of the package contains
                                      this template
                                    type: string
                                  isDeprecated:
                                    description: Flag indicates if this template is
                                      deprecated
                                    readOnly: true
                                    type: string
                                    enum:
                                    - 'true'
                                    - 'false'
                                    x-ms-enum:
                                      modelAsString: true
                                      name: flag
                                      values:
                                      - value: 'true'
                                      - value: 'false'
                                  mainTemplate:
                                    description: The JSON of the ARM template to deploy
                                      active content. Expandable.
                                    type: object
                                  dependantTemplates:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        contentId:
                                          description: Static ID for the content.  Used
                                            to identify dependencies and content from
                                            solutions or community.  Hard-coded/static
                                            for out of the box content and solutions.
                                            Dynamic for user-created.  This is the
                                            resource name
                                          type: string
                                        contentProductId:
                                          type: string
                                          description: Unique ID for the content.
                                            It should be generated based on the contentId
                                            of the package, contentId of the template,
                                            contentKind of the template and the contentVersion
                                            of the template
                                        packageVersion:
                                          description: Version of the package.  Default
                                            and recommended format is numeric (e.g.
                                            1, 1.0, 1.0.0, 1.0.0.0), following ARM
                                            metadata best practices.  Can also be
                                            any string, but then we cannot guarantee
                                            any version checks
                                          type: string
                                        version:
                                          description: Version of the content.  Default
                                            and recommended format is numeric (e.g.
                                            1, 1.0, 1.0.0, 1.0.0.0), following ARM
                                            metadata best practices.  Can also be
                                            any string, but then we cannot guarantee
                                            any version checks
                                          type: string
                                        displayName:
                                          description: The display name of the template
                                          type: string
                                        contentKind:
                                          description: The kind of content the template
                                            is for.
                                          type: string
                                          enum:
                                          - DataConnector
                                          - DataType
                                          - Workbook
                                          - WorkbookTemplate
                                          - Playbook
                                          - PlaybookTemplate
                                          - AnalyticsRuleTemplate
                                          - AnalyticsRule
                                          - HuntingQuery
                                          - InvestigationQuery
                                          - Parser
                                          - Watchlist
                                          - WatchlistTemplate
                                          - Solution
                                          - AzureFunction
                                          - LogicAppsCustomConnector
                                          - AutomationRule
                                          - ResourcesDataConnector
                                          - Notebook
                                          - Standalone
                                          - SummaryRule
                                          x-ms-enum:
                                            modelAsString: true
                                            name: kind
                                            values:
                                            - value: DataConnector
                                            - value: DataType
                                            - value: Workbook
                                            - value: WorkbookTemplate
                                            - value: Playbook
                                            - value: PlaybookTemplate
                                            - value: AnalyticsRuleTemplate
                                            - value: AnalyticsRule
                                            - value: HuntingQuery
                                            - value: InvestigationQuery
                                            - value: Parser
                                            - value: Watchlist
                                            - value: WatchlistTemplate
                                            - value: Solution
                                            - value: AzureFunction
                                            - value: LogicAppsCustomConnector
                                            - value: AutomationRule
                                            - value: ResourcesDataConnector
                                              description: The Codeless Connector
                                                Platform (CCP) Connectors
                                            - value: Notebook
                                              description: Jupyter Notebooks
                                            - value: Standalone
                                              description: one-off / standalone content
                                                contributed by community contributors
                                            - value: SummaryRule
                                              description: Summary rules perform batch
                                                processing directly in your Log Analytics
                                                workspace.
                                        source:
                                          description: Source of the content.  This
                                            is where/how it was created.
                                          type: object
                                          required:
                                          - kind
                                          properties:
                                            kind:
                                              description: Source type of the content
                                              type: string
                                              enum:
                                              - LocalWorkspace
                                              - Community
                                              - Solution
                                              - SourceRepository
                                              x-ms-enum:
                                                modelAsString: true
                                                name: sourceKind
                                                values:
                                                - value: LocalWorkspace
                                                - value: Community
                                                - value: Solution
                                                - value: SourceRepository
                                            name:
                                              description: Name of the content source.  The
                                                repo name, solution name, LA workspace
                                                name etc.
                                              type: string
                                            sourceId:
                                              description: ID of the content source.  The
                                                solution ID, workspace ID, etc
                                              type: string
                                        author:
                                          description: The creator of the content
                                            item.
                                          type: object
                                          properties:
                                            name:
                                              description: Name of the author. Company
                                                or person.
                                              type: string
                                            email:
                                              description: Email of author contact
                                              type: string
                                            link:
                                              description: Link for author/vendor
                                                page
                                              type: string
                                        support:
                                          description: Support information for the
                                            template - type, name, contact information
                                          type: object
                                          required:
                                          - tier
                                          properties:
                                            tier:
                                              description: Type of support for content
                                                item
                                              type: string
                                              enum:
                                              - Microsoft
                                              - Partner
                                              - Community
                                              x-ms-enum:
                                                modelAsString: true
                                                name: supportTier
                                                values:
                                                - value: Microsoft
                                                - value: Partner
                                                - value: Community
                                            name:
                                              description: Name of the support contact.
                                                Company or person.
                                              type: string
                                            email:
                                              description: Email of support contact
                                              type: string
                                            link:
                                              description: Link for support help,
                                                like to support page to open a ticket
                                                etc.
                                              type: string
                                        dependencies:
                                          description: Dependencies for the content
                                            item, what other content items it requires
                                            to work.  Can describe more complex dependencies
                                            using a recursive/nested structure. For
                                            a single dependency an id/kind/version
                                            can be supplied or operator/criteria for
                                            complex formats.
                                          type: object
                                          properties:
                                            contentId:
                                              description: Id of the content item
                                                we depend on
                                              type: string
                                            kind:
                                              description: Type of the content item
                                                we depend on
                                              type: string
                                              enum:
                                              - DataConnector
                                              - DataType
                                              - Workbook
                                              - WorkbookTemplate
                                              - Playbook
                                              - PlaybookTemplate
                                              - AnalyticsRuleTemplate
                                              - AnalyticsRule
                                              - HuntingQuery
                                              - InvestigationQuery
                                              - Parser
                                              - Watchlist
                                              - WatchlistTemplate
                                              - Solution
                                              - AzureFunction
                                              - LogicAppsCustomConnector
                                              - AutomationRule
                                              - ResourcesDataConnector
                                              - Notebook
                                              - Standalone
                                              - SummaryRule
                                              x-ms-enum:
                                                modelAsString: true
                                                name: kind
                                                values:
                                                - value: DataConnector
                                                - value: DataType
                                                - value: Workbook
                                                - value: WorkbookTemplate
                                                - value: Playbook
                                                - value: PlaybookTemplate
                                                - value: AnalyticsRuleTemplate
                                                - value: AnalyticsRule
                                                - value: HuntingQuery
                                                - value: InvestigationQuery
                                                - value: Parser
                                                - value: Watchlist
                                                - value: WatchlistTemplate
                                                - value: Solution
                                                - value: AzureFunction
                                                - value: LogicAppsCustomConnector
                                                - value: AutomationRule
                                                - value: ResourcesDataConnector
                                                  description: The Codeless Connector
                                                    Platform (CCP) Connectors
                                                - value: Notebook
                                                  description: Jupyter Notebooks
                                                - value: Standalone
                                                  description: one-off / standalone
                                                    content contributed by community
                                                    contributors
                                                - value: SummaryRule
                                                  description: Summary rules perform
                                                    batch processing directly in your
                                                    Log Analytics workspace.
                                            version:
                                              description: Version of the the content
                                                item we depend on.  Can be blank,
                                                * or missing to indicate any version
                                                fulfills the dependency.  If version
                                                does not match our defined numeric
                                                format then an exact match is required.
                                              type: string
                                            name:
                                              description: Name of the content item
                                              type: string
                                            operator:
                                              description: Operator used for list
                                                of dependencies in criteria array.
                                              type: string
                                              enum:
                                              - AND
                                              - OR
                                              x-ms-enum:
                                                modelAsString: true
                                                name: operator
                                                values:
                                                - value: AND
                                                - value: OR
                                            criteria:
                                              description: This is the list of dependencies
                                                we must fulfill, according to the
                                                AND/OR operator
                                              type: array
                                              items:
                                                description: Dependencies for the
                                                  content item, what other content
                                                  items it requires to work.  Can
                                                  describe more complex dependencies
                                                  using a recursive/nested structure.
                                                  For a single dependency an id/kind/version
                                                  can be supplied or operator/criteria
                                                  for complex formats.
                                                type: object
                                                properties:
                                                  contentId:
                                                    description: Id of the content
                                                      item we depend on
                                                    type: string
                                                  kind:
                                                    description: Type of the content
                                                      item we depend on
                                                    type: string
                                                    enum:
                                                    - DataConnector
                                                    - DataType
                                                    - Workbook
                                                    - WorkbookTemplate
                                                    - Playbook
                                                    - PlaybookTemplate
                                                    - AnalyticsRuleTemplate
                                                    - AnalyticsRule
                                                    - HuntingQuery
                                                    - InvestigationQuery
                                                    - Parser
                                                    - Watchlist
                                                    - WatchlistTemplate
                                                    - Solution
                                                    - AzureFunction
                                                    - LogicAppsCustomConnector
                                                    - AutomationRule
                                                    - ResourcesDataConnector
                                                    - Notebook
                                                    - Standalone
                                                    - SummaryRule
                                                    x-ms-enum:
                                                      modelAsString: true
                                                      name: kind
                                                      values:
                                                      - value: DataConnector
                                                      - value: DataType
                                                      - value: Workbook
[...]
