openapi: 3.0.0
info:
  title: Security Insights
  description: API spec for Microsoft.SecurityInsights (Azure Security Insights) resource
    provider
  version: 2025-06-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/contentProductPackages
  : get:
      tags:
      - ContentProductPackages
      description: 'Gets all packages from the catalog.

        Expandable properties:

        - properties/installed

        - properties/packagedContent'
      operationId: ProductPackages_List
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: Filters the results, based on a Boolean condition. Optional.
        in: query
        name: $filter
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Sorts the results. Optional.
        in: query
        name: $orderby
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Returns only the first n results. Optional.
        in: query
        name: $top
        required: false
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
      - description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls. Optional.
        in: query
        name: $skipToken
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Searches for a substring in the response. Optional.
        in: query
        name: $search
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List available packages.
                properties:
                  nextLink:
                    description: URL to fetch the next set of packages.
                    readOnly: true
                    type: string
                  value:
                    description: Array of packages.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        etag:
                          description: Etag of the azure resource
                          type: string
                        properties:
                          type: object
                          properties:
                            contentId:
                              description: The content id of the package
                              type: string
                            contentProductId:
                              type: string
                              description: Unique ID for the content. It should be
                                generated based on the contentId, contentKind and
                                the contentVersion of the package
                            contentKind:
                              description: The package kind
                              enum:
                              - Solution
                              - Standalone
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: packageKind
                                values:
                                - value: Solution
                                - value: Standalone
                            contentSchemaVersion:
                              description: The version of the content schema.
                              type: string
                            isNew:
                              description: Flag indicates if this is a newly published
                                package.
                              type: string
                              enum:
                              - 'true'
                              - 'false'
                              x-ms-enum:
                                modelAsString: true
                                name: flag
                                values:
                                - value: 'true'
                                - value: 'false'
                            isPreview:
                              description: Flag indicates if this package is in preview.
                              type: string
                              enum:
                              - 'true'
                              - 'false'
                              x-ms-enum:
                                modelAsString: true
                                name: flag
                                values:
                                - value: 'true'
                                - value: 'false'
                            isFeatured:
                              description: Flag indicates if this package is among
                                the featured list.
                              type: string
                              enum:
                              - 'true'
                              - 'false'
                              x-ms-enum:
                                modelAsString: true
                                name: flag
                                values:
                                - value: 'true'
                                - value: 'false'
                            isDeprecated:
                              description: Flag indicates if this template is deprecated
                              type: string
                              enum:
                              - 'true'
                              - 'false'
                              x-ms-enum:
                                modelAsString: true
                                name: flag
                                values:
                                - value: 'true'
                                - value: 'false'
                            version:
                              description: the latest version number of the package
                              type: string
                            displayName:
                              description: The display name of the package
                              type: string
                            description:
                              description: The description of the package
                              type: string
                            publisherDisplayName:
                              description: The publisher display name of the package
                              type: string
                            source:
                              description: The source of the package
                              type: object
                              required:
                              - kind
                              properties:
                                kind:
                                  description: Source type of the content
                                  type: string
                                  enum:
                                  - LocalWorkspace
                                  - Community
                                  - Solution
                                  - SourceRepository
                                  x-ms-enum:
                                    modelAsString: true
                                    name: sourceKind
                                    values:
                                    - value: LocalWorkspace
                                    - value: Community
                                    - value: Solution
                                    - value: SourceRepository
                                name:
                                  description: Name of the content source.  The repo
                                    name, solution name, LA workspace name etc.
                                  type: string
                                sourceId:
                                  description: ID of the content source.  The solution
                                    ID, workspace ID, etc
                                  type: string
                            author:
                              description: The author of the package
                              type: object
                              properties:
                                name:
                                  description: Name of the author. Company or person.
                                  type: string
                                email:
                                  description: Email of author contact
                                  type: string
                                link:
                                  description: Link for author/vendor page
                                  type: string
                            support:
                              description: The support tier of the package
                              type: object
                              required:
                              - tier
                              properties:
                                tier:
                                  description: Type of support for content item
                                  type: string
                                  enum:
                                  - Microsoft
                                  - Partner
                                  - Community
                                  x-ms-enum:
                                    modelAsString: true
                                    name: supportTier
                                    values:
                                    - value: Microsoft
                                    - value: Partner
                                    - value: Community
                                name:
                                  description: Name of the support contact. Company
                                    or person.
                                  type: string
                                email:
                                  description: Email of support contact
                                  type: string
                                link:
                                  description: Link for support help, like to support
                                    page to open a ticket etc.
                                  type: string
                            dependencies:
                              description: The support tier of the package
                              type: object
                              properties:
                                contentId:
                                  description: Id of the content item we depend on
                                  type: string
                                kind:
                                  description: Type of the content item we depend
                                    on
                                  type: string
                                  enum:
                                  - DataConnector
                                  - DataType
                                  - Workbook
                                  - WorkbookTemplate
                                  - Playbook
                                  - PlaybookTemplate
                                  - AnalyticsRuleTemplate
                                  - AnalyticsRule
                                  - HuntingQuery
                                  - InvestigationQuery
                                  - Parser
                                  - Watchlist
                                  - WatchlistTemplate
                                  - Solution
                                  - AzureFunction
                                  - LogicAppsCustomConnector
                                  - AutomationRule
                                  - ResourcesDataConnector
                                  - Notebook
                                  - Standalone
                                  - SummaryRule
                                  x-ms-enum:
                                    modelAsString: true
                                    name: kind
                                    values:
                                    - value: DataConnector
                                    - value: DataType
                                    - value: Workbook
                                    - value: WorkbookTemplate
                                    - value: Playbook
                                    - value: PlaybookTemplate
                                    - value: AnalyticsRuleTemplate
                                    - value: AnalyticsRule
                                    - value: HuntingQuery
                                    - value: InvestigationQuery
                                    - value: Parser
                                    - value: Watchlist
                                    - value: WatchlistTemplate
                                    - value: Solution
                                    - value: AzureFunction
                                    - value: LogicAppsCustomConnector
                                    - value: AutomationRule
                                    - value: ResourcesDataConnector
                                      description: The Codeless Connector Platform
                                        (CCP) Connectors
                                    - value: Notebook
                                      description: Jupyter Notebooks
                                    - value: Standalone
                                      description: one-off / standalone content contributed
                                        by community contributors
                                    - value: SummaryRule
                                      description: Summary rules perform batch processing
                                        directly in your Log Analytics workspace.
                                version:
                                  description: Version of the the content item we
                                    depend on.  Can be blank, * or missing to indicate
                                    any version fulfills the dependency.  If version
                                    does not match our defined numeric format then
                                    an exact match is required.
                                  type: string
                                name:
                                  description: Name of the content item
                                  type: string
                                operator:
                                  description: Operator used for list of dependencies
                                    in criteria array.
                                  type: string
                                  enum:
                                  - AND
                                  - OR
                                  x-ms-enum:
                                    modelAsString: true
                                    name: operator
                                    values:
                                    - value: AND
                                    - value: OR
                                criteria:
                                  description: This is the list of dependencies we
                                    must fulfill, according to the AND/OR operator
                                  type: array
                                  items:
                                    description: Dependencies for the content item,
                                      what other content items it requires to work.  Can
                                      describe more complex dependencies using a recursive/nested
                                      structure. For a single dependency an id/kind/version
                                      can be supplied or operator/criteria for complex
                                      formats.
                                    type: object
                                    properties:
                                      contentId:
                                        description: Id of the content item we depend
                                          on
                                        type: string
                                      kind:
                                        description: Type of the content item we depend
                                          on
                                        type: string
                                        enum:
                                        - DataConnector
                                        - DataType
                                        - Workbook
                                        - WorkbookTemplate
                                        - Playbook
                                        - PlaybookTemplate
                                        - AnalyticsRuleTemplate
                                        - AnalyticsRule
                                        - HuntingQuery
                                        - InvestigationQuery
                                        - Parser
                                        - Watchlist
                                        - WatchlistTemplate
                                        - Solution
                                        - AzureFunction
                                        - LogicAppsCustomConnector
                                        - AutomationRule
                                        - ResourcesDataConnector
                                        - Notebook
                                        - Standalone
                                        - SummaryRule
                                        x-ms-enum:
                                          modelAsString: true
                                          name: kind
                                          values:
                                          - value: DataConnector
                                          - value: DataType
                                          - value: Workbook
                                          - value: WorkbookTemplate
                                          - value: Playbook
                                          - value: PlaybookTemplate
                                          - value: AnalyticsRuleTemplate
                                          - value: AnalyticsRule
                                          - value: HuntingQuery
                                          - value: InvestigationQuery
                                          - value: Parser
                                          - value: Watchlist
                                          - value: WatchlistTemplate
                                          - value: Solution
                                          - value: AzureFunction
                                          - value: LogicAppsCustomConnector
                                          - value: AutomationRule
                                          - value: ResourcesDataConnector
                                            description: The Codeless Connector Platform
                                              (CCP) Connectors
                                          - value: Notebook
                                            description: Jupyter Notebooks
                                          - value: Standalone
                                            description: one-off / standalone content
                                              contributed by community contributors
                                          - value: SummaryRule
                                            description: Summary rules perform batch
                                              processing directly in your Log Analytics
                                              workspace.
                                      version:
                                        description: Version of the the content item
                                          we depend on.  Can be blank, * or missing
                                          to indicate any version fulfills the dependency.  If
                                          version does not match our defined numeric
                                          format then an exact match is required.
                                        type: string
                                      name:
                                        description: Name of the content item
                                        type: string
                                      operator:
                                        description: Operator used for list of dependencies
                                          in criteria array.
                                        type: string
                                        enum:
                                        - AND
                                        - OR
                                        x-ms-enum:
                                          modelAsString: true
                                          name: operator
                                          values:
                                          - value: AND
                                          - value: OR
                                      criteria:
                                        description: This is the list of dependencies
                                          we must fulfill, according to the AND/OR
                                          operator
                                        type: array
                                        items:
                                          description: Dependencies for the content
                                            item, what other content items it requires
                                            to work.  Can describe more complex dependencies
                                            using a recursive/nested structure. For
                                            a single dependency an id/kind/version
                                            can be supplied or operator/criteria for
                                            complex formats.
                                          type: object
                                          properties:
                                            contentId:
                                              description: Id of the content item
                                                we depend on
                                              type: string
                                            kind:
                                              description: Type of the content item
                                                we depend on
                                              type: string
                                              enum:
                                              - DataConnector
                                              - DataType
                                              - Workbook
                                              - WorkbookTemplate
                                              - Playbook
                                              - PlaybookTemplate
                                              - AnalyticsRuleTemplate
                                              - AnalyticsRule
                                              - HuntingQuery
                                              - InvestigationQuery
                                              - Parser
                                              - Watchlist
                                              - WatchlistTemplate
                                              - Solution
                                              - AzureFunction
                                              - LogicAppsCustomConnector
                                              - AutomationRule
                                              - ResourcesDataConnector
                                              - Notebook
                                              - Standalone
                                              - SummaryRule
                                              x-ms-enum:
                                                modelAsString: true
                                                name: kind
                                                values:
                                                - value: DataConnector
                                                - value: DataType
                                                - value: Workbook
                                                - value: WorkbookTemplate
                                                - value: Playbook
                                                - value: PlaybookTemplate
                                                - value: AnalyticsRuleTemplate
                                                - value: AnalyticsRule
                                                - value: HuntingQuery
                                                - value: InvestigationQuery
                                                - value: Parser
                                                - value: Watchlist
                                                - value: WatchlistTemplate
                                                - value: Solution
                                                - value: AzureFunction
                                                - value: LogicAppsCustomConnector
                                                - value: AutomationRule
                                                - value: ResourcesDataConnector
                                                  description: The Codeless Connector
                                                    Platform (CCP) Connectors
                                                - value: Notebook
                                                  description: Jupyter Notebooks
                                                - value: Standalone
                                                  description: one-off / standalone
                                                    content contributed by community
                                                    contributors
                                                - value: SummaryRule
                                                  description: Summary rules perform
                                                    batch processing directly in your
                                                    Log Analytics workspace.
                                            version:
                                              description: Version of the the content
                                                item we depend on.  Can be blank,
                                                * or missing to indicate any version
                                                fulfills the dependency.  If version
                                                does not match our defined numeric
                                                format then an exact match is required.
                                              type: string
                                            name:
                                              description: Name of the content item
                                              type: string
                                            operator:
                                              description: Operator used for list
                                                of dependencies in criteria array.
                                              type: string
                                              enum:
                                              - AND
                                              - OR
                                              x-ms-enum:
                                                modelAsString: true
                                                name: operator
                                                values:
                                                - value: AND
                                                - value: OR
                                        x-ms-identifiers:
                                        - contentId
                                  x-ms-identifiers:
                                  - contentId
                            providers:
                              description: Providers for the package item
                              type: array
                              items:
                                type: string
                            firstPublishDate:
                              description: first publish date package item
                              type: string
                              format: date
                            lastPublishDate:
                              description: last publish date for the package item
                              type: string
                              format: date
                            categories:
                              description: The categories of the package
                              type: object
                              properties:
                                domains:
                                  description: domain for the solution content item
                                  type: array
                                  items:
                                    type: string
                                verticals:
                                  description: Industry verticals for the solution
                                    content item
                                  type: array
                                  items:
                                    type: string
                            threatAnalysisTactics:
                              description: the tactics the resource covers
                              type: array
                              items:
                                type: string
                            threatAnalysisTechniques:
                              description: the techniques the resource covers, these
                                have to be aligned with the tactics being used
                              type: array
                              items:
                                type: string
                            icon:
                              description: the icon identifier. this id can later
                                be fetched from the content metadata
                              type: string
                            installedVersion:
                              description: The version of the installed package, null
                                or absent means not installed.
                              type: string
                            metadataResourceId:
                              description: The metadata resource id.
                              type: string
                              format: arm-id
                            packagedContent:
                              description: The json of the ARM template to deploy.
                                Expandable.
                              type: object
                          description: The content id of the package
                          required:
                          - contentId
                          - contentKind
                          - version
                          - displayName
                          x-ms-client-flatten: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    type: array
                required:
                - value
                type: object
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/contentProductPackages/{packageId}
  : get:
      tags:
      - ContentProductPackages
      description: Gets a package by its identifier from the catalog.
      operationId: ProductPackage_Get
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: package Id
        in: path
        name: packageId
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  properties:
                    type: object
                    properties:
                      contentId:
                        description: The content id of the package
                        type: string
                      contentProductId:
                        type: string
                        description: Unique ID for the content. It should be generated
                          based on the contentId, contentKind and the contentVersion
                          of the package
                      contentKind:
                        description: The package kind
                        enum:
                        - Solution
                        - Standalone
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: packageKind
                          values:
                          - value: Solution
                          - value: Standalone
                      contentSchemaVersion:
                        description: The version of the content schema.
                        type: string
                      isNew:
                        description: Flag indicates if this is a newly published package.
                        type: string
                        enum:
                        - 'true'
                        - 'false'
                        x-ms-enum:
                          modelAsString: true
                          name: flag
                          values:
                          - value: 'true'
                          - value: 'false'
                      isPreview:
                        description: Flag indicates if this package is in preview.
                        type: string
                        enum:
                        - 'true'
                        - 'false'
                        x-ms-enum:
                          modelAsString: true
                          name: flag
                          values:
                          - value: 'true'
                          - value: 'false'
                      isFeatured:
                        description: Flag indicates if this package is among the featured
                          list.
                        type: string
                        enum:
                        - 'true'
                        - 'false'
                        x-ms-enum:
                          modelAsString: true
                          name: flag
                          values:
                          - value: 'true'
                          - value: 'false'
                      isDeprecated:
                        description: Flag indicates if this template is deprecated
                        type: string
                        enum:
                        - 'true'
                        - 'false'
                        x-ms-enum:
                          modelAsString: true
                          name: flag
                          values:
                          - value: 'true'
                          - value: 'false'
                      version:
                        description: the latest version number of the package
                        type: string
                      displayName:
                        description: The display name of the package
                        type: string
                      description:
                        description: The description of the package
                        type: string
                      publisherDisplayName:
                        description: The publisher display name of the package
                        type: string
                      source:
                        description: The source of the package
                        type: object
                        required:
                        - kind
                        properties:
                          kind:
                            description: Source type of the content
                            type: string
                            enum:
                            - LocalWorkspace
                            - Community
                            - Solution
                            - SourceRepository
                            x-ms-enum:
                              modelAsString: true
                              name: sourceKind
                              values:
                              - value: LocalWorkspace
                              - value: Community
                              - value: Solution
                              - value: SourceRepository
                          name:
                            description: Name of the content source.  The repo name,
                              solution name, LA workspace name etc.
                            type: string
                          sourceId:
                            description: ID of the content source.  The solution ID,
                              workspace ID, etc
                            type: string
                      author:
                        description: The author of the package
                        type: object
                        properties:
                          name:
                            description: Name of the author. Company or person.
                            type: string
                          email:
                            description: Email of author contact
                            type: string
                          link:
                            description: Link for author/vendor page
                            type: string
                      support:
                        description: The support tier of the package
                        type: object
                        required:
                        - tier
                        properties:
                          tier:
                            description: Type of support for content item
                            type: string
                            enum:
                            - Microsoft
                            - Partner
                            - Community
                            x-ms-enum:
                              modelAsString: true
                              name: supportTier
                              values:
                              - value: Microsoft
                              - value: Partner
                              - value: Community
                          name:
                            description: Name of the support contact. Company or person.
                            type: string
                          email:
                            description: Email of support contact
                            type: string
                          link:
                            description: Link for support help, like to support page
                              to open a ticket etc.
                            type: string
                      dependencies:
                        description: The support tier of the package
                        type: object
                        properties:
                          contentId:
                            description: Id of the content item we depend on
                            type: string
                          kind:
                            description: Type of the content item we depend on
                            type: string
                            enum:
                            - DataConnector
                            - DataType
                            - Workbook
                            - WorkbookTemplate
                            - Playbook
                            - PlaybookTemplate
                            - AnalyticsRuleTemplate
                            - AnalyticsRule
                            - HuntingQuery
                            - InvestigationQuery
                            - Parser
                            - Watchlist
                            - WatchlistTemplate
                            - Solution
                            - AzureFunction
                            - LogicAppsCustomConnector
                            - AutomationRule
                            - ResourcesDataConnector
                            - Notebook
                            - Standalone
                            - SummaryRule
                            x-ms-enum:
                              modelAsString: true
                              name: kind
                              values:
                              - value: DataConnector
                              - value: DataType
                              - value: Workbook
                              - value: WorkbookTemplate
                              - value: Playbook
                              - value: PlaybookTemplate
                              - value: AnalyticsRuleTemplate
                              - value: AnalyticsRule
                              - value: HuntingQuery
                              - value: InvestigationQuery
                              - value: Parser
                              - value: Watchlist
                              - value: WatchlistTemplate
                              - value: Solution
                              - value: AzureFunction
                              - value: LogicAppsCustomConnector
                              - value: AutomationRule
                              - value: ResourcesDataConnector
                                description: The Codeless Connector Platform (CCP)
                                  Connectors
                              - value: Notebook
                                description: Jupyter Notebooks
                              - value: Standalone
                                description: one-off / standalone content contributed
                                  by community contributors
                              - value: SummaryRule
                                description: Summary rules perform batch processing
                                  directly in your Log Analytics workspace.
                          version:
                            description: Version of the the content item we depend
                              on.  Can be blank, * or missing to indicate any version
                              fulfills the dependency.  If version does not match
                              our defined numeric format then an exact match is required.
                            type: string
                          name:
                            description: Name of the content item
                            type: string
                          operator:
                            description: Operator used for list of dependencies in
                              criteria array.
                            type: string
                            enum:
                            - AND
                            - OR
                            x-ms-enum:
                              modelAsString: true
                              name: operator
                              values:
                              - value: AND
                              - value: OR
                          criteria:
                            description: This is the list of dependencies we must
                              fulfill, according to the AND/OR operator
                            type: array
                            items:
                              description: Dependencies for the content item, what
                                other content items it requires to work.  Can describe
                                more complex dependencies using a recursive/nested
                                structure. For a single dependency an id/kind/version
                                can be supplied or operator/criteria for complex formats.
                              type: object
                              properties:
                                contentId:
                                  description: Id of the content item we depend on
                                  type: string
                                kind:
                                  description: Type of the content item we depend
                                    on
                                  type: string
                                  enum:
                                  - DataConnector
                                  - DataType
                                  - Workbook
                                  - WorkbookTemplate
                                  - Playbook
                                  - PlaybookTemplate
                                  - AnalyticsRuleTemplate
                                  - AnalyticsRule
                                  - HuntingQuery
                                  - InvestigationQuery
                                  - Parser
                                  - Watchlist
                                  - WatchlistTemplate
                                  - Solution
                                  - AzureFunction
                                  - LogicAppsCustomConnector
                                  - AutomationRule
                                  - ResourcesDataConnector
                                  - Notebook
                                  - Standalone
                                  - SummaryRule
                                  x-ms-enum:
                                    modelAsString: true
                                    name: kind
                                    values:
                                    - value: DataConnector
                                    - value: DataType
                                    - value: Workbook
                                    - value: WorkbookTemplate
                                    - value: Playbook
                                    - value: PlaybookTemplate
                                    - value: AnalyticsRuleTemplate
                                    - value: AnalyticsRule
                                    - value: HuntingQuery
                                    - value: InvestigationQuery
                                    - value: Parser
                                    - value: Watchlist
                                    - value: WatchlistTemplate
                                    - value: Solution
                                    - value: AzureFunction
                                    - value: LogicAppsCustomConnector
                                    - value: AutomationRule
                                    - value: ResourcesDataConnector
                                      description: The Codeless Connector Platform
                                        (CCP) Connectors
                                    - value: Notebook
                                      description: Jupyter Notebooks
                                    - value: Standalone
                                      description: one-off / standalone content contributed
                                        by community contributors
                                    - value: SummaryRule
                                      description: Summary rules perform batch processing
                                        directly in your Log Analytics workspace.
                                version:
                                  description: Version of the the content item we
                                    depend on.  Can be blank, * or missing to indicate
                                    any version fulfills the dependency.  If version
                                    does not match our defined numeric format then
                                    an exact match is required.
                                  type: string
                                name:
                                  description: Name of the content item
                                  type: string
                                operator:
                                  description: Operator used for list of dependencies
                                    in criteria array.
                                  type: string
                                  enum:
                                  - AND
                                  - OR
                                  x-ms-enum:
                                    modelAsString: true
                                    name: operator
                                    values:
                                    - value: AND
                                    - value: OR
                                criteria:
                                  description: This is the list of dependencies we
                                    must fulfill, according to the AND/OR operator
                                  type: array
                                  items:
                                    description: Dependencies for the content item,
                                      what other content items it requires to work.  Can
                                      describe more complex dependencies using a recursive/nested
                                      structure. For a single dependency an id/kind/version
                                      can be supplied or operator/criteria for complex
                                      formats.
                                    type: object
                                    properties:
                                      contentId:
                                        description: Id of the content item we depend
                                          on
                                        type: string
                                      kind:
                                        description: Type of the content item we depend
                                          on
                                        type: string
                                        enum:
                                        - DataConnector
                                        - DataType
                                        - Workbook
                                        - WorkbookTemplate
                                        - Playbook
                                        - PlaybookTemplate
                                        - AnalyticsRuleTemplate
                                        - AnalyticsRule
                                        - HuntingQuery
                                        - InvestigationQuery
                                        - Parser
                                        - Watchlist
                                        - WatchlistTemplate
                                        - Solution
                                        - AzureFunction
                                        - LogicAppsCustomConnector
                                        - AutomationRule
                                        - ResourcesDataConnector
                                        - Notebook
                                        - Standalone
                                        - SummaryRule
                                        x-ms-enum:
                                          modelAsString: true
                                          name: kind
                                          values:
                                          - value: DataConnector
                                          - value: DataType
                                          - value: Workbook
                                          - value: WorkbookTemplate
                                          - value: Playbook
                                          - value: PlaybookTemplate
                                          - value: AnalyticsRuleTemplate
                                          - value: AnalyticsRule
                                          - value: HuntingQuery
                                          - value: InvestigationQuery
                                          - value: Parser
                                          - value: Watchlist
                                          - value: WatchlistTemplate
                                          - value: Solution
                                          - value: AzureFunction
                                          - value: LogicAppsCustomConnector
                                          - value: AutomationRule
                                          - value: ResourcesDataConnector
                                            description: The Codeless Connector Platform
                                              (CCP) Connectors
                                          - value: Notebook
                                            description: Jupyter Notebooks
                                          - value: Standalone
                                            description: one-off / standalone content
                                              contributed by community contributors
                                          - value: SummaryRule
                                            description: Summary rules perform batch
                                              processing directly in your Log Analytics
                                              workspace.
                                      version:
                                        description: Version of the the content item
                                          we depend on.  Can be blank, * or missing
                                          to indicate any version fulfills the dependency.  If
                                          version does not match our defined numeric
                                          format then an exact match is required.
                                        type: string
                                      name:
                                        description: Name of the content item
                                        type: string
                                      operator:
                                        description: Operator used for list of dependencies
                                          in criteria array.
                                        type: string
                                        enum:
                                        - AND
                                        - OR
                                        x-ms-enum:
                                          modelAsString: true
                                          name: operator
                                          values:
                                          - value: AND
                                          - value: OR
                                  x-ms-identifiers:
                                  - contentId
                            x-ms-identifiers:
                            - contentId
                      providers:
                        description: Providers for the package item
                        type: array
                        items:
                          type: string
                      firstPublishDate:
                        description: first publish date package item
                        type: string
                        format: date
                      lastPublishDate:
                        description: last publish date for the package item
                        type: string
                        format: date
                      categories:
                        description: The categories of the package
                        type: object
                        properties:
                          domains:
                            description: domain for the solution content item
                            type: array
                            items:
                              type: string
                          verticals:
                            description: Industry verticals for the solution content
                              item
                            type: array
                            items:
                              type: string
                      threatAnalysisTactics:
                        description: the tactics the resource covers
                        type: array
                        items:
                          type: string
                      threatAnalysisTechniques:
                        description: the techniques the resource covers, these have
                          to be aligned with the tactics being used
                        type: array
                        items:
                          type: string
                      icon:
                        description: the icon identifier. this id can later be fetched
                          from the content metadata
                        type: string
                      installedVersion:
                        description: The version of the installed package, null or
                          absent means not installed.
                        type: string
                      metadataResourceId:
                        description: The metadata resource id.
                        type: string
                        format: arm-id
                      packagedContent:
                        description: The json of the ARM template to deploy. Expandable.
                        type: object
                    description: The content id of the package
                    required:
                    - contentId
                    - contentKind
                    - version
                    - displayName
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
components:
  parameters:
    PackageIdParameter:
      description: package Id
      in: path
      name: packageId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    WorkspaceName:
      description: The name of the workspace.
      in: path
      name: workspaceName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
    ODataFilter:
      description: Filters the results, based on a Boolean condition. Optional.
      in: query
      name: $filter
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    ODataOrderBy:
      description: Sorts the results. Optional.
      in: query
      name: $orderby
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    ODataTop:
      description: Returns only the first n results. Optional.
      in: query
      name: $top
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    ODataSkipToken:
      description: Skiptoken is only used if a previous operation returned a partial
        result. If a previous response contains a nextLink element, the value of the
        nextLink element will include a skiptoken parameter that specifies a starting
        point to use for subsequent calls. Optional.
      in: query
      name: $skipToken
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    ODataSearch:
      description: Searches for a substring in the response. Optional.
      in: query
      name: $search
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    productPackageList:
      description: List available packages.
      properties:
        nextLink:
          description: URL to fetch the next set of packages.
          readOnly: true
          type: string
        value:
          description: Array of packages.
          items:
            type: object
            properties:
              id:
                type: string
                format: arm-id
                description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                readOnly: true
              name:
                type: string
                description: The name of the resource
                readOnly: true
              type:
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
                readOnly: true
              systemData:
                description: Azure Resource Manager metadata containing createdBy
                  and modifiedBy information.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              etag:
                description: Etag of the azure resource
                type: string
              properties:
                type: object
                properties:
                  contentId:
                    description: The content id of the package
                    type: string
                  contentProductId:
                    type: string
                    description: Unique ID for the content. It should be generated
                      based on the contentId, contentKind and the contentVersion of
                      the package
                  contentKind:
                    description: The package kind
                    enum:
                    - Solution
                    - Standalone
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: packageKind
                      values:
                      - value: Solution
                      - value: Standalone
                  contentSchemaVersion:
                    description: The version of the content schema.
                    type: string
                  isNew:
                    description: Flag indicates if this is a newly published package.
                    type: string
                    enum:
                    - 'true'
                    - 'false'
                    x-ms-enum:
                      modelAsString: true
                      name: flag
                      values:
                      - value: 'true'
                      - value: 'false'
                  isPreview:
                    description: Flag indicates if this package is in preview.
                    type: string
                    enum:
                    - 'true'
                    - 'false'
                    x-ms-enum:
                      modelAsString: true
                      name: flag
                      values:
                      - value: 'true'
                      - value: 'false'
                  isFeatured:
                    description: Flag indicates if this package is among the featured
                      list.
                    type: string
                    enum:
                    - 'true'
                    - 'false'
                    x-ms-enum:
                      modelAsString: true
                      name: flag
                      values:
                      - value: 'true'
                      - value: 'false'
                  isDeprecated:
                    description: Flag indicates if this template is deprecated
                    type: string
                    enum:
                    - 'true'
                    - 'false'
                    x-ms-enum:
                      modelAsString: true
                      name: flag
                      values:
                      - value: 'true'
                      - value: 'false'
                  version:
                    description: the latest version number of the package
                    type: string
                  displayName:
                    description: The display name of the package
                    type: string
                  description:
                    description: The description of the package
                    type: string
                  publisherDisplayName:
                    description: The publisher display name of the package
                    type: string
                  source:
                    description: The source of the package
                    type: object
                    required:
                    - kind
                    properties:
                      kind:
                        description: Source type of the content
                        type: string
                        enum:
                        - LocalWorkspace
                        - Community
                        - Solution
                        - SourceRepository
                        x-ms-enum:
                          modelAsString: true
                          name: sourceKind
                          values:
                          - value: LocalWorkspace
                          - value: Community
                          - value: Solution
                          - value: SourceRepository
                      name:
                        description: Name of the content source.  The repo name, solution
                          name, LA workspace name etc.
                        type: string
                      sourceId:
                        description: ID of the content source.  The solution ID, workspace
                          ID, etc
                        type: string
                  author:
                    description: The author of the package
                    type: object
                    properties:
                      name:
                        description: Name of the author. Company or person.
                        type: string
                      email:
                        description: Email of author contact
                        type: string
                      link:
                        description: Link for author/vendor page
                        type: string
                  support:
                    description: The support tier of the package
                    type: object
                    required:
                    - tier
                    properties:
                      tier:
                        description: Type of support for content item
                        type: string
                        enum:
                        - Microsoft
                        - Partner
                        - Community
                        x-ms-enum:
                          modelAsString: true
                          name: supportTier
                          values:
                          - value: Microsoft
                          - value: Partner
                          - value: Community
                      name:
                        description: Name of the support contact. Company or person.
                        type: string
                      email:
                        description: Email of support contact
                        type: string
                      link:
                        description: Link for support help, like to support page to
                          open a ticket etc.
                        type: string
                  dependencies:
                    description: The support tier of the package
                    type: object
                    properties:
                      contentId:
                        description: Id of the content item we depend on
                        type: string
                      kind:
                        description: Type of the content item we depend on
                        type: string
                        enum:
                        - DataConnector
                        - DataType
                        - Workbook
                        - WorkbookTemplate
                        - Playbook
                        - PlaybookTemplate
                        - AnalyticsRuleTemplate
                        - AnalyticsRule
                        - HuntingQuery
                        - InvestigationQuery
                        - Parser
                        - Watchlist
                        - WatchlistTemplate
                        - Solution
                        - AzureFunction
                        - LogicAppsCustomConnector
                        - AutomationRule
                        - ResourcesDataConnector
                        - Notebook
                        - Standalone
                        - SummaryRule
                        x-ms-enum:
                          modelAsString: true
                          name: kind
                          values:
                          - value: DataConnector
                          - value: DataType
                          - value: Workbook
                          - value: WorkbookTemplate
                          - value: Playbook
                          - value: PlaybookTemplate
                          - value: AnalyticsRuleTemplate
                          - value: AnalyticsRule
                          - value: HuntingQuery
                          - value: InvestigationQuery
                          - value: Parser
                          - value: Watchlist
                          - value: WatchlistTemplate
                          - value: Solution
                          - value: AzureFunction
                          - value: LogicAppsCustomConnector
                          - value: AutomationRule
                          - value: ResourcesDataConnector
                            description: The Codeless Connector Platform (CCP) Connectors
                          - value: Notebook
                            description: Jupyter Notebooks
                          - value: Standalone
                            description: one-off / standalone content contributed
                              by community contributors
                          - value: SummaryRule
                            description: Summary rules perform batch processing directly
                              in your Log Analytics workspace.
                      version:
                        description: Version of the the content item we depend on.  Can
                          be blank, * or missing to indicate any version fulfills
                          the dependency.  If version does not match our defined numeric
                          format then an exact match is required.
                        type: string
                      name:
                        description: Name of the content item
                        type: string
                      operator:
                        description: Operator used for list of dependencies in criteria
                          array.
                        type: string
                        enum:
                        - AND
                        - OR
                        x-ms-enum:
                          modelAsString: true
                          name: operator
                          values:
                          - value: AND
                          - value: OR
                      criteria:
                        description: This is the list of dependencies we must fulfill,
                          according to the AND/OR operator
                        type: array
                        items:
                          description: Dependencies for the content item, what other
                            content items it requires to work.  Can describe more
                            complex dependencies using a recursive/nested structure.
                            For a single dependency an id/kind/version can be supplied
                            or operator/criteria for complex formats.
                          type: object
                          properties:
                            contentId:
                              description: Id of the content item we depend on
                              type: string
                            kind:
                              description: Type of the content item we depend on
                              type: string
                              enum:
                              - DataConnector
                              - DataType
                              - Workbook
                              - WorkbookTemplate
                              - Playbook
                              - PlaybookTemplate
                              - AnalyticsRuleTemplate
                              - AnalyticsRule
                              - HuntingQuery
                              - InvestigationQuery
                              - Parser
                              - Watchlist
                              - WatchlistTemplate
                              - Solution
                              - AzureFunction
                              - LogicAppsCustomConnector
                              - AutomationRule
                              - ResourcesDataConnector
                              - Notebook
                              - Standalone
                              - SummaryRule
                              x-ms-enum:
                                modelAsString: true
                                name: kind
                                values:
                                - value: DataConnector
                                - value: DataType
                                - value: Workbook
                                - value: WorkbookTemplate
                                - value: Playbook
                                - value: PlaybookTemplate
                                - value: AnalyticsRuleTemplate
                                - value: AnalyticsRule
                                - value: HuntingQuery
                                - value: InvestigationQuery
                                - value: Parser
                                - value: Watchlist
                                - value: WatchlistTemplate
                                - value: Solution
                                - value: AzureFunction
                                - value: LogicAppsCustomConnector
                                - value: AutomationRule
                                - value: ResourcesDataConnector
                                  description: The Codeless Connector Platform (CCP)
                                    Connectors
                                - value: Notebook
                                  description: Jupyter Notebooks
                                - value: Standalone
                                  description: one-off / standalone content contributed
                                    by community contributors
                                - value: SummaryRule
                                  description: Summary rules perform batch processing
                                    directly in your Log Analytics workspace.
                            version:
                              description: Version of the the content item we depend
                                on.  Can be blank, * or missing to indicate any version
                                fulfills the dependency.  If version does not match
                                our defined numeric format then an exact match is
                                required.
                              type: string
                            name:
                              description: Name of the content item
                              type: string
                            operator:
                              description: Operator used for list of dependencies
                                in criteria array.
                              type: string
                              enum:
                              - AND
                              - OR
                              x-ms-enum:
                                modelAsString: true
                                name: operator
                                values:
                                - value: AND
                                - value: OR
                            criteria:
                              description: This is the list of dependencies we must
                                fulfill, according to the AND/OR operator
                              type: array
                              items:
                                description: Dependencies for the content item, what
                                  other content items it requires to work.  Can describe
                                  more complex dependencies using a recursive/nested
                                  structure. For a single dependency an id/kind/version
                                  can be supplied or operator/criteria for complex
                                  formats.
                                type: object
                                properties:
                                  contentId:
                                    description: Id of the content item we depend
                                      on
                                    type: string
                                  kind:
                                    description: Type of the content item we depend
                                      on
                                    type: string
                                    enum:
                                    - DataConnector
                                    - DataType
                                    - Workbook
                                    - WorkbookTemplate
                                    - Playbook
                                    - PlaybookTemplate
                                    - AnalyticsRuleTemplate
                                    - AnalyticsRule
                                    - HuntingQuery
                                    - InvestigationQuery
                                    - Parser
                                    - Watchlist
                                    - WatchlistTemplate
                                    - Solution
                                    - AzureFunction
                                    - LogicAppsCustomConnector
                                    - AutomationRule
                                    - ResourcesDataConnector
                                    - Notebook
                                    - Standalone
                                    - SummaryRule
                                    x-ms-enum:
                                      modelAsString: true
                                      name: kind
                                      values:
                                      - value: DataConnector
                                      - value: DataType
                                      - value: Workbook
                                      - value: WorkbookTemplate
                                      - value: Playbook
                                      - value: PlaybookTemplate
                                      - value: AnalyticsRuleTemplate
                                      - value: AnalyticsRule
                                      - value: HuntingQuery
                                      - value: InvestigationQuery
                                      - value: Parser
                                      - value: Watchlist
                                      - value: WatchlistTemplate
                                      - value: Solution
                                      - value: AzureFunction
                                      - value: LogicAppsCustomConnector
                                      - value: AutomationRule
                                      - value: ResourcesDataConnector
                                        description: The Codeless Connector Platform
                                          (CCP) Connectors
                                      - value: Notebook
                                        description: Jupyter Notebooks
                                      - value: Standalone
                                        description: one-off / standalone content
                                          contributed by community contributors
                                      - value: SummaryRule
                                        description: Summary rules perform batch processing
                                          directly in your Log Analytics workspace.
                                  version:
                                    description: Version of the the content item we
                                      depend on.  Can be blank, * or missing to indicate
                                      any version fulfills the dependency.  If version
                                      does not match our defined numeric format then
                                      an exact match is required.
                                    type: string
                                  name:
                                    description: Name of the content item
                                    type: string
                                  operator:
                                    description: Operator used for list of dependencies
                                      in criteria array.
                                    type: string
                                    enum:
                                    - AND
                                    - OR
                                    x-ms-enum:
                                      modelAsString: true
                                      name: operator
                                      values:
                                      - value: AND
                                      - value: OR
                              x-ms-identifiers:
                              - contentId
                        x-ms-identifiers:
                        - contentId
                  providers:
                    description: Providers for the package item
                    type: array
                    items:
                      type: string
                  firstPublishDate:
                    description: first publish date package item
                    type: string
                    format: date
                  lastPublishDate:
                    description: last publish date for the package item
                    type: string
                    format: date
                  categories:
                    description: The categories of the package
                    type: object
                    properties:
                      domains:
                        description: domain for the solution content item
                        type: array
                        items:
                          type: string
                      verticals:
                        description: Industry verticals for the solution content item
                        type: array
                        items:
                          type: string
                  threatAnalysisTactics:
                    description: the tactics the resource covers
                    type: array
                    items:
                      type: string
                  threatAnalysisTechniques:
                    description: the techniques the resource covers, these have to
                      be aligned with the tactics being used
                    type: array
                    items:
                      type: string
                  icon:
                    description: the icon identifier. this id can later be fetched
                      from the content metadata
                    type: string
                  installedVersion:
                    description: The version of the installed package, null or absent
                      means not installed.
                    type: string
                  metadataResourceId:
                    description: The metadata resource id.
                    type: string
                    format: arm-id
                  packagedContent:
                    description: The json of the ARM template to deploy. Expandable.
                    type: object
                description: The content id of the package
                required:
                - contentId
                - contentKind
                - version
                - displayName
                x-ms-client-flatten: true
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
          type: array
      required:
      - value
      type: object
    productPackageModel:
      type: object
      properties:
        id:
          type: string
          format: arm-id
[...]
