openapi: 3.0.0
info:
  title: Security Insights
  description: API spec for Microsoft.SecurityInsights (Azure Security Insights) resource
    provider
  version: 2025-06-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/dataConnectors
  : get:
      tags:
      - Data Connectors
      description: Gets all data connectors.
      operationId: DataConnectors_List
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      responses:
        '200':
          description: OK, Operation successfully completed
          content:
            application/json:
              schema:
                description: List all the data connectors.
                properties:
                  nextLink:
                    description: URL to fetch the next set of data connectors.
                    readOnly: true
                    type: string
                  value:
                    description: Array of data connectors.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        etag:
                          description: Etag of the azure resource
                          type: string
                        kind:
                          description: The data connector kind
                          enum:
                          - AzureActiveDirectory
                          - AzureSecurityCenter
                          - MicrosoftCloudAppSecurity
                          - ThreatIntelligence
                          - MicrosoftThreatIntelligence
                          - PremiumMicrosoftDefenderForThreatIntelligence
                          - Office365
                          - AmazonWebServicesCloudTrail
                          - AzureAdvancedThreatProtection
                          - MicrosoftDefenderAdvancedThreatProtection
                          - RestApiPoller
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: DataConnectorKind
                            values:
                            - value: AzureActiveDirectory
                            - value: AzureSecurityCenter
                            - value: MicrosoftCloudAppSecurity
                            - value: ThreatIntelligence
                            - value: MicrosoftThreatIntelligence
                            - value: PremiumMicrosoftDefenderForThreatIntelligence
                            - value: Office365
                            - value: AmazonWebServicesCloudTrail
                            - value: AzureAdvancedThreatProtection
                            - value: MicrosoftDefenderAdvancedThreatProtection
                            - value: RestApiPoller
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - kind
                      discriminator:
                        propertyName: kind
                    type: array
                type: object
                required:
                - value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/dataConnectors/{dataConnectorId}
  : get:
      tags:
      - Data Connectors
      description: Gets a data connector.
      operationId: DataConnectors_Get
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: Connector ID
        in: path
        name: dataConnectorId
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK, Operation successfully completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  kind:
                    description: The data connector kind
                    enum:
                    - AzureActiveDirectory
                    - AzureSecurityCenter
                    - MicrosoftCloudAppSecurity
                    - ThreatIntelligence
                    - MicrosoftThreatIntelligence
                    - PremiumMicrosoftDefenderForThreatIntelligence
                    - Office365
                    - AmazonWebServicesCloudTrail
                    - AzureAdvancedThreatProtection
                    - MicrosoftDefenderAdvancedThreatProtection
                    - RestApiPoller
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: DataConnectorKind
                      values:
                      - value: AzureActiveDirectory
                      - value: AzureSecurityCenter
                      - value: MicrosoftCloudAppSecurity
                      - value: ThreatIntelligence
                      - value: MicrosoftThreatIntelligence
                      - value: PremiumMicrosoftDefenderForThreatIntelligence
                      - value: Office365
                      - value: AmazonWebServicesCloudTrail
                      - value: AzureAdvancedThreatProtection
                      - value: MicrosoftDefenderAdvancedThreatProtection
                      - value: RestApiPoller
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - kind
                discriminator:
                  propertyName: kind
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
    put:
      x-ms-azure-resource: true
      tags:
      - Data Connectors
      description: Creates or updates the data connector.
      operationId: DataConnectors_CreateOrUpdate
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: Connector ID
        in: path
        name: dataConnectorId
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                etag:
                  description: Etag of the azure resource
                  type: string
                kind:
                  description: The data connector kind
                  enum:
                  - AzureActiveDirectory
                  - AzureSecurityCenter
                  - MicrosoftCloudAppSecurity
                  - ThreatIntelligence
                  - MicrosoftThreatIntelligence
                  - PremiumMicrosoftDefenderForThreatIntelligence
                  - Office365
                  - AmazonWebServicesCloudTrail
                  - AzureAdvancedThreatProtection
                  - MicrosoftDefenderAdvancedThreatProtection
                  - RestApiPoller
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: DataConnectorKind
                    values:
                    - value: AzureActiveDirectory
                    - value: AzureSecurityCenter
                    - value: MicrosoftCloudAppSecurity
                    - value: ThreatIntelligence
                    - value: MicrosoftThreatIntelligence
                    - value: PremiumMicrosoftDefenderForThreatIntelligence
                    - value: Office365
                    - value: AmazonWebServicesCloudTrail
                    - value: AzureAdvancedThreatProtection
                    - value: MicrosoftDefenderAdvancedThreatProtection
                    - value: RestApiPoller
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
              required:
              - kind
              discriminator:
                propertyName: kind
        description: The data connector
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK, Operation successfully completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  kind:
                    description: The data connector kind
                    enum:
                    - AzureActiveDirectory
                    - AzureSecurityCenter
                    - MicrosoftCloudAppSecurity
                    - ThreatIntelligence
                    - MicrosoftThreatIntelligence
                    - PremiumMicrosoftDefenderForThreatIntelligence
                    - Office365
                    - AmazonWebServicesCloudTrail
                    - AzureAdvancedThreatProtection
                    - MicrosoftDefenderAdvancedThreatProtection
                    - RestApiPoller
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: DataConnectorKind
                      values:
                      - value: AzureActiveDirectory
                      - value: AzureSecurityCenter
                      - value: MicrosoftCloudAppSecurity
                      - value: ThreatIntelligence
                      - value: MicrosoftThreatIntelligence
                      - value: PremiumMicrosoftDefenderForThreatIntelligence
                      - value: Office365
                      - value: AmazonWebServicesCloudTrail
                      - value: AzureAdvancedThreatProtection
                      - value: MicrosoftDefenderAdvancedThreatProtection
                      - value: RestApiPoller
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - kind
                discriminator:
                  propertyName: kind
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  kind:
                    description: The data connector kind
                    enum:
                    - AzureActiveDirectory
                    - AzureSecurityCenter
                    - MicrosoftCloudAppSecurity
                    - ThreatIntelligence
                    - MicrosoftThreatIntelligence
                    - PremiumMicrosoftDefenderForThreatIntelligence
                    - Office365
                    - AmazonWebServicesCloudTrail
                    - AzureAdvancedThreatProtection
                    - MicrosoftDefenderAdvancedThreatProtection
                    - RestApiPoller
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: DataConnectorKind
                      values:
                      - value: AzureActiveDirectory
                      - value: AzureSecurityCenter
                      - value: MicrosoftCloudAppSecurity
                      - value: ThreatIntelligence
                      - value: MicrosoftThreatIntelligence
                      - value: PremiumMicrosoftDefenderForThreatIntelligence
                      - value: Office365
                      - value: AmazonWebServicesCloudTrail
                      - value: AzureAdvancedThreatProtection
                      - value: MicrosoftDefenderAdvancedThreatProtection
                      - value: RestApiPoller
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - kind
                discriminator:
                  propertyName: kind
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
    delete:
      tags:
      - Data Connectors
      description: Delete the data connector.
      operationId: DataConnectors_Delete
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: Connector ID
        in: path
        name: dataConnectorId
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK, Operation successfully completed
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
components:
  parameters:
    DataConnectorId:
      description: Connector ID
      in: path
      name: dataConnectorId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    WorkspaceName:
      description: The name of the workspace.
      in: path
      name: workspaceName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    AADDataConnector:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        etag:
          description: Etag of the azure resource
          type: string
        kind:
          description: The data connector kind
          enum:
          - AzureActiveDirectory
          - AzureSecurityCenter
          - MicrosoftCloudAppSecurity
          - ThreatIntelligence
          - MicrosoftThreatIntelligence
          - PremiumMicrosoftDefenderForThreatIntelligence
          - Office365
          - AmazonWebServicesCloudTrail
          - AzureAdvancedThreatProtection
          - MicrosoftDefenderAdvancedThreatProtection
          - RestApiPoller
          type: string
          x-ms-enum:
            modelAsString: true
            name: DataConnectorKind
            values:
            - value: AzureActiveDirectory
            - value: AzureSecurityCenter
            - value: MicrosoftCloudAppSecurity
            - value: ThreatIntelligence
            - value: MicrosoftThreatIntelligence
            - value: PremiumMicrosoftDefenderForThreatIntelligence
            - value: Office365
            - value: AmazonWebServicesCloudTrail
            - value: AzureAdvancedThreatProtection
            - value: MicrosoftDefenderAdvancedThreatProtection
            - value: RestApiPoller
        properties:
          description: AAD (Azure Active Directory) data connector properties.
          x-ms-client-flatten: true
          properties:
            tenantId:
              description: The tenant id to connect to, and get the data from.
              type: string
            dataTypes:
              description: The available data types for the connector.
              properties:
                alerts:
                  description: Alerts data type connection.
                  type: object
                  properties:
                    state:
                      description: Describe whether this data type connection is enabled
                        or not.
                      enum:
                      - Enabled
                      - Disabled
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: DataTypeState
              type: object
          type: object
      required:
      - kind
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      discriminator:
        propertyName: kind
      x-ms-azure-resource: true
      x-ms-discriminator-value: AzureActiveDirectory
    AADDataConnectorProperties:
      description: AAD (Azure Active Directory) data connector properties.
      properties:
        tenantId:
          description: The tenant id to connect to, and get the data from.
          type: string
        dataTypes:
          description: The available data types for the connector.
          properties:
            alerts:
              description: Alerts data type connection.
              type: object
              properties:
                state:
                  description: Describe whether this data type connection is enabled
                    or not.
                  enum:
                  - Enabled
                  - Disabled
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: DataTypeState
          type: object
      type: object
    AATPDataConnector:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        etag:
          description: Etag of the azure resource
          type: string
        kind:
          description: The data connector kind
          enum:
          - AzureActiveDirectory
          - AzureSecurityCenter
          - MicrosoftCloudAppSecurity
          - ThreatIntelligence
          - MicrosoftThreatIntelligence
          - PremiumMicrosoftDefenderForThreatIntelligence
          - Office365
          - AmazonWebServicesCloudTrail
          - AzureAdvancedThreatProtection
          - MicrosoftDefenderAdvancedThreatProtection
          - RestApiPoller
          type: string
          x-ms-enum:
            modelAsString: true
            name: DataConnectorKind
            values:
            - value: AzureActiveDirectory
            - value: AzureSecurityCenter
            - value: MicrosoftCloudAppSecurity
            - value: ThreatIntelligence
            - value: MicrosoftThreatIntelligence
            - value: PremiumMicrosoftDefenderForThreatIntelligence
            - value: Office365
            - value: AmazonWebServicesCloudTrail
            - value: AzureAdvancedThreatProtection
            - value: MicrosoftDefenderAdvancedThreatProtection
            - value: RestApiPoller
        properties:
          description: AATP (Azure Advanced Threat Protection) data connector properties.
          x-ms-client-flatten: true
          properties:
            tenantId:
              description: The tenant id to connect to, and get the data from.
              type: string
            dataTypes:
              description: The available data types for the connector.
              properties:
                alerts:
                  description: Alerts data type connection.
                  type: object
                  properties:
                    state:
                      description: Describe whether this data type connection is enabled
                        or not.
                      enum:
                      - Enabled
                      - Disabled
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: DataTypeState
              type: object
          type: object
      required:
      - kind
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      discriminator:
        propertyName: kind
      x-ms-azure-resource: true
      x-ms-discriminator-value: AzureAdvancedThreatProtection
    AATPDataConnectorProperties:
      description: AATP (Azure Advanced Threat Protection) data connector properties.
      properties:
        tenantId:
          description: The tenant id to connect to, and get the data from.
          type: string
        dataTypes:
          description: The available data types for the connector.
          properties:
            alerts:
              description: Alerts data type connection.
              type: object
              properties:
                state:
                  description: Describe whether this data type connection is enabled
                    or not.
                  enum:
                  - Enabled
                  - Disabled
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: DataTypeState
          type: object
      type: object
    ASCDataConnector:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        etag:
          description: Etag of the azure resource
          type: string
        kind:
          description: The data connector kind
          enum:
          - AzureActiveDirectory
          - AzureSecurityCenter
          - MicrosoftCloudAppSecurity
          - ThreatIntelligence
          - MicrosoftThreatIntelligence
          - PremiumMicrosoftDefenderForThreatIntelligence
          - Office365
          - AmazonWebServicesCloudTrail
          - AzureAdvancedThreatProtection
          - MicrosoftDefenderAdvancedThreatProtection
          - RestApiPoller
          type: string
          x-ms-enum:
            modelAsString: true
            name: DataConnectorKind
            values:
            - value: AzureActiveDirectory
            - value: AzureSecurityCenter
            - value: MicrosoftCloudAppSecurity
            - value: ThreatIntelligence
            - value: MicrosoftThreatIntelligence
            - value: PremiumMicrosoftDefenderForThreatIntelligence
            - value: Office365
            - value: AmazonWebServicesCloudTrail
            - value: AzureAdvancedThreatProtection
            - value: MicrosoftDefenderAdvancedThreatProtection
            - value: RestApiPoller
        properties:
          type: object
          properties:
            dataTypes:
              description: The available data types for the connector.
              properties:
                alerts:
                  description: Alerts data type connection.
                  type: object
                  properties:
                    state:
                      description: Describe whether this data type connection is enabled
                        or not.
                      enum:
                      - Enabled
                      - Disabled
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: DataTypeState
              type: object
            subscriptionId:
              description: The subscription id to connect to, and get the data from.
              type: string
          description: Data connector properties.
          x-ms-client-flatten: true
      required:
      - kind
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      discriminator:
        propertyName: kind
      x-ms-azure-resource: true
      x-ms-discriminator-value: AzureSecurityCenter
    ASCDataConnectorProperties:
      type: object
      properties:
        dataTypes:
          description: The available data types for the connector.
          properties:
            alerts:
              description: Alerts data type connection.
              type: object
              properties:
                state:
                  description: Describe whether this data type connection is enabled
                    or not.
                  enum:
                  - Enabled
                  - Disabled
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: DataTypeState
          type: object
        subscriptionId:
          description: The subscription id to connect to, and get the data from.
          type: string
      description: Data connector properties.
    AlertsDataTypeOfDataConnector:
      description: Alerts data type for data connectors.
      properties:
        alerts:
          description: Alerts data type connection.
          type: object
          properties:
            state:
              description: Describe whether this data type connection is enabled or
                not.
              enum:
              - Enabled
              - Disabled
              type: string
              x-ms-enum:
                modelAsString: true
                name: DataTypeState
      type: object
    AwsCloudTrailDataConnector:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        etag:
          description: Etag of the azure resource
          type: string
        kind:
          description: The data connector kind
          enum:
          - AzureActiveDirectory
          - AzureSecurityCenter
          - MicrosoftCloudAppSecurity
          - ThreatIntelligence
          - MicrosoftThreatIntelligence
          - PremiumMicrosoftDefenderForThreatIntelligence
          - Office365
          - AmazonWebServicesCloudTrail
          - AzureAdvancedThreatProtection
          - MicrosoftDefenderAdvancedThreatProtection
          - RestApiPoller
          type: string
          x-ms-enum:
            modelAsString: true
            name: DataConnectorKind
            values:
            - value: AzureActiveDirectory
            - value: AzureSecurityCenter
            - value: MicrosoftCloudAppSecurity
            - value: ThreatIntelligence
            - value: MicrosoftThreatIntelligence
            - value: PremiumMicrosoftDefenderForThreatIntelligence
            - value: Office365
            - value: AmazonWebServicesCloudTrail
            - value: AzureAdvancedThreatProtection
            - value: MicrosoftDefenderAdvancedThreatProtection
            - value: RestApiPoller
        properties:
          description: Amazon Web Services CloudTrail data connector properties.
          x-ms-client-flatten: true
          properties:
            awsRoleArn:
              description: The Aws Role Arn (with CloudTrailReadOnly policy) that
                is used to access the Aws account.
              type: string
            dataTypes:
              description: The available data types for the connector.
              properties:
                logs:
                  type: object
                  properties:
                    state:
                      description: Describe whether this data type connection is enabled
                        or not.
                      enum:
                      - Enabled
                      - Disabled
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: DataTypeState
                  description: Common field for data type in data connectors.
              type: object
          type: object
      required:
      - kind
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      discriminator:
        propertyName: kind
      x-ms-azure-resource: true
      x-ms-discriminator-value: AmazonWebServicesCloudTrail
    AwsCloudTrailDataConnectorDataTypes:
      description: The available data types for Amazon Web Services CloudTrail data
        connector.
      properties:
        logs:
          type: object
          properties:
            state:
              description: Describe whether this data type connection is enabled or
                not.
              enum:
              - Enabled
              - Disabled
              type: string
              x-ms-enum:
                modelAsString: true
                name: DataTypeState
          description: Common field for data type in data connectors.
      type: object
    AwsCloudTrailDataConnectorProperties:
      description: Amazon Web Services CloudTrail data connector properties.
      properties:
        awsRoleArn:
          description: The Aws Role Arn (with CloudTrailReadOnly policy) that is used
            to access the Aws account.
          type: string
        dataTypes:
          description: The available data types for the connector.
          properties:
            logs:
              type: object
              properties:
                state:
                  description: Describe whether this data type connection is enabled
                    or not.
                  enum:
                  - Enabled
                  - Disabled
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: DataTypeState
              description: Common field for data type in data connectors.
          type: object
      type: object
    RestApiPollerDataConnector:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        etag:
          description: Etag of the azure resource
          type: string
        kind:
          description: The data connector kind
          enum:
          - AzureActiveDirectory
          - AzureSecurityCenter
          - MicrosoftCloudAppSecurity
          - ThreatIntelligence
          - MicrosoftThreatIntelligence
          - PremiumMicrosoftDefenderForThreatIntelligence
          - Office365
          - AmazonWebServicesCloudTrail
          - AzureAdvancedThreatProtection
          - MicrosoftDefenderAdvancedThreatProtection
          - RestApiPoller
          type: string
          x-ms-enum:
            modelAsString: true
            name: DataConnectorKind
            values:
            - value: AzureActiveDirectory
            - value: AzureSecurityCenter
            - value: MicrosoftCloudAppSecurity
            - value: ThreatIntelligence
            - value: MicrosoftThreatIntelligence
            - value: PremiumMicrosoftDefenderForThreatIntelligence
            - value: Office365
            - value: AmazonWebServicesCloudTrail
            - value: AzureAdvancedThreatProtection
            - value: MicrosoftDefenderAdvancedThreatProtection
            - value: RestApiPoller
        properties:
          description: Rest Api Poller data connector properties.
          x-ms-client-flatten: true
          properties:
            connectorDefinitionName:
              description: The connector definition name (the dataConnectorDefinition
                resource id).
              type: string
            auth:
              description: The a authentication model.
              properties:
                type:
                  description: The auth type
                  type: string
                  enum:
                  - Basic
                  - APIKey
                  - OAuth2
                  - AWS
                  - GCP
                  - Session
                  - JwtToken
                  - GitHub
                  - ServiceBus
                  - Oracle
                  - None
                  x-ms-enum:
                    modelAsString: true
                    name: CcpAuthType
                    values:
                    - value: Basic
                    - value: APIKey
                    - value: OAuth2
                    - value: AWS
                    - value: GCP
                    - value: Session
                    - value: JwtToken
                    - value: GitHub
                    - value: ServiceBus
                    - value: Oracle
                    - value: None
              type: object
              required:
              - type
              discriminator:
                propertyName: type
            request:
              description: The request configuration.
              type: object
              properties:
                apiEndpoint:
                  description: The API endpoint.
                  type: string
                rateLimitQPS:
                  description: The Rate limit queries per second for the request..
                  type: integer
                  format: int32
                  nullable: true
                queryWindowInMin:
                  description: The query window in minutes for the request.
                  type: integer
                  format: int32
                  nullable: true
                httpMethod:
                  description: The HTTP method, default value GET.
                  enum:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: httpMethodVerb
                queryTimeFormat:
                  description: The query time format. A remote server can have a query
                    to pull data from range 'start' to 'end'. This property indicate
                    what is the expected time format the remote server know to parse.
                  type: string
                retryCount:
                  description: The retry count.
                  type: integer
                  format: int32
                  nullable: true
                timeoutInSeconds:
                  description: The timeout in seconds.
                  type: integer
                  format: int32
                  nullable: true
                isPostPayloadJson:
                  description: Flag to indicate if HTTP POST payload is in JSON format
                    (vs form-urlencoded).
                  type: boolean
                  nullable: true
                headers:
                  description: The header for the request for the remote server.
                  type: object
                  additionalProperties:
                    type: string
                queryParameters:
                  description: The HTTP query parameters to RESTful API.
                  type: object
                  additionalProperties: {}
                queryParametersTemplate:
                  description: the query parameters template. Defines the query parameters
                    template to use when passing query parameters in advanced scenarios.
                  type: string
                startTimeAttributeName:
                  description: The query parameter name which the remote server expect
                    to start query. This property goes hand to hand with `endTimeAttributeName`.
                  type: string
                endTimeAttributeName:
                  description: The query parameter name which the remote server expect
                    to end query. This property goes hand to hand with `startTimeAttributeName`
                  type: string
                queryTimeIntervalAttributeName:
                  description: The query parameter name which we need to send the
                    server for query logs in time interval. Should be defined with
                    `queryTimeIntervalPrepend` and `queryTimeIntervalDelimiter`
                  type: string
                queryTimeIntervalPrepend:
                  description: The string prepend to the value of the query parameter
                    in `queryTimeIntervalAttributeName`.
                  type: string
                queryTimeIntervalDelimiter:
                  description: The delimiter string between 2 QueryTimeFormat in the
                    query parameter `queryTimeIntervalAttributeName`.
                  type: string
              required:
              - apiEndpoint
            dcrConfig:
              description: The DCR related properties.
              properties:
                dataCollectionEndpoint:
                  description: Represents the data collection ingestion endpoint in
                    log analytics.
                  type: string
                dataCollectionRuleImmutableId:
                  description: The data collection rule immutable id, the rule defines
                    the transformation and data destination.
                  type: string
                streamName:
                  description: The stream we are sending the data to.
                  type: string
              type: object
              required:
              - dataCollectionEndpoint
              - dataCollectionRuleImmutableId
              - streamName
            isActive:
              description: Indicates whether the connector is active or not.
              type: boolean
            dataType:
              description: The Log Analytics table destination.
              type: string
            response:
              description: The response configuration.
              properties:
                eventsJsonPaths:
                  description: The json paths, '$' char is the json root.
                  type: array
                  items:
                    type: string
                successStatusJsonPath:
                  description: The value where the status message/code should appear
                    in the response.
                  type: string
                successStatusValue:
                  description: The status value.
                  type: string
                  nullable: true
                isGzipCompressed:
                  description: The value indicating whether the remote server support
                    Gzip and we should expect Gzip response.
                  type: boolean
                compressionAlgo:
                  description: 'The compression algorithm. For Example: ''gzip'',
                    ''multi-gzip'', ''deflate''.'
                  type: string
                  default: gzip
                format:
                  description: The response format. possible values are json,csv,xml
                  type: string
                  default: json
                csvDelimiter:
                  description: The csv delimiter, in case the response format is CSV.
                  type: string
                hasCsvBoundary:
                  description: The value indicating whether the response has CSV boundary
                    in case the response in CSV format.
                  type: boolean
                  nullable: true
                hasCsvHeader:
                  description: The value indicating whether the response has headers
                    in case the response in CSV format.
                  type: boolean
                  nullable: true
                convertChildPropertiesToArray:
                  description: The value indicating whether the response isn't an
                    array of events / logs.  By setting this flag to true it means
                    the remote server will response with an object which each property
                    has as a value an array of events / logs.
                  type: boolean
                  nullable: true
                csvEscape:
                  description: The character used to escape characters in CSV.
                  type: string
                  default: '"'
                  minLength: 1
                  maxLength: 1
                  nullable: true
              type: object
              required:
              - eventsJsonPaths
            paging:
              description: The paging configuration.
              type: object
              properties:
                pagingType:
                  type: string
                  description: Type of paging
                  enum:
                  - LinkHeader
                  - NextPageToken
                  - NextPageUrl
                  - PersistentToken
                  - PersistentLinkHeader
                  - Offset
                  - CountBasedPaging
                  x-ms-enum:
                    modelAsString: true
                    name: RestApiPollerRequestPagingKind
                    values:
                    - value: LinkHeader
                    - value: NextPageToken
                    - value: NextPageUrl
                    - value: PersistentToken
                    - value: PersistentLinkHeader
                    - value: Offset
                    - value: CountBasedPaging
                pageSize:
                  type: integer
                  description: Page size
                  format: int32
                pageSizeParameterName:
                  type: string
                  description: Page size parameter name
              x-ms-discriminator:
                propertyName: pagingType
                mapping:
                  LinkHeader: '#/components/schemas/RestApiPollerRequestPagingLinkHeaderConfig'
                  NextPageToken: '#/components/schemas/RestApiPollerRequestPagingTokenConfig'
                  NextPageUrl: '#/components/schemas/RestApiPollerRequestPagingNextPageUrlConfig'
                  PersistentToken: '#/components/schemas/RestApiPollerRequestPagingTokenConfig'
                  PersistentLinkHeader: '#/components/schemas/RestApiPollerRequestPagingLinkHeaderConfig'
                  Offset: '#/components/schemas/RestApiPollerRequestPagingOffsetConfig'
                  CountBasedPaging: '#/components/schemas/RestApiPollerRequestPagingCountBaseConfig'
              required:
              - pagingType
            addOnAttributes:
              description: The add on attributes. The key name will become attribute
                name (a column) and the value will become the attribute value in the
                payload.
              type: object
              additionalProperties:
                type: string
          type: object
          required:
          - connectorDefinitionName
          - auth
          - request
      required:
      - kind
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      discriminator:
        propertyName: kind
      x-ms-azure-resource: true
      x-ms-discriminator-value: RestApiPoller
    RestApiPollerDataConnectorProperties:
      description: Rest Api Poller data connector properties.
      properties:
        connectorDefinitionName:
          description: The connector definition name (the dataConnectorDefinition
            resource id).
          type: string
        auth:
          description: The a authentication model.
          properties:
            type:
              description: The auth type
              type: string
              enum:
              - Basic
              - APIKey
              - OAuth2
              - AWS
              - GCP
              - Session
              - JwtToken
              - GitHub
              - ServiceBus
              - Oracle
              - None
              x-ms-enum:
                modelAsString: true
                name: CcpAuthType
                values:
                - value: Basic
                - value: APIKey
                - value: OAuth2
                - value: AWS
                - value: GCP
                - value: Session
                - value: JwtToken
                - value: GitHub
                - value: ServiceBus
                - value: Oracle
                - value: None
          type: object
          required:
          - type
          discriminator:
            propertyName: type
        request:
          description: The request configuration.
          type: object
          properties:
            apiEndpoint:
              description: The API endpoint.
              type: string
            rateLimitQPS:
              description: The Rate limit queries per second for the request..
              type: integer
              format: int32
              nullable: true
            queryWindowInMin:
              description: The query window in minutes for the request.
              type: integer
              format: int32
              nullable: true
            httpMethod:
              description: The HTTP method, default value GET.
              enum:
              - GET
              - POST
              - PUT
              - DELETE
              type: string
              x-ms-enum:
                modelAsString: true
                name: httpMethodVerb
            queryTimeFormat:
              description: The query time format. A remote server can have a query
                to pull data from range 'start' to 'end'. This property indicate what
                is the expected time format the remote server know to parse.
              type: string
            retryCount:
              description: The retry count.
              type: integer
              format: int32
              nullable: true
            timeoutInSeconds:
              description: The timeout in seconds.
              type: integer
              format: int32
              nullable: true
            isPostPayloadJson:
              description: Flag to indicate if HTTP POST payload is in JSON format
                (vs form-urlencoded).
              type: boolean
              nullable: true
            headers:
              description: The header for the request for the remote server.
              type: object
              additionalProperties:
                type: string
            queryParameters:
              description: The HTTP query parameters to RESTful API.
              type: object
              additionalProperties: {}
            queryParametersTemplate:
              description: the query parameters template. Defines the query parameters
                template to use when passing query parameters in advanced scenarios.
              type: string
            startTimeAttributeName:
              description: The query parameter name which the remote server expect
                to start query. This property goes hand to hand with `endTimeAttributeName`.
              type: string
            endTimeAttributeName:
              description: The query parameter name which the remote server expect
                to end query. This property goes hand to hand with `startTimeAttributeName`
              type: string
            queryTimeIntervalAttributeName:
              description: The query parameter name which we need to send the server
                for query logs in time interval. Should be defined with `queryTimeIntervalPrepend`
                and `queryTimeIntervalDelimiter`
              type: string
            queryTimeIntervalPrepend:
              description: The string prepend to the value of the query parameter
                in `queryTimeIntervalAttributeName`.
              type: string
            queryTimeIntervalDelimiter:
              description: The delimiter string between 2 QueryTimeFormat in the query
                parameter `queryTimeIntervalAttributeName`.
              type: string
          required:
          - apiEndpoint
        dcrConfig:
          description: The DCR related properties.
          properties:
            dataCollectionEndpoint:
              description: Represents the data collection ingestion endpoint in log
                analytics.
              type: string
            dataCollectionRuleImmutableId:
              description: The data collection rule immutable id, the rule defines
                the transformation and data destination.
              type: string
            streamName:
              description: The stream we are sending the data to.
              type: string
          type: object
          required:
          - dataCollectionEndpoint
          - dataCollectionRuleImmutableId
          - streamName
        isActive:
          description: Indicates whether the connector is active or not.
          type: boolean
        dataType:
          description: The Log Analytics table destination.
          type: string
        response:
          description: The response configuration.
          properties:
            eventsJsonPaths:
              description: The json paths, '$' char is the json root.
              type: array
              items:
                type: string
            successStatusJsonPath:
              description: The value where the status message/code should appear in
                the response.
              type: string
            successStatusValue:
              description: The status value.
              type: string
              nullable: true
            isGzipCompressed:
              description: The value indicating whether the remote server support
                Gzip and we should expect Gzip response.
              type: boolean
            compressionAlgo:
              description: 'The compression algorithm. For Example: ''gzip'', ''multi-gzip'',
                ''deflate''.'
              type: string
              default: gzip
            format:
              description: The response format. possible values are json,csv,xml
              type: string
              default: json
            csvDelimiter:
              description: The csv delimiter, in case the response format is CSV.
              type: string
            hasCsvBoundary:
              description: The value indicating whether the response has CSV boundary
                in case the response in CSV format.
              type: boolean
              nullable: true
            hasCsvHeader:
              description: The value indicating whether the response has headers in
                case the response in CSV format.
              type: boolean
              nullable: true
            convertChildPropertiesToArray:
              description: The value indicating whether the response isn't an array
                of events / logs.  By setting this flag to true it means the remote
                server will response with an object which each property has as a value
                an array of events / logs.
              type: boolean
              nullable: true
            csvEscape:
              description: The character used to escape characters in CSV.
              type: string
              default: '"'
              minLength: 1
              maxLength: 1
              nullable: true
          type: object
          required:
          - eventsJsonPaths
        paging:
          description: The paging configuration.
          type: object
          properties:
            pagingType:
              type: string
              description: Type of paging
              enum:
              - LinkHeader
              - NextPageToken
              - NextPageUrl
              - PersistentToken
              - PersistentLinkHeader
              - Offset
              - CountBasedPaging
              x-ms-enum:
                modelAsString: true
                name: RestApiPollerRequestPagingKind
                values:
                - value: LinkHeader
                - value: NextPageToken
                - value: NextPageUrl
                - value: PersistentToken
                - value: PersistentLinkHeader
                - value: Offset
                - value: CountBasedPaging
            pageSize:
              type: integer
              description: Page size
              format: int32
            pageSizeParameterName:
              type: string
              description: Page size parameter name
          x-ms-discriminator:
            propertyName: pagingType
            mapping:
              LinkHeader: '#/components/schemas/RestApiPollerRequestPagingLinkHeaderConfig'
              NextPageToken: '#/components/schemas/RestApiPollerRequestPagingTokenConfig'
              NextPageUrl: '#/components/schemas/RestApiPollerRequestPagingNextPageUrlConfig'
              PersistentToken: '#/components/schemas/RestApiPollerRequestPagingTokenConfig'
              PersistentLinkHeader: '#/components/schemas/RestApiPollerRequestPagingLinkHeaderConfig'
              Offset: '#/components/schemas/RestApiPollerRequestPagingOffsetConfig'
              CountBasedPaging: '#/components/schemas/RestApiPollerRequestPagingCountBaseConfig'
          required:
          - pagingType
        addOnAttributes:
          description: The add on attributes. The key name will become attribute name
            (a column) and the value will become the attribute value in the payload.
          type: object
          additionalProperties:
            type: string
      type: object
      required:
      - connectorDefinitionName
      - auth
      - request
    RestApiPollerRequestConfig:
      type: object
      description: The request configuration.
      properties:
        apiEndpoint:
          description: The API endpoint.
          type: string
        rateLimitQPS:
          description: The Rate limit queries per second for the request..
          type: integer
          format: int32
          nullable: true
        queryWindowInMin:
          description: The query window in minutes for the request.
          type: integer
          format: int32
          nullable: true
        httpMethod:
          description: The HTTP method, default value GET.
          enum:
          - GET
          - POST
          - PUT
          - DELETE
          type: string
          x-ms-enum:
            modelAsString: true
            name: httpMethodVerb
        queryTimeFormat:
          description: The query time format. A remote server can have a query to
            pull data from range 'start' to 'end'. This property indicate what is
            the expected time format the remote server know to parse.
          type: string
        retryCount:
          description: The retry count.
          type: integer
          format: int32
          nullable: true
        timeoutInSeconds:
          description: The timeout in seconds.
          type: integer
          format: int32
          nullable: true
        isPostPayloadJson:
          description: Flag to indicate if HTTP POST payload is in JSON format (vs
            form-urlencoded).
          type: boolean
          nullable: true
        headers:
          description: The header for the request for the remote server.
          type: object
          additionalProperties:
            type: string
        queryParameters:
          description: The HTTP query parameters to RESTful API.
          type: object
          additionalProperties: {}
        queryParametersTemplate:
          description: the query parameters template. Defines the query parameters
            template to use when passing query parameters in advanced scenarios.
          type: string
        startTimeAttributeName:
          description: The query parameter name which the remote server expect to
            start query. This property goes hand to hand with `endTimeAttributeName`.
          type: string
        endTimeAttributeName:
          description: The query parameter name which the remote server expect to
            end query. This property goes hand to hand with `startTimeAttributeName`
          type: string
        queryTimeIntervalAttributeName:
          description: The query parameter name which we need to send the server for
            query logs in time interval. Should be defined with `queryTimeIntervalPrepend`
            and `queryTimeIntervalDelimiter`
          type: string
        queryTimeIntervalPrepend:
          description: The string prepend to the value of the query parameter in `queryTimeIntervalAttributeName`.
          type: string
        queryTimeIntervalDelimiter:
          description: The delimiter string between 2 QueryTimeFormat in the query
            parameter `queryTimeIntervalAttributeName`.
          type: string
      required:
      - apiEndpoint
    RestApiPollerRequestPagingKind:
      type: string
      enum:
      - LinkHeader
      - NextPageToken
      - NextPageUrl
      - PersistentToken
      - PersistentLinkHeader
      - Offset
      - CountBasedPaging
      description: Type of paging
      x-ms-enum:
        modelAsString: true
        name: RestApiPollerRequestPagingKind
        values:
        - value: LinkHeader
        - value: NextPageToken
        - value: NextPageUrl
        - value: PersistentToken
        - value: PersistentLinkHeader
        - value: Offset
        - value: CountBasedPaging
    RestApiPollerRequestPagingConfig:
      description: The request paging configuration.
      type: object
      properties:
        pagingType:
          type: string
          description: Type of paging
          enum:
          - LinkHeader
          - NextPageToken
          - NextPageUrl
          - PersistentToken
          - PersistentLinkHeader
          - Offset
          - CountBasedPaging
          x-ms-enum:
            modelAsString: true
            name: RestApiPollerRequestPagingKind
            values:
            - value: LinkHeader
            - value: NextPageToken
            - value: NextPageUrl
            - value: PersistentToken
            - value: PersistentLinkHeader
            - value: Offset
            - value: CountBasedPaging
        pageSize:
          type: integer
          description: Page size
          format: int32
        pageSizeParameterName:
          type: string
          description: Page size parameter name
      x-ms-discriminator:
        propertyName: pagingType
        mapping:
          LinkHeader: '#/components/schemas/RestApiPollerRequestPagingLinkHeaderConfig'
          NextPageToken: '#/components/schemas/RestApiPollerRequestPagingTokenConfig'
          NextPageUrl: '#/components/schemas/RestApiPollerRequestPagingNextPageUrlConfig'
          PersistentToken: '#/components/schemas/RestApiPollerRequestPagingTokenConfig'
          PersistentLinkHeader: '#/components/schemas/RestApiPollerRequestPagingLinkHeaderConfig'
          Offset: '#/components/schemas/RestApiPollerRequestPagingOffsetConfig'
          CountBasedPaging: '#/components/schemas/RestApiPollerRequestPagingCountBaseConfig'
      required:
      - pagingType
    RestApiPollerRequestPagingLinkHeaderConfig:
      type: object
      properties:
        pagingType:
          type: string
          description: Type of paging
          enum:
          - LinkHeader
          - NextPageToken
          - NextPageUrl
          - PersistentToken
          - PersistentLinkHeader
          - Offset
          - CountBasedPaging
          x-ms-enum:
            modelAsString: true
            name: RestApiPollerRequestPagingKind
            values:
            - value: LinkHeader
            - value: NextPageToken
            - value: NextPageUrl
            - value: PersistentToken
            - value: PersistentLinkHeader
            - value: Offset
            - value: CountBasedPaging
        pageSize:
          type: integer
          description: Page size
          format: int32
        pageSizeParameterName:
          type: string
          description: Page size parameter name
        linkHeaderTokenJsonPath:
          type: string
          description: JSON path of link header token in HTTP response payload
        linkHeaderRelLinkName:
          type: string
          description: Rel link name from the link header
      required:
      - pagingType
      description: The request paging configuration.
      x-ms-discriminator:
        propertyName: pagingType
        mapping:
          LinkHeader: '#/components/schemas/RestApiPollerRequestPagingLinkHeaderConfig'
          NextPageToken: '#/components/schemas/RestApiPollerRequestPagingTokenConfig'
          NextPageUrl: '#/components/schemas/RestApiPollerRequestPagingNextPageUrlConfig'
          PersistentToken: '#/components/schemas/RestApiPollerRequestPagingTokenConfig'
          PersistentLinkHeader: '#/components/schemas/RestApiPollerRequestPagingLinkHeaderConfig'
          Offset: '#/components/schemas/RestApiPollerRequestPagingOffsetConfig'
          CountBasedPaging: '#/components/schemas/RestApiPollerRequestPagingCountBaseConfig'
    RestApiPollerRequestPagingTokenConfig:
      type: object
      properties:
        pagingType:
          type: string
          description: Type of paging
          enum:
          - LinkHeader
          - NextPageToken
          - NextPageUrl
          - PersistentToken
          - PersistentLinkHeader
          - Offset
          - CountBasedPaging
          x-ms-enum:
            modelAsString: true
            name: RestApiPollerRequestPagingKind
            values:
            - value: LinkHeader
            - value: NextPageToken
            - value: NextPageUrl
            - value: PersistentToken
            - value: PersistentLinkHeader
            - value: Offset
            - value: CountBasedPaging
        pageSize:
          type: integer
          description: Page size
          format: int32
        pageSizeParameterName:
          type: string
          description: Page size parameter name
        nextPageTokenJsonPath:
          type: string
          description: JSON path of next page token in HTTP response payload
        hasNextFlagJsonPath:
          type: string
          description: JSON path of flag in HTTP response payload to indicate more
            pages
        nextPageTokenResponseHeader:
          type: string
          description: HTTP response header name of next page token
        nextPageParaName:
          type: string
          description: Next page parameter name in HTTP request
        nextPageRequestHeader:
          type: string
          description: Next page header name in the request
      required:
      - pagingType
      description: The request paging configuration.
      x-ms-discriminator:
        propertyName: pagingType
        mapping:
          LinkHeader: '#/components/schemas/RestApiPollerRequestPagingLinkHeaderConfig'
          NextPageToken: '#/components/schemas/RestApiPollerRequestPagingTokenConfig'
          NextPageUrl: '#/components/schemas/RestApiPollerRequestPagingNextPageUrlConfig'
          PersistentToken: '#/components/schemas/RestApiPollerRequestPagingTokenConfig'
          PersistentLinkHeader: '#/components/schemas/RestApiPollerRequestPagingLinkHeaderConfig'
          Offset: '#/components/schemas/RestApiPollerRequestPagingOffsetConfig'
          CountBasedPaging: '#/components/schemas/RestApiPollerRequestPagingCountBaseConfig'
    RestApiPollerRequestPagingNextPageUrlConfig:
      type: object
      properties:
        pagingType:
          type: string
          description: Type of paging
          enum:
          - LinkHeader
          - NextPageToken
          - NextPageUrl
          - PersistentToken
          - PersistentLinkHeader
          - Offset
          - CountBasedPaging
          x-ms-enum:
            modelAsString: true
            name: RestApiPollerRequestPagingKind
            values:
            - value: LinkHeader
            - value: NextPageToken
            - value: NextPageUrl
            - value: PersistentToken
            - value: PersistentLinkHeader
            - value: Offset
            - value: CountBasedPaging
        pageSize:
          type: integer
          description: Page size
          format: int32
        pageSizeParameterName:
          type: string
          description: Page size parameter name
        nextPageUrl:
          type: string
          description: Next page URL
        nextPageUrlQueryParameters:
          type: object
          additionalProperties:
            type: string
          description: Query parameters of next page URL
        nextPageUrlQueryParametersTemplate:
          type: string
          description: Paging query parameters in string template format
        nextPageParaName:
          type: string
          description: Next page parameter name in HTTP request
        nextPageRequestHeader:
          type: string
          description: Next page header name in the request
        hasNextFlagJsonPath:
          type: string
          description: JSON path of flag in HTTP response payload to indicate more
            pages
      required:
      - pagingType
      description: The request paging configuration.
      x-ms-discriminator:
        propertyName: pagingType
        mapping:
          LinkHeader: '#/components/schemas/RestApiPollerRequestPagingLinkHeaderConfig'
          NextPageToken: '#/components/schemas/RestApiPollerRequestPagingTokenConfig'
          NextPageUrl: '#/components/schemas/RestApiPollerRequestPagingNextPageUrlConfig'
          PersistentToken: '#/components/schemas/RestApiPollerRequestPagingTokenConfig'
          PersistentLinkHeader: '#/components/schemas/RestApiPollerRequestPagingLinkHeaderConfig'
          Offset: '#/components/schemas/RestApiPollerRequestPagingOffsetConfig'
          CountBasedPaging: '#/components/schemas/RestApiPollerRequestPagingCountBaseConfig'
    RestApiPollerRequestPagingOffsetConfig:
      type: object
      properties:
        pagingType:
          type: string
          description: Type of paging
          enum:
          - LinkHeader
          - NextPageToken
          - NextPageUrl
          - PersistentToken
          - PersistentLinkHeader
          - Offset
          - CountBasedPaging
          x-ms-enum:
            modelAsString: true
            name: RestApiPollerRequestPagingKind
            values:
            - value: LinkHeader
            - value: NextPageToken
            - value: NextPageUrl
            - value: PersistentToken
            - value: PersistentLinkHeader
            - value: Offset
            - value: CountBasedPaging
        pageSize:
          type: integer
          description: Page size
          format: int32
        pageSizeParameterName:
          type: string
          description: Page size parameter name
        offsetParaName:
          type: string
          description: Offset parameter name in HTTP request
      required:
      - pagingType
      description: The request paging configuration.
      x-ms-discriminator:
        propertyName: pagingType
        mapping:
          LinkHeader: '#/components/schemas/RestApiPollerRequestPagingLinkHeaderConfig'
          NextPageToken: '#/components/schemas/RestApiPollerRequestPagingTokenConfig'
          NextPageUrl: '#/components/schemas/RestApiPollerRequestPagingNextPageUrlConfig'
          PersistentToken: '#/components/schemas/RestApiPollerRequestPagingTokenConfig'
          PersistentLinkHeader: '#/components/schemas/RestApiPollerRequestPagingLinkHeaderConfig'
          Offset: '#/components/schemas/RestApiPollerRequestPagingOffsetConfig'
          CountBasedPaging: '#/components/schemas/RestApiPollerRequestPagingCountBaseConfig'
    RestApiPollerRequestPagingCountBaseConfig:
      type: object
      properties:
        pagingType:
          type: string
          description: Type of paging
          enum:
          - LinkHeader
          - NextPageToken
          - NextPageUrl
[...]
