openapi: 3.0.0
info:
  title: Security Insights
  description: API spec for Microsoft.SecurityInsights (Azure Security Insights) resource
    provider
  version: 2025-06-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/dataConnectorDefinitions
  : get:
      tags:
      - ConnectorDefinitions
      description: Gets all data connector definitions.
      operationId: DataConnectorDefinitions_List
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: Encapsulate the data connector definition object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        etag:
                          description: Etag of the azure resource
                          type: string
                        kind:
                          description: The data connector kind
                          type: string
                          enum:
                          - Customizable
                          x-ms-enum:
                            modelAsString: true
                            name: DataConnectorDefinitionKind
                            values:
                            - value: Customizable
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - kind
                      discriminator:
                        propertyName: kind
                  nextLink:
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/dataConnectorDefinitions/{dataConnectorDefinitionName}
  : get:
      tags:
      - ConnectorDefinitions
      description: Gets a data connector definition.
      operationId: DataConnectorDefinitions_Get
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - in: path
        name: dataConnectorDefinitionName
        description: The data connector definition name.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-z0-9A-Z-_]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  kind:
                    description: The data connector kind
                    type: string
                    enum:
                    - Customizable
                    x-ms-enum:
                      modelAsString: true
                      name: DataConnectorDefinitionKind
                      values:
                      - value: Customizable
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - kind
                discriminator:
                  propertyName: kind
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
    put:
      tags:
      - ConnectorDefinitions
      description: Creates or updates the data connector definition.
      operationId: DataConnectorDefinitions_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - in: path
        name: dataConnectorDefinitionName
        description: The data connector definition name.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-z0-9A-Z-_]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                etag:
                  description: Etag of the azure resource
                  type: string
                kind:
                  description: The data connector kind
                  type: string
                  enum:
                  - Customizable
                  x-ms-enum:
                    modelAsString: true
                    name: DataConnectorDefinitionKind
                    values:
                    - value: Customizable
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
              required:
              - kind
              discriminator:
                propertyName: kind
        description: The data connector definition
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  kind:
                    description: The data connector kind
                    type: string
                    enum:
                    - Customizable
                    x-ms-enum:
                      modelAsString: true
                      name: DataConnectorDefinitionKind
                      values:
                      - value: Customizable
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - kind
                discriminator:
                  propertyName: kind
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  kind:
                    description: The data connector kind
                    type: string
                    enum:
                    - Customizable
                    x-ms-enum:
                      modelAsString: true
                      name: DataConnectorDefinitionKind
                      values:
                      - value: Customizable
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - kind
                discriminator:
                  propertyName: kind
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
    delete:
      tags:
      - ConnectorDefinitions
      description: Delete the data connector definition.
      operationId: DataConnectorDefinitions_Delete
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - in: path
        name: dataConnectorDefinitionName
        description: The data connector definition name.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-z0-9A-Z-_]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Success
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
components:
  parameters:
    dataConnectorDefinitionName:
      in: path
      name: dataConnectorDefinitionName
      description: The data connector definition name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-z0-9A-Z-_]*$
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    WorkspaceName:
      description: The name of the workspace.
      in: path
      name: workspaceName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ConnectorDefinitionsAvailability:
      description: The exposure status of the connector to the customers.
      type: object
      properties:
        status:
          description: The exposure status of the connector to the customers. Available
            values are 0-4 (0=None, 1=Available, 2=FeatureFlag, 3=Internal).
          type: integer
          format: int32
        isPreview:
          description: Gets or sets a value indicating whether the connector is preview.
          type: boolean
    AvailabilityStatus:
      description: The exposure status of the connector to the customers. Available
        values are 0-4 (0=None, 1=Available, 2=FeatureFlag, 3=Internal).
      type: integer
      format: int32
    ConnectivityCriterion:
      description: "The criteria by which we determine whether the connector is connected\
        \ or not.\r\nFor Example, use a KQL query to check if  the expected data type\
        \ is flowing)."
      required:
      - type
      type: object
      properties:
        type:
          description: Gets or sets the type of connectivity.
          type: string
        value:
          description: Gets or sets the queries for checking connectivity.
          type: array
          items:
            type: string
    ConnectorDataType:
      description: "The data type which is created by the connector,\r\nincluding\
        \ a query indicated when was the last time that data type was received in\
        \ the workspace."
      required:
      - lastDataReceivedQuery
      - name
      type: object
      properties:
        name:
          description: Gets or sets the name of the data type to show in the graph.
          type: string
        lastDataReceivedQuery:
          description: Gets or sets the query to indicate when relevant data was last
            received in the workspace.
          type: string
    DataConnectorDefinition:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        etag:
          description: Etag of the azure resource
          type: string
        kind:
          description: The data connector kind
          type: string
          enum:
          - Customizable
          x-ms-enum:
            modelAsString: true
            name: DataConnectorDefinitionKind
            values:
            - value: Customizable
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
      required:
      - kind
      discriminator:
        propertyName: kind
    DataConnectorDefinitionKind:
      description: The kind of the data connector definitions
      enum:
      - Customizable
      type: string
      x-ms-enum:
        modelAsString: true
        name: DataConnectorDefinitionKind
        values:
        - value: Customizable
    DataConnectorDefinitionArmCollectionWrapper:
      type: object
      description: Encapsulate the data connector definition object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: arm-id
                description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                readOnly: true
              name:
                type: string
                description: The name of the resource
                readOnly: true
              type:
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
                readOnly: true
              systemData:
                description: Azure Resource Manager metadata containing createdBy
                  and modifiedBy information.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              etag:
                description: Etag of the azure resource
                type: string
              kind:
                description: The data connector kind
                type: string
                enum:
                - Customizable
                x-ms-enum:
                  modelAsString: true
                  name: DataConnectorDefinitionKind
                  values:
                  - value: Customizable
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
            required:
            - kind
            discriminator:
              propertyName: kind
        nextLink:
          type: string
    CustomizableConnectorDefinition:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        etag:
          description: Etag of the azure resource
          type: string
        kind:
          description: The data connector kind
          type: string
          enum:
          - Customizable
          x-ms-enum:
            modelAsString: true
            name: DataConnectorDefinitionKind
            values:
            - value: Customizable
        properties:
          description: Customizable properties.
          x-ms-client-flatten: true
          type: object
          required:
          - connectorUiConfig
          properties:
            createdTimeUtc:
              format: date-time
              description: Gets or sets the connector definition created date in UTC
                format.
              type: string
            lastModifiedUtc:
              format: date-time
              description: Gets or sets the connector definition last modified date
                in UTC format.
              type: string
            connectorUiConfig:
              description: The UiConfig for 'Customizable' connector definition kind.
              required:
              - dataTypes
              - descriptionMarkdown
              - graphQueries
              - instructionSteps
              - permissions
              - publisher
              - title
              - connectivityCriteria
              type: object
              properties:
                id:
                  description: Gets or sets custom connector id. optional field.
                  type: string
                title:
                  description: Gets or sets the connector blade title.
                  type: string
                publisher:
                  description: Gets or sets the connector publisher name.
                  type: string
                descriptionMarkdown:
                  description: Gets or sets the connector description in markdown
                    format.
                  type: string
                graphQueries:
                  description: Gets or sets the graph queries to show the current
                    data volume over time.
                  type: array
                  items:
                    description: The graph query to show the volume of data arriving
                      into the workspace over time.
                    required:
                    - baseQuery
                    - legend
                    - metricName
                    type: object
                    properties:
                      metricName:
                        description: 'Gets or sets the metric name that the query
                          is checking. For example: ''Total data receive''.'
                        type: string
                      legend:
                        description: Gets or sets the legend for the graph.
                        type: string
                      baseQuery:
                        description: "Gets or sets the base query for the graph.\r\
                          \nThe base query is wrapped by Sentinel UI infra with a\
                          \ KQL query, that measures the volume over time."
                        type: string
                  x-ms-identifiers: []
                dataTypes:
                  description: Gets or sets the data types to check for last data
                    received.
                  type: array
                  items:
                    description: "The data type which is created by the connector,\r\
                      \nincluding a query indicated when was the last time that data\
                      \ type was received in the workspace."
                    required:
                    - lastDataReceivedQuery
                    - name
                    type: object
                    properties:
                      name:
                        description: Gets or sets the name of the data type to show
                          in the graph.
                        type: string
                      lastDataReceivedQuery:
                        description: Gets or sets the query to indicate when relevant
                          data was last received in the workspace.
                        type: string
                  x-ms-identifiers: []
                connectivityCriteria:
                  description: Gets or sets the way the connector checks whether the
                    connector is connected.
                  type: array
                  items:
                    description: "The criteria by which we determine whether the connector\
                      \ is connected or not.\r\nFor Example, use a KQL query to check\
                      \ if  the expected data type is flowing)."
                    required:
                    - type
                    type: object
                    properties:
                      type:
                        description: Gets or sets the type of connectivity.
                        type: string
                      value:
                        description: Gets or sets the queries for checking connectivity.
                        type: array
                        items:
                          type: string
                  x-ms-identifiers: []
                availability:
                  description: The exposure status of the connector to the customers.
                  type: object
                  properties:
                    status:
                      description: The exposure status of the connector to the customers.
                        Available values are 0-4 (0=None, 1=Available, 2=FeatureFlag,
                        3=Internal).
                      type: integer
                      format: int32
                    isPreview:
                      description: Gets or sets a value indicating whether the connector
                        is preview.
                      type: boolean
                permissions:
                  description: The required Permissions for the connector.
                  type: object
                  properties:
                    tenant:
                      description: Gets or sets the required tenant permissions for
                        the connector.
                      type: array
                      items:
                        type: string
                    licenses:
                      description: Gets or sets the required licenses for the user
                        to create connections.
                      type: array
                      items:
                        type: string
                    resourceProvider:
                      description: Gets or sets the resource provider permissions
                        required for the user to create connections.
                      type: array
                      items:
                        description: "The resource provider details include the required\
                          \ permissions for the user to create connections.\r\nThe\
                          \ user should have the required permissions(Read\\Write,\
                          \ ..) in the specified scope ProviderPermissionsScope against\
                          \ the specified resource provider."
                        required:
                        - permissionsDisplayText
                        - provider
                        - providerDisplayName
                        - requiredPermissions
                        - scope
                        type: object
                        properties:
                          provider:
                            description: Gets or sets the provider name.
                            type: string
                          permissionsDisplayText:
                            description: Gets or sets the permissions description
                              text.
                            type: string
                          providerDisplayName:
                            description: Gets or sets the permissions provider display
                              name.
                            type: string
                          scope:
                            description: The scope on which the user should have permissions,
                              in order to be able to create connections.
                            enum:
                            - Subscription
                            - ResourceGroup
                            - Workspace
                            type: string
                            x-ms-enum:
                              name: ProviderPermissionsScope
                              modelAsString: true
                              values:
                              - value: Subscription
                              - value: ResourceGroup
                              - value: Workspace
                          requiredPermissions:
                            description: "Required permissions for the connector resource\
                              \ provider that define in ResourceProviders.\r\nFor\
                              \ more information about the permissions see <see href=\"\
                              https://docs.microsoft.com/en-us/azure/role-based-access-control/role-definitions#actions-format\"\
                              >here</see>."
                            type: object
                            properties:
                              read:
                                description: Gets or sets a value indicating whether
                                  the permission is read action (GET).
                                type: boolean
                              write:
                                description: Gets or sets a value indicating whether
                                  the permission is write action (PUT or PATCH).
                                type: boolean
                              delete:
                                description: Gets or sets a value indicating whether
                                  the permission is delete action (DELETE).
                                type: boolean
                              action:
                                description: Gets or sets a value indicating whether
                                  the permission is custom actions (POST).
                                type: boolean
                      x-ms-identifiers: []
                    customs:
                      description: Gets or sets the customs permissions required for
                        the user to create connections.
                      type: array
                      items:
                        description: The Custom permissions required for the connector.
                        required:
                        - description
                        - name
                        type: object
                        properties:
                          name:
                            description: Gets or sets the custom permissions name.
                            type: string
                          description:
                            description: Gets or sets the custom permissions description.
                            type: string
                      x-ms-identifiers: []
                instructionSteps:
                  description: Gets or sets the instruction steps to enable the connector.
                  type: array
                  items:
                    description: Instruction steps to enable the connector.
                    type: object
                    properties:
                      title:
                        description: Gets or sets the instruction step title.
                        type: string
                      description:
                        description: Gets or sets the instruction step description.
                        type: string
                      instructions:
                        description: Gets or sets the instruction step details.
                        type: array
                        items:
                          description: Instruction step details, to be displayed in
                            the Instructions steps section in the connector's page
                            in Sentinel Portal.
                          required:
                          - parameters
                          - type
                          type: object
                          properties:
                            parameters:
                              description: Gets or sets the instruction type parameters
                                settings.
                              type: object
                            type:
                              description: Gets or sets the instruction type name.
                              type: string
                        x-ms-identifiers: []
                      innerSteps:
                        description: "Gets or sets the inner instruction steps details.\r\
                          \nFor Example: instruction step 1 might contain inner instruction\
                          \ steps: [instruction step 1.1, instruction step 1.2]."
                        type: array
                        items:
                          description: Instruction steps to enable the connector.
                          type: object
                          properties:
                            title:
                              description: Gets or sets the instruction step title.
                              type: string
                            description:
                              description: Gets or sets the instruction step description.
                              type: string
                            instructions:
                              description: Gets or sets the instruction step details.
                              type: array
                              items:
                                description: Instruction step details, to be displayed
                                  in the Instructions steps section in the connector's
                                  page in Sentinel Portal.
                                required:
                                - parameters
                                - type
                                type: object
                                properties:
                                  parameters:
                                    description: Gets or sets the instruction type
                                      parameters settings.
                                    type: object
                                  type:
                                    description: Gets or sets the instruction type
                                      name.
                                    type: string
                              x-ms-identifiers: []
                            innerSteps:
                              description: "Gets or sets the inner instruction steps\
                                \ details.\r\nFor Example: instruction step 1 might\
                                \ contain inner instruction steps: [instruction step\
                                \ 1.1, instruction step 1.2]."
                              type: array
                              items:
                                description: Instruction steps to enable the connector.
                                type: object
                                properties:
                                  title:
                                    description: Gets or sets the instruction step
                                      title.
                                    type: string
                                  description:
                                    description: Gets or sets the instruction step
                                      description.
                                    type: string
                                  instructions:
                                    description: Gets or sets the instruction step
                                      details.
                                    type: array
                                    items:
                                      description: Instruction step details, to be
                                        displayed in the Instructions steps section
                                        in the connector's page in Sentinel Portal.
                                      required:
                                      - parameters
                                      - type
                                      type: object
                                      properties:
                                        parameters:
                                          description: Gets or sets the instruction
                                            type parameters settings.
                                          type: object
                                        type:
                                          description: Gets or sets the instruction
                                            type name.
                                          type: string
                                    x-ms-identifiers: []
                              x-ms-identifiers: []
                        x-ms-identifiers: []
                  x-ms-identifiers: []
                logo:
                  description: "Gets or sets the connector logo to be used when displaying\
                    \ the connector within Azure Sentinel's connector's gallery.\r\
                    \nThe logo value should be in SVG format."
                  type: string
                isConnectivityCriteriasMatchSome:
                  description: Gets or sets a value indicating whether to use 'OR'(SOME)
                    or 'AND' between ConnectivityCriteria items.
                  type: boolean
            connectionsConfig:
              description: The UiConfig for 'Customizable' connector definition kind.
              required:
              - templateSpecVersion
              - templateSpecName
              type: object
              properties:
                templateSpecName:
                  description: Gets or sets the template name. The template includes
                    ARM templates that can be created by the connector, usually it
                    will be the dataConnectors ARM templates.
                  type: string
                templateSpecVersion:
                  description: Gets or sets the template version.
                  type: string
      required:
      - kind
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      discriminator:
        propertyName: kind
      x-ms-azure-resource: true
      x-ms-discriminator-value: Customizable
    CustomizableConnectorDefinitionProperties:
      description: The UiConfig for 'Customizable' connector definition kind.
      type: object
      required:
      - connectorUiConfig
      properties:
        createdTimeUtc:
          format: date-time
          description: Gets or sets the connector definition created date in UTC format.
          type: string
        lastModifiedUtc:
          format: date-time
          description: Gets or sets the connector definition last modified date in
            UTC format.
          type: string
        connectorUiConfig:
          description: The UiConfig for 'Customizable' connector definition kind.
          required:
          - dataTypes
          - descriptionMarkdown
          - graphQueries
          - instructionSteps
          - permissions
          - publisher
          - title
          - connectivityCriteria
          type: object
          properties:
            id:
              description: Gets or sets custom connector id. optional field.
              type: string
            title:
              description: Gets or sets the connector blade title.
              type: string
            publisher:
              description: Gets or sets the connector publisher name.
              type: string
            descriptionMarkdown:
              description: Gets or sets the connector description in markdown format.
              type: string
            graphQueries:
              description: Gets or sets the graph queries to show the current data
                volume over time.
              type: array
              items:
                description: The graph query to show the volume of data arriving into
                  the workspace over time.
                required:
                - baseQuery
                - legend
                - metricName
                type: object
                properties:
                  metricName:
                    description: 'Gets or sets the metric name that the query is checking.
                      For example: ''Total data receive''.'
                    type: string
                  legend:
                    description: Gets or sets the legend for the graph.
                    type: string
                  baseQuery:
                    description: "Gets or sets the base query for the graph.\r\nThe\
                      \ base query is wrapped by Sentinel UI infra with a KQL query,\
                      \ that measures the volume over time."
                    type: string
              x-ms-identifiers: []
            dataTypes:
              description: Gets or sets the data types to check for last data received.
              type: array
              items:
                description: "The data type which is created by the connector,\r\n\
                  including a query indicated when was the last time that data type\
                  \ was received in the workspace."
                required:
                - lastDataReceivedQuery
                - name
                type: object
                properties:
                  name:
                    description: Gets or sets the name of the data type to show in
                      the graph.
                    type: string
                  lastDataReceivedQuery:
                    description: Gets or sets the query to indicate when relevant
                      data was last received in the workspace.
                    type: string
              x-ms-identifiers: []
            connectivityCriteria:
              description: Gets or sets the way the connector checks whether the connector
                is connected.
              type: array
              items:
                description: "The criteria by which we determine whether the connector\
                  \ is connected or not.\r\nFor Example, use a KQL query to check\
                  \ if  the expected data type is flowing)."
                required:
                - type
                type: object
                properties:
                  type:
                    description: Gets or sets the type of connectivity.
                    type: string
                  value:
                    description: Gets or sets the queries for checking connectivity.
                    type: array
                    items:
                      type: string
              x-ms-identifiers: []
            availability:
              description: The exposure status of the connector to the customers.
              type: object
              properties:
                status:
                  description: The exposure status of the connector to the customers.
                    Available values are 0-4 (0=None, 1=Available, 2=FeatureFlag,
                    3=Internal).
                  type: integer
                  format: int32
                isPreview:
                  description: Gets or sets a value indicating whether the connector
                    is preview.
                  type: boolean
            permissions:
              description: The required Permissions for the connector.
              type: object
              properties:
                tenant:
                  description: Gets or sets the required tenant permissions for the
                    connector.
                  type: array
                  items:
                    type: string
                licenses:
                  description: Gets or sets the required licenses for the user to
                    create connections.
                  type: array
                  items:
                    type: string
                resourceProvider:
                  description: Gets or sets the resource provider permissions required
                    for the user to create connections.
                  type: array
                  items:
                    description: "The resource provider details include the required\
                      \ permissions for the user to create connections.\r\nThe user\
                      \ should have the required permissions(Read\\Write, ..) in the\
                      \ specified scope ProviderPermissionsScope against the specified\
                      \ resource provider."
                    required:
                    - permissionsDisplayText
                    - provider
                    - providerDisplayName
                    - requiredPermissions
                    - scope
                    type: object
                    properties:
                      provider:
                        description: Gets or sets the provider name.
                        type: string
                      permissionsDisplayText:
                        description: Gets or sets the permissions description text.
                        type: string
                      providerDisplayName:
                        description: Gets or sets the permissions provider display
                          name.
                        type: string
                      scope:
                        description: The scope on which the user should have permissions,
                          in order to be able to create connections.
                        enum:
                        - Subscription
                        - ResourceGroup
                        - Workspace
                        type: string
                        x-ms-enum:
                          name: ProviderPermissionsScope
                          modelAsString: true
                          values:
                          - value: Subscription
                          - value: ResourceGroup
                          - value: Workspace
                      requiredPermissions:
                        description: "Required permissions for the connector resource\
                          \ provider that define in ResourceProviders.\r\nFor more\
                          \ information about the permissions see <see href=\"https://docs.microsoft.com/en-us/azure/role-based-access-control/role-definitions#actions-format\"\
                          >here</see>."
                        type: object
                        properties:
                          read:
                            description: Gets or sets a value indicating whether the
                              permission is read action (GET).
                            type: boolean
                          write:
                            description: Gets or sets a value indicating whether the
                              permission is write action (PUT or PATCH).
                            type: boolean
                          delete:
                            description: Gets or sets a value indicating whether the
                              permission is delete action (DELETE).
                            type: boolean
                          action:
                            description: Gets or sets a value indicating whether the
                              permission is custom actions (POST).
                            type: boolean
                  x-ms-identifiers: []
                customs:
                  description: Gets or sets the customs permissions required for the
                    user to create connections.
                  type: array
                  items:
                    description: The Custom permissions required for the connector.
                    required:
                    - description
                    - name
                    type: object
                    properties:
                      name:
                        description: Gets or sets the custom permissions name.
                        type: string
                      description:
                        description: Gets or sets the custom permissions description.
                        type: string
                  x-ms-identifiers: []
            instructionSteps:
              description: Gets or sets the instruction steps to enable the connector.
              type: array
              items:
                description: Instruction steps to enable the connector.
                type: object
                properties:
                  title:
                    description: Gets or sets the instruction step title.
                    type: string
                  description:
                    description: Gets or sets the instruction step description.
                    type: string
                  instructions:
                    description: Gets or sets the instruction step details.
                    type: array
                    items:
                      description: Instruction step details, to be displayed in the
                        Instructions steps section in the connector's page in Sentinel
                        Portal.
                      required:
                      - parameters
                      - type
                      type: object
                      properties:
                        parameters:
                          description: Gets or sets the instruction type parameters
                            settings.
                          type: object
                        type:
                          description: Gets or sets the instruction type name.
                          type: string
                    x-ms-identifiers: []
                  innerSteps:
                    description: "Gets or sets the inner instruction steps details.\r\
                      \nFor Example: instruction step 1 might contain inner instruction\
                      \ steps: [instruction step 1.1, instruction step 1.2]."
                    type: array
                    items:
                      description: Instruction steps to enable the connector.
                      type: object
                      properties:
                        title:
                          description: Gets or sets the instruction step title.
                          type: string
                        description:
                          description: Gets or sets the instruction step description.
                          type: string
                        instructions:
                          description: Gets or sets the instruction step details.
                          type: array
                          items:
                            description: Instruction step details, to be displayed
                              in the Instructions steps section in the connector's
                              page in Sentinel Portal.
                            required:
                            - parameters
                            - type
                            type: object
                            properties:
                              parameters:
                                description: Gets or sets the instruction type parameters
                                  settings.
                                type: object
                              type:
                                description: Gets or sets the instruction type name.
                                type: string
                          x-ms-identifiers: []
                        innerSteps:
                          description: "Gets or sets the inner instruction steps details.\r\
                            \nFor Example: instruction step 1 might contain inner\
                            \ instruction steps: [instruction step 1.1, instruction\
                            \ step 1.2]."
                          type: array
                          items:
                            description: Instruction steps to enable the connector.
                            type: object
                            properties:
                              title:
                                description: Gets or sets the instruction step title.
                                type: string
                              description:
                                description: Gets or sets the instruction step description.
                                type: string
                              instructions:
                                description: Gets or sets the instruction step details.
                                type: array
                                items:
                                  description: Instruction step details, to be displayed
                                    in the Instructions steps section in the connector's
                                    page in Sentinel Portal.
                                  required:
                                  - parameters
                                  - type
                                  type: object
                                  properties:
                                    parameters:
                                      description: Gets or sets the instruction type
                                        parameters settings.
                                      type: object
                                    type:
                                      description: Gets or sets the instruction type
                                        name.
                                      type: string
                                x-ms-identifiers: []
                          x-ms-identifiers: []
                    x-ms-identifiers: []
              x-ms-identifiers: []
            logo:
              description: "Gets or sets the connector logo to be used when displaying\
                \ the connector within Azure Sentinel's connector's gallery.\r\nThe\
                \ logo value should be in SVG format."
              type: string
            isConnectivityCriteriasMatchSome:
              description: Gets or sets a value indicating whether to use 'OR'(SOME)
                or 'AND' between ConnectivityCriteria items.
              type: boolean
        connectionsConfig:
          description: The UiConfig for 'Customizable' connector definition kind.
          required:
          - templateSpecVersion
          - templateSpecName
          type: object
          properties:
            templateSpecName:
              description: Gets or sets the template name. The template includes ARM
                templates that can be created by the connector, usually it will be
                the dataConnectors ARM templates.
              type: string
            templateSpecVersion:
              description: Gets or sets the template version.
              type: string
    CustomizableConnectionsConfig:
      description: The UiConfig for 'Customizable' connector definition kind.
      required:
      - templateSpecVersion
      - templateSpecName
      type: object
      properties:
        templateSpecName:
          description: Gets or sets the template name. The template includes ARM templates
            that can be created by the connector, usually it will be the dataConnectors
            ARM templates.
          type: string
        templateSpecVersion:
          description: Gets or sets the template version.
          type: string
    CustomizableConnectorUiConfig:
      description: The UiConfig for 'Customizable' connector definition kind.
      required:
      - dataTypes
      - descriptionMarkdown
      - graphQueries
      - instructionSteps
      - permissions
      - publisher
      - title
      - connectivityCriteria
      type: object
      properties:
        id:
          description: Gets or sets custom connector id. optional field.
          type: string
        title:
          description: Gets or sets the connector blade title.
          type: string
        publisher:
          description: Gets or sets the connector publisher name.
          type: string
        descriptionMarkdown:
          description: Gets or sets the connector description in markdown format.
          type: string
        graphQueries:
          description: Gets or sets the graph queries to show the current data volume
            over time.
          type: array
          items:
            description: The graph query to show the volume of data arriving into
              the workspace over time.
            required:
            - baseQuery
            - legend
            - metricName
            type: object
            properties:
              metricName:
                description: 'Gets or sets the metric name that the query is checking.
                  For example: ''Total data receive''.'
                type: string
              legend:
                description: Gets or sets the legend for the graph.
                type: string
              baseQuery:
                description: "Gets or sets the base query for the graph.\r\nThe base\
                  \ query is wrapped by Sentinel UI infra with a KQL query, that measures\
                  \ the volume over time."
                type: string
          x-ms-identifiers: []
        dataTypes:
          description: Gets or sets the data types to check for last data received.
          type: array
          items:
            description: "The data type which is created by the connector,\r\nincluding\
              \ a query indicated when was the last time that data type was received\
              \ in the workspace."
            required:
            - lastDataReceivedQuery
            - name
            type: object
            properties:
              name:
                description: Gets or sets the name of the data type to show in the
                  graph.
                type: string
              lastDataReceivedQuery:
                description: Gets or sets the query to indicate when relevant data
                  was last received in the workspace.
                type: string
          x-ms-identifiers: []
        connectivityCriteria:
          description: Gets or sets the way the connector checks whether the connector
            is connected.
          type: array
          items:
            description: "The criteria by which we determine whether the connector\
              \ is connected or not.\r\nFor Example, use a KQL query to check if \
              \ the expected data type is flowing)."
            required:
            - type
            type: object
            properties:
              type:
                description: Gets or sets the type of connectivity.
                type: string
              value:
                description: Gets or sets the queries for checking connectivity.
                type: array
                items:
                  type: string
          x-ms-identifiers: []
        availability:
          description: The exposure status of the connector to the customers.
          type: object
          properties:
            status:
              description: The exposure status of the connector to the customers.
                Available values are 0-4 (0=None, 1=Available, 2=FeatureFlag, 3=Internal).
              type: integer
              format: int32
            isPreview:
              description: Gets or sets a value indicating whether the connector is
                preview.
              type: boolean
        permissions:
          description: The required Permissions for the connector.
          type: object
          properties:
            tenant:
              description: Gets or sets the required tenant permissions for the connector.
              type: array
              items:
                type: string
            licenses:
              description: Gets or sets the required licenses for the user to create
                connections.
              type: array
              items:
                type: string
            resourceProvider:
              description: Gets or sets the resource provider permissions required
                for the user to create connections.
              type: array
              items:
                description: "The resource provider details include the required permissions\
                  \ for the user to create connections.\r\nThe user should have the\
                  \ required permissions(Read\\Write, ..) in the specified scope ProviderPermissionsScope\
                  \ against the specified resource provider."
                required:
                - permissionsDisplayText
                - provider
                - providerDisplayName
                - requiredPermissions
                - scope
                type: object
                properties:
                  provider:
                    description: Gets or sets the provider name.
                    type: string
                  permissionsDisplayText:
                    description: Gets or sets the permissions description text.
                    type: string
                  providerDisplayName:
                    description: Gets or sets the permissions provider display name.
                    type: string
                  scope:
                    description: The scope on which the user should have permissions,
                      in order to be able to create connections.
                    enum:
                    - Subscription
                    - ResourceGroup
                    - Workspace
                    type: string
                    x-ms-enum:
                      name: ProviderPermissionsScope
                      modelAsString: true
                      values:
                      - value: Subscription
                      - value: ResourceGroup
                      - value: Workspace
                  requiredPermissions:
                    description: "Required permissions for the connector resource\
                      \ provider that define in ResourceProviders.\r\nFor more information\
                      \ about the permissions see <see href=\"https://docs.microsoft.com/en-us/azure/role-based-access-control/role-definitions#actions-format\"\
                      >here</see>."
                    type: object
                    properties:
                      read:
                        description: Gets or sets a value indicating whether the permission
                          is read action (GET).
                        type: boolean
                      write:
                        description: Gets or sets a value indicating whether the permission
                          is write action (PUT or PATCH).
                        type: boolean
                      delete:
                        description: Gets or sets a value indicating whether the permission
                          is delete action (DELETE).
                        type: boolean
                      action:
                        description: Gets or sets a value indicating whether the permission
                          is custom actions (POST).
                        type: boolean
              x-ms-identifiers: []
            customs:
              description: Gets or sets the customs permissions required for the user
                to create connections.
              type: array
              items:
                description: The Custom permissions required for the connector.
                required:
                - description
                - name
                type: object
                properties:
                  name:
                    description: Gets or sets the custom permissions name.
                    type: string
                  description:
                    description: Gets or sets the custom permissions description.
                    type: string
              x-ms-identifiers: []
        instructionSteps:
          description: Gets or sets the instruction steps to enable the connector.
          type: array
          items:
            description: Instruction steps to enable the connector.
            type: object
            properties:
              title:
                description: Gets or sets the instruction step title.
                type: string
              description:
                description: Gets or sets the instruction step description.
                type: string
              instructions:
                description: Gets or sets the instruction step details.
                type: array
                items:
                  description: Instruction step details, to be displayed in the Instructions
                    steps section in the connector's page in Sentinel Portal.
                  required:
                  - parameters
                  - type
                  type: object
                  properties:
                    parameters:
                      description: Gets or sets the instruction type parameters settings.
                      type: object
                    type:
                      description: Gets or sets the instruction type name.
                      type: string
                x-ms-identifiers: []
              innerSteps:
                description: "Gets or sets the inner instruction steps details.\r\n\
                  For Example: instruction step 1 might contain inner instruction\
                  \ steps: [instruction step 1.1, instruction step 1.2]."
                type: array
                items:
                  description: Instruction steps to enable the connector.
                  type: object
                  properties:
                    title:
                      description: Gets or sets the instruction step title.
                      type: string
                    description:
                      description: Gets or sets the instruction step description.
                      type: string
                    instructions:
                      description: Gets or sets the instruction step details.
                      type: array
                      items:
                        description: Instruction step details, to be displayed in
                          the Instructions steps section in the connector's page in
                          Sentinel Portal.
                        required:
                        - parameters
                        - type
                        type: object
                        properties:
                          parameters:
                            description: Gets or sets the instruction type parameters
                              settings.
                            type: object
                          type:
                            description: Gets or sets the instruction type name.
                            type: string
                      x-ms-identifiers: []
                    innerSteps:
                      description: "Gets or sets the inner instruction steps details.\r\
                        \nFor Example: instruction step 1 might contain inner instruction\
                        \ steps: [instruction step 1.1, instruction step 1.2]."
                      type: array
                      items:
                        description: Instruction steps to enable the connector.
                        type: object
                        properties:
                          title:
                            description: Gets or sets the instruction step title.
                            type: string
                          description:
                            description: Gets or sets the instruction step description.
                            type: string
                          instructions:
                            description: Gets or sets the instruction step details.
                            type: array
                            items:
                              description: Instruction step details, to be displayed
                                in the Instructions steps section in the connector's
                                page in Sentinel Portal.
                              required:
                              - parameters
                              - type
                              type: object
                              properties:
                                parameters:
                                  description: Gets or sets the instruction type parameters
                                    settings.
                                  type: object
                                type:
                                  description: Gets or sets the instruction type name.
                                  type: string
                            x-ms-identifiers: []
                      x-ms-identifiers: []
                x-ms-identifiers: []
          x-ms-identifiers: []
        logo:
          description: "Gets or sets the connector logo to be used when displaying\
            \ the connector within Azure Sentinel's connector's gallery.\r\nThe logo\
            \ value should be in SVG format."
          type: string
        isConnectivityCriteriasMatchSome:
          description: Gets or sets a value indicating whether to use 'OR'(SOME) or
            'AND' between ConnectivityCriteria items.
          type: boolean
    CustomPermissionDetails:
      description: The Custom permissions required for the connector.
      required:
      - description
      - name
      type: object
      properties:
        name:
          description: Gets or sets the custom permissions name.
          type: string
        description:
          description: Gets or sets the custom permissions description.
          type: string
    GraphQuery:
      description: The graph query to show the volume of data arriving into the workspace
        over time.
      required:
      - baseQuery
      - legend
      - metricName
      type: object
      properties:
        metricName:
          description: 'Gets or sets the metric name that the query is checking. For
            example: ''Total data receive''.'
          type: string
        legend:
          description: Gets or sets the legend for the graph.
          type: string
        baseQuery:
          description: "Gets or sets the base query for the graph.\r\nThe base query\
            \ is wrapped by Sentinel UI infra with a KQL query, that measures the\
            \ volume over time."
          type: string
    InstructionStep:
      description: Instruction steps to enable the connector.
      type: object
      properties:
        title:
          description: Gets or sets the instruction step title.
          type: string
        description:
          description: Gets or sets the instruction step description.
          type: string
        instructions:
          description: Gets or sets the instruction step details.
          type: array
          items:
            description: Instruction step details, to be displayed in the Instructions
              steps section in the connector's page in Sentinel Portal.
            required:
            - parameters
            - type
            type: object
            properties:
              parameters:
                description: Gets or sets the instruction type parameters settings.
                type: object
              type:
                description: Gets or sets the instruction type name.
                type: string
          x-ms-identifiers: []
        innerSteps:
          description: "Gets or sets the inner instruction steps details.\r\nFor Example:\
            \ instruction step 1 might contain inner instruction steps: [instruction\
            \ step 1.1, instruction step 1.2]."
          type: array
          items:
            description: Instruction steps to enable the connector.
            type: object
            properties:
              title:
                description: Gets or sets the instruction step title.
                type: string
              description:
                description: Gets or sets the instruction step description.
                type: string
              instructions:
                description: Gets or sets the instruction step details.
                type: array
                items:
                  description: Instruction step details, to be displayed in the Instructions
                    steps section in the connector's page in Sentinel Portal.
                  required:
                  - parameters
                  - type
                  type: object
                  properties:
                    parameters:
                      description: Gets or sets the instruction type parameters settings.
                      type: object
                    type:
                      description: Gets or sets the instruction type name.
                      type: string
                x-ms-identifiers: []
              innerSteps:
                description: "Gets or sets the inner instruction steps details.\r\n\
                  For Example: instruction step 1 might contain inner instruction\
                  \ steps: [instruction step 1.1, instruction step 1.2]."
                type: array
                items:
                  description: Instruction steps to enable the connector.
                  type: object
                  properties:
                    title:
                      description: Gets or sets the instruction step title.
                      type: string
                    description:
                      description: Gets or sets the instruction step description.
                      type: string
                    instructions:
                      description: Gets or sets the instruction step details.
                      type: array
                      items:
                        description: Instruction step details, to be displayed in
                          the Instructions steps section in the connector's page in
                          Sentinel Portal.
                        required:
                        - parameters
                        - type
                        type: object
                        properties:
                          parameters:
                            description: Gets or sets the instruction type parameters
                              settings.
                            type: object
                          type:
                            description: Gets or sets the instruction type name.
                            type: string
                      x-ms-identifiers: []
                x-ms-identifiers: []
          x-ms-identifiers: []
    InstructionStepDetails:
      description: Instruction step details, to be displayed in the Instructions steps
        section in the connector's page in Sentinel Portal.
      required:
      - parameters
      - type
      type: object
      properties:
        parameters:
          description: Gets or sets the instruction type parameters settings.
          type: object
        type:
          description: Gets or sets the instruction type name.
          type: string
    ConnectorDefinitionsPermissions:
      description: The required Permissions for the connector.
      type: object
      properties:
        tenant:
          description: Gets or sets the required tenant permissions for the connector.
          type: array
          items:
            type: string
        licenses:
          description: Gets or sets the required licenses for the user to create connections.
          type: array
          items:
            type: string
        resourceProvider:
          description: Gets or sets the resource provider permissions required for
            the user to create connections.
          type: array
          items:
            description: "The resource provider details include the required permissions\
              \ for the user to create connections.\r\nThe user should have the required\
              \ permissions(Read\\Write, ..) in the specified scope ProviderPermissionsScope\
              \ against the specified resource provider."
            required:
            - permissionsDisplayText
            - provider
            - providerDisplayName
            - requiredPermissions
            - scope
            type: object
            properties:
              provider:
                description: Gets or sets the provider name.
                type: string
              permissionsDisplayText:
                description: Gets or sets the permissions description text.
                type: string
              providerDisplayName:
                description: Gets or sets the permissions provider display name.
                type: string
              scope:
                description: The scope on which the user should have permissions,
                  in order to be able to create connections.
                enum:
                - Subscription
                - ResourceGroup
                - Workspace
                type: string
                x-ms-enum:
                  name: ProviderPermissionsScope
                  modelAsString: true
                  values:
[...]
