openapi: 3.0.0
info:
  title: Security Insights
  description: API spec for Microsoft.SecurityInsights (Azure Security Insights) resource
    provider
  version: 2025-06-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/incidents
  : get:
      tags:
      - Incidents
      description: Gets all incidents.
      operationId: Incidents_List
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: Filters the results, based on a Boolean condition. Optional.
        in: query
        name: $filter
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Sorts the results. Optional.
        in: query
        name: $orderby
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: $top
        description: Returns only the first n results. Optional.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          maximum: 1000
      - description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls. Optional.
        in: query
        name: $skipToken
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK, Operation successfully completed
          content:
            application/json:
              schema:
                description: List all the incidents.
                properties:
                  nextLink:
                    description: URL to fetch the next set of incidents.
                    readOnly: true
                    type: string
                  value:
                    description: Array of incidents.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        etag:
                          description: Etag of the azure resource
                          type: string
                        properties:
                          description: Incident properties
                          x-ms-client-flatten: true
                          properties:
                            additionalData:
                              description: Additional data on the incident
                              readOnly: true
                              type: object
                              properties:
                                alertsCount:
                                  description: The number of alerts in the incident
                                  format: int32
                                  readOnly: true
                                  type: integer
                                bookmarksCount:
                                  description: The number of bookmarks in the incident
                                  format: int32
                                  readOnly: true
                                  type: integer
                                commentsCount:
                                  description: The number of comments in the incident
                                  format: int32
                                  readOnly: true
                                  type: integer
                                alertProductNames:
                                  description: List of product names of alerts in
                                    the incident
                                  items:
                                    description: Alert product name
                                    type: string
                                  readOnly: true
                                  type: array
                                  x-ms-identifiers: []
                                tactics:
                                  description: The tactics associated with incident
                                  items:
                                    description: The severity for alerts created by
                                      this alert rule.
                                    enum:
                                    - Reconnaissance
                                    - ResourceDevelopment
                                    - InitialAccess
                                    - Execution
                                    - Persistence
                                    - PrivilegeEscalation
                                    - DefenseEvasion
                                    - CredentialAccess
                                    - Discovery
                                    - LateralMovement
                                    - Collection
                                    - Exfiltration
                                    - CommandAndControl
                                    - Impact
                                    - PreAttack
                                    - ImpairProcessControl
                                    - InhibitResponseFunction
                                    type: string
                                    x-ms-enum:
                                      modelAsString: true
                                      name: AttackTactic
                                  readOnly: true
                                  type: array
                                  x-ms-identifiers: []
                                providerIncidentUrl:
                                  description: The provider incident url to the incident
                                    in Microsoft 365 Defender portal
                                  type: string
                                  readOnly: true
                            classification:
                              description: The reason the incident was closed
                              enum:
                              - Undetermined
                              - TruePositive
                              - BenignPositive
                              - FalsePositive
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: IncidentClassification
                                values:
                                - description: Incident classification was undetermined
                                  value: Undetermined
                                - description: Incident was true positive
                                  value: TruePositive
                                - description: Incident was benign positive
                                  value: BenignPositive
                                - description: Incident was false positive
                                  value: FalsePositive
                            classificationComment:
                              description: Describes the reason the incident was closed
                              type: string
                            classificationReason:
                              description: The classification reason the incident
                                was closed with
                              enum:
                              - SuspiciousActivity
                              - SuspiciousButExpected
                              - IncorrectAlertLogic
                              - InaccurateData
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: IncidentClassificationReason
                                values:
                                - description: Classification reason was suspicious
                                    activity
                                  value: SuspiciousActivity
                                - description: Classification reason was suspicious
                                    but expected
                                  value: SuspiciousButExpected
                                - description: Classification reason was incorrect
                                    alert logic
                                  value: IncorrectAlertLogic
                                - description: Classification reason was inaccurate
                                    data
                                  value: InaccurateData
                            createdTimeUtc:
                              description: The time the incident was created
                              format: date-time
                              readOnly: true
                              type: string
                            description:
                              description: The description of the incident
                              type: string
                            firstActivityTimeUtc:
                              description: The time of the first activity in the incident
                              format: date-time
                              type: string
                            incidentUrl:
                              description: The deep-link url to the incident in Azure
                                portal
                              readOnly: true
                              type: string
                            providerName:
                              description: The name of the source provider that generated
                                the incident
                              type: string
                              readOnly: true
                            providerIncidentId:
                              description: The incident ID assigned by the incident
                                provider
                              type: string
                              readOnly: true
                            incidentNumber:
                              description: A sequential number
                              format: int32
                              readOnly: true
                              type: integer
                            labels:
                              description: List of labels relevant to this incident
                              items:
                                description: Represents an incident label
                                properties:
                                  labelName:
                                    description: The name of the label
                                    type: string
                                  labelType:
                                    description: The type of the label
                                    enum:
                                    - User
                                    - AutoAssigned
                                    type: string
                                    readOnly: true
                                    x-ms-enum:
                                      modelAsString: true
                                      name: IncidentLabelType
                                      values:
                                      - description: Label manually created by a user
                                        value: User
                                      - description: Label automatically created by
                                          the system
                                        value: AutoAssigned
                                required:
                                - labelName
                                type: object
                              type: array
                              x-ms-identifiers: []
                            lastActivityTimeUtc:
                              description: The time of the last activity in the incident
                              format: date-time
                              type: string
                            lastModifiedTimeUtc:
                              description: The last time the incident was updated
                              format: date-time
                              readOnly: true
                              type: string
                            owner:
                              description: Describes a user that the incident is assigned
                                to
                              type: object
                              properties:
                                email:
                                  description: The email of the user the incident
                                    is assigned to.
                                  type: string
                                assignedTo:
                                  description: The name of the user the incident is
                                    assigned to.
                                  type: string
                                objectId:
                                  description: The object id of the user the incident
                                    is assigned to.
                                  format: uuid
                                  type: string
                                userPrincipalName:
                                  description: The user principal name of the user
                                    the incident is assigned to.
                                  type: string
                                ownerType:
                                  description: The type of the owner the incident
                                    is assigned to.
                                  type: string
                                  enum:
                                  - Unknown
                                  - User
                                  - Group
                                  x-ms-enum:
                                    modelAsString: true
                                    name: OwnerType
                                    values:
                                    - description: The incident owner type is unknown
                                      value: Unknown
                                    - description: The incident owner type is an AAD
                                        user
                                      value: User
                                    - description: The incident owner type is an AAD
                                        group
                                      value: Group
                            relatedAnalyticRuleIds:
                              description: List of resource ids of Analytic rules
                                related to the incident
                              items:
                                description: Related Analytic rule resource id
                                type: string
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - scopes:
                                    - Extension
                                    type: Microsoft.SecurityInsights/alertRules
                              readOnly: true
                              type: array
                              x-ms-identifiers: []
                            severity:
                              description: The severity of the incident
                              type: string
                              enum:
                              - High
                              - Medium
                              - Low
                              - Informational
                              x-ms-enum:
                                modelAsString: true
                                name: IncidentSeverity
                                values:
                                - description: High severity
                                  value: High
                                - description: Medium severity
                                  value: Medium
                                - description: Low severity
                                  value: Low
                                - description: Informational severity
                                  value: Informational
                            status:
                              description: The status of the incident
                              enum:
                              - New
                              - Active
                              - Closed
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: IncidentStatus
                                values:
                                - description: An active incident which isn't being
                                    handled currently
                                  value: New
                                - description: An active incident which is being handled
                                  value: Active
                                - description: A non-active incident
                                  value: Closed
                            title:
                              description: The title of the incident
                              type: string
                          required:
                          - title
                          - severity
                          - status
                          type: object
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    type: array
                    x-ms-identifiers: []
                type: object
                required:
                - value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/incidents/{incidentId}
  : get:
      tags:
      - Incidents
      description: Gets a given incident.
      operationId: Incidents_Get
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: Incident ID
        in: path
        name: incidentId
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK, Operation successfully completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  properties:
                    description: Incident properties
                    x-ms-client-flatten: true
                    properties:
                      additionalData:
                        description: Additional data on the incident
                        readOnly: true
                        type: object
                        properties:
                          alertsCount:
                            description: The number of alerts in the incident
                            format: int32
                            readOnly: true
                            type: integer
                          bookmarksCount:
                            description: The number of bookmarks in the incident
                            format: int32
                            readOnly: true
                            type: integer
                          commentsCount:
                            description: The number of comments in the incident
                            format: int32
                            readOnly: true
                            type: integer
                          alertProductNames:
                            description: List of product names of alerts in the incident
                            items:
                              description: Alert product name
                              type: string
                            readOnly: true
                            type: array
                            x-ms-identifiers: []
                          tactics:
                            description: The tactics associated with incident
                            items:
                              description: The severity for alerts created by this
                                alert rule.
                              enum:
                              - Reconnaissance
                              - ResourceDevelopment
                              - InitialAccess
                              - Execution
                              - Persistence
                              - PrivilegeEscalation
                              - DefenseEvasion
                              - CredentialAccess
                              - Discovery
                              - LateralMovement
                              - Collection
                              - Exfiltration
                              - CommandAndControl
                              - Impact
                              - PreAttack
                              - ImpairProcessControl
                              - InhibitResponseFunction
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: AttackTactic
                            readOnly: true
                            type: array
                            x-ms-identifiers: []
                          providerIncidentUrl:
                            description: The provider incident url to the incident
                              in Microsoft 365 Defender portal
                            type: string
                            readOnly: true
                      classification:
                        description: The reason the incident was closed
                        enum:
                        - Undetermined
                        - TruePositive
                        - BenignPositive
                        - FalsePositive
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: IncidentClassification
                          values:
                          - description: Incident classification was undetermined
                            value: Undetermined
                          - description: Incident was true positive
                            value: TruePositive
                          - description: Incident was benign positive
                            value: BenignPositive
                          - description: Incident was false positive
                            value: FalsePositive
                      classificationComment:
                        description: Describes the reason the incident was closed
                        type: string
                      classificationReason:
                        description: The classification reason the incident was closed
                          with
                        enum:
                        - SuspiciousActivity
                        - SuspiciousButExpected
                        - IncorrectAlertLogic
                        - InaccurateData
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: IncidentClassificationReason
                          values:
                          - description: Classification reason was suspicious activity
                            value: SuspiciousActivity
                          - description: Classification reason was suspicious but
                              expected
                            value: SuspiciousButExpected
                          - description: Classification reason was incorrect alert
                              logic
                            value: IncorrectAlertLogic
                          - description: Classification reason was inaccurate data
                            value: InaccurateData
                      createdTimeUtc:
                        description: The time the incident was created
                        format: date-time
                        readOnly: true
                        type: string
                      description:
                        description: The description of the incident
                        type: string
                      firstActivityTimeUtc:
                        description: The time of the first activity in the incident
                        format: date-time
                        type: string
                      incidentUrl:
                        description: The deep-link url to the incident in Azure portal
                        readOnly: true
                        type: string
                      providerName:
                        description: The name of the source provider that generated
                          the incident
                        type: string
                        readOnly: true
                      providerIncidentId:
                        description: The incident ID assigned by the incident provider
                        type: string
                        readOnly: true
                      incidentNumber:
                        description: A sequential number
                        format: int32
                        readOnly: true
                        type: integer
                      labels:
                        description: List of labels relevant to this incident
                        items:
                          description: Represents an incident label
                          properties:
                            labelName:
                              description: The name of the label
                              type: string
                            labelType:
                              description: The type of the label
                              enum:
                              - User
                              - AutoAssigned
                              type: string
                              readOnly: true
                              x-ms-enum:
                                modelAsString: true
                                name: IncidentLabelType
                                values:
                                - description: Label manually created by a user
                                  value: User
                                - description: Label automatically created by the
                                    system
                                  value: AutoAssigned
                          required:
                          - labelName
                          type: object
                        type: array
                        x-ms-identifiers: []
                      lastActivityTimeUtc:
                        description: The time of the last activity in the incident
                        format: date-time
                        type: string
                      lastModifiedTimeUtc:
                        description: The last time the incident was updated
                        format: date-time
                        readOnly: true
                        type: string
                      owner:
                        description: Describes a user that the incident is assigned
                          to
                        type: object
                        properties:
                          email:
                            description: The email of the user the incident is assigned
                              to.
                            type: string
                          assignedTo:
                            description: The name of the user the incident is assigned
                              to.
                            type: string
                          objectId:
                            description: The object id of the user the incident is
                              assigned to.
                            format: uuid
                            type: string
                          userPrincipalName:
                            description: The user principal name of the user the incident
                              is assigned to.
                            type: string
                          ownerType:
                            description: The type of the owner the incident is assigned
                              to.
                            type: string
                            enum:
                            - Unknown
                            - User
                            - Group
                            x-ms-enum:
                              modelAsString: true
                              name: OwnerType
                              values:
                              - description: The incident owner type is unknown
                                value: Unknown
                              - description: The incident owner type is an AAD user
                                value: User
                              - description: The incident owner type is an AAD group
                                value: Group
                      relatedAnalyticRuleIds:
                        description: List of resource ids of Analytic rules related
                          to the incident
                        items:
                          description: Related Analytic rule resource id
                          type: string
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - scopes:
                              - Extension
                              type: Microsoft.SecurityInsights/alertRules
                        readOnly: true
                        type: array
                        x-ms-identifiers: []
                      severity:
                        description: The severity of the incident
                        type: string
                        enum:
                        - High
                        - Medium
                        - Low
                        - Informational
                        x-ms-enum:
                          modelAsString: true
                          name: IncidentSeverity
                          values:
                          - description: High severity
                            value: High
                          - description: Medium severity
                            value: Medium
                          - description: Low severity
                            value: Low
                          - description: Informational severity
                            value: Informational
                      status:
                        description: The status of the incident
                        enum:
                        - New
                        - Active
                        - Closed
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: IncidentStatus
                          values:
                          - description: An active incident which isn't being handled
                              currently
                            value: New
                          - description: An active incident which is being handled
                            value: Active
                          - description: A non-active incident
                            value: Closed
                      title:
                        description: The title of the incident
                        type: string
                    required:
                    - title
                    - severity
                    - status
                    type: object
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
    put:
      tags:
      - Incidents
      description: Creates or updates an incident.
      operationId: Incidents_CreateOrUpdate
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: Incident ID
        in: path
        name: incidentId
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                etag:
                  description: Etag of the azure resource
                  type: string
                properties:
                  description: Incident properties
                  x-ms-client-flatten: true
                  properties:
                    additionalData:
                      description: Additional data on the incident
                      readOnly: true
                      type: object
                      properties:
                        alertsCount:
                          description: The number of alerts in the incident
                          format: int32
                          readOnly: true
                          type: integer
                        bookmarksCount:
                          description: The number of bookmarks in the incident
                          format: int32
                          readOnly: true
                          type: integer
                        commentsCount:
                          description: The number of comments in the incident
                          format: int32
                          readOnly: true
                          type: integer
                        alertProductNames:
                          description: List of product names of alerts in the incident
                          items:
                            description: Alert product name
                            type: string
                          readOnly: true
                          type: array
                          x-ms-identifiers: []
                        tactics:
                          description: The tactics associated with incident
                          items:
                            description: The severity for alerts created by this alert
                              rule.
                            enum:
                            - Reconnaissance
                            - ResourceDevelopment
                            - InitialAccess
                            - Execution
                            - Persistence
                            - PrivilegeEscalation
                            - DefenseEvasion
                            - CredentialAccess
                            - Discovery
                            - LateralMovement
                            - Collection
                            - Exfiltration
                            - CommandAndControl
                            - Impact
                            - PreAttack
                            - ImpairProcessControl
                            - InhibitResponseFunction
                            type: string
                            x-ms-enum:
                              modelAsString: true
                              name: AttackTactic
                          readOnly: true
                          type: array
                          x-ms-identifiers: []
                        providerIncidentUrl:
                          description: The provider incident url to the incident in
                            Microsoft 365 Defender portal
                          type: string
                          readOnly: true
                    classification:
                      description: The reason the incident was closed
                      enum:
                      - Undetermined
                      - TruePositive
                      - BenignPositive
                      - FalsePositive
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: IncidentClassification
                        values:
                        - description: Incident classification was undetermined
                          value: Undetermined
                        - description: Incident was true positive
                          value: TruePositive
                        - description: Incident was benign positive
                          value: BenignPositive
                        - description: Incident was false positive
                          value: FalsePositive
                    classificationComment:
                      description: Describes the reason the incident was closed
                      type: string
                    classificationReason:
                      description: The classification reason the incident was closed
                        with
                      enum:
                      - SuspiciousActivity
                      - SuspiciousButExpected
                      - IncorrectAlertLogic
                      - InaccurateData
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: IncidentClassificationReason
                        values:
                        - description: Classification reason was suspicious activity
                          value: SuspiciousActivity
                        - description: Classification reason was suspicious but expected
                          value: SuspiciousButExpected
                        - description: Classification reason was incorrect alert logic
                          value: IncorrectAlertLogic
                        - description: Classification reason was inaccurate data
                          value: InaccurateData
                    createdTimeUtc:
                      description: The time the incident was created
                      format: date-time
                      readOnly: true
                      type: string
                    description:
                      description: The description of the incident
                      type: string
                    firstActivityTimeUtc:
                      description: The time of the first activity in the incident
                      format: date-time
                      type: string
                    incidentUrl:
                      description: The deep-link url to the incident in Azure portal
                      readOnly: true
                      type: string
                    providerName:
                      description: The name of the source provider that generated
                        the incident
                      type: string
                      readOnly: true
                    providerIncidentId:
                      description: The incident ID assigned by the incident provider
                      type: string
                      readOnly: true
                    incidentNumber:
                      description: A sequential number
                      format: int32
                      readOnly: true
                      type: integer
                    labels:
                      description: List of labels relevant to this incident
                      items:
                        description: Represents an incident label
                        properties:
                          labelName:
                            description: The name of the label
                            type: string
                          labelType:
                            description: The type of the label
                            enum:
                            - User
                            - AutoAssigned
                            type: string
                            readOnly: true
                            x-ms-enum:
                              modelAsString: true
                              name: IncidentLabelType
                              values:
                              - description: Label manually created by a user
                                value: User
                              - description: Label automatically created by the system
                                value: AutoAssigned
                        required:
                        - labelName
                        type: object
                      type: array
                      x-ms-identifiers: []
                    lastActivityTimeUtc:
                      description: The time of the last activity in the incident
                      format: date-time
                      type: string
                    lastModifiedTimeUtc:
                      description: The last time the incident was updated
                      format: date-time
                      readOnly: true
                      type: string
                    owner:
                      description: Describes a user that the incident is assigned
                        to
                      type: object
                      properties:
                        email:
                          description: The email of the user the incident is assigned
                            to.
                          type: string
                        assignedTo:
                          description: The name of the user the incident is assigned
                            to.
                          type: string
                        objectId:
                          description: The object id of the user the incident is assigned
                            to.
                          format: uuid
                          type: string
                        userPrincipalName:
                          description: The user principal name of the user the incident
                            is assigned to.
                          type: string
                        ownerType:
                          description: The type of the owner the incident is assigned
                            to.
                          type: string
                          enum:
                          - Unknown
                          - User
                          - Group
                          x-ms-enum:
                            modelAsString: true
                            name: OwnerType
                            values:
                            - description: The incident owner type is unknown
                              value: Unknown
                            - description: The incident owner type is an AAD user
                              value: User
                            - description: The incident owner type is an AAD group
                              value: Group
                    relatedAnalyticRuleIds:
                      description: List of resource ids of Analytic rules related
                        to the incident
                      items:
                        description: Related Analytic rule resource id
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - scopes:
                            - Extension
                            type: Microsoft.SecurityInsights/alertRules
                      readOnly: true
                      type: array
                      x-ms-identifiers: []
                    severity:
                      description: The severity of the incident
                      type: string
                      enum:
                      - High
                      - Medium
                      - Low
                      - Informational
                      x-ms-enum:
                        modelAsString: true
                        name: IncidentSeverity
                        values:
                        - description: High severity
                          value: High
                        - description: Medium severity
                          value: Medium
                        - description: Low severity
                          value: Low
                        - description: Informational severity
                          value: Informational
                    status:
                      description: The status of the incident
                      enum:
                      - New
                      - Active
                      - Closed
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: IncidentStatus
                        values:
                        - description: An active incident which isn't being handled
                            currently
                          value: New
                        - description: An active incident which is being handled
                          value: Active
                        - description: A non-active incident
                          value: Closed
                    title:
                      description: The title of the incident
                      type: string
                  required:
                  - title
                  - severity
                  - status
                  type: object
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: The incident
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK, Operation successfully completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  properties:
                    description: Incident properties
                    x-ms-client-flatten: true
                    properties:
                      additionalData:
                        description: Additional data on the incident
                        readOnly: true
                        type: object
                        properties:
                          alertsCount:
                            description: The number of alerts in the incident
                            format: int32
                            readOnly: true
                            type: integer
                          bookmarksCount:
                            description: The number of bookmarks in the incident
                            format: int32
                            readOnly: true
                            type: integer
                          commentsCount:
                            description: The number of comments in the incident
                            format: int32
                            readOnly: true
                            type: integer
                          alertProductNames:
                            description: List of product names of alerts in the incident
                            items:
                              description: Alert product name
                              type: string
                            readOnly: true
                            type: array
                            x-ms-identifiers: []
                          tactics:
                            description: The tactics associated with incident
                            items:
                              description: The severity for alerts created by this
                                alert rule.
                              enum:
                              - Reconnaissance
                              - ResourceDevelopment
                              - InitialAccess
                              - Execution
                              - Persistence
                              - PrivilegeEscalation
                              - DefenseEvasion
                              - CredentialAccess
                              - Discovery
                              - LateralMovement
                              - Collection
                              - Exfiltration
                              - CommandAndControl
                              - Impact
                              - PreAttack
                              - ImpairProcessControl
                              - InhibitResponseFunction
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: AttackTactic
                            readOnly: true
                            type: array
                            x-ms-identifiers: []
                          providerIncidentUrl:
                            description: The provider incident url to the incident
                              in Microsoft 365 Defender portal
                            type: string
                            readOnly: true
                      classification:
                        description: The reason the incident was closed
                        enum:
                        - Undetermined
                        - TruePositive
                        - BenignPositive
                        - FalsePositive
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: IncidentClassification
                          values:
                          - description: Incident classification was undetermined
                            value: Undetermined
                          - description: Incident was true positive
                            value: TruePositive
                          - description: Incident was benign positive
                            value: BenignPositive
                          - description: Incident was false positive
                            value: FalsePositive
                      classificationComment:
                        description: Describes the reason the incident was closed
                        type: string
                      classificationReason:
                        description: The classification reason the incident was closed
                          with
                        enum:
                        - SuspiciousActivity
                        - SuspiciousButExpected
                        - IncorrectAlertLogic
                        - InaccurateData
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: IncidentClassificationReason
                          values:
                          - description: Classification reason was suspicious activity
                            value: SuspiciousActivity
                          - description: Classification reason was suspicious but
                              expected
                            value: SuspiciousButExpected
                          - description: Classification reason was incorrect alert
                              logic
                            value: IncorrectAlertLogic
                          - description: Classification reason was inaccurate data
                            value: InaccurateData
                      createdTimeUtc:
                        description: The time the incident was created
                        format: date-time
                        readOnly: true
                        type: string
                      description:
                        description: The description of the incident
                        type: string
                      firstActivityTimeUtc:
                        description: The time of the first activity in the incident
                        format: date-time
                        type: string
                      incidentUrl:
                        description: The deep-link url to the incident in Azure portal
                        readOnly: true
                        type: string
                      providerName:
                        description: The name of the source provider that generated
                          the incident
                        type: string
                        readOnly: true
                      providerIncidentId:
                        description: The incident ID assigned by the incident provider
                        type: string
                        readOnly: true
                      incidentNumber:
                        description: A sequential number
                        format: int32
                        readOnly: true
                        type: integer
                      labels:
                        description: List of labels relevant to this incident
                        items:
                          description: Represents an incident label
                          properties:
                            labelName:
                              description: The name of the label
                              type: string
                            labelType:
                              description: The type of the label
                              enum:
                              - User
                              - AutoAssigned
                              type: string
                              readOnly: true
                              x-ms-enum:
                                modelAsString: true
                                name: IncidentLabelType
                                values:
                                - description: Label manually created by a user
                                  value: User
                                - description: Label automatically created by the
                                    system
                                  value: AutoAssigned
                          required:
                          - labelName
                          type: object
                        type: array
                        x-ms-identifiers: []
                      lastActivityTimeUtc:
                        description: The time of the last activity in the incident
                        format: date-time
                        type: string
                      lastModifiedTimeUtc:
                        description: The last time the incident was updated
                        format: date-time
                        readOnly: true
                        type: string
                      owner:
                        description: Describes a user that the incident is assigned
                          to
                        type: object
                        properties:
                          email:
                            description: The email of the user the incident is assigned
                              to.
                            type: string
                          assignedTo:
                            description: The name of the user the incident is assigned
                              to.
                            type: string
                          objectId:
                            description: The object id of the user the incident is
                              assigned to.
                            format: uuid
                            type: string
                          userPrincipalName:
                            description: The user principal name of the user the incident
                              is assigned to.
                            type: string
                          ownerType:
                            description: The type of the owner the incident is assigned
                              to.
                            type: string
                            enum:
                            - Unknown
                            - User
                            - Group
                            x-ms-enum:
                              modelAsString: true
                              name: OwnerType
                              values:
                              - description: The incident owner type is unknown
                                value: Unknown
                              - description: The incident owner type is an AAD user
                                value: User
                              - description: The incident owner type is an AAD group
                                value: Group
                      relatedAnalyticRuleIds:
                        description: List of resource ids of Analytic rules related
                          to the incident
                        items:
                          description: Related Analytic rule resource id
                          type: string
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - scopes:
                              - Extension
                              type: Microsoft.SecurityInsights/alertRules
                        readOnly: true
                        type: array
                        x-ms-identifiers: []
                      severity:
                        description: The severity of the incident
                        type: string
                        enum:
                        - High
                        - Medium
                        - Low
                        - Informational
                        x-ms-enum:
                          modelAsString: true
                          name: IncidentSeverity
                          values:
                          - description: High severity
                            value: High
                          - description: Medium severity
                            value: Medium
                          - description: Low severity
                            value: Low
                          - description: Informational severity
                            value: Informational
                      status:
                        description: The status of the incident
                        enum:
                        - New
                        - Active
                        - Closed
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: IncidentStatus
                          values:
                          - description: An active incident which isn't being handled
                              currently
                            value: New
                          - description: An active incident which is being handled
                            value: Active
                          - description: A non-active incident
                            value: Closed
                      title:
                        description: The title of the incident
                        type: string
                    required:
                    - title
                    - severity
                    - status
                    type: object
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  properties:
                    description: Incident properties
                    x-ms-client-flatten: true
                    properties:
                      additionalData:
                        description: Additional data on the incident
                        readOnly: true
                        type: object
                        properties:
                          alertsCount:
                            description: The number of alerts in the incident
                            format: int32
                            readOnly: true
                            type: integer
                          bookmarksCount:
                            description: The number of bookmarks in the incident
                            format: int32
                            readOnly: true
                            type: integer
                          commentsCount:
                            description: The number of comments in the incident
                            format: int32
                            readOnly: true
                            type: integer
                          alertProductNames:
                            description: List of product names of alerts in the incident
                            items:
                              description: Alert product name
                              type: string
                            readOnly: true
                            type: array
                            x-ms-identifiers: []
                          tactics:
                            description: The tactics associated with incident
                            items:
                              description: The severity for alerts created by this
                                alert rule.
                              enum:
                              - Reconnaissance
                              - ResourceDevelopment
                              - InitialAccess
                              - Execution
                              - Persistence
                              - PrivilegeEscalation
                              - DefenseEvasion
                              - CredentialAccess
                              - Discovery
                              - LateralMovement
                              - Collection
                              - Exfiltration
                              - CommandAndControl
                              - Impact
                              - PreAttack
                              - ImpairProcessControl
                              - InhibitResponseFunction
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: AttackTactic
                            readOnly: true
                            type: array
                            x-ms-identifiers: []
                          providerIncidentUrl:
                            description: The provider incident url to the incident
                              in Microsoft 365 Defender portal
                            type: string
                            readOnly: true
                      classification:
                        description: The reason the incident was closed
                        enum:
                        - Undetermined
                        - TruePositive
                        - BenignPositive
                        - FalsePositive
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: IncidentClassification
                          values:
                          - description: Incident classification was undetermined
                            value: Undetermined
                          - description: Incident was true positive
                            value: TruePositive
                          - description: Incident was benign positive
                            value: BenignPositive
                          - description: Incident was false positive
                            value: FalsePositive
                      classificationComment:
                        description: Describes the reason the incident was closed
                        type: string
                      classificationReason:
                        description: The classification reason the incident was closed
                          with
                        enum:
                        - SuspiciousActivity
                        - SuspiciousButExpected
                        - IncorrectAlertLogic
                        - InaccurateData
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: IncidentClassificationReason
                          values:
                          - description: Classification reason was suspicious activity
                            value: SuspiciousActivity
                          - description: Classification reason was suspicious but
                              expected
                            value: SuspiciousButExpected
                          - description: Classification reason was incorrect alert
                              logic
                            value: IncorrectAlertLogic
                          - description: Classification reason was inaccurate data
                            value: InaccurateData
                      createdTimeUtc:
                        description: The time the incident was created
                        format: date-time
                        readOnly: true
                        type: string
                      description:
                        description: The description of the incident
                        type: string
                      firstActivityTimeUtc:
                        description: The time of the first activity in the incident
                        format: date-time
                        type: string
                      incidentUrl:
                        description: The deep-link url to the incident in Azure portal
                        readOnly: true
                        type: string
                      providerName:
                        description: The name of the source provider that generated
                          the incident
                        type: string
                        readOnly: true
                      providerIncidentId:
                        description: The incident ID assigned by the incident provider
                        type: string
                        readOnly: true
                      incidentNumber:
                        description: A sequential number
                        format: int32
                        readOnly: true
                        type: integer
                      labels:
                        description: List of labels relevant to this incident
                        items:
                          description: Represents an incident label
                          properties:
                            labelName:
                              description: The name of the label
                              type: string
                            labelType:
                              description: The type of the label
                              enum:
                              - User
                              - AutoAssigned
                              type: string
                              readOnly: true
                              x-ms-enum:
                                modelAsString: true
                                name: IncidentLabelType
                                values:
                                - description: Label manually created by a user
                                  value: User
                                - description: Label automatically created by the
                                    system
                                  value: AutoAssigned
                          required:
                          - labelName
                          type: object
                        type: array
                        x-ms-identifiers: []
                      lastActivityTimeUtc:
                        description: The time of the last activity in the incident
                        format: date-time
                        type: string
                      lastModifiedTimeUtc:
                        description: The last time the incident was updated
                        format: date-time
                        readOnly: true
                        type: string
                      owner:
                        description: Describes a user that the incident is assigned
                          to
                        type: object
                        properties:
                          email:
                            description: The email of the user the incident is assigned
                              to.
                            type: string
                          assignedTo:
                            description: The name of the user the incident is assigned
                              to.
                            type: string
                          objectId:
                            description: The object id of the user the incident is
                              assigned to.
                            format: uuid
                            type: string
                          userPrincipalName:
                            description: The user principal name of the user the incident
                              is assigned to.
                            type: string
                          ownerType:
                            description: The type of the owner the incident is assigned
                              to.
                            type: string
                            enum:
                            - Unknown
                            - User
                            - Group
                            x-ms-enum:
                              modelAsString: true
                              name: OwnerType
                              values:
                              - description: The incident owner type is unknown
                                value: Unknown
                              - description: The incident owner type is an AAD user
                                value: User
                              - description: The incident owner type is an AAD group
                                value: Group
                      relatedAnalyticRuleIds:
                        description: List of resource ids of Analytic rules related
                          to the incident
                        items:
                          description: Related Analytic rule resource id
                          type: string
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - scopes:
                              - Extension
                              type: Microsoft.SecurityInsights/alertRules
                        readOnly: true
                        type: array
                        x-ms-identifiers: []
                      severity:
                        description: The severity of the incident
                        type: string
                        enum:
                        - High
                        - Medium
                        - Low
                        - Informational
                        x-ms-enum:
                          modelAsString: true
                          name: IncidentSeverity
                          values:
                          - description: High severity
                            value: High
                          - description: Medium severity
                            value: Medium
                          - description: Low severity
                            value: Low
                          - description: Informational severity
                            value: Informational
                      status:
                        description: The status of the incident
                        enum:
                        - New
                        - Active
                        - Closed
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: IncidentStatus
                          values:
                          - description: An active incident which isn't being handled
                              currently
                            value: New
                          - description: An active incident which is being handled
                            value: Active
                          - description: A non-active incident
                            value: Closed
                      title:
                        description: The title of the incident
                        type: string
                    required:
                    - title
                    - severity
                    - status
                    type: object
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
    delete:
      tags:
      - Incidents
      description: Deletes a given incident.
      operationId: Incidents_Delete
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: Incident ID
        in: path
        name: incidentId
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK, Operation successfully completed
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/incidents/{incidentId}/alerts
  : post:
      tags:
      - IncidentAlerts
      description: Gets all alerts for an incident.
      operationId: Incidents_ListAlerts
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: Incident ID
        in: path
        name: incidentId
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of incident alerts.
                properties:
                  value:
                    description: Array of incident alerts.
                    type: array
                    x-ms-identifiers: []
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
[...]
