openapi: 3.0.0
info:
  title: Security Insights
  description: API spec for Microsoft.SecurityInsights (Azure Security Insights) resource
    provider
  version: 2025-06-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/securityMLAnalyticsSettings
  : get:
      tags:
      - Security ML Analytics Settings
      description: Gets all Security ML Analytics Settings.
      operationId: SecurityMLAnalyticsSettings_List
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List all the SecurityMLAnalyticsSettings
                properties:
                  nextLink:
                    description: URL to fetch the next set of SecurityMLAnalyticsSettings.
                    readOnly: true
                    type: string
                  value:
                    description: Array of SecurityMLAnalyticsSettings
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        etag:
                          description: Etag of the azure resource
                          type: string
                        kind:
                          description: The kind of security ML Analytics Settings
                          enum:
                          - Anomaly
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: SecurityMLAnalyticsSettingsKind
                            values:
                            - value: Anomaly
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - kind
                      discriminator:
                        propertyName: kind
                    type: array
                type: object
                required:
                - value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/securityMLAnalyticsSettings/{settingsResourceName}
  : get:
      tags:
      - Security ML Analytics Settings
      description: Gets the Security ML Analytics Settings.
      operationId: SecurityMLAnalyticsSettings_Get
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: Security ML Analytics Settings resource name
        in: path
        name: settingsResourceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  kind:
                    description: The kind of security ML Analytics Settings
                    enum:
                    - Anomaly
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: SecurityMLAnalyticsSettingsKind
                      values:
                      - value: Anomaly
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - kind
                discriminator:
                  propertyName: kind
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
    put:
      tags:
      - Security ML Analytics Settings
      description: Creates or updates the Security ML Analytics Settings.
      operationId: SecurityMLAnalyticsSettings_CreateOrUpdate
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: Security ML Analytics Settings resource name
        in: path
        name: settingsResourceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                etag:
                  description: Etag of the azure resource
                  type: string
                kind:
                  description: The kind of security ML Analytics Settings
                  enum:
                  - Anomaly
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: SecurityMLAnalyticsSettingsKind
                    values:
                    - value: Anomaly
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
              required:
              - kind
              discriminator:
                propertyName: kind
        description: The security ML Analytics setting
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  kind:
                    description: The kind of security ML Analytics Settings
                    enum:
                    - Anomaly
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: SecurityMLAnalyticsSettingsKind
                      values:
                      - value: Anomaly
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - kind
                discriminator:
                  propertyName: kind
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  kind:
                    description: The kind of security ML Analytics Settings
                    enum:
                    - Anomaly
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: SecurityMLAnalyticsSettingsKind
                      values:
                      - value: Anomaly
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - kind
                discriminator:
                  propertyName: kind
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
    delete:
      tags:
      - Security ML Analytics Settings
      description: Delete the Security ML Analytics Settings.
      operationId: SecurityMLAnalyticsSettings_Delete
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: Security ML Analytics Settings resource name
        in: path
        name: settingsResourceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
components:
  parameters:
    SettingsResourceName:
      description: Security ML Analytics Settings resource name
      in: path
      name: settingsResourceName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    WorkspaceName:
      description: The name of the workspace.
      in: path
      name: workspaceName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    SecurityMLAnalyticsSetting:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        etag:
          description: Etag of the azure resource
          type: string
        kind:
          description: The kind of security ML Analytics Settings
          enum:
          - Anomaly
          type: string
          x-ms-enum:
            modelAsString: true
            name: SecurityMLAnalyticsSettingsKind
            values:
            - value: Anomaly
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
      required:
      - kind
      discriminator:
        propertyName: kind
    SecurityMLAnalyticsSettingsKindEnum:
      description: The kind of security ML analytics settings
      enum:
      - Anomaly
      type: string
      x-ms-enum:
        modelAsString: true
        name: SecurityMLAnalyticsSettingsKind
        values:
        - value: Anomaly
    SecurityMLAnalyticsSettingsList:
      description: List all the SecurityMLAnalyticsSettings
      properties:
        nextLink:
          description: URL to fetch the next set of SecurityMLAnalyticsSettings.
          readOnly: true
          type: string
        value:
          description: Array of SecurityMLAnalyticsSettings
          items:
            type: object
            properties:
              id:
                type: string
                format: arm-id
                description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                readOnly: true
              name:
                type: string
                description: The name of the resource
                readOnly: true
              type:
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
                readOnly: true
              systemData:
                description: Azure Resource Manager metadata containing createdBy
                  and modifiedBy information.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              etag:
                description: Etag of the azure resource
                type: string
              kind:
                description: The kind of security ML Analytics Settings
                enum:
                - Anomaly
                type: string
                x-ms-enum:
                  modelAsString: true
                  name: SecurityMLAnalyticsSettingsKind
                  values:
                  - value: Anomaly
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
            required:
            - kind
            discriminator:
              propertyName: kind
          type: array
      type: object
      required:
      - value
    AnomalySecurityMLAnalyticsSettings:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        etag:
          description: Etag of the azure resource
          type: string
        kind:
          description: The kind of security ML Analytics Settings
          enum:
          - Anomaly
          type: string
          x-ms-enum:
            modelAsString: true
            name: SecurityMLAnalyticsSettingsKind
            values:
            - value: Anomaly
        properties:
          description: Anomaly Security ML Analytics Settings properties
          x-ms-client-flatten: true
          properties:
            description:
              description: The description of the SecurityMLAnalyticsSettings.
              type: string
            displayName:
              description: The display name for settings created by this SecurityMLAnalyticsSettings.
              type: string
            enabled:
              description: Determines whether this settings is enabled or disabled.
              type: boolean
            lastModifiedUtc:
              description: The last time that this SecurityMLAnalyticsSettings has
                been modified.
              format: date-time
              readOnly: true
              type: string
            requiredDataConnectors:
              description: The required data sources for this SecurityMLAnalyticsSettings
              items:
                description: security ml analytics settings data sources
                properties:
                  connectorId:
                    description: The connector id that provides the following data
                      types
                    type: string
                  dataTypes:
                    description: The data types used by the security ml analytics
                      settings
                    items:
                      type: string
                    type: array
                type: object
              x-ms-identifiers:
              - connectorId
              type: array
            tactics:
              description: The tactics of the SecurityMLAnalyticsSettings
              items:
                description: The severity for alerts created by this alert rule.
                enum:
                - Reconnaissance
                - ResourceDevelopment
                - InitialAccess
                - Execution
                - Persistence
                - PrivilegeEscalation
                - DefenseEvasion
                - CredentialAccess
                - Discovery
                - LateralMovement
                - Collection
                - Exfiltration
                - CommandAndControl
                - Impact
                - PreAttack
                - ImpairProcessControl
                - InhibitResponseFunction
                type: string
                x-ms-enum:
                  modelAsString: true
                  name: AttackTactic
              type: array
            techniques:
              description: The techniques of the SecurityMLAnalyticsSettings
              items:
                type: string
              type: array
            anomalyVersion:
              description: The anomaly version of the AnomalySecurityMLAnalyticsSettings.
              type: string
            customizableObservations:
              description: The customizable observations of the AnomalySecurityMLAnalyticsSettings.
              type: object
            frequency:
              description: The frequency that this SecurityMLAnalyticsSettings will
                be run.
              format: duration
              type: string
            settingsStatus:
              description: The anomaly SecurityMLAnalyticsSettings status
              enum:
              - Production
              - Flighting
              type: string
              x-ms-enum:
                name: SettingsStatus
                modelAsString: true
                values:
                - description: Anomaly settings status in Production mode
                  value: Production
                - description: Anomaly settings status in Flighting mode
                  value: Flighting
            isDefaultSettings:
              description: Determines whether this anomaly security ml analytics settings
                is a default settings
              type: boolean
            anomalySettingsVersion:
              description: The anomaly settings version of the Anomaly security ml
                analytics settings that dictates whether job version gets updated
                or not.
              type: integer
              format: int32
            settingsDefinitionId:
              description: The anomaly settings definition Id
              format: uuid
              type: string
          required:
          - displayName
          - enabled
          - anomalyVersion
          - frequency
          - settingsStatus
          - isDefaultSettings
          type: object
      required:
      - kind
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      discriminator:
        propertyName: kind
      x-ms-azure-resource: true
      x-ms-discriminator-value: Anomaly
    AnomalySecurityMLAnalyticsSettingsProperties:
      description: AnomalySecurityMLAnalytics settings base property bag.
      properties:
        description:
          description: The description of the SecurityMLAnalyticsSettings.
          type: string
        displayName:
          description: The display name for settings created by this SecurityMLAnalyticsSettings.
          type: string
        enabled:
          description: Determines whether this settings is enabled or disabled.
          type: boolean
        lastModifiedUtc:
          description: The last time that this SecurityMLAnalyticsSettings has been
            modified.
          format: date-time
          readOnly: true
          type: string
        requiredDataConnectors:
          description: The required data sources for this SecurityMLAnalyticsSettings
          items:
            description: security ml analytics settings data sources
            properties:
              connectorId:
                description: The connector id that provides the following data types
                type: string
              dataTypes:
                description: The data types used by the security ml analytics settings
                items:
                  type: string
                type: array
            type: object
          x-ms-identifiers:
          - connectorId
          type: array
        tactics:
          description: The tactics of the SecurityMLAnalyticsSettings
          items:
            description: The severity for alerts created by this alert rule.
            enum:
            - Reconnaissance
            - ResourceDevelopment
            - InitialAccess
            - Execution
            - Persistence
            - PrivilegeEscalation
            - DefenseEvasion
            - CredentialAccess
            - Discovery
            - LateralMovement
            - Collection
            - Exfiltration
            - CommandAndControl
            - Impact
            - PreAttack
            - ImpairProcessControl
            - InhibitResponseFunction
            type: string
            x-ms-enum:
              modelAsString: true
              name: AttackTactic
          type: array
        techniques:
          description: The techniques of the SecurityMLAnalyticsSettings
          items:
            type: string
          type: array
        anomalyVersion:
          description: The anomaly version of the AnomalySecurityMLAnalyticsSettings.
          type: string
        customizableObservations:
          description: The customizable observations of the AnomalySecurityMLAnalyticsSettings.
          type: object
        frequency:
          description: The frequency that this SecurityMLAnalyticsSettings will be
            run.
          format: duration
          type: string
        settingsStatus:
          description: The anomaly SecurityMLAnalyticsSettings status
          enum:
          - Production
          - Flighting
          type: string
          x-ms-enum:
            name: SettingsStatus
            modelAsString: true
            values:
            - description: Anomaly settings status in Production mode
              value: Production
            - description: Anomaly settings status in Flighting mode
              value: Flighting
        isDefaultSettings:
          description: Determines whether this anomaly security ml analytics settings
            is a default settings
          type: boolean
        anomalySettingsVersion:
          description: The anomaly settings version of the Anomaly security ml analytics
            settings that dictates whether job version gets updated or not.
          type: integer
          format: int32
        settingsDefinitionId:
          description: The anomaly settings definition Id
          format: uuid
          type: string
      required:
      - displayName
      - enabled
      - anomalyVersion
      - frequency
      - settingsStatus
      - isDefaultSettings
      type: object
    SecurityMLAnalyticsSettingsDataSource:
      description: security ml analytics settings data sources
      properties:
        connectorId:
          description: The connector id that provides the following data types
          type: string
        dataTypes:
          description: The data types used by the security ml analytics settings
          items:
            type: string
          type: array
      type: object
    AnomalySecurityMLAnalyticsSettingsStatus:
      description: The anomaly SecurityMLAnalyticsSettings status
      enum:
      - Production
      - Flighting
      type: string
      x-ms-enum:
        name: SettingsStatus
        modelAsString: true
        values:
        - description: Anomaly settings status in Production mode
          value: Production
        - description: Anomaly settings status in Flighting mode
          value: Flighting
    CloudErrorBody:
      x-ms-external: true
      description: Error details.
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
          readOnly: true
          type: string
        message:
          description: A message describing the error, intended to be suitable for
            display in a user interface.
          readOnly: true
          type: string
      type: object
    CloudError:
      description: Error response structure.
      x-ms-external: true
      properties:
        error:
          description: Error data
          x-ms-external: true
          properties:
            code:
              description: An identifier for the error. Codes are invariant and are
                intended to be consumed programmatically.
              readOnly: true
              type: string
            message:
              description: A message describing the error, intended to be suitable
                for display in a user interface.
              readOnly: true
              type: string
          type: object
      type: object
    systemData:
      type: object
      description: Metadata pertaining to creation and last modification of the resource.
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
      readOnly: true
    Resource:
      type: object
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      x-ms-azure-resource: true
    ResourceWithEtag:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        etag:
          description: Etag of the azure resource
          type: string
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    AttackTactic:
      description: The severity for alerts created by this alert rule.
      enum:
      - Reconnaissance
      - ResourceDevelopment
      - InitialAccess
      - Execution
      - Persistence
      - PrivilegeEscalation
      - DefenseEvasion
      - CredentialAccess
      - Discovery
      - LateralMovement
      - Collection
      - Exfiltration
      - CommandAndControl
      - Impact
      - PreAttack
      - ImpairProcessControl
      - InhibitResponseFunction
      type: string
      x-ms-enum:
        modelAsString: true
        name: AttackTactic
