openapi: 3.0.0
info:
  title: Security Insights
  description: API spec for Microsoft.SecurityInsights (Azure Security Insights) resource
    provider
  version: 2025-06-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/listRepositories
  : post:
      tags:
      - Repositories
      description: Gets a list of repositories metadata.
      operationId: SourceControl_listRepositories
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      requestBody:
        content:
          application/json:
            schema:
              required:
              - repositoryAccess
              description: Credentials to access repository.
              type: object
              properties:
                properties:
                  description: RepositoryAccess properties
                  x-ms-client-flatten: true
                  type: object
                  required:
                  - repositoryAccess
                  properties:
                    repositoryAccess:
                      description: RepositoryAccess properties
                      x-ms-client-flatten: true
                      type: object
                      required:
                      - kind
                      properties:
                        kind:
                          description: The kind of repository access credentials
                          enum:
                          - OAuth
                          - PAT
                          - App
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: RepositoryAccessKind
                            values:
                            - value: OAuth
                            - value: PAT
                            - value: App
                        code:
                          x-ms-secret: true
                          type: string
                          description: OAuth Code. Required when `kind` is `OAuth`
                        state:
                          x-ms-secret: true
                          type: string
                          description: OAuth State. Required when `kind` is `OAuth`
                        clientId:
                          type: string
                          description: OAuth ClientId. Required when `kind` is `OAuth`
                        token:
                          x-ms-secret: true
                          type: string
                          description: Personal Access Token. Required when `kind`
                            is `PAT`
                        installationId:
                          type: string
                          description: Application installation ID. Required when
                            `kind` is `App`. Supported by `GitHub` only.
        description: The repository access credentials.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List all the source controls.
                properties:
                  nextLink:
                    description: URL to fetch the next set of repositories.
                    readOnly: true
                    type: string
                  value:
                    description: Array of repositories.
                    items:
                      description: Represents a repository.
                      properties:
                        url:
                          description: The url to access the repository.
                          type: string
                        fullName:
                          description: The name of the repository.
                          type: string
                        installationId:
                          description: The installation id of the repository.
                          type: integer
                          format: int64
                        branches:
                          description: Array of branches.
                          items:
                            description: name of branch.
                            type: string
                          type: array
                      x-ms-azure-resource: false
                      type: object
                    type: array
                    x-ms-identifiers: []
                required:
                - value
                type: object
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/sourcecontrols
  : get:
      tags:
      - SourceControls
      description: Gets all source controls, without source control items.
      operationId: SourceControls_List
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List all the source controls.
                properties:
                  nextLink:
                    description: URL to fetch the next set of source controls.
                    readOnly: true
                    type: string
                  value:
                    description: Array of source controls.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        etag:
                          description: Etag of the azure resource
                          type: string
                        properties:
                          description: source control properties
                          x-ms-client-flatten: true
                          properties:
                            id:
                              description: The id (a Guid) of the source control
                              type: string
                              readOnly: true
                            version:
                              description: The version number associated with the
                                source control
                              type: string
                              readOnly: true
                              enum:
                              - V1
                              - V2
                              x-ms-enum:
                                modelAsString: true
                                name: Version
                                values:
                                - value: V1
                                - value: V2
                            displayName:
                              description: The display name of the source control
                              type: string
                            description:
                              description: A description of the source control
                              type: string
                            repoType:
                              description: The repository type of the source control
                              type: string
                              enum:
                              - Github
                              - AzureDevOps
                              x-ms-enum:
                                modelAsString: true
                                name: RepoType
                                values:
                                - value: Github
                                - value: AzureDevOps
                            contentTypes:
                              description: Array of source control content types.
                              items:
                                description: The content type of a source control
                                  path.
                                enum:
                                - AnalyticsRule
                                - AutomationRule
                                - HuntingQuery
                                - Parser
                                - Playbook
                                - Workbook
                                type: string
                                x-ms-enum:
                                  modelAsString: true
                                  name: ContentType
                                  values:
                                  - value: AnalyticsRule
                                  - value: AutomationRule
                                  - value: HuntingQuery
                                  - value: Parser
                                  - value: Playbook
                                  - value: Workbook
                              type: array
                            repository:
                              description: Repository metadata.
                              type: object
                              required:
                              - url
                              - branch
                              properties:
                                url:
                                  description: Url of repository.
                                  type: string
                                branch:
                                  description: Branch name of repository.
                                  type: string
                                displayUrl:
                                  description: Display url of repository.
                                  type: string
                                deploymentLogsUrl:
                                  description: Url to access repository action logs.
                                  type: string
                                  readOnly: true
                            servicePrincipal:
                              description: Service principal metadata.
                              type: object
                              properties:
                                id:
                                  description: Id of service principal.
                                  type: string
                                  readOnly: true
                                tenantId:
                                  description: Tenant id of service principal.
                                  type: string
                                  readOnly: true
                                appId:
                                  description: App id of service principal.
                                  type: string
                                  readOnly: true
                                credentialsExpireOn:
                                  format: date-time
                                  description: Expiration time of service principal
                                    credentials.
                                  type: string
                            workloadIdentityFederation:
                              description: Workload Identity metadata.
                              readOnly: true
                              type: object
                              properties:
                                id:
                                  description: Id of Workload Identity Federation.
                                  type: string
                                  readOnly: true
                                tenantId:
                                  description: Tenant id of Workload Identity Federation.
                                  type: string
                                  readOnly: true
                                appId:
                                  description: App id of Workload Identity Federation.
                                  type: string
                                  readOnly: true
                                subject:
                                  description: Subject of Workload Identity Federation.
                                  type: string
                                  readOnly: true
                                issuer:
                                  description: Issuer of Workload Identity Federation.
                                  type: string
                                  readOnly: true
                            repositoryAccess:
                              description: Repository access credentials. This is
                                write-only object and it never returns back to a user.
                              x-ms-mutability:
                              - create
                              - update
                              type: object
                              required:
                              - kind
                              properties:
                                kind:
                                  description: The kind of repository access credentials
                                  enum:
                                  - OAuth
                                  - PAT
                                  - App
                                  type: string
                                  x-ms-enum:
                                    modelAsString: true
                                    name: RepositoryAccessKind
                                    values:
                                    - value: OAuth
                                    - value: PAT
                                    - value: App
                                code:
                                  x-ms-secret: true
                                  type: string
                                  description: OAuth Code. Required when `kind` is
                                    `OAuth`
                                state:
                                  x-ms-secret: true
                                  type: string
                                  description: OAuth State. Required when `kind` is
                                    `OAuth`
                                clientId:
                                  type: string
                                  description: OAuth ClientId. Required when `kind`
                                    is `OAuth`
                                token:
                                  x-ms-secret: true
                                  type: string
                                  description: Personal Access Token. Required when
                                    `kind` is `PAT`
                                installationId:
                                  type: string
                                  description: Application installation ID. Required
                                    when `kind` is `App`. Supported by `GitHub` only.
                            repositoryResourceInfo:
                              description: Information regarding the resources created
                                in user's repository.
                              type: object
                              properties:
                                webhook:
                                  type: object
                                  description: The webhook object created for the
                                    source-control.
                                  properties:
                                    webhookId:
                                      description: Unique identifier for the webhook.
                                      type: string
                                      readOnly: true
                                    webhookUrl:
                                      description: URL that gets invoked by the webhook.
                                      type: string
                                      readOnly: true
                                    webhookSecretUpdateTime:
                                      format: date-time
                                      description: Time when the webhook secret was
                                        updated.
                                      type: string
                                      readOnly: true
                                    rotateWebhookSecret:
                                      description: A flag to instruct the backend
                                        service to rotate webhook secret.
                                      type: boolean
                                gitHubResourceInfo:
                                  type: object
                                  description: Resources created in GitHub for this
                                    source-control.
                                  readOnly: true
                                  properties:
                                    appInstallationId:
                                      description: GitHub application installation
                                        id.
                                      type: string
                                azureDevOpsResourceInfo:
                                  type: object
                                  description: Resources created in Azure DevOps for
                                    this source-control.
                                  readOnly: true
                                  properties:
                                    pipelineId:
                                      description: Id of the pipeline created for
                                        the source-control.
                                      type: string
                                    serviceConnectionId:
                                      description: Id of the service-connection created
                                        for the source-control.
                                      type: string
                            lastDeploymentInfo:
                              description: Information regarding the latest deployment
                                for the source control.
                              readOnly: true
                              type: object
                              properties:
                                deploymentFetchStatus:
                                  description: Status while fetching the last deployment.
                                  type: string
                                  enum:
                                  - Success
                                  - Unauthorized
                                  - NotFound
                                  x-ms-enum:
                                    modelAsString: true
                                    name: DeploymentFetchStatus
                                    values:
                                    - value: Success
                                    - value: Unauthorized
                                    - value: NotFound
                                deployment:
                                  description: Deployment information.
                                  type: object
                                  properties:
                                    deploymentId:
                                      description: Deployment identifier.
                                      type: string
                                    deploymentState:
                                      description: Current status of the deployment.
                                      type: string
                                      enum:
                                      - In_Progress
                                      - Completed
                                      - Queued
                                      - Canceling
                                      x-ms-enum:
                                        modelAsString: true
                                        name: DeploymentState
                                        values:
                                        - value: In_Progress
                                        - value: Completed
                                        - value: Queued
                                        - value: Canceling
                                    deploymentResult:
                                      description: The outcome of the deployment.
                                      type: string
                                      enum:
                                      - Success
                                      - Canceled
                                      - Failed
                                      x-ms-enum:
                                        modelAsString: true
                                        name: DeploymentResult
                                        values:
                                        - value: Success
                                        - value: Canceled
                                        - value: Failed
                                    deploymentTime:
                                      format: date-time
                                      description: The time when the deployment finished.
                                      type: string
                                    deploymentLogsUrl:
                                      description: Url to access repository action
                                        logs.
                                      type: string
                                message:
                                  description: Additional details about the deployment
                                    that can be shown to the user.
                                  type: string
                            pullRequest:
                              description: Information regarding the pull request
                                of the source control.
                              readOnly: true
                              type: object
                              properties:
                                url:
                                  description: URL of pull request
                                  type: string
                                  readOnly: true
                                state:
                                  description: State of the pull request
                                  type: object
                                  readOnly: true
                                  enum:
                                  - Open
                                  - Closed
                                  x-ms-enum:
                                    modelAsString: true
                                    name: state
                                    values:
                                    - value: Open
                                    - value: Closed
                          required:
                          - displayName
                          - repoType
                          - contentTypes
                          - repository
                          type: object
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - properties
                    type: array
                required:
                - value
                type: object
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/sourcecontrols/{sourceControlId}
  : get:
      tags:
      - SourceControls
      description: Gets a source control byt its identifier.
      operationId: SourceControls_Get
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: Source control Id
        in: path
        name: sourceControlId
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  properties:
                    description: source control properties
                    x-ms-client-flatten: true
                    properties:
                      id:
                        description: The id (a Guid) of the source control
                        type: string
                        readOnly: true
                      version:
                        description: The version number associated with the source
                          control
                        type: string
                        readOnly: true
                        enum:
                        - V1
                        - V2
                        x-ms-enum:
                          modelAsString: true
                          name: Version
                          values:
                          - value: V1
                          - value: V2
                      displayName:
                        description: The display name of the source control
                        type: string
                      description:
                        description: A description of the source control
                        type: string
                      repoType:
                        description: The repository type of the source control
                        type: string
                        enum:
                        - Github
                        - AzureDevOps
                        x-ms-enum:
                          modelAsString: true
                          name: RepoType
                          values:
                          - value: Github
                          - value: AzureDevOps
                      contentTypes:
                        description: Array of source control content types.
                        items:
                          description: The content type of a source control path.
                          enum:
                          - AnalyticsRule
                          - AutomationRule
                          - HuntingQuery
                          - Parser
                          - Playbook
                          - Workbook
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: ContentType
                            values:
                            - value: AnalyticsRule
                            - value: AutomationRule
                            - value: HuntingQuery
                            - value: Parser
                            - value: Playbook
                            - value: Workbook
                        type: array
                      repository:
                        description: Repository metadata.
                        type: object
                        required:
                        - url
                        - branch
                        properties:
                          url:
                            description: Url of repository.
                            type: string
                          branch:
                            description: Branch name of repository.
                            type: string
                          displayUrl:
                            description: Display url of repository.
                            type: string
                          deploymentLogsUrl:
                            description: Url to access repository action logs.
                            type: string
                            readOnly: true
                      servicePrincipal:
                        description: Service principal metadata.
                        type: object
                        properties:
                          id:
                            description: Id of service principal.
                            type: string
                            readOnly: true
                          tenantId:
                            description: Tenant id of service principal.
                            type: string
                            readOnly: true
                          appId:
                            description: App id of service principal.
                            type: string
                            readOnly: true
                          credentialsExpireOn:
                            format: date-time
                            description: Expiration time of service principal credentials.
                            type: string
                      workloadIdentityFederation:
                        description: Workload Identity metadata.
                        readOnly: true
                        type: object
                        properties:
                          id:
                            description: Id of Workload Identity Federation.
                            type: string
                            readOnly: true
                          tenantId:
                            description: Tenant id of Workload Identity Federation.
                            type: string
                            readOnly: true
                          appId:
                            description: App id of Workload Identity Federation.
                            type: string
                            readOnly: true
                          subject:
                            description: Subject of Workload Identity Federation.
                            type: string
                            readOnly: true
                          issuer:
                            description: Issuer of Workload Identity Federation.
                            type: string
                            readOnly: true
                      repositoryAccess:
                        description: Repository access credentials. This is write-only
                          object and it never returns back to a user.
                        x-ms-mutability:
                        - create
                        - update
                        type: object
                        required:
                        - kind
                        properties:
                          kind:
                            description: The kind of repository access credentials
                            enum:
                            - OAuth
                            - PAT
                            - App
                            type: string
                            x-ms-enum:
                              modelAsString: true
                              name: RepositoryAccessKind
                              values:
                              - value: OAuth
                              - value: PAT
                              - value: App
                          code:
                            x-ms-secret: true
                            type: string
                            description: OAuth Code. Required when `kind` is `OAuth`
                          state:
                            x-ms-secret: true
                            type: string
                            description: OAuth State. Required when `kind` is `OAuth`
                          clientId:
                            type: string
                            description: OAuth ClientId. Required when `kind` is `OAuth`
                          token:
                            x-ms-secret: true
                            type: string
                            description: Personal Access Token. Required when `kind`
                              is `PAT`
                          installationId:
                            type: string
                            description: Application installation ID. Required when
                              `kind` is `App`. Supported by `GitHub` only.
                      repositoryResourceInfo:
                        description: Information regarding the resources created in
                          user's repository.
                        type: object
                        properties:
                          webhook:
                            type: object
                            description: The webhook object created for the source-control.
                            properties:
                              webhookId:
                                description: Unique identifier for the webhook.
                                type: string
                                readOnly: true
                              webhookUrl:
                                description: URL that gets invoked by the webhook.
                                type: string
                                readOnly: true
                              webhookSecretUpdateTime:
                                format: date-time
                                description: Time when the webhook secret was updated.
                                type: string
                                readOnly: true
                              rotateWebhookSecret:
                                description: A flag to instruct the backend service
                                  to rotate webhook secret.
                                type: boolean
                          gitHubResourceInfo:
                            type: object
                            description: Resources created in GitHub for this source-control.
                            readOnly: true
                            properties:
                              appInstallationId:
                                description: GitHub application installation id.
                                type: string
                          azureDevOpsResourceInfo:
                            type: object
                            description: Resources created in Azure DevOps for this
                              source-control.
                            readOnly: true
                            properties:
                              pipelineId:
                                description: Id of the pipeline created for the source-control.
                                type: string
                              serviceConnectionId:
                                description: Id of the service-connection created
                                  for the source-control.
                                type: string
                      lastDeploymentInfo:
                        description: Information regarding the latest deployment for
                          the source control.
                        readOnly: true
                        type: object
                        properties:
                          deploymentFetchStatus:
                            description: Status while fetching the last deployment.
                            type: string
                            enum:
                            - Success
                            - Unauthorized
                            - NotFound
                            x-ms-enum:
                              modelAsString: true
                              name: DeploymentFetchStatus
                              values:
                              - value: Success
                              - value: Unauthorized
                              - value: NotFound
                          deployment:
                            description: Deployment information.
                            type: object
                            properties:
                              deploymentId:
                                description: Deployment identifier.
                                type: string
                              deploymentState:
                                description: Current status of the deployment.
                                type: string
                                enum:
                                - In_Progress
                                - Completed
                                - Queued
                                - Canceling
                                x-ms-enum:
                                  modelAsString: true
                                  name: DeploymentState
                                  values:
                                  - value: In_Progress
                                  - value: Completed
                                  - value: Queued
                                  - value: Canceling
                              deploymentResult:
                                description: The outcome of the deployment.
                                type: string
                                enum:
                                - Success
                                - Canceled
                                - Failed
                                x-ms-enum:
                                  modelAsString: true
                                  name: DeploymentResult
                                  values:
                                  - value: Success
                                  - value: Canceled
                                  - value: Failed
                              deploymentTime:
                                format: date-time
                                description: The time when the deployment finished.
                                type: string
                              deploymentLogsUrl:
                                description: Url to access repository action logs.
                                type: string
                          message:
                            description: Additional details about the deployment that
                              can be shown to the user.
                            type: string
                      pullRequest:
                        description: Information regarding the pull request of the
                          source control.
                        readOnly: true
                        type: object
                        properties:
                          url:
                            description: URL of pull request
                            type: string
                            readOnly: true
                          state:
                            description: State of the pull request
                            type: object
                            readOnly: true
                            enum:
                            - Open
                            - Closed
                            x-ms-enum:
                              modelAsString: true
                              name: state
                              values:
                              - value: Open
                              - value: Closed
                    required:
                    - displayName
                    - repoType
                    - contentTypes
                    - repository
                    type: object
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - properties
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
    put:
      tags:
      - SourceControls
      description: Creates a source control.
      operationId: SourceControls_Create
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: Source control Id
        in: path
        name: sourceControlId
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                etag:
                  description: Etag of the azure resource
                  type: string
                properties:
                  description: source control properties
                  x-ms-client-flatten: true
                  properties:
                    id:
                      description: The id (a Guid) of the source control
                      type: string
                      readOnly: true
                    version:
                      description: The version number associated with the source control
                      type: string
                      readOnly: true
                      enum:
                      - V1
                      - V2
                      x-ms-enum:
                        modelAsString: true
                        name: Version
                        values:
                        - value: V1
                        - value: V2
                    displayName:
                      description: The display name of the source control
                      type: string
                    description:
                      description: A description of the source control
                      type: string
                    repoType:
                      description: The repository type of the source control
                      type: string
                      enum:
                      - Github
                      - AzureDevOps
                      x-ms-enum:
                        modelAsString: true
                        name: RepoType
                        values:
                        - value: Github
                        - value: AzureDevOps
                    contentTypes:
                      description: Array of source control content types.
                      items:
                        description: The content type of a source control path.
                        enum:
                        - AnalyticsRule
                        - AutomationRule
                        - HuntingQuery
                        - Parser
                        - Playbook
                        - Workbook
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: ContentType
                          values:
                          - value: AnalyticsRule
                          - value: AutomationRule
                          - value: HuntingQuery
                          - value: Parser
                          - value: Playbook
                          - value: Workbook
                      type: array
                    repository:
                      description: Repository metadata.
                      type: object
                      required:
                      - url
                      - branch
                      properties:
                        url:
                          description: Url of repository.
                          type: string
                        branch:
                          description: Branch name of repository.
                          type: string
                        displayUrl:
                          description: Display url of repository.
                          type: string
                        deploymentLogsUrl:
                          description: Url to access repository action logs.
                          type: string
                          readOnly: true
                    servicePrincipal:
                      description: Service principal metadata.
                      type: object
                      properties:
                        id:
                          description: Id of service principal.
                          type: string
                          readOnly: true
                        tenantId:
                          description: Tenant id of service principal.
                          type: string
                          readOnly: true
                        appId:
                          description: App id of service principal.
                          type: string
                          readOnly: true
                        credentialsExpireOn:
                          format: date-time
                          description: Expiration time of service principal credentials.
                          type: string
                    workloadIdentityFederation:
                      description: Workload Identity metadata.
                      readOnly: true
                      type: object
                      properties:
                        id:
                          description: Id of Workload Identity Federation.
                          type: string
                          readOnly: true
                        tenantId:
                          description: Tenant id of Workload Identity Federation.
                          type: string
                          readOnly: true
                        appId:
                          description: App id of Workload Identity Federation.
                          type: string
                          readOnly: true
                        subject:
                          description: Subject of Workload Identity Federation.
                          type: string
                          readOnly: true
                        issuer:
                          description: Issuer of Workload Identity Federation.
                          type: string
                          readOnly: true
                    repositoryAccess:
                      description: Repository access credentials. This is write-only
                        object and it never returns back to a user.
                      x-ms-mutability:
                      - create
                      - update
                      type: object
                      required:
                      - kind
                      properties:
                        kind:
                          description: The kind of repository access credentials
                          enum:
                          - OAuth
                          - PAT
                          - App
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: RepositoryAccessKind
                            values:
                            - value: OAuth
                            - value: PAT
                            - value: App
                        code:
                          x-ms-secret: true
                          type: string
                          description: OAuth Code. Required when `kind` is `OAuth`
                        state:
                          x-ms-secret: true
                          type: string
                          description: OAuth State. Required when `kind` is `OAuth`
                        clientId:
                          type: string
                          description: OAuth ClientId. Required when `kind` is `OAuth`
                        token:
                          x-ms-secret: true
                          type: string
                          description: Personal Access Token. Required when `kind`
                            is `PAT`
                        installationId:
                          type: string
                          description: Application installation ID. Required when
                            `kind` is `App`. Supported by `GitHub` only.
                    repositoryResourceInfo:
                      description: Information regarding the resources created in
                        user's repository.
                      type: object
                      properties:
                        webhook:
                          type: object
                          description: The webhook object created for the source-control.
                          properties:
                            webhookId:
                              description: Unique identifier for the webhook.
                              type: string
                              readOnly: true
                            webhookUrl:
                              description: URL that gets invoked by the webhook.
                              type: string
                              readOnly: true
                            webhookSecretUpdateTime:
                              format: date-time
                              description: Time when the webhook secret was updated.
                              type: string
                              readOnly: true
                            rotateWebhookSecret:
                              description: A flag to instruct the backend service
                                to rotate webhook secret.
                              type: boolean
                        gitHubResourceInfo:
                          type: object
                          description: Resources created in GitHub for this source-control.
                          readOnly: true
                          properties:
                            appInstallationId:
                              description: GitHub application installation id.
                              type: string
                        azureDevOpsResourceInfo:
                          type: object
                          description: Resources created in Azure DevOps for this
                            source-control.
                          readOnly: true
                          properties:
                            pipelineId:
                              description: Id of the pipeline created for the source-control.
                              type: string
                            serviceConnectionId:
                              description: Id of the service-connection created for
                                the source-control.
                              type: string
                    lastDeploymentInfo:
                      description: Information regarding the latest deployment for
                        the source control.
                      readOnly: true
                      type: object
                      properties:
                        deploymentFetchStatus:
                          description: Status while fetching the last deployment.
                          type: string
                          enum:
                          - Success
                          - Unauthorized
                          - NotFound
                          x-ms-enum:
                            modelAsString: true
                            name: DeploymentFetchStatus
                            values:
                            - value: Success
                            - value: Unauthorized
                            - value: NotFound
                        deployment:
                          description: Deployment information.
                          type: object
                          properties:
                            deploymentId:
                              description: Deployment identifier.
                              type: string
                            deploymentState:
                              description: Current status of the deployment.
                              type: string
                              enum:
                              - In_Progress
                              - Completed
                              - Queued
                              - Canceling
                              x-ms-enum:
                                modelAsString: true
                                name: DeploymentState
                                values:
                                - value: In_Progress
                                - value: Completed
                                - value: Queued
                                - value: Canceling
                            deploymentResult:
                              description: The outcome of the deployment.
                              type: string
                              enum:
                              - Success
                              - Canceled
                              - Failed
                              x-ms-enum:
                                modelAsString: true
                                name: DeploymentResult
                                values:
                                - value: Success
                                - value: Canceled
                                - value: Failed
                            deploymentTime:
                              format: date-time
                              description: The time when the deployment finished.
                              type: string
                            deploymentLogsUrl:
                              description: Url to access repository action logs.
                              type: string
                        message:
                          description: Additional details about the deployment that
                            can be shown to the user.
                          type: string
                    pullRequest:
                      description: Information regarding the pull request of the source
                        control.
                      readOnly: true
                      type: object
                      properties:
                        url:
                          description: URL of pull request
                          type: string
                          readOnly: true
                        state:
                          description: State of the pull request
                          type: object
                          readOnly: true
                          enum:
                          - Open
                          - Closed
                          x-ms-enum:
                            modelAsString: true
                            name: state
                            values:
                            - value: Open
                            - value: Closed
                  required:
                  - displayName
                  - repoType
                  - contentTypes
                  - repository
                  type: object
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
              required:
              - properties
        description: The SourceControl
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  properties:
                    description: source control properties
                    x-ms-client-flatten: true
                    properties:
                      id:
                        description: The id (a Guid) of the source control
                        type: string
                        readOnly: true
                      version:
                        description: The version number associated with the source
                          control
                        type: string
                        readOnly: true
                        enum:
                        - V1
                        - V2
                        x-ms-enum:
                          modelAsString: true
                          name: Version
                          values:
                          - value: V1
                          - value: V2
                      displayName:
                        description: The display name of the source control
                        type: string
                      description:
                        description: A description of the source control
                        type: string
                      repoType:
                        description: The repository type of the source control
                        type: string
                        enum:
                        - Github
                        - AzureDevOps
                        x-ms-enum:
                          modelAsString: true
                          name: RepoType
                          values:
                          - value: Github
                          - value: AzureDevOps
                      contentTypes:
                        description: Array of source control content types.
                        items:
                          description: The content type of a source control path.
                          enum:
                          - AnalyticsRule
                          - AutomationRule
                          - HuntingQuery
                          - Parser
                          - Playbook
                          - Workbook
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: ContentType
                            values:
                            - value: AnalyticsRule
                            - value: AutomationRule
                            - value: HuntingQuery
                            - value: Parser
                            - value: Playbook
                            - value: Workbook
                        type: array
                      repository:
                        description: Repository metadata.
                        type: object
                        required:
                        - url
                        - branch
                        properties:
                          url:
                            description: Url of repository.
                            type: string
                          branch:
                            description: Branch name of repository.
                            type: string
                          displayUrl:
                            description: Display url of repository.
                            type: string
                          deploymentLogsUrl:
                            description: Url to access repository action logs.
                            type: string
                            readOnly: true
                      servicePrincipal:
                        description: Service principal metadata.
                        type: object
                        properties:
                          id:
                            description: Id of service principal.
                            type: string
                            readOnly: true
                          tenantId:
                            description: Tenant id of service principal.
                            type: string
                            readOnly: true
                          appId:
                            description: App id of service principal.
                            type: string
                            readOnly: true
                          credentialsExpireOn:
                            format: date-time
                            description: Expiration time of service principal credentials.
                            type: string
                      workloadIdentityFederation:
                        description: Workload Identity metadata.
                        readOnly: true
                        type: object
                        properties:
                          id:
                            description: Id of Workload Identity Federation.
                            type: string
                            readOnly: true
                          tenantId:
                            description: Tenant id of Workload Identity Federation.
                            type: string
                            readOnly: true
                          appId:
                            description: App id of Workload Identity Federation.
                            type: string
                            readOnly: true
                          subject:
                            description: Subject of Workload Identity Federation.
                            type: string
                            readOnly: true
                          issuer:
                            description: Issuer of Workload Identity Federation.
                            type: string
                            readOnly: true
                      repositoryAccess:
                        description: Repository access credentials. This is write-only
                          object and it never returns back to a user.
                        x-ms-mutability:
                        - create
                        - update
                        type: object
                        required:
                        - kind
                        properties:
                          kind:
                            description: The kind of repository access credentials
                            enum:
                            - OAuth
                            - PAT
                            - App
                            type: string
                            x-ms-enum:
                              modelAsString: true
                              name: RepositoryAccessKind
                              values:
                              - value: OAuth
                              - value: PAT
                              - value: App
                          code:
                            x-ms-secret: true
                            type: string
                            description: OAuth Code. Required when `kind` is `OAuth`
                          state:
                            x-ms-secret: true
                            type: string
                            description: OAuth State. Required when `kind` is `OAuth`
                          clientId:
                            type: string
                            description: OAuth ClientId. Required when `kind` is `OAuth`
                          token:
                            x-ms-secret: true
                            type: string
                            description: Personal Access Token. Required when `kind`
                              is `PAT`
                          installationId:
                            type: string
                            description: Application installation ID. Required when
                              `kind` is `App`. Supported by `GitHub` only.
                      repositoryResourceInfo:
                        description: Information regarding the resources created in
                          user's repository.
                        type: object
                        properties:
                          webhook:
                            type: object
                            description: The webhook object created for the source-control.
                            properties:
                              webhookId:
                                description: Unique identifier for the webhook.
                                type: string
                                readOnly: true
                              webhookUrl:
                                description: URL that gets invoked by the webhook.
                                type: string
                                readOnly: true
                              webhookSecretUpdateTime:
                                format: date-time
                                description: Time when the webhook secret was updated.
                                type: string
                                readOnly: true
                              rotateWebhookSecret:
                                description: A flag to instruct the backend service
                                  to rotate webhook secret.
                                type: boolean
                          gitHubResourceInfo:
                            type: object
                            description: Resources created in GitHub for this source-control.
                            readOnly: true
                            properties:
                              appInstallationId:
                                description: GitHub application installation id.
                                type: string
                          azureDevOpsResourceInfo:
                            type: object
                            description: Resources created in Azure DevOps for this
                              source-control.
                            readOnly: true
                            properties:
                              pipelineId:
                                description: Id of the pipeline created for the source-control.
                                type: string
                              serviceConnectionId:
                                description: Id of the service-connection created
                                  for the source-control.
                                type: string
                      lastDeploymentInfo:
                        description: Information regarding the latest deployment for
                          the source control.
                        readOnly: true
                        type: object
                        properties:
                          deploymentFetchStatus:
                            description: Status while fetching the last deployment.
                            type: string
                            enum:
                            - Success
                            - Unauthorized
                            - NotFound
                            x-ms-enum:
                              modelAsString: true
                              name: DeploymentFetchStatus
                              values:
                              - value: Success
                              - value: Unauthorized
                              - value: NotFound
                          deployment:
                            description: Deployment information.
                            type: object
                            properties:
                              deploymentId:
                                description: Deployment identifier.
                                type: string
                              deploymentState:
                                description: Current status of the deployment.
                                type: string
                                enum:
                                - In_Progress
                                - Completed
                                - Queued
                                - Canceling
                                x-ms-enum:
                                  modelAsString: true
                                  name: DeploymentState
                                  values:
                                  - value: In_Progress
                                  - value: Completed
                                  - value: Queued
                                  - value: Canceling
                              deploymentResult:
                                description: The outcome of the deployment.
                                type: string
                                enum:
                                - Success
                                - Canceled
                                - Failed
                                x-ms-enum:
                                  modelAsString: true
                                  name: DeploymentResult
                                  values:
                                  - value: Success
                                  - value: Canceled
                                  - value: Failed
                              deploymentTime:
                                format: date-time
                                description: The time when the deployment finished.
                                type: string
                              deploymentLogsUrl:
                                description: Url to access repository action logs.
                                type: string
                          message:
                            description: Additional details about the deployment that
                              can be shown to the user.
                            type: string
                      pullRequest:
                        description: Information regarding the pull request of the
                          source control.
                        readOnly: true
                        type: object
                        properties:
                          url:
                            description: URL of pull request
                            type: string
                            readOnly: true
                          state:
                            description: State of the pull request
                            type: object
                            readOnly: true
                            enum:
                            - Open
                            - Closed
                            x-ms-enum:
                              modelAsString: true
                              name: state
                              values:
                              - value: Open
                              - value: Closed
                    required:
                    - displayName
                    - repoType
                    - contentTypes
                    - repository
                    type: object
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - properties
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  properties:
                    description: source control properties
                    x-ms-client-flatten: true
                    properties:
                      id:
                        description: The id (a Guid) of the source control
                        type: string
                        readOnly: true
                      version:
                        description: The version number associated with the source
                          control
                        type: string
                        readOnly: true
                        enum:
                        - V1
                        - V2
                        x-ms-enum:
                          modelAsString: true
                          name: Version
                          values:
                          - value: V1
                          - value: V2
                      displayName:
                        description: The display name of the source control
                        type: string
                      description:
                        description: A description of the source control
                        type: string
                      repoType:
                        description: The repository type of the source control
                        type: string
                        enum:
                        - Github
                        - AzureDevOps
                        x-ms-enum:
                          modelAsString: true
                          name: RepoType
                          values:
                          - value: Github
                          - value: AzureDevOps
                      contentTypes:
                        description: Array of source control content types.
                        items:
                          description: The content type of a source control path.
                          enum:
                          - AnalyticsRule
                          - AutomationRule
                          - HuntingQuery
                          - Parser
                          - Playbook
                          - Workbook
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: ContentType
                            values:
                            - value: AnalyticsRule
                            - value: AutomationRule
                            - value: HuntingQuery
                            - value: Parser
                            - value: Playbook
                            - value: Workbook
                        type: array
                      repository:
                        description: Repository metadata.
                        type: object
                        required:
                        - url
                        - branch
                        properties:
                          url:
                            description: Url of repository.
                            type: string
                          branch:
                            description: Branch name of repository.
                            type: string
                          displayUrl:
                            description: Display url of repository.
                            type: string
                          deploymentLogsUrl:
                            description: Url to access repository action logs.
                            type: string
                            readOnly: true
                      servicePrincipal:
                        description: Service principal metadata.
                        type: object
                        properties:
                          id:
                            description: Id of service principal.
                            type: string
                            readOnly: true
                          tenantId:
                            description: Tenant id of service principal.
                            type: string
                            readOnly: true
                          appId:
                            description: App id of service principal.
                            type: string
                            readOnly: true
                          credentialsExpireOn:
                            format: date-time
                            description: Expiration time of service principal credentials.
                            type: string
                      workloadIdentityFederation:
                        description: Workload Identity metadata.
                        readOnly: true
                        type: object
                        properties:
                          id:
                            description: Id of Workload Identity Federation.
                            type: string
                            readOnly: true
                          tenantId:
                            description: Tenant id of Workload Identity Federation.
                            type: string
                            readOnly: true
                          appId:
                            description: App id of Workload Identity Federation.
                            type: string
                            readOnly: true
                          subject:
                            description: Subject of Workload Identity Federation.
                            type: string
                            readOnly: true
                          issuer:
                            description: Issuer of Workload Identity Federation.
                            type: string
                            readOnly: true
                      repositoryAccess:
                        description: Repository access credentials. This is write-only
                          object and it never returns back to a user.
                        x-ms-mutability:
                        - create
                        - update
                        type: object
                        required:
                        - kind
                        properties:
                          kind:
                            description: The kind of repository access credentials
                            enum:
                            - OAuth
                            - PAT
                            - App
                            type: string
                            x-ms-enum:
                              modelAsString: true
                              name: RepositoryAccessKind
                              values:
                              - value: OAuth
                              - value: PAT
                              - value: App
                          code:
                            x-ms-secret: true
                            type: string
                            description: OAuth Code. Required when `kind` is `OAuth`
                          state:
                            x-ms-secret: true
                            type: string
                            description: OAuth State. Required when `kind` is `OAuth`
                          clientId:
                            type: string
                            description: OAuth ClientId. Required when `kind` is `OAuth`
                          token:
                            x-ms-secret: true
                            type: string
                            description: Personal Access Token. Required when `kind`
                              is `PAT`
                          installationId:
                            type: string
                            description: Application installation ID. Required when
                              `kind` is `App`. Supported by `GitHub` only.
                      repositoryResourceInfo:
                        description: Information regarding the resources created in
                          user's repository.
                        type: object
                        properties:
                          webhook:
                            type: object
                            description: The webhook object created for the source-control.
                            properties:
                              webhookId:
[...]
