openapi: 3.0.0
info:
  title: Security Insights
  description: API spec for Microsoft.SecurityInsights (Azure Security Insights) resource
    provider
  version: 2025-06-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/threatIntelligence/main/createIndicator
  : post:
      tags:
      - ThreatIntelligence
      description: Create a new threat intelligence indicator.
      operationId: ThreatIntelligenceIndicator_CreateIndicator
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                etag:
                  description: Etag of the azure resource
                  type: string
                kind:
                  description: The kind of the entity.
                  enum:
                  - indicator
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: ThreatIntelligenceResourceInnerKind
                    values:
                    - description: Entity represents threat intelligence indicator
                        in the system.
                      value: indicator
                properties:
                  type: object
                  properties:
                    additionalData:
                      additionalProperties: true
                      description: A bag of custom fields that should be part of the
                        entity and will be presented to the user.
                      readOnly: true
                      type: object
                    friendlyName:
                      description: The graph item display name which is a short humanly
                        readable description of the graph item instance. This property
                        is optional and might be system generated.
                      readOnly: true
                      type: string
                    threatIntelligenceTags:
                      description: List of tags
                      items:
                        description: tag
                        type: string
                      type: array
                      x-ms-identifiers: []
                    lastUpdatedTimeUtc:
                      description: Last updated time in UTC
                      type: string
                    source:
                      description: Source of a threat intelligence entity
                      type: string
                    displayName:
                      description: Display name of a threat intelligence entity
                      type: string
                    description:
                      description: Description of a threat intelligence entity
                      type: string
                    indicatorTypes:
                      description: Indicator types of threat intelligence entities
                      items:
                        description: Indicator type of a threat intelligence entity
                        type: string
                      type: array
                      x-ms-identifiers: []
                    pattern:
                      description: Pattern of a threat intelligence entity
                      type: string
                    patternType:
                      description: Pattern type of a threat intelligence entity
                      type: string
                    patternVersion:
                      description: Pattern version of a threat intelligence entity
                      type: string
                    killChainPhases:
                      description: Kill chain phases
                      items:
                        description: Kill chain phase
                        properties:
                          killChainName:
                            description: Kill chainName name
                            type: string
                          phaseName:
                            description: Phase name
                            type: string
                        type: object
                      type: array
                      x-ms-identifiers: []
                    parsedPattern:
                      description: Parsed patterns
                      items:
                        description: Parsed pattern
                        properties:
                          patternTypeKey:
                            description: Pattern type key
                            type: string
                          patternTypeValues:
                            description: Pattern type keys
                            items:
                              description: Pattern type key
                              properties:
                                valueType:
                                  description: Type of the value
                                  type: string
                                value:
                                  description: Value of parsed pattern
                                  type: string
                              type: object
                            type: array
                            x-ms-identifiers: []
                        type: object
                      type: array
                      x-ms-identifiers: []
                    externalId:
                      description: External ID of threat intelligence entity
                      type: string
                    createdByRef:
                      description: Created by reference of threat intelligence entity
                      type: string
                    defanged:
                      description: Is threat intelligence entity defanged
                      type: boolean
                    externalLastUpdatedTimeUtc:
                      description: External last updated time in UTC
                      type: string
                    externalReferences:
                      description: External References
                      items:
                        description: external_reference
                        properties:
                          description:
                            description: External reference description
                            type: string
                          externalId:
                            description: External reference ID
                            type: string
                          sourceName:
                            description: External reference source name
                            type: string
                          url:
                            description: External reference URL
                            type: string
                          hashes:
                            type: object
                            additionalProperties:
                              type: string
                            description: External reference hashes
                        type: object
                      type: array
                      x-ms-identifiers: []
                    granularMarkings:
                      description: Granular Markings
                      items:
                        description: Granular marking
                        properties:
                          language:
                            description: Language granular marking model
                            type: string
                          markingRef:
                            description: marking reference granular marking model
                            type: integer
                            format: int32
                          selectors:
                            description: granular marking model selectors
                            items:
                              description: granular marking model selector
                              type: string
                            type: array
                            x-ms-identifiers: []
                        type: object
                      type: array
                      x-ms-identifiers: []
                    labels:
                      description: Labels  of threat intelligence entity
                      items:
                        description: label
                        type: string
                      type: array
                      x-ms-identifiers: []
                    revoked:
                      description: Is threat intelligence entity revoked
                      type: boolean
                    confidence:
                      description: Confidence of threat intelligence entity
                      type: integer
                      format: int32
                    objectMarkingRefs:
                      description: Threat intelligence entity object marking references
                      items:
                        description: Threat intelligence entity object marking reference
                        type: string
                      type: array
                      x-ms-identifiers: []
                    language:
                      description: Language of threat intelligence entity
                      type: string
                    threatTypes:
                      description: Threat types
                      items:
                        description: Threat type
                        type: string
                      type: array
                      x-ms-identifiers: []
                    validFrom:
                      description: Valid from
                      type: string
                    validUntil:
                      description: Valid until
                      type: string
                    created:
                      description: Created by
                      type: string
                    modified:
                      description: Modified by
                      type: string
                    extensions:
                      description: Extensions map
                      type: object
                      additionalProperties: {}
                  description: Entity common property bag.
                  x-ms-client-flatten: true
              required:
              - kind
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              discriminator:
                propertyName: kind
              x-ms-azure-resource: true
              x-ms-discriminator-value: indicator
        description: Properties of threat intelligence indicators to create and update.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  kind:
                    description: The kind of the entity.
                    enum:
                    - indicator
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: ThreatIntelligenceResourceInnerKind
                      values:
                      - description: Entity represents threat intelligence indicator
                          in the system.
                        value: indicator
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - kind
                discriminator:
                  propertyName: kind
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  kind:
                    description: The kind of the entity.
                    enum:
                    - indicator
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: ThreatIntelligenceResourceInnerKind
                      values:
                      - description: Entity represents threat intelligence indicator
                          in the system.
                        value: indicator
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - kind
                discriminator:
                  propertyName: kind
        default:
          description: Error response describing why the operation failed to create
            indicators.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/threatIntelligence/main/indicators
  : get:
      tags:
      - ThreatIntelligence
      description: Get all threat intelligence indicators.
      operationId: ThreatIntelligenceIndicators_List
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: Filters the results, based on a Boolean condition. Optional.
        in: query
        name: $filter
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Returns only the first n results. Optional.
        in: query
        name: $top
        required: false
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
      - description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls. Optional.
        in: query
        name: $skipToken
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Sorts the results. Optional.
        in: query
        name: $orderby
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of all the threat intelligence information objects.
                properties:
                  nextLink:
                    description: URL to fetch the next set of information objects.
                    readOnly: true
                    type: string
                  value:
                    description: Array of threat intelligence information objects.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        etag:
                          description: Etag of the azure resource
                          type: string
                        kind:
                          description: The kind of the entity.
                          enum:
                          - indicator
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: ThreatIntelligenceResourceInnerKind
                            values:
                            - description: Entity represents threat intelligence indicator
                                in the system.
                              value: indicator
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - kind
                      discriminator:
                        propertyName: kind
                    type: array
                    x-ms-identifiers: []
                type: object
                required:
                - value
        default:
          description: Error response describing why the operation failed to get indicators.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/threatIntelligence/main/indicators/{name}
  : get:
      tags:
      - ThreatIntelligence
      description: View a threat intelligence indicator by name.
      operationId: ThreatIntelligenceIndicator_Get
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: Threat intelligence indicator name field.
        in: path
        name: name
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  kind:
                    description: The kind of the entity.
                    enum:
                    - indicator
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: ThreatIntelligenceResourceInnerKind
                      values:
                      - description: Entity represents threat intelligence indicator
                          in the system.
                        value: indicator
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - kind
                discriminator:
                  propertyName: kind
        default:
          description: Error response describing why the operation failed to view
            an indicator.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
    put:
      tags:
      - ThreatIntelligence
      description: Update a threat Intelligence indicator.
      operationId: ThreatIntelligenceIndicator_Create
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: Threat intelligence indicator name field.
        in: path
        name: name
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                etag:
                  description: Etag of the azure resource
                  type: string
                kind:
                  description: The kind of the entity.
                  enum:
                  - indicator
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: ThreatIntelligenceResourceInnerKind
                    values:
                    - description: Entity represents threat intelligence indicator
                        in the system.
                      value: indicator
                properties:
                  type: object
                  properties:
                    additionalData:
                      additionalProperties: true
                      description: A bag of custom fields that should be part of the
                        entity and will be presented to the user.
                      readOnly: true
                      type: object
                    friendlyName:
                      description: The graph item display name which is a short humanly
                        readable description of the graph item instance. This property
                        is optional and might be system generated.
                      readOnly: true
                      type: string
                    threatIntelligenceTags:
                      description: List of tags
                      items:
                        description: tag
                        type: string
                      type: array
                      x-ms-identifiers: []
                    lastUpdatedTimeUtc:
                      description: Last updated time in UTC
                      type: string
                    source:
                      description: Source of a threat intelligence entity
                      type: string
                    displayName:
                      description: Display name of a threat intelligence entity
                      type: string
                    description:
                      description: Description of a threat intelligence entity
                      type: string
                    indicatorTypes:
                      description: Indicator types of threat intelligence entities
                      items:
                        description: Indicator type of a threat intelligence entity
                        type: string
                      type: array
                      x-ms-identifiers: []
                    pattern:
                      description: Pattern of a threat intelligence entity
                      type: string
                    patternType:
                      description: Pattern type of a threat intelligence entity
                      type: string
                    patternVersion:
                      description: Pattern version of a threat intelligence entity
                      type: string
                    killChainPhases:
                      description: Kill chain phases
                      items:
                        description: Kill chain phase
                        properties:
                          killChainName:
                            description: Kill chainName name
                            type: string
                          phaseName:
                            description: Phase name
                            type: string
                        type: object
                      type: array
                      x-ms-identifiers: []
                    parsedPattern:
                      description: Parsed patterns
                      items:
                        description: Parsed pattern
                        properties:
                          patternTypeKey:
                            description: Pattern type key
                            type: string
                          patternTypeValues:
                            description: Pattern type keys
                            items:
                              description: Pattern type key
                              properties:
                                valueType:
                                  description: Type of the value
                                  type: string
                                value:
                                  description: Value of parsed pattern
                                  type: string
                              type: object
                            type: array
                            x-ms-identifiers: []
                        type: object
                      type: array
                      x-ms-identifiers: []
                    externalId:
                      description: External ID of threat intelligence entity
                      type: string
                    createdByRef:
                      description: Created by reference of threat intelligence entity
                      type: string
                    defanged:
                      description: Is threat intelligence entity defanged
                      type: boolean
                    externalLastUpdatedTimeUtc:
                      description: External last updated time in UTC
                      type: string
                    externalReferences:
                      description: External References
                      items:
                        description: external_reference
                        properties:
                          description:
                            description: External reference description
                            type: string
                          externalId:
                            description: External reference ID
                            type: string
                          sourceName:
                            description: External reference source name
                            type: string
                          url:
                            description: External reference URL
                            type: string
                          hashes:
                            type: object
                            additionalProperties:
                              type: string
                            description: External reference hashes
                        type: object
                      type: array
                      x-ms-identifiers: []
                    granularMarkings:
                      description: Granular Markings
                      items:
                        description: Granular marking
                        properties:
                          language:
                            description: Language granular marking model
                            type: string
                          markingRef:
                            description: marking reference granular marking model
                            type: integer
                            format: int32
                          selectors:
                            description: granular marking model selectors
                            items:
                              description: granular marking model selector
                              type: string
                            type: array
                            x-ms-identifiers: []
                        type: object
                      type: array
                      x-ms-identifiers: []
                    labels:
                      description: Labels  of threat intelligence entity
                      items:
                        description: label
                        type: string
                      type: array
                      x-ms-identifiers: []
                    revoked:
                      description: Is threat intelligence entity revoked
                      type: boolean
                    confidence:
                      description: Confidence of threat intelligence entity
                      type: integer
                      format: int32
                    objectMarkingRefs:
                      description: Threat intelligence entity object marking references
                      items:
                        description: Threat intelligence entity object marking reference
                        type: string
                      type: array
                      x-ms-identifiers: []
                    language:
                      description: Language of threat intelligence entity
                      type: string
                    threatTypes:
                      description: Threat types
                      items:
                        description: Threat type
                        type: string
                      type: array
                      x-ms-identifiers: []
                    validFrom:
                      description: Valid from
                      type: string
                    validUntil:
                      description: Valid until
                      type: string
                    created:
                      description: Created by
                      type: string
                    modified:
                      description: Modified by
                      type: string
                    extensions:
                      description: Extensions map
                      type: object
                      additionalProperties: {}
                  description: Entity common property bag.
                  x-ms-client-flatten: true
              required:
              - kind
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              discriminator:
                propertyName: kind
              x-ms-azure-resource: true
              x-ms-discriminator-value: indicator
        description: Properties of threat intelligence indicators to create and update.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  kind:
                    description: The kind of the entity.
                    enum:
                    - indicator
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: ThreatIntelligenceResourceInnerKind
                      values:
                      - description: Entity represents threat intelligence indicator
                          in the system.
                        value: indicator
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - kind
                discriminator:
                  propertyName: kind
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  kind:
                    description: The kind of the entity.
                    enum:
                    - indicator
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: ThreatIntelligenceResourceInnerKind
                      values:
                      - description: Entity represents threat intelligence indicator
                          in the system.
                        value: indicator
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - kind
                discriminator:
                  propertyName: kind
        default:
          description: Error response describing why the operation failed to update
            an indicator.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
    delete:
      tags:
      - ThreatIntelligence
      description: Delete a threat intelligence indicator.
      operationId: ThreatIntelligenceIndicator_Delete
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: Threat intelligence indicator name field.
        in: path
        name: name
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed to delete
            an indicator.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/threatIntelligence/main/queryIndicators
  : post:
      tags:
      - ThreatIntelligence
      description: Query threat intelligence indicators as per filtering criteria.
      operationId: ThreatIntelligenceIndicator_QueryIndicators
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      requestBody:
        content:
          application/json:
            schema:
              description: Filtering criteria for querying threat intelligence indicators.
              properties:
                pageSize:
                  description: Page size
                  type: integer
                  format: int32
                minConfidence:
                  description: Minimum confidence.
                  type: integer
                  format: int32
                maxConfidence:
                  description: Maximum confidence.
                  type: integer
                  format: int32
                minValidUntil:
                  description: Start time for ValidUntil filter.
                  type: string
                maxValidUntil:
                  description: End time for ValidUntil filter.
                  type: string
                includeDisabled:
                  description: Parameter to include/exclude disabled indicators.
                  type: boolean
                sortBy:
                  description: Columns to sort by and sorting order
                  items:
                    description: Sort By
                    properties:
                      itemKey:
                        description: Column name
                        type: string
                      sortOrder:
                        description: Sorting order (ascending/descending/unsorted).
                        enum:
                        - unsorted
                        - ascending
                        - descending
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: ThreatIntelligenceSortingOrder
                          values:
                          - value: unsorted
                          - value: ascending
                          - value: descending
                    type: object
                  type: array
                  x-ms-identifiers: []
                sources:
                  description: Sources of threat intelligence indicators
                  items:
                    description: Source
                    type: string
                  type: array
                  x-ms-identifiers: []
                patternTypes:
                  description: Pattern types
                  items:
                    description: Pattern type
                    type: string
                  type: array
                  x-ms-identifiers: []
                threatTypes:
                  description: Threat types of threat intelligence indicators
                  items:
                    description: Threat type of a threat intelligence indicator
                    type: string
                  type: array
                  x-ms-identifiers: []
                ids:
                  description: Ids of threat intelligence indicators
                  items:
                    description: Id of a threat intelligence indicator
                    type: string
                  type: array
                  x-ms-identifiers: []
                keywords:
                  description: Keywords for searching threat intelligence indicators
                  items:
                    description: keyword for searching threat intelligence indicators
                    type: string
                  type: array
                  x-ms-identifiers: []
                skipToken:
                  description: Skip token.
                  type: string
              type: object
        description: Filtering criteria for querying threat intelligence indicators.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of all the threat intelligence information objects.
                properties:
                  nextLink:
                    description: URL to fetch the next set of information objects.
                    readOnly: true
                    type: string
                  value:
                    description: Array of threat intelligence information objects.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        etag:
                          description: Etag of the azure resource
                          type: string
                        kind:
                          description: The kind of the entity.
                          enum:
                          - indicator
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: ThreatIntelligenceResourceInnerKind
                            values:
                            - description: Entity represents threat intelligence indicator
                                in the system.
                              value: indicator
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - kind
                      discriminator:
                        propertyName: kind
                    type: array
                    x-ms-identifiers: []
                type: object
                required:
                - value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/threatIntelligence/main/metrics
  : get:
      tags:
      - ThreatIntelligence
      description: Get threat intelligence indicators metrics (Indicators counts by
        Type, Threat Type, Source).
      operationId: ThreatIntelligenceIndicatorMetrics_List
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of all the threat intelligence metric fields (type/threat
                  type/source).
                properties:
                  value:
                    description: Array of threat intelligence metric fields (type/threat
                      type/source).
                    items:
                      description: Threat intelligence metrics.
                      properties:
                        properties:
                          description: Threat intelligence metrics.
                          properties:
                            lastUpdatedTimeUtc:
                              description: Last updated indicator metric
                              type: string
                            threatTypeMetrics:
                              description: Threat type metrics
                              items:
                                description: parameter
                                properties:
                                  metricName:
                                    description: Metric name
                                    type: string
                                  metricValue:
                                    description: Metric value
                                    type: integer
                                    format: int32
                                type: object
                              type: array
                              x-ms-identifiers: []
                            patternTypeMetrics:
                              description: Pattern type metrics
                              items:
                                description: parameter
                                properties:
                                  metricName:
                                    description: Metric name
                                    type: string
                                  metricValue:
                                    description: Metric value
                                    type: integer
                                    format: int32
                                type: object
                              type: array
                              x-ms-identifiers: []
                            sourceMetrics:
                              description: Source metrics
                              items:
                                description: parameter
                                properties:
                                  metricName:
                                    description: Metric name
                                    type: string
                                  metricValue:
                                    description: Metric value
                                    type: integer
                                    format: int32
                                type: object
                              type: array
                              x-ms-identifiers: []
                          type: object
                      type: object
                    type: array
                    x-ms-identifiers: []
                type: object
                required:
                - value
        default:
          description: Error response describing why the operation failed to get metrics.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/threatIntelligence/main/indicators/{name}/appendTags
  : post:
      tags:
      - ThreatIntelligence
      description: Append tags to a threat intelligence indicator.
      operationId: ThreatIntelligenceIndicator_AppendTags
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: Threat intelligence indicator name field.
        in: path
        name: name
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Array of tags to be appended to the threat intelligence
                indicator.
              properties:
                threatIntelligenceTags:
                  description: List of tags to be appended.
                  items:
                    description: parameter
                    type: string
                  type: array
                  x-ms-identifiers: []
              type: object
        description: The threat intelligence append tags request body
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
        default:
          description: Error response describing why the operation failed to append
            tags.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/threatIntelligence/main/indicators/{name}/replaceTags
  : post:
      tags:
      - ThreatIntelligence
      description: Replace tags added to a threat intelligence indicator.
      operationId: ThreatIntelligenceIndicator_ReplaceTags
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: Threat intelligence indicator name field.
        in: path
        name: name
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                etag:
                  description: Etag of the azure resource
                  type: string
                kind:
                  description: The kind of the entity.
                  enum:
                  - indicator
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: ThreatIntelligenceResourceInnerKind
                    values:
                    - description: Entity represents threat intelligence indicator
                        in the system.
                      value: indicator
                properties:
                  type: object
                  properties:
                    additionalData:
                      additionalProperties: true
                      description: A bag of custom fields that should be part of the
                        entity and will be presented to the user.
                      readOnly: true
                      type: object
                    friendlyName:
                      description: The graph item display name which is a short humanly
                        readable description of the graph item instance. This property
                        is optional and might be system generated.
                      readOnly: true
                      type: string
                    threatIntelligenceTags:
                      description: List of tags
                      items:
                        description: tag
                        type: string
                      type: array
                      x-ms-identifiers: []
                    lastUpdatedTimeUtc:
                      description: Last updated time in UTC
                      type: string
                    source:
                      description: Source of a threat intelligence entity
                      type: string
                    displayName:
                      description: Display name of a threat intelligence entity
                      type: string
                    description:
                      description: Description of a threat intelligence entity
                      type: string
                    indicatorTypes:
                      description: Indicator types of threat intelligence entities
                      items:
                        description: Indicator type of a threat intelligence entity
                        type: string
                      type: array
                      x-ms-identifiers: []
                    pattern:
                      description: Pattern of a threat intelligence entity
                      type: string
                    patternType:
                      description: Pattern type of a threat intelligence entity
                      type: string
                    patternVersion:
                      description: Pattern version of a threat intelligence entity
                      type: string
                    killChainPhases:
                      description: Kill chain phases
                      items:
                        description: Kill chain phase
                        properties:
                          killChainName:
                            description: Kill chainName name
                            type: string
                          phaseName:
                            description: Phase name
                            type: string
                        type: object
                      type: array
                      x-ms-identifiers: []
                    parsedPattern:
                      description: Parsed patterns
                      items:
                        description: Parsed pattern
                        properties:
                          patternTypeKey:
                            description: Pattern type key
                            type: string
                          patternTypeValues:
                            description: Pattern type keys
                            items:
                              description: Pattern type key
                              properties:
                                valueType:
                                  description: Type of the value
                                  type: string
                                value:
                                  description: Value of parsed pattern
                                  type: string
                              type: object
                            type: array
                            x-ms-identifiers: []
                        type: object
                      type: array
                      x-ms-identifiers: []
                    externalId:
                      description: External ID of threat intelligence entity
                      type: string
                    createdByRef:
                      description: Created by reference of threat intelligence entity
                      type: string
                    defanged:
                      description: Is threat intelligence entity defanged
                      type: boolean
                    externalLastUpdatedTimeUtc:
                      description: External last updated time in UTC
                      type: string
                    externalReferences:
                      description: External References
                      items:
                        description: external_reference
                        properties:
                          description:
                            description: External reference description
                            type: string
                          externalId:
                            description: External reference ID
                            type: string
                          sourceName:
                            description: External reference source name
                            type: string
                          url:
                            description: External reference URL
                            type: string
                          hashes:
                            type: object
                            additionalProperties:
                              type: string
                            description: External reference hashes
                        type: object
                      type: array
                      x-ms-identifiers: []
                    granularMarkings:
                      description: Granular Markings
                      items:
                        description: Granular marking
                        properties:
                          language:
                            description: Language granular marking model
                            type: string
                          markingRef:
                            description: marking reference granular marking model
                            type: integer
                            format: int32
                          selectors:
                            description: granular marking model selectors
                            items:
                              description: granular marking model selector
                              type: string
                            type: array
                            x-ms-identifiers: []
                        type: object
                      type: array
                      x-ms-identifiers: []
                    labels:
                      description: Labels  of threat intelligence entity
                      items:
                        description: label
                        type: string
                      type: array
                      x-ms-identifiers: []
                    revoked:
                      description: Is threat intelligence entity revoked
                      type: boolean
                    confidence:
                      description: Confidence of threat intelligence entity
                      type: integer
                      format: int32
                    objectMarkingRefs:
                      description: Threat intelligence entity object marking references
                      items:
                        description: Threat intelligence entity object marking reference
                        type: string
                      type: array
                      x-ms-identifiers: []
                    language:
                      description: Language of threat intelligence entity
                      type: string
                    threatTypes:
                      description: Threat types
                      items:
                        description: Threat type
                        type: string
                      type: array
                      x-ms-identifiers: []
                    validFrom:
                      description: Valid from
                      type: string
                    validUntil:
                      description: Valid until
                      type: string
                    created:
                      description: Created by
                      type: string
                    modified:
                      description: Modified by
                      type: string
                    extensions:
                      description: Extensions map
                      type: object
                      additionalProperties: {}
                  description: Entity common property bag.
                  x-ms-client-flatten: true
              required:
              - kind
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              discriminator:
                propertyName: kind
              x-ms-azure-resource: true
              x-ms-discriminator-value: indicator
        description: Tags in the threat intelligence indicator to be replaced.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
[...]
