openapi: 3.0.0
info:
  title: Security Insights
  description: API spec for Microsoft.SecurityInsights (Azure Security Insights) resource
    provider
  version: 2025-06-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/watchlists
  : get:
      tags:
      - Watchlists
      description: Get all watchlists, without watchlist items.
      operationId: Watchlists_List
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls. Optional.
        in: query
        name: $skipToken
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List all the watchlists.
                type: object
                properties:
                  nextLink:
                    description: URL to fetch the next set of watchlists.
                    readOnly: true
                    type: string
                  value:
                    description: Array of watchlist.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        etag:
                          description: Etag of the azure resource
                          type: string
                        properties:
                          description: Watchlist properties
                          x-ms-client-flatten: true
                          properties:
                            watchlistId:
                              description: The id (a Guid) of the watchlist
                              type: string
                            displayName:
                              description: The display name of the watchlist
                              type: string
                            provider:
                              description: The provider of the watchlist
                              type: string
                            source:
                              description: The filename of the watchlist, called 'source'
                              type: string
                            sourceType:
                              description: The sourceType of the watchlist
                              enum:
                              - Local
                              - AzureStorage
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: sourceType
                                values:
                                - description: The source from local file.
                                  value: Local
                                - description: The source from Azure storage.
                                  value: AzureStorage
                            created:
                              description: The time the watchlist was created
                              format: date-time
                              type: string
                            updated:
                              description: The last time the watchlist was updated
                              format: date-time
                              type: string
                            createdBy:
                              description: Describes a user that created the watchlist
                              type: object
                              properties:
                                email:
                                  description: The email of the user.
                                  readOnly: true
                                  type: string
                                name:
                                  description: The name of the user.
                                  readOnly: true
                                  type: string
                                objectId:
                                  description: The object id of the user.
                                  format: uuid
                                  type: string
                                  nullable: true
                            updatedBy:
                              description: Describes a user that updated the watchlist
                              type: object
                              properties:
                                email:
                                  description: The email of the user.
                                  readOnly: true
                                  type: string
                                name:
                                  description: The name of the user.
                                  readOnly: true
                                  type: string
                                objectId:
                                  description: The object id of the user.
                                  format: uuid
                                  type: string
                                  nullable: true
                            description:
                              description: A description of the watchlist
                              type: string
                            watchlistType:
                              description: The type of the watchlist
                              type: string
                            watchlistAlias:
                              description: The alias of the watchlist
                              type: string
                            isDeleted:
                              description: A flag that indicates if the watchlist
                                is deleted or not
                              type: boolean
                            labels:
                              description: List of labels relevant to this watchlist
                              items:
                                description: Label that will be used to tag and filter
                                  on.
                                type: string
                              type: array
                            defaultDuration:
                              description: The default duration of a watchlist (in
                                ISO 8601 duration format)
                              format: duration
                              type: string
                            tenantId:
                              description: The tenantId where the watchlist belongs
                                to
                              type: string
                            numberOfLinesToSkip:
                              description: The number of lines in a csv/tsv content
                                to skip before the header
                              type: integer
                              format: int32
                            rawContent:
                              description: The raw content that represents to watchlist
                                items to create. In case of csv/tsv content type,
                                it's the content of the file that will parsed by the
                                endpoint
                              type: string
                            itemsSearchKey:
                              description: The search key is used to optimize query
                                performance when using watchlists for joins with other
                                data. For example, enable a column with IP addresses
                                to be the designated SearchKey field, then use this
                                field as the key field when joining to other event
                                data by IP address.
                              type: string
                            contentType:
                              description: 'The content type of the raw content. Example
                                : text/csv or text/tsv'
                              type: string
                            uploadStatus:
                              description: 'The status of the Watchlist upload : New,
                                InProgress or Complete. **Note** : When a Watchlist
                                upload status is InProgress, the Watchlist cannot
                                be deleted'
                              type: string
                            provisioningState:
                              description: Describes provisioning state
                              enum:
                              - New
                              - InProgress
                              - Uploading
                              - Deleting
                              - Succeeded
                              - Failed
                              - Canceled
                              type: string
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - description: The New provisioning state.
                                  value: New
                                - description: The InProgress provisioning state.
                                  value: InProgress
                                - description: The Uploading provisioning state.
                                  value: Uploading
                                - description: The Deleting provisioning state.
                                  value: Deleting
                                - description: The Succeeded provisioning state.
                                  value: Succeeded
                                - description: The Failed provisioning state.
                                  value: Failed
                                - description: The Canceled provisioning state.
                                  value: Canceled
                              readOnly: true
                          required:
                          - displayName
                          - provider
                          - itemsSearchKey
                          type: object
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    type: array
                required:
                - value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/watchlists/{watchlistAlias}
  : get:
      tags:
      - Watchlists
      description: Get a watchlist, without its watchlist items.
      operationId: Watchlists_Get
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: The watchlist alias
        in: path
        name: watchlistAlias
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  properties:
                    description: Watchlist properties
                    x-ms-client-flatten: true
                    properties:
                      watchlistId:
                        description: The id (a Guid) of the watchlist
                        type: string
                      displayName:
                        description: The display name of the watchlist
                        type: string
                      provider:
                        description: The provider of the watchlist
                        type: string
                      source:
                        description: The filename of the watchlist, called 'source'
                        type: string
                      sourceType:
                        description: The sourceType of the watchlist
                        enum:
                        - Local
                        - AzureStorage
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: sourceType
                          values:
                          - description: The source from local file.
                            value: Local
                          - description: The source from Azure storage.
                            value: AzureStorage
                      created:
                        description: The time the watchlist was created
                        format: date-time
                        type: string
                      updated:
                        description: The last time the watchlist was updated
                        format: date-time
                        type: string
                      createdBy:
                        description: Describes a user that created the watchlist
                        type: object
                        properties:
                          email:
                            description: The email of the user.
                            readOnly: true
                            type: string
                          name:
                            description: The name of the user.
                            readOnly: true
                            type: string
                          objectId:
                            description: The object id of the user.
                            format: uuid
                            type: string
                            nullable: true
                      updatedBy:
                        description: Describes a user that updated the watchlist
                        type: object
                        properties:
                          email:
                            description: The email of the user.
                            readOnly: true
                            type: string
                          name:
                            description: The name of the user.
                            readOnly: true
                            type: string
                          objectId:
                            description: The object id of the user.
                            format: uuid
                            type: string
                            nullable: true
                      description:
                        description: A description of the watchlist
                        type: string
                      watchlistType:
                        description: The type of the watchlist
                        type: string
                      watchlistAlias:
                        description: The alias of the watchlist
                        type: string
                      isDeleted:
                        description: A flag that indicates if the watchlist is deleted
                          or not
                        type: boolean
                      labels:
                        description: List of labels relevant to this watchlist
                        items:
                          description: Label that will be used to tag and filter on.
                          type: string
                        type: array
                      defaultDuration:
                        description: The default duration of a watchlist (in ISO 8601
                          duration format)
                        format: duration
                        type: string
                      tenantId:
                        description: The tenantId where the watchlist belongs to
                        type: string
                      numberOfLinesToSkip:
                        description: The number of lines in a csv/tsv content to skip
                          before the header
                        type: integer
                        format: int32
                      rawContent:
                        description: The raw content that represents to watchlist
                          items to create. In case of csv/tsv content type, it's the
                          content of the file that will parsed by the endpoint
                        type: string
                      itemsSearchKey:
                        description: The search key is used to optimize query performance
                          when using watchlists for joins with other data. For example,
                          enable a column with IP addresses to be the designated SearchKey
                          field, then use this field as the key field when joining
                          to other event data by IP address.
                        type: string
                      contentType:
                        description: 'The content type of the raw content. Example
                          : text/csv or text/tsv'
                        type: string
                      uploadStatus:
                        description: 'The status of the Watchlist upload : New, InProgress
                          or Complete. **Note** : When a Watchlist upload status is
                          InProgress, the Watchlist cannot be deleted'
                        type: string
                      provisioningState:
                        description: Describes provisioning state
                        enum:
                        - New
                        - InProgress
                        - Uploading
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        type: string
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - description: The New provisioning state.
                            value: New
                          - description: The InProgress provisioning state.
                            value: InProgress
                          - description: The Uploading provisioning state.
                            value: Uploading
                          - description: The Deleting provisioning state.
                            value: Deleting
                          - description: The Succeeded provisioning state.
                            value: Succeeded
                          - description: The Failed provisioning state.
                            value: Failed
                          - description: The Canceled provisioning state.
                            value: Canceled
                        readOnly: true
                    required:
                    - displayName
                    - provider
                    - itemsSearchKey
                    type: object
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
    delete:
      tags:
      - Watchlists
      description: Delete a watchlist.
      operationId: Watchlists_Delete
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: The watchlist alias
        in: path
        name: watchlistAlias
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '202':
          description: OK
          headers:
            Azure-AsyncOperation:
              description: Contains the status URL on which clients are expected to
                poll the status of the delete operation.
              schema:
                type: string
            Location:
              description: Location URL to poll for result.
              schema:
                type: string
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    put:
      tags:
      - Watchlists
      description: Create or update a Watchlist and its Watchlist Items (bulk creation,
        e.g. through text/csv content type). To create a Watchlist and its Items,
        we should call this endpoint with rawContent and contentType properties.
      operationId: Watchlists_CreateOrUpdate
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: The watchlist alias
        in: path
        name: watchlistAlias
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                etag:
                  description: Etag of the azure resource
                  type: string
                properties:
                  description: Watchlist properties
                  x-ms-client-flatten: true
                  properties:
                    watchlistId:
                      description: The id (a Guid) of the watchlist
                      type: string
                    displayName:
                      description: The display name of the watchlist
                      type: string
                    provider:
                      description: The provider of the watchlist
                      type: string
                    source:
                      description: The filename of the watchlist, called 'source'
                      type: string
                    sourceType:
                      description: The sourceType of the watchlist
                      enum:
                      - Local
                      - AzureStorage
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: sourceType
                        values:
                        - description: The source from local file.
                          value: Local
                        - description: The source from Azure storage.
                          value: AzureStorage
                    created:
                      description: The time the watchlist was created
                      format: date-time
                      type: string
                    updated:
                      description: The last time the watchlist was updated
                      format: date-time
                      type: string
                    createdBy:
                      description: Describes a user that created the watchlist
                      type: object
                      properties:
                        email:
                          description: The email of the user.
                          readOnly: true
                          type: string
                        name:
                          description: The name of the user.
                          readOnly: true
                          type: string
                        objectId:
                          description: The object id of the user.
                          format: uuid
                          type: string
                          nullable: true
                    updatedBy:
                      description: Describes a user that updated the watchlist
                      type: object
                      properties:
                        email:
                          description: The email of the user.
                          readOnly: true
                          type: string
                        name:
                          description: The name of the user.
                          readOnly: true
                          type: string
                        objectId:
                          description: The object id of the user.
                          format: uuid
                          type: string
                          nullable: true
                    description:
                      description: A description of the watchlist
                      type: string
                    watchlistType:
                      description: The type of the watchlist
                      type: string
                    watchlistAlias:
                      description: The alias of the watchlist
                      type: string
                    isDeleted:
                      description: A flag that indicates if the watchlist is deleted
                        or not
                      type: boolean
                    labels:
                      description: List of labels relevant to this watchlist
                      items:
                        description: Label that will be used to tag and filter on.
                        type: string
                      type: array
                    defaultDuration:
                      description: The default duration of a watchlist (in ISO 8601
                        duration format)
                      format: duration
                      type: string
                    tenantId:
                      description: The tenantId where the watchlist belongs to
                      type: string
                    numberOfLinesToSkip:
                      description: The number of lines in a csv/tsv content to skip
                        before the header
                      type: integer
                      format: int32
                    rawContent:
                      description: The raw content that represents to watchlist items
                        to create. In case of csv/tsv content type, it's the content
                        of the file that will parsed by the endpoint
                      type: string
                    itemsSearchKey:
                      description: The search key is used to optimize query performance
                        when using watchlists for joins with other data. For example,
                        enable a column with IP addresses to be the designated SearchKey
                        field, then use this field as the key field when joining to
                        other event data by IP address.
                      type: string
                    contentType:
                      description: 'The content type of the raw content. Example :
                        text/csv or text/tsv'
                      type: string
                    uploadStatus:
                      description: 'The status of the Watchlist upload : New, InProgress
                        or Complete. **Note** : When a Watchlist upload status is
                        InProgress, the Watchlist cannot be deleted'
                      type: string
                    provisioningState:
                      description: Describes provisioning state
                      enum:
                      - New
                      - InProgress
                      - Uploading
                      - Deleting
                      - Succeeded
                      - Failed
                      - Canceled
                      type: string
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - description: The New provisioning state.
                          value: New
                        - description: The InProgress provisioning state.
                          value: InProgress
                        - description: The Uploading provisioning state.
                          value: Uploading
                        - description: The Deleting provisioning state.
                          value: Deleting
                        - description: The Succeeded provisioning state.
                          value: Succeeded
                        - description: The Failed provisioning state.
                          value: Failed
                        - description: The Canceled provisioning state.
                          value: Canceled
                      readOnly: true
                  required:
                  - displayName
                  - provider
                  - itemsSearchKey
                  type: object
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: The watchlist
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  properties:
                    description: Watchlist properties
                    x-ms-client-flatten: true
                    properties:
                      watchlistId:
                        description: The id (a Guid) of the watchlist
                        type: string
                      displayName:
                        description: The display name of the watchlist
                        type: string
                      provider:
                        description: The provider of the watchlist
                        type: string
                      source:
                        description: The filename of the watchlist, called 'source'
                        type: string
                      sourceType:
                        description: The sourceType of the watchlist
                        enum:
                        - Local
                        - AzureStorage
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: sourceType
                          values:
                          - description: The source from local file.
                            value: Local
                          - description: The source from Azure storage.
                            value: AzureStorage
                      created:
                        description: The time the watchlist was created
                        format: date-time
                        type: string
                      updated:
                        description: The last time the watchlist was updated
                        format: date-time
                        type: string
                      createdBy:
                        description: Describes a user that created the watchlist
                        type: object
                        properties:
                          email:
                            description: The email of the user.
                            readOnly: true
                            type: string
                          name:
                            description: The name of the user.
                            readOnly: true
                            type: string
                          objectId:
                            description: The object id of the user.
                            format: uuid
                            type: string
                            nullable: true
                      updatedBy:
                        description: Describes a user that updated the watchlist
                        type: object
                        properties:
                          email:
                            description: The email of the user.
                            readOnly: true
                            type: string
                          name:
                            description: The name of the user.
                            readOnly: true
                            type: string
                          objectId:
                            description: The object id of the user.
                            format: uuid
                            type: string
                            nullable: true
                      description:
                        description: A description of the watchlist
                        type: string
                      watchlistType:
                        description: The type of the watchlist
                        type: string
                      watchlistAlias:
                        description: The alias of the watchlist
                        type: string
                      isDeleted:
                        description: A flag that indicates if the watchlist is deleted
                          or not
                        type: boolean
                      labels:
                        description: List of labels relevant to this watchlist
                        items:
                          description: Label that will be used to tag and filter on.
                          type: string
                        type: array
                      defaultDuration:
                        description: The default duration of a watchlist (in ISO 8601
                          duration format)
                        format: duration
                        type: string
                      tenantId:
                        description: The tenantId where the watchlist belongs to
                        type: string
                      numberOfLinesToSkip:
                        description: The number of lines in a csv/tsv content to skip
                          before the header
                        type: integer
                        format: int32
                      rawContent:
                        description: The raw content that represents to watchlist
                          items to create. In case of csv/tsv content type, it's the
                          content of the file that will parsed by the endpoint
                        type: string
                      itemsSearchKey:
                        description: The search key is used to optimize query performance
                          when using watchlists for joins with other data. For example,
                          enable a column with IP addresses to be the designated SearchKey
                          field, then use this field as the key field when joining
                          to other event data by IP address.
                        type: string
                      contentType:
                        description: 'The content type of the raw content. Example
                          : text/csv or text/tsv'
                        type: string
                      uploadStatus:
                        description: 'The status of the Watchlist upload : New, InProgress
                          or Complete. **Note** : When a Watchlist upload status is
                          InProgress, the Watchlist cannot be deleted'
                        type: string
                      provisioningState:
                        description: Describes provisioning state
                        enum:
                        - New
                        - InProgress
                        - Uploading
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        type: string
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - description: The New provisioning state.
                            value: New
                          - description: The InProgress provisioning state.
                            value: InProgress
                          - description: The Uploading provisioning state.
                            value: Uploading
                          - description: The Deleting provisioning state.
                            value: Deleting
                          - description: The Succeeded provisioning state.
                            value: Succeeded
                          - description: The Failed provisioning state.
                            value: Failed
                          - description: The Canceled provisioning state.
                            value: Canceled
                        readOnly: true
                    required:
                    - displayName
                    - provider
                    - itemsSearchKey
                    type: object
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created. The response includes the Provisioning State and the
            Azure-AsyncOperation header. To get the progress of the operation, call
            GET operation on the URL in Azure-AsyncOperation header field.
          headers:
            Azure-AsyncOperation:
              description: Contains the status URL on which clients are expected to
                poll the status of the operation.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  properties:
                    description: Watchlist properties
                    x-ms-client-flatten: true
                    properties:
                      watchlistId:
                        description: The id (a Guid) of the watchlist
                        type: string
                      displayName:
                        description: The display name of the watchlist
                        type: string
                      provider:
                        description: The provider of the watchlist
                        type: string
                      source:
                        description: The filename of the watchlist, called 'source'
                        type: string
                      sourceType:
                        description: The sourceType of the watchlist
                        enum:
                        - Local
                        - AzureStorage
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: sourceType
                          values:
                          - description: The source from local file.
                            value: Local
                          - description: The source from Azure storage.
                            value: AzureStorage
                      created:
                        description: The time the watchlist was created
                        format: date-time
                        type: string
                      updated:
                        description: The last time the watchlist was updated
                        format: date-time
                        type: string
                      createdBy:
                        description: Describes a user that created the watchlist
                        type: object
                        properties:
                          email:
                            description: The email of the user.
                            readOnly: true
                            type: string
                          name:
                            description: The name of the user.
                            readOnly: true
                            type: string
                          objectId:
                            description: The object id of the user.
                            format: uuid
                            type: string
                            nullable: true
                      updatedBy:
                        description: Describes a user that updated the watchlist
                        type: object
                        properties:
                          email:
                            description: The email of the user.
                            readOnly: true
                            type: string
                          name:
                            description: The name of the user.
                            readOnly: true
                            type: string
                          objectId:
                            description: The object id of the user.
                            format: uuid
                            type: string
                            nullable: true
                      description:
                        description: A description of the watchlist
                        type: string
                      watchlistType:
                        description: The type of the watchlist
                        type: string
                      watchlistAlias:
                        description: The alias of the watchlist
                        type: string
                      isDeleted:
                        description: A flag that indicates if the watchlist is deleted
                          or not
                        type: boolean
                      labels:
                        description: List of labels relevant to this watchlist
                        items:
                          description: Label that will be used to tag and filter on.
                          type: string
                        type: array
                      defaultDuration:
                        description: The default duration of a watchlist (in ISO 8601
                          duration format)
                        format: duration
                        type: string
                      tenantId:
                        description: The tenantId where the watchlist belongs to
                        type: string
                      numberOfLinesToSkip:
                        description: The number of lines in a csv/tsv content to skip
                          before the header
                        type: integer
                        format: int32
                      rawContent:
                        description: The raw content that represents to watchlist
                          items to create. In case of csv/tsv content type, it's the
                          content of the file that will parsed by the endpoint
                        type: string
                      itemsSearchKey:
                        description: The search key is used to optimize query performance
                          when using watchlists for joins with other data. For example,
                          enable a column with IP addresses to be the designated SearchKey
                          field, then use this field as the key field when joining
                          to other event data by IP address.
                        type: string
                      contentType:
                        description: 'The content type of the raw content. Example
                          : text/csv or text/tsv'
                        type: string
                      uploadStatus:
                        description: 'The status of the Watchlist upload : New, InProgress
                          or Complete. **Note** : When a Watchlist upload status is
                          InProgress, the Watchlist cannot be deleted'
                        type: string
                      provisioningState:
                        description: Describes provisioning state
                        enum:
                        - New
                        - InProgress
                        - Uploading
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        type: string
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - description: The New provisioning state.
                            value: New
                          - description: The InProgress provisioning state.
                            value: InProgress
                          - description: The Uploading provisioning state.
                            value: Uploading
                          - description: The Deleting provisioning state.
                            value: Deleting
                          - description: The Succeeded provisioning state.
                            value: Succeeded
                          - description: The Failed provisioning state.
                            value: Failed
                          - description: The Canceled provisioning state.
                            value: Canceled
                        readOnly: true
                    required:
                    - displayName
                    - provider
                    - itemsSearchKey
                    type: object
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/watchlists/{watchlistAlias}/watchlistItems
  : get:
      tags:
      - WatchlistItems
      description: Get all watchlist Items.
      operationId: WatchlistItems_List
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: The watchlist alias
        in: path
        name: watchlistAlias
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls. Optional.
        in: query
        name: $skipToken
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List all the watchlist items.
                type: object
                properties:
                  nextLink:
                    description: URL to fetch the next set of watchlist items.
                    readOnly: true
                    type: string
                  value:
                    description: Array of watchlist items.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        etag:
                          description: Etag of the azure resource
                          type: string
                        properties:
                          description: Watchlist Item properties
                          x-ms-client-flatten: true
                          properties:
                            watchlistItemType:
                              description: The type of the watchlist item
                              type: string
                            watchlistItemId:
                              description: The id (a Guid) of the watchlist item
                              type: string
                            tenantId:
                              description: The tenantId to which the watchlist item
                                belongs to
                              type: string
                            isDeleted:
                              description: A flag that indicates if the watchlist
                                item is deleted or not
                              type: boolean
                            created:
                              description: The time the watchlist item was created
                              format: date-time
                              type: string
                            updated:
                              description: The last time the watchlist item was updated
                              format: date-time
                              type: string
                            createdBy:
                              description: Describes a user that created the watchlist
                                item
                              type: object
                              properties:
                                email:
                                  description: The email of the user.
                                  readOnly: true
                                  type: string
                                name:
                                  description: The name of the user.
                                  readOnly: true
                                  type: string
                                objectId:
                                  description: The object id of the user.
                                  format: uuid
                                  type: string
                                  nullable: true
                            updatedBy:
                              description: Describes a user that updated the watchlist
                                item
                              type: object
                              properties:
                                email:
                                  description: The email of the user.
                                  readOnly: true
                                  type: string
                                name:
                                  description: The name of the user.
                                  readOnly: true
                                  type: string
                                objectId:
                                  description: The object id of the user.
                                  format: uuid
                                  type: string
                                  nullable: true
                            itemsKeyValue:
                              description: key-value pairs for a watchlist item
                              type: object
                            entityMapping:
                              description: key-value pairs for a watchlist item entity
                                mapping
                              type: object
                          required:
                          - itemsKeyValue
                          type: object
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    type: array
                required:
                - value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/watchlists/{watchlistAlias}/watchlistItems/{watchlistItemId}
  : get:
      tags:
      - WatchlistItems
      description: Get a watchlist item.
      operationId: WatchlistItems_Get
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: The watchlist alias
        in: path
        name: watchlistAlias
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: The watchlist item id (GUID)
        in: path
        name: watchlistItemId
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  etag:
                    description: Etag of the azure resource
                    type: string
                  properties:
                    description: Watchlist Item properties
                    x-ms-client-flatten: true
                    properties:
                      watchlistItemType:
                        description: The type of the watchlist item
                        type: string
                      watchlistItemId:
                        description: The id (a Guid) of the watchlist item
                        type: string
                      tenantId:
                        description: The tenantId to which the watchlist item belongs
                          to
                        type: string
                      isDeleted:
                        description: A flag that indicates if the watchlist item is
                          deleted or not
                        type: boolean
                      created:
                        description: The time the watchlist item was created
                        format: date-time
                        type: string
                      updated:
                        description: The last time the watchlist item was updated
                        format: date-time
                        type: string
                      createdBy:
                        description: Describes a user that created the watchlist item
                        type: object
                        properties:
                          email:
                            description: The email of the user.
                            readOnly: true
                            type: string
                          name:
                            description: The name of the user.
                            readOnly: true
                            type: string
                          objectId:
                            description: The object id of the user.
                            format: uuid
                            type: string
                            nullable: true
                      updatedBy:
                        description: Describes a user that updated the watchlist item
                        type: object
                        properties:
                          email:
                            description: The email of the user.
                            readOnly: true
                            type: string
                          name:
                            description: The name of the user.
                            readOnly: true
                            type: string
                          objectId:
                            description: The object id of the user.
                            format: uuid
                            type: string
                            nullable: true
                      itemsKeyValue:
                        description: key-value pairs for a watchlist item
                        type: object
                      entityMapping:
                        description: key-value pairs for a watchlist item entity mapping
                        type: object
                    required:
                    - itemsKeyValue
                    type: object
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
    delete:
      tags:
      - WatchlistItems
      description: Delete a watchlist item.
      operationId: WatchlistItems_Delete
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: The watchlist alias
        in: path
        name: watchlistAlias
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: The watchlist item id (GUID)
        in: path
        name: watchlistItemId
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response structure.
                x-ms-external: true
                properties:
                  error:
                    description: Error data
                    x-ms-external: true
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        readOnly: true
                        type: string
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        readOnly: true
                        type: string
                    type: object
                type: object
    put:
      tags:
      - WatchlistItems
      description: Create or update a watchlist item.
      operationId: WatchlistItems_CreateOrUpdate
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
      - description: The watchlist alias
        in: path
        name: watchlistAlias
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
[...]
