openapi: 3.0.0
info:
  version: 2018-10-01
  title: CloudShellClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Portal/locations/{location}/userSettings/{userSettingsName}:
    get:
      operationId: getUserSettingsWithLocation
      summary: Get user settings.
      description: Get current user settings for current signed in user. This operation
        returns settings for the user's cloud shell preferences including preferred
        location, storage profile, shell type, font and size settings.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version
        x-ms-parameter-location: client
        schema:
          type: string
      - name: userSettingsName
        in: path
        required: true
        description: The name of the user settings
        x-ms-parameter-location: client
        schema:
          type: string
      - name: location
        in: path
        required: true
        description: The provider location
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            x-ms-console-required-location-code:
              description: normalized required location code
              schema:
                type: string
            x-ms-console-preview-user:
              description: indicates whether user is a previous usr.
              schema:
                type: boolean
          content:
            application/json:
              schema:
                description: The Resource model definition.
                x-ms-azure-resource: true
                type: object
                properties:
                  properties:
                    description: The cloud shell user settings properties.
                    type: object
                    required:
                    - preferredOsType
                    - preferredLocation
                    - storageProfile
                    - terminalSettings
                    - preferredShellType
                    properties:
                      preferredOsType:
                        description: The operating system type of the cloud shell.
                          Deprecated, use preferredShellType.
                        type: string
                        enum:
                        - Windows
                        - Linux
                        x-ms-enum:
                          name: osType
                          modelAsString: true
                      preferredLocation:
                        description: The preferred location of the cloud shell.
                        type: string
                      storageProfile:
                        description: The storage profile of the user settings.
                        type: object
                        properties:
                          storageAccountResourceId:
                            type: string
                            description: Full resource ID of storage account.
                          fileShareName:
                            type: string
                            description: Name of the mounted file share. 63 characters
                              or less, lowercase alphabet, numbers, and -
                          diskSizeInGB:
                            type: integer
                            format: int32
                            description: Size of file share
                      terminalSettings:
                        description: Settings for terminal appearance.
                        type: object
                        properties:
                          fontSize:
                            type: string
                            description: Size of terminal font.
                            enum:
                            - NotSpecified
                            - Small
                            - Medium
                            - Large
                            x-ms-enum:
                              name: fontSize
                              modelAsString: true
                          fontStyle:
                            type: string
                            description: Style of terminal font.
                            enum:
                            - NotSpecified
                            - Monospace
                            - Courier
                            x-ms-enum:
                              name: fontStyle
                              modelAsString: true
                      preferredShellType:
                        description: The shell type of the cloud shell.
                        type: string
                        enum:
                        - bash
                        - pwsh
                        - powershell
                        x-ms-enum:
                          name: shellType
                          modelAsString: true
                required:
                - properties
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: ErrorResponse
                description: Contains details when the response code indicates an
                  error.
                type: object
                properties:
                  error:
                    title: ErrorDetail
                    type: object
                    properties:
                      code:
                        description: The error's code.
                        type: string
                      message:
                        description: A human readable error message.
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
    patch:
      operationId: patchUserSettingsWithLocation
      summary: patch user settings.
      description: Patch cloud shell settings for current signed in user
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version
        x-ms-parameter-location: client
        schema:
          type: string
      - name: userSettingsName
        in: path
        required: true
        description: The name of the user settings
        x-ms-parameter-location: client
        schema:
          type: string
      - name: location
        in: path
        required: true
        description: The provider location
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Cloud shell patch operation user settings.
              type: object
              properties:
                properties:
                  description: The cloud shell user settings properties.
                  type: object
                  required:
                  - preferredOsType
                  - preferredLocation
                  - storageProfile
                  - terminalSettings
                  - preferredShellType
                  properties:
                    preferredOsType:
                      description: The operating system type of the cloud shell. Deprecated,
                        use preferredShellType.
                      type: string
                      enum:
                      - Windows
                      - Linux
                      x-ms-enum:
                        name: osType
                        modelAsString: true
                    preferredLocation:
                      description: The preferred location of the cloud shell.
                      type: string
                    storageProfile:
                      description: The storage profile of the user settings.
                      type: object
                      properties:
                        storageAccountResourceId:
                          type: string
                          description: Full resource ID of storage account.
                        fileShareName:
                          type: string
                          description: Name of the mounted file share. 63 characters
                            or less, lowercase alphabet, numbers, and -
                        diskSizeInGB:
                          type: integer
                          format: int32
                          description: Size of file share
                    terminalSettings:
                      description: Settings for terminal appearance.
                      type: object
                      properties:
                        fontSize:
                          type: string
                          description: Size of terminal font.
                          enum:
                          - NotSpecified
                          - Small
                          - Medium
                          - Large
                          x-ms-enum:
                            name: fontSize
                            modelAsString: true
                        fontStyle:
                          type: string
                          description: Style of terminal font.
                          enum:
                          - NotSpecified
                          - Monospace
                          - Courier
                          x-ms-enum:
                            name: fontStyle
                            modelAsString: true
                    preferredShellType:
                      description: The shell type of the cloud shell.
                      type: string
                      enum:
                      - bash
                      - pwsh
                      - powershell
                      x-ms-enum:
                        name: shellType
                        modelAsString: true
        description: The properties of the user settings to be updated.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: The Resource model definition.
                x-ms-azure-resource: true
                type: object
                properties:
                  properties:
                    description: The cloud shell user settings properties.
                    type: object
                    required:
                    - preferredOsType
                    - preferredLocation
                    - storageProfile
                    - terminalSettings
                    - preferredShellType
                    properties:
                      preferredOsType:
                        description: The operating system type of the cloud shell.
                          Deprecated, use preferredShellType.
                        type: string
                        enum:
                        - Windows
                        - Linux
                        x-ms-enum:
                          name: osType
                          modelAsString: true
                      preferredLocation:
                        description: The preferred location of the cloud shell.
                        type: string
                      storageProfile:
                        description: The storage profile of the user settings.
                        type: object
                        properties:
                          storageAccountResourceId:
                            type: string
                            description: Full resource ID of storage account.
                          fileShareName:
                            type: string
                            description: Name of the mounted file share. 63 characters
                              or less, lowercase alphabet, numbers, and -
                          diskSizeInGB:
                            type: integer
                            format: int32
                            description: Size of file share
                      terminalSettings:
                        description: Settings for terminal appearance.
                        type: object
                        properties:
                          fontSize:
                            type: string
                            description: Size of terminal font.
                            enum:
                            - NotSpecified
                            - Small
                            - Medium
                            - Large
                            x-ms-enum:
                              name: fontSize
                              modelAsString: true
                          fontStyle:
                            type: string
                            description: Style of terminal font.
                            enum:
                            - NotSpecified
                            - Monospace
                            - Courier
                            x-ms-enum:
                              name: fontStyle
                              modelAsString: true
                      preferredShellType:
                        description: The shell type of the cloud shell.
                        type: string
                        enum:
                        - bash
                        - pwsh
                        - powershell
                        x-ms-enum:
                          name: shellType
                          modelAsString: true
                required:
                - properties
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: ErrorResponse
                description: Contains details when the response code indicates an
                  error.
                type: object
                properties:
                  error:
                    title: ErrorDetail
                    type: object
                    properties:
                      code:
                        description: The error's code.
                        type: string
                      message:
                        description: A human readable error message.
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
    delete:
      operationId: deleteUserSettingsWithLocation
      summary: delete user settings.
      description: Delete cloud shell settings for current signed in user
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version
        x-ms-parameter-location: client
        schema:
          type: string
      - name: userSettingsName
        in: path
        required: true
        description: The name of the user settings
        x-ms-parameter-location: client
        schema:
          type: string
      - name: location
        in: path
        required: true
        description: The provider location
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: ErrorResponse
                description: Contains details when the response code indicates an
                  error.
                type: object
                properties:
                  error:
                    title: ErrorDetail
                    type: object
                    properties:
                      code:
                        description: The error's code.
                        type: string
                      message:
                        description: A human readable error message.
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
    put:
      operationId: putUserSettingsWithLocation
      summary: put user settings.
      description: Create or update cloud shell settings for current signed in user
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version
        x-ms-parameter-location: client
        schema:
          type: string
      - name: userSettingsName
        in: path
        required: true
        description: The name of the user settings
        x-ms-parameter-location: client
        schema:
          type: string
      - name: location
        in: path
        required: true
        description: The provider location
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: The Resource model definition.
              x-ms-azure-resource: true
              type: object
              properties:
                properties:
                  description: The cloud shell user settings properties.
                  type: object
                  required:
                  - preferredOsType
                  - preferredLocation
                  - storageProfile
                  - terminalSettings
                  - preferredShellType
                  properties:
                    preferredOsType:
                      description: The operating system type of the cloud shell. Deprecated,
                        use preferredShellType.
                      type: string
                      enum:
                      - Windows
                      - Linux
                      x-ms-enum:
                        name: osType
                        modelAsString: true
                    preferredLocation:
                      description: The preferred location of the cloud shell.
                      type: string
                    storageProfile:
                      description: The storage profile of the user settings.
                      type: object
                      properties:
                        storageAccountResourceId:
                          type: string
                          description: Full resource ID of storage account.
                        fileShareName:
                          type: string
                          description: Name of the mounted file share. 63 characters
                            or less, lowercase alphabet, numbers, and -
                        diskSizeInGB:
                          type: integer
                          format: int32
                          description: Size of file share
                    terminalSettings:
                      description: Settings for terminal appearance.
                      type: object
                      properties:
                        fontSize:
                          type: string
                          description: Size of terminal font.
                          enum:
                          - NotSpecified
                          - Small
                          - Medium
                          - Large
                          x-ms-enum:
                            name: fontSize
                            modelAsString: true
                        fontStyle:
                          type: string
                          description: Style of terminal font.
                          enum:
                          - NotSpecified
                          - Monospace
                          - Courier
                          x-ms-enum:
                            name: fontStyle
                            modelAsString: true
                    preferredShellType:
                      description: The shell type of the cloud shell.
                      type: string
                      enum:
                      - bash
                      - pwsh
                      - powershell
                      x-ms-enum:
                        name: shellType
                        modelAsString: true
              required:
              - properties
        description: The properties of the user settings to be created or updated.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: The Resource model definition.
                x-ms-azure-resource: true
                type: object
                properties:
                  properties:
                    description: The cloud shell user settings properties.
                    type: object
                    required:
                    - preferredOsType
                    - preferredLocation
                    - storageProfile
                    - terminalSettings
                    - preferredShellType
                    properties:
                      preferredOsType:
                        description: The operating system type of the cloud shell.
                          Deprecated, use preferredShellType.
                        type: string
                        enum:
                        - Windows
                        - Linux
                        x-ms-enum:
                          name: osType
                          modelAsString: true
                      preferredLocation:
                        description: The preferred location of the cloud shell.
                        type: string
                      storageProfile:
                        description: The storage profile of the user settings.
                        type: object
                        properties:
                          storageAccountResourceId:
                            type: string
                            description: Full resource ID of storage account.
                          fileShareName:
                            type: string
                            description: Name of the mounted file share. 63 characters
                              or less, lowercase alphabet, numbers, and -
                          diskSizeInGB:
                            type: integer
                            format: int32
                            description: Size of file share
                      terminalSettings:
                        description: Settings for terminal appearance.
                        type: object
                        properties:
                          fontSize:
                            type: string
                            description: Size of terminal font.
                            enum:
                            - NotSpecified
                            - Small
                            - Medium
                            - Large
                            x-ms-enum:
                              name: fontSize
                              modelAsString: true
                          fontStyle:
                            type: string
                            description: Style of terminal font.
                            enum:
                            - NotSpecified
                            - Monospace
                            - Courier
                            x-ms-enum:
                              name: fontStyle
                              modelAsString: true
                      preferredShellType:
                        description: The shell type of the cloud shell.
                        type: string
                        enum:
                        - bash
                        - pwsh
                        - powershell
                        x-ms-enum:
                          name: shellType
                          modelAsString: true
                required:
                - properties
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: ErrorResponse
                description: Contains details when the response code indicates an
                  error.
                type: object
                properties:
                  error:
                    title: ErrorDetail
                    type: object
                    properties:
                      code:
                        description: The error's code.
                        type: string
                      message:
                        description: A human readable error message.
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
  /providers/Microsoft.Portal/locations/{location}/consoles/{consoleName}:
    get:
      operationId: getConsoleWithLocation
      summary: Get console
      description: Gets the console for the user.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version
        x-ms-parameter-location: client
        schema:
          type: string
      - name: consoleName
        in: path
        required: true
        description: The name of the console
        x-ms-parameter-location: client
        schema:
          type: string
      - name: location
        in: path
        required: true
        description: The provider location
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: The Resource model definition.
                x-ms-azure-resource: true
                type: object
                properties:
                  properties:
                    description: Cloud shell console properties.
                    type: object
                    required:
                    - osType
                    - provisioningState
                    - uri
                    properties:
                      osType:
                        description: The operating system type of the cloud shell.
                        type: string
                        enum:
                        - Linux
                        - Windows
                        x-ms-enum:
                          name: osType
                          modelAsString: true
                      provisioningState:
                        description: Provisioning state of the console.
                        type: string
                        enum:
                        - NotSpecified
                        - Accepted
                        - Pending
                        - Updating
                        - Creating
                        - Repairing
                        - Failed
                        - Canceled
                        - Succeeded
                        x-ms-enum:
                          name: provisioningState
                          modelAsString: true
                      uri:
                        description: Uri of the console.
                        type: string
                required:
                - properties
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: ErrorResponse
                description: Contains details when the response code indicates an
                  error.
                type: object
                properties:
                  error:
                    title: ErrorDetail
                    type: object
                    properties:
                      code:
                        description: The error's code.
                        type: string
                      message:
                        description: A human readable error message.
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
    put:
      operationId: putConsoleWithLocation
      summary: Put console
      description: Puts a request for a console
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version
        x-ms-parameter-location: client
        schema:
          type: string
      - name: consoleName
        in: path
        required: true
        description: The name of the console
        x-ms-parameter-location: client
        schema:
          type: string
      - name: location
        in: path
        required: true
        description: The provider location
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: The Resource model definition.
                x-ms-azure-resource: true
                type: object
                properties:
                  properties:
                    description: Cloud shell console properties.
                    type: object
                    required:
                    - osType
                    - provisioningState
                    - uri
                    properties:
                      osType:
                        description: The operating system type of the cloud shell.
                        type: string
                        enum:
                        - Linux
                        - Windows
                        x-ms-enum:
                          name: osType
                          modelAsString: true
                      provisioningState:
                        description: Provisioning state of the console.
                        type: string
                        enum:
                        - NotSpecified
                        - Accepted
                        - Pending
                        - Updating
                        - Creating
                        - Repairing
                        - Failed
                        - Canceled
                        - Succeeded
                        x-ms-enum:
                          name: provisioningState
                          modelAsString: true
                      uri:
                        description: Uri of the console.
                        type: string
                required:
                - properties
        '201':
          description: Created
          content:
            application/json:
              schema:
                description: The Resource model definition.
                x-ms-azure-resource: true
                type: object
                properties:
                  properties:
                    description: Cloud shell console properties.
                    type: object
                    required:
                    - osType
                    - provisioningState
                    - uri
                    properties:
                      osType:
                        description: The operating system type of the cloud shell.
                        type: string
                        enum:
                        - Linux
                        - Windows
                        x-ms-enum:
                          name: osType
                          modelAsString: true
                      provisioningState:
                        description: Provisioning state of the console.
                        type: string
                        enum:
                        - NotSpecified
                        - Accepted
                        - Pending
                        - Updating
                        - Creating
                        - Repairing
                        - Failed
                        - Canceled
                        - Succeeded
                        x-ms-enum:
                          name: provisioningState
                          modelAsString: true
                      uri:
                        description: Uri of the console.
                        type: string
                required:
                - properties
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: ErrorResponse
                description: Contains details when the response code indicates an
                  error.
                type: object
                properties:
                  error:
                    title: ErrorDetail
                    type: object
                    properties:
                      code:
                        description: The error's code.
                        type: string
                      message:
                        description: A human readable error message.
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
    delete:
      operationId: deleteConsoleWithLocation
      summary: Delete console
      description: Deletes the console
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version
        x-ms-parameter-location: client
        schema:
          type: string
      - name: consoleName
        in: path
        required: true
        description: The name of the console
        x-ms-parameter-location: client
        schema:
          type: string
      - name: location
        in: path
        required: true
        description: The provider location
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: ErrorResponse
                description: Contains details when the response code indicates an
                  error.
                type: object
                properties:
                  error:
                    title: ErrorDetail
                    type: object
                    properties:
                      code:
                        description: The error's code.
                        type: string
                      message:
                        description: A human readable error message.
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
  /providers/Microsoft.Portal/locations/{location}/consoles/{consoleName}/keepAlive:
    post:
      operationId: keepAliveWithLocation
      summary: Keep alive
      description: Keep console alive
      parameters:
      - name: consoleName
        in: path
        required: true
        description: The name of the console
        x-ms-parameter-location: client
        schema:
          type: string
      - name: location
        in: path
        required: true
        description: The provider location
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            x-ms-console-remaining-seconds:
              description: Remaining time left in session, in seconds.
              schema:
                type: integer
                format: int32
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: ErrorResponse
                description: Contains details when the response code indicates an
                  error.
                type: object
                properties:
                  error:
                    title: ErrorDetail
                    type: object
                    properties:
                      code:
                        description: The error's code.
                        type: string
                      message:
                        description: A human readable error message.
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
  /providers/Microsoft.Portal/userSettings/{userSettingsName}:
    get:
      operationId: GetUserSettings
      summary: Get user settings.
      description: Get current user settings for current signed in user. This operation
        returns settings for the user's cloud shell preferences including preferred
        location, storage profile, shell type, font and size settings.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version
        x-ms-parameter-location: client
        schema:
          type: string
      - name: userSettingsName
        in: path
        required: true
        description: The name of the user settings
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            x-ms-console-required-location-code:
              description: normalized required location code
              schema:
                type: string
            x-ms-console-preview-user:
              description: indicates whether user is a previous usr.
              schema:
                type: boolean
          content:
            application/json:
              schema:
                description: The Resource model definition.
                x-ms-azure-resource: true
                type: object
                properties:
                  properties:
                    description: The cloud shell user settings properties.
                    type: object
                    required:
                    - preferredOsType
                    - preferredLocation
                    - storageProfile
                    - terminalSettings
                    - preferredShellType
                    properties:
                      preferredOsType:
                        description: The operating system type of the cloud shell.
                          Deprecated, use preferredShellType.
                        type: string
                        enum:
                        - Windows
                        - Linux
                        x-ms-enum:
                          name: osType
                          modelAsString: true
                      preferredLocation:
                        description: The preferred location of the cloud shell.
                        type: string
                      storageProfile:
                        description: The storage profile of the user settings.
                        type: object
                        properties:
                          storageAccountResourceId:
                            type: string
                            description: Full resource ID of storage account.
                          fileShareName:
                            type: string
                            description: Name of the mounted file share. 63 characters
                              or less, lowercase alphabet, numbers, and -
                          diskSizeInGB:
                            type: integer
                            format: int32
                            description: Size of file share
                      terminalSettings:
                        description: Settings for terminal appearance.
                        type: object
                        properties:
                          fontSize:
                            type: string
                            description: Size of terminal font.
                            enum:
                            - NotSpecified
                            - Small
                            - Medium
                            - Large
                            x-ms-enum:
                              name: fontSize
                              modelAsString: true
                          fontStyle:
                            type: string
                            description: Style of terminal font.
                            enum:
                            - NotSpecified
                            - Monospace
                            - Courier
                            x-ms-enum:
                              name: fontStyle
                              modelAsString: true
                      preferredShellType:
                        description: The shell type of the cloud shell.
                        type: string
                        enum:
                        - bash
                        - pwsh
                        - powershell
                        x-ms-enum:
                          name: shellType
                          modelAsString: true
                required:
                - properties
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: ErrorResponse
                description: Contains details when the response code indicates an
                  error.
                type: object
                properties:
                  error:
                    title: ErrorDetail
                    type: object
                    properties:
                      code:
                        description: The error's code.
                        type: string
                      message:
                        description: A human readable error message.
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
    patch:
      operationId: PatchUserSettings
      summary: patch user settings.
      description: Patch cloud shell settings for current signed in user
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version
        x-ms-parameter-location: client
        schema:
          type: string
      - name: userSettingsName
        in: path
        required: true
        description: The name of the user settings
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Cloud shell patch operation user settings.
              type: object
              properties:
                properties:
                  description: The cloud shell user settings properties.
                  type: object
                  required:
                  - preferredOsType
                  - preferredLocation
                  - storageProfile
                  - terminalSettings
                  - preferredShellType
                  properties:
                    preferredOsType:
                      description: The operating system type of the cloud shell. Deprecated,
                        use preferredShellType.
                      type: string
                      enum:
                      - Windows
                      - Linux
                      x-ms-enum:
                        name: osType
                        modelAsString: true
                    preferredLocation:
                      description: The preferred location of the cloud shell.
                      type: string
                    storageProfile:
                      description: The storage profile of the user settings.
                      type: object
                      properties:
                        storageAccountResourceId:
                          type: string
                          description: Full resource ID of storage account.
                        fileShareName:
                          type: string
                          description: Name of the mounted file share. 63 characters
                            or less, lowercase alphabet, numbers, and -
                        diskSizeInGB:
                          type: integer
                          format: int32
                          description: Size of file share
                    terminalSettings:
                      description: Settings for terminal appearance.
                      type: object
                      properties:
                        fontSize:
                          type: string
                          description: Size of terminal font.
                          enum:
                          - NotSpecified
                          - Small
                          - Medium
                          - Large
                          x-ms-enum:
                            name: fontSize
                            modelAsString: true
                        fontStyle:
                          type: string
                          description: Style of terminal font.
                          enum:
                          - NotSpecified
                          - Monospace
                          - Courier
                          x-ms-enum:
                            name: fontStyle
                            modelAsString: true
                    preferredShellType:
                      description: The shell type of the cloud shell.
                      type: string
                      enum:
                      - bash
                      - pwsh
                      - powershell
                      x-ms-enum:
                        name: shellType
                        modelAsString: true
        description: The properties of the user settings to be updated.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: The Resource model definition.
                x-ms-azure-resource: true
                type: object
                properties:
                  properties:
                    description: The cloud shell user settings properties.
                    type: object
                    required:
                    - preferredOsType
                    - preferredLocation
                    - storageProfile
                    - terminalSettings
                    - preferredShellType
                    properties:
                      preferredOsType:
                        description: The operating system type of the cloud shell.
                          Deprecated, use preferredShellType.
                        type: string
                        enum:
                        - Windows
                        - Linux
                        x-ms-enum:
                          name: osType
                          modelAsString: true
                      preferredLocation:
                        description: The preferred location of the cloud shell.
                        type: string
                      storageProfile:
                        description: The storage profile of the user settings.
                        type: object
                        properties:
                          storageAccountResourceId:
                            type: string
                            description: Full resource ID of storage account.
                          fileShareName:
                            type: string
                            description: Name of the mounted file share. 63 characters
                              or less, lowercase alphabet, numbers, and -
                          diskSizeInGB:
                            type: integer
                            format: int32
                            description: Size of file share
                      terminalSettings:
                        description: Settings for terminal appearance.
                        type: object
                        properties:
                          fontSize:
                            type: string
                            description: Size of terminal font.
                            enum:
                            - NotSpecified
                            - Small
                            - Medium
                            - Large
                            x-ms-enum:
                              name: fontSize
                              modelAsString: true
                          fontStyle:
                            type: string
                            description: Style of terminal font.
                            enum:
                            - NotSpecified
                            - Monospace
                            - Courier
                            x-ms-enum:
                              name: fontStyle
                              modelAsString: true
                      preferredShellType:
                        description: The shell type of the cloud shell.
                        type: string
                        enum:
                        - bash
                        - pwsh
                        - powershell
                        x-ms-enum:
                          name: shellType
                          modelAsString: true
                required:
                - properties
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: ErrorResponse
                description: Contains details when the response code indicates an
                  error.
                type: object
                properties:
                  error:
                    title: ErrorDetail
                    type: object
                    properties:
                      code:
                        description: The error's code.
                        type: string
                      message:
                        description: A human readable error message.
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
    delete:
      operationId: DeleteUserSettings
      summary: delete user settings.
      description: Delete cloud shell settings for current signed in user
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version
        x-ms-parameter-location: client
        schema:
          type: string
      - name: userSettingsName
        in: path
        required: true
        description: The name of the user settings
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: ErrorResponse
                description: Contains details when the response code indicates an
                  error.
                type: object
                properties:
                  error:
                    title: ErrorDetail
                    type: object
                    properties:
                      code:
                        description: The error's code.
                        type: string
                      message:
                        description: A human readable error message.
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
    put:
      operationId: PutUserSettings
      summary: put user settings.
      description: Create or update cloud shell settings for current signed in user
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version
        x-ms-parameter-location: client
        schema:
          type: string
      - name: userSettingsName
        in: path
        required: true
        description: The name of the user settings
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: The Resource model definition.
              x-ms-azure-resource: true
              type: object
              properties:
                properties:
                  description: The cloud shell user settings properties.
                  type: object
                  required:
                  - preferredOsType
                  - preferredLocation
                  - storageProfile
                  - terminalSettings
                  - preferredShellType
                  properties:
                    preferredOsType:
                      description: The operating system type of the cloud shell. Deprecated,
                        use preferredShellType.
                      type: string
                      enum:
                      - Windows
                      - Linux
                      x-ms-enum:
                        name: osType
                        modelAsString: true
                    preferredLocation:
                      description: The preferred location of the cloud shell.
                      type: string
                    storageProfile:
                      description: The storage profile of the user settings.
                      type: object
                      properties:
                        storageAccountResourceId:
                          type: string
                          description: Full resource ID of storage account.
                        fileShareName:
                          type: string
                          description: Name of the mounted file share. 63 characters
                            or less, lowercase alphabet, numbers, and -
                        diskSizeInGB:
                          type: integer
                          format: int32
                          description: Size of file share
                    terminalSettings:
                      description: Settings for terminal appearance.
                      type: object
                      properties:
                        fontSize:
                          type: string
                          description: Size of terminal font.
                          enum:
                          - NotSpecified
                          - Small
                          - Medium
                          - Large
                          x-ms-enum:
                            name: fontSize
                            modelAsString: true
                        fontStyle:
                          type: string
                          description: Style of terminal font.
                          enum:
                          - NotSpecified
                          - Monospace
                          - Courier
                          x-ms-enum:
                            name: fontStyle
                            modelAsString: true
                    preferredShellType:
                      description: The shell type of the cloud shell.
                      type: string
                      enum:
                      - bash
                      - pwsh
                      - powershell
                      x-ms-enum:
                        name: shellType
                        modelAsString: true
              required:
              - properties
        description: The properties of the user settings to be created or updated.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: The Resource model definition.
                x-ms-azure-resource: true
                type: object
                properties:
                  properties:
                    description: The cloud shell user settings properties.
                    type: object
                    required:
                    - preferredOsType
                    - preferredLocation
                    - storageProfile
                    - terminalSettings
                    - preferredShellType
                    properties:
                      preferredOsType:
                        description: The operating system type of the cloud shell.
                          Deprecated, use preferredShellType.
                        type: string
                        enum:
                        - Windows
                        - Linux
                        x-ms-enum:
                          name: osType
                          modelAsString: true
                      preferredLocation:
                        description: The preferred location of the cloud shell.
                        type: string
                      storageProfile:
                        description: The storage profile of the user settings.
                        type: object
                        properties:
                          storageAccountResourceId:
                            type: string
                            description: Full resource ID of storage account.
                          fileShareName:
                            type: string
                            description: Name of the mounted file share. 63 characters
                              or less, lowercase alphabet, numbers, and -
                          diskSizeInGB:
                            type: integer
                            format: int32
                            description: Size of file share
                      terminalSettings:
                        description: Settings for terminal appearance.
                        type: object
                        properties:
                          fontSize:
                            type: string
                            description: Size of terminal font.
                            enum:
                            - NotSpecified
                            - Small
                            - Medium
                            - Large
                            x-ms-enum:
                              name: fontSize
                              modelAsString: true
                          fontStyle:
                            type: string
                            description: Style of terminal font.
                            enum:
                            - NotSpecified
                            - Monospace
                            - Courier
                            x-ms-enum:
                              name: fontStyle
                              modelAsString: true
                      preferredShellType:
                        description: The shell type of the cloud shell.
                        type: string
                        enum:
                        - bash
                        - pwsh
                        - powershell
                        x-ms-enum:
                          name: shellType
                          modelAsString: true
                required:
                - properties
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: ErrorResponse
                description: Contains details when the response code indicates an
                  error.
                type: object
                properties:
                  error:
                    title: ErrorDetail
                    type: object
                    properties:
                      code:
                        description: The error's code.
                        type: string
                      message:
                        description: A human readable error message.
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
  /providers/Microsoft.Portal/consoles/{consoleName}:
    get:
      operationId: GetConsole
      summary: Get console
      description: Gets the console for the user.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version
        x-ms-parameter-location: client
        schema:
          type: string
      - name: consoleName
        in: path
        required: true
        description: The name of the console
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: The Resource model definition.
                x-ms-azure-resource: true
                type: object
                properties:
                  properties:
                    description: Cloud shell console properties.
                    type: object
                    required:
                    - osType
                    - provisioningState
                    - uri
                    properties:
                      osType:
                        description: The operating system type of the cloud shell.
                        type: string
                        enum:
                        - Linux
                        - Windows
                        x-ms-enum:
                          name: osType
                          modelAsString: true
                      provisioningState:
                        description: Provisioning state of the console.
                        type: string
                        enum:
                        - NotSpecified
                        - Accepted
                        - Pending
                        - Updating
                        - Creating
                        - Repairing
                        - Failed
                        - Canceled
                        - Succeeded
                        x-ms-enum:
                          name: provisioningState
                          modelAsString: true
                      uri:
                        description: Uri of the console.
                        type: string
                required:
                - properties
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: ErrorResponse
                description: Contains details when the response code indicates an
                  error.
                type: object
                properties:
                  error:
                    title: ErrorDetail
                    type: object
                    properties:
                      code:
                        description: The error's code.
                        type: string
                      message:
                        description: A human readable error message.
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
    put:
      operationId: PutConsole
      summary: Put console
      description: Puts a request for a console
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version
        x-ms-parameter-location: client
        schema:
          type: string
      - name: consoleName
        in: path
        required: true
        description: The name of the console
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: The Resource model definition.
              x-ms-azure-resource: true
              type: object
              properties:
                properties:
                  description: Cloud shell properties for creating a console.
                  type: object
                  required:
                  - osType
                  properties:
                    osType:
                      description: The operating system type of the cloud shell.
                      type: string
                      enum:
                      - Linux
                      - Windows
                      x-ms-enum:
                        name: osType
                        modelAsString: true
                    provisioningState:
                      description: Provisioning state of the console.
                      type: string
                      enum:
                      - NotSpecified
                      - Accepted
                      - Pending
                      - Updating
                      - Creating
                      - Repairing
                      - Failed
                      - Canceled
                      - Succeeded
                      x-ms-enum:
                        name: provisioningState
                        modelAsString: true
                    uri:
                      description: Uri of the console.
                      type: string
              required:
              - properties
        description: The console definition.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: The Resource model definition.
                x-ms-azure-resource: true
                type: object
                properties:
                  properties:
                    description: Cloud shell console properties.
                    type: object
                    required:
                    - osType
                    - provisioningState
                    - uri
                    properties:
                      osType:
                        description: The operating system type of the cloud shell.
                        type: string
                        enum:
                        - Linux
                        - Windows
                        x-ms-enum:
                          name: osType
                          modelAsString: true
                      provisioningState:
                        description: Provisioning state of the console.
                        type: string
                        enum:
                        - NotSpecified
                        - Accepted
                        - Pending
                        - Updating
                        - Creating
                        - Repairing
                        - Failed
                        - Canceled
                        - Succeeded
                        x-ms-enum:
                          name: provisioningState
                          modelAsString: true
                      uri:
                        description: Uri of the console.
                        type: string
                required:
                - properties
        '201':
          description: Created
          content:
            application/json:
              schema:
                description: The Resource model definition.
                x-ms-azure-resource: true
                type: object
                properties:
                  properties:
                    description: Cloud shell console properties.
                    type: object
                    required:
                    - osType
                    - provisioningState
                    - uri
                    properties:
                      osType:
                        description: The operating system type of the cloud shell.
                        type: string
                        enum:
                        - Linux
                        - Windows
                        x-ms-enum:
                          name: osType
                          modelAsString: true
                      provisioningState:
                        description: Provisioning state of the console.
                        type: string
                        enum:
                        - NotSpecified
                        - Accepted
                        - Pending
                        - Updating
                        - Creating
                        - Repairing
                        - Failed
                        - Canceled
                        - Succeeded
                        x-ms-enum:
                          name: provisioningState
                          modelAsString: true
                      uri:
                        description: Uri of the console.
                        type: string
                required:
                - properties
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: ErrorResponse
                description: Contains details when the response code indicates an
                  error.
                type: object
                properties:
                  error:
                    title: ErrorDetail
                    type: object
                    properties:
                      code:
                        description: The error's code.
                        type: string
                      message:
                        description: A human readable error message.
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
    delete:
      operationId: DeleteConsole
      summary: Delete console
      description: Deletes the console
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version
        x-ms-parameter-location: client
        schema:
          type: string
      - name: consoleName
        in: path
        required: true
        description: The name of the console
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: ErrorResponse
                description: Contains details when the response code indicates an
                  error.
                type: object
                properties:
                  error:
                    title: ErrorDetail
                    type: object
                    properties:
                      code:
                        description: The error's code.
                        type: string
                      message:
                        description: A human readable error message.
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
  /providers/Microsoft.Portal/consoles/{consoleName}/keepAlive:
    post:
      operationId: KeepAlive
      summary: Keep alive
      description: Keep console alive
      parameters:
      - name: consoleName
        in: path
        required: true
        description: The name of the console
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            x-ms-console-remaining-seconds:
              description: Remaining time left in session, in seconds.
              schema:
                type: integer
                format: int32
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: ErrorResponse
                description: Contains details when the response code indicates an
                  error.
                type: object
                properties:
                  error:
                    title: ErrorDetail
                    type: object
                    properties:
                      code:
                        description: The error's code.
                        type: string
                      message:
                        description: A human readable error message.
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version
      x-ms-parameter-location: client
      schema:
        type: string
    ConsoleNameParameter:
      name: consoleName
      in: path
      required: true
      description: The name of the console
      x-ms-parameter-location: client
      schema:
        type: string
    LocationParameter:
      name: location
      in: path
      required: true
      description: The provider location
      x-ms-parameter-location: method
      schema:
        type: string
    UserSettingsNameParameter:
      name: userSettingsName
      in: path
      required: true
      description: The name of the user settings
      x-ms-parameter-location: client
      schema:
        type: string
  requestBodies:
    patchUserSettingsWithLocationParameters:
      content:
        application/json:
          schema:
            description: Cloud shell patch operation user settings.
            type: object
            properties:
              properties:
                description: The cloud shell user settings properties.
                type: object
                required:
                - preferredOsType
                - preferredLocation
                - storageProfile
                - terminalSettings
                - preferredShellType
                properties:
                  preferredOsType:
                    description: The operating system type of the cloud shell. Deprecated,
                      use preferredShellType.
                    type: string
                    enum:
                    - Windows
                    - Linux
                    x-ms-enum:
                      name: osType
                      modelAsString: true
                  preferredLocation:
                    description: The preferred location of the cloud shell.
                    type: string
                  storageProfile:
                    description: The storage profile of the user settings.
                    type: object
                    properties:
                      storageAccountResourceId:
                        type: string
                        description: Full resource ID of storage account.
                      fileShareName:
                        type: string
                        description: Name of the mounted file share. 63 characters
                          or less, lowercase alphabet, numbers, and -
                      diskSizeInGB:
                        type: integer
                        format: int32
                        description: Size of file share
                  terminalSettings:
                    description: Settings for terminal appearance.
                    type: object
                    properties:
                      fontSize:
                        type: string
                        description: Size of terminal font.
                        enum:
                        - NotSpecified
                        - Small
                        - Medium
                        - Large
                        x-ms-enum:
                          name: fontSize
                          modelAsString: true
                      fontStyle:
                        type: string
                        description: Style of terminal font.
                        enum:
                        - NotSpecified
                        - Monospace
                        - Courier
                        x-ms-enum:
                          name: fontStyle
                          modelAsString: true
                  preferredShellType:
                    description: The shell type of the cloud shell.
                    type: string
                    enum:
                    - bash
                    - pwsh
                    - powershell
                    x-ms-enum:
                      name: shellType
                      modelAsString: true
      description: The properties of the user settings to be updated.
      required: true
    putUserSettingsWithLocationParameters:
      content:
        application/json:
          schema:
            description: The Resource model definition.
            x-ms-azure-resource: true
            type: object
            properties:
              properties:
                description: The cloud shell user settings properties.
                type: object
                required:
                - preferredOsType
                - preferredLocation
                - storageProfile
                - terminalSettings
                - preferredShellType
                properties:
                  preferredOsType:
                    description: The operating system type of the cloud shell. Deprecated,
                      use preferredShellType.
                    type: string
                    enum:
                    - Windows
                    - Linux
                    x-ms-enum:
                      name: osType
                      modelAsString: true
                  preferredLocation:
                    description: The preferred location of the cloud shell.
                    type: string
                  storageProfile:
                    description: The storage profile of the user settings.
                    type: object
                    properties:
                      storageAccountResourceId:
                        type: string
                        description: Full resource ID of storage account.
                      fileShareName:
                        type: string
                        description: Name of the mounted file share. 63 characters
                          or less, lowercase alphabet, numbers, and -
                      diskSizeInGB:
                        type: integer
                        format: int32
                        description: Size of file share
                  terminalSettings:
                    description: Settings for terminal appearance.
                    type: object
                    properties:
                      fontSize:
                        type: string
                        description: Size of terminal font.
                        enum:
                        - NotSpecified
                        - Small
                        - Medium
                        - Large
                        x-ms-enum:
                          name: fontSize
                          modelAsString: true
                      fontStyle:
                        type: string
                        description: Style of terminal font.
                        enum:
                        - NotSpecified
                        - Monospace
                        - Courier
                        x-ms-enum:
                          name: fontStyle
                          modelAsString: true
                  preferredShellType:
                    description: The shell type of the cloud shell.
                    type: string
                    enum:
                    - bash
                    - pwsh
                    - powershell
                    x-ms-enum:
                      name: shellType
                      modelAsString: true
            required:
            - properties
      description: The properties of the user settings to be created or updated.
      required: true
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
  schemas:
    CloudShellConsole:
      description: The Resource model definition.
      x-ms-azure-resource: true
      type: object
      properties:
        properties:
          description: Cloud shell console properties.
          type: object
          required:
          - osType
          - provisioningState
          - uri
          properties:
            osType:
              description: The operating system type of the cloud shell.
              type: string
              enum:
              - Linux
              - Windows
              x-ms-enum:
                name: osType
                modelAsString: true
            provisioningState:
              description: Provisioning state of the console.
              type: string
              enum:
              - NotSpecified
              - Accepted
              - Pending
              - Updating
              - Creating
              - Repairing
              - Failed
              - Canceled
              - Succeeded
              x-ms-enum:
                name: provisioningState
                modelAsString: true
            uri:
              description: Uri of the console.
              type: string
      required:
      - properties
    ConsoleProperties:
      description: Cloud shell console properties.
      type: object
      required:
      - osType
      - provisioningState
      - uri
      properties:
        osType:
          description: The operating system type of the cloud shell.
          type: string
          enum:
          - Linux
          - Windows
          x-ms-enum:
            name: osType
            modelAsString: true
        provisioningState:
          description: Provisioning state of the console.
          type: string
          enum:
          - NotSpecified
          - Accepted
          - Pending
          - Updating
          - Creating
          - Repairing
          - Failed
          - Canceled
          - Succeeded
          x-ms-enum:
            name: provisioningState
            modelAsString: true
        uri:
          description: Uri of the console.
          type: string
    ConsoleCreateProperties:
      description: Cloud shell properties for creating a console.
      type: object
      required:
      - osType
      properties:
        osType:
          description: The operating system type of the cloud shell.
          type: string
          enum:
          - Linux
          - Windows
          x-ms-enum:
            name: osType
            modelAsString: true
        provisioningState:
          description: Provisioning state of the console.
          type: string
          enum:
          - NotSpecified
          - Accepted
          - Pending
          - Updating
          - Creating
          - Repairing
          - Failed
          - Canceled
          - Succeeded
          x-ms-enum:
            name: provisioningState
            modelAsString: true
        uri:
          description: Uri of the console.
          type: string
    ConsoleDefinition:
      description: The Resource model definition.
      x-ms-azure-resource: true
      type: object
      properties:
        properties:
          description: Cloud shell properties for creating a console.
          type: object
          required:
          - osType
          properties:
            osType:
              description: The operating system type of the cloud shell.
              type: string
              enum:
              - Linux
              - Windows
              x-ms-enum:
                name: osType
                modelAsString: true
            provisioningState:
              description: Provisioning state of the console.
              type: string
              enum:
              - NotSpecified
              - Accepted
              - Pending
              - Updating
              - Creating
              - Repairing
              - Failed
              - Canceled
              - Succeeded
              x-ms-enum:
                name: provisioningState
                modelAsString: true
            uri:
              description: Uri of the console.
              type: string
      required:
      - properties
    Resource:
      description: The Resource model definition.
      x-ms-azure-resource: true
    UserSettingsResponse:
      description: The Resource model definition.
      x-ms-azure-resource: true
      type: object
      properties:
        properties:
          description: The cloud shell user settings properties.
          type: object
          required:
          - preferredOsType
          - preferredLocation
          - storageProfile
          - terminalSettings
          - preferredShellType
          properties:
            preferredOsType:
              description: The operating system type of the cloud shell. Deprecated,
                use preferredShellType.
              type: string
              enum:
              - Windows
              - Linux
              x-ms-enum:
                name: osType
                modelAsString: true
            preferredLocation:
              description: The preferred location of the cloud shell.
              type: string
            storageProfile:
              description: The storage profile of the user settings.
              type: object
              properties:
                storageAccountResourceId:
                  type: string
                  description: Full resource ID of storage account.
                fileShareName:
                  type: string
                  description: Name of the mounted file share. 63 characters or less,
                    lowercase alphabet, numbers, and -
                diskSizeInGB:
                  type: integer
                  format: int32
                  description: Size of file share
            terminalSettings:
              description: Settings for terminal appearance.
              type: object
              properties:
                fontSize:
                  type: string
                  description: Size of terminal font.
                  enum:
                  - NotSpecified
                  - Small
                  - Medium
                  - Large
                  x-ms-enum:
                    name: fontSize
                    modelAsString: true
                fontStyle:
                  type: string
                  description: Style of terminal font.
                  enum:
                  - NotSpecified
                  - Monospace
                  - Courier
                  x-ms-enum:
                    name: fontStyle
                    modelAsString: true
            preferredShellType:
              description: The shell type of the cloud shell.
              type: string
              enum:
              - bash
              - pwsh
              - powershell
              x-ms-enum:
                name: shellType
                modelAsString: true
      required:
      - properties
    CloudShellUserSettings:
      description: The Resource model definition.
      x-ms-azure-resource: true
      type: object
      properties:
        properties:
          description: The cloud shell user settings properties.
          type: object
          required:
          - preferredOsType
          - preferredLocation
          - storageProfile
          - terminalSettings
          - preferredShellType
          properties:
            preferredOsType:
              description: The operating system type of the cloud shell. Deprecated,
                use preferredShellType.
              type: string
              enum:
              - Windows
              - Linux
              x-ms-enum:
                name: osType
                modelAsString: true
            preferredLocation:
              description: The preferred location of the cloud shell.
              type: string
            storageProfile:
              description: The storage profile of the user settings.
              type: object
              properties:
                storageAccountResourceId:
                  type: string
                  description: Full resource ID of storage account.
                fileShareName:
                  type: string
                  description: Name of the mounted file share. 63 characters or less,
                    lowercase alphabet, numbers, and -
                diskSizeInGB:
                  type: integer
                  format: int32
                  description: Size of file share
            terminalSettings:
              description: Settings for terminal appearance.
              type: object
              properties:
                fontSize:
                  type: string
                  description: Size of terminal font.
                  enum:
                  - NotSpecified
                  - Small
                  - Medium
                  - Large
                  x-ms-enum:
                    name: fontSize
                    modelAsString: true
                fontStyle:
                  type: string
                  description: Style of terminal font.
                  enum:
                  - NotSpecified
                  - Monospace
                  - Courier
                  x-ms-enum:
                    name: fontStyle
                    modelAsString: true
            preferredShellType:
              description: The shell type of the cloud shell.
              type: string
              enum:
              - bash
              - pwsh
              - powershell
              x-ms-enum:
                name: shellType
                modelAsString: true
      required:
      - properties
    CloudShellPatchUserSettings:
      description: Cloud shell patch operation user settings.
      type: object
      properties:
        properties:
          description: The cloud shell user settings properties.
          type: object
          required:
          - preferredOsType
          - preferredLocation
          - storageProfile
          - terminalSettings
          - preferredShellType
          properties:
            preferredOsType:
              description: The operating system type of the cloud shell. Deprecated,
                use preferredShellType.
              type: string
              enum:
              - Windows
              - Linux
              x-ms-enum:
                name: osType
                modelAsString: true
            preferredLocation:
              description: The preferred location of the cloud shell.
              type: string
            storageProfile:
              description: The storage profile of the user settings.
              type: object
              properties:
                storageAccountResourceId:
                  type: string
                  description: Full resource ID of storage account.
                fileShareName:
                  type: string
                  description: Name of the mounted file share. 63 characters or less,
                    lowercase alphabet, numbers, and -
                diskSizeInGB:
                  type: integer
                  format: int32
                  description: Size of file share
            terminalSettings:
              description: Settings for terminal appearance.
              type: object
              properties:
                fontSize:
                  type: string
                  description: Size of terminal font.
                  enum:
                  - NotSpecified
                  - Small
                  - Medium
                  - Large
                  x-ms-enum:
                    name: fontSize
                    modelAsString: true
                fontStyle:
                  type: string
                  description: Style of terminal font.
                  enum:
                  - NotSpecified
                  - Monospace
                  - Courier
                  x-ms-enum:
                    name: fontStyle
                    modelAsString: true
            preferredShellType:
              description: The shell type of the cloud shell.
              type: string
              enum:
              - bash
              - pwsh
              - powershell
              x-ms-enum:
                name: shellType
                modelAsString: true
    UserProperties:
      description: The cloud shell user settings properties.
      type: object
      required:
      - preferredOsType
      - preferredLocation
      - storageProfile
      - terminalSettings
      - preferredShellType
      properties:
        preferredOsType:
          description: The operating system type of the cloud shell. Deprecated, use
            preferredShellType.
          type: string
          enum:
          - Windows
          - Linux
          x-ms-enum:
            name: osType
            modelAsString: true
        preferredLocation:
          description: The preferred location of the cloud shell.
          type: string
        storageProfile:
          description: The storage profile of the user settings.
          type: object
          properties:
            storageAccountResourceId:
              type: string
              description: Full resource ID of storage account.
            fileShareName:
              type: string
              description: Name of the mounted file share. 63 characters or less,
                lowercase alphabet, numbers, and -
            diskSizeInGB:
              type: integer
              format: int32
              description: Size of file share
        terminalSettings:
          description: Settings for terminal appearance.
          type: object
          properties:
            fontSize:
              type: string
              description: Size of terminal font.
              enum:
              - NotSpecified
              - Small
              - Medium
              - Large
              x-ms-enum:
                name: fontSize
                modelAsString: true
            fontStyle:
              type: string
              description: Style of terminal font.
              enum:
              - NotSpecified
              - Monospace
              - Courier
              x-ms-enum:
                name: fontStyle
                modelAsString: true
        preferredShellType:
          description: The shell type of the cloud shell.
          type: string
          enum:
          - bash
          - pwsh
          - powershell
          x-ms-enum:
            name: shellType
            modelAsString: true
    StorageProfile:
      description: The storage profile of the user settings.
      type: object
      properties:
        storageAccountResourceId:
          type: string
          description: Full resource ID of storage account.
        fileShareName:
          type: string
          description: Name of the mounted file share. 63 characters or less, lowercase
            alphabet, numbers, and -
        diskSizeInGB:
          type: integer
          format: int32
          description: Size of file share
    TerminalSettings:
      description: Settings for terminal appearance.
      type: object
      properties:
        fontSize:
          type: string
          description: Size of terminal font.
          enum:
          - NotSpecified
          - Small
          - Medium
          - Large
          x-ms-enum:
            name: fontSize
            modelAsString: true
        fontStyle:
          type: string
          description: Style of terminal font.
          enum:
          - NotSpecified
          - Monospace
          - Courier
          x-ms-enum:
            name: fontStyle
            modelAsString: true
    ErrorResponse:
      title: ErrorResponse
      description: Contains details when the response code indicates an error.
      type: object
      properties:
        error:
          title: ErrorDetail
          type: object
          properties:
            code:
              description: The error's code.
              type: string
            message:
              description: A human readable error message.
              type: string
          required:
          - code
          - message
      required:
      - error
    ErrorDetail:
      title: ErrorDetail
      type: object
      properties:
        code:
          description: The error's code.
          type: string
        message:
          description: A human readable error message.
          type: string
      required:
      - code
      - message
