openapi: 3.0.0
info:
  title: Domain Services Resource Provider
  description: The AAD Domain Services API.
  version: 2022-12-01
servers:
- url: https://management.azure.com
paths:
  /providers/Microsoft.Aad/operations:
    get:
      tags:
      - OuContainer
      description: Lists all the available OuContainer operations.
      operationId: OuContainerOperations_List
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: HTTP 200 (OK) if the operation was successful.
          content:
            application/json:
              schema:
                description: The list of domain service operation response.
                type: object
                properties:
                  value:
                    description: The list of operations.
                    type: array
                    items:
                      description: The operation supported by Domain Services.
                      type: object
                      properties:
                        name:
                          description: 'Operation name: {provider}/{resource}/{operation}.'
                          type: string
                        display:
                          description: The operation supported by Domain Services.
                          type: object
                          properties:
                            description:
                              description: The description of the operation.
                              type: string
                            operation:
                              description: The action that users can perform, based
                                on their permission level.
                              type: string
                            provider:
                              description: 'Service provider: Domain Services.'
                              type: string
                            resource:
                              description: Resource on which the operation is performed.
                              type: string
                        origin:
                          description: The origin of the operation.
                          type: string
                  nextLink:
                    type: string
                    description: The continuation token for the next page of results.
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    description: An error response from the Domain Services.
                    type: object
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          type: object
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                type: object
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the Domain Services.
                              description: A list of additional details about the
                                error.
                          description: An error response from the Domain Services.
                        description: A list of additional details about the error.
                description: An error response from the Domain Services.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Aad/domainServices/{domainServiceName}/ouContainer
  : get:
      tags:
      - OuContainer
      operationId: OuContainer_List
      summary: List of OuContainers in DomainService instance
      description: The List of OuContainers in DomainService instance.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: domainServiceName
        in: path
        required: true
        description: The name of the domain service.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: HTTP 200 (OK) if the operation was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id
                        name:
                          readOnly: true
                          type: string
                          description: Resource name
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        location:
                          type: string
                          description: Resource location
                          x-ms-mutability:
                          - read
                          - create
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags
                        etag:
                          type: string
                          description: Resource etag
                        systemData:
                          readOnly: true
                          description: The system meta data relating to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          x-ms-client-flatten: true
                          description: OuContainer properties
                          type: object
                          properties:
                            tenantId:
                              readOnly: true
                              type: string
                              description: Azure Active Directory tenant id
                            domainName:
                              readOnly: true
                              type: string
                              description: The domain name of Domain Services.
                            deploymentId:
                              readOnly: true
                              type: string
                              description: The Deployment id
                            containerId:
                              readOnly: true
                              type: string
                              description: The OuContainer name
                            accounts:
                              type: array
                              items:
                                description: Container Account
                                type: object
                                properties:
                                  accountName:
                                    type: string
                                    description: The account name
                                  spn:
                                    type: string
                                    description: The account spn
                                  password:
                                    type: string
                                    description: The account password
                              description: The list of container accounts
                            serviceStatus:
                              readOnly: true
                              type: string
                              description: Status of OuContainer instance
                            distinguishedName:
                              readOnly: true
                              type: string
                              description: Distinguished Name of OuContainer instance
                            provisioningState:
                              readOnly: true
                              type: string
                              description: The current deployment or provisioning
                                state, which only appears in the response.
                      description: The Resource model definition.
                      x-ms-azure-resource: true
                    description: The list of OuContainer.
                  nextLink:
                    type: string
                    description: The continuation token for the next page of results.
                    readOnly: true
                description: The response from the List OuContainer operation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    description: An error response from the Domain Services.
                    type: object
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          type: object
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                type: object
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the Domain Services.
                              description: A list of additional details about the
                                error.
                          description: An error response from the Domain Services.
                        description: A list of additional details about the error.
                description: An error response from the Domain Services.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Aad/domainServices/{domainServiceName}/ouContainer/{ouContainerName}
  : get:
      tags:
      - OuContainer
      operationId: OuContainer_Get
      summary: Get particular OuContainer in DomainService instance
      description: Get OuContainer in DomainService instance.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: domainServiceName
        in: path
        required: true
        description: The name of the domain service.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: ouContainerName
        in: path
        required: true
        description: The name of the OuContainer.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: HTTP 200 (OK) if the operation was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                    x-ms-mutability:
                    - read
                    - create
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  etag:
                    type: string
                    description: Resource etag
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    description: OuContainer properties
                    type: object
                    properties:
                      tenantId:
                        readOnly: true
                        type: string
                        description: Azure Active Directory tenant id
                      domainName:
                        readOnly: true
                        type: string
                        description: The domain name of Domain Services.
                      deploymentId:
                        readOnly: true
                        type: string
                        description: The Deployment id
                      containerId:
                        readOnly: true
                        type: string
                        description: The OuContainer name
                      accounts:
                        type: array
                        items:
                          description: Container Account
                          type: object
                          properties:
                            accountName:
                              type: string
                              description: The account name
                            spn:
                              type: string
                              description: The account spn
                            password:
                              type: string
                              description: The account password
                        description: The list of container accounts
                      serviceStatus:
                        readOnly: true
                        type: string
                        description: Status of OuContainer instance
                      distinguishedName:
                        readOnly: true
                        type: string
                        description: Distinguished Name of OuContainer instance
                      provisioningState:
                        readOnly: true
                        type: string
                        description: The current deployment or provisioning state,
                          which only appears in the response.
                description: The Resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    description: An error response from the Domain Services.
                    type: object
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          type: object
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                type: object
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the Domain Services.
                              description: A list of additional details about the
                                error.
                          description: An error response from the Domain Services.
                        description: A list of additional details about the error.
                description: An error response from the Domain Services.
    put:
      tags:
      - OuContainer
      operationId: OuContainer_Create
      summary: Create OuContainer
      description: The Create OuContainer operation creates a new OuContainer under
        the specified Domain Service instance.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: domainServiceName
        in: path
        required: true
        description: The name of the domain service.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: ouContainerName
        in: path
        required: true
        description: The name of the OuContainer.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Container Account Description
              type: object
              properties:
                accountName:
                  type: string
                  description: The account name
                spn:
                  type: string
                  description: The account spn
                password:
                  type: string
                  description: The account password
        description: Container Account Description.
        required: true
      responses:
        '200':
          description: HTTP 200 (OK) if the operation was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                    x-ms-mutability:
                    - read
                    - create
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  etag:
                    type: string
                    description: Resource etag
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    description: OuContainer properties
                    type: object
                    properties:
                      tenantId:
                        readOnly: true
                        type: string
                        description: Azure Active Directory tenant id
                      domainName:
                        readOnly: true
                        type: string
                        description: The domain name of Domain Services.
                      deploymentId:
                        readOnly: true
                        type: string
                        description: The Deployment id
                      containerId:
                        readOnly: true
                        type: string
                        description: The OuContainer name
                      accounts:
                        type: array
                        items:
                          description: Container Account
                          type: object
                          properties:
                            accountName:
                              type: string
                              description: The account name
                            spn:
                              type: string
                              description: The account spn
                            password:
                              type: string
                              description: The account password
                        description: The list of container accounts
                      serviceStatus:
                        readOnly: true
                        type: string
                        description: Status of OuContainer instance
                      distinguishedName:
                        readOnly: true
                        type: string
                        description: Distinguished Name of OuContainer instance
                      provisioningState:
                        readOnly: true
                        type: string
                        description: The current deployment or provisioning state,
                          which only appears in the response.
                description: The Resource model definition.
                x-ms-azure-resource: true
        '201':
          description: HTTP 201 (Created) if the operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                    x-ms-mutability:
                    - read
                    - create
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  etag:
                    type: string
                    description: Resource etag
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    description: OuContainer properties
                    type: object
                    properties:
                      tenantId:
                        readOnly: true
                        type: string
                        description: Azure Active Directory tenant id
                      domainName:
                        readOnly: true
                        type: string
                        description: The domain name of Domain Services.
                      deploymentId:
                        readOnly: true
                        type: string
                        description: The Deployment id
                      containerId:
                        readOnly: true
                        type: string
                        description: The OuContainer name
                      accounts:
                        type: array
                        items:
                          description: Container Account
                          type: object
                          properties:
                            accountName:
                              type: string
                              description: The account name
                            spn:
                              type: string
                              description: The account spn
                            password:
                              type: string
                              description: The account password
                        description: The list of container accounts
                      serviceStatus:
                        readOnly: true
                        type: string
                        description: Status of OuContainer instance
                      distinguishedName:
                        readOnly: true
                        type: string
                        description: Distinguished Name of OuContainer instance
                      provisioningState:
                        readOnly: true
                        type: string
                        description: The current deployment or provisioning state,
                          which only appears in the response.
                description: The Resource model definition.
                x-ms-azure-resource: true
        '202':
          description: HTTP 202 (Accepted) if the operation was successfully started
            and will complete asynchronously.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                    x-ms-mutability:
                    - read
                    - create
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  etag:
                    type: string
                    description: Resource etag
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    description: OuContainer properties
                    type: object
                    properties:
                      tenantId:
                        readOnly: true
                        type: string
                        description: Azure Active Directory tenant id
                      domainName:
                        readOnly: true
                        type: string
                        description: The domain name of Domain Services.
                      deploymentId:
                        readOnly: true
                        type: string
                        description: The Deployment id
                      containerId:
                        readOnly: true
                        type: string
                        description: The OuContainer name
                      accounts:
                        type: array
                        items:
                          description: Container Account
                          type: object
                          properties:
                            accountName:
                              type: string
                              description: The account name
                            spn:
                              type: string
                              description: The account spn
                            password:
                              type: string
                              description: The account password
                        description: The list of container accounts
                      serviceStatus:
                        readOnly: true
                        type: string
                        description: Status of OuContainer instance
                      distinguishedName:
                        readOnly: true
                        type: string
                        description: Distinguished Name of OuContainer instance
                      provisioningState:
                        readOnly: true
                        type: string
                        description: The current deployment or provisioning state,
                          which only appears in the response.
                description: The Resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    description: An error response from the Domain Services.
                    type: object
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          type: object
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                type: object
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the Domain Services.
                              description: A list of additional details about the
                                error.
                          description: An error response from the Domain Services.
                        description: A list of additional details about the error.
                description: An error response from the Domain Services.
      x-ms-long-running-operation: true
    delete:
      tags:
      - OuContainer
      operationId: OuContainer_Delete
      summary: Delete OuContainer
      description: The Delete OuContainer operation deletes specified OuContainer.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: domainServiceName
        in: path
        required: true
        description: The name of the domain service.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: ouContainerName
        in: path
        required: true
        description: The name of the OuContainer.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: HTTP 200 (OK) if the operation was successful.
        '202':
          description: HTTP 202 (Accepted) if the operation was successfully started
            and will complete asynchronously.
        '204':
          description: HTTP 204 (Not Content) should be used if the resource does
            not exist and the request is well formed.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    description: An error response from the Domain Services.
                    type: object
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          type: object
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                type: object
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the Domain Services.
                              description: A list of additional details about the
                                error.
                          description: An error response from the Domain Services.
                        description: A list of additional details about the error.
                description: An error response from the Domain Services.
      x-ms-long-running-operation: true
    patch:
      tags:
      - OuContainer
      operationId: OuContainer_Update
      summary: Update OuContainer (PATCH Resource)
      description: The Update OuContainer operation can be used to update the existing
        OuContainers.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: domainServiceName
        in: path
        required: true
        description: The name of the domain service.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: ouContainerName
        in: path
        required: true
        description: The name of the OuContainer.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Container Account Description
              type: object
              properties:
                accountName:
                  type: string
                  description: The account name
                spn:
                  type: string
                  description: The account spn
                password:
                  type: string
                  description: The account password
        description: Container Account Description.
        required: true
      responses:
        '200':
          description: HTTP 200 (OK) if the operation was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                    x-ms-mutability:
                    - read
                    - create
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  etag:
                    type: string
                    description: Resource etag
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    description: OuContainer properties
                    type: object
                    properties:
                      tenantId:
                        readOnly: true
                        type: string
                        description: Azure Active Directory tenant id
                      domainName:
                        readOnly: true
                        type: string
                        description: The domain name of Domain Services.
                      deploymentId:
                        readOnly: true
                        type: string
                        description: The Deployment id
                      containerId:
                        readOnly: true
                        type: string
                        description: The OuContainer name
                      accounts:
                        type: array
                        items:
                          description: Container Account
                          type: object
                          properties:
                            accountName:
                              type: string
                              description: The account name
                            spn:
                              type: string
                              description: The account spn
                            password:
                              type: string
                              description: The account password
                        description: The list of container accounts
                      serviceStatus:
                        readOnly: true
                        type: string
                        description: Status of OuContainer instance
                      distinguishedName:
                        readOnly: true
                        type: string
                        description: Distinguished Name of OuContainer instance
                      provisioningState:
                        readOnly: true
                        type: string
                        description: The current deployment or provisioning state,
                          which only appears in the response.
                description: The Resource model definition.
                x-ms-azure-resource: true
        '202':
          description: HTTP 202 (Accepted) if the operation was successfully started
            and will complete asynchronously.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                    x-ms-mutability:
                    - read
                    - create
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  etag:
                    type: string
                    description: Resource etag
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    description: OuContainer properties
                    type: object
                    properties:
                      tenantId:
                        readOnly: true
                        type: string
                        description: Azure Active Directory tenant id
                      domainName:
                        readOnly: true
                        type: string
                        description: The domain name of Domain Services.
                      deploymentId:
                        readOnly: true
                        type: string
                        description: The Deployment id
                      containerId:
                        readOnly: true
                        type: string
                        description: The OuContainer name
                      accounts:
                        type: array
                        items:
                          description: Container Account
                          type: object
                          properties:
                            accountName:
                              type: string
                              description: The account name
                            spn:
                              type: string
                              description: The account spn
                            password:
                              type: string
                              description: The account password
                        description: The list of container accounts
                      serviceStatus:
                        readOnly: true
                        type: string
                        description: Status of OuContainer instance
                      distinguishedName:
                        readOnly: true
                        type: string
                        description: Distinguished Name of OuContainer instance
                      provisioningState:
                        readOnly: true
                        type: string
                        description: The current deployment or provisioning state,
                          which only appears in the response.
                description: The Resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    description: An error response from the Domain Services.
                    type: object
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          type: object
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                type: object
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the Domain Services.
                              description: A list of additional details about the
                                error.
                          description: An error response from the Domain Services.
                        description: A list of additional details about the error.
                description: An error response from the Domain Services.
      x-ms-long-running-operation: true
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group within the user's subscription.
        The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._\(\)]+$
    DomainServiceNameParameter:
      name: domainServiceName
      in: path
      required: true
      description: The name of the domain service.
      x-ms-parameter-location: method
      schema:
        type: string
    OuContainerNameParameter:
      name: ouContainerName
      in: path
      required: true
      description: The name of the OuContainer.
      x-ms-parameter-location: method
      schema:
        type: string
  requestBodies:
    OuContainer_CreateContaineraccount:
      content:
        application/json:
          schema:
            description: Container Account Description
            type: object
            properties:
              accountName:
                type: string
                description: The account name
              spn:
                type: string
                description: The account spn
              password:
                type: string
                description: The account password
      description: Container Account Description.
      required: true
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Resource:
      description: The Resource model definition.
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        location:
          type: string
          description: Resource location
          x-ms-mutability:
          - read
          - create
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
        etag:
          type: string
          description: Resource etag
        systemData:
          readOnly: true
          description: The system meta data relating to this resource.
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      x-ms-azure-resource: true
    OuContainerListResult:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Resource Id
              name:
                readOnly: true
                type: string
                description: Resource name
              type:
                readOnly: true
                type: string
                description: Resource type
              location:
                type: string
                description: Resource location
                x-ms-mutability:
                - read
                - create
              tags:
                type: object
                additionalProperties:
                  type: string
                description: Resource tags
              etag:
                type: string
                description: Resource etag
              systemData:
                readOnly: true
                description: The system meta data relating to this resource.
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              properties:
                x-ms-client-flatten: true
                description: OuContainer properties
                type: object
                properties:
                  tenantId:
                    readOnly: true
                    type: string
                    description: Azure Active Directory tenant id
                  domainName:
                    readOnly: true
                    type: string
                    description: The domain name of Domain Services.
                  deploymentId:
                    readOnly: true
                    type: string
                    description: The Deployment id
                  containerId:
                    readOnly: true
                    type: string
                    description: The OuContainer name
                  accounts:
                    type: array
                    items:
                      description: Container Account
                      type: object
                      properties:
                        accountName:
                          type: string
                          description: The account name
                        spn:
                          type: string
                          description: The account spn
                        password:
                          type: string
                          description: The account password
                    description: The list of container accounts
                  serviceStatus:
                    readOnly: true
                    type: string
                    description: Status of OuContainer instance
                  distinguishedName:
                    readOnly: true
                    type: string
                    description: Distinguished Name of OuContainer instance
                  provisioningState:
                    readOnly: true
                    type: string
                    description: The current deployment or provisioning state, which
                      only appears in the response.
            description: The Resource model definition.
            x-ms-azure-resource: true
          description: The list of OuContainer.
        nextLink:
          type: string
          description: The continuation token for the next page of results.
          readOnly: true
      description: The response from the List OuContainer operation.
    OuContainer:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        location:
          type: string
          description: Resource location
          x-ms-mutability:
          - read
          - create
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
        etag:
          type: string
          description: Resource etag
        systemData:
          readOnly: true
          description: The system meta data relating to this resource.
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        properties:
          x-ms-client-flatten: true
          description: OuContainer properties
          type: object
          properties:
            tenantId:
              readOnly: true
              type: string
              description: Azure Active Directory tenant id
            domainName:
              readOnly: true
              type: string
              description: The domain name of Domain Services.
            deploymentId:
              readOnly: true
              type: string
              description: The Deployment id
            containerId:
              readOnly: true
              type: string
              description: The OuContainer name
            accounts:
              type: array
              items:
                description: Container Account
                type: object
                properties:
                  accountName:
                    type: string
                    description: The account name
                  spn:
                    type: string
                    description: The account spn
                  password:
                    type: string
                    description: The account password
              description: The list of container accounts
            serviceStatus:
              readOnly: true
              type: string
              description: Status of OuContainer instance
            distinguishedName:
              readOnly: true
              type: string
              description: Distinguished Name of OuContainer instance
            provisioningState:
              readOnly: true
              type: string
              description: The current deployment or provisioning state, which only
                appears in the response.
      description: The Resource model definition.
      x-ms-azure-resource: true
    OuContainerProperties:
      description: Properties of the OuContainer.
      type: object
      properties:
        tenantId:
          readOnly: true
          type: string
          description: Azure Active Directory tenant id
        domainName:
          readOnly: true
          type: string
          description: The domain name of Domain Services.
        deploymentId:
          readOnly: true
          type: string
          description: The Deployment id
        containerId:
          readOnly: true
          type: string
          description: The OuContainer name
        accounts:
          type: array
          items:
            description: Container Account
            type: object
            properties:
              accountName:
                type: string
                description: The account name
              spn:
                type: string
                description: The account spn
              password:
                type: string
                description: The account password
          description: The list of container accounts
        serviceStatus:
          readOnly: true
          type: string
          description: Status of OuContainer instance
        distinguishedName:
          readOnly: true
          type: string
          description: Distinguished Name of OuContainer instance
        provisioningState:
          readOnly: true
          type: string
          description: The current deployment or provisioning state, which only appears
            in the response.
    ContainerAccount:
      description: Container Account Description
      type: object
      properties:
        accountName:
          type: string
          description: The account name
        spn:
          type: string
          description: The account spn
        password:
          type: string
          description: The account password
    OperationEntityListResult:
      description: The list of domain service operation response.
      type: object
      properties:
        value:
          description: The list of operations.
          type: array
          items:
            description: The operation supported by Domain Services.
            type: object
            properties:
              name:
                description: 'Operation name: {provider}/{resource}/{operation}.'
                type: string
              display:
                description: The operation supported by Domain Services.
                type: object
                properties:
                  description:
                    description: The description of the operation.
                    type: string
                  operation:
                    description: The action that users can perform, based on their
                      permission level.
                    type: string
                  provider:
                    description: 'Service provider: Domain Services.'
                    type: string
                  resource:
                    description: Resource on which the operation is performed.
                    type: string
              origin:
                description: The origin of the operation.
                type: string
        nextLink:
          type: string
          description: The continuation token for the next page of results.
          readOnly: true
    OperationEntity:
      description: The operation supported by Domain Services.
      type: object
      properties:
        name:
          description: 'Operation name: {provider}/{resource}/{operation}.'
          type: string
        display:
          description: The operation supported by Domain Services.
          type: object
          properties:
            description:
              description: The description of the operation.
              type: string
            operation:
              description: The action that users can perform, based on their permission
                level.
              type: string
            provider:
              description: 'Service provider: Domain Services.'
              type: string
            resource:
              description: Resource on which the operation is performed.
              type: string
        origin:
          description: The origin of the operation.
          type: string
    OperationDisplayInfo:
      description: The operation supported by Domain Services.
      type: object
      properties:
        description:
          description: The description of the operation.
          type: string
        operation:
          description: The action that users can perform, based on their permission
            level.
          type: string
        provider:
          description: 'Service provider: Domain Services.'
          type: string
        resource:
          description: Resource on which the operation is performed.
          type: string
    CloudErrorBody:
      type: object
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for
            display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of
            the property in error.
        details:
          type: array
          items:
            type: object
            x-ms-external: true
            properties:
              code:
                type: string
                description: An identifier for the error. Codes are invariant and
                  are intended to be consumed programmatically.
              message:
                type: string
                description: A message describing the error, intended to be suitable
                  for display in a user interface.
              target:
                type: string
                description: The target of the particular error. For example, the
                  name of the property in error.
              details:
                type: array
                items:
                  type: object
                  x-ms-external: true
                  properties:
                    code:
                      type: string
                      description: An identifier for the error. Codes are invariant
                        and are intended to be consumed programmatically.
                    message:
                      type: string
                      description: A message describing the error, intended to be
                        suitable for display in a user interface.
                    target:
                      type: string
                      description: The target of the particular error. For example,
                        the name of the property in error.
                  description: An error response from the Domain Services.
                description: A list of additional details about the error.
            description: An error response from the Domain Services.
          description: A list of additional details about the error.
      description: An error response from the Domain Services.
    CloudError:
      type: object
      x-ms-external: true
      properties:
        error:
          description: An error response from the Domain Services.
          type: object
          x-ms-external: true
          properties:
            code:
              type: string
              description: An identifier for the error. Codes are invariant and are
                intended to be consumed programmatically.
            message:
              type: string
              description: A message describing the error, intended to be suitable
                for display in a user interface.
            target:
              type: string
              description: The target of the particular error. For example, the name
                of the property in error.
            details:
              type: array
              items:
                type: object
                x-ms-external: true
                properties:
                  code:
                    type: string
                    description: An identifier for the error. Codes are invariant
                      and are intended to be consumed programmatically.
                  message:
                    type: string
                    description: A message describing the error, intended to be suitable
                      for display in a user interface.
                  target:
                    type: string
                    description: The target of the particular error. For example,
                      the name of the property in error.
                  details:
                    type: array
                    items:
                      type: object
                      x-ms-external: true
                      properties:
                        code:
                          type: string
                          description: An identifier for the error. Codes are invariant
                            and are intended to be consumed programmatically.
                        message:
                          type: string
                          description: A message describing the error, intended to
                            be suitable for display in a user interface.
                        target:
                          type: string
                          description: The target of the particular error. For example,
                            the name of the property in error.
                      description: An error response from the Domain Services.
                    description: A list of additional details about the error.
                description: An error response from the Domain Services.
              description: A list of additional details about the error.
      description: An error response from the Domain Services.
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
