openapi: 3.0.0
info:
  version: 2025-06-01
  title: CdnManagementClient
  description: Use these APIs to manage Azure Front Door resources through the Azure
    Resource Manager. You must make sure that requests made to these resources are
    secure.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/checkEndpointNameAvailability:
    post:
      tags:
      - CheckEndpointNameAvailability
      description: Check the availability of a resource name. This is needed for resources
        where name is globally unique, such as a afdx endpoint.
      operationId: CheckEndpointNameAvailability
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              description: Input of CheckNameAvailability API.
              type: object
              required:
              - name
              - type
              properties:
                name:
                  description: The resource name to validate.
                  type: string
                type:
                  description: The type of the resource whose name is to be validated.
                  enum:
                  - Microsoft.Cdn/Profiles/Endpoints
                  - Microsoft.Cdn/Profiles/AfdEndpoints
                  type: string
                  x-ms-enum:
                    name: ResourceType
                    modelAsString: true
                autoGeneratedDomainNameLabelScope:
                  description: Indicates the endpoint name reuse scope. The default
                    value is TenantReuse.
                  enum:
                  - TenantReuse
                  - SubscriptionReuse
                  - ResourceGroupReuse
                  - NoReuse
                  type: string
                  x-ms-enum:
                    name: AutoGeneratedDomainNameLabelScope
                    modelAsString: true
        description: Input to check.
        required: true
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: Output of check name availability API.
                type: object
                properties:
                  nameAvailable:
                    description: Indicates whether the name is available.
                    readOnly: true
                    type: boolean
                  availableHostname:
                    description: Returns the available hostname generated based on
                      the AutoGeneratedDomainNameLabelScope when the name is available,
                      otherwise it returns empty string
                    readOnly: true
                    type: string
                  reason:
                    description: The reason why the name is not available.
                    readOnly: true
                    type: string
                  message:
                    description: The detailed error message describing why the name
                      is not available.
                    readOnly: true
                    type: string
        default:
          description: Azure Front Door error response describing why the operation
            failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/checkEndpointNameAvailability
  : post:
      tags:
      - AFDProfiles
      description: Check the availability of an afdx endpoint name, and return the
        globally unique endpoint host name.
      operationId: AFDProfiles_CheckEndpointNameAvailability
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: profileName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the Azure Front Door Standard or Azure Front Door Premium
          which is unique within the resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 260
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              description: Input of CheckNameAvailability API.
              type: object
              required:
              - name
              - type
              properties:
                name:
                  description: The resource name to validate.
                  type: string
                type:
                  description: The type of the resource whose name is to be validated.
                  enum:
                  - Microsoft.Cdn/Profiles/Endpoints
                  - Microsoft.Cdn/Profiles/AfdEndpoints
                  type: string
                  x-ms-enum:
                    name: ResourceType
                    modelAsString: true
                autoGeneratedDomainNameLabelScope:
                  description: Indicates the endpoint name reuse scope. The default
                    value is TenantReuse.
                  enum:
                  - TenantReuse
                  - SubscriptionReuse
                  - ResourceGroupReuse
                  - NoReuse
                  type: string
                  x-ms-enum:
                    name: AutoGeneratedDomainNameLabelScope
                    modelAsString: true
        description: Input to check.
        required: true
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: Output of check name availability API.
                type: object
                properties:
                  nameAvailable:
                    description: Indicates whether the name is available.
                    readOnly: true
                    type: boolean
                  availableHostname:
                    description: Returns the available hostname generated based on
                      the AutoGeneratedDomainNameLabelScope when the name is available,
                      otherwise it returns empty string
                    readOnly: true
                    type: string
                  reason:
                    description: The reason why the name is not available.
                    readOnly: true
                    type: string
                  message:
                    description: The detailed error message describing why the name
                      is not available.
                    readOnly: true
                    type: string
        default:
          description: Azure Front Door error response describing why the operation
            failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/usages:
    post:
      tags:
      - AFDProfiles
      description: Checks the quota and actual usage of endpoints under the given
        Azure Front Door profile.
      operationId: AFDProfiles_ListResourceUsage
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: profileName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the Azure Front Door Standard or Azure Front Door Premium
          which is unique within the resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 260
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          readOnly: true
                          description: Resource identifier.
                        unit:
                          type: string
                          description: An enum describing the unit of measurement.
                          enum:
                          - Count
                          x-ms-enum:
                            name: UsageUnit
                            modelAsString: true
                        currentValue:
                          type: integer
                          format: int64
                          description: The current value of the usage.
                        limit:
                          type: integer
                          format: int64
                          description: The limit of usage.
                        name:
                          description: The name of the type of usage.
                          type: object
                          properties:
                            value:
                              type: string
                              description: A string describing the resource name.
                            localizedValue:
                              type: string
                              description: A localized string describing the resource
                                name.
                      required:
                      - unit
                      - currentValue
                      - limit
                      - name
                      description: Describes resource usage.
                    description: The list of resource usages.
                  nextLink:
                    type: string
                    description: URL to get the next set of results.
                description: The list usages operation response.
        default:
          description: Azure Front Door error response describing why the operation
            failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/checkHostNameAvailability
  : post:
      tags:
      - AFDProfiles
      description: Validates the custom domain mapping to ensure it maps to the correct
        Azure Front Door endpoint in DNS.
      operationId: AFDProfiles_CheckHostNameAvailability
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: profileName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the Azure Front Door Standard or Azure Front Door Premium
          which is unique within the resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 260
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              description: Input of CheckHostNameAvailability API.
              type: object
              required:
              - hostName
              properties:
                hostName:
                  description: The host name to validate.
                  type: string
        description: Custom domain to be validated.
        required: true
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: Output of check name availability API.
                type: object
                properties:
                  nameAvailable:
                    description: Indicates whether the name is available.
                    readOnly: true
                    type: boolean
                  reason:
                    description: The reason why the name is not available.
                    readOnly: true
                    type: string
                  message:
                    description: The detailed error message describing why the name
                      is not available.
                    readOnly: true
                    type: string
        default:
          description: Azure Front Door error response describing why the operation
            failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/validateSecret
  : post:
      tags:
      - AFDProfiles
      description: Validate a Secret in the profile.
      operationId: AFDProfiles_ValidateSecret
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: profileName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the Azure Front Door Standard or Azure Front Door Premium
          which is unique within the resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 260
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              description: Input of the secret to be validated.
              type: object
              required:
              - secretSource
              - secretType
              properties:
                secretType:
                  description: The secret type.
                  enum:
                  - UrlSigningKey
                  - CustomerCertificate
                  - ManagedCertificate
                  - AzureFirstPartyManagedCertificate
                  type: string
                  x-ms-enum:
                    name: SecretType
                    modelAsString: true
                secretSource:
                  description: "Resource reference to the Azure Key Vault secret.\
                    \ Expected to be in format of /subscriptions/{\u200B\u200B\u200B\
                    \u200B\u200B\u200B\u200B\u200B\u200BsubscriptionId}\u200B\u200B\
                    \u200B\u200B\u200B\u200B\u200B\u200B\u200B/resourceGroups/{\u200B\
                    \u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200BresourceGroupName}\u200B\
                    \u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\
                    \u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\
                    \u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\
                    \u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\
                    \u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\
                    \u200B\u200B/providers/Microsoft.KeyVault/vaults/{vaultName}\u200B\
                    \u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\
                    \u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\
                    \u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\
                    \u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\
                    \u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\
                    \u200B\u200B/secrets/{secretName}\u200B\u200B\u200B\u200B\u200B\
                    \u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\
                    \u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\
                    \u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\
                    \u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\
                    \u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B\u200B"
                  properties:
                    id:
                      type: string
                      description: Resource ID.
                  type: object
                  x-ms-azure-resource: true
                secretVersion:
                  description: Secret version, if customer is using a specific version.
                  type: string
        description: The Secret source.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Output of the validated secret.
                type: object
                properties:
                  status:
                    description: The validation status.
                    enum:
                    - Valid
                    - Invalid
                    - AccessDenied
                    - CertificateExpired
                    type: string
                    x-ms-enum:
                      name: status
                      modelAsString: true
                  message:
                    description: Detailed error message
                    type: string
        default:
          description: Azure Front Door error response describing why the operation
            failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/upgrade:
    post:
      tags:
      - AFDProfiles
      description: Upgrade a profile from Standard_AzureFrontDoor to Premium_AzureFrontDoor.
      operationId: AFDProfiles_Upgrade
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: profileName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the Azure Front Door Standard or Azure Front Door Premium
          which is unique within the resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 260
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Parameters required for profile upgrade.
              required:
              - wafMappingList
              properties:
                wafMappingList:
                  description: Web Application Firewall (WAF) and security policy
                    mapping for the profile upgrade
                  type: array
                  items:
                    description: List of waf mappings
                    type: object
                    required:
                    - securityPolicyName
                    - changeToWafPolicy
                    properties:
                      securityPolicyName:
                        description: The security policy name.
                        type: string
                      changeToWafPolicy:
                        description: The new waf resource for the security policy
                          to use.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        type: object
                        x-ms-azure-resource: true
                  x-ms-identifiers: []
        description: Profile upgrade input parameter.
        required: true
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  sku:
                    description: The pricing tier (defines Azure Front Door Standard
                      or Premium or a CDN provider, feature list and rate) of the
                      profile.
                    properties:
                      name:
                        description: Name of the pricing tier.
                        enum:
                        - Standard_Verizon
                        - Premium_Verizon
                        - Custom_Verizon
                        - Standard_Akamai
                        - Standard_ChinaCdn
                        - Standard_Microsoft
                        - Standard_AzureFrontDoor
                        - Premium_AzureFrontDoor
                        - Standard_955BandWidth_ChinaCdn
                        - Standard_AvgBandWidth_ChinaCdn
                        - StandardPlus_ChinaCdn
                        - StandardPlus_955BandWidth_ChinaCdn
                        - StandardPlus_AvgBandWidth_ChinaCdn
                        type: string
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                    type: object
                  kind:
                    readOnly: true
                    type: string
                    description: Kind of the profile. Used by portal to differentiate
                      traditional CDN profile and new AFD profile.
                  identity:
                    description: Managed service identity (system assigned and/or
                      user assigned identities).
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                          nullable: true
                    required:
                    - type
                  properties:
                    x-ms-client-flatten: true
                    description: The JSON object that contains the properties required
                      to create a profile.
                    type: object
                    properties:
                      resourceState:
                        description: Resource status of the profile.
                        readOnly: true
                        enum:
                        - Creating
                        - Active
                        - Deleting
                        - Disabled
                        - Migrating
                        - Migrated
                        - PendingMigrationCommit
                        - CommittingMigration
                        - AbortingMigration
                        type: string
                        x-ms-enum:
                          name: ProfileResourceState
                          modelAsString: true
                      provisioningState:
                        readOnly: true
                        description: Provisioning status of the profile.
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Updating
                        - Deleting
                        - Creating
                        x-ms-enum:
                          name: ProfileProvisioningState
                          modelAsString: true
                      extendedProperties:
                        description: Key-Value pair representing additional properties
                          for profiles.
                        type: object
                        additionalProperties:
                          type: string
                        readOnly: true
                      frontDoorId:
                        readOnly: true
                        type: string
                        description: The Id of the frontdoor.
                      originResponseTimeoutSeconds:
                        description: Send and receive timeout on forwarding request
                          to the origin. When timeout is reached, the request fails
                          and returns.
                        type: integer
                        format: int32
                        minimum: 16
                        exclusiveMinimum: false
                      logScrubbing:
                        description: Defines rules that scrub sensitive fields in
                          the Azure Front Door profile logs.
                        type: object
                        properties:
                          state:
                            type: string
                            description: State of the log scrubbing config. Default
                              value is Enabled.
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: ProfileScrubbingState
                              modelAsString: true
                          scrubbingRules:
                            type: array
                            items:
                              description: Defines the contents of the log scrubbing
                                rules.
                              type: object
                              required:
                              - matchVariable
                              - selectorMatchOperator
                              properties:
                                matchVariable:
                                  type: string
                                  enum:
                                  - RequestIPAddress
                                  - RequestUri
                                  - QueryStringArgNames
                                  description: The variable to be scrubbed from the
                                    logs.
                                  x-ms-enum:
                                    name: scrubbingRuleEntryMatchVariable
                                    modelAsString: true
                                selectorMatchOperator:
                                  type: string
                                  enum:
                                  - EqualsAny
                                  description: When matchVariable is a collection,
                                    operate on the selector to specify which elements
                                    in the collection this rule applies to.
                                  x-ms-enum:
                                    name: ' scrubbingRuleEntryMatchOperator'
                                    modelAsString: true
                                selector:
                                  type: string
                                  description: When matchVariable is a collection,
                                    operator used to specify which elements in the
                                    collection this rule applies to.
                                state:
                                  type: string
                                  enum:
                                  - Enabled
                                  - Disabled
                                  description: Defines the state of a log scrubbing
                                    rule. Default value is enabled.
                                  x-ms-enum:
                                    name: ' scrubbingRuleEntryState'
                                    modelAsString: true
                            x-ms-identifiers: []
                            description: List of log scrubbing rules applied to the
                              Azure Front Door profile logs.
                required:
                - location
                - sku
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously.
          headers:
            location:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  sku:
                    description: The pricing tier (defines Azure Front Door Standard
                      or Premium or a CDN provider, feature list and rate) of the
                      profile.
                    properties:
                      name:
                        description: Name of the pricing tier.
                        enum:
                        - Standard_Verizon
                        - Premium_Verizon
                        - Custom_Verizon
                        - Standard_Akamai
                        - Standard_ChinaCdn
                        - Standard_Microsoft
                        - Standard_AzureFrontDoor
                        - Premium_AzureFrontDoor
                        - Standard_955BandWidth_ChinaCdn
                        - Standard_AvgBandWidth_ChinaCdn
                        - StandardPlus_ChinaCdn
                        - StandardPlus_955BandWidth_ChinaCdn
                        - StandardPlus_AvgBandWidth_ChinaCdn
                        type: string
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                    type: object
                  kind:
                    readOnly: true
                    type: string
                    description: Kind of the profile. Used by portal to differentiate
                      traditional CDN profile and new AFD profile.
                  identity:
                    description: Managed service identity (system assigned and/or
                      user assigned identities).
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                          nullable: true
                    required:
                    - type
                  properties:
                    x-ms-client-flatten: true
                    description: The JSON object that contains the properties required
                      to create a profile.
                    type: object
                    properties:
                      resourceState:
                        description: Resource status of the profile.
                        readOnly: true
                        enum:
                        - Creating
                        - Active
                        - Deleting
                        - Disabled
                        - Migrating
                        - Migrated
                        - PendingMigrationCommit
                        - CommittingMigration
                        - AbortingMigration
                        type: string
                        x-ms-enum:
                          name: ProfileResourceState
                          modelAsString: true
                      provisioningState:
                        readOnly: true
                        description: Provisioning status of the profile.
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Updating
                        - Deleting
                        - Creating
                        x-ms-enum:
                          name: ProfileProvisioningState
                          modelAsString: true
                      extendedProperties:
                        description: Key-Value pair representing additional properties
                          for profiles.
                        type: object
                        additionalProperties:
                          type: string
                        readOnly: true
                      frontDoorId:
                        readOnly: true
                        type: string
                        description: The Id of the frontdoor.
                      originResponseTimeoutSeconds:
                        description: Send and receive timeout on forwarding request
                          to the origin. When timeout is reached, the request fails
                          and returns.
                        type: integer
                        format: int32
                        minimum: 16
                        exclusiveMinimum: false
                      logScrubbing:
                        description: Defines rules that scrub sensitive fields in
                          the Azure Front Door profile logs.
                        type: object
                        properties:
                          state:
                            type: string
                            description: State of the log scrubbing config. Default
                              value is Enabled.
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: ProfileScrubbingState
                              modelAsString: true
                          scrubbingRules:
                            type: array
                            items:
                              description: Defines the contents of the log scrubbing
                                rules.
                              type: object
                              required:
                              - matchVariable
                              - selectorMatchOperator
                              properties:
                                matchVariable:
                                  type: string
                                  enum:
                                  - RequestIPAddress
                                  - RequestUri
                                  - QueryStringArgNames
                                  description: The variable to be scrubbed from the
                                    logs.
                                  x-ms-enum:
                                    name: scrubbingRuleEntryMatchVariable
                                    modelAsString: true
                                selectorMatchOperator:
                                  type: string
                                  enum:
                                  - EqualsAny
                                  description: When matchVariable is a collection,
                                    operate on the selector to specify which elements
                                    in the collection this rule applies to.
                                  x-ms-enum:
                                    name: ' scrubbingRuleEntryMatchOperator'
                                    modelAsString: true
                                selector:
                                  type: string
                                  description: When matchVariable is a collection,
                                    operator used to specify which elements in the
                                    collection this rule applies to.
                                state:
                                  type: string
                                  enum:
                                  - Enabled
                                  - Disabled
                                  description: Defines the state of a log scrubbing
                                    rule. Default value is enabled.
                                  x-ms-enum:
                                    name: ' scrubbingRuleEntryState'
                                    modelAsString: true
                            x-ms-identifiers: []
                            description: List of log scrubbing rules applied to the
                              Azure Front Door profile logs.
                required:
                - location
                - sku
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Azure Front Door error response describing why the operation
            failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/customDomains
  : get:
      tags:
      - AFDCustomDomains
      description: Lists existing AzureFrontDoor domains.
      operationId: AFDCustomDomains_ListByProfile
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: profileName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the Azure Front Door Standard or Azure Front Door Premium
          which is unique within the resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 260
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Result of the request to list domains. It contains a
                  list of domain objects and a URL link to get the next set of results.
                type: object
                properties:
                  value:
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          type: object
                          properties:
                            profileName:
                              description: The name of the profile which holds the
                                domain.
                              type: string
                              readOnly: true
                            tlsSettings:
                              description: The configuration specifying how to enable
                                HTTPS for the domain - using AzureFrontDoor managed
                                certificate or user's own certificate. If not specified,
                                enabling ssl uses AzureFrontDoor managed certificate
                                by default.
                              type: object
                              required:
                              - certificateType
                              properties:
                                certificateType:
                                  description: Defines the source of the SSL certificate.
                                  enum:
                                  - CustomerCertificate
                                  - ManagedCertificate
                                  - AzureFirstPartyManagedCertificate
                                  type: string
                                  x-ms-enum:
                                    name: AfdCertificateType
                                    modelAsString: true
                                cipherSuiteSetType:
                                  description: cipher suite set type that will be
                                    used for Https
                                  enum:
                                  - Customized
                                  - TLS10_2019
                                  - TLS12_2022
                                  - TLS12_2023
                                  type: string
                                  x-ms-enum:
                                    name: AfdCipherSuiteSetType
                                    modelAsString: true
                                minimumTlsVersion:
                                  description: TLS protocol version that will be used
                                    for Https when cipherSuiteSetType is Customized.
                                  enum:
                                  - TLS10
                                  - TLS12
                                  - TLS13
                                  type: string
                                  x-ms-enum:
                                    name: AfdMinimumTlsVersion
                                    modelAsString: false
                                customizedCipherSuiteSet:
                                  description: Customized cipher suites object that
                                    will be used for Https when cipherSuiteSetType
                                    is Customized.
                                  type: object
                                  properties:
                                    cipherSuiteSetForTls12:
                                      description: Cipher suites for TLS 1.2. Required
                                        at least one in minimumTlsVersion TLS 1.2.
                                      type: array
                                      items:
                                        type: string
                                        enum:
                                        - ECDHE_RSA_AES128_GCM_SHA256
                                        - ECDHE_RSA_AES256_GCM_SHA384
                                        - DHE_RSA_AES256_GCM_SHA384
                                        - DHE_RSA_AES128_GCM_SHA256
                                        - ECDHE_RSA_AES128_SHA256
                                        - ECDHE_RSA_AES256_SHA384
                                        x-ms-enum:
                                          name: AfdCustomizedCipherSuiteForTls12
                                          modelAsString: true
                                    cipherSuiteSetForTls13:
                                      description: Cipher suites for TLS 1.3. Required
                                        at least one in minimumTlsVersion TLS 1.2,
                                        TLS 1.3.
                                      type: array
                                      items:
                                        type: string
                                        enum:
                                        - TLS_AES_128_GCM_SHA256
                                        - TLS_AES_256_GCM_SHA384
                                        x-ms-enum:
                                          name: AfdCustomizedCipherSuiteForTls13
                                          modelAsString: true
                                secret:
                                  description: Resource reference to the secret. ie.
                                    subs/rg/profile/secret
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  x-ms-azure-resource: true
                            azureDnsZone:
                              description: Resource reference to the Azure DNS zone
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                            preValidatedCustomDomainResourceId:
                              description: Resource reference to the Azure resource
                                where custom domain ownership was prevalidated
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                            provisioningState:
                              readOnly: true
                              description: Provisioning status
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Updating
                              - Deleting
                              - Creating
                              x-ms-enum:
                                name: AfdProvisioningState
                                modelAsString: true
                            deploymentStatus:
                              enum:
                              - NotStarted
                              - InProgress
                              - Succeeded
                              - Failed
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: DeploymentStatus
                                modelAsString: true
                            domainValidationState:
                              description: Provisioning substate shows the progress
                                of custom HTTPS enabling/disabling process step by
                                step. DCV stands for DomainControlValidation.
                              readOnly: true
                              enum:
                              - Unknown
                              - Submitting
                              - Pending
                              - Rejected
                              - TimedOut
                              - PendingRevalidation
                              - Approved
                              - RefreshingValidationToken
                              - InternalError
                              type: string
                              x-ms-enum:
                                name: DomainValidationState
                                modelAsString: true
                            hostName:
                              description: The host name of the domain. Must be a
                                domain name.
                              type: string
                            extendedProperties:
                              description: Key-Value pair representing migration properties
                                for domains.
                              type: object
                              additionalProperties:
                                type: string
                            validationProperties:
                              description: Values the customer needs to validate domain
                                ownership
                              readOnly: true
                              type: object
                              properties:
                                validationToken:
                                  description: Challenge used for DNS TXT record or
                                    file based validation
                                  readOnly: true
                                  type: string
                                expirationDate:
                                  description: The date time that the token expires
                                  readOnly: true
                                  type: string
                          description: The JSON object that contains the properties
                            of the domain to create.
                          required:
                          - hostName
                          x-ms-client-flatten: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: List of AzureFrontDoor domains within a profile.
                  nextLink:
                    type: string
                    description: URL to get the next set of domain objects if there
                      are any.
        default:
          description: Azure Front Door error response describing why the operation
            failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
[...]
