openapi: 3.0.0
info:
  version: 2025-06-01
  title: CdnManagementClient
  description: Use these APIs to manage Azure CDN resources through the Azure Resource
    Manager. You must make sure that requests made to these resources are secure.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Cdn/profiles:
    get:
      tags:
      - Profiles
      description: Lists all of the Azure Front Door Standard, Azure Front Door Premium,
        and CDN profiles within an Azure subscription.
      operationId: Profiles_List
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: Result of the request to list profiles. It contains a
                  list of profile objects and a URL link to get the next set of results.
                type: object
                properties:
                  value:
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        sku:
                          description: The pricing tier (defines Azure Front Door
                            Standard or Premium or a CDN provider, feature list and
                            rate) of the profile.
                          properties:
                            name:
                              description: Name of the pricing tier.
                              enum:
                              - Standard_Verizon
                              - Premium_Verizon
                              - Custom_Verizon
                              - Standard_Akamai
                              - Standard_ChinaCdn
                              - Standard_Microsoft
                              - Standard_AzureFrontDoor
                              - Premium_AzureFrontDoor
                              - Standard_955BandWidth_ChinaCdn
                              - Standard_AvgBandWidth_ChinaCdn
                              - StandardPlus_ChinaCdn
                              - StandardPlus_955BandWidth_ChinaCdn
                              - StandardPlus_AvgBandWidth_ChinaCdn
                              type: string
                              x-ms-enum:
                                name: SkuName
                                modelAsString: true
                          type: object
                        kind:
                          readOnly: true
                          type: string
                          description: Kind of the profile. Used by portal to differentiate
                            traditional CDN profile and new AFD profile.
                        identity:
                          description: Managed service identity (system assigned and/or
                            user assigned identities).
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                                nullable: true
                          required:
                          - type
                        properties:
                          x-ms-client-flatten: true
                          description: The JSON object that contains the properties
                            required to create a profile.
                          type: object
                          properties:
                            resourceState:
                              description: Resource status of the profile.
                              readOnly: true
                              enum:
                              - Creating
                              - Active
                              - Deleting
                              - Disabled
                              - Migrating
                              - Migrated
                              - PendingMigrationCommit
                              - CommittingMigration
                              - AbortingMigration
                              type: string
                              x-ms-enum:
                                name: ProfileResourceState
                                modelAsString: true
                            provisioningState:
                              readOnly: true
                              description: Provisioning status of the profile.
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Updating
                              - Deleting
                              - Creating
                              x-ms-enum:
                                name: ProfileProvisioningState
                                modelAsString: true
                            extendedProperties:
                              description: Key-Value pair representing additional
                                properties for profiles.
                              type: object
                              additionalProperties:
                                type: string
                              readOnly: true
                            frontDoorId:
                              readOnly: true
                              type: string
                              description: The Id of the frontdoor.
                            originResponseTimeoutSeconds:
                              description: Send and receive timeout on forwarding
                                request to the origin. When timeout is reached, the
                                request fails and returns.
                              type: integer
                              format: int32
                              minimum: 16
                              exclusiveMinimum: false
                            logScrubbing:
                              description: Defines rules that scrub sensitive fields
                                in the Azure Front Door profile logs.
                              type: object
                              properties:
                                state:
                                  type: string
                                  description: State of the log scrubbing config.
                                    Default value is Enabled.
                                  enum:
                                  - Enabled
                                  - Disabled
                                  x-ms-enum:
                                    name: ProfileScrubbingState
                                    modelAsString: true
                                scrubbingRules:
                                  type: array
                                  items:
                                    description: Defines the contents of the log scrubbing
                                      rules.
                                    type: object
                                    required:
                                    - matchVariable
                                    - selectorMatchOperator
                                    properties:
                                      matchVariable:
                                        type: string
                                        enum:
                                        - RequestIPAddress
                                        - RequestUri
                                        - QueryStringArgNames
                                        description: The variable to be scrubbed from
                                          the logs.
                                        x-ms-enum:
                                          name: scrubbingRuleEntryMatchVariable
                                          modelAsString: true
                                      selectorMatchOperator:
                                        type: string
                                        enum:
                                        - EqualsAny
                                        description: When matchVariable is a collection,
                                          operate on the selector to specify which
                                          elements in the collection this rule applies
                                          to.
                                        x-ms-enum:
                                          name: ' scrubbingRuleEntryMatchOperator'
                                          modelAsString: true
                                      selector:
                                        type: string
                                        description: When matchVariable is a collection,
                                          operator used to specify which elements
                                          in the collection this rule applies to.
                                      state:
                                        type: string
                                        enum:
                                        - Enabled
                                        - Disabled
                                        description: Defines the state of a log scrubbing
                                          rule. Default value is enabled.
                                        x-ms-enum:
                                          name: ' scrubbingRuleEntryState'
                                          modelAsString: true
                                  x-ms-identifiers: []
                                  description: List of log scrubbing rules applied
                                    to the Azure Front Door profile logs.
                      required:
                      - location
                      - sku
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: List of CDN profiles within a resource group.
                  nextLink:
                    type: string
                    description: URL to get the next set of profile objects if there
                      are any.
        default:
          description: CDN error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles:
    get:
      tags:
      - Profiles
      description: Lists all of the Azure Front Door Standard, Azure Front Door Premium,
        and CDN profiles within a resource group.
      operationId: Profiles_ListByResourceGroup
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: Result of the request to list profiles. It contains a
                  list of profile objects and a URL link to get the next set of results.
                type: object
                properties:
                  value:
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        sku:
                          description: The pricing tier (defines Azure Front Door
                            Standard or Premium or a CDN provider, feature list and
                            rate) of the profile.
                          properties:
                            name:
                              description: Name of the pricing tier.
                              enum:
                              - Standard_Verizon
                              - Premium_Verizon
                              - Custom_Verizon
                              - Standard_Akamai
                              - Standard_ChinaCdn
                              - Standard_Microsoft
                              - Standard_AzureFrontDoor
                              - Premium_AzureFrontDoor
                              - Standard_955BandWidth_ChinaCdn
                              - Standard_AvgBandWidth_ChinaCdn
                              - StandardPlus_ChinaCdn
                              - StandardPlus_955BandWidth_ChinaCdn
                              - StandardPlus_AvgBandWidth_ChinaCdn
                              type: string
                              x-ms-enum:
                                name: SkuName
                                modelAsString: true
                          type: object
                        kind:
                          readOnly: true
                          type: string
                          description: Kind of the profile. Used by portal to differentiate
                            traditional CDN profile and new AFD profile.
                        identity:
                          description: Managed service identity (system assigned and/or
                            user assigned identities).
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                                nullable: true
                          required:
                          - type
                        properties:
                          x-ms-client-flatten: true
                          description: The JSON object that contains the properties
                            required to create a profile.
                          type: object
                          properties:
                            resourceState:
                              description: Resource status of the profile.
                              readOnly: true
                              enum:
                              - Creating
                              - Active
                              - Deleting
                              - Disabled
                              - Migrating
                              - Migrated
                              - PendingMigrationCommit
                              - CommittingMigration
                              - AbortingMigration
                              type: string
                              x-ms-enum:
                                name: ProfileResourceState
                                modelAsString: true
                            provisioningState:
                              readOnly: true
                              description: Provisioning status of the profile.
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Updating
                              - Deleting
                              - Creating
                              x-ms-enum:
                                name: ProfileProvisioningState
                                modelAsString: true
                            extendedProperties:
                              description: Key-Value pair representing additional
                                properties for profiles.
                              type: object
                              additionalProperties:
                                type: string
                              readOnly: true
                            frontDoorId:
                              readOnly: true
                              type: string
                              description: The Id of the frontdoor.
                            originResponseTimeoutSeconds:
                              description: Send and receive timeout on forwarding
                                request to the origin. When timeout is reached, the
                                request fails and returns.
                              type: integer
                              format: int32
                              minimum: 16
                              exclusiveMinimum: false
                            logScrubbing:
                              description: Defines rules that scrub sensitive fields
                                in the Azure Front Door profile logs.
                              type: object
                              properties:
                                state:
                                  type: string
                                  description: State of the log scrubbing config.
                                    Default value is Enabled.
                                  enum:
                                  - Enabled
                                  - Disabled
                                  x-ms-enum:
                                    name: ProfileScrubbingState
                                    modelAsString: true
                                scrubbingRules:
                                  type: array
                                  items:
                                    description: Defines the contents of the log scrubbing
                                      rules.
                                    type: object
                                    required:
                                    - matchVariable
                                    - selectorMatchOperator
                                    properties:
                                      matchVariable:
                                        type: string
                                        enum:
                                        - RequestIPAddress
                                        - RequestUri
                                        - QueryStringArgNames
                                        description: The variable to be scrubbed from
                                          the logs.
                                        x-ms-enum:
                                          name: scrubbingRuleEntryMatchVariable
                                          modelAsString: true
                                      selectorMatchOperator:
                                        type: string
                                        enum:
                                        - EqualsAny
                                        description: When matchVariable is a collection,
                                          operate on the selector to specify which
                                          elements in the collection this rule applies
                                          to.
                                        x-ms-enum:
                                          name: ' scrubbingRuleEntryMatchOperator'
                                          modelAsString: true
                                      selector:
                                        type: string
                                        description: When matchVariable is a collection,
                                          operator used to specify which elements
                                          in the collection this rule applies to.
                                      state:
                                        type: string
                                        enum:
                                        - Enabled
                                        - Disabled
                                        description: Defines the state of a log scrubbing
                                          rule. Default value is enabled.
                                        x-ms-enum:
                                          name: ' scrubbingRuleEntryState'
                                          modelAsString: true
                                  x-ms-identifiers: []
                                  description: List of log scrubbing rules applied
                                    to the Azure Front Door profile logs.
                      required:
                      - location
                      - sku
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: List of CDN profiles within a resource group.
                  nextLink:
                    type: string
                    description: URL to get the next set of profile objects if there
                      are any.
        default:
          description: CDN error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}:
    get:
      tags:
      - Profiles
      description: Gets an Azure Front Door Standard or Azure Front Door Premium or
        CDN profile with the specified profile name under the specified subscription
        and resource group.
      operationId: Profiles_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium
          or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  sku:
                    description: The pricing tier (defines Azure Front Door Standard
                      or Premium or a CDN provider, feature list and rate) of the
                      profile.
                    properties:
                      name:
                        description: Name of the pricing tier.
                        enum:
                        - Standard_Verizon
                        - Premium_Verizon
                        - Custom_Verizon
                        - Standard_Akamai
                        - Standard_ChinaCdn
                        - Standard_Microsoft
                        - Standard_AzureFrontDoor
                        - Premium_AzureFrontDoor
                        - Standard_955BandWidth_ChinaCdn
                        - Standard_AvgBandWidth_ChinaCdn
                        - StandardPlus_ChinaCdn
                        - StandardPlus_955BandWidth_ChinaCdn
                        - StandardPlus_AvgBandWidth_ChinaCdn
                        type: string
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                    type: object
                  kind:
                    readOnly: true
                    type: string
                    description: Kind of the profile. Used by portal to differentiate
                      traditional CDN profile and new AFD profile.
                  identity:
                    description: Managed service identity (system assigned and/or
                      user assigned identities).
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                          nullable: true
                    required:
                    - type
                  properties:
                    x-ms-client-flatten: true
                    description: The JSON object that contains the properties required
                      to create a profile.
                    type: object
                    properties:
                      resourceState:
                        description: Resource status of the profile.
                        readOnly: true
                        enum:
                        - Creating
                        - Active
                        - Deleting
                        - Disabled
                        - Migrating
                        - Migrated
                        - PendingMigrationCommit
                        - CommittingMigration
                        - AbortingMigration
                        type: string
                        x-ms-enum:
                          name: ProfileResourceState
                          modelAsString: true
                      provisioningState:
                        readOnly: true
                        description: Provisioning status of the profile.
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Updating
                        - Deleting
                        - Creating
                        x-ms-enum:
                          name: ProfileProvisioningState
                          modelAsString: true
                      extendedProperties:
                        description: Key-Value pair representing additional properties
                          for profiles.
                        type: object
                        additionalProperties:
                          type: string
                        readOnly: true
                      frontDoorId:
                        readOnly: true
                        type: string
                        description: The Id of the frontdoor.
                      originResponseTimeoutSeconds:
                        description: Send and receive timeout on forwarding request
                          to the origin. When timeout is reached, the request fails
                          and returns.
                        type: integer
                        format: int32
                        minimum: 16
                        exclusiveMinimum: false
                      logScrubbing:
                        description: Defines rules that scrub sensitive fields in
                          the Azure Front Door profile logs.
                        type: object
                        properties:
                          state:
                            type: string
                            description: State of the log scrubbing config. Default
                              value is Enabled.
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: ProfileScrubbingState
                              modelAsString: true
                          scrubbingRules:
                            type: array
                            items:
                              description: Defines the contents of the log scrubbing
                                rules.
                              type: object
                              required:
                              - matchVariable
                              - selectorMatchOperator
                              properties:
                                matchVariable:
                                  type: string
                                  enum:
                                  - RequestIPAddress
                                  - RequestUri
                                  - QueryStringArgNames
                                  description: The variable to be scrubbed from the
                                    logs.
                                  x-ms-enum:
                                    name: scrubbingRuleEntryMatchVariable
                                    modelAsString: true
                                selectorMatchOperator:
                                  type: string
                                  enum:
                                  - EqualsAny
                                  description: When matchVariable is a collection,
                                    operate on the selector to specify which elements
                                    in the collection this rule applies to.
                                  x-ms-enum:
                                    name: ' scrubbingRuleEntryMatchOperator'
                                    modelAsString: true
                                selector:
                                  type: string
                                  description: When matchVariable is a collection,
                                    operator used to specify which elements in the
                                    collection this rule applies to.
                                state:
                                  type: string
                                  enum:
                                  - Enabled
                                  - Disabled
                                  description: Defines the state of a log scrubbing
                                    rule. Default value is enabled.
                                  x-ms-enum:
                                    name: ' scrubbingRuleEntryState'
                                    modelAsString: true
                            x-ms-identifiers: []
                            description: List of log scrubbing rules applied to the
                              Azure Front Door profile logs.
                required:
                - location
                - sku
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: CDN error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - Profiles
      description: Creates a new Azure Front Door Standard or Azure Front Door Premium
        or CDN profile with a profile name under the specified subscription and resource
        group.
      operationId: Profiles_Create
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium
          or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                sku:
                  description: The pricing tier (defines Azure Front Door Standard
                    or Premium or a CDN provider, feature list and rate) of the profile.
                  properties:
                    name:
                      description: Name of the pricing tier.
                      enum:
                      - Standard_Verizon
                      - Premium_Verizon
                      - Custom_Verizon
                      - Standard_Akamai
                      - Standard_ChinaCdn
                      - Standard_Microsoft
                      - Standard_AzureFrontDoor
                      - Premium_AzureFrontDoor
                      - Standard_955BandWidth_ChinaCdn
                      - Standard_AvgBandWidth_ChinaCdn
                      - StandardPlus_ChinaCdn
                      - StandardPlus_955BandWidth_ChinaCdn
                      - StandardPlus_AvgBandWidth_ChinaCdn
                      type: string
                      x-ms-enum:
                        name: SkuName
                        modelAsString: true
                  type: object
                kind:
                  readOnly: true
                  type: string
                  description: Kind of the profile. Used by portal to differentiate
                    traditional CDN profile and new AFD profile.
                identity:
                  description: Managed service identity (system assigned and/or user
                    assigned identities).
                  type: object
                  properties:
                    principalId:
                      type: string
                      format: uuid
                      description: The service principal ID of the system assigned
                        identity. This property will only be provided for a system
                        assigned identity.
                      readOnly: true
                    tenantId:
                      type: string
                      format: uuid
                      description: The tenant ID of the system assigned identity.
                        This property will only be provided for a system assigned
                        identity.
                      readOnly: true
                    type:
                      type: string
                      description: Type of managed service identity (where both SystemAssigned
                        and UserAssigned types are allowed).
                      enum:
                      - None
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned,UserAssigned
                      x-ms-enum:
                        name: ManagedServiceIdentityType
                        modelAsString: true
                    userAssignedIdentities:
                      type: object
                      description: 'The set of user assigned identities associated
                        with the resource. The userAssignedIdentities dictionary keys
                        will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                        The dictionary values can be empty objects ({}) in requests.'
                      additionalProperties:
                        type: object
                        description: User assigned identity properties
                        properties:
                          principalId:
                            type: string
                            format: uuid
                            description: The principal ID of the assigned identity.
                            readOnly: true
                          clientId:
                            type: string
                            format: uuid
                            description: The client ID of the assigned identity.
                            readOnly: true
                        nullable: true
                  required:
                  - type
                properties:
                  x-ms-client-flatten: true
                  description: The JSON object that contains the properties required
                    to create a profile.
                  type: object
                  properties:
                    resourceState:
                      description: Resource status of the profile.
                      readOnly: true
                      enum:
                      - Creating
                      - Active
                      - Deleting
                      - Disabled
                      - Migrating
                      - Migrated
                      - PendingMigrationCommit
                      - CommittingMigration
                      - AbortingMigration
                      type: string
                      x-ms-enum:
                        name: ProfileResourceState
                        modelAsString: true
                    provisioningState:
                      readOnly: true
                      description: Provisioning status of the profile.
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Updating
                      - Deleting
                      - Creating
                      x-ms-enum:
                        name: ProfileProvisioningState
                        modelAsString: true
                    extendedProperties:
                      description: Key-Value pair representing additional properties
                        for profiles.
                      type: object
                      additionalProperties:
                        type: string
                      readOnly: true
                    frontDoorId:
                      readOnly: true
                      type: string
                      description: The Id of the frontdoor.
                    originResponseTimeoutSeconds:
                      description: Send and receive timeout on forwarding request
                        to the origin. When timeout is reached, the request fails
                        and returns.
                      type: integer
                      format: int32
                      minimum: 16
                      exclusiveMinimum: false
                    logScrubbing:
                      description: Defines rules that scrub sensitive fields in the
                        Azure Front Door profile logs.
                      type: object
                      properties:
                        state:
                          type: string
                          description: State of the log scrubbing config. Default
                            value is Enabled.
                          enum:
                          - Enabled
                          - Disabled
                          x-ms-enum:
                            name: ProfileScrubbingState
                            modelAsString: true
                        scrubbingRules:
                          type: array
                          items:
                            description: Defines the contents of the log scrubbing
                              rules.
                            type: object
                            required:
                            - matchVariable
                            - selectorMatchOperator
                            properties:
                              matchVariable:
                                type: string
                                enum:
                                - RequestIPAddress
                                - RequestUri
                                - QueryStringArgNames
                                description: The variable to be scrubbed from the
                                  logs.
                                x-ms-enum:
                                  name: scrubbingRuleEntryMatchVariable
                                  modelAsString: true
                              selectorMatchOperator:
                                type: string
                                enum:
                                - EqualsAny
                                description: When matchVariable is a collection, operate
                                  on the selector to specify which elements in the
                                  collection this rule applies to.
                                x-ms-enum:
                                  name: ' scrubbingRuleEntryMatchOperator'
                                  modelAsString: true
                              selector:
                                type: string
                                description: When matchVariable is a collection, operator
                                  used to specify which elements in the collection
                                  this rule applies to.
                              state:
                                type: string
                                enum:
                                - Enabled
                                - Disabled
                                description: Defines the state of a log scrubbing
                                  rule. Default value is enabled.
                                x-ms-enum:
                                  name: ' scrubbingRuleEntryState'
                                  modelAsString: true
                          x-ms-identifiers: []
                          description: List of log scrubbing rules applied to the
                            Azure Front Door profile logs.
              required:
              - location
              - sku
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Profile properties needed to create a new profile.
        required: true
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  sku:
                    description: The pricing tier (defines Azure Front Door Standard
                      or Premium or a CDN provider, feature list and rate) of the
                      profile.
                    properties:
                      name:
                        description: Name of the pricing tier.
                        enum:
                        - Standard_Verizon
                        - Premium_Verizon
                        - Custom_Verizon
                        - Standard_Akamai
                        - Standard_ChinaCdn
                        - Standard_Microsoft
                        - Standard_AzureFrontDoor
                        - Premium_AzureFrontDoor
                        - Standard_955BandWidth_ChinaCdn
                        - Standard_AvgBandWidth_ChinaCdn
                        - StandardPlus_ChinaCdn
                        - StandardPlus_955BandWidth_ChinaCdn
                        - StandardPlus_AvgBandWidth_ChinaCdn
                        type: string
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                    type: object
                  kind:
                    readOnly: true
                    type: string
                    description: Kind of the profile. Used by portal to differentiate
                      traditional CDN profile and new AFD profile.
                  identity:
                    description: Managed service identity (system assigned and/or
                      user assigned identities).
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                          nullable: true
                    required:
                    - type
                  properties:
                    x-ms-client-flatten: true
                    description: The JSON object that contains the properties required
                      to create a profile.
                    type: object
                    properties:
                      resourceState:
                        description: Resource status of the profile.
                        readOnly: true
                        enum:
                        - Creating
                        - Active
                        - Deleting
                        - Disabled
                        - Migrating
                        - Migrated
                        - PendingMigrationCommit
                        - CommittingMigration
                        - AbortingMigration
                        type: string
                        x-ms-enum:
                          name: ProfileResourceState
                          modelAsString: true
                      provisioningState:
                        readOnly: true
                        description: Provisioning status of the profile.
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Updating
                        - Deleting
                        - Creating
                        x-ms-enum:
                          name: ProfileProvisioningState
                          modelAsString: true
                      extendedProperties:
                        description: Key-Value pair representing additional properties
                          for profiles.
                        type: object
                        additionalProperties:
                          type: string
                        readOnly: true
                      frontDoorId:
                        readOnly: true
                        type: string
                        description: The Id of the frontdoor.
                      originResponseTimeoutSeconds:
                        description: Send and receive timeout on forwarding request
                          to the origin. When timeout is reached, the request fails
                          and returns.
                        type: integer
                        format: int32
                        minimum: 16
                        exclusiveMinimum: false
                      logScrubbing:
                        description: Defines rules that scrub sensitive fields in
                          the Azure Front Door profile logs.
                        type: object
                        properties:
                          state:
                            type: string
                            description: State of the log scrubbing config. Default
                              value is Enabled.
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: ProfileScrubbingState
                              modelAsString: true
                          scrubbingRules:
                            type: array
                            items:
                              description: Defines the contents of the log scrubbing
                                rules.
                              type: object
                              required:
                              - matchVariable
                              - selectorMatchOperator
                              properties:
                                matchVariable:
                                  type: string
                                  enum:
                                  - RequestIPAddress
                                  - RequestUri
                                  - QueryStringArgNames
                                  description: The variable to be scrubbed from the
                                    logs.
                                  x-ms-enum:
                                    name: scrubbingRuleEntryMatchVariable
                                    modelAsString: true
                                selectorMatchOperator:
                                  type: string
                                  enum:
                                  - EqualsAny
                                  description: When matchVariable is a collection,
                                    operate on the selector to specify which elements
                                    in the collection this rule applies to.
                                  x-ms-enum:
                                    name: ' scrubbingRuleEntryMatchOperator'
                                    modelAsString: true
                                selector:
                                  type: string
                                  description: When matchVariable is a collection,
                                    operator used to specify which elements in the
                                    collection this rule applies to.
                                state:
                                  type: string
                                  enum:
                                  - Enabled
                                  - Disabled
                                  description: Defines the state of a log scrubbing
                                    rule. Default value is enabled.
                                  x-ms-enum:
                                    name: ' scrubbingRuleEntryState'
                                    modelAsString: true
                            x-ms-identifiers: []
                            description: List of log scrubbing rules applied to the
                              Azure Front Door profile logs.
                required:
                - location
                - sku
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created. The request has been fulfilled and a new profile has
            been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  sku:
                    description: The pricing tier (defines Azure Front Door Standard
                      or Premium or a CDN provider, feature list and rate) of the
                      profile.
                    properties:
                      name:
                        description: Name of the pricing tier.
                        enum:
                        - Standard_Verizon
                        - Premium_Verizon
                        - Custom_Verizon
                        - Standard_Akamai
                        - Standard_ChinaCdn
                        - Standard_Microsoft
                        - Standard_AzureFrontDoor
                        - Premium_AzureFrontDoor
                        - Standard_955BandWidth_ChinaCdn
                        - Standard_AvgBandWidth_ChinaCdn
                        - StandardPlus_ChinaCdn
                        - StandardPlus_955BandWidth_ChinaCdn
                        - StandardPlus_AvgBandWidth_ChinaCdn
                        type: string
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                    type: object
                  kind:
                    readOnly: true
                    type: string
                    description: Kind of the profile. Used by portal to differentiate
                      traditional CDN profile and new AFD profile.
                  identity:
                    description: Managed service identity (system assigned and/or
                      user assigned identities).
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
[...]
