openapi: 3.0.0
info:
  version: 2025-06-01
  title: Azure CDN WebApplicationFirewallManagement
  description: APIs to manage web application firewall rules for Azure CDN
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/cdnWebApplicationFirewallPolicies
  : get:
      tags:
      - WebApplicationFirewallPolicies
      description: Lists all of the protection policies within a resource group.
      operationId: Policies_List
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: Defines a list of WebApplicationFirewallPolicies for
                  Azure CDN. It contains a list of WebApplicationFirewallPolicy objects
                  and a URL link to get the next set of results.
                properties:
                  value:
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the web application firewall
                            policy.
                          properties:
                            policySettings:
                              description: Describes  policySettings for policy
                              properties:
                                enabledState:
                                  description: describes if the policy is in enabled
                                    state or disabled state
                                  type: string
                                  enum:
                                  - Disabled
                                  - Enabled
                                  x-ms-enum:
                                    name: PolicyEnabledState
                                    modelAsString: true
                                mode:
                                  description: Describes if it is in detection mode
                                    or prevention mode at policy level.
                                  type: string
                                  enum:
                                  - Prevention
                                  - Detection
                                  x-ms-enum:
                                    name: PolicyMode
                                    modelAsString: true
                                defaultRedirectUrl:
                                  description: If action type is redirect, this field
                                    represents the default redirect URL for the client.
                                  type: string
                                defaultCustomBlockResponseStatusCode:
                                  description: If the action type is block, this field
                                    defines the default customer overridable http
                                    response status code.
                                  type: integer
                                  format: int32
                                  enum:
                                  - 200
                                  - 403
                                  - 405
                                  - 406
                                  - 429
                                defaultCustomBlockResponseBody:
                                  description: If the action type is block, customer
                                    can override the response body. The body must
                                    be specified in base64 encoding.
                                  type: string
                                  pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{4})$
                            rateLimitRules:
                              description: Describes rate limit rules inside the policy.
                              properties:
                                rules:
                                  description: List of rules
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        description: Defines the name of the custom
                                          rule
                                        type: string
                                      enabledState:
                                        description: Describes if the custom rule
                                          is in enabled or disabled state. Defaults
                                          to Enabled if not specified.
                                        type: string
                                        enum:
                                        - Disabled
                                        - Enabled
                                        x-ms-enum:
                                          name: CustomRuleEnabledState
                                          modelAsString: true
                                      priority:
                                        description: Defines in what order this rule
                                          be evaluated in the overall list of custom
                                          rules
                                        type: integer
                                        format: int32
                                        maximum: 1000
                                        exclusiveMaximum: false
                                        minimum: 0
                                        exclusiveMinimum: false
                                      matchConditions:
                                        description: List of match conditions.
                                        type: array
                                        items:
                                          description: Define match conditions
                                          required:
                                          - matchVariable
                                          - operator
                                          - matchValue
                                          properties:
                                            matchVariable:
                                              description: Match variable to compare
                                                against.
                                              type: string
                                              enum:
                                              - RemoteAddr
                                              - SocketAddr
                                              - RequestMethod
                                              - RequestHeader
                                              - RequestUri
                                              - QueryString
                                              - RequestBody
                                              - Cookies
                                              - PostArgs
                                              x-ms-enum:
                                                name: WafMatchVariable
                                                modelAsString: true
                                            selector:
                                              description: Selector can used to match
                                                a specific key for QueryString, Cookies,
                                                RequestHeader or PostArgs.
                                              type: string
                                            operator:
                                              description: Describes operator to be
                                                matched
                                              type: string
                                              enum:
                                              - Any
                                              - IPMatch
                                              - GeoMatch
                                              - Equal
                                              - Contains
                                              - LessThan
                                              - GreaterThan
                                              - LessThanOrEqual
                                              - GreaterThanOrEqual
                                              - BeginsWith
                                              - EndsWith
                                              - RegEx
                                              x-ms-enum:
                                                name: operator
                                                modelAsString: true
                                            negateCondition:
                                              description: Describes if the result
                                                of this condition should be negated.
                                              type: boolean
                                            matchValue:
                                              description: List of possible match
                                                values.
                                              type: array
                                              items:
                                                type: string
                                            transforms:
                                              description: List of transforms.
                                              type: array
                                              items:
                                                description: Describes what transforms
                                                  were applied before matching.
                                                type: string
                                                enum:
                                                - Lowercase
                                                - Uppercase
                                                - Trim
                                                - UrlDecode
                                                - UrlEncode
                                                - RemoveNulls
                                                x-ms-enum:
                                                  name: TransformType
                                                  modelAsString: true
                                        x-ms-identifiers: []
                                      action:
                                        description: Describes what action to be applied
                                          when rule matches
                                        type: string
                                        enum:
                                        - Allow
                                        - Block
                                        - Log
                                        - Redirect
                                        x-ms-enum:
                                          name: ActionType
                                          modelAsString: true
                                      rateLimitThreshold:
                                        description: Defines rate limit threshold.
                                        type: integer
                                        format: int32
                                        minimum: 0
                                        exclusiveMinimum: false
                                      rateLimitDurationInMinutes:
                                        description: Defines rate limit duration.
                                          Default is 1 minute.
                                        type: integer
                                        format: int32
                                        maximum: 60
                                        exclusiveMaximum: false
                                        minimum: 0
                                        exclusiveMinimum: false
                                    required:
                                    - name
                                    - priority
                                    - matchConditions
                                    - action
                                    - rateLimitThreshold
                                    - rateLimitDurationInMinutes
                                    description: Defines the common attributes for
                                      a custom rule that can be included in a waf
                                      policy
                                  x-ms-identifiers:
                                  - name
                            customRules:
                              description: Describes custom rules inside the policy.
                              properties:
                                rules:
                                  description: List of rules
                                  type: array
                                  items:
                                    description: Defines the common attributes for
                                      a custom rule that can be included in a waf
                                      policy
                                    type: object
                                    required:
                                    - name
                                    - priority
                                    - matchConditions
                                    - action
                                    properties:
                                      name:
                                        description: Defines the name of the custom
                                          rule
                                        type: string
                                      enabledState:
                                        description: Describes if the custom rule
                                          is in enabled or disabled state. Defaults
                                          to Enabled if not specified.
                                        type: string
                                        enum:
                                        - Disabled
                                        - Enabled
                                        x-ms-enum:
                                          name: CustomRuleEnabledState
                                          modelAsString: true
                                      priority:
                                        description: Defines in what order this rule
                                          be evaluated in the overall list of custom
                                          rules
                                        type: integer
                                        format: int32
                                        maximum: 1000
                                        exclusiveMaximum: false
                                        minimum: 0
                                        exclusiveMinimum: false
                                      matchConditions:
                                        description: List of match conditions.
                                        type: array
                                        items:
                                          description: Define match conditions
                                          required:
                                          - matchVariable
                                          - operator
                                          - matchValue
                                          properties:
                                            matchVariable:
                                              description: Match variable to compare
                                                against.
                                              type: string
                                              enum:
                                              - RemoteAddr
                                              - SocketAddr
                                              - RequestMethod
                                              - RequestHeader
                                              - RequestUri
                                              - QueryString
                                              - RequestBody
                                              - Cookies
                                              - PostArgs
                                              x-ms-enum:
                                                name: WafMatchVariable
                                                modelAsString: true
                                            selector:
                                              description: Selector can used to match
                                                a specific key for QueryString, Cookies,
                                                RequestHeader or PostArgs.
                                              type: string
                                            operator:
                                              description: Describes operator to be
                                                matched
                                              type: string
                                              enum:
                                              - Any
                                              - IPMatch
                                              - GeoMatch
                                              - Equal
                                              - Contains
                                              - LessThan
                                              - GreaterThan
                                              - LessThanOrEqual
                                              - GreaterThanOrEqual
                                              - BeginsWith
                                              - EndsWith
                                              - RegEx
                                              x-ms-enum:
                                                name: operator
                                                modelAsString: true
                                            negateCondition:
                                              description: Describes if the result
                                                of this condition should be negated.
                                              type: boolean
                                            matchValue:
                                              description: List of possible match
                                                values.
                                              type: array
                                              items:
                                                type: string
                                            transforms:
                                              description: List of transforms.
                                              type: array
                                              items:
                                                description: Describes what transforms
                                                  were applied before matching.
                                                type: string
                                                enum:
                                                - Lowercase
                                                - Uppercase
                                                - Trim
                                                - UrlDecode
                                                - UrlEncode
                                                - RemoveNulls
                                                x-ms-enum:
                                                  name: TransformType
                                                  modelAsString: true
                                        x-ms-identifiers: []
                                      action:
                                        description: Describes what action to be applied
                                          when rule matches
                                        type: string
                                        enum:
                                        - Allow
                                        - Block
                                        - Log
                                        - Redirect
                                        x-ms-enum:
                                          name: ActionType
                                          modelAsString: true
                                  x-ms-identifiers:
                                  - name
                            managedRules:
                              description: Describes managed rules inside the policy.
                              properties:
                                managedRuleSets:
                                  description: List of rule sets.
                                  type: array
                                  items:
                                    type: object
                                    description: Defines a managed rule set.
                                    required:
                                    - ruleSetType
                                    - ruleSetVersion
                                    properties:
                                      ruleSetType:
                                        description: Defines the rule set type to
                                          use.
                                        type: string
                                      ruleSetVersion:
                                        description: Defines the version of the rule
                                          set to use.
                                        type: string
                                      anomalyScore:
                                        description: 'Verizon only : If the rule set
                                          supports anomaly detection mode, this describes
                                          the threshold for blocking requests.'
                                        type: integer
                                        format: int32
                                        maximum: 20
                                        exclusiveMaximum: false
                                        minimum: 0
                                        exclusiveMinimum: false
                                      ruleGroupOverrides:
                                        description: Defines the rule overrides to
                                          apply to the rule set.
                                        type: array
                                        items:
                                          description: Defines a managed rule group
                                            override setting.
                                          required:
                                          - ruleGroupName
                                          properties:
                                            ruleGroupName:
                                              description: Describes the managed rule
                                                group within the rule set to override
                                              type: string
                                            rules:
                                              description: List of rules that will
                                                be enabled. If none specified, all
                                                rules in the group will be disabled.
                                              type: array
                                              items:
                                                description: Defines a managed rule
                                                  group override setting.
                                                required:
                                                - ruleId
                                                properties:
                                                  ruleId:
                                                    description: Identifier for the
                                                      managed rule.
                                                    type: string
                                                  enabledState:
                                                    description: Describes if the
                                                      managed rule is in enabled or
                                                      disabled state. Defaults to
                                                      Disabled if not specified.
                                                    type: string
                                                    enum:
                                                    - Disabled
                                                    - Enabled
                                                    x-ms-enum:
                                                      name: ManagedRuleEnabledState
                                                      modelAsString: true
                                                  action:
                                                    description: Describes the override
                                                      action to be applied when rule
                                                      matches.
                                                    type: string
                                                    enum:
                                                    - Allow
                                                    - Block
                                                    - Log
                                                    - Redirect
                                                    x-ms-enum:
                                                      name: ActionType
                                                      modelAsString: true
                                              x-ms-identifiers:
                                              - ruleId
                                        x-ms-identifiers:
                                        - ruleGroupName
                                  x-ms-identifiers:
                                  - ruleSetType
                                  - ruleSetVersion
                            endpointLinks:
                              description: Describes Azure CDN endpoints associated
                                with this Web Application Firewall policy.
                              type: array
                              readOnly: true
                              items:
                                description: Defines the ARM Resource ID for the linked
                                  endpoints
                                type: object
                                readOnly: true
                                properties:
                                  id:
                                    type: string
                                    description: ARM Resource ID string.
                            extendedProperties:
                              description: Key-Value pair representing additional
                                properties for Web Application Firewall policy.
                              type: object
                              additionalProperties:
                                type: string
                            provisioningState:
                              readOnly: true
                              type: string
                              description: Provisioning state of the WebApplicationFirewallPolicy.
                              enum:
                              - Creating
                              - Succeeded
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            resourceState:
                              title: Resource status of the policy.
                              readOnly: true
                              enum:
                              - Creating
                              - Enabling
                              - Enabled
                              - Disabling
                              - Disabled
                              - Deleting
                              type: string
                              x-ms-enum:
                                name: PolicyResourceState
                                modelAsString: true
                        etag:
                          type: string
                          description: Gets a unique read-only string that changes
                            whenever the resource is updated.
                        sku:
                          description: The pricing tier (defines a CDN provider, feature
                            list and rate) of the CdnWebApplicationFirewallPolicy.
                          properties:
                            name:
                              description: Name of the pricing tier.
                              enum:
                              - Standard_Verizon
                              - Premium_Verizon
                              - Custom_Verizon
                              - Standard_Akamai
                              - Standard_ChinaCdn
                              - Standard_Microsoft
                              - Standard_AzureFrontDoor
                              - Premium_AzureFrontDoor
                              - Standard_955BandWidth_ChinaCdn
                              - Standard_AvgBandWidth_ChinaCdn
                              - StandardPlus_ChinaCdn
                              - StandardPlus_955BandWidth_ChinaCdn
                              - StandardPlus_AvgBandWidth_ChinaCdn
                              type: string
                              x-ms-enum:
                                name: SkuName
                                modelAsString: true
                          type: object
                      required:
                      - location
                      - sku
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: List of Azure CDN WebApplicationFirewallPolicies
                      within a resource group.
                  nextLink:
                    type: string
                    description: URL to get the next set of WebApplicationFirewallPolicy
                      objects if there are any.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/cdnWebApplicationFirewallPolicies/{policyName}
  : get:
      tags:
      - WebApplicationFirewallPolicies
      description: Retrieve protection policy with specified name within a resource
        group.
      operationId: Policies_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: policyName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the CdnWebApplicationFirewallPolicy.
        schema:
          type: string
          maxLength: 128
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the web application firewall policy.
                    properties:
                      policySettings:
                        description: Describes  policySettings for policy
                        properties:
                          enabledState:
                            description: describes if the policy is in enabled state
                              or disabled state
                            type: string
                            enum:
                            - Disabled
                            - Enabled
                            x-ms-enum:
                              name: PolicyEnabledState
                              modelAsString: true
                          mode:
                            description: Describes if it is in detection mode or prevention
                              mode at policy level.
                            type: string
                            enum:
                            - Prevention
                            - Detection
                            x-ms-enum:
                              name: PolicyMode
                              modelAsString: true
                          defaultRedirectUrl:
                            description: If action type is redirect, this field represents
                              the default redirect URL for the client.
                            type: string
                          defaultCustomBlockResponseStatusCode:
                            description: If the action type is block, this field defines
                              the default customer overridable http response status
                              code.
                            type: integer
                            format: int32
                            enum:
                            - 200
                            - 403
                            - 405
                            - 406
                            - 429
                          defaultCustomBlockResponseBody:
                            description: If the action type is block, customer can
                              override the response body. The body must be specified
                              in base64 encoding.
                            type: string
                            pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{4})$
                      rateLimitRules:
                        description: Describes rate limit rules inside the policy.
                        properties:
                          rules:
                            description: List of rules
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  description: Defines the name of the custom rule
                                  type: string
                                enabledState:
                                  description: Describes if the custom rule is in
                                    enabled or disabled state. Defaults to Enabled
                                    if not specified.
                                  type: string
                                  enum:
                                  - Disabled
                                  - Enabled
                                  x-ms-enum:
                                    name: CustomRuleEnabledState
                                    modelAsString: true
                                priority:
                                  description: Defines in what order this rule be
                                    evaluated in the overall list of custom rules
                                  type: integer
                                  format: int32
                                  maximum: 1000
                                  exclusiveMaximum: false
                                  minimum: 0
                                  exclusiveMinimum: false
                                matchConditions:
                                  description: List of match conditions.
                                  type: array
                                  items:
                                    description: Define match conditions
                                    required:
                                    - matchVariable
                                    - operator
                                    - matchValue
                                    properties:
                                      matchVariable:
                                        description: Match variable to compare against.
                                        type: string
                                        enum:
                                        - RemoteAddr
                                        - SocketAddr
                                        - RequestMethod
                                        - RequestHeader
                                        - RequestUri
                                        - QueryString
                                        - RequestBody
                                        - Cookies
                                        - PostArgs
                                        x-ms-enum:
                                          name: WafMatchVariable
                                          modelAsString: true
                                      selector:
                                        description: Selector can used to match a
                                          specific key for QueryString, Cookies, RequestHeader
                                          or PostArgs.
                                        type: string
                                      operator:
                                        description: Describes operator to be matched
                                        type: string
                                        enum:
                                        - Any
                                        - IPMatch
                                        - GeoMatch
                                        - Equal
                                        - Contains
                                        - LessThan
                                        - GreaterThan
                                        - LessThanOrEqual
                                        - GreaterThanOrEqual
                                        - BeginsWith
                                        - EndsWith
                                        - RegEx
                                        x-ms-enum:
                                          name: operator
                                          modelAsString: true
                                      negateCondition:
                                        description: Describes if the result of this
                                          condition should be negated.
                                        type: boolean
                                      matchValue:
                                        description: List of possible match values.
                                        type: array
                                        items:
                                          type: string
                                      transforms:
                                        description: List of transforms.
                                        type: array
                                        items:
                                          description: Describes what transforms were
                                            applied before matching.
                                          type: string
                                          enum:
                                          - Lowercase
                                          - Uppercase
                                          - Trim
                                          - UrlDecode
                                          - UrlEncode
                                          - RemoveNulls
                                          x-ms-enum:
                                            name: TransformType
                                            modelAsString: true
                                  x-ms-identifiers: []
                                action:
                                  description: Describes what action to be applied
                                    when rule matches
                                  type: string
                                  enum:
                                  - Allow
                                  - Block
                                  - Log
                                  - Redirect
                                  x-ms-enum:
                                    name: ActionType
                                    modelAsString: true
                                rateLimitThreshold:
                                  description: Defines rate limit threshold.
                                  type: integer
                                  format: int32
                                  minimum: 0
                                  exclusiveMinimum: false
                                rateLimitDurationInMinutes:
                                  description: Defines rate limit duration. Default
                                    is 1 minute.
                                  type: integer
                                  format: int32
                                  maximum: 60
                                  exclusiveMaximum: false
                                  minimum: 0
                                  exclusiveMinimum: false
                              required:
                              - name
                              - priority
                              - matchConditions
                              - action
                              - rateLimitThreshold
                              - rateLimitDurationInMinutes
                              description: Defines the common attributes for a custom
                                rule that can be included in a waf policy
                            x-ms-identifiers:
                            - name
                      customRules:
                        description: Describes custom rules inside the policy.
                        properties:
                          rules:
                            description: List of rules
                            type: array
                            items:
                              description: Defines the common attributes for a custom
                                rule that can be included in a waf policy
                              type: object
                              required:
                              - name
                              - priority
                              - matchConditions
                              - action
                              properties:
                                name:
                                  description: Defines the name of the custom rule
                                  type: string
                                enabledState:
                                  description: Describes if the custom rule is in
                                    enabled or disabled state. Defaults to Enabled
                                    if not specified.
                                  type: string
                                  enum:
                                  - Disabled
                                  - Enabled
                                  x-ms-enum:
                                    name: CustomRuleEnabledState
                                    modelAsString: true
                                priority:
                                  description: Defines in what order this rule be
                                    evaluated in the overall list of custom rules
                                  type: integer
                                  format: int32
                                  maximum: 1000
                                  exclusiveMaximum: false
                                  minimum: 0
                                  exclusiveMinimum: false
                                matchConditions:
                                  description: List of match conditions.
                                  type: array
                                  items:
                                    description: Define match conditions
                                    required:
                                    - matchVariable
                                    - operator
                                    - matchValue
                                    properties:
                                      matchVariable:
                                        description: Match variable to compare against.
                                        type: string
                                        enum:
                                        - RemoteAddr
                                        - SocketAddr
                                        - RequestMethod
                                        - RequestHeader
                                        - RequestUri
                                        - QueryString
                                        - RequestBody
                                        - Cookies
                                        - PostArgs
                                        x-ms-enum:
                                          name: WafMatchVariable
                                          modelAsString: true
                                      selector:
                                        description: Selector can used to match a
                                          specific key for QueryString, Cookies, RequestHeader
                                          or PostArgs.
                                        type: string
                                      operator:
                                        description: Describes operator to be matched
                                        type: string
                                        enum:
                                        - Any
                                        - IPMatch
                                        - GeoMatch
                                        - Equal
                                        - Contains
                                        - LessThan
                                        - GreaterThan
                                        - LessThanOrEqual
                                        - GreaterThanOrEqual
                                        - BeginsWith
                                        - EndsWith
                                        - RegEx
                                        x-ms-enum:
                                          name: operator
                                          modelAsString: true
                                      negateCondition:
                                        description: Describes if the result of this
                                          condition should be negated.
                                        type: boolean
                                      matchValue:
                                        description: List of possible match values.
                                        type: array
                                        items:
                                          type: string
                                      transforms:
                                        description: List of transforms.
                                        type: array
                                        items:
                                          description: Describes what transforms were
                                            applied before matching.
                                          type: string
                                          enum:
                                          - Lowercase
                                          - Uppercase
                                          - Trim
                                          - UrlDecode
                                          - UrlEncode
                                          - RemoveNulls
                                          x-ms-enum:
                                            name: TransformType
                                            modelAsString: true
                                  x-ms-identifiers: []
                                action:
                                  description: Describes what action to be applied
                                    when rule matches
                                  type: string
                                  enum:
                                  - Allow
                                  - Block
                                  - Log
                                  - Redirect
                                  x-ms-enum:
                                    name: ActionType
                                    modelAsString: true
                            x-ms-identifiers:
                            - name
                      managedRules:
                        description: Describes managed rules inside the policy.
                        properties:
                          managedRuleSets:
                            description: List of rule sets.
                            type: array
                            items:
                              type: object
                              description: Defines a managed rule set.
                              required:
                              - ruleSetType
                              - ruleSetVersion
                              properties:
                                ruleSetType:
                                  description: Defines the rule set type to use.
                                  type: string
                                ruleSetVersion:
                                  description: Defines the version of the rule set
                                    to use.
                                  type: string
                                anomalyScore:
                                  description: 'Verizon only : If the rule set supports
                                    anomaly detection mode, this describes the threshold
                                    for blocking requests.'
                                  type: integer
                                  format: int32
                                  maximum: 20
                                  exclusiveMaximum: false
                                  minimum: 0
                                  exclusiveMinimum: false
                                ruleGroupOverrides:
                                  description: Defines the rule overrides to apply
                                    to the rule set.
                                  type: array
                                  items:
                                    description: Defines a managed rule group override
                                      setting.
                                    required:
                                    - ruleGroupName
                                    properties:
                                      ruleGroupName:
                                        description: Describes the managed rule group
                                          within the rule set to override
                                        type: string
                                      rules:
                                        description: List of rules that will be enabled.
                                          If none specified, all rules in the group
                                          will be disabled.
                                        type: array
                                        items:
                                          description: Defines a managed rule group
                                            override setting.
                                          required:
                                          - ruleId
                                          properties:
                                            ruleId:
                                              description: Identifier for the managed
                                                rule.
                                              type: string
                                            enabledState:
                                              description: Describes if the managed
                                                rule is in enabled or disabled state.
                                                Defaults to Disabled if not specified.
                                              type: string
                                              enum:
                                              - Disabled
                                              - Enabled
                                              x-ms-enum:
                                                name: ManagedRuleEnabledState
                                                modelAsString: true
                                            action:
                                              description: Describes the override
                                                action to be applied when rule matches.
                                              type: string
                                              enum:
                                              - Allow
                                              - Block
                                              - Log
                                              - Redirect
                                              x-ms-enum:
                                                name: ActionType
                                                modelAsString: true
                                        x-ms-identifiers:
                                        - ruleId
                                  x-ms-identifiers:
                                  - ruleGroupName
                            x-ms-identifiers:
                            - ruleSetType
                            - ruleSetVersion
                      endpointLinks:
                        description: Describes Azure CDN endpoints associated with
                          this Web Application Firewall policy.
                        type: array
                        readOnly: true
                        items:
                          description: Defines the ARM Resource ID for the linked
                            endpoints
                          type: object
                          readOnly: true
                          properties:
                            id:
                              type: string
                              description: ARM Resource ID string.
                      extendedProperties:
                        description: Key-Value pair representing additional properties
                          for Web Application Firewall policy.
                        type: object
                        additionalProperties:
                          type: string
                      provisioningState:
                        readOnly: true
                        type: string
                        description: Provisioning state of the WebApplicationFirewallPolicy.
                        enum:
                        - Creating
                        - Succeeded
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceState:
                        title: Resource status of the policy.
                        readOnly: true
                        enum:
                        - Creating
                        - Enabling
                        - Enabled
                        - Disabling
                        - Disabled
                        - Deleting
                        type: string
                        x-ms-enum:
                          name: PolicyResourceState
                          modelAsString: true
                  etag:
                    type: string
                    description: Gets a unique read-only string that changes whenever
                      the resource is updated.
                  sku:
                    description: The pricing tier (defines a CDN provider, feature
                      list and rate) of the CdnWebApplicationFirewallPolicy.
                    properties:
                      name:
                        description: Name of the pricing tier.
                        enum:
                        - Standard_Verizon
                        - Premium_Verizon
                        - Custom_Verizon
                        - Standard_Akamai
                        - Standard_ChinaCdn
                        - Standard_Microsoft
                        - Standard_AzureFrontDoor
                        - Premium_AzureFrontDoor
                        - Standard_955BandWidth_ChinaCdn
                        - Standard_AvgBandWidth_ChinaCdn
                        - StandardPlus_ChinaCdn
                        - StandardPlus_955BandWidth_ChinaCdn
                        - StandardPlus_AvgBandWidth_ChinaCdn
                        type: string
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                    type: object
                required:
                - location
                - sku
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - WebApplicationFirewallPolicies
      description: Create or update policy with specified rule set name within a resource
        group.
      operationId: Policies_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: policyName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the CdnWebApplicationFirewallPolicy.
        schema:
          type: string
          maxLength: 128
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  x-ms-client-flatten: true
                  description: Properties of the web application firewall policy.
                  properties:
                    policySettings:
                      description: Describes  policySettings for policy
                      properties:
                        enabledState:
                          description: describes if the policy is in enabled state
                            or disabled state
                          type: string
                          enum:
                          - Disabled
                          - Enabled
                          x-ms-enum:
                            name: PolicyEnabledState
                            modelAsString: true
                        mode:
                          description: Describes if it is in detection mode or prevention
                            mode at policy level.
                          type: string
                          enum:
                          - Prevention
                          - Detection
                          x-ms-enum:
                            name: PolicyMode
                            modelAsString: true
                        defaultRedirectUrl:
                          description: If action type is redirect, this field represents
                            the default redirect URL for the client.
                          type: string
                        defaultCustomBlockResponseStatusCode:
                          description: If the action type is block, this field defines
                            the default customer overridable http response status
                            code.
                          type: integer
                          format: int32
                          enum:
                          - 200
                          - 403
                          - 405
                          - 406
                          - 429
                        defaultCustomBlockResponseBody:
                          description: If the action type is block, customer can override
                            the response body. The body must be specified in base64
                            encoding.
                          type: string
                          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{4})$
                    rateLimitRules:
                      description: Describes rate limit rules inside the policy.
                      properties:
                        rules:
                          description: List of rules
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                description: Defines the name of the custom rule
                                type: string
                              enabledState:
                                description: Describes if the custom rule is in enabled
                                  or disabled state. Defaults to Enabled if not specified.
                                type: string
                                enum:
                                - Disabled
                                - Enabled
                                x-ms-enum:
                                  name: CustomRuleEnabledState
                                  modelAsString: true
                              priority:
                                description: Defines in what order this rule be evaluated
                                  in the overall list of custom rules
                                type: integer
                                format: int32
                                maximum: 1000
                                exclusiveMaximum: false
                                minimum: 0
                                exclusiveMinimum: false
                              matchConditions:
                                description: List of match conditions.
                                type: array
                                items:
                                  description: Define match conditions
                                  required:
                                  - matchVariable
                                  - operator
                                  - matchValue
                                  properties:
                                    matchVariable:
                                      description: Match variable to compare against.
                                      type: string
                                      enum:
                                      - RemoteAddr
                                      - SocketAddr
                                      - RequestMethod
                                      - RequestHeader
                                      - RequestUri
                                      - QueryString
                                      - RequestBody
                                      - Cookies
                                      - PostArgs
                                      x-ms-enum:
                                        name: WafMatchVariable
                                        modelAsString: true
                                    selector:
                                      description: Selector can used to match a specific
                                        key for QueryString, Cookies, RequestHeader
                                        or PostArgs.
                                      type: string
                                    operator:
                                      description: Describes operator to be matched
                                      type: string
                                      enum:
                                      - Any
                                      - IPMatch
                                      - GeoMatch
                                      - Equal
                                      - Contains
                                      - LessThan
                                      - GreaterThan
                                      - LessThanOrEqual
                                      - GreaterThanOrEqual
                                      - BeginsWith
                                      - EndsWith
                                      - RegEx
                                      x-ms-enum:
                                        name: operator
                                        modelAsString: true
                                    negateCondition:
                                      description: Describes if the result of this
                                        condition should be negated.
                                      type: boolean
                                    matchValue:
                                      description: List of possible match values.
                                      type: array
                                      items:
                                        type: string
                                    transforms:
                                      description: List of transforms.
                                      type: array
                                      items:
                                        description: Describes what transforms were
                                          applied before matching.
                                        type: string
                                        enum:
                                        - Lowercase
                                        - Uppercase
                                        - Trim
                                        - UrlDecode
                                        - UrlEncode
                                        - RemoveNulls
                                        x-ms-enum:
                                          name: TransformType
                                          modelAsString: true
                                x-ms-identifiers: []
                              action:
                                description: Describes what action to be applied when
                                  rule matches
                                type: string
                                enum:
                                - Allow
                                - Block
                                - Log
                                - Redirect
                                x-ms-enum:
                                  name: ActionType
                                  modelAsString: true
                              rateLimitThreshold:
                                description: Defines rate limit threshold.
                                type: integer
                                format: int32
                                minimum: 0
                                exclusiveMinimum: false
                              rateLimitDurationInMinutes:
                                description: Defines rate limit duration. Default
                                  is 1 minute.
                                type: integer
                                format: int32
                                maximum: 60
                                exclusiveMaximum: false
                                minimum: 0
                                exclusiveMinimum: false
                            required:
                            - name
                            - priority
                            - matchConditions
                            - action
                            - rateLimitThreshold
                            - rateLimitDurationInMinutes
                            description: Defines the common attributes for a custom
                              rule that can be included in a waf policy
                          x-ms-identifiers:
                          - name
                    customRules:
                      description: Describes custom rules inside the policy.
                      properties:
                        rules:
                          description: List of rules
                          type: array
                          items:
                            description: Defines the common attributes for a custom
                              rule that can be included in a waf policy
                            type: object
                            required:
                            - name
                            - priority
                            - matchConditions
                            - action
                            properties:
                              name:
                                description: Defines the name of the custom rule
                                type: string
                              enabledState:
                                description: Describes if the custom rule is in enabled
                                  or disabled state. Defaults to Enabled if not specified.
                                type: string
                                enum:
                                - Disabled
                                - Enabled
                                x-ms-enum:
                                  name: CustomRuleEnabledState
                                  modelAsString: true
                              priority:
                                description: Defines in what order this rule be evaluated
                                  in the overall list of custom rules
                                type: integer
                                format: int32
                                maximum: 1000
                                exclusiveMaximum: false
                                minimum: 0
                                exclusiveMinimum: false
                              matchConditions:
                                description: List of match conditions.
                                type: array
                                items:
                                  description: Define match conditions
                                  required:
                                  - matchVariable
                                  - operator
                                  - matchValue
                                  properties:
                                    matchVariable:
                                      description: Match variable to compare against.
                                      type: string
                                      enum:
                                      - RemoteAddr
                                      - SocketAddr
                                      - RequestMethod
                                      - RequestHeader
                                      - RequestUri
                                      - QueryString
                                      - RequestBody
                                      - Cookies
                                      - PostArgs
                                      x-ms-enum:
                                        name: WafMatchVariable
                                        modelAsString: true
                                    selector:
                                      description: Selector can used to match a specific
                                        key for QueryString, Cookies, RequestHeader
                                        or PostArgs.
                                      type: string
                                    operator:
                                      description: Describes operator to be matched
                                      type: string
                                      enum:
                                      - Any
                                      - IPMatch
                                      - GeoMatch
                                      - Equal
                                      - Contains
                                      - LessThan
                                      - GreaterThan
                                      - LessThanOrEqual
                                      - GreaterThanOrEqual
                                      - BeginsWith
                                      - EndsWith
                                      - RegEx
                                      x-ms-enum:
                                        name: operator
                                        modelAsString: true
                                    negateCondition:
                                      description: Describes if the result of this
                                        condition should be negated.
                                      type: boolean
                                    matchValue:
                                      description: List of possible match values.
                                      type: array
                                      items:
                                        type: string
                                    transforms:
                                      description: List of transforms.
                                      type: array
                                      items:
                                        description: Describes what transforms were
                                          applied before matching.
                                        type: string
                                        enum:
                                        - Lowercase
                                        - Uppercase
                                        - Trim
                                        - UrlDecode
                                        - UrlEncode
                                        - RemoveNulls
                                        x-ms-enum:
                                          name: TransformType
                                          modelAsString: true
                                x-ms-identifiers: []
                              action:
                                description: Describes what action to be applied when
                                  rule matches
                                type: string
                                enum:
                                - Allow
                                - Block
                                - Log
                                - Redirect
                                x-ms-enum:
                                  name: ActionType
                                  modelAsString: true
                          x-ms-identifiers:
                          - name
                    managedRules:
                      description: Describes managed rules inside the policy.
                      properties:
                        managedRuleSets:
                          description: List of rule sets.
                          type: array
                          items:
                            type: object
                            description: Defines a managed rule set.
                            required:
                            - ruleSetType
                            - ruleSetVersion
                            properties:
                              ruleSetType:
                                description: Defines the rule set type to use.
                                type: string
                              ruleSetVersion:
                                description: Defines the version of the rule set to
                                  use.
                                type: string
                              anomalyScore:
                                description: 'Verizon only : If the rule set supports
                                  anomaly detection mode, this describes the threshold
                                  for blocking requests.'
                                type: integer
                                format: int32
                                maximum: 20
                                exclusiveMaximum: false
                                minimum: 0
                                exclusiveMinimum: false
                              ruleGroupOverrides:
[...]
