openapi: 3.0.0
info:
  version: 2024-11-01
  title: AppServiceCertificateOrders API Client
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.CertificateRegistration/certificateOrders:
    get:
      tags:
      - AppServiceCertificateOrders
      summary: List all certificate orders in a subscription.
      description: Description for List all certificate orders in a subscription.
      operationId: AppServiceCertificateOrders_List
      parameters:
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of certificate orders.
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource Id.
                          type: string
                          readOnly: true
                        name:
                          description: Resource Name.
                          type: string
                          readOnly: true
                        kind:
                          description: Kind of resource. If the resource is an app,
                            you can refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
                            for details supported values for kind.
                          type: string
                        location:
                          description: Resource Location.
                          type: string
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        tags:
                          description: Resource tags.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: AppServiceCertificateOrder resource specific
                            properties
                          required:
                          - productType
                          type: object
                          properties:
                            certificates:
                              description: State of the Key Vault secret.
                              type: object
                              additionalProperties:
                                description: Key Vault container for a certificate
                                  that is purchased through Azure.
                                type: object
                                properties:
                                  keyVaultId:
                                    description: Key Vault resource Id.
                                    type: string
                                  keyVaultSecretName:
                                    description: Key Vault secret name.
                                    type: string
                                  provisioningState:
                                    description: Status of the Key Vault secret.
                                    enum:
                                    - Initialized
                                    - WaitingOnCertificateOrder
                                    - Succeeded
                                    - CertificateOrderFailed
                                    - OperationNotPermittedOnKeyVault
                                    - AzureServiceUnauthorizedToAccessKeyVault
                                    - KeyVaultDoesNotExist
                                    - KeyVaultSecretDoesNotExist
                                    - UnknownError
                                    - ExternalPrivateKey
                                    - Unknown
                                    type: string
                                    readOnly: true
                                    x-ms-enum:
                                      name: KeyVaultSecretStatus
                                      modelAsString: false
                            distinguishedName:
                              description: Certificate distinguished name.
                              type: string
                              x-ms-mutability:
                              - create
                              - read
                            domainVerificationToken:
                              description: Domain verification token.
                              type: string
                              readOnly: true
                            validityInYears:
                              format: int32
                              description: Duration in years (must be 1).
                              default: 1
                              type: integer
                              x-ms-mutability:
                              - create
                              - read
                            keySize:
                              format: int32
                              description: Certificate key size.
                              default: 2048
                              type: integer
                              x-ms-mutability:
                              - create
                              - read
                            productType:
                              description: Certificate product type.
                              enum:
                              - StandardDomainValidatedSsl
                              - StandardDomainValidatedWildCardSsl
                              type: string
                              x-ms-enum:
                                name: CertificateProductType
                                modelAsString: false
                              x-ms-mutability:
                              - create
                              - read
                            autoRenew:
                              description: <code>true</code> if the certificate should
                                be automatically renewed when it expires; otherwise,
                                <code>false</code>.
                              default: true
                              type: boolean
                            provisioningState:
                              description: Status of certificate order.
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - InProgress
                              - Deleting
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: false
                            status:
                              description: Current order status.
                              enum:
                              - Pendingissuance
                              - Issued
                              - Revoked
                              - Canceled
                              - Denied
                              - Pendingrevocation
                              - PendingRekey
                              - Unused
                              - Expired
                              - NotSubmitted
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: CertificateOrderStatus
                                modelAsString: false
                            signedCertificate:
                              description: Signed certificate.
                              readOnly: true
                              type: object
                              properties:
                                version:
                                  format: int32
                                  description: Certificate Version.
                                  type: integer
                                  readOnly: true
                                serialNumber:
                                  description: Certificate Serial Number.
                                  type: string
                                  readOnly: true
                                thumbprint:
                                  description: Certificate Thumbprint.
                                  type: string
                                  readOnly: true
                                subject:
                                  description: Certificate Subject.
                                  type: string
                                  readOnly: true
                                notBefore:
                                  format: date-time
                                  description: Date Certificate is valid from.
                                  type: string
                                  readOnly: true
                                notAfter:
                                  format: date-time
                                  description: Date Certificate is valid to.
                                  type: string
                                  readOnly: true
                                signatureAlgorithm:
                                  description: Certificate Signature algorithm.
                                  type: string
                                  readOnly: true
                                issuer:
                                  description: Certificate Issuer.
                                  type: string
                                  readOnly: true
                                rawData:
                                  description: Raw certificate data.
                                  type: string
                                  readOnly: true
                            csr:
                              description: Last CSR that was created for this order.
                              type: string
                              x-ms-mutability:
                              - create
                              - read
                            intermediate:
                              description: Intermediate certificate.
                              readOnly: true
                              type: object
                              properties:
                                version:
                                  format: int32
                                  description: Certificate Version.
                                  type: integer
                                  readOnly: true
                                serialNumber:
                                  description: Certificate Serial Number.
                                  type: string
                                  readOnly: true
                                thumbprint:
                                  description: Certificate Thumbprint.
                                  type: string
                                  readOnly: true
                                subject:
                                  description: Certificate Subject.
                                  type: string
                                  readOnly: true
                                notBefore:
                                  format: date-time
                                  description: Date Certificate is valid from.
                                  type: string
                                  readOnly: true
                                notAfter:
                                  format: date-time
                                  description: Date Certificate is valid to.
                                  type: string
                                  readOnly: true
                                signatureAlgorithm:
                                  description: Certificate Signature algorithm.
                                  type: string
                                  readOnly: true
                                issuer:
                                  description: Certificate Issuer.
                                  type: string
                                  readOnly: true
                                rawData:
                                  description: Raw certificate data.
                                  type: string
                                  readOnly: true
                            root:
                              description: Root certificate.
                              readOnly: true
                              type: object
                              properties:
                                version:
                                  format: int32
                                  description: Certificate Version.
                                  type: integer
                                  readOnly: true
                                serialNumber:
                                  description: Certificate Serial Number.
                                  type: string
                                  readOnly: true
                                thumbprint:
                                  description: Certificate Thumbprint.
                                  type: string
                                  readOnly: true
                                subject:
                                  description: Certificate Subject.
                                  type: string
                                  readOnly: true
                                notBefore:
                                  format: date-time
                                  description: Date Certificate is valid from.
                                  type: string
                                  readOnly: true
                                notAfter:
                                  format: date-time
                                  description: Date Certificate is valid to.
                                  type: string
                                  readOnly: true
                                signatureAlgorithm:
                                  description: Certificate Signature algorithm.
                                  type: string
                                  readOnly: true
                                issuer:
                                  description: Certificate Issuer.
                                  type: string
                                  readOnly: true
                                rawData:
                                  description: Raw certificate data.
                                  type: string
                                  readOnly: true
                            serialNumber:
                              description: Current serial number of the certificate.
                              type: string
                              readOnly: true
                            lastCertificateIssuanceTime:
                              format: date-time
                              description: Certificate last issuance time.
                              type: string
                              readOnly: true
                            expirationTime:
                              format: date-time
                              description: Certificate expiration time.
                              type: string
                              readOnly: true
                            isPrivateKeyExternal:
                              description: <code>true</code> if private key is external;
                                otherwise, <code>false</code>.
                              type: boolean
                              readOnly: true
                            appServiceCertificateNotRenewableReasons:
                              description: Reasons why App Service Certificate is
                                not renewable at the current moment.
                              type: array
                              items:
                                enum:
                                - RegistrationStatusNotSupportedForRenewal
                                - ExpirationNotInRenewalTimeRange
                                - SubscriptionNotActive
                                type: string
                                x-ms-enum:
                                  name: ResourceNotRenewableReason
                                  modelAsString: true
                              readOnly: true
                            nextAutoRenewalTimeStamp:
                              format: date-time
                              description: Time stamp when the certificate would be
                                auto renewed next
                              type: string
                              readOnly: true
                            contact:
                              description: Contact info
                              readOnly: true
                              type: object
                              properties:
                                email:
                                  type: string
                                nameFirst:
                                  type: string
                                nameLast:
                                  type: string
                                phone:
                                  type: string
                          x-ms-client-flatten: true
                      required:
                      - location
                      description: Azure resource. This resource is tracked in Azure
                        Resource Manager
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.CertificateRegistration/validateCertificateRegistrationInformation:
    post:
      tags:
      - AppServiceCertificateOrders
      summary: Validate information for a certificate order.
      description: Description for Validate information for a certificate order.
      operationId: AppServiceCertificateOrders_ValidatePurchaseInformation
      parameters:
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource Id.
                  type: string
                  readOnly: true
                name:
                  description: Resource Name.
                  type: string
                  readOnly: true
                kind:
                  description: Kind of resource. If the resource is an app, you can
                    refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
                    for details supported values for kind.
                  type: string
                location:
                  description: Resource Location.
                  type: string
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                tags:
                  description: Resource tags.
                  type: object
                  additionalProperties:
                    type: string
                properties:
                  description: AppServiceCertificateOrder resource specific properties
                  required:
                  - productType
                  type: object
                  properties:
                    certificates:
                      description: State of the Key Vault secret.
                      type: object
                      additionalProperties:
                        description: Key Vault container for a certificate that is
                          purchased through Azure.
                        type: object
                        properties:
                          keyVaultId:
                            description: Key Vault resource Id.
                            type: string
                          keyVaultSecretName:
                            description: Key Vault secret name.
                            type: string
                          provisioningState:
                            description: Status of the Key Vault secret.
                            enum:
                            - Initialized
                            - WaitingOnCertificateOrder
                            - Succeeded
                            - CertificateOrderFailed
                            - OperationNotPermittedOnKeyVault
                            - AzureServiceUnauthorizedToAccessKeyVault
                            - KeyVaultDoesNotExist
                            - KeyVaultSecretDoesNotExist
                            - UnknownError
                            - ExternalPrivateKey
                            - Unknown
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: KeyVaultSecretStatus
                              modelAsString: false
                    distinguishedName:
                      description: Certificate distinguished name.
                      type: string
                      x-ms-mutability:
                      - create
                      - read
                    domainVerificationToken:
                      description: Domain verification token.
                      type: string
                      readOnly: true
                    validityInYears:
                      format: int32
                      description: Duration in years (must be 1).
                      default: 1
                      type: integer
                      x-ms-mutability:
                      - create
                      - read
                    keySize:
                      format: int32
                      description: Certificate key size.
                      default: 2048
                      type: integer
                      x-ms-mutability:
                      - create
                      - read
                    productType:
                      description: Certificate product type.
                      enum:
                      - StandardDomainValidatedSsl
                      - StandardDomainValidatedWildCardSsl
                      type: string
                      x-ms-enum:
                        name: CertificateProductType
                        modelAsString: false
                      x-ms-mutability:
                      - create
                      - read
                    autoRenew:
                      description: <code>true</code> if the certificate should be
                        automatically renewed when it expires; otherwise, <code>false</code>.
                      default: true
                      type: boolean
                    provisioningState:
                      description: Status of certificate order.
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - InProgress
                      - Deleting
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: false
                    status:
                      description: Current order status.
                      enum:
                      - Pendingissuance
                      - Issued
                      - Revoked
                      - Canceled
                      - Denied
                      - Pendingrevocation
                      - PendingRekey
                      - Unused
                      - Expired
                      - NotSubmitted
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: CertificateOrderStatus
                        modelAsString: false
                    signedCertificate:
                      description: Signed certificate.
                      readOnly: true
                      type: object
                      properties:
                        version:
                          format: int32
                          description: Certificate Version.
                          type: integer
                          readOnly: true
                        serialNumber:
                          description: Certificate Serial Number.
                          type: string
                          readOnly: true
                        thumbprint:
                          description: Certificate Thumbprint.
                          type: string
                          readOnly: true
                        subject:
                          description: Certificate Subject.
                          type: string
                          readOnly: true
                        notBefore:
                          format: date-time
                          description: Date Certificate is valid from.
                          type: string
                          readOnly: true
                        notAfter:
                          format: date-time
                          description: Date Certificate is valid to.
                          type: string
                          readOnly: true
                        signatureAlgorithm:
                          description: Certificate Signature algorithm.
                          type: string
                          readOnly: true
                        issuer:
                          description: Certificate Issuer.
                          type: string
                          readOnly: true
                        rawData:
                          description: Raw certificate data.
                          type: string
                          readOnly: true
                    csr:
                      description: Last CSR that was created for this order.
                      type: string
                      x-ms-mutability:
                      - create
                      - read
                    intermediate:
                      description: Intermediate certificate.
                      readOnly: true
                      type: object
                      properties:
                        version:
                          format: int32
                          description: Certificate Version.
                          type: integer
                          readOnly: true
                        serialNumber:
                          description: Certificate Serial Number.
                          type: string
                          readOnly: true
                        thumbprint:
                          description: Certificate Thumbprint.
                          type: string
                          readOnly: true
                        subject:
                          description: Certificate Subject.
                          type: string
                          readOnly: true
                        notBefore:
                          format: date-time
                          description: Date Certificate is valid from.
                          type: string
                          readOnly: true
                        notAfter:
                          format: date-time
                          description: Date Certificate is valid to.
                          type: string
                          readOnly: true
                        signatureAlgorithm:
                          description: Certificate Signature algorithm.
                          type: string
                          readOnly: true
                        issuer:
                          description: Certificate Issuer.
                          type: string
                          readOnly: true
                        rawData:
                          description: Raw certificate data.
                          type: string
                          readOnly: true
                    root:
                      description: Root certificate.
                      readOnly: true
                      type: object
                      properties:
                        version:
                          format: int32
                          description: Certificate Version.
                          type: integer
                          readOnly: true
                        serialNumber:
                          description: Certificate Serial Number.
                          type: string
                          readOnly: true
                        thumbprint:
                          description: Certificate Thumbprint.
                          type: string
                          readOnly: true
                        subject:
                          description: Certificate Subject.
                          type: string
                          readOnly: true
                        notBefore:
                          format: date-time
                          description: Date Certificate is valid from.
                          type: string
                          readOnly: true
                        notAfter:
                          format: date-time
                          description: Date Certificate is valid to.
                          type: string
                          readOnly: true
                        signatureAlgorithm:
                          description: Certificate Signature algorithm.
                          type: string
                          readOnly: true
                        issuer:
                          description: Certificate Issuer.
                          type: string
                          readOnly: true
                        rawData:
                          description: Raw certificate data.
                          type: string
                          readOnly: true
                    serialNumber:
                      description: Current serial number of the certificate.
                      type: string
                      readOnly: true
                    lastCertificateIssuanceTime:
                      format: date-time
                      description: Certificate last issuance time.
                      type: string
                      readOnly: true
                    expirationTime:
                      format: date-time
                      description: Certificate expiration time.
                      type: string
                      readOnly: true
                    isPrivateKeyExternal:
                      description: <code>true</code> if private key is external; otherwise,
                        <code>false</code>.
                      type: boolean
                      readOnly: true
                    appServiceCertificateNotRenewableReasons:
                      description: Reasons why App Service Certificate is not renewable
                        at the current moment.
                      type: array
                      items:
                        enum:
                        - RegistrationStatusNotSupportedForRenewal
                        - ExpirationNotInRenewalTimeRange
                        - SubscriptionNotActive
                        type: string
                        x-ms-enum:
                          name: ResourceNotRenewableReason
                          modelAsString: true
                      readOnly: true
                    nextAutoRenewalTimeStamp:
                      format: date-time
                      description: Time stamp when the certificate would be auto renewed
                        next
                      type: string
                      readOnly: true
                    contact:
                      description: Contact info
                      readOnly: true
                      type: object
                      properties:
                        email:
                          type: string
                        nameFirst:
                          type: string
                        nameLast:
                          type: string
                        phone:
                          type: string
                  x-ms-client-flatten: true
              required:
              - location
              description: Azure resource. This resource is tracked in Azure Resource
                Manager
              x-ms-azure-resource: true
        description: Information for a certificate order.
        required: true
      responses:
        '204':
          description: No Content
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders
  : get:
      tags:
      - AppServiceCertificateOrders
      summary: Get certificate orders in a resource group.
      description: Description for Get certificate orders in a resource group.
      operationId: AppServiceCertificateOrders_ListByResourceGroup
      parameters:
      - name: resourceGroupName
        in: path
        description: Name of the resource group to which the resource belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+[^\.]$
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of certificate orders.
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource Id.
                          type: string
                          readOnly: true
                        name:
                          description: Resource Name.
                          type: string
                          readOnly: true
                        kind:
                          description: Kind of resource. If the resource is an app,
                            you can refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
                            for details supported values for kind.
                          type: string
                        location:
                          description: Resource Location.
                          type: string
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        tags:
                          description: Resource tags.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: AppServiceCertificateOrder resource specific
                            properties
                          required:
                          - productType
                          type: object
                          properties:
                            certificates:
                              description: State of the Key Vault secret.
                              type: object
                              additionalProperties:
                                description: Key Vault container for a certificate
                                  that is purchased through Azure.
                                type: object
                                properties:
                                  keyVaultId:
                                    description: Key Vault resource Id.
                                    type: string
                                  keyVaultSecretName:
                                    description: Key Vault secret name.
                                    type: string
                                  provisioningState:
                                    description: Status of the Key Vault secret.
                                    enum:
                                    - Initialized
                                    - WaitingOnCertificateOrder
                                    - Succeeded
                                    - CertificateOrderFailed
                                    - OperationNotPermittedOnKeyVault
                                    - AzureServiceUnauthorizedToAccessKeyVault
                                    - KeyVaultDoesNotExist
                                    - KeyVaultSecretDoesNotExist
                                    - UnknownError
                                    - ExternalPrivateKey
                                    - Unknown
                                    type: string
                                    readOnly: true
                                    x-ms-enum:
                                      name: KeyVaultSecretStatus
                                      modelAsString: false
                            distinguishedName:
                              description: Certificate distinguished name.
                              type: string
                              x-ms-mutability:
                              - create
                              - read
                            domainVerificationToken:
                              description: Domain verification token.
                              type: string
                              readOnly: true
                            validityInYears:
                              format: int32
                              description: Duration in years (must be 1).
                              default: 1
                              type: integer
                              x-ms-mutability:
                              - create
                              - read
                            keySize:
                              format: int32
                              description: Certificate key size.
                              default: 2048
                              type: integer
                              x-ms-mutability:
                              - create
                              - read
                            productType:
                              description: Certificate product type.
                              enum:
                              - StandardDomainValidatedSsl
                              - StandardDomainValidatedWildCardSsl
                              type: string
                              x-ms-enum:
                                name: CertificateProductType
                                modelAsString: false
                              x-ms-mutability:
                              - create
                              - read
                            autoRenew:
                              description: <code>true</code> if the certificate should
                                be automatically renewed when it expires; otherwise,
                                <code>false</code>.
                              default: true
                              type: boolean
                            provisioningState:
                              description: Status of certificate order.
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - InProgress
                              - Deleting
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: false
                            status:
                              description: Current order status.
                              enum:
                              - Pendingissuance
                              - Issued
                              - Revoked
                              - Canceled
                              - Denied
                              - Pendingrevocation
                              - PendingRekey
                              - Unused
                              - Expired
                              - NotSubmitted
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: CertificateOrderStatus
                                modelAsString: false
                            signedCertificate:
                              description: Signed certificate.
                              readOnly: true
                              type: object
                              properties:
                                version:
                                  format: int32
                                  description: Certificate Version.
                                  type: integer
                                  readOnly: true
                                serialNumber:
                                  description: Certificate Serial Number.
                                  type: string
                                  readOnly: true
                                thumbprint:
                                  description: Certificate Thumbprint.
                                  type: string
                                  readOnly: true
                                subject:
                                  description: Certificate Subject.
                                  type: string
                                  readOnly: true
                                notBefore:
                                  format: date-time
                                  description: Date Certificate is valid from.
                                  type: string
                                  readOnly: true
                                notAfter:
                                  format: date-time
                                  description: Date Certificate is valid to.
                                  type: string
                                  readOnly: true
                                signatureAlgorithm:
                                  description: Certificate Signature algorithm.
                                  type: string
                                  readOnly: true
                                issuer:
                                  description: Certificate Issuer.
                                  type: string
                                  readOnly: true
                                rawData:
                                  description: Raw certificate data.
                                  type: string
                                  readOnly: true
                            csr:
                              description: Last CSR that was created for this order.
                              type: string
                              x-ms-mutability:
                              - create
                              - read
                            intermediate:
                              description: Intermediate certificate.
                              readOnly: true
                              type: object
                              properties:
                                version:
                                  format: int32
                                  description: Certificate Version.
                                  type: integer
                                  readOnly: true
                                serialNumber:
                                  description: Certificate Serial Number.
                                  type: string
                                  readOnly: true
                                thumbprint:
                                  description: Certificate Thumbprint.
                                  type: string
                                  readOnly: true
                                subject:
                                  description: Certificate Subject.
                                  type: string
                                  readOnly: true
                                notBefore:
                                  format: date-time
                                  description: Date Certificate is valid from.
                                  type: string
                                  readOnly: true
                                notAfter:
                                  format: date-time
                                  description: Date Certificate is valid to.
                                  type: string
                                  readOnly: true
                                signatureAlgorithm:
                                  description: Certificate Signature algorithm.
                                  type: string
                                  readOnly: true
                                issuer:
                                  description: Certificate Issuer.
                                  type: string
                                  readOnly: true
                                rawData:
                                  description: Raw certificate data.
                                  type: string
                                  readOnly: true
                            root:
                              description: Root certificate.
                              readOnly: true
                              type: object
                              properties:
                                version:
                                  format: int32
                                  description: Certificate Version.
                                  type: integer
                                  readOnly: true
                                serialNumber:
                                  description: Certificate Serial Number.
                                  type: string
                                  readOnly: true
                                thumbprint:
                                  description: Certificate Thumbprint.
                                  type: string
                                  readOnly: true
                                subject:
                                  description: Certificate Subject.
                                  type: string
                                  readOnly: true
                                notBefore:
                                  format: date-time
                                  description: Date Certificate is valid from.
                                  type: string
                                  readOnly: true
                                notAfter:
                                  format: date-time
                                  description: Date Certificate is valid to.
                                  type: string
                                  readOnly: true
                                signatureAlgorithm:
                                  description: Certificate Signature algorithm.
                                  type: string
                                  readOnly: true
                                issuer:
                                  description: Certificate Issuer.
                                  type: string
                                  readOnly: true
                                rawData:
                                  description: Raw certificate data.
                                  type: string
                                  readOnly: true
                            serialNumber:
                              description: Current serial number of the certificate.
                              type: string
                              readOnly: true
                            lastCertificateIssuanceTime:
                              format: date-time
                              description: Certificate last issuance time.
                              type: string
                              readOnly: true
                            expirationTime:
                              format: date-time
                              description: Certificate expiration time.
                              type: string
                              readOnly: true
                            isPrivateKeyExternal:
                              description: <code>true</code> if private key is external;
                                otherwise, <code>false</code>.
                              type: boolean
                              readOnly: true
                            appServiceCertificateNotRenewableReasons:
                              description: Reasons why App Service Certificate is
                                not renewable at the current moment.
                              type: array
                              items:
                                enum:
                                - RegistrationStatusNotSupportedForRenewal
                                - ExpirationNotInRenewalTimeRange
                                - SubscriptionNotActive
                                type: string
                                x-ms-enum:
                                  name: ResourceNotRenewableReason
                                  modelAsString: true
                              readOnly: true
                            nextAutoRenewalTimeStamp:
                              format: date-time
                              description: Time stamp when the certificate would be
                                auto renewed next
                              type: string
                              readOnly: true
                            contact:
                              description: Contact info
                              readOnly: true
                              type: object
                              properties:
                                email:
                                  type: string
                                nameFirst:
                                  type: string
                                nameLast:
                                  type: string
                                phone:
                                  type: string
                          x-ms-client-flatten: true
                      required:
                      - location
                      description: Azure resource. This resource is tracked in Azure
                        Resource Manager
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}
  : get:
      tags:
      - AppServiceCertificateOrders
      summary: Get a certificate order.
      description: Description for Get a certificate order.
      operationId: AppServiceCertificateOrders_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: Name of the resource group to which the resource belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+[^\.]$
      - name: certificateOrderName
        in: path
        description: Name of the certificate order..
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource Id.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  kind:
                    description: Kind of resource. If the resource is an app, you
                      can refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
                      for details supported values for kind.
                    type: string
                  location:
                    description: Resource Location.
                    type: string
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  tags:
                    description: Resource tags.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: AppServiceCertificateOrder resource specific properties
                    required:
                    - productType
                    type: object
                    properties:
                      certificates:
                        description: State of the Key Vault secret.
                        type: object
                        additionalProperties:
                          description: Key Vault container for a certificate that
                            is purchased through Azure.
                          type: object
                          properties:
                            keyVaultId:
                              description: Key Vault resource Id.
                              type: string
                            keyVaultSecretName:
                              description: Key Vault secret name.
                              type: string
                            provisioningState:
                              description: Status of the Key Vault secret.
                              enum:
                              - Initialized
                              - WaitingOnCertificateOrder
                              - Succeeded
                              - CertificateOrderFailed
                              - OperationNotPermittedOnKeyVault
                              - AzureServiceUnauthorizedToAccessKeyVault
                              - KeyVaultDoesNotExist
                              - KeyVaultSecretDoesNotExist
                              - UnknownError
                              - ExternalPrivateKey
                              - Unknown
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: KeyVaultSecretStatus
                                modelAsString: false
                      distinguishedName:
                        description: Certificate distinguished name.
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                      domainVerificationToken:
                        description: Domain verification token.
                        type: string
                        readOnly: true
                      validityInYears:
                        format: int32
                        description: Duration in years (must be 1).
                        default: 1
                        type: integer
                        x-ms-mutability:
                        - create
                        - read
                      keySize:
                        format: int32
                        description: Certificate key size.
                        default: 2048
                        type: integer
                        x-ms-mutability:
                        - create
                        - read
                      productType:
                        description: Certificate product type.
                        enum:
                        - StandardDomainValidatedSsl
                        - StandardDomainValidatedWildCardSsl
                        type: string
                        x-ms-enum:
                          name: CertificateProductType
                          modelAsString: false
                        x-ms-mutability:
                        - create
                        - read
                      autoRenew:
                        description: <code>true</code> if the certificate should be
                          automatically renewed when it expires; otherwise, <code>false</code>.
                        default: true
                        type: boolean
                      provisioningState:
                        description: Status of certificate order.
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - InProgress
                        - Deleting
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: false
                      status:
                        description: Current order status.
                        enum:
                        - Pendingissuance
                        - Issued
                        - Revoked
                        - Canceled
                        - Denied
                        - Pendingrevocation
                        - PendingRekey
                        - Unused
                        - Expired
                        - NotSubmitted
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: CertificateOrderStatus
                          modelAsString: false
                      signedCertificate:
                        description: Signed certificate.
                        readOnly: true
                        type: object
                        properties:
                          version:
                            format: int32
                            description: Certificate Version.
                            type: integer
                            readOnly: true
                          serialNumber:
                            description: Certificate Serial Number.
                            type: string
                            readOnly: true
                          thumbprint:
                            description: Certificate Thumbprint.
                            type: string
                            readOnly: true
                          subject:
                            description: Certificate Subject.
                            type: string
                            readOnly: true
                          notBefore:
                            format: date-time
                            description: Date Certificate is valid from.
                            type: string
                            readOnly: true
                          notAfter:
                            format: date-time
                            description: Date Certificate is valid to.
                            type: string
                            readOnly: true
                          signatureAlgorithm:
                            description: Certificate Signature algorithm.
                            type: string
                            readOnly: true
                          issuer:
                            description: Certificate Issuer.
                            type: string
                            readOnly: true
                          rawData:
                            description: Raw certificate data.
                            type: string
                            readOnly: true
                      csr:
                        description: Last CSR that was created for this order.
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                      intermediate:
                        description: Intermediate certificate.
                        readOnly: true
                        type: object
                        properties:
                          version:
                            format: int32
                            description: Certificate Version.
                            type: integer
                            readOnly: true
                          serialNumber:
                            description: Certificate Serial Number.
                            type: string
                            readOnly: true
                          thumbprint:
                            description: Certificate Thumbprint.
                            type: string
                            readOnly: true
                          subject:
                            description: Certificate Subject.
                            type: string
                            readOnly: true
                          notBefore:
                            format: date-time
                            description: Date Certificate is valid from.
                            type: string
                            readOnly: true
                          notAfter:
                            format: date-time
                            description: Date Certificate is valid to.
                            type: string
                            readOnly: true
                          signatureAlgorithm:
                            description: Certificate Signature algorithm.
                            type: string
                            readOnly: true
                          issuer:
                            description: Certificate Issuer.
                            type: string
                            readOnly: true
                          rawData:
                            description: Raw certificate data.
                            type: string
                            readOnly: true
                      root:
                        description: Root certificate.
                        readOnly: true
                        type: object
                        properties:
                          version:
                            format: int32
                            description: Certificate Version.
                            type: integer
                            readOnly: true
                          serialNumber:
                            description: Certificate Serial Number.
                            type: string
                            readOnly: true
                          thumbprint:
                            description: Certificate Thumbprint.
                            type: string
                            readOnly: true
                          subject:
                            description: Certificate Subject.
                            type: string
                            readOnly: true
                          notBefore:
                            format: date-time
                            description: Date Certificate is valid from.
                            type: string
                            readOnly: true
                          notAfter:
                            format: date-time
                            description: Date Certificate is valid to.
                            type: string
                            readOnly: true
                          signatureAlgorithm:
                            description: Certificate Signature algorithm.
                            type: string
                            readOnly: true
                          issuer:
                            description: Certificate Issuer.
                            type: string
                            readOnly: true
                          rawData:
                            description: Raw certificate data.
                            type: string
                            readOnly: true
                      serialNumber:
                        description: Current serial number of the certificate.
                        type: string
                        readOnly: true
                      lastCertificateIssuanceTime:
                        format: date-time
                        description: Certificate last issuance time.
                        type: string
                        readOnly: true
                      expirationTime:
                        format: date-time
                        description: Certificate expiration time.
                        type: string
                        readOnly: true
                      isPrivateKeyExternal:
                        description: <code>true</code> if private key is external;
                          otherwise, <code>false</code>.
                        type: boolean
                        readOnly: true
                      appServiceCertificateNotRenewableReasons:
                        description: Reasons why App Service Certificate is not renewable
                          at the current moment.
                        type: array
                        items:
                          enum:
                          - RegistrationStatusNotSupportedForRenewal
                          - ExpirationNotInRenewalTimeRange
                          - SubscriptionNotActive
                          type: string
                          x-ms-enum:
                            name: ResourceNotRenewableReason
                            modelAsString: true
                        readOnly: true
                      nextAutoRenewalTimeStamp:
                        format: date-time
                        description: Time stamp when the certificate would be auto
                          renewed next
                        type: string
                        readOnly: true
                      contact:
                        description: Contact info
                        readOnly: true
                        type: object
                        properties:
                          email:
                            type: string
                          nameFirst:
                            type: string
                          nameLast:
                            type: string
                          phone:
                            type: string
                    x-ms-client-flatten: true
                required:
                - location
                description: Azure resource. This resource is tracked in Azure Resource
                  Manager
                x-ms-azure-resource: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
    put:
      tags:
      - AppServiceCertificateOrders
      summary: Create or update a certificate purchase order.
      description: Description for Create or update a certificate purchase order.
      operationId: AppServiceCertificateOrders_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: Name of the resource group to which the resource belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+[^\.]$
      - name: certificateOrderName
        in: path
        description: Name of the certificate order.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource Id.
                  type: string
                  readOnly: true
                name:
                  description: Resource Name.
                  type: string
                  readOnly: true
                kind:
                  description: Kind of resource. If the resource is an app, you can
                    refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
                    for details supported values for kind.
                  type: string
                location:
                  description: Resource Location.
                  type: string
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                tags:
                  description: Resource tags.
                  type: object
                  additionalProperties:
                    type: string
                properties:
                  description: AppServiceCertificateOrder resource specific properties
                  required:
                  - productType
                  type: object
                  properties:
                    certificates:
                      description: State of the Key Vault secret.
                      type: object
                      additionalProperties:
                        description: Key Vault container for a certificate that is
                          purchased through Azure.
                        type: object
                        properties:
                          keyVaultId:
                            description: Key Vault resource Id.
                            type: string
                          keyVaultSecretName:
                            description: Key Vault secret name.
                            type: string
                          provisioningState:
                            description: Status of the Key Vault secret.
                            enum:
                            - Initialized
                            - WaitingOnCertificateOrder
                            - Succeeded
                            - CertificateOrderFailed
                            - OperationNotPermittedOnKeyVault
                            - AzureServiceUnauthorizedToAccessKeyVault
                            - KeyVaultDoesNotExist
                            - KeyVaultSecretDoesNotExist
                            - UnknownError
                            - ExternalPrivateKey
                            - Unknown
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: KeyVaultSecretStatus
                              modelAsString: false
                    distinguishedName:
                      description: Certificate distinguished name.
                      type: string
                      x-ms-mutability:
                      - create
                      - read
                    domainVerificationToken:
                      description: Domain verification token.
                      type: string
                      readOnly: true
                    validityInYears:
                      format: int32
                      description: Duration in years (must be 1).
                      default: 1
                      type: integer
                      x-ms-mutability:
                      - create
                      - read
                    keySize:
                      format: int32
                      description: Certificate key size.
                      default: 2048
                      type: integer
                      x-ms-mutability:
                      - create
                      - read
                    productType:
                      description: Certificate product type.
                      enum:
                      - StandardDomainValidatedSsl
                      - StandardDomainValidatedWildCardSsl
                      type: string
                      x-ms-enum:
                        name: CertificateProductType
                        modelAsString: false
                      x-ms-mutability:
                      - create
                      - read
                    autoRenew:
                      description: <code>true</code> if the certificate should be
                        automatically renewed when it expires; otherwise, <code>false</code>.
                      default: true
                      type: boolean
                    provisioningState:
                      description: Status of certificate order.
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - InProgress
                      - Deleting
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: false
                    status:
                      description: Current order status.
                      enum:
                      - Pendingissuance
                      - Issued
                      - Revoked
                      - Canceled
                      - Denied
                      - Pendingrevocation
                      - PendingRekey
                      - Unused
                      - Expired
                      - NotSubmitted
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: CertificateOrderStatus
                        modelAsString: false
                    signedCertificate:
                      description: Signed certificate.
                      readOnly: true
                      type: object
                      properties:
                        version:
                          format: int32
                          description: Certificate Version.
                          type: integer
                          readOnly: true
                        serialNumber:
                          description: Certificate Serial Number.
                          type: string
                          readOnly: true
                        thumbprint:
                          description: Certificate Thumbprint.
                          type: string
                          readOnly: true
                        subject:
                          description: Certificate Subject.
                          type: string
                          readOnly: true
                        notBefore:
                          format: date-time
                          description: Date Certificate is valid from.
                          type: string
                          readOnly: true
                        notAfter:
                          format: date-time
                          description: Date Certificate is valid to.
                          type: string
                          readOnly: true
                        signatureAlgorithm:
                          description: Certificate Signature algorithm.
                          type: string
                          readOnly: true
                        issuer:
                          description: Certificate Issuer.
                          type: string
                          readOnly: true
                        rawData:
                          description: Raw certificate data.
                          type: string
                          readOnly: true
                    csr:
                      description: Last CSR that was created for this order.
                      type: string
                      x-ms-mutability:
                      - create
                      - read
                    intermediate:
                      description: Intermediate certificate.
                      readOnly: true
                      type: object
                      properties:
                        version:
                          format: int32
                          description: Certificate Version.
                          type: integer
                          readOnly: true
                        serialNumber:
                          description: Certificate Serial Number.
                          type: string
                          readOnly: true
                        thumbprint:
                          description: Certificate Thumbprint.
                          type: string
                          readOnly: true
                        subject:
                          description: Certificate Subject.
                          type: string
                          readOnly: true
                        notBefore:
                          format: date-time
                          description: Date Certificate is valid from.
                          type: string
                          readOnly: true
                        notAfter:
                          format: date-time
                          description: Date Certificate is valid to.
                          type: string
                          readOnly: true
                        signatureAlgorithm:
                          description: Certificate Signature algorithm.
                          type: string
                          readOnly: true
                        issuer:
                          description: Certificate Issuer.
                          type: string
                          readOnly: true
                        rawData:
                          description: Raw certificate data.
                          type: string
                          readOnly: true
                    root:
                      description: Root certificate.
                      readOnly: true
                      type: object
                      properties:
                        version:
                          format: int32
                          description: Certificate Version.
                          type: integer
                          readOnly: true
                        serialNumber:
                          description: Certificate Serial Number.
                          type: string
                          readOnly: true
                        thumbprint:
                          description: Certificate Thumbprint.
                          type: string
                          readOnly: true
                        subject:
                          description: Certificate Subject.
                          type: string
                          readOnly: true
                        notBefore:
                          format: date-time
                          description: Date Certificate is valid from.
                          type: string
                          readOnly: true
                        notAfter:
                          format: date-time
                          description: Date Certificate is valid to.
                          type: string
                          readOnly: true
                        signatureAlgorithm:
                          description: Certificate Signature algorithm.
                          type: string
                          readOnly: true
                        issuer:
                          description: Certificate Issuer.
                          type: string
                          readOnly: true
                        rawData:
                          description: Raw certificate data.
                          type: string
                          readOnly: true
                    serialNumber:
                      description: Current serial number of the certificate.
                      type: string
                      readOnly: true
                    lastCertificateIssuanceTime:
                      format: date-time
                      description: Certificate last issuance time.
                      type: string
                      readOnly: true
                    expirationTime:
                      format: date-time
                      description: Certificate expiration time.
                      type: string
                      readOnly: true
                    isPrivateKeyExternal:
                      description: <code>true</code> if private key is external; otherwise,
                        <code>false</code>.
                      type: boolean
                      readOnly: true
                    appServiceCertificateNotRenewableReasons:
                      description: Reasons why App Service Certificate is not renewable
                        at the current moment.
                      type: array
                      items:
                        enum:
                        - RegistrationStatusNotSupportedForRenewal
                        - ExpirationNotInRenewalTimeRange
                        - SubscriptionNotActive
                        type: string
                        x-ms-enum:
                          name: ResourceNotRenewableReason
                          modelAsString: true
                      readOnly: true
                    nextAutoRenewalTimeStamp:
                      format: date-time
                      description: Time stamp when the certificate would be auto renewed
                        next
                      type: string
                      readOnly: true
                    contact:
                      description: Contact info
                      readOnly: true
                      type: object
                      properties:
                        email:
                          type: string
                        nameFirst:
                          type: string
                        nameLast:
                          type: string
                        phone:
                          type: string
                  x-ms-client-flatten: true
              required:
              - location
              description: Azure resource. This resource is tracked in Azure Resource
                Manager
              x-ms-azure-resource: true
        description: Distinguished name to use for the certificate order.
        required: true
      responses:
        '200':
          description: App Service Certificate Order is created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource Id.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  kind:
                    description: Kind of resource. If the resource is an app, you
                      can refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference
                      for details supported values for kind.
                    type: string
                  location:
                    description: Resource Location.
                    type: string
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  tags:
                    description: Resource tags.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: AppServiceCertificateOrder resource specific properties
                    required:
                    - productType
                    type: object
                    properties:
                      certificates:
                        description: State of the Key Vault secret.
                        type: object
                        additionalProperties:
                          description: Key Vault container for a certificate that
                            is purchased through Azure.
                          type: object
                          properties:
                            keyVaultId:
                              description: Key Vault resource Id.
                              type: string
                            keyVaultSecretName:
                              description: Key Vault secret name.
                              type: string
                            provisioningState:
                              description: Status of the Key Vault secret.
                              enum:
                              - Initialized
                              - WaitingOnCertificateOrder
                              - Succeeded
                              - CertificateOrderFailed
                              - OperationNotPermittedOnKeyVault
                              - AzureServiceUnauthorizedToAccessKeyVault
                              - KeyVaultDoesNotExist
                              - KeyVaultSecretDoesNotExist
                              - UnknownError
                              - ExternalPrivateKey
                              - Unknown
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: KeyVaultSecretStatus
                                modelAsString: false
                      distinguishedName:
                        description: Certificate distinguished name.
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                      domainVerificationToken:
                        description: Domain verification token.
                        type: string
                        readOnly: true
                      validityInYears:
                        format: int32
                        description: Duration in years (must be 1).
                        default: 1
                        type: integer
                        x-ms-mutability:
                        - create
                        - read
                      keySize:
                        format: int32
                        description: Certificate key size.
                        default: 2048
                        type: integer
                        x-ms-mutability:
                        - create
                        - read
                      productType:
                        description: Certificate product type.
                        enum:
                        - StandardDomainValidatedSsl
                        - StandardDomainValidatedWildCardSsl
                        type: string
                        x-ms-enum:
                          name: CertificateProductType
                          modelAsString: false
                        x-ms-mutability:
                        - create
                        - read
                      autoRenew:
                        description: <code>true</code> if the certificate should be
[...]
