openapi: 3.0.0
info:
  version: 2024-11-01
  title: CertificateOrdersDiagnostics API Client
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/detectors
  : get:
      tags:
      - CertificateOrdersDiagnostics
      summary: Microsoft.CertificateRegistration to get the list of detectors for
        this RP.
      description: Description for Microsoft.CertificateRegistration to get the list
        of detectors for this RP.
      operationId: CertificateOrdersDiagnostics_ListAppServiceCertificateOrderDetectorResponse
      parameters:
      - name: resourceGroupName
        in: path
        description: Name of the resource group to which the resource belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+[^\.]$
      - name: certificateOrderName
        in: path
        description: The certificate order name for which the response is needed.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of detector responses
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource Id.
                          type: string
                          readOnly: true
                        name:
                          description: Resource Name.
                          type: string
                          readOnly: true
                        kind:
                          description: Kind of resource.
                          type: string
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: DetectorResponse resource specific properties
                          type: object
                          properties:
                            metadata:
                              description: metadata for the detector
                              type: object
                              properties:
                                id:
                                  description: Id of detector
                                  type: string
                                  readOnly: true
                                name:
                                  description: Name of detector
                                  type: string
                                  readOnly: true
                                description:
                                  description: Short description of the detector and
                                    its purpose.
                                  type: string
                                  readOnly: true
                                author:
                                  description: Author of the detector.
                                  type: string
                                  readOnly: true
                                category:
                                  description: Problem category. This serves for organizing
                                    group for detectors.
                                  type: string
                                  readOnly: true
                                supportTopicList:
                                  description: List of Support Topics for which this
                                    detector is enabled.
                                  type: array
                                  items:
                                    description: Defines a unique Support Topic
                                    type: object
                                    properties:
                                      id:
                                        description: Support Topic Id
                                        type: string
                                        readOnly: true
                                      pesId:
                                        description: Unique resource Id
                                        type: string
                                        readOnly: true
                                  readOnly: true
                                analysisType:
                                  description: Analysis Types for which this detector
                                    should apply to.
                                  type: array
                                  items:
                                    type: string
                                  readOnly: true
                                type:
                                  description: Whether this detector is an Analysis
                                    Detector or not.
                                  enum:
                                  - Detector
                                  - Analysis
                                  - CategoryOverview
                                  type: string
                                  readOnly: true
                                  x-ms-enum:
                                    name: DetectorType
                                    modelAsString: false
                                score:
                                  format: float
                                  description: Defines score of a detector to power
                                    ML based matching.
                                  type: number
                                  readOnly: true
                            dataset:
                              description: Data Set
                              type: array
                              items:
                                description: Set of data with rendering instructions
                                type: object
                                properties:
                                  table:
                                    description: Data in table form
                                    type: object
                                    properties:
                                      tableName:
                                        description: Name of the table
                                        type: string
                                      columns:
                                        description: List of columns with data types
                                        type: array
                                        items:
                                          description: Column definition
                                          type: object
                                          properties:
                                            columnName:
                                              description: Name of the column
                                              type: string
                                            dataType:
                                              description: Data type which looks like
                                                'String' or 'Int32'.
                                              type: string
                                            columnType:
                                              description: Column Type
                                              type: string
                                        x-ms-identifiers:
                                        - columnName
                                      rows:
                                        description: Raw row values
                                        type: array
                                        items:
                                          type: array
                                          items:
                                            type: string
                                  renderingProperties:
                                    description: Properties that describe how the
                                      table should be rendered
                                    type: object
                                    properties:
                                      type:
                                        description: Rendering Type
                                        enum:
                                        - NoGraph
                                        - Table
                                        - TimeSeries
                                        - TimeSeriesPerInstance
                                        - PieChart
                                        - DataSummary
                                        - Email
                                        - Insights
                                        - DynamicInsight
                                        - Markdown
                                        - Detector
                                        - DropDown
                                        - Card
                                        - Solution
                                        - Guage
                                        - Form
                                        - ChangeSets
                                        - ChangeAnalysisOnboarding
                                        - ChangesView
                                        - AppInsight
                                        - DependencyGraph
                                        - DownTime
                                        - SummaryCard
                                        - SearchComponent
                                        - AppInsightEnablement
                                        type: string
                                        x-ms-enum:
                                          name: RenderingType
                                          modelAsString: false
                                      title:
                                        description: Title of data
                                        type: string
                                      description:
                                        description: Description of the data that
                                          will help it be interpreted
                                        type: string
                              x-ms-identifiers: []
                            status:
                              description: Indicates status of the most severe insight.
                              type: object
                              properties:
                                message:
                                  description: Descriptive message.
                                  type: string
                                statusId:
                                  description: Level of the most severe insight generated
                                    by the detector.
                                  enum:
                                  - Critical
                                  - Warning
                                  - Info
                                  - Success
                                  - None
                                  type: string
                                  x-ms-enum:
                                    name: InsightStatus
                                    modelAsString: false
                            dataProvidersMetadata:
                              description: Additional configuration for different
                                data providers to be used by the UI
                              type: array
                              items:
                                description: Additional configuration for a data providers
                                type: object
                                properties:
                                  providerName:
                                    type: string
                                  propertyBag:
                                    description: Settings for the data provider
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        key:
                                          type: string
                                          readOnly: true
                                        value:
                                          type: object
                                          readOnly: true
                                    readOnly: true
                                    x-ms-identifiers:
                                    - key
                              x-ms-identifiers:
                              - providerName
                            suggestedUtterances:
                              description: Suggested utterances where the detector
                                can be applicable.
                              type: object
                              properties:
                                query:
                                  description: Search Query.
                                  type: string
                                results:
                                  description: Array of utterance results for search
                                    query.
                                  type: array
                                  items:
                                    description: Result for utterances query.
                                    type: object
                                    properties:
                                      sampleUtterance:
                                        description: A sample utterance.
                                        type: object
                                        properties:
                                          text:
                                            description: Text attribute of sample
                                              utterance.
                                            type: string
                                          links:
                                            description: Links attribute of sample
                                              utterance.
                                            type: array
                                            items:
                                              type: string
                                          qid:
                                            description: Question id of sample utterance
                                              (for stackoverflow questions titles).
                                            type: string
                                      score:
                                        format: float
                                        description: Score of a sample utterance.
                                        type: number
                                  x-ms-identifiers: []
                          x-ms-client-flatten: true
                      description: Azure proxy only resource. This resource is not
                        tracked by Azure Resource Manager.
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/detectors/{detectorName}
  : get:
      tags:
      - CertificateOrdersDiagnostics
      summary: Microsoft.CertificateRegistration call to get a detector response from
        App Lens.
      description: Description for Microsoft.CertificateRegistration call to get a
        detector response from App Lens.
      operationId: CertificateOrdersDiagnostics_GetAppServiceCertificateOrderDetectorResponse
      parameters:
      - name: resourceGroupName
        in: path
        description: Name of the resource group to which the resource belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+[^\.]$
      - name: certificateOrderName
        in: path
        description: The certificate order name for which the response is needed.
        required: true
        schema:
          type: string
      - name: detectorName
        in: path
        description: The detector name which needs to be run.
        required: true
        schema:
          type: string
      - name: startTime
        in: query
        description: The start time for detector response.
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        description: The end time for the detector response.
        schema:
          type: string
          format: date-time
      - name: timeGrain
        in: query
        description: The time grain for the detector response.
        schema:
          type: string
          pattern: PT[1-9][0-9]+[SMH]
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource Id.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  kind:
                    description: Kind of resource.
                    type: string
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: DetectorResponse resource specific properties
                    type: object
                    properties:
                      metadata:
                        description: metadata for the detector
                        type: object
                        properties:
                          id:
                            description: Id of detector
                            type: string
                            readOnly: true
                          name:
                            description: Name of detector
                            type: string
                            readOnly: true
                          description:
                            description: Short description of the detector and its
                              purpose.
                            type: string
                            readOnly: true
                          author:
                            description: Author of the detector.
                            type: string
                            readOnly: true
                          category:
                            description: Problem category. This serves for organizing
                              group for detectors.
                            type: string
                            readOnly: true
                          supportTopicList:
                            description: List of Support Topics for which this detector
                              is enabled.
                            type: array
                            items:
                              description: Defines a unique Support Topic
                              type: object
                              properties:
                                id:
                                  description: Support Topic Id
                                  type: string
                                  readOnly: true
                                pesId:
                                  description: Unique resource Id
                                  type: string
                                  readOnly: true
                            readOnly: true
                          analysisType:
                            description: Analysis Types for which this detector should
                              apply to.
                            type: array
                            items:
                              type: string
                            readOnly: true
                          type:
                            description: Whether this detector is an Analysis Detector
                              or not.
                            enum:
                            - Detector
                            - Analysis
                            - CategoryOverview
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: DetectorType
                              modelAsString: false
                          score:
                            format: float
                            description: Defines score of a detector to power ML based
                              matching.
                            type: number
                            readOnly: true
                      dataset:
                        description: Data Set
                        type: array
                        items:
                          description: Set of data with rendering instructions
                          type: object
                          properties:
                            table:
                              description: Data in table form
                              type: object
                              properties:
                                tableName:
                                  description: Name of the table
                                  type: string
                                columns:
                                  description: List of columns with data types
                                  type: array
                                  items:
                                    description: Column definition
                                    type: object
                                    properties:
                                      columnName:
                                        description: Name of the column
                                        type: string
                                      dataType:
                                        description: Data type which looks like 'String'
                                          or 'Int32'.
                                        type: string
                                      columnType:
                                        description: Column Type
                                        type: string
                                  x-ms-identifiers:
                                  - columnName
                                rows:
                                  description: Raw row values
                                  type: array
                                  items:
                                    type: array
                                    items:
                                      type: string
                            renderingProperties:
                              description: Properties that describe how the table
                                should be rendered
                              type: object
                              properties:
                                type:
                                  description: Rendering Type
                                  enum:
                                  - NoGraph
                                  - Table
                                  - TimeSeries
                                  - TimeSeriesPerInstance
                                  - PieChart
                                  - DataSummary
                                  - Email
                                  - Insights
                                  - DynamicInsight
                                  - Markdown
                                  - Detector
                                  - DropDown
                                  - Card
                                  - Solution
                                  - Guage
                                  - Form
                                  - ChangeSets
                                  - ChangeAnalysisOnboarding
                                  - ChangesView
                                  - AppInsight
                                  - DependencyGraph
                                  - DownTime
                                  - SummaryCard
                                  - SearchComponent
                                  - AppInsightEnablement
                                  type: string
                                  x-ms-enum:
                                    name: RenderingType
                                    modelAsString: false
                                title:
                                  description: Title of data
                                  type: string
                                description:
                                  description: Description of the data that will help
                                    it be interpreted
                                  type: string
                        x-ms-identifiers: []
                      status:
                        description: Indicates status of the most severe insight.
                        type: object
                        properties:
                          message:
                            description: Descriptive message.
                            type: string
                          statusId:
                            description: Level of the most severe insight generated
                              by the detector.
                            enum:
                            - Critical
                            - Warning
                            - Info
                            - Success
                            - None
                            type: string
                            x-ms-enum:
                              name: InsightStatus
                              modelAsString: false
                      dataProvidersMetadata:
                        description: Additional configuration for different data providers
                          to be used by the UI
                        type: array
                        items:
                          description: Additional configuration for a data providers
                          type: object
                          properties:
                            providerName:
                              type: string
                            propertyBag:
                              description: Settings for the data provider
                              type: array
                              items:
                                type: object
                                properties:
                                  key:
                                    type: string
                                    readOnly: true
                                  value:
                                    type: object
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - key
                        x-ms-identifiers:
                        - providerName
                      suggestedUtterances:
                        description: Suggested utterances where the detector can be
                          applicable.
                        type: object
                        properties:
                          query:
                            description: Search Query.
                            type: string
                          results:
                            description: Array of utterance results for search query.
                            type: array
                            items:
                              description: Result for utterances query.
                              type: object
                              properties:
                                sampleUtterance:
                                  description: A sample utterance.
                                  type: object
                                  properties:
                                    text:
                                      description: Text attribute of sample utterance.
                                      type: string
                                    links:
                                      description: Links attribute of sample utterance.
                                      type: array
                                      items:
                                        type: string
                                    qid:
                                      description: Question id of sample utterance
                                        (for stackoverflow questions titles).
                                      type: string
                                score:
                                  format: float
                                  description: Score of a sample utterance.
                                  type: number
                            x-ms-identifiers: []
                    x-ms-client-flatten: true
                description: Azure proxy only resource. This resource is not tracked
                  by Azure Resource Manager.
                x-ms-azure-resource: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
components:
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: Name of the resource group to which the resource belongs.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._\(\)]+[^\.]$
    apiVersionParameter:
      name: api-version
      in: query
      description: API Version
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    DefaultErrorResponse:
      description: App Service error response.
      type: object
      properties:
        error:
          description: Error model.
          type: object
          properties:
            code:
              description: Standardized string to programmatically identify the error.
              type: string
              readOnly: true
            message:
              description: Detailed error description and debugging information.
              type: string
              readOnly: true
            target:
              description: Detailed error description and debugging information.
              type: string
              readOnly: true
            details:
              type: array
              items:
                description: Detailed errors.
                type: object
                properties:
                  code:
                    description: Standardized string to programmatically identify
                      the error.
                    type: string
                    readOnly: true
                  message:
                    description: Detailed error description and debugging information.
                    type: string
                    readOnly: true
                  target:
                    description: Detailed error description and debugging information.
                    type: string
                    readOnly: true
                readOnly: true
              x-ms-identifiers: []
            innererror:
              description: More information to debug error.
              type: string
              readOnly: true
          readOnly: true
    ProxyOnlyResource:
      description: Azure proxy only resource. This resource is not tracked by Azure
        Resource Manager.
      type: object
      properties:
        id:
          description: Resource Id.
          type: string
          readOnly: true
        name:
          description: Resource Name.
          type: string
          readOnly: true
        kind:
          description: Kind of resource.
          type: string
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    SupportTopic:
      description: Defines a unique Support Topic
      type: object
      properties:
        id:
          description: Support Topic Id
          type: string
          readOnly: true
        pesId:
          description: Unique resource Id
          type: string
          readOnly: true
    DetectorInfo:
      description: Definition of Detector
      type: object
      properties:
        id:
          description: Id of detector
          type: string
          readOnly: true
        name:
          description: Name of detector
          type: string
          readOnly: true
        description:
          description: Short description of the detector and its purpose.
          type: string
          readOnly: true
        author:
          description: Author of the detector.
          type: string
          readOnly: true
        category:
          description: Problem category. This serves for organizing group for detectors.
          type: string
          readOnly: true
        supportTopicList:
          description: List of Support Topics for which this detector is enabled.
          type: array
          items:
            description: Defines a unique Support Topic
            type: object
            properties:
              id:
                description: Support Topic Id
                type: string
                readOnly: true
              pesId:
                description: Unique resource Id
                type: string
                readOnly: true
          readOnly: true
        analysisType:
          description: Analysis Types for which this detector should apply to.
          type: array
          items:
            type: string
          readOnly: true
        type:
          description: Whether this detector is an Analysis Detector or not.
          enum:
          - Detector
          - Analysis
          - CategoryOverview
          type: string
          readOnly: true
          x-ms-enum:
            name: DetectorType
            modelAsString: false
        score:
          format: float
          description: Defines score of a detector to power ML based matching.
          type: number
          readOnly: true
    DataTableResponseColumn:
      description: Column definition
      type: object
      properties:
        columnName:
          description: Name of the column
          type: string
        dataType:
          description: Data type which looks like 'String' or 'Int32'.
          type: string
        columnType:
          description: Column Type
          type: string
    DataTableResponseObject:
      description: Data Table which defines columns and raw row values
      type: object
      properties:
        tableName:
          description: Name of the table
          type: string
        columns:
          description: List of columns with data types
          type: array
          items:
            description: Column definition
            type: object
            properties:
              columnName:
                description: Name of the column
                type: string
              dataType:
                description: Data type which looks like 'String' or 'Int32'.
                type: string
              columnType:
                description: Column Type
                type: string
          x-ms-identifiers:
          - columnName
        rows:
          description: Raw row values
          type: array
          items:
            type: array
            items:
              type: string
    Rendering:
      description: Instructions for rendering the data
      type: object
      properties:
        type:
          description: Rendering Type
          enum:
          - NoGraph
          - Table
          - TimeSeries
          - TimeSeriesPerInstance
          - PieChart
          - DataSummary
          - Email
          - Insights
          - DynamicInsight
          - Markdown
          - Detector
          - DropDown
          - Card
          - Solution
          - Guage
          - Form
          - ChangeSets
          - ChangeAnalysisOnboarding
          - ChangesView
          - AppInsight
          - DependencyGraph
          - DownTime
          - SummaryCard
          - SearchComponent
          - AppInsightEnablement
          type: string
          x-ms-enum:
            name: RenderingType
            modelAsString: false
        title:
          description: Title of data
          type: string
        description:
          description: Description of the data that will help it be interpreted
          type: string
    DiagnosticData:
      description: Set of data with rendering instructions
      type: object
      properties:
        table:
          description: Data in table form
          type: object
          properties:
            tableName:
              description: Name of the table
              type: string
            columns:
              description: List of columns with data types
              type: array
              items:
                description: Column definition
                type: object
                properties:
                  columnName:
                    description: Name of the column
                    type: string
                  dataType:
                    description: Data type which looks like 'String' or 'Int32'.
                    type: string
                  columnType:
                    description: Column Type
                    type: string
              x-ms-identifiers:
              - columnName
            rows:
              description: Raw row values
              type: array
              items:
                type: array
                items:
                  type: string
        renderingProperties:
          description: Properties that describe how the table should be rendered
          type: object
          properties:
            type:
              description: Rendering Type
              enum:
              - NoGraph
              - Table
              - TimeSeries
              - TimeSeriesPerInstance
              - PieChart
              - DataSummary
              - Email
              - Insights
              - DynamicInsight
              - Markdown
              - Detector
              - DropDown
              - Card
              - Solution
              - Guage
              - Form
              - ChangeSets
              - ChangeAnalysisOnboarding
              - ChangesView
              - AppInsight
              - DependencyGraph
              - DownTime
              - SummaryCard
              - SearchComponent
              - AppInsightEnablement
              type: string
              x-ms-enum:
                name: RenderingType
                modelAsString: false
            title:
              description: Title of data
              type: string
            description:
              description: Description of the data that will help it be interpreted
              type: string
    Status:
      description: Identify the status of the most severe insight generated by the
        detector.
      type: object
      properties:
        message:
          description: Descriptive message.
          type: string
        statusId:
          description: Level of the most severe insight generated by the detector.
          enum:
          - Critical
          - Warning
          - Info
          - Success
          - None
          type: string
          x-ms-enum:
            name: InsightStatus
            modelAsString: false
    DataProviderMetadata:
      description: Additional configuration for a data providers
      type: object
      properties:
        providerName:
          type: string
        propertyBag:
          description: Settings for the data provider
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                readOnly: true
              value:
                type: object
                readOnly: true
          readOnly: true
          x-ms-identifiers:
          - key
    SampleUtterance:
      description: Sample utterance.
      type: object
      properties:
        text:
          description: Text attribute of sample utterance.
          type: string
        links:
          description: Links attribute of sample utterance.
          type: array
          items:
            type: string
        qid:
          description: Question id of sample utterance (for stackoverflow questions
            titles).
          type: string
    QueryUtterancesResult:
      description: Result for utterances query.
      type: object
      properties:
        sampleUtterance:
          description: A sample utterance.
          type: object
          properties:
            text:
              description: Text attribute of sample utterance.
              type: string
            links:
              description: Links attribute of sample utterance.
              type: array
              items:
                type: string
            qid:
              description: Question id of sample utterance (for stackoverflow questions
                titles).
              type: string
        score:
          format: float
          description: Score of a sample utterance.
          type: number
    QueryUtterancesResults:
      description: Suggested utterances where the detector can be applicable
      type: object
      properties:
        query:
          description: Search Query.
          type: string
        results:
          description: Array of utterance results for search query.
          type: array
          items:
            description: Result for utterances query.
            type: object
            properties:
              sampleUtterance:
                description: A sample utterance.
                type: object
                properties:
                  text:
                    description: Text attribute of sample utterance.
                    type: string
                  links:
                    description: Links attribute of sample utterance.
                    type: array
                    items:
                      type: string
                  qid:
                    description: Question id of sample utterance (for stackoverflow
                      questions titles).
                    type: string
              score:
                format: float
                description: Score of a sample utterance.
                type: number
          x-ms-identifiers: []
    DetectorResponse:
      type: object
      properties:
        id:
          description: Resource Id.
          type: string
          readOnly: true
        name:
          description: Resource Name.
          type: string
          readOnly: true
        kind:
          description: Kind of resource.
          type: string
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: DetectorResponse resource specific properties
          type: object
          properties:
            metadata:
              description: metadata for the detector
              type: object
              properties:
                id:
                  description: Id of detector
                  type: string
                  readOnly: true
                name:
                  description: Name of detector
                  type: string
                  readOnly: true
                description:
                  description: Short description of the detector and its purpose.
                  type: string
                  readOnly: true
                author:
                  description: Author of the detector.
                  type: string
                  readOnly: true
                category:
                  description: Problem category. This serves for organizing group
                    for detectors.
                  type: string
                  readOnly: true
                supportTopicList:
                  description: List of Support Topics for which this detector is enabled.
                  type: array
                  items:
                    description: Defines a unique Support Topic
                    type: object
                    properties:
                      id:
                        description: Support Topic Id
                        type: string
                        readOnly: true
                      pesId:
                        description: Unique resource Id
                        type: string
                        readOnly: true
                  readOnly: true
                analysisType:
                  description: Analysis Types for which this detector should apply
                    to.
                  type: array
                  items:
                    type: string
                  readOnly: true
                type:
                  description: Whether this detector is an Analysis Detector or not.
                  enum:
                  - Detector
                  - Analysis
                  - CategoryOverview
                  type: string
                  readOnly: true
                  x-ms-enum:
                    name: DetectorType
                    modelAsString: false
                score:
                  format: float
                  description: Defines score of a detector to power ML based matching.
                  type: number
                  readOnly: true
            dataset:
              description: Data Set
              type: array
              items:
                description: Set of data with rendering instructions
                type: object
                properties:
                  table:
                    description: Data in table form
                    type: object
                    properties:
                      tableName:
                        description: Name of the table
                        type: string
                      columns:
                        description: List of columns with data types
                        type: array
                        items:
                          description: Column definition
                          type: object
                          properties:
                            columnName:
                              description: Name of the column
                              type: string
                            dataType:
                              description: Data type which looks like 'String' or
                                'Int32'.
                              type: string
                            columnType:
                              description: Column Type
                              type: string
                        x-ms-identifiers:
                        - columnName
                      rows:
                        description: Raw row values
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                  renderingProperties:
                    description: Properties that describe how the table should be
                      rendered
                    type: object
                    properties:
                      type:
                        description: Rendering Type
                        enum:
                        - NoGraph
                        - Table
                        - TimeSeries
                        - TimeSeriesPerInstance
                        - PieChart
                        - DataSummary
                        - Email
                        - Insights
                        - DynamicInsight
                        - Markdown
                        - Detector
                        - DropDown
                        - Card
                        - Solution
                        - Guage
                        - Form
                        - ChangeSets
                        - ChangeAnalysisOnboarding
                        - ChangesView
                        - AppInsight
                        - DependencyGraph
                        - DownTime
                        - SummaryCard
                        - SearchComponent
                        - AppInsightEnablement
                        type: string
                        x-ms-enum:
                          name: RenderingType
                          modelAsString: false
                      title:
                        description: Title of data
                        type: string
                      description:
                        description: Description of the data that will help it be
                          interpreted
                        type: string
              x-ms-identifiers: []
            status:
              description: Indicates status of the most severe insight.
              type: object
              properties:
                message:
                  description: Descriptive message.
                  type: string
                statusId:
                  description: Level of the most severe insight generated by the detector.
                  enum:
                  - Critical
                  - Warning
                  - Info
                  - Success
                  - None
                  type: string
                  x-ms-enum:
                    name: InsightStatus
                    modelAsString: false
            dataProvidersMetadata:
              description: Additional configuration for different data providers to
                be used by the UI
              type: array
              items:
                description: Additional configuration for a data providers
                type: object
                properties:
                  providerName:
                    type: string
                  propertyBag:
                    description: Settings for the data provider
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          readOnly: true
                        value:
                          type: object
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - key
              x-ms-identifiers:
              - providerName
            suggestedUtterances:
              description: Suggested utterances where the detector can be applicable.
              type: object
              properties:
                query:
                  description: Search Query.
                  type: string
                results:
                  description: Array of utterance results for search query.
                  type: array
                  items:
                    description: Result for utterances query.
                    type: object
                    properties:
                      sampleUtterance:
                        description: A sample utterance.
                        type: object
                        properties:
                          text:
                            description: Text attribute of sample utterance.
                            type: string
                          links:
                            description: Links attribute of sample utterance.
                            type: array
                            items:
                              type: string
                          qid:
                            description: Question id of sample utterance (for stackoverflow
                              questions titles).
                            type: string
                      score:
                        format: float
                        description: Score of a sample utterance.
                        type: number
                  x-ms-identifiers: []
          x-ms-client-flatten: true
      description: Azure proxy only resource. This resource is not tracked by Azure
        Resource Manager.
      x-ms-azure-resource: true
    DetectorResponseCollection:
      description: Collection of detector responses
      required:
      - value
      type: object
      properties:
        value:
          description: Collection of resources.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource Id.
                type: string
                readOnly: true
              name:
                description: Resource Name.
                type: string
                readOnly: true
              kind:
                description: Kind of resource.
                type: string
              type:
                description: Resource type.
                type: string
                readOnly: true
              properties:
                description: DetectorResponse resource specific properties
                type: object
                properties:
                  metadata:
                    description: metadata for the detector
                    type: object
                    properties:
                      id:
                        description: Id of detector
                        type: string
                        readOnly: true
                      name:
                        description: Name of detector
                        type: string
                        readOnly: true
                      description:
                        description: Short description of the detector and its purpose.
                        type: string
                        readOnly: true
                      author:
                        description: Author of the detector.
                        type: string
                        readOnly: true
                      category:
                        description: Problem category. This serves for organizing
                          group for detectors.
                        type: string
                        readOnly: true
                      supportTopicList:
                        description: List of Support Topics for which this detector
                          is enabled.
                        type: array
                        items:
                          description: Defines a unique Support Topic
                          type: object
                          properties:
                            id:
                              description: Support Topic Id
                              type: string
                              readOnly: true
                            pesId:
                              description: Unique resource Id
                              type: string
                              readOnly: true
                        readOnly: true
                      analysisType:
                        description: Analysis Types for which this detector should
                          apply to.
                        type: array
                        items:
                          type: string
                        readOnly: true
                      type:
                        description: Whether this detector is an Analysis Detector
                          or not.
                        enum:
                        - Detector
                        - Analysis
                        - CategoryOverview
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: DetectorType
                          modelAsString: false
                      score:
                        format: float
                        description: Defines score of a detector to power ML based
                          matching.
                        type: number
                        readOnly: true
                  dataset:
                    description: Data Set
                    type: array
                    items:
                      description: Set of data with rendering instructions
                      type: object
                      properties:
                        table:
                          description: Data in table form
                          type: object
                          properties:
                            tableName:
                              description: Name of the table
                              type: string
                            columns:
                              description: List of columns with data types
                              type: array
                              items:
                                description: Column definition
                                type: object
                                properties:
                                  columnName:
                                    description: Name of the column
                                    type: string
                                  dataType:
                                    description: Data type which looks like 'String'
                                      or 'Int32'.
                                    type: string
                                  columnType:
                                    description: Column Type
                                    type: string
                              x-ms-identifiers:
                              - columnName
                            rows:
                              description: Raw row values
                              type: array
                              items:
                                type: array
                                items:
                                  type: string
                        renderingProperties:
                          description: Properties that describe how the table should
                            be rendered
                          type: object
                          properties:
                            type:
                              description: Rendering Type
                              enum:
                              - NoGraph
                              - Table
                              - TimeSeries
                              - TimeSeriesPerInstance
                              - PieChart
                              - DataSummary
                              - Email
                              - Insights
                              - DynamicInsight
                              - Markdown
                              - Detector
                              - DropDown
                              - Card
                              - Solution
                              - Guage
                              - Form
                              - ChangeSets
                              - ChangeAnalysisOnboarding
                              - ChangesView
                              - AppInsight
                              - DependencyGraph
                              - DownTime
                              - SummaryCard
                              - SearchComponent
                              - AppInsightEnablement
                              type: string
                              x-ms-enum:
                                name: RenderingType
                                modelAsString: false
                            title:
                              description: Title of data
                              type: string
                            description:
                              description: Description of the data that will help
                                it be interpreted
                              type: string
                    x-ms-identifiers: []
                  status:
                    description: Indicates status of the most severe insight.
                    type: object
                    properties:
                      message:
                        description: Descriptive message.
                        type: string
                      statusId:
                        description: Level of the most severe insight generated by
                          the detector.
                        enum:
                        - Critical
                        - Warning
                        - Info
                        - Success
                        - None
                        type: string
                        x-ms-enum:
                          name: InsightStatus
                          modelAsString: false
                  dataProvidersMetadata:
                    description: Additional configuration for different data providers
                      to be used by the UI
                    type: array
                    items:
                      description: Additional configuration for a data providers
                      type: object
                      properties:
                        providerName:
                          type: string
                        propertyBag:
                          description: Settings for the data provider
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                                readOnly: true
                              value:
                                type: object
                                readOnly: true
                          readOnly: true
                          x-ms-identifiers:
                          - key
                    x-ms-identifiers:
                    - providerName
                  suggestedUtterances:
                    description: Suggested utterances where the detector can be applicable.
                    type: object
                    properties:
                      query:
                        description: Search Query.
                        type: string
                      results:
                        description: Array of utterance results for search query.
                        type: array
                        items:
                          description: Result for utterances query.
                          type: object
                          properties:
                            sampleUtterance:
                              description: A sample utterance.
                              type: object
                              properties:
                                text:
                                  description: Text attribute of sample utterance.
                                  type: string
                                links:
                                  description: Links attribute of sample utterance.
                                  type: array
                                  items:
                                    type: string
                                qid:
                                  description: Question id of sample utterance (for
                                    stackoverflow questions titles).
                                  type: string
                            score:
                              format: float
                              description: Score of a sample utterance.
                              type: number
                        x-ms-identifiers: []
                x-ms-client-flatten: true
            description: Azure proxy only resource. This resource is not tracked by
              Azure Resource Manager.
            x-ms-azure-resource: true
        nextLink:
          description: Link to next page of resources.
          type: string
          readOnly: true
    KeyValuePair_String_Object_:
      type: object
      properties:
        key:
          type: string
          readOnly: true
        value:
          type: object
          readOnly: true
