openapi: 3.0.0
info:
  title: Azure Video Analyzer Resource Provider
  description: Azure Video Analyzer resource provider API definition.
  version: 2021-11-01-preview
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/videoAnalyzers/{accountName}/pipelineTopologies
  : get:
      summary: Retrieves a list of pipeline topologies.
      description: Retrieves a list of pipeline topologies that have been added to
        the account, if any, along with their JSON representation.
      operationId: PipelineTopologies_List
      responses:
        '200':
          description: Pipeline topologies were successfully retrieved.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: The resource properties.
                          x-ms-client-flatten: true
                          properties:
                            description:
                              type: string
                              description: An optional description of the pipeline
                                topology. It is recommended that the expected use
                                of the topology to be described here.
                            parameters:
                              type: array
                              items:
                                properties:
                                  name:
                                    type: string
                                    description: Name of the parameter.
                                  type:
                                    type: string
                                    enum:
                                    - String
                                    - SecretString
                                    - Int
                                    - Double
                                    - Bool
                                    x-ms-enum:
                                      name: ParameterType
                                      values:
                                      - value: String
                                        description: The parameter's value is a string.
                                      - value: SecretString
                                        description: The parameter's value is a string
                                          that holds sensitive information.
                                      - value: Int
                                        description: The parameter's value is a 32-bit
                                          signed integer.
                                      - value: Double
                                        description: The parameter's value is a 64-bit
                                          double-precision floating point.
                                      - value: Bool
                                        description: The parameter's value is a boolean
                                          value that is either true or false.
                                      modelAsString: true
                                    description: Type of the parameter.
                                  description:
                                    type: string
                                    description: Description of the parameter.
                                  default:
                                    type: string
                                    description: The default value for the parameter
                                      to be used if the pipeline does not specify
                                      a value.
                                type: object
                                required:
                                - name
                                - type
                                description: Single topology parameter declaration.
                                  Declared parameters can and must be referenced throughout
                                  the topology and can optionally have default values
                                  to be used when they are not defined in the pipelines.
                              x-ms-identifiers:
                              - name
                              description: List of the topology parameter declarations.
                                Parameters declared here can be referenced throughout
                                the topology nodes through the use of "${PARAMETER_NAME}"
                                string pattern. Parameters can have optional default
                                values and can later be defined in individual instances
                                of the pipeline.
                            sources:
                              type: array
                              items:
                                type: object
                                properties:
                                  '@type':
                                    type: string
                                    description: The discriminator for derived types.
                                  name:
                                    type: string
                                    description: Node name. Must be unique within
                                      the topology.
                                required:
                                - '@type'
                                - name
                                description: Base class for nodes.
                                discriminator:
                                  propertyName: '@type'
                                x-ms-discriminator-value: '#Microsoft.VideoAnalyzer.SourceNodeBase'
                              x-ms-identifiers:
                              - name
                              description: List of the topology source nodes. Source
                                nodes enable external data to be ingested by the pipeline.
                            processors:
                              type: array
                              items:
                                type: object
                                properties:
                                  '@type':
                                    type: string
                                    description: The discriminator for derived types.
                                  name:
                                    type: string
                                    description: Node name. Must be unique within
                                      the topology.
                                  inputs:
                                    type: array
                                    items:
                                      properties:
                                        nodeName:
                                          type: string
                                          description: The name of the upstream node
                                            in the pipeline which output is used as
                                            input of the current node.
                                      type: object
                                      required:
                                      - nodeName
                                      description: Describes an input signal to be
                                        used on a pipeline node.
                                    x-ms-identifiers:
                                    - nodeName
                                    description: An array of upstream node references
                                      within the topology to be used as inputs for
                                      this node.
                                required:
                                - '@type'
                                - name
                                - inputs
                                description: Base class for nodes.
                                discriminator:
                                  propertyName: '@type'
                                x-ms-discriminator-value: '#Microsoft.VideoAnalyzer.ProcessorNodeBase'
                              x-ms-identifiers:
                              - name
                              description: List of the topology processor nodes. Processor
                                nodes enable pipeline data to be analyzed, processed
                                or transformed.
                            sinks:
                              type: array
                              items:
                                type: object
                                properties:
                                  '@type':
                                    type: string
                                    description: The discriminator for derived types.
                                  name:
                                    type: string
                                    description: Node name. Must be unique within
                                      the topology.
                                  inputs:
                                    type: array
                                    items:
                                      properties:
                                        nodeName:
                                          type: string
                                          description: The name of the upstream node
                                            in the pipeline which output is used as
                                            input of the current node.
                                      type: object
                                      required:
                                      - nodeName
                                      description: Describes an input signal to be
                                        used on a pipeline node.
                                    x-ms-identifiers:
                                    - nodeName
                                    description: An array of upstream node references
                                      within the topology to be used as inputs for
                                      this node.
                                required:
                                - '@type'
                                - name
                                - inputs
                                description: Base class for nodes.
                                discriminator:
                                  propertyName: '@type'
                                x-ms-discriminator-value: '#Microsoft.VideoAnalyzer.SinkNodeBase'
                              x-ms-identifiers:
                              - name
                              description: List of the topology sink nodes. Sink nodes
                                allow pipeline data to be stored or exported.
                          type: object
                          required:
                          - sources
                          - sinks
                        kind:
                          type: string
                          enum:
                          - Live
                          - Batch
                          x-ms-enum:
                            name: Kind
                            values:
                            - value: Live
                              description: Live pipeline topology resource.
                            - value: Batch
                              description: Batch pipeline topology resource.
                            modelAsString: true
                          description: Topology kind.
                        sku:
                          description: Describes the properties of a SKU.
                          properties:
                            name:
                              type: string
                              enum:
                              - Live_S1
                              - Batch_S1
                              x-ms-enum:
                                name: SkuName
                                values:
                                - value: Live_S1
                                  description: Represents the Live S1 SKU name. Using
                                    this SKU you can create live pipelines to capture,
                                    record, and stream live video from RTSP-capable
                                    cameras at bitrate settings from 0.5 Kbps to 3000
                                    Kbps.
                                - value: Batch_S1
                                  description: Represents the Batch S1 SKU name. Using
                                    this SKU you can create pipeline jobs to process
                                    recorded content.
                                modelAsString: true
                              description: The SKU name.
                            tier:
                              type: string
                              enum:
                              - Standard
                              x-ms-enum:
                                name: SkuTier
                                values:
                                - value: Standard
                                  description: Standard tier.
                                modelAsString: true
                              description: The SKU tier.
                              readOnly: true
                              nullable: false
                          type: object
                          required:
                          - name
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - kind
                      - sku
                    description: A collection of PipelineTopology items.
                  '@nextLink':
                    type: string
                    description: A link to the next page of the collection (when the
                      collection contains too many results to return in one response).
                type: object
                description: A collection of PipelineTopology items.
        default:
          description: Detailed error information.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        description: The Azure Video Analyzer account name.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: $filter
        in: query
        required: false
        description: Restricts the set of items returned.
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: Specifies a non-negative integer n that limits the number of
          items returned from a collection. The service returns the number of available
          items up to but not greater than the specified value n.
        schema:
          type: integer
          format: int32
      x-ms-pageable:
        nextLinkName: '@nextLink'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/videoAnalyzers/{accountName}/pipelineTopologies/{pipelineTopologyName}
  : get:
      summary: Retrieves a specific pipeline topology by name.
      description: Retrieves a specific pipeline topology by name. If a topology with
        that name has been previously created, the call will return the JSON representation
        of that topology.
      operationId: PipelineTopologies_Get
      responses:
        '200':
          description: Pipeline topology was retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The resource properties.
                    x-ms-client-flatten: true
                    properties:
                      description:
                        type: string
                        description: An optional description of the pipeline topology.
                          It is recommended that the expected use of the topology
                          to be described here.
                      parameters:
                        type: array
                        items:
                          properties:
                            name:
                              type: string
                              description: Name of the parameter.
                            type:
                              type: string
                              enum:
                              - String
                              - SecretString
                              - Int
                              - Double
                              - Bool
                              x-ms-enum:
                                name: ParameterType
                                values:
                                - value: String
                                  description: The parameter's value is a string.
                                - value: SecretString
                                  description: The parameter's value is a string that
                                    holds sensitive information.
                                - value: Int
                                  description: The parameter's value is a 32-bit signed
                                    integer.
                                - value: Double
                                  description: The parameter's value is a 64-bit double-precision
                                    floating point.
                                - value: Bool
                                  description: The parameter's value is a boolean
                                    value that is either true or false.
                                modelAsString: true
                              description: Type of the parameter.
                            description:
                              type: string
                              description: Description of the parameter.
                            default:
                              type: string
                              description: The default value for the parameter to
                                be used if the pipeline does not specify a value.
                          type: object
                          required:
                          - name
                          - type
                          description: Single topology parameter declaration. Declared
                            parameters can and must be referenced throughout the topology
                            and can optionally have default values to be used when
                            they are not defined in the pipelines.
                        x-ms-identifiers:
                        - name
                        description: List of the topology parameter declarations.
                          Parameters declared here can be referenced throughout the
                          topology nodes through the use of "${PARAMETER_NAME}" string
                          pattern. Parameters can have optional default values and
                          can later be defined in individual instances of the pipeline.
                      sources:
                        type: array
                        items:
                          type: object
                          properties:
                            '@type':
                              type: string
                              description: The discriminator for derived types.
                            name:
                              type: string
                              description: Node name. Must be unique within the topology.
                          required:
                          - '@type'
                          - name
                          description: Base class for nodes.
                          discriminator:
                            propertyName: '@type'
                          x-ms-discriminator-value: '#Microsoft.VideoAnalyzer.SourceNodeBase'
                        x-ms-identifiers:
                        - name
                        description: List of the topology source nodes. Source nodes
                          enable external data to be ingested by the pipeline.
                      processors:
                        type: array
                        items:
                          type: object
                          properties:
                            '@type':
                              type: string
                              description: The discriminator for derived types.
                            name:
                              type: string
                              description: Node name. Must be unique within the topology.
                            inputs:
                              type: array
                              items:
                                properties:
                                  nodeName:
                                    type: string
                                    description: The name of the upstream node in
                                      the pipeline which output is used as input of
                                      the current node.
                                type: object
                                required:
                                - nodeName
                                description: Describes an input signal to be used
                                  on a pipeline node.
                              x-ms-identifiers:
                              - nodeName
                              description: An array of upstream node references within
                                the topology to be used as inputs for this node.
                          required:
                          - '@type'
                          - name
                          - inputs
                          description: Base class for nodes.
                          discriminator:
                            propertyName: '@type'
                          x-ms-discriminator-value: '#Microsoft.VideoAnalyzer.ProcessorNodeBase'
                        x-ms-identifiers:
                        - name
                        description: List of the topology processor nodes. Processor
                          nodes enable pipeline data to be analyzed, processed or
                          transformed.
                      sinks:
                        type: array
                        items:
                          type: object
                          properties:
                            '@type':
                              type: string
                              description: The discriminator for derived types.
                            name:
                              type: string
                              description: Node name. Must be unique within the topology.
                            inputs:
                              type: array
                              items:
                                properties:
                                  nodeName:
                                    type: string
                                    description: The name of the upstream node in
                                      the pipeline which output is used as input of
                                      the current node.
                                type: object
                                required:
                                - nodeName
                                description: Describes an input signal to be used
                                  on a pipeline node.
                              x-ms-identifiers:
                              - nodeName
                              description: An array of upstream node references within
                                the topology to be used as inputs for this node.
                          required:
                          - '@type'
                          - name
                          - inputs
                          description: Base class for nodes.
                          discriminator:
                            propertyName: '@type'
                          x-ms-discriminator-value: '#Microsoft.VideoAnalyzer.SinkNodeBase'
                        x-ms-identifiers:
                        - name
                        description: List of the topology sink nodes. Sink nodes allow
                          pipeline data to be stored or exported.
                    type: object
                    required:
                    - sources
                    - sinks
                  kind:
                    type: string
                    enum:
                    - Live
                    - Batch
                    x-ms-enum:
                      name: Kind
                      values:
                      - value: Live
                        description: Live pipeline topology resource.
                      - value: Batch
                        description: Batch pipeline topology resource.
                      modelAsString: true
                    description: Topology kind.
                  sku:
                    description: Describes the properties of a SKU.
                    properties:
                      name:
                        type: string
                        enum:
                        - Live_S1
                        - Batch_S1
                        x-ms-enum:
                          name: SkuName
                          values:
                          - value: Live_S1
                            description: Represents the Live S1 SKU name. Using this
                              SKU you can create live pipelines to capture, record,
                              and stream live video from RTSP-capable cameras at bitrate
                              settings from 0.5 Kbps to 3000 Kbps.
                          - value: Batch_S1
                            description: Represents the Batch S1 SKU name. Using this
                              SKU you can create pipeline jobs to process recorded
                              content.
                          modelAsString: true
                        description: The SKU name.
                      tier:
                        type: string
                        enum:
                        - Standard
                        x-ms-enum:
                          name: SkuTier
                          values:
                          - value: Standard
                            description: Standard tier.
                          modelAsString: true
                        description: The SKU tier.
                        readOnly: true
                        nullable: false
                    type: object
                    required:
                    - name
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - kind
                - sku
        default:
          description: Detailed error information.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        description: The Azure Video Analyzer account name.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: pipelineTopologyName
        in: path
        required: true
        description: Pipeline topology unique identifier.
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
    put:
      summary: Creates or updates a pipeline topology.
      description: Creates a new pipeline topology or updates an existing one, with
        the given name. A pipeline topology describes the processing steps to be applied
        when processing content for a particular outcome. The topology should be defined
        according to the scenario to be achieved and can be reused across many pipeline
        instances which share the same processing characteristics.
      operationId: PipelineTopologies_CreateOrUpdate
      responses:
        '200':
          description: The existing pipeline topology was updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The resource properties.
                    x-ms-client-flatten: true
                    properties:
                      description:
                        type: string
                        description: An optional description of the pipeline topology.
                          It is recommended that the expected use of the topology
                          to be described here.
                      parameters:
                        type: array
                        items:
                          properties:
                            name:
                              type: string
                              description: Name of the parameter.
                            type:
                              type: string
                              enum:
                              - String
                              - SecretString
                              - Int
                              - Double
                              - Bool
                              x-ms-enum:
                                name: ParameterType
                                values:
                                - value: String
                                  description: The parameter's value is a string.
                                - value: SecretString
                                  description: The parameter's value is a string that
                                    holds sensitive information.
                                - value: Int
                                  description: The parameter's value is a 32-bit signed
                                    integer.
                                - value: Double
                                  description: The parameter's value is a 64-bit double-precision
                                    floating point.
                                - value: Bool
                                  description: The parameter's value is a boolean
                                    value that is either true or false.
                                modelAsString: true
                              description: Type of the parameter.
                            description:
                              type: string
                              description: Description of the parameter.
                            default:
                              type: string
                              description: The default value for the parameter to
                                be used if the pipeline does not specify a value.
                          type: object
                          required:
                          - name
                          - type
                          description: Single topology parameter declaration. Declared
                            parameters can and must be referenced throughout the topology
                            and can optionally have default values to be used when
                            they are not defined in the pipelines.
                        x-ms-identifiers:
                        - name
                        description: List of the topology parameter declarations.
                          Parameters declared here can be referenced throughout the
                          topology nodes through the use of "${PARAMETER_NAME}" string
                          pattern. Parameters can have optional default values and
                          can later be defined in individual instances of the pipeline.
                      sources:
                        type: array
                        items:
                          type: object
                          properties:
                            '@type':
                              type: string
                              description: The discriminator for derived types.
                            name:
                              type: string
                              description: Node name. Must be unique within the topology.
                          required:
                          - '@type'
                          - name
                          description: Base class for nodes.
                          discriminator:
                            propertyName: '@type'
                          x-ms-discriminator-value: '#Microsoft.VideoAnalyzer.SourceNodeBase'
                        x-ms-identifiers:
                        - name
                        description: List of the topology source nodes. Source nodes
                          enable external data to be ingested by the pipeline.
                      processors:
                        type: array
                        items:
                          type: object
                          properties:
                            '@type':
                              type: string
                              description: The discriminator for derived types.
                            name:
                              type: string
                              description: Node name. Must be unique within the topology.
                            inputs:
                              type: array
                              items:
                                properties:
                                  nodeName:
                                    type: string
                                    description: The name of the upstream node in
                                      the pipeline which output is used as input of
                                      the current node.
                                type: object
                                required:
                                - nodeName
                                description: Describes an input signal to be used
                                  on a pipeline node.
                              x-ms-identifiers:
                              - nodeName
                              description: An array of upstream node references within
                                the topology to be used as inputs for this node.
                          required:
                          - '@type'
                          - name
                          - inputs
                          description: Base class for nodes.
                          discriminator:
                            propertyName: '@type'
                          x-ms-discriminator-value: '#Microsoft.VideoAnalyzer.ProcessorNodeBase'
                        x-ms-identifiers:
                        - name
                        description: List of the topology processor nodes. Processor
                          nodes enable pipeline data to be analyzed, processed or
                          transformed.
                      sinks:
                        type: array
                        items:
                          type: object
                          properties:
                            '@type':
                              type: string
                              description: The discriminator for derived types.
                            name:
                              type: string
                              description: Node name. Must be unique within the topology.
                            inputs:
                              type: array
                              items:
                                properties:
                                  nodeName:
                                    type: string
                                    description: The name of the upstream node in
                                      the pipeline which output is used as input of
                                      the current node.
                                type: object
                                required:
                                - nodeName
                                description: Describes an input signal to be used
                                  on a pipeline node.
                              x-ms-identifiers:
                              - nodeName
                              description: An array of upstream node references within
                                the topology to be used as inputs for this node.
                          required:
                          - '@type'
                          - name
                          - inputs
                          description: Base class for nodes.
                          discriminator:
                            propertyName: '@type'
                          x-ms-discriminator-value: '#Microsoft.VideoAnalyzer.SinkNodeBase'
                        x-ms-identifiers:
                        - name
                        description: List of the topology sink nodes. Sink nodes allow
                          pipeline data to be stored or exported.
                    type: object
                    required:
                    - sources
                    - sinks
                  kind:
                    type: string
                    enum:
                    - Live
                    - Batch
                    x-ms-enum:
                      name: Kind
                      values:
                      - value: Live
                        description: Live pipeline topology resource.
                      - value: Batch
                        description: Batch pipeline topology resource.
                      modelAsString: true
                    description: Topology kind.
                  sku:
                    description: Describes the properties of a SKU.
                    properties:
                      name:
                        type: string
                        enum:
                        - Live_S1
                        - Batch_S1
                        x-ms-enum:
                          name: SkuName
                          values:
                          - value: Live_S1
                            description: Represents the Live S1 SKU name. Using this
                              SKU you can create live pipelines to capture, record,
                              and stream live video from RTSP-capable cameras at bitrate
                              settings from 0.5 Kbps to 3000 Kbps.
                          - value: Batch_S1
                            description: Represents the Batch S1 SKU name. Using this
                              SKU you can create pipeline jobs to process recorded
                              content.
                          modelAsString: true
                        description: The SKU name.
                      tier:
                        type: string
                        enum:
                        - Standard
                        x-ms-enum:
                          name: SkuTier
                          values:
                          - value: Standard
                            description: Standard tier.
                          modelAsString: true
                        description: The SKU tier.
                        readOnly: true
                        nullable: false
                    type: object
                    required:
                    - name
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - kind
                - sku
        '201':
          description: A new pipeline topology was created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The resource properties.
                    x-ms-client-flatten: true
                    properties:
                      description:
                        type: string
                        description: An optional description of the pipeline topology.
                          It is recommended that the expected use of the topology
                          to be described here.
                      parameters:
                        type: array
                        items:
                          properties:
                            name:
                              type: string
                              description: Name of the parameter.
                            type:
                              type: string
                              enum:
                              - String
                              - SecretString
                              - Int
                              - Double
                              - Bool
                              x-ms-enum:
                                name: ParameterType
                                values:
                                - value: String
                                  description: The parameter's value is a string.
                                - value: SecretString
                                  description: The parameter's value is a string that
                                    holds sensitive information.
                                - value: Int
                                  description: The parameter's value is a 32-bit signed
                                    integer.
                                - value: Double
                                  description: The parameter's value is a 64-bit double-precision
                                    floating point.
                                - value: Bool
                                  description: The parameter's value is a boolean
                                    value that is either true or false.
                                modelAsString: true
                              description: Type of the parameter.
                            description:
                              type: string
                              description: Description of the parameter.
                            default:
                              type: string
                              description: The default value for the parameter to
                                be used if the pipeline does not specify a value.
                          type: object
                          required:
                          - name
                          - type
                          description: Single topology parameter declaration. Declared
                            parameters can and must be referenced throughout the topology
                            and can optionally have default values to be used when
                            they are not defined in the pipelines.
                        x-ms-identifiers:
                        - name
                        description: List of the topology parameter declarations.
                          Parameters declared here can be referenced throughout the
                          topology nodes through the use of "${PARAMETER_NAME}" string
                          pattern. Parameters can have optional default values and
                          can later be defined in individual instances of the pipeline.
                      sources:
                        type: array
                        items:
                          type: object
                          properties:
                            '@type':
                              type: string
                              description: The discriminator for derived types.
                            name:
                              type: string
                              description: Node name. Must be unique within the topology.
                          required:
                          - '@type'
                          - name
                          description: Base class for nodes.
                          discriminator:
                            propertyName: '@type'
                          x-ms-discriminator-value: '#Microsoft.VideoAnalyzer.SourceNodeBase'
                        x-ms-identifiers:
                        - name
                        description: List of the topology source nodes. Source nodes
                          enable external data to be ingested by the pipeline.
                      processors:
                        type: array
                        items:
                          type: object
                          properties:
                            '@type':
                              type: string
                              description: The discriminator for derived types.
                            name:
                              type: string
                              description: Node name. Must be unique within the topology.
                            inputs:
                              type: array
                              items:
                                properties:
                                  nodeName:
                                    type: string
                                    description: The name of the upstream node in
                                      the pipeline which output is used as input of
                                      the current node.
                                type: object
                                required:
                                - nodeName
                                description: Describes an input signal to be used
                                  on a pipeline node.
                              x-ms-identifiers:
                              - nodeName
                              description: An array of upstream node references within
                                the topology to be used as inputs for this node.
                          required:
                          - '@type'
                          - name
                          - inputs
                          description: Base class for nodes.
                          discriminator:
                            propertyName: '@type'
                          x-ms-discriminator-value: '#Microsoft.VideoAnalyzer.ProcessorNodeBase'
                        x-ms-identifiers:
                        - name
                        description: List of the topology processor nodes. Processor
                          nodes enable pipeline data to be analyzed, processed or
                          transformed.
                      sinks:
                        type: array
                        items:
                          type: object
                          properties:
                            '@type':
                              type: string
                              description: The discriminator for derived types.
                            name:
                              type: string
                              description: Node name. Must be unique within the topology.
                            inputs:
                              type: array
                              items:
                                properties:
                                  nodeName:
                                    type: string
                                    description: The name of the upstream node in
                                      the pipeline which output is used as input of
                                      the current node.
                                type: object
                                required:
                                - nodeName
                                description: Describes an input signal to be used
                                  on a pipeline node.
                              x-ms-identifiers:
                              - nodeName
                              description: An array of upstream node references within
                                the topology to be used as inputs for this node.
                          required:
                          - '@type'
                          - name
                          - inputs
                          description: Base class for nodes.
                          discriminator:
                            propertyName: '@type'
                          x-ms-discriminator-value: '#Microsoft.VideoAnalyzer.SinkNodeBase'
                        x-ms-identifiers:
                        - name
                        description: List of the topology sink nodes. Sink nodes allow
                          pipeline data to be stored or exported.
                    type: object
                    required:
                    - sources
                    - sinks
                  kind:
                    type: string
                    enum:
                    - Live
                    - Batch
                    x-ms-enum:
                      name: Kind
                      values:
                      - value: Live
                        description: Live pipeline topology resource.
                      - value: Batch
                        description: Batch pipeline topology resource.
                      modelAsString: true
                    description: Topology kind.
                  sku:
                    description: Describes the properties of a SKU.
                    properties:
                      name:
                        type: string
                        enum:
                        - Live_S1
                        - Batch_S1
                        x-ms-enum:
                          name: SkuName
                          values:
                          - value: Live_S1
                            description: Represents the Live S1 SKU name. Using this
                              SKU you can create live pipelines to capture, record,
                              and stream live video from RTSP-capable cameras at bitrate
                              settings from 0.5 Kbps to 3000 Kbps.
                          - value: Batch_S1
                            description: Represents the Batch S1 SKU name. Using this
                              SKU you can create pipeline jobs to process recorded
                              content.
                          modelAsString: true
                        description: The SKU name.
                      tier:
                        type: string
                        enum:
                        - Standard
                        x-ms-enum:
                          name: SkuTier
                          values:
                          - value: Standard
                            description: Standard tier.
                          modelAsString: true
                        description: The SKU tier.
                        readOnly: true
                        nullable: false
                    type: object
                    required:
                    - name
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - kind
                - sku
        default:
          description: Detailed error information.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        description: The Azure Video Analyzer account name.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: pipelineTopologyName
        in: path
        required: true
        description: Pipeline topology unique identifier.
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  description: The resource properties.
                  x-ms-client-flatten: true
                  properties:
                    description:
                      type: string
                      description: An optional description of the pipeline topology.
                        It is recommended that the expected use of the topology to
                        be described here.
                    parameters:
                      type: array
                      items:
                        properties:
                          name:
                            type: string
                            description: Name of the parameter.
                          type:
                            type: string
                            enum:
                            - String
                            - SecretString
                            - Int
                            - Double
                            - Bool
                            x-ms-enum:
                              name: ParameterType
                              values:
                              - value: String
                                description: The parameter's value is a string.
                              - value: SecretString
                                description: The parameter's value is a string that
                                  holds sensitive information.
                              - value: Int
                                description: The parameter's value is a 32-bit signed
                                  integer.
                              - value: Double
                                description: The parameter's value is a 64-bit double-precision
                                  floating point.
                              - value: Bool
                                description: The parameter's value is a boolean value
                                  that is either true or false.
                              modelAsString: true
                            description: Type of the parameter.
                          description:
                            type: string
                            description: Description of the parameter.
                          default:
                            type: string
                            description: The default value for the parameter to be
                              used if the pipeline does not specify a value.
                        type: object
                        required:
                        - name
                        - type
                        description: Single topology parameter declaration. Declared
                          parameters can and must be referenced throughout the topology
                          and can optionally have default values to be used when they
                          are not defined in the pipelines.
                      x-ms-identifiers:
                      - name
                      description: List of the topology parameter declarations. Parameters
                        declared here can be referenced throughout the topology nodes
                        through the use of "${PARAMETER_NAME}" string pattern. Parameters
                        can have optional default values and can later be defined
                        in individual instances of the pipeline.
                    sources:
                      type: array
                      items:
                        type: object
                        properties:
                          '@type':
                            type: string
                            description: The discriminator for derived types.
                          name:
                            type: string
                            description: Node name. Must be unique within the topology.
                        required:
                        - '@type'
                        - name
                        description: Base class for nodes.
                        discriminator:
                          propertyName: '@type'
                        x-ms-discriminator-value: '#Microsoft.VideoAnalyzer.SourceNodeBase'
                      x-ms-identifiers:
                      - name
                      description: List of the topology source nodes. Source nodes
                        enable external data to be ingested by the pipeline.
                    processors:
                      type: array
                      items:
                        type: object
                        properties:
                          '@type':
                            type: string
                            description: The discriminator for derived types.
                          name:
                            type: string
                            description: Node name. Must be unique within the topology.
                          inputs:
                            type: array
                            items:
                              properties:
                                nodeName:
                                  type: string
                                  description: The name of the upstream node in the
                                    pipeline which output is used as input of the
                                    current node.
                              type: object
                              required:
                              - nodeName
                              description: Describes an input signal to be used on
                                a pipeline node.
                            x-ms-identifiers:
                            - nodeName
                            description: An array of upstream node references within
                              the topology to be used as inputs for this node.
                        required:
                        - '@type'
                        - name
                        - inputs
                        description: Base class for nodes.
                        discriminator:
                          propertyName: '@type'
                        x-ms-discriminator-value: '#Microsoft.VideoAnalyzer.ProcessorNodeBase'
                      x-ms-identifiers:
                      - name
                      description: List of the topology processor nodes. Processor
                        nodes enable pipeline data to be analyzed, processed or transformed.
                    sinks:
                      type: array
                      items:
                        type: object
                        properties:
                          '@type':
                            type: string
                            description: The discriminator for derived types.
                          name:
                            type: string
                            description: Node name. Must be unique within the topology.
                          inputs:
                            type: array
                            items:
                              properties:
                                nodeName:
                                  type: string
                                  description: The name of the upstream node in the
                                    pipeline which output is used as input of the
                                    current node.
                              type: object
                              required:
                              - nodeName
                              description: Describes an input signal to be used on
                                a pipeline node.
                            x-ms-identifiers:
                            - nodeName
                            description: An array of upstream node references within
                              the topology to be used as inputs for this node.
                        required:
                        - '@type'
                        - name
                        - inputs
                        description: Base class for nodes.
                        discriminator:
                          propertyName: '@type'
                        x-ms-discriminator-value: '#Microsoft.VideoAnalyzer.SinkNodeBase'
                      x-ms-identifiers:
                      - name
                      description: List of the topology sink nodes. Sink nodes allow
                        pipeline data to be stored or exported.
                  type: object
                  required:
                  - sources
                  - sinks
                kind:
                  type: string
                  enum:
                  - Live
                  - Batch
                  x-ms-enum:
                    name: Kind
                    values:
                    - value: Live
                      description: Live pipeline topology resource.
                    - value: Batch
                      description: Batch pipeline topology resource.
                    modelAsString: true
                  description: Topology kind.
                sku:
                  description: Describes the properties of a SKU.
                  properties:
                    name:
                      type: string
                      enum:
                      - Live_S1
                      - Batch_S1
                      x-ms-enum:
                        name: SkuName
                        values:
                        - value: Live_S1
                          description: Represents the Live S1 SKU name. Using this
                            SKU you can create live pipelines to capture, record,
                            and stream live video from RTSP-capable cameras at bitrate
                            settings from 0.5 Kbps to 3000 Kbps.
                        - value: Batch_S1
                          description: Represents the Batch S1 SKU name. Using this
                            SKU you can create pipeline jobs to process recorded content.
                        modelAsString: true
                      description: The SKU name.
                    tier:
                      type: string
                      enum:
                      - Standard
                      x-ms-enum:
                        name: SkuTier
                        values:
                        - value: Standard
                          description: Standard tier.
                        modelAsString: true
                      description: The SKU tier.
                      readOnly: true
                      nullable: false
                  type: object
                  required:
                  - name
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
              required:
              - kind
              - sku
        description: The request parameters
        required: true
    delete:
      summary: Deletes a pipeline topology.
      description: Deletes a pipeline topology with the given name. This method should
        be called after all instances of the topology have been stopped and deleted.
      operationId: PipelineTopologies_Delete
      responses:
        '200':
          description: The pipeline topology was deleted successfully.
        '204':
          description: The pipeline topology was not found.
        default:
          description: Detailed error information.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
[...]
