openapi: 3.0.0
info:
  title: Azure Video Analyzer Resource Provider
  description: Azure Video Analyzer resource provider API definition.
  version: 2021-11-01-preview
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/videoAnalyzers/{accountName}/videos
  : get:
      summary: Retrieves all existing video resources.
      description: Retrieves a list of video resources that have been created, along
        with their JSON representations.
      operationId: Videos_List
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: The resource properties.
                          x-ms-client-flatten: true
                          properties:
                            title:
                              type: string
                              description: Optional video title provided by the user.
                                Value can be up to 256 characters long.
                            description:
                              type: string
                              description: Optional video description provided by
                                the user. Value can be up to 2048 characters long.
                            type:
                              type: string
                              enum:
                              - Archive
                              - File
                              x-ms-enum:
                                name: VideoType
                                values:
                                - value: Archive
                                  description: Archive is flexible format that represents
                                    a video stream associated with wall-clock time.
                                    The video archive can either be continuous or
                                    discontinuous. An archive is discontinuous when
                                    there are gaps in the recording due to various
                                    reasons, such as the live pipeline being stopped,
                                    camera being disconnected or due to the use of
                                    event based recordings through the use of a signal
                                    gate. There is no limit to the archive duration
                                    and new video data can be appended to the existing
                                    archive at any time, as long as the same video
                                    codec and codec parameters are being used. Videos
                                    of this type are suitable for appending and long
                                    term archival.
                                - value: File
                                  description: File represents a video which is stored
                                    as a single media file, such as MP4. Videos of
                                    this type are suitable to be downloaded for external
                                    consumption.
                                modelAsString: true
                              description: Video content type. Different content types
                                are suitable for different applications and scenarios.
                              readOnly: true
                              nullable: false
                            flags:
                              description: Video flags contain information about the
                                available video actions and its dynamic properties
                                based on the current video state.
                              readOnly: true
                              properties:
                                canStream:
                                  type: boolean
                                  description: Value indicating whether or not the
                                    video can be streamed. Only "archive" type videos
                                    can be streamed.
                                hasData:
                                  type: boolean
                                  description: Value indicating whether or not there
                                    has ever been data recorded or uploaded into the
                                    video. Newly created videos have this value set
                                    to false.
                                isInUse:
                                  type: boolean
                                  description: Value indicating whether or not the
                                    video is currently being referenced be an active
                                    pipeline. The fact that is being referenced, doesn't
                                    necessarily indicate that data is being received.
                                    For example, video recording may be gated on events
                                    or camera may not be accessible at the time.
                              type: object
                              required:
                              - canStream
                              - hasData
                              - isInUse
                            contentUrls:
                              description: Set of URLs to the video content.
                              readOnly: true
                              properties:
                                downloadUrl:
                                  type: string
                                  description: Video file download URL. This URL can
                                    be used in conjunction with the video content
                                    authorization token to download the video MP4
                                    file. The resulting MP4 file can be played on
                                    any standard media player. It is available when
                                    the video type is 'file' and video file is available
                                    for consumption.
                                archiveBaseUrl:
                                  type: string
                                  description: "Video archive streaming base URL.\
                                    \ The archived content can be automatically played\
                                    \ by the Azure Video Analyzer player widget. Alternatively,\
                                    \ this URL can be used in conjunction with the\
                                    \ video content authorization token on any compatible\
                                    \ DASH or HLS players by appending the following\
                                    \ to the base URL:\r\n\r\n    - HLSv4:     /manifest(format=m3u8-aapl).m3u8\r\
                                    \n    - HLS CMAF:  /manifest(format=m3u8-cmaf)\r\
                                    \n    - DASH CMAF: /manifest(format=mpd-time-cmaf)\r\
                                    \n\r\n    Moreover, an ongoing video recording\
                                    \ can be played in \"live mode\" with latencies\
                                    \ which are approximately double of the chosen\
                                    \ video segment length. It is available when the\
                                    \ video type is 'archive' and video archiving\
                                    \ is enabled."
                                rtspTunnelUrl:
                                  type: string
                                  description: Video low-latency streaming URL. The
                                    live content can be automatically played by the
                                    Azure Video Analyzer player widget. Alternatively,
                                    this URL can be used in conjunction with the video
                                    content authorization token to expose a WebSocket
                                    tunneled RTSP stream. It is available when the
                                    video type is 'archive' and a live, low-latency
                                    feed is available from the source.
                                previewImageUrls:
                                  description: Video preview image URLs. These URLs
                                    can be used in conjunction with the video content
                                    authorization token to download the most recent
                                    still image from the video archive in different
                                    resolutions. They are available when the video
                                    type is 'archive' and preview images are enabled.
                                  properties:
                                    small:
                                      type: string
                                      description: Low resolution preview image URL.
                                    medium:
                                      type: string
                                      description: Medium resolution preview image
                                        URL.
                                    large:
                                      type: string
                                      description: High resolution preview image URL.
                                  type: object
                              type: object
                            mediaInfo:
                              description: Contains information about the video and
                                audio content.
                              properties:
                                segmentLength:
                                  type: string
                                  description: Video segment length indicates the
                                    length of individual video files (segments) which
                                    are persisted to storage. Smaller segments provide
                                    lower archive playback latency but generate larger
                                    volume of storage transactions. Larger segments
                                    reduce the amount of storage transactions while
                                    increasing the archive playback latency. Value
                                    must be specified in ISO8601 duration format (i.e.
                                    "PT30S" equals 30 seconds) and can vary between
                                    30 seconds to 5 minutes, in 30 seconds increments.
                              type: object
                            archival:
                              description: Video archival properties.
                              properties:
                                retentionPeriod:
                                  type: string
                                  description: Video retention period indicates the
                                    maximum age of the video archive segments which
                                    are intended to be kept in storage. It must be
                                    provided in the ISO8601 duration format in the
                                    granularity of days, up to a maximum of 10 years.
                                    For example, if this is set to P30D (30 days),
                                    content older than 30 days will be periodically
                                    deleted. This value can be updated at any time
                                    and the new desired retention period will be effective
                                    within 24 hours.
                              type: object
                          type: object
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: A collection of VideoEntity items.
                  '@nextLink':
                    type: string
                    description: A link to the next page of the collection (when the
                      collection contains too many results to return in one response).
                type: object
                description: A collection of VideoEntity items.
        default:
          description: Detailed error information.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        description: The Azure Video Analyzer account name.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: $top
        in: query
        required: false
        description: Specifies a non-negative integer n that limits the number of
          items returned from a collection. The service returns the number of available
          items up to but not greater than the specified value n.
        schema:
          type: integer
          format: int32
      x-ms-pageable:
        nextLinkName: '@nextLink'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/videoAnalyzers/{accountName}/videos/{videoName}
  : get:
      summary: Retrieves an existing video resource.
      description: Retrieves an existing video resource with the given name.
      operationId: Videos_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The resource properties.
                    x-ms-client-flatten: true
                    properties:
                      title:
                        type: string
                        description: Optional video title provided by the user. Value
                          can be up to 256 characters long.
                      description:
                        type: string
                        description: Optional video description provided by the user.
                          Value can be up to 2048 characters long.
                      type:
                        type: string
                        enum:
                        - Archive
                        - File
                        x-ms-enum:
                          name: VideoType
                          values:
                          - value: Archive
                            description: Archive is flexible format that represents
                              a video stream associated with wall-clock time. The
                              video archive can either be continuous or discontinuous.
                              An archive is discontinuous when there are gaps in the
                              recording due to various reasons, such as the live pipeline
                              being stopped, camera being disconnected or due to the
                              use of event based recordings through the use of a signal
                              gate. There is no limit to the archive duration and
                              new video data can be appended to the existing archive
                              at any time, as long as the same video codec and codec
                              parameters are being used. Videos of this type are suitable
                              for appending and long term archival.
                          - value: File
                            description: File represents a video which is stored as
                              a single media file, such as MP4. Videos of this type
                              are suitable to be downloaded for external consumption.
                          modelAsString: true
                        description: Video content type. Different content types are
                          suitable for different applications and scenarios.
                        readOnly: true
                        nullable: false
                      flags:
                        description: Video flags contain information about the available
                          video actions and its dynamic properties based on the current
                          video state.
                        readOnly: true
                        properties:
                          canStream:
                            type: boolean
                            description: Value indicating whether or not the video
                              can be streamed. Only "archive" type videos can be streamed.
                          hasData:
                            type: boolean
                            description: Value indicating whether or not there has
                              ever been data recorded or uploaded into the video.
                              Newly created videos have this value set to false.
                          isInUse:
                            type: boolean
                            description: Value indicating whether or not the video
                              is currently being referenced be an active pipeline.
                              The fact that is being referenced, doesn't necessarily
                              indicate that data is being received. For example, video
                              recording may be gated on events or camera may not be
                              accessible at the time.
                        type: object
                        required:
                        - canStream
                        - hasData
                        - isInUse
                      contentUrls:
                        description: Set of URLs to the video content.
                        readOnly: true
                        properties:
                          downloadUrl:
                            type: string
                            description: Video file download URL. This URL can be
                              used in conjunction with the video content authorization
                              token to download the video MP4 file. The resulting
                              MP4 file can be played on any standard media player.
                              It is available when the video type is 'file' and video
                              file is available for consumption.
                          archiveBaseUrl:
                            type: string
                            description: "Video archive streaming base URL. The archived\
                              \ content can be automatically played by the Azure Video\
                              \ Analyzer player widget. Alternatively, this URL can\
                              \ be used in conjunction with the video content authorization\
                              \ token on any compatible DASH or HLS players by appending\
                              \ the following to the base URL:\r\n\r\n    - HLSv4:\
                              \     /manifest(format=m3u8-aapl).m3u8\r\n    - HLS\
                              \ CMAF:  /manifest(format=m3u8-cmaf)\r\n    - DASH CMAF:\
                              \ /manifest(format=mpd-time-cmaf)\r\n\r\n    Moreover,\
                              \ an ongoing video recording can be played in \"live\
                              \ mode\" with latencies which are approximately double\
                              \ of the chosen video segment length. It is available\
                              \ when the video type is 'archive' and video archiving\
                              \ is enabled."
                          rtspTunnelUrl:
                            type: string
                            description: Video low-latency streaming URL. The live
                              content can be automatically played by the Azure Video
                              Analyzer player widget. Alternatively, this URL can
                              be used in conjunction with the video content authorization
                              token to expose a WebSocket tunneled RTSP stream. It
                              is available when the video type is 'archive' and a
                              live, low-latency feed is available from the source.
                          previewImageUrls:
                            description: Video preview image URLs. These URLs can
                              be used in conjunction with the video content authorization
                              token to download the most recent still image from the
                              video archive in different resolutions. They are available
                              when the video type is 'archive' and preview images
                              are enabled.
                            properties:
                              small:
                                type: string
                                description: Low resolution preview image URL.
                              medium:
                                type: string
                                description: Medium resolution preview image URL.
                              large:
                                type: string
                                description: High resolution preview image URL.
                            type: object
                        type: object
                      mediaInfo:
                        description: Contains information about the video and audio
                          content.
                        properties:
                          segmentLength:
                            type: string
                            description: Video segment length indicates the length
                              of individual video files (segments) which are persisted
                              to storage. Smaller segments provide lower archive playback
                              latency but generate larger volume of storage transactions.
                              Larger segments reduce the amount of storage transactions
                              while increasing the archive playback latency. Value
                              must be specified in ISO8601 duration format (i.e. "PT30S"
                              equals 30 seconds) and can vary between 30 seconds to
                              5 minutes, in 30 seconds increments.
                        type: object
                      archival:
                        description: Video archival properties.
                        properties:
                          retentionPeriod:
                            type: string
                            description: Video retention period indicates the maximum
                              age of the video archive segments which are intended
                              to be kept in storage. It must be provided in the ISO8601
                              duration format in the granularity of days, up to a
                              maximum of 10 years. For example, if this is set to
                              P30D (30 days), content older than 30 days will be periodically
                              deleted. This value can be updated at any time and the
                              new desired retention period will be effective within
                              24 hours.
                        type: object
                    type: object
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Detailed error information.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        description: The Azure Video Analyzer account name.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: videoName
        in: path
        required: true
        description: The Video name.
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
    put:
      summary: Creates a new video resource or updates an existing one.
      description: Creates a new video resource or updates an existing video resource
        with the given name.
      operationId: Videos_CreateOrUpdate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The resource properties.
                    x-ms-client-flatten: true
                    properties:
                      title:
                        type: string
                        description: Optional video title provided by the user. Value
                          can be up to 256 characters long.
                      description:
                        type: string
                        description: Optional video description provided by the user.
                          Value can be up to 2048 characters long.
                      type:
                        type: string
                        enum:
                        - Archive
                        - File
                        x-ms-enum:
                          name: VideoType
                          values:
                          - value: Archive
                            description: Archive is flexible format that represents
                              a video stream associated with wall-clock time. The
                              video archive can either be continuous or discontinuous.
                              An archive is discontinuous when there are gaps in the
                              recording due to various reasons, such as the live pipeline
                              being stopped, camera being disconnected or due to the
                              use of event based recordings through the use of a signal
                              gate. There is no limit to the archive duration and
                              new video data can be appended to the existing archive
                              at any time, as long as the same video codec and codec
                              parameters are being used. Videos of this type are suitable
                              for appending and long term archival.
                          - value: File
                            description: File represents a video which is stored as
                              a single media file, such as MP4. Videos of this type
                              are suitable to be downloaded for external consumption.
                          modelAsString: true
                        description: Video content type. Different content types are
                          suitable for different applications and scenarios.
                        readOnly: true
                        nullable: false
                      flags:
                        description: Video flags contain information about the available
                          video actions and its dynamic properties based on the current
                          video state.
                        readOnly: true
                        properties:
                          canStream:
                            type: boolean
                            description: Value indicating whether or not the video
                              can be streamed. Only "archive" type videos can be streamed.
                          hasData:
                            type: boolean
                            description: Value indicating whether or not there has
                              ever been data recorded or uploaded into the video.
                              Newly created videos have this value set to false.
                          isInUse:
                            type: boolean
                            description: Value indicating whether or not the video
                              is currently being referenced be an active pipeline.
                              The fact that is being referenced, doesn't necessarily
                              indicate that data is being received. For example, video
                              recording may be gated on events or camera may not be
                              accessible at the time.
                        type: object
                        required:
                        - canStream
                        - hasData
                        - isInUse
                      contentUrls:
                        description: Set of URLs to the video content.
                        readOnly: true
                        properties:
                          downloadUrl:
                            type: string
                            description: Video file download URL. This URL can be
                              used in conjunction with the video content authorization
                              token to download the video MP4 file. The resulting
                              MP4 file can be played on any standard media player.
                              It is available when the video type is 'file' and video
                              file is available for consumption.
                          archiveBaseUrl:
                            type: string
                            description: "Video archive streaming base URL. The archived\
                              \ content can be automatically played by the Azure Video\
                              \ Analyzer player widget. Alternatively, this URL can\
                              \ be used in conjunction with the video content authorization\
                              \ token on any compatible DASH or HLS players by appending\
                              \ the following to the base URL:\r\n\r\n    - HLSv4:\
                              \     /manifest(format=m3u8-aapl).m3u8\r\n    - HLS\
                              \ CMAF:  /manifest(format=m3u8-cmaf)\r\n    - DASH CMAF:\
                              \ /manifest(format=mpd-time-cmaf)\r\n\r\n    Moreover,\
                              \ an ongoing video recording can be played in \"live\
                              \ mode\" with latencies which are approximately double\
                              \ of the chosen video segment length. It is available\
                              \ when the video type is 'archive' and video archiving\
                              \ is enabled."
                          rtspTunnelUrl:
                            type: string
                            description: Video low-latency streaming URL. The live
                              content can be automatically played by the Azure Video
                              Analyzer player widget. Alternatively, this URL can
                              be used in conjunction with the video content authorization
                              token to expose a WebSocket tunneled RTSP stream. It
                              is available when the video type is 'archive' and a
                              live, low-latency feed is available from the source.
                          previewImageUrls:
                            description: Video preview image URLs. These URLs can
                              be used in conjunction with the video content authorization
                              token to download the most recent still image from the
                              video archive in different resolutions. They are available
                              when the video type is 'archive' and preview images
                              are enabled.
                            properties:
                              small:
                                type: string
                                description: Low resolution preview image URL.
                              medium:
                                type: string
                                description: Medium resolution preview image URL.
                              large:
                                type: string
                                description: High resolution preview image URL.
                            type: object
                        type: object
                      mediaInfo:
                        description: Contains information about the video and audio
                          content.
                        properties:
                          segmentLength:
                            type: string
                            description: Video segment length indicates the length
                              of individual video files (segments) which are persisted
                              to storage. Smaller segments provide lower archive playback
                              latency but generate larger volume of storage transactions.
                              Larger segments reduce the amount of storage transactions
                              while increasing the archive playback latency. Value
                              must be specified in ISO8601 duration format (i.e. "PT30S"
                              equals 30 seconds) and can vary between 30 seconds to
                              5 minutes, in 30 seconds increments.
                        type: object
                      archival:
                        description: Video archival properties.
                        properties:
                          retentionPeriod:
                            type: string
                            description: Video retention period indicates the maximum
                              age of the video archive segments which are intended
                              to be kept in storage. It must be provided in the ISO8601
                              duration format in the granularity of days, up to a
                              maximum of 10 years. For example, if this is set to
                              P30D (30 days), content older than 30 days will be periodically
                              deleted. This value can be updated at any time and the
                              new desired retention period will be effective within
                              24 hours.
                        type: object
                    type: object
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The resource properties.
                    x-ms-client-flatten: true
                    properties:
                      title:
                        type: string
                        description: Optional video title provided by the user. Value
                          can be up to 256 characters long.
                      description:
                        type: string
                        description: Optional video description provided by the user.
                          Value can be up to 2048 characters long.
                      type:
                        type: string
                        enum:
                        - Archive
                        - File
                        x-ms-enum:
                          name: VideoType
                          values:
                          - value: Archive
                            description: Archive is flexible format that represents
                              a video stream associated with wall-clock time. The
                              video archive can either be continuous or discontinuous.
                              An archive is discontinuous when there are gaps in the
                              recording due to various reasons, such as the live pipeline
                              being stopped, camera being disconnected or due to the
                              use of event based recordings through the use of a signal
                              gate. There is no limit to the archive duration and
                              new video data can be appended to the existing archive
                              at any time, as long as the same video codec and codec
                              parameters are being used. Videos of this type are suitable
                              for appending and long term archival.
                          - value: File
                            description: File represents a video which is stored as
                              a single media file, such as MP4. Videos of this type
                              are suitable to be downloaded for external consumption.
                          modelAsString: true
                        description: Video content type. Different content types are
                          suitable for different applications and scenarios.
                        readOnly: true
                        nullable: false
                      flags:
                        description: Video flags contain information about the available
                          video actions and its dynamic properties based on the current
                          video state.
                        readOnly: true
                        properties:
                          canStream:
                            type: boolean
                            description: Value indicating whether or not the video
                              can be streamed. Only "archive" type videos can be streamed.
                          hasData:
                            type: boolean
                            description: Value indicating whether or not there has
                              ever been data recorded or uploaded into the video.
                              Newly created videos have this value set to false.
                          isInUse:
                            type: boolean
                            description: Value indicating whether or not the video
                              is currently being referenced be an active pipeline.
                              The fact that is being referenced, doesn't necessarily
                              indicate that data is being received. For example, video
                              recording may be gated on events or camera may not be
                              accessible at the time.
                        type: object
                        required:
                        - canStream
                        - hasData
                        - isInUse
                      contentUrls:
                        description: Set of URLs to the video content.
                        readOnly: true
                        properties:
                          downloadUrl:
                            type: string
                            description: Video file download URL. This URL can be
                              used in conjunction with the video content authorization
                              token to download the video MP4 file. The resulting
                              MP4 file can be played on any standard media player.
                              It is available when the video type is 'file' and video
                              file is available for consumption.
                          archiveBaseUrl:
                            type: string
                            description: "Video archive streaming base URL. The archived\
                              \ content can be automatically played by the Azure Video\
                              \ Analyzer player widget. Alternatively, this URL can\
                              \ be used in conjunction with the video content authorization\
                              \ token on any compatible DASH or HLS players by appending\
                              \ the following to the base URL:\r\n\r\n    - HLSv4:\
                              \     /manifest(format=m3u8-aapl).m3u8\r\n    - HLS\
                              \ CMAF:  /manifest(format=m3u8-cmaf)\r\n    - DASH CMAF:\
                              \ /manifest(format=mpd-time-cmaf)\r\n\r\n    Moreover,\
                              \ an ongoing video recording can be played in \"live\
                              \ mode\" with latencies which are approximately double\
                              \ of the chosen video segment length. It is available\
                              \ when the video type is 'archive' and video archiving\
                              \ is enabled."
                          rtspTunnelUrl:
                            type: string
                            description: Video low-latency streaming URL. The live
                              content can be automatically played by the Azure Video
                              Analyzer player widget. Alternatively, this URL can
                              be used in conjunction with the video content authorization
                              token to expose a WebSocket tunneled RTSP stream. It
                              is available when the video type is 'archive' and a
                              live, low-latency feed is available from the source.
                          previewImageUrls:
                            description: Video preview image URLs. These URLs can
                              be used in conjunction with the video content authorization
                              token to download the most recent still image from the
                              video archive in different resolutions. They are available
                              when the video type is 'archive' and preview images
                              are enabled.
                            properties:
                              small:
                                type: string
                                description: Low resolution preview image URL.
                              medium:
                                type: string
                                description: Medium resolution preview image URL.
                              large:
                                type: string
                                description: High resolution preview image URL.
                            type: object
                        type: object
                      mediaInfo:
                        description: Contains information about the video and audio
                          content.
                        properties:
                          segmentLength:
                            type: string
                            description: Video segment length indicates the length
                              of individual video files (segments) which are persisted
                              to storage. Smaller segments provide lower archive playback
                              latency but generate larger volume of storage transactions.
                              Larger segments reduce the amount of storage transactions
                              while increasing the archive playback latency. Value
                              must be specified in ISO8601 duration format (i.e. "PT30S"
                              equals 30 seconds) and can vary between 30 seconds to
                              5 minutes, in 30 seconds increments.
                        type: object
                      archival:
                        description: Video archival properties.
                        properties:
                          retentionPeriod:
                            type: string
                            description: Video retention period indicates the maximum
                              age of the video archive segments which are intended
                              to be kept in storage. It must be provided in the ISO8601
                              duration format in the granularity of days, up to a
                              maximum of 10 years. For example, if this is set to
                              P30D (30 days), content older than 30 days will be periodically
                              deleted. This value can be updated at any time and the
                              new desired retention period will be effective within
                              24 hours.
                        type: object
                    type: object
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Detailed error information.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        description: The Azure Video Analyzer account name.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: videoName
        in: path
        required: true
        description: The Video name.
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  description: The resource properties.
                  x-ms-client-flatten: true
                  properties:
                    title:
                      type: string
                      description: Optional video title provided by the user. Value
                        can be up to 256 characters long.
                    description:
                      type: string
                      description: Optional video description provided by the user.
                        Value can be up to 2048 characters long.
                    type:
                      type: string
                      enum:
                      - Archive
                      - File
                      x-ms-enum:
                        name: VideoType
                        values:
                        - value: Archive
                          description: Archive is flexible format that represents
                            a video stream associated with wall-clock time. The video
                            archive can either be continuous or discontinuous. An
                            archive is discontinuous when there are gaps in the recording
                            due to various reasons, such as the live pipeline being
                            stopped, camera being disconnected or due to the use of
                            event based recordings through the use of a signal gate.
                            There is no limit to the archive duration and new video
                            data can be appended to the existing archive at any time,
                            as long as the same video codec and codec parameters are
                            being used. Videos of this type are suitable for appending
                            and long term archival.
                        - value: File
                          description: File represents a video which is stored as
                            a single media file, such as MP4. Videos of this type
                            are suitable to be downloaded for external consumption.
                        modelAsString: true
                      description: Video content type. Different content types are
                        suitable for different applications and scenarios.
                      readOnly: true
                      nullable: false
                    flags:
                      description: Video flags contain information about the available
                        video actions and its dynamic properties based on the current
                        video state.
                      readOnly: true
                      properties:
                        canStream:
                          type: boolean
                          description: Value indicating whether or not the video can
                            be streamed. Only "archive" type videos can be streamed.
                        hasData:
                          type: boolean
                          description: Value indicating whether or not there has ever
                            been data recorded or uploaded into the video. Newly created
                            videos have this value set to false.
                        isInUse:
                          type: boolean
                          description: Value indicating whether or not the video is
                            currently being referenced be an active pipeline. The
                            fact that is being referenced, doesn't necessarily indicate
                            that data is being received. For example, video recording
                            may be gated on events or camera may not be accessible
                            at the time.
                      type: object
                      required:
                      - canStream
                      - hasData
                      - isInUse
                    contentUrls:
                      description: Set of URLs to the video content.
                      readOnly: true
                      properties:
                        downloadUrl:
                          type: string
                          description: Video file download URL. This URL can be used
                            in conjunction with the video content authorization token
                            to download the video MP4 file. The resulting MP4 file
                            can be played on any standard media player. It is available
                            when the video type is 'file' and video file is available
                            for consumption.
                        archiveBaseUrl:
                          type: string
                          description: "Video archive streaming base URL. The archived\
                            \ content can be automatically played by the Azure Video\
                            \ Analyzer player widget. Alternatively, this URL can\
                            \ be used in conjunction with the video content authorization\
                            \ token on any compatible DASH or HLS players by appending\
                            \ the following to the base URL:\r\n\r\n    - HLSv4: \
                            \    /manifest(format=m3u8-aapl).m3u8\r\n    - HLS CMAF:\
                            \  /manifest(format=m3u8-cmaf)\r\n    - DASH CMAF: /manifest(format=mpd-time-cmaf)\r\
                            \n\r\n    Moreover, an ongoing video recording can be\
                            \ played in \"live mode\" with latencies which are approximately\
                            \ double of the chosen video segment length. It is available\
                            \ when the video type is 'archive' and video archiving\
                            \ is enabled."
                        rtspTunnelUrl:
                          type: string
                          description: Video low-latency streaming URL. The live content
                            can be automatically played by the Azure Video Analyzer
                            player widget. Alternatively, this URL can be used in
                            conjunction with the video content authorization token
                            to expose a WebSocket tunneled RTSP stream. It is available
                            when the video type is 'archive' and a live, low-latency
                            feed is available from the source.
                        previewImageUrls:
                          description: Video preview image URLs. These URLs can be
                            used in conjunction with the video content authorization
                            token to download the most recent still image from the
                            video archive in different resolutions. They are available
                            when the video type is 'archive' and preview images are
                            enabled.
                          properties:
                            small:
                              type: string
                              description: Low resolution preview image URL.
                            medium:
                              type: string
                              description: Medium resolution preview image URL.
                            large:
                              type: string
                              description: High resolution preview image URL.
                          type: object
                      type: object
                    mediaInfo:
                      description: Contains information about the video and audio
                        content.
                      properties:
                        segmentLength:
                          type: string
                          description: Video segment length indicates the length of
                            individual video files (segments) which are persisted
                            to storage. Smaller segments provide lower archive playback
                            latency but generate larger volume of storage transactions.
                            Larger segments reduce the amount of storage transactions
                            while increasing the archive playback latency. Value must
                            be specified in ISO8601 duration format (i.e. "PT30S"
                            equals 30 seconds) and can vary between 30 seconds to
                            5 minutes, in 30 seconds increments.
                      type: object
                    archival:
                      description: Video archival properties.
                      properties:
                        retentionPeriod:
                          type: string
                          description: Video retention period indicates the maximum
                            age of the video archive segments which are intended to
                            be kept in storage. It must be provided in the ISO8601
                            duration format in the granularity of days, up to a maximum
                            of 10 years. For example, if this is set to P30D (30 days),
                            content older than 30 days will be periodically deleted.
                            This value can be updated at any time and the new desired
                            retention period will be effective within 24 hours.
                      type: object
                  type: object
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: The request parameters
        required: true
    delete:
      summary: Deletes an existing video resource and its underlying data.
      description: Deletes an existing video resource and its underlying data. This
        operation is irreversible.
      operationId: Videos_Delete
      responses:
        '200':
          description: OK
        '204':
          description: NoContent
        default:
          description: Detailed error information.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        description: The Azure Video Analyzer account name.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: videoName
        in: path
        required: true
        description: The Video name.
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
    patch:
      summary: Updates individual properties of an existing video resource.
      description: Updates individual properties of an existing video resource with
        the given name.
      operationId: Videos_Update
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The resource properties.
                    x-ms-client-flatten: true
                    properties:
                      title:
                        type: string
                        description: Optional video title provided by the user. Value
                          can be up to 256 characters long.
                      description:
                        type: string
                        description: Optional video description provided by the user.
                          Value can be up to 2048 characters long.
                      type:
                        type: string
                        enum:
                        - Archive
                        - File
                        x-ms-enum:
                          name: VideoType
                          values:
                          - value: Archive
                            description: Archive is flexible format that represents
                              a video stream associated with wall-clock time. The
                              video archive can either be continuous or discontinuous.
                              An archive is discontinuous when there are gaps in the
                              recording due to various reasons, such as the live pipeline
                              being stopped, camera being disconnected or due to the
                              use of event based recordings through the use of a signal
                              gate. There is no limit to the archive duration and
                              new video data can be appended to the existing archive
                              at any time, as long as the same video codec and codec
                              parameters are being used. Videos of this type are suitable
                              for appending and long term archival.
                          - value: File
                            description: File represents a video which is stored as
                              a single media file, such as MP4. Videos of this type
                              are suitable to be downloaded for external consumption.
                          modelAsString: true
                        description: Video content type. Different content types are
                          suitable for different applications and scenarios.
                        readOnly: true
                        nullable: false
                      flags:
                        description: Video flags contain information about the available
                          video actions and its dynamic properties based on the current
                          video state.
                        readOnly: true
                        properties:
                          canStream:
                            type: boolean
                            description: Value indicating whether or not the video
                              can be streamed. Only "archive" type videos can be streamed.
                          hasData:
                            type: boolean
                            description: Value indicating whether or not there has
                              ever been data recorded or uploaded into the video.
                              Newly created videos have this value set to false.
                          isInUse:
                            type: boolean
                            description: Value indicating whether or not the video
                              is currently being referenced be an active pipeline.
                              The fact that is being referenced, doesn't necessarily
                              indicate that data is being received. For example, video
                              recording may be gated on events or camera may not be
                              accessible at the time.
                        type: object
                        required:
                        - canStream
                        - hasData
                        - isInUse
                      contentUrls:
                        description: Set of URLs to the video content.
                        readOnly: true
                        properties:
                          downloadUrl:
                            type: string
                            description: Video file download URL. This URL can be
[...]
