openapi: 3.0.0
info:
  title: Azure Video Analyzer
  description: Azure Video Analyzer resource provider API definition.
  version: 2021-11-01-preview
servers:
- url: https://management.azure.com
paths:
  /providers/Microsoft.Media/operations:
    get:
      summary: List Operations
      description: Lists all the Media operations.
      operationId: Operations_List
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          description: The operation name.
                        display:
                          description: The operation display name.
                          properties:
                            provider:
                              type: string
                              description: The service provider.
                            resource:
                              type: string
                              description: Resource on which the operation is performed.
                            operation:
                              type: string
                              description: The operation type.
                            description:
                              type: string
                              description: The operation description.
                          type: object
                        origin:
                          type: string
                          description: Origin of the operation.
                        properties:
                          description: Operation properties format.
                          properties:
                            serviceSpecification:
                              description: The service specifications.
                              readOnly: true
                              properties:
                                logSpecifications:
                                  type: array
                                  items:
                                    properties:
                                      name:
                                        type: string
                                        description: The diagnostic log category name.
                                        readOnly: true
                                      displayName:
                                        type: string
                                        description: The diagnostic log category display
                                          name.
                                        readOnly: true
                                      blobDuration:
                                        type: string
                                        description: The time range for requests in
                                          each blob.
                                        readOnly: true
                                    type: object
                                    description: A diagnostic log emitted by service.
                                  x-ms-identifiers:
                                  - blobDuration
                                  - name
                                  description: List of log specifications.
                                  readOnly: true
                                metricSpecifications:
                                  type: array
                                  items:
                                    properties:
                                      name:
                                        type: string
                                        description: The metric name.
                                        readOnly: true
                                      displayName:
                                        type: string
                                        description: The metric display name.
                                        readOnly: true
                                      displayDescription:
                                        type: string
                                        description: The metric display description.
                                        readOnly: true
                                      unit:
                                        type: string
                                        enum:
                                        - Bytes
                                        - Count
                                        - Milliseconds
                                        x-ms-enum:
                                          name: MetricUnit
                                          values:
                                          - value: Bytes
                                            description: The number of bytes.
                                          - value: Count
                                            description: The count.
                                          - value: Milliseconds
                                            description: The number of milliseconds.
                                          modelAsString: true
                                        description: The metric unit
                                        readOnly: true
                                        nullable: false
                                      aggregationType:
                                        type: string
                                        enum:
                                        - Average
                                        - Count
                                        - Total
                                        x-ms-enum:
                                          name: MetricAggregationType
                                          values:
                                          - value: Average
                                            description: The average.
                                          - value: Count
                                            description: The count of a number of
                                              items, usually requests.
                                          - value: Total
                                            description: The sum.
                                          modelAsString: true
                                        description: The metric aggregation type
                                        readOnly: true
                                        nullable: false
                                      lockAggregationType:
                                        type: string
                                        enum:
                                        - Average
                                        - Count
                                        - Total
                                        x-ms-enum:
                                          name: MetricAggregationType
                                          values:
                                          - value: Average
                                            description: The average.
                                          - value: Count
                                            description: The count of a number of
                                              items, usually requests.
                                          - value: Total
                                            description: The sum.
                                          modelAsString: true
                                        description: The metric lock aggregation type
                                        readOnly: true
                                        nullable: true
                                      supportedAggregationTypes:
                                        type: array
                                        items:
                                          type: string
                                        description: Supported aggregation types.
                                      dimensions:
                                        type: array
                                        items:
                                          properties:
                                            name:
                                              type: string
                                              description: The metric dimension name.
                                              readOnly: true
                                            displayName:
                                              type: string
                                              description: The display name for the
                                                dimension.
                                              readOnly: true
                                            toBeExportedForShoebox:
                                              type: boolean
                                              description: Whether to export metric
                                                to shoebox.
                                              readOnly: true
                                              nullable: false
                                          type: object
                                          description: A metric dimension.
                                        x-ms-identifiers:
                                        - name
                                        description: The metric dimensions.
                                        readOnly: true
                                      enableRegionalMdmAccount:
                                        type: boolean
                                        description: Indicates whether regional MDM
                                          account is enabled.
                                        readOnly: true
                                        nullable: false
                                      sourceMdmAccount:
                                        type: string
                                        description: The source MDM account.
                                        readOnly: true
                                      sourceMdmNamespace:
                                        type: string
                                        description: The source MDM namespace.
                                        readOnly: true
                                      supportedTimeGrainTypes:
                                        type: array
                                        items:
                                          type: string
                                        description: The supported time grain types.
                                        readOnly: true
                                    type: object
                                    description: A metric emitted by service.
                                  x-ms-identifiers:
                                  - name
                                  - unit
                                  description: List of metric specifications.
                                  readOnly: true
                              type: object
                          type: object
                        isDataAction:
                          type: boolean
                          description: Whether the operation applies to data-plane.
                          nullable: true
                        actionType:
                          type: string
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            values:
                            - value: Internal
                              description: An internal action.
                            modelAsString: true
                          description: Indicates the action type.
                          nullable: true
                      type: object
                      required:
                      - name
                      description: An operation.
                    x-ms-identifiers:
                    - name
                    description: A collection of Operation items.
                type: object
                description: A collection of Operation items.
        default:
          description: Detailed error information.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/videoAnalyzers:
    get:
      summary: List Video Analyzer accounts
      description: Lists the Video Analyzer accounts in the specified resource group.
      operationId: VideoAnalyzers_List
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource properties.
                          x-ms-client-flatten: true
                          properties:
                            storageAccounts:
                              type: array
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: The ID of the storage account resource.
                                      Video Analyzer relies on tables, queues, and
                                      blobs. The primary storage account must be a
                                      Standard Storage account (either Microsoft.ClassicStorage
                                      or Microsoft.Storage).
                                  identity:
                                    description: A managed identity that Video Analyzer
                                      will use to access the storage account.
                                    properties:
                                      userAssignedIdentity:
                                        type: string
                                        description: The user assigned managed identity's
                                          resource identifier to use when accessing
                                          a resource.
                                    type: object
                                    required:
                                    - userAssignedIdentity
                                  status:
                                    type: string
                                    description: The current status of the storage
                                      account mapping.
                                    readOnly: true
                                type: object
                                required:
                                - id
                                description: The details about the associated storage
                                  account.
                              description: The storage accounts for this resource.
                            endpoints:
                              type: array
                              items:
                                properties:
                                  endpointUrl:
                                    type: string
                                    description: The URL of the endpoint.
                                  type:
                                    type: string
                                    enum:
                                    - ClientApi
                                    x-ms-enum:
                                      name: VideoAnalyzerEndpointType
                                      values:
                                      - value: ClientApi
                                        description: The client API endpoint.
                                      modelAsString: true
                                    description: The type of the endpoint.
                                type: object
                                required:
                                - type
                                description: The endpoint details.
                              x-ms-identifiers:
                              - endpointUrl
                              description: The endpoints associated with this resource.
                              readOnly: true
                            encryption:
                              description: The account encryption properties.
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - SystemKey
                                  - CustomerKey
                                  x-ms-enum:
                                    name: AccountEncryptionKeyType
                                    values:
                                    - value: SystemKey
                                      description: The Account Key is encrypted with
                                        a System Key.
                                    - value: CustomerKey
                                      description: The Account Key is encrypted with
                                        a Customer Key.
                                    modelAsString: true
                                  description: The type of key used to encrypt the
                                    Account Key.
                                keyVaultProperties:
                                  description: The properties of the key used to encrypt
                                    the account.
                                  properties:
                                    keyIdentifier:
                                      type: string
                                      description: The URL of the Key Vault key used
                                        to encrypt the account. The key may either
                                        be versioned (for example https://vault/keys/mykey/version1)
                                        or reference a key without a version (for
                                        example https://vault/keys/mykey).
                                    currentKeyIdentifier:
                                      type: string
                                      description: The current key used to encrypt
                                        Video Analyzer account, including the key
                                        version.
                                      readOnly: true
                                  type: object
                                  required:
                                  - keyIdentifier
                                identity:
                                  description: The Key Vault identity.
                                  properties:
                                    userAssignedIdentity:
                                      type: string
                                      description: The user assigned managed identity's
                                        resource identifier to use when accessing
                                        a resource.
                                  type: object
                                  required:
                                  - userAssignedIdentity
                                status:
                                  type: string
                                  description: The current status of the Key Vault
                                    mapping.
                                  readOnly: true
                              type: object
                              required:
                              - type
                            iotHubs:
                              type: array
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: The IoT Hub resource identifier.
                                  identity:
                                    description: The IoT Hub identity.
                                    properties:
                                      userAssignedIdentity:
                                        type: string
                                        description: The user assigned managed identity's
                                          resource identifier to use when accessing
                                          a resource.
                                    type: object
                                    required:
                                    - userAssignedIdentity
                                  status:
                                    type: string
                                    description: The current status of the Iot Hub
                                      mapping.
                                    readOnly: true
                                type: object
                                required:
                                - id
                                - identity
                                description: The IoT Hub details.
                              description: The IoT Hubs for this resource.
                            publicNetworkAccess:
                              type: string
                              enum:
                              - Enabled
                              - Disabled
                              x-ms-enum:
                                name: PublicNetworkAccess
                                values:
                                - value: Enabled
                                  description: Public network access is enabled.
                                - value: Disabled
                                  description: Public network access is disabled.
                                modelAsString: true
                              description: Whether or not public network access is
                                allowed for resources under the Video Analyzer account.
                              nullable: true
                            networkAccessControl:
                              description: Network access control for Video Analyzer.
                              properties:
                                integration:
                                  description: Public network access for integration
                                    group.
                                  properties:
                                    publicNetworkAccess:
                                      type: string
                                      enum:
                                      - Enabled
                                      - Disabled
                                      x-ms-enum:
                                        name: PublicNetworkAccess
                                        values:
                                        - value: Enabled
                                          description: Public network access is enabled.
                                        - value: Disabled
                                          description: Public network access is disabled.
                                        modelAsString: true
                                      description: Whether or not public network access
                                        is allowed for specified resources under the
                                        Video Analyzer account.
                                      nullable: true
                                  type: object
                                  nullable: true
                                ingestion:
                                  description: Public network access for ingestion
                                    group.
                                  properties:
                                    publicNetworkAccess:
                                      type: string
                                      enum:
                                      - Enabled
                                      - Disabled
                                      x-ms-enum:
                                        name: PublicNetworkAccess
                                        values:
                                        - value: Enabled
                                          description: Public network access is enabled.
                                        - value: Disabled
                                          description: Public network access is disabled.
                                        modelAsString: true
                                      description: Whether or not public network access
                                        is allowed for specified resources under the
                                        Video Analyzer account.
                                      nullable: true
                                  type: object
                                  nullable: true
                                consumption:
                                  description: Public network access for consumption
                                    group.
                                  properties:
                                    publicNetworkAccess:
                                      type: string
                                      enum:
                                      - Enabled
                                      - Disabled
                                      x-ms-enum:
                                        name: PublicNetworkAccess
                                        values:
                                        - value: Enabled
                                          description: Public network access is enabled.
                                        - value: Disabled
                                          description: Public network access is disabled.
                                        modelAsString: true
                                      description: Whether or not public network access
                                        is allowed for specified resources under the
                                        Video Analyzer account.
                                      nullable: true
                                  type: object
                                  nullable: true
                              type: object
                              nullable: true
                            provisioningState:
                              type: string
                              enum:
                              - Failed
                              - InProgress
                              - Succeeded
                              x-ms-enum:
                                name: ProvisioningState
                                values:
                                - value: Failed
                                  description: Provisioning state failed.
                                - value: InProgress
                                  description: Provisioning state in progress.
                                - value: Succeeded
                                  description: Provisioning state succeeded.
                                modelAsString: true
                              description: Provisioning state of the Video Analyzer
                                account.
                              readOnly: true
                              nullable: false
                            privateEndpointConnections:
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Fully qualified resource ID for the
                                      resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                                    readOnly: true
                                  name:
                                    type: string
                                    description: The name of the resource
                                    readOnly: true
                                  type:
                                    type: string
                                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                      or "Microsoft.Storage/storageAccounts"
                                    readOnly: true
                                  systemData:
                                    type: object
                                    description: Azure Resource Manager metadata containing
                                      createdBy and modifiedBy information.
                                    readOnly: true
                                    properties:
                                      createdBy:
                                        type: string
                                        description: The identity that created the
                                          resource.
                                      createdByType:
                                        type: string
                                        description: The type of identity that created
                                          the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      createdAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource creation
                                          (UTC).
                                      lastModifiedBy:
                                        type: string
                                        description: The identity that last modified
                                          the resource.
                                      lastModifiedByType:
                                        type: string
                                        description: The type of identity that last
                                          modified the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      lastModifiedAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource last
                                          modification (UTC)
                                  properties:
                                    description: Resource properties.
                                    x-ms-client-flatten: true
                                    type: object
                                    properties:
                                      privateEndpoint:
                                        description: The resource of private end point.
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                            description: The ARM identifier for Private
                                              Endpoint
                                            readOnly: true
                                      privateLinkServiceConnectionState:
                                        description: A collection of information about
                                          the state of the connection between service
                                          consumer and provider.
                                        type: object
                                        properties:
                                          status:
                                            description: Indicates whether the connection
                                              has been Approved/Rejected/Removed by
                                              the owner of the service.
                                            type: string
                                            enum:
                                            - Pending
                                            - Approved
                                            - Rejected
                                            x-ms-enum:
                                              name: PrivateEndpointServiceConnectionStatus
                                              modelAsString: true
                                          description:
                                            type: string
                                            description: The reason for approval/rejection
                                              of the connection.
                                          actionsRequired:
                                            type: string
                                            description: A message indicating if changes
                                              on the service provider require any
                                              updates on the consumer.
                                      provisioningState:
                                        description: The provisioning state of the
                                          private endpoint connection resource.
                                        type: string
                                        enum:
                                        - Succeeded
                                        - Creating
                                        - Deleting
                                        - Failed
                                        x-ms-enum:
                                          name: PrivateEndpointConnectionProvisioningState
                                          modelAsString: true
                                        readOnly: true
                                    required:
                                    - privateLinkServiceConnectionState
                                title: Resource
                                description: Common fields that are returned in the
                                  response for all Azure Resource Manager resources
                                x-ms-azure-resource: true
                              type: array
                              description: Private Endpoint Connections created under
                                Video Analyzer account.
                              readOnly: true
                          type: object
                          required:
                          - storageAccounts
                        identity:
                          description: The identities associated to the Video Analyzer
                            resource.
                          properties:
                            type:
                              type: string
                              description: The identity type.
                            userAssignedIdentities:
                              description: The User Assigned Managed Identities.
                              type: object
                              additionalProperties:
                                properties:
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID.
                                    readOnly: true
                                    nullable: true
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID.
                                    readOnly: true
                                    nullable: true
                                type: object
                                description: The details of the user assigned managed
                                  identity used by the Video Analyzer resource.
                          type: object
                          required:
                          - type
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: A collection of VideoAnalyzer items.
                type: object
                description: A collection of VideoAnalyzer items.
        default:
          description: Detailed error information.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/videoAnalyzers/{accountName}:
    get:
      summary: Get a Video Analyzer account
      description: Get the details of the specified Video Analyzer account
      operationId: VideoAnalyzers_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource properties.
                    x-ms-client-flatten: true
                    properties:
                      storageAccounts:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: The ID of the storage account resource.
                                Video Analyzer relies on tables, queues, and blobs.
                                The primary storage account must be a Standard Storage
                                account (either Microsoft.ClassicStorage or Microsoft.Storage).
                            identity:
                              description: A managed identity that Video Analyzer
                                will use to access the storage account.
                              properties:
                                userAssignedIdentity:
                                  type: string
                                  description: The user assigned managed identity's
                                    resource identifier to use when accessing a resource.
                              type: object
                              required:
                              - userAssignedIdentity
                            status:
                              type: string
                              description: The current status of the storage account
                                mapping.
                              readOnly: true
                          type: object
                          required:
                          - id
                          description: The details about the associated storage account.
                        description: The storage accounts for this resource.
                      endpoints:
                        type: array
                        items:
                          properties:
                            endpointUrl:
                              type: string
                              description: The URL of the endpoint.
                            type:
                              type: string
                              enum:
                              - ClientApi
                              x-ms-enum:
                                name: VideoAnalyzerEndpointType
                                values:
                                - value: ClientApi
                                  description: The client API endpoint.
                                modelAsString: true
                              description: The type of the endpoint.
                          type: object
                          required:
                          - type
                          description: The endpoint details.
                        x-ms-identifiers:
                        - endpointUrl
                        description: The endpoints associated with this resource.
                        readOnly: true
                      encryption:
                        description: The account encryption properties.
                        properties:
                          type:
                            type: string
                            enum:
                            - SystemKey
                            - CustomerKey
                            x-ms-enum:
                              name: AccountEncryptionKeyType
                              values:
                              - value: SystemKey
                                description: The Account Key is encrypted with a System
                                  Key.
                              - value: CustomerKey
                                description: The Account Key is encrypted with a Customer
                                  Key.
                              modelAsString: true
                            description: The type of key used to encrypt the Account
                              Key.
                          keyVaultProperties:
                            description: The properties of the key used to encrypt
                              the account.
                            properties:
                              keyIdentifier:
                                type: string
                                description: The URL of the Key Vault key used to
                                  encrypt the account. The key may either be versioned
                                  (for example https://vault/keys/mykey/version1)
                                  or reference a key without a version (for example
                                  https://vault/keys/mykey).
                              currentKeyIdentifier:
                                type: string
                                description: The current key used to encrypt Video
                                  Analyzer account, including the key version.
                                readOnly: true
                            type: object
                            required:
                            - keyIdentifier
                          identity:
                            description: The Key Vault identity.
                            properties:
                              userAssignedIdentity:
                                type: string
                                description: The user assigned managed identity's
                                  resource identifier to use when accessing a resource.
                            type: object
                            required:
                            - userAssignedIdentity
                          status:
                            type: string
                            description: The current status of the Key Vault mapping.
                            readOnly: true
                        type: object
                        required:
                        - type
                      iotHubs:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: The IoT Hub resource identifier.
                            identity:
                              description: The IoT Hub identity.
                              properties:
                                userAssignedIdentity:
                                  type: string
                                  description: The user assigned managed identity's
                                    resource identifier to use when accessing a resource.
                              type: object
                              required:
                              - userAssignedIdentity
                            status:
                              type: string
                              description: The current status of the Iot Hub mapping.
                              readOnly: true
                          type: object
                          required:
                          - id
                          - identity
                          description: The IoT Hub details.
                        description: The IoT Hubs for this resource.
                      publicNetworkAccess:
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: PublicNetworkAccess
                          values:
                          - value: Enabled
                            description: Public network access is enabled.
                          - value: Disabled
                            description: Public network access is disabled.
                          modelAsString: true
                        description: Whether or not public network access is allowed
                          for resources under the Video Analyzer account.
                        nullable: true
                      networkAccessControl:
                        description: Network access control for Video Analyzer.
                        properties:
                          integration:
                            description: Public network access for integration group.
                            properties:
                              publicNetworkAccess:
                                type: string
                                enum:
                                - Enabled
                                - Disabled
                                x-ms-enum:
                                  name: PublicNetworkAccess
                                  values:
                                  - value: Enabled
                                    description: Public network access is enabled.
                                  - value: Disabled
                                    description: Public network access is disabled.
                                  modelAsString: true
                                description: Whether or not public network access
                                  is allowed for specified resources under the Video
                                  Analyzer account.
                                nullable: true
                            type: object
                            nullable: true
                          ingestion:
                            description: Public network access for ingestion group.
                            properties:
                              publicNetworkAccess:
                                type: string
                                enum:
                                - Enabled
                                - Disabled
                                x-ms-enum:
                                  name: PublicNetworkAccess
                                  values:
                                  - value: Enabled
                                    description: Public network access is enabled.
                                  - value: Disabled
                                    description: Public network access is disabled.
                                  modelAsString: true
                                description: Whether or not public network access
                                  is allowed for specified resources under the Video
                                  Analyzer account.
                                nullable: true
                            type: object
                            nullable: true
                          consumption:
                            description: Public network access for consumption group.
                            properties:
                              publicNetworkAccess:
                                type: string
                                enum:
                                - Enabled
                                - Disabled
                                x-ms-enum:
                                  name: PublicNetworkAccess
                                  values:
                                  - value: Enabled
                                    description: Public network access is enabled.
                                  - value: Disabled
                                    description: Public network access is disabled.
                                  modelAsString: true
                                description: Whether or not public network access
                                  is allowed for specified resources under the Video
                                  Analyzer account.
                                nullable: true
                            type: object
                            nullable: true
                        type: object
                        nullable: true
                      provisioningState:
                        type: string
                        enum:
                        - Failed
                        - InProgress
                        - Succeeded
                        x-ms-enum:
                          name: ProvisioningState
                          values:
                          - value: Failed
                            description: Provisioning state failed.
                          - value: InProgress
                            description: Provisioning state in progress.
                          - value: Succeeded
                            description: Provisioning state succeeded.
                          modelAsString: true
                        description: Provisioning state of the Video Analyzer account.
                        readOnly: true
                        nullable: false
                      privateEndpointConnections:
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Fully qualified resource ID for the resource.
                                Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                              readOnly: true
                            name:
                              type: string
                              description: The name of the resource
                              readOnly: true
                            type:
                              type: string
                              description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                or "Microsoft.Storage/storageAccounts"
                              readOnly: true
                            systemData:
                              type: object
                              description: Azure Resource Manager metadata containing
                                createdBy and modifiedBy information.
                              readOnly: true
                              properties:
                                createdBy:
                                  type: string
                                  description: The identity that created the resource.
                                createdByType:
                                  type: string
                                  description: The type of identity that created the
                                    resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                createdAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource creation
                                    (UTC).
                                lastModifiedBy:
                                  type: string
                                  description: The identity that last modified the
                                    resource.
                                lastModifiedByType:
                                  type: string
                                  description: The type of identity that last modified
                                    the resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                lastModifiedAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource last modification
                                    (UTC)
                            properties:
                              description: Resource properties.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                privateEndpoint:
                                  description: The resource of private end point.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: The ARM identifier for Private
                                        Endpoint
                                      readOnly: true
                                privateLinkServiceConnectionState:
                                  description: A collection of information about the
                                    state of the connection between service consumer
                                    and provider.
                                  type: object
                                  properties:
                                    status:
                                      description: Indicates whether the connection
                                        has been Approved/Rejected/Removed by the
                                        owner of the service.
                                      type: string
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      x-ms-enum:
                                        name: PrivateEndpointServiceConnectionStatus
                                        modelAsString: true
                                    description:
                                      type: string
                                      description: The reason for approval/rejection
                                        of the connection.
                                    actionsRequired:
                                      type: string
                                      description: A message indicating if changes
                                        on the service provider require any updates
                                        on the consumer.
                                provisioningState:
                                  description: The provisioning state of the private
                                    endpoint connection resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Creating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: PrivateEndpointConnectionProvisioningState
                                    modelAsString: true
                                  readOnly: true
                              required:
                              - privateLinkServiceConnectionState
                          title: Resource
                          description: Common fields that are returned in the response
                            for all Azure Resource Manager resources
                          x-ms-azure-resource: true
                        type: array
                        description: Private Endpoint Connections created under Video
                          Analyzer account.
                        readOnly: true
                    type: object
                    required:
                    - storageAccounts
                  identity:
                    description: The identities associated to the Video Analyzer resource.
                    properties:
                      type:
                        type: string
                        description: The identity type.
                      userAssignedIdentities:
                        description: The User Assigned Managed Identities.
                        type: object
                        additionalProperties:
                          properties:
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID.
                              readOnly: true
                              nullable: true
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID.
                              readOnly: true
                              nullable: true
                          type: object
                          description: The details of the user assigned managed identity
                            used by the Video Analyzer resource.
                    type: object
                    required:
                    - type
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Detailed error information.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        description: The Video Analyzer account name.
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
    put:
      summary: Create or update a Video Analyzer account
      description: Create or update an instance of a Video Analyzer account
      operationId: VideoAnalyzers_CreateOrUpdate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource properties.
                    x-ms-client-flatten: true
                    properties:
                      storageAccounts:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: The ID of the storage account resource.
                                Video Analyzer relies on tables, queues, and blobs.
                                The primary storage account must be a Standard Storage
                                account (either Microsoft.ClassicStorage or Microsoft.Storage).
                            identity:
                              description: A managed identity that Video Analyzer
                                will use to access the storage account.
                              properties:
                                userAssignedIdentity:
                                  type: string
                                  description: The user assigned managed identity's
                                    resource identifier to use when accessing a resource.
                              type: object
                              required:
                              - userAssignedIdentity
                            status:
                              type: string
                              description: The current status of the storage account
                                mapping.
                              readOnly: true
                          type: object
                          required:
                          - id
                          description: The details about the associated storage account.
                        description: The storage accounts for this resource.
                      endpoints:
                        type: array
                        items:
                          properties:
                            endpointUrl:
                              type: string
                              description: The URL of the endpoint.
                            type:
                              type: string
                              enum:
                              - ClientApi
                              x-ms-enum:
                                name: VideoAnalyzerEndpointType
                                values:
                                - value: ClientApi
                                  description: The client API endpoint.
                                modelAsString: true
                              description: The type of the endpoint.
                          type: object
                          required:
                          - type
                          description: The endpoint details.
                        x-ms-identifiers:
                        - endpointUrl
                        description: The endpoints associated with this resource.
                        readOnly: true
                      encryption:
                        description: The account encryption properties.
                        properties:
                          type:
                            type: string
                            enum:
                            - SystemKey
                            - CustomerKey
                            x-ms-enum:
                              name: AccountEncryptionKeyType
                              values:
                              - value: SystemKey
                                description: The Account Key is encrypted with a System
                                  Key.
                              - value: CustomerKey
                                description: The Account Key is encrypted with a Customer
                                  Key.
                              modelAsString: true
                            description: The type of key used to encrypt the Account
                              Key.
                          keyVaultProperties:
                            description: The properties of the key used to encrypt
                              the account.
                            properties:
                              keyIdentifier:
                                type: string
                                description: The URL of the Key Vault key used to
                                  encrypt the account. The key may either be versioned
                                  (for example https://vault/keys/mykey/version1)
                                  or reference a key without a version (for example
                                  https://vault/keys/mykey).
                              currentKeyIdentifier:
                                type: string
                                description: The current key used to encrypt Video
                                  Analyzer account, including the key version.
                                readOnly: true
                            type: object
                            required:
                            - keyIdentifier
                          identity:
                            description: The Key Vault identity.
                            properties:
                              userAssignedIdentity:
                                type: string
                                description: The user assigned managed identity's
                                  resource identifier to use when accessing a resource.
                            type: object
                            required:
                            - userAssignedIdentity
                          status:
                            type: string
                            description: The current status of the Key Vault mapping.
                            readOnly: true
                        type: object
                        required:
                        - type
                      iotHubs:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: The IoT Hub resource identifier.
                            identity:
                              description: The IoT Hub identity.
                              properties:
                                userAssignedIdentity:
                                  type: string
                                  description: The user assigned managed identity's
                                    resource identifier to use when accessing a resource.
                              type: object
                              required:
                              - userAssignedIdentity
                            status:
                              type: string
                              description: The current status of the Iot Hub mapping.
                              readOnly: true
                          type: object
                          required:
                          - id
                          - identity
                          description: The IoT Hub details.
                        description: The IoT Hubs for this resource.
                      publicNetworkAccess:
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: PublicNetworkAccess
                          values:
                          - value: Enabled
                            description: Public network access is enabled.
                          - value: Disabled
                            description: Public network access is disabled.
                          modelAsString: true
                        description: Whether or not public network access is allowed
                          for resources under the Video Analyzer account.
                        nullable: true
                      networkAccessControl:
                        description: Network access control for Video Analyzer.
                        properties:
                          integration:
                            description: Public network access for integration group.
                            properties:
                              publicNetworkAccess:
                                type: string
                                enum:
                                - Enabled
                                - Disabled
                                x-ms-enum:
                                  name: PublicNetworkAccess
                                  values:
                                  - value: Enabled
                                    description: Public network access is enabled.
                                  - value: Disabled
                                    description: Public network access is disabled.
                                  modelAsString: true
                                description: Whether or not public network access
                                  is allowed for specified resources under the Video
                                  Analyzer account.
                                nullable: true
                            type: object
                            nullable: true
                          ingestion:
                            description: Public network access for ingestion group.
                            properties:
                              publicNetworkAccess:
                                type: string
                                enum:
                                - Enabled
                                - Disabled
                                x-ms-enum:
                                  name: PublicNetworkAccess
                                  values:
                                  - value: Enabled
                                    description: Public network access is enabled.
                                  - value: Disabled
                                    description: Public network access is disabled.
                                  modelAsString: true
                                description: Whether or not public network access
                                  is allowed for specified resources under the Video
                                  Analyzer account.
                                nullable: true
                            type: object
                            nullable: true
                          consumption:
                            description: Public network access for consumption group.
                            properties:
                              publicNetworkAccess:
                                type: string
                                enum:
                                - Enabled
                                - Disabled
                                x-ms-enum:
                                  name: PublicNetworkAccess
                                  values:
                                  - value: Enabled
                                    description: Public network access is enabled.
                                  - value: Disabled
                                    description: Public network access is disabled.
                                  modelAsString: true
                                description: Whether or not public network access
                                  is allowed for specified resources under the Video
                                  Analyzer account.
                                nullable: true
                            type: object
                            nullable: true
                        type: object
                        nullable: true
                      provisioningState:
                        type: string
                        enum:
                        - Failed
                        - InProgress
                        - Succeeded
                        x-ms-enum:
                          name: ProvisioningState
                          values:
                          - value: Failed
                            description: Provisioning state failed.
                          - value: InProgress
                            description: Provisioning state in progress.
                          - value: Succeeded
                            description: Provisioning state succeeded.
                          modelAsString: true
[...]
