openapi: 3.0.0
info:
  title: ComputeManagementClient
  description: The Compute Management Client.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}
  : put:
      tags:
      - AvailabilitySets
      operationId: AvailabilitySets_CreateOrUpdate
      description: Create or update an availability set.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: availabilitySetName
        in: path
        required: true
        description: The name of the availability set.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource Id
                name:
                  readOnly: true
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                location:
                  type: string
                  description: Resource location
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  x-ms-client-flatten: true
                  properties:
                    platformUpdateDomainCount:
                      type: integer
                      format: int32
                      description: Update Domain count.
                    platformFaultDomainCount:
                      type: integer
                      format: int32
                      description: Fault Domain count.
                    virtualMachines:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource Id
                      description: A list of references to all virtual machines in
                        the availability set.
                    proximityPlacementGroup:
                      description: 'Specifies information about the proximity placement
                        group that the availability set should be assigned to. Minimum
                        api-version: 2018-04-01.'
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource Id
                    statuses:
                      readOnly: true
                      type: array
                      items:
                        properties:
                          code:
                            type: string
                            description: The status code.
                          level:
                            type: string
                            description: The level code.
                            enum:
                            - Info
                            - Warning
                            - Error
                            x-ms-enum:
                              name: StatusLevelTypes
                              modelAsString: false
                          displayStatus:
                            type: string
                            description: The short localizable label for the status.
                          message:
                            type: string
                            description: The detailed status message, including for
                              alerts and error messages.
                          time:
                            type: string
                            format: date-time
                            description: The time of the status.
                        type: object
                        description: Instance view status.
                      x-ms-identifiers: []
                      description: The resource status information.
                    scheduledEventsPolicy:
                      description: Specifies Redeploy, Reboot and ScheduledEventsAdditionalPublishingTargets
                        Scheduled Event related configurations for the availability
                        set.
                      type: object
                      properties:
                        userInitiatedRedeploy:
                          description: The configuration parameters used while creating
                            userInitiatedRedeploy scheduled event setting creation.
                          type: object
                          properties:
                            automaticallyApprove:
                              type: boolean
                              description: Specifies Redeploy Scheduled Event related
                                configurations.
                        userInitiatedReboot:
                          description: The configuration parameters used while creating
                            userInitiatedReboot scheduled event setting creation.
                          type: object
                          properties:
                            automaticallyApprove:
                              type: boolean
                              description: Specifies Reboot Scheduled Event related
                                configurations.
                        scheduledEventsAdditionalPublishingTargets:
                          description: The configuration parameters used while publishing
                            scheduledEventsAdditionalPublishingTargets.
                          type: object
                          properties:
                            eventGridAndResourceGraph:
                              description: The configuration parameters used while
                                creating eventGridAndResourceGraph Scheduled Event
                                setting.
                              type: object
                              properties:
                                enable:
                                  type: boolean
                                  description: Specifies if event grid and resource
                                    graph is enabled for Scheduled event related configurations.
                  description: The instance view of a resource.
                sku:
                  description: Sku of the availability set, only name is required
                    to be set. See AvailabilitySetSkuTypes for possible set of values.
                    Use 'Aligned' for virtual machines with managed disks and 'Classic'
                    for virtual machines with unmanaged disks. Default value is 'Classic'.
                  properties:
                    name:
                      type: string
                      description: The sku name.
                    tier:
                      type: string
                      description: Specifies the tier of virtual machines in a scale
                        set.<br /><br /> Possible Values:<br /><br /> **Standard**<br
                        /><br /> **Basic**
                    capacity:
                      type: integer
                      format: int64
                      description: Specifies the number of virtual machines in the
                        scale set.
              required:
              - location
              description: The Resource model definition.
              x-ms-azure-resource: true
        description: Parameters supplied to the Create Availability Set operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      platformUpdateDomainCount:
                        type: integer
                        format: int32
                        description: Update Domain count.
                      platformFaultDomainCount:
                        type: integer
                        format: int32
                        description: Fault Domain count.
                      virtualMachines:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource Id
                        description: A list of references to all virtual machines
                          in the availability set.
                      proximityPlacementGroup:
                        description: 'Specifies information about the proximity placement
                          group that the availability set should be assigned to. Minimum
                          api-version: 2018-04-01.'
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource Id
                      statuses:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            code:
                              type: string
                              description: The status code.
                            level:
                              type: string
                              description: The level code.
                              enum:
                              - Info
                              - Warning
                              - Error
                              x-ms-enum:
                                name: StatusLevelTypes
                                modelAsString: false
                            displayStatus:
                              type: string
                              description: The short localizable label for the status.
                            message:
                              type: string
                              description: The detailed status message, including
                                for alerts and error messages.
                            time:
                              type: string
                              format: date-time
                              description: The time of the status.
                          type: object
                          description: Instance view status.
                        x-ms-identifiers: []
                        description: The resource status information.
                      scheduledEventsPolicy:
                        description: Specifies Redeploy, Reboot and ScheduledEventsAdditionalPublishingTargets
                          Scheduled Event related configurations for the availability
                          set.
                        type: object
                        properties:
                          userInitiatedRedeploy:
                            description: The configuration parameters used while creating
                              userInitiatedRedeploy scheduled event setting creation.
                            type: object
                            properties:
                              automaticallyApprove:
                                type: boolean
                                description: Specifies Redeploy Scheduled Event related
                                  configurations.
                          userInitiatedReboot:
                            description: The configuration parameters used while creating
                              userInitiatedReboot scheduled event setting creation.
                            type: object
                            properties:
                              automaticallyApprove:
                                type: boolean
                                description: Specifies Reboot Scheduled Event related
                                  configurations.
                          scheduledEventsAdditionalPublishingTargets:
                            description: The configuration parameters used while publishing
                              scheduledEventsAdditionalPublishingTargets.
                            type: object
                            properties:
                              eventGridAndResourceGraph:
                                description: The configuration parameters used while
                                  creating eventGridAndResourceGraph Scheduled Event
                                  setting.
                                type: object
                                properties:
                                  enable:
                                    type: boolean
                                    description: Specifies if event grid and resource
                                      graph is enabled for Scheduled event related
                                      configurations.
                    description: The instance view of a resource.
                  sku:
                    description: Sku of the availability set, only name is required
                      to be set. See AvailabilitySetSkuTypes for possible set of values.
                      Use 'Aligned' for virtual machines with managed disks and 'Classic'
                      for virtual machines with unmanaged disks. Default value is
                      'Classic'.
                    properties:
                      name:
                        type: string
                        description: The sku name.
                      tier:
                        type: string
                        description: Specifies the tier of virtual machines in a scale
                          set.<br /><br /> Possible Values:<br /><br /> **Standard**<br
                          /><br /> **Basic**
                      capacity:
                        type: integer
                        format: int64
                        description: Specifies the number of virtual machines in the
                          scale set.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
    patch:
      tags:
      - AvailabilitySets
      operationId: AvailabilitySets_Update
      description: Update an availability set.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: availabilitySetName
        in: path
        required: true
        description: The name of the availability set.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  x-ms-client-flatten: true
                  properties:
                    platformUpdateDomainCount:
                      type: integer
                      format: int32
                      description: Update Domain count.
                    platformFaultDomainCount:
                      type: integer
                      format: int32
                      description: Fault Domain count.
                    virtualMachines:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource Id
                      description: A list of references to all virtual machines in
                        the availability set.
                    proximityPlacementGroup:
                      description: 'Specifies information about the proximity placement
                        group that the availability set should be assigned to. Minimum
                        api-version: 2018-04-01.'
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource Id
                    statuses:
                      readOnly: true
                      type: array
                      items:
                        properties:
                          code:
                            type: string
                            description: The status code.
                          level:
                            type: string
                            description: The level code.
                            enum:
                            - Info
                            - Warning
                            - Error
                            x-ms-enum:
                              name: StatusLevelTypes
                              modelAsString: false
                          displayStatus:
                            type: string
                            description: The short localizable label for the status.
                          message:
                            type: string
                            description: The detailed status message, including for
                              alerts and error messages.
                          time:
                            type: string
                            format: date-time
                            description: The time of the status.
                        type: object
                        description: Instance view status.
                      x-ms-identifiers: []
                      description: The resource status information.
                    scheduledEventsPolicy:
                      description: Specifies Redeploy, Reboot and ScheduledEventsAdditionalPublishingTargets
                        Scheduled Event related configurations for the availability
                        set.
                      type: object
                      properties:
                        userInitiatedRedeploy:
                          description: The configuration parameters used while creating
                            userInitiatedRedeploy scheduled event setting creation.
                          type: object
                          properties:
                            automaticallyApprove:
                              type: boolean
                              description: Specifies Redeploy Scheduled Event related
                                configurations.
                        userInitiatedReboot:
                          description: The configuration parameters used while creating
                            userInitiatedReboot scheduled event setting creation.
                          type: object
                          properties:
                            automaticallyApprove:
                              type: boolean
                              description: Specifies Reboot Scheduled Event related
                                configurations.
                        scheduledEventsAdditionalPublishingTargets:
                          description: The configuration parameters used while publishing
                            scheduledEventsAdditionalPublishingTargets.
                          type: object
                          properties:
                            eventGridAndResourceGraph:
                              description: The configuration parameters used while
                                creating eventGridAndResourceGraph Scheduled Event
                                setting.
                              type: object
                              properties:
                                enable:
                                  type: boolean
                                  description: Specifies if event grid and resource
                                    graph is enabled for Scheduled event related configurations.
                  description: The instance view of a resource.
                sku:
                  description: Sku of the availability set
                  properties:
                    name:
                      type: string
                      description: The sku name.
                    tier:
                      type: string
                      description: Specifies the tier of virtual machines in a scale
                        set.<br /><br /> Possible Values:<br /><br /> **Standard**<br
                        /><br /> **Basic**
                    capacity:
                      type: integer
                      format: int64
                      description: Specifies the number of virtual machines in the
                        scale set.
              description: The Update Resource model definition.
        description: Parameters supplied to the Update Availability Set operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      platformUpdateDomainCount:
                        type: integer
                        format: int32
                        description: Update Domain count.
                      platformFaultDomainCount:
                        type: integer
                        format: int32
                        description: Fault Domain count.
                      virtualMachines:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource Id
                        description: A list of references to all virtual machines
                          in the availability set.
                      proximityPlacementGroup:
                        description: 'Specifies information about the proximity placement
                          group that the availability set should be assigned to. Minimum
                          api-version: 2018-04-01.'
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource Id
                      statuses:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            code:
                              type: string
                              description: The status code.
                            level:
                              type: string
                              description: The level code.
                              enum:
                              - Info
                              - Warning
                              - Error
                              x-ms-enum:
                                name: StatusLevelTypes
                                modelAsString: false
                            displayStatus:
                              type: string
                              description: The short localizable label for the status.
                            message:
                              type: string
                              description: The detailed status message, including
                                for alerts and error messages.
                            time:
                              type: string
                              format: date-time
                              description: The time of the status.
                          type: object
                          description: Instance view status.
                        x-ms-identifiers: []
                        description: The resource status information.
                      scheduledEventsPolicy:
                        description: Specifies Redeploy, Reboot and ScheduledEventsAdditionalPublishingTargets
                          Scheduled Event related configurations for the availability
                          set.
                        type: object
                        properties:
                          userInitiatedRedeploy:
                            description: The configuration parameters used while creating
                              userInitiatedRedeploy scheduled event setting creation.
                            type: object
                            properties:
                              automaticallyApprove:
                                type: boolean
                                description: Specifies Redeploy Scheduled Event related
                                  configurations.
                          userInitiatedReboot:
                            description: The configuration parameters used while creating
                              userInitiatedReboot scheduled event setting creation.
                            type: object
                            properties:
                              automaticallyApprove:
                                type: boolean
                                description: Specifies Reboot Scheduled Event related
                                  configurations.
                          scheduledEventsAdditionalPublishingTargets:
                            description: The configuration parameters used while publishing
                              scheduledEventsAdditionalPublishingTargets.
                            type: object
                            properties:
                              eventGridAndResourceGraph:
                                description: The configuration parameters used while
                                  creating eventGridAndResourceGraph Scheduled Event
                                  setting.
                                type: object
                                properties:
                                  enable:
                                    type: boolean
                                    description: Specifies if event grid and resource
                                      graph is enabled for Scheduled event related
                                      configurations.
                    description: The instance view of a resource.
                  sku:
                    description: Sku of the availability set, only name is required
                      to be set. See AvailabilitySetSkuTypes for possible set of values.
                      Use 'Aligned' for virtual machines with managed disks and 'Classic'
                      for virtual machines with unmanaged disks. Default value is
                      'Classic'.
                    properties:
                      name:
                        type: string
                        description: The sku name.
                      tier:
                        type: string
                        description: Specifies the tier of virtual machines in a scale
                          set.<br /><br /> Possible Values:<br /><br /> **Standard**<br
                          /><br /> **Basic**
                      capacity:
                        type: integer
                        format: int64
                        description: Specifies the number of virtual machines in the
                          scale set.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
    delete:
      tags:
      - AvailabilitySets
      operationId: AvailabilitySets_Delete
      description: Delete an availability set.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: availabilitySetName
        in: path
        required: true
        description: The name of the availability set.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
    get:
      tags:
      - AvailabilitySets
      operationId: AvailabilitySets_Get
      description: Retrieves information about an availability set.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: availabilitySetName
        in: path
        required: true
        description: The name of the availability set.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      platformUpdateDomainCount:
                        type: integer
                        format: int32
                        description: Update Domain count.
                      platformFaultDomainCount:
                        type: integer
                        format: int32
                        description: Fault Domain count.
                      virtualMachines:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource Id
                        description: A list of references to all virtual machines
                          in the availability set.
                      proximityPlacementGroup:
                        description: 'Specifies information about the proximity placement
                          group that the availability set should be assigned to. Minimum
                          api-version: 2018-04-01.'
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource Id
                      statuses:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            code:
                              type: string
                              description: The status code.
                            level:
                              type: string
                              description: The level code.
                              enum:
                              - Info
                              - Warning
                              - Error
                              x-ms-enum:
                                name: StatusLevelTypes
                                modelAsString: false
                            displayStatus:
                              type: string
                              description: The short localizable label for the status.
                            message:
                              type: string
                              description: The detailed status message, including
                                for alerts and error messages.
                            time:
                              type: string
                              format: date-time
                              description: The time of the status.
                          type: object
                          description: Instance view status.
                        x-ms-identifiers: []
                        description: The resource status information.
                      scheduledEventsPolicy:
                        description: Specifies Redeploy, Reboot and ScheduledEventsAdditionalPublishingTargets
                          Scheduled Event related configurations for the availability
                          set.
                        type: object
                        properties:
                          userInitiatedRedeploy:
                            description: The configuration parameters used while creating
                              userInitiatedRedeploy scheduled event setting creation.
                            type: object
                            properties:
                              automaticallyApprove:
                                type: boolean
                                description: Specifies Redeploy Scheduled Event related
                                  configurations.
                          userInitiatedReboot:
                            description: The configuration parameters used while creating
                              userInitiatedReboot scheduled event setting creation.
                            type: object
                            properties:
                              automaticallyApprove:
                                type: boolean
                                description: Specifies Reboot Scheduled Event related
                                  configurations.
                          scheduledEventsAdditionalPublishingTargets:
                            description: The configuration parameters used while publishing
                              scheduledEventsAdditionalPublishingTargets.
                            type: object
                            properties:
                              eventGridAndResourceGraph:
                                description: The configuration parameters used while
                                  creating eventGridAndResourceGraph Scheduled Event
                                  setting.
                                type: object
                                properties:
                                  enable:
                                    type: boolean
                                    description: Specifies if event grid and resource
                                      graph is enabled for Scheduled event related
                                      configurations.
                    description: The instance view of a resource.
                  sku:
                    description: Sku of the availability set, only name is required
                      to be set. See AvailabilitySetSkuTypes for possible set of values.
                      Use 'Aligned' for virtual machines with managed disks and 'Classic'
                      for virtual machines with unmanaged disks. Default value is
                      'Classic'.
                    properties:
                      name:
                        type: string
                        description: The sku name.
                      tier:
                        type: string
                        description: Specifies the tier of virtual machines in a scale
                          set.<br /><br /> Possible Values:<br /><br /> **Standard**<br
                          /><br /> **Basic**
                      capacity:
                        type: integer
                        format: int64
                        description: Specifies the number of virtual machines in the
                          scale set.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/availabilitySets:
    get:
      tags:
      - AvailabilitySets
      operationId: AvailabilitySets_ListBySubscription
      description: Lists all availability sets in a subscription.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: $expand
        in: query
        required: false
        description: The expand expression to apply to the operation. Allowed values
          are 'virtualMachines/$ref'.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id
                        name:
                          readOnly: true
                          type: string
                          description: Resource name
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        location:
                          type: string
                          description: Resource location
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags
                        properties:
                          x-ms-client-flatten: true
                          properties:
                            platformUpdateDomainCount:
                              type: integer
                              format: int32
                              description: Update Domain count.
                            platformFaultDomainCount:
                              type: integer
                              format: int32
                              description: Fault Domain count.
                            virtualMachines:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                              description: A list of references to all virtual machines
                                in the availability set.
                            proximityPlacementGroup:
                              description: 'Specifies information about the proximity
                                placement group that the availability set should be
                                assigned to. Minimum api-version: 2018-04-01.'
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                            statuses:
                              readOnly: true
                              type: array
                              items:
                                properties:
                                  code:
                                    type: string
                                    description: The status code.
                                  level:
                                    type: string
                                    description: The level code.
                                    enum:
                                    - Info
                                    - Warning
                                    - Error
                                    x-ms-enum:
                                      name: StatusLevelTypes
                                      modelAsString: false
                                  displayStatus:
                                    type: string
                                    description: The short localizable label for the
                                      status.
                                  message:
                                    type: string
                                    description: The detailed status message, including
                                      for alerts and error messages.
                                  time:
                                    type: string
                                    format: date-time
                                    description: The time of the status.
                                type: object
                                description: Instance view status.
                              x-ms-identifiers: []
                              description: The resource status information.
                            scheduledEventsPolicy:
                              description: Specifies Redeploy, Reboot and ScheduledEventsAdditionalPublishingTargets
                                Scheduled Event related configurations for the availability
                                set.
                              type: object
                              properties:
                                userInitiatedRedeploy:
                                  description: The configuration parameters used while
                                    creating userInitiatedRedeploy scheduled event
                                    setting creation.
                                  type: object
                                  properties:
                                    automaticallyApprove:
                                      type: boolean
                                      description: Specifies Redeploy Scheduled Event
                                        related configurations.
                                userInitiatedReboot:
                                  description: The configuration parameters used while
                                    creating userInitiatedReboot scheduled event setting
                                    creation.
                                  type: object
                                  properties:
                                    automaticallyApprove:
                                      type: boolean
                                      description: Specifies Reboot Scheduled Event
                                        related configurations.
                                scheduledEventsAdditionalPublishingTargets:
                                  description: The configuration parameters used while
                                    publishing scheduledEventsAdditionalPublishingTargets.
                                  type: object
                                  properties:
                                    eventGridAndResourceGraph:
                                      description: The configuration parameters used
                                        while creating eventGridAndResourceGraph Scheduled
                                        Event setting.
                                      type: object
                                      properties:
                                        enable:
                                          type: boolean
                                          description: Specifies if event grid and
                                            resource graph is enabled for Scheduled
                                            event related configurations.
                          description: The instance view of a resource.
                        sku:
                          description: Sku of the availability set, only name is required
                            to be set. See AvailabilitySetSkuTypes for possible set
                            of values. Use 'Aligned' for virtual machines with managed
                            disks and 'Classic' for virtual machines with unmanaged
                            disks. Default value is 'Classic'.
                          properties:
                            name:
                              type: string
                              description: The sku name.
                            tier:
                              type: string
                              description: Specifies the tier of virtual machines
                                in a scale set.<br /><br /> Possible Values:<br /><br
                                /> **Standard**<br /><br /> **Basic**
                            capacity:
                              type: integer
                              format: int64
                              description: Specifies the number of virtual machines
                                in the scale set.
                      required:
                      - location
                      description: The Resource model definition.
                      x-ms-azure-resource: true
                    description: The list of availability sets
                  nextLink:
                    type: string
                    description: The URI to fetch the next page of AvailabilitySets.
                      Call ListNext() with this URI to fetch the next page of AvailabilitySets.
                required:
                - value
                description: The List Availability Set operation response.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets:
    get:
      tags:
      - AvailabilitySets
      operationId: AvailabilitySets_List
      description: Lists all availability sets in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id
                        name:
                          readOnly: true
                          type: string
                          description: Resource name
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        location:
                          type: string
                          description: Resource location
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags
                        properties:
                          x-ms-client-flatten: true
                          properties:
                            platformUpdateDomainCount:
                              type: integer
                              format: int32
                              description: Update Domain count.
                            platformFaultDomainCount:
                              type: integer
                              format: int32
                              description: Fault Domain count.
                            virtualMachines:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                              description: A list of references to all virtual machines
                                in the availability set.
                            proximityPlacementGroup:
                              description: 'Specifies information about the proximity
                                placement group that the availability set should be
                                assigned to. Minimum api-version: 2018-04-01.'
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                            statuses:
                              readOnly: true
                              type: array
                              items:
                                properties:
                                  code:
                                    type: string
                                    description: The status code.
                                  level:
                                    type: string
                                    description: The level code.
                                    enum:
                                    - Info
                                    - Warning
                                    - Error
                                    x-ms-enum:
                                      name: StatusLevelTypes
                                      modelAsString: false
                                  displayStatus:
                                    type: string
                                    description: The short localizable label for the
                                      status.
                                  message:
                                    type: string
                                    description: The detailed status message, including
                                      for alerts and error messages.
                                  time:
                                    type: string
                                    format: date-time
                                    description: The time of the status.
                                type: object
                                description: Instance view status.
                              x-ms-identifiers: []
                              description: The resource status information.
                            scheduledEventsPolicy:
                              description: Specifies Redeploy, Reboot and ScheduledEventsAdditionalPublishingTargets
                                Scheduled Event related configurations for the availability
                                set.
                              type: object
                              properties:
                                userInitiatedRedeploy:
                                  description: The configuration parameters used while
                                    creating userInitiatedRedeploy scheduled event
                                    setting creation.
                                  type: object
                                  properties:
                                    automaticallyApprove:
                                      type: boolean
                                      description: Specifies Redeploy Scheduled Event
                                        related configurations.
                                userInitiatedReboot:
                                  description: The configuration parameters used while
                                    creating userInitiatedReboot scheduled event setting
                                    creation.
                                  type: object
                                  properties:
                                    automaticallyApprove:
                                      type: boolean
                                      description: Specifies Reboot Scheduled Event
                                        related configurations.
                                scheduledEventsAdditionalPublishingTargets:
                                  description: The configuration parameters used while
                                    publishing scheduledEventsAdditionalPublishingTargets.
                                  type: object
                                  properties:
                                    eventGridAndResourceGraph:
                                      description: The configuration parameters used
                                        while creating eventGridAndResourceGraph Scheduled
                                        Event setting.
                                      type: object
                                      properties:
                                        enable:
                                          type: boolean
                                          description: Specifies if event grid and
                                            resource graph is enabled for Scheduled
                                            event related configurations.
                          description: The instance view of a resource.
                        sku:
                          description: Sku of the availability set, only name is required
                            to be set. See AvailabilitySetSkuTypes for possible set
                            of values. Use 'Aligned' for virtual machines with managed
                            disks and 'Classic' for virtual machines with unmanaged
                            disks. Default value is 'Classic'.
                          properties:
                            name:
                              type: string
                              description: The sku name.
                            tier:
                              type: string
                              description: Specifies the tier of virtual machines
                                in a scale set.<br /><br /> Possible Values:<br /><br
                                /> **Standard**<br /><br /> **Basic**
                            capacity:
                              type: integer
                              format: int64
                              description: Specifies the number of virtual machines
                                in the scale set.
                      required:
                      - location
                      description: The Resource model definition.
                      x-ms-azure-resource: true
                    description: The list of availability sets
                  nextLink:
                    type: string
                    description: The URI to fetch the next page of AvailabilitySets.
                      Call ListNext() with this URI to fetch the next page of AvailabilitySets.
                required:
                - value
                description: The List Availability Set operation response.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}/vmSizes
  : get:
      tags:
      - AvailabilitySets
      operationId: AvailabilitySets_ListAvailableSizes
      description: Lists all available virtual machine sizes that can be used to create
        a new virtual machine in an existing availability set.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: availabilitySetName
        in: path
        required: true
        description: The name of the availability set.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          description: The name of the virtual machine size.
                        numberOfCores:
                          type: integer
                          format: int32
                          description: The number of cores supported by the virtual
                            machine size. For Constrained vCPU capable VM sizes, this
                            number represents the total vCPUs of quota that the VM
                            uses. For accurate vCPU count, please refer to https://docs.microsoft.com/azure/virtual-machines/constrained-vcpu
                            or https://docs.microsoft.com/rest/api/compute/resourceskus/list
                        osDiskSizeInMB:
                          type: integer
                          format: int32
                          description: The OS disk size, in MB, allowed by the virtual
                            machine size.
                        resourceDiskSizeInMB:
                          type: integer
                          format: int32
                          description: The resource disk size, in MB, allowed by the
                            virtual machine size.
                        memoryInMB:
                          type: integer
                          format: int32
                          description: The amount of memory, in MB, supported by the
                            virtual machine size.
                        maxDataDiskCount:
                          type: integer
                          format: int32
                          description: The maximum number of data disks that can be
                            attached to the virtual machine size.
                      description: Describes the properties of a VM size.
                    x-ms-identifiers:
                    - name
                    description: The list of virtual machine sizes.
                description: The List Virtual Machine operation response.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
      x-ms-pageable: {}
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    AvailabilitySetProperties:
      properties:
        platformUpdateDomainCount:
          type: integer
          format: int32
          description: Update Domain count.
        platformFaultDomainCount:
          type: integer
          format: int32
          description: Fault Domain count.
        virtualMachines:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Resource Id
          description: A list of references to all virtual machines in the availability
            set.
        proximityPlacementGroup:
          description: 'Specifies information about the proximity placement group
            that the availability set should be assigned to. Minimum api-version:
            2018-04-01.'
          type: object
          properties:
            id:
              type: string
              description: Resource Id
        statuses:
          readOnly: true
          type: array
          items:
            properties:
              code:
                type: string
                description: The status code.
              level:
                type: string
                description: The level code.
                enum:
                - Info
                - Warning
                - Error
                x-ms-enum:
                  name: StatusLevelTypes
                  modelAsString: false
              displayStatus:
                type: string
                description: The short localizable label for the status.
              message:
                type: string
                description: The detailed status message, including for alerts and
                  error messages.
              time:
                type: string
                format: date-time
                description: The time of the status.
            type: object
            description: Instance view status.
          x-ms-identifiers: []
          description: The resource status information.
        scheduledEventsPolicy:
          description: Specifies Redeploy, Reboot and ScheduledEventsAdditionalPublishingTargets
            Scheduled Event related configurations for the availability set.
          type: object
          properties:
            userInitiatedRedeploy:
              description: The configuration parameters used while creating userInitiatedRedeploy
                scheduled event setting creation.
              type: object
              properties:
                automaticallyApprove:
                  type: boolean
                  description: Specifies Redeploy Scheduled Event related configurations.
            userInitiatedReboot:
              description: The configuration parameters used while creating userInitiatedReboot
                scheduled event setting creation.
              type: object
              properties:
                automaticallyApprove:
                  type: boolean
                  description: Specifies Reboot Scheduled Event related configurations.
            scheduledEventsAdditionalPublishingTargets:
              description: The configuration parameters used while publishing scheduledEventsAdditionalPublishingTargets.
              type: object
              properties:
                eventGridAndResourceGraph:
                  description: The configuration parameters used while creating eventGridAndResourceGraph
                    Scheduled Event setting.
                  type: object
                  properties:
                    enable:
                      type: boolean
                      description: Specifies if event grid and resource graph is enabled
                        for Scheduled event related configurations.
      description: The instance view of a resource.
    AvailabilitySetSkuType:
      type: string
      description: Specifies the sku of an Availability Set. Use 'Aligned' for virtual
        machines with managed disks and 'Classic' for virtual machines with unmanaged
        disks. Default value is 'Classic'.
      enum:
      - Classic
      - Aligned
      x-ms-enum:
        name: AvailabilitySetSkuTypes
        modelAsString: true
    AvailabilitySet:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        location:
          type: string
          description: Resource location
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
        properties:
          x-ms-client-flatten: true
          properties:
            platformUpdateDomainCount:
              type: integer
              format: int32
              description: Update Domain count.
            platformFaultDomainCount:
              type: integer
              format: int32
              description: Fault Domain count.
            virtualMachines:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource Id
              description: A list of references to all virtual machines in the availability
                set.
            proximityPlacementGroup:
              description: 'Specifies information about the proximity placement group
                that the availability set should be assigned to. Minimum api-version:
                2018-04-01.'
              type: object
              properties:
                id:
                  type: string
                  description: Resource Id
            statuses:
              readOnly: true
              type: array
              items:
                properties:
                  code:
                    type: string
                    description: The status code.
                  level:
                    type: string
                    description: The level code.
                    enum:
                    - Info
                    - Warning
                    - Error
                    x-ms-enum:
                      name: StatusLevelTypes
                      modelAsString: false
                  displayStatus:
                    type: string
                    description: The short localizable label for the status.
                  message:
                    type: string
                    description: The detailed status message, including for alerts
                      and error messages.
                  time:
                    type: string
                    format: date-time
                    description: The time of the status.
                type: object
                description: Instance view status.
              x-ms-identifiers: []
              description: The resource status information.
            scheduledEventsPolicy:
              description: Specifies Redeploy, Reboot and ScheduledEventsAdditionalPublishingTargets
                Scheduled Event related configurations for the availability set.
              type: object
              properties:
                userInitiatedRedeploy:
                  description: The configuration parameters used while creating userInitiatedRedeploy
                    scheduled event setting creation.
                  type: object
                  properties:
                    automaticallyApprove:
                      type: boolean
                      description: Specifies Redeploy Scheduled Event related configurations.
                userInitiatedReboot:
                  description: The configuration parameters used while creating userInitiatedReboot
                    scheduled event setting creation.
                  type: object
                  properties:
                    automaticallyApprove:
                      type: boolean
                      description: Specifies Reboot Scheduled Event related configurations.
                scheduledEventsAdditionalPublishingTargets:
                  description: The configuration parameters used while publishing
                    scheduledEventsAdditionalPublishingTargets.
                  type: object
                  properties:
                    eventGridAndResourceGraph:
                      description: The configuration parameters used while creating
                        eventGridAndResourceGraph Scheduled Event setting.
                      type: object
                      properties:
                        enable:
                          type: boolean
                          description: Specifies if event grid and resource graph
                            is enabled for Scheduled event related configurations.
          description: The instance view of a resource.
        sku:
          description: Sku of the availability set, only name is required to be set.
            See AvailabilitySetSkuTypes for possible set of values. Use 'Aligned'
            for virtual machines with managed disks and 'Classic' for virtual machines
            with unmanaged disks. Default value is 'Classic'.
          properties:
            name:
              type: string
              description: The sku name.
            tier:
              type: string
              description: Specifies the tier of virtual machines in a scale set.<br
                /><br /> Possible Values:<br /><br /> **Standard**<br /><br /> **Basic**
            capacity:
              type: integer
              format: int64
              description: Specifies the number of virtual machines in the scale set.
      required:
      - location
      description: The Resource model definition.
      x-ms-azure-resource: true
    AvailabilitySetUpdate:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
        properties:
          x-ms-client-flatten: true
          properties:
            platformUpdateDomainCount:
              type: integer
              format: int32
              description: Update Domain count.
            platformFaultDomainCount:
              type: integer
              format: int32
              description: Fault Domain count.
            virtualMachines:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource Id
              description: A list of references to all virtual machines in the availability
                set.
            proximityPlacementGroup:
              description: 'Specifies information about the proximity placement group
                that the availability set should be assigned to. Minimum api-version:
                2018-04-01.'
              type: object
              properties:
                id:
                  type: string
                  description: Resource Id
            statuses:
              readOnly: true
              type: array
              items:
                properties:
                  code:
                    type: string
                    description: The status code.
                  level:
                    type: string
                    description: The level code.
                    enum:
                    - Info
                    - Warning
                    - Error
                    x-ms-enum:
                      name: StatusLevelTypes
                      modelAsString: false
                  displayStatus:
                    type: string
                    description: The short localizable label for the status.
                  message:
                    type: string
                    description: The detailed status message, including for alerts
                      and error messages.
                  time:
                    type: string
                    format: date-time
                    description: The time of the status.
                type: object
                description: Instance view status.
              x-ms-identifiers: []
              description: The resource status information.
            scheduledEventsPolicy:
              description: Specifies Redeploy, Reboot and ScheduledEventsAdditionalPublishingTargets
                Scheduled Event related configurations for the availability set.
              type: object
              properties:
                userInitiatedRedeploy:
                  description: The configuration parameters used while creating userInitiatedRedeploy
                    scheduled event setting creation.
                  type: object
                  properties:
                    automaticallyApprove:
                      type: boolean
                      description: Specifies Redeploy Scheduled Event related configurations.
                userInitiatedReboot:
                  description: The configuration parameters used while creating userInitiatedReboot
                    scheduled event setting creation.
                  type: object
                  properties:
                    automaticallyApprove:
                      type: boolean
                      description: Specifies Reboot Scheduled Event related configurations.
                scheduledEventsAdditionalPublishingTargets:
                  description: The configuration parameters used while publishing
                    scheduledEventsAdditionalPublishingTargets.
                  type: object
                  properties:
                    eventGridAndResourceGraph:
                      description: The configuration parameters used while creating
                        eventGridAndResourceGraph Scheduled Event setting.
                      type: object
                      properties:
                        enable:
                          type: boolean
                          description: Specifies if event grid and resource graph
                            is enabled for Scheduled event related configurations.
          description: The instance view of a resource.
        sku:
          description: Sku of the availability set
          properties:
            name:
              type: string
              description: The sku name.
            tier:
              type: string
              description: Specifies the tier of virtual machines in a scale set.<br
                /><br /> Possible Values:<br /><br /> **Standard**<br /><br /> **Basic**
            capacity:
              type: integer
              format: int64
              description: Specifies the number of virtual machines in the scale set.
      description: The Update Resource model definition.
    AvailabilitySetListResult:
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Resource Id
              name:
                readOnly: true
                type: string
                description: Resource name
              type:
                readOnly: true
                type: string
                description: Resource type
              location:
                type: string
                description: Resource location
              tags:
                type: object
                additionalProperties:
                  type: string
                description: Resource tags
              properties:
                x-ms-client-flatten: true
                properties:
                  platformUpdateDomainCount:
                    type: integer
                    format: int32
                    description: Update Domain count.
                  platformFaultDomainCount:
                    type: integer
                    format: int32
                    description: Fault Domain count.
                  virtualMachines:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource Id
                    description: A list of references to all virtual machines in the
                      availability set.
                  proximityPlacementGroup:
                    description: 'Specifies information about the proximity placement
                      group that the availability set should be assigned to. Minimum
                      api-version: 2018-04-01.'
                    type: object
                    properties:
                      id:
                        type: string
                        description: Resource Id
                  statuses:
                    readOnly: true
                    type: array
                    items:
                      properties:
                        code:
                          type: string
                          description: The status code.
                        level:
                          type: string
                          description: The level code.
                          enum:
                          - Info
                          - Warning
                          - Error
                          x-ms-enum:
                            name: StatusLevelTypes
                            modelAsString: false
                        displayStatus:
                          type: string
                          description: The short localizable label for the status.
                        message:
                          type: string
                          description: The detailed status message, including for
                            alerts and error messages.
                        time:
                          type: string
                          format: date-time
                          description: The time of the status.
                      type: object
                      description: Instance view status.
                    x-ms-identifiers: []
                    description: The resource status information.
                  scheduledEventsPolicy:
                    description: Specifies Redeploy, Reboot and ScheduledEventsAdditionalPublishingTargets
                      Scheduled Event related configurations for the availability
                      set.
                    type: object
                    properties:
                      userInitiatedRedeploy:
                        description: The configuration parameters used while creating
                          userInitiatedRedeploy scheduled event setting creation.
                        type: object
                        properties:
                          automaticallyApprove:
                            type: boolean
                            description: Specifies Redeploy Scheduled Event related
                              configurations.
                      userInitiatedReboot:
                        description: The configuration parameters used while creating
                          userInitiatedReboot scheduled event setting creation.
                        type: object
                        properties:
                          automaticallyApprove:
                            type: boolean
                            description: Specifies Reboot Scheduled Event related
                              configurations.
                      scheduledEventsAdditionalPublishingTargets:
[...]
