openapi: 3.0.0
info:
  title: ComputeManagementClient
  description: The Compute Management Client.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}
  : put:
      tags:
      - CapacityReservationGroups
      operationId: CapacityReservationGroups_CreateOrUpdate
      description: The operation to create or update a capacity reservation group.
        When updating a capacity reservation group, only tags and sharing profile
        may be modified. Please refer to https://aka.ms/CapacityReservation for more
        details.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: capacityReservationGroupName
        in: path
        required: true
        description: The name of the capacity reservation group.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource Id
                name:
                  readOnly: true
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                location:
                  type: string
                  description: Resource location
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    capacityReservations:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            readOnly: true
                            type: string
                            description: Resource Id
                      readOnly: true
                      description: A list of all capacity reservation resource ids
                        that belong to capacity reservation group.
                    virtualMachinesAssociated:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            readOnly: true
                            type: string
                            description: Resource Id
                      readOnly: true
                      description: A list of references to all virtual machines associated
                        to the capacity reservation group.
                    instanceView:
                      readOnly: true
                      description: The capacity reservation group instance view which
                        has the list of instance views for all the capacity reservations
                        that belong to the capacity reservation group.
                      type: object
                      properties:
                        capacityReservations:
                          type: array
                          items:
                            type: object
                            properties:
                              utilizationInfo:
                                description: Unutilized capacity of the capacity reservation.
                                type: object
                                properties:
                                  currentCapacity:
                                    readOnly: true
                                    type: integer
                                    format: int32
                                    description: 'The value provides the current capacity
                                      of the VM size which was reserved successfully
                                      and for which the customer is getting billed.
                                      Minimum api-version: 2022-08-01.'
                                  virtualMachinesAllocated:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          readOnly: true
                                          type: string
                                          description: Resource Id
                                    readOnly: true
                                    description: A list of all virtual machines resource
                                      ids allocated against the capacity reservation.
                              statuses:
                                type: array
                                items:
                                  properties:
                                    code:
                                      type: string
                                      description: The status code.
                                    level:
                                      type: string
                                      description: The level code.
                                      enum:
                                      - Info
                                      - Warning
                                      - Error
                                      x-ms-enum:
                                        name: StatusLevelTypes
                                        modelAsString: false
                                    displayStatus:
                                      type: string
                                      description: The short localizable label for
                                        the status.
                                    message:
                                      type: string
                                      description: The detailed status message, including
                                        for alerts and error messages.
                                    time:
                                      type: string
                                      format: date-time
                                      description: The time of the status.
                                  type: object
                                  description: Instance view status.
                                x-ms-identifiers: []
                                description: The resource status information.
                              name:
                                type: string
                                readOnly: true
                                description: The name of the capacity reservation.
                            description: The instance view of a capacity reservation
                              that provides as snapshot of the runtime properties
                              of the capacity reservation that is managed by the platform
                              and can change outside of control plane operations.
                          x-ms-identifiers:
                          - name
                          readOnly: true
                          description: List of instance view of the capacity reservations
                            under the capacity reservation group.
                        sharedSubscriptionIds:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                readOnly: true
                                type: string
                                description: Resource Id
                          x-ms-identifiers:
                          - id
                          readOnly: true
                          description: 'List of the subscriptions that the capacity
                            reservation group is shared with. **Note:** Minimum api-version:
                            2023-09-01. Please refer to https://aka.ms/computereservationsharing
                            for more details.'
                    sharingProfile:
                      description: 'Specifies the settings to enable sharing across
                        subscriptions for the capacity reservation group resource.
                        Pls. keep in mind the capacity reservation group resource
                        generally can be shared across subscriptions belonging to
                        a single azure AAD tenant or cross AAD tenant if there is
                        a trust relationship established between the AAD tenants.
                        **Note:** Minimum api-version: 2023-09-01. Please refer to
                        https://aka.ms/computereservationsharing for more details.'
                      type: object
                      properties:
                        subscriptionIds:
                          type: array
                          description: 'Specifies an array of subscription resource
                            IDs that capacity reservation group is shared with. **Note:**
                            Minimum api-version: 2023-09-01. Please refer to https://aka.ms/computereservationsharing
                            for more details.'
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Resource Id
                  description: capacity reservation group Properties.
                zones:
                  type: array
                  items:
                    type: string
                  description: Availability Zones to use for this capacity reservation
                    group. The zones can be assigned only during creation. If not
                    provided, the group supports only regional resources in the region.
                    If provided, enforces each capacity reservation in the group to
                    be in one of the zones.
              required:
              - location
              description: The Resource model definition.
              x-ms-azure-resource: true
        description: Parameters supplied to the Create capacity reservation Group.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      capacityReservations:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Resource Id
                        readOnly: true
                        description: A list of all capacity reservation resource ids
                          that belong to capacity reservation group.
                      virtualMachinesAssociated:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Resource Id
                        readOnly: true
                        description: A list of references to all virtual machines
                          associated to the capacity reservation group.
                      instanceView:
                        readOnly: true
                        description: The capacity reservation group instance view
                          which has the list of instance views for all the capacity
                          reservations that belong to the capacity reservation group.
                        type: object
                        properties:
                          capacityReservations:
                            type: array
                            items:
                              type: object
                              properties:
                                utilizationInfo:
                                  description: Unutilized capacity of the capacity
                                    reservation.
                                  type: object
                                  properties:
                                    currentCapacity:
                                      readOnly: true
                                      type: integer
                                      format: int32
                                      description: 'The value provides the current
                                        capacity of the VM size which was reserved
                                        successfully and for which the customer is
                                        getting billed. Minimum api-version: 2022-08-01.'
                                    virtualMachinesAllocated:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            readOnly: true
                                            type: string
                                            description: Resource Id
                                      readOnly: true
                                      description: A list of all virtual machines
                                        resource ids allocated against the capacity
                                        reservation.
                                statuses:
                                  type: array
                                  items:
                                    properties:
                                      code:
                                        type: string
                                        description: The status code.
                                      level:
                                        type: string
                                        description: The level code.
                                        enum:
                                        - Info
                                        - Warning
                                        - Error
                                        x-ms-enum:
                                          name: StatusLevelTypes
                                          modelAsString: false
                                      displayStatus:
                                        type: string
                                        description: The short localizable label for
                                          the status.
                                      message:
                                        type: string
                                        description: The detailed status message,
                                          including for alerts and error messages.
                                      time:
                                        type: string
                                        format: date-time
                                        description: The time of the status.
                                    type: object
                                    description: Instance view status.
                                  x-ms-identifiers: []
                                  description: The resource status information.
                                name:
                                  type: string
                                  readOnly: true
                                  description: The name of the capacity reservation.
                              description: The instance view of a capacity reservation
                                that provides as snapshot of the runtime properties
                                of the capacity reservation that is managed by the
                                platform and can change outside of control plane operations.
                            x-ms-identifiers:
                            - name
                            readOnly: true
                            description: List of instance view of the capacity reservations
                              under the capacity reservation group.
                          sharedSubscriptionIds:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  readOnly: true
                                  type: string
                                  description: Resource Id
                            x-ms-identifiers:
                            - id
                            readOnly: true
                            description: 'List of the subscriptions that the capacity
                              reservation group is shared with. **Note:** Minimum
                              api-version: 2023-09-01. Please refer to https://aka.ms/computereservationsharing
                              for more details.'
                      sharingProfile:
                        description: 'Specifies the settings to enable sharing across
                          subscriptions for the capacity reservation group resource.
                          Pls. keep in mind the capacity reservation group resource
                          generally can be shared across subscriptions belonging to
                          a single azure AAD tenant or cross AAD tenant if there is
                          a trust relationship established between the AAD tenants.
                          **Note:** Minimum api-version: 2023-09-01. Please refer
                          to https://aka.ms/computereservationsharing for more details.'
                        type: object
                        properties:
                          subscriptionIds:
                            type: array
                            description: 'Specifies an array of subscription resource
                              IDs that capacity reservation group is shared with.
                              **Note:** Minimum api-version: 2023-09-01. Please refer
                              to https://aka.ms/computereservationsharing for more
                              details.'
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                    description: capacity reservation group Properties.
                  zones:
                    type: array
                    items:
                      type: string
                    description: Availability Zones to use for this capacity reservation
                      group. The zones can be assigned only during creation. If not
                      provided, the group supports only regional resources in the
                      region. If provided, enforces each capacity reservation in the
                      group to be in one of the zones.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      capacityReservations:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Resource Id
                        readOnly: true
                        description: A list of all capacity reservation resource ids
                          that belong to capacity reservation group.
                      virtualMachinesAssociated:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Resource Id
                        readOnly: true
                        description: A list of references to all virtual machines
                          associated to the capacity reservation group.
                      instanceView:
                        readOnly: true
                        description: The capacity reservation group instance view
                          which has the list of instance views for all the capacity
                          reservations that belong to the capacity reservation group.
                        type: object
                        properties:
                          capacityReservations:
                            type: array
                            items:
                              type: object
                              properties:
                                utilizationInfo:
                                  description: Unutilized capacity of the capacity
                                    reservation.
                                  type: object
                                  properties:
                                    currentCapacity:
                                      readOnly: true
                                      type: integer
                                      format: int32
                                      description: 'The value provides the current
                                        capacity of the VM size which was reserved
                                        successfully and for which the customer is
                                        getting billed. Minimum api-version: 2022-08-01.'
                                    virtualMachinesAllocated:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            readOnly: true
                                            type: string
                                            description: Resource Id
                                      readOnly: true
                                      description: A list of all virtual machines
                                        resource ids allocated against the capacity
                                        reservation.
                                statuses:
                                  type: array
                                  items:
                                    properties:
                                      code:
                                        type: string
                                        description: The status code.
                                      level:
                                        type: string
                                        description: The level code.
                                        enum:
                                        - Info
                                        - Warning
                                        - Error
                                        x-ms-enum:
                                          name: StatusLevelTypes
                                          modelAsString: false
                                      displayStatus:
                                        type: string
                                        description: The short localizable label for
                                          the status.
                                      message:
                                        type: string
                                        description: The detailed status message,
                                          including for alerts and error messages.
                                      time:
                                        type: string
                                        format: date-time
                                        description: The time of the status.
                                    type: object
                                    description: Instance view status.
                                  x-ms-identifiers: []
                                  description: The resource status information.
                                name:
                                  type: string
                                  readOnly: true
                                  description: The name of the capacity reservation.
                              description: The instance view of a capacity reservation
                                that provides as snapshot of the runtime properties
                                of the capacity reservation that is managed by the
                                platform and can change outside of control plane operations.
                            x-ms-identifiers:
                            - name
                            readOnly: true
                            description: List of instance view of the capacity reservations
                              under the capacity reservation group.
                          sharedSubscriptionIds:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  readOnly: true
                                  type: string
                                  description: Resource Id
                            x-ms-identifiers:
                            - id
                            readOnly: true
                            description: 'List of the subscriptions that the capacity
                              reservation group is shared with. **Note:** Minimum
                              api-version: 2023-09-01. Please refer to https://aka.ms/computereservationsharing
                              for more details.'
                      sharingProfile:
                        description: 'Specifies the settings to enable sharing across
                          subscriptions for the capacity reservation group resource.
                          Pls. keep in mind the capacity reservation group resource
                          generally can be shared across subscriptions belonging to
                          a single azure AAD tenant or cross AAD tenant if there is
                          a trust relationship established between the AAD tenants.
                          **Note:** Minimum api-version: 2023-09-01. Please refer
                          to https://aka.ms/computereservationsharing for more details.'
                        type: object
                        properties:
                          subscriptionIds:
                            type: array
                            description: 'Specifies an array of subscription resource
                              IDs that capacity reservation group is shared with.
                              **Note:** Minimum api-version: 2023-09-01. Please refer
                              to https://aka.ms/computereservationsharing for more
                              details.'
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                    description: capacity reservation group Properties.
                  zones:
                    type: array
                    items:
                      type: string
                    description: Availability Zones to use for this capacity reservation
                      group. The zones can be assigned only during creation. If not
                      provided, the group supports only regional resources in the
                      region. If provided, enforces each capacity reservation in the
                      group to be in one of the zones.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
    patch:
      tags:
      - CapacityReservationGroups
      operationId: CapacityReservationGroups_Update
      description: The operation to update a capacity reservation group. When updating
        a capacity reservation group, only tags and sharing profile may be modified.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: capacityReservationGroupName
        in: path
        required: true
        description: The name of the capacity reservation group.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    capacityReservations:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            readOnly: true
                            type: string
                            description: Resource Id
                      readOnly: true
                      description: A list of all capacity reservation resource ids
                        that belong to capacity reservation group.
                    virtualMachinesAssociated:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            readOnly: true
                            type: string
                            description: Resource Id
                      readOnly: true
                      description: A list of references to all virtual machines associated
                        to the capacity reservation group.
                    instanceView:
                      readOnly: true
                      description: The capacity reservation group instance view which
                        has the list of instance views for all the capacity reservations
                        that belong to the capacity reservation group.
                      type: object
                      properties:
                        capacityReservations:
                          type: array
                          items:
                            type: object
                            properties:
                              utilizationInfo:
                                description: Unutilized capacity of the capacity reservation.
                                type: object
                                properties:
                                  currentCapacity:
                                    readOnly: true
                                    type: integer
                                    format: int32
                                    description: 'The value provides the current capacity
                                      of the VM size which was reserved successfully
                                      and for which the customer is getting billed.
                                      Minimum api-version: 2022-08-01.'
                                  virtualMachinesAllocated:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          readOnly: true
                                          type: string
                                          description: Resource Id
                                    readOnly: true
                                    description: A list of all virtual machines resource
                                      ids allocated against the capacity reservation.
                              statuses:
                                type: array
                                items:
                                  properties:
                                    code:
                                      type: string
                                      description: The status code.
                                    level:
                                      type: string
                                      description: The level code.
                                      enum:
                                      - Info
                                      - Warning
                                      - Error
                                      x-ms-enum:
                                        name: StatusLevelTypes
                                        modelAsString: false
                                    displayStatus:
                                      type: string
                                      description: The short localizable label for
                                        the status.
                                    message:
                                      type: string
                                      description: The detailed status message, including
                                        for alerts and error messages.
                                    time:
                                      type: string
                                      format: date-time
                                      description: The time of the status.
                                  type: object
                                  description: Instance view status.
                                x-ms-identifiers: []
                                description: The resource status information.
                              name:
                                type: string
                                readOnly: true
                                description: The name of the capacity reservation.
                            description: The instance view of a capacity reservation
                              that provides as snapshot of the runtime properties
                              of the capacity reservation that is managed by the platform
                              and can change outside of control plane operations.
                          x-ms-identifiers:
                          - name
                          readOnly: true
                          description: List of instance view of the capacity reservations
                            under the capacity reservation group.
                        sharedSubscriptionIds:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                readOnly: true
                                type: string
                                description: Resource Id
                          x-ms-identifiers:
                          - id
                          readOnly: true
                          description: 'List of the subscriptions that the capacity
                            reservation group is shared with. **Note:** Minimum api-version:
                            2023-09-01. Please refer to https://aka.ms/computereservationsharing
                            for more details.'
                    sharingProfile:
                      description: 'Specifies the settings to enable sharing across
                        subscriptions for the capacity reservation group resource.
                        Pls. keep in mind the capacity reservation group resource
                        generally can be shared across subscriptions belonging to
                        a single azure AAD tenant or cross AAD tenant if there is
                        a trust relationship established between the AAD tenants.
                        **Note:** Minimum api-version: 2023-09-01. Please refer to
                        https://aka.ms/computereservationsharing for more details.'
                      type: object
                      properties:
                        subscriptionIds:
                          type: array
                          description: 'Specifies an array of subscription resource
                            IDs that capacity reservation group is shared with. **Note:**
                            Minimum api-version: 2023-09-01. Please refer to https://aka.ms/computereservationsharing
                            for more details.'
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Resource Id
                  description: capacity reservation group Properties.
              description: The Update Resource model definition.
        description: Parameters supplied to the Update capacity reservation Group
          operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      capacityReservations:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Resource Id
                        readOnly: true
                        description: A list of all capacity reservation resource ids
                          that belong to capacity reservation group.
                      virtualMachinesAssociated:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Resource Id
                        readOnly: true
                        description: A list of references to all virtual machines
                          associated to the capacity reservation group.
                      instanceView:
                        readOnly: true
                        description: The capacity reservation group instance view
                          which has the list of instance views for all the capacity
                          reservations that belong to the capacity reservation group.
                        type: object
                        properties:
                          capacityReservations:
                            type: array
                            items:
                              type: object
                              properties:
                                utilizationInfo:
                                  description: Unutilized capacity of the capacity
                                    reservation.
                                  type: object
                                  properties:
                                    currentCapacity:
                                      readOnly: true
                                      type: integer
                                      format: int32
                                      description: 'The value provides the current
                                        capacity of the VM size which was reserved
                                        successfully and for which the customer is
                                        getting billed. Minimum api-version: 2022-08-01.'
                                    virtualMachinesAllocated:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            readOnly: true
                                            type: string
                                            description: Resource Id
                                      readOnly: true
                                      description: A list of all virtual machines
                                        resource ids allocated against the capacity
                                        reservation.
                                statuses:
                                  type: array
                                  items:
                                    properties:
                                      code:
                                        type: string
                                        description: The status code.
                                      level:
                                        type: string
                                        description: The level code.
                                        enum:
                                        - Info
                                        - Warning
                                        - Error
                                        x-ms-enum:
                                          name: StatusLevelTypes
                                          modelAsString: false
                                      displayStatus:
                                        type: string
                                        description: The short localizable label for
                                          the status.
                                      message:
                                        type: string
                                        description: The detailed status message,
                                          including for alerts and error messages.
                                      time:
                                        type: string
                                        format: date-time
                                        description: The time of the status.
                                    type: object
                                    description: Instance view status.
                                  x-ms-identifiers: []
                                  description: The resource status information.
                                name:
                                  type: string
                                  readOnly: true
                                  description: The name of the capacity reservation.
                              description: The instance view of a capacity reservation
                                that provides as snapshot of the runtime properties
                                of the capacity reservation that is managed by the
                                platform and can change outside of control plane operations.
                            x-ms-identifiers:
                            - name
                            readOnly: true
                            description: List of instance view of the capacity reservations
                              under the capacity reservation group.
                          sharedSubscriptionIds:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  readOnly: true
                                  type: string
                                  description: Resource Id
                            x-ms-identifiers:
                            - id
                            readOnly: true
                            description: 'List of the subscriptions that the capacity
                              reservation group is shared with. **Note:** Minimum
                              api-version: 2023-09-01. Please refer to https://aka.ms/computereservationsharing
                              for more details.'
                      sharingProfile:
                        description: 'Specifies the settings to enable sharing across
                          subscriptions for the capacity reservation group resource.
                          Pls. keep in mind the capacity reservation group resource
                          generally can be shared across subscriptions belonging to
                          a single azure AAD tenant or cross AAD tenant if there is
                          a trust relationship established between the AAD tenants.
                          **Note:** Minimum api-version: 2023-09-01. Please refer
                          to https://aka.ms/computereservationsharing for more details.'
                        type: object
                        properties:
                          subscriptionIds:
                            type: array
                            description: 'Specifies an array of subscription resource
                              IDs that capacity reservation group is shared with.
                              **Note:** Minimum api-version: 2023-09-01. Please refer
                              to https://aka.ms/computereservationsharing for more
                              details.'
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                    description: capacity reservation group Properties.
                  zones:
                    type: array
                    items:
                      type: string
                    description: Availability Zones to use for this capacity reservation
                      group. The zones can be assigned only during creation. If not
                      provided, the group supports only regional resources in the
                      region. If provided, enforces each capacity reservation in the
                      group to be in one of the zones.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
    delete:
      tags:
      - CapacityReservationGroups
      operationId: CapacityReservationGroups_Delete
      description: The operation to delete a capacity reservation group. This operation
        is allowed only if all the associated resources are disassociated from the
        reservation group and all capacity reservations under the reservation group
        have also been deleted. Please refer to https://aka.ms/CapacityReservation
        for more details.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: capacityReservationGroupName
        in: path
        required: true
        description: The name of the capacity reservation group.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
    get:
      tags:
      - CapacityReservationGroups
      operationId: CapacityReservationGroups_Get
      description: The operation that retrieves information about a capacity reservation
        group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: capacityReservationGroupName
        in: path
        required: true
        description: The name of the capacity reservation group.
        schema:
          type: string
      - name: $expand
        in: query
        required: false
        description: The expand expression to apply on the operation. 'InstanceView'
          will retrieve the list of instance views of the capacity reservations under
          the capacity reservation group which is a snapshot of the runtime properties
          of a capacity reservation that is managed by the platform and can change
          outside of control plane operations.
        x-ms-enum:
          name: CapacityReservationGroupInstanceViewTypes
          modelAsString: true
        schema:
          type: string
          enum:
          - instanceView
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      capacityReservations:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Resource Id
                        readOnly: true
                        description: A list of all capacity reservation resource ids
                          that belong to capacity reservation group.
                      virtualMachinesAssociated:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Resource Id
                        readOnly: true
                        description: A list of references to all virtual machines
                          associated to the capacity reservation group.
                      instanceView:
                        readOnly: true
                        description: The capacity reservation group instance view
                          which has the list of instance views for all the capacity
                          reservations that belong to the capacity reservation group.
                        type: object
                        properties:
                          capacityReservations:
                            type: array
                            items:
                              type: object
                              properties:
                                utilizationInfo:
                                  description: Unutilized capacity of the capacity
                                    reservation.
                                  type: object
                                  properties:
                                    currentCapacity:
                                      readOnly: true
                                      type: integer
                                      format: int32
                                      description: 'The value provides the current
                                        capacity of the VM size which was reserved
                                        successfully and for which the customer is
                                        getting billed. Minimum api-version: 2022-08-01.'
                                    virtualMachinesAllocated:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            readOnly: true
                                            type: string
                                            description: Resource Id
                                      readOnly: true
                                      description: A list of all virtual machines
                                        resource ids allocated against the capacity
                                        reservation.
                                statuses:
                                  type: array
                                  items:
                                    properties:
                                      code:
                                        type: string
                                        description: The status code.
                                      level:
                                        type: string
                                        description: The level code.
                                        enum:
                                        - Info
                                        - Warning
                                        - Error
                                        x-ms-enum:
                                          name: StatusLevelTypes
                                          modelAsString: false
                                      displayStatus:
                                        type: string
                                        description: The short localizable label for
                                          the status.
                                      message:
                                        type: string
                                        description: The detailed status message,
                                          including for alerts and error messages.
                                      time:
                                        type: string
                                        format: date-time
                                        description: The time of the status.
                                    type: object
                                    description: Instance view status.
                                  x-ms-identifiers: []
                                  description: The resource status information.
                                name:
                                  type: string
                                  readOnly: true
                                  description: The name of the capacity reservation.
                              description: The instance view of a capacity reservation
                                that provides as snapshot of the runtime properties
                                of the capacity reservation that is managed by the
                                platform and can change outside of control plane operations.
                            x-ms-identifiers:
                            - name
                            readOnly: true
                            description: List of instance view of the capacity reservations
                              under the capacity reservation group.
                          sharedSubscriptionIds:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  readOnly: true
                                  type: string
                                  description: Resource Id
                            x-ms-identifiers:
                            - id
                            readOnly: true
                            description: 'List of the subscriptions that the capacity
                              reservation group is shared with. **Note:** Minimum
                              api-version: 2023-09-01. Please refer to https://aka.ms/computereservationsharing
                              for more details.'
                      sharingProfile:
                        description: 'Specifies the settings to enable sharing across
                          subscriptions for the capacity reservation group resource.
                          Pls. keep in mind the capacity reservation group resource
                          generally can be shared across subscriptions belonging to
                          a single azure AAD tenant or cross AAD tenant if there is
                          a trust relationship established between the AAD tenants.
                          **Note:** Minimum api-version: 2023-09-01. Please refer
                          to https://aka.ms/computereservationsharing for more details.'
                        type: object
                        properties:
                          subscriptionIds:
                            type: array
                            description: 'Specifies an array of subscription resource
                              IDs that capacity reservation group is shared with.
                              **Note:** Minimum api-version: 2023-09-01. Please refer
                              to https://aka.ms/computereservationsharing for more
                              details.'
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                    description: capacity reservation group Properties.
                  zones:
                    type: array
                    items:
                      type: string
                    description: Availability Zones to use for this capacity reservation
                      group. The zones can be assigned only during creation. If not
                      provided, the group supports only regional resources in the
                      region. If provided, enforces each capacity reservation in the
                      group to be in one of the zones.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/capacityReservationGroups:
    get:
      tags:
      - CapacityReservationGroups
      operationId: CapacityReservationGroups_ListByResourceGroup
      description: Lists all of the capacity reservation groups in the specified resource
        group. Use the nextLink property in the response to get the next page of capacity
        reservation groups.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: $expand
        in: query
        required: false
        description: The expand expression to apply on the operation. Based on the
          expand param(s) specified we return Virtual Machine or ScaleSet VM Instance
          or both resource Ids which are associated to capacity reservation group
          in the response.
        x-ms-enum:
          name: ExpandTypesForGetCapacityReservationGroups
          modelAsString: true
        schema:
          type: string
          enum:
          - virtualMachineScaleSetVMs/$ref
          - virtualMachines/$ref
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id
                        name:
                          readOnly: true
                          type: string
                          description: Resource name
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        location:
                          type: string
                          description: Resource location
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags
                        properties:
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            capacityReservations:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    readOnly: true
                                    type: string
                                    description: Resource Id
                              readOnly: true
                              description: A list of all capacity reservation resource
                                ids that belong to capacity reservation group.
                            virtualMachinesAssociated:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    readOnly: true
                                    type: string
                                    description: Resource Id
                              readOnly: true
                              description: A list of references to all virtual machines
                                associated to the capacity reservation group.
                            instanceView:
                              readOnly: true
                              description: The capacity reservation group instance
                                view which has the list of instance views for all
                                the capacity reservations that belong to the capacity
                                reservation group.
                              type: object
                              properties:
                                capacityReservations:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      utilizationInfo:
                                        description: Unutilized capacity of the capacity
                                          reservation.
                                        type: object
                                        properties:
                                          currentCapacity:
                                            readOnly: true
                                            type: integer
                                            format: int32
                                            description: 'The value provides the current
                                              capacity of the VM size which was reserved
                                              successfully and for which the customer
                                              is getting billed. Minimum api-version:
                                              2022-08-01.'
                                          virtualMachinesAllocated:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                id:
                                                  readOnly: true
                                                  type: string
                                                  description: Resource Id
                                            readOnly: true
                                            description: A list of all virtual machines
                                              resource ids allocated against the capacity
                                              reservation.
                                      statuses:
                                        type: array
                                        items:
                                          properties:
                                            code:
                                              type: string
                                              description: The status code.
                                            level:
                                              type: string
                                              description: The level code.
                                              enum:
                                              - Info
                                              - Warning
                                              - Error
                                              x-ms-enum:
                                                name: StatusLevelTypes
                                                modelAsString: false
                                            displayStatus:
                                              type: string
                                              description: The short localizable label
                                                for the status.
                                            message:
                                              type: string
                                              description: The detailed status message,
                                                including for alerts and error messages.
                                            time:
                                              type: string
                                              format: date-time
                                              description: The time of the status.
                                          type: object
                                          description: Instance view status.
                                        x-ms-identifiers: []
                                        description: The resource status information.
                                      name:
                                        type: string
                                        readOnly: true
                                        description: The name of the capacity reservation.
                                    description: The instance view of a capacity reservation
                                      that provides as snapshot of the runtime properties
                                      of the capacity reservation that is managed
                                      by the platform and can change outside of control
                                      plane operations.
                                  x-ms-identifiers:
                                  - name
                                  readOnly: true
                                  description: List of instance view of the capacity
                                    reservations under the capacity reservation group.
                                sharedSubscriptionIds:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        readOnly: true
                                        type: string
                                        description: Resource Id
                                  x-ms-identifiers:
                                  - id
                                  readOnly: true
                                  description: 'List of the subscriptions that the
                                    capacity reservation group is shared with. **Note:**
                                    Minimum api-version: 2023-09-01. Please refer
                                    to https://aka.ms/computereservationsharing for
                                    more details.'
                            sharingProfile:
                              description: 'Specifies the settings to enable sharing
                                across subscriptions for the capacity reservation
                                group resource. Pls. keep in mind the capacity reservation
                                group resource generally can be shared across subscriptions
                                belonging to a single azure AAD tenant or cross AAD
                                tenant if there is a trust relationship established
                                between the AAD tenants. **Note:** Minimum api-version:
                                2023-09-01. Please refer to https://aka.ms/computereservationsharing
                                for more details.'
                              type: object
                              properties:
                                subscriptionIds:
                                  type: array
                                  description: 'Specifies an array of subscription
                                    resource IDs that capacity reservation group is
                                    shared with. **Note:** Minimum api-version: 2023-09-01.
                                    Please refer to https://aka.ms/computereservationsharing
                                    for more details.'
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        description: Resource Id
                          description: capacity reservation group Properties.
                        zones:
                          type: array
                          items:
                            type: string
                          description: Availability Zones to use for this capacity
                            reservation group. The zones can be assigned only during
                            creation. If not provided, the group supports only regional
                            resources in the region. If provided, enforces each capacity
                            reservation in the group to be in one of the zones.
                      required:
                      - location
                      description: The Resource model definition.
                      x-ms-azure-resource: true
                    description: The list of capacity reservation groups
                  nextLink:
                    type: string
                    description: The URI to fetch the next page of capacity reservation
                      groups. Call ListNext() with this URI to fetch the next page
                      of capacity reservation groups.
                required:
                - value
                description: The List capacity reservation group with resource group
                  response.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/capacityReservationGroups:
    get:
      tags:
      - CapacityReservationGroups
      operationId: CapacityReservationGroups_ListBySubscription
      description: Lists all of the capacity reservation groups in the subscription.
        Use the nextLink property in the response to get the next page of capacity
        reservation groups.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: $expand
        in: query
        required: false
        description: The expand expression to apply on the operation. Based on the
          expand param(s) specified we return Virtual Machine or ScaleSet VM Instance
          or both resource Ids which are associated to capacity reservation group
          in the response.
        x-ms-enum:
          name: ExpandTypesForGetCapacityReservationGroups
          modelAsString: true
        schema:
          type: string
          enum:
          - virtualMachineScaleSetVMs/$ref
          - virtualMachines/$ref
      - name: resourceIdsOnly
        in: query
        required: false
        description: The query option to fetch Capacity Reservation Group Resource
          Ids. <br> 'CreatedInSubscription' enables fetching Resource Ids for all
          capacity reservation group resources created in the subscription. <br> 'SharedWithSubscription'
          enables fetching Resource Ids for all capacity reservation group resources
          shared with the subscription. <br> 'All' enables fetching Resource Ids for
          all capacity reservation group resources shared with the subscription and
          created in the subscription.
        x-ms-enum:
          name: ResourceIdOptionsForGetCapacityReservationGroups
          modelAsString: true
        schema:
          type: string
          enum:
          - CreatedInSubscription
          - SharedWithSubscription
          - All
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id
                        name:
                          readOnly: true
                          type: string
                          description: Resource name
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        location:
                          type: string
                          description: Resource location
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags
                        properties:
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            capacityReservations:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    readOnly: true
                                    type: string
                                    description: Resource Id
                              readOnly: true
                              description: A list of all capacity reservation resource
                                ids that belong to capacity reservation group.
                            virtualMachinesAssociated:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    readOnly: true
                                    type: string
                                    description: Resource Id
                              readOnly: true
                              description: A list of references to all virtual machines
                                associated to the capacity reservation group.
                            instanceView:
                              readOnly: true
                              description: The capacity reservation group instance
                                view which has the list of instance views for all
                                the capacity reservations that belong to the capacity
                                reservation group.
                              type: object
                              properties:
                                capacityReservations:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      utilizationInfo:
                                        description: Unutilized capacity of the capacity
                                          reservation.
                                        type: object
                                        properties:
                                          currentCapacity:
                                            readOnly: true
                                            type: integer
                                            format: int32
                                            description: 'The value provides the current
                                              capacity of the VM size which was reserved
                                              successfully and for which the customer
                                              is getting billed. Minimum api-version:
                                              2022-08-01.'
                                          virtualMachinesAllocated:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                id:
                                                  readOnly: true
                                                  type: string
                                                  description: Resource Id
                                            readOnly: true
                                            description: A list of all virtual machines
                                              resource ids allocated against the capacity
                                              reservation.
                                      statuses:
                                        type: array
                                        items:
                                          properties:
                                            code:
                                              type: string
                                              description: The status code.
                                            level:
                                              type: string
                                              description: The level code.
                                              enum:
                                              - Info
                                              - Warning
                                              - Error
                                              x-ms-enum:
                                                name: StatusLevelTypes
                                                modelAsString: false
                                            displayStatus:
                                              type: string
                                              description: The short localizable label
                                                for the status.
                                            message:
                                              type: string
                                              description: The detailed status message,
                                                including for alerts and error messages.
                                            time:
                                              type: string
                                              format: date-time
                                              description: The time of the status.
                                          type: object
                                          description: Instance view status.
                                        x-ms-identifiers: []
                                        description: The resource status information.
                                      name:
                                        type: string
                                        readOnly: true
                                        description: The name of the capacity reservation.
                                    description: The instance view of a capacity reservation
                                      that provides as snapshot of the runtime properties
                                      of the capacity reservation that is managed
                                      by the platform and can change outside of control
                                      plane operations.
                                  x-ms-identifiers:
                                  - name
                                  readOnly: true
                                  description: List of instance view of the capacity
                                    reservations under the capacity reservation group.
[...]
