openapi: 3.0.0
info:
  title: ComputeManagementClient
  description: The Compute Management Client.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups/{hostGroupName}:
    put:
      tags:
      - DedicatedHostGroups
      operationId: DedicatedHostGroups_CreateOrUpdate
      description: Create or update a dedicated host group. For details of Dedicated
        Host and Dedicated Host Groups please see [Dedicated Host Documentation] (https://go.microsoft.com/fwlink/?linkid=2082596)
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hostGroupName
        in: path
        required: true
        description: The name of the dedicated host group.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource Id
                name:
                  readOnly: true
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                location:
                  type: string
                  description: Resource location
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  x-ms-client-flatten: true
                  properties:
                    platformFaultDomainCount:
                      type: integer
                      format: int32
                      minimum: 1
                      description: Number of fault domains that the host group can
                        span.
                    hosts:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            readOnly: true
                            type: string
                            description: Resource Id
                      readOnly: true
                      description: A list of references to all dedicated hosts in
                        the dedicated host group.
                    instanceView:
                      readOnly: true
                      description: The dedicated host group instance view, which has
                        the list of instance view of the dedicated hosts under the
                        dedicated host group.
                      properties:
                        hosts:
                          type: array
                          items:
                            type: object
                            properties:
                              assetId:
                                readOnly: true
                                type: string
                                description: Specifies the unique id of the dedicated
                                  physical machine on which the dedicated host resides.
                              availableCapacity:
                                description: Unutilized capacity of the dedicated
                                  host.
                                properties:
                                  allocatableVMs:
                                    type: array
                                    items:
                                      properties:
                                        vmSize:
                                          type: string
                                          description: VM size in terms of which the
                                            unutilized capacity is represented.
                                        count:
                                          type: number
                                          format: double
                                          description: Maximum number of VMs of size
                                            vmSize that can fit in the dedicated host's
                                            remaining capacity.
                                      description: Represents the dedicated host unutilized
                                        capacity in terms of a specific VM size.
                                    x-ms-identifiers: []
                                    description: The unutilized capacity of the dedicated
                                      host represented in terms of each VM size that
                                      is allowed to be deployed to the dedicated host.
                              statuses:
                                type: array
                                items:
                                  properties:
                                    code:
                                      type: string
                                      description: The status code.
                                    level:
                                      type: string
                                      description: The level code.
                                      enum:
                                      - Info
                                      - Warning
                                      - Error
                                      x-ms-enum:
                                        name: StatusLevelTypes
                                        modelAsString: false
                                    displayStatus:
                                      type: string
                                      description: The short localizable label for
                                        the status.
                                    message:
                                      type: string
                                      description: The detailed status message, including
                                        for alerts and error messages.
                                    time:
                                      type: string
                                      format: date-time
                                      description: The time of the status.
                                  type: object
                                  description: Instance view status.
                                x-ms-identifiers: []
                                description: The resource status information.
                              name:
                                type: string
                                readOnly: true
                                description: The name of the dedicated host.
                            description: The instance view of a dedicated host.
                          x-ms-identifiers:
                          - name
                          description: List of instance view of the dedicated hosts
                            under the dedicated host group.
                    supportAutomaticPlacement:
                      type: boolean
                      description: 'Specifies whether virtual machines or virtual
                        machine scale sets can be placed automatically on the dedicated
                        host group. Automatic placement means resources are allocated
                        on dedicated hosts, that are chosen by Azure, under the dedicated
                        host group. The value is defaulted to ''false'' when not provided.
                        Minimum api-version: 2020-06-01.'
                    additionalCapabilities:
                      type: object
                      properties:
                        ultraSSDEnabled:
                          type: boolean
                          description: 'The flag that enables or disables a capability
                            to have UltraSSD Enabled Virtual Machines on Dedicated
                            Hosts of the Dedicated Host Group. For the Virtual Machines
                            to be UltraSSD Enabled, UltraSSDEnabled flag for the resource
                            needs to be set true as well. The value is defaulted to
                            ''false'' when not provided. Please refer to https://docs.microsoft.com/en-us/azure/virtual-machines/disks-enable-ultra-ssd
                            for more details on Ultra SSD feature. **Note:** The ultraSSDEnabled
                            setting can only be enabled for Host Groups that are created
                            as zonal. Minimum api-version: 2022-03-01.'
                      description: 'Enables or disables a capability on the dedicated
                        host group. Minimum api-version: 2022-03-01.'
                  required:
                  - platformFaultDomainCount
                  description: Dedicated Host Group Properties.
                zones:
                  type: array
                  items:
                    type: string
                  description: Availability Zone to use for this host group. Only
                    single zone is supported. The zone can be assigned only during
                    creation. If not provided, the group supports all zones in the
                    region. If provided, enforces each host in the group to be in
                    the same zone.
              required:
              - location
              description: The Resource model definition.
              x-ms-azure-resource: true
        description: Parameters supplied to the Create Dedicated Host Group.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      platformFaultDomainCount:
                        type: integer
                        format: int32
                        minimum: 1
                        description: Number of fault domains that the host group can
                          span.
                      hosts:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Resource Id
                        readOnly: true
                        description: A list of references to all dedicated hosts in
                          the dedicated host group.
                      instanceView:
                        readOnly: true
                        description: The dedicated host group instance view, which
                          has the list of instance view of the dedicated hosts under
                          the dedicated host group.
                        properties:
                          hosts:
                            type: array
                            items:
                              type: object
                              properties:
                                assetId:
                                  readOnly: true
                                  type: string
                                  description: Specifies the unique id of the dedicated
                                    physical machine on which the dedicated host resides.
                                availableCapacity:
                                  description: Unutilized capacity of the dedicated
                                    host.
                                  properties:
                                    allocatableVMs:
                                      type: array
                                      items:
                                        properties:
                                          vmSize:
                                            type: string
                                            description: VM size in terms of which
                                              the unutilized capacity is represented.
                                          count:
                                            type: number
                                            format: double
                                            description: Maximum number of VMs of
                                              size vmSize that can fit in the dedicated
                                              host's remaining capacity.
                                        description: Represents the dedicated host
                                          unutilized capacity in terms of a specific
                                          VM size.
                                      x-ms-identifiers: []
                                      description: The unutilized capacity of the
                                        dedicated host represented in terms of each
                                        VM size that is allowed to be deployed to
                                        the dedicated host.
                                statuses:
                                  type: array
                                  items:
                                    properties:
                                      code:
                                        type: string
                                        description: The status code.
                                      level:
                                        type: string
                                        description: The level code.
                                        enum:
                                        - Info
                                        - Warning
                                        - Error
                                        x-ms-enum:
                                          name: StatusLevelTypes
                                          modelAsString: false
                                      displayStatus:
                                        type: string
                                        description: The short localizable label for
                                          the status.
                                      message:
                                        type: string
                                        description: The detailed status message,
                                          including for alerts and error messages.
                                      time:
                                        type: string
                                        format: date-time
                                        description: The time of the status.
                                    type: object
                                    description: Instance view status.
                                  x-ms-identifiers: []
                                  description: The resource status information.
                                name:
                                  type: string
                                  readOnly: true
                                  description: The name of the dedicated host.
                              description: The instance view of a dedicated host.
                            x-ms-identifiers:
                            - name
                            description: List of instance view of the dedicated hosts
                              under the dedicated host group.
                      supportAutomaticPlacement:
                        type: boolean
                        description: 'Specifies whether virtual machines or virtual
                          machine scale sets can be placed automatically on the dedicated
                          host group. Automatic placement means resources are allocated
                          on dedicated hosts, that are chosen by Azure, under the
                          dedicated host group. The value is defaulted to ''false''
                          when not provided. Minimum api-version: 2020-06-01.'
                      additionalCapabilities:
                        type: object
                        properties:
                          ultraSSDEnabled:
                            type: boolean
                            description: 'The flag that enables or disables a capability
                              to have UltraSSD Enabled Virtual Machines on Dedicated
                              Hosts of the Dedicated Host Group. For the Virtual Machines
                              to be UltraSSD Enabled, UltraSSDEnabled flag for the
                              resource needs to be set true as well. The value is
                              defaulted to ''false'' when not provided. Please refer
                              to https://docs.microsoft.com/en-us/azure/virtual-machines/disks-enable-ultra-ssd
                              for more details on Ultra SSD feature. **Note:** The
                              ultraSSDEnabled setting can only be enabled for Host
                              Groups that are created as zonal. Minimum api-version:
                              2022-03-01.'
                        description: 'Enables or disables a capability on the dedicated
                          host group. Minimum api-version: 2022-03-01.'
                    required:
                    - platformFaultDomainCount
                    description: Dedicated Host Group Properties.
                  zones:
                    type: array
                    items:
                      type: string
                    description: Availability Zone to use for this host group. Only
                      single zone is supported. The zone can be assigned only during
                      creation. If not provided, the group supports all zones in the
                      region. If provided, enforces each host in the group to be in
                      the same zone.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      platformFaultDomainCount:
                        type: integer
                        format: int32
                        minimum: 1
                        description: Number of fault domains that the host group can
                          span.
                      hosts:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Resource Id
                        readOnly: true
                        description: A list of references to all dedicated hosts in
                          the dedicated host group.
                      instanceView:
                        readOnly: true
                        description: The dedicated host group instance view, which
                          has the list of instance view of the dedicated hosts under
                          the dedicated host group.
                        properties:
                          hosts:
                            type: array
                            items:
                              type: object
                              properties:
                                assetId:
                                  readOnly: true
                                  type: string
                                  description: Specifies the unique id of the dedicated
                                    physical machine on which the dedicated host resides.
                                availableCapacity:
                                  description: Unutilized capacity of the dedicated
                                    host.
                                  properties:
                                    allocatableVMs:
                                      type: array
                                      items:
                                        properties:
                                          vmSize:
                                            type: string
                                            description: VM size in terms of which
                                              the unutilized capacity is represented.
                                          count:
                                            type: number
                                            format: double
                                            description: Maximum number of VMs of
                                              size vmSize that can fit in the dedicated
                                              host's remaining capacity.
                                        description: Represents the dedicated host
                                          unutilized capacity in terms of a specific
                                          VM size.
                                      x-ms-identifiers: []
                                      description: The unutilized capacity of the
                                        dedicated host represented in terms of each
                                        VM size that is allowed to be deployed to
                                        the dedicated host.
                                statuses:
                                  type: array
                                  items:
                                    properties:
                                      code:
                                        type: string
                                        description: The status code.
                                      level:
                                        type: string
                                        description: The level code.
                                        enum:
                                        - Info
                                        - Warning
                                        - Error
                                        x-ms-enum:
                                          name: StatusLevelTypes
                                          modelAsString: false
                                      displayStatus:
                                        type: string
                                        description: The short localizable label for
                                          the status.
                                      message:
                                        type: string
                                        description: The detailed status message,
                                          including for alerts and error messages.
                                      time:
                                        type: string
                                        format: date-time
                                        description: The time of the status.
                                    type: object
                                    description: Instance view status.
                                  x-ms-identifiers: []
                                  description: The resource status information.
                                name:
                                  type: string
                                  readOnly: true
                                  description: The name of the dedicated host.
                              description: The instance view of a dedicated host.
                            x-ms-identifiers:
                            - name
                            description: List of instance view of the dedicated hosts
                              under the dedicated host group.
                      supportAutomaticPlacement:
                        type: boolean
                        description: 'Specifies whether virtual machines or virtual
                          machine scale sets can be placed automatically on the dedicated
                          host group. Automatic placement means resources are allocated
                          on dedicated hosts, that are chosen by Azure, under the
                          dedicated host group. The value is defaulted to ''false''
                          when not provided. Minimum api-version: 2020-06-01.'
                      additionalCapabilities:
                        type: object
                        properties:
                          ultraSSDEnabled:
                            type: boolean
                            description: 'The flag that enables or disables a capability
                              to have UltraSSD Enabled Virtual Machines on Dedicated
                              Hosts of the Dedicated Host Group. For the Virtual Machines
                              to be UltraSSD Enabled, UltraSSDEnabled flag for the
                              resource needs to be set true as well. The value is
                              defaulted to ''false'' when not provided. Please refer
                              to https://docs.microsoft.com/en-us/azure/virtual-machines/disks-enable-ultra-ssd
                              for more details on Ultra SSD feature. **Note:** The
                              ultraSSDEnabled setting can only be enabled for Host
                              Groups that are created as zonal. Minimum api-version:
                              2022-03-01.'
                        description: 'Enables or disables a capability on the dedicated
                          host group. Minimum api-version: 2022-03-01.'
                    required:
                    - platformFaultDomainCount
                    description: Dedicated Host Group Properties.
                  zones:
                    type: array
                    items:
                      type: string
                    description: Availability Zone to use for this host group. Only
                      single zone is supported. The zone can be assigned only during
                      creation. If not provided, the group supports all zones in the
                      region. If provided, enforces each host in the group to be in
                      the same zone.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
    patch:
      tags:
      - DedicatedHostGroups
      operationId: DedicatedHostGroups_Update
      description: Update an dedicated host group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hostGroupName
        in: path
        required: true
        description: The name of the dedicated host group.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  x-ms-client-flatten: true
                  properties:
                    platformFaultDomainCount:
                      type: integer
                      format: int32
                      minimum: 1
                      description: Number of fault domains that the host group can
                        span.
                    hosts:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            readOnly: true
                            type: string
                            description: Resource Id
                      readOnly: true
                      description: A list of references to all dedicated hosts in
                        the dedicated host group.
                    instanceView:
                      readOnly: true
                      description: The dedicated host group instance view, which has
                        the list of instance view of the dedicated hosts under the
                        dedicated host group.
                      properties:
                        hosts:
                          type: array
                          items:
                            type: object
                            properties:
                              assetId:
                                readOnly: true
                                type: string
                                description: Specifies the unique id of the dedicated
                                  physical machine on which the dedicated host resides.
                              availableCapacity:
                                description: Unutilized capacity of the dedicated
                                  host.
                                properties:
                                  allocatableVMs:
                                    type: array
                                    items:
                                      properties:
                                        vmSize:
                                          type: string
                                          description: VM size in terms of which the
                                            unutilized capacity is represented.
                                        count:
                                          type: number
                                          format: double
                                          description: Maximum number of VMs of size
                                            vmSize that can fit in the dedicated host's
                                            remaining capacity.
                                      description: Represents the dedicated host unutilized
                                        capacity in terms of a specific VM size.
                                    x-ms-identifiers: []
                                    description: The unutilized capacity of the dedicated
                                      host represented in terms of each VM size that
                                      is allowed to be deployed to the dedicated host.
                              statuses:
                                type: array
                                items:
                                  properties:
                                    code:
                                      type: string
                                      description: The status code.
                                    level:
                                      type: string
                                      description: The level code.
                                      enum:
                                      - Info
                                      - Warning
                                      - Error
                                      x-ms-enum:
                                        name: StatusLevelTypes
                                        modelAsString: false
                                    displayStatus:
                                      type: string
                                      description: The short localizable label for
                                        the status.
                                    message:
                                      type: string
                                      description: The detailed status message, including
                                        for alerts and error messages.
                                    time:
                                      type: string
                                      format: date-time
                                      description: The time of the status.
                                  type: object
                                  description: Instance view status.
                                x-ms-identifiers: []
                                description: The resource status information.
                              name:
                                type: string
                                readOnly: true
                                description: The name of the dedicated host.
                            description: The instance view of a dedicated host.
                          x-ms-identifiers:
                          - name
                          description: List of instance view of the dedicated hosts
                            under the dedicated host group.
                    supportAutomaticPlacement:
                      type: boolean
                      description: 'Specifies whether virtual machines or virtual
                        machine scale sets can be placed automatically on the dedicated
                        host group. Automatic placement means resources are allocated
                        on dedicated hosts, that are chosen by Azure, under the dedicated
                        host group. The value is defaulted to ''false'' when not provided.
                        Minimum api-version: 2020-06-01.'
                    additionalCapabilities:
                      type: object
                      properties:
                        ultraSSDEnabled:
                          type: boolean
                          description: 'The flag that enables or disables a capability
                            to have UltraSSD Enabled Virtual Machines on Dedicated
                            Hosts of the Dedicated Host Group. For the Virtual Machines
                            to be UltraSSD Enabled, UltraSSDEnabled flag for the resource
                            needs to be set true as well. The value is defaulted to
                            ''false'' when not provided. Please refer to https://docs.microsoft.com/en-us/azure/virtual-machines/disks-enable-ultra-ssd
                            for more details on Ultra SSD feature. **Note:** The ultraSSDEnabled
                            setting can only be enabled for Host Groups that are created
                            as zonal. Minimum api-version: 2022-03-01.'
                      description: 'Enables or disables a capability on the dedicated
                        host group. Minimum api-version: 2022-03-01.'
                  required:
                  - platformFaultDomainCount
                  description: Dedicated Host Group Properties.
                zones:
                  type: array
                  items:
                    type: string
                  description: Availability Zone to use for this host group. Only
                    single zone is supported. The zone can be assigned only during
                    creation. If not provided, the group supports all zones in the
                    region. If provided, enforces each host in the group to be in
                    the same zone.
              description: The Update Resource model definition.
        description: Parameters supplied to the Update Dedicated Host Group operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      platformFaultDomainCount:
                        type: integer
                        format: int32
                        minimum: 1
                        description: Number of fault domains that the host group can
                          span.
                      hosts:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Resource Id
                        readOnly: true
                        description: A list of references to all dedicated hosts in
                          the dedicated host group.
                      instanceView:
                        readOnly: true
                        description: The dedicated host group instance view, which
                          has the list of instance view of the dedicated hosts under
                          the dedicated host group.
                        properties:
                          hosts:
                            type: array
                            items:
                              type: object
                              properties:
                                assetId:
                                  readOnly: true
                                  type: string
                                  description: Specifies the unique id of the dedicated
                                    physical machine on which the dedicated host resides.
                                availableCapacity:
                                  description: Unutilized capacity of the dedicated
                                    host.
                                  properties:
                                    allocatableVMs:
                                      type: array
                                      items:
                                        properties:
                                          vmSize:
                                            type: string
                                            description: VM size in terms of which
                                              the unutilized capacity is represented.
                                          count:
                                            type: number
                                            format: double
                                            description: Maximum number of VMs of
                                              size vmSize that can fit in the dedicated
                                              host's remaining capacity.
                                        description: Represents the dedicated host
                                          unutilized capacity in terms of a specific
                                          VM size.
                                      x-ms-identifiers: []
                                      description: The unutilized capacity of the
                                        dedicated host represented in terms of each
                                        VM size that is allowed to be deployed to
                                        the dedicated host.
                                statuses:
                                  type: array
                                  items:
                                    properties:
                                      code:
                                        type: string
                                        description: The status code.
                                      level:
                                        type: string
                                        description: The level code.
                                        enum:
                                        - Info
                                        - Warning
                                        - Error
                                        x-ms-enum:
                                          name: StatusLevelTypes
                                          modelAsString: false
                                      displayStatus:
                                        type: string
                                        description: The short localizable label for
                                          the status.
                                      message:
                                        type: string
                                        description: The detailed status message,
                                          including for alerts and error messages.
                                      time:
                                        type: string
                                        format: date-time
                                        description: The time of the status.
                                    type: object
                                    description: Instance view status.
                                  x-ms-identifiers: []
                                  description: The resource status information.
                                name:
                                  type: string
                                  readOnly: true
                                  description: The name of the dedicated host.
                              description: The instance view of a dedicated host.
                            x-ms-identifiers:
                            - name
                            description: List of instance view of the dedicated hosts
                              under the dedicated host group.
                      supportAutomaticPlacement:
                        type: boolean
                        description: 'Specifies whether virtual machines or virtual
                          machine scale sets can be placed automatically on the dedicated
                          host group. Automatic placement means resources are allocated
                          on dedicated hosts, that are chosen by Azure, under the
                          dedicated host group. The value is defaulted to ''false''
                          when not provided. Minimum api-version: 2020-06-01.'
                      additionalCapabilities:
                        type: object
                        properties:
                          ultraSSDEnabled:
                            type: boolean
                            description: 'The flag that enables or disables a capability
                              to have UltraSSD Enabled Virtual Machines on Dedicated
                              Hosts of the Dedicated Host Group. For the Virtual Machines
                              to be UltraSSD Enabled, UltraSSDEnabled flag for the
                              resource needs to be set true as well. The value is
                              defaulted to ''false'' when not provided. Please refer
                              to https://docs.microsoft.com/en-us/azure/virtual-machines/disks-enable-ultra-ssd
                              for more details on Ultra SSD feature. **Note:** The
                              ultraSSDEnabled setting can only be enabled for Host
                              Groups that are created as zonal. Minimum api-version:
                              2022-03-01.'
                        description: 'Enables or disables a capability on the dedicated
                          host group. Minimum api-version: 2022-03-01.'
                    required:
                    - platformFaultDomainCount
                    description: Dedicated Host Group Properties.
                  zones:
                    type: array
                    items:
                      type: string
                    description: Availability Zone to use for this host group. Only
                      single zone is supported. The zone can be assigned only during
                      creation. If not provided, the group supports all zones in the
                      region. If provided, enforces each host in the group to be in
                      the same zone.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
    delete:
      tags:
      - DedicatedHostGroups
      operationId: DedicatedHostGroups_Delete
      description: Delete a dedicated host group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hostGroupName
        in: path
        required: true
        description: The name of the dedicated host group.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
    get:
      tags:
      - DedicatedHostGroups
      operationId: DedicatedHostGroups_Get
      description: Retrieves information about a dedicated host group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hostGroupName
        in: path
        required: true
        description: The name of the dedicated host group.
        schema:
          type: string
      - name: $expand
        in: query
        required: false
        description: The expand expression to apply on the operation. 'InstanceView'
          will retrieve the list of instance views of the dedicated hosts under the
          dedicated host group. 'UserData' is not supported for dedicated host group.
        x-ms-enum:
          name: InstanceViewTypes
          modelAsString: false
        schema:
          type: string
          enum:
          - instanceView
          - userData
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      platformFaultDomainCount:
                        type: integer
                        format: int32
                        minimum: 1
                        description: Number of fault domains that the host group can
                          span.
                      hosts:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Resource Id
                        readOnly: true
                        description: A list of references to all dedicated hosts in
                          the dedicated host group.
                      instanceView:
                        readOnly: true
                        description: The dedicated host group instance view, which
                          has the list of instance view of the dedicated hosts under
                          the dedicated host group.
                        properties:
                          hosts:
                            type: array
                            items:
                              type: object
                              properties:
                                assetId:
                                  readOnly: true
                                  type: string
                                  description: Specifies the unique id of the dedicated
                                    physical machine on which the dedicated host resides.
                                availableCapacity:
                                  description: Unutilized capacity of the dedicated
                                    host.
                                  properties:
                                    allocatableVMs:
                                      type: array
                                      items:
                                        properties:
                                          vmSize:
                                            type: string
                                            description: VM size in terms of which
                                              the unutilized capacity is represented.
                                          count:
                                            type: number
                                            format: double
                                            description: Maximum number of VMs of
                                              size vmSize that can fit in the dedicated
                                              host's remaining capacity.
                                        description: Represents the dedicated host
                                          unutilized capacity in terms of a specific
                                          VM size.
                                      x-ms-identifiers: []
                                      description: The unutilized capacity of the
                                        dedicated host represented in terms of each
                                        VM size that is allowed to be deployed to
                                        the dedicated host.
                                statuses:
                                  type: array
                                  items:
                                    properties:
                                      code:
                                        type: string
                                        description: The status code.
                                      level:
                                        type: string
                                        description: The level code.
                                        enum:
                                        - Info
                                        - Warning
                                        - Error
                                        x-ms-enum:
                                          name: StatusLevelTypes
                                          modelAsString: false
                                      displayStatus:
                                        type: string
                                        description: The short localizable label for
                                          the status.
                                      message:
                                        type: string
                                        description: The detailed status message,
                                          including for alerts and error messages.
                                      time:
                                        type: string
                                        format: date-time
                                        description: The time of the status.
                                    type: object
                                    description: Instance view status.
                                  x-ms-identifiers: []
                                  description: The resource status information.
                                name:
                                  type: string
                                  readOnly: true
                                  description: The name of the dedicated host.
                              description: The instance view of a dedicated host.
                            x-ms-identifiers:
                            - name
                            description: List of instance view of the dedicated hosts
                              under the dedicated host group.
                      supportAutomaticPlacement:
                        type: boolean
                        description: 'Specifies whether virtual machines or virtual
                          machine scale sets can be placed automatically on the dedicated
                          host group. Automatic placement means resources are allocated
                          on dedicated hosts, that are chosen by Azure, under the
                          dedicated host group. The value is defaulted to ''false''
                          when not provided. Minimum api-version: 2020-06-01.'
                      additionalCapabilities:
                        type: object
                        properties:
                          ultraSSDEnabled:
                            type: boolean
                            description: 'The flag that enables or disables a capability
                              to have UltraSSD Enabled Virtual Machines on Dedicated
                              Hosts of the Dedicated Host Group. For the Virtual Machines
                              to be UltraSSD Enabled, UltraSSDEnabled flag for the
                              resource needs to be set true as well. The value is
                              defaulted to ''false'' when not provided. Please refer
                              to https://docs.microsoft.com/en-us/azure/virtual-machines/disks-enable-ultra-ssd
                              for more details on Ultra SSD feature. **Note:** The
                              ultraSSDEnabled setting can only be enabled for Host
                              Groups that are created as zonal. Minimum api-version:
                              2022-03-01.'
                        description: 'Enables or disables a capability on the dedicated
                          host group. Minimum api-version: 2022-03-01.'
                    required:
                    - platformFaultDomainCount
                    description: Dedicated Host Group Properties.
                  zones:
                    type: array
                    items:
                      type: string
                    description: Availability Zone to use for this host group. Only
                      single zone is supported. The zone can be assigned only during
                      creation. If not provided, the group supports all zones in the
                      region. If provided, enforces each host in the group to be in
                      the same zone.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups:
    get:
      tags:
      - DedicatedHostGroups
      operationId: DedicatedHostGroups_ListByResourceGroup
      description: Lists all of the dedicated host groups in the specified resource
        group. Use the nextLink property in the response to get the next page of dedicated
        host groups.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id
                        name:
                          readOnly: true
                          type: string
                          description: Resource name
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        location:
                          type: string
                          description: Resource location
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags
                        properties:
                          x-ms-client-flatten: true
                          properties:
                            platformFaultDomainCount:
                              type: integer
                              format: int32
                              minimum: 1
                              description: Number of fault domains that the host group
                                can span.
                            hosts:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    readOnly: true
                                    type: string
                                    description: Resource Id
                              readOnly: true
                              description: A list of references to all dedicated hosts
                                in the dedicated host group.
                            instanceView:
                              readOnly: true
                              description: The dedicated host group instance view,
                                which has the list of instance view of the dedicated
                                hosts under the dedicated host group.
                              properties:
                                hosts:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      assetId:
                                        readOnly: true
                                        type: string
                                        description: Specifies the unique id of the
                                          dedicated physical machine on which the
                                          dedicated host resides.
                                      availableCapacity:
                                        description: Unutilized capacity of the dedicated
                                          host.
                                        properties:
                                          allocatableVMs:
                                            type: array
                                            items:
                                              properties:
                                                vmSize:
                                                  type: string
                                                  description: VM size in terms of
                                                    which the unutilized capacity
                                                    is represented.
                                                count:
                                                  type: number
                                                  format: double
                                                  description: Maximum number of VMs
                                                    of size vmSize that can fit in
                                                    the dedicated host's remaining
                                                    capacity.
                                              description: Represents the dedicated
                                                host unutilized capacity in terms
                                                of a specific VM size.
                                            x-ms-identifiers: []
                                            description: The unutilized capacity of
                                              the dedicated host represented in terms
                                              of each VM size that is allowed to be
                                              deployed to the dedicated host.
                                      statuses:
                                        type: array
                                        items:
                                          properties:
                                            code:
                                              type: string
                                              description: The status code.
                                            level:
                                              type: string
                                              description: The level code.
                                              enum:
                                              - Info
                                              - Warning
                                              - Error
                                              x-ms-enum:
                                                name: StatusLevelTypes
                                                modelAsString: false
                                            displayStatus:
                                              type: string
                                              description: The short localizable label
                                                for the status.
                                            message:
                                              type: string
                                              description: The detailed status message,
                                                including for alerts and error messages.
                                            time:
                                              type: string
                                              format: date-time
                                              description: The time of the status.
                                          type: object
                                          description: Instance view status.
                                        x-ms-identifiers: []
                                        description: The resource status information.
                                      name:
                                        type: string
                                        readOnly: true
                                        description: The name of the dedicated host.
                                    description: The instance view of a dedicated
                                      host.
                                  x-ms-identifiers:
                                  - name
                                  description: List of instance view of the dedicated
                                    hosts under the dedicated host group.
                            supportAutomaticPlacement:
                              type: boolean
                              description: 'Specifies whether virtual machines or
                                virtual machine scale sets can be placed automatically
                                on the dedicated host group. Automatic placement means
                                resources are allocated on dedicated hosts, that are
                                chosen by Azure, under the dedicated host group. The
                                value is defaulted to ''false'' when not provided.
                                Minimum api-version: 2020-06-01.'
                            additionalCapabilities:
                              type: object
                              properties:
                                ultraSSDEnabled:
                                  type: boolean
                                  description: 'The flag that enables or disables
                                    a capability to have UltraSSD Enabled Virtual
                                    Machines on Dedicated Hosts of the Dedicated Host
                                    Group. For the Virtual Machines to be UltraSSD
                                    Enabled, UltraSSDEnabled flag for the resource
                                    needs to be set true as well. The value is defaulted
                                    to ''false'' when not provided. Please refer to
                                    https://docs.microsoft.com/en-us/azure/virtual-machines/disks-enable-ultra-ssd
                                    for more details on Ultra SSD feature. **Note:**
                                    The ultraSSDEnabled setting can only be enabled
                                    for Host Groups that are created as zonal. Minimum
                                    api-version: 2022-03-01.'
                              description: 'Enables or disables a capability on the
                                dedicated host group. Minimum api-version: 2022-03-01.'
                          required:
                          - platformFaultDomainCount
                          description: Dedicated Host Group Properties.
                        zones:
                          type: array
                          items:
                            type: string
                          description: Availability Zone to use for this host group.
                            Only single zone is supported. The zone can be assigned
                            only during creation. If not provided, the group supports
                            all zones in the region. If provided, enforces each host
                            in the group to be in the same zone.
                      required:
                      - location
                      description: The Resource model definition.
                      x-ms-azure-resource: true
                    description: The list of dedicated host groups
                  nextLink:
                    type: string
                    description: The URI to fetch the next page of Dedicated Host
                      Groups. Call ListNext() with this URI to fetch the next page
                      of Dedicated Host Groups.
                required:
                - value
                description: The List Dedicated Host Group with resource group response.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/hostGroups:
    get:
      tags:
      - DedicatedHostGroups
      operationId: DedicatedHostGroups_ListBySubscription
      description: Lists all of the dedicated host groups in the subscription. Use
        the nextLink property in the response to get the next page of dedicated host
        groups.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id
                        name:
                          readOnly: true
                          type: string
                          description: Resource name
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        location:
                          type: string
                          description: Resource location
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags
                        properties:
                          x-ms-client-flatten: true
                          properties:
                            platformFaultDomainCount:
                              type: integer
                              format: int32
                              minimum: 1
                              description: Number of fault domains that the host group
                                can span.
                            hosts:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    readOnly: true
                                    type: string
                                    description: Resource Id
                              readOnly: true
                              description: A list of references to all dedicated hosts
                                in the dedicated host group.
                            instanceView:
                              readOnly: true
                              description: The dedicated host group instance view,
                                which has the list of instance view of the dedicated
                                hosts under the dedicated host group.
                              properties:
                                hosts:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      assetId:
                                        readOnly: true
                                        type: string
                                        description: Specifies the unique id of the
                                          dedicated physical machine on which the
                                          dedicated host resides.
                                      availableCapacity:
                                        description: Unutilized capacity of the dedicated
                                          host.
                                        properties:
                                          allocatableVMs:
                                            type: array
                                            items:
                                              properties:
                                                vmSize:
                                                  type: string
                                                  description: VM size in terms of
                                                    which the unutilized capacity
                                                    is represented.
                                                count:
                                                  type: number
                                                  format: double
                                                  description: Maximum number of VMs
                                                    of size vmSize that can fit in
                                                    the dedicated host's remaining
                                                    capacity.
                                              description: Represents the dedicated
                                                host unutilized capacity in terms
                                                of a specific VM size.
                                            x-ms-identifiers: []
                                            description: The unutilized capacity of
                                              the dedicated host represented in terms
                                              of each VM size that is allowed to be
                                              deployed to the dedicated host.
                                      statuses:
                                        type: array
                                        items:
                                          properties:
                                            code:
                                              type: string
                                              description: The status code.
                                            level:
                                              type: string
                                              description: The level code.
                                              enum:
                                              - Info
                                              - Warning
                                              - Error
                                              x-ms-enum:
                                                name: StatusLevelTypes
                                                modelAsString: false
                                            displayStatus:
                                              type: string
                                              description: The short localizable label
                                                for the status.
                                            message:
                                              type: string
                                              description: The detailed status message,
                                                including for alerts and error messages.
                                            time:
                                              type: string
                                              format: date-time
                                              description: The time of the status.
                                          type: object
                                          description: Instance view status.
                                        x-ms-identifiers: []
                                        description: The resource status information.
                                      name:
                                        type: string
                                        readOnly: true
                                        description: The name of the dedicated host.
                                    description: The instance view of a dedicated
                                      host.
                                  x-ms-identifiers:
                                  - name
                                  description: List of instance view of the dedicated
                                    hosts under the dedicated host group.
                            supportAutomaticPlacement:
                              type: boolean
                              description: 'Specifies whether virtual machines or
                                virtual machine scale sets can be placed automatically
                                on the dedicated host group. Automatic placement means
                                resources are allocated on dedicated hosts, that are
                                chosen by Azure, under the dedicated host group. The
                                value is defaulted to ''false'' when not provided.
                                Minimum api-version: 2020-06-01.'
                            additionalCapabilities:
                              type: object
                              properties:
                                ultraSSDEnabled:
                                  type: boolean
                                  description: 'The flag that enables or disables
                                    a capability to have UltraSSD Enabled Virtual
                                    Machines on Dedicated Hosts of the Dedicated Host
                                    Group. For the Virtual Machines to be UltraSSD
                                    Enabled, UltraSSDEnabled flag for the resource
                                    needs to be set true as well. The value is defaulted
                                    to ''false'' when not provided. Please refer to
                                    https://docs.microsoft.com/en-us/azure/virtual-machines/disks-enable-ultra-ssd
                                    for more details on Ultra SSD feature. **Note:**
                                    The ultraSSDEnabled setting can only be enabled
                                    for Host Groups that are created as zonal. Minimum
                                    api-version: 2022-03-01.'
                              description: 'Enables or disables a capability on the
                                dedicated host group. Minimum api-version: 2022-03-01.'
                          required:
                          - platformFaultDomainCount
                          description: Dedicated Host Group Properties.
                        zones:
                          type: array
                          items:
                            type: string
                          description: Availability Zone to use for this host group.
                            Only single zone is supported. The zone can be assigned
                            only during creation. If not provided, the group supports
                            all zones in the region. If provided, enforces each host
                            in the group to be in the same zone.
                      required:
                      - location
                      description: The Resource model definition.
                      x-ms-azure-resource: true
                    description: The list of dedicated host groups
                  nextLink:
                    type: string
                    description: The URI to fetch the next page of Dedicated Host
                      Groups. Call ListNext() with this URI to fetch the next page
                      of Dedicated Host Groups.
                required:
                - value
                description: The List Dedicated Host Group with resource group response.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups/{hostGroupName}/hosts/{hostName}
  : put:
      tags:
      - DedicatedHosts
      operationId: DedicatedHosts_CreateOrUpdate
      description: Create or update a dedicated host .
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hostGroupName
        in: path
        required: true
        description: The name of the dedicated host group.
        schema:
          type: string
      - name: hostName
        in: path
        required: true
        description: The name of the dedicated host .
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource Id
                name:
                  readOnly: true
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                location:
                  type: string
                  description: Resource location
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  x-ms-client-flatten: true
                  properties:
                    platformFaultDomain:
                      type: integer
                      format: int32
                      minimum: 0
                      description: Fault domain of the dedicated host within a dedicated
                        host group.
                    autoReplaceOnFailure:
                      type: boolean
                      description: Specifies whether the dedicated host should be
                        replaced automatically in case of a failure. The value is
[...]
