openapi: 3.0.0
info:
  title: ComputeManagementClient
  description: The Compute Management Client.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/images/{imageName}:
    put:
      tags:
      - Images
      operationId: Images_CreateOrUpdate
      description: Create or update an image.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: imageName
        in: path
        required: true
        description: The name of the image.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource Id
                name:
                  readOnly: true
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                location:
                  type: string
                  description: Resource location
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  x-ms-client-flatten: true
                  properties:
                    sourceVirtualMachine:
                      description: The source virtual machine from which Image is
                        created.
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource Id
                    storageProfile:
                      description: Specifies the storage settings for the virtual
                        machine disks.
                      properties:
                        osDisk:
                          type: object
                          properties:
                            snapshot:
                              description: The snapshot.
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                            managedDisk:
                              description: The managedDisk.
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                            blobUri:
                              type: string
                              description: The Virtual Hard Disk.
                            caching:
                              type: string
                              description: 'Specifies the caching requirements. Possible
                                values are: **None,** **ReadOnly,** **ReadWrite.**
                                The default values are: **None for Standard storage.
                                ReadOnly for Premium storage.**'
                              enum:
                              - None
                              - ReadOnly
                              - ReadWrite
                              x-ms-enum:
                                name: CachingTypes
                                modelAsString: false
                            diskSizeGB:
                              type: integer
                              format: int32
                              description: Specifies the size of empty data disks
                                in gigabytes. This element can be used to overwrite
                                the name of the disk in a virtual machine image. This
                                value cannot be larger than 1023 GB.
                            storageAccountType:
                              description: 'Specifies the storage account type for
                                the managed disk. NOTE: UltraSSD_LRS can only be used
                                with data disks, it cannot be used with OS Disk.'
                              type: string
                              enum:
                              - Standard_LRS
                              - Premium_LRS
                              - StandardSSD_LRS
                              - UltraSSD_LRS
                              - Premium_ZRS
                              - StandardSSD_ZRS
                              - PremiumV2_LRS
                              x-ms-enum:
                                name: StorageAccountTypes
                                modelAsString: true
                            diskEncryptionSet:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                              description: Specifies the customer managed disk encryption
                                set resource id for the managed image disk.
                              x-ms-azure-resource: true
                            osType:
                              type: string
                              description: 'This property allows you to specify the
                                type of the OS that is included in the disk if creating
                                a VM from a custom image. Possible values are: **Windows,**
                                **Linux.**'
                              enum:
                              - Windows
                              - Linux
                              x-ms-enum:
                                name: OperatingSystemTypes
                                modelAsString: false
                            osState:
                              type: string
                              description: The OS State. For managed images, use Generalized.
                              enum:
                              - Generalized
                              - Specialized
                              x-ms-enum:
                                name: OperatingSystemStateTypes
                                modelAsString: false
                                values:
                                - value: Generalized
                                  description: Generalized image. Needs to be provisioned
                                    during deployment time.
                                - value: Specialized
                                  description: Specialized image. Contains already
                                    provisioned OS Disk.
                          description: Describes a image disk.
                          required:
                          - osType
                          - osState
                        dataDisks:
                          type: array
                          items:
                            type: object
                            properties:
                              snapshot:
                                description: The snapshot.
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                              managedDisk:
                                description: The managedDisk.
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                              blobUri:
                                type: string
                                description: The Virtual Hard Disk.
                              caching:
                                type: string
                                description: 'Specifies the caching requirements.
                                  Possible values are: **None,** **ReadOnly,** **ReadWrite.**
                                  The default values are: **None for Standard storage.
                                  ReadOnly for Premium storage.**'
                                enum:
                                - None
                                - ReadOnly
                                - ReadWrite
                                x-ms-enum:
                                  name: CachingTypes
                                  modelAsString: false
                              diskSizeGB:
                                type: integer
                                format: int32
                                description: Specifies the size of empty data disks
                                  in gigabytes. This element can be used to overwrite
                                  the name of the disk in a virtual machine image.
                                  This value cannot be larger than 1023 GB.
                              storageAccountType:
                                description: 'Specifies the storage account type for
                                  the managed disk. NOTE: UltraSSD_LRS can only be
                                  used with data disks, it cannot be used with OS
                                  Disk.'
                                type: string
                                enum:
                                - Standard_LRS
                                - Premium_LRS
                                - StandardSSD_LRS
                                - UltraSSD_LRS
                                - Premium_ZRS
                                - StandardSSD_ZRS
                                - PremiumV2_LRS
                                x-ms-enum:
                                  name: StorageAccountTypes
                                  modelAsString: true
                              diskEncryptionSet:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                                description: Specifies the customer managed disk encryption
                                  set resource id for the managed image disk.
                                x-ms-azure-resource: true
                              lun:
                                type: integer
                                format: int32
                                description: Specifies the logical unit number of
                                  the data disk. This value is used to identify data
                                  disks within the VM and therefore must be unique
                                  for each data disk attached to a VM.
                            description: Describes a image disk.
                            required:
                            - lun
                          x-ms-identifiers:
                          - lun
                          description: Specifies the parameters that are used to add
                            a data disk to a virtual machine. <br><br> For more information
                            about disks, see [About disks and VHDs for Azure virtual
                            machines](https://docs.microsoft.com/azure/virtual-machines/managed-disks-overview).
                        zoneResilient:
                          type: boolean
                          description: Specifies whether an image is zone resilient
                            or not. Default is false. Zone resilient images can be
                            created only in regions that provide Zone Redundant Storage
                            (ZRS).
                    provisioningState:
                      readOnly: true
                      type: string
                      description: The provisioning state.
                    hyperVGeneration:
                      description: Specifies the HyperVGenerationType of the VirtualMachine
                        created from the image. From API Version 2019-03-01 if the
                        image source is a blob, then we need the user to specify the
                        value, if the source is managed resource like disk or snapshot,
                        we may require the user to specify the property if we cannot
                        deduce it from the source managed resource.
                      type: string
                      enum:
                      - V1
                      - V2
                      x-ms-enum:
                        name: HyperVGenerationTypes
                        modelAsString: true
                  description: Describes the properties of an Image.
                extendedLocation:
                  description: The extended location of the Image.
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the extended location.
                    type:
                      description: The type of the extended location.
                      type: string
                      enum:
                      - EdgeZone
                      x-ms-enum:
                        name: ExtendedLocationTypes
                        modelAsString: true
              required:
              - location
              description: The Resource model definition.
              x-ms-azure-resource: true
        description: Parameters supplied to the Create Image operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      sourceVirtualMachine:
                        description: The source virtual machine from which Image is
                          created.
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource Id
                      storageProfile:
                        description: Specifies the storage settings for the virtual
                          machine disks.
                        properties:
                          osDisk:
                            type: object
                            properties:
                              snapshot:
                                description: The snapshot.
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                              managedDisk:
                                description: The managedDisk.
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                              blobUri:
                                type: string
                                description: The Virtual Hard Disk.
                              caching:
                                type: string
                                description: 'Specifies the caching requirements.
                                  Possible values are: **None,** **ReadOnly,** **ReadWrite.**
                                  The default values are: **None for Standard storage.
                                  ReadOnly for Premium storage.**'
                                enum:
                                - None
                                - ReadOnly
                                - ReadWrite
                                x-ms-enum:
                                  name: CachingTypes
                                  modelAsString: false
                              diskSizeGB:
                                type: integer
                                format: int32
                                description: Specifies the size of empty data disks
                                  in gigabytes. This element can be used to overwrite
                                  the name of the disk in a virtual machine image.
                                  This value cannot be larger than 1023 GB.
                              storageAccountType:
                                description: 'Specifies the storage account type for
                                  the managed disk. NOTE: UltraSSD_LRS can only be
                                  used with data disks, it cannot be used with OS
                                  Disk.'
                                type: string
                                enum:
                                - Standard_LRS
                                - Premium_LRS
                                - StandardSSD_LRS
                                - UltraSSD_LRS
                                - Premium_ZRS
                                - StandardSSD_ZRS
                                - PremiumV2_LRS
                                x-ms-enum:
                                  name: StorageAccountTypes
                                  modelAsString: true
                              diskEncryptionSet:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                                description: Specifies the customer managed disk encryption
                                  set resource id for the managed image disk.
                                x-ms-azure-resource: true
                              osType:
                                type: string
                                description: 'This property allows you to specify
                                  the type of the OS that is included in the disk
                                  if creating a VM from a custom image. Possible values
                                  are: **Windows,** **Linux.**'
                                enum:
                                - Windows
                                - Linux
                                x-ms-enum:
                                  name: OperatingSystemTypes
                                  modelAsString: false
                              osState:
                                type: string
                                description: The OS State. For managed images, use
                                  Generalized.
                                enum:
                                - Generalized
                                - Specialized
                                x-ms-enum:
                                  name: OperatingSystemStateTypes
                                  modelAsString: false
                                  values:
                                  - value: Generalized
                                    description: Generalized image. Needs to be provisioned
                                      during deployment time.
                                  - value: Specialized
                                    description: Specialized image. Contains already
                                      provisioned OS Disk.
                            description: Describes a image disk.
                            required:
                            - osType
                            - osState
                          dataDisks:
                            type: array
                            items:
                              type: object
                              properties:
                                snapshot:
                                  description: The snapshot.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Resource Id
                                managedDisk:
                                  description: The managedDisk.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Resource Id
                                blobUri:
                                  type: string
                                  description: The Virtual Hard Disk.
                                caching:
                                  type: string
                                  description: 'Specifies the caching requirements.
                                    Possible values are: **None,** **ReadOnly,** **ReadWrite.**
                                    The default values are: **None for Standard storage.
                                    ReadOnly for Premium storage.**'
                                  enum:
                                  - None
                                  - ReadOnly
                                  - ReadWrite
                                  x-ms-enum:
                                    name: CachingTypes
                                    modelAsString: false
                                diskSizeGB:
                                  type: integer
                                  format: int32
                                  description: Specifies the size of empty data disks
                                    in gigabytes. This element can be used to overwrite
                                    the name of the disk in a virtual machine image.
                                    This value cannot be larger than 1023 GB.
                                storageAccountType:
                                  description: 'Specifies the storage account type
                                    for the managed disk. NOTE: UltraSSD_LRS can only
                                    be used with data disks, it cannot be used with
                                    OS Disk.'
                                  type: string
                                  enum:
                                  - Standard_LRS
                                  - Premium_LRS
                                  - StandardSSD_LRS
                                  - UltraSSD_LRS
                                  - Premium_ZRS
                                  - StandardSSD_ZRS
                                  - PremiumV2_LRS
                                  x-ms-enum:
                                    name: StorageAccountTypes
                                    modelAsString: true
                                diskEncryptionSet:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Resource Id
                                  description: Specifies the customer managed disk
                                    encryption set resource id for the managed image
                                    disk.
                                  x-ms-azure-resource: true
                                lun:
                                  type: integer
                                  format: int32
                                  description: Specifies the logical unit number of
                                    the data disk. This value is used to identify
                                    data disks within the VM and therefore must be
                                    unique for each data disk attached to a VM.
                              description: Describes a image disk.
                              required:
                              - lun
                            x-ms-identifiers:
                            - lun
                            description: Specifies the parameters that are used to
                              add a data disk to a virtual machine. <br><br> For more
                              information about disks, see [About disks and VHDs for
                              Azure virtual machines](https://docs.microsoft.com/azure/virtual-machines/managed-disks-overview).
                          zoneResilient:
                            type: boolean
                            description: Specifies whether an image is zone resilient
                              or not. Default is false. Zone resilient images can
                              be created only in regions that provide Zone Redundant
                              Storage (ZRS).
                      provisioningState:
                        readOnly: true
                        type: string
                        description: The provisioning state.
                      hyperVGeneration:
                        description: Specifies the HyperVGenerationType of the VirtualMachine
                          created from the image. From API Version 2019-03-01 if the
                          image source is a blob, then we need the user to specify
                          the value, if the source is managed resource like disk or
                          snapshot, we may require the user to specify the property
                          if we cannot deduce it from the source managed resource.
                        type: string
                        enum:
                        - V1
                        - V2
                        x-ms-enum:
                          name: HyperVGenerationTypes
                          modelAsString: true
                    description: Describes the properties of an Image.
                  extendedLocation:
                    description: The extended location of the Image.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - EdgeZone
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      sourceVirtualMachine:
                        description: The source virtual machine from which Image is
                          created.
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource Id
                      storageProfile:
                        description: Specifies the storage settings for the virtual
                          machine disks.
                        properties:
                          osDisk:
                            type: object
                            properties:
                              snapshot:
                                description: The snapshot.
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                              managedDisk:
                                description: The managedDisk.
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                              blobUri:
                                type: string
                                description: The Virtual Hard Disk.
                              caching:
                                type: string
                                description: 'Specifies the caching requirements.
                                  Possible values are: **None,** **ReadOnly,** **ReadWrite.**
                                  The default values are: **None for Standard storage.
                                  ReadOnly for Premium storage.**'
                                enum:
                                - None
                                - ReadOnly
                                - ReadWrite
                                x-ms-enum:
                                  name: CachingTypes
                                  modelAsString: false
                              diskSizeGB:
                                type: integer
                                format: int32
                                description: Specifies the size of empty data disks
                                  in gigabytes. This element can be used to overwrite
                                  the name of the disk in a virtual machine image.
                                  This value cannot be larger than 1023 GB.
                              storageAccountType:
                                description: 'Specifies the storage account type for
                                  the managed disk. NOTE: UltraSSD_LRS can only be
                                  used with data disks, it cannot be used with OS
                                  Disk.'
                                type: string
                                enum:
                                - Standard_LRS
                                - Premium_LRS
                                - StandardSSD_LRS
                                - UltraSSD_LRS
                                - Premium_ZRS
                                - StandardSSD_ZRS
                                - PremiumV2_LRS
                                x-ms-enum:
                                  name: StorageAccountTypes
                                  modelAsString: true
                              diskEncryptionSet:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                                description: Specifies the customer managed disk encryption
                                  set resource id for the managed image disk.
                                x-ms-azure-resource: true
                              osType:
                                type: string
                                description: 'This property allows you to specify
                                  the type of the OS that is included in the disk
                                  if creating a VM from a custom image. Possible values
                                  are: **Windows,** **Linux.**'
                                enum:
                                - Windows
                                - Linux
                                x-ms-enum:
                                  name: OperatingSystemTypes
                                  modelAsString: false
                              osState:
                                type: string
                                description: The OS State. For managed images, use
                                  Generalized.
                                enum:
                                - Generalized
                                - Specialized
                                x-ms-enum:
                                  name: OperatingSystemStateTypes
                                  modelAsString: false
                                  values:
                                  - value: Generalized
                                    description: Generalized image. Needs to be provisioned
                                      during deployment time.
                                  - value: Specialized
                                    description: Specialized image. Contains already
                                      provisioned OS Disk.
                            description: Describes a image disk.
                            required:
                            - osType
                            - osState
                          dataDisks:
                            type: array
                            items:
                              type: object
                              properties:
                                snapshot:
                                  description: The snapshot.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Resource Id
                                managedDisk:
                                  description: The managedDisk.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Resource Id
                                blobUri:
                                  type: string
                                  description: The Virtual Hard Disk.
                                caching:
                                  type: string
                                  description: 'Specifies the caching requirements.
                                    Possible values are: **None,** **ReadOnly,** **ReadWrite.**
                                    The default values are: **None for Standard storage.
                                    ReadOnly for Premium storage.**'
                                  enum:
                                  - None
                                  - ReadOnly
                                  - ReadWrite
                                  x-ms-enum:
                                    name: CachingTypes
                                    modelAsString: false
                                diskSizeGB:
                                  type: integer
                                  format: int32
                                  description: Specifies the size of empty data disks
                                    in gigabytes. This element can be used to overwrite
                                    the name of the disk in a virtual machine image.
                                    This value cannot be larger than 1023 GB.
                                storageAccountType:
                                  description: 'Specifies the storage account type
                                    for the managed disk. NOTE: UltraSSD_LRS can only
                                    be used with data disks, it cannot be used with
                                    OS Disk.'
                                  type: string
                                  enum:
                                  - Standard_LRS
                                  - Premium_LRS
                                  - StandardSSD_LRS
                                  - UltraSSD_LRS
                                  - Premium_ZRS
                                  - StandardSSD_ZRS
                                  - PremiumV2_LRS
                                  x-ms-enum:
                                    name: StorageAccountTypes
                                    modelAsString: true
                                diskEncryptionSet:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Resource Id
                                  description: Specifies the customer managed disk
                                    encryption set resource id for the managed image
                                    disk.
                                  x-ms-azure-resource: true
                                lun:
                                  type: integer
                                  format: int32
                                  description: Specifies the logical unit number of
                                    the data disk. This value is used to identify
                                    data disks within the VM and therefore must be
                                    unique for each data disk attached to a VM.
                              description: Describes a image disk.
                              required:
                              - lun
                            x-ms-identifiers:
                            - lun
                            description: Specifies the parameters that are used to
                              add a data disk to a virtual machine. <br><br> For more
                              information about disks, see [About disks and VHDs for
                              Azure virtual machines](https://docs.microsoft.com/azure/virtual-machines/managed-disks-overview).
                          zoneResilient:
                            type: boolean
                            description: Specifies whether an image is zone resilient
                              or not. Default is false. Zone resilient images can
                              be created only in regions that provide Zone Redundant
                              Storage (ZRS).
                      provisioningState:
                        readOnly: true
                        type: string
                        description: The provisioning state.
                      hyperVGeneration:
                        description: Specifies the HyperVGenerationType of the VirtualMachine
                          created from the image. From API Version 2019-03-01 if the
                          image source is a blob, then we need the user to specify
                          the value, if the source is managed resource like disk or
                          snapshot, we may require the user to specify the property
                          if we cannot deduce it from the source managed resource.
                        type: string
                        enum:
                        - V1
                        - V2
                        x-ms-enum:
                          name: HyperVGenerationTypes
                          modelAsString: true
                    description: Describes the properties of an Image.
                  extendedLocation:
                    description: The extended location of the Image.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - EdgeZone
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
      x-ms-long-running-operation: true
    patch:
      tags:
      - Images
      operationId: Images_Update
      description: Update an image.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: imageName
        in: path
        required: true
        description: The name of the image.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  x-ms-client-flatten: true
                  properties:
                    sourceVirtualMachine:
                      description: The source virtual machine from which Image is
                        created.
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource Id
                    storageProfile:
                      description: Specifies the storage settings for the virtual
                        machine disks.
                      properties:
                        osDisk:
                          type: object
                          properties:
                            snapshot:
                              description: The snapshot.
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                            managedDisk:
                              description: The managedDisk.
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                            blobUri:
                              type: string
                              description: The Virtual Hard Disk.
                            caching:
                              type: string
                              description: 'Specifies the caching requirements. Possible
                                values are: **None,** **ReadOnly,** **ReadWrite.**
                                The default values are: **None for Standard storage.
                                ReadOnly for Premium storage.**'
                              enum:
                              - None
                              - ReadOnly
                              - ReadWrite
                              x-ms-enum:
                                name: CachingTypes
                                modelAsString: false
                            diskSizeGB:
                              type: integer
                              format: int32
                              description: Specifies the size of empty data disks
                                in gigabytes. This element can be used to overwrite
                                the name of the disk in a virtual machine image. This
                                value cannot be larger than 1023 GB.
                            storageAccountType:
                              description: 'Specifies the storage account type for
                                the managed disk. NOTE: UltraSSD_LRS can only be used
                                with data disks, it cannot be used with OS Disk.'
                              type: string
                              enum:
                              - Standard_LRS
                              - Premium_LRS
                              - StandardSSD_LRS
                              - UltraSSD_LRS
                              - Premium_ZRS
                              - StandardSSD_ZRS
                              - PremiumV2_LRS
                              x-ms-enum:
                                name: StorageAccountTypes
                                modelAsString: true
                            diskEncryptionSet:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                              description: Specifies the customer managed disk encryption
                                set resource id for the managed image disk.
                              x-ms-azure-resource: true
                            osType:
                              type: string
                              description: 'This property allows you to specify the
                                type of the OS that is included in the disk if creating
                                a VM from a custom image. Possible values are: **Windows,**
                                **Linux.**'
                              enum:
                              - Windows
                              - Linux
                              x-ms-enum:
                                name: OperatingSystemTypes
                                modelAsString: false
                            osState:
                              type: string
                              description: The OS State. For managed images, use Generalized.
                              enum:
                              - Generalized
                              - Specialized
                              x-ms-enum:
                                name: OperatingSystemStateTypes
                                modelAsString: false
                                values:
                                - value: Generalized
                                  description: Generalized image. Needs to be provisioned
                                    during deployment time.
                                - value: Specialized
                                  description: Specialized image. Contains already
                                    provisioned OS Disk.
                          description: Describes a image disk.
                          required:
                          - osType
                          - osState
                        dataDisks:
                          type: array
                          items:
                            type: object
                            properties:
                              snapshot:
                                description: The snapshot.
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                              managedDisk:
                                description: The managedDisk.
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                              blobUri:
                                type: string
                                description: The Virtual Hard Disk.
                              caching:
                                type: string
                                description: 'Specifies the caching requirements.
                                  Possible values are: **None,** **ReadOnly,** **ReadWrite.**
                                  The default values are: **None for Standard storage.
                                  ReadOnly for Premium storage.**'
                                enum:
                                - None
                                - ReadOnly
                                - ReadWrite
                                x-ms-enum:
                                  name: CachingTypes
                                  modelAsString: false
                              diskSizeGB:
                                type: integer
                                format: int32
                                description: Specifies the size of empty data disks
                                  in gigabytes. This element can be used to overwrite
                                  the name of the disk in a virtual machine image.
                                  This value cannot be larger than 1023 GB.
                              storageAccountType:
                                description: 'Specifies the storage account type for
                                  the managed disk. NOTE: UltraSSD_LRS can only be
                                  used with data disks, it cannot be used with OS
                                  Disk.'
                                type: string
                                enum:
                                - Standard_LRS
                                - Premium_LRS
                                - StandardSSD_LRS
                                - UltraSSD_LRS
                                - Premium_ZRS
                                - StandardSSD_ZRS
                                - PremiumV2_LRS
                                x-ms-enum:
                                  name: StorageAccountTypes
                                  modelAsString: true
                              diskEncryptionSet:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                                description: Specifies the customer managed disk encryption
                                  set resource id for the managed image disk.
                                x-ms-azure-resource: true
                              lun:
                                type: integer
                                format: int32
                                description: Specifies the logical unit number of
                                  the data disk. This value is used to identify data
                                  disks within the VM and therefore must be unique
                                  for each data disk attached to a VM.
                            description: Describes a image disk.
                            required:
                            - lun
                          x-ms-identifiers:
                          - lun
                          description: Specifies the parameters that are used to add
                            a data disk to a virtual machine. <br><br> For more information
                            about disks, see [About disks and VHDs for Azure virtual
                            machines](https://docs.microsoft.com/azure/virtual-machines/managed-disks-overview).
                        zoneResilient:
                          type: boolean
                          description: Specifies whether an image is zone resilient
                            or not. Default is false. Zone resilient images can be
                            created only in regions that provide Zone Redundant Storage
                            (ZRS).
                    provisioningState:
                      readOnly: true
                      type: string
                      description: The provisioning state.
                    hyperVGeneration:
                      description: Specifies the HyperVGenerationType of the VirtualMachine
                        created from the image. From API Version 2019-03-01 if the
                        image source is a blob, then we need the user to specify the
                        value, if the source is managed resource like disk or snapshot,
                        we may require the user to specify the property if we cannot
                        deduce it from the source managed resource.
                      type: string
                      enum:
                      - V1
                      - V2
                      x-ms-enum:
                        name: HyperVGenerationTypes
                        modelAsString: true
                  description: Describes the properties of an Image.
              description: The Update Resource model definition.
        description: Parameters supplied to the Update Image operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      sourceVirtualMachine:
                        description: The source virtual machine from which Image is
                          created.
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource Id
                      storageProfile:
                        description: Specifies the storage settings for the virtual
                          machine disks.
                        properties:
                          osDisk:
                            type: object
                            properties:
                              snapshot:
                                description: The snapshot.
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                              managedDisk:
                                description: The managedDisk.
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                              blobUri:
                                type: string
                                description: The Virtual Hard Disk.
                              caching:
                                type: string
                                description: 'Specifies the caching requirements.
                                  Possible values are: **None,** **ReadOnly,** **ReadWrite.**
                                  The default values are: **None for Standard storage.
                                  ReadOnly for Premium storage.**'
                                enum:
                                - None
                                - ReadOnly
                                - ReadWrite
                                x-ms-enum:
                                  name: CachingTypes
                                  modelAsString: false
                              diskSizeGB:
                                type: integer
                                format: int32
                                description: Specifies the size of empty data disks
                                  in gigabytes. This element can be used to overwrite
                                  the name of the disk in a virtual machine image.
                                  This value cannot be larger than 1023 GB.
                              storageAccountType:
                                description: 'Specifies the storage account type for
                                  the managed disk. NOTE: UltraSSD_LRS can only be
                                  used with data disks, it cannot be used with OS
                                  Disk.'
                                type: string
                                enum:
                                - Standard_LRS
                                - Premium_LRS
                                - StandardSSD_LRS
                                - UltraSSD_LRS
                                - Premium_ZRS
                                - StandardSSD_ZRS
                                - PremiumV2_LRS
                                x-ms-enum:
                                  name: StorageAccountTypes
                                  modelAsString: true
                              diskEncryptionSet:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                                description: Specifies the customer managed disk encryption
                                  set resource id for the managed image disk.
                                x-ms-azure-resource: true
                              osType:
                                type: string
                                description: 'This property allows you to specify
                                  the type of the OS that is included in the disk
                                  if creating a VM from a custom image. Possible values
                                  are: **Windows,** **Linux.**'
                                enum:
                                - Windows
                                - Linux
                                x-ms-enum:
                                  name: OperatingSystemTypes
                                  modelAsString: false
                              osState:
                                type: string
                                description: The OS State. For managed images, use
                                  Generalized.
                                enum:
                                - Generalized
                                - Specialized
                                x-ms-enum:
                                  name: OperatingSystemStateTypes
                                  modelAsString: false
                                  values:
                                  - value: Generalized
                                    description: Generalized image. Needs to be provisioned
                                      during deployment time.
                                  - value: Specialized
                                    description: Specialized image. Contains already
                                      provisioned OS Disk.
                            description: Describes a image disk.
                            required:
                            - osType
                            - osState
                          dataDisks:
                            type: array
                            items:
                              type: object
                              properties:
                                snapshot:
                                  description: The snapshot.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Resource Id
                                managedDisk:
                                  description: The managedDisk.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Resource Id
                                blobUri:
                                  type: string
                                  description: The Virtual Hard Disk.
                                caching:
                                  type: string
                                  description: 'Specifies the caching requirements.
                                    Possible values are: **None,** **ReadOnly,** **ReadWrite.**
                                    The default values are: **None for Standard storage.
                                    ReadOnly for Premium storage.**'
                                  enum:
                                  - None
                                  - ReadOnly
                                  - ReadWrite
                                  x-ms-enum:
                                    name: CachingTypes
                                    modelAsString: false
                                diskSizeGB:
                                  type: integer
                                  format: int32
                                  description: Specifies the size of empty data disks
                                    in gigabytes. This element can be used to overwrite
                                    the name of the disk in a virtual machine image.
                                    This value cannot be larger than 1023 GB.
                                storageAccountType:
                                  description: 'Specifies the storage account type
                                    for the managed disk. NOTE: UltraSSD_LRS can only
                                    be used with data disks, it cannot be used with
                                    OS Disk.'
                                  type: string
                                  enum:
                                  - Standard_LRS
                                  - Premium_LRS
                                  - StandardSSD_LRS
                                  - UltraSSD_LRS
                                  - Premium_ZRS
                                  - StandardSSD_ZRS
                                  - PremiumV2_LRS
                                  x-ms-enum:
                                    name: StorageAccountTypes
                                    modelAsString: true
                                diskEncryptionSet:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Resource Id
                                  description: Specifies the customer managed disk
                                    encryption set resource id for the managed image
                                    disk.
                                  x-ms-azure-resource: true
                                lun:
                                  type: integer
                                  format: int32
                                  description: Specifies the logical unit number of
                                    the data disk. This value is used to identify
                                    data disks within the VM and therefore must be
                                    unique for each data disk attached to a VM.
                              description: Describes a image disk.
                              required:
                              - lun
                            x-ms-identifiers:
                            - lun
                            description: Specifies the parameters that are used to
                              add a data disk to a virtual machine. <br><br> For more
                              information about disks, see [About disks and VHDs for
                              Azure virtual machines](https://docs.microsoft.com/azure/virtual-machines/managed-disks-overview).
                          zoneResilient:
                            type: boolean
                            description: Specifies whether an image is zone resilient
                              or not. Default is false. Zone resilient images can
                              be created only in regions that provide Zone Redundant
                              Storage (ZRS).
                      provisioningState:
                        readOnly: true
                        type: string
                        description: The provisioning state.
                      hyperVGeneration:
                        description: Specifies the HyperVGenerationType of the VirtualMachine
                          created from the image. From API Version 2019-03-01 if the
                          image source is a blob, then we need the user to specify
                          the value, if the source is managed resource like disk or
                          snapshot, we may require the user to specify the property
                          if we cannot deduce it from the source managed resource.
                        type: string
                        enum:
                        - V1
                        - V2
                        x-ms-enum:
                          name: HyperVGenerationTypes
                          modelAsString: true
                    description: Describes the properties of an Image.
                  extendedLocation:
                    description: The extended location of the Image.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - EdgeZone
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      sourceVirtualMachine:
                        description: The source virtual machine from which Image is
                          created.
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource Id
                      storageProfile:
                        description: Specifies the storage settings for the virtual
                          machine disks.
                        properties:
                          osDisk:
                            type: object
                            properties:
                              snapshot:
                                description: The snapshot.
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                              managedDisk:
                                description: The managedDisk.
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                              blobUri:
                                type: string
                                description: The Virtual Hard Disk.
                              caching:
                                type: string
                                description: 'Specifies the caching requirements.
                                  Possible values are: **None,** **ReadOnly,** **ReadWrite.**
                                  The default values are: **None for Standard storage.
                                  ReadOnly for Premium storage.**'
                                enum:
                                - None
                                - ReadOnly
                                - ReadWrite
                                x-ms-enum:
                                  name: CachingTypes
                                  modelAsString: false
                              diskSizeGB:
                                type: integer
                                format: int32
                                description: Specifies the size of empty data disks
                                  in gigabytes. This element can be used to overwrite
                                  the name of the disk in a virtual machine image.
                                  This value cannot be larger than 1023 GB.
                              storageAccountType:
                                description: 'Specifies the storage account type for
                                  the managed disk. NOTE: UltraSSD_LRS can only be
                                  used with data disks, it cannot be used with OS
                                  Disk.'
                                type: string
                                enum:
                                - Standard_LRS
                                - Premium_LRS
                                - StandardSSD_LRS
                                - UltraSSD_LRS
                                - Premium_ZRS
                                - StandardSSD_ZRS
                                - PremiumV2_LRS
                                x-ms-enum:
                                  name: StorageAccountTypes
                                  modelAsString: true
                              diskEncryptionSet:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                                description: Specifies the customer managed disk encryption
                                  set resource id for the managed image disk.
                                x-ms-azure-resource: true
                              osType:
                                type: string
                                description: 'This property allows you to specify
                                  the type of the OS that is included in the disk
                                  if creating a VM from a custom image. Possible values
                                  are: **Windows,** **Linux.**'
                                enum:
                                - Windows
                                - Linux
                                x-ms-enum:
                                  name: OperatingSystemTypes
                                  modelAsString: false
                              osState:
                                type: string
                                description: The OS State. For managed images, use
                                  Generalized.
                                enum:
                                - Generalized
                                - Specialized
                                x-ms-enum:
                                  name: OperatingSystemStateTypes
                                  modelAsString: false
                                  values:
                                  - value: Generalized
                                    description: Generalized image. Needs to be provisioned
                                      during deployment time.
                                  - value: Specialized
                                    description: Specialized image. Contains already
                                      provisioned OS Disk.
                            description: Describes a image disk.
                            required:
                            - osType
                            - osState
                          dataDisks:
                            type: array
                            items:
                              type: object
                              properties:
                                snapshot:
                                  description: The snapshot.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Resource Id
                                managedDisk:
                                  description: The managedDisk.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Resource Id
                                blobUri:
                                  type: string
                                  description: The Virtual Hard Disk.
                                caching:
                                  type: string
                                  description: 'Specifies the caching requirements.
                                    Possible values are: **None,** **ReadOnly,** **ReadWrite.**
                                    The default values are: **None for Standard storage.
                                    ReadOnly for Premium storage.**'
                                  enum:
                                  - None
                                  - ReadOnly
                                  - ReadWrite
                                  x-ms-enum:
                                    name: CachingTypes
                                    modelAsString: false
                                diskSizeGB:
                                  type: integer
                                  format: int32
                                  description: Specifies the size of empty data disks
                                    in gigabytes. This element can be used to overwrite
                                    the name of the disk in a virtual machine image.
                                    This value cannot be larger than 1023 GB.
                                storageAccountType:
                                  description: 'Specifies the storage account type
                                    for the managed disk. NOTE: UltraSSD_LRS can only
                                    be used with data disks, it cannot be used with
                                    OS Disk.'
                                  type: string
                                  enum:
                                  - Standard_LRS
                                  - Premium_LRS
                                  - StandardSSD_LRS
                                  - UltraSSD_LRS
                                  - Premium_ZRS
                                  - StandardSSD_ZRS
                                  - PremiumV2_LRS
                                  x-ms-enum:
                                    name: StorageAccountTypes
                                    modelAsString: true
                                diskEncryptionSet:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Resource Id
                                  description: Specifies the customer managed disk
                                    encryption set resource id for the managed image
                                    disk.
                                  x-ms-azure-resource: true
                                lun:
                                  type: integer
                                  format: int32
                                  description: Specifies the logical unit number of
                                    the data disk. This value is used to identify
                                    data disks within the VM and therefore must be
                                    unique for each data disk attached to a VM.
                              description: Describes a image disk.
                              required:
                              - lun
                            x-ms-identifiers:
                            - lun
                            description: Specifies the parameters that are used to
                              add a data disk to a virtual machine. <br><br> For more
                              information about disks, see [About disks and VHDs for
                              Azure virtual machines](https://docs.microsoft.com/azure/virtual-machines/managed-disks-overview).
                          zoneResilient:
                            type: boolean
                            description: Specifies whether an image is zone resilient
                              or not. Default is false. Zone resilient images can
                              be created only in regions that provide Zone Redundant
                              Storage (ZRS).
                      provisioningState:
                        readOnly: true
                        type: string
                        description: The provisioning state.
                      hyperVGeneration:
                        description: Specifies the HyperVGenerationType of the VirtualMachine
                          created from the image. From API Version 2019-03-01 if the
                          image source is a blob, then we need the user to specify
                          the value, if the source is managed resource like disk or
                          snapshot, we may require the user to specify the property
                          if we cannot deduce it from the source managed resource.
                        type: string
                        enum:
                        - V1
                        - V2
                        x-ms-enum:
                          name: HyperVGenerationTypes
                          modelAsString: true
                    description: Describes the properties of an Image.
                  extendedLocation:
                    description: The extended location of the Image.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - EdgeZone
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
      x-ms-long-running-operation: true
    delete:
      tags:
      - Images
      operationId: Images_Delete
      description: Deletes an Image.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: imageName
        in: path
        required: true
        description: The name of the image.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
      x-ms-long-running-operation: true
    get:
      tags:
      - Images
      operationId: Images_Get
      description: Gets an image.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: imageName
        in: path
        required: true
        description: The name of the image.
        schema:
          type: string
      - name: $expand
        in: query
        required: false
        description: The expand expression to apply on the operation.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      sourceVirtualMachine:
                        description: The source virtual machine from which Image is
                          created.
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource Id
                      storageProfile:
                        description: Specifies the storage settings for the virtual
                          machine disks.
                        properties:
                          osDisk:
                            type: object
                            properties:
                              snapshot:
                                description: The snapshot.
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                              managedDisk:
                                description: The managedDisk.
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                              blobUri:
                                type: string
                                description: The Virtual Hard Disk.
                              caching:
                                type: string
                                description: 'Specifies the caching requirements.
                                  Possible values are: **None,** **ReadOnly,** **ReadWrite.**
                                  The default values are: **None for Standard storage.
                                  ReadOnly for Premium storage.**'
                                enum:
                                - None
                                - ReadOnly
                                - ReadWrite
                                x-ms-enum:
                                  name: CachingTypes
                                  modelAsString: false
                              diskSizeGB:
                                type: integer
                                format: int32
                                description: Specifies the size of empty data disks
                                  in gigabytes. This element can be used to overwrite
                                  the name of the disk in a virtual machine image.
                                  This value cannot be larger than 1023 GB.
                              storageAccountType:
                                description: 'Specifies the storage account type for
                                  the managed disk. NOTE: UltraSSD_LRS can only be
                                  used with data disks, it cannot be used with OS
                                  Disk.'
                                type: string
                                enum:
                                - Standard_LRS
                                - Premium_LRS
                                - StandardSSD_LRS
                                - UltraSSD_LRS
                                - Premium_ZRS
                                - StandardSSD_ZRS
                                - PremiumV2_LRS
                                x-ms-enum:
                                  name: StorageAccountTypes
                                  modelAsString: true
                              diskEncryptionSet:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                                description: Specifies the customer managed disk encryption
                                  set resource id for the managed image disk.
                                x-ms-azure-resource: true
                              osType:
                                type: string
                                description: 'This property allows you to specify
                                  the type of the OS that is included in the disk
                                  if creating a VM from a custom image. Possible values
                                  are: **Windows,** **Linux.**'
                                enum:
                                - Windows
                                - Linux
                                x-ms-enum:
                                  name: OperatingSystemTypes
                                  modelAsString: false
                              osState:
                                type: string
                                description: The OS State. For managed images, use
                                  Generalized.
                                enum:
                                - Generalized
                                - Specialized
                                x-ms-enum:
                                  name: OperatingSystemStateTypes
                                  modelAsString: false
                                  values:
                                  - value: Generalized
                                    description: Generalized image. Needs to be provisioned
                                      during deployment time.
                                  - value: Specialized
                                    description: Specialized image. Contains already
                                      provisioned OS Disk.
                            description: Describes a image disk.
                            required:
                            - osType
                            - osState
                          dataDisks:
                            type: array
                            items:
                              type: object
                              properties:
                                snapshot:
                                  description: The snapshot.
[...]
