openapi: 3.0.0
info:
  title: ComputeManagementClient
  description: The Compute Management Client.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/proximityPlacementGroups/{proximityPlacementGroupName}
  : put:
      tags:
      - ProximityPlacementGroups
      operationId: ProximityPlacementGroups_CreateOrUpdate
      description: Create or update a proximity placement group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: proximityPlacementGroupName
        in: path
        required: true
        description: The name of the proximity placement group.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource Id
                name:
                  readOnly: true
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                location:
                  type: string
                  description: Resource location
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  x-ms-client-flatten: true
                  description: Describes the properties of a Proximity Placement Group.
                  properties:
                    proximityPlacementGroupType:
                      type: string
                      description: 'Specifies the type of the proximity placement
                        group. Possible values are: **Standard** : Co-locate resources
                        within an Azure region or Availability Zone. **Ultra** : For
                        future use.'
                      enum:
                      - Standard
                      - Ultra
                      x-ms-enum:
                        name: ProximityPlacementGroupType
                        modelAsString: true
                    virtualMachines:
                      readOnly: true
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource Id
                          colocationStatus:
                            description: Describes colocation status of a resource
                              in the Proximity Placement Group.
                            properties:
                              code:
                                type: string
                                description: The status code.
                              level:
                                type: string
                                description: The level code.
                                enum:
                                - Info
                                - Warning
                                - Error
                                x-ms-enum:
                                  name: StatusLevelTypes
                                  modelAsString: false
                              displayStatus:
                                type: string
                                description: The short localizable label for the status.
                              message:
                                type: string
                                description: The detailed status message, including
                                  for alerts and error messages.
                              time:
                                type: string
                                format: date-time
                                description: The time of the status.
                            type: object
                        x-ms-azure-resource: true
                      description: A list of references to all virtual machines in
                        the proximity placement group.
                    virtualMachineScaleSets:
                      readOnly: true
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource Id
                          colocationStatus:
                            description: Describes colocation status of a resource
                              in the Proximity Placement Group.
                            properties:
                              code:
                                type: string
                                description: The status code.
                              level:
                                type: string
                                description: The level code.
                                enum:
                                - Info
                                - Warning
                                - Error
                                x-ms-enum:
                                  name: StatusLevelTypes
                                  modelAsString: false
                              displayStatus:
                                type: string
                                description: The short localizable label for the status.
                              message:
                                type: string
                                description: The detailed status message, including
                                  for alerts and error messages.
                              time:
                                type: string
                                format: date-time
                                description: The time of the status.
                            type: object
                        x-ms-azure-resource: true
                      description: A list of references to all virtual machine scale
                        sets in the proximity placement group.
                    availabilitySets:
                      readOnly: true
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource Id
                          colocationStatus:
                            description: Describes colocation status of a resource
                              in the Proximity Placement Group.
                            properties:
                              code:
                                type: string
                                description: The status code.
                              level:
                                type: string
                                description: The level code.
                                enum:
                                - Info
                                - Warning
                                - Error
                                x-ms-enum:
                                  name: StatusLevelTypes
                                  modelAsString: false
                              displayStatus:
                                type: string
                                description: The short localizable label for the status.
                              message:
                                type: string
                                description: The detailed status message, including
                                  for alerts and error messages.
                              time:
                                type: string
                                format: date-time
                                description: The time of the status.
                            type: object
                        x-ms-azure-resource: true
                      description: A list of references to all availability sets in
                        the proximity placement group.
                    colocationStatus:
                      description: Describes colocation status of the Proximity Placement
                        Group.
                      properties:
                        code:
                          type: string
                          description: The status code.
                        level:
                          type: string
                          description: The level code.
                          enum:
                          - Info
                          - Warning
                          - Error
                          x-ms-enum:
                            name: StatusLevelTypes
                            modelAsString: false
                        displayStatus:
                          type: string
                          description: The short localizable label for the status.
                        message:
                          type: string
                          description: The detailed status message, including for
                            alerts and error messages.
                        time:
                          type: string
                          format: date-time
                          description: The time of the status.
                      type: object
                    intent:
                      type: object
                      properties:
                        vmSizes:
                          type: array
                          description: Specifies possible sizes of virtual machines
                            that can be created in the proximity placement group.
                          items:
                            type: string
                            description: 'Specifies the size of the virtual machine.
                              Recommended way to get the list of available sizes is
                              using these APIs: [List all available virtual machine
                              sizes in an availability set](https://docs.microsoft.com/rest/api/compute/availabilitysets/listavailablesizes),
                              [List all available virtual machine sizes in a region](
                              https://docs.microsoft.com/rest/api/compute/resourceskus/list),
                              [List all available virtual machine sizes for resizing](https://docs.microsoft.com/rest/api/compute/virtualmachines/listavailablesizes).
                              For more information about virtual machine sizes, see
                              [Sizes for virtual machines](https://docs.microsoft.com/azure/virtual-machines/sizes).
                              The available VM sizes depend on region and availability
                              set.'
                      description: Specifies the user intent of the proximity placement
                        group.
                zones:
                  type: array
                  items:
                    type: string
                  description: Specifies the Availability Zone where virtual machine,
                    virtual machine scale set or availability set associated with
                    the  proximity placement group can be created.
              required:
              - location
              description: The Resource model definition.
              x-ms-azure-resource: true
        description: Parameters supplied to the Create Proximity Placement Group operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    description: Describes the properties of a Proximity Placement
                      Group.
                    properties:
                      proximityPlacementGroupType:
                        type: string
                        description: 'Specifies the type of the proximity placement
                          group. Possible values are: **Standard** : Co-locate resources
                          within an Azure region or Availability Zone. **Ultra** :
                          For future use.'
                        enum:
                        - Standard
                        - Ultra
                        x-ms-enum:
                          name: ProximityPlacementGroupType
                          modelAsString: true
                      virtualMachines:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource Id
                            colocationStatus:
                              description: Describes colocation status of a resource
                                in the Proximity Placement Group.
                              properties:
                                code:
                                  type: string
                                  description: The status code.
                                level:
                                  type: string
                                  description: The level code.
                                  enum:
                                  - Info
                                  - Warning
                                  - Error
                                  x-ms-enum:
                                    name: StatusLevelTypes
                                    modelAsString: false
                                displayStatus:
                                  type: string
                                  description: The short localizable label for the
                                    status.
                                message:
                                  type: string
                                  description: The detailed status message, including
                                    for alerts and error messages.
                                time:
                                  type: string
                                  format: date-time
                                  description: The time of the status.
                              type: object
                          x-ms-azure-resource: true
                        description: A list of references to all virtual machines
                          in the proximity placement group.
                      virtualMachineScaleSets:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource Id
                            colocationStatus:
                              description: Describes colocation status of a resource
                                in the Proximity Placement Group.
                              properties:
                                code:
                                  type: string
                                  description: The status code.
                                level:
                                  type: string
                                  description: The level code.
                                  enum:
                                  - Info
                                  - Warning
                                  - Error
                                  x-ms-enum:
                                    name: StatusLevelTypes
                                    modelAsString: false
                                displayStatus:
                                  type: string
                                  description: The short localizable label for the
                                    status.
                                message:
                                  type: string
                                  description: The detailed status message, including
                                    for alerts and error messages.
                                time:
                                  type: string
                                  format: date-time
                                  description: The time of the status.
                              type: object
                          x-ms-azure-resource: true
                        description: A list of references to all virtual machine scale
                          sets in the proximity placement group.
                      availabilitySets:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource Id
                            colocationStatus:
                              description: Describes colocation status of a resource
                                in the Proximity Placement Group.
                              properties:
                                code:
                                  type: string
                                  description: The status code.
                                level:
                                  type: string
                                  description: The level code.
                                  enum:
                                  - Info
                                  - Warning
                                  - Error
                                  x-ms-enum:
                                    name: StatusLevelTypes
                                    modelAsString: false
                                displayStatus:
                                  type: string
                                  description: The short localizable label for the
                                    status.
                                message:
                                  type: string
                                  description: The detailed status message, including
                                    for alerts and error messages.
                                time:
                                  type: string
                                  format: date-time
                                  description: The time of the status.
                              type: object
                          x-ms-azure-resource: true
                        description: A list of references to all availability sets
                          in the proximity placement group.
                      colocationStatus:
                        description: Describes colocation status of the Proximity
                          Placement Group.
                        properties:
                          code:
                            type: string
                            description: The status code.
                          level:
                            type: string
                            description: The level code.
                            enum:
                            - Info
                            - Warning
                            - Error
                            x-ms-enum:
                              name: StatusLevelTypes
                              modelAsString: false
                          displayStatus:
                            type: string
                            description: The short localizable label for the status.
                          message:
                            type: string
                            description: The detailed status message, including for
                              alerts and error messages.
                          time:
                            type: string
                            format: date-time
                            description: The time of the status.
                        type: object
                      intent:
                        type: object
                        properties:
                          vmSizes:
                            type: array
                            description: Specifies possible sizes of virtual machines
                              that can be created in the proximity placement group.
                            items:
                              type: string
                              description: 'Specifies the size of the virtual machine.
                                Recommended way to get the list of available sizes
                                is using these APIs: [List all available virtual machine
                                sizes in an availability set](https://docs.microsoft.com/rest/api/compute/availabilitysets/listavailablesizes),
                                [List all available virtual machine sizes in a region](
                                https://docs.microsoft.com/rest/api/compute/resourceskus/list),
                                [List all available virtual machine sizes for resizing](https://docs.microsoft.com/rest/api/compute/virtualmachines/listavailablesizes).
                                For more information about virtual machine sizes,
                                see [Sizes for virtual machines](https://docs.microsoft.com/azure/virtual-machines/sizes).
                                The available VM sizes depend on region and availability
                                set.'
                        description: Specifies the user intent of the proximity placement
                          group.
                  zones:
                    type: array
                    items:
                      type: string
                    description: Specifies the Availability Zone where virtual machine,
                      virtual machine scale set or availability set associated with
                      the  proximity placement group can be created.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    description: Describes the properties of a Proximity Placement
                      Group.
                    properties:
                      proximityPlacementGroupType:
                        type: string
                        description: 'Specifies the type of the proximity placement
                          group. Possible values are: **Standard** : Co-locate resources
                          within an Azure region or Availability Zone. **Ultra** :
                          For future use.'
                        enum:
                        - Standard
                        - Ultra
                        x-ms-enum:
                          name: ProximityPlacementGroupType
                          modelAsString: true
                      virtualMachines:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource Id
                            colocationStatus:
                              description: Describes colocation status of a resource
                                in the Proximity Placement Group.
                              properties:
                                code:
                                  type: string
                                  description: The status code.
                                level:
                                  type: string
                                  description: The level code.
                                  enum:
                                  - Info
                                  - Warning
                                  - Error
                                  x-ms-enum:
                                    name: StatusLevelTypes
                                    modelAsString: false
                                displayStatus:
                                  type: string
                                  description: The short localizable label for the
                                    status.
                                message:
                                  type: string
                                  description: The detailed status message, including
                                    for alerts and error messages.
                                time:
                                  type: string
                                  format: date-time
                                  description: The time of the status.
                              type: object
                          x-ms-azure-resource: true
                        description: A list of references to all virtual machines
                          in the proximity placement group.
                      virtualMachineScaleSets:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource Id
                            colocationStatus:
                              description: Describes colocation status of a resource
                                in the Proximity Placement Group.
                              properties:
                                code:
                                  type: string
                                  description: The status code.
                                level:
                                  type: string
                                  description: The level code.
                                  enum:
                                  - Info
                                  - Warning
                                  - Error
                                  x-ms-enum:
                                    name: StatusLevelTypes
                                    modelAsString: false
                                displayStatus:
                                  type: string
                                  description: The short localizable label for the
                                    status.
                                message:
                                  type: string
                                  description: The detailed status message, including
                                    for alerts and error messages.
                                time:
                                  type: string
                                  format: date-time
                                  description: The time of the status.
                              type: object
                          x-ms-azure-resource: true
                        description: A list of references to all virtual machine scale
                          sets in the proximity placement group.
                      availabilitySets:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource Id
                            colocationStatus:
                              description: Describes colocation status of a resource
                                in the Proximity Placement Group.
                              properties:
                                code:
                                  type: string
                                  description: The status code.
                                level:
                                  type: string
                                  description: The level code.
                                  enum:
                                  - Info
                                  - Warning
                                  - Error
                                  x-ms-enum:
                                    name: StatusLevelTypes
                                    modelAsString: false
                                displayStatus:
                                  type: string
                                  description: The short localizable label for the
                                    status.
                                message:
                                  type: string
                                  description: The detailed status message, including
                                    for alerts and error messages.
                                time:
                                  type: string
                                  format: date-time
                                  description: The time of the status.
                              type: object
                          x-ms-azure-resource: true
                        description: A list of references to all availability sets
                          in the proximity placement group.
                      colocationStatus:
                        description: Describes colocation status of the Proximity
                          Placement Group.
                        properties:
                          code:
                            type: string
                            description: The status code.
                          level:
                            type: string
                            description: The level code.
                            enum:
                            - Info
                            - Warning
                            - Error
                            x-ms-enum:
                              name: StatusLevelTypes
                              modelAsString: false
                          displayStatus:
                            type: string
                            description: The short localizable label for the status.
                          message:
                            type: string
                            description: The detailed status message, including for
                              alerts and error messages.
                          time:
                            type: string
                            format: date-time
                            description: The time of the status.
                        type: object
                      intent:
                        type: object
                        properties:
                          vmSizes:
                            type: array
                            description: Specifies possible sizes of virtual machines
                              that can be created in the proximity placement group.
                            items:
                              type: string
                              description: 'Specifies the size of the virtual machine.
                                Recommended way to get the list of available sizes
                                is using these APIs: [List all available virtual machine
                                sizes in an availability set](https://docs.microsoft.com/rest/api/compute/availabilitysets/listavailablesizes),
                                [List all available virtual machine sizes in a region](
                                https://docs.microsoft.com/rest/api/compute/resourceskus/list),
                                [List all available virtual machine sizes for resizing](https://docs.microsoft.com/rest/api/compute/virtualmachines/listavailablesizes).
                                For more information about virtual machine sizes,
                                see [Sizes for virtual machines](https://docs.microsoft.com/azure/virtual-machines/sizes).
                                The available VM sizes depend on region and availability
                                set.'
                        description: Specifies the user intent of the proximity placement
                          group.
                  zones:
                    type: array
                    items:
                      type: string
                    description: Specifies the Availability Zone where virtual machine,
                      virtual machine scale set or availability set associated with
                      the  proximity placement group can be created.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
    patch:
      tags:
      - ProximityPlacementGroups
      operationId: ProximityPlacementGroups_Update
      description: Update a proximity placement group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: proximityPlacementGroupName
        in: path
        required: true
        description: The name of the proximity placement group.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
              description: The Update Resource model definition.
        description: Parameters supplied to the Update Proximity Placement Group operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    description: Describes the properties of a Proximity Placement
                      Group.
                    properties:
                      proximityPlacementGroupType:
                        type: string
                        description: 'Specifies the type of the proximity placement
                          group. Possible values are: **Standard** : Co-locate resources
                          within an Azure region or Availability Zone. **Ultra** :
                          For future use.'
                        enum:
                        - Standard
                        - Ultra
                        x-ms-enum:
                          name: ProximityPlacementGroupType
                          modelAsString: true
                      virtualMachines:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource Id
                            colocationStatus:
                              description: Describes colocation status of a resource
                                in the Proximity Placement Group.
                              properties:
                                code:
                                  type: string
                                  description: The status code.
                                level:
                                  type: string
                                  description: The level code.
                                  enum:
                                  - Info
                                  - Warning
                                  - Error
                                  x-ms-enum:
                                    name: StatusLevelTypes
                                    modelAsString: false
                                displayStatus:
                                  type: string
                                  description: The short localizable label for the
                                    status.
                                message:
                                  type: string
                                  description: The detailed status message, including
                                    for alerts and error messages.
                                time:
                                  type: string
                                  format: date-time
                                  description: The time of the status.
                              type: object
                          x-ms-azure-resource: true
                        description: A list of references to all virtual machines
                          in the proximity placement group.
                      virtualMachineScaleSets:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource Id
                            colocationStatus:
                              description: Describes colocation status of a resource
                                in the Proximity Placement Group.
                              properties:
                                code:
                                  type: string
                                  description: The status code.
                                level:
                                  type: string
                                  description: The level code.
                                  enum:
                                  - Info
                                  - Warning
                                  - Error
                                  x-ms-enum:
                                    name: StatusLevelTypes
                                    modelAsString: false
                                displayStatus:
                                  type: string
                                  description: The short localizable label for the
                                    status.
                                message:
                                  type: string
                                  description: The detailed status message, including
                                    for alerts and error messages.
                                time:
                                  type: string
                                  format: date-time
                                  description: The time of the status.
                              type: object
                          x-ms-azure-resource: true
                        description: A list of references to all virtual machine scale
                          sets in the proximity placement group.
                      availabilitySets:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource Id
                            colocationStatus:
                              description: Describes colocation status of a resource
                                in the Proximity Placement Group.
                              properties:
                                code:
                                  type: string
                                  description: The status code.
                                level:
                                  type: string
                                  description: The level code.
                                  enum:
                                  - Info
                                  - Warning
                                  - Error
                                  x-ms-enum:
                                    name: StatusLevelTypes
                                    modelAsString: false
                                displayStatus:
                                  type: string
                                  description: The short localizable label for the
                                    status.
                                message:
                                  type: string
                                  description: The detailed status message, including
                                    for alerts and error messages.
                                time:
                                  type: string
                                  format: date-time
                                  description: The time of the status.
                              type: object
                          x-ms-azure-resource: true
                        description: A list of references to all availability sets
                          in the proximity placement group.
                      colocationStatus:
                        description: Describes colocation status of the Proximity
                          Placement Group.
                        properties:
                          code:
                            type: string
                            description: The status code.
                          level:
                            type: string
                            description: The level code.
                            enum:
                            - Info
                            - Warning
                            - Error
                            x-ms-enum:
                              name: StatusLevelTypes
                              modelAsString: false
                          displayStatus:
                            type: string
                            description: The short localizable label for the status.
                          message:
                            type: string
                            description: The detailed status message, including for
                              alerts and error messages.
                          time:
                            type: string
                            format: date-time
                            description: The time of the status.
                        type: object
                      intent:
                        type: object
                        properties:
                          vmSizes:
                            type: array
                            description: Specifies possible sizes of virtual machines
                              that can be created in the proximity placement group.
                            items:
                              type: string
                              description: 'Specifies the size of the virtual machine.
                                Recommended way to get the list of available sizes
                                is using these APIs: [List all available virtual machine
                                sizes in an availability set](https://docs.microsoft.com/rest/api/compute/availabilitysets/listavailablesizes),
                                [List all available virtual machine sizes in a region](
                                https://docs.microsoft.com/rest/api/compute/resourceskus/list),
                                [List all available virtual machine sizes for resizing](https://docs.microsoft.com/rest/api/compute/virtualmachines/listavailablesizes).
                                For more information about virtual machine sizes,
                                see [Sizes for virtual machines](https://docs.microsoft.com/azure/virtual-machines/sizes).
                                The available VM sizes depend on region and availability
                                set.'
                        description: Specifies the user intent of the proximity placement
                          group.
                  zones:
                    type: array
                    items:
                      type: string
                    description: Specifies the Availability Zone where virtual machine,
                      virtual machine scale set or availability set associated with
                      the  proximity placement group can be created.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
    delete:
      tags:
      - ProximityPlacementGroups
      operationId: ProximityPlacementGroups_Delete
      description: Delete a proximity placement group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: proximityPlacementGroupName
        in: path
        required: true
        description: The name of the proximity placement group.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
    get:
      tags:
      - ProximityPlacementGroups
      operationId: ProximityPlacementGroups_Get
      description: Retrieves information about a proximity placement group .
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: proximityPlacementGroupName
        in: path
        required: true
        description: The name of the proximity placement group.
        schema:
          type: string
      - name: includeColocationStatus
        in: query
        required: false
        description: includeColocationStatus=true enables fetching the colocation
          status of all the resources in the proximity placement group.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    description: Describes the properties of a Proximity Placement
                      Group.
                    properties:
                      proximityPlacementGroupType:
                        type: string
                        description: 'Specifies the type of the proximity placement
                          group. Possible values are: **Standard** : Co-locate resources
                          within an Azure region or Availability Zone. **Ultra** :
                          For future use.'
                        enum:
                        - Standard
                        - Ultra
                        x-ms-enum:
                          name: ProximityPlacementGroupType
                          modelAsString: true
                      virtualMachines:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource Id
                            colocationStatus:
                              description: Describes colocation status of a resource
                                in the Proximity Placement Group.
                              properties:
                                code:
                                  type: string
                                  description: The status code.
                                level:
                                  type: string
                                  description: The level code.
                                  enum:
                                  - Info
                                  - Warning
                                  - Error
                                  x-ms-enum:
                                    name: StatusLevelTypes
                                    modelAsString: false
                                displayStatus:
                                  type: string
                                  description: The short localizable label for the
                                    status.
                                message:
                                  type: string
                                  description: The detailed status message, including
                                    for alerts and error messages.
                                time:
                                  type: string
                                  format: date-time
                                  description: The time of the status.
                              type: object
                          x-ms-azure-resource: true
                        description: A list of references to all virtual machines
                          in the proximity placement group.
                      virtualMachineScaleSets:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource Id
                            colocationStatus:
                              description: Describes colocation status of a resource
                                in the Proximity Placement Group.
                              properties:
                                code:
                                  type: string
                                  description: The status code.
                                level:
                                  type: string
                                  description: The level code.
                                  enum:
                                  - Info
                                  - Warning
                                  - Error
                                  x-ms-enum:
                                    name: StatusLevelTypes
                                    modelAsString: false
                                displayStatus:
                                  type: string
                                  description: The short localizable label for the
                                    status.
                                message:
                                  type: string
                                  description: The detailed status message, including
                                    for alerts and error messages.
                                time:
                                  type: string
                                  format: date-time
                                  description: The time of the status.
                              type: object
                          x-ms-azure-resource: true
                        description: A list of references to all virtual machine scale
                          sets in the proximity placement group.
                      availabilitySets:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource Id
                            colocationStatus:
                              description: Describes colocation status of a resource
                                in the Proximity Placement Group.
                              properties:
                                code:
                                  type: string
                                  description: The status code.
                                level:
                                  type: string
                                  description: The level code.
                                  enum:
                                  - Info
                                  - Warning
                                  - Error
                                  x-ms-enum:
                                    name: StatusLevelTypes
                                    modelAsString: false
                                displayStatus:
                                  type: string
                                  description: The short localizable label for the
                                    status.
                                message:
                                  type: string
                                  description: The detailed status message, including
                                    for alerts and error messages.
                                time:
                                  type: string
                                  format: date-time
                                  description: The time of the status.
                              type: object
                          x-ms-azure-resource: true
                        description: A list of references to all availability sets
                          in the proximity placement group.
                      colocationStatus:
                        description: Describes colocation status of the Proximity
                          Placement Group.
                        properties:
                          code:
                            type: string
                            description: The status code.
                          level:
                            type: string
                            description: The level code.
                            enum:
                            - Info
                            - Warning
                            - Error
                            x-ms-enum:
                              name: StatusLevelTypes
                              modelAsString: false
                          displayStatus:
                            type: string
                            description: The short localizable label for the status.
                          message:
                            type: string
                            description: The detailed status message, including for
                              alerts and error messages.
                          time:
                            type: string
                            format: date-time
                            description: The time of the status.
                        type: object
                      intent:
                        type: object
                        properties:
                          vmSizes:
                            type: array
                            description: Specifies possible sizes of virtual machines
                              that can be created in the proximity placement group.
                            items:
                              type: string
                              description: 'Specifies the size of the virtual machine.
                                Recommended way to get the list of available sizes
                                is using these APIs: [List all available virtual machine
                                sizes in an availability set](https://docs.microsoft.com/rest/api/compute/availabilitysets/listavailablesizes),
                                [List all available virtual machine sizes in a region](
                                https://docs.microsoft.com/rest/api/compute/resourceskus/list),
                                [List all available virtual machine sizes for resizing](https://docs.microsoft.com/rest/api/compute/virtualmachines/listavailablesizes).
                                For more information about virtual machine sizes,
                                see [Sizes for virtual machines](https://docs.microsoft.com/azure/virtual-machines/sizes).
                                The available VM sizes depend on region and availability
                                set.'
                        description: Specifies the user intent of the proximity placement
                          group.
                  zones:
                    type: array
                    items:
                      type: string
                    description: Specifies the Availability Zone where virtual machine,
                      virtual machine scale set or availability set associated with
                      the  proximity placement group can be created.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/proximityPlacementGroups:
    get:
      tags:
      - ProximityPlacementGroups
      operationId: ProximityPlacementGroups_ListBySubscription
      description: Lists all proximity placement groups in a subscription.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id
                        name:
                          readOnly: true
                          type: string
                          description: Resource name
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        location:
                          type: string
                          description: Resource location
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags
                        properties:
                          x-ms-client-flatten: true
                          description: Describes the properties of a Proximity Placement
                            Group.
                          properties:
                            proximityPlacementGroupType:
                              type: string
                              description: 'Specifies the type of the proximity placement
                                group. Possible values are: **Standard** : Co-locate
                                resources within an Azure region or Availability Zone.
                                **Ultra** : For future use.'
                              enum:
                              - Standard
                              - Ultra
                              x-ms-enum:
                                name: ProximityPlacementGroupType
                                modelAsString: true
                            virtualMachines:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                                  colocationStatus:
                                    description: Describes colocation status of a
                                      resource in the Proximity Placement Group.
                                    properties:
                                      code:
                                        type: string
                                        description: The status code.
                                      level:
                                        type: string
                                        description: The level code.
                                        enum:
                                        - Info
                                        - Warning
                                        - Error
                                        x-ms-enum:
                                          name: StatusLevelTypes
                                          modelAsString: false
                                      displayStatus:
                                        type: string
                                        description: The short localizable label for
                                          the status.
                                      message:
                                        type: string
                                        description: The detailed status message,
                                          including for alerts and error messages.
                                      time:
                                        type: string
                                        format: date-time
                                        description: The time of the status.
                                    type: object
                                x-ms-azure-resource: true
                              description: A list of references to all virtual machines
                                in the proximity placement group.
                            virtualMachineScaleSets:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                                  colocationStatus:
                                    description: Describes colocation status of a
                                      resource in the Proximity Placement Group.
                                    properties:
                                      code:
                                        type: string
                                        description: The status code.
                                      level:
                                        type: string
                                        description: The level code.
                                        enum:
                                        - Info
                                        - Warning
                                        - Error
                                        x-ms-enum:
                                          name: StatusLevelTypes
                                          modelAsString: false
                                      displayStatus:
                                        type: string
                                        description: The short localizable label for
                                          the status.
                                      message:
                                        type: string
                                        description: The detailed status message,
                                          including for alerts and error messages.
                                      time:
                                        type: string
                                        format: date-time
                                        description: The time of the status.
                                    type: object
                                x-ms-azure-resource: true
                              description: A list of references to all virtual machine
                                scale sets in the proximity placement group.
                            availabilitySets:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                                  colocationStatus:
                                    description: Describes colocation status of a
                                      resource in the Proximity Placement Group.
                                    properties:
                                      code:
                                        type: string
                                        description: The status code.
                                      level:
                                        type: string
                                        description: The level code.
                                        enum:
                                        - Info
                                        - Warning
                                        - Error
                                        x-ms-enum:
                                          name: StatusLevelTypes
                                          modelAsString: false
                                      displayStatus:
                                        type: string
                                        description: The short localizable label for
                                          the status.
                                      message:
                                        type: string
                                        description: The detailed status message,
                                          including for alerts and error messages.
                                      time:
                                        type: string
                                        format: date-time
                                        description: The time of the status.
                                    type: object
                                x-ms-azure-resource: true
                              description: A list of references to all availability
                                sets in the proximity placement group.
                            colocationStatus:
                              description: Describes colocation status of the Proximity
                                Placement Group.
                              properties:
                                code:
                                  type: string
                                  description: The status code.
                                level:
                                  type: string
                                  description: The level code.
                                  enum:
                                  - Info
                                  - Warning
                                  - Error
                                  x-ms-enum:
                                    name: StatusLevelTypes
                                    modelAsString: false
                                displayStatus:
                                  type: string
                                  description: The short localizable label for the
                                    status.
                                message:
                                  type: string
                                  description: The detailed status message, including
                                    for alerts and error messages.
                                time:
                                  type: string
                                  format: date-time
                                  description: The time of the status.
                              type: object
                            intent:
                              type: object
                              properties:
                                vmSizes:
                                  type: array
                                  description: Specifies possible sizes of virtual
                                    machines that can be created in the proximity
                                    placement group.
                                  items:
                                    type: string
                                    description: 'Specifies the size of the virtual
                                      machine. Recommended way to get the list of
                                      available sizes is using these APIs: [List all
                                      available virtual machine sizes in an availability
                                      set](https://docs.microsoft.com/rest/api/compute/availabilitysets/listavailablesizes),
                                      [List all available virtual machine sizes in
                                      a region]( https://docs.microsoft.com/rest/api/compute/resourceskus/list),
                                      [List all available virtual machine sizes for
                                      resizing](https://docs.microsoft.com/rest/api/compute/virtualmachines/listavailablesizes).
                                      For more information about virtual machine sizes,
                                      see [Sizes for virtual machines](https://docs.microsoft.com/azure/virtual-machines/sizes).
                                      The available VM sizes depend on region and
                                      availability set.'
                              description: Specifies the user intent of the proximity
                                placement group.
                        zones:
                          type: array
                          items:
                            type: string
                          description: Specifies the Availability Zone where virtual
                            machine, virtual machine scale set or availability set
                            associated with the  proximity placement group can be
                            created.
                      required:
                      - location
                      description: The Resource model definition.
                      x-ms-azure-resource: true
                    description: The list of proximity placement groups
                  nextLink:
                    type: string
                    description: The URI to fetch the next page of proximity placement
                      groups.
                required:
                - value
                description: The List Proximity Placement Group operation response.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/proximityPlacementGroups:
    get:
      tags:
      - ProximityPlacementGroups
      operationId: ProximityPlacementGroups_ListByResourceGroup
      description: Lists all proximity placement groups in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id
                        name:
                          readOnly: true
                          type: string
                          description: Resource name
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        location:
                          type: string
                          description: Resource location
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags
                        properties:
                          x-ms-client-flatten: true
                          description: Describes the properties of a Proximity Placement
                            Group.
                          properties:
                            proximityPlacementGroupType:
                              type: string
                              description: 'Specifies the type of the proximity placement
                                group. Possible values are: **Standard** : Co-locate
                                resources within an Azure region or Availability Zone.
                                **Ultra** : For future use.'
                              enum:
                              - Standard
                              - Ultra
                              x-ms-enum:
                                name: ProximityPlacementGroupType
                                modelAsString: true
                            virtualMachines:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                                  colocationStatus:
                                    description: Describes colocation status of a
                                      resource in the Proximity Placement Group.
                                    properties:
                                      code:
                                        type: string
                                        description: The status code.
                                      level:
                                        type: string
                                        description: The level code.
                                        enum:
                                        - Info
                                        - Warning
                                        - Error
                                        x-ms-enum:
                                          name: StatusLevelTypes
                                          modelAsString: false
                                      displayStatus:
                                        type: string
                                        description: The short localizable label for
                                          the status.
                                      message:
                                        type: string
                                        description: The detailed status message,
                                          including for alerts and error messages.
                                      time:
                                        type: string
                                        format: date-time
                                        description: The time of the status.
                                    type: object
                                x-ms-azure-resource: true
                              description: A list of references to all virtual machines
                                in the proximity placement group.
                            virtualMachineScaleSets:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                                  colocationStatus:
                                    description: Describes colocation status of a
                                      resource in the Proximity Placement Group.
                                    properties:
                                      code:
                                        type: string
                                        description: The status code.
                                      level:
                                        type: string
                                        description: The level code.
                                        enum:
                                        - Info
                                        - Warning
                                        - Error
                                        x-ms-enum:
                                          name: StatusLevelTypes
                                          modelAsString: false
                                      displayStatus:
                                        type: string
                                        description: The short localizable label for
                                          the status.
                                      message:
                                        type: string
                                        description: The detailed status message,
                                          including for alerts and error messages.
                                      time:
                                        type: string
                                        format: date-time
                                        description: The time of the status.
                                    type: object
                                x-ms-azure-resource: true
                              description: A list of references to all virtual machine
                                scale sets in the proximity placement group.
                            availabilitySets:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id
                                  colocationStatus:
                                    description: Describes colocation status of a
                                      resource in the Proximity Placement Group.
                                    properties:
                                      code:
                                        type: string
                                        description: The status code.
                                      level:
                                        type: string
                                        description: The level code.
                                        enum:
                                        - Info
                                        - Warning
                                        - Error
                                        x-ms-enum:
                                          name: StatusLevelTypes
                                          modelAsString: false
                                      displayStatus:
                                        type: string
                                        description: The short localizable label for
                                          the status.
                                      message:
                                        type: string
                                        description: The detailed status message,
                                          including for alerts and error messages.
                                      time:
                                        type: string
                                        format: date-time
                                        description: The time of the status.
                                    type: object
                                x-ms-azure-resource: true
                              description: A list of references to all availability
                                sets in the proximity placement group.
                            colocationStatus:
                              description: Describes colocation status of the Proximity
                                Placement Group.
                              properties:
                                code:
                                  type: string
                                  description: The status code.
                                level:
                                  type: string
                                  description: The level code.
                                  enum:
                                  - Info
                                  - Warning
                                  - Error
                                  x-ms-enum:
                                    name: StatusLevelTypes
                                    modelAsString: false
                                displayStatus:
                                  type: string
                                  description: The short localizable label for the
                                    status.
                                message:
                                  type: string
                                  description: The detailed status message, including
                                    for alerts and error messages.
                                time:
                                  type: string
                                  format: date-time
                                  description: The time of the status.
                              type: object
                            intent:
                              type: object
                              properties:
                                vmSizes:
                                  type: array
[...]
