openapi: 3.0.0
info:
  title: RunCommandsClient
  description: The Run Commands Client.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/runCommands:
    get:
      tags:
      - VirtualMachineRunCommands
      operationId: VirtualMachineRunCommands_List
      description: Lists all available run commands for a subscription in a location.
      parameters:
      - name: location
        in: path
        required: true
        description: The location upon which run commands is queried.
        schema:
          type: string
          pattern: ^[-\w\._]+$
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        $schema:
                          type: string
                          description: The VM run command schema.
                        id:
                          type: string
                          description: The VM run command id.
                        osType:
                          type: string
                          description: The Operating System type.
                          enum:
                          - Windows
                          - Linux
                          x-ms-enum:
                            name: OperatingSystemTypes
                            modelAsString: false
                        label:
                          type: string
                          description: The VM run command label.
                        description:
                          type: string
                          description: The VM run command description.
                      required:
                      - $schema
                      - id
                      - osType
                      - label
                      - description
                      type: object
                      description: Describes the properties of a Run Command metadata.
                    description: The list of virtual machine run commands.
                  nextLink:
                    type: string
                    description: The uri to fetch the next page of run commands. Call
                      ListNext() with this to fetch the next page of run commands.
                required:
                - value
                type: object
                description: The List Virtual Machine operation response.
            text/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        $schema:
                          type: string
                          description: The VM run command schema.
                        id:
                          type: string
                          description: The VM run command id.
                        osType:
                          type: string
                          description: The Operating System type.
                          enum:
                          - Windows
                          - Linux
                          x-ms-enum:
                            name: OperatingSystemTypes
                            modelAsString: false
                        label:
                          type: string
                          description: The VM run command label.
                        description:
                          type: string
                          description: The VM run command description.
                      required:
                      - $schema
                      - id
                      - osType
                      - label
                      - description
                      type: object
                      description: Describes the properties of a Run Command metadata.
                    description: The list of virtual machine run commands.
                  nextLink:
                    type: string
                    description: The uri to fetch the next page of run commands. Call
                      ListNext() with this to fetch the next page of run commands.
                required:
                - value
                type: object
                description: The List Virtual Machine operation response.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/runCommands/{commandId}:
    get:
      tags:
      - VirtualMachineRunCommands
      operationId: VirtualMachineRunCommands_Get
      description: Gets specific run command for a subscription in a location.
      parameters:
      - name: location
        in: path
        required: true
        description: The location upon which run commands is queried.
        schema:
          type: string
          pattern: ^[-\w\._]+$
      - name: commandId
        in: path
        required: true
        description: The command id.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  $schema:
                    type: string
                    description: The VM run command schema.
                  id:
                    type: string
                    description: The VM run command id.
                  osType:
                    type: string
                    description: The Operating System type.
                    enum:
                    - Windows
                    - Linux
                    x-ms-enum:
                      name: OperatingSystemTypes
                      modelAsString: false
                  label:
                    type: string
                    description: The VM run command label.
                  description:
                    type: string
                    description: The VM run command description.
                  script:
                    type: array
                    items:
                      type: string
                    description: The script to be executed.
                  parameters:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          description: The run command parameter name.
                        type:
                          type: string
                          description: The run command parameter type.
                        defaultValue:
                          type: string
                          description: The run command parameter default value.
                        required:
                          type: boolean
                          description: The run command parameter required.
                          default: false
                      required:
                      - name
                      - type
                      type: object
                      description: Describes the properties of a run command parameter.
                    x-ms-identifiers:
                    - name
                    - type
                    description: The parameters used by the script.
                required:
                - $schema
                - id
                - osType
                - label
                - description
                - script
                description: Describes the properties of a Run Command metadata.
            text/json:
              schema:
                type: object
                properties:
                  $schema:
                    type: string
                    description: The VM run command schema.
                  id:
                    type: string
                    description: The VM run command id.
                  osType:
                    type: string
                    description: The Operating System type.
                    enum:
                    - Windows
                    - Linux
                    x-ms-enum:
                      name: OperatingSystemTypes
                      modelAsString: false
                  label:
                    type: string
                    description: The VM run command label.
                  description:
                    type: string
                    description: The VM run command description.
                  script:
                    type: array
                    items:
                      type: string
                    description: The script to be executed.
                  parameters:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          description: The run command parameter name.
                        type:
                          type: string
                          description: The run command parameter type.
                        defaultValue:
                          type: string
                          description: The run command parameter default value.
                        required:
                          type: boolean
                          description: The run command parameter required.
                          default: false
                      required:
                      - name
                      - type
                      type: object
                      description: Describes the properties of a run command parameter.
                    x-ms-identifiers:
                    - name
                    - type
                    description: The parameters used by the script.
                required:
                - $schema
                - id
                - osType
                - label
                - description
                - script
                description: Describes the properties of a Run Command metadata.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/runCommand
  : post:
      tags:
      - VirtualMachines
      operationId: VirtualMachines_RunCommand
      description: Run command on the VM.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: vmName
        in: path
        required: true
        description: The name of the virtual machine.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                commandId:
                  type: string
                  description: The run command id.
                script:
                  type: array
                  items:
                    type: string
                  description: Optional. The script to be executed.  When this value
                    is given, the given script will override the default script of
                    the command.
                parameters:
                  type: array
                  items:
                    properties:
                      name:
                        type: string
                        description: The run command parameter name.
                      value:
                        type: string
                        description: The run command parameter value.
                    required:
                    - name
                    - value
                    type: object
                    description: Describes the properties of a run command parameter.
                  x-ms-identifiers:
                  - name
                  description: The run command parameters.
              required:
              - commandId
              type: object
              description: Capture Virtual Machine parameters.
          text/json:
            schema:
              properties:
                commandId:
                  type: string
                  description: The run command id.
                script:
                  type: array
                  items:
                    type: string
                  description: Optional. The script to be executed.  When this value
                    is given, the given script will override the default script of
                    the command.
                parameters:
                  type: array
                  items:
                    properties:
                      name:
                        type: string
                        description: The run command parameter name.
                      value:
                        type: string
                        description: The run command parameter value.
                    required:
                    - name
                    - value
                    type: object
                    description: Describes the properties of a run command parameter.
                  x-ms-identifiers:
                  - name
                  description: The run command parameters.
              required:
              - commandId
              type: object
              description: Capture Virtual Machine parameters.
        description: Parameters supplied to the Run command operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        code:
                          type: string
                          description: The status code.
                        level:
                          type: string
                          description: The level code.
                          enum:
                          - Info
                          - Warning
                          - Error
                          x-ms-enum:
                            name: StatusLevelTypes
                            modelAsString: false
                        displayStatus:
                          type: string
                          description: The short localizable label for the status.
                        message:
                          type: string
                          description: The detailed status message, including for
                            alerts and error messages.
                        time:
                          type: string
                          format: date-time
                          description: The time of the status.
                      type: object
                      description: Instance view status.
                    x-ms-identifiers: []
                    description: Run command operation response.
                type: object
            text/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        code:
                          type: string
                          description: The status code.
                        level:
                          type: string
                          description: The level code.
                          enum:
                          - Info
                          - Warning
                          - Error
                          x-ms-enum:
                            name: StatusLevelTypes
                            modelAsString: false
                        displayStatus:
                          type: string
                          description: The short localizable label for the status.
                        message:
                          type: string
                          description: The detailed status message, including for
                            alerts and error messages.
                        time:
                          type: string
                          format: date-time
                          description: The time of the status.
                      type: object
                      description: Instance view status.
                    x-ms-identifiers: []
                    description: Run command operation response.
                type: object
        '202':
          description: Accepted
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualmachines/{instanceId}/runCommand
  : post:
      tags:
      - VirtualMachineScaleSetVMs
      operationId: VirtualMachineScaleSetVMs_RunCommand
      description: Run command on a virtual machine in a VM scale set.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: vmScaleSetName
        in: path
        required: true
        description: The name of the VM scale set.
        schema:
          type: string
      - name: instanceId
        in: path
        required: true
        description: The instance ID of the virtual machine.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                commandId:
                  type: string
                  description: The run command id.
                script:
                  type: array
                  items:
                    type: string
                  description: Optional. The script to be executed.  When this value
                    is given, the given script will override the default script of
                    the command.
                parameters:
                  type: array
                  items:
                    properties:
                      name:
                        type: string
                        description: The run command parameter name.
                      value:
                        type: string
                        description: The run command parameter value.
                    required:
                    - name
                    - value
                    type: object
                    description: Describes the properties of a run command parameter.
                  x-ms-identifiers:
                  - name
                  description: The run command parameters.
              required:
              - commandId
              type: object
              description: Capture Virtual Machine parameters.
          text/json:
            schema:
              properties:
                commandId:
                  type: string
                  description: The run command id.
                script:
                  type: array
                  items:
                    type: string
                  description: Optional. The script to be executed.  When this value
                    is given, the given script will override the default script of
                    the command.
                parameters:
                  type: array
                  items:
                    properties:
                      name:
                        type: string
                        description: The run command parameter name.
                      value:
                        type: string
                        description: The run command parameter value.
                    required:
                    - name
                    - value
                    type: object
                    description: Describes the properties of a run command parameter.
                  x-ms-identifiers:
                  - name
                  description: The run command parameters.
              required:
              - commandId
              type: object
              description: Capture Virtual Machine parameters.
        description: Parameters supplied to the Run command operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        code:
                          type: string
                          description: The status code.
                        level:
                          type: string
                          description: The level code.
                          enum:
                          - Info
                          - Warning
                          - Error
                          x-ms-enum:
                            name: StatusLevelTypes
                            modelAsString: false
                        displayStatus:
                          type: string
                          description: The short localizable label for the status.
                        message:
                          type: string
                          description: The detailed status message, including for
                            alerts and error messages.
                        time:
                          type: string
                          format: date-time
                          description: The time of the status.
                      type: object
                      description: Instance view status.
                    x-ms-identifiers: []
                    description: Run command operation response.
                type: object
            text/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        code:
                          type: string
                          description: The status code.
                        level:
                          type: string
                          description: The level code.
                          enum:
                          - Info
                          - Warning
                          - Error
                          x-ms-enum:
                            name: StatusLevelTypes
                            modelAsString: false
                        displayStatus:
                          type: string
                          description: The short localizable label for the status.
                        message:
                          type: string
                          description: The detailed status message, including for
                            alerts and error messages.
                        time:
                          type: string
                          format: date-time
                          description: The time of the status.
                      type: object
                      description: Instance view status.
                    x-ms-identifiers: []
                    description: Run command operation response.
                type: object
        '202':
          description: Accepted
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/runCommands/{runCommandName}
  : put:
      tags:
      - VirtualMachineRunCommands
      operationId: VirtualMachineRunCommands_CreateOrUpdate
      description: The operation to create or update the run command.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: vmName
        in: path
        required: true
        description: The name of the virtual machine where the run command should
          be created or updated.
        schema:
          type: string
      - name: runCommandName
        in: path
        required: true
        description: The name of the virtual machine run command.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource Id
                name:
                  readOnly: true
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                location:
                  type: string
                  description: Resource location
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  x-ms-client-flatten: true
                  properties:
                    source:
                      description: The source of the run command script.
                      properties:
                        script:
                          type: string
                          description: Specifies the script content to be executed
                            on the VM.
                        scriptUri:
                          type: string
                          description: Specifies the script download location. It
                            can be either SAS URI of an Azure storage blob with read
                            access or public URI.
                        commandId:
                          type: string
                          description: Specifies a commandId of predefined built-in
                            script.
                        scriptUriManagedIdentity:
                          description: User-assigned managed identity that has access
                            to scriptUri in case of Azure storage blob. Use an empty
                            object in case of system-assigned identity. Make sure
                            the Azure storage blob exists, and managed identity has
                            been given access to blob's container with 'Storage Blob
                            Data Reader' role assignment. In case of user-assigned
                            identity, make sure you add it under VM's identity. For
                            more info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity
                            and https://aka.ms/RunCommandManaged.
                          properties:
                            clientId:
                              type: string
                              description: Client Id (GUID value) of the user-assigned
                                managed identity. ObjectId should not be used if this
                                is provided.
                            objectId:
                              type: string
                              description: Object Id (GUID value) of the user-assigned
                                managed identity. ClientId should not be used if this
                                is provided.
                          type: object
                      type: object
                    parameters:
                      type: array
                      items:
                        properties:
                          name:
                            type: string
                            description: The run command parameter name.
                          value:
                            type: string
                            description: The run command parameter value.
                        required:
                        - name
                        - value
                        type: object
                        description: Describes the properties of a run command parameter.
                      x-ms-identifiers:
                      - name
                      description: The parameters used by the script.
                    protectedParameters:
                      type: array
                      items:
                        properties:
                          name:
                            type: string
                            description: The run command parameter name.
                          value:
                            type: string
                            description: The run command parameter value.
                        required:
                        - name
                        - value
                        type: object
                        description: Describes the properties of a run command parameter.
                      x-ms-identifiers:
                      - name
                      description: The parameters used by the script.
                    asyncExecution:
                      type: boolean
                      description: Optional. If set to true, provisioning will complete
                        as soon as the script starts and will not wait for script
                        to complete.
                      default: false
                    runAsUser:
                      type: string
                      description: Specifies the user account on the VM when executing
                        the run command.
                    runAsPassword:
                      type: string
                      description: Specifies the user account password on the VM when
                        executing the run command.
                    timeoutInSeconds:
                      type: integer
                      format: int32
                      description: The timeout in seconds to execute the run command.
                    outputBlobUri:
                      type: string
                      description: 'Specifies the Azure storage blob where script
                        output stream will be uploaded. Use a SAS URI with read, append,
                        create, write access OR use managed identity to provide the
                        VM access to the blob. Refer outputBlobManagedIdentity parameter. '
                    errorBlobUri:
                      type: string
                      description: Specifies the Azure storage blob where script error
                        stream will be uploaded. Use a SAS URI with read, append,
                        create, write access OR use managed identity to provide the
                        VM access to the blob. Refer errorBlobManagedIdentity parameter.
                    outputBlobManagedIdentity:
                      description: 'User-assigned managed identity that has access
                        to outputBlobUri storage blob. Use an empty object in case
                        of system-assigned identity. Make sure managed identity has
                        been given access to blob''s container with ''Storage Blob
                        Data Contributor'' role assignment. In case of user-assigned
                        identity, make sure you add it under VM''s identity. For more
                        info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity
                        and https://aka.ms/RunCommandManaged '
                      properties:
                        clientId:
                          type: string
                          description: Client Id (GUID value) of the user-assigned
                            managed identity. ObjectId should not be used if this
                            is provided.
                        objectId:
                          type: string
                          description: Object Id (GUID value) of the user-assigned
                            managed identity. ClientId should not be used if this
                            is provided.
                      type: object
                    errorBlobManagedIdentity:
                      description: 'User-assigned managed identity that has access
                        to errorBlobUri storage blob. Use an empty object in case
                        of system-assigned identity. Make sure managed identity has
                        been given access to blob''s container with ''Storage Blob
                        Data Contributor'' role assignment. In case of user-assigned
                        identity, make sure you add it under VM''s identity. For more
                        info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity
                        and https://aka.ms/RunCommandManaged '
                      properties:
                        clientId:
                          type: string
                          description: Client Id (GUID value) of the user-assigned
                            managed identity. ObjectId should not be used if this
                            is provided.
                        objectId:
                          type: string
                          description: Object Id (GUID value) of the user-assigned
                            managed identity. ClientId should not be used if this
                            is provided.
                      type: object
                    provisioningState:
                      readOnly: true
                      type: string
                      description: 'The provisioning state, which only appears in
                        the response. If treatFailureAsDeploymentFailure set to true,
                        any failure in the script will fail the deployment and ProvisioningState
                        will be marked as Failed. If treatFailureAsDeploymentFailure
                        set to false, ProvisioningState would only reflect whether
                        the run command was run or not by the extensions platform,
                        it would not indicate whether script failed in case of script
                        failures. See instance view of run command in case of script
                        failures to see executionMessage, output, error: https://aka.ms/runcommandmanaged#get-execution-status-and-results '
                    instanceView:
                      readOnly: true
                      description: The virtual machine run command instance view.
                      properties:
                        executionState:
                          type: string
                          description: Script execution status.
                          enum:
                          - Unknown
                          - Pending
                          - Running
                          - Failed
                          - Succeeded
                          - TimedOut
                          - Canceled
                          x-ms-enum:
                            name: ExecutionState
                            modelAsString: true
                        executionMessage:
                          type: string
                          description: Communicate script configuration errors or
                            execution messages.
                        exitCode:
                          type: integer
                          format: int32
                          description: Exit code returned from script execution.
                        output:
                          type: string
                          description: Script output stream.
                        error:
                          type: string
                          description: Script error stream.
                        startTime:
                          type: string
                          format: date-time
                          description: Script start time.
                        endTime:
                          type: string
                          format: date-time
                          description: Script end time.
                        statuses:
                          type: array
                          items:
                            properties:
                              code:
                                type: string
                                description: The status code.
                              level:
                                type: string
                                description: The level code.
                                enum:
                                - Info
                                - Warning
                                - Error
                                x-ms-enum:
                                  name: StatusLevelTypes
                                  modelAsString: false
                              displayStatus:
                                type: string
                                description: The short localizable label for the status.
                              message:
                                type: string
                                description: The detailed status message, including
                                  for alerts and error messages.
                              time:
                                type: string
                                format: date-time
                                description: The time of the status.
                            type: object
                            description: Instance view status.
                          x-ms-identifiers: []
                          description: The resource status information.
                      type: object
                    treatFailureAsDeploymentFailure:
                      type: boolean
                      description: 'Optional. If set to true, any failure in the script
                        will fail the deployment and ProvisioningState will be marked
                        as Failed. If set to false, ProvisioningState would only reflect
                        whether the run command was run or not by the extensions platform,
                        it would not indicate whether script failed in case of script
                        failures. See instance view of run command in case of script
                        failures to see executionMessage, output, error: https://aka.ms/runcommandmanaged#get-execution-status-and-results '
                      default: false
                  type: object
                  description: Describes the properties of a Virtual Machine run command.
              required:
              - location
              description: The Resource model definition.
              x-ms-azure-resource: true
          text/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource Id
                name:
                  readOnly: true
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                location:
                  type: string
                  description: Resource location
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  x-ms-client-flatten: true
                  properties:
                    source:
                      description: The source of the run command script.
                      properties:
                        script:
                          type: string
                          description: Specifies the script content to be executed
                            on the VM.
                        scriptUri:
                          type: string
                          description: Specifies the script download location. It
                            can be either SAS URI of an Azure storage blob with read
                            access or public URI.
                        commandId:
                          type: string
                          description: Specifies a commandId of predefined built-in
                            script.
                        scriptUriManagedIdentity:
                          description: User-assigned managed identity that has access
                            to scriptUri in case of Azure storage blob. Use an empty
                            object in case of system-assigned identity. Make sure
                            the Azure storage blob exists, and managed identity has
                            been given access to blob's container with 'Storage Blob
                            Data Reader' role assignment. In case of user-assigned
                            identity, make sure you add it under VM's identity. For
                            more info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity
                            and https://aka.ms/RunCommandManaged.
                          properties:
                            clientId:
                              type: string
                              description: Client Id (GUID value) of the user-assigned
                                managed identity. ObjectId should not be used if this
                                is provided.
                            objectId:
                              type: string
                              description: Object Id (GUID value) of the user-assigned
                                managed identity. ClientId should not be used if this
                                is provided.
                          type: object
                      type: object
                    parameters:
                      type: array
                      items:
                        properties:
                          name:
                            type: string
                            description: The run command parameter name.
                          value:
                            type: string
                            description: The run command parameter value.
                        required:
                        - name
                        - value
                        type: object
                        description: Describes the properties of a run command parameter.
                      x-ms-identifiers:
                      - name
                      description: The parameters used by the script.
                    protectedParameters:
                      type: array
                      items:
                        properties:
                          name:
                            type: string
                            description: The run command parameter name.
                          value:
                            type: string
                            description: The run command parameter value.
                        required:
                        - name
                        - value
                        type: object
                        description: Describes the properties of a run command parameter.
                      x-ms-identifiers:
                      - name
                      description: The parameters used by the script.
                    asyncExecution:
                      type: boolean
                      description: Optional. If set to true, provisioning will complete
                        as soon as the script starts and will not wait for script
                        to complete.
                      default: false
                    runAsUser:
                      type: string
                      description: Specifies the user account on the VM when executing
                        the run command.
                    runAsPassword:
                      type: string
                      description: Specifies the user account password on the VM when
                        executing the run command.
                    timeoutInSeconds:
                      type: integer
                      format: int32
                      description: The timeout in seconds to execute the run command.
                    outputBlobUri:
                      type: string
                      description: 'Specifies the Azure storage blob where script
                        output stream will be uploaded. Use a SAS URI with read, append,
                        create, write access OR use managed identity to provide the
                        VM access to the blob. Refer outputBlobManagedIdentity parameter. '
                    errorBlobUri:
                      type: string
                      description: Specifies the Azure storage blob where script error
                        stream will be uploaded. Use a SAS URI with read, append,
                        create, write access OR use managed identity to provide the
                        VM access to the blob. Refer errorBlobManagedIdentity parameter.
                    outputBlobManagedIdentity:
                      description: 'User-assigned managed identity that has access
                        to outputBlobUri storage blob. Use an empty object in case
                        of system-assigned identity. Make sure managed identity has
                        been given access to blob''s container with ''Storage Blob
                        Data Contributor'' role assignment. In case of user-assigned
                        identity, make sure you add it under VM''s identity. For more
                        info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity
                        and https://aka.ms/RunCommandManaged '
                      properties:
                        clientId:
                          type: string
                          description: Client Id (GUID value) of the user-assigned
                            managed identity. ObjectId should not be used if this
                            is provided.
                        objectId:
                          type: string
                          description: Object Id (GUID value) of the user-assigned
                            managed identity. ClientId should not be used if this
                            is provided.
                      type: object
                    errorBlobManagedIdentity:
                      description: 'User-assigned managed identity that has access
                        to errorBlobUri storage blob. Use an empty object in case
                        of system-assigned identity. Make sure managed identity has
                        been given access to blob''s container with ''Storage Blob
                        Data Contributor'' role assignment. In case of user-assigned
                        identity, make sure you add it under VM''s identity. For more
                        info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity
                        and https://aka.ms/RunCommandManaged '
                      properties:
                        clientId:
                          type: string
                          description: Client Id (GUID value) of the user-assigned
                            managed identity. ObjectId should not be used if this
                            is provided.
                        objectId:
                          type: string
                          description: Object Id (GUID value) of the user-assigned
                            managed identity. ClientId should not be used if this
                            is provided.
                      type: object
                    provisioningState:
                      readOnly: true
                      type: string
                      description: 'The provisioning state, which only appears in
                        the response. If treatFailureAsDeploymentFailure set to true,
                        any failure in the script will fail the deployment and ProvisioningState
                        will be marked as Failed. If treatFailureAsDeploymentFailure
                        set to false, ProvisioningState would only reflect whether
                        the run command was run or not by the extensions platform,
                        it would not indicate whether script failed in case of script
                        failures. See instance view of run command in case of script
                        failures to see executionMessage, output, error: https://aka.ms/runcommandmanaged#get-execution-status-and-results '
                    instanceView:
                      readOnly: true
                      description: The virtual machine run command instance view.
                      properties:
                        executionState:
                          type: string
                          description: Script execution status.
                          enum:
                          - Unknown
                          - Pending
                          - Running
                          - Failed
                          - Succeeded
                          - TimedOut
                          - Canceled
                          x-ms-enum:
                            name: ExecutionState
                            modelAsString: true
                        executionMessage:
                          type: string
                          description: Communicate script configuration errors or
                            execution messages.
                        exitCode:
                          type: integer
                          format: int32
                          description: Exit code returned from script execution.
                        output:
                          type: string
                          description: Script output stream.
                        error:
                          type: string
                          description: Script error stream.
                        startTime:
                          type: string
                          format: date-time
                          description: Script start time.
                        endTime:
                          type: string
                          format: date-time
                          description: Script end time.
                        statuses:
                          type: array
                          items:
                            properties:
                              code:
                                type: string
                                description: The status code.
                              level:
                                type: string
                                description: The level code.
                                enum:
                                - Info
                                - Warning
                                - Error
                                x-ms-enum:
                                  name: StatusLevelTypes
                                  modelAsString: false
                              displayStatus:
                                type: string
                                description: The short localizable label for the status.
                              message:
                                type: string
                                description: The detailed status message, including
                                  for alerts and error messages.
                              time:
                                type: string
                                format: date-time
                                description: The time of the status.
                            type: object
                            description: Instance view status.
                          x-ms-identifiers: []
                          description: The resource status information.
                      type: object
                    treatFailureAsDeploymentFailure:
                      type: boolean
                      description: 'Optional. If set to true, any failure in the script
                        will fail the deployment and ProvisioningState will be marked
                        as Failed. If set to false, ProvisioningState would only reflect
                        whether the run command was run or not by the extensions platform,
                        it would not indicate whether script failed in case of script
                        failures. See instance view of run command in case of script
                        failures to see executionMessage, output, error: https://aka.ms/runcommandmanaged#get-execution-status-and-results '
                      default: false
                  type: object
                  description: Describes the properties of a Virtual Machine run command.
              required:
              - location
              description: The Resource model definition.
              x-ms-azure-resource: true
        description: Parameters supplied to the Create Virtual Machine RunCommand
          operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      source:
                        description: The source of the run command script.
                        properties:
                          script:
                            type: string
                            description: Specifies the script content to be executed
                              on the VM.
                          scriptUri:
                            type: string
                            description: Specifies the script download location. It
                              can be either SAS URI of an Azure storage blob with
                              read access or public URI.
                          commandId:
                            type: string
                            description: Specifies a commandId of predefined built-in
                              script.
                          scriptUriManagedIdentity:
                            description: User-assigned managed identity that has access
                              to scriptUri in case of Azure storage blob. Use an empty
                              object in case of system-assigned identity. Make sure
                              the Azure storage blob exists, and managed identity
                              has been given access to blob's container with 'Storage
                              Blob Data Reader' role assignment. In case of user-assigned
                              identity, make sure you add it under VM's identity.
                              For more info on managed identity and Run Command, refer
                              https://aka.ms/ManagedIdentity and https://aka.ms/RunCommandManaged.
                            properties:
                              clientId:
                                type: string
                                description: Client Id (GUID value) of the user-assigned
                                  managed identity. ObjectId should not be used if
                                  this is provided.
                              objectId:
                                type: string
                                description: Object Id (GUID value) of the user-assigned
                                  managed identity. ClientId should not be used if
                                  this is provided.
                            type: object
                        type: object
                      parameters:
                        type: array
                        items:
                          properties:
                            name:
                              type: string
                              description: The run command parameter name.
                            value:
                              type: string
                              description: The run command parameter value.
                          required:
                          - name
                          - value
                          type: object
                          description: Describes the properties of a run command parameter.
                        x-ms-identifiers:
                        - name
                        description: The parameters used by the script.
                      protectedParameters:
                        type: array
                        items:
                          properties:
                            name:
                              type: string
                              description: The run command parameter name.
                            value:
                              type: string
                              description: The run command parameter value.
                          required:
                          - name
                          - value
                          type: object
                          description: Describes the properties of a run command parameter.
                        x-ms-identifiers:
                        - name
                        description: The parameters used by the script.
                      asyncExecution:
                        type: boolean
                        description: Optional. If set to true, provisioning will complete
                          as soon as the script starts and will not wait for script
                          to complete.
                        default: false
                      runAsUser:
                        type: string
                        description: Specifies the user account on the VM when executing
                          the run command.
                      runAsPassword:
                        type: string
                        description: Specifies the user account password on the VM
                          when executing the run command.
                      timeoutInSeconds:
                        type: integer
                        format: int32
                        description: The timeout in seconds to execute the run command.
                      outputBlobUri:
                        type: string
                        description: 'Specifies the Azure storage blob where script
                          output stream will be uploaded. Use a SAS URI with read,
                          append, create, write access OR use managed identity to
                          provide the VM access to the blob. Refer outputBlobManagedIdentity
                          parameter. '
                      errorBlobUri:
                        type: string
                        description: Specifies the Azure storage blob where script
                          error stream will be uploaded. Use a SAS URI with read,
                          append, create, write access OR use managed identity to
                          provide the VM access to the blob. Refer errorBlobManagedIdentity
                          parameter.
                      outputBlobManagedIdentity:
                        description: 'User-assigned managed identity that has access
                          to outputBlobUri storage blob. Use an empty object in case
                          of system-assigned identity. Make sure managed identity
                          has been given access to blob''s container with ''Storage
                          Blob Data Contributor'' role assignment. In case of user-assigned
                          identity, make sure you add it under VM''s identity. For
                          more info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity
                          and https://aka.ms/RunCommandManaged '
                        properties:
                          clientId:
                            type: string
                            description: Client Id (GUID value) of the user-assigned
                              managed identity. ObjectId should not be used if this
                              is provided.
                          objectId:
                            type: string
                            description: Object Id (GUID value) of the user-assigned
                              managed identity. ClientId should not be used if this
                              is provided.
                        type: object
                      errorBlobManagedIdentity:
                        description: 'User-assigned managed identity that has access
                          to errorBlobUri storage blob. Use an empty object in case
                          of system-assigned identity. Make sure managed identity
                          has been given access to blob''s container with ''Storage
                          Blob Data Contributor'' role assignment. In case of user-assigned
                          identity, make sure you add it under VM''s identity. For
                          more info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity
                          and https://aka.ms/RunCommandManaged '
                        properties:
                          clientId:
                            type: string
                            description: Client Id (GUID value) of the user-assigned
                              managed identity. ObjectId should not be used if this
                              is provided.
                          objectId:
                            type: string
                            description: Object Id (GUID value) of the user-assigned
                              managed identity. ClientId should not be used if this
                              is provided.
                        type: object
                      provisioningState:
                        readOnly: true
                        type: string
                        description: 'The provisioning state, which only appears in
                          the response. If treatFailureAsDeploymentFailure set to
                          true, any failure in the script will fail the deployment
                          and ProvisioningState will be marked as Failed. If treatFailureAsDeploymentFailure
                          set to false, ProvisioningState would only reflect whether
                          the run command was run or not by the extensions platform,
                          it would not indicate whether script failed in case of script
                          failures. See instance view of run command in case of script
                          failures to see executionMessage, output, error: https://aka.ms/runcommandmanaged#get-execution-status-and-results '
                      instanceView:
                        readOnly: true
                        description: The virtual machine run command instance view.
                        properties:
                          executionState:
                            type: string
                            description: Script execution status.
                            enum:
                            - Unknown
                            - Pending
                            - Running
                            - Failed
                            - Succeeded
                            - TimedOut
                            - Canceled
                            x-ms-enum:
                              name: ExecutionState
                              modelAsString: true
                          executionMessage:
                            type: string
                            description: Communicate script configuration errors or
                              execution messages.
                          exitCode:
                            type: integer
                            format: int32
                            description: Exit code returned from script execution.
                          output:
                            type: string
                            description: Script output stream.
                          error:
                            type: string
                            description: Script error stream.
                          startTime:
                            type: string
                            format: date-time
                            description: Script start time.
                          endTime:
                            type: string
                            format: date-time
                            description: Script end time.
                          statuses:
                            type: array
                            items:
                              properties:
                                code:
                                  type: string
                                  description: The status code.
                                level:
                                  type: string
                                  description: The level code.
                                  enum:
                                  - Info
                                  - Warning
                                  - Error
                                  x-ms-enum:
                                    name: StatusLevelTypes
                                    modelAsString: false
                                displayStatus:
                                  type: string
                                  description: The short localizable label for the
                                    status.
                                message:
                                  type: string
                                  description: The detailed status message, including
                                    for alerts and error messages.
                                time:
                                  type: string
                                  format: date-time
                                  description: The time of the status.
                              type: object
                              description: Instance view status.
                            x-ms-identifiers: []
                            description: The resource status information.
                        type: object
                      treatFailureAsDeploymentFailure:
                        type: boolean
                        description: 'Optional. If set to true, any failure in the
                          script will fail the deployment and ProvisioningState will
                          be marked as Failed. If set to false, ProvisioningState
                          would only reflect whether the run command was run or not
                          by the extensions platform, it would not indicate whether
                          script failed in case of script failures. See instance view
                          of run command in case of script failures to see executionMessage,
                          output, error: https://aka.ms/runcommandmanaged#get-execution-status-and-results '
                        default: false
                    type: object
                    description: Describes the properties of a Virtual Machine run
                      command.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
            text/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      source:
                        description: The source of the run command script.
                        properties:
                          script:
                            type: string
                            description: Specifies the script content to be executed
                              on the VM.
                          scriptUri:
                            type: string
                            description: Specifies the script download location. It
                              can be either SAS URI of an Azure storage blob with
                              read access or public URI.
                          commandId:
                            type: string
                            description: Specifies a commandId of predefined built-in
                              script.
                          scriptUriManagedIdentity:
                            description: User-assigned managed identity that has access
                              to scriptUri in case of Azure storage blob. Use an empty
                              object in case of system-assigned identity. Make sure
                              the Azure storage blob exists, and managed identity
                              has been given access to blob's container with 'Storage
                              Blob Data Reader' role assignment. In case of user-assigned
                              identity, make sure you add it under VM's identity.
                              For more info on managed identity and Run Command, refer
                              https://aka.ms/ManagedIdentity and https://aka.ms/RunCommandManaged.
                            properties:
                              clientId:
                                type: string
                                description: Client Id (GUID value) of the user-assigned
                                  managed identity. ObjectId should not be used if
                                  this is provided.
                              objectId:
                                type: string
                                description: Object Id (GUID value) of the user-assigned
                                  managed identity. ClientId should not be used if
                                  this is provided.
                            type: object
                        type: object
                      parameters:
                        type: array
                        items:
                          properties:
                            name:
                              type: string
                              description: The run command parameter name.
                            value:
                              type: string
                              description: The run command parameter value.
                          required:
                          - name
                          - value
                          type: object
                          description: Describes the properties of a run command parameter.
                        x-ms-identifiers:
                        - name
                        description: The parameters used by the script.
                      protectedParameters:
                        type: array
                        items:
                          properties:
                            name:
                              type: string
                              description: The run command parameter name.
                            value:
                              type: string
                              description: The run command parameter value.
                          required:
                          - name
                          - value
                          type: object
                          description: Describes the properties of a run command parameter.
                        x-ms-identifiers:
                        - name
                        description: The parameters used by the script.
                      asyncExecution:
                        type: boolean
                        description: Optional. If set to true, provisioning will complete
                          as soon as the script starts and will not wait for script
                          to complete.
                        default: false
                      runAsUser:
                        type: string
                        description: Specifies the user account on the VM when executing
                          the run command.
                      runAsPassword:
                        type: string
                        description: Specifies the user account password on the VM
                          when executing the run command.
                      timeoutInSeconds:
                        type: integer
                        format: int32
                        description: The timeout in seconds to execute the run command.
                      outputBlobUri:
                        type: string
                        description: 'Specifies the Azure storage blob where script
                          output stream will be uploaded. Use a SAS URI with read,
                          append, create, write access OR use managed identity to
                          provide the VM access to the blob. Refer outputBlobManagedIdentity
                          parameter. '
                      errorBlobUri:
                        type: string
                        description: Specifies the Azure storage blob where script
                          error stream will be uploaded. Use a SAS URI with read,
                          append, create, write access OR use managed identity to
                          provide the VM access to the blob. Refer errorBlobManagedIdentity
                          parameter.
                      outputBlobManagedIdentity:
                        description: 'User-assigned managed identity that has access
                          to outputBlobUri storage blob. Use an empty object in case
                          of system-assigned identity. Make sure managed identity
                          has been given access to blob''s container with ''Storage
                          Blob Data Contributor'' role assignment. In case of user-assigned
                          identity, make sure you add it under VM''s identity. For
                          more info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity
                          and https://aka.ms/RunCommandManaged '
                        properties:
                          clientId:
                            type: string
                            description: Client Id (GUID value) of the user-assigned
                              managed identity. ObjectId should not be used if this
                              is provided.
                          objectId:
                            type: string
                            description: Object Id (GUID value) of the user-assigned
                              managed identity. ClientId should not be used if this
                              is provided.
                        type: object
                      errorBlobManagedIdentity:
                        description: 'User-assigned managed identity that has access
                          to errorBlobUri storage blob. Use an empty object in case
                          of system-assigned identity. Make sure managed identity
                          has been given access to blob''s container with ''Storage
                          Blob Data Contributor'' role assignment. In case of user-assigned
                          identity, make sure you add it under VM''s identity. For
                          more info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity
                          and https://aka.ms/RunCommandManaged '
                        properties:
                          clientId:
                            type: string
                            description: Client Id (GUID value) of the user-assigned
                              managed identity. ObjectId should not be used if this
                              is provided.
                          objectId:
                            type: string
                            description: Object Id (GUID value) of the user-assigned
                              managed identity. ClientId should not be used if this
                              is provided.
                        type: object
                      provisioningState:
                        readOnly: true
                        type: string
                        description: 'The provisioning state, which only appears in
                          the response. If treatFailureAsDeploymentFailure set to
                          true, any failure in the script will fail the deployment
                          and ProvisioningState will be marked as Failed. If treatFailureAsDeploymentFailure
                          set to false, ProvisioningState would only reflect whether
                          the run command was run or not by the extensions platform,
                          it would not indicate whether script failed in case of script
                          failures. See instance view of run command in case of script
                          failures to see executionMessage, output, error: https://aka.ms/runcommandmanaged#get-execution-status-and-results '
                      instanceView:
                        readOnly: true
                        description: The virtual machine run command instance view.
                        properties:
                          executionState:
                            type: string
                            description: Script execution status.
                            enum:
                            - Unknown
                            - Pending
                            - Running
                            - Failed
                            - Succeeded
                            - TimedOut
                            - Canceled
                            x-ms-enum:
                              name: ExecutionState
                              modelAsString: true
                          executionMessage:
                            type: string
                            description: Communicate script configuration errors or
                              execution messages.
                          exitCode:
                            type: integer
                            format: int32
                            description: Exit code returned from script execution.
                          output:
                            type: string
                            description: Script output stream.
                          error:
                            type: string
                            description: Script error stream.
                          startTime:
                            type: string
                            format: date-time
                            description: Script start time.
                          endTime:
                            type: string
                            format: date-time
                            description: Script end time.
                          statuses:
                            type: array
                            items:
                              properties:
                                code:
                                  type: string
                                  description: The status code.
                                level:
                                  type: string
                                  description: The level code.
                                  enum:
                                  - Info
                                  - Warning
                                  - Error
                                  x-ms-enum:
                                    name: StatusLevelTypes
                                    modelAsString: false
                                displayStatus:
                                  type: string
                                  description: The short localizable label for the
                                    status.
                                message:
                                  type: string
                                  description: The detailed status message, including
                                    for alerts and error messages.
                                time:
                                  type: string
                                  format: date-time
                                  description: The time of the status.
                              type: object
                              description: Instance view status.
                            x-ms-identifiers: []
                            description: The resource status information.
                        type: object
                      treatFailureAsDeploymentFailure:
                        type: boolean
                        description: 'Optional. If set to true, any failure in the
                          script will fail the deployment and ProvisioningState will
                          be marked as Failed. If set to false, ProvisioningState
                          would only reflect whether the run command was run or not
                          by the extensions platform, it would not indicate whether
                          script failed in case of script failures. See instance view
                          of run command in case of script failures to see executionMessage,
                          output, error: https://aka.ms/runcommandmanaged#get-execution-status-and-results '
                        default: false
                    type: object
                    description: Describes the properties of a Virtual Machine run
                      command.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      source:
                        description: The source of the run command script.
                        properties:
                          script:
                            type: string
                            description: Specifies the script content to be executed
                              on the VM.
                          scriptUri:
                            type: string
                            description: Specifies the script download location. It
                              can be either SAS URI of an Azure storage blob with
                              read access or public URI.
                          commandId:
                            type: string
                            description: Specifies a commandId of predefined built-in
                              script.
                          scriptUriManagedIdentity:
                            description: User-assigned managed identity that has access
                              to scriptUri in case of Azure storage blob. Use an empty
                              object in case of system-assigned identity. Make sure
                              the Azure storage blob exists, and managed identity
                              has been given access to blob's container with 'Storage
                              Blob Data Reader' role assignment. In case of user-assigned
                              identity, make sure you add it under VM's identity.
                              For more info on managed identity and Run Command, refer
                              https://aka.ms/ManagedIdentity and https://aka.ms/RunCommandManaged.
                            properties:
                              clientId:
                                type: string
                                description: Client Id (GUID value) of the user-assigned
                                  managed identity. ObjectId should not be used if
                                  this is provided.
                              objectId:
                                type: string
                                description: Object Id (GUID value) of the user-assigned
                                  managed identity. ClientId should not be used if
                                  this is provided.
                            type: object
                        type: object
                      parameters:
                        type: array
                        items:
                          properties:
                            name:
                              type: string
                              description: The run command parameter name.
                            value:
                              type: string
                              description: The run command parameter value.
                          required:
                          - name
                          - value
                          type: object
                          description: Describes the properties of a run command parameter.
                        x-ms-identifiers:
                        - name
                        description: The parameters used by the script.
                      protectedParameters:
                        type: array
                        items:
                          properties:
                            name:
                              type: string
                              description: The run command parameter name.
                            value:
                              type: string
                              description: The run command parameter value.
                          required:
                          - name
                          - value
                          type: object
                          description: Describes the properties of a run command parameter.
                        x-ms-identifiers:
                        - name
                        description: The parameters used by the script.
                      asyncExecution:
                        type: boolean
                        description: Optional. If set to true, provisioning will complete
                          as soon as the script starts and will not wait for script
                          to complete.
                        default: false
                      runAsUser:
                        type: string
                        description: Specifies the user account on the VM when executing
                          the run command.
                      runAsPassword:
                        type: string
                        description: Specifies the user account password on the VM
                          when executing the run command.
                      timeoutInSeconds:
                        type: integer
                        format: int32
                        description: The timeout in seconds to execute the run command.
                      outputBlobUri:
                        type: string
                        description: 'Specifies the Azure storage blob where script
                          output stream will be uploaded. Use a SAS URI with read,
                          append, create, write access OR use managed identity to
                          provide the VM access to the blob. Refer outputBlobManagedIdentity
                          parameter. '
                      errorBlobUri:
                        type: string
                        description: Specifies the Azure storage blob where script
                          error stream will be uploaded. Use a SAS URI with read,
                          append, create, write access OR use managed identity to
                          provide the VM access to the blob. Refer errorBlobManagedIdentity
                          parameter.
                      outputBlobManagedIdentity:
                        description: 'User-assigned managed identity that has access
                          to outputBlobUri storage blob. Use an empty object in case
                          of system-assigned identity. Make sure managed identity
                          has been given access to blob''s container with ''Storage
                          Blob Data Contributor'' role assignment. In case of user-assigned
                          identity, make sure you add it under VM''s identity. For
                          more info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity
                          and https://aka.ms/RunCommandManaged '
                        properties:
                          clientId:
                            type: string
                            description: Client Id (GUID value) of the user-assigned
                              managed identity. ObjectId should not be used if this
                              is provided.
                          objectId:
                            type: string
                            description: Object Id (GUID value) of the user-assigned
                              managed identity. ClientId should not be used if this
                              is provided.
                        type: object
                      errorBlobManagedIdentity:
                        description: 'User-assigned managed identity that has access
                          to errorBlobUri storage blob. Use an empty object in case
                          of system-assigned identity. Make sure managed identity
                          has been given access to blob''s container with ''Storage
                          Blob Data Contributor'' role assignment. In case of user-assigned
                          identity, make sure you add it under VM''s identity. For
                          more info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity
                          and https://aka.ms/RunCommandManaged '
                        properties:
                          clientId:
                            type: string
                            description: Client Id (GUID value) of the user-assigned
                              managed identity. ObjectId should not be used if this
                              is provided.
                          objectId:
                            type: string
                            description: Object Id (GUID value) of the user-assigned
                              managed identity. ClientId should not be used if this
                              is provided.
                        type: object
                      provisioningState:
                        readOnly: true
                        type: string
                        description: 'The provisioning state, which only appears in
                          the response. If treatFailureAsDeploymentFailure set to
                          true, any failure in the script will fail the deployment
                          and ProvisioningState will be marked as Failed. If treatFailureAsDeploymentFailure
                          set to false, ProvisioningState would only reflect whether
                          the run command was run or not by the extensions platform,
                          it would not indicate whether script failed in case of script
                          failures. See instance view of run command in case of script
                          failures to see executionMessage, output, error: https://aka.ms/runcommandmanaged#get-execution-status-and-results '
                      instanceView:
                        readOnly: true
                        description: The virtual machine run command instance view.
                        properties:
                          executionState:
                            type: string
                            description: Script execution status.
                            enum:
                            - Unknown
                            - Pending
                            - Running
                            - Failed
                            - Succeeded
                            - TimedOut
                            - Canceled
                            x-ms-enum:
                              name: ExecutionState
                              modelAsString: true
                          executionMessage:
                            type: string
                            description: Communicate script configuration errors or
                              execution messages.
                          exitCode:
                            type: integer
                            format: int32
                            description: Exit code returned from script execution.
                          output:
                            type: string
                            description: Script output stream.
                          error:
                            type: string
                            description: Script error stream.
                          startTime:
                            type: string
                            format: date-time
                            description: Script start time.
                          endTime:
                            type: string
                            format: date-time
                            description: Script end time.
                          statuses:
                            type: array
                            items:
                              properties:
                                code:
                                  type: string
                                  description: The status code.
                                level:
                                  type: string
                                  description: The level code.
                                  enum:
                                  - Info
[...]
