openapi: 3.0.0
info:
  title: ComputeManagementClient
  description: The Compute Management Client.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/sshPublicKeys:
    get:
      tags:
      - SshPublicKeys
      operationId: SshPublicKeys_ListBySubscription
      description: Lists all of the SSH public keys in the subscription. Use the nextLink
        property in the response to get the next page of SSH public keys.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id
                        name:
                          readOnly: true
                          type: string
                          description: Resource name
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        location:
                          type: string
                          description: Resource location
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the SSH public key.
                          properties:
                            publicKey:
                              type: string
                              description: SSH public key used to authenticate to
                                a virtual machine through ssh. If this property is
                                not initially provided when the resource is created,
                                the publicKey property will be populated when generateKeyPair
                                is called. If the public key is provided upon resource
                                creation, the provided public key needs to be at least
                                2048-bit and in ssh-rsa format.
                      required:
                      - location
                      description: The Resource model definition.
                      x-ms-azure-resource: true
                    description: The list of SSH public keys
                  nextLink:
                    type: string
                    description: The URI to fetch the next page of SSH public keys.
                      Call ListNext() with this URI to fetch the next page of SSH
                      public keys.
                required:
                - value
                description: The list SSH public keys operation response.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/sshPublicKeys:
    get:
      tags:
      - SshPublicKeys
      operationId: SshPublicKeys_ListByResourceGroup
      description: Lists all of the SSH public keys in the specified resource group.
        Use the nextLink property in the response to get the next page of SSH public
        keys.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id
                        name:
                          readOnly: true
                          type: string
                          description: Resource name
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        location:
                          type: string
                          description: Resource location
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the SSH public key.
                          properties:
                            publicKey:
                              type: string
                              description: SSH public key used to authenticate to
                                a virtual machine through ssh. If this property is
                                not initially provided when the resource is created,
                                the publicKey property will be populated when generateKeyPair
                                is called. If the public key is provided upon resource
                                creation, the provided public key needs to be at least
                                2048-bit and in ssh-rsa format.
                      required:
                      - location
                      description: The Resource model definition.
                      x-ms-azure-resource: true
                    description: The list of SSH public keys
                  nextLink:
                    type: string
                    description: The URI to fetch the next page of SSH public keys.
                      Call ListNext() with this URI to fetch the next page of SSH
                      public keys.
                required:
                - value
                description: The list SSH public keys operation response.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/sshPublicKeys/{sshPublicKeyName}
  : put:
      tags:
      - SshPublicKeys
      operationId: SshPublicKeys_Create
      description: Creates a new SSH public key resource.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: sshPublicKeyName
        in: path
        required: true
        description: The name of the SSH public key.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource Id
                name:
                  readOnly: true
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                location:
                  type: string
                  description: Resource location
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  x-ms-client-flatten: true
                  description: Properties of the SSH public key.
                  properties:
                    publicKey:
                      type: string
                      description: SSH public key used to authenticate to a virtual
                        machine through ssh. If this property is not initially provided
                        when the resource is created, the publicKey property will
                        be populated when generateKeyPair is called. If the public
                        key is provided upon resource creation, the provided public
                        key needs to be at least 2048-bit and in ssh-rsa format.
              required:
              - location
              description: The Resource model definition.
              x-ms-azure-resource: true
        description: Parameters supplied to create the SSH public key.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the SSH public key.
                    properties:
                      publicKey:
                        type: string
                        description: SSH public key used to authenticate to a virtual
                          machine through ssh. If this property is not initially provided
                          when the resource is created, the publicKey property will
                          be populated when generateKeyPair is called. If the public
                          key is provided upon resource creation, the provided public
                          key needs to be at least 2048-bit and in ssh-rsa format.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the SSH public key.
                    properties:
                      publicKey:
                        type: string
                        description: SSH public key used to authenticate to a virtual
                          machine through ssh. If this property is not initially provided
                          when the resource is created, the publicKey property will
                          be populated when generateKeyPair is called. If the public
                          key is provided upon resource creation, the provided public
                          key needs to be at least 2048-bit and in ssh-rsa format.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
    patch:
      tags:
      - SshPublicKeys
      operationId: SshPublicKeys_Update
      description: Updates a new SSH public key resource.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: sshPublicKeyName
        in: path
        required: true
        description: The name of the SSH public key.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  x-ms-client-flatten: true
                  description: Properties of the SSH public key.
                  properties:
                    publicKey:
                      type: string
                      description: SSH public key used to authenticate to a virtual
                        machine through ssh. If this property is not initially provided
                        when the resource is created, the publicKey property will
                        be populated when generateKeyPair is called. If the public
                        key is provided upon resource creation, the provided public
                        key needs to be at least 2048-bit and in ssh-rsa format.
              description: The Update Resource model definition.
        description: Parameters supplied to update the SSH public key.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the SSH public key.
                    properties:
                      publicKey:
                        type: string
                        description: SSH public key used to authenticate to a virtual
                          machine through ssh. If this property is not initially provided
                          when the resource is created, the publicKey property will
                          be populated when generateKeyPair is called. If the public
                          key is provided upon resource creation, the provided public
                          key needs to be at least 2048-bit and in ssh-rsa format.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
    delete:
      tags:
      - SshPublicKeys
      operationId: SshPublicKeys_Delete
      description: Delete an SSH public key.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: sshPublicKeyName
        in: path
        required: true
        description: The name of the SSH public key.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
    get:
      tags:
      - SshPublicKeys
      operationId: SshPublicKeys_Get
      description: Retrieves information about an SSH public key.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: sshPublicKeyName
        in: path
        required: true
        description: The name of the SSH public key.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the SSH public key.
                    properties:
                      publicKey:
                        type: string
                        description: SSH public key used to authenticate to a virtual
                          machine through ssh. If this property is not initially provided
                          when the resource is created, the publicKey property will
                          be populated when generateKeyPair is called. If the public
                          key is provided upon resource creation, the provided public
                          key needs to be at least 2048-bit and in ssh-rsa format.
                required:
                - location
                description: The Resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/sshPublicKeys/{sshPublicKeyName}/generateKeyPair
  : post:
      tags:
      - SshPublicKeys
      operationId: SshPublicKeys_GenerateKeyPair
      description: Generates and returns a public/private key pair and populates the
        SSH public key resource with the public key. The length of the key will be
        3072 bits. This operation can only be performed once per SSH public key resource.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: sshPublicKeyName
        in: path
        required: true
        description: The name of the SSH public key.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                encryptionType:
                  type: string
                  description: The encryption type of the SSH keys to be generated.
                    See SshEncryptionTypes for possible set of values. If not provided,
                    will default to RSA
                  enum:
                  - RSA
                  - Ed25519
                  x-ms-enum:
                    name: SshEncryptionTypes
                    modelAsString: true
              description: Parameters for GenerateSshKeyPair.
        description: Parameters supplied to generate the SSH public key.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  privateKey:
                    type: string
                    description: Private key portion of the key pair used to authenticate
                      to a virtual machine through ssh. The private key is returned
                      in RFC3447 format and should be treated as a secret.
                  publicKey:
                    type: string
                    description: Public key portion of the key pair used to authenticate
                      to a virtual machine through ssh. The public key is in ssh-rsa
                      format.
                  id:
                    type: string
                    description: The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.Compute/sshPublicKeys/{SshPublicKeyName}
                required:
                - privateKey
                - publicKey
                - id
                description: Response from generation of an SSH key pair.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    SshPublicKeyGenerateKeyPairResult:
      properties:
        privateKey:
          type: string
          description: Private key portion of the key pair used to authenticate to
            a virtual machine through ssh. The private key is returned in RFC3447
            format and should be treated as a secret.
        publicKey:
          type: string
          description: Public key portion of the key pair used to authenticate to
            a virtual machine through ssh. The public key is in ssh-rsa format.
        id:
          type: string
          description: The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.Compute/sshPublicKeys/{SshPublicKeyName}
      required:
      - privateKey
      - publicKey
      - id
      description: Response from generation of an SSH key pair.
    SshPublicKeyResourceProperties:
      properties:
        publicKey:
          type: string
          description: SSH public key used to authenticate to a virtual machine through
            ssh. If this property is not initially provided when the resource is created,
            the publicKey property will be populated when generateKeyPair is called.
            If the public key is provided upon resource creation, the provided public
            key needs to be at least 2048-bit and in ssh-rsa format.
      description: Properties of the SSH public key.
    SshPublicKeyResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        location:
          type: string
          description: Resource location
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
        properties:
          x-ms-client-flatten: true
          description: Properties of the SSH public key.
          properties:
            publicKey:
              type: string
              description: SSH public key used to authenticate to a virtual machine
                through ssh. If this property is not initially provided when the resource
                is created, the publicKey property will be populated when generateKeyPair
                is called. If the public key is provided upon resource creation, the
                provided public key needs to be at least 2048-bit and in ssh-rsa format.
      required:
      - location
      description: The Resource model definition.
      x-ms-azure-resource: true
    SshPublicKeyUpdateResource:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
        properties:
          x-ms-client-flatten: true
          description: Properties of the SSH public key.
          properties:
            publicKey:
              type: string
              description: SSH public key used to authenticate to a virtual machine
                through ssh. If this property is not initially provided when the resource
                is created, the publicKey property will be populated when generateKeyPair
                is called. If the public key is provided upon resource creation, the
                provided public key needs to be at least 2048-bit and in ssh-rsa format.
      description: The Update Resource model definition.
    SshPublicKeysGroupListResult:
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Resource Id
              name:
                readOnly: true
                type: string
                description: Resource name
              type:
                readOnly: true
                type: string
                description: Resource type
              location:
                type: string
                description: Resource location
              tags:
                type: object
                additionalProperties:
                  type: string
                description: Resource tags
              properties:
                x-ms-client-flatten: true
                description: Properties of the SSH public key.
                properties:
                  publicKey:
                    type: string
                    description: SSH public key used to authenticate to a virtual
                      machine through ssh. If this property is not initially provided
                      when the resource is created, the publicKey property will be
                      populated when generateKeyPair is called. If the public key
                      is provided upon resource creation, the provided public key
                      needs to be at least 2048-bit and in ssh-rsa format.
            required:
            - location
            description: The Resource model definition.
            x-ms-azure-resource: true
          description: The list of SSH public keys
        nextLink:
          type: string
          description: The URI to fetch the next page of SSH public keys. Call ListNext()
            with this URI to fetch the next page of SSH public keys.
      required:
      - value
      description: The list SSH public keys operation response.
    SshGenerateKeyPairInputParameters:
      type: object
      properties:
        encryptionType:
          type: string
          description: The encryption type of the SSH keys to be generated. See SshEncryptionTypes
            for possible set of values. If not provided, will default to RSA
          enum:
          - RSA
          - Ed25519
          x-ms-enum:
            name: SshEncryptionTypes
            modelAsString: true
      description: Parameters for GenerateSshKeyPair.
    ApiErrorBase:
      type: object
      properties:
        code:
          type: string
          description: The error code.
        target:
          type: string
          description: The target of the particular error.
        message:
          type: string
          description: The error message.
      description: Api error base.
    InnerError:
      type: object
      properties:
        exceptiontype:
          type: string
          description: The exception type.
        errordetail:
          type: string
          description: The internal error message or exception dump.
      description: Inner error details.
    ApiError:
      type: object
      properties:
        details:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                description: The error code.
              target:
                type: string
                description: The target of the particular error.
              message:
                type: string
                description: The error message.
            description: Api error base.
          x-ms-identifiers:
          - message
          - target
          description: The Api error details
        innererror:
          description: The Api inner error
          type: object
          properties:
            exceptiontype:
              type: string
              description: The exception type.
            errordetail:
              type: string
              description: The internal error message or exception dump.
        code:
          type: string
          description: The error code.
        target:
          type: string
          description: The target of the particular error.
        message:
          type: string
          description: The error message.
      description: Api error.
    CloudError:
      type: object
      x-ms-external: true
      properties:
        error:
          type: object
          properties:
            details:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: string
                    description: The error code.
                  target:
                    type: string
                    description: The target of the particular error.
                  message:
                    type: string
                    description: The error message.
                description: Api error base.
              x-ms-identifiers:
              - message
              - target
              description: The Api error details
            innererror:
              description: The Api inner error
              type: object
              properties:
                exceptiontype:
                  type: string
                  description: The exception type.
                errordetail:
                  type: string
                  description: The internal error message or exception dump.
            code:
              type: string
              description: The error code.
            target:
              type: string
              description: The target of the particular error.
            message:
              type: string
              description: The error message.
          description: Api error.
      description: An error response from the Compute service.
    Resource:
      type: object
      description: The Resource model definition.
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        location:
          type: string
          description: Resource location
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
      required:
      - location
      x-ms-azure-resource: true
    UpdateResource:
      type: object
      description: The Update Resource model definition.
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
