openapi: 3.0.0
info:
  title: ComputeManagementClient
  description: The Compute Management Client.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions/{version}
  : get:
      tags:
      - VirtualMachineImages
      operationId: VirtualMachineImages_Get
      description: Gets a virtual machine image.
      parameters:
      - name: location
        in: path
        required: true
        description: The name of a supported Azure region.
        schema:
          type: string
      - name: publisherName
        in: path
        required: true
        description: A valid image publisher.
        schema:
          type: string
      - name: offer
        in: path
        required: true
        description: A valid image publisher offer.
        schema:
          type: string
      - name: skus
        in: path
        required: true
        description: A valid image SKU.
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: A valid image SKU version.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource Id
                  name:
                    type: string
                    description: The name of the resource.
                  location:
                    type: string
                    description: The supported Azure location of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Specifies the tags that are assigned to the virtual
                      machine. For more information about using tags, see [Using tags
                      to organize your Azure resources](https://docs.microsoft.com/azure/azure-resource-manager/resource-group-using-tags.md).
                  extendedLocation:
                    description: The extended location of the Virtual Machine.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - EdgeZone
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      plan:
                        properties:
                          publisher:
                            type: string
                            description: The publisher ID.
                          name:
                            type: string
                            description: The plan ID.
                          product:
                            type: string
                            description: Specifies the product of the image from the
                              marketplace. This is the same value as Offer under the
                              imageReference element.
                        required:
                        - publisher
                        - name
                        - product
                        description: Used for establishing the purchase context of
                          any 3rd Party artifact through MarketPlace.
                      osDiskImage:
                        properties:
                          operatingSystem:
                            type: string
                            description: The operating system of the osDiskImage.
                            enum:
                            - Windows
                            - Linux
                            x-ms-enum:
                              name: OperatingSystemTypes
                              modelAsString: false
                        required:
                        - operatingSystem
                        description: Contains the os disk image information.
                      dataDiskImages:
                        type: array
                        items:
                          properties:
                            lun:
                              readOnly: true
                              type: integer
                              format: int32
                              description: Specifies the logical unit number of the
                                data disk. This value is used to identify data disks
                                within the VM and therefore must be unique for each
                                data disk attached to a VM.
                          description: Contains the data disk images information.
                        x-ms-identifiers:
                        - lun
                      automaticOSUpgradeProperties:
                        properties:
                          automaticOSUpgradeSupported:
                            type: boolean
                            description: Specifies whether automatic OS upgrade is
                              supported on the image.
                        required:
                        - automaticOSUpgradeSupported
                        description: Describes automatic OS upgrade properties on
                          the image.
                      hyperVGeneration:
                        type: string
                        description: Specifies the HyperVGeneration Type
                        enum:
                        - V1
                        - V2
                        x-ms-enum:
                          name: HyperVGenerationTypes
                          modelAsString: true
                      disallowed:
                        description: Specifies disallowed configuration for the VirtualMachine
                          created from the image
                        properties:
                          vmDiskType:
                            type: string
                            description: VM disk types which are disallowed.
                            enum:
                            - None
                            - Unmanaged
                            x-ms-enum:
                              name: VmDiskTypes
                              modelAsString: true
                      features:
                        type: array
                        items:
                          properties:
                            name:
                              type: string
                              description: The name of the feature.
                            value:
                              type: string
                              description: The corresponding value for the feature.
                          description: Specifies additional capabilities supported
                            by the image
                        x-ms-identifiers:
                        - name
                      architecture:
                        type: string
                        description: Specifies the Architecture Type
                        enum:
                        - x64
                        - Arm64
                        x-ms-enum:
                          name: ArchitectureTypes
                          modelAsString: true
                      imageDeprecationStatus:
                        type: object
                        properties:
                          imageState:
                            type: string
                            description: Describes the state of the image.
                            enum:
                            - Active
                            - ScheduledForDeprecation
                            - Deprecated
                            x-ms-enum:
                              name: ImageState
                              modelAsString: true
                          scheduledDeprecationTime:
                            type: string
                            format: date-time
                            description: The time, in future, at which this image
                              will be marked as deprecated. This scheduled time is
                              chosen by the Publisher.
                          alternativeOption:
                            type: object
                            properties:
                              type:
                                type: string
                                description: Describes the type of the alternative
                                  option.
                                enum:
                                - None
                                - Offer
                                - Plan
                                x-ms-enum:
                                  name: AlternativeType
                                  modelAsString: true
                              value:
                                type: string
                                description: Indicates the alternative option value
                                  specified by the Publisher. This is the Offer name
                                  when the type is Offer or the Plan name when the
                                  type is Plan.
                            description: Describes the alternative option specified
                              by the Publisher for this image when this image is deprecated.
                        description: Describes image deprecation status properties
                          on the image.
                    description: Describes the properties of a Virtual Machine Image.
                required:
                - name
                - location
                description: Virtual machine image resource information.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions
  : get:
      tags:
      - VirtualMachineImages
      operationId: VirtualMachineImages_List
      description: Gets a list of all virtual machine image versions for the specified
        location, publisher, offer, and SKU.
      parameters:
      - name: location
        in: path
        required: true
        description: The name of a supported Azure region.
        schema:
          type: string
      - name: publisherName
        in: path
        required: true
        description: A valid image publisher.
        schema:
          type: string
      - name: offer
        in: path
        required: true
        description: A valid image publisher offer.
        schema:
          type: string
      - name: skus
        in: path
        required: true
        description: A valid image SKU.
        schema:
          type: string
      - name: $expand
        in: query
        required: false
        description: The expand expression to apply on the operation.
        schema:
          type: string
      - name: $top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: $orderby
        in: query
        required: false
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Resource Id
                    name:
                      type: string
                      description: The name of the resource.
                    location:
                      type: string
                      description: The supported Azure location of the resource.
                    tags:
                      type: object
                      additionalProperties:
                        type: string
                      description: Specifies the tags that are assigned to the virtual
                        machine. For more information about using tags, see [Using
                        tags to organize your Azure resources](https://docs.microsoft.com/azure/azure-resource-manager/resource-group-using-tags.md).
                    extendedLocation:
                      description: The extended location of the Virtual Machine.
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the extended location.
                        type:
                          description: The type of the extended location.
                          type: string
                          enum:
                          - EdgeZone
                          x-ms-enum:
                            name: ExtendedLocationTypes
                            modelAsString: true
                  required:
                  - name
                  - location
                  description: Virtual machine image resource information.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers
  : get:
      tags:
      - VirtualMachineImages
      operationId: VirtualMachineImages_ListOffers
      description: Gets a list of virtual machine image offers for the specified location
        and publisher.
      parameters:
      - name: location
        in: path
        required: true
        description: The name of a supported Azure region.
        schema:
          type: string
      - name: publisherName
        in: path
        required: true
        description: A valid image publisher.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Resource Id
                    name:
                      type: string
                      description: The name of the resource.
                    location:
                      type: string
                      description: The supported Azure location of the resource.
                    tags:
                      type: object
                      additionalProperties:
                        type: string
                      description: Specifies the tags that are assigned to the virtual
                        machine. For more information about using tags, see [Using
                        tags to organize your Azure resources](https://docs.microsoft.com/azure/azure-resource-manager/resource-group-using-tags.md).
                    extendedLocation:
                      description: The extended location of the Virtual Machine.
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the extended location.
                        type:
                          description: The type of the extended location.
                          type: string
                          enum:
                          - EdgeZone
                          x-ms-enum:
                            name: ExtendedLocationTypes
                            modelAsString: true
                  required:
                  - name
                  - location
                  description: Virtual machine image resource information.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers:
    get:
      tags:
      - VirtualMachineImages
      operationId: VirtualMachineImages_ListPublishers
      description: Gets a list of virtual machine image publishers for the specified
        Azure location.
      parameters:
      - name: location
        in: path
        required: true
        description: The name of a supported Azure region.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Resource Id
                    name:
                      type: string
                      description: The name of the resource.
                    location:
                      type: string
                      description: The supported Azure location of the resource.
                    tags:
                      type: object
                      additionalProperties:
                        type: string
                      description: Specifies the tags that are assigned to the virtual
                        machine. For more information about using tags, see [Using
                        tags to organize your Azure resources](https://docs.microsoft.com/azure/azure-resource-manager/resource-group-using-tags.md).
                    extendedLocation:
                      description: The extended location of the Virtual Machine.
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the extended location.
                        type:
                          description: The type of the extended location.
                          type: string
                          enum:
                          - EdgeZone
                          x-ms-enum:
                            name: ExtendedLocationTypes
                            modelAsString: true
                  required:
                  - name
                  - location
                  description: Virtual machine image resource information.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus
  : get:
      tags:
      - VirtualMachineImages
      operationId: VirtualMachineImages_ListSkus
      description: Gets a list of virtual machine image SKUs for the specified location,
        publisher, and offer.
      parameters:
      - name: location
        in: path
        required: true
        description: The name of a supported Azure region.
        schema:
          type: string
      - name: publisherName
        in: path
        required: true
        description: A valid image publisher.
        schema:
          type: string
      - name: offer
        in: path
        required: true
        description: A valid image publisher offer.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Resource Id
                    name:
                      type: string
                      description: The name of the resource.
                    location:
                      type: string
                      description: The supported Azure location of the resource.
                    tags:
                      type: object
                      additionalProperties:
                        type: string
                      description: Specifies the tags that are assigned to the virtual
                        machine. For more information about using tags, see [Using
                        tags to organize your Azure resources](https://docs.microsoft.com/azure/azure-resource-manager/resource-group-using-tags.md).
                    extendedLocation:
                      description: The extended location of the Virtual Machine.
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the extended location.
                        type:
                          description: The type of the extended location.
                          type: string
                          enum:
                          - EdgeZone
                          x-ms-enum:
                            name: ExtendedLocationTypes
                            modelAsString: true
                  required:
                  - name
                  - location
                  description: Virtual machine image resource information.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions/{version}
  : get:
      tags:
      - VirtualMachineImages
      operationId: VirtualMachineImagesEdgeZone_Get
      description: Gets a virtual machine image in an edge zone.
      parameters:
      - name: location
        in: path
        required: true
        description: The name of a supported Azure region.
        schema:
          type: string
      - name: edgeZone
        in: path
        required: true
        description: The name of the edge zone.
        schema:
          type: string
      - name: publisherName
        in: path
        required: true
        description: A valid image publisher.
        schema:
          type: string
      - name: offer
        in: path
        required: true
        description: A valid image publisher offer.
        schema:
          type: string
      - name: skus
        in: path
        required: true
        description: A valid image SKU.
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: A valid image SKU version.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource Id
                  name:
                    type: string
                    description: The name of the resource.
                  location:
                    type: string
                    description: The supported Azure location of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Specifies the tags that are assigned to the virtual
                      machine. For more information about using tags, see [Using tags
                      to organize your Azure resources](https://docs.microsoft.com/azure/azure-resource-manager/resource-group-using-tags.md).
                  extendedLocation:
                    description: The extended location of the Virtual Machine.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - EdgeZone
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      plan:
                        properties:
                          publisher:
                            type: string
                            description: The publisher ID.
                          name:
                            type: string
                            description: The plan ID.
                          product:
                            type: string
                            description: Specifies the product of the image from the
                              marketplace. This is the same value as Offer under the
                              imageReference element.
                        required:
                        - publisher
                        - name
                        - product
                        description: Used for establishing the purchase context of
                          any 3rd Party artifact through MarketPlace.
                      osDiskImage:
                        properties:
                          operatingSystem:
                            type: string
                            description: The operating system of the osDiskImage.
                            enum:
                            - Windows
                            - Linux
                            x-ms-enum:
                              name: OperatingSystemTypes
                              modelAsString: false
                        required:
                        - operatingSystem
                        description: Contains the os disk image information.
                      dataDiskImages:
                        type: array
                        items:
                          properties:
                            lun:
                              readOnly: true
                              type: integer
                              format: int32
                              description: Specifies the logical unit number of the
                                data disk. This value is used to identify data disks
                                within the VM and therefore must be unique for each
                                data disk attached to a VM.
                          description: Contains the data disk images information.
                        x-ms-identifiers:
                        - lun
                      automaticOSUpgradeProperties:
                        properties:
                          automaticOSUpgradeSupported:
                            type: boolean
                            description: Specifies whether automatic OS upgrade is
                              supported on the image.
                        required:
                        - automaticOSUpgradeSupported
                        description: Describes automatic OS upgrade properties on
                          the image.
                      hyperVGeneration:
                        type: string
                        description: Specifies the HyperVGeneration Type
                        enum:
                        - V1
                        - V2
                        x-ms-enum:
                          name: HyperVGenerationTypes
                          modelAsString: true
                      disallowed:
                        description: Specifies disallowed configuration for the VirtualMachine
                          created from the image
                        properties:
                          vmDiskType:
                            type: string
                            description: VM disk types which are disallowed.
                            enum:
                            - None
                            - Unmanaged
                            x-ms-enum:
                              name: VmDiskTypes
                              modelAsString: true
                      features:
                        type: array
                        items:
                          properties:
                            name:
                              type: string
                              description: The name of the feature.
                            value:
                              type: string
                              description: The corresponding value for the feature.
                          description: Specifies additional capabilities supported
                            by the image
                        x-ms-identifiers:
                        - name
                      architecture:
                        type: string
                        description: Specifies the Architecture Type
                        enum:
                        - x64
                        - Arm64
                        x-ms-enum:
                          name: ArchitectureTypes
                          modelAsString: true
                      imageDeprecationStatus:
                        type: object
                        properties:
                          imageState:
                            type: string
                            description: Describes the state of the image.
                            enum:
                            - Active
                            - ScheduledForDeprecation
                            - Deprecated
                            x-ms-enum:
                              name: ImageState
                              modelAsString: true
                          scheduledDeprecationTime:
                            type: string
                            format: date-time
                            description: The time, in future, at which this image
                              will be marked as deprecated. This scheduled time is
                              chosen by the Publisher.
                          alternativeOption:
                            type: object
                            properties:
                              type:
                                type: string
                                description: Describes the type of the alternative
                                  option.
                                enum:
                                - None
                                - Offer
                                - Plan
                                x-ms-enum:
                                  name: AlternativeType
                                  modelAsString: true
                              value:
                                type: string
                                description: Indicates the alternative option value
                                  specified by the Publisher. This is the Offer name
                                  when the type is Offer or the Plan name when the
                                  type is Plan.
                            description: Describes the alternative option specified
                              by the Publisher for this image when this image is deprecated.
                        description: Describes image deprecation status properties
                          on the image.
                    description: Describes the properties of a Virtual Machine Image.
                required:
                - name
                - location
                description: Virtual machine image resource information.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions
  : get:
      tags:
      - VirtualMachineImages
      operationId: VirtualMachineImagesEdgeZone_List
      description: Gets a list of all virtual machine image versions for the specified
        location, edge zone, publisher, offer, and SKU.
      parameters:
      - name: location
        in: path
        required: true
        description: The name of a supported Azure region.
        schema:
          type: string
      - name: edgeZone
        in: path
        required: true
        description: The name of the edge zone.
        schema:
          type: string
      - name: publisherName
        in: path
        required: true
        description: A valid image publisher.
        schema:
          type: string
      - name: offer
        in: path
        required: true
        description: A valid image publisher offer.
        schema:
          type: string
      - name: skus
        in: path
        required: true
        description: A valid image SKU.
        schema:
          type: string
      - name: $expand
        in: query
        required: false
        description: The expand expression to apply on the operation.
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: An integer value specifying the number of images to return that
          matches supplied values.
        schema:
          type: integer
          format: int32
      - name: $orderby
        in: query
        required: false
        description: Specifies the order of the results returned. Formatted as an
          OData query.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Resource Id
                    name:
                      type: string
                      description: The name of the resource.
                    location:
                      type: string
                      description: The supported Azure location of the resource.
                    tags:
                      type: object
                      additionalProperties:
                        type: string
                      description: Specifies the tags that are assigned to the virtual
                        machine. For more information about using tags, see [Using
                        tags to organize your Azure resources](https://docs.microsoft.com/azure/azure-resource-manager/resource-group-using-tags.md).
                    extendedLocation:
                      description: The extended location of the Virtual Machine.
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the extended location.
                        type:
                          description: The type of the extended location.
                          type: string
                          enum:
                          - EdgeZone
                          x-ms-enum:
                            name: ExtendedLocationTypes
                            modelAsString: true
                  required:
                  - name
                  - location
                  description: Virtual machine image resource information.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers/{publisherName}/artifacttypes/vmimage/offers
  : get:
      tags:
      - VirtualMachineImages
      operationId: VirtualMachineImagesEdgeZone_ListOffers
      description: Gets a list of virtual machine image offers for the specified location,
        edge zone and publisher.
      parameters:
      - name: location
        in: path
        required: true
        description: The name of a supported Azure region.
        schema:
          type: string
      - name: edgeZone
        in: path
        required: true
        description: The name of the edge zone.
        schema:
          type: string
      - name: publisherName
        in: path
        required: true
        description: A valid image publisher.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Resource Id
                    name:
                      type: string
                      description: The name of the resource.
                    location:
                      type: string
                      description: The supported Azure location of the resource.
                    tags:
                      type: object
                      additionalProperties:
                        type: string
                      description: Specifies the tags that are assigned to the virtual
                        machine. For more information about using tags, see [Using
                        tags to organize your Azure resources](https://docs.microsoft.com/azure/azure-resource-manager/resource-group-using-tags.md).
                    extendedLocation:
                      description: The extended location of the Virtual Machine.
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the extended location.
                        type:
                          description: The type of the extended location.
                          type: string
                          enum:
                          - EdgeZone
                          x-ms-enum:
                            name: ExtendedLocationTypes
                            modelAsString: true
                  required:
                  - name
                  - location
                  description: Virtual machine image resource information.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers:
    get:
      tags:
      - VirtualMachineImages
      operationId: VirtualMachineImagesEdgeZone_ListPublishers
      description: Gets a list of virtual machine image publishers for the specified
        Azure location and edge zone.
      parameters:
      - name: location
        in: path
        required: true
        description: The name of a supported Azure region.
        schema:
          type: string
      - name: edgeZone
        in: path
        required: true
        description: The name of the edge zone.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Resource Id
                    name:
                      type: string
                      description: The name of the resource.
                    location:
                      type: string
                      description: The supported Azure location of the resource.
                    tags:
                      type: object
                      additionalProperties:
                        type: string
                      description: Specifies the tags that are assigned to the virtual
                        machine. For more information about using tags, see [Using
                        tags to organize your Azure resources](https://docs.microsoft.com/azure/azure-resource-manager/resource-group-using-tags.md).
                    extendedLocation:
                      description: The extended location of the Virtual Machine.
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the extended location.
                        type:
                          description: The type of the extended location.
                          type: string
                          enum:
                          - EdgeZone
                          x-ms-enum:
                            name: ExtendedLocationTypes
                            modelAsString: true
                  required:
                  - name
                  - location
                  description: Virtual machine image resource information.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/vmimages:
    get:
      tags:
      - VirtualMachineImages
      operationId: VirtualMachineImages_ListByEdgeZone
      description: Gets a list of all virtual machine image versions for the specified
        edge zone
      parameters:
      - name: location
        in: path
        required: true
        description: The name of a supported Azure region.
        schema:
          type: string
      - name: edgeZone
        in: path
        required: true
        description: The name of the edge zone.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource Id
                        name:
                          type: string
                          description: The name of the resource.
                        location:
                          type: string
                          description: The supported Azure location of the resource.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Specifies the tags that are assigned to the
                            virtual machine. For more information about using tags,
                            see [Using tags to organize your Azure resources](https://docs.microsoft.com/azure/azure-resource-manager/resource-group-using-tags.md).
                        extendedLocation:
                          description: The extended location of the Virtual Machine.
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the extended location.
                            type:
                              description: The type of the extended location.
                              type: string
                              enum:
                              - EdgeZone
                              x-ms-enum:
                                name: ExtendedLocationTypes
                                modelAsString: true
                      required:
                      - name
                      - location
                      description: Virtual machine image resource information.
                    description: The list of VMImages in EdgeZone
                  nextLink:
                    type: string
                    description: The URI to fetch the next page of VMImages in EdgeZone.
                      Call ListNext() with this URI to fetch the next page of VmImages.
                description: The List VmImages in EdgeZone operation response.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus
  : get:
      tags:
      - VirtualMachineImages
      operationId: VirtualMachineImagesEdgeZone_ListSkus
      description: Gets a list of virtual machine image SKUs for the specified location,
        edge zone, publisher, and offer.
      parameters:
      - name: location
        in: path
        required: true
        description: The name of a supported Azure region.
        schema:
          type: string
      - name: edgeZone
        in: path
        required: true
        description: The name of the edge zone.
        schema:
          type: string
      - name: publisherName
        in: path
        required: true
        description: A valid image publisher.
        schema:
          type: string
      - name: offer
        in: path
        required: true
        description: A valid image publisher offer.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Resource Id
                    name:
                      type: string
                      description: The name of the resource.
                    location:
                      type: string
                      description: The supported Azure location of the resource.
                    tags:
                      type: object
                      additionalProperties:
                        type: string
                      description: Specifies the tags that are assigned to the virtual
                        machine. For more information about using tags, see [Using
                        tags to organize your Azure resources](https://docs.microsoft.com/azure/azure-resource-manager/resource-group-using-tags.md).
                    extendedLocation:
                      description: The extended location of the Virtual Machine.
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the extended location.
                        type:
                          description: The type of the extended location.
                          type: string
                          enum:
                          - EdgeZone
                          x-ms-enum:
                            name: ExtendedLocationTypes
                            modelAsString: true
                  required:
                  - name
                  - location
                  description: Virtual machine image resource information.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    DisallowedConfiguration:
      properties:
        vmDiskType:
          type: string
          description: VM disk types which are disallowed.
          enum:
          - None
          - Unmanaged
          x-ms-enum:
            name: VmDiskTypes
            modelAsString: true
      description: Specifies the disallowed configuration for a virtual machine image.
    VirtualMachineImageResource:
      type: object
      properties:
        id:
          type: string
          description: Resource Id
        name:
          type: string
          description: The name of the resource.
        location:
          type: string
          description: The supported Azure location of the resource.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Specifies the tags that are assigned to the virtual machine.
            For more information about using tags, see [Using tags to organize your
            Azure resources](https://docs.microsoft.com/azure/azure-resource-manager/resource-group-using-tags.md).
        extendedLocation:
          description: The extended location of the Virtual Machine.
          type: object
          properties:
            name:
              type: string
              description: The name of the extended location.
            type:
              description: The type of the extended location.
              type: string
              enum:
              - EdgeZone
              x-ms-enum:
                name: ExtendedLocationTypes
                modelAsString: true
      required:
      - name
      - location
      description: Virtual machine image resource information.
    PurchasePlan:
      properties:
        publisher:
          type: string
          description: The publisher ID.
        name:
          type: string
          description: The plan ID.
        product:
          type: string
          description: Specifies the product of the image from the marketplace. This
            is the same value as Offer under the imageReference element.
      required:
      - publisher
      - name
      - product
      description: Used for establishing the purchase context of any 3rd Party artifact
        through MarketPlace.
    OSDiskImage:
      properties:
        operatingSystem:
          type: string
          description: The operating system of the osDiskImage.
          enum:
          - Windows
          - Linux
          x-ms-enum:
            name: OperatingSystemTypes
            modelAsString: false
      required:
      - operatingSystem
      description: Contains the os disk image information.
    DataDiskImage:
      properties:
        lun:
          readOnly: true
          type: integer
          format: int32
          description: Specifies the logical unit number of the data disk. This value
            is used to identify data disks within the VM and therefore must be unique
            for each data disk attached to a VM.
      description: Contains the data disk images information.
    AutomaticOSUpgradeProperties:
      properties:
        automaticOSUpgradeSupported:
          type: boolean
          description: Specifies whether automatic OS upgrade is supported on the
            image.
      required:
      - automaticOSUpgradeSupported
      description: Describes automatic OS upgrade properties on the image.
    ImageDeprecationStatus:
      type: object
      properties:
        imageState:
          type: string
          description: Describes the state of the image.
          enum:
          - Active
          - ScheduledForDeprecation
          - Deprecated
          x-ms-enum:
            name: ImageState
            modelAsString: true
        scheduledDeprecationTime:
          type: string
          format: date-time
          description: The time, in future, at which this image will be marked as
            deprecated. This scheduled time is chosen by the Publisher.
        alternativeOption:
          type: object
          properties:
            type:
              type: string
              description: Describes the type of the alternative option.
              enum:
              - None
              - Offer
              - Plan
              x-ms-enum:
                name: AlternativeType
                modelAsString: true
            value:
              type: string
              description: Indicates the alternative option value specified by the
                Publisher. This is the Offer name when the type is Offer or the Plan
                name when the type is Plan.
          description: Describes the alternative option specified by the Publisher
            for this image when this image is deprecated.
      description: Describes image deprecation status properties on the image.
    AlternativeOption:
      type: object
      properties:
        type:
          type: string
          description: Describes the type of the alternative option.
          enum:
          - None
          - Offer
          - Plan
          x-ms-enum:
            name: AlternativeType
            modelAsString: true
        value:
          type: string
          description: Indicates the alternative option value specified by the Publisher.
            This is the Offer name when the type is Offer or the Plan name when the
            type is Plan.
      description: Describes the alternative option specified by the Publisher for
        this image when this image is deprecated.
    VirtualMachineImageFeature:
      properties:
        name:
          type: string
          description: The name of the feature.
        value:
          type: string
          description: The corresponding value for the feature.
      description: Specifies additional capabilities supported by the image
    VirtualMachineImageProperties:
      properties:
        plan:
          properties:
            publisher:
              type: string
              description: The publisher ID.
            name:
              type: string
              description: The plan ID.
            product:
              type: string
              description: Specifies the product of the image from the marketplace.
                This is the same value as Offer under the imageReference element.
          required:
          - publisher
          - name
          - product
          description: Used for establishing the purchase context of any 3rd Party
            artifact through MarketPlace.
        osDiskImage:
          properties:
            operatingSystem:
              type: string
              description: The operating system of the osDiskImage.
              enum:
              - Windows
              - Linux
              x-ms-enum:
                name: OperatingSystemTypes
                modelAsString: false
          required:
          - operatingSystem
          description: Contains the os disk image information.
        dataDiskImages:
          type: array
          items:
            properties:
              lun:
                readOnly: true
                type: integer
                format: int32
                description: Specifies the logical unit number of the data disk. This
                  value is used to identify data disks within the VM and therefore
                  must be unique for each data disk attached to a VM.
            description: Contains the data disk images information.
          x-ms-identifiers:
          - lun
        automaticOSUpgradeProperties:
          properties:
            automaticOSUpgradeSupported:
              type: boolean
              description: Specifies whether automatic OS upgrade is supported on
                the image.
          required:
          - automaticOSUpgradeSupported
          description: Describes automatic OS upgrade properties on the image.
        hyperVGeneration:
          type: string
          description: Specifies the HyperVGeneration Type
          enum:
          - V1
          - V2
          x-ms-enum:
            name: HyperVGenerationTypes
            modelAsString: true
        disallowed:
          description: Specifies disallowed configuration for the VirtualMachine created
            from the image
          properties:
            vmDiskType:
              type: string
              description: VM disk types which are disallowed.
              enum:
              - None
              - Unmanaged
              x-ms-enum:
                name: VmDiskTypes
                modelAsString: true
        features:
          type: array
          items:
            properties:
              name:
                type: string
                description: The name of the feature.
              value:
                type: string
                description: The corresponding value for the feature.
            description: Specifies additional capabilities supported by the image
          x-ms-identifiers:
          - name
        architecture:
          type: string
          description: Specifies the Architecture Type
          enum:
          - x64
          - Arm64
          x-ms-enum:
            name: ArchitectureTypes
            modelAsString: true
        imageDeprecationStatus:
          type: object
          properties:
            imageState:
              type: string
              description: Describes the state of the image.
              enum:
              - Active
              - ScheduledForDeprecation
              - Deprecated
              x-ms-enum:
                name: ImageState
                modelAsString: true
            scheduledDeprecationTime:
              type: string
              format: date-time
              description: The time, in future, at which this image will be marked
                as deprecated. This scheduled time is chosen by the Publisher.
            alternativeOption:
              type: object
              properties:
                type:
                  type: string
                  description: Describes the type of the alternative option.
                  enum:
                  - None
                  - Offer
                  - Plan
                  x-ms-enum:
                    name: AlternativeType
                    modelAsString: true
                value:
                  type: string
                  description: Indicates the alternative option value specified by
                    the Publisher. This is the Offer name when the type is Offer or
                    the Plan name when the type is Plan.
              description: Describes the alternative option specified by the Publisher
                for this image when this image is deprecated.
          description: Describes image deprecation status properties on the image.
      description: Describes the properties of a Virtual Machine Image.
    VirtualMachineImage:
      type: object
      properties:
        id:
          type: string
          description: Resource Id
        name:
          type: string
          description: The name of the resource.
        location:
          type: string
          description: The supported Azure location of the resource.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Specifies the tags that are assigned to the virtual machine.
            For more information about using tags, see [Using tags to organize your
            Azure resources](https://docs.microsoft.com/azure/azure-resource-manager/resource-group-using-tags.md).
        extendedLocation:
          description: The extended location of the Virtual Machine.
          type: object
          properties:
            name:
              type: string
              description: The name of the extended location.
            type:
              description: The type of the extended location.
              type: string
              enum:
              - EdgeZone
              x-ms-enum:
                name: ExtendedLocationTypes
                modelAsString: true
        properties:
          x-ms-client-flatten: true
          properties:
            plan:
              properties:
                publisher:
                  type: string
                  description: The publisher ID.
                name:
                  type: string
                  description: The plan ID.
                product:
                  type: string
                  description: Specifies the product of the image from the marketplace.
                    This is the same value as Offer under the imageReference element.
              required:
              - publisher
              - name
              - product
              description: Used for establishing the purchase context of any 3rd Party
                artifact through MarketPlace.
            osDiskImage:
              properties:
                operatingSystem:
                  type: string
                  description: The operating system of the osDiskImage.
                  enum:
                  - Windows
                  - Linux
                  x-ms-enum:
                    name: OperatingSystemTypes
                    modelAsString: false
              required:
              - operatingSystem
              description: Contains the os disk image information.
            dataDiskImages:
              type: array
              items:
                properties:
                  lun:
                    readOnly: true
                    type: integer
                    format: int32
                    description: Specifies the logical unit number of the data disk.
                      This value is used to identify data disks within the VM and
                      therefore must be unique for each data disk attached to a VM.
                description: Contains the data disk images information.
              x-ms-identifiers:
              - lun
            automaticOSUpgradeProperties:
              properties:
                automaticOSUpgradeSupported:
                  type: boolean
                  description: Specifies whether automatic OS upgrade is supported
                    on the image.
              required:
              - automaticOSUpgradeSupported
              description: Describes automatic OS upgrade properties on the image.
            hyperVGeneration:
              type: string
              description: Specifies the HyperVGeneration Type
              enum:
              - V1
              - V2
              x-ms-enum:
                name: HyperVGenerationTypes
                modelAsString: true
            disallowed:
              description: Specifies disallowed configuration for the VirtualMachine
                created from the image
              properties:
                vmDiskType:
                  type: string
                  description: VM disk types which are disallowed.
                  enum:
                  - None
                  - Unmanaged
                  x-ms-enum:
                    name: VmDiskTypes
                    modelAsString: true
            features:
              type: array
              items:
                properties:
                  name:
                    type: string
                    description: The name of the feature.
                  value:
                    type: string
                    description: The corresponding value for the feature.
                description: Specifies additional capabilities supported by the image
              x-ms-identifiers:
              - name
            architecture:
              type: string
              description: Specifies the Architecture Type
              enum:
              - x64
              - Arm64
              x-ms-enum:
                name: ArchitectureTypes
                modelAsString: true
            imageDeprecationStatus:
              type: object
              properties:
                imageState:
                  type: string
                  description: Describes the state of the image.
                  enum:
                  - Active
                  - ScheduledForDeprecation
                  - Deprecated
                  x-ms-enum:
                    name: ImageState
                    modelAsString: true
                scheduledDeprecationTime:
                  type: string
                  format: date-time
                  description: The time, in future, at which this image will be marked
                    as deprecated. This scheduled time is chosen by the Publisher.
                alternativeOption:
                  type: object
                  properties:
                    type:
                      type: string
                      description: Describes the type of the alternative option.
                      enum:
                      - None
                      - Offer
                      - Plan
                      x-ms-enum:
                        name: AlternativeType
                        modelAsString: true
                    value:
                      type: string
                      description: Indicates the alternative option value specified
                        by the Publisher. This is the Offer name when the type is
                        Offer or the Plan name when the type is Plan.
                  description: Describes the alternative option specified by the Publisher
                    for this image when this image is deprecated.
              description: Describes image deprecation status properties on the image.
          description: Describes the properties of a Virtual Machine Image.
      required:
      - name
      - location
      description: Virtual machine image resource information.
    VmImagesInEdgeZoneListResult:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Resource Id
              name:
                type: string
                description: The name of the resource.
              location:
                type: string
                description: The supported Azure location of the resource.
              tags:
                type: object
                additionalProperties:
                  type: string
                description: Specifies the tags that are assigned to the virtual machine.
                  For more information about using tags, see [Using tags to organize
                  your Azure resources](https://docs.microsoft.com/azure/azure-resource-manager/resource-group-using-tags.md).
              extendedLocation:
                description: The extended location of the Virtual Machine.
                type: object
                properties:
                  name:
                    type: string
                    description: The name of the extended location.
                  type:
                    description: The type of the extended location.
                    type: string
                    enum:
                    - EdgeZone
                    x-ms-enum:
                      name: ExtendedLocationTypes
                      modelAsString: true
            required:
            - name
            - location
            description: Virtual machine image resource information.
          description: The list of VMImages in EdgeZone
        nextLink:
          type: string
          description: The URI to fetch the next page of VMImages in EdgeZone. Call
            ListNext() with this URI to fetch the next page of VmImages.
      description: The List VmImages in EdgeZone operation response.
    ArchitectureType:
      type: string
      description: Specifies the Architecture Type
      enum:
      - x64
      - Arm64
      x-ms-enum:
        name: ArchitectureTypes
        modelAsString: true
    ApiErrorBase:
      type: object
      properties:
        code:
          type: string
          description: The error code.
        target:
          type: string
          description: The target of the particular error.
        message:
          type: string
          description: The error message.
      description: Api error base.
    InnerError:
      type: object
      properties:
        exceptiontype:
          type: string
          description: The exception type.
        errordetail:
          type: string
          description: The internal error message or exception dump.
      description: Inner error details.
    ApiError:
      type: object
      properties:
        details:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                description: The error code.
              target:
                type: string
                description: The target of the particular error.
              message:
                type: string
                description: The error message.
            description: Api error base.
          x-ms-identifiers:
          - message
          - target
          description: The Api error details
        innererror:
          description: The Api inner error
          type: object
          properties:
            exceptiontype:
              type: string
              description: The exception type.
            errordetail:
              type: string
              description: The internal error message or exception dump.
        code:
          type: string
          description: The error code.
        target:
          type: string
          description: The target of the particular error.
        message:
          type: string
          description: The error message.
      description: Api error.
    CloudError:
      type: object
      x-ms-external: true
      properties:
        error:
          type: object
          properties:
            details:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: string
                    description: The error code.
                  target:
                    type: string
                    description: The target of the particular error.
                  message:
                    type: string
                    description: The error message.
                description: Api error base.
              x-ms-identifiers:
              - message
              - target
              description: The Api error details
            innererror:
              description: The Api inner error
              type: object
              properties:
                exceptiontype:
                  type: string
                  description: The exception type.
                errordetail:
                  type: string
                  description: The internal error message or exception dump.
            code:
              type: string
              description: The error code.
            target:
              type: string
              description: The target of the particular error.
            message:
              type: string
              description: The error message.
[...]
