openapi: 3.0.0
info:
  title: ComputeManagementClient
  description: The Compute Management Client.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types/{type}/versions/{version}
  : get:
      tags:
      - VirtualMachineExtensionImages
      operationId: VirtualMachineExtensionImages_Get
      description: Gets a virtual machine extension image.
      parameters:
      - name: location
        in: path
        required: true
        description: The name of a supported Azure region.
        schema:
          type: string
      - name: publisherName
        in: path
        required: true
        schema:
          type: string
      - name: type
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      operatingSystem:
                        type: string
                        description: The operating system this extension supports.
                      computeRole:
                        type: string
                        description: The type of role (IaaS or PaaS) this extension
                          supports.
                      handlerSchema:
                        type: string
                        description: The schema defined by publisher, where extension
                          consumers should provide settings in a matching schema.
                      vmScaleSetEnabled:
                        type: boolean
                        description: Whether the extension can be used on xRP VMScaleSets.
                          By default existing extensions are usable on scalesets,
                          but there might be cases where a publisher wants to explicitly
                          indicate the extension is only enabled for CRP VMs but not
                          VMSS.
                      supportsMultipleExtensions:
                        type: boolean
                        description: Whether the handler can support multiple extensions.
                    required:
                    - operatingSystem
                    - computeRole
                    - handlerSchema
                    description: Describes the properties of a Virtual Machine Extension
                      Image.
                required:
                - location
                - name
                description: The Resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types
  : get:
      tags:
      - VirtualMachineExtensionImages
      operationId: VirtualMachineExtensionImages_ListTypes
      description: Gets a list of virtual machine extension image types.
      parameters:
      - name: location
        in: path
        required: true
        description: The name of a supported Azure region.
        schema:
          type: string
      - name: publisherName
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      readOnly: true
                      type: string
                      description: Resource Id
                    name:
                      readOnly: true
                      type: string
                      description: Resource name
                    type:
                      readOnly: true
                      type: string
                      description: Resource type
                    location:
                      type: string
                      description: Resource location
                    tags:
                      type: object
                      additionalProperties:
                        type: string
                      description: Resource tags
                    properties:
                      x-ms-client-flatten: true
                      properties:
                        operatingSystem:
                          type: string
                          description: The operating system this extension supports.
                        computeRole:
                          type: string
                          description: The type of role (IaaS or PaaS) this extension
                            supports.
                        handlerSchema:
                          type: string
                          description: The schema defined by publisher, where extension
                            consumers should provide settings in a matching schema.
                        vmScaleSetEnabled:
                          type: boolean
                          description: Whether the extension can be used on xRP VMScaleSets.
                            By default existing extensions are usable on scalesets,
                            but there might be cases where a publisher wants to explicitly
                            indicate the extension is only enabled for CRP VMs but
                            not VMSS.
                        supportsMultipleExtensions:
                          type: boolean
                          description: Whether the handler can support multiple extensions.
                      required:
                      - operatingSystem
                      - computeRole
                      - handlerSchema
                      description: Describes the properties of a Virtual Machine Extension
                        Image.
                  required:
                  - location
                  - name
                  description: The Resource model definition.
                  x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types/{type}/versions
  : get:
      tags:
      - VirtualMachineExtensionImages
      operationId: VirtualMachineExtensionImages_ListVersions
      description: Gets a list of virtual machine extension image versions.
      parameters:
      - name: location
        in: path
        required: true
        description: The name of a supported Azure region.
        schema:
          type: string
      - name: publisherName
        in: path
        required: true
        schema:
          type: string
      - name: type
        in: path
        required: true
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation.
        schema:
          type: string
      - name: $top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: $orderby
        in: query
        required: false
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      readOnly: true
                      type: string
                      description: Resource Id
                    name:
                      readOnly: true
                      type: string
                      description: Resource name
                    type:
                      readOnly: true
                      type: string
                      description: Resource type
                    location:
                      type: string
                      description: Resource location
                    tags:
                      type: object
                      additionalProperties:
                        type: string
                      description: Resource tags
                    properties:
                      x-ms-client-flatten: true
                      properties:
                        operatingSystem:
                          type: string
                          description: The operating system this extension supports.
                        computeRole:
                          type: string
                          description: The type of role (IaaS or PaaS) this extension
                            supports.
                        handlerSchema:
                          type: string
                          description: The schema defined by publisher, where extension
                            consumers should provide settings in a matching schema.
                        vmScaleSetEnabled:
                          type: boolean
                          description: Whether the extension can be used on xRP VMScaleSets.
                            By default existing extensions are usable on scalesets,
                            but there might be cases where a publisher wants to explicitly
                            indicate the extension is only enabled for CRP VMs but
                            not VMSS.
                        supportsMultipleExtensions:
                          type: boolean
                          description: Whether the handler can support multiple extensions.
                      required:
                      - operatingSystem
                      - computeRole
                      - handlerSchema
                      description: Describes the properties of a Virtual Machine Extension
                        Image.
                  required:
                  - location
                  - name
                  description: The Resource model definition.
                  x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
      x-ms-odata: '#/components/schemas/VirtualMachineExtensionImage'
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    VirtualMachineExtensionImageProperties:
      properties:
        operatingSystem:
          type: string
          description: The operating system this extension supports.
        computeRole:
          type: string
          description: The type of role (IaaS or PaaS) this extension supports.
        handlerSchema:
          type: string
          description: The schema defined by publisher, where extension consumers
            should provide settings in a matching schema.
        vmScaleSetEnabled:
          type: boolean
          description: Whether the extension can be used on xRP VMScaleSets. By default
            existing extensions are usable on scalesets, but there might be cases
            where a publisher wants to explicitly indicate the extension is only enabled
            for CRP VMs but not VMSS.
        supportsMultipleExtensions:
          type: boolean
          description: Whether the handler can support multiple extensions.
      required:
      - operatingSystem
      - computeRole
      - handlerSchema
      description: Describes the properties of a Virtual Machine Extension Image.
    VirtualMachineExtensionImage:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        location:
          type: string
          description: Resource location
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
        properties:
          x-ms-client-flatten: true
          properties:
            operatingSystem:
              type: string
              description: The operating system this extension supports.
            computeRole:
              type: string
              description: The type of role (IaaS or PaaS) this extension supports.
            handlerSchema:
              type: string
              description: The schema defined by publisher, where extension consumers
                should provide settings in a matching schema.
            vmScaleSetEnabled:
              type: boolean
              description: Whether the extension can be used on xRP VMScaleSets. By
                default existing extensions are usable on scalesets, but there might
                be cases where a publisher wants to explicitly indicate the extension
                is only enabled for CRP VMs but not VMSS.
            supportsMultipleExtensions:
              type: boolean
              description: Whether the handler can support multiple extensions.
          required:
          - operatingSystem
          - computeRole
          - handlerSchema
          description: Describes the properties of a Virtual Machine Extension Image.
      required:
      - location
      - name
      description: The Resource model definition.
      x-ms-azure-resource: true
    ApiErrorBase:
      type: object
      properties:
        code:
          type: string
          description: The error code.
        target:
          type: string
          description: The target of the particular error.
        message:
          type: string
          description: The error message.
      description: Api error base.
    InnerError:
      type: object
      properties:
        exceptiontype:
          type: string
          description: The exception type.
        errordetail:
          type: string
          description: The internal error message or exception dump.
      description: Inner error details.
    ApiError:
      type: object
      properties:
        details:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                description: The error code.
              target:
                type: string
                description: The target of the particular error.
              message:
                type: string
                description: The error message.
            description: Api error base.
          x-ms-identifiers:
          - message
          - target
          description: The Api error details
        innererror:
          description: The Api inner error
          type: object
          properties:
            exceptiontype:
              type: string
              description: The exception type.
            errordetail:
              type: string
              description: The internal error message or exception dump.
        code:
          type: string
          description: The error code.
        target:
          type: string
          description: The target of the particular error.
        message:
          type: string
          description: The error message.
      description: Api error.
    CloudError:
      type: object
      x-ms-external: true
      properties:
        error:
          type: object
          properties:
            details:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: string
                    description: The error code.
                  target:
                    type: string
                    description: The target of the particular error.
                  message:
                    type: string
                    description: The error message.
                description: Api error base.
              x-ms-identifiers:
              - message
              - target
              description: The Api error details
            innererror:
              description: The Api inner error
              type: object
              properties:
                exceptiontype:
                  type: string
                  description: The exception type.
                errordetail:
                  type: string
                  description: The internal error message or exception dump.
            code:
              type: string
              description: The error code.
            target:
              type: string
              description: The target of the particular error.
            message:
              type: string
              description: The error message.
          description: Api error.
      description: An error response from the Compute service.
    Resource:
      type: object
      description: The Resource model definition.
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        location:
          type: string
          description: Resource location
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
      required:
      - location
      x-ms-azure-resource: true
