openapi: 3.0.0
info:
  title: ComputeManagementClient
  description: The Compute Management Client.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/extensions/{vmExtensionName}
  : put:
      tags:
      - VirtualMachineExtensions
      operationId: VirtualMachineExtensions_CreateOrUpdate
      description: The operation to create or update the extension.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: vmName
        in: path
        required: true
        description: The name of the virtual machine where the extension should be
          created or updated.
        schema:
          type: string
      - name: vmExtensionName
        in: path
        required: true
        description: The name of the virtual machine extension.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                location:
                  type: string
                  description: Resource location
                id:
                  readOnly: true
                  type: string
                  description: Resource Id
                name:
                  readOnly: true
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  x-ms-client-flatten: true
                  properties:
                    forceUpdateTag:
                      type: string
                      description: How the extension handler should be forced to update
                        even if the extension configuration has not changed.
                    publisher:
                      type: string
                      description: The name of the extension handler publisher.
                    type:
                      type: string
                      description: Specifies the type of the extension; an example
                        is "CustomScriptExtension".
                    typeHandlerVersion:
                      type: string
                      description: Specifies the version of the script handler.
                    autoUpgradeMinorVersion:
                      type: boolean
                      description: Indicates whether the extension should use a newer
                        minor version if one is available at deployment time. Once
                        deployed, however, the extension will not upgrade minor versions
                        unless redeployed, even with this property set to true.
                    enableAutomaticUpgrade:
                      type: boolean
                      description: Indicates whether the extension should be automatically
                        upgraded by the platform if there is a newer version of the
                        extension available.
                    settings:
                      type: object
                      description: Json formatted public settings for the extension.
                    protectedSettings:
                      type: object
                      description: The extension can contain either protectedSettings
                        or protectedSettingsFromKeyVault or no protected settings
                        at all.
                    provisioningState:
                      readOnly: true
                      type: string
                      description: The provisioning state, which only appears in the
                        response.
                    instanceView:
                      description: The virtual machine extension instance view.
                      properties:
                        name:
                          type: string
                          description: The virtual machine extension name.
                        type:
                          type: string
                          description: Specifies the type of the extension; an example
                            is "CustomScriptExtension".
                        typeHandlerVersion:
                          type: string
                          description: Specifies the version of the script handler.
                        substatuses:
                          type: array
                          items:
                            properties:
                              code:
                                type: string
                                description: The status code.
                              level:
                                type: string
                                description: The level code.
                                enum:
                                - Info
                                - Warning
                                - Error
                                x-ms-enum:
                                  name: StatusLevelTypes
                                  modelAsString: false
                              displayStatus:
                                type: string
                                description: The short localizable label for the status.
                              message:
                                type: string
                                description: The detailed status message, including
                                  for alerts and error messages.
                              time:
                                type: string
                                format: date-time
                                description: The time of the status.
                            type: object
                            description: Instance view status.
                          x-ms-identifiers: []
                          description: The resource status information.
                        statuses:
                          type: array
                          items:
                            properties:
                              code:
                                type: string
                                description: The status code.
                              level:
                                type: string
                                description: The level code.
                                enum:
                                - Info
                                - Warning
                                - Error
                                x-ms-enum:
                                  name: StatusLevelTypes
                                  modelAsString: false
                              displayStatus:
                                type: string
                                description: The short localizable label for the status.
                              message:
                                type: string
                                description: The detailed status message, including
                                  for alerts and error messages.
                              time:
                                type: string
                                format: date-time
                                description: The time of the status.
                            type: object
                            description: Instance view status.
                          x-ms-identifiers: []
                          description: The resource status information.
                    suppressFailures:
                      type: boolean
                      description: Indicates whether failures stemming from the extension
                        will be suppressed (Operational failures such as not connecting
                        to the VM will not be suppressed regardless of this value).
                        The default is false.
                    protectedSettingsFromKeyVault:
                      description: The extensions protected settings that are passed
                        by reference, and consumed from key vault
                      properties:
                        secretUrl:
                          type: string
                          description: The URL referencing a secret in a Key Vault.
                        sourceVault:
                          description: The relative URL of the Key Vault containing
                            the secret.
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource Id
                      required:
                      - secretUrl
                      - sourceVault
                    provisionAfterExtensions:
                      type: array
                      items:
                        type: string
                      description: Collection of extension names after which this
                        extension needs to be provisioned.
                  description: Describes the properties of a Virtual Machine Extension.
              description: The Resource model definition with location property as
                optional.
              x-ms-azure-resource: true
        description: Parameters supplied to the Create Virtual Machine Extension operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  location:
                    type: string
                    description: Resource location
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      forceUpdateTag:
                        type: string
                        description: How the extension handler should be forced to
                          update even if the extension configuration has not changed.
                      publisher:
                        type: string
                        description: The name of the extension handler publisher.
                      type:
                        type: string
                        description: Specifies the type of the extension; an example
                          is "CustomScriptExtension".
                      typeHandlerVersion:
                        type: string
                        description: Specifies the version of the script handler.
                      autoUpgradeMinorVersion:
                        type: boolean
                        description: Indicates whether the extension should use a
                          newer minor version if one is available at deployment time.
                          Once deployed, however, the extension will not upgrade minor
                          versions unless redeployed, even with this property set
                          to true.
                      enableAutomaticUpgrade:
                        type: boolean
                        description: Indicates whether the extension should be automatically
                          upgraded by the platform if there is a newer version of
                          the extension available.
                      settings:
                        type: object
                        description: Json formatted public settings for the extension.
                      protectedSettings:
                        type: object
                        description: The extension can contain either protectedSettings
                          or protectedSettingsFromKeyVault or no protected settings
                          at all.
                      provisioningState:
                        readOnly: true
                        type: string
                        description: The provisioning state, which only appears in
                          the response.
                      instanceView:
                        description: The virtual machine extension instance view.
                        properties:
                          name:
                            type: string
                            description: The virtual machine extension name.
                          type:
                            type: string
                            description: Specifies the type of the extension; an example
                              is "CustomScriptExtension".
                          typeHandlerVersion:
                            type: string
                            description: Specifies the version of the script handler.
                          substatuses:
                            type: array
                            items:
                              properties:
                                code:
                                  type: string
                                  description: The status code.
                                level:
                                  type: string
                                  description: The level code.
                                  enum:
                                  - Info
                                  - Warning
                                  - Error
                                  x-ms-enum:
                                    name: StatusLevelTypes
                                    modelAsString: false
                                displayStatus:
                                  type: string
                                  description: The short localizable label for the
                                    status.
                                message:
                                  type: string
                                  description: The detailed status message, including
                                    for alerts and error messages.
                                time:
                                  type: string
                                  format: date-time
                                  description: The time of the status.
                              type: object
                              description: Instance view status.
                            x-ms-identifiers: []
                            description: The resource status information.
                          statuses:
                            type: array
                            items:
                              properties:
                                code:
                                  type: string
                                  description: The status code.
                                level:
                                  type: string
                                  description: The level code.
                                  enum:
                                  - Info
                                  - Warning
                                  - Error
                                  x-ms-enum:
                                    name: StatusLevelTypes
                                    modelAsString: false
                                displayStatus:
                                  type: string
                                  description: The short localizable label for the
                                    status.
                                message:
                                  type: string
                                  description: The detailed status message, including
                                    for alerts and error messages.
                                time:
                                  type: string
                                  format: date-time
                                  description: The time of the status.
                              type: object
                              description: Instance view status.
                            x-ms-identifiers: []
                            description: The resource status information.
                      suppressFailures:
                        type: boolean
                        description: Indicates whether failures stemming from the
                          extension will be suppressed (Operational failures such
                          as not connecting to the VM will not be suppressed regardless
                          of this value). The default is false.
                      protectedSettingsFromKeyVault:
                        description: The extensions protected settings that are passed
                          by reference, and consumed from key vault
                        properties:
                          secretUrl:
                            type: string
                            description: The URL referencing a secret in a Key Vault.
                          sourceVault:
                            description: The relative URL of the Key Vault containing
                              the secret.
                            type: object
                            properties:
                              id:
                                type: string
                                description: Resource Id
                        required:
                        - secretUrl
                        - sourceVault
                      provisionAfterExtensions:
                        type: array
                        items:
                          type: string
                        description: Collection of extension names after which this
                          extension needs to be provisioned.
                    description: Describes the properties of a Virtual Machine Extension.
                description: The Resource model definition with location property
                  as optional.
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  location:
                    type: string
                    description: Resource location
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      forceUpdateTag:
                        type: string
                        description: How the extension handler should be forced to
                          update even if the extension configuration has not changed.
                      publisher:
                        type: string
                        description: The name of the extension handler publisher.
                      type:
                        type: string
                        description: Specifies the type of the extension; an example
                          is "CustomScriptExtension".
                      typeHandlerVersion:
                        type: string
                        description: Specifies the version of the script handler.
                      autoUpgradeMinorVersion:
                        type: boolean
                        description: Indicates whether the extension should use a
                          newer minor version if one is available at deployment time.
                          Once deployed, however, the extension will not upgrade minor
                          versions unless redeployed, even with this property set
                          to true.
                      enableAutomaticUpgrade:
                        type: boolean
                        description: Indicates whether the extension should be automatically
                          upgraded by the platform if there is a newer version of
                          the extension available.
                      settings:
                        type: object
                        description: Json formatted public settings for the extension.
                      protectedSettings:
                        type: object
                        description: The extension can contain either protectedSettings
                          or protectedSettingsFromKeyVault or no protected settings
                          at all.
                      provisioningState:
                        readOnly: true
                        type: string
                        description: The provisioning state, which only appears in
                          the response.
                      instanceView:
                        description: The virtual machine extension instance view.
                        properties:
                          name:
                            type: string
                            description: The virtual machine extension name.
                          type:
                            type: string
                            description: Specifies the type of the extension; an example
                              is "CustomScriptExtension".
                          typeHandlerVersion:
                            type: string
                            description: Specifies the version of the script handler.
                          substatuses:
                            type: array
                            items:
                              properties:
                                code:
                                  type: string
                                  description: The status code.
                                level:
                                  type: string
                                  description: The level code.
                                  enum:
                                  - Info
                                  - Warning
                                  - Error
                                  x-ms-enum:
                                    name: StatusLevelTypes
                                    modelAsString: false
                                displayStatus:
                                  type: string
                                  description: The short localizable label for the
                                    status.
                                message:
                                  type: string
                                  description: The detailed status message, including
                                    for alerts and error messages.
                                time:
                                  type: string
                                  format: date-time
                                  description: The time of the status.
                              type: object
                              description: Instance view status.
                            x-ms-identifiers: []
                            description: The resource status information.
                          statuses:
                            type: array
                            items:
                              properties:
                                code:
                                  type: string
                                  description: The status code.
                                level:
                                  type: string
                                  description: The level code.
                                  enum:
                                  - Info
                                  - Warning
                                  - Error
                                  x-ms-enum:
                                    name: StatusLevelTypes
                                    modelAsString: false
                                displayStatus:
                                  type: string
                                  description: The short localizable label for the
                                    status.
                                message:
                                  type: string
                                  description: The detailed status message, including
                                    for alerts and error messages.
                                time:
                                  type: string
                                  format: date-time
                                  description: The time of the status.
                              type: object
                              description: Instance view status.
                            x-ms-identifiers: []
                            description: The resource status information.
                      suppressFailures:
                        type: boolean
                        description: Indicates whether failures stemming from the
                          extension will be suppressed (Operational failures such
                          as not connecting to the VM will not be suppressed regardless
                          of this value). The default is false.
                      protectedSettingsFromKeyVault:
                        description: The extensions protected settings that are passed
                          by reference, and consumed from key vault
                        properties:
                          secretUrl:
                            type: string
                            description: The URL referencing a secret in a Key Vault.
                          sourceVault:
                            description: The relative URL of the Key Vault containing
                              the secret.
                            type: object
                            properties:
                              id:
                                type: string
                                description: Resource Id
                        required:
                        - secretUrl
                        - sourceVault
                      provisionAfterExtensions:
                        type: array
                        items:
                          type: string
                        description: Collection of extension names after which this
                          extension needs to be provisioned.
                    description: Describes the properties of a Virtual Machine Extension.
                description: The Resource model definition with location property
                  as optional.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
      x-ms-long-running-operation: true
    patch:
      tags:
      - VirtualMachineExtensions
      operationId: VirtualMachineExtensions_Update
      description: The operation to update the extension.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: vmName
        in: path
        required: true
        description: The name of the virtual machine where the extension should be
          updated.
        schema:
          type: string
      - name: vmExtensionName
        in: path
        required: true
        description: The name of the virtual machine extension.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  x-ms-client-flatten: true
                  properties:
                    forceUpdateTag:
                      type: string
                      description: How the extension handler should be forced to update
                        even if the extension configuration has not changed.
                    publisher:
                      type: string
                      description: The name of the extension handler publisher.
                    type:
                      type: string
                      description: Specifies the type of the extension; an example
                        is "CustomScriptExtension".
                    typeHandlerVersion:
                      type: string
                      description: Specifies the version of the script handler.
                    autoUpgradeMinorVersion:
                      type: boolean
                      description: Indicates whether the extension should use a newer
                        minor version if one is available at deployment time. Once
                        deployed, however, the extension will not upgrade minor versions
                        unless redeployed, even with this property set to true.
                    enableAutomaticUpgrade:
                      type: boolean
                      description: Indicates whether the extension should be automatically
                        upgraded by the platform if there is a newer version of the
                        extension available.
                    settings:
                      type: object
                      description: Json formatted public settings for the extension.
                    protectedSettings:
                      type: object
                      description: The extension can contain either protectedSettings
                        or protectedSettingsFromKeyVault or no protected settings
                        at all.
                    suppressFailures:
                      type: boolean
                      description: Indicates whether failures stemming from the extension
                        will be suppressed (Operational failures such as not connecting
                        to the VM will not be suppressed regardless of this value).
                        The default is false.
                    protectedSettingsFromKeyVault:
                      description: The extensions protected settings that are passed
                        by reference, and consumed from key vault
                      properties:
                        secretUrl:
                          type: string
                          description: The URL referencing a secret in a Key Vault.
                        sourceVault:
                          description: The relative URL of the Key Vault containing
                            the secret.
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource Id
                      required:
                      - secretUrl
                      - sourceVault
                  description: Describes the properties of a Virtual Machine Extension.
              description: The Update Resource model definition.
        description: Parameters supplied to the Update Virtual Machine Extension operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  location:
                    type: string
                    description: Resource location
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      forceUpdateTag:
                        type: string
                        description: How the extension handler should be forced to
                          update even if the extension configuration has not changed.
                      publisher:
                        type: string
                        description: The name of the extension handler publisher.
                      type:
                        type: string
                        description: Specifies the type of the extension; an example
                          is "CustomScriptExtension".
                      typeHandlerVersion:
                        type: string
                        description: Specifies the version of the script handler.
                      autoUpgradeMinorVersion:
                        type: boolean
                        description: Indicates whether the extension should use a
                          newer minor version if one is available at deployment time.
                          Once deployed, however, the extension will not upgrade minor
                          versions unless redeployed, even with this property set
                          to true.
                      enableAutomaticUpgrade:
                        type: boolean
                        description: Indicates whether the extension should be automatically
                          upgraded by the platform if there is a newer version of
                          the extension available.
                      settings:
                        type: object
                        description: Json formatted public settings for the extension.
                      protectedSettings:
                        type: object
                        description: The extension can contain either protectedSettings
                          or protectedSettingsFromKeyVault or no protected settings
                          at all.
                      provisioningState:
                        readOnly: true
                        type: string
                        description: The provisioning state, which only appears in
                          the response.
                      instanceView:
                        description: The virtual machine extension instance view.
                        properties:
                          name:
                            type: string
                            description: The virtual machine extension name.
                          type:
                            type: string
                            description: Specifies the type of the extension; an example
                              is "CustomScriptExtension".
                          typeHandlerVersion:
                            type: string
                            description: Specifies the version of the script handler.
                          substatuses:
                            type: array
                            items:
                              properties:
                                code:
                                  type: string
                                  description: The status code.
                                level:
                                  type: string
                                  description: The level code.
                                  enum:
                                  - Info
                                  - Warning
                                  - Error
                                  x-ms-enum:
                                    name: StatusLevelTypes
                                    modelAsString: false
                                displayStatus:
                                  type: string
                                  description: The short localizable label for the
                                    status.
                                message:
                                  type: string
                                  description: The detailed status message, including
                                    for alerts and error messages.
                                time:
                                  type: string
                                  format: date-time
                                  description: The time of the status.
                              type: object
                              description: Instance view status.
                            x-ms-identifiers: []
                            description: The resource status information.
                          statuses:
                            type: array
                            items:
                              properties:
                                code:
                                  type: string
                                  description: The status code.
                                level:
                                  type: string
                                  description: The level code.
                                  enum:
                                  - Info
                                  - Warning
                                  - Error
                                  x-ms-enum:
                                    name: StatusLevelTypes
                                    modelAsString: false
                                displayStatus:
                                  type: string
                                  description: The short localizable label for the
                                    status.
                                message:
                                  type: string
                                  description: The detailed status message, including
                                    for alerts and error messages.
                                time:
                                  type: string
                                  format: date-time
                                  description: The time of the status.
                              type: object
                              description: Instance view status.
                            x-ms-identifiers: []
                            description: The resource status information.
                      suppressFailures:
                        type: boolean
                        description: Indicates whether failures stemming from the
                          extension will be suppressed (Operational failures such
                          as not connecting to the VM will not be suppressed regardless
                          of this value). The default is false.
                      protectedSettingsFromKeyVault:
                        description: The extensions protected settings that are passed
                          by reference, and consumed from key vault
                        properties:
                          secretUrl:
                            type: string
                            description: The URL referencing a secret in a Key Vault.
                          sourceVault:
                            description: The relative URL of the Key Vault containing
                              the secret.
                            type: object
                            properties:
                              id:
                                type: string
                                description: Resource Id
                        required:
                        - secretUrl
                        - sourceVault
                      provisionAfterExtensions:
                        type: array
                        items:
                          type: string
                        description: Collection of extension names after which this
                          extension needs to be provisioned.
                    description: Describes the properties of a Virtual Machine Extension.
                description: The Resource model definition with location property
                  as optional.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
      x-ms-long-running-operation: true
    delete:
      tags:
      - VirtualMachineExtensions
      operationId: VirtualMachineExtensions_Delete
      description: The operation to delete the extension.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: vmName
        in: path
        required: true
        description: The name of the virtual machine where the extension should be
          deleted.
        schema:
          type: string
      - name: vmExtensionName
        in: path
        required: true
        description: The name of the virtual machine extension.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
      x-ms-long-running-operation: true
    get:
      tags:
      - VirtualMachineExtensions
      operationId: VirtualMachineExtensions_Get
      description: The operation to get the extension.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: vmName
        in: path
        required: true
        description: The name of the virtual machine containing the extension.
        schema:
          type: string
      - name: vmExtensionName
        in: path
        required: true
        description: The name of the virtual machine extension.
        schema:
          type: string
      - name: $expand
        in: query
        required: false
        description: The expand expression to apply on the operation.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  location:
                    type: string
                    description: Resource location
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      forceUpdateTag:
                        type: string
                        description: How the extension handler should be forced to
                          update even if the extension configuration has not changed.
                      publisher:
                        type: string
                        description: The name of the extension handler publisher.
                      type:
                        type: string
                        description: Specifies the type of the extension; an example
                          is "CustomScriptExtension".
                      typeHandlerVersion:
                        type: string
                        description: Specifies the version of the script handler.
                      autoUpgradeMinorVersion:
                        type: boolean
                        description: Indicates whether the extension should use a
                          newer minor version if one is available at deployment time.
                          Once deployed, however, the extension will not upgrade minor
                          versions unless redeployed, even with this property set
                          to true.
                      enableAutomaticUpgrade:
                        type: boolean
                        description: Indicates whether the extension should be automatically
                          upgraded by the platform if there is a newer version of
                          the extension available.
                      settings:
                        type: object
                        description: Json formatted public settings for the extension.
                      protectedSettings:
                        type: object
                        description: The extension can contain either protectedSettings
                          or protectedSettingsFromKeyVault or no protected settings
                          at all.
                      provisioningState:
                        readOnly: true
                        type: string
                        description: The provisioning state, which only appears in
                          the response.
                      instanceView:
                        description: The virtual machine extension instance view.
                        properties:
                          name:
                            type: string
                            description: The virtual machine extension name.
                          type:
                            type: string
                            description: Specifies the type of the extension; an example
                              is "CustomScriptExtension".
                          typeHandlerVersion:
                            type: string
                            description: Specifies the version of the script handler.
                          substatuses:
                            type: array
                            items:
                              properties:
                                code:
                                  type: string
                                  description: The status code.
                                level:
                                  type: string
                                  description: The level code.
                                  enum:
                                  - Info
                                  - Warning
                                  - Error
                                  x-ms-enum:
                                    name: StatusLevelTypes
                                    modelAsString: false
                                displayStatus:
                                  type: string
                                  description: The short localizable label for the
                                    status.
                                message:
                                  type: string
                                  description: The detailed status message, including
                                    for alerts and error messages.
                                time:
                                  type: string
                                  format: date-time
                                  description: The time of the status.
                              type: object
                              description: Instance view status.
                            x-ms-identifiers: []
                            description: The resource status information.
                          statuses:
                            type: array
                            items:
                              properties:
                                code:
                                  type: string
                                  description: The status code.
                                level:
                                  type: string
                                  description: The level code.
                                  enum:
                                  - Info
                                  - Warning
                                  - Error
                                  x-ms-enum:
                                    name: StatusLevelTypes
                                    modelAsString: false
                                displayStatus:
                                  type: string
                                  description: The short localizable label for the
                                    status.
                                message:
                                  type: string
                                  description: The detailed status message, including
                                    for alerts and error messages.
                                time:
                                  type: string
                                  format: date-time
                                  description: The time of the status.
                              type: object
                              description: Instance view status.
                            x-ms-identifiers: []
                            description: The resource status information.
                      suppressFailures:
                        type: boolean
                        description: Indicates whether failures stemming from the
                          extension will be suppressed (Operational failures such
                          as not connecting to the VM will not be suppressed regardless
                          of this value). The default is false.
                      protectedSettingsFromKeyVault:
                        description: The extensions protected settings that are passed
                          by reference, and consumed from key vault
                        properties:
                          secretUrl:
                            type: string
                            description: The URL referencing a secret in a Key Vault.
                          sourceVault:
                            description: The relative URL of the Key Vault containing
                              the secret.
                            type: object
                            properties:
                              id:
                                type: string
                                description: Resource Id
                        required:
                        - secretUrl
                        - sourceVault
                      provisionAfterExtensions:
                        type: array
                        items:
                          type: string
                        description: Collection of extension names after which this
                          extension needs to be provisioned.
                    description: Describes the properties of a Virtual Machine Extension.
                description: The Resource model definition with location property
                  as optional.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/extensions
  : get:
      tags:
      - VirtualMachineExtensions
      operationId: VirtualMachineExtensions_List
      description: The operation to get all extensions of a Virtual Machine.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: vmName
        in: path
        required: true
        description: The name of the virtual machine containing the extension.
        schema:
          type: string
      - name: $expand
        in: query
        required: false
        description: The expand expression to apply on the operation.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        location:
                          type: string
                          description: Resource location
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id
                        name:
                          readOnly: true
                          type: string
                          description: Resource name
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags
                        properties:
                          x-ms-client-flatten: true
                          properties:
                            forceUpdateTag:
                              type: string
                              description: How the extension handler should be forced
                                to update even if the extension configuration has
                                not changed.
                            publisher:
                              type: string
                              description: The name of the extension handler publisher.
                            type:
                              type: string
                              description: Specifies the type of the extension; an
                                example is "CustomScriptExtension".
                            typeHandlerVersion:
                              type: string
                              description: Specifies the version of the script handler.
                            autoUpgradeMinorVersion:
                              type: boolean
                              description: Indicates whether the extension should
                                use a newer minor version if one is available at deployment
                                time. Once deployed, however, the extension will not
                                upgrade minor versions unless redeployed, even with
                                this property set to true.
                            enableAutomaticUpgrade:
                              type: boolean
                              description: Indicates whether the extension should
                                be automatically upgraded by the platform if there
                                is a newer version of the extension available.
                            settings:
                              type: object
                              description: Json formatted public settings for the
                                extension.
                            protectedSettings:
                              type: object
                              description: The extension can contain either protectedSettings
                                or protectedSettingsFromKeyVault or no protected settings
                                at all.
                            provisioningState:
                              readOnly: true
                              type: string
                              description: The provisioning state, which only appears
                                in the response.
                            instanceView:
                              description: The virtual machine extension instance
                                view.
                              properties:
                                name:
                                  type: string
                                  description: The virtual machine extension name.
                                type:
                                  type: string
                                  description: Specifies the type of the extension;
                                    an example is "CustomScriptExtension".
                                typeHandlerVersion:
                                  type: string
                                  description: Specifies the version of the script
                                    handler.
                                substatuses:
                                  type: array
                                  items:
                                    properties:
                                      code:
                                        type: string
                                        description: The status code.
                                      level:
                                        type: string
                                        description: The level code.
                                        enum:
                                        - Info
                                        - Warning
                                        - Error
                                        x-ms-enum:
                                          name: StatusLevelTypes
                                          modelAsString: false
                                      displayStatus:
                                        type: string
                                        description: The short localizable label for
                                          the status.
                                      message:
                                        type: string
                                        description: The detailed status message,
                                          including for alerts and error messages.
                                      time:
                                        type: string
                                        format: date-time
                                        description: The time of the status.
                                    type: object
                                    description: Instance view status.
                                  x-ms-identifiers: []
                                  description: The resource status information.
                                statuses:
                                  type: array
                                  items:
                                    properties:
                                      code:
                                        type: string
                                        description: The status code.
                                      level:
                                        type: string
                                        description: The level code.
                                        enum:
                                        - Info
                                        - Warning
                                        - Error
                                        x-ms-enum:
                                          name: StatusLevelTypes
                                          modelAsString: false
                                      displayStatus:
                                        type: string
                                        description: The short localizable label for
                                          the status.
                                      message:
                                        type: string
                                        description: The detailed status message,
                                          including for alerts and error messages.
                                      time:
                                        type: string
                                        format: date-time
                                        description: The time of the status.
                                    type: object
                                    description: Instance view status.
                                  x-ms-identifiers: []
                                  description: The resource status information.
                            suppressFailures:
                              type: boolean
                              description: Indicates whether failures stemming from
                                the extension will be suppressed (Operational failures
                                such as not connecting to the VM will not be suppressed
                                regardless of this value). The default is false.
                            protectedSettingsFromKeyVault:
                              description: The extensions protected settings that
                                are passed by reference, and consumed from key vault
                              properties:
                                secretUrl:
                                  type: string
                                  description: The URL referencing a secret in a Key
                                    Vault.
                                sourceVault:
                                  description: The relative URL of the Key Vault containing
                                    the secret.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Resource Id
                              required:
                              - secretUrl
                              - sourceVault
                            provisionAfterExtensions:
                              type: array
                              items:
                                type: string
                              description: Collection of extension names after which
                                this extension needs to be provisioned.
                          description: Describes the properties of a Virtual Machine
                            Extension.
                      description: The Resource model definition with location property
                        as optional.
                      x-ms-azure-resource: true
                    description: The list of extensions
                description: The List Extension operation response
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                x-ms-external: true
                properties:
                  error:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The error code.
                            target:
                              type: string
                              description: The target of the particular error.
                            message:
                              type: string
                              description: The error message.
                          description: Api error base.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The Api error details
                      innererror:
                        description: The Api inner error
                        type: object
                        properties:
                          exceptiontype:
                            type: string
                            description: The exception type.
                          errordetail:
                            type: string
                            description: The internal error message or exception dump.
                      code:
                        type: string
                        description: The error code.
                      target:
                        type: string
                        description: The target of the particular error.
                      message:
                        type: string
                        description: The error message.
                    description: Api error.
                description: An error response from the Compute service.
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/virtualMachines:
    get:
      tags:
      - VirtualMachines
      operationId: VirtualMachines_ListByLocation
      description: Gets all the virtual machines under the specified subscription
        for the specified location.
      parameters:
      - name: location
        in: path
        required: true
        description: The location for which virtual machines under the subscription
          are queried.
        schema:
          type: string
          pattern: ^[-\w\._]+$
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id
                        name:
                          readOnly: true
                          type: string
                          description: Resource name
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        location:
                          type: string
                          description: Resource location
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags
                        plan:
                          description: Specifies information about the marketplace
                            image used to create the virtual machine. This element
                            is only used for marketplace images. Before you can use
                            a marketplace image from an API, you must enable the image
                            for programmatic use.  In the Azure portal, find the marketplace
                            image that you want to use and then click **Want to deploy
                            programmatically, Get Started ->**. Enter any required
                            information and then click **Save**.
                          properties:
                            name:
                              type: string
                              description: The plan ID.
                            publisher:
                              type: string
                              description: The publisher ID.
                            product:
                              type: string
                              description: Specifies the product of the image from
                                the marketplace. This is the same value as Offer under
                                the imageReference element.
                            promotionCode:
                              type: string
                              description: The promotion code.
                        properties:
                          x-ms-client-flatten: true
                          properties:
                            hardwareProfile:
                              description: Specifies the hardware settings for the
                                virtual machine.
                              properties:
                                vmSize:
                                  type: string
                                  description: 'Specifies the size of the virtual
                                    machine. The enum data type is currently deprecated
                                    and will be removed by December 23rd 2023. The
                                    recommended way to get the list of available sizes
                                    is using these APIs: [List all available virtual
                                    machine sizes in an availability set](https://docs.microsoft.com/rest/api/compute/availabilitysets/listavailablesizes),
                                    [List all available virtual machine sizes in a
                                    region]( https://docs.microsoft.com/rest/api/compute/resourceskus/list),
                                    [List all available virtual machine sizes for
                                    resizing](https://docs.microsoft.com/rest/api/compute/virtualmachines/listavailablesizes).
                                    For more information about virtual machine sizes,
                                    see [Sizes for virtual machines](https://docs.microsoft.com/azure/virtual-machines/sizes).
                                    The available VM sizes depend on region and availability
                                    set.'
                                  enum:
                                  - Basic_A0
                                  - Basic_A1
                                  - Basic_A2
                                  - Basic_A3
                                  - Basic_A4
                                  - Standard_A0
                                  - Standard_A1
                                  - Standard_A2
                                  - Standard_A3
                                  - Standard_A4
                                  - Standard_A5
                                  - Standard_A6
                                  - Standard_A7
                                  - Standard_A8
                                  - Standard_A9
                                  - Standard_A10
                                  - Standard_A11
                                  - Standard_A1_v2
                                  - Standard_A2_v2
                                  - Standard_A4_v2
                                  - Standard_A8_v2
                                  - Standard_A2m_v2
                                  - Standard_A4m_v2
                                  - Standard_A8m_v2
                                  - Standard_B1s
                                  - Standard_B1ms
                                  - Standard_B2s
                                  - Standard_B2ms
                                  - Standard_B4ms
                                  - Standard_B8ms
                                  - Standard_D1
                                  - Standard_D2
                                  - Standard_D3
                                  - Standard_D4
                                  - Standard_D11
                                  - Standard_D12
                                  - Standard_D13
                                  - Standard_D14
                                  - Standard_D1_v2
                                  - Standard_D2_v2
                                  - Standard_D3_v2
                                  - Standard_D4_v2
                                  - Standard_D5_v2
                                  - Standard_D2_v3
                                  - Standard_D4_v3
                                  - Standard_D8_v3
                                  - Standard_D16_v3
                                  - Standard_D32_v3
                                  - Standard_D64_v3
                                  - Standard_D2s_v3
                                  - Standard_D4s_v3
                                  - Standard_D8s_v3
                                  - Standard_D16s_v3
                                  - Standard_D32s_v3
                                  - Standard_D64s_v3
                                  - Standard_D11_v2
                                  - Standard_D12_v2
                                  - Standard_D13_v2
                                  - Standard_D14_v2
                                  - Standard_D15_v2
                                  - Standard_DS1
                                  - Standard_DS2
                                  - Standard_DS3
                                  - Standard_DS4
                                  - Standard_DS11
                                  - Standard_DS12
                                  - Standard_DS13
                                  - Standard_DS14
                                  - Standard_DS1_v2
                                  - Standard_DS2_v2
                                  - Standard_DS3_v2
                                  - Standard_DS4_v2
                                  - Standard_DS5_v2
                                  - Standard_DS11_v2
                                  - Standard_DS12_v2
                                  - Standard_DS13_v2
                                  - Standard_DS14_v2
                                  - Standard_DS15_v2
                                  - Standard_DS13-4_v2
                                  - Standard_DS13-2_v2
                                  - Standard_DS14-8_v2
                                  - Standard_DS14-4_v2
                                  - Standard_E2_v3
                                  - Standard_E4_v3
                                  - Standard_E8_v3
                                  - Standard_E16_v3
                                  - Standard_E32_v3
                                  - Standard_E64_v3
                                  - Standard_E2s_v3
                                  - Standard_E4s_v3
                                  - Standard_E8s_v3
                                  - Standard_E16s_v3
                                  - Standard_E32s_v3
                                  - Standard_E64s_v3
                                  - Standard_E32-16_v3
                                  - Standard_E32-8s_v3
                                  - Standard_E64-32s_v3
                                  - Standard_E64-16s_v3
                                  - Standard_F1
                                  - Standard_F2
                                  - Standard_F4
                                  - Standard_F8
                                  - Standard_F16
                                  - Standard_F1s
                                  - Standard_F2s
                                  - Standard_F4s
                                  - Standard_F8s
                                  - Standard_F16s
                                  - Standard_F2s_v2
                                  - Standard_F4s_v2
                                  - Standard_F8s_v2
                                  - Standard_F16s_v2
                                  - Standard_F32s_v2
                                  - Standard_F64s_v2
                                  - Standard_F72s_v2
                                  - Standard_G1
                                  - Standard_G2
                                  - Standard_G3
                                  - Standard_G4
                                  - Standard_G5
                                  - Standard_GS1
                                  - Standard_GS2
                                  - Standard_GS3
                                  - Standard_GS4
                                  - Standard_GS5
                                  - Standard_GS4-8
                                  - Standard_GS4-4
                                  - Standard_GS5-16
                                  - Standard_GS5-8
                                  - Standard_H8
                                  - Standard_H16
                                  - Standard_H8m
                                  - Standard_H16m
                                  - Standard_H16r
                                  - Standard_H16mr
                                  - Standard_L4s
                                  - Standard_L8s
                                  - Standard_L16s
                                  - Standard_L32s
                                  - Standard_M64s
                                  - Standard_M64ms
                                  - Standard_M128s
                                  - Standard_M128ms
                                  - Standard_M64-32ms
                                  - Standard_M64-16ms
                                  - Standard_M128-64ms
                                  - Standard_M128-32ms
                                  - Standard_NC6
                                  - Standard_NC12
                                  - Standard_NC24
                                  - Standard_NC24r
                                  - Standard_NC6s_v2
                                  - Standard_NC12s_v2
                                  - Standard_NC24s_v2
                                  - Standard_NC24rs_v2
                                  - Standard_NC6s_v3
                                  - Standard_NC12s_v3
                                  - Standard_NC24s_v3
                                  - Standard_NC24rs_v3
                                  - Standard_ND6s
                                  - Standard_ND12s
                                  - Standard_ND24s
                                  - Standard_ND24rs
                                  - Standard_NV6
                                  - Standard_NV12
                                  - Standard_NV24
                                  x-ms-enum:
                                    name: VirtualMachineSizeTypes
                                    modelAsString: true
                                vmSizeProperties:
                                  description: 'Specifies the properties for customizing
                                    the size of the virtual machine. Minimum api-version:
                                    2021-07-01. This feature is still in preview mode
                                    and is not supported for VirtualMachineScaleSet.
                                    Please follow the instructions in [VM Customization](https://aka.ms/vmcustomization)
                                    for more details.'
                                  type: object
                                  properties:
                                    vCPUsAvailable:
                                      type: integer
                                      format: int32
                                      description: Specifies the number of vCPUs available
                                        for the VM. When this property is not specified
                                        in the request body the default behavior is
                                        to set it to the value of vCPUs available
                                        for that VM size exposed in api response of
                                        [List all available virtual machine sizes
                                        in a region](https://docs.microsoft.com/en-us/rest/api/compute/resource-skus/list).
                                    vCPUsPerCore:
                                      type: integer
                                      format: int32
                                      description: Specifies the vCPU to physical
                                        core ratio. When this property is not specified
                                        in the request body the default behavior is
                                        set to the value of vCPUsPerCore for the VM
                                        Size exposed in api response of [List all
                                        available virtual machine sizes in a region](https://docs.microsoft.com/en-us/rest/api/compute/resource-skus/list).
                                        **Setting this property to 1 also means that
                                        hyper-threading is disabled.**
                            scheduledEventsPolicy:
                              description: Specifies Redeploy, Reboot and ScheduledEventsAdditionalPublishingTargets
                                Scheduled Event related configurations for the virtual
                                machine.
                              type: object
                              properties:
                                userInitiatedRedeploy:
                                  description: The configuration parameters used while
                                    creating userInitiatedRedeploy scheduled event
                                    setting creation.
                                  type: object
                                  properties:
                                    automaticallyApprove:
                                      type: boolean
                                      description: Specifies Redeploy Scheduled Event
                                        related configurations.
                                userInitiatedReboot:
                                  description: The configuration parameters used while
                                    creating userInitiatedReboot scheduled event setting
                                    creation.
                                  type: object
                                  properties:
                                    automaticallyApprove:
                                      type: boolean
                                      description: Specifies Reboot Scheduled Event
                                        related configurations.
                                scheduledEventsAdditionalPublishingTargets:
                                  description: The configuration parameters used while
                                    publishing scheduledEventsAdditionalPublishingTargets.
                                  type: object
                                  properties:
                                    eventGridAndResourceGraph:
                                      description: The configuration parameters used
                                        while creating eventGridAndResourceGraph Scheduled
                                        Event setting.
                                      type: object
                                      properties:
                                        enable:
                                          type: boolean
                                          description: Specifies if event grid and
                                            resource graph is enabled for Scheduled
                                            event related configurations.
                            storageProfile:
                              description: Specifies the storage settings for the
                                virtual machine disks.
                              properties:
                                imageReference:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Resource Id
                                    publisher:
                                      type: string
                                      description: The image publisher.
                                    offer:
                                      type: string
                                      description: Specifies the offer of the platform
                                        image or marketplace image used to create
                                        the virtual machine.
                                    sku:
                                      type: string
                                      description: The image SKU.
                                    version:
                                      type: string
                                      description: Specifies the version of the platform
                                        image or marketplace image used to create
                                        the virtual machine. The allowed formats are
                                        Major.Minor.Build or 'latest'. Major, Minor,
                                        and Build are decimal numbers. Specify 'latest'
                                        to use the latest version of an image available
                                        at deploy time. Even if you use 'latest',
                                        the VM image will not automatically update
                                        after deploy time even if a new version becomes
                                        available. Please do not use field 'version'
                                        for gallery image deployment, gallery image
                                        should always use 'id' field for deployment,
                                        to use 'latest' version of gallery image,
                                        just set '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images/{imageName}'
                                        in the 'id' field without version input.
                                    exactVersion:
                                      type: string
                                      readOnly: true
                                      description: Specifies in decimal numbers, the
                                        version of platform image or marketplace image
                                        used to create the virtual machine. This readonly
                                        field differs from 'version', only if the
                                        value specified in 'version' field is 'latest'.
                                    sharedGalleryImageId:
                                      type: string
                                      description: Specified the shared gallery image
                                        unique id for vm deployment. This can be fetched
                                        from shared gallery image GET call.
                                    communityGalleryImageId:
                                      type: string
                                      description: Specified the community gallery
[...]
