openapi: 3.0.0
info:
  title: Microsoft.Elastic
  version: 2024-03-01
servers:
- url: https://management.azure.com
paths:
  /providers/Microsoft.Elastic/operations:
    get:
      tags:
      - MonitorsResource
      summary: List all operations provided by Microsoft.Elastic.
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: Result of GET request to list the Microsoft.Elastic operations.
                type: object
                properties:
                  value:
                    description: List of operations supported by the Microsoft.Elastic
                      provider.
                    type: array
                    x-ms-identifiers: []
                    items:
                      description: A Microsoft.Elastic REST API operation.
                      type: object
                      properties:
                        name:
                          description: Operation name, i.e., {provider}/{resource}/{operation}.
                          type: string
                        isDataAction:
                          description: Indicates whether the operation is a data action
                          type: boolean
                        display:
                          description: The object that represents the operation.
                          type: object
                          properties:
                            provider:
                              description: Service provider, i.e., Microsoft.Elastic.
                              type: string
                            resource:
                              description: Type on which the operation is performed,
                                e.g., 'monitors'.
                              type: string
                            operation:
                              description: Operation type, e.g., read, write, delete,
                                etc.
                              type: string
                            description:
                              description: Description of the operation, e.g., 'Write
                                monitors'.
                              type: string
                        origin:
                          description: Origin of the operation
                          type: string
                  nextLink:
                    description: URL to get the next set of operation list results
                      if there are any.
                    type: string
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                description: RP default error response.
                type: object
                properties:
                  error:
                    description: Response body of Error
                    readOnly: true
                    title: ErrorResponseBody
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message.
                        type: string
                      target:
                        description: Error target.
                        type: string
                      details:
                        description: Error details.
                        type: array
                        x-ms-identifiers: []
                        items:
                          description: Error response body.
                          title: ErrorResponseBody
                          type: object
                          properties:
                            code:
                              description: Error code.
                              type: string
                            message:
                              description: Error message.
                              type: string
                            target:
                              description: Error target.
                              type: string
                            details:
                              description: Error details.
                              type: array
                              x-ms-identifiers: []
                              items:
                                description: Error response body.
                                title: ErrorResponseBody
                                type: object
                                properties:
                                  code:
                                    description: Error code.
                                    type: string
                                  message:
                                    description: Error message.
                                    type: string
                                  target:
                                    description: Error target.
                                    type: string
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Elastic/monitors:
    get:
      tags:
      - MonitorsResource
      summary: List all monitors under the specified subscription.
      operationId: Monitors_List
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: Response of a list operation.
                type: object
                properties:
                  value:
                    description: Results of a list operation.
                    type: array
                    x-ms-identifiers: []
                    items:
                      description: Monitor resource.
                      required:
                      - location
                      type: object
                      x-ms-azure-resource: true
                      properties:
                        id:
                          description: ARM id of the monitor resource.
                          type: string
                          readOnly: true
                        name:
                          description: Name of the monitor resource.
                          type: string
                          readOnly: true
                        type:
                          description: The type of the monitor resource.
                          type: string
                          readOnly: true
                        sku:
                          description: SKU of the monitor resource.
                          required:
                          - name
                          type: object
                          properties:
                            name:
                              description: Name of the SKU.
                              type: string
                        properties:
                          description: Properties of the monitor resource.
                          x-ms-client-flatten: false
                          type: object
                          properties:
                            provisioningState:
                              description: Provisioning state of the monitor resource.
                              enum:
                              - Accepted
                              - Creating
                              - Updating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Canceled
                              - Deleted
                              - NotSpecified
                              type: string
                              title: ProvisioningState
                              x-ms-enum:
                                modelAsString: true
                                name: ProvisioningState
                            monitoringStatus:
                              description: Flag specifying if the resource monitoring
                                is enabled or disabled.
                              enum:
                              - Enabled
                              - Disabled
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: MonitoringStatus
                            elasticProperties:
                              description: Elastic cloud properties.
                              type: object
                              properties:
                                elasticCloudUser:
                                  description: Details of the user's elastic account.
                                  type: object
                                  properties:
                                    emailAddress:
                                      description: Email of the Elastic User Account.
                                      type: string
                                      readOnly: true
                                    id:
                                      description: User Id of the elastic account
                                        of the User.
                                      type: string
                                      readOnly: true
                                    elasticCloudSsoDefaultUrl:
                                      description: Elastic cloud default dashboard
                                        sso URL of the Elastic user account.
                                      type: string
                                      readOnly: true
                                elasticCloudDeployment:
                                  description: Details of the elastic cloud deployment.
                                  type: object
                                  properties:
                                    name:
                                      description: Elastic deployment name
                                      type: string
                                      readOnly: true
                                    deploymentId:
                                      description: Elastic deployment Id
                                      type: string
                                      readOnly: true
                                    azureSubscriptionId:
                                      description: Associated Azure subscription Id
                                        for the elastic deployment.
                                      type: string
                                      readOnly: true
                                    elasticsearchRegion:
                                      description: Region where Deployment at Elastic
                                        side took place.
                                      type: string
                                      readOnly: true
                                    elasticsearchServiceUrl:
                                      description: Elasticsearch ingestion endpoint
                                        of the Elastic deployment.
                                      type: string
                                      readOnly: true
                                    kibanaServiceUrl:
                                      description: Kibana endpoint of the Elastic
                                        deployment.
                                      type: string
                                      readOnly: true
                                    kibanaSsoUrl:
                                      description: Kibana dashboard sso URL of the
                                        Elastic deployment.
                                      type: string
                                      readOnly: true
                            userInfo:
                              description: User information.
                              x-ms-mutability:
                              - create
                              type: object
                              properties:
                                firstName:
                                  description: First name of the user
                                  maxLength: 50
                                  type: string
                                lastName:
                                  description: Last name of the user
                                  maxLength: 50
                                  type: string
                                companyName:
                                  description: Company name of the user
                                  maxLength: 64
                                  type: string
                                emailAddress:
                                  description: Email of the user used by Elastic for
                                    contacting them if needed
                                  pattern: ^([^<>()\[\]\.,;:\s@"]+(\.[^<>()\[\]\.,;:\s@"]+)*)@(([a-zA-Z-_0-9]+\.)+[a-zA-Z]{2,})$
                                  type: string
                                companyInfo:
                                  description: Company information of the user to
                                    be passed to partners.
                                  type: object
                                  properties:
                                    domain:
                                      description: Domain of the company
                                      maxLength: 250
                                      type: string
                                    business:
                                      description: Business of the company
                                      maxLength: 64
                                      type: string
                                    employeesNumber:
                                      description: Number of employees in the company
                                      maxLength: 20
                                      type: string
                                    state:
                                      description: State of the company location.
                                      maxLength: 64
                                      type: string
                                    country:
                                      description: Country of the company location.
                                      maxLength: 64
                                      type: string
                            planDetails:
                              description: Plan details of the monitor resource.
                              type: object
                              properties:
                                offerID:
                                  description: Offer ID of the plan
                                  type: string
                                publisherID:
                                  description: Publisher ID of the plan
                                  type: string
                                termID:
                                  description: Term ID of the plan
                                  type: string
                                planID:
                                  description: Plan ID
                                  type: string
                                planName:
                                  description: Plan Name
                                  type: string
                            version:
                              description: Version of elastic of the monitor resource
                              type: string
                            subscriptionState:
                              description: State of the Azure Subscription containing
                                the monitor resource
                              type: string
                            saaSAzureSubscriptionStatus:
                              description: Status of Azure Subscription where Marketplace
                                SaaS is located.
                              type: string
                            sourceCampaignName:
                              description: Name of the marketing campaign.
                              type: string
                            sourceCampaignId:
                              description: A unique identifier associated with the
                                campaign.
                              type: string
                            liftrResourceCategory:
                              enum:
                              - Unknown
                              - MonitorLogs
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: LiftrResourceCategories
                              readOnly: true
                            liftrResourcePreference:
                              description: The priority of the resource.
                              format: int32
                              type: integer
                              readOnly: true
                            generateApiKey:
                              description: Flag to determine if User API Key has to
                                be generated and shared.
                              type: boolean
                        identity:
                          description: Identity properties of the monitor resource.
                          type: object
                          properties:
                            principalId:
                              description: The identity ID.
                              type: string
                              readOnly: true
                            tenantId:
                              description: The tenant ID of resource.
                              type: string
                              readOnly: true
                            type:
                              description: Managed identity type.
                              enum:
                              - SystemAssigned
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: ManagedIdentityTypes
                        tags:
                          description: The tags of the monitor resource.
                          type: object
                          additionalProperties:
                            type: string
                        location:
                          description: The location of the monitor resource
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                        systemData:
                          readOnly: true
                          description: The system metadata relating to this resource
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                  nextLink:
                    description: Link to the next set of results, if any.
                    type: string
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                description: RP default error response.
                type: object
                properties:
                  error:
                    description: Response body of Error
                    readOnly: true
                    title: ErrorResponseBody
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message.
                        type: string
                      target:
                        description: Error target.
                        type: string
                      details:
                        description: Error details.
                        type: array
                        x-ms-identifiers: []
                        items:
                          description: Error response body.
                          title: ErrorResponseBody
                          type: object
                          properties:
                            code:
                              description: Error code.
                              type: string
                            message:
                              description: Error message.
                              type: string
                            target:
                              description: Error target.
                              type: string
                            details:
                              description: Error details.
                              type: array
                              x-ms-identifiers: []
                              items:
                                description: Error response body.
                                title: ErrorResponseBody
                                type: object
                                properties:
                                  code:
                                    description: Error code.
                                    type: string
                                  message:
                                    description: Error message.
                                    type: string
                                  target:
                                    description: Error target.
                                    type: string
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Elastic/elasticVersions:
    get:
      tags:
      - ElasticVersions
      summary: Get a list of available versions for a region.
      operationId: ElasticVersions_List
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - in: query
        name: region
        description: Region where elastic deployment will take place.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: List of elastic versions available in a region.
                type: object
                properties:
                  value:
                    description: Results of a list operation.
                    type: array
                    x-ms-identifiers:
                    - properties/version
                    items:
                      description: Elastic Version List Format
                      type: object
                      properties:
                        properties:
                          description: Elastic Version Properties
                          type: object
                          properties:
                            version:
                              description: Available elastic version of the given
                                region
                              type: string
                  nextLink:
                    description: Link to the next set of results, if any.
                    type: string
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                description: RP default error response.
                type: object
                properties:
                  error:
                    description: Response body of Error
                    readOnly: true
                    title: ErrorResponseBody
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message.
                        type: string
                      target:
                        description: Error target.
                        type: string
                      details:
                        description: Error details.
                        type: array
                        x-ms-identifiers: []
                        items:
                          description: Error response body.
                          title: ErrorResponseBody
                          type: object
                          properties:
                            code:
                              description: Error code.
                              type: string
                            message:
                              description: Error message.
                              type: string
                            target:
                              description: Error target.
                              type: string
                            details:
                              description: Error details.
                              type: array
                              x-ms-identifiers: []
                              items:
                                description: Error response body.
                                title: ErrorResponseBody
                                type: object
                                properties:
                                  code:
                                    description: Error code.
                                    type: string
                                  message:
                                    description: Error message.
                                    type: string
                                  target:
                                    description: Error target.
                                    type: string
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors:
    get:
      tags:
      - MonitorsResource
      summary: List all monitors under the specified resource group.
      operationId: Monitors_ListByResourceGroup
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: Response of a list operation.
                type: object
                properties:
                  value:
                    description: Results of a list operation.
                    type: array
                    x-ms-identifiers: []
                    items:
                      description: Monitor resource.
                      required:
                      - location
                      type: object
                      x-ms-azure-resource: true
                      properties:
                        id:
                          description: ARM id of the monitor resource.
                          type: string
                          readOnly: true
                        name:
                          description: Name of the monitor resource.
                          type: string
                          readOnly: true
                        type:
                          description: The type of the monitor resource.
                          type: string
                          readOnly: true
                        sku:
                          description: SKU of the monitor resource.
                          required:
                          - name
                          type: object
                          properties:
                            name:
                              description: Name of the SKU.
                              type: string
                        properties:
                          description: Properties of the monitor resource.
                          x-ms-client-flatten: false
                          type: object
                          properties:
                            provisioningState:
                              description: Provisioning state of the monitor resource.
                              enum:
                              - Accepted
                              - Creating
                              - Updating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Canceled
                              - Deleted
                              - NotSpecified
                              type: string
                              title: ProvisioningState
                              x-ms-enum:
                                modelAsString: true
                                name: ProvisioningState
                            monitoringStatus:
                              description: Flag specifying if the resource monitoring
                                is enabled or disabled.
                              enum:
                              - Enabled
                              - Disabled
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: MonitoringStatus
                            elasticProperties:
                              description: Elastic cloud properties.
                              type: object
                              properties:
                                elasticCloudUser:
                                  description: Details of the user's elastic account.
                                  type: object
                                  properties:
                                    emailAddress:
                                      description: Email of the Elastic User Account.
                                      type: string
                                      readOnly: true
                                    id:
                                      description: User Id of the elastic account
                                        of the User.
                                      type: string
                                      readOnly: true
                                    elasticCloudSsoDefaultUrl:
                                      description: Elastic cloud default dashboard
                                        sso URL of the Elastic user account.
                                      type: string
                                      readOnly: true
                                elasticCloudDeployment:
                                  description: Details of the elastic cloud deployment.
                                  type: object
                                  properties:
                                    name:
                                      description: Elastic deployment name
                                      type: string
                                      readOnly: true
                                    deploymentId:
                                      description: Elastic deployment Id
                                      type: string
                                      readOnly: true
                                    azureSubscriptionId:
                                      description: Associated Azure subscription Id
                                        for the elastic deployment.
                                      type: string
                                      readOnly: true
                                    elasticsearchRegion:
                                      description: Region where Deployment at Elastic
                                        side took place.
                                      type: string
                                      readOnly: true
                                    elasticsearchServiceUrl:
                                      description: Elasticsearch ingestion endpoint
                                        of the Elastic deployment.
                                      type: string
                                      readOnly: true
                                    kibanaServiceUrl:
                                      description: Kibana endpoint of the Elastic
                                        deployment.
                                      type: string
                                      readOnly: true
                                    kibanaSsoUrl:
                                      description: Kibana dashboard sso URL of the
                                        Elastic deployment.
                                      type: string
                                      readOnly: true
                            userInfo:
                              description: User information.
                              x-ms-mutability:
                              - create
                              type: object
                              properties:
                                firstName:
                                  description: First name of the user
                                  maxLength: 50
                                  type: string
                                lastName:
                                  description: Last name of the user
                                  maxLength: 50
                                  type: string
                                companyName:
                                  description: Company name of the user
                                  maxLength: 64
                                  type: string
                                emailAddress:
                                  description: Email of the user used by Elastic for
                                    contacting them if needed
                                  pattern: ^([^<>()\[\]\.,;:\s@"]+(\.[^<>()\[\]\.,;:\s@"]+)*)@(([a-zA-Z-_0-9]+\.)+[a-zA-Z]{2,})$
                                  type: string
                                companyInfo:
                                  description: Company information of the user to
                                    be passed to partners.
                                  type: object
                                  properties:
                                    domain:
                                      description: Domain of the company
                                      maxLength: 250
                                      type: string
                                    business:
                                      description: Business of the company
                                      maxLength: 64
                                      type: string
                                    employeesNumber:
                                      description: Number of employees in the company
                                      maxLength: 20
                                      type: string
                                    state:
                                      description: State of the company location.
                                      maxLength: 64
                                      type: string
                                    country:
                                      description: Country of the company location.
                                      maxLength: 64
                                      type: string
                            planDetails:
                              description: Plan details of the monitor resource.
                              type: object
                              properties:
                                offerID:
                                  description: Offer ID of the plan
                                  type: string
                                publisherID:
                                  description: Publisher ID of the plan
                                  type: string
                                termID:
                                  description: Term ID of the plan
                                  type: string
                                planID:
                                  description: Plan ID
                                  type: string
                                planName:
                                  description: Plan Name
                                  type: string
                            version:
                              description: Version of elastic of the monitor resource
                              type: string
                            subscriptionState:
                              description: State of the Azure Subscription containing
                                the monitor resource
                              type: string
                            saaSAzureSubscriptionStatus:
                              description: Status of Azure Subscription where Marketplace
                                SaaS is located.
                              type: string
                            sourceCampaignName:
                              description: Name of the marketing campaign.
                              type: string
                            sourceCampaignId:
                              description: A unique identifier associated with the
                                campaign.
                              type: string
                            liftrResourceCategory:
                              enum:
                              - Unknown
                              - MonitorLogs
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: LiftrResourceCategories
                              readOnly: true
                            liftrResourcePreference:
                              description: The priority of the resource.
                              format: int32
                              type: integer
                              readOnly: true
                            generateApiKey:
                              description: Flag to determine if User API Key has to
                                be generated and shared.
                              type: boolean
                        identity:
                          description: Identity properties of the monitor resource.
                          type: object
                          properties:
                            principalId:
                              description: The identity ID.
                              type: string
                              readOnly: true
                            tenantId:
                              description: The tenant ID of resource.
                              type: string
                              readOnly: true
                            type:
                              description: Managed identity type.
                              enum:
                              - SystemAssigned
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: ManagedIdentityTypes
                        tags:
                          description: The tags of the monitor resource.
                          type: object
                          additionalProperties:
                            type: string
                        location:
                          description: The location of the monitor resource
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                        systemData:
                          readOnly: true
                          description: The system metadata relating to this resource
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                  nextLink:
                    description: Link to the next set of results, if any.
                    type: string
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                description: RP default error response.
                type: object
                properties:
                  error:
                    description: Response body of Error
                    readOnly: true
                    title: ErrorResponseBody
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message.
                        type: string
                      target:
                        description: Error target.
                        type: string
                      details:
                        description: Error details.
                        type: array
                        x-ms-identifiers: []
                        items:
                          description: Error response body.
                          title: ErrorResponseBody
                          type: object
                          properties:
                            code:
                              description: Error code.
                              type: string
                            message:
                              description: Error message.
                              type: string
                            target:
                              description: Error target.
                              type: string
                            details:
                              description: Error details.
                              type: array
                              x-ms-identifiers: []
                              items:
                                description: Error response body.
                                title: ErrorResponseBody
                                type: object
                                properties:
                                  code:
                                    description: Error code.
                                    type: string
                                  message:
                                    description: Error message.
                                    type: string
                                  target:
                                    description: Error target.
                                    type: string
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}:
    get:
      tags:
      - MonitorsResource
      summary: Get the properties of a specific monitor resource.
      operationId: Monitors_Get
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - in: path
        name: monitorName
        description: Monitor resource name
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: Monitor resource.
                required:
                - location
                type: object
                x-ms-azure-resource: true
                properties:
                  id:
                    description: ARM id of the monitor resource.
                    type: string
                    readOnly: true
                  name:
                    description: Name of the monitor resource.
                    type: string
                    readOnly: true
                  type:
                    description: The type of the monitor resource.
                    type: string
                    readOnly: true
                  sku:
                    description: SKU of the monitor resource.
                    required:
                    - name
                    type: object
                    properties:
                      name:
                        description: Name of the SKU.
                        type: string
                  properties:
                    description: Properties of the monitor resource.
                    x-ms-client-flatten: false
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the monitor resource.
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleted
                        - NotSpecified
                        type: string
                        title: ProvisioningState
                        x-ms-enum:
                          modelAsString: true
                          name: ProvisioningState
                      monitoringStatus:
                        description: Flag specifying if the resource monitoring is
                          enabled or disabled.
                        enum:
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: MonitoringStatus
                      elasticProperties:
                        description: Elastic cloud properties.
                        type: object
                        properties:
                          elasticCloudUser:
                            description: Details of the user's elastic account.
                            type: object
                            properties:
                              emailAddress:
                                description: Email of the Elastic User Account.
                                type: string
                                readOnly: true
                              id:
                                description: User Id of the elastic account of the
                                  User.
                                type: string
                                readOnly: true
                              elasticCloudSsoDefaultUrl:
                                description: Elastic cloud default dashboard sso URL
                                  of the Elastic user account.
                                type: string
                                readOnly: true
                          elasticCloudDeployment:
                            description: Details of the elastic cloud deployment.
                            type: object
                            properties:
                              name:
                                description: Elastic deployment name
                                type: string
                                readOnly: true
                              deploymentId:
                                description: Elastic deployment Id
                                type: string
                                readOnly: true
                              azureSubscriptionId:
                                description: Associated Azure subscription Id for
                                  the elastic deployment.
                                type: string
                                readOnly: true
                              elasticsearchRegion:
                                description: Region where Deployment at Elastic side
                                  took place.
                                type: string
                                readOnly: true
                              elasticsearchServiceUrl:
                                description: Elasticsearch ingestion endpoint of the
                                  Elastic deployment.
                                type: string
                                readOnly: true
                              kibanaServiceUrl:
                                description: Kibana endpoint of the Elastic deployment.
                                type: string
                                readOnly: true
                              kibanaSsoUrl:
                                description: Kibana dashboard sso URL of the Elastic
                                  deployment.
                                type: string
                                readOnly: true
                      userInfo:
                        description: User information.
                        x-ms-mutability:
                        - create
                        type: object
                        properties:
                          firstName:
                            description: First name of the user
                            maxLength: 50
                            type: string
                          lastName:
                            description: Last name of the user
                            maxLength: 50
                            type: string
                          companyName:
                            description: Company name of the user
                            maxLength: 64
                            type: string
                          emailAddress:
                            description: Email of the user used by Elastic for contacting
                              them if needed
                            pattern: ^([^<>()\[\]\.,;:\s@"]+(\.[^<>()\[\]\.,;:\s@"]+)*)@(([a-zA-Z-_0-9]+\.)+[a-zA-Z]{2,})$
                            type: string
                          companyInfo:
                            description: Company information of the user to be passed
                              to partners.
                            type: object
                            properties:
                              domain:
                                description: Domain of the company
                                maxLength: 250
                                type: string
                              business:
                                description: Business of the company
                                maxLength: 64
                                type: string
                              employeesNumber:
                                description: Number of employees in the company
                                maxLength: 20
                                type: string
                              state:
                                description: State of the company location.
                                maxLength: 64
                                type: string
                              country:
                                description: Country of the company location.
                                maxLength: 64
                                type: string
                      planDetails:
                        description: Plan details of the monitor resource.
                        type: object
                        properties:
                          offerID:
                            description: Offer ID of the plan
                            type: string
                          publisherID:
                            description: Publisher ID of the plan
                            type: string
                          termID:
                            description: Term ID of the plan
                            type: string
                          planID:
                            description: Plan ID
                            type: string
                          planName:
                            description: Plan Name
                            type: string
                      version:
                        description: Version of elastic of the monitor resource
                        type: string
                      subscriptionState:
                        description: State of the Azure Subscription containing the
                          monitor resource
                        type: string
                      saaSAzureSubscriptionStatus:
                        description: Status of Azure Subscription where Marketplace
                          SaaS is located.
                        type: string
                      sourceCampaignName:
                        description: Name of the marketing campaign.
                        type: string
                      sourceCampaignId:
                        description: A unique identifier associated with the campaign.
                        type: string
                      liftrResourceCategory:
                        enum:
                        - Unknown
                        - MonitorLogs
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: LiftrResourceCategories
                        readOnly: true
                      liftrResourcePreference:
                        description: The priority of the resource.
                        format: int32
                        type: integer
                        readOnly: true
                      generateApiKey:
                        description: Flag to determine if User API Key has to be generated
                          and shared.
                        type: boolean
                  identity:
                    description: Identity properties of the monitor resource.
                    type: object
                    properties:
                      principalId:
                        description: The identity ID.
                        type: string
                        readOnly: true
                      tenantId:
                        description: The tenant ID of resource.
                        type: string
                        readOnly: true
                      type:
                        description: Managed identity type.
                        enum:
                        - SystemAssigned
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: ManagedIdentityTypes
                  tags:
                    description: The tags of the monitor resource.
                    type: object
                    additionalProperties:
                      type: string
                  location:
                    description: The location of the monitor resource
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                  systemData:
                    readOnly: true
                    description: The system metadata relating to this resource
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                description: RP default error response.
                type: object
                properties:
                  error:
                    description: Response body of Error
                    readOnly: true
                    title: ErrorResponseBody
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message.
                        type: string
                      target:
                        description: Error target.
                        type: string
                      details:
                        description: Error details.
                        type: array
                        x-ms-identifiers: []
                        items:
                          description: Error response body.
                          title: ErrorResponseBody
                          type: object
                          properties:
                            code:
                              description: Error code.
                              type: string
                            message:
                              description: Error message.
                              type: string
                            target:
                              description: Error target.
                              type: string
                            details:
                              description: Error details.
                              type: array
                              x-ms-identifiers: []
                              items:
                                description: Error response body.
                                title: ErrorResponseBody
                                type: object
                                properties:
                                  code:
                                    description: Error code.
                                    type: string
                                  message:
                                    description: Error message.
                                    type: string
                                  target:
                                    description: Error target.
                                    type: string
    put:
      tags:
      - MonitorsResource
      summary: Create a monitor resource.
      operationId: Monitors_Create
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - in: path
        name: monitorName
        description: Monitor resource name
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Monitor resource.
              required:
              - location
              type: object
              x-ms-azure-resource: true
              properties:
                id:
                  description: ARM id of the monitor resource.
                  type: string
                  readOnly: true
                name:
                  description: Name of the monitor resource.
                  type: string
                  readOnly: true
                type:
                  description: The type of the monitor resource.
                  type: string
                  readOnly: true
                sku:
                  description: SKU of the monitor resource.
                  required:
                  - name
                  type: object
                  properties:
                    name:
                      description: Name of the SKU.
                      type: string
                properties:
                  description: Properties of the monitor resource.
                  x-ms-client-flatten: false
                  type: object
                  properties:
                    provisioningState:
                      description: Provisioning state of the monitor resource.
                      enum:
                      - Accepted
                      - Creating
                      - Updating
                      - Deleting
                      - Succeeded
                      - Failed
                      - Canceled
                      - Deleted
                      - NotSpecified
                      type: string
                      title: ProvisioningState
                      x-ms-enum:
                        modelAsString: true
                        name: ProvisioningState
                    monitoringStatus:
                      description: Flag specifying if the resource monitoring is enabled
                        or disabled.
                      enum:
                      - Enabled
                      - Disabled
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: MonitoringStatus
                    elasticProperties:
                      description: Elastic cloud properties.
                      type: object
                      properties:
                        elasticCloudUser:
                          description: Details of the user's elastic account.
                          type: object
                          properties:
                            emailAddress:
                              description: Email of the Elastic User Account.
                              type: string
                              readOnly: true
                            id:
                              description: User Id of the elastic account of the User.
                              type: string
                              readOnly: true
                            elasticCloudSsoDefaultUrl:
                              description: Elastic cloud default dashboard sso URL
                                of the Elastic user account.
                              type: string
                              readOnly: true
                        elasticCloudDeployment:
                          description: Details of the elastic cloud deployment.
                          type: object
                          properties:
                            name:
                              description: Elastic deployment name
                              type: string
                              readOnly: true
                            deploymentId:
                              description: Elastic deployment Id
                              type: string
                              readOnly: true
                            azureSubscriptionId:
                              description: Associated Azure subscription Id for the
                                elastic deployment.
                              type: string
                              readOnly: true
                            elasticsearchRegion:
                              description: Region where Deployment at Elastic side
                                took place.
                              type: string
                              readOnly: true
                            elasticsearchServiceUrl:
                              description: Elasticsearch ingestion endpoint of the
                                Elastic deployment.
                              type: string
                              readOnly: true
                            kibanaServiceUrl:
                              description: Kibana endpoint of the Elastic deployment.
                              type: string
                              readOnly: true
                            kibanaSsoUrl:
                              description: Kibana dashboard sso URL of the Elastic
                                deployment.
                              type: string
                              readOnly: true
                    userInfo:
                      description: User information.
                      x-ms-mutability:
                      - create
                      type: object
                      properties:
                        firstName:
                          description: First name of the user
                          maxLength: 50
                          type: string
                        lastName:
                          description: Last name of the user
                          maxLength: 50
                          type: string
                        companyName:
                          description: Company name of the user
                          maxLength: 64
                          type: string
                        emailAddress:
                          description: Email of the user used by Elastic for contacting
                            them if needed
                          pattern: ^([^<>()\[\]\.,;:\s@"]+(\.[^<>()\[\]\.,;:\s@"]+)*)@(([a-zA-Z-_0-9]+\.)+[a-zA-Z]{2,})$
                          type: string
                        companyInfo:
                          description: Company information of the user to be passed
                            to partners.
                          type: object
                          properties:
                            domain:
                              description: Domain of the company
                              maxLength: 250
                              type: string
                            business:
                              description: Business of the company
                              maxLength: 64
                              type: string
                            employeesNumber:
                              description: Number of employees in the company
                              maxLength: 20
                              type: string
                            state:
                              description: State of the company location.
                              maxLength: 64
                              type: string
                            country:
                              description: Country of the company location.
                              maxLength: 64
                              type: string
                    planDetails:
                      description: Plan details of the monitor resource.
                      type: object
                      properties:
                        offerID:
                          description: Offer ID of the plan
                          type: string
                        publisherID:
                          description: Publisher ID of the plan
                          type: string
                        termID:
                          description: Term ID of the plan
                          type: string
                        planID:
                          description: Plan ID
                          type: string
                        planName:
                          description: Plan Name
                          type: string
                    version:
                      description: Version of elastic of the monitor resource
                      type: string
                    subscriptionState:
                      description: State of the Azure Subscription containing the
                        monitor resource
                      type: string
                    saaSAzureSubscriptionStatus:
                      description: Status of Azure Subscription where Marketplace
                        SaaS is located.
                      type: string
                    sourceCampaignName:
                      description: Name of the marketing campaign.
                      type: string
                    sourceCampaignId:
                      description: A unique identifier associated with the campaign.
                      type: string
                    liftrResourceCategory:
                      enum:
                      - Unknown
                      - MonitorLogs
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: LiftrResourceCategories
                      readOnly: true
                    liftrResourcePreference:
                      description: The priority of the resource.
                      format: int32
                      type: integer
                      readOnly: true
                    generateApiKey:
                      description: Flag to determine if User API Key has to be generated
                        and shared.
                      type: boolean
                identity:
                  description: Identity properties of the monitor resource.
                  type: object
                  properties:
                    principalId:
                      description: The identity ID.
                      type: string
                      readOnly: true
                    tenantId:
                      description: The tenant ID of resource.
                      type: string
                      readOnly: true
                    type:
                      description: Managed identity type.
                      enum:
                      - SystemAssigned
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: ManagedIdentityTypes
                tags:
                  description: The tags of the monitor resource.
                  type: object
                  additionalProperties:
                    type: string
                location:
                  description: The location of the monitor resource
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                systemData:
                  readOnly: true
                  description: The system metadata relating to this resource
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
        description: Elastic monitor resource model
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: Monitor resource.
                required:
                - location
                type: object
                x-ms-azure-resource: true
                properties:
                  id:
                    description: ARM id of the monitor resource.
                    type: string
                    readOnly: true
                  name:
                    description: Name of the monitor resource.
                    type: string
                    readOnly: true
                  type:
                    description: The type of the monitor resource.
                    type: string
                    readOnly: true
                  sku:
                    description: SKU of the monitor resource.
                    required:
                    - name
                    type: object
                    properties:
                      name:
                        description: Name of the SKU.
                        type: string
                  properties:
                    description: Properties of the monitor resource.
                    x-ms-client-flatten: false
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the monitor resource.
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleted
                        - NotSpecified
                        type: string
                        title: ProvisioningState
                        x-ms-enum:
                          modelAsString: true
                          name: ProvisioningState
                      monitoringStatus:
                        description: Flag specifying if the resource monitoring is
                          enabled or disabled.
                        enum:
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: MonitoringStatus
                      elasticProperties:
                        description: Elastic cloud properties.
                        type: object
                        properties:
                          elasticCloudUser:
                            description: Details of the user's elastic account.
                            type: object
                            properties:
                              emailAddress:
                                description: Email of the Elastic User Account.
                                type: string
                                readOnly: true
                              id:
                                description: User Id of the elastic account of the
                                  User.
                                type: string
                                readOnly: true
                              elasticCloudSsoDefaultUrl:
                                description: Elastic cloud default dashboard sso URL
                                  of the Elastic user account.
                                type: string
                                readOnly: true
                          elasticCloudDeployment:
                            description: Details of the elastic cloud deployment.
                            type: object
                            properties:
                              name:
                                description: Elastic deployment name
                                type: string
                                readOnly: true
                              deploymentId:
                                description: Elastic deployment Id
                                type: string
                                readOnly: true
                              azureSubscriptionId:
                                description: Associated Azure subscription Id for
                                  the elastic deployment.
                                type: string
                                readOnly: true
                              elasticsearchRegion:
                                description: Region where Deployment at Elastic side
                                  took place.
                                type: string
                                readOnly: true
                              elasticsearchServiceUrl:
                                description: Elasticsearch ingestion endpoint of the
                                  Elastic deployment.
                                type: string
                                readOnly: true
                              kibanaServiceUrl:
                                description: Kibana endpoint of the Elastic deployment.
                                type: string
                                readOnly: true
                              kibanaSsoUrl:
                                description: Kibana dashboard sso URL of the Elastic
                                  deployment.
                                type: string
                                readOnly: true
                      userInfo:
                        description: User information.
                        x-ms-mutability:
                        - create
                        type: object
                        properties:
                          firstName:
                            description: First name of the user
                            maxLength: 50
                            type: string
                          lastName:
                            description: Last name of the user
                            maxLength: 50
                            type: string
                          companyName:
                            description: Company name of the user
                            maxLength: 64
                            type: string
                          emailAddress:
                            description: Email of the user used by Elastic for contacting
                              them if needed
                            pattern: ^([^<>()\[\]\.,;:\s@"]+(\.[^<>()\[\]\.,;:\s@"]+)*)@(([a-zA-Z-_0-9]+\.)+[a-zA-Z]{2,})$
                            type: string
                          companyInfo:
                            description: Company information of the user to be passed
                              to partners.
                            type: object
                            properties:
                              domain:
                                description: Domain of the company
                                maxLength: 250
                                type: string
                              business:
                                description: Business of the company
                                maxLength: 64
                                type: string
                              employeesNumber:
                                description: Number of employees in the company
                                maxLength: 20
                                type: string
                              state:
                                description: State of the company location.
                                maxLength: 64
                                type: string
                              country:
                                description: Country of the company location.
                                maxLength: 64
                                type: string
                      planDetails:
                        description: Plan details of the monitor resource.
                        type: object
                        properties:
                          offerID:
                            description: Offer ID of the plan
                            type: string
                          publisherID:
                            description: Publisher ID of the plan
                            type: string
                          termID:
                            description: Term ID of the plan
                            type: string
                          planID:
                            description: Plan ID
                            type: string
                          planName:
                            description: Plan Name
                            type: string
                      version:
                        description: Version of elastic of the monitor resource
                        type: string
                      subscriptionState:
                        description: State of the Azure Subscription containing the
                          monitor resource
                        type: string
                      saaSAzureSubscriptionStatus:
                        description: Status of Azure Subscription where Marketplace
                          SaaS is located.
                        type: string
                      sourceCampaignName:
                        description: Name of the marketing campaign.
                        type: string
                      sourceCampaignId:
                        description: A unique identifier associated with the campaign.
                        type: string
                      liftrResourceCategory:
                        enum:
                        - Unknown
                        - MonitorLogs
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: LiftrResourceCategories
                        readOnly: true
                      liftrResourcePreference:
                        description: The priority of the resource.
                        format: int32
                        type: integer
                        readOnly: true
                      generateApiKey:
                        description: Flag to determine if User API Key has to be generated
                          and shared.
                        type: boolean
                  identity:
                    description: Identity properties of the monitor resource.
                    type: object
                    properties:
                      principalId:
                        description: The identity ID.
                        type: string
                        readOnly: true
                      tenantId:
                        description: The tenant ID of resource.
                        type: string
                        readOnly: true
                      type:
                        description: Managed identity type.
                        enum:
                        - SystemAssigned
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: ManagedIdentityTypes
                  tags:
                    description: The tags of the monitor resource.
                    type: object
                    additionalProperties:
                      type: string
                  location:
                    description: The location of the monitor resource
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                  systemData:
                    readOnly: true
                    description: The system metadata relating to this resource
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
        '201':
          description: Success
          content:
            application/json:
              schema:
                description: Monitor resource.
                required:
                - location
                type: object
                x-ms-azure-resource: true
                properties:
                  id:
                    description: ARM id of the monitor resource.
                    type: string
                    readOnly: true
                  name:
                    description: Name of the monitor resource.
                    type: string
                    readOnly: true
                  type:
                    description: The type of the monitor resource.
                    type: string
                    readOnly: true
                  sku:
                    description: SKU of the monitor resource.
                    required:
                    - name
                    type: object
                    properties:
                      name:
                        description: Name of the SKU.
                        type: string
                  properties:
                    description: Properties of the monitor resource.
                    x-ms-client-flatten: false
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the monitor resource.
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleted
                        - NotSpecified
                        type: string
                        title: ProvisioningState
                        x-ms-enum:
                          modelAsString: true
                          name: ProvisioningState
                      monitoringStatus:
                        description: Flag specifying if the resource monitoring is
                          enabled or disabled.
                        enum:
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: MonitoringStatus
                      elasticProperties:
                        description: Elastic cloud properties.
                        type: object
                        properties:
                          elasticCloudUser:
                            description: Details of the user's elastic account.
                            type: object
                            properties:
                              emailAddress:
                                description: Email of the Elastic User Account.
                                type: string
                                readOnly: true
                              id:
                                description: User Id of the elastic account of the
                                  User.
                                type: string
                                readOnly: true
                              elasticCloudSsoDefaultUrl:
                                description: Elastic cloud default dashboard sso URL
                                  of the Elastic user account.
                                type: string
                                readOnly: true
                          elasticCloudDeployment:
                            description: Details of the elastic cloud deployment.
                            type: object
                            properties:
                              name:
                                description: Elastic deployment name
                                type: string
                                readOnly: true
                              deploymentId:
                                description: Elastic deployment Id
                                type: string
                                readOnly: true
                              azureSubscriptionId:
                                description: Associated Azure subscription Id for
                                  the elastic deployment.
                                type: string
                                readOnly: true
                              elasticsearchRegion:
                                description: Region where Deployment at Elastic side
                                  took place.
                                type: string
                                readOnly: true
                              elasticsearchServiceUrl:
                                description: Elasticsearch ingestion endpoint of the
                                  Elastic deployment.
                                type: string
                                readOnly: true
                              kibanaServiceUrl:
                                description: Kibana endpoint of the Elastic deployment.
                                type: string
                                readOnly: true
                              kibanaSsoUrl:
                                description: Kibana dashboard sso URL of the Elastic
                                  deployment.
                                type: string
                                readOnly: true
                      userInfo:
                        description: User information.
                        x-ms-mutability:
                        - create
                        type: object
                        properties:
                          firstName:
                            description: First name of the user
                            maxLength: 50
                            type: string
                          lastName:
                            description: Last name of the user
                            maxLength: 50
                            type: string
                          companyName:
                            description: Company name of the user
                            maxLength: 64
                            type: string
                          emailAddress:
                            description: Email of the user used by Elastic for contacting
                              them if needed
                            pattern: ^([^<>()\[\]\.,;:\s@"]+(\.[^<>()\[\]\.,;:\s@"]+)*)@(([a-zA-Z-_0-9]+\.)+[a-zA-Z]{2,})$
                            type: string
[...]
