openapi: 3.0.0
info:
  version: 2025-03-01
  title: CostManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.CostManagement/operations:
    get:
      tags:
      - Operations
      operationId: Operations_List
      description: Lists all of the available cost management REST API operations.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: Result of listing cost management operations. It contains
                  a list of operations and a URL link to get the next set of results.
                type: object
                properties:
                  value:
                    description: List of cost management operations supported by the
                      Microsoft.CostManagement resource provider.
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        name:
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          type: string
                          readOnly: true
                        isDataAction:
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          type: boolean
                          readOnly: true
                        display:
                          description: Localized display information for this particular
                            operation.
                          type: object
                          properties:
                            provider:
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              type: string
                              readOnly: true
                            resource:
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              type: string
                              readOnly: true
                            operation:
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              type: string
                              readOnly: true
                            description:
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              type: string
                              readOnly: true
                        origin:
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          type: string
                          readOnly: true
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                        actionType:
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          type: string
                          readOnly: true
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                        id:
                          description: 'Operation id: {provider}/{resource}/{operation}.'
                          type: string
                          readOnly: true
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                  nextLink:
                    description: URL to get the next set of operation list results
                      if there are any.
                    type: string
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: "Error response indicates that the service is not able\
                  \ to process the incoming request. The reason is provided in the\
                  \ error message. \n\nSome Error responses: \n\n * 429 TooManyRequests\
                  \ - Request is throttled. Retry after waiting for the time specified\
                  \ in the \"x-ms-ratelimit-microsoft.consumption-retry-after\" header.\
                  \ \n\n * 503 ServiceUnavailable - Service is temporarily unavailable.\
                  \ Retry after waiting for the time specified in the \"Retry-After\"\
                  \ header."
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    billingAccountIdParameter:
      description: Billing account ID
      in: path
      name: billingAccountId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    billingProfileIdParameter:
      description: Billing profile ID.
      in: path
      name: billingProfileId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ErrorResponse:
      description: "Error response indicates that the service is not able to process\
        \ the incoming request. The reason is provided in the error message. \n\n\
        Some Error responses: \n\n * 429 TooManyRequests - Request is throttled. Retry\
        \ after waiting for the time specified in the \"x-ms-ratelimit-microsoft.consumption-retry-after\"\
        \ header. \n\n * 503 ServiceUnavailable - Service is temporarily unavailable.\
        \ Retry after waiting for the time specified in the \"Retry-After\" header."
      type: object
      properties:
        error:
          description: The details of the error.
          type: object
          properties:
            code:
              description: Error code.
              type: string
              readOnly: true
            message:
              description: Error message indicating why the operation failed.
              type: string
              readOnly: true
    ErrorDetails:
      description: The details of the error.
      type: object
      properties:
        code:
          description: Error code.
          type: string
          readOnly: true
        message:
          description: Error message indicating why the operation failed.
          type: string
          readOnly: true
    ErrorDetailsWithNestedDetails:
      type: object
      properties:
        code:
          description: Error code.
          type: string
          readOnly: true
        message:
          description: Error message indicating why the operation failed.
          type: string
          readOnly: true
        details:
          type: array
          readOnly: true
          description: The additional details of the error.
          items:
            type: object
            properties:
              code:
                description: Error code.
                type: string
                readOnly: true
              message:
                description: Error message indicating why the operation failed.
                type: string
                readOnly: true
              details:
                type: array
                readOnly: true
                description: The additional details of the error.
                items:
                  type: object
                  properties:
                    code:
                      description: Error code.
                      type: string
                      readOnly: true
                    message:
                      description: Error message indicating why the operation failed.
                      type: string
                      readOnly: true
                  description: The details of the error.
                x-ms-identifiers: []
            description: The details of the error.
          x-ms-identifiers: []
      description: The details of the error.
    ErrorResponseWithNestedDetails:
      description: "Error response indicates that the service is not able to process\
        \ the incoming request. The reason is provided in the error message. \n\n\
        Some Error responses: \n\n * 429 TooManyRequests - Request is throttled. Retry\
        \ after waiting for the time specified in the \"x-ms-ratelimit-microsoft.consumption-retry-after\"\
        \ header. \n\n * 503 ServiceUnavailable - Service is temporarily unavailable.\
        \ Retry after waiting for the time specified in the \"Retry-After\" header."
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              description: Error code.
              type: string
              readOnly: true
            message:
              description: Error message indicating why the operation failed.
              type: string
              readOnly: true
            details:
              type: array
              readOnly: true
              description: The additional details of the error.
              items:
                type: object
                properties:
                  code:
                    description: Error code.
                    type: string
                    readOnly: true
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                    readOnly: true
                  details:
                    type: array
                    readOnly: true
                    description: The additional details of the error.
                    items:
                      type: object
                      properties:
                        code:
                          description: Error code.
                          type: string
                          readOnly: true
                        message:
                          description: Error message indicating why the operation
                            failed.
                          type: string
                          readOnly: true
                      description: The details of the error.
                    x-ms-identifiers: []
                description: The details of the error.
              x-ms-identifiers: []
          description: The details of the error.
    CostManagementOperation:
      type: object
      properties:
        name:
          description: 'The name of the operation, as per Resource-Based Access Control
            (RBAC). Examples: "Microsoft.Compute/virtualMachines/write", "Microsoft.Compute/virtualMachines/capture/action"'
          type: string
          readOnly: true
        isDataAction:
          description: Whether the operation applies to data-plane. This is "true"
            for data-plane operations and "false" for ARM/control-plane operations.
          type: boolean
          readOnly: true
        display:
          description: Localized display information for this particular operation.
          type: object
          properties:
            provider:
              description: The localized friendly form of the resource provider name,
                e.g. "Microsoft Monitoring Insights" or "Microsoft Compute".
              type: string
              readOnly: true
            resource:
              description: The localized friendly name of the resource type related
                to this operation. E.g. "Virtual Machines" or "Job Schedule Collections".
              type: string
              readOnly: true
            operation:
              description: The concise, localized friendly name for the operation;
                suitable for dropdowns. E.g. "Create or Update Virtual Machine", "Restart
                Virtual Machine".
              type: string
              readOnly: true
            description:
              description: The short, localized friendly description of the operation;
                suitable for tool tips and detailed views.
              type: string
              readOnly: true
        origin:
          description: The intended executor of the operation; as in Resource Based
            Access Control (RBAC) and audit logs UX. Default value is "user,system"
          type: string
          readOnly: true
          enum:
          - user
          - system
          - user,system
          x-ms-enum:
            name: Origin
            modelAsString: true
        actionType:
          description: Enum. Indicates the action type. "Internal" refers to actions
            that are for internal only APIs.
          type: string
          readOnly: true
          enum:
          - Internal
          x-ms-enum:
            name: ActionType
            modelAsString: true
        id:
          description: 'Operation id: {provider}/{resource}/{operation}.'
          type: string
          readOnly: true
      title: REST API Operation
      description: Details of a REST API operation, returned from the Resource Provider
        Operations API
    OperationListResult:
      description: Result of listing cost management operations. It contains a list
        of operations and a URL link to get the next set of results.
      type: object
      properties:
        value:
          description: List of cost management operations supported by the Microsoft.CostManagement
            resource provider.
          type: array
          readOnly: true
          items:
            type: object
            properties:
              name:
                description: 'The name of the operation, as per Resource-Based Access
                  Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                  "Microsoft.Compute/virtualMachines/capture/action"'
                type: string
                readOnly: true
              isDataAction:
                description: Whether the operation applies to data-plane. This is
                  "true" for data-plane operations and "false" for ARM/control-plane
                  operations.
                type: boolean
                readOnly: true
              display:
                description: Localized display information for this particular operation.
                type: object
                properties:
                  provider:
                    description: The localized friendly form of the resource provider
                      name, e.g. "Microsoft Monitoring Insights" or "Microsoft Compute".
                    type: string
                    readOnly: true
                  resource:
                    description: The localized friendly name of the resource type
                      related to this operation. E.g. "Virtual Machines" or "Job Schedule
                      Collections".
                    type: string
                    readOnly: true
                  operation:
                    description: The concise, localized friendly name for the operation;
                      suitable for dropdowns. E.g. "Create or Update Virtual Machine",
                      "Restart Virtual Machine".
                    type: string
                    readOnly: true
                  description:
                    description: The short, localized friendly description of the
                      operation; suitable for tool tips and detailed views.
                    type: string
                    readOnly: true
              origin:
                description: The intended executor of the operation; as in Resource
                  Based Access Control (RBAC) and audit logs UX. Default value is
                  "user,system"
                type: string
                readOnly: true
                enum:
                - user
                - system
                - user,system
                x-ms-enum:
                  name: Origin
                  modelAsString: true
              actionType:
                description: Enum. Indicates the action type. "Internal" refers to
                  actions that are for internal only APIs.
                type: string
                readOnly: true
                enum:
                - Internal
                x-ms-enum:
                  name: ActionType
                  modelAsString: true
              id:
                description: 'Operation id: {provider}/{resource}/{operation}.'
                type: string
                readOnly: true
            title: REST API Operation
            description: Details of a REST API operation, returned from the Resource
              Provider Operations API
        nextLink:
          description: URL to get the next set of operation list results if there
            are any.
          type: string
          readOnly: true
    CostManagementProxyResource:
      description: The Resource model definition.
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        eTag:
          type: string
          description: eTag of the resource. To handle concurrent update scenario,
            this field will be used to determine whether the user is updating the
            latest version or not.
      x-ms-azure-resource: true
    DownloadURL:
      description: The URL to download the generated report.
      type: object
      properties:
        expiryTime:
          description: The time at which report URL becomes invalid/expires in UTC
            e.g. 2020-12-08T05:55:59.4394737Z.
          type: string
          format: date-time
          readOnly: true
        validTill:
          description: The time at which report URL becomes invalid/expires in UTC
            e.g. 2020-12-08T05:55:59.4394737Z.
          type: string
          format: date-time
        downloadUrl:
          description: The URL to download the generated report.
          type: string
    Operation:
      title: REST API Operation
      description: Details of a REST API operation, returned from the Resource Provider
        Operations API
      type: object
      properties:
        name:
          description: 'The name of the operation, as per Resource-Based Access Control
            (RBAC). Examples: "Microsoft.Compute/virtualMachines/write", "Microsoft.Compute/virtualMachines/capture/action"'
          type: string
          readOnly: true
        isDataAction:
          description: Whether the operation applies to data-plane. This is "true"
            for data-plane operations and "false" for ARM/control-plane operations.
          type: boolean
          readOnly: true
        display:
          description: Localized display information for this particular operation.
          type: object
          properties:
            provider:
              description: The localized friendly form of the resource provider name,
                e.g. "Microsoft Monitoring Insights" or "Microsoft Compute".
              type: string
              readOnly: true
            resource:
              description: The localized friendly name of the resource type related
                to this operation. E.g. "Virtual Machines" or "Job Schedule Collections".
              type: string
              readOnly: true
            operation:
              description: The concise, localized friendly name for the operation;
                suitable for dropdowns. E.g. "Create or Update Virtual Machine", "Restart
                Virtual Machine".
              type: string
              readOnly: true
            description:
              description: The short, localized friendly description of the operation;
                suitable for tool tips and detailed views.
              type: string
              readOnly: true
        origin:
          description: The intended executor of the operation; as in Resource Based
            Access Control (RBAC) and audit logs UX. Default value is "user,system"
          type: string
          readOnly: true
          enum:
          - user
          - system
          - user,system
          x-ms-enum:
            name: Origin
            modelAsString: true
        actionType:
          description: Enum. Indicates the action type. "Internal" refers to actions
            that are for internal only APIs.
          type: string
          readOnly: true
          enum:
          - Internal
          x-ms-enum:
            name: ActionType
            modelAsString: true
