openapi: 3.0.0
info:
  version: 2025-03-01
  title: CostManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /{scope}/providers/Microsoft.CostManagement/exports:
    get:
      tags:
      - Exports
      operationId: Exports_List
      description: The operation to list all exports at the given scope.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      parameters:
      - name: scope
        in: path
        required: true
        description: The scope associated with export operations. This includes '/subscriptions/{subscriptionId}/'
          for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'
          for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}'
          for Billing Account scope and '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'
          for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'
          for EnrollmentAccount scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId}
          for Management Group scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
          for billingProfile scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoiceSections/{invoiceSectionId}'
          for invoiceSection scope, and '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}'
          specific for partners.
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: $expand
        description: May be used to expand the properties within an export. Currently
          only 'runHistory' is supported and will return information for the last
          run of each export.
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: Result of listing exports. It contains a list of available
                  exports in the scope provided.
                type: object
                properties:
                  value:
                    description: The list of exports.
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        eTag:
                          type: string
                          description: eTag of the resource. To handle concurrent
                            update scenario, this field will be used to determine
                            whether the user is updating the latest version or not.
                        identity:
                          description: The managed identity associated with Export
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (either
                                system assigned, or none).
                              enum:
                              - None
                              - SystemAssigned
                              x-ms-enum:
                                name: SystemAssignedServiceIdentityType
                                modelAsString: true
                          required:
                          - type
                        location:
                          type: string
                          description: The location of the Export's managed identity.
                            Only required when utilizing managed identity.
                          x-ms-mutability:
                          - create
                          - read
                        properties:
                          type: object
                          properties:
                            format:
                              description: The format of the export being delivered.
                              type: string
                              enum:
                              - Csv
                              - Parquet
                              x-ms-enum:
                                name: FormatType
                                modelAsString: true
                            deliveryInfo:
                              description: Has delivery information for the export.
                              type: object
                              properties:
                                destination:
                                  description: Has destination for the export being
                                    delivered.
                                  type: object
                                  properties:
                                    type:
                                      description: The export delivery destination
                                        type. Currently only 'AzureBlob' is supported.
                                      type: string
                                      enum:
                                      - AzureBlob
                                      x-ms-enum:
                                        name: DestinationType
                                        modelAsString: true
                                    resourceId:
                                      description: The resource id of the storage
                                        account where exports will be delivered. This
                                        is not required if a sasToken and storageAccount
                                        are specified.
                                      type: string
                                    container:
                                      description: The name of the container where
                                        exports will be uploaded. If the container
                                        does not exist it will be created.
                                      type: string
                                    rootFolderPath:
                                      description: The name of the directory where
                                        exports will be uploaded.
                                      type: string
                                    sasToken:
                                      description: 'A SAS token for the storage account.
                                        For a restricted set of Azure customers this
                                        together with storageAccount can be specified
                                        instead of resourceId. Note: the value returned
                                        by the API for this property will always be
                                        obfuscated. Returning this same obfuscated
                                        value will not result in the SAS token being
                                        updated. To update this value a new SAS token
                                        must be specified.'
                                      type: string
                                      x-ms-secret: true
                                    storageAccount:
                                      description: The storage account where exports
                                        will be uploaded. For a restricted set of
                                        Azure customers this together with sasToken
                                        can be specified instead of resourceId.
                                      type: string
                                  required:
                                  - container
                              required:
                              - destination
                            definition:
                              description: Has the definition for the export.
                              type: object
                              properties:
                                type:
                                  description: The type of the export. Note that 'Usage'
                                    is equivalent to 'ActualCost' and is applicable
                                    to exports that do not yet provide data for charges
                                    or amortization for service reservations.
                                  type: string
                                  enum:
                                  - Usage
                                  - ActualCost
                                  - AmortizedCost
                                  - FocusCost
                                  - PriceSheet
                                  - ReservationTransactions
                                  - ReservationRecommendations
                                  - ReservationDetails
                                  x-ms-enum:
                                    name: ExportType
                                    modelAsString: true
                                timeframe:
                                  description: The time frame for pulling data for
                                    the export. If custom, then a specific time period
                                    must be provided.
                                  type: string
                                  enum:
                                  - MonthToDate
                                  - BillingMonthToDate
                                  - TheLastMonth
                                  - TheLastBillingMonth
                                  - WeekToDate
                                  - Custom
                                  - TheCurrentMonth
                                  x-ms-enum:
                                    name: TimeframeType
                                    modelAsString: true
                                timePeriod:
                                  description: Has time period for pulling data for
                                    the export.
                                  type: object
                                  properties:
                                    from:
                                      description: The start date for export data.
                                      type: string
                                      format: date-time
                                    to:
                                      description: The end date for export data.
                                      type: string
                                      format: date-time
                                  required:
                                  - from
                                  - to
                                dataSet:
                                  description: The definition for data in the export.
                                  type: object
                                  properties:
                                    granularity:
                                      description: The granularity of rows in the
                                        export. Currently 'Daily' is supported for
                                        most cases.
                                      type: string
                                      enum:
                                      - Daily
                                      - Monthly
                                      x-ms-enum:
                                        name: GranularityType
                                        modelAsString: true
                                    configuration:
                                      description: The export dataset configuration.
                                      type: object
                                      properties:
                                        columns:
                                          description: Array of column names to be
                                            included in the export. If not provided
                                            then the export will include all available
                                            columns. The available columns can vary
                                            by customer channel (see examples).
                                          type: array
                                          items:
                                            type: string
                                        dataVersion:
                                          description: The data version for the selected
                                            for the export. If not provided then the
                                            export will default to latest data version.
                                          type: string
                                        filters:
                                          description: Filters associated with the
                                            data sets.
                                          type: array
                                          items:
                                            description: Will contain the filter name
                                              and value to operate on. This is currently
                                              only supported for Export Definition
                                              type of ReservationRecommendations.
                                            type: object
                                            properties:
                                              name:
                                                type: string
                                                description: The name of the filter.
                                                  This is currently only supported
                                                  for Export Definition type of ReservationRecommendations.
                                                  Supported names are ['ReservationScope',
                                                  'LookBackPeriod', 'ResourceType']
                                                enum:
                                                - ReservationScope
                                                - ResourceType
                                                - LookBackPeriod
                                                x-ms-enum:
                                                  name: FilterItemNames
                                                  modelAsString: true
                                              value:
                                                type: string
                                                description: Value to filter by. Currently
                                                  values supported per name are, for
                                                  'ReservationScope' supported values
                                                  are ['Single', 'Shared'], for 'LookBackPeriod'
                                                  supported values are ['Last7Days',
                                                  'Last30Days', 'Last60Days'] and
                                                  for 'ResourceType' supported values
                                                  are ['VirtualMachines', 'SQLDatabases',
                                                  'PostgreSQL', 'ManagedDisk', 'MySQL',
                                                  'RedHat', 'MariaDB', 'RedisCache',
                                                  'CosmosDB', 'SqlDataWarehouse',
                                                  'SUSELinux', 'AppService', 'BlockBlob',
                                                  'AzureDataExplorer', 'VMwareCloudSimple'].
                                          x-ms-identifiers:
                                          - name
                              required:
                              - type
                              - timeframe
                            runHistory:
                              description: If requested, has the most recent run history
                                for the export.
                              type: object
                              properties:
                                value:
                                  description: A list of export runs.
                                  type: array
                                  readOnly: true
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        readOnly: true
                                        type: string
                                        description: Resource Id.
                                      name:
                                        readOnly: true
                                        type: string
                                        description: Resource name.
                                      type:
                                        readOnly: true
                                        type: string
                                        description: Resource type.
                                      eTag:
                                        type: string
                                        description: eTag of the resource. To handle
                                          concurrent update scenario, this field will
                                          be used to determine whether the user is
                                          updating the latest version or not.
                                      properties:
                                        x-ms-client-flatten: true
                                        title: Export run properties
                                        description: The properties of the export
                                          run.
                                        type: object
                                        properties:
                                          executionType:
                                            description: The type of the export run.
                                            type: string
                                            enum:
                                            - OnDemand
                                            - Scheduled
                                            x-ms-enum:
                                              name: ExecutionType
                                              modelAsString: true
                                          status:
                                            description: The last known status of
                                              the export run.
                                            type: string
                                            enum:
                                            - Queued
                                            - InProgress
                                            - Completed
                                            - Failed
                                            - Timeout
                                            - NewDataNotAvailable
                                            - DataNotAvailable
                                            x-ms-enum:
                                              name: ExecutionStatus
                                              modelAsString: true
                                          submittedBy:
                                            description: The identifier for the entity
                                              that triggered the export. For on-demand
                                              runs it is the user email. For scheduled
                                              runs it is 'System'.
                                            type: string
                                          submittedTime:
                                            description: The time when export was
                                              queued to be run.
                                            type: string
                                            format: date-time
                                          processingStartTime:
                                            description: The time when export was
                                              picked up to be run.
                                            type: string
                                            format: date-time
                                          processingEndTime:
                                            description: The time when the export
                                              run finished.
                                            type: string
                                            format: date-time
                                          startDate:
                                            description: The start datetime for the
                                              export.
                                            type: string
                                            format: date-time
                                          endDate:
                                            description: The end datetime for the
                                              export.
                                            type: string
                                            format: date-time
                                          fileName:
                                            description: The name of the exported
                                              file.
                                            type: string
                                          manifestFile:
                                            description: The manifest file location(URI
                                              location) for the exported files.
                                            type: string
                                          runSettings:
                                            description: The export settings that
                                              were in effect for this run.
                                            type: object
                                            properties:
                                              format:
                                                description: The format of the export
                                                  being delivered.
                                                type: string
                                                enum:
                                                - Csv
                                                - Parquet
                                                x-ms-enum:
                                                  name: FormatType
                                                  modelAsString: true
                                              deliveryInfo:
                                                description: Has delivery information
                                                  for the export.
                                                type: object
                                                properties:
                                                  destination:
                                                    description: Has destination for
                                                      the export being delivered.
                                                    type: object
                                                    properties:
                                                      type:
                                                        description: The export delivery
                                                          destination type. Currently
                                                          only 'AzureBlob' is supported.
                                                        type: string
                                                        enum:
                                                        - AzureBlob
                                                        x-ms-enum:
                                                          name: DestinationType
                                                          modelAsString: true
                                                      resourceId:
                                                        description: The resource
                                                          id of the storage account
                                                          where exports will be delivered.
                                                          This is not required if
                                                          a sasToken and storageAccount
                                                          are specified.
                                                        type: string
                                                      container:
                                                        description: The name of the
                                                          container where exports
                                                          will be uploaded. If the
                                                          container does not exist
                                                          it will be created.
                                                        type: string
                                                      rootFolderPath:
                                                        description: The name of the
                                                          directory where exports
                                                          will be uploaded.
                                                        type: string
                                                      sasToken:
                                                        description: 'A SAS token
                                                          for the storage account.
                                                          For a restricted set of
                                                          Azure customers this together
                                                          with storageAccount can
                                                          be specified instead of
                                                          resourceId. Note: the value
                                                          returned by the API for
                                                          this property will always
                                                          be obfuscated. Returning
                                                          this same obfuscated value
                                                          will not result in the SAS
                                                          token being updated. To
                                                          update this value a new
                                                          SAS token must be specified.'
                                                        type: string
                                                        x-ms-secret: true
                                                      storageAccount:
                                                        description: The storage account
                                                          where exports will be uploaded.
                                                          For a restricted set of
                                                          Azure customers this together
                                                          with sasToken can be specified
                                                          instead of resourceId.
                                                        type: string
                                                    required:
                                                    - container
                                                required:
                                                - destination
                                              definition:
                                                description: Has the definition for
                                                  the export.
                                                type: object
                                                properties:
                                                  type:
                                                    description: The type of the export.
                                                      Note that 'Usage' is equivalent
                                                      to 'ActualCost' and is applicable
                                                      to exports that do not yet provide
                                                      data for charges or amortization
                                                      for service reservations.
                                                    type: string
                                                    enum:
                                                    - Usage
                                                    - ActualCost
                                                    - AmortizedCost
                                                    - FocusCost
                                                    - PriceSheet
                                                    - ReservationTransactions
                                                    - ReservationRecommendations
                                                    - ReservationDetails
                                                    x-ms-enum:
                                                      name: ExportType
                                                      modelAsString: true
                                                  timeframe:
                                                    description: The time frame for
                                                      pulling data for the export.
                                                      If custom, then a specific time
                                                      period must be provided.
                                                    type: string
                                                    enum:
                                                    - MonthToDate
                                                    - BillingMonthToDate
                                                    - TheLastMonth
                                                    - TheLastBillingMonth
                                                    - WeekToDate
                                                    - Custom
                                                    - TheCurrentMonth
                                                    x-ms-enum:
                                                      name: TimeframeType
                                                      modelAsString: true
                                                  timePeriod:
                                                    description: Has time period for
                                                      pulling data for the export.
                                                    type: object
                                                    properties:
                                                      from:
                                                        description: The start date
                                                          for export data.
                                                        type: string
                                                        format: date-time
                                                      to:
                                                        description: The end date
                                                          for export data.
                                                        type: string
                                                        format: date-time
                                                    required:
                                                    - from
                                                    - to
                                                  dataSet:
                                                    description: The definition for
                                                      data in the export.
                                                    type: object
                                                    properties:
                                                      granularity:
                                                        description: The granularity
                                                          of rows in the export. Currently
                                                          'Daily' is supported for
                                                          most cases.
                                                        type: string
                                                        enum:
                                                        - Daily
                                                        - Monthly
                                                        x-ms-enum:
                                                          name: GranularityType
                                                          modelAsString: true
                                                      configuration:
                                                        description: The export dataset
                                                          configuration.
                                                        type: object
                                                        properties:
                                                          columns:
                                                            description: Array of
                                                              column names to be included
                                                              in the export. If not
                                                              provided then the export
                                                              will include all available
                                                              columns. The available
                                                              columns can vary by
                                                              customer channel (see
                                                              examples).
                                                            type: array
                                                            items:
                                                              type: string
                                                          dataVersion:
                                                            description: The data
                                                              version for the selected
                                                              for the export. If not
                                                              provided then the export
                                                              will default to latest
                                                              data version.
                                                            type: string
                                                          filters:
                                                            description: Filters associated
                                                              with the data sets.
                                                            type: array
                                                            items:
                                                              description: Will contain
                                                                the filter name and
                                                                value to operate on.
                                                                This is currently
                                                                only supported for
                                                                Export Definition
                                                                type of ReservationRecommendations.
                                                              type: object
                                                              properties:
                                                                name:
                                                                  type: string
                                                                  description: The
                                                                    name of the filter.
                                                                    This is currently
                                                                    only supported
                                                                    for Export Definition
                                                                    type of ReservationRecommendations.
                                                                    Supported names
                                                                    are ['ReservationScope',
                                                                    'LookBackPeriod',
                                                                    'ResourceType']
                                                                  enum:
                                                                  - ReservationScope
                                                                  - ResourceType
                                                                  - LookBackPeriod
                                                                  x-ms-enum:
                                                                    name: FilterItemNames
                                                                    modelAsString: true
                                                                value:
                                                                  type: string
                                                                  description: Value
                                                                    to filter by.
                                                                    Currently values
                                                                    supported per
                                                                    name are, for
                                                                    'ReservationScope'
                                                                    supported values
                                                                    are ['Single',
                                                                    'Shared'], for
                                                                    'LookBackPeriod'
                                                                    supported values
                                                                    are ['Last7Days',
                                                                    'Last30Days',
                                                                    'Last60Days']
                                                                    and for 'ResourceType'
                                                                    supported values
                                                                    are ['VirtualMachines',
                                                                    'SQLDatabases',
                                                                    'PostgreSQL',
                                                                    'ManagedDisk',
                                                                    'MySQL', 'RedHat',
                                                                    'MariaDB', 'RedisCache',
                                                                    'CosmosDB', 'SqlDataWarehouse',
                                                                    'SUSELinux', 'AppService',
                                                                    'BlockBlob', 'AzureDataExplorer',
                                                                    'VMwareCloudSimple'].
                                                            x-ms-identifiers:
                                                            - name
                                                required:
                                                - type
                                                - timeframe
                                              runHistory:
                                                description: If requested, has the
                                                  most recent run history for the
                                                  export.
                                                type: object
                                                properties:
                                                  value:
                                                    description: A list of export
                                                      runs.
                                                    type: array
                                                    readOnly: true
                                                    items:
                                                      type: object
                                                      properties:
                                                        id:
                                                          readOnly: true
                                                          type: string
                                                          description: Resource Id.
                                                        name:
                                                          readOnly: true
                                                          type: string
                                                          description: Resource name.
                                                        type:
                                                          readOnly: true
                                                          type: string
                                                          description: Resource type.
                                                        eTag:
                                                          type: string
                                                          description: eTag of the
                                                            resource. To handle concurrent
                                                            update scenario, this
                                                            field will be used to
                                                            determine whether the
                                                            user is updating the latest
                                                            version or not.
                                                        properties:
                                                          x-ms-client-flatten: true
                                                          title: Export run properties
                                                          description: The properties
                                                            of the export run.
                                                          type: object
                                                          properties:
                                                            executionType:
                                                              description: The type
                                                                of the export run.
                                                              type: string
                                                              enum:
                                                              - OnDemand
                                                              - Scheduled
                                                              x-ms-enum:
                                                                name: ExecutionType
                                                                modelAsString: true
                                                            status:
                                                              description: The last
                                                                known status of the
                                                                export run.
                                                              type: string
                                                              enum:
                                                              - Queued
                                                              - InProgress
                                                              - Completed
                                                              - Failed
                                                              - Timeout
                                                              - NewDataNotAvailable
                                                              - DataNotAvailable
                                                              x-ms-enum:
                                                                name: ExecutionStatus
                                                                modelAsString: true
                                                            submittedBy:
                                                              description: The identifier
                                                                for the entity that
                                                                triggered the export.
                                                                For on-demand runs
                                                                it is the user email.
                                                                For scheduled runs
                                                                it is 'System'.
                                                              type: string
                                                            submittedTime:
                                                              description: The time
                                                                when export was queued
                                                                to be run.
                                                              type: string
                                                              format: date-time
                                                            processingStartTime:
                                                              description: The time
                                                                when export was picked
                                                                up to be run.
                                                              type: string
                                                              format: date-time
                                                            processingEndTime:
                                                              description: The time
                                                                when the export run
                                                                finished.
                                                              type: string
                                                              format: date-time
                                                            startDate:
                                                              description: The start
                                                                datetime for the export.
                                                              type: string
                                                              format: date-time
                                                            endDate:
                                                              description: The end
                                                                datetime for the export.
                                                              type: string
                                                              format: date-time
                                                            fileName:
                                                              description: The name
                                                                of the exported file.
                                                              type: string
                                                            manifestFile:
                                                              description: The manifest
                                                                file location(URI
                                                                location) for the
                                                                exported files.
                                                              type: string
                                                            runSettings:
                                                              description: The export
                                                                settings that were
                                                                in effect for this
                                                                run.
                                                              type: object
                                                              properties:
                                                                format:
                                                                  description: The
                                                                    format of the
                                                                    export being delivered.
                                                                  type: string
                                                                  enum:
                                                                  - Csv
                                                                  - Parquet
                                                                  x-ms-enum:
                                                                    name: FormatType
                                                                    modelAsString: true
                                                                deliveryInfo:
                                                                  description: Has
                                                                    delivery information
                                                                    for the export.
                                                                  type: object
                                                                  properties:
                                                                    destination:
                                                                      description: Has
                                                                        destination
                                                                        for the export
                                                                        being delivered.
                                                                      type: object
                                                                      properties:
                                                                        type:
                                                                          description: The
                                                                            export
                                                                            delivery
                                                                            destination
                                                                            type.
                                                                            Currently
                                                                            only 'AzureBlob'
                                                                            is supported.
                                                                          type: string
                                                                          enum:
                                                                          - AzureBlob
                                                                          x-ms-enum:
                                                                            name: DestinationType
                                                                            modelAsString: true
                                                                        resourceId:
                                                                          description: The
                                                                            resource
                                                                            id of
                                                                            the storage
                                                                            account
                                                                            where
                                                                            exports
                                                                            will be
                                                                            delivered.
                                                                            This is
                                                                            not required
                                                                            if a sasToken
                                                                            and storageAccount
                                                                            are specified.
                                                                          type: string
                                                                        container:
                                                                          description: The
                                                                            name of
                                                                            the container
                                                                            where
                                                                            exports
                                                                            will be
                                                                            uploaded.
                                                                            If the
                                                                            container
                                                                            does not
                                                                            exist
                                                                            it will
                                                                            be created.
                                                                          type: string
                                                                        rootFolderPath:
                                                                          description: The
                                                                            name of
                                                                            the directory
                                                                            where
                                                                            exports
                                                                            will be
                                                                            uploaded.
                                                                          type: string
                                                                        sasToken:
                                                                          description: 'A
                                                                            SAS token
                                                                            for the
                                                                            storage
                                                                            account.
                                                                            For a
                                                                            restricted
                                                                            set of
                                                                            Azure
                                                                            customers
                                                                            this together
                                                                            with storageAccount
                                                                            can be
                                                                            specified
                                                                            instead
                                                                            of resourceId.
                                                                            Note:
                                                                            the value
                                                                            returned
                                                                            by the
                                                                            API for
                                                                            this property
                                                                            will always
                                                                            be obfuscated.
                                                                            Returning
                                                                            this same
                                                                            obfuscated
                                                                            value
                                                                            will not
                                                                            result
                                                                            in the
                                                                            SAS token
                                                                            being
                                                                            updated.
                                                                            To update
                                                                            this value
                                                                            a new
                                                                            SAS token
                                                                            must be
                                                                            specified.'
                                                                          type: string
                                                                          x-ms-secret: true
                                                                        storageAccount:
                                                                          description: The
                                                                            storage
                                                                            account
                                                                            where
                                                                            exports
                                                                            will be
                                                                            uploaded.
                                                                            For a
                                                                            restricted
                                                                            set of
                                                                            Azure
                                                                            customers
                                                                            this together
                                                                            with sasToken
                                                                            can be
                                                                            specified
                                                                            instead
                                                                            of resourceId.
                                                                          type: string
                                                                      required:
                                                                      - container
                                                                  required:
                                                                  - destination
                                                                definition:
                                                                  description: Has
                                                                    the definition
                                                                    for the export.
                                                                  type: object
                                                                  properties:
                                                                    type:
                                                                      description: The
                                                                        type of the
                                                                        export. Note
                                                                        that 'Usage'
                                                                        is equivalent
                                                                        to 'ActualCost'
                                                                        and is applicable
                                                                        to exports
                                                                        that do not
                                                                        yet provide
                                                                        data for charges
                                                                        or amortization
                                                                        for service
                                                                        reservations.
                                                                      type: string
                                                                      enum:
                                                                      - Usage
                                                                      - ActualCost
                                                                      - AmortizedCost
                                                                      - FocusCost
                                                                      - PriceSheet
                                                                      - ReservationTransactions
                                                                      - ReservationRecommendations
                                                                      - ReservationDetails
                                                                      x-ms-enum:
                                                                        name: ExportType
                                                                        modelAsString: true
                                                                    timeframe:
                                                                      description: The
                                                                        time frame
                                                                        for pulling
                                                                        data for the
                                                                        export. If
                                                                        custom, then
                                                                        a specific
                                                                        time period
                                                                        must be provided.
                                                                      type: string
                                                                      enum:
                                                                      - MonthToDate
                                                                      - BillingMonthToDate
                                                                      - TheLastMonth
                                                                      - TheLastBillingMonth
                                                                      - WeekToDate
                                                                      - Custom
                                                                      - TheCurrentMonth
                                                                      x-ms-enum:
                                                                        name: TimeframeType
                                                                        modelAsString: true
                                                                    timePeriod:
                                                                      description: Has
                                                                        time period
                                                                        for pulling
                                                                        data for the
                                                                        export.
                                                                      type: object
                                                                      properties:
                                                                        from:
                                                                          description: The
                                                                            start
                                                                            date for
                                                                            export
                                                                            data.
                                                                          type: string
                                                                          format: date-time
                                                                        to:
                                                                          description: The
                                                                            end date
                                                                            for export
                                                                            data.
                                                                          type: string
                                                                          format: date-time
                                                                      required:
                                                                      - from
                                                                      - to
                                                                    dataSet:
                                                                      description: The
                                                                        definition
                                                                        for data in
                                                                        the export.
                                                                      type: object
                                                                      properties:
                                                                        granularity:
                                                                          description: The
                                                                            granularity
                                                                            of rows
                                                                            in the
                                                                            export.
                                                                            Currently
                                                                            'Daily'
                                                                            is supported
                                                                            for most
                                                                            cases.
                                                                          type: string
                                                                          enum:
                                                                          - Daily
                                                                          - Monthly
                                                                          x-ms-enum:
                                                                            name: GranularityType
                                                                            modelAsString: true
                                                                        configuration:
                                                                          description: The
                                                                            export
                                                                            dataset
                                                                            configuration.
                                                                          type: object
                                                                          properties:
                                                                            columns:
                                                                              description: Array
                                                                                of
                                                                                column
                                                                                names
                                                                                to
                                                                                be
                                                                                included
                                                                                in
                                                                                the
                                                                                export.
                                                                                If
                                                                                not
                                                                                provided
                                                                                then
                                                                                the
                                                                                export
                                                                                will
                                                                                include
                                                                                all
                                                                                available
                                                                                columns.
                                                                                The
                                                                                available
                                                                                columns
                                                                                can
                                                                                vary
                                                                                by
                                                                                customer
                                                                                channel
                                                                                (see
                                                                                examples).
                                                                              type: array
                                                                              items:
                                                                                type: string
                                                                            dataVersion:
                                                                              description: The
                                                                                data
                                                                                version
                                                                                for
                                                                                the
                                                                                selected
                                                                                for
                                                                                the
                                                                                export.
                                                                                If
                                                                                not
                                                                                provided
                                                                                then
                                                                                the
                                                                                export
                                                                                will
                                                                                default
                                                                                to
                                                                                latest
                                                                                data
                                                                                version.
                                                                              type: string
                                                                            filters:
                                                                              description: Filters
                                                                                associated
                                                                                with
                                                                                the
                                                                                data
                                                                                sets.
                                                                              type: array
                                                                              items:
                                                                                description: Will
                                                                                  contain
                                                                                  the
                                                                                  filter
                                                                                  name
                                                                                  and
                                                                                  value
                                                                                  to
                                                                                  operate
                                                                                  on.
                                                                                  This
                                                                                  is
                                                                                  currently
                                                                                  only
                                                                                  supported
                                                                                  for
                                                                                  Export
                                                                                  Definition
                                                                                  type
                                                                                  of
                                                                                  ReservationRecommendations.
                                                                                type: object
                                                                                properties:
                                                                                  name:
                                                                                    type: string
                                                                                    description: The
                                                                                      name
                                                                                      of
                                                                                      the
                                                                                      filter.
                                                                                      This
                                                                                      is
                                                                                      currently
                                                                                      only
                                                                                      supported
                                                                                      for
                                                                                      Export
                                                                                      Definition
                                                                                      type
                                                                                      of
                                                                                      ReservationRecommendations.
                                                                                      Supported
                                                                                      names
                                                                                      are
                                                                                      ['ReservationScope',
                                                                                      'LookBackPeriod',
                                                                                      'ResourceType']
                                                                                    enum:
                                                                                    - ReservationScope
                                                                                    - ResourceType
                                                                                    - LookBackPeriod
                                                                                    x-ms-enum:
                                                                                      name: FilterItemNames
                                                                                      modelAsString: true
                                                                                  value:
                                                                                    type: string
                                                                                    description: Value
                                                                                      to
                                                                                      filter
                                                                                      by.
                                                                                      Currently
                                                                                      values
                                                                                      supported
                                                                                      per
                                                                                      name
                                                                                      are,
                                                                                      for
                                                                                      'ReservationScope'
                                                                                      supported
                                                                                      values
                                                                                      are
                                                                                      ['Single',
                                                                                      'Shared'],
                                                                                      for
                                                                                      'LookBackPeriod'
                                                                                      supported
                                                                                      values
                                                                                      are
                                                                                      ['Last7Days',
                                                                                      'Last30Days',
                                                                                      'Last60Days']
                                                                                      and
                                                                                      for
                                                                                      'ResourceType'
                                                                                      supported
                                                                                      values
                                                                                      are
                                                                                      ['VirtualMachines',
                                                                                      'SQLDatabases',
                                                                                      'PostgreSQL',
                                                                                      'ManagedDisk',
                                                                                      'MySQL',
                                                                                      'RedHat',
                                                                                      'MariaDB',
                                                                                      'RedisCache',
                                                                                      'CosmosDB',
                                                                                      'SqlDataWarehouse',
                                                                                      'SUSELinux',
                                                                                      'AppService',
                                                                                      'BlockBlob',
                                                                                      'AzureDataExplorer',
                                                                                      'VMwareCloudSimple'].
                                                                              x-ms-identifiers:
                                                                              - name
                                                                  required:
                                                                  - type
                                                                  - timeframe
                                                              required:
                                                              - deliveryInfo
                                                              - definition
                                                            error:
                                                              description: The details
                                                                of any error.
                                                              type: object
                                                              properties:
                                                                code:
                                                                  description: Error
                                                                    code.
                                                                  type: string
                                                                  readOnly: true
                                                                message:
                                                                  description: Error
                                                                    message indicating
                                                                    why the operation
                                                                    failed.
                                                                  type: string
                                                                  readOnly: true
                                                      description: The Resource model
                                                        definition.
                                                      x-ms-azure-resource: true
                                              partitionData:
                                                description: If set to true, exported
                                                  data will be partitioned by size
                                                  and placed in a blob directory together
                                                  with a manifest file.
                                                type: boolean
                                              dataOverwriteBehavior:
                                                description: Allow customers to select
                                                  overwrite data(OverwritePreviousReport)
                                                  for exports. This setting will enable
                                                  overwrite data for the same month
                                                  in customer storage account. By
                                                  default set to CreateNewReport.
                                                type: string
                                                enum:
                                                - OverwritePreviousReport
                                                - CreateNewReport
                                                x-ms-enum:
                                                  name: DataOverwriteBehaviorType
                                                  modelAsString: true
                                              compressionMode:
                                                description: Allow customers to select
                                                  compress data for exports. This
                                                  setting will enable destination
                                                  file compression scheme at runtime.
                                                  By default set to None. Gzip is
                                                  for csv and snappy for parquet.
                                                type: string
                                                enum:
                                                - gzip
                                                - snappy
                                                - none
                                                x-ms-enum:
                                                  name: CompressionModeType
                                                  modelAsString: true
                                              exportDescription:
                                                description: The export description
                                                  set by customer at time of export
                                                  creation/update.
                                                type: string
                                              nextRunTimeEstimate:
                                                description: If the export has an
                                                  active schedule, provides an estimate
                                                  of the next run time.
                                                type: string
                                                format: date-time
                                                readOnly: true
                                              systemSuspensionContext:
                                                description: The export suspension
                                                  reason if export is in SystemSuspended
                                                  state. This is not populated currently.
                                                readOnly: true
                                                type: object
                                                properties:
                                                  suspensionCode:
                                                    description: The code for export
                                                      suspension.
                                                    type: string
                                                  suspensionReason:
                                                    description: The detailed reason
                                                      for export suspension.
                                                    type: string
                                                  suspensionTime:
                                                    description: The time when the
                                                      export was suspended.
                                                    type: string
                                                    format: date-time
                                            required:
                                            - deliveryInfo
                                            - definition
                                          error:
                                            description: The details of any error.
                                            type: object
                                            properties:
                                              code:
                                                description: Error code.
                                                type: string
                                                readOnly: true
                                              message:
                                                description: Error message indicating
                                                  why the operation failed.
                                                type: string
                                                readOnly: true
                                    description: The Resource model definition.
                                    x-ms-azure-resource: true
                            partitionData:
                              description: If set to true, exported data will be partitioned
                                by size and placed in a blob directory together with
                                a manifest file.
                              type: boolean
                            dataOverwriteBehavior:
                              description: Allow customers to select overwrite data(OverwritePreviousReport)
                                for exports. This setting will enable overwrite data
                                for the same month in customer storage account. By
                                default set to CreateNewReport.
                              type: string
                              enum:
                              - OverwritePreviousReport
                              - CreateNewReport
                              x-ms-enum:
                                name: DataOverwriteBehaviorType
                                modelAsString: true
                            compressionMode:
                              description: Allow customers to select compress data
                                for exports. This setting will enable destination
                                file compression scheme at runtime. By default set
                                to None. Gzip is for csv and snappy for parquet.
                              type: string
[...]
